{template 'public/header'}

<!--标题-->
<div class="title">
    <blockquote class="layui-elem-quote">会员设置</blockquote>
</div>
<form class="layui-form" method="post" action="{php echo $this->createWebUrl('system',array('op'=>membersave));}">
    <input type="hidden" name="id" value="{$info['id']}">
    <div class="layui-form-item">
        <label class="layui-form-label">会员是否收费</label>
        <div class="layui-input-block">
            <input type="radio" name="member_charge" value="1" title="收费" {php if($info['member_charge']) echo "checked"}>
            <input type="radio" name="member_charge" value="0" title="免费" {php if(!$info['member_charge']) echo "checked"}>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">消费升级开关</label>
        <div class="layui-input-block">
            <input type="radio" name="member_upgrade" value="1" title="开启" {php if($info['member_upgrade']) echo "checked"}>
            <input type="radio" name="member_upgrade" value="0" title="关闭" {php if(!$info['member_upgrade']) echo "checked"}>

        </div>
            <div class="layui-form-mid layui-word-aux">*该功能只对购买过会员等级的会员起作用。</div>
        
    </div>
        <div class="layui-form-item">
        <label class="layui-form-label">会员等级说明</label>
        <div class="layui-input-block">
            <textarea name="member_memo" placeholder="请输入充值说明" class="layui-textarea">{$info['member_memo']}</textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit="">立即提交</button>
        </div>
    </div>
</form>
<script type="text/javascript">
    layui.use('form', function () {
        var form = layui.form;

    })
</script>

