@charset "utf-8";

* {
	margin: 0;
	padding: 0;
}

.cSingleR li s,.cSingleR li i,.f-share-li li .z-sina s,.f-share-li li .z-qq s,.f-share-li li .z-qzone s,.z-Reward,.z-Limit,.z-btn-mood s,.z-btn-comment s,.z-btn-Share s,.f-share-Close,.cSingleInfo a b {
	background: url(/post/images/share-img.png?v=150126);
	background-size: 90px auto;
}

.m-share {
	margin: 0 auto 0 auto;
}

.m-share .loading {
	padding-top: 10px;
	border-top: none;
}

.m-share li {
	float: left;
	overflow: hidden;
	text-align: center;
}

.m-share .u-share-ct {
	width: 152px;
	margin: 0 auto 10px;
}

.m-share .u-share-pic .z-share-pic {
	display: block;
	line-height: 0;
	font-size: 0;
	border: 1px solid #DDD;
	border-bottom: none;
	padding: 5px;
	border-radius: 3px 3px 0 0;
}

.m-share .u-share-pic .z-share-pic img {
	width: 140px;
	border-radius: 3px;
}

.u-share-name {
	border-left: 1px solid #DDD;
	border-right: 1px solid #DDD;
}

.u-share-name .u-name-img {
	float: left;
	height: 25px;
	overflow: hidden;
	margin: 0 0 5px 5px;
}

.u-share-name .u-name-img img {
	width: 25px;
	border-radius: 3px;
}

.u-share-name .u-share-name-r {
	margin: 0 0 0 35px;
	padding-bottom: 3px;
}

.u-share-name .u-share-name-r a {
	color: #2af;
	display: inline-block;
}

.u-share-name .u-share-name-r span.arial {
	margin-top: 2px;
	display: block;
	color: #CDCDCD;
	white-space: nowrap;
	font-size: 9px;
}

.u-share_info {
	border-top: 1px solid #EEE;
	border: 1px solid #DDD;
	background: #F7F7F7;
	font-size: 12px;
	padding: 5px;
	border-radius: 0 0 3px 3px;
}

@media only screen and(min-width:270px) and(max-width:470px) {
	.m-share li {
		width: 50%;
	}

	.m-share li:nth-child(3n-3) {
		display: none;
	}
}

@media only screen and(min-width:470px) and(max-width:2280px) {
	.m-share li {
		width: 33%;
	}

	.m-share li:nth-child(3n-3) {
		width: 34%;
	}
}

.g-share-lucky {
	padding: 10px 10px 7px;
	position: relative;
}

.z-Reward,.z-Limit {
	display: inline-block;
	position: absolute;
	right: 10px;
	top: 0;
}

.z-Reward {
	background-position: 0 -0px;
	width: 49px;
	height: 23px;
	padding-top: 9px;
	text-align: center;
}

.z-Reward em {
	font-size: 10px;
	color: #fff;
}

.z-Limit {
	background-position: -46px -152px;
	width: 43px;
	height: 26px;
}

.g-share-lucky .u-lucky-img img {
	width: 75px;
	height: 75px;
	border-radius: 5px;
}

.g-share-lucky .u-lucky-r {
	margin-left: 85px;
}

.g-share-lucky .u-lucky-r .z-user {
	margin-left: 0;
}

.g-share-lucky .u-lucky-r p {
	margin: 2px 0 4px;
	color: #999;
}

.g-share-ct {
	background: #F4F4F4;
	padding: 10px 5px;
	border-top: 1px solid #D7D7D7;
	position: relative;
	box-shadow: inset 0 0 1px #C9C9C9;
}

.g-share-ct .z-arrow {
	float: right;
	margin: 4px 10px 0 0;
	border: solid #d7d7d7;
	border-width: 1px 0 0 1px;
	background: #F4F4F4;
}

.g-share-ct .z-aw-es {
	position: absolute;
	left: 40px;
	top: -8px;
}

.g-share-ct .z-aw-es em,.g-share-ct .z-aw-es span {
	color: #D7D7D7;
	height: 15px;
	width: 15px;
	font-family: Simsun;
	font-size: 14px;
	line-height: 14px;
	overflow: hidden;
	position: absolute;
}

.g-share-ct .z-aw-es span {
	color: #F4F4F4;
	top: 2px;
}

.m-share-con {
	padding: 0 5px;
	word-wrap: break-word;
}

.m-share-con h2 {
	margin-bottom: 5px;
	overflow: hidden;
	color: #666;
}

.m-share-con em {
	color: #BCBCBC;
}

.m-share-con p {
	margin-bottom: 10px;
	text-align: center;
	color: #666;
	font-size: 14px;
}

.m-share-con p.z-share-pad {
	padding: 10px 0 0;
	line-height: 22px;
	text-align: left;
}

.m-share-con p img {
	max-width: 300px;
}

.m-share-goods {
	background: #fff;
	padding: 10px 0;
	border-radius: 5px;
	border: 1px solid #DADADA;
	position: relative;
	box-shadow: 0 1px 1px #E6E6E6;
}

.m-share-goods h3 {
	width: 24px;
	line-height: 14px;
	padding: 5px 0;
	margin-right: 6px;
	color: #FB5156;
	border-radius: 0 3px 3px 0;
	border: 1px solid #DADADA;
	border-left: none;
	text-align: center;
}

.m-share-goods .u-goods-img {
	margin-top: 0;
}

.m-share-goods .u-goods-img img {
	width: 76px;
	height: 76px;
	border-radius: 3px;
	margin-top: 2px;
}

.m-share-goods .u-goods-r {
	margin-left: 115px;
	padding-right: 20px;
}

.m-share-goods .u-goods-r p {
	margin: 2px 0 5px;
	color: #999;
}

.m-share-goods p.z-goods-tt {
	line-height: 20px;
	max-height: 60px;
	overflow: hidden;
	margin-bottom: 0;
	font-size: 14px;
}

.m-share-goods .u-rs-m1 {
	height: 96px;
	position: absolute;
	top: 10px;
	right: 0;
	display: inline-block;
}

.m-share-goods .u-rs-m1 .z-arrow {
	float: right;
	margin: 41px 10px 0 0;
	border-width: 2px 2px 0 0;
	background: #fff;
}

.m-share-fixed {
	min-height: 45px;
}

.z-fixed {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	padding: 0 5px;
	background: #f4f4f4;
	-webkit-box-sizing: border-box;
}

.m-shareT-round {
	height: 6px;
	background: #fff;
	border: 1px solid #DCDCDC;
	border-bottom: none;
	border-radius: 5px 5px 0 0;
}

.m-share-comment {
	border-radius: 0 0 5px 5px;
	border-top: none;
	position: relative;
}

.m-share-comment .loading {
	border-radius: 0 0 5px 5px;
}

.m-share-comment h3 {
	height: 33px;
	line-height: 33px;
	color: #999;
	text-indent: 10px;
}

.m-share-comment li {
	border-top: 1px dotted #DDD;
	padding: 10px 10px 6px;
}

.m-share-comment .u-comment-img {
	margin-top: 0;
}

.m-share-comment .u-comment-img img {
	width: 30px;
	height: 30px;
	border-radius: 3px;
}

.m-share-comment .u-comment-r {
	margin-left: 35px;
	margin-top: -2px;
}

.m-share-comment .u-comment-r p {
	line-height: 18px;
	word-wrap: break-word;
}

.m-share-comment .u-comment-r p span {
	padding-right: 5px;
	font-size: 14px;
}

.m-share-comment .u-comment-r p b {
	color: #BBB;
	display: inline-block;
}

.m-share-btn {
	width: 100%;
	height: 45px;
	margin: 3px auto 0 auto;
	display: box;
	display: -webkit-box;
	display: -moz-box;
}

.m-share-btn .u-btn-w {
	margin-top: 5px;
	line-height: 30px;
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	box-flex: 1;
	display: block;
	text-align: center;
}

.m-share-btn .z-btn-mood,.m-share-btn .z-btn-comment,.m-share-btn .z-btn-Share {
	line-height: 30px;
	display: block;
	background: #FFA201;
	border: 1px solid #FFA201;
	border-radius: 3px;
	color: #fff;
}

.m-share-btn .z-btn-mood s,.m-share-btn .z-btn-comment s,.m-share-btn .z-btn-Share s {
	display: inline-block;
	margin-right: 5px;
	vertical-align: -3px;
}

.m-share-btn .z-btn-mood {
	background: #FB5156;
	border: 1px solid #FF6500;
	color: #fff;
}

.m-share-btn .z-btn-moodgray {
	background: #9E9E9E;
	border: 1px solid #9E9E9E;
	color: #fff;
	cursor: default;
}

.m-share-btn .z-btn-comment {
	margin: 0 10px;
}

.m-share-btn .z-btn-mood s {
	width: 15px;
	height: 14px;
	background-position: 0 -33px;
	vertical-align: -3px;
}

.m-share-btn .z-btn-comment s {
	width: 15px;
	height: 15px;
	background-position: -21px -33px;
	vertical-align: -4px;
}

.m-share-btn .z-btn-Share s {
	width: 17px;
	height: 15px;
	background-position: -44px -33px;
	vertical-align: -2px;
}

.u-btn-w .ts {
	position: relative;
	top: -30px;
	left: 0;
	display: inline-block;
	color: #fff;
	border-radius: 3px;
	line-height: 30px;
	margin: -50px auto 0;
	text-align: center;
	background: rgba(0,0,0,0.7);
	box-shadow: 0 2px 3px #9b9b9b;
	font-size: 12px;
}

.m-comment {
	background: #ffff;
	margin: 0 0 10px;
}

.u-comment {
	text-align: center;
	margin-bottom: 5px;
}

.z-comment-txt {
	width: 100%;
	font-size: 14px;
	min-height: 50px;
	border-radius: 3px;
	border: 1px solid #DCDCDC;
	box-shadow: 1px 1px 1px #e7e7e7;
	padding: 5px;
	display: inline-block;
	-webkit-box-sizing: border-box;
	color: #bbb;
	z-index: 1;
}

.f-share-tips {
	width: 100%;
	background: #fff;
	border-radius: 5px;
	padding-bottom: 20px;
	border: none;
	box-shadow: 0 1px 1px rgba(0,0,0,0.3);
}

.f-share-tit {
	color: #999;
	font-size: 16px;
	text-align: center;
	height: 51px;
	line-height: 51px;
	border-bottom: 1px solid #EEE;
	margin-bottom: 19px;
	position: relative;
}

.f-share-Close {
	position: absolute;
	right: 10px;
	top: 0;
	width: 26px;
	height: 18px;
	display: inline-block;
	background-color: #EEE;
	border-radius: 0 0 3px 3px;
	background-position: -62px -32px;
}

.f-share-li {
	margin-left: 12px;
}

.f-share-li li {
	width: 33%;
	float: left;
	text-align: center;
}

.f-share-li li b {
	width: 64px;
	height: 64px;
	display: inline-block;
	background: #EBEBEB;
	border-radius: 64px;
}

.f-share-li li em {
	display: block;
	margin-top: 3px;
	color: #999;
}

.f-share-li li .z-sina s,.f-share-li li .z-qq s,.f-share-li li .z-qzone s {
	display: inline-block;
	margin: 19px auto 0 auto;
}

.f-share-li li .z-sina s {
	width: 36px;
	height: 28px;
	background-position: 0 -65px;
}

.f-share-li li .z-qq s {
	width: 36px;
	height: 28px;
	background-position: 0 -95px;
}

.f-share-li li .z-qzone s {
	width: 28px;
	height: 25px;
	background-position: -43px -65px;
}

.cSingleCon {
	width: 100%;
	color: #999;
	background: #f4f4f4;
}

.cSingleCon p.cEntry {
	font-size: 14px;
	padding-left: 8px;
	height: 30px;
	line-height: 30px;
	background: #fff;
	box-shadow: 0 1px 1px #e4e3e3;
}

.cSingleCon p em {
	margin: 0 5px;
}

.cSingleCon2 {
	border-left: 1px solid #e7e7e7;
	margin-left: 25px;
	padding-bottom: 15px;
	padding-top: 2px;
}

.cSingleInfo {
	background: #f4f4f4;
	padding: 10px 5px 5px 10px;
	margin-left: 0;
}

.cSingleInfo dl {
	display: inline-block;
	line-height: 20px;
	text-align: center;
	margin-left: -30px;
}

.cSingleInfo dl a {
	display: block;
	position: relative;
}

.cSingleInfo dl img {
	width: 35px;
	height: 35px;
	border-radius: 35px;
	margin: 2px 0 0 1px;
}

.cSingleInfo a b {
	background-position: 0 -151px;
	background-repeat: no-repeat;
	width: 40px;
	height: 39px;
	position: absolute;
	left: 0;
	top: 0;
	overflow: hidden;
}

.cSingleR {
	margin-left: 15px;
	font-size: 12px;
	position: relative;
}

.cSingleR ul {
	padding: 10px 10px 0;
	background: #fff;
	border-radius: 5px;
}

.cSingleR ul a {
	position: absolute;
	left: 0;
	top: 0;
	display: block;
	width: 100%;
	height: 100%;
}

.cSingleR li {
	margin-bottom: 6px;
	line-height: 18px;
}

.cSingleR li p {
	max-height: 55px;
	word-wrap: break-word;
	overflow: hidden;
}

.cSingleR li.maxImg {
	max-height: 82px;
	overflow: hidden;
}

.cSingleR li em {
	font-size: 14px;
	white-space: nowrap;
}

.cSingleR li span {
	color: #666;
	font-size: 14px;
	word-wrap: break-word;
}

.cSingleR li h3 {
	color: #ccc;
	font-size: 12px;
}

.cSingleR li h5 {
	display: inline-block;
	font-weight: normal;
	margin-left: 3px;
	color: #bbb;
	font-size: 10px;
}

.cSingleR li h3 b {
	margin-right: 8px;
}

.cSingleR li img {
	height: 80px;
	margin-right: 8px;
	border: 1px solid #e7e7e7;
}

.cSingleR b.z-arrow {
	position: absolute;
	left: -3px;
	top: 17px;
	border: solid #ddd;
	background: #fff;
	border-width: 0 0 1px 1px;
	width: 4px;
	height: 4px;
}

.cSingleR li dd {
	display: inline-block;
	margin-right: 10px;
}

.cSingleR li span strong {
	font-weight: normal;
	margin-right: 2px;
}

.cSingleR li s,.cSingleR li i {
	display: inline-block;
	margin-right: 5px;
	background-repeat: no-repeat;
	width: 10px;
	height: 11px;
}

.cSingleR li s {
	background-position: 0 -50px;
}

.cSingleR li i {
	background-position: -15px -50px;
}

.cSingleCon a.lookAll {
	display: block;
	margin: 10px 5px 0 25px;
	height: 33px;
	line-height: 33px;
	color: #999;
	font-size: 14px;
	padding-left: 10px;
}

.cSingleCon a.lookAll b {
	border-width: 2px 2px 0 0;
	margin: 13px 10px 0 0;
	width: 5px;
	height: 5px;
}