body{

    font-family: Microsoft YaHei,Helvitica,Verdana,Arial,san-serif;

    padding: 0;

    margin: 0;

    color: #8C8C8C;

    overflow: hidden!important;

}

span[data-type="editpage"],span[data-toggle="ajaxRemove"],td[data-type="editpage"],span.defaults{

	cursor: pointer;

}

a {

	color: #fff;

    text-decoration: none!important;

}

.custom-content{

	width: 100%;

	height: 100%;

	min-height: 100%;

    position: absolute;

    left: 0;

    right: 0;

    bottom: 0;

    top: 0;

	padding-top: 50px;

}



.custom-content .custom-header-fixed {

    position: fixed;

    top: 0;

    width: 100%;

    min-height: 50px;

    z-index: 10;

}

.custom-content .custom-navbar{

	position: relative;

    background-color: #3B4046;

    color: #434343;

    cursor: pointer;

    border-bottom: 1px solid #f7f7f7;

}

.custom-content .navbar-main{

	margin: 0 auto;

	width:485px;

}



.navbar-main .component-ul li {

    position: relative;

    text-align: center;

    z-index: 100000;

}

.custom-navbar .fa{

	font-size: 16px;

}

.custom-navbar>.navbar-nav li{

	background: #3B4046;!important;

	padding: 14px 15px;

	color: #FFF;

}

.custom-navbar>.navbar-nav .return_up_level:hover{

	color:#2f74fd;

}

.custom-navbar .navbar-main>ul>li.component-list{

	background-color: #2f323a;;

    color: #fff;

    cursor: pointer;

}

.custom-navbar .navbar-main>ul>li.component-list .btn-link{

	color: #fff;

	padding: 2px 12px;

}

.navbar-main .component-list>nav{

	width: 100%;

	box-sizing: border-box;

	padding: 0 15px;

}

.component-menus{

	top: 50px;

    left: -52px;

    position: absolute;

    width: 142px;

    height: 10px;

    display: none;

}

.navbar-main .component-ul>li.component-list:hover .component-menus{

    display: block;

}

.arrow{

	position: absolute;

    display: block;

	width: 0;

	height: 0;

	left: 50%;

	top: -24px!important;

	border:12px solid transparent;

	border-bottom-color:#fff!important;

	margin-left: -16px;

}

.component-list .component-list-item{

	position: absolute;

	top: 10px;

	left: -63%;

}



.component-menus .popover-content{

	border: 1px solid #ccd5db!important;

    border-bottom: none!important;

    box-shadow: 0 5px 10px rgba(0,0,0,0.2);

}

.component-menus .popover-content section h2 {

    height: 35px;

    line-height: 35px;

    font-size: 12px!important;

    color: #37474f;

    width: 95px;

    text-align: center;

    background-color: #f5f5f5;

    margin: 0;

    float: left;

}

.component-menus .popover-content section li{

	display: inline-block;

	width: 120px;

	height: 35px!important;

    line-height: 35px!important;

    padding: 0 5px 0 5px!important;

    border-right: 1px solid #eee;

    border-bottom: 1px solid #eee;

    float: left;

    text-align: left!important;;

    position: relative;

}

.component-menus .popover-content section li{

	color: #2f323a;;

}

.component-menus .popover-content section li .btn.btn-link{

	color: #2f323a;;

	height: 100%;

} 

.component-menus .popover-content section li .btn.btn-link i.fa{

	margin-top: 2px!important;

}

.component-menus .popover-content section li:hover{

    background: #f4f4f4;

}

.component-menus .popover-content section li:hover .btn.btn-link{

    color: #89bceb;

}

.navbar-right{

	position: absolute;

	right: 30px;

	top: 0;

}

.navbar-right .fa{

	vertical-align: middle;

}

.custom-content-main{

	position: relative;

    right: 0;

    left: 0;

    height: 100%;

    background: #fff;

}

.content-main-body {

    height: 100%;

}

.content-main-body>section{

	position: relative;

    width: 100%;

    height: 100%;

    background-color: #fafafa;

    color: #595961;

    padding: 0;

    margin: 0;

}

.content-main-body .page-list{

	display: inline-block;

	width: 366px;

	border-spacing: 0;

	background: #fff;

}

.content-main-body .page-list-title{

	border-bottom: 1px solid #ededed;

}

.content-main-body .scrollable{

    height: 100%;

    width: 100%;

    /*padding-top: 3px;

    padding-right: 5px;

    padding-bottom: 120px;*/

    box-sizing: border-box;

}

.content-main-body .scrollable>div{

	padding: 0 0 0 10px;

    min-width: 100%;

    float: left!important;

}

.content-main-body .scrollable .dd {

	display: block;

    position: relative;

    margin: 0;

    padding: 0;

    list-style: none;

    font-size: 13px;

    line-height: 20px;

}

.content-main-body .scrollable .dd .dd-list {

    display: block;

    position: relative;

    margin: 0;

    padding: 0;

    list-style: none;

    padding-left: 30px;

}

.content-main-body .scrollable .dd .dd-list.root{

	padding-left: 0;

}

.content-main-body .scrollable .dd .dd-list .dd-item {

    margin: 0;

    padding: 0;

    min-height: 20px;

    display: block;

    position: relative;

    font-size: 13px;

    line-height: 20px;

}

.dd-dragel.dd-list .dd-item {

    margin: 0;

    padding: 0;

    min-height: 20px;

    display: block;

    position: static;

    font-size: 13px;

    line-height: 20px;

}

.dd-dragel .dd3-content{

	margin: 0;

	padding-left:10px!important;

}

.dd3-handle {

    position: absolute;

    margin: 0;

    left: 0;

    top: 0;

    cursor: pointer;

    width: 30px;

    text-indent: 30px;

    white-space: nowrap;

    overflow: hidden;

    border-top-right-radius: 0;

    border-bottom-right-radius: 0;

}

.dd3-handle {

    border: 1px solid #eee;

    background: #fff;

}

.dd-handle {

    display: block;

    color: #333;

    text-decoration: none;

    background: #fff;

    border-radius: 3px;

    box-sizing: border-box;

    height: 30px;

    padding: 5px 10px;

    border: 1px solid #eee;

}

.dd-handle::before{

	display: block;

    position: absolute;

    width: 100%;

    text-align: center;

    text-indent: 0;

    left: 0;

    top: 8px!important;

    color: #333;

    font-weight: 400;

}

.dd3-content {

    display: block;

    height: 30px;

    padding: 5px 10px 5px 40px;

    color: #333;

    text-decoration: none;

    border-radius: 3px;

    box-sizing: border-box;

    -moz-box-sizing: border-box;

    margin: 5px 0;

    min-width: 190px;

    border: 1px solid #eee;

    background: #fff;

}



.dd3-content .edit{

	position: fixed;

	top: 129px;

    left: 225.969px;

    border-radius: 2px;

    border: 1px solid #ededed;

    z-index: 1000;

    float: left;

    min-width: 160px;

    padding: 5px 0;

    margin: 2px 0 0;

    list-style: none;

    font-size: 14px;

    text-align: left;

    background-color: #fff;

    display: none;

}

.dd3-content .edit>li>a {

    padding: 5px 15px;

    display: block;

    clear: both;

    font-weight: 400;

    line-height: 1.42857143;

    color: #333;

    white-space: nowrap;

}



.dd-collapse:before {

    content: '-';

    display: block;

    position: absolute;

    width: 100%;

    text-align: center;

    text-indent: 0;

    

}

.page-main-content{

   display: inline-block;

   position: absolute;

   right: 440px;

   left: 372px;

   top: 0;

   bottom: 0;

   overflow-x: hidden;

   background: #f7f7f7;

}

.page-main-content .help-tool-content .diy-phone {

    width: 399px;

    height: auto;

    border: 1px solid #ddd;

    border-radius: 10px;

    background: #fff;

    padding: 10px;

    overflow: hidden;

    float: none;

    margin: 35px auto 150px;

}

.page-main-tool .diy-editor{

	float: none;

	width: 400px;

	border: none;

	padding: 15px 10px 40px;

	margin-left: 0;

	margin-top: 0;

	border-radius: 0;

	border-bottom: 1px solid #e5e5e5;

}

.page-main-tool .diy-editor .diy-editor-title{

	margin-bottom: 20px;

}

.dd-item>button {

	display: block;

	position: relative;

	cursor: pointer;

	float: left;

	width: 25px;

	height: 20px;

	margin: 5px 0;

	padding: 0;

	text-indent: 100%;

	white-space: nowrap;

	overflow: hidden;

	border: 0;

	background: transparent;

	font-size: 12px;

	line-height: 1;

	text-align: center;

	font-weight: bold;

	margin-left: 30px;

}

 

.dd-item>button:before {

	content: '+';

	display: block;

	position: absolute;

	width: 100%;

	text-align: center;

	text-indent: 0;

}

 

.dd-item>button[data-action="collapse"]:before {

	content: '-';

}

 

.dd-placeholder, .dd-empty {

	margin: 5px 0;

	padding: 0;

	min-height: 30px;

	background: #f2fbff;

	border: 1px dashed #b6bcbf;

	box-sizing: border-box;

	-moz-box-sizing: border-box;

}

 

.dd-empty {

	border: 1px dashed #bbb;

	min-height: 100px;

	background-color: #e5e5e5;

	background-image: -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent

		75%, #fff 75%, #fff),

		-webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent

		75%, #fff 75%, #fff);

	background-image: -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%,

		#fff 75%, #fff),

		-moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%,

		#fff 75%, #fff);

	background-image: linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff

		75%, #fff),

		linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff

		75%, #fff);

	background-size: 60px 60px;

	background-position: 0 0, 30px 30px;

}

 

.dd-dragel {

	position: absolute;

	pointer-events: none;

	z-index: 9999;

	padding-left: 29px;

}

.dd-dragel>.dd-item .dd-handle {

	margin-top: 0;

}

 

.dd-handle:hover {

	color: #2ea8e5;

	background: #fff;

}

.help-tool {

    position: relative;

    overflow: hidden;

    left: 0;

    right: 0;

    top: 0;

    bottom: 0;

    height: 100%;

    -webkit-transform-origin: 0 0;

    transform-origin: 0 0;

}

.help-tool-content{

	height:900px;

    margin-bottom: 0px;

    position: absolute;

    width: 376px;

    top: 100px;

    left: 50%;

    transform: translateX(-50%);

    -moz-transform: translateX(-50%);

    -webkit-transform: translateX(-50%);

    margin-bottom: 62px;

}

.help-tool-content:after{

    content: '';

}

.content-main-body .page-main-tool{

    display: inline-block;

    height: 100%;

    width: 440px;

    border-spacing: 0;

    background: #fff;

    float: right;

}

.help-tool-btns{

	position: fixed;

    top: 50%;

    left: 50%;

    z-index: 999;

    -webkit-transform: translateY(-50%);

    transform: translateY(-50%);

    -webkit-transform: translateX(107.5px);

    transform: translateX(107.5px);

}

.help-tool-btns a {

	display: block;

    background-color: rgba(0,0,0,.5);

    width: 40px;

    height: 40px;

    line-height: 42px;

    text-align: center;

    -webkit-user-select: none;

    color: #999;

}

table.table-responsive td{

	color: #76838f;

}

table.table-responsive td:hover{

	color: #62a8ea;

}

table.table-responsive td.defaults{

	cursor: pointer;

}

.diy-editor .input-group .diy-bind.color+span{

	font-size: 12px;

}

.diy-editor .input-group .diy-bind+span[data-toggle='selectImg'],.diy-bind+span[data-toggle='selectUrl']{

    font-size: 12px;

    z-index: 9;

}

.input-group-addon{

	padding: 3px 8px;

	font-size: 12px;

}

.slimScrollDiv8{


	z-index: 2;

}

.dh{

    width: 366px;

    padding: 0 20px;

    display: inline-block;

    overflow: auto;

    background: #fff;

}



.navs_save{

    color: #434343;

    cursor: pointer;

    margin-right: 10px;

}



.nav_center{

    float: left;

    font-size: 14px;

    color: #FFF;

    line-height: 50px;

    margin-left: 120px

}

.custom-navbar>.navbar-nav .navs_save:hover{

    color: #2f74fd;

}

.nav_center nav{

    display: inline-block;

    height: 26px;

    padding: 0 10px;

    line-height: 26px;

    color: #fff;

    background-color: #2f74fd;

    font-size: 12px;

    border-radius:3px;

    margin-left: 20px

}

#navs li div nav:hover{

    color: #2f74fd



}

.navs_qh ul{

    padding: 20px 55px;

}

.navs_qh_li{

    float: left;

    cursor: pointer;

    margin-right: 30px;

    padding:6px 20px;

    border-radius:5px;

    border:1px solid #eee;

}

.navs_qh_li1{

    float: left;

    cursor: pointer;

    margin-right: 30px;

    padding:6px 20px;

    border-radius:5px;

    border:1px solid #2f74fd;

    background: #2f74fd;

    color: #fff;

}
.hbj{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.text-hide{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.hbj2{
    display: flex;
    flex-direction: row;
}