<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="target-densitydpi=286, width=640, user-scalable=no" />
    <title>每日签到</title>    
    <link href="{$_W['siteroot']}addons/tiger_newhu/template/mobile/cqlist/css/css.css" rel="stylesheet" />
    <link href="{$_W['siteroot']}addons/tiger_newhu/template/mobile/user/css/css.css" rel="stylesheet" />
    <script src="{$_W['siteroot']}addons/tiger_newhu/template/mobile/user/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript"  src="{$_W['siteroot']}addons/tiger_newhu/template/mobile/tbgoods/style99/js/layer/layer.js"></script>
</head>

<body style="background:#eeeeee">
    <div class="topt mgz"></div>
    <div class="top mgz xi30 bai cen" style="background: #f69300;">
        每日签到
        <div class="topl">
            <a href="javascript:void(0);" onclick="history.go(-1);"><img src="{$_W['siteroot']}addons/tiger_newhu/template/mobile/user/images/left.png" align='absmiddle' style="margin-top:-4px"></a>
        </div>
    </div>
    
    <div class="con1 mgz">
        <div class="con1l" style="margin: 0 auto;" >
        	{if $dayqiandao}
        	<img src="{$_W['siteroot']}addons/tiger_newhu/template/mobile/user/images/qd-1.png"  id="qiandao">
        	{else}
        	<img src="{$_W['siteroot']}addons/tiger_newhu/template/mobile/user/images/qd-2.png"  id="qiandao">
        	{/if}
        </div>
        <div>
            <div class="con1mt xi26 bai" style="text-align: center;font-size: 22px;color: #a97415;">我的{if $cfg['hztype']}{$cfg['hztype']}{else}积分{/if}： {if $share['credit1']}{php echo intval($share['credit1'])}{else}0{/if}</div>            
        </div>
    </div>
    <style>
    	.con1 {
		    background: url({$_W['siteroot']}addons/tiger_newhu/template/mobile/user/images/qdbj.jpg) center 0 no-repeat;
		    height:260px;
		    box-sizing: border-box;
		    padding: 46px 24px 0px 26px;
		}
		.con1l {
		    width:150px;
		    height:150px;
		    border-radius: 50%;
		}
		.con1l img{width:150px;
		    height:150px;}
   </style>
    <script>
    	
    	
        $(function () {
        	var uid="{$member['id']}";
            $("#qiandao").click(function(){
            	
                $.ajax({
                    type: "post",
                    url: "{php echo $this->createMobileUrl('qiandao')}",
                    data: {uid:uid},
                    async: false,
                    dataType: "json",
                    success: function (result) {
                    	if(result['error']==1){
                    		layer.msg(result['msg'], {
							     area: ['500px', '90px'],
							 });
                    		$("#qiandao").attr("src", "{$_W['siteroot']}addons/tiger_newhu/template/mobile/user/images/qd-1.png");                     		
                    	}else if(result['error']==3){
                    		layer.msg(result['msg'], {
							     area: ['500px', '90px'],
							 });
                    	}else{
                    		layer.msg('签到失败', {
							    //time: 120000, //20s后自动关闭
							     area: ['500px', '90px'],
							 });
                    	}
                    }
                });
            });
        });
    </script>
   <style>
   	.layui-layer-dialog .layui-layer-content{font-size: 30px;padding: 30px;}
   </style>
  <div class="con6 mgz xi22 cen" style="margin-bottom: 8px;margin-top: 10px;padding-left: 0;"><img src="{$_W['siteroot']}addons/tiger_newhu/template/mobile/user/images/t20.png" align='absmiddle' style="margin-top:-4px; margin-right:10px;">超值推荐</div>  
  
  <div class="con7 mgz">
    <ul>
        {loop $goodstj $v}
        <li><a href="{php echo $this->createMobileUrl("view",array("itemid"=>$v["itemid"],"lm"=>2,"pid"=>$pid))}">
            <div class="con7t cen"><img src="{$v['itempic']}_300x300q60.jpg" style="width: 280px;" align='absmiddle'></div>
            <div class="con7m xi20 hui" style="height: 37px;overflow: hidden;">{$v['itemtitle']}</div>
            <div class="con7f ov">
                <div class="con7fl f xi18">原价￥<span class="xi22">{$v['itemprice']}</span></div>
                <div class="con7fr r xi18 hong">券后价￥<span class="xi20">{$v['itemendprice']}</span></div>
            </div>
            <div class="con7x2 ov">
                <div class="con7x2l f">
                    <div class="con7x2ll f xi18 bai">领券</div>
                    <div class="con7x2lr f xi18">减{$v['couponmoney']}</div>
                </div>
                <div class="con7xr r xi18 hui">销量{$v['itemsale']}</div>
            </div></a>
        </li>
         {/loop}
    </ul>
</div>
    
    <div class="footer mgz">
        <ul>
          {loop $dblist $v}
            <li class="li1s" style="background: url({php echo tomedia($v['picurl'])}) center 12px no-repeat;background-size: 40px 40px;"><a href="{$v['wlurl']}&dluid={$dluid}">{$v['title']}</a></li>
         {/loop}
        </ul>
    </div>
    <div class="footerf mgz"></div>
<style>
	.buttontc{
		    display: inline-block;
		    height: 50px;
		    line-height: 50px;
		    padding: 0 18px;
		    background-color: #909090;
		    color: #fff;
		    white-space: nowrap;
		    text-align: center;
		    font-size: 22px;
		    border: none;
		    border-radius: 2px;
		    cursor: pointer;
		    width: 99%;
	}
</style>
</body>

</html>
