<style type='text/css'>
.left_div {
	width:180px;
	font-weight:bold;
}
.left_list {
	height:26px;
	font-size:16;
	background-color:#FF8C69;
	direction: ltr;
	margin: 5px;
	padding-top:5px;
	left:1px;
	border-radius:5px;
}
.left_host_2 {
	padding-top:5px;
	padding-bottom:5px;
	padding-left:15px;
	font-size:16;
	border:1px solid #CDC1C5;
	margin: 5px;
	background-color:#F5F5F5;
	border-radius:5px;
}
.onMouseOver {
	background-color:#FFA500;
}
</style>
<script language='javascript'>
$(document).ready(function(){
	jQuery(".public_left div").mouseover(function(){
		jQuery(this).addClass('onMouseOver');
	});
	jQuery(".public_left div").mouseout(function(){
		jQuery(this).removeClass('onMouseOver');
	});
});
function suspend()
{
	
}
</script>

<div class='left_div'>
{{if $groups}}
	<p class='left_list'>&nbsp;分类:自由类型</p>
	{{for $i=0;$i< count($products);$i++}}
		{{if $products[$i].upid == 0 && $products[$i].view != 0}}
		<p class='left_host_2'><a href="?c=host&a=showProductFrom&product_id={{$products[$i].id}}">{{$products[$i].name}}</a></p>
		{{/if}}
	{{/for}}
		
	
	{{for $f=0;$f< count($groups);$f++}}
		<p class='left_list'>&nbsp;分类:{{$groups[$f].group_name}}</p>
		{{for $i=0;$i< count($products);$i++}}
			{{if $products[$i].upid == $groups[$f].group_id && $products[$i].view != 0}}
				<p class='left_host_2'><a href="?c=host&a=showProductFrom&product_id={{$products[$i].id}}">{{$products[$i].name}}</a></p>
			{{/if}}
		{{/for}}
		
	{{/for}}
{{else}}
	<p class='left_list'>&nbsp;分类:自由类型</p>
	{{for $i=0;$i< count($products);$i++}}
	{{if $products[$i].view != 0}}
	<p class='left_host_2'><a href="?c=host&a=showProductFrom&product_id={{$products[$i].id}}">{{$products[$i].name}}</a></p>
	{{/if}}
	{{/for}}

{{/if}}

</div>


