.pcar{margin: 0rem;border-radius: 0rem;margin-top: 5.8rem;}
.hide-types{overflow:hidden;width: 100%;margin-top: -3.2rem;}
.hide-types .car a{width:50%;padding-top:16px;padding-bottom: 16px;margin: auto;}
.hide-types .car a .carico{width:5rem;height:5rem;margin:0 auto 5px;border-radius:50%;border: 5px solid white;background-color: #F5F1F1;background-repeat: no-repeat;background-position: center;background-size: 80%;}
.hide-types .car span{display:block;line-height:1em;text-align:center;font-size:1.2em;color:#424953;padding: 0 0 .3rem;}
.hide-types .member a{width:50%;padding-top:16px;padding-bottom: 16px;margin: auto;}
.hide-types .member a .memberico{display:block;width:2.5rem;height:2.5rem;margin:1.8rem auto 5px;border-radius:50%;background-color: #FFC60C;}
.hide-types .member a span{display:block;line-height:2.5rem;text-align:center;font-size:1.5rem;color:white;}
.hide-types .message a{width:50%;padding-top:16px;padding-bottom: 16px;margin: auto;}
.hide-types .message a .messagerico{display:block;width:2.5rem;height:2.5rem;margin:1.8rem auto 5px;border-radius:50%;background-color: #FFC60C;}
.hide-types .message a span{display:block;line-height:2.5rem;text-align:center;font-size:1.5rem;color:white;}
.list-block .item-title.labell{width: 35%;-webkit-flex-shrink: 0;-ms-flex: 0 0 auto;-webkit-flex-shrink: 0;flex-shrink: 0;}
.indexlink{color: #3d4145;}
.indexlink:active{color: #3d4145;}
.pickbrand{z-index:10000;position: fixed;right: 0.1rem;width: 7%;background-color: #F7F7F8;height: 100%;}
.pickbrand ul{list-style: none;text-align: center;line-height: 1.2em;font-size: 15px;right: 0.1rem;margin:auto;display: block;position: absolute;top: 0;left: 0;right: 0;bottom:0;height: 486px;}
.lettertip{position: fixed;top: 40%;left: 43%;z-index: 100002;color: black;font-size: 60px;display: none;}
.weui_dialog_alert .weui_mask{z-index: 16;}
.dialog_city_list{text-align: left;}
.dialog_city_list span{height: 34px;line-height: 34px;color: #fff;text-align: center;color: #fff;width: 20%;float: left;margin-bottom: 10px;font-size: 16px;}
.dialog_city_list span font{margin: 5px;background: #0894ec;display: block;}
#getVerifyCode{width: 110px;min-height: 2.2rem;font-size: 16px;position: absolute;top: 0;right: 0;line-height: 2.2rem;text-align: center;color: #0894ec;border-left: 1px solid hsla(0, 17%, 91%, 0.58);}
.vux-timeline{padding:1rem;background: #fff;}
.vux-timeline>ul>li{list-style:none}
.vux-timeline-item{position:relative}
.vux-timeline-item-content{padding:0 0 1.5rem 1.2rem}
.vux-timeline-item-head,.vux-timeline-item-head-first{position:absolute;content:'';z-index:99;border-radius:99px}
.vux-timeline-item-head{width:10px;height:10px;left:1px;top:4px}
.vux-timeline-item-head-first{width:20px;height:20px;left:-4px;top:5px}
.vux-timeline-item-tail{position:absolute;content:'';height:100%;width:2px;left:5px;top:5px}
.vux-timeline-item-checked{width:100%;position:absolute;left:0;top:45%;-webkit-transform:translateY(-50%);transform:translateY(-50%)}
.vux-timeline-item-checked:before{font-size:12px;width:20px;color:#fff}
.Help_navigate{width: 100%;border-top:1px solid #dfdfdf;/*margin-top: 20px;*/background: #fff;}
.list_box{width: 100%;overflow:hidden;}
.list_box2{width:33.33%;padding: 20px 0;list-style:none;float:left;position: relative;}
.list_content{width: 100%;}
.img-Center{display: block;margin:0 auto;text-align: center;}
.img-Center img{width: 32px;height: 32px;}
.list_box2:before{content: "";position: absolute;bottom: 0px;left: 0px;right: 0px;border-top: 1px solid #dfdfdf;}
.list_box2:after{content: '';position: absolute;right: 0px;bottom: 0px;width: 1px;height: 100%;background-color: #dfdfdf;}
.word-Center{display: block;margin:0 auto;padding-right: 0;text-align: center;}
.weui_cell{height: 46px;line-height: 46px;position:relative;}
.weui_cell p{color: #666;}
.weui_cell:before {content: " ";position: absolute;left: 0;top: 0;width: 100%;height: 1px;border-top: 1px solid #D9D9D9;color: #D9D9D9;-webkit-transform-origin: 0 0;transform-origin: 0 0;-webkit-transform: scaleY(0.5);transform: scaleY(0.5);left: 0px; }
.customer_service{background:#fff;margin-top: 12px;height:46px;line-height: 46px;}
.customer_service p{font-size:17px;color: #666;width:70px; margin: 0 auto;}
/*.notice{width: 100%;height:100%;overflow: hidden;}*/
.notice:before{content: "公告";width: 35px;height: 16px;line-height: 16px;display: inline-block;background: #fe6815;color: #fff;text-align: center;
    margin-left: 26px;position: absolute;left: 0;top: 15px;font-size: 12px;border-radius: 2px;}
.notice_case{float:left;margin-left:40px;color:#fe6815;}
.weui_cell_ft2:after{content: " ";display: inline-block;-webkit-transform: rotate(45deg);transform: rotate(45deg);height: 6px;width: 6px;
    border-width: 2px 2px 0 0;border-color: #fe6815;border-style: solid;position: relative;top: -2px;top: -1px;margin-left: .3em;}
.wlcopyright{text-align: center;font-size: small;margin: 1rem 0;}
.carmess .iconfont{font-size: 1.3rem;line-height: 1.45rem;}
.carmess .icon-taxi{color: #29D17A;}
.carmess .icon-mobile{color: #F26665;}
.carmess .icon-qrcode{color: #12ADFF;}
.carmess .icon-countdown{color: #29D17A;}
.carmess .icon-radiobox{color: #F26665;}
.carmess .icon-soundlight{color: #12ADFF;}
.usercenter .icon-taxi{color: #F26665;}
.usercenter .icon-writefill{color: #12ADFF;}
.usercenter .icon-questionfill{color: #29D17A;}
.usercenter .icon-commentfill{color: #12ADFF;}
.usercenter .icon-settings{color: #F26665;}
.usercenter .icon-form{color: #29D17A;}
.hide-img{overflow:hidden;width: 100%;margin-top: -2rem;}
.hide-img a{width:50%;padding-top:16px;padding-bottom: 16px;margin: auto;}
.hide-img a img{display:block;width:3rem;height:3rem;margin:0 auto 5px;border-radius:50%}
.hide-img a span{display:block;line-height:1em;text-align:center;font-size:1em;color:#0894ec;}
.subscribe{position: absolute;width: 100%; left: 0; right: 0; background-color: rgba(0, 0, 0, 0.8); z-index: 1000000; overflow: hidden; margin: 0 auto; max-width: 640px; min-width: 320px;height:60px;}
.subscribe p{margin: 0;}
.subscribe .img{width:40px; height:40px; position:absolute; left:10px; top:10px;}
.subscribe .img img{width:40px; height:40px; border-radius:3px;}
.subscribe .text{padding:10px 100px 10px 70px; line-height:20px; color:#fff; font-size:14px;}
.subscribe .text font{color:#FA5343;}
.subscribe .btn{position:absolute; right:10px; top:15px;}
.subscribe .btn .buttonn{background:#FA5343;width:70px;height:30px;line-height:30px;text-align:center; border-radius:5px; color: #fff;border:none;}
.m-cart{padding:38px 0 50px;line-height:2;}
.m-cart a{color:#222;}
.m-cart .empty{text-align:center;padding-top:100px;}
.m-cart .empty a{color:#39f}