{template 'common/header'}
<ul class="nav nav-tabs">
    <li class="active"><a href="{php echo $this->createWebUrl('yjlog')}">佣金结算记录</a></li>
    <!--li ><a style="" onclick="return confirm('此操作可能耗时较久，确认吗？'); return false;" href="{php echo $this->createWebUrl('Downloade')}" title="导出"><i class="fa fa-download"> 导出全部数据</i></a></li-->
</ul>
<style>
th{
	text-align: center !important;
}

td{
	text-align: center !important;
	white-space: normal !important;
	word-break: break-all !important;
}
</style>
<div class="panel panel-info">
        <div class="panel-heading">手动筛选结算（按结算时间筛选）(手动结算是让之前自动结算未结算到余额的使用)</div>
        <div class="panel-body">
            <form action="{php echo $this->createWebUrl('searchyj')}" method="get" class="form-horizontal">
            	<input type="hidden" name="c" value="site">
                <input type="hidden" name="a" value="entry">
                <input type="hidden" name="m" value="tiger_wxdaili">
                <input type="hidden" name="do" value="searchyj">
                <input type="hidden" name="op" value="search">
            	<div class="form-group">
                   <label class="col-xs-12 col-sm-3 col-md-2 control-label">会员UID</label>
                    <div class="col-sm-9 col-xs-12">
	                    <input type="text" name="uid" value="{$uid}" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">开始时间</label>
                    <div class="col-sm-9 col-xs-12">
                {php echo tpl_form_field_date('sbegin_time', date('Y-m-d H:i:s',empty($sbegin_time)?time():$sbegin_time), true)}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">结束时间</label>
                    <div class="col-sm-9 col-xs-12">
                {php echo tpl_form_field_date('send_time', date('Y-m-d H:i:s',empty($send_time)?time():$send_time), true)}
                    </div>
                </div>
                <button class="btn btn-default">搜索</button>
            </form>
        </div>
</div>
{if $share['id']}
<div class="panel panel-default">
    <div class="panel-heading">本次筛选结果：</div>
	<div class="panel-body" style="text-align: center;">

        <table class="table table-hover">

            <thead class="navbar-inner">

                <tr>
                    <th>本人结算(确认收货)</th>
                    <th>二级结算(确认收货)</th>
                    <th>三级结算(确认收货)</th>
                </tr>

            </thead>


            <tbody id="table_content">
                <tr>
                    <td>{$res['s2']}</td>
                    <td>{$res['s3']}</td>
                    <td>{$res['s4']}</td>
                </tr>
                 <tr>
                    <td colspan="3"><b style="color: #ff0000;">结算汇总(确认收货):  {$res['s1']}元</b> <a onclick="return confirm('手动结算,确保该时间段没有自动结算给用户,可以先在佣金结算记录里面查看记录，在手动结算！如果已经确认过，点击确定结算到余额')"  href="{php echo $this->createWebUrl('searchyj',array('op'=>'js','uid'=>$share['id'],'credit2'=>$res['s1'],'sbegin_time'=>$_GPC['sbegin_time'],'send_time'=>$_GPC['send_time']))}" class="btn btn-success" style="margin-left: 10px;">点击手动结算{$res['s1']}元到{$share['nickname']}(UID:{$share['id']})的余额</a></td>
                </tr>
                <tr>
                    <td colspan="3">
                    	<b>会员信息</b><br>
                    	会员UID：{$share['id']}<br>
                   		昵称：{$share['nickname']}<br>
                   		余额：{$share['credit2']}<br>
                   		积分：{php echo intval($share['credit1'])}<br>
                   		电话：{$share['pcuser']}<br>
                    </td>
                   		
                </tr>
           </tbody>
        
        </table>
    </div>
{/if}
<style>
	td{text-align: left!important}
	th{text-align: left!important}
</style>
</div>
{template 'common/footer'}