{template 'common/header'}
<ul class="nav nav-tabs">
    <li><a href="{php echo $this->createWebUrl('systemtool', array('version_id' => $_GPC['version_id']));}">修改版本号</a></li>
    <li><a href="{php echo $this->createWebUrl('qiniu', array('version_id' => $_GPC['version_id']));}">更换七牛域名</a></li>
    <li {if $act == 'display'}class="active"{/if}><a href="{php echo $this->createWebUrl('settingadmin', array('version_id' => $_GPC['version_id']));}">活动操作员</a></li>
    {if $act == 'post'}
    <li {if $act == 'post'}class="active"{/if}><a href="{php echo $this->createWebUrl('settingadmin', array('version_id' => $_GPC['version_id'],'act'=> 'post'));}">管理活动</a></li>
    {/if}
</ul>
{if $act == 'display'}
<div class="we7-padding-bottom clearfix" style="margin-top: 20px;">
    <div class="pull-right">
        <a href="./index.php?c=module&amp;a=permission&amp;do=post&amp;m=xiaof_toupiao" class="btn btn-primary we7-padding-horizontal">添加操作员</a>
        <a href="./index.php?c=user&amp;a=register&amp;type=3&amp;m=xiaof_toupiao" target="_blank" class="btn btn-primary we7-padding-horizontal">注册操作员</a>
    </div>
</div>
<div class="main">
    <table class="table we7-table table-hover">
        <thead class="navbar-inner">
        <tr>
            <th class="text-center" style="width:100px;">操作员名称</th>
            <th class="text-right" style="width:100px;">操作</th>
        </tr>
        </thead>
        <tbody>
        {if !empty($user_permissions)}
        {loop $user_permissions $item}
        <tr>
            <td class="text-center" style="width:50px;">{$item['user_info']['username']}</td>
            <td style="width:100px;">
                <div class="link-group" >
                    {if empty($module['main_module'])}
                    <a href="{php echo $this->createWebUrl('settingadmin', array('version_id' => $_GPC['version_id'],'act'=> 'post', 'uid' => $item['user_info']['uid']));}">管理活动</a>
                    {else}
                    <span>---</span>
                    {/if}
                </div>
            </td>
        </tr>
        {/loop}
        {else}
        <tr ng-if="!wechats">
            <td colspan="3" class="text-center">暂无数据</td>
        </tr>
        {/if}
        </tbody>
    </table>
</div>
{else if $act == 'post'}
<div class="main">
    <div class="panel panel-info">
        <div class="panel-heading">搜索</div>
        <div class="panel-body">
            <form action="./index.php" method="get" class="form-horizontal" role="form">
                <input type="hidden" name="c" value="site">
                <input type="hidden" name="a" value="entry">
                <input type="hidden" name="m" value="xiaof_toupiao">
                <input type="hidden" name="do" value="settingadmin">
                <input type="hidden" name="act" value="post">
                <input type="hidden" name="uid" value="{$_GPC['uid']}">
                <input type="hidden" name="version_id" value="{$_GPC['version_id']}">

                <div class="form-group">
                    <label class="col-xs-12 col-sm-2 col-md-2 col-lg-2 control-label">请输入活动名称</label>
                    <div class="col-xs-12 col-sm-7 col-lg-7">
                        <input class="form-control" name="key" id="" type="text" value="{$_GPC['key']}" placeholder="请输入活动名称">
                    </div>
                    <div class="col-xs-12 col-sm-2 col-lg-2">
                        <button class="btn btn-default"><i class="fa fa-search"></i> 搜索</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
    <form action="{php echo $this->createWebUrl('settingadmin', array('version_id' => $_GPC['version_id'],'act'=> 'save'));}" method="post">
        <input type="hidden" name="uid" value="{$_GPC['uid']}">
        <table class="table table-hover"  style="width:100%;z-index:-10;" cellspacing="0" cellpadding="0">
            <thead class="navbar-inner">
            <tr>
                <th style="width:10%;">
                    <input type="checkbox" onclick="var ck = this.checked;$(':checkbox').each(function(){this.checked = ck});" />
                    全选
                </th>
                <th style="width:15%;">ID</th>
                <th>活动名称</th>
            </tr>
            </thead>
            <tbody>
            {loop $lists $item}
            <tr>
                <td><input type="checkbox" name="save[]" value="{$item['id']}" {if in_array($item['id'],$sid)}checked{/if} /></td>
                <td>{$item['id']} </td>
                <td>{$item['tit']} </td>
            </tr>
            {/loop}
            </tbody>
        </table>
        <table class="table table-hover">
            <tr>
                <td class="text-left">
                    <input name="token" type="hidden" value="{$_W['token']}" />
                    <input type="submit" class="btn btn-primary span2" name="del" value="保存" />
                </td>
            </tr>
        </table>
        {$pager}
    </form>
</div>
{/if}
{template 'common/footer'}