{template 'common/header'}
	<style>
		.welcome-container .shortcut a {
			display: block;
			float: left;
			text-align: center;
			margin-right: 1.2em;
			padding: 8px 5px;
			width: 7em;
			height: 7em;
			overflow: hidden;
			color: #333;
		}
		.welcome-container .shortcut a .fa{
			display: block;
			font-size: 3em;
			margin: .28em .2em;
		}
	</style>
	<div class="clearfix welcome-container">
		<div class="page-header">
			<h4><i class="fa fa-plane"></i> 工具菜单</h4>
		</div>
		<div class="shortcut clearfix">
			<a href="{php echo $this->createWebUrl('diagnose', array('version_id' => $_GPC['version_id']));}" title="开放平台检测">
				<i class="fa fa-bug"></i>
				<span>开放平台检测</span>
			</a>
			
			<a href="{php echo $this->createWebUrl('clearjs', array('version_id' => $_GPC['version_id']));}" title="jsticket等问题修复">
				<i class="fa fa-wrench"></i>
				<span>上传分享修复</span>
			</a>
			
			<a href="{php echo $this->createWebUrl('cleartoken', array('version_id' => $_GPC['version_id']));}" title="accesstoken等问题修复">
				<i class="fa fa-wrench"></i>
				<span>公众平台修复</span>
			</a>
			
			<a href="{php echo $this->createWebUrl('clearshorturl', array('version_id' => $_GPC['version_id']));}" title="清除短链接缓存">
				<i class="fa fa-wrench"></i>
				<span>清除短链接</span>
			</a>
			
			{if $_W['isfounder']}
			<a href="{php echo $this->createWebUrl('clearcache', array('version_id' => $_GPC['version_id']));}" title="清除模块IP地址等缓存">
				<i class="fa fa-wrench"></i>
				<span>清除缓存</span>
			</a>	
			<a href="{php echo $this->createWebUrl('globalsetting', array('version_id' => $_GPC['version_id']));}" title="全局功能管理权限">
				<i class="fa fa-users"></i>
				<span>全局配置设置</span>
			</a>				
			{/if}
		</div>
	</div>
{template 'common/footer'}
