{template 'web/common/common'}
{template 'web/home/navbar'}
<style>
    .col-sm-4{width: 31%;}
    .col-sm-4 input{width: 100%;}
</style>
<div class="layui-card">
    <div class="content">
    <form class="layui-form" method="post" action="">
        <div class="layui-form-item">
            <label class="layui-form-label" >首页顶部标题设置</label>
            <div class="layui-input-block">
              <input type="text" name="bar_title" value="{$data['list']['bar_title']}" placeholder="首页顶部标题设置" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" >首页优惠券显示数量</label>
            <div class="layui-input-block">
                <input type="text" name="coupon_count" value="{$data['list']['coupon_count']}" placeholder="首页优惠券显示数量" class="layui-input">
                <div class="layui-form-mid layui-word-aux">
                    优惠券数量默认显示4张，若要在首页显示全部优惠券请填写0;显示顺序为顺序依次排序
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" >个人中心联系客服</label>
            <div class="layui-input-block">
                {if $data['list']['center_contact_type']==1}
                <input type="radio" name="center_contact_type" value="1" title="客服" checked="">
                <input type="radio" name="center_contact_type" value="2" title="电话">
                {else}
                <input type="radio" name="center_contact_type" value="1" title="客服" >
                <input type="radio" name="center_contact_type" value="2" title="电话" checked="">
                {/if}
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" >客服卡片标题</label>
            <div class="layui-input-block">
                <input type="text" name="kefu_title" value="{$data['list']['kefu_card']['title']}" placeholder="客服卡片标题" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" >客服卡片封面</label>
            <div class="layui-input-block">
                {php echo tpl_form_field_image('kefu_card_cover',$data['list']['kefu_card']['cover']);}
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label" >手动授权手机号</label>
            <div class="layui-input-block">
                {if $data['list']['open_hand_auth']==1}
                <input type="radio" name="open_hand_auth" value="1" title="是" checked="">
                <input type="radio" name="open_hand_auth" value="2" title="否">
                {else}
                <input type="radio" name="open_hand_auth" value="1" title="是" >
                <input type="radio" name="open_hand_auth" value="2" title="否" checked="">
                {/if}
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" >商城发货方式</label>
            <div class="layui-input-block">
                {if $data['list']['recovery_method']==2}
                <input type="radio" name="recovery_method" value="1" title="仅快递">
                <input type="radio" name="recovery_method" value="2" title="仅自提" checked>
                <input type="radio" name="recovery_method" value="3" title="快递和自提">
                {elseif $data['list']['recovery_method']==3}
                <input type="radio" name="recovery_method" value="1" title="仅快递">
                <input type="radio" name="recovery_method" value="2" title="仅自提">
                <input type="radio" name="recovery_method" value="3" title="快递和自提" checked="">
                {else}
                <input type="radio" name="recovery_method" value="1" title="仅快递"  checked="">
                <input type="radio" name="recovery_method" value="2" title="仅自提">
                <input type="radio" name="recovery_method" value="3" title="快递和自提">
                {/if}
            </div>
        </div>

        <div class="layui-form-item self_lifting_address">
            <label class="layui-form-label">自提地点</label>
            <div class="layui-input-block">
                <input type="text" name="self_lifting_address" value="{$data['list']['self_lifting_address']}" placeholder="自提地点" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item self_lifting_address">
            <label class="layui-form-label">地址经纬度设置</label>
            <div class="layui-input-block">
                {php echo tpl_form_field_coordinate('self_lifting_place', $data['list']['self_lifting_place'])}
            </div>
        </div>

        <div class="layui-form-item self_lifting_address">
            <label class="layui-form-label">自提点电话</label>
            <div class="layui-input-block">
                <input type="text" name="self_lifting_phone" value="{$data['list']['self_lifting_phone']}" placeholder="自提点电话" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label" >包邮方式</label>
            <div class="layui-input-block">
                {if $data['list']['frank_method']==2}
                <input type="radio" name="frank_method" lay-filter="frank_method" value="1" title="满件包邮" >
                <input type="radio" name="frank_method" value="2" lay-filter="frank_method" title="满额包邮" checked="">
                {else}
                <input type="radio" name="frank_method" value="1" lay-filter="frank_method" title="满件包邮" checked="">
                <input type="radio" name="frank_method" value="2" lay-filter="frank_method" title="满额包邮" >
                {/if}
            </div>
        </div>
        {if $data['list']['frank_method']==2}
        <div class="layui-form-item manJian"  style="display: none">
            <label class="layui-form-label">满X件包邮</label>
            <div class="layui-input-block">
                <input type="text" name="frank_jian" style="width: 160px;" value="{$data['list']['frank_jian']}" placeholder="满件包邮" class="layui-input">
                <span class="unit">件</span>
            </div>
        </div>
        <div class="layui-form-item manE">
            <label class="layui-form-label">满X元包邮</label>
            <div class="layui-input-block">
                <input type="text" name="frank_yuan" style="width: 160px;" value="{$data['list']['frank_yuan']}" placeholder="满额包邮" class="layui-input">
                <span class="unit">元</span>
            </div>
        </div>
        {else}
        <div class="layui-form-item manJian" >
            <label class="layui-form-label">满X件包邮</label>
            <div class="layui-input-block">
                <input type="text" name="frank_jian" style="width: 160px;" value="{$data['list']['frank_jian']}" placeholder="满件包邮" class="layui-input">
                <span class="unit">件</span>
            </div>
        </div>
        <div class="layui-form-item manE"  style="display: none">
            <label class="layui-form-label">满X元包邮</label>
            <div class="layui-input-block">
                <input type="text" name="frank_yuan" style="width: 160px;" value="{$data['list']['frank_yuan']}" placeholder="满额包邮" class="layui-input">
                <span class="unit">元</span>
            </div>
        </div>
        {/if}

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn layui-btn-sm" type="button" lay-filter="formSubmit" lay-submit="">保存</button>
            </div>
			<div>&#25042;&#20154;&#28304;&#30721;&#119;&#119;&#119;&#46;&#108;&#97;&#110;&#114;&#101;&#110;&#122;&#104;&#105;&#106;&#105;&#97;&#46;&#99;&#111;&#109;&#32;&#20840;&#31449;&#36164;&#28304;&#50;&#48;&#22359;&#20219;&#24847;&#19979;&#36733;</div>
        </div>
    </form>
</div>
</div>
{template 'common/footer'}
<script src="../addons/kundian_farm/resource/js/main.js" charset="utf-8"></script>
<script>
layui.use(['form', 'layedit', 'laydate'], function(){
      var form = layui.form,layer = layui.layer;

    form.on('submit(formSubmit)',function (data) {
        var formData = data.field;
        var url = "{url 'site/entry/admin',array('m'=>'kundian_farm','op'=>'home_set','action'=>'home')}";
        var data = {
            formData: formData
        };
        postData(url, data);
        return false;
    })

    form.on('radio(frank_method)', function(data){
        let frank_method=data.value;
        if(frank_method==1){
            $(".manJian").show();
            $(".manE").hide();
        }else{
            $(".manJian").hide();
            $(".manE").show();
        }
    });

});
</script>