{template 'web/common/common'}
{template 'web/home/navbar'}
<style>
    h4{color: #fc8535}
</style>
<div class="layui-card">
    <div class="panel panel-success">
        <div class="panel-body">

            <form class="layui-form" role="form" method="post" action=""  style="padding: 20px 0;">
                <div class="col-md-4">
                    <h4>版块一</h4>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">标题</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control"  name="title1"  value="{$data['list']['plate_one']['title']}">
                            <input type="hidden" name="id" value="{$data['list']['id']}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">图片(180*225)</label>
                        <div class="col-sm-8">
                            {php echo tpl_form_field_image('icon1',$data['list']['plate_one']['icon']);}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">描述</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control"  name="remark1" value="{$data['list']['plate_one']['remark']}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">链接板块</label>
                        <div class="col-sm-8">
                            <select name="jump_url1" id="jump_url1" class="form-control">
                                <option value="0">请选择</option>
                                {loop $data['link'] $key $val}
                                <option value="{$val['path']}"  <?php if($data['list']['plate_one']['jump_url']==$val['path']){echo 'selected';}?> >{$val['name']}</option>
                                {/loop}

                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <h4>版块二</h4>
                    <div class="form-group">
                        <label for="title2" class="col-sm-2 control-label">标题</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control"  name="title2" id="title2" value="{$data['list']['plate_two']['title']}">
                            <input type="hidden" name="id" value="{$data['list']['id']}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">图片(180*110)</label>
                        <div class="col-sm-8">
                            {php echo tpl_form_field_image('icon2',$data['list']['plate_two']['icon']);}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">描述</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control"  name="remark2" value="{$data['list']['plate_two']['remark']}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">链接板块</label>
                        <div class="col-sm-8">
                            <select name="jump_url2" id="jump_url2" class="form-control">
                                <option value="0">请选择</option>
                                {loop $data['link'] $key $val}
                                <option value="{$val['path']}"  <?php if($data['list']['plate_two']['jump_url']==$val['path']){echo 'selected';}?> >{$val['name']}</option>
                                {/loop}

                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <h4>版块三</h4>
                    <div class="form-group">
                        <label for="title3" class="col-sm-2 control-label">标题</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control"  name="title3" id="title3" value="{$data['list']['plate_three']['title']}">
                            <input type="hidden" name="id" value="{$data['list']['id']}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">图片(180*110)</label>
                        <div class="col-sm-8">
                            {php echo tpl_form_field_image('icon3',$data['list']['plate_three']['icon']);}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">描述</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control"  name="remark3" value="{$data['list']['plate_three']['remark']}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">链接板块</label>
                        <div class="col-sm-8">
                            <select name="jump_url3" id="jump_url3" class="form-control">
                                <option value="0">请选择</option>
                                {loop $data['link'] $key $val}
                                <option value="{$val['path']}"  <?php if($data['list']['plate_three']['jump_url']==$val['path']){echo 'selected';}?> >{$val['name']}</option>
                                {/loop}
                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <!--<input style="width: 20%" type="submit" name="submit" class="layui-btn">-->
                        <button class="layui-btn layui-btn-sm" type="button" lay-filter="formSubmit" lay-submit="">保存</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{template 'common/footer'}
<script src="../addons/kundian_farm/resource/js/main.js" charset="utf-8"></script>
<script>
    layui.use(['form', 'layedit', 'laydate'], function(){
        var form = layui.form,layer = layui.layer;
        form.on('submit(formSubmit)',function (data) {
            console.log(data);
            var formData = data.field;
            var url = "{url 'site/entry/admin',array('m'=>'kundian_farm','op'=>'home_btm_now_save','action'=>'home')}";
            var data = {
                formData: formData
            };
            postData(url, data);
            return false;
        })
    });
</script>
