{template 'common/header'}
<ul class="nav nav-tabs">
  <li  ><a href="{php echo $this->createWebUrl('hospital',array('op'=>'display','pid'=>$pid,'hosid'=>$hosid));}">医院列表</a></li>
  <li  {if $op=='display'} class="active" {/if}><a href="{php echo $this->createWebUrl('diqukeshi',array('op'=>'display','id'=>$id,'pid'=>$pid));}">科室列表</a></li>
  <li {if $op=='post' } class="active" {/if}><a href="{php echo $this->createWebUrl('diqukeshi',array('op'=>'post','id'=>$id,'pid'=>$pid,'lng'=>$lng,'lat'=>$lat));}">添加科室</a></li>
</ul>
 {if $op=='display'}
<form action="" method="POST">
        <div class="tab-pane in active" id="tab_basic">
            <div class="panel panel-default">
                <div class="panel-heading">科室列表</div>
                    <div class="row-fluid">
                        <div class="span12">
                        <div class="tab-pane" >
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>
                                            ID
                                        </th>
                                        <th>
                                            科室名称
                                        </th>
                                        <th>
                                            操作
                                        </th>
                                    </tr >
                                </thead>
                                <tbody>
                                    
                                     {loop $products $item}
                                    <tr >
                                        <td>
                                            {$item['id']}
                                        </td>
                                         <td>
                                            {$item['name']}
                                        </td>
                                         <td>
                                           <img src="{media $item['hos_pic']}" width="45">
                                        </td>
                                    <td >
                                   <a class="btn btn-default btn-sm" href="{php echo $this->createWeburl('diqukeshi', array('hosid' => $item['hosid'],'op' => 'post','id1'=>$item['id'],'pid'=>$pid,'id'=>$id,'lat'=>$lat,'lng'=>$lng))}">编辑</a> 
                                <a class="btn btn-default btn-sm" onclick="return confirm('此操作不可恢复，确认吗？'); return false;" href="{php echo $this->createWeburl('diqukeshi', array('id' => $item['id'], 'op' => 'delete'))}">删除</a>
                            </td>
                                </tr>
                              {/loop}
                            </tbody>
                            </table>
                        {if $products ==""}
                         ~暂无科室~
                        {/if}
                    </div>
                </div>
            </div>
            </div>
        </div>
      <div class="text-left we7-margin-top">
        {$pager}
      </div>
  {/if}
  {if $op=='post'}
  <form class="form-horizontal" action="" method="post">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">科室名称</h3>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label for="" class="control-label col-sm-2">科室名称</label>
                <!-- <div class="col-sm-1"></div> -->
                <div class="form-controls col-sm-5" style="margin-left: 75px;">
                    <input type="text" name="name"  value="{$items['name']}" class="form-control ng-pristine ng-untouched ng-valid ng-empty"  placeholder="" autocomplete="off">
                </div>
            </div>

            <div class="form-group">
                <label for="" class="control-label col-sm-2">科室图标</label>
                <div class="col-sm-1"></div>
                <div class="form-controls col-sm-5">
                    {php echo tpl_form_field_image('hos_pic',$items['hos_pic'])}
                </div>
                <div class="col-sm-1"></div>
                <div class="form-controls col-sm-4 help-block">请上传图片</div>
            </div>
            <div class="form-group">
                <label for="" class="control-label col-sm-2">科室简介</label>
                <div class="form-controls col-sm-5" style="margin-left: 75px;">
                   <textarea rows="6" cols="20" class="form-control ng-pristine ng-untouched ng-valid ng-empty"  name="hos_desc" >{$items['hos_desc']}</textarea>
                </div>
                
                <div class="form-controls col-sm-4 help-block">科室简介</div>
            </div>

    </div>
    <div class="form-group">
        <div class="col-sm-12">
            <input name="token" type="hidden" value="{$_W['token']}" />
            <input type="submit" class="btn btn-primary col-lg-1" name="tijiao" value="提交" style="margin-left: 45%;" />
        </div>
    </div>
</form>
  {/if}
{template 'common/footer'}