.lazy_tip{
	position: absolute;
	margin-top: 35%;
	z-index: 1001;
	font-size: 25px;
	width: 100%;
	color: #ffffff;
	line-height: 30px;
}

.lazy_cover {
	width: 100%;
	height: 100%;
	/* background-color: black; */
	z-index: -1;
	color: #ffffff;
	font-size: 25px;
	opacity: 0.7;
	position: fixed;
	top: 0;
	left: 0;
}