{template 'common/header'}
{if $op == 'display'}
<div>
    <h3 style="float: left;margin-top: 0;">发布列表</h3>
</div>
<form class="form-horizontal" action="" method="post">
    <table class="table we7-table table-hover article-list vertical-middle">
        <tr>
            <td>ID</td>
            <td>昵称</td>
            <td style="width:80px">头像</td>
            <td>发布价格</td>
            <td>是否置顶</td>
            <td>是否推荐</td>
            <td>是否审核</td>
            <td class="text-right">操作</td>
        </tr>
        {loop $releaseList $item}
        <tr>
            <td>
                {$item['id']}
            </td>
            <td>
                {$item['nickname']}
            </td>
            <td>
                <img src="{$item['avatar']}" style="width:80px!important;">
            </td>

            <td>
                {$item['release_money']}
            </td>
            <td>
                {if $item['stick'] == 1} <span class="label label-success">已置顶</span> {else} <span class="label label-default">未置顶</span> {/if}
            </td>

            <td>
                {if $item['hot'] == 1} <span class="label label-success">已推荐</span> {else} <span class="label label-default">未推荐</span> {/if}
            </td>

            <td>
                {if $item['shenhe'] == 0} <span class="label label-primary">未审核</span> {/if} 
                {if $item['shenhe'] == 1} <span class="label label-success">审核通过</span> {/if} 
                {if $item['shenhe'] == 2}<span class="label label-default">审核不通过</span> {/if}
            </td>
  
            <td class="text-right">
                {if $item['shenhe'] == 0}
                <a class="btn btn-default btn-sm" href="{php echo $this->createWeburl('release', array('id' => $item['id'],'flag' => 1, 'op' =>'shenhe'))}" >审核通过</a>
                <a class="btn btn-default btn-sm" href="{php echo $this->createWeburl('release', array('id' => $item['id'],'flag' => 2, 'op' =>'shenhe'))}" >审核不通过</a>
                {/if}
                <a class="btn btn-default btn-sm" href="{php echo $this->createWeburl('release', array('id' => $item['id'], 'op' =>'post'))}" >详情</a>
                <a class="btn btn-default btn-sm" href="{php echo $this->createWeburl('release', array('id' => $item['id'], 'op' =>'hot'))}" >{if $item['hot'] == 2}推荐{else}取消推荐{/if}</a>
                <a class="btn btn-default btn-sm" onclick="return confirm('此操作不可恢复，确认吗？'); return false;" href="{php echo $this->createWeburl('release', array('id' => $item['id'], 'op' => 'delete'))}">删除</a>
            </td>
        </tr>
        {/loop}
    </table>
    {$pager}
</form>
{/if}

{if $op == 'post'}
<form class="form-horizontal" action="" method="post">

    <div class="panel panel-default">

        <div class="panel-heading">

             <h3 class="panel-title">详细信息</h3>

        </div>

        <div class="panel-body">
            <div class="form-group">

                <label for="" class="control-label col-sm-2 help-block" style="margin-right:25px;line-height: 50px">发布人昵称头像:</label>

                <div class="form-controls col-sm-5" style="padding-top: 7px">{$item['nickname']} <img src="{$item['avatar']}" style="width:50px;"></div>

            </div>

            <div class="form-group">

                <label for="" class="control-label col-sm-2 help-block" style="margin-right:25px">发布内容:</label>

                <div class="form-controls col-sm-5" style="padding-top: 7px">{$item['content']}</div>

            </div>

            <div class="form-group">

                <label for="" class="control-label col-sm-2 help-block" style="margin-right:25px">所属分类:</label>

                <div class="form-controls col-sm-5" style="padding-top: 7px">{$item['func_title']}</div>

            </div>

            <div class="form-group">

                <label for="" class="control-label col-sm-2 help-block" style="margin-right:25px">发布图片:</label>

                <div class="form-controls col-sm-5" style="padding-top: 7px;width:680px;">
                {if $item['img']}
                    {loop $item['img'] $res}  
                    <img src="{$res}" alt="" style="width:100px;margin-right: 10px;margin-bottom: 10px">
                    {/loop}
                {else}
                    无
                {/if}
                </div>

            </div>
            <div class="form-group">

                <label for="" class="control-label col-sm-2 help-block" style="margin-right:25px">手机号:</label>

                <div class="form-controls col-sm-5" style="padding-top: 7px">
                {if $item['telphone'] && $item['telphone'] != undefined}
                    {$item['telphone']}
                {else}
                    无
                {/if}
                </div>

            </div>
            <div class="form-group">

                <label for="" class="control-label col-sm-2 help-block" style="margin-right:25px">地址:</label>

                <div class="form-controls col-sm-5" style="padding-top: 7px">
                {if $item['address']}
                    {$item['address']}
                {else}
                    无
                {/if}
                </div>

            </div>
            <div class="form-group">

                <label for="" class="control-label col-sm-2 help-block" style="margin-right:25px">是否置顶:</label>

                <div class="form-controls col-sm-5" style="padding-top: 7px">
                {if $item['stick'] == 1}
                    <span class="label label-success">已置顶</span>
                {else}
                    <span class="label label-default">未置顶</span>
                {/if}
                </div>

            </div>
            <div class="form-group">

                <label for="" class="control-label col-sm-2 help-block" style="margin-right:25px">置顶相关（每天费用/天数/总费用）:</label>

                <div class="form-controls col-sm-7" style="padding-top: 7px">
                {if $item['stickall']}
                    {loop $item['stickall'] $v}
                        {if $v['stick_status'] == 1}当前置顶:{else}往期置顶:{/if}
                        {$v['stick_money']}元 * {$v['stick_days']}天 = {$v['moneyAll']}元  <span style="margin-left: 10px">置顶时间:</span>{$v['stick_time']}
                        <br>
                    {/loop}
                {else}
                    {if $item['set']}
                        {$item['set']['stick_money']}元 * 0天 = {$item['moneyAll']}元
                    {else}
                        0元 * 0天 = 0元
                    {/if}
                {/if}
                </div>

            </div>
            <div class="form-group">

                <label for="" class="control-label col-sm-2 help-block" style="margin-right:25px">是否推荐:</label>

                <div class="form-controls col-sm-5" style="padding-top: 7px">
                {if $item['hot'] == 1}
                    <span class="label label-success">已推荐</span>
                {else}
                    <span class="label label-default">未推荐</span>
                {/if}
                </div>

            </div>
            <div class="form-group">

                <label for="" class="control-label col-sm-2 help-block" style="margin-right:25px">浏览数:</label>

                <div class="form-controls col-sm-5" style="padding-top: 7px">
                {$item['hits']}
                </div>

            </div>
            <div class="form-group">

                <label for="" class="control-label col-sm-2 help-block" style="margin-right:25px">点赞数:</label>

                <div class="form-controls col-sm-5" style="padding-top: 7px">
                {$item['likes']}
                </div>

            </div>
            <div class="form-group">

                <label for="" class="control-label col-sm-2 help-block" style="margin-right:25px">收藏数:</label>

                <div class="form-controls col-sm-5" style="padding-top: 7px">
                {$item['collection']}
                </div>

            </div>
            <div class="form-group">

                <label for="" class="control-label col-sm-2 help-block" style="margin-right:25px">评论数:</label>

                <div class="form-controls col-sm-5" style="padding-top: 7px">
                {$item['comment']}
                </div>

            </div>
            <div class="form-group">

                <label for="" class="control-label col-sm-2 help-block" style="margin-right:25px">发布时间:</label>

                <div class="form-controls col-sm-5" style="padding-top: 7px">
                {$item['createtime']}
                </div>

            </div>

            <div class="form-group">

                <label for="" class="control-label col-sm-2 help-block" style="margin-right:25px">修改时间:</label>

                <div class="form-controls col-sm-5" style="padding-top: 7px">
                {$item['updatetime']}
                </div>

            </div>

        </div>

    </div>

</form>
{/if}






{template 'common/footer'}