{template 'header'}
<style>
	.zidingyiinput{
		border: 1px solid #dfdfdf;
	}
</style>
<<div class="wrapper">
	<section class="panel">
		<header class="panel-heading">
			{if $id}修改商品{else}添加商品{/if}
		</header>
		<hr>

		<form action="" method="post" enctype="multipart/form-data" class="form-horizontal tasi-form">
			<div class="panel-body">

				<div class="monai-form">
					<div class="form-group">
						<label class="col-sm-2 control-label col-lg-2" >短标题</label>
						<div class="col-lg-6">
							<input type="text" class="form-control"  name="data[title]" value="{$info['title']}">
							<span class="help-block">列表页显示</span>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label col-lg-2" >长标题</label>
						<div class="col-lg-6">
							<input type="text" class="form-control"  name="data[name]" value="{$info['name']}">
							<span class="help-block">详情页显示</span>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label col-lg-2" >图片</label>
						<div class="col-lg-6">
							{php echo tpl_form_field_multi_image('dataimg', $imgs_path);}
							<!--<span class="help-block">宽高165*225</span>-->
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-2 control-label col-lg-2" >所需积分</label>
						<div class="col-lg-6">
							<input type="text" class="form-control" name="data[integral]" value="{$info['integral']}">
							<!--<span class="help-block">排序，默认从大到小</span>-->
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label col-lg-2" >所需余额</label>
						<div class="col-lg-6">
							<input type="text" class="form-control" name="data[price]" value="{$info['price']}">
							<!--<span class="help-block">排序，默认从大到小</span>-->
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label col-lg-2" >市场价</label>
						<div class="col-lg-6">
							<input type="text" class="form-control" name="data[list_price]" value="{$info['list_price']}">
							<!--<span class="help-block">排序，默认从大到小</span>-->
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label col-lg-2" >库存</label>
						<div class="col-lg-6">
							<input type="text" class="form-control" name="data[num]" value="{$info['num']}">
							<!--<span class="help-block">排序，默认从大到小</span>-->
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label col-lg-2" >排序</label>
						<div class="col-lg-6">
							<input type="text" class="form-control" name="data[sort]" value="{$info['sort']}">
							<span class="help-block">排序，默认从大到小</span>
						</div>
					</div>


					<hr>
					<div class="form-group">
						<label class="col-sm-2 control-label col-lg-2" >详情</label>
						<div class="col-lg-6">
							{php echo tpl_ueditor('data[details]', $info['details']);}
						</div>
					</div>


				</div>
			</div>
			<header class="panel-heading">
				<button type="submit" class="btn btn-sm btn-success"><i class="fa fa-dot-circle-o"></i> 保存</button>
				<button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> 撤销</button>
			</header>
		</form>

	</section>
</div>
{template 'footer'}