<!DOCTYPE html>
<html>
<head>
    <title>{$_W['slwl']['lang']['sys_name']}</title>
    <meta name="keywords" content="" />
    <meta name="description" content="">
    {template 'public/header'}

</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    {template 'public/top'}
    {template 'public/left'}

    <div class="layui-body">
        <div class="layui-main">

            <form class="layui-form fixed" action="" method="post" enctype="multipart/form-data" id="data-form">
                <div class="layui-tab layui-tab-brief" lay-filter="tab">
                    <ul class="layui-tab-title">
                        <li class="layui-this">基本设置</li>
                        <li>其他配置</li>
                    </ul>
                    <div class="layui-tab-content">
                        <!-- 基本设置 -->
                        <div class="layui-tab-item layui-show">
                            <div class="layui-form-item">
                                <label class="layui-form-label">小程序名称</label>
                                <div class="layui-input-block">
                                    <input type="text" class="layui-input" name="options[appname]" value="{$settings['appname']}" placeholder="小程序名称" />
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">logo</label>
                                <div class="layui-input-block">
                                    {php echo slwl_tpl_form_field_image('options[logo]', $settings['logo']);}
                                    <div class="layui-form-mid layui-word-aux">图片大小为 1:1 正方形，推荐 200 * 200 像素</div>
                                </div>
                            </div>

                            <div class="layui-form-item">
                                <label class="layui-form-label">公司名称</label>
                                <div class="layui-input-block">
                                    <input type="text" class="layui-input" name="options[company]" value="{$settings['company']}" placeholder="公司名称" />
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">公司电话</label>
                                <div class="layui-input-block">
                                    <input type="text" class="layui-input" name="options[tel]" value="{$settings['tel']}" placeholder="公司电话" />
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">公司地址</label>
                                <div class="layui-input-block">
                                    <input type="text" class="layui-input" name="options[address]" value="{$settings['address']}" placeholder="公司地址" />
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">地址，纬度</label>
                                <div class="layui-input-block">
                                    <input type="text" class="layui-input" name="options[lat]" value="{$settings['lat']}" placeholder="如：22.2708101528" />
                                    <div class="layui-form-mid layui-word-aux"><a style="color: #1E9FFF;" href="http://www.gpsspg.com/maps.htm" target="_blank">在线查询地址</a></div>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">地址，经度</label>
                                <div class="layui-input-block">
                                    <input type="text" class="layui-input" name="options[lng]" value="{$settings['lng']}" placeholder="如：113.5784017110" />
                                    <div class="layui-form-mid layui-word-aux"><a style="color: #1E9FFF;" href="http://www.gpsspg.com/maps.htm" target="_blank">在线查询地址</a></div>
                                </div>
                            </div>
                        </div>
                        <!-- 消息配置 -->
                        <div class="layui-tab-item">
                            <div class="layui-form-item">
                                <label class="layui-form-label">消息状态</label>
                                <div class="layui-input-block">
                                    <input type="radio" name="options[server_msg]" value="1" title="启用" {if $settings['server_msg']==1 || empty($settings['server_msg'])}checked{/if}>
                                    <input type="radio" name="options[server_msg]" value="0" title="禁用" {if $settings['server_msg']==0 && isset($settings['server_msg'])}checked{/if}>
                                    <div>
                                        <div class="layui-form-mid layui-word-aux">小程序端停止接收AI助手的信息</div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">咨询按钮状态</label>
                                <div class="layui-input-block">
                                    <input type="radio" name="options[consult]" value="1" title="启用" {if $settings['consult']==1 || empty($settings['consult'])}checked{/if}>
                                    <input type="radio" name="options[consult]" value="0" title="禁用" {if $settings['consult']==0 && isset($settings['consult'])}checked{/if}>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">咨询按钮图标</label>
                                <div class="layui-input-block">
                                    {php echo slwl_tpl_form_field_image('options[consult_img]', $settings['consult_img']);}
                                    <div class="layui-form-mid layui-word-aux">图片大小为 1:1 正方形，推荐 200 * 200 像素</div>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">默认咨询图标</label>
                                <div class="layui-input-block">
                                    <div class="input-group " style="margin-top:.5em;">
                                        <input type="hidden" name="options[consult_img_default]" value="{MODULE_URL}template/public/images/anniu.png" />
                                        <img src="{MODULE_URL}template/public/images/anniu.png" title="默认在线聊天-按钮图标" class="img-responsive img-thumbnail" width="50">
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>

                </div>
                <div class="layui-tab-content fixed" id="data-submit">
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn" lay-submit="" lay-filter="set">提交</button>
                            <input type="hidden" name="token" value="{$_W['token']}" />
                        </div>
                    </div>
                </div>
            </form>

            <script>
                layui.use('form', function(){
                    var form = layui.form;

                    form.on('submit(set)', function(data){
                        let url = "{php echo webUrl('set')}";
                        var $obj = $(this);

                        if (!$obj.hasClass('lock')) {
                            $obj.addClass('lock'); // 不能再点击

                            $.ajax({
                                type: "POST",
                                url: url,
                                dataType: 'json',
                                data: data.field,
                                success: function (rs) {
                                    console.log(rs.message.errno);
                                    if (rs.message.errno == '0') {
                                        layer.msg('保存成功！' , {
                                            time: 500
                                        }, function () {
                                            window.location.href = "{php echo webUrl('set')}";
                                        });
                                    } else {
                                        layer.msg(rs.message.message, {
                                            offset: '20%',
                                        });
                                    }
                                    $obj.removeClass('lock');
                                },
                                error: function () {
                                    layer.msg('提交过程发生错误，请与管理员联系', {
                                        offset: '20%',
                                    });
                                    $obj.removeClass('lock');
                                }
                            });
                        }

                        return false;
                    });
                });
            </script>

        </div>
    </div>

    {template 'public/copyright'}
</div>

{template 'public/footer'}
</body>
</html>