{template 'public/header_edit'}

<!--标题-->
<div class="title">
    <blockquote class="layui-elem-quote">用户编辑</blockquote>
</div>
<form class="layui-form" method="post" action="{php echo $this->createWebUrl('admin',array('op'=>save));}">
    <input type="hidden" name="id" value="{$info['id']}">
    <div class="layui-form-item">
        <label class="layui-form-label">用户名称</label>
        <div class="layui-input-block">
            <input autocomplete="off" type="text" name="name" lay-verify="required" placeholder="请输入名称" class="layui-input" value="{$info['name']}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">账号</label>
        <div class="layui-input-block">
            <input autocomplete="off" type="text" name="code" lay-verify="required" placeholder="请输入编号" class="layui-input" value="{$info['code']}">
            <div class="layui-form-mid layui-word-aux">用于登录</div>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">密码</label>
        <div class="layui-input-block">
            <input autocomplete="off" type="text" name="password" placeholder="请输入密码" class="layui-input">
            <div class="layui-form-mid layui-word-aux">放空则不修改密码</div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit="">立即提交</button>
            <button class="layui-btn layui-btn-primary" id="btnCancel">取消</button>
        </div>
    </div>
</form>

