{template 'web/common/common'}
{template 'web/live/navbar'}

<blockquote class="layui-elem-quote layui-text">
 监控>编辑
</blockquote>
<div class="layui-card">
    <form class="layui-form" method="post" action="">
        <div class="layui-form-item">
            <label class="layui-form-label">标题</label>
            <div class="layui-input-block">
              <input type="text" name="title" value="{$data['list']['title']}" class="layui-input">
            </div>
        </div>
        {if $data['list']['store_id'] == 0 || !$data['list']['store_id']}
        <div class="layui-form-item">
            <label class="layui-form-label">分类</label>
            <div class="layui-input-block">
                <select name="type_id">
                    <option value="0">请选择</option>
                    {loop $data['typeData'] $index $item}
                    <option value="{$item['id']}" <?php if($item['id']==$data['list']['type_id']){echo 'selected';}?> >{$item['name']}</option>
                    {/loop}
                </select>
            </div>
        </div>
        {/if}

        <div class="layui-form-item">
            <label class="layui-form-label">直播地址</label>
            <div class="layui-input-block">
              <input type="text" name="src" value="{$data['list']['src']}" class="layui-input">
                <p style="margin-top: 10px;font-size: 12px;">摄像头购买地址：<a style="color: blue" href="https://item.taobao.com/item.htm?id=592043922508" target="_blank">https://item.taobao.com/item.htm?id=592043922508</a></p>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">封面（170*125）</label>
            <div class="layui-input-block upload-img" style="width: 64%">
              {php echo tpl_form_field_image('cover',$data['list']['cover']);}
            </div>
        </div>
         <div class="layui-form-item">
            <label class="layui-form-label">是否显示</label>
            <div class="layui-input-block">
                {if $data['list']['status']==1}
                <input type="checkbox" name="status" value="1" lay-skin="switch" lay-text="ON|OFF" checked="">
                {else}
                <input type="checkbox" name="status" value="1" lay-skin="switch" lay-text="ON|OFF">
                {/if}
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">排序</label>
            <div class="layui-input-block">
              <input type="text" name="rank" value="{$data['list']['rank']}" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <input type="hidden" name="id" value="{$data['list']['id']}">
                <button class="layui-btn layui-btn-sm" type="button" lay-filter="formSubmit" lay-submit="">保存</button>
                <a class="layui-btn layui-btn-sm layui-btn-primary" id="goBack">返回</a>
            </div>
        </div>
    </form>
</div>
<script src="../addons/kundian_farm/resource/js/main.js" charset="utf-8"></script>
<script>
    layui.use(['form', 'layedit', 'laydate'], function(){
        var form = layui.form,layer = layui.layer;
        form.on('submit(formSubmit)',function (data) {
            var formData = data.field;
            var url = "{url 'site/entry/admin',array('m'=>'kundian_farm','op'=>'live_edit','action'=>'live')}";
            var data = {
                formData: formData
            };
            postData(url, data);
            return false;
        })

        $("#goBack").click(function () {
            goBack();
        })
    });
</script>