*{padding: 0;margin: 0;}
.bander-asd>.fui-content>.bander-img{width: 100%;height: 12.5rem;}
.bander-asd>.fui-content>.activity{width: 90%;margin: 0 auto;border-radius: 10px;background: rgb(228,196,136);margin-top: -1.2rem;z-index: 9999;padding: 1.1rem 0 1.2rem 0.5rem;position: relative;   background:linear-gradient(to bottom right,rgb(234,207,152),rgb(215,173,110));box-shadow: 0 5px 25px rgb(237,196,127)}
.bander-asd>.fui-content>.activity>p>span{color: rgb(161,129,50);text-indent: 20px;padding-left: 0.5rem;}
.bander-asd>.fui-content>.activity>p{color: white;}
.bander-asd>.fui-content>.activity>p:nth-child(2),p:nth-child(3){padding-top: 0.75rem;}
.bander-asd>.fui-content>.activity>p:nth-child(3)>span{color: white;}
.bander-asd>.fui-content>.activity>p:nth-child(3){color: rgb(161,129,50);width: 15rem;}
.bander-asd>.fui-content>.activity>.active{overflow: hidden;white-space: nowrap;text-overflow: ellipsis}
.bander-asd>.fui-content>.activity img{position: absolute;right: 0.5rem;top: 5.2rem;width: 6%;}
.show{overflow: hidden;white-space: nowrap;text-overflow: ellipsis}
.bander-asd .vote{width: 8rem;height: 3rem;margin: 0 auto;background: url("../images/toudi.png") no-repeat;background-size: 100%;}
a{width: 100%;height: 100%;display: block}
.bander-asd .vote-b{margin-top: 1.1rem;}
.bander-asd .vote-b>p{padding: 0.7rem 0.2rem 0.4rem 0.2rem;font-size: 1.1rem;margin-left: 2rem;color: rgb(164,129,52) }
.bander-asd .course{width: 10rem;height: 0.7rem;text-align: center; margin: 0 auto;}
.bander-asd .course p{font-size: 0.6rem;color:rgb(164,129,52); }
.bander-asd .course-a{margin-top: 0.5rem;}
.bander-asd .All-vote{width: 100%;margin-top: 1rem; padding-bottom: 1.25rem;}
.bander-asd .All-vote>div{width: 90%;height: 5rem;background: white;margin: 0 auto;border-radius: 8px;display: flex;margin-top: 1rem;}
.bander-asd .All-vote>div:nth-child(1) img{padding: 0.4rem;width: 100%;height: 100%;}
/*抽奖说明*/
.bander-asd .footer{width: 100%;padding-top: 1.25rem;background: white;padding-bottom: 2.8rem;}
.bander-asd .footer>div{width: 90%;margin: 0 auto;position: relative;}
.bander-asd .footer>div>img{position: absolute;top: 0.3rem;left: 4.3rem;width: 4%;}
.bander-asd .footer>div>span{font-size: 0.9rem;color: rgb(213,175,114)}

/*输入框*/
.bander-asd .footer .Input{width: 90%;margin: 0 auto;display: flex;height: 1.75rem;background: url("../images/xx.png") no-repeat;background-size: 100%;border-radius: 1.5rem;overflow: hidden;readonly:}
.bander-asd .footer .Input>div:nth-child(1){width: 4rem; }
.bander-asd .footer .Input>div:nth-child(1)>p{padding: 0.3rem 0.5rem 0.6rem 1rem;color: white;}
.bander-asd .footer .Input>div:nth-child(2){width: 13rem;}
.bander-asd .footer .Input>div:nth-child(2)>input::-webkit-input-placeholder{color: gray;}
.bander-asd .footer .Input-A{margin-top: 1.35rem;}
.bander-asd .footer .Input-B{margin-top: 0.7rem;}
.bander-asd .footer .Input-C{margin-top: 0.7rem;}
.bander-asd .footer .tijiao{width: 90%;height: 2.1rem;margin-top: 1rem;}
.bander-asd .footer .tijiao>button{color:white; font-size:1rem;width: 100%;height: 100%;background: rgb(235,195,126);border-radius: 1rem;border: none;background:-webkit-linear-gradient(left,rgb(214,173,109),rgb(237,196,127));  box-shadow: 0 4px 25px rgb(237,196,127);
}
/*图1*/
.bander-asd .All-vote>.All-vote-a>div:nth-child(1){width: 4.7rem;position: relative;}
.bander-asd .All-vote>.All-vote-a>div:nth-child(1) .video{position: absolute;top: 1.2rem;width: 55%;height: 50%;left: 1rem;z-index: 99;}
.bander-asd .All-vote>.All-vote-a>div:nth-child(2){width: 7rem;padding: 0.4rem;}
.bander-asd .All-vote>.All-vote-a>div:nth-child(2)>span{font-size: 0.75rem;padding-top: 0.9rem;display: block;color: gray;text-overflow: -o-ellipsis-lastline;  overflow: hidden;  text-overflow: ellipsis;  display: -webkit-box;  -webkit-line-clamp: 2; -webkit-box-orient: vertical;}
.bander-asd .All-vote>.All-vote-a>div:nth-child(2)>p{overflow: hidden;white-space: nowrap;text-overflow: ellipsis}
.bander-asd .All-vote>.All-vote-a>div:nth-child(3){width:5.3rem;padding: 0.4rem;text-align: center;color: rgb(164,129,52) }
.bander-asd .All-vote>.All-vote-a>div:nth-child(3)>button{width: 100%;height: 1.3rem;border-radius: 1rem;border: none;margin-top: 1.5rem;background: rgb(213,172,108);color: white;font-size: 0.7rem;box-shadow: 0 3px 10px rgb(237,196,127);}
/*图2*/


.bander-asd .All-vote>.All-vote-b>div:nth-child(1){width: 4.7rem;}
.bander-asd .All-vote>.All-vote-b>div:nth-child(1) img{padding: 0.4rem;width: 100%;height: 100%;}
.bander-asd .All-vote>.All-vote-b>div:nth-child(2){width: 7rem;padding: 0.4rem;}
.bander-asd .All-vote>.All-vote-b>div:nth-child(2)>span{font-size: 0.5rem;padding-top: 1.1rem;display: block;color: gray;text-overflow: -o-ellipsis-lastline;  overflow: hidden;  text-overflow: ellipsis;  display: -webkit-box;  -webkit-line-clamp: 2; -webkit-box-orient: vertical;}
.bander-asd .All-vote>.All-vote-b>div:nth-child(2)>P{overflow: hidden;white-space: nowrap;text-overflow: ellipsis}
.bander-asd .All-vote>.All-vote-b>div:nth-child(3){width:5.3rem;padding: 0.4rem;text-align: center;color: rgb(164,129,52) }
.bander-asd .All-vote>.All-vote-b>div:nth-child(3)>button{width: 100%;height: 1.3rem;border-radius: 1rem;border: none;margin-top: 1.5rem;background: rgb(213,172,108);color: white;}

/*投票3*/
.All-vote-a img{width: 100%;height: 100%;padding: 0.4rem;}
.bander-asd .All-vote>.All-vote-c>div:nth-child(1){width: 4.7rem;}
.bander-asd .All-vote>.All-vote-c>div:nth-child(1) img{padding: 0.4rem;width: 100%;height: 100%;}
.bander-asd .All-vote>.All-vote-c>div:nth-child(2){width: 7rem;padding: 0.4rem;}
.bander-asd .All-vote>.All-vote-c>div:nth-child(2)>span{font-size: 0.5rem;padding-top: 1.1rem;display: block;color: gray;text-overflow: -o-ellipsis-lastline;  overflow: hidden;  text-overflow: ellipsis;  display: -webkit-box;  -webkit-line-clamp: 2; -webkit-box-orient: vertical;}
.bander-asd .All-vote>.All-vote-c>div:nth-child(2)>P{overflow: hidden;white-space: nowrap;text-overflow: ellipsis}
.bander-asd .All-vote>.All-vote-c>div:nth-child(3){width:5.3rem;padding: 0.4rem;text-align: center;color: rgb(164,129,52)}
.bander-asd .All-vote>.All-vote-c>div:nth-child(3)>button{width: 100%;height: 1.3rem;border-radius: 1rem;border: none;margin-top: 1.5rem;background: rgb(213,172,108);color: white;}


/*投票4*/



.bander-asd .All-vote>.All-vote-d>div:nth-child(1){width: 4.7rem;}
.bander-asd .All-vote>.All-vote-d>div:nth-child(1) img{padding: 0.4rem;width: 100%;height: 100%;}
.bander-asd .All-vote>.All-vote-d>div:nth-child(2){width: 7rem;padding: 0.4rem;}
.bander-asd .All-vote>.All-vote-d>div:nth-child(2)>span{font-size: 0.5rem;padding-top: 1.1rem;display: block;color: gray;text-overflow: -o-ellipsis-lastline;  overflow: hidden;  text-overflow: ellipsis;  display: -webkit-box;  -webkit-line-clamp: 2; -webkit-box-orient: vertical;}
.bander-asd .All-vote>.All-vote-d>div:nth-child(2)>P{overflow: hidden;white-space: nowrap;text-overflow: ellipsis}
.bander-asd .All-vote>.All-vote-d>div:nth-child(3){width:5.3rem;padding: 0.4rem;text-align: center;color: rgb(164,129,52)}
.bander-asd .All-vote>.All-vote-d>div:nth-child(3)>button{width: 100%;height: 1.3rem;border-radius: 1rem;border: none;margin-top: 1.5rem;background: rgb(213,172,108);color: white;}


/*投票5*/


.bander-asd .All-vote>.All-vote-e>div:nth-child(1){width: 4.7rem;}
.bander-asd .All-vote>.All-vote-e>div:nth-child(1) img{padding: 0.4rem;width: 100%;height: 100%;}
.bander-asd .All-vote>.All-vote-e>div:nth-child(2){width: 7rem;padding: 0.4rem;}
.bander-asd .All-vote>.All-vote-e>div:nth-child(2)>span{font-size: 0.5rem;padding-top: 1.1rem;display: block;color: gray;text-overflow: -o-ellipsis-lastline;  overflow: hidden;  text-overflow: ellipsis;  display: -webkit-box;  -webkit-line-clamp: 2; -webkit-box-orient: vertical;}
.bander-asd .All-vote>.All-vote-e>div:nth-child(2)>p{overflow: hidden;white-space: nowrap;text-overflow: ellipsis}
.bander-asd .All-vote>.All-vote-e>div:nth-child(3){width:5.3rem;padding: 0.4rem;text-align: center;color: rgb(164,129,52)}
.bander-asd .All-vote>.All-vote-e>div:nth-child(3)>button{width: 100%;height: 1.3rem;border-radius: 1rem;border: none;margin-top: 1.5rem;background: rgb(213,172,108);color: white;}

/*投票6*/

.bander-asd .All-vote>.All-vote-f>div:nth-child(1){width: 4.7rem;}
.bander-asd .All-vote>.All-vote-f>div:nth-child(1) img{padding: 0.4rem;width: 100%;height: 100%;}
.bander-asd .All-vote>.All-vote-f>div:nth-child(2){width: 7rem;padding: 0.4rem;}
.bander-asd .All-vote>.All-vote-f>div:nth-child(2)>span{font-size: 0.5rem;padding-top: 1.1rem;display: block;color: gray;text-overflow: -o-ellipsis-lastline;  overflow: hidden;  text-overflow: ellipsis;  display: -webkit-box;  -webkit-line-clamp: 2; -webkit-box-orient: vertical;}
.bander-asd .All-vote>.All-vote-f>div:nth-child(2)>P{overflow: hidden;white-space: nowrap;text-overflow: ellipsis}
.bander-asd .All-vote>.All-vote-f>div:nth-child(3){width:5.3rem;padding: 0.4rem;text-align: center;color: rgb(164,129,52)}
.bander-asd .All-vote>.All-vote-f>div:nth-child(3)>button{width: 100%;height: 1.3rem;border-radius: 1rem;border: none;margin-top: 1.5rem;background: rgb(213,172,108);color: white;}

@media (min-width:318px) and (max-width:330px)  {
    .bander-asd .footer .Input>div:nth-child(1)>p {
        padding: 0.2rem 0.5rem 0.5rem 0.5rem;
        color: white;
    }
    .bander-asd>.fui-content>.activity>p:nth-child(3) {
        width: 11.5rem;
    }
    .Input input{margin-top: -2rem;}
    .Input select{margin-top: -2rem;}
}