{{include file='common/head.html'}}
<script type='text/javascript'>
var action = '{{$action}}';
</script>
<script type='text/javascript' src='{{$STATIC}}scripts/hosting.js'></script>
<script type='text/javascript'>
	$(document).ready(function(){
		show_productname();
		
	});
</script>

<body bgcolor='#ffffff' text='#000000' leftmargin='0' topmargin='0'>
	<div align="center">
		<div class="wid_main mar_main" align="left">
			<div class="block_top" align="left">当前位置：订单管理 --> 订单列表</div>
			<table class="table_main2" cellpadding="0" cellspacing="1">
				<tr>
					<td colspan="11" class="hg_main">
						<table width="100%" cellpadding="0" cellspacing="0">
							<tr id="bg_yellow">
								<td align="left">
									<form action='{{$action}}' method='post'>
										直达:<input name='page' size='5'>&nbsp;页 <input
											type='submit' value='GO'>
									</form>
								</td>

								<td align="left">
									<form action='{{$action}}' method='post'>
										搜索:<select name='search_value' id='search_key'>
											<option value='name'>订单名称</option>
											<option value='username'>会员账号</option>
										</select> <input name='search_value' size='12' id='search_value'>
										<input type='button' onclick='search_submit()' value='查找'>
									</form>
								</td>

								<td align="right">{{if $page>1}} <a
									href='{{$action}}&page=0&{{$key}}={{$value}}'>首页</a> <a
									href='{{$action}}&page={{$page-1}}&{{$key}}={{$value}}'>上一页</a>
									{{else}} 首页 上一页 {{/if}} {{if $page!=$total_page}} <a
									href='{{$action}}&page={{$page+1}}&{{$key}}={{$value}}'>下一页</a>
									<a href='{{$action}}&page={{$total_page}}&{{$key}}={{$value}}'>尾页</a>
									{{else}}下一页 尾页 {{/if}} {{$page}}/{{$total_page}}&nbsp;
									共计{{$count}}记录&nbsp;
								</td>
							</tr>

						</table>
					</td>
				</tr>
				<tr>
					<td colspan="11" class="bg_main"><b>订单列表</b></td>
				</tr>
				<tr id="bg_yellow">
					<td>操作</td>
					<td>订单名称</td>
					<td>会员</td>
					<td>产品</td>
					<td>模块</td>
					<td>节点</td>
					<td>域名</td>
					<td>开通时间</td>
					<td>到期时间</td>
					<td>状态</td>
				</tr>
				{{foreach from=$list item=row}}
				<tr>
					<td>[<a href='javascript:hosting_del({{$row.id}})'>删除</a>] [<a
						href="?c=hosting&a=editFrom&id={{$row.id}}">修改</a>]
					</td>
					<td>{{$row.name}}</td>
					<td>{{$row.username}}</td>
					<td class='hosting_product_id'>{{$row.product_id}}</td>
					<td>{{$row.module}}</td>
					<td>{{$row.nodename}}</td>
					<td>{{$row.domain}}</td>
					<td title='{{$row.create_time}}'>{{substr($row.create_time,0,10)}}</td>
					<td title='{{$row.expire_time}}'>{{substr($row.expire_time,0,10)}}</td>
					<td><select name='status'
						onchange='change_status({{$row.id}},this.value)'>
							<option value='0' {{if $row.status==0}}selected{{/if}}>正常</option>
							<option value='1' {{if $row.status==1}}selected{{/if}}>暂停</option>
							<option value='10' {{if $row.status==10}}selected{{/if}}>暂停失败</option>
					</select></td>
				</tr>
				{{/foreach}}
			</table>
		</div>
	</div>
</body>
</html>