<!DOCTYPE html>
<html>
<head>
	<title>{$_W['slwl']['lang']['sys_name']}</title>
	<meta name="keywords" content="" />
	<meta name="description" content="">
	{template 'public/header'}

</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
	{template 'public/top'}
	{template 'public/left'}

	<div class="layui-body">
		<div class="layui-main">

			<form class="layui-form fixed" action="" method="post" enctype="multipart/form-data" id="data-form">
				<div class="layui-tab layui-tab-brief" lay-filter="tab">
					<ul class="layui-tab-title">
						<li class="layui-this">首页设置</li>
					</ul>
					<div class="layui-tab-content">
						<!-- 首页设置 -->
						<div class="layui-tab-item layui-show">
							<div class="layui-form-item">
								<label class="layui-form-label">轮播图-状态</label>
								<div class="layui-input-block">
									<input type="radio" name="options[banner_show]" value="1" title="显示"
										{if $settings['banner_show']=='1' }checked{/if}>
									<input type="radio" name="options[banner_show]" value="0" title="隐藏"
										{if empty($settings['banner_show']) }checked{/if}>
								</div>
							</div>
							<div class="layui-form-item">
								<label class="layui-form-label">轮播图-高度</label>
								<div class="layui-input-block">
									<input type="text" class="layui-input" name="options[banner_height]"
										value="{$settings['banner_height']}" placeholder="轮播图-高度一般为310左右" />
								</div>
							</div>
							<div class="layui-form-item">
								<label class="layui-form-label">组合广告-状态</label>
								<div class="layui-input-block">
									<input type="radio" name="options[adgroup_show]" value="1" title="显示"
										{if $settings['adgroup_show']=='1' }checked{/if}>
									<input type="radio" name="options[adgroup_show]" value="0" title="隐藏"
										{if empty($settings['adgroup_show']) }checked{/if}>
								</div>
							</div>
							<div class="layui-form-item">
								<label class="layui-form-label">导航-状态</label>
								<div class="layui-input-block">
									<input type="radio" name="options[nav_show]" value="1" title="显示"
										{if $settings['nav_show']=='1' }checked{/if}>
									<input type="radio" name="options[nav_show]" value="0" title="隐藏"
										{if empty($settings['nav_show']) }checked{/if}>
								</div>
							</div>
							<div class="layui-form-item">
								<label class="layui-form-label">普通文章样式一-状态</label>
								<div class="layui-input-block">
									<input type="radio" name="options[actnews1_show]" value="1" title="显示"
										{if $settings['actnews1_show']=='1' }checked{/if}>
									<input type="radio" name="options[actnews1_show]" value="0" title="隐藏"
										{if empty($settings['actnews1_show']) }checked{/if}>
								</div>
							</div>
							<div class="layui-form-item">
								<label class="layui-form-label">普通文章样式二-状态</label>
								<div class="layui-input-block">
									<input type="radio" name="options[actnews2_show]" value="1" title="显示"
										{if $settings['actnews2_show']=='1' }checked{/if}>
									<input type="radio" name="options[actnews2_show]" value="0" title="隐藏"
										{if empty($settings['actnews2_show']) }checked{/if}>
								</div>
							</div>
							<div class="layui-form-item">
								<label class="layui-form-label">普通文章样式二-标题</label>
								<div class="layui-input-block">
									<input type="text" class="layui-input" name="options[title_actnews2]"
										value="{$settings['title_actnews2']}" placeholder="装修攻略 显示标题" />
								</div>
							</div>
							<div class="layui-form-item style">
								<label class="layui-form-label">普通文章样式二-列表样式</label>
								<div class="layui-input-block flex">
									<input type="hidden" value="{$settings['actnews2_list_style']}" name="options[actnews2_list_style]" id="style-value">
									<div class="one-style {if $settings['actnews2_list_style']=='non-image'}active{/if}" data-val="non-image">
										<div class="img"><img src="{MODULE_URL}template/public/image/list_style/non_image.png" alt="样式一"></div>
									</div>
									<div class="one-style {if $settings['actnews2_list_style']=='scroll-order'}active{/if}" data-val="scroll-order">
										<div class="img"><img src="{MODULE_URL}template/public/image/list_style/scroll_order.png" alt="样式二"></div>
									</div>
									<div class="one-style {if empty($settings['actnews2_list_style']) || $settings['actnews2_list_style']=='column-one'}active{/if}" data-val="column-one">
										<div class="img"><img src="{MODULE_URL}template/public/image/list_style/column_one.png" alt="样式三(默认)"></div>
									</div>
									<div class="one-style {if $settings['actnews2_list_style']=='column-one-extra'}active{/if}" data-val="column-one-extra">
										<div class="img"><img src="{MODULE_URL}template/public/image/list_style/column_one_extra.png" alt="样式四"></div>
									</div>
									<div class="one-style {if $settings['actnews2_list_style']=='column-two'}active{/if}" data-val="column-two">
										<div class="img"><img src="{MODULE_URL}template/public/image/list_style/column_two.png" alt="样式五"></div>
									</div>
									<div class="one-style {if $settings['actnews2_list_style']=='column-two-inner'}active{/if}" data-val="column-two-inner">
										<div class="img"><img src="{MODULE_URL}template/public/image/list_style/column_two_inner.png" alt="样式六"></div>
									</div>
									<div class="one-style {if $settings['actnews2_list_style']=='immersive-dark'}active{/if}" data-val="immersive-dark">
										<div class="img"><img src="{MODULE_URL}template/public/image/list_style/immersive_dark.png" alt="样式七"></div>
									</div>
									<div class="one-style {if $settings['actnews2_list_style']=='immersive-light'}active{/if}" data-val="immersive-light">
										<div class="img"><img src="{MODULE_URL}template/public/image/list_style/immersive_light.png" alt="样式八"></div>
									</div>
								</div>
							</div>
							<div class="layui-form-item">
								<label class="layui-form-label">更多</label>
								<div class="layui-input-block">
									<input type="text" class="layui-input" name="options[titlemore]"
										value="{$settings['titlemore']}" placeholder="更多 显示标题" />
								</div>
							</div>
							<div class="layui-form-item">
								<div class="layui-input-block">
									<button class="layui-btn" lay-submit lay-filter="save">保存</button>
									<input type="hidden" name="token" value="{$_W['token']}" />
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>

			<script>
				layui.use('form', function(){
					var form = layui.form;

					$(document).on('click', '.layui-form-item.style .one-style', function () {
						$('#style-value').val($(this).attr('data-val'));
						$(this).siblings('.active').removeClass('active');
						$(this).addClass('active');
					})

					form.on('submit(save)', function(data){
						let url = "{php echo webUrl('', ['do'=>'website/default'])}";
						var $obj = $(this);

						if (!$obj.hasClass('lock')) {
							$obj.addClass('lock'); // 不能再点击

							$.ajax({
								type: "POST",
								url: url,
								dataType: 'json',
								data: data.field,
								success: function (rs) {

									if (rs && rs.code.toString() === '0') {
										layer.msg('保存成功！' , {
											time: 500
										}, function () {
											window.location.href = "{php echo webUrl('', ['do'=>'website/default'])}";
										});
									} else {
										layer.msg(rs.msg, {
											offset: '20%',
										});
									}
									$obj.removeClass('lock');
								},
								error: function () {
									layer.msg('保存过程发生错误，请与管理员联系', {
										offset: '20%',
									});
									$obj.removeClass('lock');
								}
							});
						}

						return false;
					});
				});
			</script>

		</div>
	</div>

	{template 'public/copyright'}
</div>

{template 'public/footer'}
</body>
</html>
