@media (max-device-width:640px) {
  .float {  
    opacity: 0;
  }
  .shu {
    opacity: 0;
  }
  .strength li {
    width: 100%;
}
  .fea li {
    width: 100%;
}
  .homeNav a {
    float: left;
    padding: 5px 10px;
    font-size: 15px;
    background: #f5f5f5;
    margin: 0 10px 10px 0;
}
  .app li {
    width: 50.0%;
    float: left;
    margin-right: 0%;
    position: relative;
    overflow: hidden;
}
  
  
  
  
  
  
  
  
  
  
  
}