@charset "utf-8";
/*
 * CSS Document
 * name   :base.css v1.0
 * author :tonjay
 * url    :flashnet.cn
 * time   :2017-01-01
 */
@import url("iconfont.css");
@import url("iconfont_1.css");
.iconfont{ font-size: inherit;}
html { font-size: 72.5%;}
body, button, input, select, textarea { color: #444; font-weight: 300; font-size: 1.4rem; line-height: 1.6; word-wrap: break-word; }
a { color: #2a2a2a; text-decoration: none; }
a:hover{ text-decoration: none; }
img {vertical-align: middle; }
button, input, select, textarea { font-size: 100%;  margin: 0; padding: 0;  vertical-align: baseline;  *vertical-align: middle; -webkit-appearance:none; appearance:none; border: none; outline: none; background: inherit;}
textarea { overflow: auto; vertical-align: top;}
.float-box{position:fixed; left: 0; top: 0; right: 0; bottom: 0;}
.fl { float:left; }
.fr { float:right; }
.tl { text-align:left; }
.tc { text-align:center; }
.tr { text-align:right; }
.max-font { font-size: 2rem }
.large-font { font-size: 1.8rem }
.mid-font { font-size: 1.4rem }
.small-font { font-size: 1.2rem }
.min-font { font-size: 1rem }
.mt5{ margin-top:5px;}
.mt8{ margin-top:8px;}
.mt10{ margin-top:10px;}
.mt12{ margin-top:12px;}
.mt15{ margin-top:15px;}
.mt16{ margin-top:16px;}
.mt18{ margin-top:18px;}
.mt20{ margin-top:20px;}
.mr5{ margin-right:5px;}
.mr8{ margin-right:8px;}
.mr10{ margin-right:10px;}
.mr12{ margin-right:12px;}
.mr15{ margin-right:15px;}
.mr16{ margin-right:16px;}
.mr18{ margin-right:18px;}
.mr20{ margin-right:20px;}
.mb5{ margin-bottom:5px;}
.mb8{ margin-bottom:8px;}
.mb10{ margin-bottom:10px;}
.mb12{ margin-bottom:12px;}
.mb15{ margin-bottom:15px;}
.mb16{ margin-bottom:16px;}
.mb18{ margin-bottom:18px;}
.mb20{ margin-bottom:20px;}
.ml5{ margin-left:5px;}
.ml8{ margin-left:8px;}
.ml10{ margin-left:10px;}
.ml12{ margin-left:12px;}
.ml15{ margin-left:15px;}
.ml16{ margin-left:16px;}
.ml18{ margin-left:18px;}
.ml20{ margin-left:20px;}
.pt5{ padding-top:5px;}
.pt8{ padding-top:8px;}
.pt10{ padding-top:10px;}
.pt12{ padding-top:12px;}
.pt15{ padding-top:15px;}
.pt16{ padding-top:16px;}
.pt18{ padding-top:18px;}
.pt20{ padding-top:20px;}
.pr5{ padding-right:5px;}
.pr8{ padding-right:8px;}
.pr10{ padding-right:10px;}
.pr12{ padding-right:12px;}
.pr15{ padding-right:15px;}
.pr16{ padding-right:16px;}
.pr18{ padding-right:18px;}
.pr20{ padding-right:20px;}
.pb5{ padding-bottom:5px;}
.pb8{ padding-bottom:8px;}
.pb10{ padding-bottom:10px;}
.pb12{ padding-bottom:12px;}
.pb15{ padding-bottom:15px;}
.pb16{ padding-bottom:16px;}
.pb18{ padding-bottom:18px;}
.pb20{ padding-bottom:20px;}
.pl5{ padding-left:5px;}
.pl8{ padding-left:8px;}
.pl10{ padding-left:10px;}
.pl12{ padding-left:12px;}
.pl15{ padding-left:15px;}
.pl16{ padding-left:16px;}
.pl18{ padding-left:18px;}
.pl20{ padding-left:20px;}
.p5{ padding: 5px;}
.p8{ padding: 8px;}
.p10{ padding:10px;}
.p15{ padding:15px;}
.p20{ padding:20px;}
.m5{ margin: 5px;}
.m8{ margin: 8px;}
.m10{ margin:10px;}
.m15{ margin:15px;}
.m20{ margin:20px;}

html .delay2{-webkit-animation-delay: 0.2s;animation-delay: 0.2s;}
html .delay3{-webkit-animation-delay: 0.3s;animation-delay: 0.3s;}
html .delay4{-webkit-animation-delay: 0.4s;animation-delay: 0.4s;}
html .delay5{-webkit-animation-delay: 0.5s;animation-delay: 0.5s;}
html .delay6{-webkit-animation-delay: 0.6s;animation-delay: 0.6s;}
html .delay7{-webkit-animation-delay: 0.7s;animation-delay: 0.7s;}
html .delay8{-webkit-animation-delay: 0.8s;animation-delay: 0.8s;}
html .delay9{-webkit-animation-delay: 0.9s;animation-delay: 0.9s;}
html .delay10{-webkit-animation-delay: 1s;animation-delay: 1s;}
html .delay11{-webkit-animation-delay: 1.1s;animation-delay: 1.1s;}
html .delay12{-webkit-animation-delay: 1.2s;animation-delay: 1.2s;}
html .delay13{-webkit-animation-delay: 1.3s;animation-delay: 1.3s;}
html .delay14{-webkit-animation-delay: 1.4s;animation-delay: 1.4s;}
html .delay15{-webkit-animation-delay: 1.5s;animation-delay: 1.5s;}
html .delay16{-webkit-animation-delay: 1.6s;animation-delay: 1.6s;}
html .delay17{-webkit-animation-delay: 1.7s;animation-delay: 1.7s;}
html .delay18{-webkit-animation-delay: 1.8s;animation-delay: 1.8s;}
html .delay19{-webkit-animation-delay: 1.9s;animation-delay: 1.9s;}
html .delay20{-webkit-animation-delay: 2s;animation-delay: 2s;}
html .delay21{-webkit-animation-delay: 2.1s;animation-delay: 2.1s;}
html .delay22{-webkit-animation-delay: 2.2s;animation-delay: 2.2s;}
html .delay23{-webkit-animation-delay: 2.3s;animation-delay: 2.3s;}
html .delay24{-webkit-animation-delay: 2.4s;animation-delay: 2.4s;}
html .delay25{-webkit-animation-delay: 2.5s;animation-delay: 2.5s;}
html .delay26{-webkit-animation-delay: 2.6s;animation-delay: 2.6s;}
/*button 样式*/
.comm-btn{white-space: nowrap;display: inline-block;height:36px; line-height:36px;padding: 0 18px;box-shadow: 0 1px 10px rgba(50,50,93,.11), 0 1px 10px rgba(0,0,0,.08); background: #fff; border-radius:3px; letter-spacing:1px; color: #09bb07; text-decoration: none; cursor: pointer;}
.comm-btn:hover{color:#37c637; text-decoration: none; transform: translateY(-1px); box-shadow: 0 7px 16px rgba(50,50,93,.1), 0 3px 16px rgba(0,0,0,.08); opacity: 0.85;}
.comm-btn.primary{ background: #1da6ea;border:1px solid #1da6ea; color: #fff;box-shadow: 0 1px 10px rgba(29,166,234,.4), 0 1px 10px rgba(29,166,234,.3);}
.comm-btn.primary:hover{box-shadow: 0 7px 16px rgba(29,166,234,.4), 0 3px 16px rgba(29,166,234,.3);}
.comm-btn.warn{ /*background: #E64340;*/border:1px solid #bbb; color: #000;}
/*color*/
.green{ color: #09bb07;}
.red{ color: #E64340;}
.grey{ color: grey;}
.blank{ color:white;}
/*公用css动画效果*/
a,.menu a:after,.fea i,.fea li:after,.app a img,.scenes li span,.daicon li span,.app span.demo,.tab li,.case-box,.test-app,.test-app img,.daili-list i,.daili-list,.ganyan .text,.ganyan img,.daicon ol li,a.uline:after,.more:after,.apply input,.swiper-pagination-switch{transition: all .3s ease;}
a.uline{ position: relative;}
a.uline:hover{text-decoration: none; margin-left:3px;}
a.uline:after{ content: ""; display:block; position:absolute; left:0; bottom: 0; width: 0; /*border-bottom: 1px solid #9c9c9c;*/}
a.uline:hover:after{ width: 100%;}
/*a:hover, a:focus, a:active{ color:#1da6ea;}*/
html{ background: #fff;}
html,body{ min-width: 100%;}
.wrap{ width: 100%; max-width: 1280px; margin-left: auto; margin-right: auto;}

.header{ padding: 0 2%; background: #fff; position: fixed; left: 0; top: 0; right: 0; z-index: 998; height: 80px;box-shadow: 0 0 15px rgba(0,0,0,0.1);}
.logo a{ height: 54px; width: 192px; display: block; overflow: hidden; margin-top: 8px;}
.logo .video{ width: 116px; height: 40px; display: inline-block; background: url(../images/video.png) 15px center no-repeat; padding-left: 15px; margin-left: 15px; border-left: 1px solid #eee; vertical-align: top; margin-top: 20px; cursor: pointer;}
.userBtn{ padding: 22px 0;}
.menu li,.userBtn li{ float: left;position: relative;}
.userBtn li{ margin-left: 15px;}
.menu{ font-size: 18px; overflow: hidden;}
.menu a{ display: block; color: #000; padding: 0 20px; line-height: 79px; position: relative;}
.menu a:after{ content: ""; display: block; position: absolute; left: 0; top: 0; width:0%; height: 3px;background: #09BB07;}
.menu a.active,.menu a.active:hover{color: #3f8cd7;background: #f5f5f5;border-top: 1px solid #3f8cd7;}
.menu a:hover{ background: #f5f5f5;}
.menu li img{position: absolute;top: 8px;right: 4px;width: 24px;}

.focus{ height: 500px; background-position: center center; background-repeat: no-repeat;}
.fea{ background: #f5f5f5;}
.fea li{ width: 18%; padding: 50px 1%; position: relative; float: left;}
.fea i{position: relative;box-shadow: 0 0 10px rgba(3,169,244,.8); width: 100px; height: 100px; line-height: 100px; font-size: 50px; text-align: center; display:block; margin: 0 auto; background-color:#09BB07; border-radius: 50%; color: #fff;}
.fea i:before{text-shadow: 0 0 10px rgba(0,0,0,.1);}
.fea i:after {width: 120px;height: 120px;content: '';display: block;border-radius: 50%;border: 1px dashed #1da6ea;
position: absolute;top: 50%;left: 50%;-webkit-transform: translate(-50%,-50%);transform: translate(-50%,-50%);}
.fea h3{ margin: 30px 0 10px; color: #000; text-align: center;text-shadow: 0 0 10px rgba(0,0,0,.1);}
.fea p{ font-size: 14px; opacity: 0.7;}
.fea li:hover i{transform: scale(0.9);}
.fea li:after{ position: absolute; left: 0; top: 0; content: ""; display: block; width: 100%; height: 100%;background:linear-gradient(rgba(0,0,0,0.05),rgba(0,0,0,0)); opacity: 0;}
.fea li:hover:after{ opacity: 1;}
.app,.scenes,.market,.daili,.case,.mColum,.foot,.youshi{ padding: 60px 0;}

.homeTit{ padding: 0 0 40px; text-align: center; position: relative;}
.homeTit h2{/* background-image:linear-gradient(90deg,#09BB07,#00c0ff); -webkit-background-clip: text;  -webkit-text-fill-color: transparent; display: inline-block;*/ font-size:36px; position: relative; line-height: 110%;text-shadow: 0 0 10px rgba(0,0,0,.1);}
/*.homeTit h2:after{ content: ""; display: block; left: 0; bottom: 0; height:1px; width: 100%; background-image:linear-gradient(90deg,#09BB07,#00c0ff);}*/
.homeTit p{ opacity: 0.7;}
.homeTit .more{ position: absolute; top: 0; right: 0; z-index: 1;}
.app li{ width: 23.8%; float: left; margin-right: 1.6%; position: relative; overflow: hidden;}
.app li:hover a{ opacity: 0.7; box-shadow: 0 0px 14px rgba(0,0,0,.3);}
.app li:hover a.B{box-shadow: 0 0px 14px rgba(0,0,0,0);}
.app ul a{ display: block; overflow: hidden; position: relative;}
.app ul h3{ margin: 15px 0 10px; font-weight: bold;}
.app ul p{ height: 36px; line-height: 18px; font-size: 14px; opacity: 0.7;}
.app span.demo{ border: 1px solid #f5f5f5; margin-top: 10px; vertical-align: middle; color:#888; border-radius: 3px; padding: 4px 10px; font-size: 14px; cursor: pointer; display: none;}
.app span.demo:hover{ border-color: #09BB07; color: #09BB07;}
.app .ma{ position: absolute; left:50%; top:50%; margin: -80px 0 0 -80px; border-radius: 3px; box-shadow:2px 4px 25px rgba(0,0,0,0.3); width: 160px; height: 160px; display: none; animation: appma ease 0.3s forwards;}
@keyframes appma{
	from{transform: scale(1.2); opacity: 0;}
	to{transform: scale(1); opacity: 1;}
}

.scenes,.case{ border-top: 1px solid #eee;}
.scenes li{ float: left; background: #000; position: relative; box-shadow: 0 0 200px rgba(0,0,0,0.8) inset;}
.scenes li span{ position: absolute; width: 100%; height: 100%; top: 0; right: 0; background-position: center center; background-repeat: no-repeat; background-size:cover; opacity: 0.7;}
.scenes .li-1{ width:40%; padding-bottom: 40%;}
.scenes .li-2{ width: 29%; padding-bottom:19.5%; margin-left: 1%;}
.scenes li:hover span{ opacity: 0.4;}
.scenes .texts{ position: absolute; left:20px; right: 20px; bottom: 20px; text-shadow: 1px 1px 3px rgba(0,0,0,0.2); color: #fff; z-index: 1;}
.scenes h3{ font-size: 24px; margin-bottom: 10px;}
.scenes .texts p{ display: none;}

.market{ background: #f5f5f5;}
.market li{ float: left; width: 30%;}
.market li:nth-child(n+2){ margin-left: 5%;}
.market li h3{ text-align: center; padding-bottom: 15px;}
.market li p{ font-size: 14px; opacity: 0.7;}

.daili{ background: url(../images/dai.jpg) center top no-repeat;}
.daili .homeTit{ padding:20px 0 60px; color:#1da6ea;}
.daili-list{color: #ccaf29;}
.daili-list i{ width: 100px; height: 100px; line-height: 100px; text-align: center; font-size: 60px; border: 1px solid rgba(90,160,211,0.3); border-radius: 50%; display: block; margin: 0 auto; margin-bottom: 20px;}
.daili-list li{width: 18%; float: left; cursor: default; margin-right:2.5%;}
.daili-list li h3{ text-align: center; padding-bottom: 15px;}
.daili-list li p{ font-size: 14px; opacity: 0.7;}
.daili-list li:hover i{transform:rotate(45deg); background: rgba(255,255,255,0.1);}
.daili-list li:hover{ color: #fff;}
.daicon{ background: #fff; margin-top: 50px; padding: 5%; box-shadow: 0 0 25px rgba(0,0,0,.2);}
.daicon ul.lc{ margin: 20px 0; position: relative;}
.daicon ul.lc:before{ content: ""; display:block; position: absolute; top:52px; left:10%; right:10%; border-bottom: 2px solid #1da6ea;}
.daicon ul.lc li{ float: left; width: 20%; padding:30px 0; cursor:default; border-radius:10px;}
.daicon ul.lc span{ display: block; width: 46px; height: 46px; text-align:center; line-height: 46px; color: #1da6ea;border: 2px solid #1da6ea;box-shadow: 0 0 10px rgba(29,166,234,.4); background: #fff; border-radius: 50%; margin: 0 auto; position: relative; z-index: 1; font-size: 22px;}
.daicon ul.lc h3{ margin: 15px 0; text-align: center;color:#636161;}
.daicon ul.lc p{ font-size: 14px; opacity: 0.7; padding: 0 15px;}
.daicon ul.lc li:hover span{ background:#1da6ea; color: #000; transform: scale(1.3);box-shadow: 0 1px 10px rgba(29,166,234,.4), 0 1px 10px rgba(29,166,234,.3);}
.daicon ul.lc li:hover h3{ color:#000;}
.daicon ul.lc li:hover p{ opacity: 0.9;}
.daicon ol a{ line-height:36px;}


.tab li{ float: left; border: 1px solid #eee; padding: 4px 15px; margin-right: 10px; cursor: pointer;}
.tab li:hover{ border-color: #09BB07; color: #09BB07;}
.tab li.active{ background: #09BB07; color: #fff; border-color: #09BB07;}

.test-app{ filter:alpha(opacity=0); opacity:0; background: rgba(255,255,255,1); border-radius: 3px; position:absolute; left: 0; top: 0; right:20px; bottom: 0;}
.test-app img{ width:160px; height: 160px; border-radius: 3px; position: absolute; left: 50%; top: 50%; margin: -80px 0 0 -80px;}

.caselist li{ width: 16%; background: #fff; margin-right: 0.8%; margin-top:2%; float: left; position: relative;    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); overflow: hidden;}
.caselist li .grey{ opacity: 0.6;}
.caselist li h2,.case-use{ overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.case-use span{ background: #eee; cursor:default; border-radius: 100px; font-size: 12px; padding:3px 8px;}
.case-use span:hover{ background: #09BB07; color: #fff;}
.casema{ position: absolute; left: 0; top:0; right: 0; bottom: 0; background: #fff; z-index: 1; opacity: 0; transition: all ease 0.3s;}
.casema img{ position: absolute; left: 50%; top: 100%; margin: -90px 0 0 -90px; transition: all ease 0.3s;}
.caselist li:hover .casema{ opacity: 1;}
.caselist li:hover .casema img{ top: 50%;}
.case{ background: #f5f5f5;}

@media (max-device-width:640px) {
.caselist{ padding:0 4%;}
.caselist li{ width:48%; margin-right:4%; margin-top:4%;}
.caselist li:nth-child(2n){ margin-right:0;}
}

.youshi{ border-top: 1px solid #eee;}
.youshi .con{ margin-bottom: 30px;}
.youshi .con li{ width:48%; float: left;}
.youshi .box{ padding-left: 120px;}
.youshi .con img{ width: 90px; height: 90px; float: left; margin-top: 15px; margin-left: -120px;}
.youshi .con h3{ font-size: 20px;}
.youshi .con p{ opacity: 0.7;}

.aqcon{ border-top: 1px solid #eee; display: none; padding-top: 50px;}
.apply{ width: 50%; float: left; border-right: 1px solid #eee;}
.apply li{ margin-top: 15px;}
.apply .tit{ float: left; width: 100px; height: 38px; line-height: 38px; text-align: right; margin-right: 15px;}
.apply input{ width: 250px; padding: 0 10px; height: 36px; line-height: 36px; border: 1px solid #eee;}
.apply input:focus{ border: 1px solid #09BB07; color: #09BB07; box-shadow: 0 0 15px #09BB07;}
.apply button{ line-height: 46px; height: 46px; padding: 0 35px;}
.que{ width: 46%; float: right;}

.mColum{/* background: #f5f5f5; */margin-top: 50px;}
.mColum .colum-item{ width: 32%; float: left;}
.mColum .colum-item:nth-child(n+2){ margin-left: 2%;}
.more{ font-size: 14px; position: relative; padding-left: 6px;}
.more:after{ display:inline-block; content: ""; margin: 6px 6px 0; border:5px solid; border-color: transparent transparent transparent #999; vertical-align:top;}
.More .more:after{vertical-align:inherit;}
.more:hover{ text-decoration: none; color: #9c9c9c; box-shadow: 0 1px 5px rgba(50,50,93,.11), 0 1px 5px rgba(0,0,0,.08);}
.more:hover:after{ margin: 6px 4px 0; border-color: transparent transparent transparent #9c9c9c;}
.colum-news li{ margin-top:8px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.colum-news li a:hover,.colum-news li a:hover strong{color:#9c9c9c;}
.ganyan .con{ min-height:660px; background: url(../images/yanbg.png) center center no-repeat; position: relative;}
.ganyan .item{ width: 280px; position: absolute; padding-top:25px;}
.ganyan .text{ border: 1px solid #eee; background: #fff; border-radius: 5px; box-shadow: 2px 4px 12px rgba(0,0,0,0.1); padding: 15px; margin-left: 30px; cursor: pointer;}
.ganyan .item:hover .text{color: #09BB07; border-color: #09BB07; box-shadow: 0px 0px 16px rgba(0,0,0,0.2);}
.ganyan .item:hover .text:active{ background: #09BB07; color: #fff;}
.ganyan .item img{ border-radius: 50%; box-shadow: 0 0 0 5px #eee; position: absolute; left: 0; top: 0;}
.ganyan .item:hover img{ box-shadow: 0 0 0 3px #09BB07; transform: scale(1.1);}
.ganyan .item h3{ position: absolute; left: 60px; top:0px; color: #999;}

.foot{ background: #2d3036; color: #fff;}
.foot .content{margin: 0 86px;}
.foot .content li{float: left;margin: 0 30px;}
.foot .content h3{position: relative;display: inline-block;line-height: 44px;}
.foot .content h3:before{content: '';display: block;position: absolute;bottom: 0;left: 0;width:100%;height:1px;background: #585858;}
.foot .content dl{margin-top: 10px;}
.foot .content dd,.foot .content dd > a,.foot .hotClik a{color:#a2a2a2;}
.foot .hotClik{border-top: 1px solid #585858;border-bottom: 1px solid #585858;height: 50px;line-height: 50px;margin: 25px 0;}
.foot .hotClik li{display: inline-block;margin: 0 10px;}

.float{ width: 140px; padding: 10px; background: #fff; position: fixed; left: 20px; top: 50%; box-shadow: 2px 6px 30px rgba(0,0,0,0.2); margin-top:-220px; z-index: 99; -border:1px solid #eee;}
.float:after{ content: ""; display: block; position: absolute; left: 0; top: 0; height: 3px; width: 100%; background: #1da6ea; background-image: linear-gradient(90deg,#1da6ea,#ff9a44);}
.float hr{ margin:20px 0 15px; border-color: #eee; height: 1px;}
.float h2{ margin: 10px 0 4px;}
.float .qq a{ border: 1px solid #ddd; display: block; border-radius: 100px; padding: 6px 0 6px 40px; font-size: 14px; line-height: 22px; position: relative; background: url(../images/qq.png) 15px center no-repeat; margin-top: 10px;}
.float .qq a:hover{ border-color: #1da6ea; box-shadow: 0 7px 14px rgba(253,208,0,.1), 0 3px 6px rgba(253,208,0,.08);}
.float .phone p{ margin-top:5px;}

/*login & reg*/
.popup{ position: fixed; left: 0; top: 0; right: 0; bottom: 0; background:rgba(0,0,0,0.8); z-index: 9999; display: none;}
.popup-box{ position: absolute; left: 50%; top:50%; margin: -260px 0 0 -180px; width: 360px; background: #fff; border-radius: 5px;}
.popup-box li{height: 52px;line-height: 52px;position: relative;}
.popup li>input{width:100%;height:100%;border-bottom: 1px solid #eee;padding:0px 18px;}
.popup li>input:focus{ background:rgba(9,187,7,0.15); color: #09BB07; padding: 0 15px 0 23px;}
.popup .getYzm{position: absolute;top:7px;right: 8px;box-shadow:inherit;}
.login_btn{width:100%;height: 45px;line-height: 45px;font-size: 1.4rem;}
.close{position: absolute;top:-18px;right: -18px;background: #fff; width:36px;height: 36px;line-height: 36px;border-radius:50%;box-shadow: 1px 2px 5px rgba(0,0,0,0.2); font-size: 14px; text-align: center; cursor: pointer; z-index: 1;}
.close:hover{ background:#eee; color: #09BB07;}
.close:active{ background: #ccc; color: #000;}
.main-body.active{ -webkit-filter: blur(10px);}
.popup.active{ display: block;}
.popup h3{ color: #fff; color: #fff; border-radius: 5px 5px 0 0;}
.popup-reg h3{ background: #09BB07; background: linear-gradient(20deg, #09BB07, #2bc792);}
.popup-login h3{background: #E64340; background: linear-gradient(20deg, #E64340, #dca74a);}

.remember{ -webkit-appearance: none; appearance: none; width: 18px; height: 18px; vertical-align: top; margin-top: 17px; border: 1px solid #ccc; position: relative; padding: 0;}
.remember:checked{ border:1px solid #2f9833;}
.remember:checked:after{ content:""; display: block; border:2px solid; border-color: transparent transparent #2f9833 #2f9833; width:12px; height:8px; position: absolute; left: 50%; top: 50%; -webkit--webkit-transform: translate(-75%,-60%) rotate(-45deg);-webkit-transform: translate(-75%,-60%) rotate(-45deg); -webkit--webkit-transform-origin: center top;-webkit-transform-origin: center top; border-radius: 3px;}

/*Slider*/
.swiper-container{ height: 500px; background: #666;}
.pagination { position: absolute; z-index: 20; left: 50%; width: 140px; text-align: center; margin-left: -70px;  bottom: 20px; }
.swiper-pagination-switch { display: inline-block; width: 10px; height: 10px; border-radius: 10px; margin-right: 5px; opacity: 0.8; border: 1px solid #fff; cursor: pointer; }
.swiper-visible-switch { background: #aaa; }
.swiper-active-switch { background: #fff; width:30px; }
.swiper-container .focus{ display: block; width: 100%; height: 100%; background-origin: center center; background-repeat: no-repeat;  background-size: cover;}

/*视频 */
.video-box{ position: absolute; left: 50%; top:50%; margin: -225px 0 0 -400px;  width: 800px; height: 450px; border-radius: 5px; background: #fff;}
.video-main{ width: 100%; height: 100%; overflow: hidden;}

.popup{ -webkit-animation: popupbg 0.4s ease forwards;  -webkit-opacity: 0;}
@-webkit-keyframes popupbg {
  0% { -webkit-opacity: 0;}
  100%{ -webkit-opacity: 1;}
}
.popup .popup-box,.popup .video-box{ -webkit-animation: popup 0.4s ease forwards; -webkit-transform: translateY(20%); -webkit-opacity: 0;}
@-webkit-keyframes popup {
  0% { -webkit-transform: translateY(20%); -webkit-opacity: 0;}
  100%{ -webkit-transform: translateY(0); -webkit-opacity: 1;}
}

@media only screen and (max-width: 1336px) {
	.header{ padding: 0 2%;}
	.menu a{ padding: 0 10px 0 15px;}
}

.book{ position: fixed; right: 20px; top: 50%; margin-top: 50px; display: block; z-index: 99;}
.book img{ border-radius: 3px; box-shadow: 0 0 0 2px #fff;}

.soc{margin-top: 60px;}
/*学院 */
.collegeBox{border-top: 1px solid #eee;padding-top: 60px;}
.collegeBox .tit{border-bottom:3px solid #489DFF;}
.collegeBox .TitFla a{border-radius: 3px 3px 0 0;padding:15px 24px;display: inline-block;}
.collegeBox .TitFla a.active,.college .TitFla a:hover{background: #489dff;color:#fff;box-shadow: 3px 0 10px rgba(72,157,255,.3);}
.collegeBoxMin .fla{width:295px;}
.collegeBoxMin .fra{margin:30px 0 0 320px;}
.collegeBoxMin ul{margin-right: -60px;display: none;}
.collegeBoxMin ul.active{display: block;}
.collegeBoxMin li{float: left; margin: 0 27px 30px 0;width: 220px;}
.collegeBoxMin li:hover,.ViDe .ViDeUn li:hover{opacity: 0.7;}
.collegeBoxMin h3{margin-top: 20px;overflow: hidden;text-overflow:ellipsis;
white-space: nowrap;}
.collegeBoxMin p,.ViDeUn p{font-size: 14px;color:#969696;}

/*导航 */
.header .Module{position: fixed;top: 80px;left: 0;z-index:99999;width:100%;height:0;background: #fff;text-align: center;overflow: hidden;-webkit-transition: all 1s;transition: all .5s;}
.header .Module.active{height: 600px;padding-top: 30px;border-top: 1px solid #ccc;}
.header .fuwu .Module,.header .about .Module{text-align: right;}
.header .job .List,.header .services .List{float: right;}
.header .about .List,.header .job .List{padding-right: 175px;}
.header .fuwu .List,.header .services .List{padding-right: 272px;}
.header .ModuleMin{display: inline-block;width: 100%;}
/*.header .services .Module,.header .job .Module{left:0;position: relative;top: 0;}
.header .services .ModuleMin,.header .job .ModuleMin{width: 112px;position: absolute;top: 0;left: 0;}
.header .services .Module.active{height: 170px;padding-top:0;border:none;}
.header .job .Module.active{height: 150px;padding-top:0;border:none;}*/
.header .Module .List{margin: 0 10px;display: inline-block;vertical-align: top;}
/*.header .services .List,.header .job .List{margin:0;}*/
.header .Advertisement dd,.header .services dd,.header .job dd{float: left;padding: 0 15px;}
.header .Advertisement .Module.active,.header .services .Module.active,.header .job .Module.active{height: auto;padding-bottom: 30px;}
.header .List h3 {font-size: 16px;font-weight: 600;border-bottom: 1px solid #ccc;height: 40px;margin-bottom: 15px;}
.header .List h3 a{color:#3F8CD1;}
/*.header .List dl{margin-top: 20px;}*/
.header .services .List dl{margin-top:10px;}
.header .List a{line-height: 36px;}
.header .List a:hover{background:none;text-decoration: underline;color:#3F8CD1;}
.header .List dd{font-size: 16px;text-align: left;margin: 0;position: relative;}
.header .List dd:before{content: '';display: block;border:4px solid;border-color:#039BE5 #039BE5 transparent transparent;-webkit-transform: rotate(45deg);transform: rotate(45deg);position: absolute;top:15px;left: 0;}

/*视频 */
.videoFive_up{margin-top: 60px;}
.videoFive .fla{width: 638px;height: 370px;}
.videoFive .fra{margin-left: 690px;padding: 42px 0;}
.videoFive .videoFive h2{font-size: 30px;font-weight: bold;margin-bottom: 30px;}
.videoFive .conBtn{margin-top: 40px;}
.videoFive .conBtn a{float: left;height: 50px;line-height: 50px;padding: 0 30px;margin-right: 40px;}
.videoFive .videoFive_un{margin: 60px 0;}
.videoFive .videoFive_un li{float: left;width:25%;}
.videoFive .videoFive_un i{width:100px;height: 100px;line-height:100px;background: #1da6ea;box-shadow: 0 0 10px rgba(253,208,0,.8);border-radius: 50%;display:block;margin: 0 auto;font-size: 50px;color:#fff;}
.videoFive .videoFive_un span{display: block;margin-top: 10px; font-size: 18px;}

/*学院详情页 */
.ViDe{height: 100%;}
.ViDe .ViDeUn{padding:30px;background:#fff;box-shadow: 0 0 14px rgba(0,0,0,.1);}
.ViDe .ViDeUn .fla{width:790px;height:410px;overflow: hidden;}
.ViDe .ViDeUn .fra{margin-left:820px;}
.ViDe .ViDeUn h3{margin-top: 20px; overflow:hidden; text-overflow:ellipsis;white-space:nowrap;}
.ViDe .ViDeUn ul{margin-right: -30px;}
.ViDe .ViDeUn li{margin-right: 20px;float: left;margin-bottom: 20px;width: 45%;}

.ViDe .VideoDetails{margin-top: 50px;padding-top: 30px;border-top:1px solid #F5F5F5;text-align: center;}
.ViDe .VideoDetails h2,.ViDe .VideoDetails p{text-align: left;}
.ViDe .VideoDetails h2{margin-bottom: 15px;font-weight: 600;}
.ViDe .VideoDetails p{margin: 20px 0;}
.ViDe .VideoDetails img{max-width: 100%;display: inline-block;}

.super_header,.super_Drag,.super_view,.super_Interface,.super_industry,.super_Mass,.super_vocation,.super_case{width:100vw;}
.super_header{background: url(../images/super_bg.png) top center no-repeat; background-size: 100% auto;}
.super_header .super_Min{padding-top: 200px;}
.super_header .text{margin-bottom: 100px;}
.super_header h2{font-size: 44px;font-weight: bold;}
.super_header p{font-size: 18px;}
.super_header .super_img {width: 1200px;margin: 0 auto;}

/*拖拽创建小程序UI，一键上线小程序*/
.super_Drag{padding: 90px 0;}
.super_view,.super_Mass,.super_vocation,.super_case{padding: 150px 0;}
.super_Drag{background: #fafafa;margin-top: 150px;}
.super_Drag .fla{width:638px;height: 370px;}
.super_Drag .fla video{width: 100%;height: 370px;}
.super_Drag .fra{padding: 66px 70px 66px 0;}
.super_Drag h2,.super_view h2,.super_Interface h2,.super_Mass h2,.super_industry h2,.super_vocation h2{font-size: 30px;font-weight: 500;margin-bottom: 10px;}
.super_Drag p,.super_view p,.super_Interface p,.super_Mass p,.super_industry p,.super_vocation p{font-size: 16px;opacity: 0.7;padding-bottom: 60px;}
.super_Drag .conBtn a{border-radius: 3px;background: #1da6ea;display: inline-block;padding: 12px 31px;text-align: center;font-size: 16px;color:#333;margin-right: 50px;box-shadow: 0 1px 10px rgba(29,166,234,.4), 0 1px 10px rgba(29,166,234,.3);position: relative;}
.super_Drag .conBtn .size{display:none;position:absolute;top: -24px;left: -11px;}
.super_Drag .conBtn .size.active{display: block;}


/*海量预置组件，富媒体多元化展现*/
.super_view,.super_Interface,.super_industry{position: relative;}
.super_view .supersuspend{position: absolute;top: -70px;left: -7px;}
.super_view .fra{padding: 86px 180px 86px 44px;}

/*界面个性化设置，自由绑定跳转链接，打破模板框架*/
.super_Interface .fra{padding: 100px 0 100px 44px;}
.super_Interface .supersuspend{position: absolute;top:40PX;right: -7px;}

/*海量预置组件，富媒体多元化展现*/
.super_Mass .fra{padding: 110px 0 110px 44px;}

/*业界领先的小程序解决方案*/
.super_industry .fra{padding: 102px 0 102px 44px;}
.super_industry .supersuspend{position: absolute;bottom:-200px;top:inherit;left: -7px;}

/*行业独家，支持单页面导入多款行业模块*/
.super_vocation .fra{padding: 120px 0 44px 120px;}
.super_vocation p{padding: 0;}

/*案例展示*/
.super_case{background: url(../images/super_casebg.png) center center no-repeat;padding: 90px 0;}
.super_case .super_caseL{background: #fff;padding: 20px;border-radius: 50%;}
.super_case .super_caseL img{width: 140px;height: 140px;object-fit: cover;border-radius: 50%;}
.super_case .super_caseR{margin-left: 260px;padding: 40px 0;}
.super_case .super_caseR h3{font-size: 24px;margin-bottom: 10px;}

/*Slider*/
.super_case .swiper-container{height: 260px;background: none;margin-top: 50px;width: 880px;overflow: hidden;}

/*什么是运营中心*/
.Operate_about{position: relative;}
.Operate_about .fla{width: 47%;}
.Operate_about .info{width:41%;background: #fff;box-shadow:0 0 20px rgba(0,0,0,.1);padding: 34px;position: absolute;bottom: 80px;left: 40%;}
.Operate_about .info h3{font-size: 36px;border-bottom: 1px solid #f5f5f5;line-height: 70px;position: relative;}
.Operate_about .info h3:before{content: '';display: block;width:110px;height: 1px;background: #309bff;position: absolute;bottom: -1px;left: 0;}
.Operate_about .info p{padding: 30px 0;}
.Operate_about .info a{background: #1da6ea;padding: 10px 50px;border-radius: 3px;display:inline-block;color:#000;box-shadow: 0 1px 10px rgba(29,166,234,.4), 0 1px 10px rgba(29,166,234,.3);}
.Operate_about .info a:hover{-webkit-transform: translateY(-3px);transform: translateY(-3px);-webkit-transition: all 0.4s linear;transition: all 0.4s linear;}

/*四川省运营中心*/
.Operate_map, .Operate_service,.investment_cooperation{background: url(../images/bg.jpg) top center repeat;}
 .Operate_about, .Operate_box, .Operate_Right, .Operate_Expand,.investment_cooperation,.investment_Support,.investment_map,.investment_prospect,.investment_cooperation,.investment_Start,.Support,.service_info{padding: 80px 0;}
.Operate_map{margin: 0;padding: 0;}
.Operate_map .fla{width: 45%;}
.Operate_map .fra{margin-left: 50%;padding: 174px 0;}
.Operate_map .fra h3, .college_about h3{font-size: 36px;}
.Operate_map .fra a{width: 200px;height: 50px;line-height: 50px;margin-top: 20px;}

.Operate_video{position: fixed;top: 0;left: 0;z-index: 999;display: none;background: rgba(0,0,0,.6);width:100%;height: 100%;}
.Operate_video.active{display: block;}
.Operate_video .Operate_video_box,.Operate_video i:before,.Operate_video i:after{position: absolute;top: 50%;left: 50%;-webkit-transform: translate(-50%,-50%);transform: translate(-50%,-50%);}
.Operate_video .Operate_video_box{width:640px;height: 368px;}
.Operate_video i{width: 30px;height: 30px;display: block;border: 1px solid #fff;border-radius: 50%;position: absolute;top: -40px;right:-40px;z-index: 9999;cursor: pointer;}
.Operate_video i:before,.Operate_video i:after{content: '';display: block;width:1px;height: 20px;background: #fff;}
.Operate_video i:before{-webkit-transform: translate(-50%,-50%) rotate(45deg);transform: translate(-50%,-50%) rotate(45deg);}
.Operate_video i:after{-webkit-transform: translate(-50%,-50%) rotate(-45deg);transform: translate(-50%,-50%) rotate(-45deg);}

/*运营中心3大权利*/
.Operate_Right ul,.Operate_service ul{margin-right: -30px;}
.Operate_Right li,.Operate_service li{width:405px;height:264px;margin:30px 30px 0 0;float: left;border: 1px solid #d6deee;box-shadow: 0 0 10px rgba(0,0,0,.1);background:#fff;padding:40px 30px;box-sizing: border-box;}
.Operate_Right li:hover,.Operate_service li:hover{box-shadow: 0 0 30px rgba(92,133,226,.2);}
.Operate_Right li i,.Operate_service li i{font-size:40px;color:#fff;box-shadow: 0px 6px 14px rgba(254,208,0,.3);width: 80px;height: 80px;line-height: 80px;background: #1da6ea;border-radius: 50%;display: inline-block;margin-bottom: 20px;-webkit-transition: all 0.4s ease-in;transition: all 0.4s ease-in;}
/*.Operate_service li:hover i,.Operate_Right li:hover i{-wekbit-transform: scale(0.9);transform: scale(0.9);}*/
.Operate_Right li p,.Operate_service li p{opacity: 0.7;margin-top: 10px;}

/*运营中心提供哪些服务*/
.Operate_service{padding: 0;margin: 0;}

/*成都中润银通科技有限公司*/
.Operate_Bomb,.Operate_Bombb{width:100vw;height:100vh;background: rgba(0,0,0,0.6);position: fixed;top: 0;left: 0;display: none;z-index: 9999;}
.Operate_Bomb.active,.Operate_Bombb.active{display: block;}
.Operate_Bomb .Operate_Bbox,.Operate_Bombb .Operate_Bbox{width: 1000px;border-radius: 6px;background: #fff;position: absolute;top: 50%;left: 50%;-webkit-transform: translate(-50%,-50%);transform: translate(-50%,-50%);overflow: hidden;}
.Operate_Bomb .Operate_Min,.Operate_Bombb .Operate_Min{height:80vh;overflow-x:hidden;margin-top: 30px;}
.Operate_Bomb .close,.Operate_Bombb .close{width:100%;height:80px;background:#fff;cursor: pointer;position: absolute;top:0;right:0;z-index: 99;border-radius: inherit;box-shadow: inherit;}
.Operate_Bomb .close img ,.Operate_Bombb .close img{position: absolute;top: 20px;right:40px;}
.Operate_Bomb .Operate_text,.Operate_Bombb .Operate_text{padding: 50px;}
.Operate_Bomb .Operate_Bbox h3 ,.Operate_Bombb .Operate_Bbox h3{font-size: 36px;font-weight: 500;}
.Operate_Bomb .Operate_Bbox p,.Operate_Bombb .Operate_Bbox p{margin-top: 15px;opacity: 0.7;}
.Operate_Bomb .Operate_diploma,.Operate_Bombb .Operate_diploma{background: #f9f9f9;padding:60px 0;}

.Chengdu .ChengduBox{padding: 40px;}
.Chengdu .drop li{float: left;margin: 0 30px;}
.Chengdu .drop h3{color:#b7b7b7;position: relative;line-height: 36px;font-size: 18px;display: inline-block;}
.Chengdu .drop h3:before{content: '';display: block;width: 75%;height: 1px;background: #585858;position: absolute;bottom: 0;left: 0;}
.Chengdu .drop a{margin: 0;color:grey;}
.Chengdu .drop dl{margin-top: 10px;font-size: 14px;color:grey;}
.Chengdu dl a:hover,.foot .hotClik a:hover{color:#b7b7b7;}
.Chengdu .content{position: relative;margin: 25px 115px 0;}
.Chengdu .fra{width: 160px;}
.Chengdu .fra p{font-size: 14px;color:grey;margin-top: 10px;}

.Chengdu .hotClik{border-top: 1px solid #585858;border-bottom: 1px solid #585858;margin-top: 30px;}
.Chengdu .hotClik li{font-size: 14px;line-height: 46px;padding: 0 10px;display: inline-block;}
.Chengdu .hotClik a{color:grey;}

.Chengdu .ma{margin: 0 2%;}
.Chengdu .ma li{float: left;margin:0 20px;}
.Chengdu .ma p{margin-top: 5px;}
.Chengdu .contact{line-height: 22px;background: url(../images/chengdu_icon.jpg) left center no-repeat;background-size: 20px;padding: 16px 0;}
.Chengdu .contact p{margin-top: 9px;opacity: 1;padding-left: 30px;}

/*关于{$setting['copyright']}学院*/
.college_about,.college_course,.college_lecturer,.college_Teaching,.college_Train,.college_Obtain{background: #fff; box-shadow: 0 0 14px rgba(0,0,0,.1);}
.college_about{margin-top: 30px;}
.college_about h3{font-weight: 500;margin-bottom: 30px;}
.college_about .fla{padding: 38px 124px;}
.college_about .fla p{opacity: 0.7;line-height: 24px;}
.college_about .fra{width:48%;}

/*课程分类*/
.college_course,.college_lecturer,.college_Teaching,.college_Train,.college_Obtain,.college_system{margin-top: 30px;padding: 50px;box-sizing: border-box;}
.college_course .college_tab,.college_lecturer ul{margin-right: -30px;}
.college_course .college_tab a{float: left;padding: 10px 55px;font-size: 18px;background: #f5f5f5;margin: 0 18px 20px 0;}
.college_course .college_tab a.active,.college_course .college_tab a:hover{background: #1da6ea;box-shadow: 0 1px 10px rgba(29,166,234,.4), 0 1px 10px rgba(29,166,234,.3);}
.college_course ul{margin-right: -32px;display: none;}
.college_course ul.active{display: block;}
.college_course li{float: left;margin:30px  30px 0 0;text-align: center;width: 273px;}
.college_course li h3{margin-top: 20px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.college_course li p{font-size: 14px;color:#969696;}

/*认证讲师*/
.college_lecturer li{float: left;width:272px;height:307px;margin:30px 30px 0 0;position: relative;overflow: hidden;}
.college_lecturer .name,.college_lecturer .info{width: 100%;height: 100%;color:#fff;position: absolute;left: 0;}
.college_lecturer .name{background: rgba(0,0,0,.7);font-size: 20px;vertical-align: middle;line-height: 307px;top: 0;z-index: 2;}
.college_lecturer .info{height:0;bottom:-80px;background: #1da6ea;color:#333;padding:40px 20px;box-sizing: border-box;z-index: 3;-wekbit-transition: all 0.4s linear;transition: all 0.4s linear;}
.college_lecturer .info.active{height:307px;bottom: 0;}
.college_lecturer .info span{font-size: 20px;font-weight: bold;margin-bottom: 15px;display: inline-block;}

/*授课形式*/
.college_Teaching li,.college_Obtain li{float: left;width:33.3%;position: relative;}
.college_Teaching li .icon{width:80px;height: 80px;line-height:80px;border: 2px solid #1da6ea;border-radius: 50%;position: relative;display: inline-block;margin-bottom: 10px;}
.college_Teaching .icon i{font-size: 46px;color:#1da6ea;}
.college_Teaching span{position: absolute;top:0;left: 0;background: #1da6ea;color:#333;border-radius: 50%;width:30px;height: 30px;line-height: 30px;}
.college_Teaching p{font-size: 18px;}
.college_Teaching .Arrow{position: absolute;top:34px;right:0}

/*培训适合人群*/
.college_Train .college_main{margin-top: 20px;}

/*培训适合人群*/
.college_Obtain .college_main, .college_system .college_main{margin-top: 20px;}
.college_Obtain li:before{content: '';display: block;width:20%;height: 1px;background: #bebebe;position: absolute;top: 14px;right: -49px;}
.college_Obtain li:nth-child(2):before{right: -30px;}
.college_Obtain li:last-child:before{display: none;}
.college_Obtain li span{width:30px;height: 30px;line-height: 30px;background: #1da6ea;color:#333;border-radius: 50%;display: inline-block;}
.college_Obtain li p{display: inline-block;font-size: 18px;}

/*专业考试体系*/
.college_system{background: url(../images/system.jpg) top center no-repeat;box-shadow: 0 0 14px rgba(0,0,0,.1);background-size: cover;margin-bottom: 30px;}
.college_system .tit{position: relative;}
.college_system ul{margin-right: -30px;}
.college_system li{float: left;margin-right: 30px;width: 373px;background: #4a515f;border-radius: 3px;overflow: hidden;padding-bottom: 40px;min-height: 489px;box-shadow: 0 0 20px rgba(0,0,0,.1);}
.college_system li:hover{background:#1da6ea;}
.college_system li h3{font-size: 28px;position: relative;z-index: 2;padding: 45px 0;font-weight: bold;}
.college_system li i{width:150%;padding-bottom: 70%;background:#fff;border-radius: 60%;position: absolute;top: -135px;left: -100px;z-index: 1;}
.college_system li dl{margin: 50px 0 0 0;}
.college_system li dd{line-height: 34px;color:#fff;}
.college_system li:hover dd{color:#444;}

/*数字*/
.investment_num{border-top: 1px solid #e3e2e5;border-bottom: 1px solid #e3e2e5;margin: 0 auto;}

/*加盟{$setting['copyright']}魔方前景*/
.investment_Min,.investment_Min{margin-top: 30px;}
.investment_prospect .fla{width: 50%;}
.investment_prospect .fra{padding: 14px 0;}
.investment_prospect .fra p{line-height: 40px;}

/*代理商合作条件*/
.investment_cooperation ul{margin-right:-28px;padding-left: 36px;position: relative;}
.investment_cooperation ul:before{top: 26px;z-index: 1;content: '';display: block;width: 100%;height: 2px;background: #ccc;position: absolute;left: 0;}
.investment_cooperation li{width: 248px;float: left;margin-right: 70px;z-index: 2;position: relative;}
.investment_cooperation li span{width: 52px;height: 52px;line-height: 52px;border: 2px solid #e7e7e7;border-right: 2px solid #4d91ff;display: inline-block;text-align: center;border-radius: 50%;background: #fff;font-weight: bold;font-size: 20px;color: #4D91FF;position: relative;}
.investment_cooperation li span:before{content: '';display: block;width:2px;height: 42px;background: #4D91FF;position: absolute;bottom: -43px;left: 26px;}
.investment_cooperation li h2{margin: 0 0 10px 0;color:#4D91FF;}
.investment_cooperation li .info{border-radius: 3px;border:1px solid #d6deee;box-shadow: 0 0 10px rgba(92,133,226,.2);background: #fff;padding: 30px;margin-top: 40px;font-weight: 500;}

/*代理商支持*/
.investment_Support ul{margin-right: -60px;}
.investment_Support li{float: left;width:300px;height: 300px;margin:30px 28px 0 0;background: #fff;border-radius: 3px;border:1px solid #d6deee;box-shadow: 0 0 10px rgba(92,133,226,.2);padding:40px 20px;}
.investment_Support li:hover{box-shadow: 0 0 30px rgba(92,133,226,.2);}
.investment_Support li i{width:80px;height: 80px;line-height:80px;background: #1da6ea;color:#fff;display: inline-block;border-radius: 50%;font-size:40px;box-shadow: 0px 6px 14px rgba(29,166,234,.3);}
.investment_Support li h2{margin: 20px 0 10px 0;}
.investment_Support li p{font-size: 16px;color:#666;}

                        
/* {$setting['copyright']}魔方——加盟代理流程   */                   
.investment_daicon{ background: #fff;padding:80px 5%;border-top: 1px solid #eee;border-bottom: 1px solid #eee;}
.investment_daicon ul.lc{ margin: 20px 0 0; position: relative;}
.investment_daicon ul.lc:before{ content: ""; display:block; position: absolute; top:52px; left:10%; right:10%; border-bottom: 2px solid #1da6ea;}
.investment_daicon ul.lc li{ float: left; width: 20%; padding:30px 0 0; cursor:default; border-radius:10px;}
.investment_daicon ul.lc span{ display: block; width: 46px; height: 46px; text-align:center; line-height: 46px; color: #1da6ea;border: 2px solid #1da6ea;box-shadow: 0 0 10px rgba(29,166,234,.4); background: #fff; border-radius: 50%; margin: 0 auto; position: relative; z-index: 1; font-size: 22px;}
.investment_daicon ul.lc h3{ margin: 15px 0; text-align: center;color:#636161;}
.investment_daicon ul.lc p{ font-size: 16px; opacity: 0.7; padding: 0 15px;}
.investment_daicon ul.lc li:hover span{ background:#1da6ea; color: #000; transform: scale(1.3);box-shadow: 0 1px 10px rgba(29,166,234,.4), 0 1px 10px rgba(29,166,234,.3);}
.investment_daicon ul.lc li:hover h3{ color:#000;}
.investment_daicon ul.lc li:hover p{ opacity: 0.9;}
.daiinvestment_daiconcon ol a{ line-height:36px;} 

/*明星代理商*/
/*明星代理商*/
.investment_Start{overflow: inherit;}
.investment_Start ul{border-right:1px solid #eee;}
.investment_Start li{float: left;padding: 20px 20px 0;width:25%;box-sizing: border-box;position: relative;}
.investment_Start .liMin{position: relative;z-index: 2;}
.investment_Start li:before{content:'';width:100%;height:100%;display: block;border:1px solid #eee;border-right:none;position: absolute;top: 0;left: 0;}
.investment_Start li:hover:before{content:'';display:block;border:1px solid #4d91ff;box-shadow: 0 0 5px rgba(253,208,0 .2);-webkit-transform: scale(1.03);transform: scale(1.03);z-index: 1;background: #fff;width: 100%;height: 100%;}
.investment_Start .logo{border-bottom:1px solid #eee;padding-bottom: 20px;margin-bottom: 20px;}
.investment_Start .info p{margin:20px 0;height: 144px;}
.investment_Start .evaluate{border-top:1px solid #eee;padding: 20px 0;height: 76px;}
.investment_Start .evaluate h3{color:#4d91ff;}

/*英才招聘*/
.recruit li{padding-top: 40px;}
.recruit .info{margin-left: 220px;}
.recruit .info h3{font-size: 18px;margin-bottom: 24px;font-weight: 500;}
.recruit .info p{font-size: 16px;color:#666;}
.recruit .info .text{margin-bottom: 40px;}

/*朋友圈*/
.friends{margin-top: 160px;}
/*banner*/
.friends_banner .tit h2{font-size: 50px;font-weight: bold;}
.friends_banner .tit p{font-size: 20px;}
.friends_banner .tit p,.EightBig p,.service_info p,.ProductForm .fra p{opacity: 0.8;}
.friends_banner .banner_Min{width:100%;background: url(../images/friends_bannerbj.jpg) top center no-repeat;padding: 130px 0 100px 0;}
.friends_banner .banner_inter{background: url(../images/friends_banner.png) no-repeat;width:1064px;height: 627px;margin: 0 auto;padding-top: 36px;}
/*Slider*/
.pagination { position: absolute; z-index: 20; left: 50%; width: 140px; text-align: center; margin-left: -70px;  bottom: 20px; }
.swiper-pagination-switch { display: inline-block; width: 10px; height: 10px; border-radius: 10px; margin-right: 5px; opacity: 0.8; border: 1px solid #fff; cursor: pointer; }
.swiper-visible-switch { background: #aaa; }
.swiper-active-switch { background: #fff; width:30px; }
.swiper-container .focus{ display: block; width: 100%; height: 100%; background-origin: center center; background-repeat: no-repeat;  background-size: cover;}

/*八大块*/
.EightBig{background: #fafafa;padding:80px 0 100px;position: relative;}
.EightBig .EightBig_box{padding-left: 36px;}
.EightBig li{width:30.3%;margin:40px 3% 0 0;min-height:363px;background: #fff;border-radius: 3px;border:1px solid #d6deee;box-shadow: 0 0 10px rgba(92,133,226,.2);box-sizing: border-box;float: left;}
.EightBig li a{display: block;padding: 60px 40px;}
.EightBig li:hover{box-shadow: 0 0 30px rgba(92,133,226,.3);}
.EightBig li h3{margin: 30px 0 14px 0;font-size: 24px;}
.EightBig .supersuspend.fl{position: absolute;top: -150px;left:0;}
.EightBig .supersuspend.fr{position: absolute;bottom: -300px;right:0;}

/*客服信息*/
.service_info h2{font-size: 36px;font-size: 500;}
.service_info ul{margin-top: 30px;}
.service_info li{border-radius: 3px;height: 50px;margin-bottom: 24px;}
.service_info li input{width:93%;height: 100%;padding:0 15px;line-height: 50px;border:1px solid #d6deee;border-radius: 3px;}
.service_info li input:focus{border:1px solid #4d91ff;box-shadow: 0 0px 10px rgba(77,145,255,.2);}
.service_info a{margin-top: 10px;padding: 10px 40px;background: #ffba33;color:#000;box-shadow: 0 5px 10px rgba(255,186,0,.2);display: inline-block;border-radius: 3px;}
.service_info a:hover{box-shadow: 0 10px 20px rgba(255,186,0,.2);}
.service_info .fla{margin-left: 100px;}
.service_info .fra{margin-right: 100px;}
.service_info .fra img{margin: 60px 0 30px 0;}
.service_info .fra span{display: block;font-size: 36px;font-weight: bold;color:#ffba33;}


/*朋友圈 2*/

/*友圈广告—产品形态*/
.ProductForm{padding:80px 120px;box-sizing: border-box;}
.ProductForm h3{font-size: 30px;margin-bottom: 50px;}
.ProductForm li:first-child{padding-top: 60px;}
.ProductForm li{padding-top: 140px;}
.ProductForm .fra{padding-top: 100px;}

/*微信朋友圈投放支持*/
.Support{background: #fafafa;}
.Support ul{margin-right: -130px;}
.Support li{float: left;margin-right: 130px;}
.Support .Support_Nav{margin-top: 20px;}
.Support .Support_Nav a{background: #fff;border:1px solid #d8dfee;border-radius: 3px;padding: 15px 40px;display: inline-block;margin: 0 10px;}
.Support .Support_Nav a.active,.Support .Support_Nav a:hover{background: #1da6ea;border:1px solid #1da6ea;box-shadow: 0 5px 10px rgba(253,208,0,.2);}
.Support .Support_List{margin-top: 60px;}
.Support .Support_List .List{display: none;overflow: hidden;}
.Support .Support_List .List p{font-size: 20px;}
.Support .Support_List .List.active{display: block;}
.Support .Support_List ul{margin-top: 40px;}

/*QQ客户端(第二版)*/
.friends_QQ  .text{margin-bottom: 40px;}
.friends_QQ  .text span,.friends_Video .text span{color:#ffba33;font-size: 20px;display: inline-block;margin-bottom: 15px;}
.friends_QQ  .ProductForm{border-bottom: 1px solid #eee;}
.friends_QQ  .ProductForm .fra{padding: 70px 0;}

.friends_Video .vedo,.friends_space .vedo{padding:90px;box-sizing: border-box;border-bottom: 1px solid #eee;}
.friends_Video .vedo p:first-child,.friends_space .vedo p:first-child{font-size: 30px;color:#ffba33;}
.friends_Video .vedo p,.friends_space .vedo p{font-size: 20px;opacity: .7;}
.friends_Video .vedo li,.friends_space .vedo li{float: left;margin: 30px;}
.friends_Video .vedo .info,.friends_space .vedo .info{padding: 60px 0 60px 80px;}
.friends_Video .vedo span,.friends_space .vedo span{display: block;}
.friends_Video .vedo .num,.friends_space .vedo .num{font-size:34px;color:#ffba33;}
.friends_Video .num i,.friends_space .num i{font-size: 16px;font-style: inherit;font-weight: normal;}
.friends_Video .vedo .words,.friends_space .vedo .words{opacity: .7;}

.NewsHelp .fla{width: 50%;}
.NewsHelp .tabAr a{padding: 14px 20px;font-size: 18px;display:block;}
.NewsHelp .tabAr a.active,.NewsHelp .tabAr a:hover{background: #1da6ea;}
.NewsHelp .flaList{margin-top: 20px;}
.NewsHelp .flaList ul{padding: 0;display: none;}
.NewsHelp .flaList ul.active{display: block;}
.NewsHelp .flaList li{list-style: none;}
.NewsHelp .flaList a{display:block;padding: 15px;}
.NewsHelp .flaList a:hover{background: #fdfdfd;}
.NewsHelp .flaList .info{width: 425px;}
.NewsHelp .flaList h3{font-size: 18px;margin:0 0 20px 0;font-weight: normal;}
.NewsHelp .flaList p{color:#999;font-size: 16px;}

/*banner图*/
.rule_banner{background: linear-gradient(183deg, #1da6ea 0%, #f2c808 100%);height: 550px;text-align: center;}
.rule_banner h2{font-size: 44px;font-weight:bold;padding-top: 100px;}
.rule_banner p{font-size: 16px;}
.rule_banner .rule_bannerMin{position: relative;top:40px;}

/*移动管理平台*/
.rule_Modular{margin-top: 240px;position: relative;}
.rule_Modular .rule_box{padding: 0 140px;box-sizing: border-box;}
.rule_Modular li{padding: 60px 0;}
.rule_Modular li .info{padding-top: 140px;}
.rule_Modular h3{font-size: 36px;}
.rule_Modular p{font-size: 18px;opacity: 0.7;padding-top: 16px;}
.rule_floatPicT,.rule_floatPicB{position: absolute;}
.rule_floatPicT{top: 30%;left: 0;}
.rule_floatPicB{bottom: 5%;right: 0;}

.rule_business{background-color: #fafafa;padding: 80px 0;margin-top: 100px;}
.rule_business .rule_businessMin{padding-top: 80px;}
.rule_business li{float: left;width: 33.3%;position: relative;}
.rule_business li:nth-child(2){padding-top:68px;}
.rule_business li .jiantou{position: absolute;top:200px;}
.rule_business li:first-child .jiantou{ right:40px;}
.rule_business li:nth-child(2) .jiantou{right:-90px;}
.rule_business li p{font-size: 16px;margin-top: 20px;opacity: .7;}