@charset "utf-8";
/*
 * CSS Document
 * name   : style.css v1.0
 * author : tonjay
 * time   : 2017-02-05
 */
@import url("font_g7diwwrutfg30udi.css");
@import url("iconfont.css");
.iconfont { font-family: "iconfont"; font-size:inherit; font-style: normal; line-height:inherit; -webkit-font-smoothing: antialiased; -webkit-text-stroke-width: 0.2px; }
body.active{ height: 100%; overflow-y:hidden ;}
.wrap{ width: 90%; position: relative; box-shadow: 0 0 35px rgba(0,0,0,0.6); background: #fff; padding: 100px; max-width: 1320px; margin-top: 10rem; border-radius: 3px;}
body{ background:#272636;}
body:after,body:before,html:after,html:before{ content:""; display: block; position: fixed; border:500px solid; border-color: transparent #42a6ef #42a6ef transparent; z-index: -2;}
body:before,body:after{ bottom: 0; right: 0; bottom: 0; right: 0;}
body:after{border:200px solid; border-color:transparent #272636 #272636 transparent; z-index: -1;}
html:after,html:before{ top: 0; left: 0; z-index: -4; border-color: #42a6ef transparent transparent #42a6ef;}
html:after{ border-color: #272636 transparent transparent #272636; z-index: -3; left: -200px;}
/*blog*/
/*导航 */
.header{ padding:0.3rem 0;}
.header .Module{position: fixed;top: 80px;left: 0;z-index:99999;width:100%;height:0;background: #fff;text-align: center;overflow: hidden;-webkit-transition: all 1s;transition: all .5s;}
.header .Module.active{height: 600px;padding-top: 30px;border-top: 1px solid #ccc;}
.header .ModuleMin{display: inline-block;width: 100%;}
.header .services .Module,.header .job .Module {width: 112px;left:0;position: relative;top: 0;}
.header .services .Module.active{height: 170px;padding-top:0;border:none;}
.header .job .Module.active{height: 150px;padding-top:0;border:none;}
.header .Module .List{margin: 0 10px;display: inline-block;vertical-align: top;}
.header .services .List,.header .job .List{margin:0;}
.header .Advertisement dd{float: left;padding: 0 30px;}
.header .Advertisement .Module.active{height: 70px;}
.header .List h3{font-size: 16px;font-weight: 600;border-bottom: 1px solid #ccc;height: 40px;}
.header .List h3 a{color:#3F8CD1;}
/*.header .List dl{margin-top: 20px;}*/
.header .services .List dl{margin-top:10px;}
.header .List a{line-height: 36px;}
.header .List a:hover{background:none;text-decoration: underline;color:#3F8CD1;}
.header .List dd{font-size: 16px;text-align: left;margin: 0;position: relative;}
.header .List dd:before{content: '';display: block;border:4px solid;border-color:#039BE5 #039BE5 transparent transparent;-webkit-transform: rotate(45deg);transform: rotate(45deg);position: absolute;top:15px;left: 0;}
.focus{ position: relative;margin-top: 80px;}
.header .fuwu .Module,.header .about .Module{text-align: right;}
.header .about .List{padding-right: 175px;}
.header .fuwu .List{padding-right: 272px;}
.header .Advertisement dd{float: left;padding: 0 15px;}
.header .Advertisement .Module.active{height: auto;padding-bottom: 30px;}


/* .logo{ background: #42a6ef; padding: 2rem; border-radius: 3px 3px 0 0; overflow: hidden; position: absolute; left:0; top: -6rem;}
.logo:after{ content: ""; display: block; border-radius: 50%; height: 200%; position: absolute; width: 200%; left: 0; top: 0; background: #fff;}
.logo a{ position: relative;z-index: 1;} */
.fla .menu{ position: absolute; left: 30px; font-size: 15px; top:22px       ;}
.fla .menu li{ float: left;}
.fla .menu a{ display: block;border-radius: 3px;background: #eaeaea;margin-right: 18px;padding: 5px 10px;}
.fla .menu a.active,.fla .menu a:hover{background: #42a6ef;color: #272636;}
.blog-list{margin-top: 80px;}
.blog-list .item{ padding: 0 25rem 5rem 0;margin-top: 80px; border-bottom: 1px solid #eee; position: relative; overflow: hidden;}
.blog-list .thumbnail{ float: right; width: 22rem; margin-right: -25rem;}
.blog-list img{ border-radius: 3px;}
.blog-list .article-desc{ float: left;}
.blog-list h2 a{ color: #000;}
.blog-list .article-info span{ color:#999; margin-right: 1rem; font-size: 87.5%;}
.blog-list p{ margin: 0.8rem 0; font-size: 1.4rem;}
.copyright{ padding: 3rem 0;}
.pagenav{ padding: 5rem 0 0;}
.pagenav a{/* display: inline-block; width: 5.6rem; height: 5.6rem; line-height: 5.6rem; border-radius: 50%; */font-size: 1.6rem; background: #eee; color: #999;    margin: 0 0.5rem 0.8rem;
    padding: 1rem 1.5rem;border-radius: 0.2rem;display: inline-block;}
.pagenav a:hover{ background: #42a6ef; color: #272636;}
.nav{ padding: 1rem; background: #f5f5f5;}
.nav span{ margin: 0 0.5rem;}
.blog-single{ margin-top: 80px;}
.content h2{ font-weight: 600;}
.content-info span{color:#999; margin: 0 0.5rem; font-size: 87.5%;}
.content-section {line-height: 1.75em; font-size: 110%; margin-top: 3rem;}
.content-section p{  margin: 1.2em 0;}
.content-section h1, .content-section h2, .content-section h3, .content-section h4, .content-section h5, .content-section h6 {margin-top: 2em;margin-bottom: .5em;font-weight: 400;}
.content-section a{color: #999; text-decoration: none; border-bottom: 1px dotted #999;}
.content-section a:hover{ color: #000; border-bottom-color: #000;}
.content-section img{ width: auto!important; height: auto!important; max-width: 100%!important;}
@media (max-width: 1024px) {
	.wrap{ width:96%; padding:2rem; margin-top: 1rem;}
	.logo{ position:relative; top: 0; margin: -2rem -2rem 0; text-align: center;}
	.logo:after{ display: none;}
	.menu{ position: relative; top: 0; margin: 0 -2rem 2rem; background: #272636;}
	.menu a{ border-radius: 0;}
	.menu a.active{ background: #fff; color: #272636;}
}
@media (max-width: 640px) {
	.wrap{ padding: 1rem; box-shadow: none;}
	.logo{ margin: -1rem -1rem 0;}
	.logo img{width: 180px;}
	.menu{ overflow: hidden; white-space: nowrap; margin: 0 -1rem 1rem;}
	.menu ul{  overflow: hidden; overflow-x: auto; font-size: 0; -webkit-overflow-scrolling: touch;}
	.menu li{ float: none; display: inline-block;}
	.menu a{ padding: 0 1.5rem; line-height: 46px; font-size:1.25rem;}
	.blog-list .item{ padding:3rem 0 3rem 0;}
	.blog-list .thumbnail{ display: none;}
	.pagenav{ padding: 2rem 0 1rem;}
	.copyright{ font-size: 62.5%;padding: 3rem 1rem;}
}
/*UnSlider*/
.bSlider { position: relative; border-radius: 3px; background: #eee;}
.unslider { overflow: auto; margin: 0; padding: 0 }
.unslider-wrap { position: relative }
.unslider-wrap.unslider-carousel>li { float: left }
.unslider-vertical>ul { height: 100% }
.unslider-vertical li { float: none; width: 100% }
.unslider-fade { position: relative }
.unslider-fade .unslider-wrap li { position: absolute; left: 0; top: 0; right: 0; z-index: 8 }
.unslider-fade .unslider-wrap li.unslider-active { z-index: 10 }
.unslider-arrow { position: absolute; left: 20px; z-index: 2; cursor: pointer }
.unslider-arrow.next { left: auto; right: 20px }
.unslider-nav ol { position: absolute; bottom: 1rem; width: 100%; text-align: center; }
.unslider-nav ol li { display: inline-block; width:1rem; height: 1rem; margin: 0 0.5rem; border-radius: 1rem; overflow: hidden; text-indent: -999rem; border: 2px solid #fff; cursor: pointer; }
.unslider-nav ol li.unslider-active { background: #fff; cursor: default; }
.