.ui-header-positive, .ui-footer-positive {
    color: #fff;
}
a {
    color: #f05557;
}
.follow {
	font-size:20px;
	line-height:30px;
	color:#fff;
	text-align:center;
	padding-top:30%;
	z-index:2000;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,.9);
	display:none;
}
.follow span {
	font-size:40px;
	position:
	absolute;
	top:3%;
	right:3%;
}
.follow img {
	width:100%;
	margin:35% auto;
}
.result_img {
    margin:3%;
    width:94%;
}
.text_p {
    font-size: 25px;
    color: #262626;
    margin: 1% auto;
    width: 100%;
    text-align: center;
}
.text_img {
    margin:3%;
    width:94%;
}
.ui-form-item > .ui-select {
     margin-left: -2px;
}
.down_img {
    margin:0 auto;
    width:100%;
}
.down_text{
	width:100%;
	height: 120px;
	margin: 15px auto;
}
.down_text p{
	color: #000;
	font-size: 20px;
	text-align: center;
}

.down_btn{
	margin: 3% auto;
	width: 85%;
}
.down_text .down_iphone {
     width: 130px;
     height: 40px;
     line-height: 40px;
     border-radius: 3px;
     background: #fff;
     text-align: center;
     float: left;
}
.down_text .down_iphone .iphone{
     color: #333;
     font-size: 16px;
}

.down_text .down_android {
     width: 130px;
     height: 40px;
     line-height: 40px;
     border-radius: 3px;
     background: #3aa0ee;
     text-align: center;
     float: right;
}
.down_text .down_android .android{
     color: #fff;
     font-size: 16px;
}

.showFileName{
	margin-left: 5px;
	font-size: 10px;
	width: 40%;
}
.file {
	margin-top: 8px;
	position: relative;
	display: inline-block;
	background: #D0EEFF;
	border: 1px solid #99D3F5;
	border-radius: 4px;
	padding: 4px 12px;
	overflow: hidden;
	color: #1E88C7;
	text-decoration: none;
	text-indent: 0;
	line-height: 20px;
}
.file input {
	position: absolute;
	font-size: 100px;
	right: 0;
	top: 0;
	opacity: 0;
}
.file:hover {
	background: #AADFFD;
	border-color: #78C3F3;
	color: #004974;
	text-decoration: none;
}

