blockquote,body,dd,div,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,input,li,ol,p,pre,td,textarea,th,ul{margin:0;padding:0}
table{border-collapse:collapse;border-spacing:0}
abbr,acronym,fieldset,img{border:0}
ol,ul{list-style:none}
caption,th{text-align:left}
q:after,q:before{content:''}
.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}
.col-c,.col-l,.col_c,.col_l,.l{float:left}
.col-r,.col_r,.r,.ul-txt li span,.ul_txt li span,dt span{float:right}
.c{clear:both}
.n,em{font-weight:400;font-style:normal}
.b{font-weight:700}
.i{font-style:italic}
.fa{font-family:Arial}
.fg{font-family:Georgia}
.ft{font-family:Tahoma}
.fl{font-family:Lucida Console}
.fs{font-family:'宋体'}
.fw{font-family:'微软雅黑'}
.tc{text-align:center}
.tr{text-align:right}
.tl{text-align:left}
.tdu{text-decoration:underline}
.tdn,.tdn:hover,a.tdl:hover{text-decoration:none}
.fc0{color:#000}
.fc3{color:#333}
.fc6{color:#666}
.fc9{color:#999}
.fcr{color:red}
.fcw{color:#fff}
.fcb{color:#00f}
.fcg{color:green}
.f0{font-size:0}
.f10{font-size:10px}
.f12{font-size:12px}
.f13{font-size:13px}
.f14{font-size:14px}
.f16{font-size:16px}
.f20{font-size:20px}
.f24{font-size:24px}
.vm{vertical-align:middle}
.vtb{vertical-align:text-bottom}
.vt{vertical-align:top}
.vn{vertical-align:-2px}
.vimg{margin-bottom:-3px}
.m0{margin:0}
.ml0{margin-left:0}
.ml5{margin-left:5px}
.ml10{margin-left:10px}
.ml20{margin-left:20px}
.mr0{margin-right:0}
.mr5{margin-right:5px}
.mr10{margin-right:10px}
.mr20{margin-right:20px}
.mt5{margin-top:5px}
.mt10{margin-top:10px}
.mt20{margin-top:20px}
.mb5{margin-bottom:5px}
.mb10{margin-bottom:10px}
.mb20{margin-bottom:20px}
.ml-1{margin-left:-1px}
.mt-1{margin-top:-1px}
.p1{padding:1px}
.pl5{padding-left:5px}
.p5{padding:5px}
.pt5{padding-top:5px}
.pr5{padding-right:5px}
.pb5{padding-bottom:5px}
.p10{padding:10px}
.pl10{padding-left:10px}
.pt10{padding-top:10px}
.pr10{padding-right:10px}
.pb10{padding-bottom:10px}
.p20{padding:20px}
.pl20{padding-left:20px}
.pt20{padding-top:20px}
.pr20{padding-right:20px}
.pb20{padding-bottom:20px}
.pr,.rel{position:relative}
.abs,.pa{position:absolute}
.dn{display:none}
.db{display:block}
.dib{-moz-inline-stack:inline-block;display:inline-block}
.di{display:inline}
.ovh{overflow:hidden}
.ovs{overflow:scroll}
.vh{visibility:hidden}
.vv{visibility:visible}
.lh14{line-height:14px}
.lh16{line-height:16px}
.lh18{line-height:18px}
.lh20{line-height:20px}
.lh22{line-height:22px}
.lh24{line-height:24px}
.fix{*zoom:1}
.fix:after,.fix:before{display:block;content:"clear";height:0;clear:both;overflow:hidden;visibility:hidden}
.z{_zoom:1}
.h1{height:1px}
.h5{height:5px}
.h,.h10{height:10px}
.h15{height:15px}
.h20{height:20px}
.h,.h1,.h10,.h15,.h20,.h5{font-size:0;line-height:0;overflow:hidden;clear:both}
body{font:14px/1.5 "微软雅黑","Microsoft Yahei";color:#3d4c63;background:#fff;max-width:750px;margin:0 auto 90px}
a{text-decoration:none;color:#3d4c63}
a:hover{color:#3c6}
img{max-width:100%;transition:.3s;-ms-transition:.3s;-moz-transition:.3s;-webkit-transition:.3s;-o-transition:.3s}
input,select,textarea{font-size:12px;color:#3d4c63;font-family:"微软雅黑","Microsoft Yahei";outline:0}
input[type=button],input[type=reset],input[type=submit],select{-webkit-appearance:none;-moz-appearance:none;appearance:none}
input[type=button],input[type=reset],input[type=submit]{cursor:pointer}
::-webkit-input-placeholder{color:#78899e}
::-moz-placeholder{color:#78899e}
::-ms-input-placeholder{color:#78899e}
input::-webkit-inner-spin-button,input::-webkit-outer-spin-button{-webkit-appearance:none}
input[type=password]:focus,input[type=tel]:focus,input[type=text]:focus{background:#fff;border:1px solid #bbb;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-o-box-sizing:border-box;box-sizing:border-box}
input.false:focus{border:2px solid #ff1531;background:#fff}
select{background:url(../images/bg-select.png) right center no-repeat;-o-background-size:30px auto;-ms-background-size:30px auto;-moz-background-size:30px auto;-webkit-background-size:30px auto;background-size:30px auto}
.ani{transition:.3s;-ms-transition:.3s;-moz-transition:.3s;-webkit-transition:.3s;-o-transition:.3s}
.unselect{-moz-user-select:none;-khtml-user-select:none;-webkit-user-select:none;-o-user-select:none;user-select:none}
.wp{padding:0 8px}
*{outline:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-o-box-sizing:border-box;box-sizing:border-box}
/* @font-face {
    font-family: 'Regular';
    src: url('../fonts/PingFang SC Regular.ttf');
}
@font-face {
    font-family: 'Bold';
    src: url('../fonts/PingFang Bold.ttf');
} */
.bg-color{
    background-color: #CC0009;
}
.banner{
    position: relative;
    z-index: -1;
}
.banner img{
    display: block;
    width: 100%;
}
.bg{
    padding-top: 13px;
    border-top-left-radius: 16px;
     border-top-right-radius: 16px;
    margin-top: -16px;
    /* background-color: #ccc; */
}
.m-jg01{
    background: #D8403D;
    padding: 15px 0px 12px;
    border-radius: 5px;
    margin-bottom: 16px;
}
.ul-list-z1{
   overflow: hidden;
   /* display: flex;
   justify-content: space-between; */
}
.ul-list-z1 li{
    width: 33.33%;
    float: left;
    text-align: center;
    position: relative;
}
.ul-list-z1 li::after{
    position: absolute;
    top: 40%;
    right: -13px;
    content: '';
    width: 26px;
    height: 13px;
    background: url(../images/j-p4.png) center center no-repeat;
    background-size: cover;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.ul-list-z1 li:last-child::after{
    display: none;
}
.ul-list-z1 li .i-con{
    width: 59px;
    height: 59px;
    background-color: #F5D4B5;
    border-radius: 50%;
    margin: 0 auto;
    background-size: 41px 29px;
    background-repeat: no-repeat;
    background-position: center center; 
    margin-bottom: 5px;
}
.ul-list-z1 li p{
    color: #fbeae8;
    font-size: 12px;
    line-height: 1.1;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.g-tit01{
    text-align: center;
}
.g-tit01 h2{
    display: inline-block;
    font-size: 15px;
    color: #fffefe;
    position: relative;
    line-height: 1.1;
    font-weight: normal;
}
.g-tit01 h2::after,
.g-tit01 h2::before{
    position: absolute;
    content: '';
    width: 40px;
    height: 1px;
    background: #fff;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.g-tit01 h2::before{
    left: -45px;
}
.g-tit01 h2::after{
    right: -45px
}
.ul-list-z2{
    overflow: hidden;
    margin-top: 16px;
    margin-bottom: 13px;
}
.ul-list-z2 li{
    padding: 10px 8px 8px;
    overflow: hidden;
    margin-bottom: 8px;
    background-color: #fff;
    border-radius: 4px;
}
.ul-list-z2 li .pic{
    float: left;
    width: 120px;
    position: relative;
    margin-right: 7px;
}
.ul-list-z2 li .pic img{
    display: block;
    width: 100%;
}
.ul-list-z2 li .pic em{
    position: absolute;
    top: 0;
    left: 0;
    width: 34px;
    height: 38px;
    background: url(../images/j-p5.png) center center no-repeat;
    background-size: cover;
    z-index: 9;
}
.ul-list-z2 li .txt{
    overflow: hidden;
}
.ul-list-z2 li .txt h3{
    line-height: 1.1;
    font-weight: normal;
    margin-bottom: 9px;
}
.ul-list-z2 li .txt h3 a{
    font-family: 'Bold';
    display: block;
    font-size: 14px;
    color: #282828;
    padding-left: 20px;
    background: url(../images/j-p6.png) left center no-repeat;
    background-size: auto 100%;
    overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.ul-list-z2 li .ticket{
    font-size: 0;
    margin-bottom: 7px;
}
.ul-list-z2 li .ticket span{
    display: inline-block;
    width: 60px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    /* background: url(../images/j-p7.png) center center no-repeat; */
    background-size: cover;
	 background: -webkit-linear-gradient(left, #FE912C , #FF4E22); 
	  background: -o-linear-gradient(right, #FE912C, #FF4E22); 
	  background: -moz-linear-gradient(right, #FE912C, #FF4E22); 
	  background: linear-gradient(to right, #FE912C , #FF4E22);
	  z-index: 8;
	  position: relative;
}
.ul-list-z2 li .ticket span:before,
.ul-list-z2 li .ticket span:after{
	position: absolute;
	left: -3px;
	top: 50%;
	content: '';
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background: #fff;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.ul-list-z2 li .ticket span:after{
	left: auto;
	right: -3px;
}
.ul-list-z2 li .info{
    overflow: hidden;
    margin-bottom: 10px;
}
.ul-list-z2 li .info span:nth-child(1){
    font-size: 18px;
    color: #383838;
}
.ul-list-z2 li .info span:nth-child(2){
    font-size: 12px;
    color: #383838;
    text-decoration: line-through;
}
.ul-list-z2 li .info span:nth-child(3){
    float: right;
    font-size: 12px;
    color: #878787;
    margin-top: 7px;
}
.ul-list-z2 li .buy{
    font-size: 0;
}
.ul-list-z2 li .buy a{
    display: inline-block;
    text-align: center;
    height: 26px;
    line-height: 22px;
    padding: 0 7px;
    border-radius: 20px;
    border: 2px solid #E1E2D7;
    font-size: 12px;
	margin-bottom: 3px;
}
.ul-list-z2 li .buy a:nth-child(1){
    margin-right: 4px;
}
.ul-list-z2 li .buy a:nth-child(1) span{
    display: inline-block;
    padding-left: 16px;
    background: url(../images/j-p8.png) left center no-repeat;
    background-size: 12px 14px;
}
.ul-list-z2 li .buy a:nth-child(2){
    background: #F2403F;
    color: #fff;
    box-sizing: border-box;
}
.ul-list-z3{
    margin-top: 13px;
    margin-bottom: 22px;
}
.ul-list-z3 li{
    padding: 8px 8px;
    overflow: hidden;
    margin-bottom: 6px;
    background-color: #fff;
    border-radius: 4px;
}
.ul-list-z3 li .pic{
    float: left;
    width: 120px;
    position: relative;
    margin-right: 10px;
}
.ul-list-z3 li .pic em{
    position: absolute;
    top: 0;
    left: 0;
    width: 34px;
    height: 38px;
    background: url(../images/j-p11.png) center center no-repeat;
    background-size: cover;
    z-index: 9;
}
.ul-list-z3 li .pic img{
    display: block;
    width: 100%;
}
.ul-list-z3 li .txt{
    overflow: hidden;
}

.ul-list-z3 li .txt h3{
    line-height: 1.1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: normal;
    margin-bottom: 3px;
}
.ul-list-z3 li .txt h3 a{
    display: block;
    font-size: 14px;
    color: #282828;
    padding-left: 20px;
    background: url(../images/j-p6.png) left center no-repeat;
    background-size: auto 100%;
}
.ul-list-z3 li .txt .desc{
    font-size: 12px;
    color: #878787;
    margin-bottom: 4px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.ul-list-z3 li .ticket{
    font-size: 0;
    margin-bottom: 12px;
}
.ul-list-z3 li .ticket span{
    display: inline-block;
    width: 56px;
   /* height: 17px;
    line-height: 17px; */
	height: 18px;
	line-height: 1.5;
    text-align: center;
    color: #fff;
    font-size: 12px;
    border-radius: 3px;
    background: -webkit-linear-gradient(left, #FF5123 , #FE8B2B); 
    background: -o-linear-gradient(right, #FF5123, #FE8B2B); 
    background: -moz-linear-gradient(right, #FF5123, #FE8B2B); 
    background: linear-gradient(to right, #FF5123 , #FE8B2B); 
    margin-right: 6px;
}
.ul-list-z3 li .ticket span:nth-child(2){
     background: #4F4F4F;
}

.ul-list-z3 li .info{
    font-size: 0;
    overflow: hidden;
    margin-bottom: 6px;
}
.ul-list-z3 li .info span:nth-child(1){
    font-size: 16px;
    color: #ff5223;
}
.ul-list-z3 li .info span:nth-child(2){
    font-size: 12px;
    color: #383838;
    text-decoration: line-through;
}
.ul-list-z3 li .info span:nth-child(3){
    font-size: 12px;
    color: #878787;
    float: right;
    margin-top: 5px;
}
.ul-list-z3 li .name{
    font-size: 0;
}
.ul-list-z3 li .name a{
    display: inline-block;
    padding-left: 17px;
    font-size: 12px;
    color: #878787;
    background: url(../images/j-p9.png) left center no-repeat;
    background-size: 14px 12px;
}
.ul-list-z3 li .name span{
    float: right;
    width: 48px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    color: #fff;
    font-size: 12px;
    /* background: url(../images/j-p10.png) center center no-repeat; */
    background-size: cover;
	background: -webkit-linear-gradient(left, #FE912C , #FF4E22); 
	 background: -o-linear-gradient(right, #FE912C, #FF4E22); 
	 background: -moz-linear-gradient(right, #FE912C, #FF4E22); 
	 background: linear-gradient(to right, #FE912C , #FF4E22);
	 position: relative;
	 z-index: 8;
}
.ul-list-z3 li .name span:before,
.ul-list-z3 li .name span:after{
	position: absolute;
	left: -3px;
	top: 50%;
	content: '';
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background: #fff;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	
}
.ul-list-z3 li .name span:after{
	left: auto;
	right: -3px;
}
.m-txt{
    color: #fff;
    margin-bottom: 15px;
    font-family: 'Regular';
}
.m-txt h3{
    font-weight: normal;
    font-size: 15px;
}
.m-txt .info{
    font-size: 14px;
    line-height: 1.8;
}
.m-share{
    height: 70px;
    line-height: 70px;
    background: #C1020B;
    text-align: center;
    font-size: 0;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 10;
}
.m-share a{
	
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    color: #cc0009;
    width: 91%;
    height: 40px;
    line-height: 40px;
    background: -webkit-linear-gradient( #FFF7D9 , #FBB902); 
    background: -o-linear-gradient(#FFF7D9, #FBB902); 
    background: -moz-linear-gradient( #FFF7D9, #FBB902); 
    background: linear-gradient( #FFF7D9 , #FBB902); 
    border-radius: 20px;
    
}
.m-share a span{
    display: inline-block;
    padding-right: 24px;
    background: url(../images/j-p12.png) right center no-repeat;
    background-size: 13px 13px
}
@media screen and (max-width: 370px) {
   .ul-list-z3 li .pic{width: 95px;margin-right: 5px;}
   .ul-list-z3 li .ticket{margin-bottom: 0;}
   .ul-list-z2 li .pic{
       width: 95px;
       margin-right: 5px;
   }
   .ul-list-z2 li .buy { width: 110%; transform: scale(.9); transform-origin: 0 0; }
   .ul-list-z2 li .buy a{padding:0 4px;}
   .ul-list-z2 li .info span:nth-child(1){font-size: 16px;}
   .ul-list-z2 li .ticket{margin-bottom: 2px;}
   .ul-list-z2 li .info{margin-bottom: 5px;}
}