.clearfix {
  clear: both;
  content: '';
  display: table;
}
.recommandLocation {
  font-size: 12px;
  display: block;
  padding: 0 0 10px 0;
  text-align: center;
  color: #666;
}
.recommandLocation > * {
  display: inline-block;
  vertical-align: middle;
}
.recommandLocation i {
  width: 12px;
  height: 12px;
  margin-right: 5px;
  margin-left: 10px;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNiAoV2luZG93cykiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6RDY0OTg0NDc5NENEMTFFNThFOUY5MjkyRTZDOEVGNjQiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6RDY0OTg0NDg5NENEMTFFNThFOUY5MjkyRTZDOEVGNjQiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDpENjQ5ODQ0NTk0Q0QxMUU1OEU5RjkyOTJFNkM4RUY2NCIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDpENjQ5ODQ0Njk0Q0QxMUU1OEU5RjkyOTJFNkM4RUY2NCIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PpHvB4sAAAJySURBVHjapJY5aFRRFIZfnpFgpYVRxDDRwsYNQbEQXEnQItoNRgtt4lQGcUFFRBSRJIWKkGqIrSSihUshmpioIK6gqCgS3AhxLTIYBZc4fsf8Dy6P+944yYGPO5x373+3c86dimKxGCRZPp/P0GyG1TAXquEXDMBb6IMueO0bn8vlgsoU4Vaol0A7PIYPUAUzYQ6shftwFfbDu7hW6BHfQPMAnsNs2A6XNPgnfIUX8tm3Wer7EDalToD4DpqTUMf2jtIOB6XN+ljfNXAMdrofKx3xjTS7YRniA0H59gRWwG0Y1NGO7kBnbuecHaN4ZDY2K62Me0Qt0IH43WD8Zhqnoe3fBKy+VtHQ6ul8AD7DRzgCE+TfBf3wRr/jZguuN227g0a4zOoLsQvP6tIiOwQjiqQWx39cEXbO8RV0B42hkuiCZxV7PD6L9YMe/z6P74pp2w7mK+7jtsDjm5Rw7vM8vkembTuYqjOO2/cyLvabx2ea1VEUVXk6nC9jgs6kDzbBF5jh+bYX7v2HeE/CHUy3CLQJnuke4pWwoMw8AX88Ar/hsELcd5yL4KlNcB3WJ6zuh8rHKnjv+K2qLldujCSMXQe9oeK1gbifnHIMt7SbQSXeSriT0t+0rLZ1hRyFZWO3YjzNLHO3whZ4WaKvaV0z7dBJlCZ2sbTEwG4lUJqZRlN08aEu1FK92dKdSWrGUehqVDKao9ctdKKmU3XlBpMsHIO4Zf5NOOXmRUX80deT2eGU3KESwlOUM9vAXsQz7qMfeuL/Is0SvbX9ejwa9IBMFBn52tXH3u7FrnjiDlL+tlhBm6ZPn5SgvXAWXiX9bfkrwAAw77bgUNrUzwAAAABJRU5ErkJggg==");
  background-repeat: no-repeat;
  background-size: 12px auto;
}
.recommandLocation span {
  margin-right: 10px;
}
.recommandLocation em {
  width: 62px;
  height: 1px;
  background-color: #ccc;
}
.recommandLocationItems {
  width: 100%;
}
.recommandLocationItems a {
  display: block;
  float: left;
  width: 50%;
  padding: 0  6px 0 12px;
  padding-bottom: 5px;
}
.recommandLocationItems a .recommandBj {
  width: 100%;
  background: #fff;
  border-radius: 5px;
}
.recommandLocationItems a .recommandBj img {
  width: 100%;
  height: auto;
  border-radius: 5px 5px 0 0;
}
.recommandLocationItems a .recommandBj h2 {
  font-size: 14px;
  color: #666;
  font-weight: normal;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 1.5;
  padding-top: 5px;
  padding-left: 10px;
}
.recommandLocationItems a .recommandBj p {
  font-size: 14px;
  font-weight: normal;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #0172ff;
  line-height: 1.5;
  padding-bottom: 5px;
  padding-left: 10px;
}
.recommandLocationItems a:nth-child(even) {
  padding: 0  12px 0 6px;
}
#db-content .apple {
  font-size: 12px;
  line-height: 22px;
  text-align: center;
  color: #ccc;
  text-shadow: 1px 1px #fff;
  padding: 8px 0;
}
#db-content .apple img {
  width: 27px;
  height: auto;
}
@media (min-width: 360px) {
  .recommandLocation em {
    width: 120px;
  }
}
@media (min-width: 375px) {
  .recommandLocation em {
    width: 130px;
  }
}
@media (min-width: 414px) {
  .recommandLocation em {
    width: 146px;
  }
}
