.records-list {
  padding-bottom: 10px;
  background-color: #fff;
}
.records-list > a {
  display: block;
  background-color: #fff;
}
.records-list > a:active {
  background-color: #f1f1f1;
}
.records-list > a .record-group {
  margin: 0 10px;
  padding: 10px 0;
  border-bottom: solid #eee 1px;
  background-image: url(http://yun.duiba.com.cn/webapp/img/records.png);
  background-repeat: no-repeat;
  background-position: right -51px;
  background-size: 13px;
}
.records-list > a .record-group > * {
  display: block;
  float: left;
}
.records-list > a .record-group img {
  width: 45px;
  height: 45px;
  border-radius: 8px;
}
.records-list > a .record-group .item-info {
  margin-left: 10px;
}
.records-list > a .record-group .item-info h2 {
  font-size: 14px;
  font-weight: normal;
  overflow: hidden;
  max-width: 225px;
  margin-top: 2px;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #333;
}
.records-list > a .record-group .item-info h2 > * {
  display: inline-block;
}
.records-list > a .record-group .item-info h2 span {
  line-height: 1.4;
}
.records-list > a .record-group .item-info h2 i.new-record {
  width: 8px;
  height: 8px;
  margin-right: 5px;
  vertical-align: 1px;
  border-radius: 100%;
  background-color: #f43531;
}
.records-list > a .record-group .item-info h2 i.new-record + span {
  font-weight: 700;
}
.records-list > a .record-group .item-info p {
  font-size: 12px;
  margin-top: 7px;
  color: #666;
}
.records-list > a .record-group .item-info p > * {
  display: inline-block;
  vertical-align: middle;
}
.records-list > a .record-group.invalid .item-info h2,
.records-list > a .record-group.invalid .item-info p {
  color: #ccc;
}
.records-list > a .record-group.invalid img {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}
.records-list > a .record-group::after {
  content: '';
  display: table;
  clear: both;
}
.orange {
  color: #fe950b;
}
.gray {
  color: #ccc;
}
.clock,
.post {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 2px;
  background-image: url(http://yun.duiba.com.cn/webapp/img/records.png);
  background-repeat: no-repeat;
  background-size: 13px;
}
.post {
  background-position: 0 -25px;
}
.loading {
  display: none;
  padding-top: 2px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #fff;
}
.loading img {
  width: 16px;
  height: 16px;
}
.retry {
  font-size: 14px;
  line-height: 20px;
  display: none;
  padding-bottom: 10px;
  text-align: center;
  color: #d20000;
  background-color: #fff;
}
.nomore {
  font-size: 12px;
  display: none;
  padding-bottom: 10px;
  text-align: center;
  background-color: #fff;
}
.noRecord {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}
.noRecord img {
  width: 68px;
  margin-bottom: 10px;
}
.noRecord p {
  line-height: 1.4;
}
.goHome {
  font-size: 12px;
  line-height: 30px;
  display: inline-block;
  width: 120px;
  height: 32px;
  margin-top: 15px;
  text-align: center;
  color: #666;
  border: solid 1px #ccc;
  border-radius: 4px;
  background-image: -webkit-linear-gradient(#ffffff, #ebebeb);
  background-image: -o-linear-gradient(#ffffff, #ebebeb);
  background-image: -moz-linear-gradient(#ffffff, #ebebeb);
  background-image: linear-gradient(#ffffff, #ebebeb);
}
