.clearfix::after {
  display: table;
  clear: both;
  content: '';
}
.mainContFl {
  float: left;
  width: 40%;
  border-right: 1px solid #eee;
}
.mainShowcase {
  position: relative;
  display: block;
  float: left;
  overflow: hidden;
  width: 100%;
  height: auto;
  padding: 5px 0 5px 0;
}
.mainShowcase img {
  width: 84%;
  height: auto;
  margin-bottom: 19px;
  vertical-align: bottom;
}
.mainShowcase .mainTip {
  position: absolute;
  top: 5px;
  left: 10px;
  display: block;
  width: 90%;
}
.mainShowcase .mainTip * {
  font-style: normal;
  display: block;
  padding: 2px 0;
}
.mainShowcase .mainTip h2 {
  font-size: 16px;
  font-weight: normal;
  display: block;
  overflow: hidden;
  width: 100px;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #f01d01;
}
.mainShowcase .mainTip p {
  font-size: 12px;
  display: block;
  overflow: hidden;
  width: 110px;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #999;
}
.mainShowcase .mainTip i {
  font-size: 12px;
  display: block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #29b6b0;
}
.mainShowcase .mainTip span {
  font-size: 10px;
  line-height: 14px;
  height: 14px;
  margin-top: 4px;
  text-align: center;
  color: #fff;
  border-radius: 4px;
}
.mainShowcase .mainTip span.proceed {
  width: 70px;
  padding: 0 0 0 12px!important;
  background: url('http://yun.duiba.com.cn/upload/nt9kbaxudq.png') rgba(51, 51, 51, 0.8) no-repeat 10px center;
  background-size: auto 28px;
}
.mainShowcase .mainTip span.state {
  width: 77px;
  padding: 0 0 0 28px!important;
  background: url('http://yun.duiba.com.cn/upload/u25wnubbyg.png') rgba(51, 51, 51, 0.8) no-repeat left 0;
  background-size: auto 28px;
}
.mainShowcase .mainTip span.end {
  width: 77px;
  padding: 0 0 0 28px!important;
  background: url('http://yun.duiba.com.cn/upload/u25wnubbyg.png') rgba(51, 51, 51, 0.8) no-repeat left -14px;
  background-size: auto 28px;
}
.mainShowcase .mainTip span.disabled {
  width: 48px;
  padding: 0!important;
  background: #d1d1d1;
}
.showcaseRight {
  float: right;
  overflow: hidden;
  width: 60%;
}
.showcaseRight .showcaseTop,
.showcaseRight .showcaseBottom {
  width: 190px;
  padding-left: 10px;
  position: relative;
  width: 100%;
}
.showcaseRight .showcaseTop h2,
.showcaseRight .showcaseBottom h2 {
  font-size: 16px;
  font-weight: normal;
  display: block;
  overflow: hidden;
  width: 100px;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #f01d01;
}
.showcaseRight .showcaseTop p,
.showcaseRight .showcaseBottom p {
  font-size: 12px;
  display: block;
  overflow: hidden;
  width: 110px;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #999;
}
.showcaseRight .showcaseTop i,
.showcaseRight .showcaseBottom i {
  font-size: 12px;
  display: block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #29b6b0;
}
.showcaseRight .showcaseTop span,
.showcaseRight .showcaseBottom span {
  font-size: 10px;
  line-height: 14px;
  display: block;
  height: 14px;
  margin-top: 4px;
  text-align: center;
  color: #fff;
  border-radius: 4px;
}
.showcaseRight .showcaseTop span.proceed,
.showcaseRight .showcaseBottom span.proceed {
  width: 70px;
  padding: 0 0 0 12px!important;
  background: url('http://yun.duiba.com.cn/upload/nt9kbaxudq.png') rgba(51, 51, 51, 0.8) no-repeat 10px center;
  background-size: auto 28px;
}
.showcaseRight .showcaseTop span.state,
.showcaseRight .showcaseBottom span.state {
  width: 77px;
  padding: 0 0 0 28px!important;
  background: url('http://yun.duiba.com.cn/upload/u25wnubbyg.png') rgba(51, 51, 51, 0.8) no-repeat left 0;
  background-size: auto 28px;
}
.showcaseRight .showcaseTop span.end,
.showcaseRight .showcaseBottom span.end {
  width: 77px;
  padding: 0 0 0 28px!important;
  background: url('http://yun.duiba.com.cn/upload/u25wnubbyg.png') rgba(51, 51, 51, 0.8) no-repeat left -14px;
  background-size: auto 28px;
}
.showcaseRight .showcaseTop span.disabled,
.showcaseRight .showcaseBottom span.disabled {
  width: 48px;
  padding: 0!important;
  background: #d1d1d1;
}
.showcaseRight .showcaseTop .rightImg,
.showcaseRight .showcaseBottom .rightImg {
  display: block;
  width: 100%;
  padding: 13px 0;
  text-align: right;
}
.showcaseRight .showcaseTop .rightImg img,
.showcaseRight .showcaseBottom .rightImg img {
  width: 53%;
  margin-right: 10px;
  vertical-align: middle;
}
.showcase {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  border-right: 0;
  border-left: none;
  background: #fff;
}
.stateImg {
  line-height: 155px;
  display: block;
  text-align: center;
}
.mt10 {
  margin-top: 5px;
}
.mt30 {
  margin-top: 15px;
}
.mt50 {
  margin-top: 25px;
}
.showcaseBottom .showTitle {
  position: absolute;
  top: 5px;
  left: 10px;
  width: 90%;
}
.showcaseBottom .showTitle * {
  padding: 2px 0;
}
.showcaseBottom .showTitle h3 {
  font-size: 16px;
  font-weight: normal;
  display: block;
  overflow: hidden;
  width: 100px;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #fe6f0f;
}
.showcaseRight .showcaseTop .stateTop {
  width: 90%;
  position: absolute;
  top: 5px;
  left: 10px;
  font-style: normal;
  display: block;
  padding: 2px 0;
}
.showcaseRight .showcaseTop .stateTop * {
  padding: 2px 0;
}
.showcaseBottom {
  border-top: 1px solid #eee;
}
body {
  width: 100%;
  max-width: 500px;
}
.banner {
  position: relative;
  background-color: #fff;
}
.banner .banner-swipe {
  position: relative;
  visibility: hidden;
  overflow: hidden;
}
.banner .banner-swipe > div {
  position: relative;
  overflow: hidden;
}
.banner .banner-swipe > div > div {
  position: relative;
  float: left;
  width: 100%;
}
.banner .banner-position {
  line-height: 1;
  position: absolute;
  bottom: 10px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
   -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
       transform: translate(-50%, 0);
  text-align: center;
}
.banner .banner-position li {
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 0 3px;
  float: left;
  -webkit-transition: background-color 0.3s;
     -moz-transition: background-color 0.3s;
       -o-transition: background-color 0.3s;
          transition: background-color 0.3s;
  border: solid #fff 1px;
  -webkit-border-radius: 100%;
}
.banner .banner-position li.cur {
  background-color: #fff;
}
.banner .banner-position::after {
  content: '';
  display: table;
  clear: both;
}
.banner img {
  width: 100%;
}
.banner + .top {
  border: none;
}
.top {
  margin-bottom: 10px;
  padding: 0 43px;
  background-color: #fff;
}
.top > * {
  padding: 12px 0;
}
.top .credits {
  float: left;
}
.top .credits > * {
  display: block;
  float: left;
}
.top .credits i {
  position: relative;
  width: 12px;
  height: 12px;
  margin-right: 5px;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGEAAAAYCAYAAADqK5OqAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyNpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNS1jMDE0IDc5LjE1MTQ4MSwgMjAxMy8wMy8xMy0xMjowOToxNSAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIChNYWNpbnRvc2gpIiB4bXBNTTpJbnN0YW5jZUlEPSJ4bXAuaWlkOjVDNjdBNUI3MDIyRjExRTVBQTdEODZCNTYzNDgxOTVEIiB4bXBNTTpEb2N1bWVudElEPSJ4bXAuZGlkOjVDNjdBNUI4MDIyRjExRTVBQTdEODZCNTYzNDgxOTVEIj4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6NUM2N0E1QjUwMjJGMTFFNUFBN0Q4NkI1NjM0ODE5NUQiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6NUM2N0E1QjYwMjJGMTFFNUFBN0Q4NkI1NjM0ODE5NUQiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz5oFH8dAAAEN0lEQVR42sya30sUURTHZ7elIPoF/cKIeuglKqUgzNylkIgkKPBBlJ4KzJcgkUD7D6QgJKqXpagntR4CoQfJ6JdaRBvFZi9BliLE2g+URIgetu/ZPTvcGWfuzNx7RzzwZZaZe8985px779x7ZxPFYtHys2w2uwOHM1ADtAfaDP2DpqFJ6Dl0v729/au1RAYmOoTighZxgdXE/UWLxOJ1/6Rf8KE+/HwHbYduQmloHbQNaoJu8bW3VJYTFncC6B6hubhsXFzGWBLunoAHPY3DbegG1IvMzQcEZg0OndBFEsr3x5QABxc0H1DFwQX1G+wJWizuGDmSgBt0cMEmFMxHhKvGYZDAULfXcAJsLigfsbrNxY1qWbCIMUoKzltwuAQdjZoAbmEfcThCGWdfphKgxQWzuaAWUywKCXCwiDFKCmMtjWnNeNBpVUiu20y+TLwjTHHxS1KLS2Rhf8ZiVOkJPTTGocAb3cCxjzvQFQMdwRgXTJerh98DxmOUQjZ24ngC2uXTAnI4/IVOofJvPkczgIf0wsG5Oh/gL+Qb1ycVW56Uy2VjfEyHCGRkrgCW0RD3Jb6MHwv1hFboEaDmfBysgOqhJ6iwEdqA34+hY/Ri98n0HM+NWzUaTBCXaPWsIFPlisIStjfYLEleZAxKyjdCn6ADvPB4AR3i+fFJSb0h9q1qQVyqpsIlY8lwY5QpI2OhJOyDcpKMFRgiz2VroNfUE3DtlwT8A5dXNSmXhqlwxcpCSdgEFSTjIY15Mxz8ih2GZvmanxV4Ca9qUi4NU+GSsVAMigEalbFUZkerrOVpflwj0Hveq3Hbbr72colYtC0F/YSqoD8+w1FG6BVFPpcI4Xsr9EODTca1EtrPezIXhPNneb9mtWQqqcIlY8loPGOJJcUvXRrzPkuGo7TrXGWvY0xMkssoSOMagDKuBg42Bf2ucL7y+54rObpc0hhpWImFhqOntAaIoZfRrOqZRn0Z1wJ0jrUQ4rwul4xF551QYknxXJW2o9d7zYNVhiPyxfs0BzWSIOUSWnyOZ2vEVBfQylW5bBZea5jYE7NZknjAb7QQgy4b7AXka5h9qy5mwnJR0Nda5e3i8Ti4AlhU1wk2S2V21A21ITu1ATwjLFmGyUcb+9S1sFxhTJerm+vXGugFDhb7ewIu0NL8Ki3/VXcs4YO+Ir2CuuBjwFC3dXB5fF4MY0a4RBZLfSd1EUtS6HJ04hptS+BmNQqA1Tw3v24qASa4rPKHlBIXNGCKxbV4jcwixkj2ebO01YrCswHBpw29Lug81IHyfXEsaNxctGIPqOLgssrfeE1/3lRiccco4fVvC/7YQM6Pc+sZ4r2j71ykiltCI+8wDtP4BudTcS6fVbmgKaE1m0gCmbEYJSL85WUvtIUvzfAChubbD+B4Yqn2MTz+8uLLBU14DCmmkiAmIzSL1/3/CzAAztsrwPiW3XAAAAAASUVORK5CYII=");
  background-repeat: no-repeat;
  background-size: 48.5px;
}
.top .credits::after {
  content: '';
  display: table;
  clear: both;
}
.top .records {
  float: right;
  display: block;
  position: relative;
}
.top .records > * {
  display: block;
  float: left;
}
.top .records .note {
  position: relative;
  width: 13px;
  height: 12px;
  margin-right: 5px;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGEAAAAYCAYAAADqK5OqAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyNpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNS1jMDE0IDc5LjE1MTQ4MSwgMjAxMy8wMy8xMy0xMjowOToxNSAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIChNYWNpbnRvc2gpIiB4bXBNTTpJbnN0YW5jZUlEPSJ4bXAuaWlkOjVDNjdBNUI3MDIyRjExRTVBQTdEODZCNTYzNDgxOTVEIiB4bXBNTTpEb2N1bWVudElEPSJ4bXAuZGlkOjVDNjdBNUI4MDIyRjExRTVBQTdEODZCNTYzNDgxOTVEIj4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6NUM2N0E1QjUwMjJGMTFFNUFBN0Q4NkI1NjM0ODE5NUQiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6NUM2N0E1QjYwMjJGMTFFNUFBN0Q4NkI1NjM0ODE5NUQiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz5oFH8dAAAEN0lEQVR42sya30sUURTHZ7elIPoF/cKIeuglKqUgzNylkIgkKPBBlJ4KzJcgkUD7D6QgJKqXpagntR4CoQfJ6JdaRBvFZi9BliLE2g+URIgetu/ZPTvcGWfuzNx7RzzwZZaZe8985px779x7ZxPFYtHys2w2uwOHM1ADtAfaDP2DpqFJ6Dl0v729/au1RAYmOoTighZxgdXE/UWLxOJ1/6Rf8KE+/HwHbYduQmloHbQNaoJu8bW3VJYTFncC6B6hubhsXFzGWBLunoAHPY3DbegG1IvMzQcEZg0OndBFEsr3x5QABxc0H1DFwQX1G+wJWizuGDmSgBt0cMEmFMxHhKvGYZDAULfXcAJsLigfsbrNxY1qWbCIMUoKzltwuAQdjZoAbmEfcThCGWdfphKgxQWzuaAWUywKCXCwiDFKCmMtjWnNeNBpVUiu20y+TLwjTHHxS1KLS2Rhf8ZiVOkJPTTGocAb3cCxjzvQFQMdwRgXTJerh98DxmOUQjZ24ngC2uXTAnI4/IVOofJvPkczgIf0wsG5Oh/gL+Qb1ycVW56Uy2VjfEyHCGRkrgCW0RD3Jb6MHwv1hFboEaDmfBysgOqhJ6iwEdqA34+hY/Ri98n0HM+NWzUaTBCXaPWsIFPlisIStjfYLEleZAxKyjdCn6ADvPB4AR3i+fFJSb0h9q1qQVyqpsIlY8lwY5QpI2OhJOyDcpKMFRgiz2VroNfUE3DtlwT8A5dXNSmXhqlwxcpCSdgEFSTjIY15Mxz8ih2GZvmanxV4Ca9qUi4NU+GSsVAMigEalbFUZkerrOVpflwj0Hveq3Hbbr72colYtC0F/YSqoD8+w1FG6BVFPpcI4Xsr9EODTca1EtrPezIXhPNneb9mtWQqqcIlY8loPGOJJcUvXRrzPkuGo7TrXGWvY0xMkssoSOMagDKuBg42Bf2ucL7y+54rObpc0hhpWImFhqOntAaIoZfRrOqZRn0Z1wJ0jrUQ4rwul4xF551QYknxXJW2o9d7zYNVhiPyxfs0BzWSIOUSWnyOZ2vEVBfQylW5bBZea5jYE7NZknjAb7QQgy4b7AXka5h9qy5mwnJR0Nda5e3i8Ti4AlhU1wk2S2V21A21ITu1ATwjLFmGyUcb+9S1sFxhTJerm+vXGugFDhb7ewIu0NL8Ki3/VXcs4YO+Ir2CuuBjwFC3dXB5fF4MY0a4RBZLfSd1EUtS6HJ04hptS+BmNQqA1Tw3v24qASa4rPKHlBIXNGCKxbV4jcwixkj2ebO01YrCswHBpw29Lug81IHyfXEsaNxctGIPqOLgssrfeE1/3lRiccco4fVvC/7YQM6Pc+sZ4r2j71ykiltCI+8wDtP4BudTcS6fVbmgKaE1m0gCmbEYJSL85WUvtIUvzfAChubbD+B4Yqn2MTz+8uLLBU14DCmmkiAmIzSL1/3/CzAAztsrwPiW3XAAAAAASUVORK5CYII=");
  background-repeat: no-repeat;
  background-position: -36px 0;
  background-size: 48.5px;
}
.top .records #db-new-record {
  display: none;
  position: absolute;
  top: 9px;
  right: -7px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #db0b0b;
}
.top .records::after {
  content: '';
  display: table;
  clear: both;
}
.top::after {
  content: '';
  display: table;
  clear: both;
}
.icons {
  overflow: hidden;
  padding-top: 12px;
  background-color: #fff;
}
.icons a {
  display: block;
  float: left;
  width: 25%;
  text-align: center;
}
.icons a img {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
}
.icons a h2 {
  font-size: 10px;
  font-weight: normal;
  line-height: 1.4;
  color: #666;
  overflow: hidden;
  padding-bottom: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.icons::after {
  content: '';
  display: table;
  clear: both;
}
.recommand {
  font-size: 10px;
  display: none;
  padding: 5px 0;
  text-align: center;
  color: #888;
}
.recommand > * {
  display: inline-block;
  vertical-align: middle;
}
.recommand i {
  width: 12px;
  height: 12px;
  margin-right: 5px;
  margin-left: 10px;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGEAAAAYCAYAAADqK5OqAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyNpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNS1jMDE0IDc5LjE1MTQ4MSwgMjAxMy8wMy8xMy0xMjowOToxNSAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIChNYWNpbnRvc2gpIiB4bXBNTTpJbnN0YW5jZUlEPSJ4bXAuaWlkOjVDNjdBNUI3MDIyRjExRTVBQTdEODZCNTYzNDgxOTVEIiB4bXBNTTpEb2N1bWVudElEPSJ4bXAuZGlkOjVDNjdBNUI4MDIyRjExRTVBQTdEODZCNTYzNDgxOTVEIj4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6NUM2N0E1QjUwMjJGMTFFNUFBN0Q4NkI1NjM0ODE5NUQiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6NUM2N0E1QjYwMjJGMTFFNUFBN0Q4NkI1NjM0ODE5NUQiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz5oFH8dAAAEN0lEQVR42sya30sUURTHZ7elIPoF/cKIeuglKqUgzNylkIgkKPBBlJ4KzJcgkUD7D6QgJKqXpagntR4CoQfJ6JdaRBvFZi9BliLE2g+URIgetu/ZPTvcGWfuzNx7RzzwZZaZe8985px779x7ZxPFYtHys2w2uwOHM1ADtAfaDP2DpqFJ6Dl0v729/au1RAYmOoTighZxgdXE/UWLxOJ1/6Rf8KE+/HwHbYduQmloHbQNaoJu8bW3VJYTFncC6B6hubhsXFzGWBLunoAHPY3DbegG1IvMzQcEZg0OndBFEsr3x5QABxc0H1DFwQX1G+wJWizuGDmSgBt0cMEmFMxHhKvGYZDAULfXcAJsLigfsbrNxY1qWbCIMUoKzltwuAQdjZoAbmEfcThCGWdfphKgxQWzuaAWUywKCXCwiDFKCmMtjWnNeNBpVUiu20y+TLwjTHHxS1KLS2Rhf8ZiVOkJPTTGocAb3cCxjzvQFQMdwRgXTJerh98DxmOUQjZ24ngC2uXTAnI4/IVOofJvPkczgIf0wsG5Oh/gL+Qb1ycVW56Uy2VjfEyHCGRkrgCW0RD3Jb6MHwv1hFboEaDmfBysgOqhJ6iwEdqA34+hY/Ri98n0HM+NWzUaTBCXaPWsIFPlisIStjfYLEleZAxKyjdCn6ADvPB4AR3i+fFJSb0h9q1qQVyqpsIlY8lwY5QpI2OhJOyDcpKMFRgiz2VroNfUE3DtlwT8A5dXNSmXhqlwxcpCSdgEFSTjIY15Mxz8ih2GZvmanxV4Ca9qUi4NU+GSsVAMigEalbFUZkerrOVpflwj0Hveq3Hbbr72colYtC0F/YSqoD8+w1FG6BVFPpcI4Xsr9EODTca1EtrPezIXhPNneb9mtWQqqcIlY8loPGOJJcUvXRrzPkuGo7TrXGWvY0xMkssoSOMagDKuBg42Bf2ucL7y+54rObpc0hhpWImFhqOntAaIoZfRrOqZRn0Z1wJ0jrUQ4rwul4xF551QYknxXJW2o9d7zYNVhiPyxfs0BzWSIOUSWnyOZ2vEVBfQylW5bBZea5jYE7NZknjAb7QQgy4b7AXka5h9qy5mwnJR0Nda5e3i8Ti4AlhU1wk2S2V21A21ITu1ATwjLFmGyUcb+9S1sFxhTJerm+vXGugFDhb7ewIu0NL8Ki3/VXcs4YO+Ir2CuuBjwFC3dXB5fF4MY0a4RBZLfSd1EUtS6HJ04hptS+BmNQqA1Tw3v24qASa4rPKHlBIXNGCKxbV4jcwixkj2ebO01YrCswHBpw29Lug81IHyfXEsaNxctGIPqOLgssrfeE1/3lRiccco4fVvC/7YQM6Pc+sZ4r2j71ykiltCI+8wDtP4BudTcS6fVbmgKaE1m0gCmbEYJSL85WUvtIUvzfAChubbD+B4Yqn2MTz+8uLLBU14DCmmkiAmIzSL1/3/CzAAztsrwPiW3XAAAAAASUVORK5CYII=");
  background-repeat: no-repeat;
  background-position: -19px 0;
  background-size: 48.5px;
}
.recommand span {
  margin-right: 10px;
}
.recommand em {
  width: 62px;
  height: 1px;
  background-color: #ccc;
}
@media (min-width: 360px) {
  .recommand em {
    width: 120px;
  }
}
@media (min-width: 375px) {
  .recommand em {
    width: 130px;
  }
}
@media (min-width: 414px) {
  .recommand em {
    width: 146px;
  }
}
.icons + .recommand {
  display: block;
}
.items {
  background-color: #fff;
}
.items a {
  display: block;
  float: left;
  width: 50%;
  padding: 10px;
  padding-bottom: 5px;
  border-right: solid 1px #ddd;
  border-bottom: solid 1px #ddd;
}
.items a h2 {
  font-size: 12px;
  line-height: 1.4;
  font-weight: normal;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #666;
}
.items a p {
  font-size: 10px;
  line-height: 16px;
  padding: 1px 0 3px;
}
.items a img {
  width: 100%;
  margin-bottom: 8px;
}
.items a:nth-child(2n) {
  border-right: none;
}
.items a .tag {
  line-height: 14px;
  font-size: 10px;
  margin-left: 2.5px;
  text-align: center;
  -webkit-transform: none;
  border: solid transparent 1px;
  border-radius: 10px;
  padding: 0 4px;
  font-style: normal;
}
.items a .tag.hasexchanged,
.items a .tag.outofstock {
  color: #ccc !important;
  border-color: #ccc !important;
  background-color: #f0f0f0 !important;
}
.items::after {
  content: '';
  display: table;
  clear: both;
}
.apple {
  font-size: 10px;
  padding: 10px 0;
  text-align: center;
  color: #ccc;
}
#db-footer-area {
  display: none;
}
