{template 'public/header'}
{template 'public/comhead'}
<link rel="stylesheet" type="text/css" href="../addons/yzcj_sun/template/public/ygcss.css">
<ul class="nav nav-tabs">    
    <span class="ygxian"></span>
    <div class="ygdangq">当前位置:</div>
    <li class="active"><a href="javascript:void(0);">小程序设置</a></li>
</ul>
<div class="main">
    <form action="" method="post" class="form-horizontal form" enctype="multipart/form-data" id="invitative">
        <div class="panel panel-default ygdefault">
            <div class="panel-heading wyheader">
                系统设置&nbsp;>&nbsp;小程序设置
            </div>
            <div class="panel-body">
                <div class="form-group">
                   <label for="lastname" class="col-sm-2 control-label">过审设置：</label>
                   <div class="col-sm-10">
                        <label class="radio-inline">
                           <input type="radio" name="sj_audit" value="0" {if $item['sj_audit']==0 || empty($item['sj_audit'])}checked{/if} />审核状态
                       </label>
                       <label class="radio-inline">
                           <input type="radio" name="sj_audit" value="1" {if $item['sj_audit']==1}checked{/if} />正常状态
                       </label>
                   </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">过审小程序版本号：</label>
                    <div class="col-sm-9">
                        <input type="text" name="version" value="{$item['version']}" id="web_name" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">小程序appid：</label>
                    <div class="col-sm-9">
                        <input type="text" name="appid" value="{$item['appid']}" id="web_name" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">小程序appsecret：</label>
                    <div class="col-sm-9">
                        <input type="text" name="appsecret" value="{$item['appsecret']}" id="web_name" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">小程序支付商户号：</label>
                    <div class="col-sm-9">
                        <input type="text" name="mchid" value="{$item['mchid']}" id="web_name" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">小程序支付Api密钥：</label>
                    <div class="col-sm-9">
                        <input type="text" name="wxkey" value="{$item['wxkey']}" id="web_name" class="form-control" />
                        <span class="help-block" style="color:red">*请输入微信支付商户后台32位API密钥</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">支付apiclient_cert.pem: <span style="color: red;">{if $item['apiclient_cert']}(已上传){/if}</span></label>
                    <div class="col-sm-9">
                        <input type="file"  class="form-control"  value="{$item['apiclient_cert']}" style="width: 740px;" name="apiclient_cert" id="file" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">支付apiclient_key.pem<span style="color: red;">{if $item['apiclient_key']}(已上传){/if}</span></label>
                    <div class="col-sm-9">
                        <input type="file"  class="form-control" value="{$item['apiclient_key']}"  style="width: 740px;" name="apiclient_key" id="file" />
                    </div>
                </div>
                <!-- <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">模版消息说明</label>
                    <div class="col-sm-9">
                        <div style="color: #999;">*请自行在微信公众平台添加模版，模板编号为AT0705,开奖结果通知，关键词为(活动商品、注意事项)</div>
                    </div>
                </div> -->
                <!--<div class="form-group">-->
                    <!--<label class="col-xs-12 col-sm-3 col-md-2 control-label">微信小程序JavaScript SDK的key</label>-->
                    <!--<div class="col-sm-9">-->
                        <!--<input type="text" name="mapkey" class="form-control" value="{$item['mapkey']}" />-->
                        <!--<span class="help-block">*腾讯地图申请网站 http://lbs.qq.com/qqmap_wx_jssdk/index.html</span>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<label class="col-xs-12 col-sm-3 col-md-2 control-label">高德地图key</label>-->
                    <!--<div class="col-sm-9">-->
                        <!--<input type="text" name="gd_key" class="form-control" value="{$item['gd_key']}" />-->
                        <!--<span class="help-block">*申请网址:http://lbs.amap.com/dev/key/app</span>-->
                    <!--</div>-->
                <!--</div>-->
            </div>
        </div>
        
        <div class="form-group">
            <input type="submit" name="submit" value="保存设置" class="btn col-lg-3" style="color: white;background-color: #444444;margin-left: 550px;" />
            <input type="hidden" name="token" value="{$_W['token']}" />
            <input type="hidden" name="id" value="{$item['id']}" />
        </div>
    </form>
</div>
<script type="text/javascript">
    $(function(){
        $("#frame-12").show();
        $("#yframe-12").addClass("wyactive");
    })
</script>