{template 'public/header'}
{template 'public/comhead'}
<link rel="stylesheet" type="text/css" href="../addons/yzcj_sun/template/public/ygcsslist.css">
<ul class="nav nav-tabs">
    <span class="ygxian"></span>
    <div class="ygdangq">当前位置:</div>
    <li class="active"><a href="{php echo $this->createWebUrl('settab')}">菜单管理</a></li>
    <li><a href="{php echo $this->createWebUrl('settab_add')}">添加菜单</a></li>
</ul>
<div class="main">

    <div class="panel panel-default">
        <div class="panel-heading">
            菜单管理
        </div>
            <div class="panel-body">
                <div class="row">
                    <table class="yg5_tabel col-md-12">
                        <tr class="yg5_tr1">
                            <td class="store_td1 col-md-1">id</td>
                            <td class="col-md-1">排序</td>
                            <td class="col-md-2">名称</td>
                            <td class="col-md-1">路径</td>
                            <td class="col-md-1">选中前图标</td>
                            <td class="col-md-1">选中后图标</td>
                            <td class="col-md-1">状态</td>
                            <td class="col-md-2">操作</td>
                        </tr>
                        {loop $list $row}
                        <tr class="yg5_tr2">
                            <td><div>{$row['id']}</div></td>
                            <td><div>{$row['sort']}</div></td>
                            <td>{$row['name']}</td>
                            <td>{$row['path']}</td>
                            <td><img src="{$_W['attachurl']}{$row['img']}" height="50"></td>
                            <td><img src="{$_W['attachurl']}{$row['imgs']}" height="50"></td>
                            <td>
                                {if $row['status']==1}
                                    待审核
                                {elseif $row['status']==2}
                                    已通过
                                {else}
                                    已拒绝
                                {/if}
                            </td>
                            <td>
                                {if $row['status']==1}
                                <a href="{php echo $this->createWebUrl('settab',array('op'=>'pass','id'=>$row['id']));}"><button class="btn storeblue btn-xs">通过</button></a>
                                <a href="{php echo $this->createWebUrl('settab',array('op'=>'nopass','id'=>$row['id']));}"><button class="btn storegrey btn-xs">拒绝</button></a>
                                {/if}
                                {if $row['status']==2}
                                <a href="{php echo $this->createWebUrl('settab',array('op'=>'nopass','id'=>$row['id']));}"><button class="btn storegrey btn-xs">拒绝</button></a>
                                {/if}
                                {if $row['status']==3}
                                <a href="{php echo $this->createWebUrl('settab',array('op'=>'pass','id'=>$row['id']));}"><button class="btn storeblue btn-xs">通过</button></a>
                                {/if}
                                <a href="{php echo $this->createWebUrl('settab_add', array('id' => $row['id']))}" class="storespan btn btn-xs">
                                    <span class="fa fa-pencil"></span>
                                    <span class="bianji">编辑
                                        <span class="arrowdown"></span>
                                    </span>                            
                                </a>
                                <a href="javascript:void(0);" class="storespan btn btn-xs" data-toggle="modal" data-target="#myModal{$row['id']}">
                                    <span class="fa fa-trash-o"></span>
                                    <span class="bianji">删除
                                        <span class="arrowdown"></span>
                                    </span>
                                </a>
                            </td>
                        </tr>
                            <div class="modal fade" id="myModal{$row['id']}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="myModalLabel" style="font-size: 20px;">提示</h4>
                                        </div>
                                        <div class="modal-body" style="font-size: 20px">
                                            确定删除么？
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                            <a href="{php echo $this->createWebUrl('settab', array('op' => 'delete','id' => $row['id']))}" type="button" class="btn btn-info" >确定</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {/loop}
                           {if empty($list)}
                            <tr class="yg5_tr2">
                                <td colspan="8">
                                    暂无信息
                                </td>
                            </tr>
                          {/if}
                        </table>
                    </div>
            </div>
        </div>
    <div class="text-right we7-margin-top">
        {$pager}
    </div>
</div>

<script type="text/javascript">
    $(function(){
        $("#frame-12").show();
        $("#yframe-12").addClass("wyactive");
    })
</script>