var bar = (function(list, type) {
    var title = '';
    for (var i = 0; i < list.length; i++) {
        if (list[((nt_0 = (i), null == nt_0 ? undefined : 'number' === typeof nt_0 ? nt_0 : "" + nt_0))].id === type) {
            title = list[((nt_1 = (i), null == nt_1 ? undefined : 'number' === typeof nt_1 ? nt_1 : "" + nt_1))].title;
            break
        }
    };
    return (title)
});
module.exports = ({
    bar: bar,
});