{template 'public/header'}
{template 'public/comhead'}
<link rel="stylesheet" type="text/css" href="../addons/byjs_sun/template/public/ygcss.css">
<ul class="nav nav-tabs">
    <span class="ygxian"></span>
    <div class="ygdangq">当前位置:</div>
    <li class=""><a href="{php echo $this->createWebUrl('viplist')}">会员列表</a></li>
    <li class=""><a href="{php echo $this->createWebUrl('vipcardlist')}">会员卡列表</a></li>
    <li class=""><a href="{php echo $this->createWebUrl('addvipcard')}">添加会员卡</a></li>
    <li class="active"><a href="{php echo $this->createWebUrl('in')}">会员卡期限</a></li>
</ul>
<div class="main">
    <form action="" method="post" class="form-horizontal form" enctype="multipart/form-data">
        <div class="panel panel-default ygdefault">
            <div class="panel-heading wyheader">
                <ul class="nav nav-tabs" style='margin-top:0px'>
                    <li><a href="{php echo $this->createWebUrl('in')}">期限管理</a></li>
                    <li class="active"><a href="{php echo $this->createWebUrl('addin')}">会员卡期限添加</a></li>
                </ul>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">期限名称</label>
                    <div class="col-sm-9">
                        <input type="text" name="name"  class="form-control" value="{$info['name']}" placeholder="如月卡，季卡，年卡等等" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">期限天数</label>
                    <div class="col-sm-9">
                        <input type="text" name="day" onkeyup="value=value.replace(/[^\d.]/g,'')" class="form-control" value="{$info['day']}" />
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <input type="submit" name="submit" value="提交" class="btn col-lg-3" style="color: white;background-color: #444444;margin-left: 450px;"/>
            <input type="hidden" name="token" value="{$_W['token']}" />
            <input type="hidden" name="id" value="{$info['id']}" />
        </div>
    </form>
</div>
<script type="text/javascript">
    $(function(){
        $("#frame-123").show();
        $("#yframe-123").addClass("wyactive");
    })
</script>