{template 'web/common/common'}
{template 'web/goods/navbar'}
<link rel="stylesheet" type="text/css" href="../addons/kundian_farm/resource/css/layui.css" />
<link rel="stylesheet" type="text/css" href="../addons/kundian_farm/resource/css/new-common.css" />
<script src="../addons/kundian_farm/resource/layui.js" charset="utf-8"></script>
<style type="text/css">
    .layui-tab{top: 0}
    .tag{float: left;margin-top: 7px;}
    .layui-text{background: white;position: absolute;top:0;width: 60%;height: 50px;}
    .new-style{overflow: hidden;padding-bottom: 40px;}
    .layui-tab{height: auto}
    .layui-form-label{width: 160px;}
    .layui-input-block{margin-left: 160px;}
    /*规格css*/
    .input-before{display: block;width: 60px;height: 34px;background: #eceeef;color:black;float:left;text-align: center;line-height: 34px;}
    .input-after{display: block;width: 60px;height: 34px;background: white;color: black;float:left;text-align: center;line-height: 34px;cursor: pointer;border: 1px solid #e7e7eb}
    .layui-input-block .input-reset{float: left;width: 300px;}

    .spec-div{width: 87%;height: auto;padding: 10px;border:1px solid #E7E7EB;border-radius: 3px;margin-left: 160px;overflow: hidden;margin-top: 10px}
    .spec-div img{width: 20px;height: 20px;cursor: pointer}
    .val-li .input-reset{float: left;width: 150px;height: 34px;}
    .spec-val{width: 70%;height: auto;}
    .val-li{float: left;width: auto;margin-top: 8px;}
    .val-li .value{width: auto;padding-left: 10px;padding-right: 10px;display:  block;height: 34px;float: left;background: #eee;color: black;line-height: 34px;}
    .val-li .val-delete{width: 34px;padding-left: 10px;padding-right: 10px;display:  block;height: 34px;float:left;background: #d4cece;cursor: pointer}
    .val-li .delete-img{width: 15px;height: 15px;position: relative;left: -24px;top: 8px;cursor: pointer}
    .layui-table .multi-img-details .multi-item{height: 50px;}
    .layui-table img{width: 50px;height: 50px;}
    .readonly_color{background: #f4f4f4;}
    .layui-input-block .img-input{height: 32px;width: 250px;}
    .layui-input-block .img-unit{top: 0;margin-left: -5px;cursor: pointer;}
    .layui-input-block .th-input{width: 100px;height: 32px;padding-left: 5px;}
    .layui-input-block  .th-unit{margin-left: -1px;top: 0px;background: #eeeeee;cursor: pointer;color: #009688}
</style>
<blockquote class="layui-elem-quote layui-text">
    商品->新增/编辑
</blockquote>

<div class="layui-card" id="app">
    <form action="" class="layui-form">
        <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
            <ul class="layui-tab-title">
                <li class="layui-this">商品基本信息</li>
                <li>商品规格</li>
                <li>运费规则</li>
                <li>商品详情</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <div class="layui-form-item">
                        <label class="layui-form-label">商品名称</label>
                        <div class="layui-input-block">
                            <input type="text" name="goods_name" value="{$data['list']['goods_name']}" placeholder="商品名称" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">商品简单介绍</label>
                        <div class="layui-input-block">
                            <input type="text" name="goods_remark" value="{$data['list']['goods_remark']}" placeholder="商品简单介绍" class="layui-input">
                        </div>
                    </div>


                    <div class="layui-form-item">
                        <label class="layui-form-label">商品分类</label>
                        <div class="layui-input-block">
                            <select name="type_id" id="type_id">
                                <option value="">请选择</option>
                                {loop $data['typeData'] $key $val}
                                <option value="{$val['id']}" <?php if($val['id']==$data['list']['type_id']){echo 'selected';}?> >{$val['type_name']}</option>
                                {/loop}
                            </select>
                        </div>
                    </div>
                    <!--<div class="layui-form-item">-->
                        <!--<label class="layui-form-label">商品溯源</label>-->
                        <!--<div class="layui-input-block">-->
                            <!--<select name="trace_id" id="trace_id">-->
                                <!--<option value="">请选择</option>-->
                                <!--{loop $data['traceData'] $key $val}-->
                                <!--<option value="{$val['id']}" <?php if($val['id']==$data['list']['trace_id']){echo 'selected';}?> >{$val['name']}</option>-->
                                <!--{/loop}-->
                            <!--</select>-->
                        <!--</div>-->
                    <!--</div>-->
                    <div class="layui-form-item">
                        <label class="layui-form-label">选择监控</label>
                        <div class="layui-input-block">
                            <select name="live_id">
                                <option value="0">请选择监控</option>
                                {loop $data['liveData'] $key $val}
                                <option value="{$val['id']}" <?php if($val['id']==$data['list']['live_id']){echo 'selected';}?> >{$val['title']}</option>
                                {/loop}
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">原价</label>
                        <div class="layui-input-block">
                            <input type="text" name="old_price" value="{$data['list']['old_price']}" placeholder="原价" class="layui-input unit-input">
                            <span class="unit" style="top:-27px;">元</span>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">现价</label>
                        <div class="layui-input-block">
                            <input type="text" name="price" value="{$data['list']['price']}" placeholder="现价" class="layui-input unit-input">
                            <span class="unit" style="top:-27px;">元</span>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">虚拟销量</label>
                        <div class="layui-input-block">
                            <input type="number" name="sale_count" value="{$data['list']['sale_count']}" placeholder="虚拟销量" class="layui-input unit-input">
                            <span class="unit" style="top:-27px;">件</span>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">封面(180*180)</label>
                        <div class="layui-input-block">
                            {php echo tpl_form_field_image('cover',$data['list']['cover']);}
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">轮播图(375*375)</label>
                        <div class="layui-input-block">
                            {php echo tpl_form_field_multi_image('goods_slide',$data['list']['goods_slide']);}
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">商品视频展示</label>
                        <div class="layui-input-block">
                            {php echo tpl_form_field_video('goods_video_src',$data['list']['goods_video_src']);}
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">是否上架</label>
                        <div class="layui-input-block">
                            {if $data['list']['is_put_away']==1}
                            <input type="radio" name="is_put_away" value="1" title="是" checked="">
                            <input type="radio" name="is_put_away" value="0" title="否">
                            {else}
                            <input type="radio" name="is_put_away" value="1" title="是" >
                            <input type="radio" name="is_put_away" value="0" title="否" checked="">
                            {/if}
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">是否推荐</label>
                        <div class="layui-input-block">
                            {if $data['list']['is_recommend']==1}
                            <input type="radio" name="is_recommend" value="1" title="是" checked="">
                            <input type="radio" name="is_recommend" value="0" title="否">
                            {else}
                            <input type="radio" name="is_recommend" value="1" title="是" >
                            <input type="radio" name="is_recommend" value="0" title="否" checked="">
                            {/if}
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">商品服务</label>
                        <div class="layui-input-block">
                            {loop $data['service'] $k $v}
                            {if $v['check']}
                            <input type="checkbox" name="service_id[]" value="{$v['id']}" lay-skin="primary" title="{$v['name']}" checked="checked">
                            {else}
                            <input type="checkbox" name="service_id[]" value="{$v['id']}" lay-skin="primary" title="{$v['name']}" >
                            {/if}
                            {/loop}
                        </div>
                    </div>
                    <!--<div class="layui-form-item layui-form-text">-->
                        <!--<label class="layui-form-label">发货说明</label>-->
                        <!--<div class="layui-input-block">-->
                            <!--<textarea placeholder="请输入内容" class="layui-textarea" name="send_goods_desc" style="width: 70%;">{$data['list']['send_goods_desc']}</textarea>-->
                            <!--<span style="color: gray;font-size: 12px;">-->
                                <!--提示：发货说明尽量控制在三个以内，且字数不宜过长，否则将会隐藏，一行一个发货说明！-->
                            <!--</span>-->
                        <!--</div>-->
                    <!--</div>-->



                    <div class="layui-form-item">
                        <label class="layui-form-label">排序</label>
                        <div class="layui-input-block">
                            <input type="number" name="rank" value="{$data['list']['rank']}" placeholder="排序" class="layui-input">
                        </div>
                    </div>

                </div>
                <!-- 商品规格 -->
                <div class="layui-tab-item">
                    <div class="layui-form-item">
                        <label class="layui-form-label">商品库存</label>
                        <div class="layui-input-block">
                            {if $data['list']['is_open_sku']==1}
                            <input type="text" name="count" id="goodsCount" readonly placeholder="库存" value="{$data['list']['count']}" class="layui-input unit-input readonly_color">
                            {else}
                            <input type="text" name="count" id="goodsCount" placeholder="库存" value="{$data['list']['count']}" class="layui-input unit-input">
                            {/if}
                            <span class="unit" style="top:-27px;">件</span>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">是否使用规格</label>
                        <div class="layui-input-block">
                            {if $data['list']['is_open_sku']==1}
                            <input type="radio" name="is_open_sku" lay-filter="is_open_sku" value="1" title="是" checked="">
                            <input type="radio" name="is_open_sku" lay-filter="is_open_sku" value="0" title="否">
                            {else}
                            <input type="radio" name="is_open_sku" lay-filter="is_open_sku" value="1" title="是" >
                            <input type="radio" name="is_open_sku" lay-filter="is_open_sku" value="0" title="否" checked="">
                            {/if}
                        </div>
                    </div>

                    <div class="layui-form-item" id="specItem">
                        <label class="layui-form-label">规格组和规格值 <span style="color: red">*</span></label>
                        <div class="layui-input-block">
                            <span class="input-before">规格组</span>
                            <input type="text" v-model="specItemName" placeholder="如重量、套餐" class="layui-input input-reset">
                            <span class="input-after" @click="addSpecItem()">添加</span>
                        </div>

                        <div class="spec-div" v-for="(item,itemIndex) in specData">
                            <div class="spec-item" >
                                {{item.spec_item_name}} <img @click="deleteSpecItem(itemIndex,item.spec_id)" src="{$_W['siteroot']}addons/kundian_farm/resource/img/delete.png" alt="">
                            </div>

                            <div class="spec-val">

                                <div class="val-li" v-for="(val,index) in item.spec_value">
                                    <span class="value">{{val.spec_value}}</span>
                                    <span class="val-delete"></span>
                                    <img @click="deleteSpecVal(item.spec_id,val.valid)" src="{$_W['siteroot']}addons/kundian_farm/resource/img/delete-1.png" class="delete-img" alt="">
                                </div>

                                <div class="val-li">
                                    <span class="input-before">规格值</span>
                                    <input type="text" v-model="specValueName" placeholder="如1000g" class="layui-input input-reset">
                                    <span class="input-after" @click="addSpecValue(item.spec_id)">添加</span>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="layui-form-item" id="specSku">
                        <label class="layui-form-label">价格和库存 <span style="color: red">*</span></label>
                        <div class="layui-input-block">
                            <table class="layui-table" lay-size="sm">
                                <tbody>
                                    <thead>
                                        <tr>
                                            <th v-for="item in specData">{{item.spec_item_name}}</th>
                                            <th>库存 <input type="number" v-model="goodsCount" class="unit-input th-input"><span class="unit th-unit" @click="setSpecCount()">设置</span></th>
                                            <th>价格 <input type="text" v-model="goodsPrice" class="unit-input th-input"><span class="unit th-unit" @click="setSpecPrice()">设置</span></th>
                                            <th>货号 <input type="text" v-model="goodsNum" class="unit-input th-input"><span class="unit th-unit" @click="setSpecNum()">设置</span></th>
                                            <th>规格图片</th>
                                        </tr>
                                    </thead>
                                <tbody>
                                <tr  v-for="(item,index) in specSku">
                                    <td v-for="val in item.sku">{{val.spec_value}}</td>
                                    <td><input type="number" style="width: 100px;padding-left: 5px;" v-model="item.count"></td>
                                    <td><input type="text" style="width: 100px;padding-left: 5px;" v-model="item.price"></td>
                                    <td>
                                        <input type="text" style="width: 100px;padding-left: 5px;" v-model="item.spec_num">
                                    </td>
                                    <td>
                                        <img v-bind:src="item.spec_src" style="width: 30px;height: 30px;" alt="">
                                        <input type="text" class="img-input" v-model="item.spec_src">
                                        <span class="unit img-unit" @click='showImageDialog(this,index)'>选择图片</span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- 运费规则 -->
                <div class="layui-tab-item">
                    <div class="layui-form-item">
                        <label class="layui-form-label">运费规则</label>
                        <div class="layui-input-block">
                            <select name="freight" id="freight">
                                {loop $data['freight'] $key $val}
                                <option value="{$val['id']}" <?php if($list['freight']==$val['id']){echo 'selected';}?> >{$val['name']}</option>
                                {/loop}
                            </select>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">商品重量</label>
                        <div class="layui-input-block">
                            <input type="text" name="weight" value="{$data['list']['weight']}" placeholder="商品重量" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">单品满件包邮</label>
                        <div class="layui-input-block">
                            <input type="text" name="piece_free_shipping" value="{$data['list']['piece_free_shipping']}" placeholder="单品满件包邮" class="layui-input">
                            <span class="tag" style="font-size: 12px;color: gray;">如果设置0或空，则不支持满件包邮</span>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">单品满额包邮</label>
                        <div class="layui-input-block">
                            <input type="text" name="quota_free_shipping" value="{$data['list']['quota_free_shipping']}" placeholder="单品满额包邮" class="layui-input">
                            <span class="tag" style="font-size: 12px;color: gray;">如果设置0或空，则不支持满额包邮</span>
                        </div>
                    </div>

                </div>

                <div class="layui-tab-item">
                    <div class="layui-form-item">
                        <label class="layui-form-label">商品详情</label>
                        <div class="layui-input-block" style="width: 375px;">
                            {php echo tpl_ueditor('goods_desc',$data['list']['goods_desc']);}
                        </div>
                    </div>
                </div>

            </div>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <input type="hidden" name="goods_id" value="{$data['list']['id']}">
                    <button type="button" class="layui-btn layui-btn-sm" lay-submit="" lay-filter="formSubmit">保存</button>
                    <button type="button" id="goBack" class="layui-btn layui-btn-primary layui-btn-sm">返回</button>
                </div>
            </div>
        </div>


    </form>
</div>
{template 'common/footer'}
<script src="../addons/kundian_farm/resource/js/main.js" charset="utf-8"></script>
<script>

    let init_is_open_sku=$("input[name='is_open_sku']:checked").val();
    if(init_is_open_sku==0){
        $("#specSku").hide();
        $("#specItem").hide();
    }else{
        $("#specSku").show();
        $("#specItem").show();
    }

    layui.use(['form', 'layedit','element'], function(){
        var $ = layui.jquery;
        var form = layui.form,layer = layui.layer,layedit = layui.layedit;
        $("#goBack").click(function () {
            goBack();
        })

        /** 保存商品信息 */
        form.on('submit(formSubmit)',function (data) {
            var formData = data.field;
            var url = "{url 'site/entry/admin',array('m'=>'kundian_farm','op'=>'addNewGoods','action'=>'goods')}";
            var data = {
                formData: formData,
                specData:JSON.stringify(list.specData),
                specSku:JSON.stringify(list.specSku),
            };
            postData(url, data);
            return false;
        })
        /** 重写textarea 换行*/
        $("textarea").keydown(function (e) {
            if (e.keyCode == "13") {
                this.value = this.value + '\n';
            }
        });

        /** 是否使用规格 */
        form.on('radio(is_open_sku)', function(data){
            let is_open_sku=data.value;
            if(is_open_sku==1){
                $("#specSku").show();
                $("#specItem").show();
                $("#goodsCount").attr('readonly',true);
                $("#goodsCount").addClass('readonly_color');
            }else{
                $("#specSku").hide();
                $("#specItem").hide();
                $("#goodsCount").attr("readonly",false);
                $("#goodsCount").removeClass('readonly_color');
            }
        });

    });
</script>


<script>
    let id=$("input[name='goods_id']").val();
    let getSpecSku="{url 'site/entry/'.$_GPC['do'],array('m'=>$_GPC['m'],'op'=>'getNewSpecSku','action'=>'goods')}"
    let list=new Vue({
        el: '#app',
        data: {
            specItemName:'',    //规格项名称
            specValueName:'',   //规格值名称
            specData: [],       //规格信息
            specSku:[],         //规格组合信息
            goodsCount:'',       //商品库存
            goodsPrice:'',       //商品价格
            goodsNum:'',        //商品编号
        },
        created:function(){
            if(id) {
                $.ajax({
                    url: "{url 'site/entry/'.$_GPC['do'],array('m'=>$_GPC['m'],'op'=>'getNewsEditSpecSku','action'=>'goods')}",
                    type: 'Get',
                    data:{goods_id:id},
                    success: function (res) {
                        if (res) {
                            var page = JSON.parse(res);
                            list.specData=page.specData;
                            list.specSku=page.newSpec;
                        }
                    }
                })
            }
        },
        methods:{
            /** 添加规格项*/
            addSpecItem:function () {
                if(this.specItemName==''){
                    layer.msg('请填写规格项名称');
                    return false;
                }
                $.ajax({
                    url:"{url 'site/entry/'.$_GPC['do'],array('m'=>$_GPC['m'],'op'=>'addNewGoodsSpecItem','action'=>'goods')}",
                    method:'get',
                    data:{'name':list.specItemName},
                    dataType:"json",
                    success:function (res) {
                        list.specData.push({spec_id:res.spec_id,'spec_item_name':list.specItemName,'spec_value':[]});
                        list.specItemName='';
                    }
                })
            },

            /** 添加规格值 */
            addSpecValue:function (id) {
                let that=this;
                $.ajax({
                    url:"{url 'site/entry/'.$_GPC['do'],array('m'=>$_GPC['m'],'op'=>'addNewGoodsSpecValue','action'=>'goods')}",
                    method:'get',
                    data:{'name':list.specValueName,'spec_id':id},
                    dataType:"json",
                    success:function (res) {
                        list.specData.map(item=>{
                            if(id==item.spec_id){
                                item.spec_value.push({valid:res.valid,spec_value:list.specValueName,spec_id:id});
                            }
                        })
                        list.specValueName='';
                        that.getSpecSku();
                    }
                })
            },

            /** 删除规格值 */
            deleteSpecVal:function (spec_id,valid) {
                let that=this;
                $.ajax({
                    url:"{url 'site/entry/'.$_GPC['do'],array('m'=>$_GPC['m'],'op'=>'deleteSpecVal','action'=>'goods')}",
                    method:'get',
                    data:{valid:valid},
                    dataType:"json",
                    success:function (res) {
                        list.specData.map((item,index)=>{
                            if(spec_id==item.spec_id){
                                item.spec_value.map((ops,idx)=>{
                                    if(ops.valid==valid){
                                        item.spec_value.splice(idx,1);
                                    }

                                })
                            }
                        })
                        layer.msg(res.msg);
                        that.getSpecSku();
                    }
                })
            },
            /** 删除规格项*/
            deleteSpecItem:function(index,spec_id){
                let that=this;
                $.ajax({
                    url:"{url 'site/entry/'.$_GPC['do'],array('m'=>$_GPC['m'],'op'=>'deleteSpecItem','action'=>'goods')}",
                    method:'get',
                    data:{spec_id:spec_id},
                    dataType:"json",
                    success:function (res) {
                        that.specData.splice(index,1);
                        that.getSpecSku();
                        layer.msg(res.msg);
                    }
                })
            },

            /** 整理规格组合信息*/
            getSpecSku:function () {
                $.ajax({
                    url:getSpecSku,
                    data:{specData:JSON.stringify(this.specData),goods_id:id},
                    method: "POST",
                    dataType:'json',
                    success:function (res) {
                        list.specSku=res;
                    }
                })
            },

            /** 批量设置规格库存、价格、货号*/
            setSpecCount:function(){
                if(list.goodsCount=='' || list.goodsCount==0){
                    layer.msg('请填写库存');return false;
                }
                list.specSku.map(item=>{
                    item.count=list.goodsCount;
                })
            },
            setSpecPrice:function(){
                if(list.goodsPrice=='' || list.goodsPrice==0){
                    layer.msg('请填写价格');return false;
                }
                list.specSku.map(item=>{
                    item.price=list.goodsPrice;
                })
            },
            setSpecNum:function(){
                if(list.goodsNum=='' || list.goodNum==0){
                    layer.msg('请填写货号');return false;
                }
                list.specSku.map(item=>{
                    item.spec_num=list.goodsNum;
                })
            },

            showImageDialog(elm,index,options) {
                require(["util"], function(util){

                    var btn = $(elm);
                    var ipt = btn.parent().prev();
                    var val = ipt.val();
                    var img = ipt.parent().next().children();
                    util.image(val, function(url){
                        if(url.url){
                            if(img.length > 0){
                                img.get(0).src = url.url;
                            }
                            list.specSku[index].spec_src=url.url;
                            ipt.val(url.attachment);
                            ipt.attr("filename",url.filename);
                            ipt.attr("url",url.url);
                        }
                        if(url.media_id){
                            if(img.length > 0){
                                img.get(0).src = "";
                            }
                            ipt.val(url.media_id);
                        }
                    }, options);
                });
            },
        },
    })
</script>