/* 门店图片 */
.thumbs .col-lg-3{padding-left:0;}
.panel-slide{position: relative;}
.panel-slide .btnClose{position: absolute; top:-10px; right:-10px; width:30px; height: 30px; border-radius: 30px;background: #eee; font-size: 16px; cursor: pointer; color:#FFF; text-align: center; line-height: 30px}
.panel-slide .btnClose:hover{background: red}
.panel-slide .panel-body div{margin-top: 10px}

/*添加规格*/
#options{margin-top:15px; display:none}
#options .input-group{margin-bottom:15px;}
#options .delOptions{cursor:pointer;}
#options .addOptions{display:inline-block; margin-top:0px; cursor:pointer;}

.label-br{display: inline-block; margin-top: 6px}

.table-text-center td, .table-text-center th{text-align: center}

.info{padding:6px;width:400px;margin:10px auto 3px auto;text-align:center;}
.padding-left{padding-left:50px;height:30px;line-height:30px;}
.order-nav {margin: 0;width: 100%;min-width: 800px; float: left;margin-left: 0px;padding-left: 0px;border-bottom:1px #c5d0dc solid;}
.order-nav > li > a {display: block;}
.order-nav-tabs {background: #EEE;}
.order-nav-tabs > li {line-height: 40px;float: left;list-style: none;display: block;text-align: -webkit-match-parent;}
.order-nav-tabs > li > a {font-size: 14px;color: #666;height: 40px;line-height: 40px;padding: 0 10px;margin: 0;border: 1px solid transparent;border-bottom-width: 0px;-webkit-border-radius: 0;-moz-border-radius: 0;border-radius: 0;}
.order-nav-tabs > li > a, .order-nav-tabs > li > a:focus {border-radius: 0 !important;background-color: #f9f9f9;color: #999;margin-right: -1px;position: relative;z-index: 11;border-color: #c5d0dc;text-decoration: none;}
.order-nav-tabs >li >a:hover {background-color: #FFF;}
.order-nav-tabs > li.active > a, .order-nav-tabs > li.active > a:hover, .order-nav-tabs > li.active > a:focus {color: #576373;border-color: #c5d0dc;border-top: 2px solid #4c8fbd;border-bottom-color: transparent;background-color: #FFF;z-index: 12;margin-top: -1px;box-shadow: 0 -2px 3px 0 rgba(0, 0, 0, 0.15);}

/*统计样式*/
.account-stat{overflow:hidden; color:#666;}
.account-stat .account-stat-btn{width:100%; overflow:hidden;}
.account-stat .account-stat-btn > div{text-align:center; margin-bottom:5px;margin-right:2%; float:left;width:23%; height:80px; padding-top:10px;font-size:16px; border-left:1px #DDD solid;position: relative}
.account-stat .account-stat-btn > div.col-3{width: 31%}
.account-stat .account-stat-btn > div:first-child{border-left:0;}
.account-stat .account-stat-btn > div span{display:block; font-size:25px; font-weight:bold}
.account-stat .account-stat-btn > div.col-12{width: 9%;}
.account-stat .account-stat-btn > div.col-6{width: 48%;}
.account-stat .account-stat-btn > div a{font-size: 15px; position: absolute; right: 0; bottom: 10px}
/*批量导入数据*/
.file-container{display: none}
.file-container .form-group{width:300px; margin-right: -30px}

/*配送中心*/
.panel-dispatch .list-group-item{font-size: 25px; font-weight: bold;}
.panel-dispatch .list-group-item .badge{font-size: 25px; background-color: #d9534f}
.panel-dispatch .list-group-item.list-group-item-span{font-size: 14px; font-weight: normal;}
.panel-dispatch .list-group-item.list-group-item-span{line-height: 1.8}
.panel-dispatch .list-group-item.list-group-item-span .label{cursor: pointer}
.panel-dispatch .list-group-item:first-child{text-align: center; font-size: 24px}
.panel-dispatch .list-group-item.no-order{font-weight: normal}
.panel-dispatch .table{margin-bottom: 0}

.table-text-center tr th,.table-text-center tr td{text-align: center}
.table-text-left tr th,.table-text-left tr td{text-align: left}
.table-text-right tr th,.table-text-right tr td{text-align: right}

.popover{max-width: 350px}

/*提现*/
.get-cash-form .money{font-size: 28px; margin-top: -20px; display: inline-block; color: #FF6600}

#qrcode-modal .qrcode{text-align:center; width:100%; margin:0 100px;}
#qrcode-modal .panel{width:300px;height:330px;display:inline-block; float:left}
#qrcode-modal .panel img{width:280px;height:280px; padding: 0; margin: -15px}

.table-block.panel{display:inline-block; margin-right:20px}
.table-block.panel .panel-body{padding:25px}
.table-block.panel .panel-body div{width:120px; height:120px; border-radius:100%; position:relative}
.table-block.panel .panel-body div span{position:absolute; top:45px; left:30px; font-size:20px; color:#FFF;}
.table-block.panel .panel-footer{text-align:center; padding:5px; font-size:16px}

.block-gray{background:#555555}
.block-red{background:#ef4437}
.block-primary{background:#428bca}
.block-success{background:#5cb85c;}
.block-orange{background:orange;}

.table-qrcode.panel{display:inline-block; margin-right:20px; float:left}
.table-qrcode.panel .panel-heading{text-align:center;font-size:16px}
.table-qrcode.panel .panel-body{padding:15px}
.table-qrcode.panel .panel-body div.qrcode{width:230px; height:230px; border-radius:100%;}
.table-qrcode.panel .panel-body div.qrcode img{width: 230px; }

.queue{margin-top:20px; font-family:'微软雅黑';}
.queue .list{display:inline-block; position:relative; width:150px; height:150px; border-radius:100%; margin:0 20px 20px 0; color:#FFF;}
.queue .list .name{display:inline-block; width:150px; height:90px; line-height:90px; text-align:center; font-size:20px; font-weight:bold;}
.queue .list .status{display:inline-block; width:150px; height:30px; line-height:30px; text-align:center; font-size:16px;}
.queue .list .button{position:absolute; display:none; top:0px; right:0px; width:35px; height:35px; text-align:center; line-height:35px; font-size:22px; border-radius:40px; background:rgba(0,0,0,.3);}
.queue .list:hover .button{display:block;}
.queue .list:hover .button:hover{background:#000}

.board{margin-top:20px; font-family:'微软雅黑';}
.board .list{display:inline-block; position:relative; width:31.1%; height:100px; margin:0 2% 20px 0; color:#FFF;}
.board .list .name{display:inline-block; width:100%; height:60px; line-height:60px; text-align:center; font-size:20px; font-weight:bold;}
.board .list .status{display:inline-block; width:100%; height:20px; line-height:20px; text-align:center; font-size:14px;}

#order-export .radio-inline, #order-export .checkbox-inline{margin-left: 0; width: 17%}

/*后台点餐*/
#placeOrder .table{min-width:100%;max-width: 100%;margin-bottom: 0}
#placeOrder .table th,#placeOrder .table td{text-align: center;}
#placeOrder .cart-content, #placeOrder .goods-content{padding: 0;}
#placeOrder .cart-content .panel-default, #placeOrder .goods-content .panel-default{padding: 1em;}
#placeOrder .cart-content .panel-default .panel-body{padding: 0;}
#placeOrder .cart-content .navbar-static-top, #placeOrder .goods-content .navbar-static-top{margin: -1em -1em 1em -1em;}
#placeOrder .cart-content .goods-list{height:400px; overflow-y:auto}
#placeOrder .cart-content .goods-list input{text-align: center}
#placeOrder .goods-content .goods-item{position: relative; display: inline-block;}
#placeOrder .goods-content .goods-item .goods-block{display:block; position:relative; float:left; margin:0.4em;padding:.3em 0 .3em 0; width:8em; height:5.5em; text-align:center; background:#EEE; color:#333; text-decoration:none; border-radius: 5px}
#placeOrder .goods-content .goods-item .goods-block span{display: block}
#placeOrder .goods-content .goods-item .goods-block strong{display: block;padding-bottom:7px;}
#placeOrder .goods-content .goods-item .goods-block .sku{display: inline-block; background: #009CD6; position: absolute; bottom: 0; left: 0; width: 100%; height: 20px; line-height: 20px; border-bottom-left-radius: 4px; border-bottom-right-radius: 4px; color: #FFF;}
#placeOrder .goods-content .goods-item .goods-block .sku.disabled{background: #333}
#placeOrder .goods-content .goods-item .goods-block .fa, #placeOrder .goods-content .goods-item .goods-block .num{display: none}
#placeOrder .goods-content .goods-item .goods-block.active{border:2px #009cd6 solid;}
#placeOrder .goods-content .goods-item .goods-block.active .fa.fa-check{display:inline-block;position:absolute;bottom:0px;right:0px;color:#FFF;background:#009CD6;padding:2px;font-size:12px;border-radius:0 0 4px 0;}
#placeOrder .goods-content .goods-item .goods-block.active .num{display:inline-block;position:absolute;top:-7px;left:-7px;color:#FFF;background:#009CD6;width:20px;height:20px;font-size:12px;border-radius:10px;line-height: 20px}
#placeOrder .goods-content .goods-item .popover{display: block; width: 350px; top: 100%; left: -90%; z-index: 1000000}
#placeOrder .goods-content .goods-item .popover .badge{background-color: #009CD6}
#placeOrder .text-high{font-size: 18px;font-weight: bold;color:#ec7501;}




