.form-control-excel {
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.header {
    line-height: 28px;
    margin-bottom: 16px;
    margin-top: 18px;
    padding-bottom: 4px;
    border-bottom: 1px solid #CCC
}
.block-gray{
    background-color: #555555;
    color: white;
}
.block-red{
    background-color: #ef4437;
    color: white;
}
.block-primary{
    background-color: #428bca;
    color: white;
}
.block-success{
    background-color: #5cb85c;
    color: white;
}
.block-orange{
    background-color: orange;
    color: white;
}
#guest-queue-index-body .queue_setting, #queue-setting-index-body .queue_setting {
    display: block;
    float: left;
    height: 100px;
    width: 31.3%;
    margin-right: 2%;
    margin-bottom: 20px;
    text-align: center
}
#queue-setting-index-body .queue_setting {
    width: 150px;
    height: 150px;
    border-radius: 1000px;
    margin-right: 20px
}
#guest-queue-index-body .queue_setting .name, #queue-setting-index-body .queue_setting .name{
    display: table-cell;
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
    vertical-align: middle;
    height: 60px
}
#queue-setting-index-body .queue_setting .name {
    height: 90px;
}
.table-display{
    display: table;
    width: 100%;
}
.table-state-tables{
    padding: 10px;
}
.table-state-tables .state-table{
    margin: 0 20px 20px 0;
    font-size: 20px;
    line-height: 30px;
    width: 140px;
    float: left
}
.table-state-tables .state-table .round{
    display: table;
    margin: 20px;
    width: 100px;
    height: 100px;
    border-radius: 1000px;
}
.table-state-tables .state-table .round.idle{
    background-color: #555555;
    color: white
}
.table-state-tables .state-table .state{
    height: 100px;
    width: 100%;
    display: table-cell;
    text-align: center;
    vertical-align: middle
}
.table-state-tables .state-table .name{
    background-color: #eeeeee;
    color: #555555;
    font-size: 16px;
    line-height: 40px;
    text-align: center
}
.table-state-tables .state-table .round.opened{
    background-color: #ef4437;
    color: white;
}
.table-state-tables .state-table .round.ordered{
    background-color: #428bca;
    color: white
}
.table-state-tables .state-table .round.paid{
    background-color: #5cb85c;
    color: white
}

.qr-code-table .qr-code-item {
    float: left;
    width: 200px;
    margin: 0px 20px 20px 0;
    text-align: center;
    color: #555555
}
.qr-code-table .qr-code-op{
    height: 24px;
    line-height: 24px;
    font-size: 16px;
    text-align: left;
    visibility: visible
}

/*.qr-code-table .qr-code-item a{*/
/*color: #555555;*/
/*text-decoration: none*/
/*}*/
.qr-code-table .qr-code-item a{
    color: #555555;
    text-decoration: none;
}
.qr-code-table .qr-code-op .fa-edit{
    color: #5cb85c
}
.qr-code-table .qr-code-op .fa-trash-o{
    color: #d9534f
}
.qr-code-table .qr-code-box{
    border: 1px solid #dbdbdb
}
.qr-code-table .qr-code-item-info{
    background-color: #eeeeee;
    border-top: 1px solid #dbdbdb;
    height: 24px
}
.model-show{
    box-sizing: border-box;
    border-bottom: 1px solid #eeeeee;
    margin-bottom: 10px
}
.model-show>p, .model-show>.content, .model-show>.advanced-options p{
    display: block;
    margin-right: 10%;
    width: 30%;
    float: left;
    padding: 10px 20px;
    margin-bottom: 0;
    color: #555555;
    border-top: 1px solid #eeeeee
}
.table-bordered{
    border: 1px solid #dddddd;
}
.uploadList{width:100%;height:auto;margin-bottom:20px;}
.uploadList .photoBox .addLine{width:90px;height:90px;overflow:hidden;text-align:center;background:#dadada;position:relative;}
.uploadList .photoBox .addLine img{width:50px;height:50px;margin:20px;}
.uploadList .photoBox .addLine button{width:100%;height:100%;position:absolute;left:0;top:0;filter:alpha(opacity=0);-moz-opacity:0;opacity:0;}
.uploadBox{width:100%;height:auto;padding-bottom:15px;margin-bottom:15px;border-bottom:1px solid #dbe1e8;display:none;}
.photoList{width:510px;height:auto;float:left;}
.photoList .photoBox{width:92px;height:92px;border:1px solid #dbe1e8;float:left;margin:5px;}
.photoList .photoBox .img{width:90px;height:90px;overflow:hidden;background:black;}
.photoList .photoBox .img .gallery-image{width:100%;height:100%;position:relative;}
.photoList .photoBox .img .gallery-image img{max-width:none;}
.photoList .photoBox .img .gallery-video{width:100%;height:100%;position:relative;}
.photoList .photoBox .img .gallery-video img{max-width:none;}
.photoList .photoBox .img .playVideoBtn{width:100%;height:100%;background: url(../bjq/img/playBtn.png) no-repeat center;background-size:30% 30%;z-index:99;cursor: pointer;}
.photoList .photoBox .img video{width:100%;height:100%;background-color: #000;}
.photoList .photoBox .img img{position:absolute;}
.photoList .photoBox .addImg{width:90px;height:90px;overflow:hidden;text-align:center;background:#dadada;position:relative;background:url(images/addPic.png);}
.photoList .photoBox .addImg img{height:100%;}
.photoList .photoBox .addImg input[type=file]{font-size:80px;filter:alpha(opacity=0);-moz-opacity:0;opacity:0;position:absolute;left:0;top:0;padding:0;}
.photoList .photoBox .addLine img{width:50px;height:50px;margin:20px;}
.photoList .photoBox .addLine button{width:100%;height:100%;position:absolute;left:0;top:0;filter:alpha(opacity=0);-moz-opacity:0;opacity:0;}

.photoList .videoBox{width:100%;height:auto;border:1px solid #dbe1e8;float:left;margin:5px;}
.photoList .videoBox .img{width:400px;height:400px;overflow:hidden;background:black;margin:0 auto;position: relative;}
.photoList .videoBox .img .gallery-image{width:100%;height:100%;position:relative;}
.photoList .videoBox .img .gallery-image img{max-width:none;}
.photoList .videoBox .img .gallery-video{width:100%;height:100%;position:relative;}
.photoList .videoBox .img .gallery-video img{max-width:none;}
.photoList .videoBox .img .playVideoBtn{width:100%;height:100%;background: url(../bjq/img/playBtn.png) no-repeat center;background-size:30% 30%;z-index:99;cursor: pointer;position: absolute;left:0;top:0;}
.photoList .videoBox .img video{width:100%;height:100%;background-color: #000;}
.photoList .videoBox .img img{position:absolute;}
.photoList .videoBox .addImg{width:90px;height:90px;overflow:hidden;text-align:center;background:#dadada;position:relative;background:url(images/addPic.png);}
.photoList .videoBox .addImg img{height:100%;}
.photoList .videoBox .addImg input[type=file]{font-size:80px;filter:alpha(opacity=0);-moz-opacity:0;opacity:0;position:absolute;left:0;top:0;padding:0;}
.photoList .videoBox .addLine img{width:50px;height:50px;margin:20px;}
.photoList .videoBox .addLine button{width:100%;height:100%;position:absolute;left:0;top:0;filter:alpha(opacity=0);-moz-opacity:0;opacity:0;}

.infoBox{width:450px;height:92px;float:right;margin:5px;}
.infoBox .text{width:300px;height:90px;float:left;}
.infoBox .editText{width:450px;height:90px;float:left;}
.infoBox .text span{float:left;margin-right:5px;}
.infoBox .text textarea{width:100%;float:left;}
.infoBox .selectBox{width:105px;height:90px;float:left;margin-left:10px;}
.infoBox .select{width:100%;margin:5px 0;}
/*班级相册列表界面*/
.viewList{width:100%;height:auto;}
.viewBox{width: 320px;height:430px;border:1px solid #e6ebf0;float:left;padding:5px 10px;margin:10px 10px 10px 0;}
.viewBox .nameAndTime{width:100%;height:20px;}
.viewBox .nameAndTime span{color:#585858;height:20px;line-height:20px;font-family:"微软雅黑";}
.viewBox .nameAndTime span.name{float:left;font-size:14px;font-weight:bold;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;width:110px;}
.viewBox .nameAndTime span.authority{float:left;font-size:10px;}
.viewBox .nameAndTime span.time{float:right;}
.viewBox .content{width:100%;height:40px;line-height:20px;font-family:"微软雅黑";margin:5px 0;overflow:hidden;}
.viewBox .row{margin:0;}
.viewBox .gallery{width:100%;height:300px;}
.viewBox .picBox{width:100%;height:300px;}
.viewBox .picBox .img{width:100%;height:300px;background:gray;overflow:hidden;position:relative;}
.viewBox .picBox > .img{width:100%;height:296px;margin-top:1px;}
.viewBox .picBox .img img{position:absolute;max-width:none;}
.viewBox .picBox .img .playVideoBtn{position:absolute;width:100%;height:100%;background: url(../bjq/img/playBtn.png) no-repeat center;background-size:30% 30%;z-index:99;cursor: pointer;}
.viewBox .picBox .img video{width:100%;height:100%;background-color: #000;}
.viewBox .picBox .imgs{width:100%;height:100%;background:gray;overflow:hidden;position:relative;}
.viewBox .picBox .imgs img{position:absolute;max-width:none;}
.viewBox .likeAndDel{width:100%;height:30px;}
.viewBox .likeAndDel .l{width:auto;float:left;}
.viewBox .likeAndDel .l img{height:18px;margin:6px 0;float:left;}
.viewBox .likeAndDel .l span{height:30px;line-height:30px;float:left;margin-left:5px;color:#a0a0a0;}
.viewBox .likeAndDel .r{width:auto;float:right;}
.viewBox .likeAndDel .r img{height:18px;margin:6px 0;}
.imageFrame{overflow:hidden;}

.imageList{width:100%;height:auto;float:left;}
.imageList .addBox{width:57px;height:57px;border:1px solid #dbe1e8;float:left;margin:5px;}
.imageList .photoBox{width:57px;height:57px;border:1px solid #dbe1e8;float:left;margin:5px;}
.imageList .photoBox .img{width:57px;height:57px;overflow:hidden;background:black;}
.imageList .photoBox .img .gallery-image{width:100%;height:100%;position:relative;}
.imageList .photoBox .img .gallery-image img{max-width:none;}
.imageList .photoBox .img .gallery-video{width:100%;height:100%;position:relative;}
.imageList .photoBox .img .gallery-video img{max-width:none;}
.imageList .photoBox .img img{position:absolute;}
.imageList .addBox .addImg{width:57px;height:57px;overflow:hidden;text-align:center;background:#dadada;position:relative;background:url(images/addLine.png);background-repeat: no-repeat;background-position:center;background-size:40px 40px;}
.imageList .addBox .addImg img{height:100%;}
.imageList .addBox .addImg input[type=file]{font-size:80px;filter:alpha(opacity=0);-moz-opacity:0;opacity:0;position:absolute;left:0;top:0;padding:0;}
.imageList .photoBox .addLine{width:57px;height:57px;overflow:hidden;text-align:center;background:#dadada;position:relative;}
.imageList .photoBox .addLine img{width:50px;height:50px;margin:20px;}
.imageList .photoBox .addLine button{width:100%;height:100%;position:absolute;left:0;top:0;filter:alpha(opacity=0);-moz-opacity:0;opacity:0;}
.float_right{float:right;}