var fixTo = (function(value, num) {
    num = undefined === num ? 2 : num;
    value = parseFloat(value);
    return (value.toFixed(num))
});
var countDown = (function(curr, end, type) {
    type = undefined === type ? 1 : type;
    if (curr >= end) {
        return ("已经截止")
    };
    if (!curr) {
        if (type == 1) {
            return ("0 天 0 时 0 分 0 秒")
        };
        if (type == 2) {
            return ("0:0:0")
        }
    };
    var dif = parseInt((end - curr) / 1000);
    var second = parseInt(dif % 60);
    var minute = parseInt(dif % 3600 / 60);
    var hour = parseInt(dif % 86400 / 3600);
    dif = parseInt(dif / 86400);
    if (type == 1) {
        return (dif + " 天 " + hour + " 时 " + minute + " 分 " + second + " 秒")
    };
    if (type == 2) {
        return ((dif * 24 + hour) + ":" + minute + ":" + second)
    }
});
var countDown2 = (function(curr, strDate, time, type) {
    type = undefined === type ? 1 : type;
    var end = Date.parse(strDate + " " + time + ":00:00");
    if (curr >= end) {
        return ("已经截止")
    };
    if (!curr) {
        if (type == 1) {
            return ("0 天 0 时 0 分 0 秒")
        };
        if (type == 2) {
            return ("0:0:0")
        }
    };
    var dif = parseInt((end - curr) / 1000);
    var second = parseInt(dif % 60);
    var minute = parseInt(dif % 3600 / 60);
    var hour = parseInt(dif % 86400 / 3600);
    dif = parseInt(dif / 86400);
    if (type == 1) {
        return (dif + " 天 " + hour + " 时 " + minute + " 分 " + second + " 秒")
    };
    if (type == 2) {
        return ((dif * 24 + hour) + ":" + minute + ":" + second)
    }
});
var isEmptyObject = (function(obj) {
    return (JSON.stringify(obj) == '{}')
});
module.exports = ({
    fixTo: fixTo,
    countDown: countDown,
    countDown2: countDown2,
    isEmptyObject: isEmptyObject,
});