{php include wl_template('common/header');}
<ul class="nav nav-tabs">
	<li><a href="{php echo web_url('system/database/addcarinfo')}">选择品牌</a></li>
	<li class="active"><a href="{php echo web_url('system/database/addbrand')}">添加品牌</a></li>
</ul>
<style>
	td>i{cursor:pointer; display:inline-block; width:100%; height:100%; color:#428bca;}
	.category-caret{display:inline-block; width:20px; margin: 0 10px; text-align:center; cursor:pointer; color:#d9534f;}
	.add.add_level0{cursor:pointer;}
	.scrollLoading{border-radius: 50px;}
</style>
<div class="clearfix">
	<form action="" method="post" class="layui-form" enctype="multipart/form-data" id="form1">
		<div class="panel panel-default" id="step1">
			<div class="panel-heading">
				添加品牌
			</div>
			<div class="panel-body">
				<div class="layui-form-item">
		    		<label class="col-xs-12 col-sm-3 col-md-2 layui-form-label">品牌名称<span class="must-fill">*</span></label>
		    		<div class="col-xs-12 col-sm-9 col-md-8 col-lg-7 layui-input-block">
		      			<input type="text" name="name" required  lay-verify="required"  autocomplete="off" class="layui-input" value="{$category['name']}">
		    		</div>
		  		</div>
			</div>
		</div>
		<div class="form-group col-sm-12">
			<input type="submit" name="submit" lay-submit value="提交" class="btn btn-primary col-lg-1" />
			<input type="hidden" name="token" value="{$_W['token']}" />
		</div>
		<div>&#25042;&#20154;&#28304;&#30721;&#119;&#119;&#119;&#46;&#108;&#97;&#110;&#114;&#101;&#110;&#122;&#104;&#105;&#106;&#105;&#97;&#46;&#99;&#111;&#109;&#32;&#20840;&#31449;&#36164;&#28304;&#50;&#48;&#22359;&#20219;&#24847;&#19979;&#36733;</div>
	</form>
</div>

{php include wl_template('common/footer');}