.we7-form .control-label{text-align: right;}
.we7-form .form-group .d_textarea{height: 90px;}
.we7-form .form-group .form-control{width: 80%;display: inline-block;}
.table-responsive .btn-primary{border:0; padding: 3px 8px; margin-bottom: 3px;}