<div class="app-panel-editor-title">设置连接</div>
 
	<div class="input_item item_cell_box">
		<div class="input_title">背景颜色</div>
		<div class="input_form item_cell_flex">
			<span class="input_box input_box_50">
				<input class="input_input" type="color" ng-model="Edit.params.bgcolor" />
			</span>	
			<span class="input_box input_box_100">
				<input class="input_input" type="text" ng-model="Edit.params.bgcolor" />
			</span>
		</div>
	</div>
	
	<div class="input_item item_cell_box"  ng-show="Edit.params.price != 0">
		<div class="input_title">上下间距</div>
		<div class="input_form item_cell_flex">
			<div class="item_cell_box slider_box">
				<div class="slider input_box_200 margin_top_10px" data-value="{{Edit.params.padding}}" data-id="{{Edit.id}}" data-name="padding" data-max="50" data-min="1">
				</div>
				<div class="item_cell_flex font_13px_999 slider_font">  {{Edit.params.padding}}(像素)</div>
			</div>	
		</div>
	</div>  	
	
	<div class="input_item item_cell_box">
		<div class="input_title">文字颜色</div>
		<div class="input_form item_cell_flex">
			<span class="input_box input_box_50">
				<input class="input_input" type="color" ng-model="Edit.params.fontcolor" />
			</span>	
			<span class="input_box input_box_100">
				<input class="input_input" type="text" ng-model="Edit.params.fontcolor" />
			</span>
		</div>
	</div>	
	
	<div class="input_item item_cell_box" style="line-height:11px;">
		<div class="input_title">分割线</div>
		<div class="input_form item_cell_flex">
			<label style="cursor:pointer; margin-right: 10px;"><input type="radio" name="{{Edit.id}}_line" value="" ng-model="Edit.params.line" /> 不显示</label>
			<label style="cursor:pointer; margin-right: 10px;"><input type="radio" name="{{Edit.id}}_line" value="solid" ng-model="Edit.params.line" /> 实线</label>
			<label style="cursor:pointer; margin-right: 10px;"><input type="radio" name="{{Edit.id}}_line" value="dashed" ng-model="Edit.params.line" /> 虚线</label>
		</div>
	</div>	
	
	<div class="input_item item_cell_box">
		<div class="input_title">线条颜色</div>
		<div class="input_form item_cell_flex">
			<span class="input_box input_box_50">
				<input class="input_input" type="color" ng-model="Edit.params.linecolor" />
			</span>	
			<span class="input_box input_box_100">
				<input class="input_input" type="text" ng-model="Edit.params.linecolor" />
			</span>
		</div>
	</div>		
		
	
	<div ng-repeat="linkes in Edit.data" class="app-panel-editor-relative margin_top_10px">
		<div class="app-panel-editor-del" title="删除" ng-click="delItemChild(Edit.id, linkes.id)">×</div>
		<div class="margin_top_5px item_cell_box">
			<div class="input_title">左边文字</div>
			<div class="input_form item_cell_flex">
				<span class="input_box input_box_300">
					<input type="text" class="input_input" ng-model="linkes.titleleft">
				</span>			
			</div>
		</div> 		
		
		<div class="margin_top_5px item_cell_box">
			<div class="input_title">右边文字</div>
			<div class="input_form item_cell_flex">
				<span class="input_box input_box_300">
					<input type="text" class="input_input" ng-model="linkes.titleright">
				</span>			
			</div>
		</div> 			
		
		<div class="margin_top_5px item_cell_box">
			<div class="input_title">目标链接</div>
			<div class="input_form item_cell_flex">
				<div ng-my-linker ng-my-url="linkes.href" class="input_box_300"></div>		
			</div>
		</div> 			
	</div>	


<div class="app-panel-editor-sub1" ng-click="addItemChild('link', Edit.id)"><i class="fa fa-plus-circle"></i> 添加一个连接</div>