<div class="app-mod app-mod-link" ng-class="{'app-mod-select':Item.id == focus}" ng-style="{'background-color':Item.params.bgcolor}">
	<div ng-repeat="item in Item.data">
		<div ng-style="{'border-bottom': ' 1px ' +Item.params.line+Item.params.linecolor}" ng-class="{nodorder : $last}">
			<a href="{{item.href}}">
				<div class="app-mod-link-item" ng-style="{'padding':Item.params.padding + 'px 0px','color':Item.params.fontcolor}">
					<div class="app-mod-link-item-left" >{{item.titleleft}}</div>
					<div class="app-mod-link-item-right pull-right"><span>{{item.titleright}}</span> <span class="fa fa-angle-right"></span></div>
				</div>
			</a>
		</div>
	</div>
</div>