<div class="app-card-box" ng-class="{'app-mod-select':Item.id == focus}" ng-style="{'background':Item.params.bgcolor,'padding': Item.params.padding +'px 0'}">
	<div style="line-height: 100px; text-align: center; color: #999; font-size: 16px;" ng-show="Item.data == '' && isweb">请添加卡券...</div>
	<div class="app-card"  ng-repeat="card in Item.data" data-id="{{card.cardid}}" data-credit="{{card.needcredit}}">
		<span class="arrow_up card_cut_up"></span>
		<span class="arrow_up card_cut_down"></span>
		<li class="app-card-value item_cell_box" ng-style="{'background':Item.params.topbgcolor}">
			<p ng-if="card.cardtype == 1" ng-style="{'color':Item.params.topleftcolor}">
				<span class="app-card-value-inco">￥</span><span class="app-card-value-num">{{card.cardvalue * 100/100}}</span>
			</p>
			<p ng-if="card.cardtype == 2"  ng-style="{'color':Item.params.topleftcolor}">
				<span class="app-card-value-num">{{card.cardvalue * 100/10}}</span><span class="app-card-value-inco">折</span>
					
			<p class="item_cell_flex app-card-condition"  ng-style="{'color':Item.params.toprightcolor}">满{{card.fullmoney * 100/100}}元可使用
			<p  ng-if="card.needcredit > 0" class="needcredit"  
			ng-style="{'color':Item.params.toprightcolor}">兑换需{{card.needcredit}}积分</p>
		
		</p>
		</li>
		
				
		<li class="app-card-bottom"  ng-style="{'background':Item.params.botbgcolor,'color':Item.params.botcolor}">
			<p>{{card.cardname}}</p>
		</li>
	</div>
	
</div>