{template 'web/common/common'}
{template 'web/soil/navbar'}
<style type="text/css">
    span,p{font-size: 14px;}
    .land_list{height: 400px;}
    .layui-form-select{font-size: 14px;}
</style>
<blockquote class="layui-elem-quote layui-text">
    已种植列表
</blockquote>
<div class="layui-card">
    <form id="myform" class="layui-form" action="{url 'site/entry/admin',array('m'=>'kundian_farm','op'=>'send_plant','action'=>'send')}" method="post">
        <div class="layui-form-item">
            <div class="layui-input-inline" style="width: 400px;">
                <input type="text" name="name" value="{$_GPC['name']}" placeholder="微信昵称、真实姓名、联系电话、土地名称、" class="layui-input">
            </div>
            <div class="layui-input-inline">
                <button class="layui-btn layui-btn-sm" type="button" lay-filter="formSubmit" lay-submit=""><i class="layui-icon">&#xe615;</i>搜索</button>
            </div>
        </div>
    </form>
</div>

<div class="layui-card">

    <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief" style="top: 200px;">
        <ul class="layui-tab-title">
            <a href="{url 'site/entry/admin',array('m'=>'kundian_farm','op'=>'send_plant','status'=>4,'action'=>'send')}"><li class="<?php if($data['status']==4){echo 'layui-this';}?>">全部</li></a>
            <a href="{url 'site/entry/admin',array('m'=>'kundian_farm','op'=>'send_plant','status'=>1,'action'=>'send')}"><li class="<?php if($data['status']==1){echo 'layui-this';}?>">已种植</li></a>
            <a href="{url 'site/entry/admin',array('m'=>'kundian_farm','op'=>'send_plant','status'=>3,'action'=>'send')}"><li class="<?php if($data['status']==3){echo 'layui-this';}?>">未种植</li></a>
            <a href="{url 'site/entry/admin',array('m'=>'kundian_farm','op'=>'send_plant','status'=>2,'action'=>'send')}"><li class="<?php if($data['status']==2){echo 'layui-this';}?>">已到期</li></a>
            <a href="{url 'site/entry/admin',array('m'=>'kundian_farm','op'=>'send_plant','status'=>5,'action'=>'send')}"><li class="<?php if($data['status']==5){echo 'layui-this';}?>">待种植
                {if $data['waitPlantCount'] > 0}
                <span class="layui-badge-dot"></span>
                {/if}
            </li></a>
            <a href="{url 'site/entry/admin',array('m'=>'kundian_farm','op'=>'send_plant','status'=>6,'action'=>'send')}"><li class="<?php if($data['status']==6){echo 'layui-this';}?>">待摘取
                {if $data['waitPickCount'] > 0}
                <span class="layui-badge-dot"></span>
                {/if}
            </li></a>
        </ul>
    </div>
    <div class="layui-row" style="margin-top: 60px;">
        {loop $data['list'] $index $item}
        <div class="layui-col-xs4 land_list">
            <div class="grid-demo grid-demo-bg1" style="border: 1px solid #f2f2f2;padding: 10px;font-size: 18px;margin-bottom: 15px;height: 400px;">
                <div class="land_col_one land-info">
                    <span class="land_name">土地名称：{$item['land_name']}</span>
                    {if $item['land_spec']}
                    <span name="{$item['land_spec']['id']}">({$item['land_spec']['land_num']})</span>
                    {/if}
                    <span></span>
                    <p style="margin-top: 10px;">微信昵称：{$item['nickname']}（真实姓名：{$item['username']}  &nbsp;&nbsp;&nbsp;&nbsp;联系电话：{$item['phone']}）</p>
                </div>
                <div class="land_col_two land-info">

                    <span>总面积：{$item['count']}㎡</span>
                    <span style="margin-left: 20px;margin-right: 20px;">已种植面积：{$item['seed_area']}㎡</span>
                    <p class="exprie_time" style="margin-top: 20px;">到期时间：
                        {$item['exprie_time']}
                        {if $item['is_expire_code']==1}
                        <span class="layui-badge layui-bg-gray">{$item['is_expire_txt']}</span>
                        <button class="layui-btn layui-btn-sm editExpire" data-url="{url 'site/entry/admin',array('m'=>'kundian_farm','op'=>'expire_edit','id'=>$item['id'],'action'=>'send')}">
                            <i class="layui-icon">&#xe642;</i>
                        </button>
                        <button class="layui-btn layui-btn-sm is_expire" data-id="{$item['id']}" type="button">土地到期</button>
                        {elseif $item['is_expire_code']==3}
                        <span class="layui-badge">{$item['is_expire_txt']}</span>
                        <button class="layui-btn layui-btn-sm editExpire" data-url="{url 'site/entry/admin',array('m'=>'kundian_farm','op'=>'expire_edit','id'=>$item['id'],'action'=>'send')}">
                            <i class="layui-icon">&#xe642;</i>
                        </button>
                        <button class="layui-btn layui-btn-sm is_expire" data-id="{$item['id']}" type="button">土地到期</button>
                        {else}
                        <span class="layui-badge layui-bg-orange">{$item['is_expire_txt']}</span>
                        <button class="layui-btn layui-btn-sm editExpire" data-url="{url 'site/entry/admin',array('m'=>'kundian_farm','op'=>'expire_edit','id'=>$item['id'],'action'=>'send')}">
                            <i class="layui-icon">&#xe642;</i>
                        </button>
                        {/if}

                    </p>


                </div>
                <div class="land_col_three land-info">
                    <span>已种植作物：</span>
                    {loop $item['seed'] $seed_index $seed_val}
                    <span class="layui-badge layui-bg-green">{$seed_val['send_name']}</span>
                    {/loop}
                </div>
                <div class="land_col_four land-info">
                    <span>待种植作物：</span>
                    {loop $item['seedData'] $seed_key $seed_item}
                    <span class="layui-badge layui-bg-gray">{$seed_item['send_name']}</span>
                    {/loop}
                </div>
                <div class="land_col_four land-info">
                    <span>已成熟作物：</span>
                    {loop $item['ripeSeedData'] $seed_key $seed_item}
                    <span class="layui-badge">{$seed_item['send_name']}</span>
                    {/loop}
                </div>
                <div class="land_col_five land-info" style="margin-top: 40px;">
                    <a href="{url 'site/entry/admin',array('m'=>'kundian_farm','op'=>'seedDetail','id'=>$item['id'],'action'=>'send')}">
                        <button class="layui-btn layui-btn-sm" type="button">种植管理</button></a>
                    <button class="layui-btn layui-btn-sm getQrcode" data-id="{$item['id']}"  type="button">下载小程序码</button>
                    {if $data['webThingSet']['is_open_webthing']==1}
                    {if $item['device_num']}
                    <button data-devicenum="{$item['device_num']}" data-type='1' data-id="{$item['id']}" class="layui-btn layui-btn-sm landOperation" type="button">浇水</button>
                    <button style="display: none;" data-devicenum="{$item['device_num']}" data-type='1' data-id="{$item['id']}" class="layui-btn layui-btn-sm layui-btn-primary closeWaterOperation" type="button">关闭浇水</button>
                    <button data-devicenum="{$item['device_num']}" data-type='2' data-id="{$item['id']}" class="layui-btn layui-btn-sm landOperation" type="button">施肥</button>
                    <button style="display: none" data-devicenum="{$item['device_num']}" data-type='2' data-id="{$item['id']}" class="layui-btn layui-btn-sm layui-btn-primary closeShiOperation" type="button">关闭施肥</button>
                    <button data-devicenum="{$item['device_num']}" data-type='3' data-id="{$item['id']}" class="layui-btn layui-btn-sm landOperation" type="button">除草</button>
                    <button data-devicenum="{$item['device_num']}" data-type='4' data-id="{$item['id']}" class="layui-btn layui-btn-sm landOperation" type="button">杀虫</button>
                    <button style="display: none" data-devicenum="{$item['device_num']}" data-type='4' data-id="{$item['id']}" class="layui-btn layui-btn-sm layui-btn-primary closeShaOperation" type="button">关闭杀虫</button>
                    <a href="{url 'site/entry/admin',array('m'=>'kundian_farm','op'=>'device_record_list','id'=>$item['id'],'action'=>'send')}"><button class="layui-btn layui-btn-sm" type="button">操作记录</button>
                    </a>
                    {/if}
                    {/if}
                </div>
            </div>
        </div>
        {/loop}

    </div>
    <div style="text-align: right;">
        {$data['pager']}
    </div>
</div>
<script src="../addons/kundian_farm/resource/js/main.js" charset="utf-8"></script>
<script type="text/javascript">

    layui.use(['form','layer'], function() {
        var $ = layui.jquery, layer = layui.layer;
        var form = layui.form;

        /** 搜索订单信息 */
        form.on('submit(formSubmit)',function (data) {
            $("input[name='flag']").val('');

            var formData = data.field;
            let url = "{url 'site/entry/admin',array('m'=>'kundian_farm','op'=>'send_plant','action'=>'send')}";
            if(formData['name']){
                url+="&name="+formData['name'];
            }
            window.location.href=url;
            return false;
        })

        /** 土地到期操作 */
        $(".is_expire").click(function(){
            var that=$(this);
            var id=$(this).attr('data-id');
            var url="{url 'site/entry/'.$_GPC['do'],array('m'=>$_GPC['m'],'op'=>'seed_expire','action'=>'send')}";
            updateData(url,{id:id},'确认执行该操作吗？');
        })
        $(".land_list").hover(function(){
            $('.grid-demo-bg1',this).css("border","1px solid #1E9FFF");
        },function(){
            $('.grid-demo-bg1',this).css("border","1px solid #f2f2f2");
        });

        /** 浇水、杀虫、施肥 设备开启*/
        $(".landOperation").click(function(){
            var that=$(this);
            var type=$(this).attr("data-type");
            var device_num=$(this).attr("data-devicenum");
            var land_id=$(this).attr('data-id');
            $.ajax({
                type:"post",
                url:"{url 'site/entry/'.$_GPC['do'],array('m'=>$_GPC['m'],'op'=>'landOperation','action'=>'send')}",
                data:{land_id:land_id,device_num:device_num,type:type},
                dataType:'json',
                success:function(res){
                   layer.msg(res.msg);
                    if(type==1){
                        that.siblings('.closeWaterOperation').show();
                    }else if(type==2){
                        that.siblings('.closeShiOperation').show();
                    }else if(type==4){
                        that.siblings('.closeShaOperation').show();
                    }
                    that.hide();
                }
            })
        })

        /** 关闭浇水设备*/
        $(".closeWaterOperation").click(function(){
            var that=$(this);
            var type=$(this).attr("data-type");
            var device_num=$(this).attr("data-devicenum");
            var land_id=$(this).attr('data-id');
            $.ajax({
                type:"post",
                url:"{url 'site/entry/'.$_GPC['do'],array('m'=>$_GPC['m'],'op'=>'closeOperation','action'=>'send')}",
                data:{land_id:land_id,device_num:device_num,type:type},
                dataType:'json',
                success:function(res){
                    layer.msg(res.msg);
                    that.prev(".landOperation").show();
                    that.hide();
                }
            })
        })

        /** 关闭施肥设备*/
        $(".closeShiOperation").click(function(){
            var that=$(this);
            var type=$(this).attr("data-type");
            var device_num=$(this).attr("data-devicenum");
            var land_id=$(this).attr('data-id');
            $.ajax({
                type:"post",
                url:"{url 'site/entry/'.$_GPC['do'],array('m'=>$_GPC['m'],'op'=>'closeOperation','action'=>'send')}",
                data:{land_id:land_id,device_num:device_num,type:type},
                dataType:'json',
                success:function(res){
                    layer.msg(res.msg);
                    that.prev(".landOperation").show();
                    that.hide();
                }
            })
        })

        /** 关闭杀虫设备 */
        $(".closeShaOperation").click(function(){
            var that=$(this);
            var type=$(this).attr("data-type");
            var device_num=$(this).attr("data-devicenum");
            var land_id=$(this).attr('data-id');
            $.ajax({
                type:"post",
                url:"{url 'site/entry/'.$_GPC['do'],array('m'=>$_GPC['m'],'op'=>'closeOperation','action'=>'send')}",
                data:{land_id:land_id,device_num:device_num,type:type},
                dataType:'json',
                success:function(res){
                    layer.msg(res.msg);
                    that.prev(".landOperation").show();
                    that.hide();
                }
            })
        })

        /** 生成小程序码*/
        $(".getQrcode").click(function () {
            let lid=$(this).attr('data-id');
            var index = layer.load();
            $.ajax({
                type:"post",
                url:"{url 'site/entry/'.$_GPC['do'],array('m'=>$_GPC['m'],'op'=>'getQrcode','action'=>'send')}",
                data:{lid:lid},
                dataType:'json',
                success:function(res){
                    layer.close(index);
                    layer.open({
                        type: 1
                        ,offset: "auto" //具体配置参考：http://www.layui.com/doc/modules/layer.html#offset
                        ,id: 'layerDemo' //防止重复弹出
                        ,content: '<img src="'+res.qrcode+'" style="width:200px;height:200px;margin:20px;">'
                        ,btn: '关闭'
                        ,btnAlign: 'c' //按钮居中
                        ,shade: 0.5 //不显示遮罩
                        ,yes: function(){
                            layer.closeAll();
                        }
                    });

                }
            })
        })
    })

</script>
<script>
    layui.use(['form','laypage', 'layer'], function() {
        $(".plantDetail").click(function () {
            var url=$(this).attr("data-url");
            openPage(url,'土地种植详情');
        })

        $(".editExpire").click(function () {
            var url=$(this).attr("data-url");
            openPage(url,'修改土地过期时间','40%','60%');
        })
        function openPage(url,title,width='80%',height="80%") {
            layer.open({
                type: 2
                ,title: title
                ,area: [width, height]
                ,shade: 0.5
                ,maxmin: true
                ,offset:"auto"
                ,content: url
                ,btn: ['关闭']
                ,yes: function(){
                    layer.closeAll();
                    window.location.reload();
                }
                ,zIndex: layer.zIndex //重点1
                ,success: function(layero){
                    layer.setTop(layero); //重点2
                }
            });
        }


    })
</script>