{template 'web/common/common'}
{template 'web/soil/navbar'}
<link rel="stylesheet" type="text/css" href="../addons/{php echo $_GPC['m']}/resource/swal/dist/sweetalert2.min.css" />
<link rel="stylesheet" type="text/css" href="../addons/kundian_farm/resource/css/layui.css" />
<link rel="stylesheet" type="text/css" href="../addons/kundian_farm/resource/css/new-common.css" />
<script src="../addons/kundian_farm/resource/layui.js" charset="utf-8"></script>
<blockquote class="layui-elem-quote layui-text">状态跟踪</blockquote>
    <div class="new-style">
    <a class="layui-btn layui-btn-sm" href="{url 'site/entry/admin',array('m'=>'kundian_farm','op'=>'status_edit','action'=>'send','lid'=>$_GPC['lid'],'seed_id'=>$_GPC['id'])}">增加</a>
    <a class="layui-btn layui-btn-sm goBack">返回</a>
    <div class="layui-form">
        <table class="layui-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>文字说明</th>
                    <th>图片说明</th>
                    <th>创建时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {loop $data['list'] $index $item}
                <tr>
                    <td>{$item['id']}</td>
                    <td>{$item['txt']}</td>
                    <td><img src="{php echo tomedia($item['src'][0]);}" width="50" height="50"/></td>
                    <td>{php echo date("Y-m-d H:i:s",$item['create_time'])}</td>
                    <td style="text-align:right;">
                        <a href="{url 'site/entry/admin',array('m'=>'kundian_farm','op'=>'status_edit','id'=>$item['id'],'lid'=>$item['lid'],'action'=>'send')}" class="layui-btn layui-btn-xs">
                            <i class="layui-icon">&#xe642;</i>修改</a>
                        <a class="layui-btn layui-btn-xs layui-btn-danger delete" data-id="{$item['id']}"><i class="layui-icon">&#x1006;</i>删除</a>
                </tr>
                {/loop}

            </tbody>
        </table>
        <div style="text-align: right;">
            {$data['pager']}
        </div>
    </div>
    </div>
<script src="../addons/kundian_farm/resource/js/main.js" charset="utf-8"></script>
<script>
    layui.use(['form', 'layedit', 'laydate'], function(){
        var form = layui.form,layer = layui.layer;

        //删除轮播图信息
        $(".delete").click(function(){
            var that=$(this);
            var id=$(this).attr('data-id');
            var url="{url 'site/entry/'.$_GPC['do'],array('m'=>$_GPC['m'],'op'=>'delete_status','action'=>'send')}";
            updateData(url,{id:id},'确认删除吗');
        })
        $(".goBack").click(function () {
            window.history.go(-1);
        })
    });

</script>