{template 'header'} 
{template 'left'} 

   <style>
table th, table td{
	text-align:center;
}
   </style>
   <link href="{MODULE_URL}/recouse/css/webpage.css" rel="stylesheet" type="text/css" />
      <section id="content">
        <section class="vbox">
          <section class="scrollable padder">
            <ul class="breadcrumb no-border no-radius b-b b-light pull-in">
              <li><a href="{php echo $this->createWebUrl("index")}"><i class="fa fa-home"></i>首页</a></li>
              <li class="active">代理管理</li>          
            </ul> 


<ul class="nav nav-tabs">
	<li ><a href="{php echo $this->createWebUrl('commission', array('status'=>'1'))}">待审核</a></li>
		<li ><a href="{php echo $this->createWebUrl('commission', array('status'=>'2'))}">已审核</a></li>
		<li class="active"><a href="{php echo $this->createWebUrl('commission', array('status'=>'2'))}">推广订单</a></li>
	<!--<li><a href="{php echo $this->createWebUrl('commission', array('op'=>'invalid'))}">审核无效</a></li>-->
	
</ul>
  
			<div class="stat-div">
				<div class="sub-item" id="table-list">
                    <h4 class="sub-title" style="float:right;color:red;padding-right:20px;font-size:14px;">共<?php echo $total;?>记录</h4>
                    <div class="panel panel-info" style="border-color:#dddddd">
                        <div class="panel-heading" style="background:#f5f5f5;border-color:#dddddd;color:#333;font-size:12px;">推广订单记录</div>
                        <div class="panel-body  table-responsive" style="padding:15px;background:#fff;">
		
					<section class="member-browse">
       
        <ul class="member-browse-ul">
           {if empty($list)}
				<p >暂无</p>
				{else}
				{loop $list $order}
            <li class="member-browse-li">
                <div class="row member-browse-summey">
                    <a class="member-browse-summey-info" href="#" >                 
                        <div class="member-browse-nt">                           
                            <span class="member-browse-name" style="font-weight:bold;">{php echo $order['jibie']}订单：{$order['ordersn']}<span class="pro-price">【
                            	{if $order['status'] == 0}待付款{/if}
						{if $order['status'] == 1}待发货{/if}
						{if $order['status'] == 2}待收货{/if}
						{if $order['status'] == 3}已完成{/if}
						{if $order['status'] == -1}已关闭{/if}
                             】</span></span>
                        </div>
                    </a>                   
                </div>
              	{loop $order['detail'] $v}
                <div class="member-browser-pro-list" >
                    <div class="member-browser-pro-a" href="#"><span class="pro-img">
                        <img src="{php echo $_W['attachurl'].$v['thumb']}"></span><p class="pro-info">
                            <span class="pro-name" style="color:#999;">{$v['title']}</span>
                            <div class="pro-price">佣金：<strong>+ &yen;{php echo $v['commission']}</strong></div>
                            <span class="pro-price">数量：<strong>{php echo $v['total']}</strong></span>
                    </div>
                </div>
            	{/loop}
				     <div class="row member-browse-summey">
                    <a class="member-browse-summey-info" href="#" >                 
                        <div class="member-browse-nt">                           
                            <span class="member-browse-name" style="color:#999;">购买人：{php echo $order['realname']}&nbsp;&nbsp;&nbsp;&nbsp;金额：{$order['price']}&nbsp;&nbsp;&nbsp;&nbsp;</span>
							 <span class="member-browse-name" style="color:#999;">日期：{php echo date('Y-m-d', $order['createtime'])}</span>
                        </div>
                    </a>                   
                </div>
				
            </li>
			{/loop}
			
			{/if}
			
			
            
        </ul>
    </section>
{$pager}
</div>
</div>

<script src="http://libs.baidu.com/jquery/1.7.1/jquery.min.js"></script>
<script src="{MODULE_URL}/style/js/com.js"></script>


{template 'footer'}