{template 'header'} 
{template 'left'} 

      <section id="content">
        <section class="vbox">
          <section class="scrollable padder">
            <ul class="breadcrumb no-border no-radius b-b b-light pull-in">
              <li><a href="{php echo $this->createWebUrl("index")}"><i class="fa fa-home"></i>首页</a></li>
              <li class="active">会员管理</li>          
            </ul> 

<ul class="nav nav-tabs">
 	<li ><a href="{php echo create_url('site/entry', array('do' => 'charge', 'op' => 'list','m' => 'mihua_mall','uniacid'=>$_W['uniacid']))}">会员信息</a></li>	
 	{if $_GPC['uid']}<li class="active"><a >会员积分充值详情</a></li><li><a href="{php echo create_url('site/entry', array('do' => 'ordermy', 'op' => 'display','m' => 'mihua_mall','uniacid'=>$_W['uniacid'],'uid'=>$_GPC['uid']))}">会员订单</a></li> {/if}
</ul>
    <div class="main">
	
	<form action="" method="post" class="form-horizontal form" enctype="multipart/form-data" onsubmit="return validate(this);">
        <!------->
        <div class="panel panel-info" style="border-color:#dddddd">
            <div class="panel-heading">会员充值</div>
            <div class="panel-body  table-responsive" style="padding:15px;background:#fff;">
                <!------->
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">真实姓名:</label>
                    <div class="col-sm-9 col-xs-12">
                        {$profile['realname']}
                    </div>
                </div>
                <!--------->
                <!------->
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">联系方式:</label>
                    <div class="col-sm-9 col-xs-12">
                        {$profile['mobile']}
                    </div>
                </div>
                <!--------->
                <!------->
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">当前积分:</label>
                    <div class="col-sm-9 col-xs-12">
                        {$profile['credit1']}
                    </div>
                </div>
                <!--------->
                <!------->
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">充值积分:</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" name="credit1num" class="span1" value="" />
                        <input type="hidden"  name="uid" value="{$_GPC['uid']}" />
                        <input type="hidden" name="token" value="{$_W['token']}" />
                        <input name="submit" type="submit" value="充 值" class="btn btn-primary span2">
                    </div>
                </div>
                <!--------->
                </div>
            </div>
		</form>
		<div class="stat">
		
			<div class="stat-div">
				
				<div class="sub-item" id="table-list">
					<h4 class="sub-title" style="float:right;color:red;padding-right:20px;font-size:14px;">总数：{$total} <a href="">刷新</a> </h4>
                    <!------>
                    <div class="panel panel-info" style="border-color:#dddddd">
                        <div class="panel-heading" style="background:#f5f5f5;border-color:#dddddd;color:#333;font-size:12px;">积分充值明细</div>
                        <div class="panel-body  table-responsive" style="padding:15px;background:#fff;">
                            <!------->
					<div class="sub-content">
						<table class="table table-hover">
							<thead class="navbar-inner">
								<tr>
									<th class="row-hover">日期</th>
									<th class="row-hover">类型</th>
									<th class="row-hover">金额</th>
									<!--<th class="row-hover">模块</th>-->
									<th class="row-hover" style="width: 30%;">说明</th>
								</tr>
							</thead>
							<tbody>
							
								{loop $list $v}
								<tr>
									<td style="text-align: center;">
										{$v['tid']}
									</td>
									<td style="text-align: center;">
										{if $v['type']=='credit1'}充值{else}消费{/if}
										
									</td>
									<td style="text-align: center;">
										{$v['fee']}	
									</td>
									<!--<td style="text-align:center;">
										{$mtype[$v['module']]}
									</td>-->
									<td style="text-align: center;">
										{$v['tag']}								
									</td>
								</tr>
									
								{/loop}
							</tbody>
						</table>
					</div>
					</div>
                        </div>
					{$pager}
				</div>
			</div>
		</div>
    </div>

{template 'footer'}