{template 'header'} 
{template 'left'} 

      <section id="content">
        <section class="vbox">
          <section class="scrollable padder">
            <ul class="breadcrumb no-border no-radius b-b b-light pull-in">
              <li><a href="{php echo $this->createWebUrl("index")}"><i class="fa fa-home"></i>首页</a></li>
              <li class="active">数据统计</li>          
            </ul> 
<ul class="nav nav-tabs">
	<li {if $op == 'orderstatistics' }class="active"{/if}><a href="{php echo $this->createWebUrl('statistics', array('op' => 'orderstatistics'))}">订单统计</a></li>
	<li {if $op == 'red'}class="active"{/if}><a href="{php echo $this->createWebUrl('statistics', array('op' => 'red'))}">红包发送记录</a></li>
	<li {if $op == 'salereport'}class="active"{/if}><a href="{php echo $this->createWebUrl('statistics', array('op' => 'salereport'))}">零售生意报告</a></li>
	<li {if $op == 'saledetails' }class="active"{/if}><a href="{php echo $this->createWebUrl('statistics', array('op' => 'saledetails'))}">商品销售明细</a></li>
	<li {if $op == 'saletargets' }class="active"{/if}><a href="{php echo $this->createWebUrl('statistics', array('op' => 'saletargets'))}">销售指标分析</a></li>
	<li {if $op == 'productsaleranking' }class="active"{/if}><a href="{php echo $this->createWebUrl('statistics', array('op' => 'productsaleranking'))}">商品销售排行</a></li>
<li {if $op == 'productsalestatistics'}class="active"{/if}><a href="{php echo $this->createWebUrl('statistics', array('op' => 'productsalestatistics'))}">商品访问与购买比</a></li>
<li {if $op == 'memberranking' }class="active"{/if}><a href="{php echo $this->createWebUrl('statistics', array('op' => 'memberranking'))}">会员消费排行</a></li>
<li {if $op == 'fansrange' }class="active"{/if}><a href="{php echo $this->createWebUrl('statistics', array('op' => 'fansrange'))}">代理粉丝排行</a></li>
<li {if $op == 'userincreasestatistics'&&$usertype=='user' }class="active"{/if}><a href="{php echo $this->createWebUrl('statistics', array('op' => 'userincreasestatistics'))}">会员增长统计</a></li>
<li {if $op == 'userincreasestatistics'&&$usertype=='agent' }class="active"{/if}><a href="{php echo $this->createWebUrl('statistics', array('op' => 'userincreasestatistics','usertype'=>'agent'))}">代理增长统计</a></li>

</ul>

 <div class="main">
 
		<div class="stat">
		<div class="alert alert-info" style="margin:10px 0; width:auto;">
			<i class="icon-lightbulb"></i> 查询网店的销售指标(注：其中订单数指完成的订单数；订单总金额指完成的订单总金额。)
		</div>
			<form action="">
				<input type="hidden" name="act" value="module" />
				<input type="hidden" name="name" value="mihua_mall" />
				<input type="hidden" name="do" value="statistics" />
				<input type="hidden" name="op" value="saletargets" />
		<input name="token" type="hidden" value="{$_W['token']}" />
		
			
			<div class="stat-div">

			<!------------------------->
                <div class="panel panel-info" style="border-color:#dddddd">
                    <div class="panel-heading">销售指标分析</div>
                    <div class="panel-body  table-responsive" style="padding:15px;background:#fff;">

                <!--------------------->
				<div class="sub-item" id="table-list">
	<h4 class="sub-title">平均每位客户订单金额</h4>
					<div class="sub-content">
						<table class="table table-hover">
											<thead class="navbar-inner">
										<tr>
											<th class="row-hover" style="width:200px">订单总金额</th>
											<th class="row-hover" style="width:200px">总会员数</th>
											<th class="row-hover" style="width:200px">平均每位客户订单金额</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td style="text-align: center;">{$allorderprice}
											</td>
											<td style="text-align: center;width:200px">{$allmembercount}
											</td>
											<td style="text-align: center;">{php echo round(($allorderprice/($allmembercount==0?1:$allmembercount)),2);}%
											</td>
										
								
										</tr>
									</tbody>
						</table>
					</div>
					{$pager}
				</div>
				
				
						<div class="sub-item" id="table-list">
			<h4 class="sub-title">平均每次访问订单金额</h4>
							<div class="sub-content">
								<table class="table table-hover">
													<thead class="navbar-inner">
										<tr>
											<th class="row-hover" style="width:200px">订单总金额</th>
											<th class="row-hover" style="width:200px">总访问次数</th>
											<th class="row-hover" style="width:200px">平均每次访问订单金额</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td style="text-align: center;">{$allorderprice}
											</td>
											<td style="text-align: center;width:200px">{$allorderviewcount}
											</td>
											<td style="text-align: center;">{php echo round(($allorderprice/($allorderviewcount==0?1:$allorderviewcount)),2);}%
											</td>
										
								
										</tr>
									</tbody>
								</table>
							</div>
							{$pager}
						</div>
						
						
							<div class="sub-item" id="table-list">
			<h4 class="sub-title">订单转化率</h4>
							<div class="sub-content">
								<table class="table table-hover">
											<thead class="navbar-inner">
										<tr>
											<th class="row-hover"  style="width:200px">总订单数</th>
											<th class="row-hover" style="width:200px">总访问次数</th>
											<th class="row-hover"  style="width:200px">订单转化率</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td style="text-align: center;">{$allordercount}
											</td>
											<td style="text-align: center;width:200px">{$allorderviewcount}
											</td>
											<td style="text-align: center;">{php echo round(($allordercount/$allorderviewcount)*100,2);}%
											</td>
										
								
										</tr>
									</tbody>
								</table>
							</div>
							{$pager}
						</div>
						
						
							<div class="sub-item" id="table-list">
			<h4 class="sub-title">注册会员购买率</h4>
							<div class="sub-content">
								<table class="table table-hover">
											<thead class="navbar-inner">
										<tr>
											<th class="row-hover"  style="width:200px">有过订单的会员</th>
											<th class="row-hover" style="width:200px">总会员数</th>
											<th class="row-hover"  style="width:200px">注册会员购买率</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td style="text-align: center;"  >{$haveordermembercount}
											</td>
											<td style="text-align: center;width:200px">{$allmembercount}
											</td>
											<td style="text-align: center;"  >{php echo round(($haveordermembercount/($allmembercount==0?1:$allmembercount))*100,2);}%
											</td>
										
								
										</tr>
									</tbody>
								</table>
							</div>
							{$pager}
						</div>
						
						
							<div class="sub-item" id="table-list">
			<h4 class="sub-title">平均会员订单量</h4>
							<div class="sub-content">
								<table class="table table-hover">
									<thead class="navbar-inner">
										<tr>
											<th class="row-hover"  style="width:200px">总订单数</th>
											<th class="row-hover" style="width:200px">总会员数</th>
											<th class="row-hover"  style="width:200px">平均会员订单量</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td style="text-align: center;">{$allordercount}
											</td>
											<td style="text-align: center;width:200px">{$allmembercount}
											</td>
											<td style="text-align: center;">{php echo round(($allordercount/($allmembercount==0?1:$allmembercount))*100,2);}%
											</td>
										
								
										</tr>
									</tbody>
								</table>
							</div>
							{$pager}
						</div>
			</div>
		</div>
    </div>
    	</form>


