@charset "utf-8";
body,html{width: 100%;height: 100%;font-family: "microsoft yahei";font-size:14px;}
div{
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.clearFloatDiv {clear: both;}
a {text-decoration: none;color: #fff;}
#main {
	align-items: center;
	display: -webkit-flex;
}
.headPic {width:45px ;height: 45px; padding:3px 5px 4px 5px;float: left; display: inline-block; border-radius:100% ;}
#top {width: 100%; height: 63px;position: fixed;top: 5px;z-index: 999;}
#top .top_header {display: -webkit-flex;height: 37px;margin:0 0 6px 10px; overflow: hidden;}
#top .top_header .header_left {width: 121px;margin-right: 10px; float: left;border-radius:20px ;overflow: hidden;background:rgba(39,40,34,0.5);}
#top .top_header .header_left .headPic {width:31px ;height: 31px;}
#top .top_header .header_left h1 {margin-top: 1px;width: 80px; font-size: 13px;color: #fff; overflow:hidden;text-overflow:ellipsis;-o-text-overflow:ellipsis;white-space:nowrap;}
#top .top_header .header_left h2 {font-size:10px;margin-top: 1px;color: #dadada; overflow:hidden;text-overflow:ellipsis;-o-text-overflow:ellipsis;white-space:nowrap;}
#top .top_header .header_right {flex: 2;float: right;border-radius:20px 0 0 20px; white-space :nowrap;overflow: hidden;
}
#top .top_header .header_right .wrap {border-radius:20px 0 0 20px; overflow-x:scroll;overflow-y: hidden;}
#top .top_header .header_right .wrap ul { height: 44px; }
#top .top_header .header_right .wrap ul li {display: inline;margin-right: 3px;}
.headPics {width:31px ;height: 31px;padding:3px 1px 4px 3px;display: inline-block;border-radius:100% ;}
#top .statistics {margin-left:10px;height: 21px;line-height: 21px; white-space:nowrap;}
#top .statistics .balance {max-width: 100px;padding:0 5px;border-radius:20px ;float: left;text-align: center;line-height: 21px;
background:rgba(39,40,34,0.5);overflow:hidden;text-overflow:ellipsis;-o-text-overflow:ellipsis;white-space:nowrap; }
#top .statistics .balance h1 {font-size: 12px; color: #fff;text-align:left;line-height:20px;}
#top .statistics .bl_name {color: #f7941d;padding-left: 6px;display: inline-block;}
#top .statistics #bl_num {max-width: 52px;vertical-align: middle; display: inline-block;overflow:hidden;text-overflow:ellipsis;-o-text-overflow:ellipsis;white-space:nowrap;margin-top:-2px;}
#top .statistics .focus {max-width: 125px;float: right;border-radius:20px ;margin-right:6px;background:rgba(39,40,34,0.5);height:22px;overflow:hidden;line-height:20px;padding:0 5px;}
#top .statistics .focus span {display: inline-block;vertical-align: middle;}
#top .statistics .focus h1 { font-size: 12px; color: #fff;padding-left: 6px;}
.people {margin-right:6px;}
#top .statistics .focus #fc_num {margin:0 3px;text-overflow:ellipsis;-o-text-overflow:ellipsis;white-space:nowrap;}
#top .statistics .focus i {color:#ff6160 ;font-size: 12px;}

#content {width:95%;padding-top:38px;padding-bottom:50px;/*overflow-x:hidden;overflow-y: scroll;*/}
#content .contentImg {width:65%;padding:20px;position: relative;margin-left:71px;}
.contentImg .headPic{ float:left; margin-left:-81px;border-radius:10px; padding: 0;}
.contentImg .conPic {display: block;width: 130px; height:130px;margin-left:-20px;border-radius:10px;}
#content .contents {width:78%;padding:20px;position: relative;background-color: #fff;
font-size: 14px;color: #111; border-radius:10px;margin-left:71px;line-height:22px;}
.contents .headPic{ float:left; margin-left:-81px;border-radius:10px;margin-top:-20px;padding:0;;}
#content .contents .purchase {height: 40px; line-height: 40px;margin-top:15px;overflow: hidden;}
#content .contents .purchase div {float: right;}
#content .contents .purchase .buy {width:58% ;border-radius:30px ;height:38px;line-height:38px;
 background:url(../images/icon.png) no-repeat 100px center  #fe6260; text-indent:20px;margin-left:10px;}
#content .contents .purchase .buy a {font-size: 16px; color: #fff;text-decoration: none;}
#content .contents .purchase .num {color:#fe6260 ; font-size: 14px;margin-left: 10px;}
.triangle {display: block; width: 20px;height: 20px;position: absolute;left: -13px;}
.publishTime {width: 50px;height: 20px;line-height: 20px; color:#dadada;font-size: 12px;text-align: center;border-radius: 20px;margin: 0 auto;margin-top: 10px; background:rgba(39,40,34,0.5);}

.fixedHeight {height:50px;}
#bottom {width: 100%;height: 40px;line-height: 35px;padding: 5px 0;text-align: center;color: #fff; 
position: fixed;bottom:5px;left: 0;vertical-align: bottom;z-index:2;}
#bottom div {float: left;}
#bottom .barrage {width:35px;height: 35px;line-height:30px; background-size:cover;font-size: 20px; margin-left:5px;}
.no-bg {background:url(../images/barrage.png) center center no-repeat;}
.tan-bg{background:url(../images/tan-bg.png) center center no-repeat;color: #999;}
#bottom .textInput {height: 35px;  line-height: 35px;margin-left:10px;}
#bottom .textInput input{width: auto;height: 35px; border: none; background:rgba(39,40,34,0.5);
border-radius: 20px;color: #fff;font-size: 16px;font-family:"microsoft yahei";padding-left:20px;text-align: left;}
#bottom .share,#bottom .gift {width:35px;height: 35px; line-height:35px;border-radius: 100%; background:rgba(39,40,34,0.5);float:right;margin-right:6px;}
#bottom .share i ,#bottom .gift i {font-size: 22px;}
#bottom .gift {background:#fe6260;}

.hongbao { position: fixed;left:-400px;bottom: 220px;z-index:9;width: 230px; height:45px;background: url(../images/hongbao.png) no-repeat 95% center #FB9E3A;
border-radius:10px ;text-align: left;color: #fff;line-height: 45px;font-size: 16px;margin-left:0px ;
-webkit-transition:left 0.3s; -moz-transition:left 0.3s; transition:left 0.3s;}
.hongbao p {width:70%; overflow:hidden;text-overflow:ellipsis;-o-text-overflow:ellipsis;white-space:nowrap;}
.hongbao .headPic {width: 31px;height: 31px;margin-top: 5px;}

.dLeft {z-index:2;position:relative; left:0;max-height:120px;overflow:hidden;-webkit-transition:left 0.3s; -moz-transition:left 0.3s; transition:left 0.3s;}
.dLeft {position: fixed;left:-400px ;bottom: 60px;overflow: hidden;width:60%;}
.dLeft ul{max-height:100px;overflow:scroll;width:100%;}
.dLeft ul li div{display:inline-block; background:rgba(255,255,255,0.8);border-radius: 3px;padding:0 3px;}
.dLeft ul li div span{max-height:44px;overflow:hidden;line-height:22px;}
.dLeft ul li div span.name-box{float:left;display:block;max-width:75px;height:22px;overflow:hidden;font-size:12px;}
.dLeft ul li div span.msg-box{float:left;max-width:130px}

.dLeft ul li{max-width:100%;overflow:hidden;max-height:44px;font-size: 12px;color: #666;}
.name1 {color:#f19737 ;}
.name2 {color:#5454f4 ;}
.name3 {color:#f41edd ;}
.name4 {color:#e21349 ;}
.mobile-left{left:400px;}
.mobile-menu-left{left:0px;}

.bg-box{width:100%;position:fixed;height:100%;top:0;background:url(../images/bg.jpg);background-size:cover;z-index:-1;}
.dropload-up{padding-top:30px;color:#fff;}
::-webkit-input-placeholder{color:#fff}
#newgoods_notice{display:none;font-size:13px;position:fixed;right:0px;top:88px;padding:0 8px 0 10px;text-align:center;height:30px;line-height:30px;border-radius:15px 0 0 15px;color:#4CAF50;background:#fff;border:1px solid #ccc;z-index:2}