html,body,h1,h2,h3{font-family:arial, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', '宋体', \5b8b\4f53, Tahoma, Arial, Helvetica, STHeiti}
body{overflow-y:scroll; background:#f9f9f9; min-width:1070px;}
[ng-cloak], .ng-cloak {display:none !important;}
a:focus{outline:none; -moz-outline:none}
a,a:hover,a:focus{text-decoration:none; cursor:pointer;}
@media (max-width: 767px){
	.navbar-nav {float:left; margin:0;}
	.navbar-nav>li {float:left;}
	.navbar-nav.navbar-right {float:right; margin:0;}
}
.list-group .list-group-item.active{background-color:#428bca;border-color:#428bca;}
.list-group .list-group-item a{color:#555;}
.list-group .list-group-item a:hover{text-decoration:none;}
.list-group .list-group-item.active a{color:#fff;}
.row .row, .form-group .form-group{margin-left:auto;margin-right:auto;}
.row.row-fix, .form-group.form-group-fix{margin-left:-15px;margin-right:-15px;}
.breadcrumb{background:#F9F9F9;}

html,div,table,th,td,ul,.app li.panel-body,.app .panel,.app .app-preview .app-region .app-add-filed a{padding:0; margin:0;}
a,a:hover,a:focus{text-decoration:none; cursor:pointer;}
img{border:0;}
ul{list-style:none;}

/*登录注册*/
.login,.register{background:#3a3a3a url('../images/gw-bg.jpg') no-repeat fixed; background-size:cover; -webkit-background-size:cover; -o-background-size:cover;padding-top:5em;}
.login .logo,.register .logo{width:100%; text-align:center; margin-bottom:2em;}
.login .logo a,.register .logo a{background:url('../images/gw-logo.png') no-repeat; display:inline-block;width:420px;height:95px;margin-left:0 !important;}
.login .panel,.register .panel{padding:30px 15px;}
.login i,.register i{color:#999999;}
.login .footer,.register .footer{padding:2em 0;}
.login .footer,.register .footer,.login .footer a,.register .footer a{color:#ffffff;}
/*首页*/
.home .head{background:#3a3a3a url('../images/gw-bg.jpg') no-repeat fixed; background-size:cover; height:95px; width:100%;}
.home .head .head_logo{background:url('../images/gw-logo.png') no-repeat; display:inline-block;width:420px; height:95px; margin-left:0 !important;}
.home .head .btns{height:95px; line-height:95px;}
.home .content .banner{background-image: url(../images/banner-bg.png); background-size: 990px 380px; background-position: center 15px; border-top: 1px solid #EEEEEE; border-bottom: 1px solid #EEEEEE; background-repeat: no-repeat; height:380px; background-color:#FFFFFF; min-width: 1014px; min-height: 180px;}
.home .content .con{padding-top:20px;}
.home .content h4{font-weight:bold; font-size:20px; padding-left:15px;}
.home .content h6{font-size:14px; color:#428bca;}
.home .content .con .panel-body .row{ margin:20px 0;}
.home .content .con .panel-body .row>div{height:100px; overflow:hidden;}
.home .content .con .panel-body .row .icon{height:100px; width:20%; float:left;}
.home .content .con .panel-body .row .icon i{display:inline-block; width:44px; text-align:center; font-size:44px; margin:23px 0; color:#428bca;}
.home .content .con .panel-body .row .icon img{width:50px; height:50px; margin-top:20px;}
.home .content .con .panel-body .row p{color:#666;}
.home .footer{height:50px; line-height:25px; margin-bottom:30px; color:#666;}
.home .footer a{color:#666;}
.home .footer a:hover{color:#428bca; text-decoration:none;}

.navbar-inverse ul li i{display:inline-block; margin-right:5px;}
.nav.navbar-nav .dropdown{z-index:1001;}
.welcome-container .shortcut a{display:block;float:left;text-align:center;margin-right:1.2em;padding:8px 5px;width:7em;height:7em;overflow:hidden;color:#333;}
.welcome-container .shortcut a:hover{text-decoration:none;background:#eee;border-radius:3px;padding:7px 4px;border:1px solid #d5d5d5;}
.welcome-container .shortcut a i{display:block;font-size:3em;margin:.28em .2em;}
.welcome-container .shortcut a img{display:block;height:3em;margin:.85em auto;}
.welcome-container .shortcut a span{display:block;font-size:1em;overflow:hidden;white-space:nowrap;}
.welcome-container .account img{width:6em;height:6em;}

.nav.nav-tabs{margin-bottom:20px; border-color:#428bca;}
.nav-tabs>li>a:hover{border-color:#eee #eee #428bca #eee;}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{color:#FFF; background-color:#428bca; border-color:#428bca;}
.page-header{padding-bottom:0;}
.page-header:first-child{margin-top:0;}
/*daterange*/
.daterange,.date-time-picker{background-color:#fff;box-shadow:none; position:relative;}
.daterange[with-time="1"] .date-title{min-width:310px;}
.daterange[with-time="0"] .date-title{min-width:240px;}
.date-time-picker input[with-time="1"]{min-width:170px;}
.date-time-picker input[with-time="0"]{min-width:130px;}
.daterange i.fa.pull-right,.date-time-picker i.fa.pull-right{display:inline-block; line-height:34px; margin-left:8px; cursor:pointer; position:absolute;}
.daterange>input,.date-time-picker>input{border: 0; outline:none;}
.daterange .form-control[disabled],.daterange .form-control[readonly],.date-time-picker .form-control[disabled],.date-time-picker .form-control[readonly]{background-color:transparent;}
.daterange .fa.fa-calendar,.date-time-picker .fa.fa-calendar{right:12px;}
.daterange .fa.fa-times,.date-time-picker .fa.fa-times{right:33px;}

.table-responsive.panel-body{overflow:auto;}
.table{table-layout:fixed; min-width:900px;}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td{vertical-align:middle;}
.table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td{white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.table>thead>tr>th{border-top:none;}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th{border-top:none;}
.modal-dialog .file-browser{min-height:480px;line-height:0;color:#428bca;}
.modal-dialog .file-browser .thumbnail{display:block;float:left;width:100px;height:130px;margin-right:13px;cursor:pointer;}
.modal-dialog .file-browser .thumbnail:hover{border-color:#428bca;}
.modal-dialog .file-browser span{display:block;height:2.5em;overflow:hidden;}
.modal-dialog .file-browser em.close{position:relative;left:20px;top:-140px;}
.modal-dialog .file-browser img{width:98px;}
.modal-dialog .file-browser i{display:block;font-size:6em;padding:5px;}
.modal-dialog .file-browser em{display:table-cell;vertical-align:middle;height:98px;}
.modal-dialog .table{ width:auto; min-width:100%;}

@media screen and (max-width:767px){.tpl-calendar>div,.tpl-district-container>div{margin-bottom:10px;}}
/*左侧菜单*/
.big-menu .panel .panel-heading{position:relative; overflow:hidden; padding-left:38px;}
.big-menu .list-group-item{position:relative; overflow:hidden; padding-left:38px;}
.big-menu .panel .panel-heading>i,.big-menu .list-group-item>i{position:absolute; width:20px; height:20px; line-height:20px; left:15px; top:9px;}
.big-menu .panel .panel-collapse{width:50px; height:38px; line-height:38px; position:absolute; top:0; right:0; color:#CCC; text-align:center; background:#EEE; border-left:1px #DDD solid;}
/*更新提醒*/
.upgrade-tips{width:100%; position:absolute; top:0; text-align:center; z-index:99999;}
.upgrade-tips a{display:inline-block; margin:0 auto; height:25px; line-height:25px; padding:0 5px; color:#FFF; background:#EE5023; width:380px;}
.upgrade-tips a.module{background:#3C9D40;}
.upgrade-tips span{display:inline-block; height:25px; line-height:25px; background:#328233; padding:0 10px; color:#FFF; cursor:pointer;}
/*上传组件*/
.network .network-img{width:150px; height:100px; position:relative; text-align:center; overflow:hidden; margin:10px 0; background-color:#efefef; background-size: contain; background-repeat: no-repeat; background-position: 50% 50%;}
.network .network-img span{position:absolute; left:0; bottom:0; display:inline-block; width:100%; height:30px; line-height:30px; background:rgba(0,0,0,0.2); color:#eee;}
.history .img-list { margin: 4px; display: block; clear: both; list-style: outside none none; padding:0px;}
.history .img-list .img-item { float: left; padding: 1px; cursor: pointer; position: relative;}
.history .img-list .img-item .img-container { position: relative; width:75px; height:75px; text-align:center; background-color:#eee; background-size: contain; background-repeat: no-repeat; background-position: 50% 50%;}
.history .img-list .img-item .img-container:hover .img-meta{display:none; }
.history .img-list .img-item .img-container .img-meta { width:100%; position: absolute; bottom: 0; z-index:1; background:rgba(0,0,0,0.5); color:#eee;}
.history .img-list .img-item .img-container .select-status {display:inline-block; width:50px; height:50px; position: absolute; bottom:0; right:0; z-index:2;}
.history .img-list .img-item-selected .img-container .select-status {display:inline-block; width:50px; height:50px; position: absolute; bottom:0; right:0; background: url('../images/success-small.png') no-repeat right bottom; z-index:2;}
.history .img-list .img-item-selected .img-container .img-meta {display:none;}
.history .img-list .img-item .btnClose{text-align:right; position:absolute; top:-10px; right:-5px; display:none; z-index:10;}
.history .img-list .img-item:hover .btnClose{display:block;}
.history .img-list .img-item .btnClose a{display:inline-block; width:20px; height:20px; text-align:center; line-height:20px; color:#fff; background:rgba(0,0,0,.3); border-radius:50%;}
.history .img-list .img-item .btnClose a i.fa-times{font-size:14px; padding:3px;margin-top: 0;}
.history .img-list .img-item .btnClose a:hover{background:rgba(0,0,0,1);}
.pagination { margin:0;}
/*多图上传*/
.multi-img-details{margin-top:.5em;}
.multi-img-details .multi-item{height: 150px; max-width: 150px; position:relative; float: left; margin-right: 18px;}
.multi-img-details .multi-item img{max-width: 150px; max-height: 150px;}
.multi-img-details .multi-item em{position:absolute; top: 0; right: -14px;}
/*tips*/
#tips-container {position:fixed; top:50%; left:0; width:100%; display:none; z-index: 99999;}
#tips-container span {display:inline-block; padding:10px 40px; background:rgba(0,0,0,0.8); color:#fff; border-radius:4px;}
/*padding-input*/
.padding-input{position:relative;}
.padding-input .form-control{padding-left:50px;}
.padding-input label{position:absolute; left:12px; top:7px; font-weight:400; color:#737373; font-size:14px;}
/*top*/
.toTop{width:50px; height:50px; text-align:center; color:#FFF; position:fixed; bottom:70px; right:30px; display:none; z-index:1100; background: #999; cursor:pointer;}
.toTop i{font-size:40px; margin-top:3px;}
.toTop:hover{background:#444; opacity : 0.7;}
.toBottom{width:50px; height:50px; text-align:center; color:#FFF; position:fixed; bottom:10px; right:30px; display:none; z-index:1100; background: #999; cursor:pointer;}
.toBottom i{font-size:40px; margin-top:3px;}
.toBottom:hover{background:#444; opacity : 0.7;}
/*switch-always-on*/
.switch-always-on .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-default{color:#fff; background:#428bca;}
.switch-off-gray .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-default{color:#bbb;}
.table>tbody>tr>td.line-feed{white-space:normal;}/*换行(给对应的td添加)*/

/*util.popover*/
.mall-popover{position:absolute; top: 0; left: 0; z-index: 1060; padding: 9px 14px; text-align: left; white-space: normal; background-color: #fff; -webkit-background-clip: padding-box; background-clip: padding-box; border: 1px solid rgba(0,0,0,.2); border-radius: 6px; -webkit-box-shadow: 2px 1px 3px rgba(0,0,0,.2); box-shadow: 2px 1px 3px rgba(0,0,0,.2)}
.mall-popover .arrow,.mall-popover .arrow:after{width: 0; height: 0; border-style: solid; position: absolute;}
.mall-popover .arrow:after{content: "";}
.mall-popover.top .arrow,.mall-popover.top .arrow:after{border-width: 10px 8px 0 8px; border-color:rgba(0,0,0,.2) transparent  transparent transparent; left: 50%; bottom:-11px; margin-left:-9px;}
.mall-popover.top .arrow:after{border-top-color: #fff; left:1px; top: -12px;}
.mall-popover.right .arrow,.mall-popover.right .arrow:after{border-width: 8px 10px 8px 0; border-color: transparent rgba(0,0,0,.2) transparent transparent; left: -11px; top: 50%; margin-top:-8px;}
.mall-popover.right .arrow:after{border-right-color: #fff; left: 2px; top:0;}
.mall-popover.bottom .arrow,.mall-popover.bottom .arrow:after{border-width: 0 8px 10px 8px; border-color:transparent transparent rgba(0,0,0,.4) transparent; left: 50%; top:-11px; margin-left:-9px;}
.mall-popover.bottom .arrow:after{border-bottom-color:#fff; left:1px; top:1px;}
.mall-popover.left .arrow,.mall-popover.left .arrow:after{border-width: 8px 0 8px 10px; border-color: transparent transparent transparent rgba(0,0,0,.2); right:-11px; top: 50%; margin-top:-8px;}
.mall-popover.left .arrow:after{border-left-color: #fff; left: -12px; top: 0px;}
.mall-popover.top{margin-bottom:10px;}
.mall-popover.right{margin-left:10px;}
.mall-popover.bottom{margin-top:10px;}
.mall-popover.left{margin-right:10px;}

/*store-homepage*/
.store-homepage{position:relative; overflow:hidden; padding-left:70px; height:80px;}
.store-homepage img{position:absolute; width:40px; height:40px; left:20px; top:19px;}
.store-homepage .name{margin-bottom:3px;}
.store-homepage .operate a{display:inline-block; padding:5px 10px; border:1px solid #428bca; border-radius:5px; min-width:82px; text-align:center; margin-top:4px;}

/*物流样式*/
#return-data{background:#f2f2f2; overflow:hidden;}
#return-data p{font-size:16px; font-weight:600; margin:15px;}
#return-data div{line-height:35px; border-left:1px solid #d9d9d9; white-space:normal; margin:0 15px; position:relative; padding-left:180px; cursor:pointer;}
#return-data div:before{content:''; border:3px solid #f2f2f2; background-color:#d9d9d9; display:inline-block; width:12px; height:12px; border-radius:5px; margin-right:10px; -moz-box-sizing:border-box; box-sizing:border-box; -webkit-box-sizing:border-box; position:absolute; left:-6px; top:11px;}
#return-data div:first-of-type:before{background-color:#F60;}
#return-data div:first-of-type{color:#F60;}
#return-data div .time{position:absolute; left:20px;}
/*self define*/
.red{color: red;}
.light-green{color: #00CC00;}
.black{color: black;}
.text-currency {color: #f60;}
.text-gray {color: #737373;}
.action-link {margin: 0 5px;}
.b {font-weight: bold;}
.small {font-size: 75%;}
.small *{font-size: 0.75em;}
.big {font-size: 120%;}
.del{text-decoration:line-through;}
.clear-width {width: 100%;}
.clear-min-width {min-width: 100%;}

.top-left {top: 0; left: 0;}
.top-right {top: 0; right: 0;}
.bottom-left {bottom: 0; left: 0;}
.bottom-right {bottom: 0; right: 0;}

.pa0 {padding: 0;}
.pt0 {padding-top: 0;}
.pb0 {padding-bottom: 0;}
.pl0 {padding-left: 0;}
.pr0 {padding-right: 0;}
.ma0 {margin: 0;}
.mb0 {margin-bottom: 0;}
.mt15{margin-top:15px;}
.pb50{padding-bottom:50px;}
.btn.min-width {min-width: 82px;}
.modal-header .close{font-size:35px; margin-top:-10px;}
.form-control.inline-item{width:150px; display:inline-block;}

.form-control::-moz-placeholder{color:#ccc;opacity:1}
.form-control:-ms-input-placeholder{color:#ccc}
.form-control::-webkit-input-placeholder{color:#ccc}

/*底部提交按钮*/
.submit-bar{position:fixed; z-index:998; bottom:0; right:0; padding:0 15px;}
.submit-bar .alert{background: rgba(255,254,220,0.8); margin-bottom:50px;}
/*活动营销*/
.reward-list-top,.present-list-top,.coupon-list-top,.cashback-list-top,.tuan-list-top{margin-bottom:15px;}
/*compact dialog*/
.compact>.modal-dialog>.modal-content>.modal-header>h4 {margin-top: 0; margin-bottom: 0;}
#goods-selector.compact>.modal-dialog>.modal-content>.modal-body {padding-top: 0; padding-bottom: 10px;}
/*图文回复*/
.news{width:100%; max-width:290px; border:1px solid #ddd; margin:0 auto; padding:0; list-style:none; position:relative;}
.news .item{border-radius:0; position:relative; padding:10px 80px 10px 10px; min-height:72px; border-top:1px solid #ddd; background-color:#fff;}
.news .item.active{background-color:#428bca; color:#fff;}
.news .item .pic{width:50px; height:50px; position:absolute; right:15px; top:50%; margin-top:-25px; overflow:hidden;}
.news .item .title{display:block; height:36px; overflow:hidden; margin-top:5px; text-align:left; white-space:normal;}
.news .item .delete a{position:absolute; right:0; bottom:0; display:inline-block; padding:3px; color:#fff; background:rgba(0,0,0,0.6); cursor:pointer;}
.news .item:first-child{padding:10px; height:150px; overflow:hidden; border:0;}
.news .item:first-child .pic{width:100%; height:100%; position:relative; right:0; top:0; margin:0;}
.news .item:first-child .title{position:absolute; width:100%; left:0; bottom:0; line-height:30px; background:rgba(0,0,0,0.5); color:#fff; z-index:10; text-align:left; padding:0 10px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}

.news.news-sm{min-width:100px; max-width:200px; font-size: 0.75em; position:relative;}
.news.news-sm .item{padding-right:45px; min-height:36px;}
.news.news-sm .item .pic{width:32px; height:32px; right:10px; top:50%; margin-top:-16px;}
.news.news-sm .item .title{height:1.5em;}
.news.news-sm .item:first-child{height:75px; padding:10px;}
.news.news-sm .item:first-child .title{line-height:1.5em;}
.news.news-sm .item:first-child .pic{width:100%; height:75px; right:0; top:0; margin-top:0;}

/*message.html*/
.jumbotron{margin:20px; padding-left:80px; position:relative;}
.jumbotron .icon{display:inline-block; position:absolute; left:20px; top: 14px;;}
.jumbotron .msg p{margin:0; line-height:42px;}
/*iconBrowser*/
.icon-selection h3, .icon-filter h3{padding-left:1em;}
.icon-selection a, .icon-filter a{display:block;float:left;text-align:center;width:5em;height:6em;overflow:hidden;margin:auto .3em;}
.icon-selection a:hover, .icon-filter a:hover{text-decoration:none;}
.icon-selection a i, .icon-filter a i{display:block;font-size:2em;color:#000;}
.icon-selection a span, .icon-filter a span{display:block;height:1.2em;overflow:hidden;word-break:break-all;}
