<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>{$setting['title']}</title>
<meta name="format-detection" content="telephone=no, address=no">
<meta name="apple-mobile-web-app-capable" content="yes" /> 
<meta name="apple-touch-fullscreen" content="yes"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
<link href="{MODULE_URL}template/mobile/xiaofweui/css/xiaofmoblieui.css" rel="stylesheet">
<link href="{MODULE_URL}resources/css/font-awesome.min.css" rel="stylesheet">
<link href="{MODULE_URL}template/mobile/xiaofweui/css/xiaoftoupiao.css" rel="stylesheet">
{php echo register_jssdk(false);}
<script src="{$_W['siteroot']}app/resource/js/require.js"></script>
<style>
.bottom-tabbar .cur span{ color:{$setting['buttoncolor']};}
.draw-box span{ background:{$setting['buttoncolor']};}
.xiaof-button,.xiaof-button-small{ background:{$setting['buttoncolor']};}
</style>
<script type="text/javascript">
    window.sysinfo.sid = "{$_GPC['sid']}";
    window.sysinfo.gifename = "{$setting['giftname']}";
require.config({
	baseUrl: '{MODULE_URL}template/mobile/xiaofweui/js',
	//urlArgs: "v={php echo time();}",
	paths: {
		'css': '{$_W['siteroot']}web/resource/js/lib/css.min',
		'jquery': 'jquery-2.2.3.min',
		'swiper': 'swiper.jquery.min',
		'imagesloaded': 'imagesloaded.min',
		'masonry': 'masonry.pkgd.min',
		'xiaof': 'xiaofmoblieui',
		'main': 'main'
	},
	shim:{
		'swiper': {
			exports: 'swiper',
			deps: ['jquery', 'css!{MODULE_URL}template/mobile/xiaofweui/css/swiper.min.css']
		},	
		'imagesloaded': {
			exports: 'imagesloaded',
			deps: ['jquery']
		},	
		'xiaof': {
			exports: 'xiaof',
			deps: ['jquery']
		}	
	}
});
</script>
</head>
<body>
{if !empty($setting['noticetitle'])}
<a href="{php echo self::appUrl('detail');}">
	<div class="xiaof-box xiaof-notice">
		公告<i class="fa fa-volume-up"></i>：<span class="xiaof-box-item"><marquee direction=left>{$setting['noticetitle']}</marquee></span>
	</div>
</a>
{/if}
<div class="head">
    <div class="head-banner">
		{if is_array($setting['thumb'])}
			{if count($setting['thumb']) <=1}
				<a href="{php echo trim($setting['thumblinkarr'][0]);}"><img src="{php echo tomedia(reset($setting['thumb']))}"></a>
			{else}
				<div class="swiper-container">
				  <div class="swiper-wrapper">
					{php $ti = 0;}
					{loop $setting['thumb'] $thumbitem}
					<div class="swiper-slide"><a href="{php echo trim($setting['thumblinkarr'][$ti]);}"><img src="{php echo tomedia($thumbitem);}"></a></div>
					{php $ti++;}
					{/loop}
				  </div>
				</div>				
				<script> 
					require(['swiper'], function(Swiper){
						new Swiper('.swiper-container', {
							autoplay: {if $setting['thumbsecond']}{$setting['thumbsecond']}*1000{else}3000{/if}
						})
					});	
				</script>				
			{/if}
		{else}
        <img src="{php echo tomedia($setting['thumb'])}">
		{/if}
    </div>
	
    <div class="head-count xiaof-box">
		<span class="xiaof-box-item">
			参与选手<br>
			{$good}
		</span>
		<span class="xiaof-box-item">
			累计{$setting['xiaofvotekeys']}<br/>
			{$shares}
		</span>
		<span class="xiaof-box-item">
			访问量<br/>
			{$click}
		</span>
    </div>
	
	<div class="head-info">
		<div class="head-box" >
			<div class="wrapper clearfix">
				<div class="fn-left">
					<i class="fa fa-bell-o head-box-end"></i>
				</div>
				<div class="fn-left">
				<p>距活动结束还有：</p>
				<p><span id="shower"></span></p>
				<script type="text/javascript">
                    {if strtotime($setting['end'])-time()>=1 || $setting['overtime'] > 0}
                    {if strtotime($setting['end'])-time()>=1}
                    var ti = {php echo strtotime($setting['end'])-time();};
                    {else if strtotime($setting['end'])-time()<=1 && $setting['overtime'] > 0}
                    var ti = {php echo strtotime($setting['end'])+$setting['overtime']-time()};
                    {/if}
                        function showtime(){
                            var d = parseInt(ti/3600/24);
                            var h = parseInt((ti%(3600*24))/3600);
                            var m = parseInt((ti%(3600*24))%3600/60);
                            var s = parseInt((ti%(3600*24))%60);
                            if(ti == 0){
                                window.clearInterval(timeset);
                                window.location.reload();
                            }
                            document.getElementById('shower').innerHTML = '<span class="times">'+d+' 天</span><span class="times">'+ h+' 时</span><span class="times">'+m+' 分</span><span class="times">'+s+' 秒</span>';
                            ti = ti -1;
                        }
                        if(ti > 0){
                            showtime();
                            var timeset = setInterval("showtime()",1000);
                        }
                        {else}
                        document.getElementById('shower').innerHTML = '已结束';
                        {/if}
				</script>
				</div>
			</div>
		</div>
		<div class="head-box-hr"></div>
		<div class="head-box">
			<div class="wrapper">
				<a href="{php echo self::appUrl('detail');}"><i class="fa fa-bullhorn i-m8"></i>{if empty($setting['noticetitle'])}{$setting['title']}{else}{$setting['noticetitle']}{/if}<span class="fn-right">&gt;</span></a>
			</div>
		</div>
		<div class="head-box-hr"></div>
		<div class="head-box">
			<div class="wrapper">
				<i class="fa fa-book i-m8"></i>当前共有<span id="credit-num">{$credit}</span>积分
			</div>
		</div>	
		<div class="head-box-hr"></div>	
	</div>
</div>

		<div class="wrapper">
			<table class="draw">
				<tr>
					<td width="25%">
						<div class="draw-box" id="draw1">
							<div class="cur-shade"></div>
							<img src="{if empty($prizes[0]['pic'])}{if empty($prizes[0]['attr'])}{MODULE_URL}template/mobile/picture/xxcy.jpg{else}{MODULE_URL}template/mobile/picture/tpzq.jpg{/if}{else}{php echo tomedia($prizes[0]['pic'])}{/if}"/>
							<span>{$prizes[0]['name']}</span>
						</div>
					</td>
					<td width="25%">
						<div class="draw-box" id="draw2">
							<div class="cur-shade"></div>
							<img src="{if empty($prizes[1]['pic'])}{if empty($prizes[1]['attr'])}{MODULE_URL}template/mobile/picture/xxcy.jpg{else}{MODULE_URL}template/mobile/picture/tpzq.jpg{/if}{else}{php echo tomedia($prizes[1]['pic'])}{/if}"/>
							<span>{$prizes[1]['name']}</span>
						</div>
					</td>
					<td width="25%">
						<div class="draw-box" id="draw3">
							<div class="cur-shade"></div>
							<img src="{if empty($prizes[2]['pic'])}{if empty($prizes[2]['attr'])}{MODULE_URL}template/mobile/picture/xxcy.jpg{else}{MODULE_URL}template/mobile/picture/tpzq.jpg{/if}{else}{php echo tomedia($prizes[2]['pic'])}{/if}"/>
							<span>{$prizes[2]['name']}</span>
						</div>
					</td>
					<td width="25%">
						<div class="draw-box" id="draw4">
							<div class="cur-shade"></div>
							<img src="{if empty($prizes[3]['pic'])}{if empty($prizes[3]['attr'])}{MODULE_URL}template/mobile/picture/xxcy.jpg{else}{MODULE_URL}template/mobile/picture/tpzq.jpg{/if}{else}{php echo tomedia($prizes[3]['pic'])}{/if}"/>
							<span>{$prizes[3]['name']}</span>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<div class="draw-box" id="draw10">
							<div class="cur-shade"></div>
							<img src="{if empty($prizes[9]['pic'])}{if empty($prizes[9]['attr'])}{MODULE_URL}template/mobile/picture/xxcy.jpg{else}{MODULE_URL}template/mobile/picture/tpzq.jpg{/if}{else}{php echo tomedia($prizes[9]['pic'])}{/if}"/>
							<span>{$prizes[9]['name']}</span>
						</div>
					</td>
					<td colspan="2" class="start">
						<div class="draw-box">
							<img src="{MODULE_URL}template/mobile/picture/click.jpg" />
						</div>
					</td>
					<td>
						<div class="draw-box" id="draw5">
							<div class="cur-shade"></div>
							<img src="{if empty($prizes[4]['pic'])}{if empty($prizes[4]['attr'])}{MODULE_URL}template/mobile/picture/xxcy.jpg{else}{MODULE_URL}template/mobile/picture/tpzq.jpg{/if}{else}{php echo tomedia($prizes[4]['pic'])}{/if}"/>
							<span>{$prizes[4]['name']}</span>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<div class="draw-box" id="draw9">
							<div class="cur-shade"></div>
							<img src="{if empty($prizes[8]['pic'])}{if empty($prizes[8]['attr'])}{MODULE_URL}template/mobile/picture/xxcy.jpg{else}{MODULE_URL}template/mobile/picture/tpzq.jpg{/if}{else}{php echo tomedia($prizes[8]['pic'])}{/if}"/>
							<span>{$prizes[8]['name']}</span>
						</div>
					</td>
					<td>
						<div class="draw-box" id="draw8">
							<div class="cur-shade"></div>
							<img src="{if empty($prizes[7]['pic'])}{if empty($prizes[7]['attr'])}{MODULE_URL}template/mobile/picture/xxcy.jpg{else}{MODULE_URL}template/mobile/picture/tpzq.jpg{/if}{else}{php echo tomedia($prizes[7]['pic'])}{/if}"/>
							<span>{$prizes[7]['name']}</span>
						</div>
					</td>
					<td>
						<div class="draw-box" id="draw7">
							<div class="cur-shade"></div>
							<img src="{if empty($prizes[6]['pic'])}{if empty($prizes[6]['attr'])}{MODULE_URL}template/mobile/picture/xxcy.jpg{else}{MODULE_URL}template/mobile/picture/tpzq.jpg{/if}{else}{php echo tomedia($prizes[6]['pic'])}{/if}"/>
							<span>{$prizes[6]['name']}</span>
						</div>
					</td>
					<td>
						<div class="draw-box" id="draw6">
							<div class="cur-shade"></div>
							<img src="{if empty($prizes[5]['pic'])}{if empty($prizes[5]['attr'])}{MODULE_URL}template/mobile/picture/xxcy.jpg{else}{MODULE_URL}template/mobile/picture/tpzq.jpg{/if}{else}{php echo tomedia($prizes[5]['pic'])}{/if}"/>
							<span>{$prizes[5]['name']}</span>
						</div>
					</td>
				</tr>
			</table>
			<br/>

			<p style="margin-bottom:8px;"><a href="{php echo self::appUrl('drawlist','xiaof_toupiao','&type=2');}" class="xiaof-button">领奖入口</a></p>
			{if intval($setting['paycheckcredit']) >= 1}
			<p><a href="{php echo self::appUrl('paycheckcredit');}" class="xiaof-button">积分充值</a></p>
			{/if}
		</div>
		
<div class="article-group wrapper">
	<div class="article-title" >
		<h3>
		抽奖记录
		</h3>
	</div>
    <div class="article-content">
			<div id="draw-history">
			{loop $lists $item}
			时间：{php echo date("Y-m-d H:i", $item['created_at'])}&nbsp;&nbsp;抽到了{$item['name']}<br/>
			{/loop}
			</div>
    </div>
</div>

{template $setting['template'].'footer'}

</body>
<script type="text/javascript">
	require(['jquery', 'main', 'xiaof'], function($, xiaoftoupiao){
		xiaoftoupiao.draw("{php echo self::appUrl('draw')}");
        wx.ready(function () {
            wx.onMenuShareAppMessage({
                title: '{$setting['sharetitle']}',
                desc: '{php echo trim($setting['sharecontent']);}',
                link: '{php echo $this->shareUrl('creditdraw')}',
                imgUrl: '{php echo tomedia($setting['sharethumb'])}',
                success: function(){},
                cancel: function(){}
            });

            wx.onMenuShareTimeline({
                title: '{$setting['sharetitle']}',
                link: '{php echo $this->shareUrl('creditdraw')}',
                imgUrl: '{php echo tomedia($setting['sharethumb']);}',
                success: function () {},
                cancel: function () {}
            });
        });
	});
</script>
</html>