
<title>官网模块详情</title>

<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">主页</a>
        <a><cite>官网模块详情</cite></a>
    </div>
</div>

<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-header">官网模块详情</div>
        <div class="layui-card-body" style="padding: 15px;">

            <form class="layui-form" action="" lay-filter="component-form-group" onsubmit=" return  false;">

                <input type="hidden" name="itemId">

                <div class="layui-form-item class-div-title">
                    <label class="layui-form-label">标题</label>
                    <div class="layui-input-block">
                        <input type="text" name="title" required lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">排序值</label>
                    <div class="layui-input-block">
                        <input type="text" name="top" required placeholder="" autocomplete="off" class="layui-input">
                    </div>
                    <blockquote style="margin-left: 110px" class="layui-elem-quote" style="margin-top: 10px;">
                        排序值, 倒序, 值越大排序越靠前, 请填写数字
                    </blockquote>
                </div>

                <!--提交数-->

                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="LAY-filter-demo-form">立即提交</button>
                        <button id="backlist" class="layui-btn layui-btn-primary">返回</button>
                    </div>
                </div>

            </form>

        </div>
    </div>
</div>

<script>
    layui.use(['admin', 'form'], function(){
        var $ = layui.$
            ,admin = layui.admin
            ,element = layui.element
            ,layer = layui.layer
            ,form = layui.form;

        layer.load();

        //id的值（判断是否编辑）
        var router = layui.router();
        var id=router.search.website_id;

        if(typeof(id)=='undefined'){
            id=0;//默认新增
        }
        $("#backlist").click(function(){
            window.history.back();
            return false;
        });

        //发送请求获取数据(数据的回显)
        admin.req({
            type:'POST',
            url: config.url+'manage_website/website/detail'//数据接口
            ,data:{"id":id},
            done:function(res){
                if(res.data){
                    layer.closeAll();
                    //预设元素
                    form.val("component-form-group", {
                        "itemId": res.data.id,// "name": "value"
                        "title": res.data.title,// "name": "value"
                        "top": res.data.top ? res.data.top : 0,// "name": "value"
                    });

                    console.log(id);
                    if (id == 0)
                    {
                        if (res.data.modular_array.length > 0)
                        {
                            var typeChoosed = 0;
                            if (res.data.type)
                            {
                                typeChoosed = res.data.type;
                            }
                            var strs='                <div class="layui-form-item">\n' +
                                '                    <label class="layui-form-label">商品分类</label>\n' +
                                '                    <div class="layui-input-block">\n' +
                                '                        <select name="sign" id="selectType" lay-verify="required">\n';
                            layui.each(res.data.modular_array, function(index, item){

                                strs += '<option value="' + item.sign + '">' + item.text + '</option>';

                            });

                            strs += '                        </select>\n' +
                                '                    </div>\n' +
                                '                </div>';
                            console.log(strs);
                            $(".class-div-title").after(strs);
                        }
                        form.render();
                    }

                }
            }
        });

        /* 监听提交 */
        form.on('submit', function(data){

            layer.load();
            //发送请求
            var data = data.field;
            admin.req({
                type:'POST',
                url: config.url+'manage_website/website/edit'//数据接口
                ,data:data,
                done:function(res){
                    layer.msg('成功', {
                        offset: '15px'
                        ,icon: 1
                        ,time: 1000
                    }, function(){
                        window.history.back();
                    });
                }
            });
            return  false;
        });

    });

</script>