@charset "UTF-8";
/* 公共部分 */
html{height: 100%;}
body{margin: 0;height: 100%;font-size:14px; line-height:160%;color: #666;}
body, input, button, select, textarea, h1, h2, h3, h4, h5, h6{font-family:'Helvetica Neue', 'STHeiti', 'Microsoft YaHei', Helvetica,Arial,sans-serif;}
ul, ol{margin:0;padding:0;list-style:none;}
h1, h2, h3, h4, h5, h6{margin-top:0;font-size:100%;line-height: 1.7;}
dd{margin-left: 10px;}

table td{vertical-align: middle !important;}
