#wrapper{position: relative;margin-bottom:20px;padding-top:100px;}
.btn-weibo{background-color: #ff6666;color: #fff;}
.btn-weibo:hover{background-color: #FF4D4D;color: #fff;}
.btn-weibo:active{background-color: #E64545;color: #fff;}
.btn-qq{background-color: #418ae2;color: #fff;color: #fff;}
.btn-qq:hover{background-color: #2D7FE2;color: #fff;}
.btn-qq:active{background-color: #1773E2;color: #fff;}
.btn-wechat{background-color: #73db42;color: #fff;}
.btn-wechat:hover{color: #fff;}
.btn-primary{border:none;background-color: #59b0ff;}
.btn-primary:hover{background-color: #4daaff;}
.btn-primary:active, .btn-primary:focus{background-color: #1a90ff;}
.btn:active, .btn.active{box-shadow: none;}
.whz-login-box{width: 620px;margin:0 auto;background-color: #ffffff;border-radius: 5px;}
.whz-login-box .logo{width:220px;height:50px;}
.whz-login-box .logo a{display: block;width:220px;height:50px;}
.whz-login-box .mod-body{padding:50px 60px;}
.whz-login-box .mod-body .content{margin-right: 0px;}
.whz-login-box .mod-body .content h2{margin:13px 0 40px;color: #666666;}
.whz-login-box .mod-body .content ul li{margin-top: 20px;line-height: 30px;}
.whz-login-box .mod-body .content ul li:first-child{margin-top: 0;}
.whz-login-box .mod-body .content ul li.last{font-size: 12px;line-height: 40px;}
.whz-login-box .mod-body .content ul li.last input{vertical-align: -2px\0;}
.whz-login-box .mod-body .content ul li.last a{color: #666666;}
.whz-login-box .mod-body .content ul li .btn-primary{width:112px;color: #fff !important;}
.whz-login-box .mod-body .side-bar{height: 326px;padding:60px 0 60px 60px;border-left: 1px solid #e6e6e6;}
.whz-login-box .mod-body .side-bar h3{margin-bottom:27px;color: #666666;text-align: center;}
.whz-login-box .mod-body .side-bar .btn{position:relative;width: 170px;height: 40px;line-height: 40px;margin:0 0 20px;padding:0 0 0 15px;}
.whz-login-box .mod-body .side-bar .btn i{position:absolute;left:15px;top:10px;font-size: 18px;color: #fff;}
.whz-login-box .mod-body .side-bar .btn-wechat .img{display: none;}
.whz-login-box .mod-body .side-bar .btn-wechat.active{position: relative;height:200px;background-color: #4d4d4d;}
.whz-login-box .mod-body .side-bar .btn-wechat.active .img{display:block;position: absolute;left: 10px;top: 40px;width:148px;height: 148px;}
.whz-login-box .mod-body .side-bar .btn-wechat.active img{max-width: 148px;}
.whz-login-box .mod-body .side-bar .btn-wechat.active #whz-loading-mini-box{margin-top: 55px;}
.whz-login-box .mod-body .form-control{height: 40px;line-height: 28px\0;padding-left:15px !important;box-shadow: none;border-color: #e6e6e6;}
.whz-login-box .mod-footer{height: 70px;line-height:70px;background-color: #f5f5f5; border-radius:0 0 5px 5px;padding:0 60px;color: #66b7ff;}
.whz-login-box .mod-footer span{color: #666666;}
.whz-login-box .mod-footer a{color: #66b7ff;}
.whz-footer-wrap{color: #999999;}
.whz-footer-wrap a{color: #66b7ff;}
@media (max-width:640px){
	#wrapper{padding: 20px;}
	.whz-login-wrap{width: auto;}
	.whz-login-box .whz-mod-head, .whz-login-box .whz-mod-body, .whz-login-box .whz-mod-footer{width: auto;}
	.whz-login-box .whz-mod-body{padding: 20px;}
	.whz-login-box .whz-mod-body #whz-login-user-name, .whz-mod-body #whz-login-user-password{width: 195px;}
	.whz-login-box .whz-mod-footer{padding:0 10px !important;}
}