#wrapper{position: relative;padding-top:50px;margin:0}
.btn-blue{height:40px;line-height:40px;padding:0;border:none;background-color: #66b7ff;color: #fff !important;}
.btn-blue:hover{background-color: #4DAAFF;}
.btn-blue:active{background-color: #339DFF;}
.whz-register-box{width: 850px;height: auto;margin:20px auto 30px;padding:20px 0;background:#fff;border-radius:5px;text-align: center;}
.whz-register-box h1{margin:45px 0 0;font-size: 20px;color: #666666;}
.whz-register-box .mod-body{width: 500px;margin:0 auto;padding: 40px;}
.whz-register-box ul li{position:relative;line-height:30px;margin-bottom: 20px; overflow: hidden;}
.whz-register-box ul li input[type="text"], .whz-register-box ul li input[type="password"]{float:left;width:300px;height: 40px;line-height: 28px\0;padding-left:15px !important;box-shadow: none;border-color: #e6e6e6;}
.whz-register-box ul li label { width:120px;text-align: right;padding-right:10px;}
.whz-register-box ul li.last{text-align: left;color:#666;}
.whz-register-box ul li.last input{vertical-align: -2px\0;}
.whz-register-box ul li.alert-danger i{margin-right: 5px;}
.whz-register-box ul li hr{margin:30px 0;}
.whz-register-box ul .whz-register-verify input{width: 150px !important;}
.whz-register-box ul .whz-register-verify img{cursor: pointer;}
.whz-register-box .more-information ul li{padding:5px 0;text-align: left;}
.whz-register-box .more-information .select_area{max-width: 120px;}

.whz-regiter-agreement{position:relative;width:712px;margin:10px 0 0 -201px;padding: 20px;background:#f5f5f5;}
.whz-register-agreement-txt{max-height: 200px;overflow-x:hidden;overflow-y:auto;}
.whz-register-box li span{position:absolute;top:0;right:-145px;width: 130px;padding:5px;font-size:12px;border-radius: 5px;overflow: hidden;text-align: left;}
.whz-reg-tips{line-height:15px;background: #EEF7FD;border: 1px solid #CFDDE6;color:#999;}
.whz-reg-err{line-height: 28px;background: #FFEAEA;border:1px solid #E5C3C4;color:#CC0000;}
.whz-reg-right{background: none;border: none;}
.whz-register-open-box{padding-top:30px;}
.whz-register-open-box p{width: 240px;text-align: left;margin: 0 auto 10px;}
.whz-register-open-box ul{padding-top:0px;}
.whz-register-open-tabs i{margin-left:5px;}
.whz-register-open-tabs.active .i-triangle-down{background-position: -210px -110px;}
.whz-find-pwd{padding-bottom: 0;}
.whz-find-pwd .mod-body{margin: 30px auto 100px;}
.whz-find-pwd .mod-footer{height: 70px;line-height: 70px;background-color: #f5f5f5;border-radius: 0 0 3px 3px;}
.whz-register-box ul li.error p {background: none repeat scroll 0 0 #FFF480;border: 1px solid #EBEBEB;border-radius: 5px 5px 5px 5px;color: #666666;height: 40px;line-height: 40px;padding-left: 12px;text-align: left;}
.whz-register-box ul li.error p .i-no{margin-right: 10px;position: relative;top:4px;}
@media (max-width:640px){
	.whz-register-box .mod-body{width:100%;padding:10px;}
	.whz-register-box, .whz-register-box ul li{width: auto;}
}
@media (max-width:321px){
	.whz-register-box{width: 270px !important;}
	.whz-regiter-agreement{width: 240px;margin:10px 0 0;}
}
a { color:#4DAAFF}
