<div class="form-group">
    <label class="col-xs-12 col-sm-3 col-md-2 control-label">地址</label>
    <div class="col-sm-9 col-xs-12">
        <div class="input-group">
            <input type="text" class="form-control" id="spider_url" value="" placeholder="1688url/" autocomplete="off">
            <span class="input-group-btn"><button class="btn btn-default" id="spider_news" type="button" >抓取</button></span>
        </div>
    </div>
</div>

<div class="form-group">
    <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style='color:red'>*</span>分类</label>
    <div class="col-sm-8 col-xs-12">
        {php echo tpl_form_field_category_2level('category', $parent, $children, $item['pcate'], $item['ccate'])}
    </div>
</div>
<div class="form-group">
    <label class="col-xs-12 col-sm-3 col-md-2 control-label">是否参与分销</label>
    <div class="col-sm-9 col-xs-12">
        <label  class="radio-inline"><input type="radio" name="fenxiao" value="1"  {if $item['fenxiao'] == 1}checked="true"{/if} /> 是</label>
        &nbsp;&nbsp;&nbsp;
        <label class="radio-inline"><input type="radio" name="fenxiao" value="0"   {if $item['fenxiao'] == 0}checked="true"{/if} /> 否</label>
        <span class="help-block"></span>
    </div>
</div>

<div class="form-group">
    <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style='color:red'>*</span>商品名称</label>
    <div class="col-sm-9 col-xs-12">
        <input type="text" name="goodsname" id="goodsname" class="form-control" value="{$item['goodsname']}" />
    </div>
</div>


<div class="form-group">
    <label class="col-xs-12 col-sm-3 col-md-2 control-label">购买提示</label>
    <div class="col-sm-9 col-xs-12">
        <input type="text" name="notice" id="notice" class="form-control" value="{$item['notice']}" />
    </div>
</div>

<style>
    #duli-yongjin .col-xs-2 {
        padding: 0 4px 0 4px;
        width: 10%;
    }
    #duli-yongjin  input{
        margin-top: 8px;
        height: 28px;
    }
    #duli-yongjin  a{
        margin-top: 8px;
        height: 28px;
    }
</style>
<div class="form-group" id="duli-yongjin">
    <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style='color:red'>*</span>独立佣金</label>
    <div class="col-sm-4 col-xs-4">
        <select class="form-control tpl-category-parent we7-select" id="duliyongjin" name="duliyongjin">
            <option value="0" <?php if($item['duliyongjin']==0){echo 'selected';}?> >关闭</option>
            <option value="1" <?php if($item['duliyongjin']==1){echo 'selected';}?>>定额(所有档位最少1元)</option>
            <option value="2" <?php if($item['duliyongjin']==2){echo 'selected';}?>>百分比</option>
        </select>
    </div>
    <div id="yongji-detail" style="display: none">
        <div class="col-xs-12">
            <label class="col-xs-12 col-sm-3 col-md-2 control-label">一级佣金</label>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <input type="text" name="yongjin1" placeholder="百分比1-100" class="form-control" value="{$item['yongjin1']}">
            </div>
        </div>
        <div class="col-xs-12">
            <label class="col-xs-12 col-sm-3 col-md-2 control-label">二级佣金</label>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <input type="text" name="yongjin2" placeholder="百分比1-100" class="form-control" value="{$item['yongjin2']}">
            </div>
        </div>
        <div class="col-xs-12">
            <label class="col-xs-12 col-sm-3 col-md-2 control-label">三级佣金</label>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <input type="text" name="yongjin3" placeholder="百分比1-100" class="form-control" value="{$item['yongjin3']}">
            </div>
        </div>
    </div>
</div>

<div class="form-group">
    <label class="col-xs-12 col-sm-3 col-md-2 control-label">商品标签</label>
    <div class="col-sm-9 col-xs-12">
        <input type="text" name="label" id="label" class="form-control" value="{$item['label']}" />
    </div>
</div>

<div class="form-group">
    <label class="col-xs-12 col-sm-3 col-md-2 control-label"></label>
    <div class="col-sm-9 col-xs-12">
        <div class="input-group form-group">
            <span class="input-group-addon">实际价格</span>
            <input type="text" name="real_price" id="real_price" placeholder="必须>=购买价格" class="form-control" value="{$item['real_price']}" />
            <span class="input-group-addon">元</span>
        </div>
        <div class="input-group form-group">
            <span class="input-group-addon">购买价格</span>
            <input type="text" name="marketprice" id="marketprice" class="form-control" value="{$item['marketprice']}" />
            <span class="input-group-addon">元</span>
        </div>
        <div class="input-group form-group">
            <span class="input-group-addon">增加积分</span>
            <input type="text" name="jifen" id="jifen" class="form-control"  placeholder="开启分销商等级，该项必填，是升级的依据" value="{$item['jifen']}" />
        </div>
        <div class="input-group form-group">
            <span class="input-group-addon">商品总佣金</span>
            <input placeholder="达到后此商品不再有佣金" type="text" name="zongyongjin" id="zongyongjin" class="form-control" value="{$item['zongyongjin']}" />
            <span class="input-group-addon">元</span>
        </div>
        <div class="form-group" style="display: none;">
            <div class="checkbox">
                <label>
                  <input type="checkbox" name="limitnum" value="1" {if $item['limitnum'] == 1}checked="checked"{/if}>启用分销商等级的佣金人数限制【建议：此商品是分销商等级时可以打开】
                </label>
            </div>
        </div>
    </div>
</div>
<div class="form-group">
    <label class="col-xs-12 col-sm-3 col-md-2 control-label">商品重量</label>
    <div class="col-sm-8 col-xs-12">
        <div class="input-group">
            <input type="text" name="weight" id="weight" class="form-control" value="{$item['weight']}" />
            <span class="input-group-addon">g</span>
        </div>
	</div>
</div>
<style>
    #goods-type .col-xs-2 {
        padding: 0 4px 0 4px;
        width: 10%;
    }
    #goods-type  input{
        margin-top: 8px;
        height: 28px;
    }
    #goods-type  a{
        margin-top: 8px;
        height: 28px;
    }
    </style>
<div class="form-group" id="goods-type">
    <label class="col-xs-12 col-sm-3 col-md-2 control-label">商品属性</label>
    <div class="col-sm-9 col-xs-12">
        <a href="javascript:void(0);" class="btn btn-default btn-sm" id="add-type">增加商品属性</a>
    </div>
    <?php if($goods_type){ foreach($goods_type as $value){ ?>
    <!--s-->
    <div class="col-xs-12">
        <label class="col-xs-12 col-sm-3 col-md-2 control-label"></label>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <input type="hidden" name="type_id[]" value="{$value['id']}">
            <input type="text" name="type_title[]" placeholder="属性" class="form-control" value="{$value['title']}">
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <input type="text" name="type_marketprice[]" placeholder="价格" class="form-control" value="{$value['marketprice']}">
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <input type="text" name="type_amount_total[]" placeholder="库存" class="form-control" value="{$value['amount_total']}">
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <input type="text" name="type_jifen[]" placeholder="积分" class="form-control" value="{$value['jifen']}">
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <input type="text" name="type_display_order[]" placeholder="排序" class="form-control" value="{$value['display_order']}">
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
            <a href="javascript:void(0);" class="btn btn-default btn-sm type-del">删除</a>
        </div>
    </div>
    <!--e-->
    <?php }} ?>
</div>

<div class="form-group">
    <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style='color:red'>*</span>列表页图（个人海报图）150*150</label>
    <div class="col-sm-9 col-xs-12" id="thumb-image">
        {php echo form_field_image('thumb', $item['thumb'], '', array('extras' => array('text' => 'readonly')))}
    </div>
</div>


<div class="form-group">
    <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style='color:red'>*</span>商品详情页顶部轮播图</label>
    <div class="col-sm-9 col-xs-12">
        {php echo form_field_multi_image('image', $item['image'], '', array('extras' => array('text' => 'readonly')))}
    </div>
</div>
<div class="form-group">
    <label class="col-xs-12 col-sm-3 col-md-2 control-label">库存</label>
    <div class="col-sm-9 col-xs-12">
        <input type="text" name="total" class="form-control" value="{$item['total']}" />
    </div>
</div>


<div class="form-group">
    <label class="col-xs-12 col-sm-3 col-md-2 control-label">评论</label>
    <div class="col-sm-9 col-xs-12">
        <input type="text" name="comment" class="form-control" value="{$item['comment']}" />
    </div>
</div>
<div class="form-group">
    <label class="col-xs-12 col-sm-3 col-md-2 control-label">月销量</label>
    <div class="col-sm-9 col-xs-12">
        <input type="text" name="sell_total" class="form-control" value="{$item['sell_total']}" />
    </div>
</div>

<div class="form-group">
    <label class="col-xs-12 col-sm-3 col-md-2 control-label">排序</label>
    <div class="col-sm-9 col-xs-12">
        <input type="text" name="displayorder" class="form-control" value="{$item['displayorder']}" />
    </div>
</div>
<div class="form-group" style="display: none">
    <label class="col-xs-12 col-sm-3 col-md-2 control-label">购买权限</label>
    <div class="col-sm-9 col-xs-12">
        <label class="checkbox-inline">
          <input type="checkbox"  value="0" name="goumaiyaoqiu[]" {if in_array(0,$item['goumaiyaoqiu'])}checked{/if}> 全部会员
        </label>
        {loop $member_levels $member_level}
        <label class="checkbox-inline">
           <input type="checkbox"  value="{$member_level['level']}" name="goumaiyaoqiu[]" {if in_array($member_level['level'],$item['goumaiyaoqiu'])}checked{/if}>{$member_level['levelname']}
        </label>
        {/loop}
    </div>
</div>
<div class="form-group">
    <label class="col-xs-12 col-sm-3 col-md-2 control-label">是否上架</label>
    <div class="col-sm-9 col-xs-12">
        <label for="isshow1" class="radio-inline"><input type="radio" name="status" value="1" id="isshow1" {if $item['status'] == 1}checked="true"{/if} /> 是</label>
        &nbsp;&nbsp;&nbsp;
        <label for="isshow2" class="radio-inline"><input type="radio" name="status" value="0" id="isshow2"  {if $item['status'] == 0}checked="true"{/if} /> 否</label>
        <span class="help-block"></span>
    </div>
</div>
<div class="form-group">
    <label class="col-xs-12 col-sm-3 col-md-2 control-label">首页推荐</label>
    <div class="col-sm-9 col-xs-12">
        <label for="isrecommand" class="checkbox-inline">
            <input type="checkbox" name="isrecommand" value="1" id="isrecommand" {if $item[ 'isrecommand']==1 }checked="true" {/if} /> 是否首页推荐
        </label>
    </div>
</div>
<div class="form-group">
    <label class="col-xs-12 col-sm-3 col-md-2 control-label">推送到抢购区</label>
    <div class="col-sm-4 col-xs-4">
        <select class="form-control tpl-category-parent we7-select" id="gou" name="gou">
            <option value="0" <?php if($item['gou']==0){echo 'selected';}?> >否</option>
            <option value="1" <?php if($item['gou']==1){echo 'selected';}?>>是</option>
        </select>
    </div>
</div>

<div class="form-group" id="gou-detail" style="display: none;">
    <label class="col-xs-12 col-sm-3 col-md-2 control-label">抢购开始~结束时间</label>
    <div class="col-sm-9 col-xs-12 col-lg-4">
        <input placeholder="整数" type="text" id="start" class="form-control span7 time_pick" name="start" value="{php echo date('Y-m-d H:i:s',$item['start']);}">
        <input placeholder="整数" type="text" id="end" class="form-control span7 time_pick" name="end" value="{php echo date('Y-m-d H:i:s',$item['end']);}">

        <input type="text" placeholder="抢购折扣（1-10之间）" name="zhekou" class="form-control span7" value="{$item['zhekou']}" />
    </div>

</div>

