{template 'common/header'}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title></title>
	<link rel="stylesheet" type="text/css" href="/addons/hyb_yl/template/style/css/common.css"/>
	<link rel="stylesheet" type="text/css" href="/addons/hyb_yl/template/style/css/index2.css"/>
	<link rel="stylesheet" type="text/css" href="/addons/hyb_yl/template/style/css/index1.css"/>
	<body>
		<ul class="nav nav-tabs">
		  <li>
		     <a href="{php echo $this->createWebUrl('hzbingc');}">所有用户</a>
		  </li>
		  <li {if $type=='ok'} class="active" {/if}>
		     <a href="{php echo $this->createWebUrl('lookstep',array('type'=>ok,'useropenid'=>$useropenid));}">病程管理</a>
		  </li>
		  {if $type =='post'}
		  <li {if $type=='post'} class="active" {/if}>
		     <a href="#">病程列表</a>
		  </li>
		  {/if}
		</ul>

	   {if $type=='ok'}
			{loop $allforms  $key $item}
			<div class="logbox">
				<div class="liststeps" style="width: 100%;">
					<ul class="list-unstyled">
						<li class="left">
							<div class="listtep left">
								第<?php echo $key+1?>步
							</div>
						</li>
						<li class="left">
							<div class="xiangqingbox">
								<div class="xiangqingimgs">
									<img src="{media $item['icon']}"/>
								</div>
								<div class="xiangqingmes">
									<h4 style="line-height: 2.5rem;">{$item['name']}</h4>
									<p style="font-size: 11px;line-height: 18px;letter-spacing:2px;">{$item['ksdesc']}</p>
								</div>
								
									<a class="btn btn-success btn-sm" href="{php echo $this->createWebUrl('lookstep',array('useropenid'=>$useropenid,'id'=>$item['id'],'type'=>'post'));}">查看</a>
								
							</div>
						</li>
					</ul>
				</div>
			</div>
			{/loop}
	   {/if}

       {if $type=='post'}

		<div class="container-fluid logbox">
			<ul id="myTab" class="nav nav-tabs" style="border-bottom: none;">
			{loop $res $key $item}
				<li {if $key==0} class="active" {/if}>
					<a href="{php echo $this->createWebUrl('lookstep',array('ejid'=>$item['id'],'useropenid'=>$useropenid,'id'=>$id,'type'=>'post'));}" >
						{$item['name']}
					</a>
				</li>
			{/loop}
			</ul>
			<div id="myTabContent" class="tab-content">
			{loop $resinfo1 $item}
			    
					<div class="tab-pane active" id="szgh" style="display: flex;flex-wrap: wrap;align-items: center;border-top: 1px solid #ddd; */">
						<div class="listbox" style="width: 80%;">
							<div class="listimg left">
								<img src="{$item['u_thumb']}"/>
							</div>
							<div class="listsxq right">
								<ul class="xqbox list-unstyled">
									<li class="usernames">{$item['info']['0']['description']}</li>
									<li class="usermes">
										<span class="left">{$item['xctime']} 添加了一条数据</span>
									</li>
								</ul>
							</div>
						</div>
							<a class="btn btn-success btn-sm" href="{php echo $this->createWebUrl('infosetp',array('useropenid'=>$useropenid,'jd_id'=>$item['jd_id']));}">查看</a>
							<a class="btn btn-danger btn-info btn-sm" href="{php echo $this->createWebUrl('lookstep',array('useropenid'=>$useropenid,'jd_id'=>$item['jd_id'],'type'=>'delete','id' =>$id));}" style="margin-left: 3%;">删除</a>
						
					</div>

				{/loop}
               {if !$resinfo1}<p style="text-align: center;">~暂无数据~</p>{/if}
			</div>
		</div>

       {/if}

		<script src="/addons/hyb_yl/template/style/js/bootlint.js"></script>
	</body>
{template 'common/footer'}
