<?php if($advs){?>
<div id="hot_news" style="height: 45px;line-height: 45px;overflow: hidden;">
    <ul class="mod_blockTips bg_red swiper-wrapper" style="padding:0;white-space: nowrap;line-height: 45px;height: 40px; ">
        <?php foreach($advs as $key => $value){?>
            <li class="swiper-slide" style="background-color: #fdf0f0;">
                <a href="{$value['link']}" style="height: 45px;line-height: 45px;color: red;">&nbsp;&nbsp;&nbsp;{$value['advname']}</a>
            </li>
        <?php } ?>
    </ul>
</div>
<?php } ?>