*{margin: 0;padding: 0;font-family: "microsoft yahei";}
i{font-style: normal;}
body,html{height: 100%;overflow: hidden;background:url(../img/backa.jpg)no-repeat;background-size:100%;}
.pagebox{width: 100%;margin: 50% 0 0 0;text-align: -webkit-center;}
.imgbox p,.ctright-box p:first-child{font-size: 15.5px;}
.head{margin-bottom: 26px;}
.head span{color: #fff;font-size: 17.6px;letter-spacing:2px;}
.cententbox{width: 80%;height: 130px;background-color:rgba(0,0,0,0.7);border-radius: 8px;overflow: hidden;display: block;}
.ctleft{width:50%;float: left;height: 100%;}
.ctright{width:50%;float: right;height: 100%;}
.ctleft img{width: 52px;height: 52px;}
.imgbox{margin: 24px 0;}
.imgbox p{color: #fcfefd;margin-top: 4px;}
.ctright p{color: #fcfefd;}
.pbox{margin-top: 8px;font-size: 14px;z-index: 20;}
.ctright-box p:first-child{font-weight: bold;}
.ctright-box{margin: 39.5px 0;}
.botbox{margin-top: 16px;}
.botbox a{color: #a3a2a7;font-size: 17px;}
.botbox a i{color: #fff;margin: 0 6px;font-size: 17.3px;}
.botbox a img{width: 15px;height: 15px;padding-left: 4px;top: 1px;}

