<div class="form-group">
	<label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">购买积分</label>
	<div class="col-md-6">
		<div class="input-group">
			<input type="text" name="goods[credits]" class="form-control" value="{$goods['credits']}" />
			<span class="input-group-addon">积分</span>
		</div>
		<span class="help-block">会员购买单个商品所获得的积分,如果不填或者填0，则默认为不奖励积分。</span>
	</div>
</div>
<div class="form-group">
	<label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">团长是否优惠</label>
	<div class="col-md-6">
		<label class="radio radio-inline">
			<input type="radio" name="goods[is_discount]" value="1" {if intval($goods['is_discount']) ==1 || empty($goods['is_discount'])}checked="checked"{/if} onclick="$('.pic').show();"> 是
		</label>
		<label class="radio radio-inline">
			<input type="radio" name="goods[is_discount]" value="2" {if intval($goods['is_discount']) ==2}checked="checked"{/if}  onclick="$('.pic').hide();"> 否
		</label>
	</div>
</div>
<div class="form-group pic" {if $goods['is_discount']!=1}style="display: none;"{/if}>
	<label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">团长优惠多少元</label>
	<div class="col-md-6">
		<div class="input-group">
			<input type="text" name="goods[firstdiscount]" class="form-control" value="{$goods['firstdiscount']}" />
			<span class="input-group-addon">元</span>
		</div>
		<span class="help-block">例子：原价100元，此处填5元，团长只需支付95元。</span>
	</div>
</div>