{template 'common/header'}
<script src="{VOTE_RES}static/js/jquery-confirm.min.js"></script>
<link rel="stylesheet" href="{VOTE_RES}static/css/jquery-confirm.min.css">
<div class='fui-page  fui-page-current'>
    <div class="fui-content">
        <table class="table we7-table table-hover vertical-middle">
            <tr>
                <th width="20%">手机端入口二维码</th>
                <th width="80%">手机端入口链接</th>
            </tr>
            <tr>
                <td data-url="" data-size="100" class="js-url-qrcode">
                    <div class="qrcode-block"><img src="{$qrurl}"></div>
                </td>
                <td>
                    {$url}<a href="javascript:;" data-url="{$url}" style="margin-left:50px;" class="btn btn-primary js-clip">复制链接</a>
                </td>
            </tr>
            <tr>
                <td>分享标题</td>
                <td><input type="text" name="share_title" class="form-control" value="{$_W['vote_res']['share_title']}"></td>
            </tr>
            <tr>
                <td>分享描述</td>
                <td><input type="text" name="share_desc" class="form-control" value="{$_W['vote_res']['share_desc']}"></td>
            </tr>
            <tr>
                <td>分享链接</td>
                <td><input type="text" name="share_link" class="form-control" value="{$_W['vote_res']['share_link']}"></td>
            </tr>
            <tr>
                <td>分享图片</td>
                <td>{php echo tpl_form_field_image('share_imgurl',$_W['vote_res']['share_imgurl']);}</td>
            </tr>
            <tr>
                <td>手机端标题</td>
                <td><input type="text" name="vote_res_title" class="form-control" value="{$_W['vote_res']['vote_res_title']}"></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" class="btn btn-primary submit" name="submit" value="提交"/></td>
            </tr>
        </table> 
    </div>
</div>
<script>
    $(function () {
        $('.submit').click(function () {
            var data = {};
            data.share_title = $(":input[name='share_title']").val();
            data.share_desc = $(":input[name='share_desc']").val();
            data.share_link = $(":input[name='share_link']").val();
            data.share_imgurl = $(":input[name='share_imgurl']").val();
            data.vote_res_title = $(":input[name='vote_res_title']").val();
            $.post("{php echo $this->createWebUrl('index')}", {data: data}, function (data) {
                if (data.status > 0) {
                    $.alert({
                        title: '成功!',
                        content: data.result.message,
                        buttons: {
                            ok: function(){
                                window.location.href = data.result.url;
                            }
                        }
                    });
                } else {
                    $.alert({
                        title: '错误!',
                        content: data.result.message,
                    });
                }
            }, "json");
        });
    });
</script>
{template 'common/footer'}
