
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>个人中心</title>
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <meta content="telephone=no" name="format-detection"/>
    <link href="{MODULE_URL}/static/css/style.css" rel="stylesheet" type="text/css"/>
    <script src="{MODULE_URL}/static/js/jquery.min.js"></script>
    <script src="{MODULE_URL}/static/js/layer_mobile/layer.js"></script>
    <script src="//res.wx.qq.com/open/js/jweixin-1.4.0.js"></script>
    <script type="text/javascript">
        if(navigator.appName == 'Microsoft Internet Explorer'){
            if(navigator.userAgent.indexOf("MSIE 5.0")>0 || navigator.userAgent.indexOf("MSIE 6.0")>0 || navigator.userAgent.indexOf("MSIE 7.0")>0) {
                alert('您使用的 IE 浏览器版本过低, 推荐使用 Chrome 浏览器或 IE8 及以上版本浏览器.');
            }
        }
        window.sysinfo = {
        {if !empty($_W['uniacid'])}'uniacid': '{$_W['uniacid']}',{/if}
        {if !empty($_W['acid'])}'acid': '{$_W['acid']}',{/if}{if !empty($_W['openid'])}'openid': '{$_W['openid']}',{/if}
        {if !empty($_W['uid'])}'uid': '{$_W['uid']}',{/if}
        'siteroot': '{$_W['siteroot']}',
            'siteurl': '{$_W['siteurl']}',
            'attachurl': '{$_W['attachurl']}',
            'attachurl_local': '{$_W['attachurl_local']}',
            'attachurl_remote': '{$_W['attachurl_remote']}',
            {if defined('MODULE_URL')}'MODULE_URL': '{MODULE_URL}',{/if}
        'cookie' : {'pre': '{$_W['config']['cookie']['pre']}'}
        };
        // jssdk config 对象
        jssdkconfig = {php echo json_encode($_W['account']['jssdkconfig']);} || {};
        // 是否启用调试
        jssdkconfig.debug = false;
        jssdkconfig.jsApiList = [
            'checkJsApi',
            'onMenuShareTimeline',
            'onMenuShareAppMessage',
            'onMenuShareQQ',
            'onMenuShareWeibo',
            'hideMenuItems',
            'showMenuItems',
            'hideAllNonBaseMenuItem',
            'showAllNonBaseMenuItem',
            'translateVoice',
            'startRecord',
            'stopRecord',
            'onRecordEnd',
            'playVoice',
            'pauseVoice',
            'stopVoice',
            'uploadVoice',
            'downloadVoice',
            'chooseImage',
            'previewImage',
            'uploadImage',
            'downloadImage',
            'getNetworkType',
            'openLocation',
            'getLocation',
            'hideOptionMenu',
            'showOptionMenu',
            'closeWindow',
            'scanQRCode',
            'chooseWXPay',
            'openProductSpecificView',
            'addCard',
            'chooseCard',
            'openCard',
            'openAddress'
        ];
    </script>
    <style>
        w7-window-side
    </style>
    <script type="text/javascript">
        $(function(){
            wx.config(jssdkconfig);
            wx.ready(function () {
                var shareData = {

                    title: '{php echo $web_setting['fenxiang_title']}',

                    desc: '{php echo $web_setting['fenxiang_dec']}',

                    dataUrl: '',

                    type: 'link',

                    imgUrl: '{php echo $_W[attachurl];}{php echo $web_setting['fenxiang_img']}',

                    link: '{$_W['siteroot']}app/{php echo $this->createMobileUrl('index')}'

                };
                wx.onMenuShareAppMessage(shareData);

                wx.onMenuShareTimeline(shareData);

            });
        });
    </script>
</head>
<body>
<div class="user-flexView">
    <div class="user-scrollView">
        <div class="user-renting-box">
            <div class="user-flex">
                <div class="user-ren-user">
                    <img src="{$_W[fans][headimgurl]}" alt="">
                </div>
                <div class="user-flex-box">
                    <h2>{$_W[fans][nickname]}</h2>
                    <span>{$time}</span>
                </div>
            </div>
            <div class="user-ren-palace">
                <a href="{php echo $this->createMobileUrl('orderlist')}" class="user-ren-palace-item">
                    <div class="user-ren-palace-icon">
                        <img src="{MODULE_URL}static/img/che2.png" alt="">
                    </div>
                    <div class="user-ren-palace-text">我的订单</div>
                </a>
                <a href="{php echo $this->createMobileUrl('myqrcodelist')}" class="user-ren-palace-item">
                    <div class="user-ren-palace-icon">
                        <img src="{MODULE_URL}static/img/che.png" alt="">
                    </div>
                    <div class="user-ren-palace-text">我的挪车码</div>
                </a>
            </div>
            <div class="user-ren-contact">
                <div class="user-flex">
                    <div class="user-flex-con">
                        <img src="{MODULE_URL}static/img/user_weixin.png" alt="">
                    </div>
                    <div class="user-flex-box">
                        <h4>微信通知挪车</h4>
                    </div>
                    <div class="user-ren-button">
                        <input type="checkbox" class="user-switch user-switch-success"  {if $fans_info['subscribe']=='1'}
                        {if $user_setting['wx_set']=='1'}
                            checked onclick="nophone_click('wx_set','0')"
                        {else}
                            onclick="nophone_click('wx_set','1')"
                        {/if}
                        {else}
                            id="nosubscribe"
                        {/if}>
                        </a>
                    </div>
                </div>
                <div class="user-flex">
                    <div class="user-flex-con">
                        <img src="{MODULE_URL}static/img/user_phone.png" alt="">
                    </div>
                    <div class="user-flex-box">
                        <h4>电话通知挪车</h4>
                    </div>
                    <div class="user-ren-button">
                        <input type="checkbox" class="user-switch user-switch-success"  {if $user_setting['phone_set']=='1'}
                        checked onclick="nophone_click('phone_set','0')"
                        {else}onclick="nophone_click('phone_set','1')"
                        {/if}>
                        </a>
                    </div>
                </div>
<!--                <a href="{php echo $this->createMobileUrl('car_location')}" class="aui-list-cell">-->
<!--                    <div class="user-flex">-->
<!--                        <div class="user-flex-con">-->
<!--                            <img src="{MODULE_URL}static/img/che2.png" >-->
<!--                        </div>-->
<!--                        <div class="user-flex-box">-->
<!--                            <h4>挪车记录</h4>-->
<!--                        </div>-->
<!--                        <div class="user-ren-arrow" >-->

<!--                        </div>-->
<!--                    </div>-->
<!--                </a>-->
                <a href="{php echo $this->createMobileUrl('usercard')}" class="aui-list-cell">
                    <div class="user-flex">
                        <div class="user-flex-con">
                            <img src="{MODULE_URL}static/img/quan.png" >
                        </div>
                        <div class="user-flex-box">
                            <h4>我的优惠券</h4>
                        </div>
                        <div class="user-ren-arrow" >

                        </div>
                    </div>
                </a>
                {if $web_setting['yinsi_type']=='0'}
                <a href="{php echo $this->createMobileUrl('yinsi_info')}" class="aui-list-cell">
                    <div class="user-flex">
                        <div class="user-flex-con">
                            <img src="{MODULE_URL}static/img/yinsi.png" >
                        </div>
                        <div class="user-flex-box">
                            <h4>隐私通话</h4>
                        </div>
                        <div class="user-ren-arrow" >
                            <span style="padding:5px;background: #4077ec;color: #fff;border-radius: 5px"> {$user_setting['remain_time']} 分钟</span>
                        </div>
                    </div>
                </a>
                {/if}
                {if $u_set['fw_set']=='1'}
                <a href="{php echo $this->createMobileUrl('myteam')}" class="aui-list-cell">
                <div class="user-flex">
                    <div class="user-flex-con">
                        <img src="{MODULE_URL}static/img/user_daili.png" >
                    </div>
                    <div class="user-flex-box">
                        <h4>代理中心</h4>
                    </div>
                    <div class="user-ren-arrow">
                    </div>
                </div>
                </a>
                <a href="{php echo $this->createMobileUrl('u_setting')}" class="aui-list-cell">
                <div class="user-flex">
                    <div class="user-flex-con">
                        <img src="{MODULE_URL}/static/img/user_setting.png" >
                    </div>
                    <div class="user-flex-box">
                        <h4>账号设置</h4>
                    </div>
                    <div class="user-ren-arrow">
                    </div>
                </div>
                </a>
                {/if}
            </div>
        </div>
    </div>
</div>
{template 'footer'}
<script class="demo-script">

    $('#nosubscribe').click(function () {
        layer.open({
            content: '你需要关注公众号后才可以开启微信通知'
            ,skin: 'msg'
            ,time: 1 //2秒后自动关闭
            ,shadeClose: false
            ,end:function () {
                layer.open({
                    content: '<img width="100%" src="{php echo $this->createMobileUrl('qr',['url'=>$content['url']])}"/><font color="red">你需要关注公众号后才可以开启微信通知<br>长按二维码关注公众号</font>'                    ,anim:'up'
                    ,skin: 'centen',
                    shadeClose: false
                })
            }
        });
        $('#nosubscribe').prop("checked",false);
    });
    function nophone_click (action,value) {
        $.get("{php echo $this->createMobileUrl('user_setting')}",{'action':action,'value':value},function (data) {
            if(data.errno=='1'){
                layer.open({
                    content: '操作成功'
                    ,skin: 'msg'
                    ,time: 1 //2秒后自动关闭
                    ,end:function () {
                        window.location.reload();
                    }
                });
            }else if(data.errno=='0'){
                layer.open({
                    content: data.msg
                    ,skin: 'msg'
                    ,time: 1 //2秒后自动关闭
                    ,end:function () {
                        window.location.reload();
                    }
                });
            }
        },'json')
    }
</script>
</body>
</html>
