/*全局可调用基础样式*/
.fq-nowrap{
	white-space: nowrap;
}

/*双击复制*/
div{
	cursor: pointer;
}


.fq-text-white{
	color: #FFF;
}

.fq-text-grey{
	color: #8f8f8f;
}

.fq-background-white{
	background-color: #FFF;
}

.fq-background-grey{
	background-color: #8F8F8F;
}

.fq-top-xs{
	top: 5px;
	position: relative;
}

.fq-top-sm{
	top: 10px;
	position: relative;
}

.amz-toolbar{
	right: 396.5px;
	bottom: 50px;
	position: fixed;    
	right: 10px;  
	z-index: 999;
}

.amz-toolbar .follow{
	display: block;    
    opacity: 0.9;    
    background-color: #dd514c;    
    color: #fff;    
    margin-top: 10px;    
	-webkit-transition: all .3s ease-in;    
    transition: all .3s ease-in;
    width: 40px;    
    height: 40px;
    font-size: 18px;
    line-height: 40px;
	font-size: 25px;
	
}

/*ios输入框兼容*/
.am-form input[type=number]:focus, .am-form input[type=search]:focus, .am-form input[type=text]:focus, .am-form input[type=password]:focus, .am-form input[type=datetime]:focus, .am-form input[type=datetime-local]:focus, .am-form input[type=date]:focus, .am-form input[type=month]:focus, .am-form input[type=time]:focus, .am-form input[type=week]:focus, .am-form input[type=email]:focus, .am-form input[type=url]:focus, .am-form input[type=tel]:focus, .am-form input[type=color]:focus, .am-form select:focus, .am-form textarea:focus, .am-form-field:focus {
	-webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, .075)  inset, 0 0 0px rgba(0, 0, 0, .3);
	box-shadow: 0 0px 0px rgba(0, 0, 0, .075) inset, 0 0 0px rgba(0, 0, 0, .3);

}