body,html{
    margin: 0;
    padding: 0;
    background: #f6f6f6;
}
a{ text-decoration:none}
.body{
    width: 100%;
}
.img img{
    width: 100%;
}
.c{
    position: relative;
    top: -2.5rem;
}
.info{
    padding: 5% 5% 0 5%;
    width: 87%;
    margin: 0 auto;
    background: #fff;
    border-radius: .5rem .5rem 0 0;
    box-shadow: 0 0 9px #D9D9D9
}
.name h4{
    margin: .5rem;
}
.time div{
    margin: .5rem 0;
    display: inline-block;
}
.tel div{
    margin: .5rem 0;
    display: inline-block;
}
.text-right{
    float: right;
}
.name{
    text-align: center;
}
.footer{
    position: fixed;
    bottom: 0;
    width: 100%;

    background-color: #fff;

}
button{
    background-color: #4077ec;
    border: none;
    color: white;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    width: 100%;

}
.zhuyin{
    padding: 5%;
    width: 87%;
    margin: 0 auto;
    background: #fff;
    border-radius: 0 0 .5rem .5rem;
    text-align: center;
    box-shadow: 0 3px 5px #D9D9D9
}
.zhuyin p{
    margin: 0;
    background: #4077ec;
    color: #fff;
    border-radius: 100%;
    text-align: center;
}
p{
    margin: 0;
}
.zhuyin i{
    font-size: 2rem;
}
.zhuyin span{
    margin-top: .5rem;
    text-align: center;
    display: block;
}.zhuyin div{
     width: 15%;
     height: 0;
     display: inline-block;
 }
.title{
    display: inline-block;
    background-image: -webkit-gradient(linear,left top,right top,from(#f63f5d),to(#ec2546));
    background-image: -webkit-linear-gradient(left,#f63f5d,#ec2546);
    background-image: -moz-linear-gradient(left,#f63f5d,#ec2546);
    background-image: linear-gradient(to right,#f63f5d,#ec2546);
    background-color: #ec2546;
    height: 100%;
    width: 30%;
    border-radius: 9px 0 0 9px;

}
.title p{
    display: flex;
    height: 100%;
    color: #fff;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-right: 10px;
}
.lingqu{
    display: inline-flex;
    line-height: 20px;
    padding-left: 15px;
    width: 60%;

    overflow: auto;

}
.quan1{
    margin: 20px;
    height: 70px;
    line-height: 0;
    border: 1px #ec2546 solid;
    border-radius: 10px;
}
h4{
    padding: 0;
    margin: 0;
}
.button1{
    padding: 3px;
    background-image: -webkit-gradient(linear,left top,right top,from(#f63f5d),to(#ec2546));
    background-image: -webkit-linear-gradient(left,#f63f5d,#ec2546);
    background-image: -moz-linear-gradient(left,#f63f5d,#ec2546);
    background-image: linear-gradient(to right,#f63f5d,#ec2546);
    border-radius: 3px;
    color: #fff;
    position: absolute;
    right: 10%;
}