{php include wl_template('common/header');}
<div class="page-group">
	<div class="page page-current" id="page-usercenter">
		<header class="bar bar-nav">
			<a class="button button-link button-nav pull-left back" href="{php echo app_url('user/user')}"><span class="icon icon-left"></span>返回</a>
			<h1 class="title">用户设置</h1>
		</header>
		<!--页面返回上一步-->
		<div class="content native-scroll">
		    <div class="list-block">
		      <ul>
		        <li class="item-content">
		          <div class="item-inner">
		            <div class="item-title">防骚扰设置</div>
		            <div class="item-after">
		            	<div class="item-input">
		                	<label class="label-switch">
			                  <input type="checkbox" {if $_W['wlmember']['harrystatus']==1}checked{/if} id="harrystatus">
			                  <div class="checkbox"></div>
			                </label>
		              	</div>
		            </div>
		          </div>
		        </li>
		        <li class="item-content">
		          <div class="item-inner">
		            <div class="item-title">设置免打扰时段</div>
		            <div class="item-after">
		            	<input type="text" id="time-picker" readonly style="padding-bottom: .65rem;" value="{if $_W['wlmember']['harrytime1']}{$_W['wlmember']['harrytime1']} 点到 {$_W['wlmember']['harrytime2']} 点{else}23 点到 8 点{/if}">
		            </div>
		          </div>
		        </li>
		      </ul>
		    </div>
		    <div class="content-block">
		      <div class="row">
		        <div class="col-100"><a href="javascript:;" class="weui_btn weui_btn_primary" id="saveharry">保存</a></div>
		      </div>
		    </div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$(function() {
		$("#time-picker").picker({
		  	toolbarTemplate: '<header class="bar bar-nav"><button class="button button-link pull-right close-picker">确定</button><h1 class="title">请选择</h1></header>',
			cols: [
			    {
			      textAlign: 'center',
			      values: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24'],
			    },
			    {
			      textAlign: 'center',
			      values: ['点到']
			    },
			    {
			      textAlign: 'center',
			      values: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24']
			    },
			    {
			      textAlign: 'center',
			      values: ['点']
			    },
			]
		});

	    $(document).on('click','#saveharry',function () {
	    	var harrystatus = document.getElementById("harrystatus").checked;
	    	var strin = $('#time-picker').val();
	    	var harry = strin.split(" ");
	    	var harry1 = harry[0];
	    	var harry2 = harry[2];
			$.post("{php echo app_url('user/setting')}",{harrystatus:harrystatus,harry1:harry1,harry2:harry2},function(d){
				if(d.result == 1){
					$.toast("防骚扰修改成功");
				}else if(d.result == 2){
					$.toast("防骚扰修改失败");
				}else{
					$.toast("未知错误");
				}
			},"json");
	   	});
		$.init();
	});
</script>
{php include wl_template('common/footer');}