{template 'web/common/common'}
<link rel="stylesheet" type="text/css" href="https://at.alicdn.com/t/font_889272_ic9cydk2jp.css"/>
<link rel="stylesheet" type="text/css" href="../addons/kundian_farm/resource/index/css/pandect.css"/>
<link rel="stylesheet" type="text/css" href="../addons/kundian_farm/resource/index/css/common.css"/>
<script src="../addons/kundian_farm/resource/index/js/jquery.min.js"></script>
<script src="./resource/js/lib/jquery.nice-select.js"></script>
<style>
    .skin-2__footer{left: 141px;}
    .footer{padding: 15px 0;z-index: 99999;}
    .contentbox{margin-left: 56px;}

</style>
<body>
<div class="box">
    <!--数据统计-->
    <div class="head">
        <!--用户-->
        <div class="head_user">
            <p>{$data['user_total']}</p>
            <p>总用户数</p>
        </div>
        <!--商品数-->
        <div class="head_shop">
            <p>{$data['all_goods']}</p>
            <p>总商品数</p>
        </div>
        <!--交易额-->
        <div class="head_deal">
            <p>
                {if $data['statistics']['total_price']}
                {$data['statistics']['total_price']}
                {else}
                0
                {/if}
            </p>
            <p>今日交易额</p>
        </div>
        <!--待发货-->
        <div class="head_shipped">
            <p>{$data['send_out_goods']}</p>
            <p>待发货</p>
        </div>
    </div>

    <!--数据走势-->
    <div class="data">
        <p>最近7日</p>
        <!--<p><i></i>认养交易额</p>
        <p><i></i>种植交易额</p>
        <p><i></i>商城交易额</p>-->
        <!--数据折线图-->
        <div class="tx">
            <div style="width:64%;" class="wrapper">
                <canvas id="canvas" height='380' width='1160'></canvas>
            </div>
            <!--环形图-->
            <div id="canvas-holder" style="width: 30%;">
                <div class="txt">商城订单</div>
                    <canvas id="chart-area"></canvas>
                    <p><i>总订单</i><span id="totalOrder">0</span></p>
            </div>
        </div>
        <!--<div class="annular_content">
            <p><i></i>已完成</p>
            <p><i></i>待收货</p>
            <p><i></i>待发货</p>
        </div>-->

    </div>

    <!--土地认养统计-->
    <div class="count">
        <!--土地统计-->
        <div class="com land">
            <div>土地统计</div>
            <div class="xq">
                <div><p>{$data['land_count']}</p><i></i>已种植土地</div>
                <div><p>{$data['land_dai_count']}</p><i></i>待种植土地</div>
            </div>
        </div>
        <!--认养统计-->
        <div class="com adopt">
            <div>认养统计</div>
            <div class="xq">
                <div><p>{$data['animal_count']}</p><i></i>已认养</div>
                <div><p>{$data['animal_dai_count']}</p><i></i>待认养</div>
            </div>
        </div>
    </div>

    <!--消息通知-->
    <!--<div class="news">-->
        <!--<div>-->
            <!--<div class="news_order" id="title">-->
                <!--<img src="../addons/kundian_farm/resource/index/image/gfhd.png" style="width: 9%;height: 40%;" alt="" />-->
                <!--<p>您有新的订单消息！</p>-->
                <!--<i class="iconfont icon-shang" id="ico"></i>-->
            <!--</div>-->
            <!--&lt;!&ndash;订单消息&ndash;&gt;-->
            <!--<div class="order_form" id='Demo'>-->
                <!--<div>-->
                    <!--<a href=""><i>10:49</i>有新的土地租赁订单</a>-->
                    <!--<a href=""><i>10:49</i>有新的认养订单</a>-->
                    <!--<a href=""><i>10:49</i>有新的土地租赁订单</a>-->
                    <!--<a href=""><i>10:49</i>有新的认养订单</a>-->
                    <!--<a href=""><i>10:49</i>有新的土地租赁订单</a>-->
                    <!--<a href=""><i>10:49</i>有新的认养订单</a>-->
                    <!--<a href=""><i>10:49</i>有新的土地租赁订单</a>-->
                    <!--<a href=""><i>10:49</i>有新的认养订单</a>-->
                    <!--<a href=""><i>10:49</i>有新的土地租赁订单</a>-->
                    <!--<a href=""><i>10:49</i>有新的认养订单</a>-->
                    <!--<a href=""><i>10:49</i>有新的土地租赁订单</a>-->
                    <!--<a href=""><i>10:49</i>有新的认养订单</a>-->
                    <!--<a href=""><i>10:49</i>有新的土地租赁订单</a>-->
                    <!--<a href=""><i>10:49</i>有新的认养订单</a>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
</div>

</body>
{template 'common/footer'}
<!--折线图-->
<script src="../addons/kundian_farm/resource/index/js/Chart.bundle.js"></script>
<script src="../addons/kundian_farm/resource/index/js/utils.js"></script>
<script src="../addons/kundian_farm/resource/index/js/yuanx.js"></script>
<!--<script src="../addons/kundian_farm/resource/index/js/index.js"></script>-->
<script>
    function getInitData() {
        return new Promise((resolve, reject) => {
            let seven_url="{url 'site/entry/admin',array('m'=>'kundian_farm','op'=>'getSevenDay','action'=>'index')}";
            $.ajax({
                url:seven_url,
                data:{},
                method:"POST",
                dataType:"json",
                success:function (res) {
                    resolve(res)
                }
            })
        })
    }
    
    function getChartData() {
        return new Promise((resolve, reject) => {
            let seven_url="{url 'site/entry/admin',array('m'=>'kundian_farm','op'=>'getChartData','action'=>'index')}";
            $.ajax({
                url:seven_url,
                data:{},
                method:"POST",
                dataType:"json",
                success:function (res) {
                    resolve(res)
                }
            })
        })
    }

    getInitData().then((result) => {
        console.log(result);
        var config = {
            type: 'line',
            data: {
                labels: result['day'],
                datasets: [{
                    label: '认养交易额',
                    backgroundColor: window.chartColor.red,
                    borderColor: window.chartColor.red,
                    data: result['sevenData']['animalTotal'],
                    fill: false,
                }, {
                    label: '种植交易额',
                    fill: false,
                    backgroundColor: window.chartColor.blue,
                    borderColor: window.chartColor.blue,
                    data: result['sevenData']['landTotal'],
                },
                    {
                        label: '商城交易额',
                        fill: false,
                        backgroundColor: window.chartColor.yellow,
                        borderColor: window.chartColor.yellow,
                        data:result['sevenData']['shopTotal']
                    }]
            },
            options: {
                responsive: true,
                title: {
                    display: true,
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            suggestedMin: result.max,
                            suggestedMax: result.min
                        }
                    }]
                }
            }
        };
        // window.onload = function() {
        //     var ctx = document.getElementById('canvas').getContext('2d');
        //     window.myLine = new Chart(ctx, config);
        // };
        var ctx = document.getElementById('canvas').getContext('2d');
        window.myLine = new Chart(ctx, config);

    }).then(() => {

    })


    getChartData().then((result) => {
       $("#totalOrder").html(result['orderTotal']);
        var ctx = document.getElementById("chart-area").getContext('2d');
        var myDoughnut = new Chart(ctx, {
            type: 'doughnut',
            data: {
                datasets: [{
                    data: [result['successOrder'],result['shouOrder'],result['daiOrder']],
                    backgroundColor: [
                        window.chartColors.red,
                        window.chartColors.orange,
                        window.chartColors.yellow,
                    ],
                    label: 'Dataset 1'
                }],
                labels: [
                    '已完成',
                    '待收货',
                    '待发货',
                ]
            },
            options: {
                responsive: true,
                legend: {
                    position: 'right',
                },
                title: {
                    display: true,
                },
                animation: {
                    animateScale: true,
                    animateRotate: true
                }
            }
        });
    }).then(() => {

    })




</script>

<!--消息通知-->
<script type="text/javascript">
    $("#title").on("click",function(){
        if($('#title').hasClass('activea')){
            $(this).removeClass("activea");
            $("#Demo").removeClass("active");
            $("#ico").addClass("icon-shang");
            $("#ico").removeClass("icon-xiangxia1");
        }else{
            $(this).addClass("activea");
            $("#Demo").addClass("active");
            $("#ico").removeClass("icon-shang");
            $("#ico").addClass("icon-xiangxia1");
        }
    })

</script>

<!--消息自定义滚轮-->
<script src="../addons/kundian_farm/resource/index/js/perfect-scrollbar.with-mousewheel.min.js"></script>
<script src="../addons/kundian_farm/resource/index/js/bootstrap.min.js"></script>
<script src="../addons/kundian_farm/resource/index/js/prettify.js"></script>
<script>
    function change_size() {
        var width = parseInt($("#Width").val());
        var height = parseInt($("#Height").val());
        console.log(width)
        if(!width || isNaN(width)) {
            width = 200;
        }
        if(!height || isNaN(height)) {
            height = 225;
        }
        $("#Demo").width(width).height(height);
        // update perfect scrollbar
        $('#Demo').perfectScrollbar('update');
    }
    $(function() {
        $('#Demo').perfectScrollbar();
    });
</script>
<script>
    $(function() {
        prettyPrint();
    });
</script>
</html>
