{template 'gou/header'}
<!--滑动包裹-->
<div id="wrapper" style="margin-bottom: 100px;">

    <!--轮播图-->
    <div id="carousel" class="swiper-container swiper-container-horizontal" style="height: 133px;;display: <?php if(!$slider){echo 'none';}?>">
        <div class="swiper-wrapper" id="slider_inner">
            <?php foreach($slider as $value){?>
            <div class="swiper-slide">
                <a href="<?php echo $value['link'];?>" ><img class="statistic" src="<?php echo formatArrImage($value['thumb']);?>"></a>
                <p><span>{$value['advname']}</span></p>
            </div>
            <?php }?>
        </div>
        <div id="swiper-pagination-bullet" class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets">
        </div>
    </div>
    <!--头条-->
    <?php if($top_news){?>
    <div id="top-news" class="swiper-container swiper-container-horizontal" style="display: block;    position: relative;">
        <div class="swiper-wrapper" style="position: relative;height: .8rem;">
            <?php foreach($top_news as $value){
            $url_q = $value['jump'] ? $value['url'] : $this->createMobileUrl('detail',['category_id' => $value['category_id'],'id'=>$value['article_id']]);
?>
            <a class="statistic swiper-slide" href="{$url_q}"><i class="tags-dot">•</i><span>{$value['title']}</span></a>
            <?php }?>
            </div>

    </div>
    <?php }?>

    <nav class="scroller" id="scroller" style="height: 40px;">
        <ul style="width: 100%;">

            <li id="comment-list" style="width: 49%;padding: 0;text-align: center;" class="scroller-menu cur">评论</li>
            <li id="article-list" style="width: 49%;padding: 0;text-align: center;" class="scroller-menu ">文章</li>
        </ul>
    </nav>
    <!--内容-->
    <div id="main">
    </div>

    <div id="loading" class="wx_loading2" style="display: none;"><i class="wx_loading_icon"></i></div>

</div>

<!--加载更多-->


<!--底部-->
<script type="text/template" id="template">
    <%for(var i in list){%>
    <section class="<%if (list[i].count==1){%>modle_1<%}else if (list[i].count==3 || list[i].count==4){%>modle_2<%}%>">
        <a class="statistic" href="<%=list[i].url%>">
            <div class="item-info">
            <div class="item-title" style="color: #333;"><span><%=list[i].title%></span></div>

            <%if (list[i].count!=3 && list[i].count!=4){%>
            <div class="item-img-bord"></div>
            <%}%>

            <%if (list[i].count==1){%>

            <%}else if (list[i].count==3){%>
            <div class="item-img">
                <div><img class="lazy" data-src="" src="<%=list[i].image_0%>"></div>
                <div><img class="lazy" data-src="" src="<%=list[i].image_1%>"></div>
                <div><img class="lazy" data-src="" src="<%=list[i].image_2%>"></div>
            </div>
            <%}else if (list[i].count==4){%>
            <div class="item-img" style="position: relative;">
                <div style="width:100%;height:4rem;">
                    <img style="max-height: 4.5rem;" class="lazy" data-src="" src="<%=list[i].image_0%>">

                </div>
                <i class="play-icon"></i>
            </div>
            <%}%>

            <div class="item-channel">
                <span class="rn-domainName" style="font-size: .24rem;padding-left: 0;border:0;color:#999;"><%=list[i].author%></span>
                <span class="rn-domainName" style="font-size: .24rem;padding-left: 0;border:0;color:#999;"><%=list[i].time%></span>
                <span style="font-size: .23rem;"><%=list[i].kw%></span><p></p>
            </div>
            </div>
            <%if (list[i].count==1){%>
            <div class="item-img"><img class="lazy" data-src="" src="<%=list[i].image_0%>"></div>
            <%}%>
        </a>
    </section>
    <%}%>
</script>

<script type="text/template" id="comment">
    <%for(var i in list){%>
    <div>
        <div class="quan_feed">
            <div class="quan_feed_header">
                <div class="quan_feed_avatar">
                    <a href="">
                        <img src="<%=list[i].user.avatar%>"> <!----></a>
                </div>
                <div class="quan_feed_name">
                    <a href=""><%=list[i].user.nickname%></a>
                </div>
                <!---->
                <div class="quan_feed_tag type_talent">
                    <span><%=list[i].user.levelname%></span>
                </div>
                <div class="quan_feed_from type_follow"><span>
                    <span class="credit"><span style="width:<%=parseInt(list[i].star)*20%>%"></span></span>
                </span></div>
            </div>
            <div class="quan_feed_con">
                <div>
                    <a href="">
                        <div class="quan_feed_tit"><!---->
                        </div>
                    </a>
                    <span class="quan_feed_desc">
                        <a href="">
                            <span class="showtxt"><%=list[i].user.comment%></span>
                            <span style="display: none;"></span>
                        </a>
                    </span>
                    <ul class="quan_feed_imgs">
                        <% if(list[i].images_count==1){%>
                        <div class="quan_feed_banner">
                            <a href="">
                            <img  src="{$_W['attachurl']}<%=list[i].images[0]%>">
                            </a>
                        </div>
                        <%}else if(list[i].images_count>1){%>
                        <%for(var j in list[i].images){%>
                        <li class="quan_feed_imgs_item">
                            <a href="">
                            <img src="{$_W['attachurl']}<%=list[i].images[j]%>"> <!---->
                        </a>
                        </li>
                        <% } } %>
                    </ul>
                    <div class="quan_feed_goods">
                        <a href="">
                            <div class="quan_feed_goods_cover">
                                <img src="{$_W['attachurl']}<%=list[i].info.thumb%>"></div>
                            <div class="quan_feed_goods_info">
                                <div class="quan_feed_goods_tit">
                                    <span class="quan_feed_goods_name"><%=list[i].info.title%></span>
                                    <span class="quan_feed_goods_price">¥ <%=list[i].info.price%></span>
                                </div>
                                <!--<div class="quan_feed_goods_num">-->
                                    <!--<span>1</span>人跟随购买-->
                                <!--</div>-->
                            </div>
                        </a> <!---->
                    </div>
                </div>
                <div class="quan_feed_foot">
                    <div class="quan_feed_foot_info">晒单</div>
                    <div class="quan_feed_foot_action">
                        <div class="quan_feed_foot_like">
                            <i class="quan_feed_foot_icon"></i><%=list[i].praise%>
                            <i class="quan_feed_foot_score" style="display: none;"></i>
                        </div>
                        <!--<a href="">-->
                            <!--<div class="quan_feed_foot_comment">1</div>-->
                        <!--</a>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%}%>
</script>

{template 'public/footer_nav'}
{template 'gou/js'}
</body></html>