{template 'web/common/header'}
<div class="page">
    <div class="page_content">

		<form class="form-horizontal" action="" method="post">

		    <table class="table we7-table table-hover article-list vertical-middle">

		        <tr>

		            <td style="width:100px">排序</td>

		            <td>栏目图片</td>

		            <td>ID-栏目名称</td>

		            <td>状态/参数</td>

		            <td class="text-right">操作</td>

		        </tr>

		        {loop $listAll $cateP}

		        <tr>

		            <td>

		                {$cateP['num']}

		            </td>

		            <td style="width: 100px">

		                <img src="{media $cateP['catepic']}" width="50px" alt="">

		            </td>

		            <td>

		                <strong>{$cateP['id']}-{$cateP['name']}</strong>

		            </td>

		            <td>

			            {if $cateP['statue']==1}

				        	<span class='label label-success'>启</span>

				        {else}

		                	<span class='label label-danger'>关</span>

				        {/if}

		                {if $cateP['type']=='page'}

				        	<span class='label label-danger'>栏目单页面</span>

				        {elseif $cateP['type']=='showArt'}

				        	<span class='label label-success'>【内容】文章</span>

				        {elseif $cateP['type']=='showPic'}

				        	<span class='label label-warning'>【内容】组图</span>

		                {elseif $cateP['type']=='showPro'}

		                    <span class='label label-primary'>【内容】商品</span>

				        {elseif $cateP['type']=='showWxapps'}

				        	<span class='label label-xcx'>【内容】小程序</span>

				        {/if}

				        {if $cateP['list_style']==1}

				        	<span class='label label-info'>单行大图</span>

				        {elseif $cateP['list_style']==2}

				        	<span class='label label-info'>两列图片</span>

				        {elseif $cateP['list_style']==3}

				        	<span class='label label-info'>单行图文</span>

		                {elseif $cateP['list_style']==5}

		                    <span class='label label-info'>三列图片</span>

		                {elseif $cateP['list_style']==6}

		                    <span class='label label-info'>四列图片</span>

		                {elseif $cateP['list_style']==7}

		                    <span class='label label-info'>五列图片</span>

				        {elseif $cateP['list_style']==4}

				        	<span class='label label-info'>文字列表</span>

		                <!--下面是针对产品的-->

		                {elseif $cateP['list_style']==11}

		                    <span class='label label-info'>单列产品</span>

		                {elseif $cateP['list_style']==12}

		                    <span class='label label-info'>两列产品</span>

		                {elseif $cateP['list_style']==13}

		                    <span class='label label-info'>三列产品</span>

		                {elseif $cateP['list_style']==14}

		                    <span class='label label-info'>四列产品</span>

		                {elseif $cateP['list_style']==15}

		                    <span class='label label-info'>五列产品</span>

		                {elseif $cateP['list_style']==19}

		                    <span class='label label-info'>横排产品</span>

				        {/if}

				        {if $cateP['show_i']==1}

		                	<span class='label label-success'>首</span>

		                {else}

		                	<span class='label label-danger'>首</span>

		                {/if}

		                {if $cateP['list_type']==0}

				        	<span class='label label-primary'>显示分类</span>

				        {elseif $cateP['list_type']==1}

				        	<span class='label label-primary'>显示内容</span>

				        {/if}

				        {if $cateP['list_tstyle']==1}

				        	<span class='label label-success'>上下标题</span>

				        {elseif $cateP['list_tstyle']==2}

				        	<span class='label label-success'>左右标题</span>

				        {elseif $cateP['list_tstyle']==0}

				        	<span class='label label-danger'>标题隐藏</span>

				        {/if}

		            </td>

		            <td class="text-right">

		                <a class="btn btn-default btn-sm" href="{php echo $this->createWeburl('cate', array('id' => $cateP['id'], 'op' =>'post'))}" >编辑</a>

		                <a class="btn btn-default btn-sm" onclick="return confirm('此操作不可恢复，确认吗？'); return false;" href="{php echo $this->createWeburl('cate', array('id' => $cateP['id'], 'op' => 'delete'))}">删除</a>

		            </td>

		        </tr>

			        {loop $cateP['data'] $cate}

				        <tr>

				            <td>

				                {$cate['num']}

				            </td>

				            <td style="width: 100px">

				                <img src="{media $cate['catepic']}" width="50px" alt="">

				            </td>

				            <td>

				                &nbsp;&nbsp;{$cate['id']}--{$cate['name']}

				            </td>

				            <td>

						        {if $cate['statue']==1}

						        	<span class='label label-success'>启</span>

						        {else}

				                	<span class='label label-danger'>启</span>

						        {/if}

						        {if $cate['type']=='page'}

						        	<span class='label label-danger'>栏目单页面</span>

						        {elseif $cate['type']=='showArt'}

						        	<span class='label label-success'>【内容】文章</span>

						        {elseif $cate['type']=='showPic'}

						        	<span class='label label-warning'>【内容】组图</span>

		                        {elseif $cate['type']=='showPro'}

		                            <span class='label label-primary'>【内容】商品</span>

						        {elseif $cate['type']=='showWxapps'}

						        	<span class='label label-xcx'>【内容】小程序</span>

						        {/if}

						        {if $cate['list_style']==1}

						        	<span class='label label-info'>单行大图</span>

						        {elseif $cate['list_style']==2}

						        	<span class='label label-info'>两列图片</span>

		                        {elseif $cate['list_style']==5}

		                            <span class='label label-info'>三列图片</span>

		                        {elseif $cate['list_style']==6}

		                            <span class='label label-info'>四列图片</span>

		                        {elseif $cate['list_style']==7}

		                            <span class='label label-info'>五列图片</span>

						        {elseif $cate['list_style']==3}

						        	<span class='label label-info'>单行图文</span>

						        {elseif $cate['list_style']==4}

						        	<span class='label label-info'>文字列表</span>

		                        <!--下面是针对产品的-->

		                        {elseif $cate['list_style']==11}

		                            <span class='label label-info'>单列产品</span>

		                        {elseif $cate['list_style']==12}

		                            <span class='label label-info'>两列图片</span>

		                        {elseif $cate['list_style']==13}

		                            <span class='label label-info'>单行图文</span>

		                        {elseif $cate['list_style']==19}

		                            <span class='label label-info'>横排产品</span>

		                        {elseif $cate['list_style']==4}

		                            <span class='label label-info'>文字列表</span>

						        {/if}

				            </td>

				            <td class="text-right">

				                <a class="btn btn-default btn-sm" href="{php echo $this->createWeburl('cate', array('id' => $cate['id'], 'op' =>'post','cateid'=>$_GPC['cateid'],'chid'=>$_GPC['chid']))}" >编辑</a>

				                <a class="btn btn-default btn-sm" onclick="return confirm('此操作不可恢复，确认吗？'); return false;" href="{php echo $this->createWeburl('cate', array('id' => $cate['id'], 'op' => 'delete','cateid'=>$_GPC['cateid'],'chid'=>$_GPC['chid']))}">删除</a>

				            </td>

			        	</tr>

			        {/loop}

		        {/loop}

		    </table>

		</form>

    </div>
</div>
