.tabs-area{
    display: flex;
    flex-direction: column;
}
.tabs-area .tab-content{
	flex: 1;
	position: relative;
}
.tabs-area .tab-pane{
	-webkit-overflow-scrolling:touch;
	overflow:auto;
}
.tabs-area .tab-pane,.tabs-area .tab-pane iframe{
	width: 100%;
	height: 100%;
	position: absolute;
	border: 0;
}
.tabs-area .nav-tabs .close{
	position: absolute;
    top: -1px;
    right: 3px;
}
@media(min-width: 1000px){
	.tabs-area .nav-tabs .close{
		display: none;
	}
}
.tabs-area .nav-tabs .active .close,
.tabs-area .nav-tabs a:hover .close,
.tabs-area .nav-tabs a:focus .close{
	display: block;
}
.tabs-area .nav-tabs{
  /*  padding: 5px;
    padding-bottom: 0;*/
    background-color: #fff;
}
.tabs-area .nav-tabs .active a,
.tabs-area .nav-tabs a:hover,
.tabs-area .nav-tabs a:focus{
	background-color: #ecf0f5!important;
}
.tabs-area .nav-tabs a{
	border-radius: 0;
}
.tabs-area .nav-tabs {
     border:none;
}
/*添加滚动*/
.nav.myscroll{
      white-space: nowrap;
      overflow-x: auto;
      overflow-y: hidden;
    }
    .nav.myscroll>li{
      display: inline-block;
      float: none;
    }
    .scroll-left,
    .scroll-right{
      position: absolute;
      line-height: 42px;
      width: 20px;
      text-align: center;
      /*background-color: #ecf0f5;*/
      transform: scale(1,3);
    }
    .scroll-left{
      left: 0;
    }
    .scroll-right{
      right: 0;
      top: 50px;
    }
    .nav.myscroll{
      margin-left: 21px;
      margin-right: 21px;
    }
    .tabs-area-top{
      /*padding-top: 8px;*/
      background-color: #fff;
      border-bottom: 1px solid #ddd;
    }
    @media (max-width: 767px)
    {
      .scroll-right{
      top: 100px;
    }
    }