<?php if(0){?>
<div class="sku_container sku_container_on" id="skuCont">
    <div class="sku_wrap">
        <div id="propertyDiv">
            <div class="sku" id="sku1">
                <h3>规格</h3>
                <div class="sku_list">
                    <?php $select_d = false; foreach($goods_type as $key => $value){?>
                    <?php
                    $price_t = number_format($value['marketprice']*$zhekou/10, 2,'.', '');
                    $price_t = explode('.',(string)$price_t);$max = 0;?>

                    <span id="goods-type-<?php echo $key;?>" data-max="<?php echo $value['amount_total']- $value['amount_sell'];?>" data-price1="{$price_t[0]}" data-price2="{$price_t[1]}" data-id="{$value['id']}" class="goods-type <?php if($value['amount_sell'] >=$value['amount_total']){echo 'option_disabled';}elseif(!$select_d){$select_d = true;$max=$value['amount_total']- $value['amount_sell']; echo '';}?> option ">{$value['title']}</span>
                    <?php } ?>
                </div>
            </div>
        </div>

        <div class="sku sku_num" id="skuNum">
            <h3>数量</h3>
            <div class="num_wrap">
                <span class="minus minus_disabled" id="minus"></span>
                <input class="num" id="buyNum" type="tel" value="1" max="0">
                <span class="plus" id="plus"></span>
            </div>
        </div>
    </div>
</div>
<?php } ?>
<div class="goods-part bdr-tb-bold mar-t">

    <div class="prod-spec" id="natureID">
        <div class="spec-desc">
            <span class="part-note-msg">已选</span>
            <div id="specDetailInfo" class="base-txt">
                <div class="base-txt">
                    <span class="specDetailInfo"></span>
                    &nbsp;&nbsp;<span class="amount"></span>
                </div>
            </div>
            <em class="icon-popups"></em>
        </div>

    </div>

</div>