{include file="common/header"}

<!--main-body-->
<section class="main-body">
    <div class="main_content">
        <!--second sidebar-->
        {include file="platform/pub/user-nav"}
        <!--main body content-->
        <div class="main_mbody">
            <div class="col-xs-12">
                <div class="main_mbody-title">
                    <h5>会员等级列表</h5>
                    <a href="{:url('boguan/platform.user/index')}" class="goback"><span class="label label-info btn"><i class="iconfont icon-zuojiantou"></i>返回</span></a>
                </div>
                <div class="main-con clerk-list member-list">
                  <div class="toggle-tipsbox">
                    <div class="tipBox more">
                      <h5><i class="iconfont icon-tishi"></i>温馨提示</h5>
                      <ul>
                        <li><span>会员等级根据累积积分升级。</span></li>
                        <li><span>等级管理所需积分值更改后，会员等级会以新的等级所需积分为准，不到相应等级的买家会被自动降级哦。例如买家有40积分值，是VIP4等级，您修改了所需积分值条件为升级VIP需要50积分值，买家积分值不满足，则会被降级。</span></li>
                      </ul>
                      <div class="toggle-btn">更多</div>
                    </div>
                  </div>
                    <form action="">
                        <ul class="nav-contral clearit">
                            <li><a href="{:url('boguan/platform.vip/add')}" class="btn"><i class="iconfont icon-jia"></i>新增会员等级</a></li>

                        </ul>
                        <div class="main-table table-responsive">
                            <table class="table table-hover table-condensed">
                                <thead>
                                <tr>
                                    <th style="width: 10%; text-align: left;">序号</th>
                                    <th style="width: 10%;">等级名称</th>
                                    <th style="width: 20%;">会员折扣</th>
                                    <th style="width: 10%;">领取条件（累计积分）</th>
                                    <th style="width: 10%;">状态</th>
                                    <th style="width: 20%;">操作</th>
                                </tr>
                                </thead>
                                <tbody>{volist name="vip" id="vo" key="key"}<tr class="del-{$vo.id}">
                                    <td class="id">{$key}</td>
                                    <td>{$vo.name}</td>
                                    <td>{$vo.discount}</td>
                                    <td>{$vo.integral}</td>
                                    <td>
                                        <button type="button" class="state-pro" onclick="status('{$vo.id}','{$vo.status}')">
                                            {if $vo.status == 1}
                                            <div class="status"><span class="label label-success">已开启</span></div>
                                            {else}
                                            <div class="status"> <span class="label label-warning">已关闭</span></div>
                                            {/if}
                                        </button>
                                    </td>
                                    <td>
                                        <a href="{:url('boguan/platform.vip/edit',array('id'=> $vo.id))}">编辑</a>
                                        <span class="split">|</span>
                                        <a href="javascript:;" onclick="del('{$vo.id}', 'del-{$vo.id}')">删除</a>
                                    </td>
                                </tr>{/volist}</tbody>

                            </table>
                            {$page}
                        </div>
                    </form>
                </div>
            </div>
            {include file="common/copyright"}
        </div>

    </div>
</section>

{include file="common/footer"}
<script>
    /*删除*/
    function del(id,key){

        layui.use(['layer','form'], function(){
            var layer = layui.layer,form = layui.form;;

            layer.confirm('确认删除吗？', {btn:['确认'], yes:function(index){
                    //按钮【按钮一】的回调
                    //此处请求后台程序，下方是成功后的前台处理……
                    $.ajax({
                        type: 'POST',
                        url: '{:url("boguan/platform.vip/del")}',
                        data:{'id':id},
                        success: function(data) {
                            console.log(data);
                            if (data.errorCode == 1) {

                                layer.msg(data.msg,{icon: 1})
                                $('.'+key).remove();
                            } else {
                                layer.msg(data.msg,{icon: 2})
                            }
                        },
                        error: function (data) {
                            console.log(data.responseText);
                            layer.msg(data.msg,{icon: 2})
                        }
                    });
                    layer.close(index);
                }});
        })

    }
</script>