body{
	font-family: "微软雅黑";
}
.w-20{
	width: 20%;
	box-sizing: border-box;
	position: relative;
	width: 100%;
	min-height: 1px;
	padding-right: 1.0715rem;
	padding-left: 1.0715rem;
	max-width: 20%;
}
.all_visit{
	position: absolute;
	right: -90px;
	bottom: -90px;
	background-color: #EFF1FC;
	width: 180px;
	height: 180px;
	border-radius: 180px;
}
.all_visit_img{
	position: absolute;
	left: 30px;
	top: 30px;
}
.all_customer{
	position: absolute;
	right: -90px;
	bottom: -90px;
	background-color: #EFFCF5;
	width: 180px;
	height: 180px;
	border-radius: 180px;
}
.all_member{
	position: absolute;
	right: -90px;
	bottom: -90px;
	background-color: #FDF3E8;
	width: 180px;
	height: 180px;
	border-radius: 180px;
}
.all_birthday{
	position: absolute;
	right: -90px;
	bottom: -90px;
	background-color: #FDEBEB;
	width: 180px;
	height: 180px;
	border-radius: 180px;
}
.all_recharge{
	position: absolute;
	right: -90px;
	bottom: -90px;
	background-color: #E5F1FF;
	width: 180px;
	height: 180px;
	border-radius: 180px;
}
.data_card{
	border: 1px solid #eee;
	border-radius: 6px;
	padding-top: 2.429rem;
	padding-bottom: 2.429rem;
	overflow: hidden;
	background: #fff;box-shadow: 2px 2px 8px -5px #ddd;
}
.num_people{
	font-size: 36px;
	font-weight: 700;
}
.num_people span{
	font-weight: 300;
}
.color-434343{
	color: #434343;
}
.color-363636{
	color: #363636;
}
.color-838383{
	color: #838383;
}
.bg-fff{
	background-color: #fff;
}
.order_des{
	padding: 25px 15px;
	border: 1px solid #eee;
	border-radius: 6px;
}
.order_navbar{
	padding: 0 14px;
	border-bottom: 1px solid #eee;
}
.order_li{
	margin: 0;
}
.order_li li{
	float: left;
	font-size: 14px;
	color: #434343;
	margin-left: 20px;
	padding: 0 8px 10px;
	cursor: pointer;
}
.order_li .on{
	color: #6671e4;
	border-bottom: 1px solid #6671e4;
}
.font-size-36{
	font-size: 36px;
}
.color-ED8E20{
	color: #ED8E20;
}
.color-04C65D{
	color: #04C65D;
}
.color-6671E4{
	color: #6671E4;!important
}
.mb-0{
	margin-bottom: 0;
}
.card-block1{
	padding: 1.429rem 0;
}
.bg-F9F9F9{
	background-color: #F9F9F9;
}
.line-height-36{
	line-height: 36px;
}
.font-weight-700{
	font-weight: 700;
}
.order_card{
	padding: 25px 0;
	border-radius: 6px;
	border: 2px solid #fff;
	cursor: pointer;
}
.order_card1:hover{
	border: 2px solid #6671E4;
}
.order_card2:hover{
	border: 2px solid #ED8E20;
}
.order_card3:hover{
	border: 2px solid #04C65D;
}
.zxtzj{
	position: absolute;top:20px;z-index: 9999;
	color: #333;font-size: 12px;
	right: 58px;
}
.order2_navbar{
	padding: 0 6px;
	border-bottom: 1px solid #eee;
}
.order2_li{
	margin: 0;
}
.order2_li li{
	float: left;
	font-size: 14px;
	color: #434343;
	padding: 0 8px 10px;
	cursor: pointer;line-height: 19px;font-size: 12px;margin-right: 10px
}
.order2_li .on{
	color: #6671e4;
	border-bottom: 1px solid #6671e4;
}
.order-table td,th{
	overflow: hidden;
  	text-overflow: ellipsis;
  	white-space: nowrap;
  	font-size: 14px;
  	height: 42px;
  	line-height: 42px;
  	padding: 0 10px;
  	box-sizing: border-box;
}
.order-table1{height: 256px;}
.order-table>table>tbody>tr>td{
	color: #838383;
	border-top:1px dashed #eee;font-size: 12px
}
.order-table>table>tbody>tr:first-of-type td{
	border: 0;
}
.order-table th{
	color: #434343;
}
.order-table>table{
	width: 100%;
	table-layout: fixed
}

.order-table1>table>thead>tr>th,.order-table2>table>thead>tr>th{text-align: left;font-size: 14px;}
.order-table1>table>thead>tr>th:first-child{
	width:156px;
}
.order-table1>table>thead>tr>th:last-child{
	width:78px;text-align: center;
}
.order-table1 .btn{padding: 2px 6px;font-size: 12px;}

.order-table2>table>thead>tr>th:first-child{
	width:145px;
}

.collect_table>table>thead>tr>th:first-of-type{
	width: 20%;
}
.collect_table>table>thead>tr>th:nth-of-type(3){
	width: 20%;
}
.collect_table td,th{
	text-align: center;
}
.all_list_box{
	width: 120px;
	height: 120px;
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	top: -60px;
	border-radius: 120px;
}
.collect_list{
	border: 10px solid #6671E4;
}
.sale_list{
	border: 10px solid #ED8E20;
}
.recharge_list{
	border: 10px solid #0079FE;
}
.color-0079FE{
	color: #0079FE;
}
.bottom3{height: 376px}