#container:after,.clearfix:after{clear:both;display:block;visibility:hidden;overflow:hidden;height:0;content:"\0020"}
li,ul{padding:0;list-style:none}
body{background-color:#F1F4F5}
.clear{clear:both;height:0;font-size:1px;line-height:0}
.asidebox{position:fixed;top:0;left:0;width:200px}
.aside1{position:fixed;top:0;left:0;width:100px;height:100%;background-color:#3B4046}
.sidebar-1{position:fixed;top:0;left:0;z-index:100;width:100px;height:100%;background:#444}
.sidebar-2{position:fixed;top:0;left:100px;z-index:100;overflow:hidden;width:120px;height:100%;border-right:1px solid #eee;background:#fff}
.sidebar-1 .nav-item,.sidebar-2 .nav-item{display:block;overflow:hidden;padding:14px 16px;text-decoration:none;text-overflow:ellipsis;white-space:nowrap}
.sidebar-1 .nav-item{color:#ddd}
.sidebar-1 .nav-item:hover{background:rgba(0,0,0,.1)}
.sidebar-1 .nav-item .nav-icon{display:inline-block;margin-right:4px;width:1rem;height:1.143rem;color:#fff;font-size:1.3rem;line-height:1;transform:translateY(1px)}
.sidebar-1 .nav-item.active{background:#fff;color:#444}
.sidebar-1 .nav-item.active .nav-icon{color:#00a0e9}
.sidebar-2 .current-menu-name{overflow:hidden;padding:0 16px 0 24px;height:50px;border-color:#eee;border-bottom:1px solid;text-overflow:ellipsis;white-space:nowrap;line-height:50px}
.sidebar-2 .sidebar-content{width: 100%;height:100%}
.sidebar-2 .sidebar-content .child-item{position:relative;}
.sidebar-2 .sidebar-content .child-item .icon-play_fill{position: absolute;top: 13px;left:70px;border-right: 4px solid;border-top: 4px solid transparent;border-bottom: 4px solid transparent;}
.sidebar-2 .sidebar-content .child-item.active .icon-play_fill{display: inline-block;left: 70px;top: 13px;width: 0;height: 0;margin-left: 2px;border-top: 4px solid transparent;border-right: 0;border-bottom: 4px solid transparent;border-left: 4px solid #777;vertical-align: middle;}
.sidebar-2 .nav-item{position:relative;padding:0 10px;color:#444}
.sidebar-2 .nav-item:hover{background:rgba(0,0,0,.05)}
.sidebar-2 .nav-item .nav-pointer{position:absolute;top:12px;left:6px;color:#777;font-size:.75rem}
.sidebar-2 .nav-item.active{background:rgba(55,87,109,.05);color:#444}
.sidebar-2 .nav-item.active .nav-pointer{margin-top:-1px;transform:rotate(90deg)}
.sidebar-2 .sub-item-list{display:none}
.sidebar-2 .sub-item-list .nav-item{color:#777}
.sidebar-2 .sub-item-list.active{display:block}
.sidebar-2 .sub-item-list .nav-item.active{background:#f5f7f8}
.logo{display:block;overflow:hidden;}
.logoimg{display:block;margin:14px auto 20px;width:35px;height:35px;border-radius:35px}
.aside1_nav{padding:0 0 60px 0;}
.aside1_nav li{margin-bottom:14px}
.aside1_nav a{display:block;padding-left:22px;color:#88929C;font-size:14px;line-height:36px;cursor:pointer}
.aside1_nav a i{margin-right:8px;width: 14px;}
.aside1_nav li:hover{background:#6671E4;margin: 0 8px;border-radius: 3px;color:#fff;margin-bottom: 14px;}
.aside1_nav li:hover a{color:#fff;padding-left: 14px;}
.active1{background:#6671E4;margin: 0 8px;border-radius: 3px;color:#fff}
.active1 a{color:#fff;padding-left:18px;}
.aside2_title{text-align: center;height:51px;border-bottom:1px solid #f2f2f2;color:#333;font-size:14px;line-height:50px}
.aside2_nav{font-size: 12px;text-align: center;}
.aside2_nav ul{padding-top: 16px;}
.aside2_nav li{border-bottom: 1px dashed #ececec;margin: 0 12px;line-height: 42px;position: relative;}
.aside2_nav a{display:block;padding:0 10px;color:#666;}
.aside2_nav a:hover{color:#6671E4;text-decoration:none}
.aside2_nav .active2 i{position: absolute;left: 12px;top: 15px;width: 2px;height: 11px;background: #6671E4;border-radius: 3px;}
.aside2_nav .active2 a{color: #6671E4;}
/*.active1 a{border-left:3px solid #6a30d6;color:#fff;padding-left: 15px;}*/
.aside_user{position:fixed;width:100px;bottom:0;left:0;z-index:1000;height:40px;background-color:#33383e;color:#e5e5e5;text-align:center;font-size:12px;line-height:40px}
.contentbox{margin-left:220px}
.content_head{padding-left:40px;width:100%;height:51px;border-bottom:1px solid #f2f2f2;background-color:#fff}
.content_head_left{float:left;color:#333;font-size:14px;line-height:50px}
.page{padding:25px;width:100%}
.page_content{padding:20px;width:100%;background-color:#fff}
.fz12{margin-top:5px;color:#999;font-size:12px}
.h_31{height:31px}
.wnmdform .form-group label:first-of-type{margin-right:25px;max-width:140px;font-size:12px}
.wnmdform .form-group input[type=text]{height:31px;font-size:12px}
.wnmdform .form-group input[type=password]{height:31px;font-size:12px}
.wnmdform .form-group input[type=number]{height:31px;font-size:12px}
.wnmdform .form-group select{height:31px;font-size:12px}
.jdt{position:relative;text-align:center;font-family:'宋体'}
.jdt_left{position:absolute;top:17px;left:0;height:4px;background-color:#54c952}
.jdt_right{position:absolute;top:17px;right:0;height:4px;background-color:#54c952}
.jdt_yuan{display:inline-block;width:38px;width:38px;height:38px;border-radius:38px;background-color:#54c952;color:#fff;font-size:12px;line-height:38px}
.jdt_div1{margin-top:10px;width:100%;color:#333;font-size:12px}
.jdt_div2{width:100%;color:#ccc;font-size:12px}
.ddshxx{float:left;padding:30px 15px 0;width:35%;height:380px;border-right:1px solid #efefef;font-family:'宋体';line-height:26px}
.ddshxx_span1{display:inline-block;padding-right:10px;width:80px;color:#999;font-size:12px}
.ddshxx_span2{color:#000;font-size:12px}
.xgshxx{display:inline-block;padding:5px 10px;border-radius:5px;background-color:#44abf7;color:#fff!important;font-size:12px;line-height:20px;cursor:pointer}
.xgshxx:hover{background-color:#3c9be1;color:#fff}
.ddzt{float:left;padding:30px 15px 0;width:39%;height:380px;border-right:1px solid #efefef;font-family:'宋体';line-height:26px}
.ddzt_div1{margin-bottom:45px}
.ddzt_span1{display:inline-block;color:#999;font-size:12px}
.ddzt_span2{color:#54c952;font-weight:700;font-size:20px;font-family:'微软雅黑'}
.ddzt_div2{margin:15px 0 25px}
.ddzt_div2 a{color:#44abf7!important;font-size:12px}
.ddzt_div2 a:first-of-type{margin-right:20px}
a{cursor:pointer}
.yjfxs{float:left;padding:30px 15px 0;width:26%;height:380px;font-family:'宋体';line-height:26px}
.yjfxs_div{margin-bottom:5px;color:#333;font-weight:700;font-size:12px}
.yjfxs_span1{display:inline-block;width:50px;color:#999;font-size:12px}
.order-title{margin:0 50px;color:#000;font-weight:700;font-size:16px;line-height:62px}
table{border-collapse:collapse}
.order_details_table{border:1px solid #efefef!important;font-size:12px}
.order_details_table>thead>tr>th{padding-left:30px!important;background-color:#fff!important}
.order_details_table>thead>tr{border:1px solid #efefef}
.order_details_table>tbody>tr>td{padding-left:30px!important;border:1px solid #efefef!important}
.order_details_table>tbody>tr>td>span{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.order_details_table>tbody>tr>td:first-of-type img{width:52px;height:52px}
.order_details_table>tbody>tr>td:nth-of-type(3){text-align:center}
.order_details_table>tbody>tr>td:nth-of-type(4){text-align:center}
.order_details_table>tbody>tr>td:nth-of-type(5){text-align:center}
.order_details_table>tbody>tr>td:nth-of-type(6){text-align:center}
.order_details_thead>tr>th{padding:20px}
.order_details_table_span2{display:inline-block;padding:1px 8px;border-radius:2px;background-color:#3c9be1;color:#fff;font-weight:700;font-size:10px}
.xj{float:right}
.xj_span1{display:inline-block;width:100px;vertical-align:middle;text-align:right;font-family:"宋体"}
.order_details_alert{position:fixed;top:0;left:0;z-index:3001;display:none;overflow-x:hidden;overflow-y:auto;background:rgba(0,0,0,.5)}
.odac{position:absolute;top:200px;left:300px;width:720px;background:#fff;font-family:'宋体'}
.odac_head{padding:15px;background-color:#f6f6f6}
.odac_head_left{float:left}
.odac_head_right{float:right;margin-top:-2px;color:#000;font-size:21px;opacity:.2;cursor:pointer}
.odac_head_right:hover{opacity:.5}
.odac_content{padding:30px;background:#fff;font-size:12px}
.odac_foot{padding:15px;background-color:#f4f5f9;text-align:center}
.odac_foot span{display:inline-block;padding:8px 16px;min-width:105px;border:1px solid #efefef;border-radius:2px;background:#fdfdfd;color:#6b6b6b;text-align:center;font-size:12px;cursor:pointer}
.odac_foot input{display:inline-block;padding:8px 16px;min-width:105px;border:0;background-color:#3c9be1;color:#fff;text-align:center;font-size:12px;cursor:pointer}
.bjshxx{display:block;padding:5px 10px;width:100%;height:32px;border:1px solid #efefef;border-radius:1px;background-color:#FFF;background-image:none;color:inherit;font-size:12px;line-height:32px}
.xgdz{position:relative;margin:0 15px 0 0;padding-top:7px;padding-left:24px;color:#666;vertical-align:middle}
.xgshxxa input[type=radio]{position:relative;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin-right:5px;width:16px;height:16px;outline:0;border:1px solid #e0e0e0;border-radius:18px;background:#fff;vertical-align:middle;-webkit-transition-duration:.3s;-moz-transition-duration:.3s;transition-duration:.3s;-webkit-transition-property:border-color;transition-property:border-color;-webkit-appearance:none;-moz-appearance:none;appearance:none}
.xgshxxa .radio-inline input[type=radio]{position:absolute;top:50%;margin-top:-5px;margin-left:-24px;cursor:pointer}
.xgshxxa input[type=radio]:checked{border:2px solid #44abf7;background:#fff}
.xgshxxa input[type=radio]:checked:before{position:absolute;top:2px;display:inline-block;margin-left:2px;width:8px;height:8px;border-radius:50%;background:#44abf7;content:" "}
.change_address{display:none}
.xgyjac{width:800px}
.rechange{margin:0 10px;margin-top:30px}
.rechange_left{float:left;padding:10px 22px;width:348px;height:120px;border:1px solid #efefef}
.rechange_right{float:right;padding:10px 22px;width:348px;height:120px;border:1px solid #efefef}
.rechange_left>label{margin-right:25px;color:#333;font-weight:700;font-size:12px}
.rechange_left>div{display:inline-block}
.rechange_left>div>img{margin-right:10px;width:30px;height:30px}
.rechange_right_div1{float:left;margin-right:25px;color:#333;font-weight:700;font-size:12px}
.fl{float:left}
.fl>div{margin-bottom:8px}
.xgyj_table{margin:10px 10px 0;width:720px;border-collapse:collapse}
.xgyj_table tr{border-top:1px solid #efefef;border-bottom:1px solid #efefef}
.xgyj_table tr:first-of-type{font-weight:700;font-size:12px}
.xgyj_table td{padding:8px}
.xgyj_zy{margin:20px 10px 0;padding-left:10px;color:red}
.xgyj_bt{margin-top:5px}
.xgyj_bt a{display:inline-block;width:142px;height:30px;border-radius:2px;background-color:#409d40;color:#fff!important;text-align:center;font-size:12px;line-height:30px}
.xgyj_bt a:hover{background-color:#398439}
.dggdd_table{border:0}
.dggdd_table>tbody>tr{border:0}
.dd_head_left{font-family:"微软雅黑"}
.dd_head_left_span1{display:inline-block;margin-right:10px;width:48px;height:18px;border:1px solid #1b86ff;color:#1b86ff;text-align:center;font-weight:700;font-size:12px;line-height:18px}
.dd_head_left_span2{margin-right:10px;color:#000;font-weight:700;font-size:12px}
.dd_head_left_span3{color:#999;font-size:12px}
.dd_head_right{color:#999;text-align:right;font-size:12px;font-family:"微软雅黑";cursor:pointer}
.dd_content{color:#333;font-size:12px;font-family:'宋体'}
.dd_content>td{padding:20px 10px 20px 30px!important;border-right:1px solid #e7e7eb!important}
a{text-decoration:none!important}
.dd_content_left{float:left;display:block;padding:1px;width:70px;height:70px;border:1px solid #efefef}
.dd_content_center{float:left;overflow:hidden;margin-top:20px;margin-left:10px;width:180px;color:#000;text-overflow:ellipsis;white-space:nowrap;font-family:"微软雅黑"}
.dd_content_right{float:right;margin-top:20px;text-align:right}
.fxsgl_table{border:0}
.fxsgl_table>tbody>tr{border:1px solid #efefef;border-right:0;border-left:0}
.fxsgl_table>tbody>tr>td>input[type=checkbox]{position:relative;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;width:16px;height:16px;outline:0;border:1px solid #e0e0e0;background:#fff;vertical-align:middle;-webkit-transition-duration:.3s;-moz-transition-duration:.3s;transition-duration:.3s;-webkit-transition-property:border-color;transition-property:border-color;-webkit-appearance:none;-moz-appearance:none;appearance:none}
.fxsgl_table>tbody>tr>td>input[type=checkbox]:checked{border-color:#44abf7;background:#44abf7}
.fxsgl_table>tbody>tr>td>input[type=checkbox]:checked:before{position:absolute;top:3px;display:inline-block;margin-left:3px;width:9px;height:6px;border-color:#fff;border-style:solid;border-width:2px 2px 0 0;content:" ";-webkit-transform:rotate(135deg);-moz-transform:rotate(135deg);transform:rotate(135deg);-ms-transform:rotate(135deg)}
.fxsgl_table>thead>tr>th>input[type=checkbox]{position:relative;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;width:16px;height:16px;outline:0;border:1px solid #e0e0e0;background:#fff;vertical-align:middle;-webkit-transition-duration:.3s;-moz-transition-duration:.3s;transition-duration:.3s;-webkit-transition-property:border-color;transition-property:border-color;-webkit-appearance:none;-moz-appearance:none;appearance:none}
.fxsgl_table>thead>tr>th>input[type=checkbox]:checked{border-color:#44abf7;background:#44abf7}
.fxsgl_table>thead>tr>th>input[type=checkbox]:checked:before{position:absolute;top:3px;display:inline-block;margin-left:3px;width:9px;height:6px;border-color:#fff;border-style:solid;border-width:2px 2px 0 0;content:" ";-webkit-transform:rotate(135deg);-moz-transform:rotate(135deg);transform:rotate(135deg);-ms-transform:rotate(135deg)}
.fxsgl_table>thead>tr>th{background-color:#fff}
.ysh{display:inline-block;padding:1px 8px;border-radius:2px;background:#44abf7;color:#fff;text-shadow:none;font-weight:600;font-size:10px;font-family:'Open Sans'}
.fxsgl_table_hang{font-family:'宋体'}
.fxsgl_table_hang>td:nth-of-type(2){padding-right:0}
.fxsgl_table_hang>td:nth-of-type(2) img{width:30px;height:30px;border-radius:30px}
.fxsgl_table_hang>td:nth-of-type(2) span{color:#000}
.fxsgl_table_hang>td:last-of-type{padding-right:0!important}
.fxsgl_table_hang>td:last-of-type a{display:inline-block;margin-right:5px;padding:4px;border:1px solid #efefef;background:#fff;color:#9d9d9d;font-size:12px}
.fxsgl_table_hang>td:last-of-type a>i{font-style:normal}
.hycz_div1{margin:0 10px}
.hycz_div1_left{float:left;padding:10px 22px;width:308px;height:95px;border:1px solid #efefef}
.hycz_div1_right{float:right;padding:10px 22px;width:308px;height:95px;border:1px solid #efefef}
.hycz_div1_left>label{margin-right:25px;color:#333;font-weight:700;font-size:12px}
.hycz_div1_left>div{display:inline-block}
.hycz_div1_left>div>img{width:20px;height:20px;border-radius:20px}
.hycz_ul1{margin:20px 10px 35px;border-bottom:1px solid #efefef}
.hycz_ul1>li{float:left;margin-right:10px;padding:10px;border-bottom:2px solid #fff;cursor:pointer}
.hycz_ul1>.active{border-color:#44abf7}
.hycz_change input[type=radio]{position:relative;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin-right:5px;width:16px;height:16px;outline:0;border:1px solid #e0e0e0;border-radius:18px;background:#fff;vertical-align:middle;-webkit-transition-duration:.3s;-moz-transition-duration:.3s;transition-duration:.3s;-webkit-transition-property:border-color;transition-property:border-color;-webkit-appearance:none;-moz-appearance:none;appearance:none}
.hycz_change .radio-inline input[type=radio]{position:absolute;top:50%;margin-top:-5px;margin-left:-24px;cursor:pointer}
.hycz_change input[type=radio]:checked{border:2px solid #44abf7;background:#fff}
.hycz_change input[type=radio]:checked:before{position:absolute;top:2px;display:inline-block;margin-left:2px;width:8px;height:8px;border-radius:50%;background:#44abf7;content:" "}
.hycz_textarea{display:block;padding:5px 10px;width:100%;border:1px solid #efefef;border-radius:1px;background-color:#FFF;background-image:none;color:inherit;font-size:12px;line-height:32px}
.czyea{display:none}
#submit_czye{display:none}
.icow-tuiguang:before{content:"\e6a1"}
.icow-shanchu1:before{content:"\e636"}
.icow-dingdan2:before{content:"\e6e1"}
.icow-31:before{content:"\e63d"}
.delete_fxsac{margin:0 auto;padding:15px;width:370px;background-color:#fff}
.delete_fxsac_p1{margin-bottom:15px;color:#333;font-size:20px;font-family:"微软雅黑";line-height:20px}
.delete_fxsac_p2{margin-bottom:15px;color:#333;font-size:12px;line-height:20px}
.delete_fxsac_button{float:right}
.td_div{float:right}
.member_ul{margin:10px;border-bottom:1px solid #ddd!important}
.member_ul>li{float:left;margin:0 10px;padding:5px;border-bottom:2px solid #fff;font-size:12px;cursor:pointer}
.member_ul>li:hover{color:#44abf7}
.member_ul>.active{border-color:#44abf7}
.member_details_tx{margin-right:5px;padding:1px;width:50px;height:50px;border:1px solid #ccc;border-radius:50px}
.color-000{color:#000}
.pt-7{padding-top:7px}
.jfsx input[type=radio]{position:relative;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin-right:5px;width:16px;height:16px;outline:0;border:1px solid #e0e0e0;border-radius:18px;background:#fff;vertical-align:middle;vertical-align:-4px;-webkit-transition-duration:.3s;-moz-transition-duration:.3s;transition-duration:.3s;-webkit-transition-property:border-color;transition-property:border-color;-webkit-appearance:none;-moz-appearance:none;appearance:none}
.jfsx .radio-inline input[type=radio]{position:absolute;top:50%;margin-top:-5px;margin-left:-24px;cursor:pointer}
.jfsx input[type=radio]:checked{border:2px solid #44abf7;background:#fff}
.jfsx input[type=radio]:checked:before{position:absolute;top:2px;display:inline-block;margin-left:2px;width:8px;height:8px;border-radius:50%;background:#44abf7;content:" "}
.jfsx_input{float:left;display:none;margin-left:10px;padding:0 10px;width:150px;font-size:12px}
.qxgz{padding:3px 8px;border-radius:2px;background-color:#ffc000;color:#fff;font-weight:600;font-family:'Open Sans';line-height:20px}
.member_details_fxsxx{display:none}
.member_details_jyxx{display:none}
.changeText{width:30px}
.zt_span{display:inline-block;margin-right:3px;margin-bottom:3px;padding:2px 3px;border-radius:3px;color:#fff}
.product_list_table td{padding:10px 5px!important}
.changeText2{width:100%}
.td_message>div{margin-bottom:50px;width:100%}
.td_message>div:last-of-type{margin-bottom:0}
.fxsgl_table>thead>tr{border:1px solid #efefef;border-right:0;border-left:0}
/*应用中心*/
.yyzx_list a{float: left;margin-right: 10px;border: 1px solid #eee;padding:10px;border-radius: 3px;margin-bottom: 10px;width: 272px;height: 82px;}
.yyzx_list a:hover{border: 1px solid #6671E4}
.yyzx_list a img{width: 60px;float: left;margin-right: 10px;border-radius: 3px}
.yyzx_list a div{float: left;width: 180px;}
/*其他*/
.select_one_b{display: block; margin-bottom:5px;}
.hide{display: none;}
.label-xcx{background: #605AB0}
/*公用元素*/
.textbg{background: #67C23A;color: #fff;float: left;margin-right: 5px;width: 16px;text-align: center;line-height: 16px;font-size: 12px;border-radius: 3px;}
.textbg2{background: #F56C6C}