<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
<title>收藏中心</title>
<link rel="stylesheet" type="text/css" href="../css/api.css"/>
<link rel="stylesheet" type="text/css" href="../css/common.css"/>
<link rel="stylesheet" type="text/css" href="../css/keep.css"/>
<link rel="stylesheet" type="text/css" href="../css/fakeLoader.css">
<script src="../script/jquery-1.8.3.min.js"></script>
</head>
<body>
<div class="fakeloader"></div>

<div id="wrap">
    <div id="header">
        <div class="btn back" tapmode="topbar-active">
            <i class="i-back"></i>
        </div>
        <div class="flex-full">收藏</div>
        <div class="btn search" tapmode="topbar-active">
            <i class="i-search"></i>
        </div>
    </div>
	<div id="main">
    	<div class="btn-wrapper">
            <ul class="tab">
                <li class="active tab1">
                    团购（<span class="number">10</span>)
                </li>
                <li class="tab2">
                    商家（<span class="number">7</span>）
                </li>
        	</ul>
        </div>
        
        <dl class="list keep1">
            <dd>
                <dl class="list">
                    <dd>
                    <a class="react " href="">
                        <div class="dealcard">
                            <div class="dealcard-img imgbox" style="background: transparent none repeat scroll 0% 0%;">
                            <img src="../image/goods-1.jpg" style="width: 100%;">
                        	</div>
                        	<div class="dealcard-block-right">
                                <div class="dealcard-brand single-line">MOMO喜多</div>
                                <div class="title text-block">[航洋国际]杯子蛋糕（2个）1份</div>
                                <div class="price">
                                    <span class="strong">9.8</span><span class="strong-color">元</span>
                                    <del>15元</del><span class="line-right"> 已售4310 </span>
                                </div>
                        	</div>
						</div>
                    </a>
                    </dd>
                    <dd>
                    <a class="react " href="">
                        <div class="dealcard">
                            <div class="dealcard-img imgbox" style="background: transparent none repeat scroll 0% 0%;">
                            <img src="../image/goods-1.jpg" style="width: 100%;">
                        	</div>
                        	<div class="dealcard-block-right">
                                <div class="dealcard-brand single-line">MOMO喜多</div>
                                <div class="title text-block">[航洋国际]杯子蛋糕（2个）1份</div>
                                <div class="price">
                                    <span class="strong">9.8</span><span class="strong-color">元</span>
                                    <del>15元</del><span class="line-right"> 已售4310 </span>
                                </div>
                        	</div>
						</div>
                    </a>
                    </dd>
                    <dd>
                    <a class="react " href="">
                        <div class="dealcard">
                            <div class="dealcard-img imgbox" style="background: transparent none repeat scroll 0% 0%;">
                            <img src="../image/goods-1.jpg" style="width: 100%;">
                        	</div>
                        	<div class="dealcard-block-right">
                                <div class="dealcard-brand single-line">MOMO喜多</div>
                                <div class="title text-block">[航洋国际]杯子蛋糕（2个）1份</div>
                                <div class="price">
                                    <span class="strong">9.8</span><span class="strong-color">元</span>
                                    <del>15元</del><span class="line-right"> 已售4310 </span>
                                </div>
                        	</div>
						</div>
                    </a>
                    </dd>
                    <dd>
                    <a class="react " href="">
                        <div class="dealcard">
                            <div class="dealcard-img imgbox" style="background: transparent none repeat scroll 0% 0%;">
                            <img src="../image/goods-1.jpg" style="width: 100%; height:85px">
                        	</div>
                        	<div class="dealcard-block-right">
                                <div class="dealcard-brand single-line">MOMO喜多</div>
                                <div class="title text-block">[航洋国际]杯子蛋糕（2个）1份</div>
                                <div class="price">
                                    <span class="strong">9.8</span><span class="strong-color">元</span>
                                    <del>15元</del><span class="line-right"> 已售4310 </span>
                                </div>
                        	</div>
						</div>
                    </a>
                    </dd>
                </dl>
            </dd>
        </dl>
        
        <dl class="list keep2"  style="display:none;">
            <dd>
                <dl>
                    <dd>
                    <a class="react" href="">
                    <div class="dealcard poicard">
                        <div class="dealcard-img imgbox"  style="background: transparent none repeat scroll 0% 0%;">
                        	<img src="../image/bg_default_poi_list.png" style="width: 100%; height:85px">
                        </div>
                        <div class="dealcard-block-right">
                            <h6 class="dealcard-brand single-line">
                                <span class="poiname">煲煲爸爸主题餐厅</span>                               
                            </h6>
                            <div class="info">
                                <span class="stars">
                                <i class="text-icon icon-star"></i>
                                <i class="text-icon icon-star"></i>
                                <i class="text-icon icon-star"></i>
                               	<i class="text-icon icon-star"></i>
                                <i class="text-icon icon-star-gray"></i>
                                </span>
                                <span class="pull-right">人均：14元</span>
                            </div>
                            <div class="pos">
                                航洋国际
                                <span class="pull-right"></span>
                            </div>
                        </div>                  
                    </div>
                    </a>
                    </dd>
                    <dd>
                    <a class="react" href="">
                    <div class="dealcard poicard">
                        <div class="dealcard-img imgbox"  style="background: transparent none repeat scroll 0% 0%;">
                        	<img src="../image/bg_default_poi_list.png" style="width: 100%; height:85px">
                        </div>
                        <div class="dealcard-block-right">
                            <h6 class="dealcard-brand single-line">
                                <span class="poiname">煲煲爸爸主题餐厅</span>
                                <span class="dealtype-icon" style="color:#fff">团</span>
                            </h6>
                            <div class="info">
                                <span class="stars">
                                <i class="text-icon icon-star"></i>
                                <i class="text-icon icon-star"></i>
                                <i class="text-icon icon-star"></i>
                                <i class="text-icon icon-star-gray">
                                	<i class="text-icon icon-star-half"></i>
                                </i>
                                <i class="text-icon icon-star-gray"></i>
                                </span>
                                <span class="pull-right">人均：14元</span>
                            </div>
                            <div class="pos">
                                航洋国际
                                <span class="pull-right"></span>
                            </div>
                        </div>                  
                    </div>
                    </a>
                    </dd>
                    
                    
                </dl>
            </dd>
        </dl>
   	</div>
<script>
$(function() {
	$('.btn-wrapper .tab1').click(function(e) {
		$('.btn-wrapper li').removeClass('active');
        $(this).addClass('active');
		$('.keep1').css({"display":"block"});
		$('.keep2').css({"display":"none"});
    });
	$('.btn-wrapper .tab2').click(function(e) {
		$('.btn-wrapper li').removeClass('active');
        $(this).addClass('active');
		$('.keep1').css({"display":"none"});
		$('.keep2').css({"display":"block"});
    });
});
</script>
     
</div>


<div class="top-btn" style="display: block;">
<a class="react">
    <i class="text-icon">⇧</i>
</a>
</div>
    <script>
    
    //top行为
    $('.top-btn').on('click',function(){
    $("html, body").animate({ scrollTop: 0 }, "slow");
    });
    if ($(document).scrollTop() == 0) {
    $('.top-btn').css('display','none');
    }
    $(document).bind('scroll',function() {
    if ($(document).scrollTop() == 0) {
    $('.top-btn').css('display','none');
    }else{
    $('.top-btn').css('display','block');
    }
    })	
	</script>
<script src="../script/fakeLoader.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    $(".fakeloader").fakeLoader({
        timeToHide:1200,
        bgColor:"#1abc9c",
        spinner:"spinner6"
    });
});
</script>    
	</body>
</html>
