{template 'header'}
<body>
<style>
.yd-list-other{
    margin-top: 5px;
}
.gobuy{
    position: absolute;
    bottom: 3px;
}
</style>
<div id="hook-app">
    <yd-navbar title="商品列表">
        <a href="<?php echo $this->createMobileUrl('center'); ?>" slot="left">
            <yd-navbar-back-icon></yd-navbar-back-icon>
        </a>
        <a href="" slot="right" @click.prevent="handle">
            <yd-icon name="type" size=".35rem" color="#FF685D"></yd-icon>
        </a>
    </yd-navbar>
    <div id="tixian">
        <yd-list :theme="theme" class="good-list">
            {loop $goodLists $good}
            <yd-list-item @click.native="cart({$good['id']})">
                <img slot="img" src="{php echo tomedia($good['thumb'])}">
                <span slot="title">{$good['title']}</span>
                <yd-list-other slot="other">
                    <div>
                        <span class="demo-list-price" style="color:#f30;"><em>¥</em>{$good['price']}</span>
                    </div>
                    <div class="gobuy"><a href="<?php echo $this->createMobileUrl('order',['id'=>$good['id']]) ?>"><yd-icon name="shopcart" size=".25rem" color="#ffffff"></yd-icon> 购买</a></div>
                </yd-list-other>
            </yd-list-item>
            {/loop}
        </yd-list>
    </div>
    {template 'footer'}
</div>

<script>
    var orderUrl = "<?php echo $this->createMobileUrl('order') ?>";
    var url = "<?php echo $this->createMobileUrl('order',['op'=>'create']); ?>";
    var app = new Vue({
        el: '#hook-app',
        data: {
            theme: "<?php echo $config['theme'] ?>"
        },
        methods: {
            cart: function(id){
                location.href = orderUrl + '&id=' + id;
            },
            handle: function(){
                this.theme = this.theme == 1 ? 5 : 1;
                return false;
            }
        }
    });
</script>

