#album-win{position: absolute;z-index: 105; width: 280px;border:1px #e8e8e8 solid;border-radius: 1px;padding:14px;background: #fff;left: 40%;top: 40%;}
#album-win:before{content: "";position: absolute;right: 27px;bottom: -8px;width: 14px;height: 8px;background: url(../images/album-win-icon.png) 0 -9px;transform: rotate(180deg)}
#album-win .add-album{height: 30px;}
#album-win .add-album .txt{width: 190px;height: 30px;border:1px #e8e8e8 solid;border-radius: 1px;background: #fcfcfc;color:#666;padding:0 9px;line-height: 28px;}
#album-win .add-album .btn{    pointer-events: initial;width: 55px;border:1px #e8e8e8 solid;background: #f8f8f8;height: 30px;line-height: 28px;border-radius: 1px;color:#999;cursor: pointer;text-align: center;}
#album-win .add-album .btn.pointer{background: #ffd200;border-color: #ffd200;pointer-events: initial;color:#333;}
#album-win .album-plist{border:1px #e8e8e8 solid;margin-bottom: 10px;overflow-y: auto;height: 150px;}
#album-win .album-plist::-webkit-scrollbar{width:4px;background: #e8e8e8}
#album-win .album-plist::-webkit-scrollbar-thumb{width: 4px;border-radius: 1px;background: #c1c1c1;}
#album-win .album-plist .plist{height: 30px;line-height: 30px;color:#666;padding:0 4px 0 9px;transition: background .2s;position: relative;cursor: pointer;}
#album-win .album-plist .plist:hover{background: #f8f8f8;}
#album-win .album-plist .plist .add-album-btn{padding: 0 5px;height: 22px;line-height: 22px;color:#333;background: #ffd500;border-radius: 2px;float: right;margin-top: 4px;display: none;}
#album-win .album-plist .plist:hover .add-album-btn{display: block;}
#album-win .album-plist .album-plist-empty{width: 123px;font-size: 12px;color: #999;margin: 0 auto;padding-top: 46px;}
#album-win .bottom-btn{height: 30px;}
#album-win .bottom-btn span{width: 55px;height: 30px;line-height: 28px;text-align: center;margin-left: 10px;color:#666;border-radius: 1px;cursor: pointer;}
#album-win .bottom-btn span:hover{color:#333;}
#album-win .bottom-btn span.close{background: #f8f8f8;border:1px #e8e8e8 solid;}
#album-win .bottom-btn span.ok{background: #ffd200;border:1px #eec400 solid;}
#album-win .album-plist .plist span{max-width:140px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;float:left;}
#album-win .album-plist .plist i{font-size: 12px;color:#999;}
.current-position{padding:30px 0;}
#album .banner{background: url(../images/album-banner.jpg) no-repeat center;;height: 200px;}
#album .album-list{padding-top: 10px;}
#album .album-list .wrap{width: 103%;overflow: hidden;}
#album .album-list .list{width: 232px;margin:20px 20px 0 0;float: left;position: relative;transition: box-shadow .2s}
#album .album-list .list:hover{box-shadow: 0 0 10px rgba(0,0,0,.1)}
#album .album-list .list .tips{position: absolute;right: 0;top: 5px;height: 20px;color:#fff;padding:0 8px;border-top-left-radius:10px;border-bottom-left-radius: 10px;line-height: 20px;background: linear-gradient(to right,#ff731f,#ff5002);}
#album .album-list .list .img{height:350px;overflow: hidden;}
#album .album-list .list .img img{width: 100%;height:350px;display: block;}
#album .album-list .list .con{height: 42px;line-height: 40px;padding:0 14px;border:1px #e8e8e8 solid;border-top: none;}
#album .album-list .list .con a{display: block;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
#album .album-list .list .con a:hover{color:#ff7700;}
#album .subnav{border:1px #e8e8e8 solid;margin-top: 30px;padding:8px 0;}
#album .album-nav{background: #fff;position: relative;padding:0 90px 0 100px}
#album .album-nav .nav-l{position: absolute;left: 30px;top: 12px;font-size: 16px;width:60px;}
#album .album-nav .nav-l:before{content: "";position: absolute;right: 0;top: 1px;height: 16px;width: 1px;background: #e8e8e8;}
#album .album-nav .nav-m{line-height: 40px;overflow: hidden;height: 40px;}
#album .album-nav .nav-m .more-btn{position: absolute;right: 30px;top: 0;font-size: 16px;color:#666;cursor: pointer;}
#album .album-nav .nav-m .more-btn i{width: 14px;height: 8px;background: url(../images/album-icon.png);display: inline-block;margin-right: 5px;transition: all .2s}
#album .album-nav .nav-m .more-btn.active i{transform: rotate(180deg);}
#album .album-nav .nav-m a{padding:0 20px; font-size: 16px;color:#666;display: inline-block;position: relative;margin-left: -1px;}
#album .album-nav .nav-m a:before{content: "";position: absolute;left: 0;top: 12px;height: 16px;width: 1px;background: #e8e8e8; }
#album .album-nav .nav-m a:hover,#album .album-nav .nav-m a.active{color:#ff7700;}
#album .album-description{border:1px #e8e8e8 solid;position: relative;}
#album .des-t{position: relative;padding:19px 19px 22px;}
#album .des-t .album-name{height: 20px;margin:8px 0 18px;}
#album .des-t .album-name h3{color:#666;font-size: 20px;font-weight: bold;margin-right: 20px;line-height: 18px;}
#album .des-t .album-name .tags{border-left: 1px #999999 solid;padding-left: 20px;color:#666;height: 20px;line-height: 20px;}
#album .des-t .album-name .tags a{display: inline-block;margin:0 7px;}
#album .des-b{background: #f8f8f8;height: 61px;border-top: 1px #e8e8e8 solid;padding-left: 19px;}
#album .des-b .avatar{margin-right: 15px;width: 40px;height: 50px;padding-top: 10px;}
#album .des-b .avatar img{display: block;width: 40px;height: 40px;border-radius: 50%;}
#album .des-b .avatar-r .p1{padding-top: 10px;color:#999999;}
#album .des-b .avatar-r .p1 a{color:#666;display: inline-block;margin-right: 14px;}
#album .des-b .avatar-r .p2{padding-top: 10px; font-size: 12px;color:#999;}
#album .des-b .avatar-r .p2 a{color:#e76700;}
#album .des-b .tabs a{display: inline-block;padding:0 16px;height: 60px;line-height: 60px;font-size: 16px;color:#666;border-left:1px #e8e8e8 solid;}
#album .des-b .tabs a:hover,#album .des-b .tabs a.active{background: #efefef;}
#album .album-description .share{position: absolute;right: 19px;top: 19px;z-index: 2}
#album .album-description .share > div.fr{margin-left: 20px;}
#album .album-description .share > div > a{padding:0 18px;height: 36px;line-height: 34px;border:1px #e8e8e8 solid;border-radius: 4px;display: inline-block; font-size: 16px;color:#666;}
#album .album-description .share .collect a{background: #ffd200;border-color:#eec400;color:#333;}
#album .album-description .share .collected{height: 36px;overflow: hidden;}
#album .album-description .share .collected a{display: block;transition: all .3s}
#album .album-description .share .collected:hover .c1{margin-top: -36px;}
#album .album-description .share .share-btn{position: relative;height:43px; }
#album .album-description .share .share-btn .btn-m{position: absolute;top: 43px;right: 0;height: 37px;background: #f8f8f8;border:1px #e8e8e8 solid;border-radius: 4px;width: 192px;padding-top: 5px;display: none;}
#album .album-description .share .share-btn:hover .btn-m{display: block;}
#album .album-description .share .share-btn .btn-m a{float: left;width: 25px;height: 25px;background: url(../images/album-icon.png);margin:0 3px 0 9px;}
#album .album-description .share .share-btn .btn-m a.qq{background-position: -26px -10px}
#album .album-description .share .share-btn .btn-m a.wechat{background-position: -26px -36px}
#album .album-description .share .share-btn .btn-m a.weibo{background-position: -26px -62px}
#album .album-description .share .share-btn .btn-m a.huaban{background-position: -26px -88px}
#album .album-description .share .share-btn .btn-m a.qzone{background-position: -26px -114px}
#album .album-description .share .share-btn .btn-m a.qq:hover{background-position: 0 -10px}
#album .album-description .share .share-btn .btn-m a.wechat:hover{background-position: 0 -36px}
#album .album-description .share .share-btn .btn-m a.weibo:hover{background-position: 0 -62px}
#album .album-description .share .share-btn .btn-m a.huaban:hover{background-position: 0 -88px}
#album .album-description .share .share-btn .btn-m a.qzone:hover{background-position: 0 -114px}
#album .album-description .share .share-btn .btn-m:before{content: "";width: 7px;height: 6px;background: url(../images/album-icon.png) -18px 0;position: absolute;right: 20px;top: -5px;}
#album .des-t .album-con{line-height: 18px;color:#999;}
#album .collect-list .wrap{width: 103%;}
#album .collect-list .list{width: 226px;height: 240px;margin:20px 27.5px 0 0;float: left;position: relative;transition: box-shadow .2s;border:1px #e8e8e8 solid;text-align: center;padding-top: 29px;}
#album .collect-list .list:hover{box-shadow: 0 0 10px rgba(0,0,0,.1)}
#album .collect-list .list .avatar{display: block;width: 105px;height: 105px;border:1px #eaeaea solid;border-radius: 50%;margin:0 auto;}
#album .collect-list .list .avatar img{display: block;width: 103px;border-radius: 50%}
#album .collect-list .list .user-name{color:#666;font-size: 20px;padding:0 30px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;margin-top: 25px;display: block;}
#album .collect-list .list .num{color:#999;font-size: 16px;margin-top: 20px;}
#album .flow-list{padding-top: 20px;}


/*图片详情*/

#atlas {
width:100%;
padding: 0 8px 20px;
margin: 0 auto;
overflow: hidden;
padding-bottom: 15px;
/*box-shadow: 0 0 8px 1px #e4e5e6;*/
}

#atlas li {
display: inline-block;
width: 226px;
height: 290px;
line-height: 290px;
border: 1px solid #eaeaea;
margin-left:0.88rem;
margin-top: 1%;
cursor: pointer;
float: left;
position: relative;
overflow: hidden;
text-align: center;
background: #eee;
}

#atlas li img {
max-width: 100%;
}

#atlas li span {
position: absolute;
bottom: 5px;
right: 5px;
background: rgba(0, 0, 0, .5);
color: #fff;
padding: 0 10px;
height: 20px;
text-align: center;
line-height: normal;
}

#atlas li p {
position: absolute;
top: 10px;
left: 0;
background: rgba(0, 0, 0, .5);
color: #fff;
padding: 0 10px;
height: 30px;
line-height: 30px;
font-size: 14px;
}

/*登录注册*/
.login-box,.register-box {
display: none;
width: 330px;
margin: 30px auto 0;
border-radius: 5px;
}

.login-box .login {
height: 100%;
display: block;
}
.login-box .register{
display: none;
}
.login-box .box .login-list {
height: 40px;
line-height: 40px;
padding-left: 10px;
margin: 0 30px 10px 30px;
border: 1px solid #afafaf;
}
.login-box .box .login-list i{
float: left;
font-size: 20px;
color: #666;
}
.login-box .box .login-list i.fn-nicheng{
font-size: 24px;
margin-left: -3px;
margin-right: 3px;
}
.login-box .box .login-list input{
float: left;
}
.login-box .box .code-box{
border: 0;
}
.login-box .box .code-box .code-input{
display: inline-block;
width: 165px;
margin-left: -10px;
border: 1px solid #ccc;
padding-left: 10px;
}
.login-box .box .code-box span{
display: inline-block;
border: 1px solid #ccc;
float: right;
width: 85px;
text-align: center;
color: #8e8e8e;
cursor: pointer;
}
.login-box .box .code-box .code-input input{
width: 130px;
}
.login-box .box .login-list input {
width: 227px;
height: 30px;
padding-left: 10px;
color: #6f6f6f;
border: 0;
background: transparent;
height:40px;
line-height: 40px;
outline: none;
}
.login-box .box .login-list input.code{
width: 120px;
}
.login-box .box .login-list img{
width: 100px;
}

.login-box .box .submit-btn {
display: block;
background: #53acec;
margin: 35px 30px 20px;
height: 35px;
line-height: 35px;
border-radius: 5px;
text-align: center;
color: #fff;
font-size: 16px;
}

.login-box .box .forget {
margin: 0 30px;
text-align: right;
color: #888;
}

.login-box .box .forget a {
color: #888;
}

.isSelected {
color: #da2657 !important;
}
 


/*小图标btn*/
.btn{
display: inline-block;
width: 18px;
/*height:20px;*/
text-align: left;
}
/*金币*/
.fn-jinbi1{
color: #eabd11 !important;
}
font {
background: #ff6c00;
color: #fff;
padding: 0 2px;
}

/*媒体查询*/
@media screen and (max-width: 1400px){
.g-header .g-box,
.content,
.focus-wrap .focus-nav,
.main,
.error-box,
.main p.link,
#atlas{
width: 980px !important;
}
.spv-player .interact > div {
width: 695px !important;
}
.comment-left,.base .base-info{
width: 650px !important;
}
.g-header .g-box .search .search-box input {
width: 160px !important;
}
.vault-main .sort-box .panel .sort-cel{
margin: 0 5px !important;
}
.novel-main .novel-left{
width: 625px !important;
}
.novel-left li .novel-box{
width: 445px !important;
}
.M-content{
width: 725px !important;
}
#atlas{
width:1030px !important;
}
.extension{width: 550px !important;}

.novel-list li{
float: none;
width: 97%;
height: 35px;
}
.novel-list li:nth-last-child(2){
border-bottom: 1px dotted #ddd;
}
.novel-list li a p{
width: 570px;
}
.M-info .video-box .Atlas-box li{
width: 190px !important;
}
.M-info .Atlas-box li{
margin: 10px 13px 20px !important;
}

#more-comment{
text-align: center;
margin: 10px;
border-top: 1px dotted #eee;
padding-top: 5px;
cursor: pointer;
color:#575e69;
}

}

