<div class="panel panel-info">
    <div class="panel-heading">全局排行榜设置</div>
    <div class="panel-body">
      <div class="form-group">
        <label class="col-xs-12 col-sm-3 col-md-2 control-label">排行榜攻略网址</label>
        <div class="col-sm-6">
          <input type="text" name="tips" value="{$reply['tips']}" class="form-control"/>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <div class="form-group">
        <label class="col-xs-12 col-sm-3 col-md-2 control-label">排行榜底部版权</label>
        <div class="col-sm-6">
          <input type="text" name="copyright" value="{$reply['copyright']}" class="form-control"/>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <div class="form-group">
        <label class="col-xs-12 col-sm-3 col-md-2 control-label">排行榜显示条数</label>
        <div class="col-sm-6">
          <input type="number" name="rank_num" value="{$reply['rank_num']}" class="form-control"/>
          <div class="help-block">不填写默认显示50条</div>
        </div>
      </div>
    </div>
  </div>