{php include wl_template('common/header');}
<ul class="nav nav-tabs">
	<li class="active"><a href="{php echo web_url('data/movecar')}">所有记录</a></li>
</ul>
<div class="panel panel-default">
	<div class="panel-heading">筛选</div>
	<div class="panel-body">
		<div class="form-group">
			<label class="col-md-2 control-label">类型</label>
			<div class="col-sm-8 col-xs-12">
				<div class="btn-group">
					<a href="{php echo filter_url('model:-1');}" class="btn {if $_GPC['model'] == -1 || $_GPC['model'] == ''}btn-primary{else}btn-default{/if}">不限</a>
					<a href="{php echo filter_url('model:2');}" class="btn {if $_GPC['model'] == 2}btn-primary{else}btn-default{/if}">未点评</a>
					<a href="{php echo filter_url('model:1');}" class="btn {if $_GPC['model'] == 1}btn-primary{else}btn-default{/if}">已点评</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="panel panel-default">
	<div class="table-responsive">
		<table class="table table-hover">
			<thead class="navbar-inner">
				<tr>
					<th style="width:100px;">发起人</th>
					<th style="width:100px;">车主</th>
					<th style="width:110px;">车牌</th>
					<th style="width:200px;">地点</th>
					<th style="width:140px;">发送时间</th>
					<th style="width:140px;" class="text-right">是否评论</th>
				</tr>
			</thead>
			<tbody>
			{loop $list $li}
				<tr>
					<td><img src="{$li['favatar']}" width="40" onerror=""> {$li['fnickname']}</td>
					<td><img src="{$li['javatar']}" width="40" onerror=""> {$li['jnickname']}</td>
					<td><span class="label label-success">{$li['carcard']}</span></td>
					<td>{$li['location']}</td>
					<td>
						{php echo date("Y-m-d H:i:s",$li['createtime'])}
					</td>
					<td class="text-right" style="overflow:visible;">
						{if $li['comment'] != 1}<span class="label label-default">未点评</span>{else}<span class="label label-primary" onclick="javascript:layer.open({type: 1,skin: 'layui-layer-rim',area: ['420px', '240px'],content: '{$li['comment_cont']}'});">查看点评</span>{/if}
					</td>
				</tr>
			{/loop}
			</tbody>
		</table>
	</div>
</div>
{$pager}
{php include wl_template('common/footer');}
