{template 'public/header'}
{template 'public/comhead'}
<link rel="stylesheet" type="text/css" href="../addons/mzhk_sun/template/public/ygcss.css">
<!--<script src="../addons/mzhk_sun/static/layui/layui.js"></script>-->
<!--<script src="../addons/mzhk_sun/static/layui/layui.all.js"></script>-->
<style type="text/css">
    input[type="radio"] + label::before {
        content: "\a0"; /*不换行空格*/
        display: inline-block;
        vertical-align: middle;
        font-size: 16px;
        width: 1em;
        height: 1em;
        margin-right: .4em;
        border-radius: 50%;
        border: 2px solid #ddd;
        text-indent: .15em;
        line-height: 1;
    }
    input[type="radio"]:checked + label::before {
        background-color: #444444;
        background-clip: content-box;
        padding: .1em;
        border: 2px solid #444444;
    }
    input[type="radio"] {
        position: absolute;
        clip: rect(0, 0, 0, 0);
    }
</style>

<ul class="nav nav-tabs">
    <span class="ygxian"></span>
    <div class="ygdangq">当前位置:</div>
    <li><a href="{php echo $this->createWebUrl('kanjiaopen')}">砍价设置</a></li>
    <li><a href="{php echo $this->createWebUrl('bargainlist')}">砍价商品列表</a></li>
    <li class="active"><a href="{php echo $this->createWebUrl('addbargain')}">添加砍价商品</a></li>
</ul>
<div class="main">
    <form action="" method="post" class="form-horizontal form" enctype="multipart/form-data">
        <!--<input type="hidden" name="parentid" value="{$parent['id']}" />-->
        <div class="panel panel-default ygdefault">
            <div class="panel panel-default">
                <div class="panel-body ygbtn">
                    {if $info['id']}
                    <div class="btn ygyouhui2"><a href="javascript:;">砍价商品编辑</a></div>
                    {else}
                    <div class="btn ygyouhui2"><a href="{php echo $this->createWebUrl('addbargain')}">砍价商品添加</a></div>
                    {/if}
                </div>

            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">商品名称</label>
                    <div class="col-sm-9">
                        <input type="text" name="gname" class="form-control" placeholder="商品名称字数限制14个" value="{$info['gname']}" />
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">商品原价</label>
                    <div class="col-sm-9">
                        <input type="text" name="marketprice" class="form-control" value="{$info['marketprice']}" />
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">商品最低价</label>
                    <div class="col-sm-9">
                        <input type="text" name="shopprice" class="form-control" value="{$info['shopprice']}" />
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label for="lastname" class="col-sm-2 control-label">是否显示在首页</label>
                    <div class="col-sm-10">
                        <label class="radio-inline">
                            <input type="radio" id="emailwy1" name="showindex" value="1" {if $info['showindex']==1}checked{/if} />
                            <label for="emailwy1">是</label>
                        </label>
                        <label class="radio-inline">
                            <input type="radio" id="emailwy2" name="showindex" value="0" {if $info['showindex']==0}checked{/if} />
                            <label for="emailwy2">否</label>
                        </label>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">商品数量</label>
                    <div class="col-sm-9">
                        <input type="text" name="num" class="form-control" value="{$info['num']}" />
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div style="margin-left: 170px">
                    <label class="layui-form-label">活动开始时间</label>
                    <div class="layui-input-inline">
                        <input type="text" class="layui-input" name="starttime" value="{$info['starttime']}" id="astime" placeholder="yyyy-MM-dd H:i:s">
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div style="margin-left: 170px">
                    <label class="layui-form-label">活动结束时间</label>
                    <div class="layui-input-inline">
                        <input type="text" class="layui-input" name="endtime" value="{$info['endtime']}" id="antime" placeholder="yyyy-MM-dd H:i:s">
                    </div>
                </div>
            </div>
            <div class="form-group" style="margin-left: 3px;">
                <label class="col-xs-12 col-sm-3 col-md-2 control-label">活动商品图</label>
                <div class="col-sm-9">
                    {php echo tpl_form_field_image('pic', $info['pic'])}
                    <span class="help-block">*建议宽高750*550</span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-12 col-sm-3 col-md-2 control-label">商品详情</label>
                <div class="col-sm-9">
                    {php echo tpl_ueditor('details',$info['details']);}
                </div>
            </div>

            <div class="panel-body">
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">活动说明</label>
                    <div class="col-sm-9">
                        <textarea name="content" class="form-control" placeholder="请输入内容" cols="30" rows="7">{$info['content']}</textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <input type="submit" name="submit" value="提交" class="btn col-lg-3" style="color: white;background-color: #444444;margin-left: 450px;"/>
            <input type="hidden" name="token" value="{$_W['token']}" />
            <input type="hidden" name="id" value="{$info['id']}" />
        </div>
    </form>
</div>
<script type="text/javascript">
    layui.use('laydate', function(){
        var laydate = layui.laydate;
        laydate.render({
            elem: '#astime',
            type: 'datetime'
        });
        laydate.render({
            elem: '#antime',
            type: 'datetime'
        });
    });


    $(function(){
        $("#frame-123").show();
        $("#yframe-123").addClass("wyactive");
    })
</script>