@charset "utf-8";
/* CSS Document */

body,html,p
{
	margin:0;

}

body{
	background:url(../img/background.png);
	background-repeat:no-repeat;
	background-size:round;
}
.background{
	height:100%;

}

/*白色背景*/
.center-view
{
	margin:0 auto;

}

.bg-main
{
	background-color:#FFF;
	width:90%;
	border-radius:0.5rem;
	overflow:hidden;
	margin-top: 20px;
}

.font-top
{
	font-size:1.6rem;
	text-align:center;
	position:relative;
}
h4{
	margin:1rem 0;

}
/*二维码部分*/
.erweima-bg
{
	/*margin-top: -3.5rem;*/
}
.hong{
	margin: 0 auto;
	width:100%;

}
.hong img
{
	width: 100%;
}


.bai
{
	width:95%;
	height:3rem;
	background-color:#FFF;
	position:relative;
	left:-0.06rem;
	top:0.15rem;
}
.font-bai
{
	font:"微软雅黑";
	font-size:1.5rem;
	text-align:center;
	line-height:2.7rem;
	color:#F00;
	letter-spacing:0.2rem;
}

.ma-img
{
	background:url(images/ma-img_03.png);
	background-repeat:no-repeat;
	background-size:cover;
	width:7.5rem;
	height:7.5rem;
	position:relative;
	top:1.5rem;
}

.yellow
{
	background:url(images/yellow_07.png);
	background-repeat:no-repeat;
	background-size:cover;
	width:27%;
	height:3.3rem;
	position:relative;
	left:-1.6rem;
	top:1.5rem;
}

.orange
{
	width:60%;
	height:1rem;
	background-color:#ff7247;
	position:relative;
	top:-1rem;
}
.font-orange
{
	color:#FFF;
	font-size:0.5rem;
	font:"微软雅黑";
	text-align:center;
}



.xian
{
	width:90%;
	height:0.1rem;
	margin:0 auto;
	background-color:#f0f0f0;
	margin-top:1rem;

}

.biaozhi
{
	width:100%;
	text-align:center;
	padding-bottom: 1rem;
}
.biaozhi div{
	display: inline-block;
}.biaozhi span{
	 display: block;
 }
.biaozhi_1{
	margin:0 auto;

	width:27%;

}
.aliicon{
	display: inline-block;
	height: 3.5rem;
	width: 3.5rem;
	border-radius: 3.5rem;
	background: #fbfbfb;
	line-height: 3.5rem;
	margin:1rem 1rem 0.5rem  1rem;
}
.lingqu img
{
	width:17%;
	position:relative;
	top:-9.5rem;
	left:1rem;
	display:inline;
}

.font-lingqu
{
	font:"微软雅黑";
	font-size:1rem;
	position:relative;
	top:-9.5rem;
	left:0.6rem;
}




.goumai img
{
	width:17%;
	position:relative;
	top:-13.3rem;
	left:8rem;
	display:inline;
}

.font-goumai
{
	font:"微软雅黑";
	font-size:1rem;
	position:relative;
	top:-14.2rem;
	left:7.6rem;
}


.top-main{
	display: flex;
	justify-content:center;
	align-items:baseline;
}

.shengcheng img
{
	width:17%;
	position:relative;
	top:-19rem;
	left:15rem;
	display:inline;
}

.font-shengcheng
{
	font:"微软雅黑";
	font-size:1rem;
	position:relative;
	top:-19rem;
	left:14.5rem;
}

.clead
{
	clear:both;
}

.tuijian
{
	position:relative;
	bottom: 4.5rem;
	left: 2rem;
}
.tuijian img{
	width: 3rem;
}
span{
	display:inline-block;
}

.font-tuijian
{
	font:"微软雅黑";
	font-size:0.01rem;
	line-height:1rem;
	color:#FFF;
}

























