<span style="margin: 5px;">门店</span>
<select  class="store_select btn btn-mini" style="border: 1px solid #ccc">
        {% for key,item in options %}
        <option value="{{key}}"
                {% if key == store_id %}
                selected
                {% endif %}
        >{{item}}</option>
        {% endfor %}
</select>
