/*-----------------[初始化]--------------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; vertical-align: baseline;}
html {-webkit-text-size-adjust: 100%}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ol, ul { list-style: none; }
a {text-decoration: none;color: inherit; -webkit-tap-highlight-color: transparent;}
a:hover { color: inherit; }
img { max-width: 100%; }
table { border-collapse: collapse; border-spacing: 0; }
input, select, textarea, button {font: inherit;color: inherit;outline: none;}
button, input[type='submit'], input[type='reset'], input[type='button'], input[type='radio'], input[type='checkbox'], select {-webkit-appearance: none;-moz-appearance: none;appearance: none;cursor: pointer;}
select::-ms-expand {display: none;}
input:focus,textarea:focus {outline: none;}
input::-ms-clear {display: none;}
.fix, .wp {*zoom: 1;}
.fix:after, .fix:before, .wp:after, .wp:before {display: block;content: "clear";height: 0;clear: both;overflow: hidden;visibility: hidden;}
*, *:before, *:after {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}

body {position: relative;color: #333; background: #f2f2f2; font: 14px/1.5 sans-serif;}
::-webkit-input-placeholder { color: #999; }
::-moz-placeholder { color: #999; }
::-ms-input-placeholder { color: #999; }

.wp {
    *zoom: 1;
    margin: 0 auto;
}

.wp:before, .wp:after {
    display: block;
    content: "clear";
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden;
}


.slot-ban a {
    display: block;
}

.slot-ban a img {
    display: block;
    width: 100%;
}

.slot-tabs {
    position: relative;
    height: 41px;
}

.header-nav {
    position: absolute;
    width: 100%;
    z-index: 99;
    line-height: 40px;
    border-bottom: 1px solid #e3e3e3;
    height: 41px;
    overflow: hidden;
    background-color: #fff;
    padding-right: 50px;
}

.slot-tabs .filter-icon {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 40px;
    background-color: #fff;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, .4);
    background: url('../images/icon-down.png') no-repeat center center;
    -webkit-background-size: 15px auto;
    background-size: 15px auto;
}

.header-nav-list {
    font-size: 0;
    white-space: nowrap;
    overflow-x: auto;
}

.header-nav-list .item {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    font-size: 12px;
}

.header-nav-list .item a {
    display: block;
    padding: 0 15px;
}

.header-nav-list .item.active span {
    position: relative;
    display: inline-block;
    color: #ff4201;
}

.header-nav-list .item.active span:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #ff4201;
}
.pop-bg {
    display: none;
    position: fixed;
    top: 0;left: 0;
    width: 100%;height: 100%;
    background-color: rgba(34,34,34,.6);
}
.header-nav-cont {
    position: fixed;
    top: 0;left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 100;
    overflow: hidden;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: .3s .3s;
    -o-transition: .3s .3s;
    transition: .3s .3s;
}
.header-nav-cont .item {
    float: left;
    width: 25%;
    text-align: center;
    line-height: 38px;
    margin: 5px 0 0;
}
.header-nav-cont .item.active {
    color: #ff4201;
}
.header-nav-cont.open {
    top: 41px;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}


.slot-list {
    overflow: hidden;
}

.slot-list .list {
    display: none;
}

.slot-list .list.active {
    display: block;
}

.slot-list li {
    overflow: hidden;
    margin: 6px 12px;
    background-color: #fff;
    padding: 12px;
    border-radius: 12px;
}

.slot-list .item {display: block;overflow: hidden;}

.slot-list .pic {
    float: left;
    width: 84px;
    height: 84px;
    border-radius: 3px;
    overflow: hidden;
    margin-right: 10px;
}

.slot-list .pic img {
    display: block;
    width: 100%;
    height: 100%;
}

.slot-list .txt {
    overflow: hidden;
}

.slot-list .name {
    font-size: 13px;
    line-height: 19px;
    color: #4a4a4a;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    height: 38px;
}

.slot-list .name .g-tb {
    width: 24px;
    height: 18px;
    margin-top: -3px;margin-right: 5px;
    display: inline-block;
    vertical-align: middle;
    background: url(../images/tb.png) no-repeat center center;
    -webkit-background-size: contain;
    background-size: contain;
}

.slot-list .name .g-tm {
    width: 24px;
    height: 18px;
    margin-top: -3px;margin-right: 5px;
    display: inline-block;
    vertical-align: middle;
    background: url(../images/tm.png) no-repeat center center;
    -webkit-background-size: contain;
    background-size: contain;
}

.slot-list .info {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;
    color: #9b9b9b;
    font-size: 12px;
}
.slot-list .price span {
    color: #333;margin-left: .4em;
}
.slot-list .price i {
    margin-left: .4em;font-size: 1.4em;
    font-weight: bold;
}
.slot-list .addr {font-size: 10px;}
.discount-price {
    margin: 5px 0 0;
    overflow: hidden;
}
.discount-price .sell {float: right;line-height: 18px;font-size: 12px;color: #666;}
.coupon-icon {
    float: left;
    border: 1px solid #f50;
    font-size: 12px;
    border-radius: 2px;
    height: 18px;
    line-height: 1;
    overflow: hidden;
    margin-right: 12px;
    position: relative;
}
.coupon-icon .coupon-icon-left {
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 16px;
    padding: 2px 0;
    color: #fff;
    background: #f50;
    text-align: center;
}
.coupon-icon .coupon-icon-left:after {
    content: "";
    position: absolute;
    right: -2px;top: 50%;margin-top: -2px;
    height: 4px;width: 4px;border-radius: 50%;
    background-color: #fff;
}
.coupon-icon .coupon-icon-right {
    color: #f50;
    display: inline-block;
    padding: 2px 0;
    padding-right: 2px;
    padding-left: 20px;
}
.discount-price .price-title {
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    color: #9b9b9b;
    vertical-align: middle;
}
.discount-price .price-num {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    color: #f40;
}

.discount-price .price-num i {
    font-style: normal;
    font-size: .7em;
}
.btns-wp {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: flex-end;
    -ms-align-items: center;
    align-items: center;
}
.btns-wp a {
    background: url(../images/btn-bg.png) no-repeat 0 0;-webkit-background-size: cover; background-size: cover;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    height: 28px;border-radius: 14px;color: #fff;font-size: 12px;padding: 0 .8em;margin-left: 18px;line-height: 1;
}
.btns-wp .icon {width: 15px;flex-shrink: 0;margin-right: .5em;}
.btns-wp .unit {margin: 0 .1em;}
.btns-wp .money {font-weight: bold;font-size: 1.3em;}

.header-nav.float {position: fixed;top: 0;left: 0;}
