/*首页样式*/
.cbc-live{
	height: 65px;
	background: url(../images/charpanel-live.png) repeat-x;
	border-radius:3px;
}
.cbc-live-today,
.cbc-live-yesterday{
	padding: 11px 0 0 9px;
}

.cbc-live-today{
	color: #ff9e00;
	padding-right: 80px;
}
.cbc-live-yesterday{
	color: #3c9dff
}

.cbc-live strong{
	display: block;
	font-size: 28px;
	font-weight:700;
	padding-top:5px;
	font-family:Arial;
}
/*chart-table*/
.chart-table{
	width:100%;
	background:#fff;
}
.chart-table thead td{
	background:#eee;
	border-bottom:1px solid #ccc;
	
}
.chart-table td{
	padding: 10px 10px 10px 0;
    white-space: nowrap;
    overflow: hidden;
}

.chart-table tbody tr:hover td{
	background: #F2F8FC;
}

/*hyd-modules*/
.hyd-modules-item-icon{
	display: block;
	margin: 20px auto 0;
	width:103px;
	height: 103px;
	background: url(../images/hyd_modules.png) no-repeat;
}

.hyd-modules-item-icon.phone{background-position:0px 0px;}
.hyd-modules-item-icon.terminal{background-position:-103px 0px;}
.hyd-modules-item-icon.pad{background-position:-206px 0px;}
.hyd-modules-item-icon.pc{background-position:-309px 0px;}

.hyd-modules{
	margin-right:-16px;
}

.hyd-modules-item{
	position: relative;
	width:225px;
	margin-right: 12px;
	background-color: #f5f5f5;
}

.hyd-modules-item a{
	display: block;
}

.hyd-modules-item-title{
	padding-top:23px;
	text-align: center;
	font-size: 14px;
	color: #333;
	font-weight: bold;
}

.hyd-modules-item-excerpt{
	padding-top: 15px;
	width:77%;
	margin:0 auto;
	color: #686868;
	line-height: 1.6em;
}
/*hyd-modules-pops*/
/*.hyd-modules-pops-overlay{
	display:none;
	position: fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color: rgba(205,205,205,0.64);
	z-index:9;
}*/
.hyd-modules-pops{
	display:none;
	position: absolute;
	bottom: -429px;
	left:50%;
	width: 750px;
	height: 414px;
	margin-left:-375px;
	background-color:#fff;
	z-index: 99;
	border-radius:5px;
	box-shadow: 1px 1px 9px 4px rgba(0,0,0,0.4);
}
.hyd-modules-pops.pc{margin-left: -160px;}
.hyd-modules-pops.pc .arrowup,
.hyd-modules-pops.pc .arrowup-border{margin-left: -229px;}

.hyd-modules-pops.pad{margin-left: -396px;}
.hyd-modules-pops.pad .arrowup,
.hyd-modules-pops.pad .arrowup-border{margin-left: 16px;}

.hyd-modules-pops.terminal{margin-left:0;left:auto;right:0;}
.hyd-modules-pops.terminal .arrowup,
.hyd-modules-pops.terminal .arrowup-border{margin-left: 0;left:auto;right: 95px;}

.hyd-modules-pops .close{
	display: block;
	position: absolute;
	right:10px;
	top:10px;
	z-index:999;
	width: 26px;
	height: 26px;
	background: url(../images/index_close.png) no-repeat;
	font-size:0;
}
.hyd-modules-pops .arrowup,
.hyd-modules-pops .arrowup-border{
	display: block;
	position: absolute;
	/*top:-28px;*/
	left: 50%;
	margin-left:-14px;
	width:0;
	height:0;
	border:14px solid #fff;
	border-color:transparent transparent #fff transparent;
	z-index:99;
}

.hyd-modules-pops .arrowup-border{
	top:-1px;
	border-color:transparent transparent #B0AEAF transparent;
	z-index:9;	
}

.hyd-modules-pops .left-con{
	background: #fafafa;
	width: 350px;
	height:auto;
	border-radius: 5px 0 0 5px;
	overflow:hidden;
}
.hyd-modules-pops .left-con img{
	width:100%;
	height:auto;
}
.hyd-modules-pops .right-con{
	padding: 0 25px 0 38px;
	width: 333px;
	border-radius:0 5px 5px 0;
	overflow:hidden;
}

.right-con .item{
	padding: 20px 0;
	border-bottom:1px dashed #d6d5d5;
}
.right-con .item:last-child{
	border-bottom:0;
}

.right-con .title{
	padding-top: 22px;
	font-weight: bold;
	font-size:24px;
	color: #686868;
	text-align: center;
}

.right-con .excerpt{
	font-size:16px;
	color: #686868;
	line-height: 1.6em;
}
.right-con .item-tel{
	height:61px;
	background: url(../images/index_tel.png) left center no-repeat;
	padding-left:71px;
}
.right-con .item-tel .txt,
.right-con .item-tel .num{
	font-weight: bold;
	font-size:24px;
	color: #686868;
}
.right-con .item-tel .txt{
	padding-top:5px;
}
.right-con .item-tel .num{
	color: #ed4a75;
	padding-top:10px;
}
.item-ask{
	padding: 10px 0;
}
.item-ask-title,
.item-ask-con{
	display: inline-block;
	vertical-align:middle;
}

.item-ask-title{
	width:90px;
	color: #686868;
	font-size: 16px;
	font-weight: bold;
	text-align: right;
}
.hyd-modules-item-btn{
	padding:10px 0;
	text-align:center;
}
.hyd-modules-item-btn p{
	display:inline-block;
	background:#fff;
	height: 25px;
    line-height: 25px;
    padding: 0 14px;
}

.hyd-modules-item-btn p:hover{
	background-color:#FF5101;
	color:#fff;
}


.zh_infor_box{ padding:10px 0;}
.zh_infor_box .zh_infor_left{ width:49%; float:left;}
.zh_infor_box .zh_infor_right{ width:49%; float:right;}
.zh_infor_box .zh_infor_tt{ width:100%; height:32px; line-height:32px; border-bottom:1px solid #ccc;}
.zh_infor_box .zh_infor_tt .itt{ font-weight:600;}
.zh_infor_box .zh_infor_tt .lit_icon{ width:20px; height:20px; display:inline-block; margin-bottom:-9px; margin-left:10px;}
.zh_infor_box .zh_infor_tt .mfl{background: url(../images/main_user.png) no-repeat;}
.zh_infor_box .zh_infor_tt .mfr{background: url(../images/main_stock.png) no-repeat;}
.zh_infor_box .zh_infor_item{ width:150px; float:left; height:30px; line-height:30px; margin-left:5px;}
.zh_infor_box .red{ color:#ff0017; font-weight: bold;}
.zh_infor_box .clear{ clear:both;}
.bdr{
	border-right: 1px solid #e7e7eb;
}


/* 分销商 */
.fxslist{
	height: 320px;
	margin-top: 10px;
}
.fxstitle{
	height: 20px;
	line-height: 20px;
	padding: 5px 0;
	font-size: 14px;
	font-weight: bold;
}
.fxstitle span{
	display: inline-block;
	width: 5px;
	height: 100%;
	background-color: #1c89d5;
	vertical-align: -5px;
	margin-right: 5px;
}
.fxsmain{
	position: relative;
	padding: 15px 0;
}
.fxspageicon{
	width: 16px;
	height: 80px;
	position: absolute;
	z-index: 999;
	right:0;
	top:15px;
}
.fxspageicon span{
	display: block;
	width: 16px;
	height: 16px;
	background-color: #D8D8D8;
	margin-bottom: 4px;
	cursor: pointer;
}
.fxspageicon span.cur{
	background-color: #1C89D5;
}
.fxsitem{
	height: 260px;
	overflow: hidden;
	position: relative;
}
.fxsinfo{
	width: 90px;
	position: relative;
	margin-right: 28px;
	margin-bottom: 10px;
}
.fxsinfo span{
	display: inline-block;
	position: absolute;
	right:-18px;
	top:0;
	color:#fff;
	border-radius: 3px;
	padding: 4px 5px;
}
.group{
	background-color: #EE0000;
}
.enterprise{
	background-color: #FF9C00;
}
.standard{
	background-color: #1C89D5;
}
.free{
	background-color: #8C8C8C;
}
.fxsimg{
	width: 82px;
	height: 82px;
	padding: 3px;
	border: 1px solid #E1E1E1;
	border-radius: 50%;
}
.fxsimg img{
	display: block;
	width: 82px;
	height: 82px;
	border-radius: 50%;
	margin:0;
	padding: 0;
}
.fxsinfo p{
	text-align: center;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	color:#427598;
	white-space:nowrap; 
	text-overflow:ellipsis; 
	-o-text-overflow:ellipsis; 
	overflow: hidden; 
}
.fxscode{
	display: none;
	width: 80px;
	height: 80px;
	padding: 10px;
	position: absolute;
	z-index: 33;
	left:50%;
	top:98px;
	margin-left: -45px;
	background-color: #fff;
	border:1px solid #DDDDDD;
	box-shadow: 2px 2px 2px #ddd;
}
.fxscode2{
	display: none;
	width: 80px;
	height: 80px;
	padding: 10px;
	position: absolute;
	z-index: 33;
	left:50%;
	top:-110px;
	margin-left: -45px;
	background-color: #fff;
	border:1px solid #DDDDDD;
	box-shadow: 2px 2px 2px #ddd;
}
.fxscodewrap{
	position: relative;
	z-index: 1;
}
.fxscodewrap img{
	display: block;
	width: 100%;
	height: 100%;
}
.caretArr{
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 2px;
	vertical-align: middle;
	border-bottom: 8px solid;	 
	border-right: 8px solid transparent;	
	border-left: 8px solid transparent;		
	border-bottom-color: #ddd; 
	position: absolute;
	z-index: 33;
	left:50%;
	top:-19px;
	margin-left: -4px;
}
.caretTop{
	top:-17px;
	z-index: 34;
	border-bottom-color:#fff; 
}
.allWrapper{
	position: absolute;
	top:0;
}
.caretDomn{
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 2px;
	vertical-align: middle;
	border-top: 8px solid;	 
	border-right: 8px solid transparent;	
	border-left: 8px solid transparent;		
	border-top-color: #ddd; 
	position: absolute;
	z-index: 33;
	left:50%;
	top:90px;
	margin-left: -4px;  
}
.caretDomn2{
	top:88px;
	border-top-color: #fff; 
}

/* 续费通知 */
.renew_notice{
	background: #f6f5f5;
	height: 134px;
	position: relative;
}
.renew_notice h2{
	position: absolute;
	left: -4px;
	top: 6px;
	background: url(../images/head_bg.png) no-repeat;
	height: 34px;
	width: 86px;
	line-height: 34px;
	color: #fff;
	text-align: center;
}
.renew_con{
	padding: 45px 0 0 0;
}
.renew_progress{
	width: 86%;
	margin: 20px 10px 0;
}
.renew_progress .progress_bar{
	background: #eeeeee;
	height: 10px;
	margin: 0 26px;
	position: relative;
}
.progress_bar .time_tip{
	position: absolute;
	right: 36px;
	top: -20px;
	color: #686666;
}
.progress_bar .fix_bar{
	float: left;
	background: #1c89d5;
	height: 10px;
	width: 80%;
}
.progress_bar .scroll_bar{
	float: left;
	width: 20%;
}
.progress_bar .scroll_bar b{
	float: left;
	background: #1c89d5;
	height: 10px;
}
.progress_time{
	margin-top: 14px;
}
.progress_time span{
	position: relative;
	color: #393939;
}
.progress_time i{
	position: absolute;
	top: -8px;
	left: 50%;
	height: 7px;
	width: 2px;
	background: #393939;
}
.time_step1{
	margin-right: 67%;
}
.time_step1 i{
	left: 44%;
}
.renew_btn{
	margin: 10px 34px 0 0;
}
.renew_btn a,
.renew_box_mid p .pay_btn{
	display: inline-block;
	*display: inline;
	*zoom:1;
	width: 77px;
	height: 30px;
	background: #ff9e00;
	color: #fff;
	border-radius: 4px;
	text-align: center;
	line-height: 30px;
}
.renew_overlay{
	position: fixed;
    z-index: 10;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 0.15;
    background: rgb(0, 0, 0);
    display: none;
}
.renew_box_con{
	display: none;
	width: 460px;
	height: 360px;
	position: fixed;
	left: 50%;
	top: 50%;
	z-index: 11;
	margin-top: -200px;
	margin-left: -250px;
	background: #eeeeee;
	border-radius: 4px;
	box-shadow: 0 0 10px #ccc;
	padding: 20px;
}
.renew_box_con .close_box{
	position: absolute;
	width: 24px;
	height: 24px;
	background: #fff;
	border-radius: 50%;
	right: 4px;
	top: 4px;
	line-height: 22px;
	text-align: center;
	font-style: normal;
	font-size: 20px;
	cursor: pointer;
}
.renew_box_con .renew_ico{
	position: absolute;
	right: 35px;
	top: -6px;
	width: 52px;
	height: 60px;
	line-height: 50px;
	text-align: center;
	color: #fff;
	background: url(../images/head_bg1.png) no-repeat;
	font-size: 14px;
}
.renew_box_con h2{
	color: #555555;
	line-height: 36px;
}
.renew_box_top,.renew_box_mid{
	border-bottom: solid 1px #c3c2c2;
	padding-bottom:15px; 
	margin-bottom: 10px; 
}
.chat_mode a{
	margin-right: 15px;
}
.renew_box_mid{
	padding-bottom:0px;
	margin-bottom: 15px; 
}
.renew_box_mid p{
	overflow: hidden;
	margin-bottom: 15px;
}
.renew_box_mid p label{
	width: 68px;
	height: 34px;
	line-height: 34px;
	float: left;
	color: #555;
}
.renew_box_mid p span{
	height: 34px;
	line-height: 34px;
}
.renew_box_mid p input[type="text"]{
	float: left;
	width: 322px;
	height: 34px;
	line-height: 34px;
	border: none;
	padding: 0 6px;
}
.renew_box_mid p .pay_btn{
	margin-left: 66px;
}
.renew_box_mid p.renew_type{
	height: 26px;
	line-height: 26px;
}
.renew_box_mid p.renew_type label{
	background: url(../images/zfb_ico.png) no-repeat left center;
}
.renew_box_bottom .tip{
	vertical-align: bottom;
	height: 24px;
	line-height: 24px;
	color: #555;
	margin-left: 6px;
	display: inline-block;
	*display: inline;
	*zoom: 1;
}


















