/*Copyright 2007 Qietu Inc. All rights reserved.*/
.layout{
	margin: 0 auto;
	overflow: hidden;
	background: #f5fbfd;
}
.wrapper{
	width: 1200px;
	margin: 0 auto;
}
.toper{
	height: 53px;
	border-bottom: 1px solid #e9e9ea;
	border-top:2px solid #1c89d5 ;
	overflow: hidden;
	background: #FFFFFF;
}
.t_lt{
	float: left;overflow: hidden;
}
.t_logo{
	float: left;
	font-size: 24px;
	line-height: 53px;
	font-weight: bold;
	color: #1489d5;
}
.t_logo sub{
	position: relative;
	top: -2px;
	font-size: 14px;
	font-weight:normal;
}
.t_nv{
	float: left;
	display: block;
	font-size: 14px;
	line-height: 53px;
	text-align: center;
	width: 75px;
	background: #1c89d5;
	margin-left: 20px;
	color: #FFFFFF;
}
.t_nv a{
	color: #FFFFFF;
	text-decoration:none;
}
.t_rt a{
	float: right;
	width: 65px;
	height: 35px;
	border: 1px solid #0180c9;
	text-align: center;
	line-height: 35px;
	margin-top: 11px;
	background: #1e9dfd;
	display: block;
	text-decoration: none;
	color: #FFFFFF;
}
.search{
	height: 145px;
	text-align: center;
}
.se_fm{
	width: 683px;
	height: 43px;
	border: 1px solid #ff6600;
	margin: 40px auto 0;
	overflow: hidden;
}
.se_fm_s{
	float: left;
	font-size:12px ;
	color: #000000;
	line-height: 43px;
	width: 110px;
	background: none;
	border: none;
	float: left;
}
.se_fm_s select{
	border: none;
	background: none;
}
.se_fm_t{
	float: left;
	line-height:30px ;
	margin-top:5px;
	border-left: 2px solid #f4f6f7;
}
.se_fm_t .text{
	background: none;
	border: none;
	padding-left: 50px;
	background: url(../imgs/img1.png) no-repeat left center;
	line-height: 30px;
	width: 360px;
	font-size: 14px;
	color: #aaaaaa;
}
.se_fm_b .submit{
	width: 160px;
	height: 43px;
	background: #ff6600;
	line-height: 43px;
	text-align: center;
	color: #FFFFFF;
	font-size:16px ;
	border: none;
	float: right;
}
.se_txt{
	text-align: center;
	font-size: 14px;
	color: #000;
	margin-top: 18px;
	line-height: 1;
}
.se_txt span{
	color: #ff6600;
}
.se_txt .n1{
	color: #ff0000;
}
.naver{
	height: 80px;
	overflow: hidden;
	background: #FFFFFF;
}
.naver ul{
	overflow: hidden;
	width: 1200px;
	margin:15px auto;
}
.naver li{
	width: 300px;
	height:50px ;
	float: left;
}
.naver li a{
	color: #000;
	line-height: 50px;
	text-align: center;
	display: block;
	font-size: 16px;
	text-decoration: none;
}
.naver li:hover a,
.naver .selecter a{
	background: #58abff;
	color: #FFFFFF;
	border-radius: 50px;
}
.naver li a sup{
	background: url(../imgs/img2.png) no-repeat center;
	display: inline-block;width:22px ;
	height: 16px;
	position: relative;left: 10px;
	top: -5px;
	font-size: 8px;
	color: #FFFFFF;
}
.sorts{
	width: 1200px;
	height:100px ;
	border: 1px solid #cdcdcd;
	margin: 20px auto 0;
}
.st_nv{
	margin: 0 10px;
	border-bottom: 1px solid #e7eff8;
	line-height: 50px;
}
.st_nv dl{
	overflow: hidden;
	font-size:14px ;
	color: #000;
}
.st_nv dt{
	float: left;margin-right: 18px;
	color: #9b999b;
	font-size:14px ;
}
.st_nv dd:hover,
.st_nv dd.selecter font{
	color: #58abff;
}
.st_nv dd{
	float: left;
	padding-right: 12px;
	font-size:14px ;
}
.st_nv dd span{
	color: #9b999b;
	font-size: 10px;
	margin-left: 3px;
}
.st_fm{
	line-height: 50px;
	margin: 0 10px;
}
.st_fm span{
	font-size: 14px;
	color: #9b999b;
}
.st_fm label{
	margin-right: 18px;
	color: #9b999b;
	font-size: 14px;
}
.st_fm .txt{
	width: 43px;
	height: 24px;
	border: 1px solid #cdcdcd;
	background: #fbfbfb;
	padding-left: 5px;
	font-size: 14px;
	color: #9b999b;
}
.st_fm ul{
	overflow: hidden;
}
.st_fm li{
	float: left;margin-right: 24px;
}
.st_fm .submit{
	width: 90px;
	height: 30px;
	border-radius: 30px;
	background: #58abff;
	text-align: center;
	color: #FFFFFF;
	line-height: 30ox;
	font-size: 12px;
	border: none;
	cursor: pointer;
}
.orderby{
	width: 1200px;
	height:100px ;
	border: 1px solid #cdcdcd;
	margin: 20px auto 0;
}
.od_fm{
	margin: 0 10px;
	border-bottom: 1px solid #e7eff8;
	line-height: 50px;
}
.od_fm ul{
	overflow: hidden;
}
.od_fm li{
	float: left;line-height: 50px;
	margin-right: 12px;
}
.od_fm li input{
	display: none;
}
input[type=checkbox] {
   display: none;
}
input[type=checkbox] + label {
	border: #cdcdcd solid 1px;
	width:14px;
	height:14px; 
	cursor: pointer;
	display: inline-block;
	position: relative;
	top: 3px;
}
input[type=checkbox]:checked + label {
	background:#cdcdcd;
}
.od_nv{
	margin: 0 10px;
	overflow: hidden;
}
.od_nv ul{
	overflow: hidden;
}
.od_nv li {
	float: left;
	margin-right: 15px;
}
.od_nv li a{
	float: left;
	color: #000;
	font-size: 14px;
	line-height:42px;
	margin-top: 4px;
	display: block;
	text-decoration: none;
}
.od_nv li:hover a,
.od_nv li.selecter a{
	color: #58abff;
	border-bottom: 4px solid #58abff;
}
.bd-list{
	width: 1200px;
	margin: 0 auto;
}
.bd-list ul{
	overflow: hidden;
	margin-top: 15px;
	width: 105%;
}
.bd-list li{
	float: left;
	width: 290px;
	margin: 5px;
	height: 430px;
	border:1px solid #eef3ef ;
}
.bd-list li .img{
	width: 290px;
	height: 290px;
	overflow: hidden;
	position: relative;
}
.bd-list li:hover{
	border: 1px solid #a45258;
}
.bd-list li :hover .f-t{
	opacity: 1;
}
.bd-list li .f-t{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0,0.4);
	height: 40px;
	overflow: hidden;
	opacity: 0;
	transition: all 0.5s;
}
.bd-list .f-t .l a{
	float: left;
	width: 45px;
	border-right: 1px solid #FFFFFF;
	height: 40px;
	background: url(../imgs/img4.png) no-repeat center;
}
.bd-list .f-t .r,
.bd-list .f-t .c{
	float: left;
}
.bd-list .f-t .c a{
	width: 120px;
	text-align: center;
	font-size:16px ;
	line-height: 40px;
	color: #FFFFFF;
	border-right: 1px solid #FFFFFF;display: block;
	text-decoration: none;
}
.bd-list .f-t .r a{
	width: 120px;
	text-align: center;
	font-size:16px ;
	line-height: 40px;
	color: #FFFFFF;
	display: block;
	text-decoration: none;
}
.bd-list .txt1{
	font-size:14px ;
	color: #000;
	line-height: 22px;
	margin: 5px;
}
.bd-list .txt2 dl{
	overflow: hidden;
	text-align: center;
}
.bd-list .txt2 dd{
	display: inline-block;
	width: 100px;
	text-align:center ;
	font-size: 14px;
	line-height: 1.7;
}
.bd-list .txt2 .l1{
	width: 80px;
	border-left:1px solid #f1f1f1 ;
	border-right:1px solid #f1f1f1 ;
}
.bd-list .txt2 dd span{
	color: #cb483e;
	font-weight: bold;
}
.bd-list .ft{
	margin: 10px;
	font-size: 14px;
}
.bd-list .ft .l{
	float: left;
}
.bd-list .ft .r{
	float: right;
}
.bd-list .ft span{
	color: #cb483e;margin-left: 5px;
}
