
<!Doctype html>
<html xmlns=http://www.w3.org/1999/xhtml>
<head>                           
  <title>提现记录 - {$_W['account']['name']}</title>
    <meta charset="utf-8" />  
  <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
  <meta name="apple-touch-fullscreen" content="yes" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <meta name="format-detection" content="telephone=no" />
  <script>
    !function () {
      var cw = document.documentElement.clientWidth || document.body.clientWidth, zoom = cw / 320;
      if (cw > 640) zoom = 2;
      document.write('<style id="htmlzoom">html{ font-size:' + (zoom * 50) + 'px; }</style>');
      window.addEventListener('resize', function () {
        cw = document.documentElement.clientWidth || document.body.clientWidth, zoom = cw / 320;
        if (cw > 640) zoom = 2;
        document.getElementById('htmlzoom').innerHTML = 'html{ font-size:' + (zoom * 50) + 'px; }';
      });
    }();

    function preventDefault(e) {
      e.preventDefault();
    }
  </script>
   <link rel="stylesheet" type="text/css" href="{$_W['siteroot']}addons/tiger_wxdaili/template/mobile/css/base.css?v=1.11" />
   <script src="{$_W['siteroot']}addons/tiger_newhu/template/mobile/js/layer_mobile/layer.js"></script>
  <script src="{$_W['siteroot']}addons/tiger_wxdaili/template/mobile/js/zepto.min.js"></script>
  <script src="{$_W['siteroot']}addons/tiger_wxdaili/template/mobile/js/touch.js"></script>
  <link rel="stylesheet" type="text/css" href="//apianyi.oss-cn-shenzhen.aliyuncs.com/static/style/mobiscroll.min.css" />
  <script src="//apianyi.oss-cn-shenzhen.aliyuncs.com/static/js/dropload.min.js"></script>
  <script src="//apianyi.oss-cn-shenzhen.aliyuncs.com/static/js/mobiscroll.min.js"></script>
  <style type="text/css">
    .back-top{ bottom:.2rem; }
    .cover-floor{ display:none; width: 100%; height: 100%; position: fixed; top: 0; left: 0; background: rgba(0,0,0,0.7); z-index: 900; }
    #content{ padding-top:2rem; }
    #content #filter{ position: fixed; width: 100%; z-index: 999; top: 0; left: 0; }
    #content #filter .filter-box{ position:relative; display: table; width:100%; background-color:#fff; z-index:999; }
    #content #filter .filter-box li { position:relative; display: table-cell; width: 14.4%; text-align: center; border-bottom: 1px solid #e3e3e3; border-width: 1px 0; }
   
    #content #filter .filter-box li:before { border-right: 1px solid #e7e5e2; height: .3rem; content: ''; position: absolute; top: .16rem; left: 0; }
    #content #filter .filter-box li:first-child:before { border-right-width:0; }
    #content #filter .filter-box li label { display: block; height: .66rem; line-height: .66rem; text-align: center; }
    #content #filter .filter-box li:first-child label.date{ position: absolute; width: 1.8rem; padding-top: .1rem; font-size: .2rem; line-height: 1.2; }
    #content #filter .filter-box li:first-child label.date:before { content: ''; position: absolute; content: ''; position: absolute; width: .3rem; height: .46rem; left: 0; background: url({$_W['siteroot']}addons/tiger_wxdaili/template/mobile/images/ico.png) no-repeat -1.18rem -2.58rem; background-size: 3rem; }
    #content #filter .filter-box li:first-child label{ padding-right: .2rem; }
   
    #content #filter .filter-box li.cur{ color:#ea3b4c; }

    #content #filter .filter-list { position: absolute; left:0; width:100%; padding:.1rem .2rem; background-color: #f9f8f8; box-sizing: border-box; -webkit-transform: translate3d(0,-100%,0); opacity: 0; pointer-events: none; -webkit-transition: all .3s; z-index: 900; }
    #content #filter .filter-list.show { -webkit-transform: translate3d(0,0,0); opacity: 1; pointer-events: all; }
    #content #filter .filter-list p{ position:relative; margin-top:.1rem; color:#777; }
    #content #filter .filter-list p:first-child{ margin-top:0; }
    #content #filter .filter-list p input[type='button'] { width: 1.2rem; margin-right: .18rem; padding: .08rem .18rem; color: #ea3b4c; background-color: #fff; border: solid 1px #ea3b4c; border-radius: .08rem; }
    #content #filter .filter-list p input[type='button']:active{ background-color:#ea3b4c; color:#fff; }
    #content #filter .filter-list p input[type='text']{ width:2.6rem; padding: .1rem .2rem; color:#777; border: solid 1px #eee; border-radius: .08rem; }
    #content #filter .filter-list p em{ position: absolute; width: .5rem; height: .5rem; margin-left: -.5rem; background: url(//apianyi.oss-cn-shenzhen.aliyuncs.com/static/images/ico.png) no-repeat -1.68rem .17rem; background-size: 2.4rem; }
    #content #filter .filter-list button { margin: .06rem 0; margin-left: 1.22rem; width: 2.56rem; border-radius: .05rem; border-width: 0; padding: .1rem 0; color: #fff; background-color: #ea3b4c; }

    .content-dropload{ background-color: #f3f3f3; }
    .content-box li.content-row{ display:block; padding:.28rem; background-color:#fff; border-bottom:solid 1px #f3f3f3;margin-top:.2rem; }
    .content-box li.content-row:first-child{ margin-top:0; }
    .content-box li.content-row dl{ margin-top:.2rem; }
    .content-box li.content-row dl:first-child{ margin-top:0; }
    .content-box li.content-row dt { float:left; }
    .content-box li.content-row dd { float:right; }
    .content-box li.content-row em{ font-size:.2rem; color:#999; }
    .content-box li.content-row label{ padding-right:.2rem; }
    .content-box li.content-row .result{ margin-top:.28rem; padding-top:.28rem; border-top:solid 1px #e7e5e2; font-size:.22rem; color:#999; }
    .content-box li.content-row .fail { color:#ea3b4c; }

    .dropload-up, .dropload-down { position: relative; height: 0; overflow: hidden; font-size:12px; color:#666; -webkit-transform: translateZ(0); transform: translateZ(0); }
    .dropload-down{ height:50px; background-color:#fff; }
    .dropload-refresh,.dropload-update,.dropload-load,.dropload-noData{ height: 50px; line-height: 50px; text-align: center; }
    .dropload-load .loading{ display: inline-block; height: 15px; width: 15px; border-radius: 100%; margin:6px; border: 2px solid #999; border-bottom-color: transparent; vertical-align: middle; -webkit-animation: rotate360-Anim 0.75s linear infinite; animation: rotate360-Anim 0.75s linear infinite; }
  </style>
  
</head>
<body>
<div class="cover-floor"></div>
<section id="content">
  <div id="filter">
    <header id="header">
      <a href="javascript:history.back();" class="icon icon-goback"></a>提现记录
    </header>
    <ul class="filter-box">
      <li><label><a href="{php echo $this->createMobileUrl('txlist',array('zt'=>$zt))}"  {if $type==''}style="color:#ff0000"{/if}>新版记录</a></label></li>
      <li><label><a href="{php echo $this->createMobileUrl('txlist',array('zt'=>$zt,'type'=>1))}" {if $type==1}style="color:#ff0000"{/if}>旧版记录</a></label></li>
    </ul>
    <ul class="filter-box">
      <li><label><a href="{php echo $this->createMobileUrl('txlist',array('zt'=>0,'type'=>$type))}"  {if $zt=='' || $zt==0}style="color:#ff0000"{/if}>全部</a></label></li>
      <li><label><a href="{php echo $this->createMobileUrl('txlist',array('zt'=>1,'type'=>$type))}" {if $zt==1}style="color:#ff0000"{/if}>待处理</a></label></li>
      <li><label><a href="{php echo $this->createMobileUrl('txlist',array('zt'=>2,'type'=>$type))}" {if $zt==2}style="color:#ff0000"{/if}>成功</a></label></li>
    </ul>
  </div>
  <div class="content-dropload">
    <ul class="content-box">
    {if $txlist}
        {loop $txlist $v}
           <li class="content-row fadeIn-Anim">
              <dl class="clearfix">
                <dt>提现到支付宝：{$v['zfbuid']}</dt>
                <dd><em>{php echo date('Y-m-d H:i',$v['createtime'])}</em></dd>
              </dl>
              <dl class="clearfix">
                <dt>{if $v['addtime']}<label class="success">成功</label><em>{php echo date('Y-m-d :H:i:s',$v['addtime'])}</em>{else}<label class="success">处理中!</label>{/if}</dt>
                <dd>-￥{$v['credit2']}</dd>
              </dl>

              {if $v['dmch_billno']}
              <div class="result">
                支付单号：{$v['dmch_billno']}
              </div>
              {/if}
           </li>
         {/loop}
     {else}
     <li class="content-row fadeIn-Anim">暂无记录</li>
     {/if}

    </ul>
  </div>
</section>
<div class="back-top"><img src="{$_W['siteroot']}addons/tiger_wxdaili/template/mobile/images/scroll-to-top-icon.png" alt="" style="width:100%;" /></div>
<script>$(".back-top").on("tap", function () { if ((typeof (myScroll) != "undefined")) { myScroll.scrollTo(0, 0, 300); } else { scrollTo(0, 0); } });//返回顶部</script>
</body>
</html>