{template 'public/header'}
{template 'public/comhead'}
<link rel="stylesheet" type="text/css" href="../addons/mzhk_sun/template/public/ygcss.css">
<style type="text/css">
    input[type="radio"] + label::before {
        content: "\a0"; /*不换行空格*/
        display: inline-block;
        vertical-align: middle;
        font-size: 16px;
        width: 1em;
        height: 1em;
        margin-right: .4em;
        border-radius: 50%;
        border: 2px solid #ddd;
        text-indent: .15em;
        line-height: 1;
    }
    input[type="radio"]:checked + label::before {
        background-color: #444444;
        background-clip: content-box;
        padding: .1em;
        border: 2px solid #444444;
    }
    input[type="radio"] {
        position: absolute;
        clip: rect(0, 0, 0, 0);
    }
</style>

<ul class="nav nav-tabs">
    <span class="ygxian"></span>
    <div class="ygdangq">当前位置:</div>

    <li class="active"><a href="javascript:void(0);">砍价设置</a></li>
    <li  class="activ"><a href="{php echo $this->createWebUrl('kjlist')}">砍价列表</a></li>
    <li  class="activ"><a href="{php echo $this->createWebUrl('addkjlist')}">砍价添加</a></li>
    <!--<li  class="activ"><a href="{php echo $this->createWebUrl('cardorder')}">礼品订单管理</a></li>-->
</ul>
<div class="main">
    <form action="" method="post" class="form-horizontal form" enctype="multipart/form-data">
        <!--<input type="hidden" name="parentid" value="{$parent['id']}" />-->
        <div class="panel panel-default ygdefault">
            <div class="panel-heading wyheader">
                砍价设置
            </div>

            <div class="panel-body">

                <div class="form-group">
                    <label for="lastname" class="col-sm-2 control-label">是否开启砍价</label>
                    <div class="col-sm-10">
                        <label class="radio-inline">
                            <input type="radio" id="emailwy1" name="is_kjopen" value="1" {if $item['is_kjopen']==1 || empty($item['is_kjopen'])}checked{/if} />
                            <label for="emailwy1">开启</label>
                        </label>
                        <label class="radio-inline">
                            <input type="radio" id="emailwy2" name="is_kjopen" value="2" {if $item['is_kjopen']==2}checked{/if} />
                            <label for="emailwy2">关闭</label>
                        </label>
                    </div>
                </div>

				<div class="form-group">
                    <label for="lastname" class="col-sm-2 control-label">是否限定每日砍价次数</label>
                    <div class="col-sm-10">
                        <label class="radio-inline">
                            <input type="radio" id="emailwy11" name="open_num" value="1" {if $item2['open_num']==1}checked{/if} />
                            <label for="emailwy11">开启</label>
                        </label>
                        <label class="radio-inline">
                            <input type="radio" id="emailwy22" name="open_num" value="0" {if $item2['open_num']==0 || empty($item2['open_num'])}checked{/if} />
                            <label for="emailwy22">关闭</label>
                        </label>
                    </div>
                </div>
				<div class="form-group kj">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">每日砍价次数</label>
                    <div class="col-sm-9">
                        <input type="text" name="day_num" class="form-control" value="{$item2['day_num']}"  style="width: 250px;"/>
                    </div>
                    <div class="help-block col-sm-push-2 col-sm-12">*如设置5次，每日只能帮人砍价5次，第二天重新计算</div>
                </div>

				<div class="form-group">
                    <label for="lastname" class="col-sm-2 control-label">是否限定每日同一好友砍价次数</label>
                    <div class="col-sm-10">
                        <label class="radio-inline">
                            <input type="radio" id="emailwy13" name="open_friend" value="1" {if $item2['open_friend']==1}checked{/if} />
                            <label for="emailwy13">开启</label>
                        </label>
                        <label class="radio-inline">
                            <input type="radio" id="emailwy23" name="open_friend" value="0" {if $item2['open_friend']==0 || empty($item2['open_friend'])}checked{/if} />
                            <label for="emailwy23">关闭</label>
                        </label>
                    </div>
                </div>
				<div class="form-group kj">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">同一好友每日砍价次数</label>
                    <div class="col-sm-9">
                        <input type="text" name="friend_num" class="form-control" value="{$item2['friend_num']}"  style="width: 250px;"/>
                    </div>
                    <div class="help-block col-sm-push-2 col-sm-12">*如设置1次，每天只能帮同一好友砍价1次,第二天重新计算</div>
                </div>

            </div>

        </div>

        <div class="form-group">
            <input type="submit" name="submit" value="提交" class="btn col-lg-3" style="color: white;background-color: #444444;"/>
            <input type="hidden" name="token" value="{$_W['token']}" />
            <input type="hidden" name="id" value="{$item['id']}" />
        </div>
    </form>
</div>
<script type="text/javascript">
    $(function(){
        $("#frame-9").show();
        $("#yframe-9").addClass("wyactive");
    })
</script>