{template 'public/header'}
{template 'public/comhead'}
<link rel="stylesheet" type="text/css" href="../addons/mzhk_sun/template/public/ygcss.css">
<ul class="nav nav-tabs">
    <span class="ygxian"></span>
    <div class="ygdangq">当前位置:</div>
    <li class="active"><a href="javascript:void(0);">手机号授权</a></li>
</ul>
<div class="main">
    <form action="" method="post" class="form-horizontal form" enctype="multipart/form-data">
        <!--<input type="hidden" name="parentid" value="{$parent['id']}" />-->
        <div class="panel panel-default ygdefault">
            <div class="panel-heading wyheader">
                手机号授权
            </div>
            <div class="panel-body">
				<div class="form-group">
                    <label for="lastname" class="col-sm-2 control-label">手机号授权</label>
                    <div class="col-sm-10">
                         <label class="radio-inline">
                            <input type="radio" id="emailwy1" name="opentel" value="1" {if $item['opentel']==1 || empty($item['opentel'])}checked{/if} />
                            <label for="emailwy1">是</label>
                        </label>
                        <label class="radio-inline">
                            <input type="radio" id="emailwy2" name="opentel" value="0" {if $item['opentel']==0}checked{/if} />
                            <label for="emailwy2">否</label>
                        </label><br><br>
						<span style="font-size:14px;color:red;">开启后经用户授权可获取手机号码</span>
                    </div>
                </div>

                
				
        </div>

        <div class="form-group">
            <input type="submit" name="submit" value="提交" class="btn col-lg-3" style="color: white;background-color: #444444;margin-left: 550px;"/>
            <input type="hidden" name="token" value="{$_W['token']}" />
            <input type="hidden" name="id" value="{$item['id']}" />
        </div>
    </form>
</div>
<script type="text/javascript">
    $(function(){
        $("#frame-12").show();
        $("#yframe-12").addClass("wyactive");
    })
</script>