{template 'public/header'}

{template 'public/comhead'}

<link rel="stylesheet" type="text/css" href="../addons/mzhk_sun/template/public/ygcss.css">
<style type="text/css">
.panel-body{font-size: 14px;}
.control_info{padding-top: 7px;}
.control-label{padding-bottom: 7px;}
.pb15{}
.bc_row{background-color: #eee}
</style>

<ul class="nav nav-tabs">
    <span class="ygxian"></span>
    <div class="ygdangq">当前位置:</div>
    <li class="active"><a href="javascript:void(0);">订单详情</a></li>
</ul>
<div class="main ygmain">
    <form action="" method="post" class="form-horizontal form" enctype="multipart/form-data">
        <div class="panel panel-default ygdefault">

            <div class="panel-heading wyheader">
                （{$title}）订单详情
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <div class="pb15 col-sm-12">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label">订单id:</label>
                        <div class="col-sm-9 control_info">
                            {if $info['oid']}{$info['oid']}{else}{$info['id']}{/if}
                        </div>
                    </div>
                    <div class="pb15 bc_row col-sm-12">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label">订单编号:</label>
                        <div class="col-sm-9 control_info">
                            {if $info['ordernum']}{$info['ordernum']}{else}{$info['groupordernum']}{/if}
                        </div>
                    </div>
                    <div class="pb15 col-sm-12">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label">外部订单号-退款用:</label>
                        <div class="col-sm-9 control_info">
                            {$info['out_trade_no']}
                        </div>
                    </div>
                    <div class="pb15 bc_row col-sm-12">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label">订单状态:</label>
                        <div class="col-sm-9 control_info">
                            {$status_str[$info['status']]}
                        </div>
                    </div>

                    <div class="pb15 col-sm-12">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label">商品名称:</label>
                        <div class="col-sm-9 control_info">
                            {$info['gname']}
                        </div>
                    </div>
                    {if $info['spec']>0}
                        <div class="pb15 col-sm-12">
                            <label class="col-xs-12 col-sm-3 col-md-2 control-label">商品规格:</label>
                            <div class="col-sm-9 control_info">
                                {$info['specdetail']}
                            </div>
                        </div>
                    {/if}
                    <div class="pb15 bc_row col-sm-12">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label">商家名称:</label>
                        <div class="col-sm-9 control_info">
                            {$info['bname']}
                        </div>
                    </div>
                    <div class="pb15 col-sm-12">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label">订单总价:</label>
                        <div class="col-sm-9 control_info">
                            {$info['money']}元
                        </div>
                    </div>
                    <div class="pb15 bc_row col-sm-12">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label">运费:</label>
                        <div class="col-sm-9 control_info">
                            {$info['deliveryfee']}元
                        </div>
                    </div>
                    <div class="pb15 col-sm-12">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label">购买者微信昵称:</label>
                        <div class="col-sm-9 control_info">
                            {$info['uname']}
                        </div>
                    </div>
                    <div class="pb15 bc_row col-sm-12">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label">数量:</label>
                        <div class="col-sm-9 control_info">
                            {$info['num']}
                        </div>
                    </div>
                    <div class="pb15 col-sm-12">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label">下单时间:</label>
                        <div class="col-sm-9 control_info">
                            {php echo date("Y-m-d H:i:s",$info['addtime'])}
                        </div>
                    </div>
                    <div class="pb15 bc_row col-sm-12">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label">付款时间:</label>
                        <div class="col-sm-9 control_info">
                            {php echo $info['paytime']?date("Y-m-d H:i:s",$info['paytime']):""}
                        </div>
                    </div>
                    <div class="pb15 col-sm-12">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label">发货时间:</label>
                        <div class="col-sm-9 control_info">
                            {php echo $info['shiptime']?date("Y-m-d H:i:s",$info['shiptime']):""}
                        </div>
                    </div>
                    <div class="pb15 bc_row col-sm-12">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label">完成时间:</label>
                        <div class="col-sm-9 control_info">
                            {php echo $info['finishtime']?date("Y-m-d H:i:s",$info['finishtime']):""}
                        </div>
                    </div>
                    <div class="pb15 col-sm-12">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label">是否退款:</label>
                        <div class="col-sm-9 control_info">
                            {$refund[$info['isrefund']]}
                        </div>
                    </div>
                    <div class="pb15 bc_row col-sm-12">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label">配送方式:</label>
                        <div class="col-sm-9 control_info">
                            {$info['sincetype']}
                        </div>
                    </div>
                    <div class="pb15 col-sm-12">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label">收货人姓名:</label>
                        <div class="col-sm-9 control_info">
                            {$info['name']}
                        </div>
                    </div>
                    <div class="pb15 bc_row col-sm-12">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label">地址:</label>
                        <div class="col-sm-9 control_info">
                            {$info['provincename']}{$info['cityname']}{$info['countyname']}{$info['detailinfo']}
                        </div>
                    </div>
                    <div class="pb15 col-sm-12">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label">手机号码:</label>
                        <div class="col-sm-9 control_info">
                            {$info['telnumber']}
                        </div>
                    </div>
                    <div class="pb15 bc_row col-sm-12">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label">快递名称:</label>
                        <div class="col-sm-9 control_info">
                            {$info['shipname']}
                        </div>
                    </div>
                    <div class="pb15 col-sm-12">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label">快递单号:</label>
                        <div class="col-sm-9 control_info">
                            {$info['shipnum']}
                        </div>
                    </div>
                    <div class="pb15 bc_row col-sm-12">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label">备注:</label>
                        <div class="col-sm-9 control_info">
                            {$info['uremark']}
                        </div>
                    </div>

                </div>


              </div>
          </div>
        <div class="form-group">
            <input type="hidden" name="token" value="{$_W['token']}" />
            <input type="hidden" name="id" value="{$info['gid']}" />

        </div>

    </form>

</div>
<script type="text/javascript">
    $(function(){
        $("#frame-2").show();
        $("#yframe-2").addClass("wyactive");

    })
</script>
