{template 'public/header'}
{template 'public/comhead'}
<link rel="stylesheet" type="text/css" href="../addons/mzhk_sun/template/public/ygcss.css">
<style type="text/css">
    #goodsinput{font-size: 14px;height: 33px;border-radius: 4px;border:1px solid #e7e7eb;padding-left: 10px;}
    .searchname{font-size: 14px;color: #666;width: 220px;}
    .searchname>a>p{color: #666;}
</style>
<ul class="nav nav-tabs">
    <span class="ygxian"></span>
    <div class="ygdangq">当前位置:</div>
    <li><a href="{php echo $this->createWebUrl('specialtopic')}">专题管理</a></li>
    <li class="active"><a href="{php echo $this->createWebUrl('specialtopic',array('op'=>'add'))}">添加专题</a></li>
</ul>
<div class="main">
    <form action="" method="post" class="form-horizontal form" enctype="multipart/form-data">
        <div class="panel panel-default ygdefault">
            <div class="panel-heading wyheader">
                添加专题
            </div>
            <div class="panel-body">

                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">专题标题</label>
                    <div class="col-sm-9">
                        <input type="text" name="title" class="form-control" value="{$info[title]}" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">所属商家</label>
                    <div class="col-sm-10">
                        <select name="bid" class="col-md-6" id="groupid">
                            <option value="0">请选择所属商家</option>
                            {loop $brand $row}
                            <option name="unopction" value="{$row['bid']}" {if $info['bid']==$row['bid']} selected{/if}>{$row['bname']}</option>
                            {/loop}
                        </select>
                    </div>
                    <div class="help-block col-sm-push-2 col-sm-12">*该专题所属哪家商家，选择商家之后会显示该商家所属活动商品</div>
                </div>

                <div class="form-group" id="showbrandgoods" style="{if $info['gid']<=0}display: none;{/if}">
                    <label class="col-sm-2 control-label">关联活动商品</label>
                    <div class="col-sm-10">
                        <select name="gid" class="col-md-6">
                            <option value="0">请选择要关联的活动商品</option>
                            {loop $goods $row}
                            <option name="unopction" value="{$row['gid']}" {if $info['gid']==$row['gid']} selected{/if}>{$row['gname']}</option>
                            {/loop}
                        </select>
                    </div>
                    <div class="help-block col-sm-push-2 col-sm-12">*选择要关联的活动商品,请先选择商家</div>
                </div>

                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">查看数</label>
                    <div class="col-sm-9">
                        <input type="text" name="seenum" class="form-control" value="{$info[seenum]}" style="width: 100px;" />
                        <span>*设置一个初始查看数量，默认0</span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">点赞数</label>
                    <div class="col-sm-9">
                        <input type="text" name="likenum" class="form-control" value="{$info[likenum]}" style="width: 100px;" />
                        <span>*设置一个初始点赞数量，默认0</span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">排序</label>
                    <div class="col-sm-9">
                        <input type="text" name="sort" class="form-control" value="{$info[sort]}" style="width: 100px;" />
                        <span>*越小越前，最好 0-255 之间</span>
                    </div>
                </div>
                
				<div class="form-group">
                    <label for="lastname" class="col-sm-2 control-label">类型选择</label>
                    <div class="col-sm-10">
                         <label class="radio-inline">
                            <input onchange="check(this)" type="radio" id="emailwy1" name="state" value="1" {if $info['state']==1 || empty($info['state'])}checked{/if} />
                            <label for="emailwy1">图片</label>
                        </label>
                        <label class="radio-inline">
                            <input onchange="check(this)" type="radio" id="emailwy2" name="state" value="2" {if $info['state']==2}checked{/if} />
                            <label for="emailwy2">视频</label>
                        </label>
                    </div>
                </div>

                <div class="form-group" id="img">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">专题缩略图</label>
                    <div class="col-sm-9">
                        {php echo tpl_form_field_image('img', $info['img']);}
                        <span class="help-block">*建议比例 650*400</span>
                    </div>
                </div>
                <div class="form-group video">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">专题视频图</label>
                    <div class="col-sm-9">
                        {php echo tpl_form_field_image('video_img', $info['video_img']);}
                        <span class="help-block">*建议比例 650*400</span>
                    </div>
                </div>
                <div class="form-group video">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">专题视频</label>
                    <div class="col-sm-9">
                        {php echo tpl_form_field_video('video', $info['video']);}
                        <span class="help-block">*建议上传MP4格式，1024M以内视频</span>
                    </div>
                </div>

                <div class="form-group" style="width: 90%;margin-left: 15px;">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">简介</label>
                    <div class="col-sm-10">
                        <textarea name="introduction" class="form-control" cols="30" rows="7">{$info['introduction']}</textarea>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">专题详情</label>
                    <div class="col-sm-9">
                        {php echo tpl_ueditor('content',$info['content']);}
                    </div>
                    <div class="help-block col-sm-push-2 col-sm-12">*小程序仅支持文本和图片排版，复制的请清除格式之后黏贴</div>
                </div>
                 
            </div>
        </div>

        <div class="form-group">
            <input type="submit" name="submit" value="提交" class="btn col-lg-3" style="color: white;background-color: #444444;margin-left: 450px;"/>
            <input type="hidden" name="token" value="{$_W['token']}" />
            <input type="hidden" name="id" value="{$info['id']}" />
            <input type="hidden" name="op" value="save" />
        </div>
    </form>
</div>
<script type="text/javascript">
    $(function(){
        $("#frame-4").show();
        $("#yframe-4").addClass("wyactive");

        $("#groupid").on("change",function(){
            var a = $(this).val();
            $.ajax({
                type:"post",
                url:"{php echo $this->createWebUrl('addspecialtopic',array('op'=>'search'))}",
                dataType:"json",
                data:{bid:a},
                success:function(data){
                    var html = "<option value='0'>请选择要关联的活动商品</option>";
                    if(data.length > 0){
                        for(var i=0;i<data.length;i++){
                            html += "<option value='"+data[i].gid+"'>"+data[i].gname+"</option>";
                        }
                    }else{
                        html = "<option value='0'>该商家暂时没有活动</option>";
                    }
                    $("#showbrandgoods").css("display","");
                    $("#showbrandgoods select").html(html);
                }
            })
        })
        $("#searchgoods").on('click',function(){
            var a = $("#urltype").val();
            var name = $("#goodsinput").val();
            $.ajax({
                type:"post",
                url:"{php echo $this->createWebUrl('specialtopic',array('op'=>'search'))}",
                dataType:"json",
                data:{name:name,tid:a},
                success:function(data){
                    console.log(data);

                    $(".searchname").show();
                    for(var i=0;i<data.length;i++){
                        $(".searchname").append('<div class="shnbox" data-dismiss="modal" id="'+data[i].gid+'"><a href="javascript:void(0);"><p>'+data[i].gname+'</p></a></div>')
                    }
                    $(".shnbox").each(function(){
                        $(this).click(function(){
                            // console.log($(this).attr("id"));
                            // $("#username").val($(this).html())
                            var thid = $(this).attr("id");
                            $('#pop_urltxt').val(thid);
                        })

                    })
                }
            })
        });
    })

	$(function(){
        var state= $('input[name="state"]:checked').val();
        if(state==1){
            $('#img').show();
            $('.video').hide();
        }else if(state==2){
            $('#img').hide();
            $('.video').show();
        }

        
    })
    function check() {
        var state= $('input[name="state"]:checked').val();
        if(state==1){
            $('#img').show();
            $('.video').hide();
        }else if(state==2){
            $('#img').hide();
            $('.video').show();
        }
    }
</script>