{template 'public/header'}
{template 'public/comhead'}
<link rel="stylesheet" type="text/css" href="../addons/mzhk_sun/template/public/ygcss.css">
<style type="text/css">
    .hometheme_img{width: 200px;height: 300px;overflow: hidden;position: relative;border: #fff 5px solid;}
    .checkimg{position: absolute;bottom: 0px;right: 0px;display: none}
    .checkimgbox .hometheme_img{border: #08af4d 5px solid;}
    .checkimgbox .checkimg{display:block;}
</style>
<ul class="nav nav-tabs">
    <span class="ygxian"></span>
    <div class="ygdangq">当前位置:</div>
    <li {if $ttype==''}class="active"{/if}><a href="{php echo $this->createWebUrl('tplset',array())}">前端首页主题设置</a></li>
    <li {if $ttype=='2'}class="active"{/if}><a href="{php echo $this->createWebUrl('tplset',array('ttype'=>'2'))}">我的页面主题设置</a></li>
</ul>
<div class="main">
    <form action="" method="post" class="form-horizontal form" enctype="multipart/form-data">
        <!--<input type="hidden" name="parentid" value="{$parent['id']}" />-->
        <div class="panel panel-default ygdefault" {if $ttype!=''}style="display:none"{/if}>
            <div class="panel-heading wyheader">
                前端首页主题设置
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label for="lastname" class="col-sm-2 control-label">选择首页主题</label>
                    <div class="col-sm-10">
                        
						<label class="radio-inline {if $item['hometheme']==0 || empty($item['hometheme'])}checkimgbox{/if}" for="emailwy2">
                            <input type="radio" id="emailwy2" name="hometheme" value="0" {if $item['hometheme']==0 || empty($item['hometheme'])}checked{/if} />
                            <div class="hometheme_img">
                                <img src="../addons/mzhk_sun/static/images/hometheme.jpg" width="200">
                                <img src="../addons/mzhk_sun/static/images/check-triangle.png" class="checkimg">
                            </div>
                            <label for="emailwy2">默认主题</label>
                            <br>
                            <br>
                            <a href="../addons/mzhk_sun/static/images/hometheme.jpg" target="_blank">点击这里查看大图</a>
                        </label>
                        
						<label class="radio-inline {if $item['hometheme']==1}checkimgbox{/if}" for="emailwy1">
                            <input type="radio" id="emailwy1" name="hometheme" value="1" {if $item['hometheme']==1}checked{/if} />
                            <div class="hometheme_img">
                                <img src="../addons/mzhk_sun/static/images/hometheme1.jpg" width="200">
                                <img src="../addons/mzhk_sun/static/images/check-triangle.png" class="checkimg">
                            </div>
                            <label for="emailwy1">首页主题风格2</label>
                            <br>
                            <br>
                            <a href="../addons/mzhk_sun/static/images/hometheme1.jpg" target="_blank">点击这里查看大图</a>
                        </label>
						
						<label class="radio-inline {if $item['hometheme']==2}checkimgbox{/if}" for="emailwy0">
                            <input type="radio" id="emailwy0" name="hometheme" value="2" {if $item['hometheme']==2}checked{/if} />
                            <div class="hometheme_img">
                                <img src="../addons/mzhk_sun/static/images/hometheme2.png" width="200">
                                <img src="../addons/mzhk_sun/static/images/check-triangle.png" class="checkimg">
                            </div>
                            <label for="emailwy0">首页主题风格3</label>
                            <br>
                            <br>
                            <a href="../addons/mzhk_sun/static/images/hometheme2.png" target="_blank">点击这里查看大图</a>
                        </label>

						<label class="radio-inline {if $item['hometheme']==3}checkimgbox{/if}" for="emailwy3">
                            <input type="radio" id="emailwy3" name="hometheme" value="3" {if $item['hometheme']==3}checked{/if} />
                            <div class="hometheme_img">
                                <img src="../addons/mzhk_sun/static/images/hometheme3.png" width="200">
                                <img src="../addons/mzhk_sun/static/images/check-triangle.png" class="checkimg">
                            </div>
                            <label for="emailwy3">首页主题风格4</label>
                            <br>
                            <br>
                            <a href="../addons/mzhk_sun/static/images/hometheme3.png" target="_blank">点击这里查看大图</a>
                        </label>

                    </div>
                </div>              

            </div>
        </div>
        <div class="panel panel-default ygdefault" style="{if $ttype==2}{else}display:none{/if}">
            <div class="panel-heading wyheader">
                我的页面主题设置
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label for="lastname" class="col-sm-2 control-label">选择我的页面主题</label>
                    <div class="col-sm-10">
                        <label class="radio-inline {if $item['mytheme']==0 || empty($item['mytheme'])}checkimgbox{/if}" for="mytheme2">
                            <input type="radio" id="mytheme2" name="mytheme" value="0" {if $item['mytheme']==0 || empty($item['mytheme'])}checked{/if} />
                            <div class="hometheme_img">
                                <img src="../addons/mzhk_sun/static/images/mytheme.png" width="200">
                                <img src="../addons/mzhk_sun/static/images/check-triangle.png" class="checkimg">
                            </div>
                            <label for="mytheme2">默认主题</label>
                            <br>
                            <br>
                            <a href="../addons/mzhk_sun/static/images/mytheme.png" target="_blank">点击这里查看大图</a>
                        </label>
                        <label class="radio-inline {if $item['mytheme']==1}checkimgbox{/if}" for="mytheme1">
                            <input type="radio" id="mytheme1" name="mytheme" value="1" {if $item['mytheme']==1}checked{/if} />
                            <div class="hometheme_img">
                                <img src="../addons/mzhk_sun/static/images/mytheme1.png" width="200">
                                <img src="../addons/mzhk_sun/static/images/check-triangle.png" class="checkimg">
                            </div>
                            <label for="mytheme1">主题风格2</label>
                            <br>
                            <br>
                            <a href="../addons/mzhk_sun/static/images/mytheme1.png" target="_blank">点击这里查看大图</a>
                        </label>
                    </div>
                </div>              

            </div>
        </div>
        <div class="form-group">
            <input type="submit" name="submit" value="提交" class="btn col-lg-3" style="color: white;background-color: #444444;margin-left: 550px;"/>
            <input type="hidden" name="token" value="{$_W['token']}" />
            <input type="hidden" name="id" value="{$item['id']}" />
        </div>
    </form>
</div>
<script type="text/javascript">
    $(function(){
        $("#frame-12").show();
        $("#yframe-12").addClass("wyactive");

        $(".hometheme_img").on("click",function(){
            $(".radio-inline").removeClass("checkimgbox");
            $(this).parent().addClass("checkimgbox");
        })
    })
</script>