/*reset*/
* {
	margin: 0;
	padding: 0;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-text-size-adjust: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

img {
	vertical-align: top;
	border: none;
	max-width: 100%;
}

input,
textarea {
	-webkit-user-select: text;
	-ms-user-select: text;
	user-select: text;
	-webkit-appearance: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
	outline: none;
}

input[type="text"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="number"],
input[type="email"],
input[type="url"],
textarea {
	-webkit-appearance: none;
	border: 1px solid #c6c6c6;
	-webkit-border-radius: 0;
	border-radius: 0;
}

input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

a {
	text-decoration: none;
	-webkit-touch-callout: none;
}

ui,
li {
	list-style: none;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.clearfix {
	zoom: 1
}

.fn-left,.fn-right {

}

.fn-left {

}

.fn-right {
	float: right;
}

.wrapper {

}

.xiaof-box {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
}

.xiaof-box-item {
	display: block;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

/*按钮*/
.xiaof-button {
	position: relative;
    width: 80%;
    margin-left: auto !important;
    margin-right: auto !important;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-left: 14px;
	padding-right: 14px;
	box-sizing: border-box;
	font-size: 14px;
	text-align: center;
	text-decoration: none;
	color: #FFFFFF;
	line-height: 40px;
	border-radius: 5px;
	overflow: hidden;
	cursor: pointer;
    height: 40px !important;
    background-color: #601986 !important;
}

.xiaof-button-small {
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-left: 14px;
	padding-right: 14px;
	box-sizing: border-box;
	font-size: 13px;
	text-align: center;
	text-decoration: none;
	color: #FFFFFF;
	line-height: 29px;
	border-radius: 5px;
	overflow: hidden;
	background: #04BE02;
	cursor: pointer;
}

/*dialog*/
.xiaof-dialog-mask {
	position: fixed;
	z-index: 1000;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.6);
}

.xiaof-dialog {
	position: fixed;
	z-index: 1001;
	width: 85%;
	top: 50%;
	left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
	background-color: #FAFAFC;
	text-align: center;
	border-radius: 3px;
}

.xiaof-dialog-title {
	padding: 20px;
	padding-bottom: 10px;
}

.xiaof-dialog-title strong {
	font-weight: 400;
	font-size: 17px;
}

.xiaof-dialog-content {
	font-size: 15px;
	color: #888;
	word-wrap: break-word;
	word-break: break-all;
}
.gift-content{
    background-color: white;
    width: 90%;
    padding: 5px;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
}

.xiaof-dialog-footer {
	position: relative;
	line-height: 42px;
	margin-top: 20px;
	font-size: 17px;
}

.xiaof-dialog-footer:after {
	content: " ";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 1px;
	border-top: 1px solid #D5D5D6;
	color: #D5D5D6;
}

.xiaof-dialog-footer a {
	color: #3CC51F;
	position: relative;
}

.xiaof-dialog-footer .default {
	color: #353535;
}

.xiaof-dialog-footer a:after {
	content: " ";
	position: absolute;
	left: 0;
	top: 0;
	width: 1px;
	height: 100%;
	border-left: 1px solid #D5D5D6;
	color: #D5D5D6;
}

/*状态提示*/
.xiaof-tips-content {
	padding: 7px 12px;
	text-align: center;
	color: #fff;
	font-size: 14px;
	line-height: 17px;
}

.xiaof-tips-loader {
	background: rgba(40, 40, 40, 0.75);
	position: fixed;
	top: 50%;
	left: 50%;
	width: 120px;
	height: 120px;
	margin-left: -60px;
	margin-top: -60px;
	z-index: 1002;
	border-radius: 5px;
}

.spinner {
	margin: 28px auto;
	margin-bottom: 12px;
	width: 24px;
	height: 24px;
	position: relative;
}

.container1 > div, .container2 > div, .container3 > div {
	width: 6px;
	height: 6px;
	background-color: #fff;
	border-radius: 100%;
	position: absolute;
	-webkit-animation: bouncedelay 1.2s infinite ease-in-out;
	animation: bouncedelay 1.2s infinite ease-in-out;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

.spinner .spinner-container {
	position: absolute;
	width: 100%;
	height: 100%;
}

.container2 {
	-webkit-transform: rotateZ(45deg);
	transform: rotateZ(45deg);
}

.container3 {
	-webkit-transform: rotateZ(90deg);
	transform: rotateZ(90deg);
}

.circle1 {
	top: 0;
	left: 0;
}

.circle2 {
	top: 0;
	right: 0;
}

.circle3 {
	right: 0;
	bottom: 0;
}

.circle4 {
	left: 0;
	bottom: 0;
}

.container2 .circle1 {
	-webkit-animation-delay: -1.1s;
	animation-delay: -1.1s;
}

.container3 .circle1 {
	-webkit-animation-delay: -1.0s;
	animation-delay: -1.0s;
}

.container1 .circle2 {
	-webkit-animation-delay: -0.9s;
	animation-delay: -0.9s;
}

.container2 .circle2 {
	-webkit-animation-delay: -0.8s;
	animation-delay: -0.8s;
}

.container3 .circle2 {
	-webkit-animation-delay: -0.7s;
	animation-delay: -0.7s;
}

.container1 .circle3 {
	-webkit-animation-delay: -0.6s;
	animation-delay: -0.6s;
}

.container2 .circle3 {
	-webkit-animation-delay: -0.5s;
	animation-delay: -0.5s;
}

.container3 .circle3 {
	-webkit-animation-delay: -0.4s;
	animation-delay: -0.4s;
}

.container1 .circle4 {
	-webkit-animation-delay: -0.3s;
	animation-delay: -0.3s;
}

.container2 .circle4 {
	-webkit-animation-delay: -0.2s;
	animation-delay: -0.2s;
}

.container3 .circle4 {
	-webkit-animation-delay: -0.1s;
	animation-delay: -0.1s;
}

@-webkit-keyframes bouncedelay {
	0%, 80%, 100% {
		-webkit-transform: scale(0.0)
	}

	40% {
		-webkit-transform: scale(1.0)
	}
}

@keyframes bouncedelay {
	0%, 80%, 100% {
		transform: scale(0.0);
		-webkit-transform: scale(0.0);
	}

	40% {
		transform: scale(1.0);
		-webkit-transform: scale(1.0);
	}
}

/*底部菜单*/
.xiaof-tabbar {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #f7f7fa;
	text-align: center;
	z-index: 999;
	border-top: 1px solid #F1EDED;
}

.bottom-tabbar .xiaof-tabbar-item{
	position: relative;
}

.xiaof-tabbar-item {
	display: block;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	padding: 7px 0 0;
	height: 45px;
}

.xiaof-tabbar-item span {
	display: inline-block;
	width: 100%;
	height: 20px;
	vertical-align: top;
	font-size: 12px;
	color: #888;
}

.xiaof-tabbar-item .icon {
	display: inline-block;
	width: 100%;
	height: 20px;
	padding-bottom: 5px;
}

.xiaof-tabbar-item .icon i {
	font-size: 23px;
}


/*表单*/
.xiaof-form-group {
	font-size: 14px;
	width: 100%;
	border-bottom: 1px solid #E8E3E3;
	text-align: left;
}

.xiaof-input-group {
}

.xiaof-form-label {
	width: 62px;
	padding-right: 6px;
}

.xiaof-form-label label {
	padding: 8px 0;
	display: block;
}

.xiaof-form-control .xiaof-form-input {
	padding: 11px 0;
	border: 0;
	font-size: 14px;
}

.xiaof-input-radio {
	cursor: pointer;
}

.xiaof-input-radio .xiaof-form-control {
	width: 16px;
	padding: 0px;
}

.xiaof-input-radio input[type="radio"] {
	position: absolute;
	right: 9999px;
}

.xiaof-input-radio .fa-check {
	padding: 10px 0;
}
.xiaof-dialog-footer:after{
    border: none !important;
}
.xiaof-dialog-footer a:after{
    border: none !important;
}
.xiaof-dialog-footer .xiaof-box-item{
    color: white;
}