{template 'common'}
{template 'common_2'}
<script>
require(['bootstrap.switch', 'util'], function($, u){
	$(function(){
		$('.make-switch').bootstrapSwitch();
	});
});
</script>
<input type="hidden" name="reply_id" value="{$reply['id']}" />
<div class="main">
        <div class='panel panel-default'>
            <div class='panel-heading'>
                海报设置
            </div>
            <div class='panel-body'>
               
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">海报名称</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" id="title" name="title" class="form-control"  value="{$reply['title']}" />
                    </div>
                </div>
                <div class="form-group">
				        	<label class="col-xs-12 col-sm-3 col-md-2 control-label">海报类型</label>
        					<div class="col-sm-9 col-xs-12">
        					  <label class="radio-inline">
        				   <input type="radio" name="posttype" value="1" {if $reply['posttype'] == 1} checked="checked"{/if}/>认证服务号</label>
        				    <label class="radio-inline">
        					 <input type="radio" name="posttype" value="2" {if $reply['posttype'] == 2} checked="checked"{/if}/>认证订阅号</label>
        					</div>
				        </div>
        				<div class="form-group">
        					<label class="col-xs-12 col-sm-3 col-md-2 control-label">活动时间</label>
        					<div class="col-sm-9 col-xs-12">
        						{php echo tpl_form_field_daterange('datelimit', array('starttime'=>date('Y-m-d H:i',$reply['starttime']),'endtime'=>date('Y-m-d H:i',$reply['endtime'])), true)}
        					</div>
        				</div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label"> 未开始</label>
                    <div class="col-sm-9 col-xs-12">
                            <input type="text" class="form-control" placeholder="活动未开始提示语" name="miss_start" value="{$reply['miss_start']}">
                        </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label"> 活动暂停</label>
                    <div class="col-sm-9 col-xs-12">
                            <input type="text" class="form-control" placeholder="活动暂停提示语" name="miss_cut" value="{$reply['miss_cut']}">
                        </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label"> 活动结束</label>
                    <div class="col-sm-9 col-xs-12">
                            <input type="text" class="form-control" placeholder="活动已结束提示语" name="miss_end" value="{$reply['miss_end']}">
                        </div>
                </div>  
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">海报设计</label>
                    <div class="col-sm-9 col-xs-12">
                        <table style='width:100%;'>
                                <tr>
                                    <td id="bgtd" style='padding:10px;' valign='top'>
                                        <div id='tiger_poster'>
                                          {if !empty($reply['bg'])}
                                          <img src="{php echo toimage($reply['bg'])}" class='bg'/>
                                          {/if}
                                          {if !empty($data)}
                                          {loop $data $key $d}
                                          <div class="drag" type="{$d['type']}" index="{php echo $key+1}" style="zindex:{php echo $key+1};left:{$d['left']};top:{$d['top']};
                                               width:{$d['width']};height:{$d['height']}" size="{$d['size']}" color="{$d['color']}" > 
                                                {if $d['type']=='img' || $d['type']=='thumb'}
                                                  <img src="{php echo '../addons/'.$this->modulename.'/template/images/default.jpg'}" />
                                                {elseif $d['type']=='qr'}
                                                  <img src="../addons/{php echo $this->modulename}/template/images/qrcode_9.jpg" />
                                                {elseif $d['type']=='name'}
                                                   <div class=text style="font-size:{$d['size']};color:{$d['color']}" >昵称</div> 
                                                {/if}
                                              <div class="dRightDown"> </div><div class="dLeftDown"> </div><div class="dRightUp"> </div><div class="dLeftUp"> </div><div class="dRight"> </div><div class="dLeft"> </div><div class="rUp"> </div><div class="rDown"></div>
                                          </div>
                                          {/loop} 
                                          {/if}
                                        </div>
                                        
                                    </td>
                                    <td valign='top' style='padding:10px;'>
                                          <div class='panel panel-default'>
                                              <div class='panel-body'>
                                                    <div class="form-group">
                                                        <label class="col-xs-12 col-sm-3 col-md-2 control-label">海报元素</label>
                                                        <div class="col-sm-9 col-xs-12">
                                                        	<button class='btn btn-info btn-poster' type='button' data-type='img' >头像</button>
                                                             <button class='btn btn-primary btn-poster' type='button' data-type='name'>昵称</button>
                                                             <button class='btn btn-warning btn-poster' type='button' data-type='qr' >二维码</button>
                                                        </div>
                                                    </div>
                                                  <div id='namesset' style='display:none'>
                                                  <div class="form-group">
                                                        <label class="col-xs-12 col-sm-3 col-md-2 control-label">昵称颜色</label>
                                                         <div class="col-sm-9 col-xs-12">
                                                              {php echo tpl_form_field_color('color')}
                                                        </div>
                                                    </div>
                                                  <div class="form-group">
                                                        <label class="col-xs-12 col-sm-3 col-md-2 control-label">昵称大小</label>
                                                        <div class="col-sm-6">
                                                             <div class='input-group'>
                                                                 <input type="text" id="namesize" class="form-control namesize" placeholder="例如: 15"  />
                                                                 <div class='input-group-addon'>px</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                             </div>
                                             <div class="form-group" id="posterbg">
                                                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">海报背景</label>
                                                    <div class="col-sm-9 col-xs-12">
                                                       {php echo tpl_form_field_image('bg',$reply['bg'])}
                                                       <span class='help-block'>海报背景大小建议尺寸为: 640 * 1008 大小200KB以内的jpg图片</span>
                                                    </div>
                                                </div>
                                          </div>
                                   </div>
                                    </td>
                                </tr>
                        </table>
                    </div>
                </div>
 		</div>
 </div>
  <div class="panel panel-default">
            <div class="panel-heading">
                消息提示
            </div>
            <div class="panel-body">
            	<div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">首次生成图片文字提示</label>
                    <div class="col-sm-9 col-xs-12">
						<textarea style="height:160px;" name="first_info" class="form-control" cols="60">{$reply['first_info']}</textarea>
						<span class="help-block">
						<code>#昵称#</code>为当前粉丝微信名字<br/>
						<code>#时间#</code>为活动时间<br/>
						例如:<br/><br/>
						#昵称#活动时间为：#时间#<br/>
						过期后请点击[XXXX]菜单生新获取哦。<br/>
						正在为您发送海报，请稍候……
						</span>
                        </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">首次次生成图片, 即将生成好文字提示</label>
                    <div class="col-sm-9 col-xs-12">
						<textarea style="height:160px;" name="miss_wait" class="form-control" cols="60">{$reply['miss_wait']}</textarea>
                        <span class="help-block">
						<code>#昵称#</code>为当前粉丝微信名字<br/>
						例如:<br/><br/>
						嗨：#昵称#下图是您的专属任务海报<br/>
						把海报发给朋友/朋友圈,获得扫码支持,提升人气值<br/>
						人气值≥2即可解锁包邮领取&lt;a href="http://www.baidu.com"&gt;测试商品&lt;/a&gt;<br/>
						☛点击进入：&lt;a href="http://www.baidu.com"&gt;广告位&lt;/a&gt;
						</span>

                    </div>
                </div>
                <div class="form-group">
                    	<label class="col-xs-12 col-sm-3 col-md-2 control-label">扫码关注提示语</label>
                        <div class="col-sm-9">
							<textarea style="height:160px;" name="miss_sub" class="form-control" cols="60">{$reply['miss_sub']}</textarea>
							<span class="help-block">
							<code>#昵称#</code>为当前粉丝微信名字<br/>
							例如:<br/><br/>
							嗨：#昵称#欢迎关注公众号<br/>
							您可点击菜单生产海报<br/>
              把海报发给朋友/朋友圈,获得扫码支持,提升人气值<br/>
							人气值≥2即可解锁包邮领取&lt;a href="http://www.baidu.com"&gt;测试商品&lt;/a&gt;<br/>
							☛点击进入：&lt;a href="http://www.baidu.com"&gt;广告位&lt;/a&gt;
							</span>
                        </div>
                </div>
				<div class="form-group">
                    	<label class="col-xs-12 col-sm-3 col-md-2 control-label">已经关注再次扫码提示</label>
                        <div class="col-sm-9">
							<textarea style="height:160px;" name="miss_resub" class="form-control" cols="60">{$reply['miss_resub']}</textarea>
							<span class="help-block">
							<code>#昵称#</code>为当前粉丝微信名字<br/>
							例如:<br/><br/>
							嗨：#昵称#您已经关注公众号<br/>
							</span>
                        </div>
                </div>
                <div class="form-group">
                    	<label class="col-xs-12 col-sm-3 col-md-2 control-label">任务推广中提示语</label>
                        <div class="col-sm-9">
							<textarea style="height:160px;" name="miss_back" class="form-control" cols="60">{$reply['miss_back']}</textarea>
							<span class="help-block">
							<code>#昵称#</code>为下级粉丝微信名字<br/>
							<code>#人气值#</code>为已经邀请人数<br/>
							<code>#奖品#</code>为奖品名称<br/>
							<code>#差值#</code>为还需要邀请人数<br/>
							<code>#库存#</code>为当前奖品剩余数量<br/>
							例如:<br/><br/>
							启禀小主:<br/>
							您的好友#昵称#来支持你啦!人气值+1,(总人气值#人气值#)<br/>
							亲,还需#差值#位小伙伴支持认可,就可以解锁【价值99.99元】&lt;a href="http://www.baidu.com"&gt;#奖品#&lt;/a&gt;<br/>
							活动库存剩余:#库存#份
							</span>
                        </div>
                </div>
				<div class="form-group">
                    	<label class="col-xs-12 col-sm-3 col-md-2 control-label">任务推广完成虚拟类提示语</label>
                        <div class="col-sm-9">
							<textarea style="height:160px;" name="miss_finish" class="form-control" cols="60">{$reply['miss_finish']}</textarea>
							<span class="help-block">
							<kbd>虚拟类奖品包括：红包，微信卡券，积分，兑换码</kbd><br/>
							<code>#昵称#</code>为下级粉丝微信名字<br/>
							<code>#人气值#</code>为已经邀请人数<br/>
							<code>#奖品#</code>为奖品名称<br/>
              <code>#兑换码#</code>为兑换码<br/>
							<code>#库存#</code>为当前奖品剩余数量<br/>
							例如:<br/><br/>
							启禀小主:<br/>
							您的好友#昵称#来支持你啦!人气值+1,(总人气值#人气值#)<br/>
							亲,您已经获得#人气值#位小伙伴支持认可轻松获得&lt;a href="http://www.baidu.com"&gt;#奖品#&lt;/a&gt;<br/>
							活动库存剩余:#库存#份
							</span>
                        </div>
                </div>
				<div class="form-group">
                    	<label class="col-xs-12 col-sm-3 col-md-2 control-label">任务推广完成商品购买/自定义链接提示语</label>
                        <div class="col-sm-9">
							<textarea style="height:160px;" name="miss_youzan" class="form-control" cols="60">{$reply['miss_youzan']}</textarea>
							<span class="help-block">
							<kbd>这里为有赞商品链接,自定义链接</kbd><br/>
							<code>#昵称#</code>为下级粉丝微信名字<br/>
							<code>#人气值#</code>为已经邀请人数<br/>
							<code>#奖品#</code>为奖品名称<br/>
							<code>#有赞#</code>为有赞商品/自定义链接<br/>
							<code>#库存#</code>为当前奖品剩余数量<br/>
							例如:<br/><br/>
							启禀小主:<br/>
							您的好友#昵称#来支持你啦!人气值+1,(总人气值#人气值#)<br/>
							亲,您已经获得#人气值#位小伙伴支持认可轻松解锁解锁【价值99.99元】&lt;a href="#有赞#"&gt;#奖品#&lt;/a&gt;点击蓝色字体立即领取吧<br/>
							活动库存剩余:#库存#份
							</span>
                        </div>
                </div>
				<div class="form-group">
                    	<label class="col-xs-12 col-sm-3 col-md-2 control-label">任务推广完成有赞抽奖提示语</label>
                        <div class="col-sm-9">
							<textarea style="height:160px;" name="miss_cj" class="form-control" cols="60">{$reply['miss_cj']}</textarea>
							<span class="help-block">
							<kbd>这里为有赞抽奖</kbd><br/>
							<code>#昵称#</code>为下级粉丝微信名字<br/>
							<code>#人气值#</code>为已经邀请人数<br/>
							<code>#奖品#</code>为奖品名称<br/>
							<code>#抽奖#</code>为抽奖活动链接<br/>
							<code>#库存#</code>为当前奖品剩余数量<br/>
							例如:<br/><br/>
							启禀小主:<br/>
							您的好友#昵称#来支持你啦!人气值+1,(总人气值#人气值#)<br/>
							亲,您已经获得#人气值#位小伙伴支持认可参加有赞抽奖&lt;a href="#抽奖#"&gt;#奖品#&lt;/a&gt;点击蓝色字体参加抽奖吧<br/>
							活动库存剩余:#库存#份
							</span>
                        </div>
                </div>
            </div>
</div>


            
 <div class="panel panel-default">
            <div class="panel-heading">
                活动规则：
            </div>
            <div class="panel-body">
            	<div id="news" style="display: none;">
	                <div class="form-group">
	                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">标题</label>
	                    <div class="col-sm-9 col-xs-12">
	                        <input type="text" id="title" name="stitle[]" class="form-control"  />
	                        <div class="help-block">注意：#昵称#为当前粉丝昵称</div>
	                    </div>
	                </div>
	                <div class="form-group">
	                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">图片链接</label>
	                    <div class="col-sm-9 col-xs-12">
	                        {php echo tpl_form_field_image('sthumb[]', '');}
	                    </div>
	                </div>
	
	                <div class="form-group">
	                    <label class="col-xs-12 col-sm-3 col-md-2 control-label"> 说明</label>
	                    <div class="col-sm-9 col-xs-12">
	                        <input type="text" id="desc" name="sdesc[]" class="form-control"  />
	                    </div>
	                </div>
	
	                <div class="form-group">
	                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">跳转链接</label>
	                    <div class="col-sm-9 col-xs-12">
	                       {php echo tpl_form_field_link('surl[]','')}
	                    </div>
	                </div>
					
	            </div>
                {loop $slist $l}
                <div class="news">
	                <div class="form-group">
	                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">标题</label>
	                    <div class="col-sm-9 col-xs-12">
	                        <input type="text" id="title" name="stitle[]" class="form-control" value="{$l['stitle']}"  />
	                        <div class="help-block">注意：#昵称#为当前粉丝昵称</div>
	                    </div>
	                </div>
	                <div class="form-group">
	                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">图片链接</label>
	                    <div class="col-sm-9 col-xs-12">
	                        {php echo tpl_form_field_image('sthumb[]', $l['sthumb']);}
	                    </div>
	                </div>
	
	                <div class="form-group">
	                    <label class="col-xs-12 col-sm-3 col-md-2 control-label"> 说明</label>
	                    <div class="col-sm-9 col-xs-12">
	                        <input type="text" id="desc" name="sdesc[]" class="form-control" value="{$l['sdesc']}"  />
	                    </div>
	                </div>
	
	                <div class="form-group">
	                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">跳转链接</label>
	                    <div class="col-sm-9 col-xs-12">
	                       {php echo tpl_form_field_link('surl[]',$l['surl'])}
	                    </div>
	                </div>
					
                </div>
                {/loop}
				<div class="form-group">
                    	<label class="col-xs-12 col-sm-3 col-md-2 control-label"></label>
                        <div class="col-sm-9">
                        	<a onclick="onAdd2(this)" class="btn btn-warning"><i class="fa fa-plus"></i> 添加图文</a>
	                         <span class="help-block">图文数量大于1时，推送多图文，否则单图文；标题为空即为删除</span>
                        </div>
                </div>
            </div>
</div>
<div class="panel panel-default">
            <div class="panel-heading">
                粉丝详细设置
            </div>
			<div class="panel-body">
                <div class="form-group">
                    	<label class="col-xs-12 col-sm-3 col-md-2 control-label">任务名称</label>
                        <div class="col-sm-9">
                        	 <input type="text" class="form-control" placeholder="" name="miss_name" value="{$reply['miss_name']}">
                        	 
                        </div>
                </div>
				<div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">新粉丝分组</label>
                    <div class="col-sm-9 col-xs-12">
                            <select style="display: inline-block;width: auto;" name='tagid' class="form-control">
								<option value="" {if !$reply['tagid']}selected{/if}>不分组</option>
                            	{loop $tags $g}
                            	<option value="{$g['id']}" {if $reply['tagid']==$g['id']}selected{/if}>{$g['name']}</option>
                            	{/loop}
                            </select>
                            <span class="help-block">新关注粉丝自动分组,如需使用请先同步标签</span>
                        </div>
                </div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">粉丝性别限制</label>
					<div class="col-sm-9 col-xs-12">
					<label class="radio-inline">
				    <input type="radio" name="sex" value="1" {if $reply['sex'] == 1} checked="checked"{/if}/>不限制性别</label>
				    <label class="radio-inline">
					<input type="radio" name="sex" value="2" {if $reply['sex'] == 2} checked="checked"{/if}/>男性可参与</label>
					<label class="radio-inline">
					<input type="radio" name="sex" value="3" {if $reply['sex'] == 3} checked="checked"{/if}/>女性可参与</label>
					<div class="help-block">
					鉴于刷子是一些空白号,可以加入性别限制,同时也可排除一部分性别未知的非主流粉丝
					</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">限制方式</label>
					<div class="col-sm-9 col-xs-12">
					  
					<label class="radio-inline">
					 <input type="radio" name="iptype" value="2" {if $reply['iptype'] == 2} checked="checked"{/if}/>区域限制</label>
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">选择范围</label>
					<div class="col-sm-9 col-xs-12">
					  <label class="radio-inline">
				   <input type="radio" name="xzlx" value="1" {if $reply['xzlx'] == 1} checked="checked"{/if}/>按省限制</label>
				 <label class="radio-inline">
					 <input type="radio" name="xzlx" value="0" {if $reply['xzlx'] == 0} checked="checked"{/if}/>按市限制</label>
					 <label class="radio-inline">
					 <input type="radio" name="xzlx" value="2" {if $reply['xzlx'] == 2} checked="checked"{/if}/>按区/省限制</label>
					   <div class="help-block"><kbd>选择按省限制时下面的区域限制直接输入省名,选择按市限制时下面的区域限制直接输入市名,选择县/区直接输入省/区名</kbd></div>
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">扫码粉丝是否限制</label>
					<div class="col-xs-12 col-sm-8">
						<input class="flag" type="checkbox" name="fans_limit" value="1" {if $reply['fans_limit']==1}checked{/if} />
						<div class="help-block"><kbd>这里代表的是是否限制粉丝扫码关注限制关注粉丝地区</kbd></div>
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-xs-12 col-sm-4 col-md-3 col-lg-2 control-label">允许参与地区</label>
					<div class="col-sm-8 col-xs-12">
						<input type="text" class="form-control" placeholder="" name="area" value="{$reply['area']}">
						 <div class="help-block">如需要多个城市或省请以英文的逗号隔开,如不限制请留空。<br/><code>按省如:浙江,江苏,上海</code><br/>  <code>按市如:南京,苏州</code><br/>  <code>按区/省限制如:思明区,湖里区,XX县</code><br/><kbd>如果不开启地理位置限制,这里留空并且关闭粉丝扫码限制即可</kbd>
						 </div>
					</div>
				</div>
			</div>	
</div>
<input type="hidden" name="data" value="" />
</div>
<script  src="../addons/{php echo $this->modulename}/template/js/poster.js" type="text/javascript"></script>
<script>

function onAdd2(obj){
	$(obj).parent().parent().before('<div class="news">'+$('#news').html()+'</div>');
}
var gqrt = 0;
var attachurl = "{$_W['attachurl']}";
var ncounter = 0;
    
         function tiger_bind(obj){
            var imgsset = $('#imgsset');
            var namesset = $("#namesset");
             imgsset.hide();
             namesset.hide();
             deleteTimers();
             var type = obj.attr('type');
             if(type=='name'){
                  namesset.show();
                  var size = obj.attr('size') || "16";
                  var picker = namesset.find('.sp-preview-inner');
                  var input = namesset.find('input:first');
                  var namesize = namesset.find('#namesize');
                  var color = obj.attr('color') || "#ffffff";
                  input.val(color); namesize.val(size.replace("px",""));  
                  picker.css( {'background-color':color,'font-size':size});
                  ncounter = setInterval(function(){
                       obj.attr('color',input.val()).find('.text').css('color',input.val());
                       obj.attr('size',namesize.val() +"px").find('.text').css('font-size',namesize.val() +"px");
                   },100);
             }  
         }
         var bscounter = 0 ;        
    $(function(){
        {if !empty($reply['id'])}
          $('.drag').each(function(){
              dragEvent($(this));
          })
        {/if}
          
        	  $('.btn-poster').click(function(){
                  var imgsset = $('#imgsset');
                  var namesset = $("#namesset");
                  imgsset.hide();
                  namesset.hide();
                  deleteTimers();
                   var type = $(this).data('type');
                   var img = "";
                 	if(type=='img' || type=='thumb'){
                       img = '<img src="../addons/{php echo $this->modulename}/template/images/default.jpg" />';
                   }else if(type=='name'){
                       img = '<div class=text>昵称</div>';
                   }else if(type=='qr'){
                       img = '<img src="../addons/{php echo $this->modulename}/template/images/qrcode_9.jpg" />';
                   }
                   var index = $('#tiger_poster .drag').length+1;
                   var obj = $('<div class="drag" type="' + type +'" index="' + index +'" style="z-index:' + index+'">' + img+'<div class="dRightDown"> </div><div class="dLeftDown"> </div><div class="dRightUp"> </div><div class="dLeftUp"> </div><div class="dRight"> </div><div class="dLeft"> </div><div class="rUp"> </div><div class="rDown"></div></div>');
                   $('#tiger_poster').append(obj);
                   dragEvent(obj);
               });
           
                $('.drag').click(function(){
                    tiger_bind($(this));
                })
            
    })
 var imgcounter = 0 ;   
     $('form').submit(function(){
    	 if($.trim($('#title').val()) == ''){
            alert('请输入海报名称!');
            return false;
        }
        var poster = [];
        $('.drag').each(function(){
            var obj = $(this);
            var type = obj.attr('type');
            var left = obj.css('left');
            var top = obj.css('top');
            var d= {left:left,top:top,type:obj.attr('type'),width:obj.css('width'),height:obj.css('height')};
            if(type=='name'){
                d.size = obj.attr('size');
                d.color = obj.attr('color');
            }
            poster.push(d);
        });
        $('input[name="data"]').val( JSON.stringify(poster));
        return true;
    });
	$(function(){
		require(['bootstrap.switch'],function($){
		   $('.flag:checkbox').bootstrapSwitch({onText: '限制', offText: '不限制'});
			$('.flag:checkbox').on('switchChange.bootstrapSwitch', function(event, state) {
			   var force_register = state ? 2 : 1;
			});
		});
	});
    </script>
