{template 'common/header'}
<style type="text/css">
.red {float:left;color:red}
.white{float:left;color:#fff}

.tooltipbox {
  background:#fef8dd;border:1px solid #c40808; position:absolute; left:0;top:0; text-align:center;height:20px;
  color:#c40808;padding:2px 5px 1px 5px; border-radius:3px;z-index:1000;
}
.red { float:left;color:red}
</style>
<ul class="nav nav-tabs">
  <li {if $operation == 'display'}class="active"{/if}><a href="{php echo $this->createWebUrl('order', array('op' => 'display','rid'=>$rid,'gid'=>$gid));}">未兑换请求</a></li>
  <li {if $operation == 'display_done'}class="active"{/if}><a href="{php echo $this->createWebUrl('order', array('op' => 'display_done','rid'=>$rid,'gid'=>$gid));}">已兑换请求</a></li>
  <li><a style="" onclick="return confirm('此操作可能耗时较久，确认吗？'); return false;" href="{php echo $this->createWebUrl('orderdown', array('status'=>'new','rid'=>$rid,'gid'=>$gid))}" title="导出未兑换请求"><i class="fa fa-download"> 导出未兑换请求</i></a></li>
  <li><a style="" onclick="return confirm('此操作可能耗时较久，确认吗？'); return false;" href="{php echo $this->createWebUrl('orderdown', array('status'=>'done','rid'=>$rid,'gid'=>$gid))}" title="导出已兑换请求"><i class="fa fa-download"> 导出已兑换请求</i></a></li>
  <li><a style="" onclick="return confirm('此操作可能耗时较久，确认吗？'); return false;" href="{php echo $this->createWebUrl('orderdown',array('rid'=>$rid,'gid'=>$gid))}" title="导出"><i class="fa fa-download"> 导出全部数据</i></a></li>
</ul>
<script>
  require(['bootstrap'],function($){
    $('.btn').hover(function(){
      $(this).tooltip('show');
    },function(){
      $(this).tooltip('hide');
    });
  });
</script>
{if $operation == 'display'}
<div class="main">
  <div class="category">
    <form action="" method="post" class="form-horizontal form" enctype="multipart/form-data" id="form1">
      <div class="panel panel-default">
        <div class="panel-body table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>框</th>
                <th>奖品名称</th>
                <th>粉丝信息</th>
                <th>收货人</th>
                <th>地址</th>
                <th>电话</th>
                <th>提交时间</th>
                <th>操作</th>
              </tr>
            </thead>
            <tbody>
            {loop $list $row}
            <tr>
              <td><input type="checkbox" name="id[]" value="{$row['id']}" class=""></td>
              <td>{php echo $this->goodstitle($row['gid'])}</td>
              <td>
                <img src="{$row['headimgurl']}" width="50" onerror="this.src='resource/images/noavatar_middle.gif'" style="border-radius: 50%;"/>
                <br/>
                昵称:{$row['nickname']}
              </td>
              <td>
                {$row['realname']}
              </td>
              <td>
                {$row['residedist']}
              </td>
              <td>{$row['mobile']}</td>
              <td>{php echo date('Y-m-d H:i:s',$row['time'])}</td>
              <td>
                <a href="{php echo $this->createWebUrl('order', array('op' => 'post', 'id' => $row['id']))}" class="btn btn-info btn-sm" data-toggle="tooltip" data-placement="bottom" title="编辑"><i class="fa fa-check"></i> 兑换</a>&nbsp;&nbsp;
                <a href="{php echo $this->createWebUrl('order', array('op' => 'delete', 'id' => $row['id']))}" onclick="return confirm('确认删除此奖品吗？');return false;" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="bottom" title="删除"><i class="fa fa-times"></i> 删除</a>
              </td>
            </tr>
            {/loop}
            <tr>
              <td><input type="checkbox" name="" onclick="var ck = this.checked;$(':checkbox').each(function(){this.checked = ck});"></td>
              <td colspan="7">
                <input name="token" type="hidden" value="{$_W['token']}" />
                <input type="submit" class="btn btn-primary" name="batchsend" value="批量标记为已经兑换成功" />
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        {$pager}
      </div>
    </form>
  </div>
</div>
<script>
  require(['jquery', 'util'], function($, u){
    $('#form1').submit(function(){
      if($(":checkbox[name='id[]']:checked").size() > 0) {
        return confirm('确认信息无误，批量发放？');
      }
      u.message('没有选择订单', '', 'error');
      return false;
    });
  });
</script>
{elseif $operation == 'display_done'}
<div class="main">
  <div class="category">
    <form action="" method="post" class="form-horizontal form" enctype="multipart/form-data" id="form1">
      <div class="panel panel-default">
        <div class="panel-body table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>ID</th>
                <th>奖品名称</th>
                <th>粉丝信息</th>
                <th>收货人</th>
                <th>地址</th>
                <th>电话</th>
                <th>提交时间</th>
                <th>操作</th>
              </tr>
            </thead>
            <tbody>
            {loop $list $row}
            <tr>
              <td>{$row['id']}</td>
              <td>{php echo $this->goodstitle($row['gid'])}</td>
              <td>
                <img src="{$row['headimgurl']}" width="50" onerror="this.src='resource/images/noavatar_middle.gif'" style="border-radius: 50%;"/>
                <br/>
                昵称:{$row['nickname']}
              </td>
              <td>
                {$row['realname']}
              </td>
              <td>
                {$row['residedist']}
              </td>
              <td>{$row['mobile']}</td>
              <td>{php echo date('Y-m-d H:i:s',$row['time'])}</td>
              <td>
                <a href="{php echo $this->createWebUrl('order', array('op' => 'delete', 'id' => $row['id']))}" onclick="return confirm('确认删除此奖品吗？');return false;" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="bottom" title="删除"><i class="fa fa-times"></i> 删除</a>
              </td>
            </tr>
            {/loop}
            </tbody>
          </table>
        </div>
        {$pager}
      </div>
    </form>
  </div>
</div>
{/if}
{template 'common/footer'}
