{template 'common/header'}
<div class="clearfix">
    <form class="form-horizontal form" action="" method="post" enctype="multipart/form-data">
        <div class="alert alert-danger">
            取消关注扣人气，取消关注的粉丝如果重新关注的话同一个活动是不会为任何人增加人气的
        </div>
        <div class="panel panel-success">
        	<div class="panel-heading">取消关注设置</div>
        	<div class="panel-body">
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">好友取消关注上级提示语</label>
                    <div class="col-sm-9 col-xs-12">
                        <textarea style="height:160px;" name="un_tips" class="form-control" cols="60">{$unsub['un_tips']}</textarea>
                        <span class="help-block">
                          <code>#下级昵称#</code>为取消关注的粉丝微信名字<br/>
                          <code>#上级昵称#</code>为被取消关注的粉丝微信名字<br/>
                          <code>#上级总人气#</code>为上级总人气值
                        </span>
                    </div>
                </div>
        	</div>
        </div>
        <div class="form-group margin-bottom">
            <div class="col-sm-12">
                <input name="submit" type="submit" value="提交" class="btn btn-primary col-lg-1">
                <input type="hidden" name="token" value="{$_W['token']}"/>
            </div>
        </div> 
    </form>
</div>
{template 'common/footer'}