
/*基本样式*/

*{
    margin: 0;
    padding: 0;
}
img{
    border: none;
    font-size: 0;
}
body {
    font: normal 14px/24px Microsoft Yahei,Arail;
    color: #fff;
    margin: 0;
    padding: 0;
}
input{
    outline: none;
}
h1,h2,h3,h4{
    font-size: 16px;
    font-weight: normal;
}
.middle{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.clearfix {
    *zoom: 1;
}
.clearfix:before,
.clearfix:after {
    display: table;
    line-height: 0;
    content: "";
}
.clearfix:after {
    clear: both;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.abs{
    position: absolute;
}
.rlt{
    position: relative;
}
.hide{
    display: none;
}
.show{
    display: block;
}
.container{
    width: 94%;
    margin: 0 auto;
}
li{
    list-style-type: none;
}
.auto{
    width: 100%;
    max-width: 100%;
    height: auto;
}
.dark{
    background-color: #e5e5e5;
    border-bottom: 1px solid #d4d4d4;
    border-top: 1px solid #d4d4d4;
    height: 10px;
}
a{
    text-decoration: none;
    color: white;
}
.fs14{ font-size: 14px;}
.fs16{ font-size: 16px;}
.fs18{ font-size: 18px;}


/*首页样式*/
/*头部导航*/
header{
    height: 60px;    
}
.logo,.search form{
    height: 60px;
}
.nav{
    line-height: 60px;
    font-size: 16px;
    margin-left: 10%;
}
.nav li{
    text-align: center;
}
.nav li a{
    color: white;
    padding: 0 8px 10px;
}
.nav li a.current{
    color: #fff500;
    border-bottom: 2px solid #fff500;
}
.search{
    z-index: 102;
}
.search img{
    border:  1px solid #fff;
    padding: 5px;
    border-radius: 50%;
    width: 16px;
    height: 16px;
}
#keyword{
    height: 32px;
    width: 205px;
    right: 0;
    top: 15px;
    box-sizing: border-box;
    border-radius: 20px;
    border: 1px solid white;
    padding: 0 37px 0 10px;
}
#search{
    width: 16px;
    height: 16px;
    padding: 15px;
    border:  1px solid #fff;
    border-radius: 50%;
    background: url("../images/search.png") no-repeat center center #22292c;
    cursor: pointer;
}
/*推荐版块*/
.recommend{
    background-color: #343434;
    margin-bottom: 5px;
}
.title{
    height: 40px;
    line-height: 40px;
}
.title a{
    font-size: 14px;
}
.recommend dl{
    width: 32%;
    overflow: hidden;
}
.recommend dl dt{
    position: relative;
}
.score,.soon{
    width: 100%;
    height: 16px;
    line-height: 16px;
    text-align: center;
    transform-origin: center center;
}
.score{
    top: 10px;
    background-color: #fff500;
    color: red;
    transform: rotate(45deg);
}
.soon{
    top: 10px;
    background-color: #ff7800;
    color: white;
    transform: rotate(-45deg);
}
.recommend dl dd{
    text-align: center;
    padding-bottom: 5px;
}
/*foot*/
.foot{
    text-align: center;
    color: white;
    border-top: 1px solid white;
    background-color: #343434;
    line-height: 40px;
}
.foot1{
    text-align: center;
    color: #343434;
    border-top: 1px solid #dbdbdb;
    line-height: 40px;
}
/*片库样式*/
.select{
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
    margin-bottom: 5px;
}
.select .swiper-container{
    border-bottom: 1px solid #b6b6b6;
}
.select .swiper-slide{
    height: 50px;
    line-height: 50px;
    color: #919191;
    cursor: pointer;
}
.select .swiper-slide.selected{
    color: #87a716;
}
.more{
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 10px solid #919191;
    border-bottom: 10px solid transparent;
    right: 5px;
    top: 50%;
    margin-top: -10px;
}
.only{
    right: 1px;
    top: 1px;
    padding: 0 5px;
    background-color: #ff8407;
    border-radius: 5px;
}

/*榜单样式*/
.list{
    margin-bottom: 5px;
}
.list img{
    box-shadow: 0 5px 5px rgba(6,0,1,.75);

}
.list1,.list2{
    left: 0;
    top: 0;
    background-color: rgba(0,160,233,.6);
    width: 150px;
    text-align: center;
    padding: 5px 0;
    font-size: 16px;
    box-shadow: 0 5px 5px rgba(6,0,1,.75);
}
.list1 a{
    color: #feba3d;
}

/*电影详情样式*/
.poster-bg{
    left: 0;
    top: 0;
    font-size: 0;
    position: fixed;
    z-index: -1;
}
.detail{
    width: 100%;
    min-height: 100%;
    background-color: rgba(0,0,0,.7);
}
.detail .title{
    text-align: center;
    font-size: 16px;
    border-bottom: 1px solid #787572;
}
.name{
    height: 64px;
    line-height: 64px;
}
.change{
    color: #c7941f;
    right: 10px;
    bottom: -20px;
    padding-right: 20px;
    font-size: 16px;
    cursor: pointer;
}

.pic-box{
    margin-top: 40px;
}
.pic{
    width: 60% ;
    margin: 0 auto;
    overflow: hidden;
}
.pics{
    position: relative;
}
.left,.right{
    display: block;
    width: 40px;
    height: 36px;
    top: 45%;
}
.left{
    left: 0;   
}
.right{   
    right: 0;
}
.full{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1000px;
    background-color: #000;
    opacity: 0;
    z-index: 101;
}
.num-tab-main a {
  background: #f3f3f3 none repeat scroll 0 0;
  border: 1px solid #e6e6e6;
  border-radius: 2px;
  color: #4c4c4c;
  display: block;
  float: left;
  font-size: 14px;
  height: 30px;
  line-height: 30px; 
  position: relative;
  text-align: center;  
  margin: 5px 1%;
}