<?php
$cctv = cctv();
$cntv = cntv();
$wstv = wstv();
$qttv = qttv();  
?>
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>电视频道</title>
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
<link rel="stylesheet" href="{MODULE_URL}/weui/weuix.min.css"/>
<link rel="stylesheet" type="text/css" href="{MODULE_URL}style/css/base.css">
<link rel="stylesheet" type="text/css" href="{MODULE_URL}style/css/li.css">
<script src="{MODULE_URL}/weui/zepto.min.js"></script>
<script src="{MODULE_URL}style/js/li.js"></script>
<script src="{MODULE_URL}/weui/swiper.min.js"></script>
<script type="text/javascript" src="{MODULE_URL}/ckplayer/ckplayer.js" charset="utf-8"></script>
<style type="text/css">
  .leimu_zui{width: auto}
  .weui-navigator-list li{font-weight: 500}
  .weui-navigator-list li.weui-state-hover, .weui-navigator-list li.weui-state-active a:after{background-color: none}
</style>
</head>
<body ontouchstart  class="page-bg">
{if $settings['ziyuan'] == 2}
{template 'pingguo/head'} 
{else}
{template 'news/head'} 
{/if}
{if $_GPC['shangci']}
<section class="wode_box bgfff">
  <ul>
   
    <li>
      <div class="huiyuan" style="background: none">
        <p class="clearfix" style="margin-left: 10px">上次播放：{$_GPC['shangci_title']}{if $_GPC['shangci_jishu']}第{$_GPC['shangci_jishu']}集{/if}<span class="fr">
        
           <a href="{$_GPC['shangci']}">继续观看<em class="zhuandao2"></em></span></a>
        </p>  
      </div>
    </li>      
  </ul>
</section>
{/if}
{if $url}
<div class="video" style="width: 100%;height: 200px;"></div>
<script type="text/javascript">
    var videoObject = {
        container: '.video',//“#”代表容器的ID，“.”或“”代表容器的class
        variable: 'player',//该属性必需设置，值等于下面的new chplayer()的对象
        autoplay:true,//自动播放
        live:true,
        video:'{$url}'//视频地址
    };
    var player=new ckplayer(videoObject);
</script> 
{/if}  
<div class="page-bd">  
<ul>
<li {if $_GPC['channel']=='cctv'}class="js-show"{/if}>  
<div class="weui-flex js-category">
    <p class="weui-flex-item">CCTV</p>
    <i class="icon icon-74"></i>
</div>
<div class="page-category js-categoryInner">    
<div class="weui_cells weui_cells_access" style="margin-top: 0px;">
{loop $cctv $c}  
<a class="weui_cell {if $url == $c['playurl']}f-red{/if}" href="{php echo m_url('tv', array('url'=>$c['playurl'],'channel'=>'cctv'))}">
    <div class="weui_cell_bd weui_cell_primary">
        <p>{$c['name']}</p>
    </div>
    <div class="weui_cell_ft"></div>
</a>  
{/loop}    
</div>
</div>
</li>  
<li {if $_GPC['channel']=='wstv'}class="js-show"{/if}>
<div class="weui-flex js-category">
    <p class="weui-flex-item">卫视频道</p>
    <i class="icon icon-74"></i>
</div>
<div class="page-category js-categoryInner">    
<div class="weui_cells weui_cells_access" style="margin-top: 0px;">
{loop $wstv $c}
<a class="weui_cell {if $url == $c['playurl']}f-red{/if}" href="{php echo m_url('tv', array('url'=>$c['playurl'],'channel'=>'wstv'))}">
    <div class="weui_cell_bd weui_cell_primary">
        <p>{$c['name']}</p>
    </div>
    <div class="weui_cell_ft"></div>
</a>  
{/loop}    
</div>
</div>
</li> 
<li {if $_GPC['channel']=='cntv'}class="js-show"{/if}>
<div class="weui-flex js-category">
    <p class="weui-flex-item">CNTV</p>
    <i class="icon icon-74"></i>
</div>
<div class="page-category js-categoryInner">    
<div class="weui_cells weui_cells_access" style="margin-top: 0px;">
{loop $cntv $c}
<a class="weui_cell {if $url == $c['playurl']}f-red{/if}" href="{php echo m_url('tv', array('url'=>$c['playurl'],'channel'=>'cntv'))}">
    <div class="weui_cell_bd weui_cell_primary">
        <p>{$c['name']}</p>
    </div>
    <div class="weui_cell_ft"></div>
</a>   
{/loop}    
</div>
</div>
</li>
<li {if $_GPC['channel']=='qttv'}class="js-show"{/if}>
<div class="weui-flex js-category">
    <p class="weui-flex-item">其他频道</p>
    <i class="icon icon-74"></i>
</div>
<div class="page-category js-categoryInner">    
<div class="weui_cells weui_cells_access" style="margin-top: 0px;">
{loop $qttv $c}
<a class="weui_cell {if $url == $c['playurl']}f-red{/if}" href="{php echo m_url('tv', array('url'=>$c['playurl'],'channel'=>'qttv'))}">
    <div class="weui_cell_bd weui_cell_primary">
        <p>{$c['name']}</p>
    </div>
    <div class="weui_cell_ft"></div>
</a>   
{/loop}    
</div>
</div>
</li>           
</ul>
</div> 
{if $settings['ad_thumb']}
<div style="margin: 10px">
<a href="{$settings['ad_link']}"><img src="{php echo tomedia($settings['ad_thumb'])}" width="100%"></a>
</div>
{/if} 
<script>
$(function(){
    $('.js-category').click(function(){
    $parent = $(this).parent('li');
    if($parent.hasClass('js-show')){
            $parent.removeClass('js-show');
            $(this).children('i').removeClass('icon-35').addClass('icon-74');
        }else{
            $parent.siblings().removeClass('js-show');
            $parent.addClass('js-show');
            $(this).children('i').removeClass('icon-74').addClass('icon-35');
            $parent.siblings().find('i').removeClass('icon-35').addClass('icon-74');
        }
    });
});
</script>
{template 'news/footer'} 
{template 'jilu'} 
</body>
</html>