		<footer class="mui-bar mui-bar-nav1">
		
			<div class="mui-row pt02">
			
				<div class="w20 tx-c ulev-1 t-gra dw" onclick="openurl('','{php echo $this->createMobileUrl('mymessages',array());}');">
					{if $ft==1}
					<img src="{MODULE_URL}myui/img/n011.png" class="navicon">
					{else}
					<img src="{MODULE_URL}myui/img/n01.png" class="navicon">
					{/if}
					<p class="ulev-1 line15 t-gra mb0 pt02 {if $ft==1}t-green{/if}">消息</p>
					
					<img class="newdd cbg" src="{MODULE_URL}myui/img/newdd.png">
					
				</div>
				
				
				<div class="w20 tx-c ulev-1 t-gra" onclick="openurl('','{php echo $base['zdyurl']}');">
					{if $ft==2}
					<img src="{MODULE_URL}myui/img/n022.png" class="navicon">
					{else}
					<img src="{MODULE_URL}myui/img/n02.png" class="navicon">
					{/if}
					<p class="ulev-1 line15 mb0 pt02 t-gra {if $ft==2}t-green{/if}">{$base['zdymenu']}</p>
				</div>
				
				<div class="w20" onclick="openurl('','{php echo $this->createMobileUrl('subform',array());}');">
				
					<div class="uw dw">
					
						&nbsp;
						<div class="midan"  style="z-index:9999;">
						
							<span class="mui-icon mui-icon-plusempty t-wh"></span>
							
						</div>
					</div>
				</div>
				
				
				<div class="w20 tx-c ulev-1 t-gra" onclick="openurl('','{php echo $base['zdyurl4']}');">
					
					{if $ft==4}
					<img src="{MODULE_URL}myui/img/n044.png" class="navicon">
					{else}
					<img src="{MODULE_URL}myui/img/n04.png" class="navicon">
					{/if}
					<p class="ulev-1 line15 mb0 pt02 {if $ft==4}t-green{/if}" >{$base['zdymenu4']}</p>
				
				</div>
				
				
				
				<div class="w20 tx-c ulev-1 t-blu" onclick="openurl('','{php echo $this->createMobileUrl('usercenter',array());}');">
					{if $ft==5}
					<img src="{MODULE_URL}myui/img/n055.png" class="navicon">
					{else}
					<img src="{MODULE_URL}myui/img/n05.png" class="navicon">
					{/if}
					<p class="ulev-1 line15 mb0 pt02 t-gra {if $ft==5}t-green{/if}">我的</p>
				</div>
			</div>
			
		</footer>