<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>{$title}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<link rel="stylesheet" href="{MODULE_URL}myui/css/mui.css">
		<link rel="stylesheet" href="{MODULE_URL}myui/css/peng.css">
		<link rel="stylesheet" href="{MODULE_URL}myui/css/icons-extra.css">
		<link rel="stylesheet" href="{MODULE_URL}myui/css/iconmore.css">

<style>
	
	
	.pl15{padding-left:15px;}
	.pr15{padding-right:15px;}
	.ml05{margin-left:0.5em;}
	.mr05{margin-right:0.5em;}
	.p05{padding:0.5em;}
	p{margin-bottom:0;}
	.f24{font-size:24px;}
	.snum{border:0 !important;background:#f5f5f5 !important;height:30px !important;line-height:30px !important;padding:0 !important;text-align:center;}
	.pt03{padding-top:0.3em;}
	.mui-bar-nav1 {
		bottom: 0;
		-webkit-box-shadow: 0 1px 6px #ccc;
		box-shadow: 0 1px 6px #ccc;
	}
	.addressbg{background:#fff url({MODULE_URL}myui/img/addressbg.png) repeat-x;background-position:left bottom;background-size:auto 3px;}
	
</style>

	</head>
	<body>
		
		
<header class="mui-bar mui-bar-nav">
	
	<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left t-sbla"></a>
	<a class="mui-icon mui-icon-home mui-pull-right t-sbla" href="{php echo $this->createMobileUrl('index',array());}"></a>
	<h1 class="mui-title">填写订单</h1>
	
</header>

	
<div class="mui-content">
	{if !empty($address)}
	<div class="mui-row ml05 mr05 mt05 c-wh p05 addressbg">
		<div class="mui-col-xs-11">
			<p class="fb t-sbla">{$address['contacts']} {$address['mobile']}</p>
			<p class="ulev-2 t-gra">
			{$address['city']} {$address['address']}
			</p>
		</div>
		<div class="mui-col-xs-1 tx-c pt05">
			<a href="{php echo $this->createMobileUrl('mall_address',array('id'=>$id,'aid'=>$address['id']));}">
			<span class="mui-icon mui-icon-forward f24 t-gra"></span>
			</a>
		</div>
	</div>
	{else}
	
	<div class="mui-row ml05 mr05 mt05 c-wh p05 addressbg" onclick="openurl('{php echo $this->createMobileUrl('mall_address',array());}')">
		
		<div class="mui-col-xs-11 tx-c pt05 t-gra ulev-1">
			+ 创建地址
		</div>
		<div class="mui-col-xs-1 tx-c pt05">
			<span class="mui-icon mui-icon-forward f24 t-gra"></span>
		</div>
	</div>
	
	{/if}
	
	<div class="mui-row ml05 mr05 mt05 c-wh p05">
		<div class="mui-col-xs-3">
			<img src="{php echo tomedia($goods['pimg'])}" style="width:100%;height:70px;border-radius:4px;">
		</div>
		<div class="mui-col-xs-9 pl05">
			<p class="t-sbla fb">{$goods['ptitle']}</p>
			<p><span class="ulev-1 fb t-red">￥</span><span class="ulev1 fb t-red">{$goods['price']}</span><span class="ulev-1 t-gra pl15">{$goods['punit']}</span></p>
		</div>
		<div class="mui-col-xs-12">
			<div class="mui-row">
				<div class="mui-col-xs-8 t-sbla ulev-1 pt03">购买数量</div>
				<div class="mui-col-xs-1 tx-c pt03" onclick="red();">
					<span class="am-icon-minus t-gra"></span>
				</div>
				<div class="mui-col-xs-2">
					<input type="number" value="{$pnum}" class="snum" id="gnum">
				</div>
				<div class="mui-col-xs-1 tx-c pt03" onclick="add();">
					<span class="am-icon-plus"></span>
				</div>
			</div>
		</div>
	</div>
	
	<div class="mui-row ml05 mr05 mt05 c-wh p05">
		<div class="mui-col-xs-12">
			<span class="fl t-gra ulev-1">商品金额</span>
			<span class="fr t-sbla">
				¥<span id="price">{if !empty($order)}{$order['goodsprice']}{else}{$goods['price']}{/if}</span>
			</span>
		</div>
		<div class="mui-col-xs-12">
			<span class="fl t-gra ulev-1">运费</span>
			
			<span class="fr t-red pt05">
				+ ¥<span id="baseyf">{if !empty($order)}{$order['yf']}{else}{$goods['baseyf']}{/if}</span>
			</span>
			<span class="fr t-red  pr15 pt03" id="confirmBtn">
				<span class="mui-icon mui-icon-help" style="font-size:24px;"></span>
			</span>
		</div>
	</div>

	
</div>




		<footer class="mui-bar mui-bar-nav1" style="padding-right:0;">
		
			<div class="mui-row">
			
				<div class="mui-col-xs-8 t-red"  style="height:44px;line-height:44px;">
					<span class="">¥</span>
					<span class="ulev2 fb" id="total_amount">{if !empty($order)}{$order['orderprice']}{else}{$goods['price']}{/if}</span>
				</div>
				
				<div class="mui-col-xs-4 c-red t-wh tx-c" style="height:44px;line-height:44px;" id="paybtn" onclick="suborder(0);">
					提交订单
				</div>

			</div>
			
		</footer>

	
	</body>

</html>


	<script src="{MODULE_URL}myui/js/jquery-1.8.3.min.js"></script>
	<script src="{MODULE_URL}myui/js/mui.min.js"></script>


<script>
	document.getElementById("confirmBtn").addEventListener('tap', function() {
				var btnArray = ['否', '是'];
				mui.confirm('需要商家确认修改邮费吗？', '邮费确认', btnArray, function(e) {
					if (e.index == 1) {				
						//mui.toast('已提交订单给商家进行邮费确认');
						suborder(1);
					}
				})
			});
			
	function openurl(nurl){
		var id={php echo $id};
		window.location.href = nurl+"&id="+id;
					
	}
	
	function red(){
		var t = $("#gnum");
		t.val(parseInt(t.val())-1);
		if (parseInt(t.val())<=0){			
			mui.toast("购买数量不能为零哦~");			
			t.val(1);
		}
		setTotal();
	}
	function add(){
		var t = $("#gnum");
		t.val(parseInt(t.val())+1);
		var pqty="{php echo $goods['pqty']}";
		if (parseInt(t.val())>pqty){			
			mui.toast("购买数量不能超过库存哦~");			
			t.val(pqty);			
		}
		setTotal();
	}
	
	function setTotal(){
		var t = $("#gnum");
		var price="{php echo $goods['price']}";
		var baseyf=parseInt("{php echo $goods['baseyf']}").toFixed(2);
		var addyf=parseInt("{php echo $goods['addyf']}").toFixed(2);
		$("#price").html((parseInt(t.val())*price).toFixed(2));//toFixed()是保留小数点的函数很实用哦
		var yf=(parseInt(t.val())*addyf+{php echo $goods['baseyf']}-{php echo $goods['addyf']}).toFixed(2);
		var amount=(parseInt(t.val())*addyf+parseInt(t.val())*price+{php echo $goods['baseyf']}-{php echo $goods['addyf']}).toFixed(2);
		
		$("#baseyf").html(yf);
		$("#total_amount").html(amount);
	}
	
	function suborder(n){
		
		
		$("#paybtn").removeAttr('onclick','suborder();');
		var remark='';
		if(n==1){
			remark='运费不合理，对运费有争议';
		}
		
		var g_num = $("#gnum").val();
		var g_id ={php echo $id};
		var g_sid ={php echo $goods['sid']};
		var g_aid ={php echo $g_aid};
		
		var orid={$orid};
		
		mui.ajax({
				type: "get",
				dataType: "json",
				url: "{php echo $this->createMobileUrl('mall_cashier',array('mid'=>$mid))}"+"&orid="+orid+"&remark="+remark,
				data: {
					g_num:g_num,
					g_id:g_id,
					g_sid:g_sid,
					g_aid:g_aid,
					
				},
				success: function(msg) {

					console.log(JSON.stringify(msg));	
					
					if(msg.status==1){
						
						mui.toast(msg.log);
						
						setTimeout(function(){
							
							window.location.href = "{php echo $this->createMobileUrl('mall_payorders',array())}"+"&orderid="+msg.poid;
						
						},1500);
						
						
					}else if(msg.status==2){
						mui.toast(msg.log);
						setTimeout(function(){
							
							window.location.href = "{php echo $this->createMobileUrl('mall_myorders',array())}";
						
						},1500);
					}else{
						mui.toast(msg.log);
						$("#paybtn").attr('onclick','suborder();');
					}
				}
			});
			
		
		
	}
	
	
	
	
</script>
