{template 'manage_header'}
<link rel="stylesheet" href="{MODULE_URL}myui/css/peng.css">
<link rel="stylesheet" href="{MODULE_URL}myui/css/icons-extra.css">
<link rel="stylesheet" href="{MODULE_URL}myui/css/iconmore.css">
<link rel="stylesheet" href="{MODULE_URL}myui/css/new.css">

<style>
	.manuicon{width:50px;height:50px;border-radius:4px;}
	.sctx{height:100px;}
</style>

<body>

	<div class="mui-content c-hei3">

		{template 'manage_top'}
		<div class="mui-row">
			{template 'manage_left'}

			<div class="mui-col-xs-10 c-hei5 p20">
				<div>
					{template 'manage_mall_manage_menu'}
				</div>

				<div class="mui-row c-wh mb1" style="margin-top: 15px;">
					<div class="mui-col-xs-12 pt1 pb1 pl15 t-gre fb">
						商城banner列表
					</div>
					<div class="mui-col-xs-12">
						<table width="100%" class="mui-table">
							<thead>
								<tr>
									<th>名称</th>
									<th>图片</th>
									<th>链接</th>
									<th>操作</th>
								</tr>
							</thead>

							<tbody>
								{loop $list $key $value}

								<tr class="gradeX tx-c" id="menu{$value['id']}">
									<td>{$value['stitle']}</td>
									<td>
										{if $value['simg']!=''}
										<img src="{php echo tomedia($value['simg'])}" style="width: 48px; height: 48px;">
										{/if}
									</td>
									<td>{$value['surl']}</td>
									
									<td>
										<div class="tpl-table-black-operation">
											<a href="{php echo $this->createMobileUrl('manage_mall_manage',array('act'=>'add_ad','id'=>$value['id']));}">
												<i class="am-icon-pencil"> 编辑</i>
											</a>
											<a href="javascript:;" class="tpl-table-black-operation-del" onclick="menudel({$value['id']});">
												<i class="am-icon-trash"> 删除</i>
											</a>
										</div>
									</td>
								</tr>

								{/loop}

								<!-- more data -->
							</tbody>
						</table>

					</div>
				</div>

				<div class="mui-row c-wh mt1">

					<div class="mui-row">
						<div class="mui-col-xs-12 pt1 pb1 pl15 t-gre fb">
							{if $id}
							编辑商城导航
							{else}
							新增商城导航
							{/if}
						</div>
						<div class="mui-col-xs-12">

							<form class="mui-input-group" action="{php echo $this->createMobileUrl('manage_mall_manage',array('act'=>'add_ad_save'));}" method="post">

								<div class="mui-input-row">
									<label>商城导航名称</label>
									<input type="text" class="mui-input-clear" name="stitle" placeholder="请输入商城导航名称" value="{$item[stitle]}">
								</div>

								<div class="mui-row">
									<div class="mui-col-xs-12 tx-c">
										<div id="info_del_a" class="tx-c mt1 mb1">
											<img src="{if $item[simg]}{php echo tomedia($item[simg])}{else}{MODULE_URL}myui/img/image_adder_normal.png{/if}" class="sctx cbg">
											<input type="hidden" value="{$item[simg]}" name="simg">
										</div>
										<script>
											util.image($('#info_del_a'), function(url) {
												$('#info_del_a').html('<input type="hidden" value="' + url.attachment + '" name="simg" /><img src="' + url.url + '" data-id="' + url.id + '" data-preview-src="" data-preview-group="__IMG_UPLOAD_imagea" class="sctx cbg"/> ');
											}, {
												crop: false,
												multiple: true,
												preview: '__IMG_UPLOAD_imagea'
											});
										</script>
										<p class="tx-c pt02 mb1">上传图标</p>

									</div>
								</div>

								<div class="mui-input-row">
									<label>商城导航链接</label>
									<input type="text" class="mui-input-clear" name="surl" placeholder="请输入商城导航链接" value="{$item[surl]}">
								</div>

								<div class="mui-button-row" style="margin-left:18px;margin-right:18px;height:50px;">
									<input type="submit" name="submit" class="mui-btn mui-btn-primary c-blu" value="确认">
									<input type="hidden" name="id" value="{$item[id]}" />
									<input type="hidden" name="token" value="{$_W['token']}" />
								</div>
							</form>
						</div>
					</div>

				</div>
			</div>
		</div>

{template 'manage_footer'}</div></body></html>
<script>
	function menudel(id) {

		var o = document.getElementById("menu" + id);
		var btnArray = ['否', '是'];
		mui.confirm('删除这条记录吗？', '', btnArray, function(e) {
			if(e.index == 1) {

				mui.ajax({
					type: "get",
					dataType: "json",
					url: "{php echo $this->createMobileUrl('manage_mall_manage',array('act'=>'delete_ad'));}" + "&id=" + id,
					data: {},
					success: function(msg) {
						console.log(JSON.stringify(msg));
						if(msg.status == 1) {
							mui.toast(msg.log);
							$(o).remove();
						}else{
							mui.toast(msg.log);
						}

					}
				});

			}
		})

	}
</script>

<script>
	function change1() {
		
		obj = document.getElementsByName("author");
		
		
		check_val = [];
		for(k in obj) {
			if(obj[k].checked)
				check_val.push(obj[k].value);
		}
		$("#authorid").val(check_val);

	}
	
</script>

{template 'manage_foot'}