{template 'manage_header'}
<link rel="stylesheet" href="{MODULE_URL}myui/css/peng.css">
<link rel="stylesheet" href="{MODULE_URL}myui/css/icons-extra.css">
<link rel="stylesheet" href="{MODULE_URL}myui/css/iconmore.css">
<link rel="stylesheet" href="{MODULE_URL}myui/css/new.css">
<style>
	
	label{color:#666;}
	.sctx{height:200px;width:200px;}
	.photo img{height:160px;border:solid 1px #ddd;border-radius:4px;margin-right:10px;}
	
	.pl15{padding-left:15px;}
		.mui-input-group .mui-input-row {
		height: 62px;
	}
	
	.mui-input-row label {
		margin-top: 11px;
	}
	
	.mui-input-row label~input {
		margin-top: 11px;
	}
	
	.mui-input-row .mui-switch {
		margin-top: 15px;
	}
	.fr{float:right;}
	.b0{bottom:0 !important;}
	.pl15{padding-left:15px;}
	.pr15{padding-right:15px;}
	
	.sctx{width:120px;height:auto;border-radius:3px;border:solid 1px #fff;}
	.mui-toast-container{width:90%;min-height:40px;left:50%;margin-left:-45%;line-height:40px;}

			p img {
				max-width: 100%;
				height: auto;
			}

	
</style>

<body>
	
	<div class="mui-content c-hei3">

		{template 'manage_top'}
		<div class="mui-row">
			{template 'manage_left'}

			<div class="mui-col-xs-10 c-hei5 p20">


				<div class="mui-row c-wh mt1 ">
					<div class="mui-col-xs-12 pt1 pb1 pl15">
						<a href="javascript:window.history.go(-1);">
							
							<button type="button" class="mui-btn mui-btn-primary">返回</button>

						</a>
					</div>
				</div>	
				<div class="mui-row c-wh">
						<div class="mui-col-xs-12 pt1 pb1 pl15 t-gre fb">
							商品详情
						</div>
						<div class="mui-col-xs-12">
					
					<form class="mui-input-group" action="" method="post">
					<div class="mui-input-row">
						<label>商品名称</label>
						<input type="text" class="" id="ptitle" placeholder="请输入产品名称" value="{$goods['ptitle']}" readonly>
					</div>	
					<div class="mui-input-row">
						<label>所属分类</label>
						<select name="pptid" id="pptid" class="form-control" style="margin-top:10px;"  onchange="show_sub(this.options[this.options.selectedIndex].value);">
							<option value="0">请选择</option>			
    						{loop $catlist $key $item}
    						<option value="{php echo $item['id']}" {if $goods['pptid']==$item['id']}selected{/if}>{$item['ctitle']}</option>
    						{/loop}
    			
						</select>
					</div>	
					<div class="mui-input-row">
						<label>二级分类</label>
						<select name="ptid" id="ptid" class="form-control" style="margin-top:10px;">
							{if $goods['ptid']!=0}
							<option value="{$goods['ptid']}">{php echo getcategoryname($goods['ptid'])}</option>			
    						{/if}
						</select>
					</div>	

					<div class="mui-input-row">
						<label>价格</label>
						<input type="text" class="" id="price" placeholder="0.00" value="{$goods['price']}" readonly>
					</div>
					<div class="mui-input-row">
						<label>库存数量</label>
						<input type="number" class="" id="pqty" placeholder="0" value="{$goods['pqty']}" readonly>
					</div>
					<div class="mui-input-row">
						<label>规格</label>
						<input type="text" class="" id="punit" placeholder="如10个装 约10KG左右" value="{$goods['punit']}" readonly>
					</div>
					<div class="mui-input-row">
						<label>基础运费</label>
						<input type="text" class="" id="baseyf" placeholder="单个规格的运费,单位元"  value="{$goods['baseyf']}" readonly>
					</div>
					<div class="mui-input-row">
						<label>单个累加运费</label>
						<input type="text" class="" id="addyf" placeholder="超出基础运费按规格数量累计，单位元"  value="{$goods['addyf']}" readonly>
					</div>
					<div class="mui-input-row" style="height:160px;">
						<label>商品简介</label>
						<textarea rows="4" id="pcontent" placeholder="请输入产品简介" class="mt05" readonly>{$goods['pcontent']}</textarea>			
					</div>
					{if $goods['photo']!=''}
					<div class="mui-row pl15 pr15 pt1">
						{loop $images $key $item}
						<div class="mui-col-xs-3 tx-c">
							<img src="{php echo tomedia($item)}" style="width:auto;height:160px;">
						</div>
						{/loop}
					</div>
					{/if}
					<div class="mui-input-row">
						<label>订单来源</label>
						<input type="text" class="" id="town" placeholder="" value="{php echo gettownname($goods['danyuan'])}-{php echo gettownname($goods['menpai'])}" readonly>
					</div>
					
					<div class="mui-input-row">
						<label>状态</label>
						<select name="pstatus" id="pstatus" class="form-control" style="margin-top:10px;">
							
							<option value="0" {if $goods['pstatus']==0}selected{/if}>未审核</option>
							<option value="1" {if $goods['pstatus']==1}selected{/if}>上架中</option>		
							<option value="2" {if $goods['pstatus']==2}selected{/if}>已下架</option>		
    						
						</select>
					</div>	
					
					
				</form>
				{if $manage['lev']==3}
				<div class="mui-col-xs-12 pt05 pb05 pl15 pr15 c-wh">
					<button type="button" class="uw mui-btn mui-btn-success" onclick="editgoods();">确认</button>
				</div>
				{/if}
						</div>
					</div>
					
			
			</div>
		</div>

	</div>


</body>

</html>

{template 'manage_foot'}

<script>

	
	function editgoods(){

	
		var pstatus=$("#pstatus").val();
		
		mui.ajax({
            type: "post",
            dataType: "json",
            url: "{php echo $this->createMobileUrl('manage_mall_subeditgoods',array('gid'=>$id,'sid'=>$goods['sid']))}",
            data: {
            	pstatus:pstatus
            },
                 
            success: function(msg){
                console.log(JSON.stringify(msg));
				if(msg.status==1){
					mui.toast("编辑成功");

					setTimeout(function(){
						window.location.href = "{php echo $this->createMobileUrl('manage_mall',array())}";
					},1000);

					
				}else{
					mui.toast(msg.log);
					
				}
            }
        }); 
        
	}
		
		
	function show_sub(v) {


		$.ajax({

			url: "{php echo $this->createMobileUrl('getcategorylist',array())}" + "&v=" + v,
			data: {
				id: v
			},
			async: false,
			dataType: 'json',
			success: function(msg) {
				console.log(JSON.stringify(msg));

				if(msg.status == 1) {
					$("#ptid").html(msg.log);
					
				}else{
					$("#ptid").html('');
					
				}
			
				
			}
		});
	}
	
	
</script>
