<a href="{php echo $this->createMobileUrl('manage_setting',array('nav'=>18,'act'=>''))}">
	<button type="button" class="mui-btn  {if $_GPC[act]=='' || $_GPC[act]=='add_adslide'}mui-btn-success{else}mui-btn-default{/if}">广告幻灯管理</button>
</a>



<script>
    function edit_index_name(){
        var btnArray = ['取消', '确定'];
        mui.prompt('请输入综合首页名称：', '{$index_name}', '修改综合首页名称', btnArray, function(e) {
            if (e.index == 1) {

                mui.ajax({
                    type: "get",
                    dataType: "json",
                    url: "{php echo $this->createMobileUrl('manage_article',array('act'=>'edit_index_name'));}" + "&indexname=" + e.value,
                    data: {},
                    success: function(json) {
                        if(json.status == 1){
                            mui.toast('修改成功');
                        }
                    }
                });
            } else {

            }
        })
    }
</script>



<!-- 复制到剪贴板 -->
<script>
    //new Clipboard('.btn');
    var clipboard = new Clipboard('.btn');
    //var clipboard = new ClipboardJS('.btn');
    clipboard.on('success', function(e) {
        var msg = e.trigger.getAttribute('aria-label');
        mui.toast('复制成功');
        console.info('Action:', e.action);
        console.info('Text:', e.text);
        console.info('Trigger:', e.trigger);
        e.clearSelection();
    });
</script>