{template 'header'}
<link rel="stylesheet" href="{MODULE_URL}myui/css/peng.css">
<style>
	.mui-input-group .mui-input-row {
		height: 62px;
	}
	
	.mui-input-row label {
		margin-top: 11px;
	}
	
	.mui-input-row label~input {
		margin-top: 11px;
	}
	
	.mui-input-row .mui-switch {
		margin-top: 15px;
	}
	.fr{float:right;}
	.b0{bottom:0 !important;}
	.pl15{padding-left:15px;}
	.pr15{padding-right:15px;}
	.mui-btn-primary{background:#63AEFF;border:solid 1px #63AEFF !important;}
	
</style>

<header class="mui-bar mui-bar-nav">
	<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left t-blu"></a>	
	<a class="mui-icon mui-icon-contact mui-pull-right t-blu" href="{php echo $this->createMobileUrl('usercenter',array());}"></a>
	<a class="mui-icon mui-icon-home mui-pull-right ml05" style="margin-right:0px !important;color:#63AEFF !important;" href="{php echo $this->createMobileUrl('index',array());}"></a>
	<h1 class="mui-title">建议反馈</h1>

</header>



<div class="mui-content b0">
	

	<form class="mui-input-group" style="margin-top:0.5em;" action="" method="post">
		<div class="mui-input-row">
			<label>建议类型</label>
			<select name="ptype" class="form-control" style="margin-top:10px;">
				<option value="0">请选择建议类型</option>
				{loop $typelist $key $item}
    			<option value="{php echo $item['tid']}">{$item['tname']}</option>
    			{/loop}
			</select>
		</div>
		<div class="mui-input-row">
			<label>地址</label>
			<input type="text" class="mui-input-clear" name="paddress" placeholder="">
		</div>
		<div class="mui-input-row" style="height:200px;margin: 10px 5px;">
			<textarea rows="5" name="ptext" placeholder="长度5-200个字之间，请描述建议或意见状况，参与对不文明现像的监督，共同创建和谐的小区。"></textarea>			
			
		</div>
		<div class="mui-input-row">
			<label>上传图片</label> {php echo tpl_app_form_field_image('pimg');}
		</div>	

		
		
		<div class="mui-button-row" style="margin-left:18px;margin-right:18px;height:50px;">
			<input type="hidden" name="town_id" value="{$townid}" />
			<input type="submit" name="submit" class="mui-btn mui-btn-danger uw ulev1" style="background:#63AEFF !important;border-radius:4px !important;" value="确认">
			<input type="hidden" name="token" value="{$_W['token']}" />	

		</div>
		
		
		
	</form>
	

</div>
{template 'footer'}

<script>
	function openurl(url){				
		
			location.href = url;  			
	}
</script>




