<?xml version="1.0" encoding="utf-8"?>
<manifest>
	<application>
		<name><![CDATA[拼团商城]]></name>
		<identifie><![CDATA[wlfightgroup]]></identifie>
		<version><![CDATA[1.0.0]]></version>
		<type><![CDATA[market]]></type>
		<description><![CDATA[拼团是团购+社交分享模式的演变,兼具吸粉与促销功能。]]></description>
		<author><![CDATA[微连科技]]></author>
		<url><![CDATA[http://www.weliam.cn/]]></url>
	</application>
	<setting>
		<agent embed="true" />
		<system embed="true" />
		<task embed="true" />
	</setting>
	<agentmenu>
		<menu title="拼团商品" font="fa-inbox">
			<entry title="商品列表" ac="fightgoods" do="ptgoodslist" iscover="true" actions='["do",["ptgoodslist","creategood"]]' />
			<entry title="分类列表" ac="fightgoods" do="categorylist" />
		</menu>
		<menu title="组团管理" font="fa-inbox">
			<entry title="组团管理" ac="fightorder" do="grouplist" />
		</menu>
		<menu title="拼团设置" font="fa-inbox">
			<entry title="系统设置" ac="fightset" do="fightgroupset" />
			<entry title="拼团入口" ac="fightset" do="fightentry" />
			<entry title="虚拟客户" ac="fightset" do="fightmember" />
		</menu>
	</agentmenu>
	<systemmenu>
		<menu title="拼团商品" font="fa-inbox">
			<entry title="商品列表" ac="fightgoods" do="ptgoodslist" iscover="true" actions='["do",["ptgoodslist","creategood"]]' />
			<entry title="分类列表" ac="fightgoods" do="categorylist" />
		</menu>
		<menu title="组团管理" font="fa-inbox">
			<entry title="组团管理" ac="fightorder" do="grouplist" />
		</menu>
		<menu title="拼团设置" font="fa-inbox">
			<entry title="系统设置" ac="fightset" do="fightgroupset" />
			<entry title="拼团入口" ac="fightset" do="fightentry" />
			<entry title="虚拟客户" ac="fightset" do="fightmember" />
		</menu>
	</systemmenu>
</manifest>