<div class="subnav-scene">
	{if empty($sysmenus['submenu']['route']) && !$sysmenus['submenu']['main']}
		{$sysmenus['submenu']['subtitle']}
	{else}
		<a href="{php echo webUrl($sysmenus['submenu']['route'])}">{$sysmenus['submenu']['subtitle']}</a>
	{/if}
</div>

{if !empty($sysmenus['submenu']['items'])}
	{loop $sysmenus['submenu']['items'] $submenu}
		{if !empty($submenu['items'])}
			{if $submenu['title'] == '消息推送'}
				<div class="menu-header  {if empty($notice_redis_click['notice_redis_click']) || !isset($notice_redis_click['notice_redis_click'])}point{/if} {if $submenu['active']}active data-active{/if}"><div class="menu-icon fa fa-caret-{if $submenu['active']}down{else}right{/if}"></div>{$submenu['title']}</div>
			{elseif $submenu['title'] == '工具'}
				<div class="menu-header  {if empty($wxpaycert_view_click['wxpaycert_view_click']) || !isset($wxpaycert_view_click['wxpaycert_view_click'])}point{/if} {if $submenu['active']}active data-active{/if}"><div class="menu-icon fa fa-caret-{if $submenu['active']}down{else}right{/if}"></div>{$submenu['title']}</div>
			{else}
				<div class='menu-header {if $submenu['active']}active data-active{/if}'><div class="menu-icon fa fa-caret-{if $submenu['active']}down{else}right{/if}"></div>{$submenu['title']}</div>
			{/if}
			<ul {if $submenu['active']}style="display: block"{/if}>
				{loop $submenu['items'] $threemenu}
					{if $threemenu['route'] == 'sysset.notice_redis'}
						<li class="threemenu {if empty($notice_redis_click['notice_redis_click']) || !isset($notice_redis_click['notice_redis_click'])}point{/if} {if $threemenu['active']}active {/if}" ><a href="{$threemenu['url']}"  style="cursor: pointer;" data-route="{$threemenu['route']}">{$threemenu['title']}</a>
					{elseif $threemenu['route'] == 'sysset.wxpaycert'}
						<li class="threemenu {if empty($wxpaycert_view_click['wxpaycert_view_click']) || !isset($wxpaycert_view_click['wxpaycert_view_click'])}point{/if} {if $threemenu['active']}active {/if}" ><a href="{$threemenu['url']}"  style="cursor: pointer;" data-route="{$threemenu['route']}">{$threemenu['title']}</a>
					{else}
						<li {if $threemenu['active']}class="active"{/if}><a href="{$threemenu['url']}" style="cursor: pointer;" data-route="{$threemenu['route']}">{$threemenu['title']}</a>
					{/if}

				{/loop}
			</ul>
		{else}
			<ul class="single">
				<li {if $submenu['active']}class="active"{/if} style=" position: relative"><a href="{$submenu['url']}" style="cursor: pointer;" data-route="{$submenu['route']}">{$submenu['title']}</a></li>
			</ul>
		{/if}
	{/loop}
{/if}