<?xml version="1.0" encoding="utf-8"?>
<manifest>
	<application>
		<name><![CDATA[帮助中心]]></name>
		<identifie><![CDATA[helper]]></identifie>
		<version><![CDATA[1.0.0]]></version>
		<type><![CDATA[help]]></type>
		<description><![CDATA[帮助中心,解决常见问题和模块使用指南，方便用户。]]></description>
		<author><![CDATA[微连科技]]></author>
		<url><![CDATA[http://www.weliam.cn/]]></url>
	</application>
	<setting>
		<system embed="true" />
		<task embed="false" />
	</setting>
	<agentmenu>
	</agentmenu>
	<systemmenu>
		<menu title="幻灯片" font="fa-inbox">
			<entry title="幻灯片列表" do="lists" ac="helperslide"  />
		</menu>
		<menu title="问题管理" font="fa-inbox">
			<entry title="问题列表" ac="helperquestion" do="lists" iscover="true"/>
		</menu>
		<menu title="分类管理" font="fa-inbox" >
			<entry title="分类列表" ac="helpertype" do="lists"></entry>
		</menu>
		<menu title="基础设置" font="fa-inbox" >
			<entry title="入口信息" ac="helpersetting" do="index"></entry>
			<entry title="基础设置" ac="helpersetting" do="settingbase"></entry>
		</menu>
	</systemmenu>
</manifest>