 /*-----------------[初始化]--------------*/
*,*:before,*:after {
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{color: #3d4c63;font-size: 14px;line-height: 1.5;background: #f2f2f2;font-family: 'Microsoft Yahei','Tahoma',"PingFang SC","Helvetica Neue","Helvetica","Arial",sans-serif;-webkit-font-smoothing: antialiased;
    min-width: 320px;max-width: 640px;margin: 0 auto;padding-top: 45px;
}
img{
    max-width: 100%;
    transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    -o-transition: .5s;
}
input,textarea,select{font-size: 12px;color: #444;font-family:"微软雅黑","Microsoft Yahei";outline: 0;
}
input[type='submit'],input[type='reset'],input[type='button'],input[type='checkbox'],select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
input[type='submit'],input[type='reset'],input[type='button']{cursor: pointer;}
::-webkit-input-placeholder {color: #fff;}
::-moz-placeholder {color: #fff; }
::-ms-input-placeholder {color: #fff;}
button{padding:0;border:0;cursor: pointer;}

h1,h2,h3,h4,h5{font-weight: normal;}

a{color:#333;}
a:hover{color:#026e9f;text-decoration: none;}

/*无选中效果*/
.unselect{
    -moz-user-select     : none;
    -khtml-user-select   : none;
    -webkit-user-select  : none;
    -o-user-select       : none;
    user-select          : none;
}

/*布局*/

/*标题*/

/*按钮*/

/*颜色*/

.wp{padding: 0 10px;}

/*******************************
  -------[=头部]-------
********************************/
.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;
    height: 45px;
    line-height: 45px;
    background: url(../images/q-bg1.png) repeat-y center;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -ms-background-size: 100% auto;
    -o-background-size: 100% auto;
    background-size: 100% auto;
}
.a-sign{
    display: block;
    width: 45px;
    height: 45px;
    position: absolute;
    top: 0;
    left: 5px;
    z-index: 10;
    font-size: 12px;
    color: #fff;
    line-height: 1.5em;
    text-align: center;
}
.a-sign i{
    display: block;
    width: 24px;
    height: 24px;
    background: url(../images/q-icon1.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 2px auto 0;
}
.a-so{
    display: block;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    font-size: 15px;
    text-align: center;
    position: absolute;
    top: 0;
    right: 5px;
    z-index: 10;
}
.so{
    margin: 6px 55px;
    height: 32px;
    line-height: 32px;
    border-radius: 50px;
    background-color: rgba(255,255,255,.2);
}
.so .inp{
    display: block;
    height: 32px;
    line-height: 32px;
    border: none;
    background: none;
    padding: 0 20px 0 32px;
    font-size: 14px;
    color: #fff;
    background: url(../images/q-icon2.png) no-repeat 5% 50%;
    -webkit-background-size: 16px auto;
    -moz-background-size: 16px auto;
    -ms-background-size: 16px auto;
    -o-background-size: 16px auto;
    background-size: 16px auto;
}

/*******************************
    -------[=导航]-------
********************************/


/*******************************
  -------[=底部]-------
********************************/
.h50{
    height: 50px;
}
.footer{
    overflow: hidden;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9;
    background-color: #fff;
    border-top: 1px #e5e5e5 solid;
}
.fd-nav{
    overflow: hidden;
    text-align: center;
    padding-bottom: 3px;
}
.fd-nav a{
    display: block;
    float: left;
    width: 20%;
    font-size: 12px;
    color: #939393;
    line-height: 16px;
}
.fd-nav a i{
    display: block;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0 auto;
}
.fd-nav a .icon2{
    display: none;
}
.fd-nav a.on{
    color: #f51f4e;
}
.fd-nav a.on .icon1{
    display: none;
}
.fd-nav a.on .icon2{
    display: block;
}
/*******************************
    -------[=公用]-------
********************************/
.index{
    padding-top: 81px;
}
