{template 'web/common/header'}
<div class="page">
    <div class="page_content">
        <form class="form-horizontal" action="" method="post">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">百度小程序发布</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="" class="control-label col-sm-2" style="margin-right:45px"><span style="color:red">*</span>注意: </label>
                        <div class="form-controls col-sm-5">
                            当前版本支持的基础版本库最低为2.0.10,请在百度小程序后台设置好,低于此版本可能会出现兼容性问题
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="form-controls col-sm-3 help-block"></div>
                    </div>
                    <div class="form-group">
                        <label for="" class="control-label col-sm-2" style="margin-right:45px"><span style="color:red">*</span>版本号: </label>
                        <div class="form-controls col-sm-5">
                            <input type="text" name="bdappkey" value="{$bdapp['appkey']}" class="form-control ng-pristine ng-untouched ng-valid ng-empty" placeholder="" autocomplete="off">
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="form-controls col-sm-3 help-block"></div>
                    </div>
                    <div class="form-group">
                        <label for="" class="control-label col-sm-2" style="margin-right:45px">版本描述</label>
                        <div class="form-controls col-sm-5">
                            <textarea name="" id="" cols="72" rows="5" style="border-color: #e7e7eb"></textarea>
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="form-controls col-sm-3 help-block"></div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <input name="token" type="hidden" value="{$_W['token']}" />
                    <input type="submit" class="btn btn-primary col-lg-1" name="submit" value="提交" />
                </div>
            </div>
        </form>
    </div>
</div>
