<div id="pageEditAddress" class="address_new" style="transform: translate(0px, 0px); padding-bottom: 10px; display: none;"></div>
<div class="invoice_list" id="invoices" style="display: none;"></div>
<div class="promo_list" id="itemPromoPage" style="display: none;"></div>
<div id="selectShip" style="display: none;"></div>
<div id="selectSvc" style="display: none;"></div>
<div id="pickList" style="display: none;"></div>
<div id="shopList" style="display: none;"></div>
<div id="jdQuanPage" style="display: none;" class="promo_list"></div>
<div id="jdCartPage" style="display: none;" class="promo_list"></div>

<div class="mod_address_slide show" id="address_slide" style="display: none;"></div>

<div class="promo_list" id="newPromoPage" style="display: none;"></div>