<form class="form-horizontal form-validate" action="{php echo web_url('order/wlOrder/changeprice')}" method="post" enctype="multipart/form-data">
	<input type='hidden' name='id' value='{$id}' />
	<input type='hidden' name='type' value='{$type}' />
	<div class="modal-dialog" style='width: 920px;'>
		<div class="modal-content">
			<div class="modal-header">
				<button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
				<h3>订单改价</h3>
			</div>
		<div class="modal-body">
		<style>
			.table{margin-bottom: 0}
			.table td, .table th{text-align: center;}
		</style>
			<table class="table table-hover table-bordered">
				<tbody>
					<tr>
						<th>商品改价</th>
						<td>
							<label class="radio-inline"><input type="radio" name="price_type" value="2" {if $order['changeprice'] < 0 || $order['changeprice'] == 0} checked="" {/if}> 减少</label>
							<label class="radio-inline"><input type="radio" name="price_type" value="1" {if $order['changeprice'] > 0 } checked="" {/if}> 增加</label>
						</td>
						<td colspan="2">
							<input type="text" name="price_value" value="{php echo abs($order['changeprice']) }" class="form-control">
						</td>
					</tr>
					{if $order['expressid']}
					<tr>
						<th>运费改价</th>
						<td>
							<label class="radio-inline"><input type="radio" name="express_type" value="2" {if $order['changedispatchprice'] < 0 || $order['changedispatchprice'] == 0} checked="" {/if}> 减少</label>
							<label class="radio-inline"><input type="radio" name="express_type" value="1" {if $order['changedispatchprice'] > 0 } checked="" {/if}> 增加</label>
						</td>
						<td colspan="2">
							<input type="text" name="express_value" value="{php echo abs($order['changedispatchprice'])}" class="form-control">
						</td>
					</tr>
					{/if}
				</tbody>
			</table>
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" type="submit">确定</button>
			<input type="hidden" name="token" value="{$_W['token']}" />
		</div>
		</div>
	</div>
</form>