

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button data-dismiss="modal" class="close" type="button">×</button>
            <h4 class="modal-title">核销记录</h4>
        </div>
        <div class="modal-body">
            <style type="text/css">
                .list-main {min-height:100px; background:#fff; padding:10px;}
                .list {height:75px; border-left:1px solid #eee; padding-left:20px; position:relative;}
                .list .info {height:75px; border-top:1px solid #eee; padding:10px; font-size:14px; color:#666;}
                .list .info .step { height:40px;} 
                .list .info .time { height:20px;}
                .list .infoon { color:#25ae5e}
                .list .dot {height:10px; width:10px; border-radius:10px; background:#ddd; position:absolute; left:-6px; top:12px;}
                .list .doton {height:12px; width:12px; background:#25ae5e; border-radius:12px; border:1px solid #bbe2c9; left:-8px;}
            </style>
            <p>剩余核销次数:{$usetimes}次</p>
            {if empty($usedtime)}
            <p>订单未开始核销</p>
            {else}
            <div class="list-main">
                {loop $usedtime $row}
                <div class="list">
                    <div class="info">
                        {if $row['status'] == 1}
                        <div class='step'>订单待使用:核销码:{$row['checkcode']}</div>
                        {else if $row['status'] == 2}
                        <div class='step'>订单核销;核销方式:{$row['type']};核销人:{$row['ver']}{if $row['checkcode']};核销码:{$row['checkcode']}{/if}</div>
                        <div class='time'>{$row['time']}</div>
                        {else if $row['status'] == 3}
                        <div class='step'>订单已退款:核销码:{$row['checkcode']}</div>
                        <div class='time'>{$row['time']}</div>
                        {/if}
                    </div>
                    <div class="dot"></div>
                </div>
                {/loop}
            </div>
            {/if}

        </div>
        <div class="modal-footer">
            <button data-dismiss="modal" class="btn btn-default" type="button">关闭</button>
        </div>
    </div>


