{include file="common/header"}
<!--main-body-->
<section class="main-body">
    <div class="main_content">
        <!--second sidebar-->
        {include file="platform/pub/content-nav"}
        <!--main body content-->
        <div class="main_mbody">
            <div class="col-xs-12">
                <div class="main_mbody-title">
                    <h5>新增栏目</h5>
                    <a href="javascript:history.go(-1)" class="goback"><span class="label label-info btn"><i class="iconfont icon-zuojiantou"></i>返回</span></a>
                </div>
                <div class="main-con neirong-con">
                    <form action="">
                        <div class="form-group col-xs-12 row">
                            <label class="control-label col-xs-6 col-sm-4">
                                <span class="text-danger">*</span>
                                <span class="text-title">栏目名称</span>
                                <span class="text-danger2">:</span>
                            </label>
                            <div class="col-xs-6 col-sm-8 row input_box">
                                <input class="control-input" type="text" required autocomplete="off" name="name" id="name">
                            </div>
                        </div>
                        {if input('type') == '2'}
                        <div class="form-group col-xs-12 row">
                            <label class="control-label col-xs-6 col-sm-4">
                                <span class="text-danger">*</span>
                                <span class="text-title">父级栏目</span>
                                <span class="text-danger2">:</span>
                            </label>
                            <div class="col-xs-6 col-sm-8 row input_box">
                                <select name="parent_id" id="classify_link-sel" class="control-input">
                                    {volist name="cate" id="vo"}
                                    <option value="{$vo.id}">{$vo.name}</option>
                                    {/volist}
                                </select>
                            </div>
                        </div>
                        {/if}
                        {if input('type') == '1'}
                        <div class="form-group col-xs-12 row">
                            <label class="control-label col-xs-6 col-sm-4">
                                <span class="text-danger">*</span>
                                <span class="text-title">专题列表布局方式</span>
                                <span class="text-danger2">:</span>
                            </label>
                            <div class="col-xs-6 col-sm-8 row">
                                <div class="radio-box magic-radio">
                                    <label class="selected">
                                        <input class="selct-checkbox" type="radio" name="style" data-value="1" value="1" checked>
                                        <div class="imgbox">
                                            <img src="__PUBLIC__/images/zx01.png" ondragstart="return false" alt="" title="">
                                        </div>
                                        <div class="border-left"></div>
                                        <div class="border-bottom"></div>
                                        <div class="border-top"></div>
                                        <div class="border-right"></div>
                                        <span class="name">左小图</span>
                                    </label>
                                    <label class="">
                                        <input class="selct-checkbox" type="radio" name="style" data-value="1" value="2">
                                        <div class="imgbox">
                                            <img src="__PUBLIC__/images/zx02.png" ondragstart="return false" alt="" title="">
                                        </div>
                                        <div class="border-left"></div>
                                        <div class="border-bottom"></div>
                                        <div class="border-top"></div>
                                        <div class="border-right"></div>
                                        <span class="name">右小图</span>
                                    </label>
                                    <label class="">
                                        <input class="selct-checkbox" type="radio" name="style" data-value="3" value="3">
                                        <div class="imgbox">
                                            <img src="__PUBLIC__/images/zx05.png" ondragstart="return false" alt="" title="">
                                        </div>
                                        <div class="border-left"></div>
                                        <div class="border-bottom"></div>
                                        <div class="border-top"></div>
                                        <div class="border-right"></div>
                                        <span class="name">文字列表</span>
                                    </label>
                                    <label class="">
                                        <input class="selct-checkbox" type="radio" name="style" data-value="2" value="4">
                                        <div class="imgbox">
                                            <img src="__PUBLIC__/images/zx07.png" ondragstart="return false" alt="" title="">
                                        </div>
                                        <div class="border-left"></div>
                                        <div class="border-bottom"></div>
                                        <div class="border-top"></div>
                                        <div class="border-right"></div>
                                        <span class="name">一行两列</span>
                                    </label>
                                    <label class="">
                                        <input class="selct-checkbox" type="radio" name="style" data-value="1" value="5">
                                        <div class="imgbox">
                                            <img src="__PUBLIC__/images/zx06.png" ondragstart="return false" alt="" title="">
                                        </div>
                                        <div class="border-left"></div>
                                        <div class="border-bottom"></div>
                                        <div class="border-top"></div>
                                        <div class="border-right"></div>
                                        <span class="name">一行大图</span>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-xs-12 row">
                            <label class="control-label col-xs-6 col-sm-4">
                                <span class="text-danger">*</span>
                                <span class="text-title">子分类样式</span>
                                <span class="text-danger2">:</span>
                            </label>
                            <div class="col-xs-6 col-sm-8 row">
                                <div class="radio-box checkbox_shangpin radio-user">
                                    <label class="radio-checkbox-label selected">
                                        <input class="selct-checkbox" type="radio" checked name="child_style" value="1">普通模式
                                        <div class="checkbox-input">
                                            <div class="popover-how popover-service" data-toggle="popover" data-placement="bottom" data-img="__PUBLIC__/images/wz-pt.jpg">
                                                <img src="__PUBLIC__/images/why.png" ondragstart="return false" alt="" title="">
                                            </div>
                                        </div>
                                    </label>
                                    <label class="radio-checkbox-label ">
                                        <input class="selct-checkbox" type="radio"  name="child_style" value="2">侧栏模式
                                        <div class="checkbox-input">
                                            <div class="popover-how popover-service" data-toggle="popover" data-placement="bottom" data-img="__PUBLIC__/images/wz-cl.jpg">
                                                <img src="__PUBLIC__/images/why.png" ondragstart="return false" alt="" title="">
                                            </div>
                                        </div>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-xs-12 row">
                            <label class="control-label col-xs-6 col-sm-4">
                                <span class="text-title">显示元素</span>
                                <span class="text-danger2">:</span>
                            </label>
                            <div class="col-xs-6 col-sm-8 row input_box">
                                <div class="checkbox-box">
                                    <label class="selct-checkbox-label">
                                        <input class="selct-checkbox" type="checkbox" name="display" value="1">发布时间
                                    </label>
                                    <label class="selct-checkbox-label">
                                        <input class="selct-checkbox" type="checkbox" name="display" value="2">浏览量
                                    </label>
                                </div>
                            </div>
                        </div>
                        {/if}
                        <div class="main_mbody-footer">
                            <div class="form-group col-xs-12 row">
                                <label class="control-label col-xs-6 col-sm-4">
                                </label>
                                <div class="col-xs-6 col-sm-8 row">
                                    <input name="type" id="type" value="{:input('type')}" type="hidden"/>
                                    <input class="btn control-submit" type="submit" value="保存">
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
            {include file="common/copyright"}
        </div>
    </div>
</section>
{include file="common/footer"}
<script>

    $("form").submit(function(e){
        e.preventDefault();//阻止默认提交,表单不写method="post"这个可以不要
        //$("#editor").val(CKEDITOR.instances.content.getData());

        var d = {};
        var t = $('form').serializeArray();
        $.each(t, function() {
            d[this.name] = this.value;
        });

        var select = document.getElementsByName("display");
        var str = [];
        for(i=0;i<select.length;i++){
            if(select[i].checked){
                str.push(select[i].value);
            }
        }
       d['display']= str;

        $.ajax({
            type: "post",
            url: "{:url('boguan/platform.contentcate/add')}",
            //dataType:"json",
            data:{
                "data": d,
            },

            success: function(data) {
                console.log(data);
                if (data.errorCode == 1) {
                    //alert(data.msg);
                    layui.use(['layer','form'], function(){
                        var layer = layui.layer,form = layui.form;

                        layer.msg(data.msg, {icon: 1, time:1000}, function(){
                            //window.history.go(-1);location.reload();
                            window.location=document.referrer;
                        });
                    });

                    //window.location.reload()
                } else {
                    layui.use(['layer','form'], function(){
                        var layer = layui.layer,form = layui.form;;

                        layer.msg(data.msg, {icon: 2, time:1000});
                    });
                }
            },
            error: function (data) {
                console.log(data.responseText);
                layui.use(['layer','form'], function(){
                    var layer = layui.layer,form = layui.form;;

                    layer.msg(data.msg, {icon: 2, time:1000});
                });
            }
        });

    });

</script>
<script>
    $(function(){

        $('.popover-service').each(function(){
          var img = new Image();
          img.src = $(this).data('img');
          $(this).popover({
            trigger : 'hover',
            html: true,
            content: img,
            placement:'bottom'
          });
        });
    });
</script>
