<?xml version="1.0" encoding="utf-8"?>
<manifest>
	<application>
		<name><![CDATA[超级券]]></name>
		<identifie><![CDATA[wlcoupon]]></identifie>
		<version><![CDATA[1.0.0]]></version>
		<type><![CDATA[market]]></type>
		<description><![CDATA[超级券，集折扣券、代金券、套餐券、团购券以及优惠券一身。]]></description>
		<author><![CDATA[微连科技]]></author>
		<url><![CDATA[http://www.weliam.cn/]]></url>
	</application>
	<setting>
		<agent embed="true" />
		<system embed="true" />
		<task embed="true" />
	</setting>
	<agentmenu>
		<menu title="优惠券" font="fa-inbox">
			<entry title="优惠券列表" ac="couponlist" do="couponsList" iscover="true" />
			<entry title="增加优惠券" ac="couponlist" do="createcoupons" />
		</menu>
		<menu title="用户记录" font="fa-inbox">
			<entry title="用户记录" ac="couponlist" do="merbercoupon" />
		</menu>
		<menu title="设置" font="fa-inbox">
			<entry title="入口设置" ac="couponlist" do="entry" />
			<entry title="基础设置" ac="couponlist" do="base" />
		</menu>
	</agentmenu>
	<systemmenu>
		<menu title="优惠券" font="fa-inbox">
			<entry title="优惠券列表" ac="couponlist" do="couponsList" iscover="true" />
			<entry title="增加优惠券" ac="couponlist" do="createcoupons" />
		</menu>
		<menu title="用户记录" font="fa-inbox">
			<entry title="用户记录" ac="couponlist" do="merbercoupon" />
		</menu>
		<menu title="设置" font="fa-inbox">
			<entry title="入口设置" ac="couponlist" do="entry" />
			<entry title="基础设置" ac="couponlist" do="base" />
		</menu>
	</systemmenu>
</manifest>