{template 'web/common/common'}
<style>
    .iconfont{
        font-size: 50px;color: #868686;
    }
    .txt{position: relative;top:-15px;font-size: 15px;color: #868686}
</style>
<!--基本设置-->
{if $_GPC['action']=='system' && $_GPC['op']=='about_us'}
    {template 'web/system/navbar'}
    {template 'web/system/basic_nav'}
{/if}

<!--通知配置-->
{if $_GPC['action']=='system' && $_GPC['op']=='sms_set'}
    {template 'web/system/navbar'}
    {template 'web/system/navbar_li'}
{/if}

<!--页面设置-->
{if $_GPC['action']=='home'&& $_GPC['op']=='home_set'}
    {template 'web/system/navbar'}
    {template 'web/home/navbar'}
{/if}

<!--物联网-->
{if $_GPC['action']=='webThing'&& $_GPC['op']=='webThingsSet'}
    {template 'web/system/navbar'}
    {template 'web/webThing/navbar'}
{/if}

<!--常见问题-->
{if $_GPC['action']=='problem'&& $_GPC['op']=='problem_list'}
    {template 'web/system/navbar'}
    {template 'web/problem/navbar'}
{/if}

<!--图文资讯-->
{if $_GPC['action']=='article'&& $_GPC['op']=='article_list'}
    {template 'web/system/navbar'}
    {template 'web/article/navbar'}
{/if}
<!--打印机-->
{if $_GPC['action']=='system'&& $_GPC['op']=='printSet'}
    {template 'web/system/navbar'}
    {template 'web/print/print_navbar'}
{/if}

{if $_GPC['action']=='auth'&& $_GPC['op']=='role_list'}
    {template 'web/auth/navbar'}
{/if}
{if $_GPC['action']=='coupon'&& $_GPC['op']=='shop_coupon'}
    {template 'web/coupon/navbar'}
{/if}

{if $_GPC['action']=='live'&& $_GPC['op']=='live_list'}
    {template 'web/live/navbar'}
{/if}
{if $_GPC['action']=='user'&& $_GPC['op']=='index'}
    {template 'web/user/navbar'}
{/if}
{if $_GPC['action']=='order'&& $_GPC['op']=='shop_order'}
    {template 'web/order/navbar'}
{/if}
{if $_GPC['action']=='goods'&& $_GPC['op']=='index'}
    {template 'web/goods/navbar'}
{/if}
{if $_GPC['action']=='animal'&& $_GPC['op']=='index'}
    {template 'web/animal/navbar'}
{/if}
{if $_GPC['action']=='soil'&& $_GPC['op']=='soilList'}
    {template 'web/soil/navbar'}
{/if}
<!--众筹项目-->
{if $_GPC['action']=='project' && $_GPC['op']=='index'}
{template 'web/common/navbar'}
{/if}
<div class="layui-card">
    <i class="iconfont icon-information_o"></i>
    <span class="txt">您没有相应的权限查看</span>
</div>