{template 'common/header'}
<style>
    .form-group{max-width: 866px;}
    .input-group-widthauto .input-group{width:auto !important;}
    .navbar-wxapp-bottom{
        position: fixed;
        bottom: 0;
        width: 400px;
        height:60px;
        left: 50%;
        background-color: #fff;
        box-shadow: 0 0 20px #ccc;
        transform: translate(-50%, 0);
        margin: 0 !important;
    }
    .navbar-wxapp-bottom .container{
        width: 400px;
        height:60px;
    }
    .skin-black .container{
        min-width:400px;
    }
    .navbar-wxapp-bottom{
        padding-top: 15px;
    }
    .btn-primary{
        color: #606060;
        background-color: #EEEEEE;
    }
    .input-group-icon div{
        width: 263px !important;
    }
    .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){
        width: 100% !important;
    }
</style>
<link href="//cdn.bootcss.com/bootstrap-select/2.0.0-beta1/css/bootstrap-select.min.css" rel="stylesheet">
<script src="//cdn.bootcss.com/bootstrap-select/2.0.0-beta1/js/bootstrap-select.min.js"></script>
<div class="main">
    <!-- Nav tabs -->
    <form action="" class="form-horizontal form ng-pristine ng-valid" method="post" enctype="multipart/form-data">
        <input name="id" type="hidden" value="{$item['id']}" />
        <div class="panel panel-default">
            <!-- Tab panes -->
            <!-- 积分设置 -->
            <div class="panel-heading" style="color: #333;background-color: #f5f5f5;border-color: #ddd;">
                积分赠送
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-3 control-label" for="">是否开启积分功能</label>
                    <div class="col-sm-9">
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-primary {if $item['opencredit'] === '1'} active{/if}">
                                <input type="radio" name="opencredit" value="1" autocomplete="off" {if $item['opencredit'] === '1'} checked{/if}>是
                            </label>
                            <label class="btn btn-primary {if empty($item['opencredit'])} active{/if}">
                                <input type="radio" name="opencredit" value="0" autocomplete="off" {if empty($item['opencredit'])} checked{/if}>否
                            </label>
                        </div>
                        （开启本功能下面设置才会生效）
                    </div>

                </div>

                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-3 control-label" for="">积分是否系统同步</label>
                    <div class="col-sm-9">
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-primary {if $item['synccredit'] === '1'} active{/if}">
                                <input type="radio" name="synccredit" value="1" autocomplete="off" {if $item['synccredit'] === '1'} checked{/if}>是
                            </label>
                            <label class="btn btn-primary {if empty($item['synccredit'])} active{/if}">
                                <input type="radio" name="synccredit" value="0" autocomplete="off" {if empty($item['synccredit'])} checked{/if}>否
                            </label>
                        </div>
                        （开启后积分使用系统会员积分，<font color="red">注：如使用积分同步粉丝必须先关注公众号才可获得积分。如无需求请不要选择同步</font>）
                    </div>

                </div>

                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-3 control-label" for="">报名送积分数</label>
                    <div class="col-sm-9">
                        <div class="input-group">
                            <input type="text" class="form-control" name="joincredit" value="{$item['joincredit']}" placeholder="留空为不赠送" />
                            <span class="input-group-addon">积分</span>
                        </div>

                    </div>

                </div>

                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-3 control-label" for="">投票送积分数</label>
                    <div class="col-sm-9">
                        <div class="input-group">
                            <input type="text" class="form-control" name="votecredit" value="{$item['votecredit']}" placeholder="留空为不赠送" />
                            <span class="input-group-addon">积分</span>
                        </div>

                    </div>

                </div>

                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-3 control-label" for="">礼物送积分数</label>
                    <div class="col-sm-9">
                        <div class="input-group">
                            <span class="input-group-addon">每一元</span>
                            <input type="text" class="form-control" name="givingcredit" value="{$item['givingcredit']}" placeholder="留空为不赠送" />
                            <span class="input-group-addon">积分</span>
                        </div>
                        支付的金额小数按四舍五入计算（注：礼物获得方式为“现金支付”的此项才有效）
                    </div>

                </div>

                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-3 control-label" for="">充值得积分数</label>
                    <div class="col-sm-9">
                        <div class="input-group">
                            <span class="input-group-addon">每一元</span>
                            <input type="text" class="form-control" name="paycheckcredit" value="{$item['paycheckcredit']}" placeholder="" />
                            <span class="input-group-addon">积分</span>
                        </div>
                        使用充值需配置支付。 <a style="color: #00a0e9" target="_blank" href="{php echo url('profile/payment');}">微信支付配置入口</a>
                    </div>

                </div>
            </div>
        </div>
        <nav class="navbar navbar-wxapp-bottom navbar-fixed-bottom" role="navigation" style="background-color: #fff;border-top: 1px solid #e7e7eb;">
            <div class="container">
                <div class="pager">
                    <input name="token" type="hidden" value="{$_W['token']}" />
                    <input type="submit" class="btn btn-primary" name="submit" value="提交保存" style="background-color: #428bca; color: #FFF">
                </div>
            </div>
        </nav>
    </form>
</div>

<script type="text/javascript">
    $(window).scroll(function(){
        if ($(document).scrollTop() >= $(document).height() - $(window).height()-200) {
            $('.navbar-wxapp-bottom').css({
                'position':'static',
                'box-shadow':'none',
                'border':'none',
                'transform': 'translate(0,0)',
                'width': '200px'
            })
        } else {
            $('.navbar-wxapp-bottom').css({
                'position':'fixed',
                'box-shadow':'0 0 20px #ccc',
                'border-top':'1px solid rgb(231, 231, 235)',
                'transform': 'translate(-50%,0)',
                'width': '400px'
            })
        }
    })
</script>
{template 'edition'}
{template 'common/footer'}