{template 'public/header'}

{template 'public/comhead'}

<style type="text/css">

    .nav-tabs{

        margin-top: 30px;

    }

    .nav-tabs>li>a:hover{

        color: #333;

        border-color: #31C2A5;

        background-color: white;

    }

    .nav-tabs > li.active > a,.nav-tabs > li.active > a:hover{

        background-color: #31C2A5;

        color: white;

        border-color: #31C2A5;

    }

    .nav.nav-tabs{border-color: #31C2A5;}

</style>

<ul class="nav nav-tabs">    

    <li ><a href="{php echo $this->createWebUrl('carset')}">拼车置顶管理</a></li>

    <li class="active"><a href="{php echo $this->createWebUrl('addcarset')}">添加拼车置顶</a></li>

</ul>

<div class="main">

    <form action="" method="post" class="form-horizontal form" enctype="multipart/form-data">

        <div class="panel panel-default">

            <div class="panel-heading">

                内容编辑

            </div>

            <div class="panel-body">

                <div class="form-group">

                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">置顶期限</label>

                    <div class="col-sm-9">

                        <p class="form-control-static">

                            <select name="type">

                            {if $info['type']==1}

                                <option value="1" selected>一天</option>

                                <option value="2" >一周</option>

                                <option value="3" >一个月</option>

                            {elseif $info['type']==2}

                            <option value="1" >一天</option>

                            <option value="2" selected>一周</option>

                             <option value="3" >一个月</option>

                            {elseif $info['type']==3}

                            <option value="1" >一天</option>

                            <option value="2">一周</option>

                            <option value="3" selected>一个月</option>

                            {else}

                            <option value="1">一天</option>

                            <option value="2">一周</option>

                            <option value="3">一个月</option>

                            {/if}

                            </select>

                        </p>

                    </div>

                </div>



                <div class="form-group">

                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">价格</label>

                    <div class="col-sm-9">

                        <input type="text" name="money" onkeyup="value=value.replace(/[^\d.]/g,'')" class="form-control" value="{$info['money']}" />

                    </div>

                </div>

                <div class="form-group">

                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">排序</label>

                    <div class="col-sm-9">

                        <input type="number" name="num"  class="form-control" value="{$info['num']}" />

                        *从小到大排序

                    </div>

                </div>



            </div>

        </div>

        <div class="form-group col-sm-12">

            <input type="submit" name="submit" value="提交" class="btn col-lg-3" style="color: white;background-color: #31C2A5;"/>

            <input type="hidden" name="token" value="{$_W['token']}" />

            <input type="hidden" name="id" value="{$info['id']}" />

        </div>

    </form>

</div>



<!-- {template 'common/footer'} -->