{template 'public/header'}

{template 'public/comhead'}
<link rel="stylesheet" type="text/css" href="../addons/yzhd_sun/template/public/ygcsslist.css">
<style type="text/css">
    .fontcolor{color: #0d9ee0}
    .panel-default{font-size: 14px;}
    .panel-default ol li{padding: 10px; list-style-type:decimal }
    .panel-default ol li p{line-height: 25px;}
    .panel-default ol li p:nth-child(1){color: #0d9ee0}
</style>
<ul class="nav nav-tabs">
    <span class="ygxian"></span>
    <div class="ygdangq">当前位置:</div>
    <li class="activ"><a href="{php echo $this->createWebUrl('wxapppages')}">小程序页面</a></li>
</ul>
<div class="row ygrow">
    
</div>
<div class="main">
    <div class="panel panel-default">
        <div style="padding: 10px;background-color: #fcf8e3;border-color: #faf2cc;color: #8a6d3b">小程序地址带参数范例：商家页面，需要带商家id <span class="fontcolor">yzhd_sun/pages/shopDetails/shopDetails?store_id=21</span></div>
        <div style="border-bottom: #999 solid 1px;margin:10px 20px;font-size: 20px;  padding: 10px;">
            小程序页面
        </div>
        <div style="padding: 10px 40px;">
            <ol>
                <li>
                    <p>商城首页</p>
                    <p>路径：<span class="fontcolor">yzhd_sun/pages/index/index</span></p>
                </li>
                <li>
                    <p>好店推荐</p>
                    <p>路径：<span class="fontcolor">yzhd_sun/pages/bestShops/bestShops</span></p>
                </li>
                <li>
                    <p>我的</p>
                    <p>路径：<span class="fontcolor">yzhd_sun/pages/mine/mine</span></p>
                </li>
                <li>
                    <p>粉丝卡</p>
                    <p>路径：<span class="fontcolor">yzhd_sun/pages/fansCard/fansCard</span></p>
                </li>
                <li>
                    <p>商家页面</p>
                    <p>路径：<span class="fontcolor">yzhd_sun/pages/shopDetails/shopDetails</span></p>
                    <p>参数：<span class="fontcolor">store_id</span> 商家id</p>
                </li>
                <li>
                    <p>备注：</p>
                    <p>代金券、套餐、菜单路径可到对应页面直接复制</p>
                </li>
            </ol>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function(){
        $("#frame-12").show();
        $("#yframe-12").addClass("wyactive");
    })
</script>