{php include wl_template('common/header');}
<ul class="nav nav-tabs" id="myTab">
	<li class="active"><a  href="#tab_basic">分类设置</a></li>
</ul>
<div class="main">
	<form action="" method="post" class="form-horizontal form" id="setting-form">
		<div class="panel panel-default">
			<div class="panel-heading">分类设置</div>
			<div class="panel-body">
				<div class="tab-content">
					<div class="tab-pane active" id="tab_basic">
						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">是否显示分类</label>
							<div class="col-xs-12 col-sm-8">
								<label class="radio radio-inline">
									<input type="radio" name="display_status" value="1" {if intval($settings['display_status']) == 1}checked="checked"{/if}> 否
								</label>
								<label class="radio radio-inline">
									<input type="radio" name="display_status" value="2" {if intval($settings['display_status']) != 1}checked="checked"{/if}> 是
								</label>
							</div>
						</div>
					</div>
					<div class="tab-pane active" id="tab_basic">
						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">显示方式</label>
							<div class="col-xs-12 col-sm-8">
								<label class="checkbox checkbox-inline">
									<input type="checkbox" name="category_status[]" value="1" {if in_array(1,$settings['category_status'])}checked="checked"{/if}> 顶部
								</label>
								<label class="checkbox checkbox-inline">
									<input type="checkbox" name="category_status[]" value="2" {if in_array(2,$settings['category_status'])}checked="checked"{/if}> 底部
								</label>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="form-group col-sm-12">
			<input type="submit" name="submit" value="提交" class="btn btn-primary col-lg-1" />
			<input type="hidden" name="token" value="{$_W['token']}" />
		</div>
	</form>
</div>
<script>
$(function () {
		window.optionchanged = false;
		$('#myTab a').click(function (e) {
			e.preventDefault();//阻止a链接的跳转行为
			$(this).tab('show');//显示当前选中的链接及关联的content
		})
	});
</script>
{php include wl_template('common/footer');}