body {
    font-size:1.4rem;
    background:#f8f8f8;
    color:#3d0505;
    font-family:'Microsoft YaHei';
}

a {
    display:inline-block;
    color:#3d0505;
    cursor:pointer;
}

.am-btn {
    height: 36px;
}


.am-selected-btn {
    padding-left:8px;
    padding-right: 8px; 
}
.am-selected-status{
    color:#f54d23;
}
.am-direct:focus{
    color:white;
}

.am-direct:hover{
    color:white;
}

.am-bd {
    margin-bottom:5rem;  
    display:block;
}

.am-vertical-align-middle {
    font-size:1.4rem;
}

/*等分*/
[class*=am-u-] {
    padding-left:0;
    padding-right:0;
}

/*头像*/
.am-portrait {
    width:3.2rem;
    height:3.2rem;
}

/*我的积分*/
.integral-fraction{
    color:#f54d23;
}

/*积分*/
.am-credit {
    color:#f54d23;
    font-size:1.2rem;
}

.credit,
.price,
.am-price {
    font-size:1.2rem;
}

/*兑换库存*/
.am-num {
    font-size:1.2rem;
    color:#8f8f8f;
}

/*立即兑换*/
.am-direct {
    background:#f54d23;
    color:white;
    border:0;
}

/*选项卡*/
.am-tabs-bd .am-tab-panel {
    padding:0 0 .5rem 0;
}

.am-tabs,  
.am-tabs-bd ,
.am-display 
{
    background:white;
}

.am-tabs
{
	border:none;
}

.am-nav-tabs，
.am-tabs-nav，
.am-nav  {
	border:none;
}

.am-nav-tabs {
    border-bottom:solid .1rem #f3e7e3;
}

.am-lable{
    border-bottom:solid .3rem #f54d23;
}

.am-nav-tabs>li.am-active>a, .am-nav-tabs>li.am-active>a:focus, .am-nav-tabs>li.am-active>a:hover {
    color: #f54d23;
    background-color: #fff;
    border:0;
    cursor: default;

}
.am-nav-tabs>li.am-active{
    border-bottom:solid .3rem #f54d23;
}
.am-tabs .am-recoding:hover{
    color:#3d0505!important;
}
.am-tabs .am-detail:hover{
    color:#3d0505!important;
}

.am-tabs-default .am-tabs-nav > .am-active a {
    color: #3d0505;
}

.am-tabs-d2 .am-tabs-nav > .am-active a {
  color: #3d0505;
}

.am-nav-tabs > li > a:hover {
    border-left:0;
}

.am-nav-tabs > li > a {
    margin-right:0;
}


.am-tabs-bd ,
.am-nav-tabs > li > a:hover 
{
    border:0;
}

.am-nav > li > a:focus, .am-nav > li > a:hover {
    background:0;
}

[class*=am-u-] + [class*=am-u-]:last-child {
    float:left;
}

.line-clamp {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    line-height: 1.6rem;
    max-height: 1.8rem;
}

.am-order {
    
   height:12.5px;
    font-size:1.2rem;
    color:white;
    background-color:rgba(61,5,5,0.5);
    width:6rem;
    position:absolute;
   top:100px;
}

.volume {
    font-size:1.2rem;
}

.am-volume {
    font-size:1.2rem;
    color:#f54d23;
}

.am-img{
	width:6rem;
	height:6rem;
}