
.fl {
    float: left;
}
.fr {
    float: right;
}
.hide {
    display: none;
}
.show {
    display: block;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
body,p,img,span,li,ul,div,input,button {
    margin: 0;
    border:none;
    padding: 0;
    outline: none;
}
body {
    font-size: 17px;
    margin:  0 auto;
    background: #faf5f6;
    top:0;
    left:0;
}
.no-scroll {
    height:100%;
    overflow: hidden;
}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.toTop {
    position: fixed;
    right: 30px;
    bottom: 50px;
    font-family: iconfont;
    display: none;
    font-size: 37px;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border: 1px solid #CCCCCC;
    border-radius: 50px;
    text-align: center;
    z-index: 11;
    line-height: 50px;
    color: #8c8c8c;
}


@font-face {
    font-family: 'iconfont';
    src: url('//at.alicdn.com/t/font_1465972880_677109.eot'); /* IE9*/
    src: url('//at.alicdn.com/t/font_1465972880_677109.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('//at.alicdn.com/t/font_1465972880_677109.woff') format('woff'), /* chrome、firefox */ url('//at.alicdn.com/t/font_1465972880_677109.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('//at.alicdn.com/t/font_1465972880_677109.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.main-title .main-logo {
    font-family: Simhei;
    max-width: 117px;
    font-weight: bold;
    font-size: 19px;
    height: 28px;
    line-height: 28px;
    color: white;
    overflow: hidden;
}
.main-title .main-logo img {
    height:100%;
}
.main-title .main-icon {
    position: relative;
    z-index: 7;
    background: url(cms-img.png?t=201704200903) 0 2px no-repeat;
    background-size: 287px 800px;
    width: 28px;
    height: 28px;
    margin-left: 6px;
    top: 0px;
}
.main-title #mui-action-app {
    background-position: -221px -537px;
    width: 30px;
}

.main-title {
    height: 44px;
    background: #fe4a65;
    padding: 8px 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 12;
    display: block;
    box-sizing: border-box;
}
.goods-list .goods-item a.img img.lazy {
    background: #f5f5f5;
}

.main-title .menu-cat,.main-title .menu-detail  {
    font-family: Simhei;
    font-size: 17px;
    height: 28px;
    line-height: 28px;
    color: white;
    text-align: center;
}
.main-title .menu-cat span {
    position: relative;
    cursor: pointer;
    padding: 6px 15px;
    padding-right: 22px;
}
.main-title .menu-cat span i {
    position: absolute;
    width: 17px;
    height: 17px;
    top: 6px;
    right: 0;
    background: url(cms-img.png) -94px 0 no-repeat;
    background-size: 287px 800px;
}
.main-title .menu-cat span i.show {
    -moz-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    transform: scaleY(-1);
}

.main-title .main-home,.main-title .main-more  {
    position: absolute;
    z-index: 7;
    background: url(cms-img.png) -62px 0 no-repeat;
    background-size: 287px 800px;
    width: 28px;
    height: 28px;
    right: 10px;
    top: 10px;
}
.main-title .main-back {
    position: absolute;
    left: 10px;
    height: 28px;
    width: 28px;
    display: block;
    background: url(cms-img.png) -32px 0 no-repeat;
    background-size: 287px 800px;
    float: left;
}
.main-title .main-more {
    background: url(cms-img.png) -243px 0 no-repeat;
    background-size: 287px 800px;
}

.main-title .search {
    margin-left: 8px;
    position: relative;
    height: 28px;
    line-height: 28px;
    border-radius: 5px;
    padding: 0 9px;
    background: white;
    font-size: 13px;
    overflow: hidden;
}
.main-title .search input {
    border: none;
    outline: none;
    height: 26px;
    font-size: 13px;
    line-height: 26px;
    background: white;
    color: #666;
}
.main-title .search input:focus {
    padding-left: 0
}
.main-title .search .search_submit {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 2px;
    border: none;
    display: block;
    background: url(cms-img.png) 6px -26px no-repeat;
    background-size: 287px 800px;
    right: 6px;
}
.main-title .search .search-in {
    display: none;
}
.main-title .search .search-kw {
    max-width: 125px;
    position: absolute;
    right: 8px;
    top: 0;
    color: #666;
}


#show-top-menu {
    position: fixed;
    top: 44px;
    width: 100%;
    height: 100%;
    z-index: -1;
    padding-bottom: 22px;
}
#show-top-menu #menu-mask {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: -100%;
    /*transition: top 0.3s ease-out;*/
    left: 0;
    z-index: 1;
}
#show-top-menu .menu-content {
    width: 100%;
    position: absolute;
    z-index: 2;
    top: -227px;
    left: 0;
    /*transition: top 0.3s ease-out;*/
    background: white;
    padding-bottom: 22px;
}
#show-top-menu .menu-content .main-cat {
    overflow: hidden;
    padding-bottom: 27px;
}
#show-top-menu .menu-content .main-cat li {
    box-sizing: border-box;
    float: left;
    width: 25%;
    height: 51px;
    border-bottom: #eee 1px solid;
    border-right: #eee 1px solid;
    text-align: center;
    line-height: 50px;
}
#show-top-menu .menu-content .main-cat li a {
    display: block;
    color: #333;
    font-size: 14px;
}
#show-top-menu .menu-content .main-cat li:nth-child(4n) {
    border-right: none;
}
#show-top-menu .menu-content .up-menu {
    display: block;
    width: 120px;
    height: 25px;
    border-radius: 1px;
    border: #ff7f90 1px solid;
    text-align: center;
    color: #ff7f90;
    font-size: 13px;
    line-height: 24px;
    margin: 0 auto;
    box-sizing: border-box;
}
#show-top-menu .menu-content.show,
#show-top-menu #menu-mask.show {
    top: 0;
}

.pullup-goods {
    font-size: 12px;
    height: 50px;
    display: block;
    line-height: 50px;
    color: #565656;
    text-align: center;
    background-color: #fff;
}


/*
old detail
*/

.ads-list {
    background-color: #fff;
    padding: 0.2em;
    padding-top: 0.4em;
    text-align: center;
}

.ads-list .goods-item {
    width: 48%;
    float: left;
    text-align: left;
    margin-bottom: 0.7em;
    margin-right: 0.15em;
}

.ads-list .goods-item:nth-child(2n) {
    float: right;
}

.ads-list .goods-item a.img {
    width: 100%;
    position: relative;
    display: block;
    height: 0;
    padding-bottom: 100%;
}

.ads-list .goods-item a.img .today-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    text-align: center;
    background-color: #2BD4C2;
    color: #FFFFFF;
    padding: 3px 0;
}

.ads-list .goods-item a.img .today-wrapper span {
    display: block;
    font-size: 12px;
    line-height: 16px;
    padding: 0 4px;
}

.ads-list .goods-item a.img .coupon-wrapper span {
    display: block;
    font-size: 10px;
    line-height: 16px;
    padding: 0 3px;
}

.ads-list .goods-item a.img .coupon-wrapper .coupon {
    color: #EDFF00;
}

.ads-list .goods-item a.img .coupon-wrapper .price {
    color: #FFF;
}

.ads-list .goods-item a.img img {
    width: 100%;
    border: none;
    margin-top: -1rem;
}

.ads-list .goods-item a.title {
    width: 100%;
}

.ads-list .goods-item a.title .text {
    word-break: break-all;
    width: 100%;
    overflow: hidden;
    color: #a3a3a3;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    height: 18px;
}

.ads-list .goods-item .price-wrapper {
    position: relative;
    margin: 0.2em 0;
}

.ads-list .goods-item .price-wrapper .text {
    color: #a3a3a3;
    font-size: 12px;
    display: inline-block;
}

.ads-list .goods-item .price-wrapper .price {
    color: #ff4b5f;
    font-size: 14px;
    margin-left: -0.3em;
    display: inline-block;
    margin-top: 0.1em;
}

.ads-list .goods-item .price-wrapper .sold-wrapper {
    position: absolute;
    right: 0;
    top: 0.05em;
}

.ads-list .goods-item .price-wrapper .sold-wrapper .sold-num {
    color: #ecabab;
    font-size: 12px;
}

.ads-list .goods-item .price-wrapper .sold-wrapper .text {
    color: #a3a3a3;
    font-size: 12px;
}


/*
old list
*/

.goods-list,
.goods-list2{
    background-color: #fff;
    padding: 0.2em;
    padding-top: 0.4em;
    text-align: center;
    overflow: hidden;
}
.goods-list .goods-item,
.goods-list2 .goods-item {
    width: 48%;
    display: block;
    text-align: left;
    margin-bottom: 0.7em;
    margin-left: 0.15em;
    float: left;
}
.goods-list .goods-item:nth-child(2n),
.goods-list2 .goods-item:nth-child(2n) {
    margin-right: 0.15em;
    float: right;
}
.goods-list .goods-item a.img,
.goods-list2 .goods-item a.img  {
    width: 100%;
    position: relative;
    display: block;
}
.goods-list .goods-item a.img ,
.goods-list2 .goods-item a.img {
    padding-bottom: 100%;
    height:0;
    background: #f5f5f5;
}
.goods-list .goods-item a.img img ,
.goods-list2 .goods-item a.img img {
    /* margin-top: -100%; */
}

.ads-list .goods-item a.img .coupon-wrapper ,
.goods-list .goods-item a.img .coupon-wrapper,
.goods-list2 .goods-item a.img .coupon-wrapper,
.goods-list .goods-item a.img .today-wrapper,
.goods-list2 .goods-item a.img .today-wrapper {
    position: relative;
    z-index: 10;
    font-size: 10px;
    text-align: center;
    background-color: #e53563;
    height: 1rem;
    line-height: 1rem;
    color:#fff;
    float: right;
    padding: 0px 5px;
    font-family:"Microsoft Yahei";
}
.ads-list .goods-item a.img .coupon-wrapper i,
.goods-list .goods-item a.img .coupon-wrapper i,
.goods-list2 .goods-item a.img .coupon-wrapper i,
.goods-list .goods-item a.img .today-wrapper i,
.goods-list2 .goods-item a.img .today-wrapper i {
    font-style: normal;
}

.ads-list .goods-item a.img .coupon-wrapper b,
.goods-list .goods-item a.img .coupon-wrapper b,
.goods-list2 .goods-item a.img .coupon-wrapper b,
.goods-list .goods-item a.img .today-wrapper b,
.goods-list2 .goods-item a.img .today-wrapper b {
    font-family: Arial;
    font-size: 10px;
    font-weight: normal;
}
.goods-list .goods-item a.img .today-wrapper,
.goods-list2 .goods-item a.img .today-wrapper {
    background-color: #7ad3c1;
}
.goods-list .goods-item a.img .coupon-wrapper .coupon,
.goods-list2 .goods-item a.img .coupon-wrapper .coupon{
    color: #f3b419;
}
.goods-list .goods-item a.img .coupon-wrapper .price,
.goods-list2 .goods-item a.img .coupon-wrapper .price {
    color: #FFFFFF;
}
.goods-list .goods-item a.img img,
.goods-list2 .goods-item a.img img {
    width: 100%;
    border: none;
    vertical-align: top;
    margin-top: -1rem;
}
.goods-list .goods-item a.title,
.goods-list2 .goods-item a.title {
    width: 100%;
    margin-top: 0.2em;
    display: block;
}
.goods-list .goods-item a.title .text,
.goods-list2 .goods-item a.title .text  {
    word-break: break-all;
    width: 100%;
    overflow: hidden;
    color: #a3a3a3;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    height: 18px;
}
.goods-list .goods-item .price-wrapper,
.goods-list2 .goods-item .price-wrapper {
    position: relative;
    margin: 0.2em 0;
}
.goods-list .goods-item .price-wrapper .text,
.goods-list2 .goods-item .price-wrapper .text {
    color: #a3a3a3;
    font-size: 12px;
    display: inline-block;
}
.goods-list .goods-item .price-wrapper .price,
.goods-list2 .goods-item .price-wrapper .price  {
    color: #ff4b5f;
    font-size: 14px;
    margin-left: -0.3em;
    display: inline-block;
    margin-top: 0.1em;
}
.goods-list .goods-item .price-wrapper .sold-wrapper,
.goods-list2 .goods-item .price-wrapper .sold-wrapper {
    position: absolute;
    right: 0;
    top: 0.05em;
}
.goods-list .goods-item .price-wrapper .sold-wrapper .sold-num,
.goods-list2 .goods-item .price-wrapper .sold-wrapper .sold-num  {
    color: #ecabab;
    font-size: 10px;
}
.goods-list .goods-item .price-wrapper .sold-wrapper .text,
.goods-list2 .goods-item .price-wrapper .sold-wrapper .text {
    color: #a3a3a3;
    font-size: 10px;
}

/*
shoufa tese
 */


.descript-tag-list  .descript-tag-item i {
    position: absolute;
    left: 10px;
    width: 13px;
    height: 11px;
    top: 4px;
    background: url(cms-img.png) -1px -751px no-repeat;
    background-size: 287px 800px;
}
.descript-tag-list .descript-tag-item i.descript-tag-icon-2 {
    background-position: -21px -751px;
}
.descript-tag-list .descript-tag-item i.descript-tag-icon-3 {
    background-position:-41px -751px;
}
.descript-tag-list .descript-tag-item i.descript-tag-icon-4 {
    background-position: -61px -751px;
}
.descript-tag-list .descript-tag-item i.descript-tag-icon-5 {
    background-position: -81px -751px;
}
.descript-tag-list .descript-tag-item i.descript-tag-icon-0 {
    background-position:-101px -751px;
}


a.img .video_icon {
    width: 50px;
    height: 50px;
    border:2px solid white ;
    border-radius: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -27px;
    background:rgba(0,0,0,.5);
}
a.img .video_icon:after {
    content: '';
    width:0;
    height: 0;
    position: absolute;
    top: 14px;
    left: 19px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 16px solid white;
}