b {
    font-family: "Arial";
}
i {
    font-family: "Microsoft Yahei";
    font-style:normal;
}
.shoufa-banner {
    margin-top: 44px;
}
.shoufa-banner img {
    width: 100%;
    vertical-align: top;
}
.release-time {
    height:50px;
    background: white;
    border-bottom: #ddd 1px solid;
}

.release-time li {
    width: 20%;
    float: left;
    height: 50px;
    line-height: 48px;
}
.release-time li a {
    text-align:center;
    display: block;
    color: #999;
    font-size: .7rem;
}
.release-time li:last-child a ,.release-time li:first-child a {
    font-weight: bold;
    font-size: 14px;
}
.release-time li.cur a {
    height: 48px;
    color:#fe4a65;
    border-bottom: 2px solid #fe4a65;
}
.release-time li a span ,.release-time li a p {
    display: block;
    height: 16px;
    line-height: 16px;
}
.release-time li a span {
    padding-top: 8px;
    font: 14px/15px Arial;
    font-weight: bold;
}

.release-soon-time {
    text-align: center;
    color:#999;
    font-size: .9rem;
    font-family: "Microsoft Yahei";
    margin-top: 5px;
}
.release-soon-time b {
    padding: 0 .3rem;
    font-weight: normal;
    font-family: Arial;
}

.release-list {
}
.release-list li {
    display:block;
    background:white;
    width: 100%;
    overflow:hidden;
    position: relative;
    margin-top: 8px;
    border-bottom: 1px solid #e9e5e6;
}
.release-list li .release-img {
    width: 100%;
    position: relative;
    text-align: center;
    background: #eee;
    height: 50%;
    min-height: 160px;
    overflow: hidden;
}
.release-list li .release-img .djsf {
    position: absolute;
    top : 0;
    right: 15px;
    background:#fe4a65;
    color:#fff;
    font-size:10px;
    padding: 4px;
}
.release-list li .release-img .djsf:before ,
.release-list li .release-img .djsf:after{
    position: absolute;
    width: 10px;
    height: 60px;
    display: block;
    content: "";
    top: 0;
    right: -8px;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    width: 0;
    height: 0;
    border-right: 8px solid transparent;
    border-left: 0 solid transparent;
    border-bottom: 0px solid transparent;
    right: -8px;
    border-top: 24px solid #fe4a65;
}

.release-list li .release-img .djsf:before{
    border-right: 0px solid transparent;
    border-left: 8px solid transparent;
    border-bottom: 0px solid transparent;
    left: -8px;
    border-top: 24px solid #fe4a65;
}

.release-list li .release-img:after {
    content: '';
    position:absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-left-width: 7.5px;
    border-left-color: transparent;
    border-right-width: 7.5px;
    border-right-color: transparent;
    border-bottom-width: 7.5px;
    border-bottom-color: #fff;
    border-style: solid;
    border-top: none;
    left: 50%;
    margin-left: -7.5px;
}
.release-list li .release-img .release-img-cover {
    position: absolute;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    top: 0;
    z-index: 2;
    left: 0;
    background: rgba(255,255,255,.4);
}

.release-list li .release-img .descript-tag {
    position: absolute !important;
    bottom: 6px;
    max-height: 73px;
    overflow: hidden;
    z-index: 2;
    opacity: 0.7;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
    max-width: 100%;
}
.release-list ul li.goods-item .descript-tag {
    opacity: 1;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
}

.release-list li .release-img .descript-tag .descript-tag-list {
    position: relative !important;
    min-width: 100% !important;
    overflow: hidden;
}
.release-list li .release-img .descript-tag .descript-tag-item {
    overflow: hidden;
    height: 20px!important;
    overflow:hidden;
    color:white;
    text-align: left;
    text-indent: 20px;
    font: 10px/20px "Microsoft Yahei";
    position: relative;
    margin-bottom: 5px;
    width: 100%!important;
}
.release-list li .release-img .descript-tag .descript-tag-item .descript-tag-item-slide {
    padding: 0 15px 0 8px;
    max-width: 200px;
    position: relative;
    float: left;
}
.release-list li .release-img .descript-tag .descript-tag-item.sfslide-slide-active {
    opacity: 0.5;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
}

.release-list li .release-img .descript-tag .descript-tag-item i {
    position: absolute;
    left: 10px;
    width: 13px;
    height: 11px;
    top: 4px;
    background: url(cms-img.png) -1px -751px no-repeat;
    background-size: 287px 800px;
}
.release-list li .release-img .descript-tag .descript-tag-item i.descript-tag-icon-2 {
    background-position: -21px -751px;
}
.release-list li .release-img .descript-tag .descript-tag-item i.descript-tag-icon-3 {
    background-position:-41px -751px;
}
.release-list li .release-img .descript-tag .descript-tag-item i.descript-tag-icon-4 {
    background-position: -61px -751px;
}
.release-list li .release-img .descript-tag .descript-tag-item i.descript-tag-icon-5 {
    background-position: -81px -751px;
}
.release-list li .release-img .descript-tag .descript-tag-item i.descript-tag-icon-0 {
    background-position:-101px -751px;
}


.release-list li .release-img .descript-tag .descript-tag-item .descript-tag-cover {
    background: rgb(58,65,64);
    position: absolute;
    width: 100%;
    height: 20px;
    border-radius: 0 25px 25px 0;
    top: 0;
    z-index: -1;
    left: 0;
    opacity: .7;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
}


.release-list li .release-img .notice-cover {
    position: absolute;
    width: 20%;
    height: 20%;
    background: rgba(0,0,0,.5);
    color:white;
    font-size: .7rem;
    top: 30%;
    border-radius: 100%;
    text-align: center;
    left: 40%;
}
.release-list li .release-img .notice-cover p {
    margin: 0 auto;
    margin-top: 37%;
}
.release-list li .release-img img {
    width: 100%;
    /* max-height: 207px; */
    vertical-align: top;
    height: 50%;
}
.release-list li .release-info {
    padding: 15px;
    display: block;
    overflow: hidden;
    height: 48px;
}

.release-list li .release-info .release-tit {
    font-size: 12px;
    color:#666;
    margin: 0;
    display: block;
    height: 16px;
    line-height: 16px;
    font-weight: normal;
    overflow: hidden;
    margin-bottom: 13px;
    padding-right: 62px;
}
.release-list li .release-info .buy-price {
    height: 1.5rem;
    font-size: .7rem;
    line-height: 1.5rem;
    float: left;
    margin-left: 1.5rem;
    /* overflow: hidden; */
    padding-right: 5px;
    top: 1px;
}
.release-list li .release-info .buy-price {
    height: 22px;
    position: relative;
}
.release-list li .release-info .buy-price span {
    position: relative;
    left: 0;
    width: 1.2rem;
    float: left;
    font-size: .7rem;
    text-align: center;
    height: 18px;
    background: white url(cms-img.png) -205px -182px no-repeat;
    background-size: 287px 800px;
    color: white;
    line-height: 18px;
    top: 2px;
}
.release-list li .release-info .buy-price b {
    position: relative;
    left: -2px;
    margin: 0;
    text-indent: 0;
    text-align: center;
    font-weight: normal;
    padding: 0 5px;
    font-size: .82rem;
    color:#ff6a00;
    line-height: 16px;
    height: 15px;
    top: 2px;
    border: #ff9950 1px solid;
    float: left;
}
.release-list li .release-info .buy-price b i {
    font-size: .7rem;
}


.release-list li .release-info .release-price-coupon {
    padding-right:62px;
    display: block;
    overflow: hidden;
}

.release-list li .release-info .release-price-coupon .price{
    font-size: 10px;
    position: relative;
    float: left;
    height: 22px;
    color:#aaa;
}
.release-list li .release-info .release-price-coupon .coupon {
    /* margin-left: 0.1rem; */
}
.release-list li .release-info .release-price-coupon .coupon b{
    font-size: 10px;
    font-weight: normal;
    text-decoration: line-through;
    color: #666;
    position: relative;
}
.release-list li .release-info .release-price-coupon .price b i {
    font-size: .7rem;
}
.release-list li .release-info .release-price-coupon .price b {
    font-size: 1.2rem;
    position: relative;
    color:#fe0000;
    top: 1px;
}
.release-list li .release-info .release-price-coupon .buy-num  {
    position: relative;
    float: left;
    height: 20px;
    line-height: 24px;
    margin-left: .8rem;
    font-size: .8rem;
    top: 2px;
    padding-left: 19px;
    color:#aaa;
}

.release-list li .release-info .release-price-coupon .buy-num span{
    font-size: 10px;
    position: relative;
    float: left;
    height: 22px;
    color: #aaa;
}
.release-list li .release-info .release-price-coupon .buy-num i {
    width: 15px;
    height: 12px;
    position: absolute;
    left: 0;
    top: 5px;
    background: url(goods_num.png) 0 0 no-repeat;
    background-size: 100%;
}

.release-list li .release-info .release-price-coupon .buy-num b{
    color:#ff6a00;
    font-weight: normal;
    padding-left: 2px;
    position: relative;
    top: 0;
    font-family: Arial;
}



.release-list li .release-info .goods-brand {
    position: absolute;
    width: 62px;
    height: 32px;
    font-size: .7rem;
    right: 15px;
    text-align: center;
    overflow: hidden;
    color: #666;
    bottom: 24px;
    line-height: 30px;
}
.release-list li .release-info .goods-brand .brand-txt {
    position:relative;
    display: block;
    width: 60px;
    height: 28px;
    border: #fe4a65 1px solid;
    color: #fe4a65;
    font-family: "Microsoft Yahei";
    font-size: 10px;
    background: white;
    line-height: 26px;
}
.release-list li .release-info .goods-brand .brand-txt span {
    position: absolute;
    top: -6px;
    width: 30px;
    left: 29px;
    height: 14px;
    line-height: 14px;
    background: #14ccba;
    font-size: 12px;
    font-family: Simsun;
    color: white;
}
.release-list li .release-info .goods-brand img {
    max-height: 30px;
    max-width: 80px;
    vertical-align: middle;
}


.pullup-goods {
    background:none;
}


.search-none {
    width: 100%;
    height: 200px;
    margin: 50px auto;
    display: block;
}
.search-none .search-none-icon {
    width: 140px;
    height: 140px;
    background: url(../images/no-goods.png) center no-repeat;
    margin: 0 auto 25px;
}
.search-none p {
    text-align: center;
    font-size: 15px;
    color: #aaa;
    line-height: 24px;
}