<?xml version="1.0" encoding="utf-8"?>
<manifest>
	<application>
		<name><![CDATA[代理中心]]></name>
		<identifie><![CDATA[area]]></identifie>
		<version><![CDATA[1.0.0]]></version>
		<type><![CDATA[interact]]></type>
		<description><![CDATA[代理中心]]></description>
		<author><![CDATA[微连科技]]></author>
		<url><![CDATA[http://www.weliam.cn/]]></url>
	</application>
	<setting>
		<agent embed="false" />
		<system embed="true" />
		<task embed="false" />
	</setting>
	<agentmenu>
	</agentmenu>
	<systemmenu>
		<menu title="代理" font="fa-inbox">
			<entry title="代理列表" ac="areaagent" do="agentIndex" actions='["do",["agentIndex","agentEdit"]]' iscover="true" />
			<entry title="代理分组" ac="areaagent" do="groupIndex" actions='["do",["groupIndex","groupEdit"]]' />
		</menu>
		<menu title="地区" font="fa-inbox">
			<entry title="地区列表" ac="hotarea" do="oparealist" actions='["ac","hotarea","do","oparealist"]' />
			<entry title="地区分组" ac="hotarea" do="group" actions='["ac","hotarea","do",["group","groupedit"]]' />
			<entry title="自定义地区" ac="custom" do="index" actions='["ac","custom"]' />
		</menu>
		<menu title="工具设置" font="fa-inbox">
			<entry title="复制数据" ac="areadb" do="copydata" actions='["ac","areadb"]' />
			<entry title="代理设置" ac="areaset" do="setting" actions='["ac","areaset"]' />
		</menu>
	</systemmenu>
</manifest>