.nav{background-color: #F5F7F9;font-size: 12px;}
.nav-tabs>li>a:hover{
    color: #fff;
    border-color: #444444;
    background-color: #444444;
}
.nav-tabs > li.active > a,.nav-tabs > li.active > a:hover{
    background-color: #444444;
    color: #fff;
    border-color: #444444;
}
.nav-tabs>li{margin-right: 10px;}
.nav>li>a{padding: 6px 20px;border-radius: 4px;border:1px solid #444444;color: #444444;}
.nav.nav-tabs{border:none;margin-top: 30px;}
.ygxian{width: 3px;height: 17px;float:left;background-color: #444444;margin-top: 6px;border:none;}
.ygdangq{margin-top: 6px;margin-left: 10px;float: left;margin-right: 10px;}
.main{font-size: 12px;margin: 16px 0px 30px;}
.btn{font-size: 12px;}
.btnblue{background-color: #444444;color: white;}
.btnblue:hover{background-color: #444444;color: white;}
.yg5_key>div{float: left;line-height: 34px;}
.store_td1{height: 45px;}
.store_list_img{width: 40px;height: 40px;}
.yg5_tabel{border-color: #e5e5e5;outline: 1px solid #e5e5e5;text-align: center;}
.yg5_tr2>td{padding: 10px;border: 1px solid #e5e5e5;text-align: center;}
.yg5_tr1>td{
    border: 1px solid #e5e5e5;
    background-color: #FAFAFA;
    font-weight: bold;
    text-align: center;
}
.yg5_tr2>th{padding: 15px;border: 1px solid #e5e5e5;text-align: center;}
.yg5_tr1>th{
    border: 1px solid #e5e5e5;
    padding-left: 15px;
    background-color: #FAFAFA;
    font-weight: bold;
    text-align: center;
}
.yg5_btn{background-color: #EEEEEE;color: #333;border: 1px solid #E4E4E4;border-radius: 6px;width: 100px;height: 34px;}
.ygbtn>div{margin-left: 20px;padding-left: 30px;padding-right: 30px;}
.ygrow{margin-top: 15px;}
.check_img{width: 45px;height: 45px;}

.storegrey{color: #fff;background-color: grey;}
.storegrey:hover{color: #fff;background-color: grey;}
.storeblue{color: #fff;background-color: #444444;}
.storeblue:hover{color: #fff;background-color: #444444;}
.storered{color: #fff;background-color: #FF7F50;}
.storered:hover{color: #fff;background-color: #FF7F50;}

.storegrey3{color: grey;border:1px solid grey;}
.storegrey3:hover{color: grey;border:1px solid grey;}

.ygyouhui{color: #444444;border:1px solid #444444;}
.ygyouhui:hover{color: #444444;border:1px solid #444444;}
.ygshouqian{color: #FF7F50;border:1px solid #FF7F50;}
.ygshouqian:hover{color: #FF7F50;border:1px solid #FF7F50;}
.storeinfo{color: #31b0d5;border:1px solid #31b0d5;}
.storewarning{color: #f0ad4e;border:1px solid #f0ad4e;}
.storesuccess{color: #5cb85c;border:1px solid #5cb85c;}
.storeinfo:hover{color: #31b0d5;border:1px solid #31b0d5;}
.storewarning:hover{color: #f0ad4e;border:1px solid #f0ad4e;}
.storesuccess:hover{color: #5cb85c;border:1px solid #5cb85c;}
.storespan{font-size: 12px;color: #9d9d9d;border:1px solid #efefef;margin: 5px;position: relative;}
.storespan:hover{background-color: #efefef;}
.storespan:hover .bianji{display: block;}
.bianji{position: absolute;left: -40%;bottom: 27px;display: none;background-color: #333;color: white;padding: 2px 7px;border-radius: 2px;font-size: 10px;}
.arrowdown{width: 0;height: 0;border-bottom: 10px solid #333;  border-left: 10px solid transparent;transform: rotate(45deg);
    position: absolute;left: 40%;top: 78%;
}
.ygshouqian2{color: #FF7F50;border:1px solid #FF7F50;background-color: rgba(0,0,0,0);}
.ygshouqian2:hover{color: #fff;background-color: #FF7F50;}

.ygyouhui2{color: #444444;border:1px solid #444444;background-color: rgba(0,0,0,0);}
.ygyouhui2:hover{color: #fff;background-color:#444444;}
.storeinf2{color: #31b0d5;border:1px solid #31b0d5;background-color: rgba(0,0,0,0);}
.storewarning2{color: #f0ad4e;border:1px solid #f0ad4e;background-color: rgba(0,0,0,0);}
.storesuccess2{color: #5cb85c;border:1px solid #5cb85c;background-color: rgba(0,0,0,0);}
.storesuccess2:hover{color: #fff;background-color: #5cb85c;}
.storeinfo2:hover{color: #fff;background-color: #31b0d5;}
.storewarning2:hover{color: #fff;background-color:#f0ad4e;}
.storegrey2{color: grey;border:1px solid grey;background-color: rgba(0,0,0,0);}
.storegrey2:hover{color: #fff;background-color: grey;}
.yangshi>a{color: #444444;font-size: 14px;}
.ygbody{border-color: #B3D6FF;background-color: #EEF6FF;color: #595961;border-radius: 6px;}