/*全局可调用基础样式*/
.fq-nowrap{
	white-space: nowrap;
}

.fq-text-white{
	color: #FFF;
}

.fq-text-grey{
	color: #666666;
}

.fq-background-white{
	background-color: #FFF;
}

.fq-background-grey{
	background-color: #8F8F8F;
}

.fq-top-xs{
	top: 5px;
	position: relative;
}

.fq-top-sm{
	top: 10px;
	position: relative;
}

.amz-toolbar{
	right: 396.5px;
	bottom: 50px;
	position: fixed;    
	right: 10px;  
	z-index: 999;
}

.amz-toolbar .follow{
	display: block;    
    opacity: 0.9;    
    background-color: #dd514c;    
    color: #fff;    
    margin-top: 10px;    
	-webkit-transition: all .3s ease-in;    
    transition: all .3s ease-in;
    width: 40px;    
    height: 40px;
    font-size: 18px;
    line-height: 40px;
	font-size: 25px;
	
}


/* ==========================================================================
   Component: Pagination
 ============================================================================ */
.pagination {
  padding-left: 0;
  margin: 1.5rem 0;
  list-style: none;
  color: #999999;
  text-align: left;
}
.pagination:before,
.pagination:after {
  content: " ";
  display: table;
}
.pagination:after {
  clear: both;
}
.pagination > li {
  display: inline-block;
}
.pagination > li > a,
.pagination > li > span {
  position: relative;
  display: block;
  padding: 4px 8px;
  text-decoration: none;
  line-height: 1.2;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 0;
  margin-bottom: 5px;
  margin-right: 5px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  margin-right: 0;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  background-color: #eeeeee;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 2;
  color: #fff;
  background-color: #0e90d2;
  border-color: #0e90d2;
  cursor: default;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #999999;
  background-color: #fff;
  border-color: #ddd;
  cursor: not-allowed;
  pointer-events: none;
}
.pagination .pagination-prev {
  float: left;
}
.pagination .pagination-prev a {
  border-radius: 0;
}
.pagination .pagination-next {
  float: right;
}
.pagination .pagination-next a {
  border-radius: 0;
}
.pagination-centered {
  text-align: center;
}
.pagination-right {
  text-align: right;
}