.form-control-excel {
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.header {
    line-height: 28px;
    margin-bottom: 16px;
    margin-top: 18px;
    padding-bottom: 4px;
    border-bottom: 1px solid #CCC
}
.block-gray{
    background-color: #555555;
    color: white;
}
.block-red{
    background-color: #ef4437;
    color: white;
}
.block-primary{
    background-color: #428bca;
    color: white;
}
.block-success{
    background-color: #5cb85c;
    color: white;
}
.block-orange{
    background-color: orange;
    color: white;
}
#guest-queue-index-body .queue_setting, #queue-setting-index-body .queue_setting {
    display: block;
    float: left;
    height: 100px;
    width: 31.3%;
    margin-right: 2%;
    margin-bottom: 20px;
    text-align: center
}
#queue-setting-index-body .queue_setting {
    width: 150px;
    height: 150px;
    border-radius: 1000px;
    margin-right: 20px
}
#guest-queue-index-body .queue_setting .name, #queue-setting-index-body .queue_setting .name{
    display: table-cell;
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
    vertical-align: middle;
    height: 60px
}
#queue-setting-index-body .queue_setting .name {
    height: 90px;
}
.table-display{
    display: table;
    width: 100%;
}
.table-state-tables{
    padding: 10px;
}
.table-state-tables .state-table{
    margin: 0 20px 20px 0;
    font-size: 20px;
    line-height: 30px;
    width: 140px;
    float: left
}
.table-state-tables .state-table .round{
    display: table;
    margin: 20px;
    width: 100px;
    height: 100px;
    border-radius: 1000px;
}
.table-state-tables .state-table .round.idle{
    background-color: #555555;
    color: white
}
.table-state-tables .state-table .state{
    height: 100px;
    width: 100%;
    display: table-cell;
    text-align: center;
    vertical-align: middle
}
.table-state-tables .state-table .name{
    background-color: #eeeeee;
    color: #555555;
    font-size: 16px;
    line-height: 40px;
    text-align: center
}
.table-state-tables .state-table .round.opened{
    background-color: #ef4437;
    color: white;
}
.table-state-tables .state-table .round.ordered{
    background-color: #428bca;
    color: white
}
.table-state-tables .state-table .round.paid{
    background-color: #5cb85c;
    color: white
}

.qr-code-table .qr-code-item {
    float: left;
    width: 200px;
    margin: 0px 20px 20px 0;
    text-align: center;
    color: #555555
}
.qr-code-table .qr-code-op{
    height: 24px;
    line-height: 24px;
    font-size: 16px;
    text-align: left;
    visibility: visible
}

/*.qr-code-table .qr-code-item a{*/
/*color: #555555;*/
/*text-decoration: none*/
/*}*/
.qr-code-table .qr-code-item a{
    color: #555555;
    text-decoration: none;
}
.qr-code-table .qr-code-op .fa-edit{
    color: #5cb85c
}
.qr-code-table .qr-code-op .fa-trash-o{
    color: #d9534f
}
.qr-code-table .qr-code-box{
    border: 1px solid #dbdbdb
}
.qr-code-table .qr-code-item-info{
    background-color: #eeeeee;
    border-top: 1px solid #dbdbdb;
    height: 24px
}
.model-show{
    box-sizing: border-box;
    border-bottom: 1px solid #eeeeee;
    margin-bottom: 10px
}
.model-show>p, .model-show>.content, .model-show>.advanced-options p{
    display: block;
    margin-right: 10%;
    width: 30%;
    float: left;
    padding: 10px 20px;
    margin-bottom: 0;
    color: #555555;
    border-top: 1px solid #eeeeee
}
.table-bordered{
    border: 1px solid #dddddd;
}