{template 'web/common/common'}
{template 'web/soil/navbar'}
<!--<link rel="stylesheet" type="text/css" href="../addons/{php echo $_GPC['m']}/resource/swal/dist/sweetalert2.min.css" />-->
<!--<link rel="stylesheet" type="text/css" href="../addons/kundian_farm/resource/css/layui.css" />-->
<!--<link rel="stylesheet" type="text/css" href="../addons/kundian_farm/resource/css/new-common.css" />-->
<!--<script src="../addons/kundian_farm/resource/layui.js" charset="utf-8"></script>-->
<style>
    .layui-form-label{width: 160px;}
    .layui-input-block{margin-left: 180px;}
</style>
<blockquote class="layui-elem-quote layui-text">
种子管理>编辑
</blockquote>
<div class="layui-card">
    <form class="layui-form" action="" method="post">
        <div class="layui-form-item">
            <label class="layui-form-label">种子名称</label>
            <div class="layui-input-block">
              <input type="text" name="send_name" value="{$data['list']['send_name']}" placeholder="种子名称" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">价格(1/㎡)</label>
            <div class="layui-input-block">
                <input type="text" name="price" value="{$data['list']['price']}" placeholder="价格" class="layui-input unit-input">
                <span class="unit" style="top: -27px;">元</span>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">最少种植数量(面积)</label>
            <div class="layui-input-block">
                <input type="text" name="low_count" value="{$data['list']['low_count']}" placeholder="价格" class="layui-input unit-input">
                <span class="unit" style="top: -25px;">㎡</span>

            </div>
            <div class="layui-form-mid layui-word-aux" style="margin-left: 180px;">若不填写表示不限制最少种植数量</div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">封面(60*60)</label>
            <div class="layui-input-block upload-img" style="width: 62%;">
              {php echo tpl_form_field_image('cover',$data['list']['cover']);}
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">轮播图（375*240）</label>
            <div class="layui-input-block">
              {php echo tpl_form_field_multi_image('send_slide',$data['list']['send_slide']);}
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">产量(X/㎡)</label>
            <div class="layui-input-block">
                <input type="text" name="output" value="{$data['list']['output']}" placeholder="20斤" class="layui-input">
                <div class="layui-form-mid layui-word-aux">此处需要带上单位。例如填写 “20斤” 则小程序端展示为：20斤/㎡</div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">作用</label>
            <div class="layui-input-block">
               <input type="text" name="effect" value="{$data['list']['effect']}" placeholder="作用" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">播种时间</label>
            <div class="layui-input-block">
                <input type="text" name="send_time" value="{$data['list']['send_time']}" placeholder="播种时间" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">生长周期</label>
            <div class="layui-input-block">
                <input type="text" name="cycle" value="{$data['list']['cycle']}" placeholder="生长周期" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">是否上架</label>
            <div class="layui-input-block">
                {if $data['list']['is_putaway']==1}
                <input type="checkbox" name="is_putaway" checked="" lay-skin="switch" value="1" lay-text="ON|OFF">
                {else}
                <input type="checkbox" name="is_putaway" lay-skin="switch" value="1" lay-text="ON|OFF">
                {/if}

            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">排序</label>
            <div class="layui-input-block">
                <input type="number" name="rank" value="{$data['list']['rank']}" placeholder="排序" class="layui-input">
                <div class="layui-form-mid layui-word-aux">数字越小越靠前</div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <input type="hidden" name="id" value="{$data['list']['id']}">
                <button class="layui-btn layui-btn-sm" type="button" lay-filter="formSubmit" lay-submit="">保存</button>
                <button type="button" class="layui-btn layui-btn-primary layui-btn-sm" id="goBack">返回</button>
            </div>
        </div>
    </form>
</div>
<script src="../addons/kundian_farm/resource/layui.js" charset="utf-8"></script>

<script src="../addons/kundian_farm/resource/js/main.js" charset="utf-8"></script>
<script>
    layui.use(['form', 'layedit', 'laydate'], function(){
        var form = layui.form,layer = layui.layer;
        form.on('submit(formSubmit)',function (data) {
            var formData = data.field;
            var url = "{url 'site/entry/admin',array('m'=>'kundian_farm','op'=>'seedEdit','action'=>'soil')}";
            var data = {
                formData: formData
            };
            postData(url, data);
            return false;
        })
        $('#goBack').click(function () {
            goBack();
        })
    });
</script>