.fui-tab-scroll {height: 2rem; background: #fff; overflow-y: hidden; overflow-x: auto; white-space: normal; position: relative;}
.fui-tab-scroll:after {content: ""; height: 1px; width: 100%; background: #efefef; position: absolute; left: 0; bottom: 0;}
.fui-tab-scroll .container{z-index: -1;  height:2.4rem; overflow: auto;  white-space:nowrap;}
.fui-tab-scroll .item {height:2rem; width:auto; overflow: hidden; line-height:2rem; text-decoration: none; color:#333; text-align: center; padding: 0.25rem 0.5rem; font-size: 0.7rem;}
.fui-tab-scroll .item.on  {color:#fe5455; font-weight: bold; position: relative;}
.fui-tab-scroll .item.on:before {content: ""; height: 2px; width: 100%; background: #fe5455; position: absolute; bottom: -0.2rem; left: 0;}

.coupon-content { margin:0.25rem 0.5rem ; height:6.5rem; position: relative;}
.coupon-content .png { position: absolute;bottom:0;left:10%;height:4rem; opacity:0.8; width:50%; }
.coupon-content .bd { height:0.25rem;  font-size:1px;} 
.coupon-content .bd1 { height:0.25rem;  -moz-transform: rotate(180deg); -webkit-transform: rotate(180deg); -o-transform: rotate(180deg);  -ms-transform: rotate(180deg); transform: rotate(180deg); font-size:1px; } 
.coupon-content .body { height:6rem; padding:0.5rem; position:relative;} 
.coupon-content .body .top{ height:3rem;}
.coupon-content .body .top .left { width: 3rem; float:left}
.coupon-content .body .top .left img { width:2.5rem; height:2.5rem;}
.coupon-content .body .top .right {float:right; width:100%; margin-left:-3rem;}
.coupon-content .body .top .right .inner { margin-left:3rem; padding-left:0.25rem; }
.coupon-content .body .top .right .inner .name { font-size:0.9rem; color:#fff; height:1.4rem; line-height:1.4rem; text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
.coupon-content .body .top .right .inner .time { font-size:0.65rem; color:#fff; height:1.1rem; text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
.coupon-content .body .enough { font-size:0.7rem; height:0.9rem;color:#fff; padding-top:0.25rem; text-align: right;}
.coupon-content .body .act { font-size:1rem; color:#fff;  text-align: right; }

.coupon-detail-page .fui-footer {background: rgba(0,0,0,0); display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; font-size: 0.8rem; text-align: center; line-height: 2.4rem; color: #fff;}
.coupon-detail-page .fui-footer .left {width: 100%; background:rgba(0,0,0,0.5);}
.coupon-detail-page .fui-footer .right { width: 5rem; -webkit-flex-shrink: 0; -ms-flex: 0 0 auto; -webkit-flex-shrink: 0; flex-shrink: 0;}

.coupon-detail-page .fui-cell-group-o {border-radius: 0; border: 1px solid #eee;}
.coupon-detail-page .fui-cell-group-o .fui-cell-angler {font-size: 0.7rem;}
.coupon-detail-page .text-orange {color:#ff6801;}
.coupon-detail-page .text-blue {color:#31b6e7;}
.coupon-detail-page .text-red {color:#c00;}
.coupon-detail-page .text-red2 {color:#B94A48; }
.coupon-detail-page .font-bold {font-weight: bold; color: #000;}
 
.coupon-detail-page .redpack { background:red;}
.coupon-detail-page .deduct { background:#fe7e00;}
.coupon-detail-page .discount { background:#5b9dfd;} 
.coupon-detail-page .money { background:#d83ef4;}
.coupon-detail-page .credit { background:#54caba;}
.coupon-detail-page .past { background:#c0c0c0;}
.coupon-my-page .coupon-item .cinfo .inner .name {height:1.8rem; line-height: 2rem;}
.coupon-my-page .coupon-item .cinfo .inner .time {height: 1.1rem;}
/*优惠券中心新样式2016-09-03*/
.coupon-index-bg{background: #efeff4;}
.coupon-index-list{padding:0.8rem 0.5rem 0.5rem;}
.coupon-index-list-a{background: #fff;-webkit-border-radius: 0.2rem;display: block;border-radius: 0.2rem;overflow: hidden;margin-bottom:0.5rem;}
.coupon-list{padding:0;position: relative;}
.coupon-index-list-left{position: relative;height:6rem;}
.coupon-index-list-left > b{color:#fff;position: absolute;left:0.6rem;top:0;height:1.2rem;line-height: 1.2rem;font-weight: normal;font-size:0.6rem;
-webkit-border-bottom-left-radius: 0.2rem;-webkit-border-bottom-right-radius: 0.2rem;border-bottom-left-radius: 0.2rem;border-bottom-right-radius: 0.2rem;
padding:0 0.5rem;}
.coupon-index-list-info{border:none;padding:0 0.5rem 0 0.8rem;margin-top:1.8rem;}
.coupon-index-list-left .fui-list:before{border:none;}
.coupon-index-list-info .fui-list-media img{width:3.5rem;height:3.5rem;border:1px solid #e6e6e6;}
.coupon-index-list-info .fui-list-inner h3{font-size:0.8rem;color:#051b28;height:1.5rem;overflow: hidden;}
.coupon-index-list-info .fui-list-inner p{font-size:0.6rem;color:#999999;height:1rem;overflow: hidden;}
.coupon-list > i{width:0.6rem;height:0.6rem;display:block;-webkit-border-radius: 1rem;border-radius: 1rem;background: #efeff4;position: absolute;
z-index: 10;}
.coupon-top-i{right:3.7rem;top:-0.3rem;}
.coupon-bot-i{right:3.7rem;bottom:-0.3rem;}
.coupon-list > span.coupon-ling{width:4rem;height:4rem;position: absolute;display: block;right:1rem;top:-0.6rem;z-index: 9;}
.coupon-list > span.coupon-ling img{width:100%;height:100%;}


.coupon-index-list-right{width:4rem;height:6rem;display: block;margin:0;color:#fff;padding:0.5rem 0 0.5rem 0;text-align: center;
-webkit-border-radius: 0.2rem;border-radius: 0.2rem;}
.coupon-list-canvas{position: relative;text-align: center;display: block;height:3.7rem;}
.coupon-list-canvas canvas{position: absolute;left:0.3rem;right:1rem;width:3.4rem;}
.coupon-list-canvas strong{display: block;}
.coupon-list-canvas p{display: block;padding-top:0.5rem;height:1.5rem;line-height: 1rem;font-size:0.7rem;overflow: hidden;}
.coupon-list-ling{display: inline-block;font-style: normal;font-size:0.6rem;height:1.4rem;line-height: 1rem;border:0.2rem solid #cccaca;
background: #fff;-webkit-border-radius: 1rem;border-radius: 1rem;color:#4dbaff;padding:0 0.2rem;}
.coupon-index-list-info .fui-list-inner p.coupon-full{height:1.5rem;}
.coupon-full span{font-size:1rem;padding:0 0.2 0 0rem 0 0;font-weight:bold;}
.coupon-time{font-size:0.6rem;}
.coupon-time strong{font-weight:normal;}



.blue .coupon-index-list-right{background: #42b5fe;}
.blue .coupon-list-ling{border:0.2rem solid #13a1fa;color:#4dbaff;}
.blue .coupon-index-list-left > b{background: #43b6ff;}
.blue .coupon-index-list-info .fui-list-inner p.coupon-full{color:#42b5fe;}

.org .coupon-index-list-right{background: #ff6c00;}
.org .coupon-list-ling{border:0.2rem solid #e65820;color:#ff7038;}
.org .coupon-index-list-left > b{background: #ff6c00;}
.org .coupon-index-list-info .fui-list-inner p.coupon-full{color:#ff6c00;}

.pink .coupon-index-list-right{background: #f4558f;}
.pink .coupon-list-ling{border:0.2rem solid #dd2c6c;color:#f44b89;}
.pink .coupon-index-list-left > b{background: #f55790;}
.pink .coupon-index-list-info .fui-list-inner p.coupon-full{color:#f55790;}

.red .coupon-index-list-right{background: #f74a4a;}
.red .coupon-list-ling{border:0.2rem solid #da363a;color:#f74a4a;}
.red .coupon-index-list-left > b{background: #f74a4a;}
.red .coupon-index-list-info .fui-list-inner p.coupon-full{color:#f74a4a;}

.disa .coupon-index-list-right{background: #bcbcbc;}
.disa .coupon-index-list-left{background: #e5e5e5;-webkit-border-radius: 0.2rem;border-radius: 0.2rem;}
.disa .coupon-list-ling{border:0.2rem solid #cccaca;color:#848484;background: #e5e5e5;}
.disa .coupon-index-list-left > b{background: #bcbcbc;}
.disa .coupon-index-list-info .fui-list-inner p.coupon-full{color:#bcbcbc;}

.coupon-detail{background: #fff;min-height: 100%;width:100%;overflow-x: hidden;}
.coupon-detail-head{text-align:center;color:#fff;position: relative;padding:1rem 0;}
.coupon-detal-bot{height:0.7rem;position: absolute;bottom:-0.35rem;left:0;overflow: hidden;}
.coupon-detal-bot i{width:0.7rem;height:0.7rem;display:inline-block;-webkit-border-radius: 50%;border-radius: 50%;background: #fff;margin:0 0.2rem;float:left;}
.coupon-detail-head-title{padding:0 0 0.5rem;border-bottom:1px dashed #fff;}
.coupon-detail-head-title h2{font-size:0.8rem;}
.coupon-detail-head-title p{font-size:0.6rem;height:1rem;}
.coupon-detail-head-info{padding:0.5rem;}
.coupon-detail-head-info span{line-height: 1.2rem;display: block;font-size:1rem;padding:0.3rem;}
.coupon-detail-head-info a{display:block;width:10rem;height:2rem;border:0.2rem solid #000;border-color: rgba(0,0,0,0.3);-webkit-border-radius: 2rem;border-radius: 2rem;margin:0 auto;
overflow: hidden;}
.coupon-detail-head-info a p{height:1.6rem;display: block;background: #fff;line-height: 1.6rem;font-size:0.7rem;}


.blue.coupon-detail-head{background: #42b5fe;}
.blue .coupon-detail-head-info a p{color:#42b5fe;}

.org.coupon-detail-head{background: #ff6c00;}
.org .coupon-detail-head-info a p{color:#ff6c00;}

.pink.coupon-detail-head{background: #f55790;}
.pink .coupon-detail-head-info a p{color:#f55790;}

.red.coupon-detail-head{background: #f74a4a;}
.red .coupon-detail-head-info a p{color:#f74a4a;}

.disa.coupon-detail-head{background: #bcbcbc;}
.disa .coupon-detail-head-info a p{color:#bcbcbc;}

.coupon-detail-content{padding:1rem;}
.coupon-detail-content-info{border:1px solid #dcdcdc;-webkit-border-radius: 0.3rem;border-radius: 0.3rem;}
.coupon-detail-content-info-top{padding:1rem 1rem 0.5rem;border-bottom:1px dashed #dfdfdf;}
.coupon-detail-content-info-bot{padding:1rem;}

.coupon-detail-content-info strong{height:1.3rem;line-height: 1rem;color:#020202;font-size:0.7rem;display: block;}
.coupon-detail-content-info p{line-height: 0.8rem;color:#8f8f8f;font-size:0.6rem;padding-bottom:0.5rem;}







