/*商品列表搜索栏样式*/
#search .form-group{
    width: 26%;
    margin: 0;
    display: inline-block;
}
#search .form-group .no_padding{
    padding: 0;
}
/*商品列表表格样式*/
#goodsList .image{
    display: inline-block;
    line-height: 60px;
    height: 60px;
    width: 60px;
    text-align: center;
    float: left;
}
#goodsList img{
    max-width: 60px;
    max-height: 60px;
}
#goodsList .text{
    float: left;
    margin-left: 5px;
    height: 60px;
    line-height: 20px;
    font-size: 13px;
    width: calc(100% - 65px);
}
#goodsList .text .shop{
    white-space: nowrap;/*一行显示*/
    overflow: hidden;/*超出部分隐藏*/
    text-overflow: ellipsis;/*用...代替超出部分*/
    max-width: 300px;
}
#goodsList .text .name{
    word-break:break-all;
    display:-webkit-box;/**对象作为伸缩盒子模型展示**/
    -webkit-box-orient:vertical;/**设置或检索伸缩盒子对象的子元素的排列方式**/
    -webkit-line-clamp:2;/**显示的行数**/
    overflow:hidden;/**隐藏超出的内容**/
}
#goodsList .isUpdateData{
    color: #33a6dc;
    cursor: pointer;
}
#goodsList .orderLink{
    color: #ff4500;
 }
/*商品分类列表表格样式*/
#categoryList .cate_information{
    text-align: left;
    padding-left: 60px!important;
}
#categoryList .image{
    display: inline-block;
}
#categoryList img{
     width: 50px;
     height: 50px;
}
#categoryList .cate_name{
    max-width: calc(100% - 50px);
    margin-left: 15px;
    line-height: 50px;
    display: inline-block;
}
#categoryList .cate_two_info{
    text-align: left;
    padding-left: 180px!important;
}
#categoryList .cate_left{
    float: left;
}
#categoryList .switchButton{
    cursor: pointer;
}
/*商品分类编辑表单样式*/
#editGoodsCate {
    display: none;
    padding-right: 4px;
    position: fixed;
    top: 15%;
    left: 30%;
    z-index: 2041;
}

