/* 修复selec multiple显示下拉箭头样式 */
select[multiple] {
    background: none !important;
}

/* 重写select2样式 */
.select2-container--default.select2-container--focus .select2-selection--multiple,
.select2-container--default.select2-container--focus .select2-selection--single {
    border-color: #ccc;
    border-color: rgba(82,168,236,.8);
    outline: 0;
    outline: thin dotted\9;
    -webkit-box-shadow: 0 0 8px rgba(82,168,236,.6);
    box-shadow: 0 0 8px rgba(82,168,236,.6);
}
.select2-container--default .select2-selection--multiple,
.select2-container--default .select2-selection--single {
    border-radius: 0;
    border: 1px solid #e7e7eb;
}
.select2-dropdown {
    border-color: #e7e7eb;
}
/* end */

table td {
    vertical-align: middle !important;
}

.sup-link {
    color: #428bca !important;
}
.sup-star {
    color: #f00b0d !important;
}
.sup-overflow {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
}
.sup-overflow-2 {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.sup-overflow-3 {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}
.ui-ios-bg {
    z-index: 9999 !important;
}
.ui-toast {
    background: rgba(255,255,255,0.6) !important;
}
.ui-toast .ui-ios-overlay {
    min-width: 10px;
    min-height: 30px;
    width: auto;
    height: auto;
}
.ui-toast .ui-ios-overlay .title {
    position: static !important;
    padding: 4px 8px;
}

/* style2 */
.treeview i.fa {
    font-size: 16px;
}
.treeview-menu i.fa {
    font-size: 12px;
}
.navbar-nav>.user-menu>.dropdown-menu>li.user-header {
    height: auto;
}
.skin-blue-light .sidebar-menu>li:hover>a, .skin-blue-light .sidebar-menu>li.active>a {
    background: #ecf0f5;
}
.module-version {
    position: fixed;
    bottom: 10px;
    left: 65px;
    color: #555;
    font-size: 12px;
}