*,:after,:before{margin:0;padding:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;outline:0!important;-webkit-tap-highlight-color:rgba(0,0,0,0);-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;-webkit-font-smoothing:antialiased}
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:after,blockquote:before,q:after,q:before{content:""}
table{border-collapse:collapse;border-spacing:0}
body{color:#3d4c63;background:#fff;font:14px/1.5 "Microsoft Yahei",sans-serif;outline:0;max-width:640px;margin:0 auto}
a{color:#333;text-decoration:none}
a:hover{color:inherit}
img{max-width:100%;border:none}
em,i{font-style:normal}
table{border-collapse:collapse;border-spacing:0}
input,select,textarea{font-size:12px;color:#444;font-family:"Microsoft Yahei",sans-serif;outline:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-o-box-sizing:border-box;box-sizing:border-box}
button,input[type=button],input[type=reset],input[type=submit],select{-webkit-appearance:none;-moz-appearance:none;appearance:none}
button,input[type=button],input[type=reset],input[type=submit]{cursor:pointer}
input[type=password]:focus,input[type=tel]:focus,input[type=text]:focus{background:#fff;border:1px solid #bbb}
.false:focus{border:2px solid #ff1531;background:#fff}
::-webkit-input-placeholder{color:#999}
::-moz-placeholder{color:#999}
:-ms-input-placeholder{color:#999}
::-ms-clear,::-ms-reveal{display:none}
.fix{*zoom:1}
.fix:after,.fix:before{display:block;content:"";height:0;clear:both}
.c{clear:both}
.col-l,.l{float:left}
.col-r,.r{float:right}
.ani{-ms-transition:.3s;-moz-transition:.3s;-webkit-transition:.3s;-o-transition:.3s;transition:.3s}
.unselect{-ms-user-select:none;-moz-user-select:none;-khtml-user-select:none;-webkit-user-select:none;-o-user-select:none;user-select:none}
.wp{padding:0 14px}
.h50{height:50px;clear:both;overflow:hidden}
.h100{height:100px;clear:both;overflow:hidden}
.header{position:fixed;left:0;top:0;right:0;height:40px;line-height:40px;padding:0 50px;background-color:#fff;z-index:100}
.header:after{content:'';display:block;clear:both;width:100%;height:0;visibility:hidden}
.header h2{font-size:14px;color:#000;text-align:center;white-space:nowrap;-ms-text-overflow:ellipsis;text-overflow:ellipsis;overflow:hidden}
.header .return{position:absolute;left:0;top:0;bottom:0;width:40px;background:url(../images/icon_return.png) center center no-repeat;-webkit-background-size:20px auto;background-size:20px auto}
::-webkit-scrollbar{height:0}
::-webkit-scrollbar-track{background:0 0}
::-webkit-scrollbar-thumb{background:0 0}
::-webkit-scrollbar-thumb:window-inactive{background:0 0}
.body1{padding-top:80px}
.link_type{position:fixed;left:0;top:40px;right:0;height:40px;padding:0 12px;background-color:#fff;white-space:nowrap;overflow-x:auto;z-index:100}
.link_type a{display:inline-block;vertical-align:middle;font-size:14px;color:#000;line-height:40px;padding:0 8.5px;-webkit-transition:.5s;-o-transition:.5s;transition:.5s}
.link_type a.on{color:#8229a6;font-weight: bold;}
.box_imgtxt{padding:30.7% 0 20px;background-repeat:no-repeat;background-position:center top;-webkit-background-size:100% auto;background-size:100% auto}
.list_product_1{background-color:#fff;border-radius:10px;overflow:hidden}
.list_product_1 li{padding:0 2px}
.list_product_1 a{display:block;padding:14px 9px;border-bottom:1px dotted #dcdcdc;overflow:hidden}
.list_product_1 .pic{float:left;width:119px;height:119px;margin-right:7px;position:relative;overflow:hidden}
.list_product_1 .pic img{display:block;width:100%;height:100%}
.list_product_1 .mask{position:absolute;left:0;top:0;width:100%;height:100%}
.list_product_1 .mask h5{position:absolute;left:0;bottom:0;right:0;font-size:12px;color:#fff;text-align:center;line-height:19px;padding:0 5px;background-color:rgba(0,0,0,.5)}
.list_product_1 .right{overflow:hidden}
.list_product_1 .tit{margin-bottom:8px;overflow:hidden}
.list_product_1 .tit i{float:left;width:14px;height:14px;margin-right:5px;background:url(../images/icon_1.png) center center no-repeat;-webkit-background-size:cover;background-size:cover}
.list_product_1 .tit h4{font-size:14px;color:#000;line-height:14px;white-space:nowrap;-ms-text-overflow:ellipsis;text-overflow:ellipsis;overflow:hidden}
.list_product_1 .txt{font-size:12px;color:#828282;line-height:15px;height:30px;margin-bottom:6px;overflow:hidden}
.list_product_1 .name{font-size:12px;color:#5a5a5a;line-height:15px;margin-bottom:6px}
.list_product_1 .bd{display:-webkit-flex;display:flex;align-items:flex-end;justify-content:space-between;overflow:hidden}
.list_product_1 .bd .coupon{max-width:30%;padding:0 7px;font-size:12px;color:#fff;line-height:19px;margin-left:2%;background-color:#8329a6}
.list_product_1 .bd .price{max-width:68%;font-size:12px;color:red;line-height:20px;overflow:hidden}
.list_product_1 .bd .price span{display:block}