{template 'header'}
<!--搜索框开始 -->
<div class="row search">
    <div class="col-xs-12 paddingnone">
        <marquee behavior="scroll" direction="left" scrollamount="3" align="middle">{php echo isset($this->module['config']['shopgonggao']) ? $this->module['config']['shopgonggao'] : '欢迎光临'}</marquee>
    </div>
</div>
<!-- 搜索框结束 -->
{loop $parent $pid $p}
<div class="row cats-title dafenlei">
    <a href="{php echo $this->createMobileUrl('goodslist',array('cate_id'=>$p['id']))}">
        <div class="col-xs-6">
            <p>{$p['name']}</p>
        </div>
        <div class="col-xs-6">
            <span class="glyphicon glyphicon-menu-right pull-right"></span>
        </div>
    </a>
</div>
<div class="row xiaofeilei">
    {if !empty($children[$pid])} {loop $children[$pid] $c}
    <div class="col-xs-4" style="padding:0 2px">
        <a href="{php echo $this->createMobileUrl('goodslist',array('cate_id'=>$c['id']))}">
            <div class="thumbnail xiaofenlei-thumbnail">
                <img src="{$_W['attachurl']}{$c['thumb']}" alt="{$c['name']}">
                <div class="caption">
                    <p class="catestitle" href="">{$c['name']}</p>
                </div>
            </div>
        </a>
    </div>
     {/loop} {else}
 <!--先屏蔽二级分类<p style="margin-left:50px">暂无二级分类</p> -->
    {/if}
</div>
{/loop}
{template 'footernav'}
{template 'footer'}
