{template 'web/common/common'}
{template 'web/order/navbar'}
<blockquote class="layui-elem-quote layui-text">
  订单过期时间设置
</blockquote>
<div class="layui-card">
    <form action="" method="post" class="layui-form">

        <div class="layui-form-item">
            <label class="layui-form-label" style="width: 150px;">订单过期时间(秒)</label>
            <div class="layui-input-block">
              <input type="text" name="expire_order_time" id="expire_order_time" value="{$data['list']['expire_order_time']}" class="layui-input">
            </div>
        </div>

          <div class="layui-form-item">
            <div class="layui-input-block">
              <button class="layui-btn layui-btn-sm" type="button" lay-filter="formSubmit" lay-submit="">保存</button>
            </div>
          </div>
    </form>
</div>
<script src="../addons/kundian_farm/resource/js/main.js" charset="utf-8"></script>
<script>
    layui.use(['form', 'layedit', 'laydate'], function(){
        var form = layui.form,layer = layui.layer;
        form.on('submit(formSubmit)',function (data) {
            var formData = data.field;
            var url = "{url 'site/entry/admin',array('m'=>'kundian_farm','op'=>'order_set','action'=>'order')}";
            var data = {
                formData: formData
            };
            postData(url, data);
            return false;
        })

    });
</script>
