{template 'public/header_edit'}

<!--标题-->
<div class="title">
    <blockquote class="layui-elem-quote">商品编辑</blockquote>
</div>
<form class="layui-form" method="post" action="{php echo $this->createWebUrl('storegoods',array('op'=>save));}">
    <input type="hidden" name="id" value="{$info['id']}">
    <div class="layui-form-item">
        <label class="layui-form-label">销售价</label>
        <div class="layui-input-block">
            <input autocomplete="off" type="text" name="shop_price" placeholder="请输入销售价" lay-verify="price" class="layui-input" value="{$info['shop_price']}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">库存</label>
        <div class="layui-input-block">
            <input autocomplete="off" type="text" name="stock" placeholder="请输入库存" lay-verify="number" class="layui-input" value="{$info['stock']}">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit="">立即提交</button>
            <button class="layui-btn layui-btn-primary" id="btnCancel">取消</button>
        </div>
    </div>
</form>
<script type="text/javascript">
    layui.use('form', function () {
        var form = layui.form;
        form.verify({
            price: function (value) {
                console.log(value);
                var patt = /^\d*\.{0,1}\d*$/;
                if (!patt.test(value)){
                    return '请输入正确的价格';
                }
            },
        });
    })
</script>

