<?xml version="1.0" encoding="utf-8"?>
<manifest>
	<application>
		<name><![CDATA[积分商城]]></name>
		<identifie><![CDATA[consumption]]></identifie>
		<version><![CDATA[1.0.0]]></version>
		<type><![CDATA[interact]]></type>
		<description><![CDATA[积分兑换商城，对接第三方，玩儿法活动模板更多]]></description>
		<author><![CDATA[微连科技]]></author>
		<url><![CDATA[http://www.weliam.cn/]]></url>
	</application>
	<setting>
		<agent embed="false" />
		<system embed="true" />
	</setting>
	<agentmenu>
	</agentmenu>
	<systemmenu>
		<menu title="商品" font="fa-inbox">
			<entry title="商品列表" ac="goods" do="goods_list" />
			<entry title="商品分类" ac="category" do="cate_list" />
			<entry title="幻灯片" ac="adv" do="adv_list" />
		</menu>
		<menu title="记录" font="fa-inbox">
			<entry title="兑换记录" ac="order" do="record" />
		</menu>
		<menu title="设置" font="fa-inbox">
			<entry title="系统设置" ac="consumptionset" do="consumptionapi" iscover="true" />
			<entry title="首页入口" ac="consumptionset" do="consumptionentry" />
		</menu>
	</systemmenu>
</manifest>