
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>我的优惠券</title>
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <meta content="telephone=no" name="format-detection"/>
    <link href="{MODULE_URL}/template/res/css/usercard.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="{MODULE_URL}/template/static/assets/js/core/jquery.3.2.1.min.js"></script>
    <script type="text/javascript" src="{MODULE_URL}/template/res/js/tab.js"></script>
    <script src="{MODULE_URL}/static/js/layer_mobile/layer.js"></script>
    <style>
        .tab-nav-item{
            width: 50%;
        }
    </style>
</head>
<body>
<section class="aui-flexView">
    <section class="aui-scrollView">
        <div class="aui-tab" data-ydui-tab>
            <ul class="tab-nav b-line">
                <li class="tab-nav-item tab-active">
                    <a href="javascript:;">
                        <span>未使用</span>
                    </a>
                </li>
                <li class="tab-nav-item">
                    <a href="javascript:;">
                        <span>已使用</span>
                    </a>
                </li>
            </ul>
            <div class="tab-panel">
                <div class="tab-panel-item tab-active">
                    {loop $list $row}
                    <a href="javascript:;" class="aui-flex">
                        <div class="aui-price-nub">
                            <div class="aui-digit">
                                <h2 style="line-height: 7rem"><em>￥</em>{$row[money]}</h2>
                            </div>
                        </div>
                        <div class="aui-flex-box">
                            <h2>{$row[name]}</h2>
                            <h3>{$row[desc]}</h3>
                            <h3 onclick="window.location.href='{php echo $this->createMobileUrl('seller_info',['id'=>$row['s_id']]);}'" style="margin-top: 1.5rem">{php echo json_decode($row[data],true)['name']}</h3>
                            <button onclick="qrcode('{$row[id]}')">去使用</button>
                        </div>
                    </a>
                    {/loop}
                </div>
                <div class="tab-panel-item tab-panel-item-clear">
                    {loop $list1 $row}
                    <a href="javascript:;" class="aui-flex">
                        <div class="aui-price-nub">
                            <div class="aui-digit">
                                <h2 style="line-height: 7rem"><em>￥</em>{$row[money]}</h2>
                            </div>

                        </div>
                        <div class="aui-flex-box">
                            <h2>{$row[name]}</h2>
                            <h3>{$row[desc]}</h3>
                            <h3 style="margin-top: 1.5rem">核销时间{php echo date('Y-m-d H:i:s',$row[hexiao_time])}</h3>
                            <button>已使用</button>
                        </div>
                    </a>
                    {/loop}
                </div>
            </div>
        </div>
    </section>
</section>

<script>
    function qrcode(id) {
        $.get('',{'id':id},function (data) {
            layer.open({
                content: '<img width="100%" src="'+data+'"/><br>向店家出示此核销码'
                ,anim:'up'
                ,skin: 'centen',
            })
        });
    }
</script>
</body>
</html>
