{template 'newheader'}
<style>
    html,body {
        color: #333;
        margin: 0;
        height: 100%;
        font-family: "Myriad Set Pro","Helvetica Neue",Helvetica,Arial,Verdana,sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-weight: normal;
    }
    body {
        background: #000000;
        color: #666;
    }
      .aui-flex {
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        align-items: center;
        padding: 15px;
        position: relative;
    }

    .aui-flex-boxx {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        flex: 1;
        min-width: 0;
        font-size: 14px;
        color: #333;
    }
    .aui-flexView {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .aui-scrollView {
        width: 100%;
        height: 100%;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        overflow-y: auto;
        overflow-x: hidden;
        -webkit-overflow-scrolling: touch;
        position: relative;
        margin-top: 0;
        padding-bottom:58px;
    }
    .aui-loan-boxx {
        width:100%;
        height:auto;
    }


    .aui-loan-boxx img{
        width:100%;
        height:auto;
        display:block;
        border:none;
    }

    .aui-loan-list{
        padding:0 15px;
    }

    .aui-loan-list .aui-flex{
        background:#fff;
        color:#383131;
        border-radius:10px;
        margin-bottom:0.8rem;
    }

    .aui-flex-loan{
        width:70px;
        height:70px;
        margin-right: 0.8rem;
    }

    .aui-flex-loan img{
        width:70px;
        height:70px;
        display:block;
        border:none;
        border-radius:20px;
    }

    .aui-flex-boxx h2{
        font-size:1rem;
        font-weight:normal;
        color:#383131;
        margin-bottom:0.3rem;
    }

    .aui-flex-boxx p{
        font-size:0.85rem;
        font-weight:normal;
        color:#ff5426;
    }

    .aui-loan-button button{
        color:#fff;
        font-size:0.85rem;
        background-image: -webkit-gradient(linear,left top,right top,from(#fc712a),to(#f84c39));
        background-image: -webkit-linear-gradient(left,#fc712a,#f84c39);
        background-image: -moz-linear-gradient(left,#fc712a,#f84c39);
        background-image: linear-gradient(to right,#fc712a,#f84c39);
        background-color: #f84c39;
        border-radius:5px;
        border:none;
        padding:0.4rem 0.8rem;
    }


    .aui-tabBar-item-active .aui-tabBar-item-text {
        color: #ffffff;
    }
</style>
<section class="aui-flexView">
    <section class="aui-scrollView">
        <div class="aui-loan-boxx">
            <img src="{MODULE_URL}/template/static/new/images/zengzhiad.png" alt="">
        </div>
        <div class="aui-loan-list">
            {if $setting['fw_set']=='1'}
            <a href="javascript:;" class="aui-flex">
                <div class="aui-flex-loan">
                    <img src="{MODULE_URL}/template/static/new/images/timg.jpg" alt="">
                </div>
                <div class="aui-flex-boxx">
                    <h2>违章推送</h2>
                    <p>{if $setting['ts_tips']}{$setting['ts_tips']}{else}每天10点，定时推送{/if}</p>
                    <p>￥{$setting['shop']}/月</p>
                </div>
                <div class="aui-loan-button">
                    <button onclick="window.location.href='{php echo $this->createMobileUrl('weizhang',array('action'=>'carlist'))}'">即刻开通</button>
                </div>
            </a>
            {/if}
            {if $web_setting['yinsi_type']=='0'}
            <a href="javascript:;" class="aui-flex">
                <div class="aui-flex-loan">
                    <img src="{MODULE_URL}/static/img/yinsi.png" alt="">
                </div>
                <div class="aui-flex-boxx">
                    <h2>隐私通话</h2>
                    <p>拒绝骚扰，保护隐私</p>

                </div>
                <div class="aui-loan-button">
                    <button onclick="window.location.href='{php echo $this->createMobileUrl('yinsi')}'">即刻开通</button>
                </div>
            </a>
            {/if}
            {loop $data $json}
            {php $row=json_decode($json[data],true)}
            <a href="{$row[link]}" class="aui-flex">
                <div class="aui-flex-loan">
                    <img src="{php echo $_W[attachurl];}{$row[img]}" alt="">
                </div>
                <div class="aui-flex-boxx">
                    <h2>{$row[title]}</h2>
                    <p>{$row[desc]}</p>
                </div>
                <div class="aui-loan-button">
                    <button onclick="window.location.href='{php echo $this->createMobileUrl('weizhang',array('action'=>'carlist'))}'">即刻前往</button>
                </div>
            </a>
            {/loop}
            <a href="javascript:;" class="aui-flex">
                <div class="aui-flex-loan">

                </div>
                <div class="aui-flex-boxx">
                    <h2>更多车主增值服务陆续增加中...</h2>
                </div>

            </a>
        </div>
    </section>

</section>
{template 'footer'}