<form action="{php echo web_url('card/qr/cardmode')}" method="post" class="form-horizontal form-validate">
	<div class="modal-dialog" style="z-index: 50;">
		<div class="modal-content">
			<div class="modal-header">
				<button data-dismiss="modal" class="close" type="button">×</button>
				<h4 class="modal-title">编辑挪车卡</h4>
			</div>
			<div class="modal-body" style="margin-left: 100px;">
				{if $allagent}
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">挪车卡所属代理</label>
					<div class="col-sm-7 col-xs-12">
						<select name="caraid" class="form-control chosen-select">
							<option value="">系统管理员</option>
							{loop $allagent $rowa}
					            <option value="{$rowa['id']}" {if $qrcode['aid'] == $rowa['id']}selected="selected"{/if}>{$rowa['agentname']}</option>
							{/loop}
				        </select>
					</div>
				</div>
				{/if}
				{if $remark_arr}
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">挪车卡所属商家</label>
					<div class="col-sm-7 col-xs-12">
						<select name="storeid" class="form-control chosen-select" id="s">
							<option value="">不选择所属商家</option>
							{loop $remark_arr $row}
					            <option value="{$row['id']}" {if $qrcode['sid'] == $row['id']}selected="selected"{/if}>{$row['storename']}</option>
							{/loop}
				        </select>
					</div>
				</div>
				{/if}
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">修改备注</label>
					<div class="col-sm-7 col-xs-12">
						<div class="input-group" style="width: 100%;">
							<input type="text" name="remark" value="{$qrcode['remark']}" class="form-control"/>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">更新范围</label>
					<div class="col-sm-7 col-xs-12">
						<label class="radio-inline">
							<input type="radio" value="0" name="range" checked="checked"> 仅此条
						</label>
						<label class="radio-inline">
							<input type="radio" value="1" name="range" > 同备注
						</label>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<input type="hidden" name="id" id="id" value="{$qrcode['id']}" />
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				<button type="submit" class="btn btn-primary">提交更改</button>
			</div>
		</div>
	</div>
</form>
