{php include wl_template('common/header');}
<ul class="nav nav-tabs">
	<li class="active"><a href="{php echo web_url('card/qr/remark');}">修改二维码备注</a></li>
</ul>
<div class="clearfix">
	<form class="form-horizontal form" action="" method="post" id="form1">
		<div class="panel panel-default">
			<div class="panel-heading">
				修改二维码备注
			</div>
			<div class="panel-body">
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">挪车卡范围</label>
					<div class="col-sm-5 col-xs-12">
						<input type="text" class="form-control" placeholder="" name="qr_num" value="" />
						<span class="help-block">仅需输入挪车卡后几位即可，参考形式：100,400</span>
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">新的场景备注</label>
					<div class="col-sm-5 col-xs-12">
						<input type="text" class="form-control" placeholder="" name="remark" value="" />
						<span class="help-block">用于区分二维码不同场景</span>
					</div>
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-12">
				<button type="submit" class="btn btn-primary col-lg-1" name="submit" value="提交">提交</button>
				<input type="hidden" name="token" value="{$_W['token']}" />
			</div>
		</div>
	</form>
</div>
<script type="text/javascript">
	$("#form1").submit(function(){
		if($(":text[name='remark']").val() == '') {
			layer.alert('请填写场景备注！', {icon: 5});
			return false;
		}
		if($(":text[name='qr_num']").val() == '') {
			layer.alert('请填写挪车卡范围', {icon: 5});
			return false;
		}
	});
</script>
{php include wl_template('common/footer');}