{php include wl_template('common/header');}
<div class="page-group" >
    <div class="page page-current">
    	<header class="bar bar-nav">
		    <a class="button button-link button-nav pull-left back" href="{php echo app_url('store/supervise/platform')}"><span class="icon icon-left"></span>返回</a>
		    <a class="button button-link button-nav pull-right" href="{php echo app_url('store/supervise/admin',array('op'=>'add'))}">添加</a>
		    <h1 class="title">管理员列表</h1>
		</header>
		<div class="content native-scroll">
			<div class="weui-cells__title">店铺超级管理员</div>
			<div class="list-block media-list">
		      <ul>
		        <li>
		          <a class="item-content item-link" href="{php echo app_url('store/supervise/admin',array('op'=>'add','id'=>$admin['id']))}">
		            <div class="item-media"><img src="{$admin['member']['avatar']}" width="44"></div>
		            <div class="item-inner">
		              <div class="item-title-row">
		                <div class="item-title">{$admin['name']}</div>
		              </div>
		              <div class="item-subtitle">{$admin['mobile']}</div>
		            </div>
		          </a>
		        </li>
		      </ul>
		    </div>
		    {if $gladmin}
		    <div class="weui-cells__title">店铺管理员</div>
			<div class="list-block media-list">
		      <ul>
		      	{loop $gladmin $guanli}
		        <li>
		          <a class="item-content item-link" href="{php echo app_url('store/supervise/admin',array('op'=>'add','id'=>$guanli['id']))}">
		            <div class="item-media"><img src="{$guanli['member']['avatar']}" width="44"></div>
		            <div class="item-inner">
		              <div class="item-title-row">
		                <div class="item-title">{$guanli['name']}</div>
		                <div class="item-after"></div>
		              </div>
		              <div class="item-subtitle">{$guanli['mobile']}</div>
		            </div>
		          </a>
		        </li>
		        {/loop}
		      </ul>
		    </div>
		    {/if}
		    {if $hxadmin}
		    <div class="weui-cells__title">店铺核销员</div>
			<div class="list-block media-list">
		      <ul>
		      	{loop $hxadmin $hexiao}
		        <li>
		          <a class="item-content item-link" href="{php echo app_url('store/supervise/admin',array('op'=>'add','id'=>$hexiao['id']))}">
		            <div class="item-media"><img src="{$hexiao['member']['avatar']}" width="44"></div>
		            <div class="item-inner">
		              <div class="item-title-row">
		                <div class="item-title">{$hexiao['name']}</div>
		                <div class="item-after"></div>
		              </div>
		              <div class="item-subtitle">{$hexiao['mobile']}</div>
		            </div>
		          </a>
		        </li>
		        {/loop}
		      </ul>
		    </div>
		    {/if}
		</div>
	</div>
</div>
{php include wl_template('common/footer');}