{php include wl_template('common/header');}
<style type="text/css">
	.weui-uploader__file img{height:100%;width: 100%;}
</style>
<div class="page-group" >
    <div class="page page-current">
    	<header class="bar bar-nav">
		    <a class="button button-link button-nav pull-left back" href="{php echo app_url('store/supervise/platform')}"><span class="icon icon-left"></span>返回</a>
		    <h1 class="title">创建分类</h1>
		</header>
		<form action="{php echo app_url('store/supervise/submitInformation')}" enctype="multipart/form-data" id="form" method="post">
		<div class="content native-scroll" style="top: 2.2rem;">
		    <div class="list-block">
		        <ul>
		            <li>
		                <div class="item-content">
		                    <div class="item-inner">
		                        <div class="item-title label">分类名称</div>
		                        <div class="item-input">
		                            <input type="text" placeholder="请输入分类名称" name="merchant[storename]" value="{$store['storename']}"></div>
		                    </div>
		                </div>
		            </li>
		        </ul>
		    <input type="hidden" name="token" value="{$_W['token']}" value="" />
		    <div class="weui-btn-area">
	            <a class="weui-btn weui-btn_primary external" href="javascript:validate()" id="showTooltips" onclick="fun();">确定</a>
	        </div>
		</div>
		</form>
	</div>
</div>
{php include wl_template('common/footer');}