{php include wl_template('common/header');}
<div class="page-group" >
	<div class="page page-current">
		<header class="bar bar-nav">
		    <a class="button button-link button-nav pull-left back" href="{php echo app_url('store/supervise/platform')}">
		      <span class="icon icon-left"></span>
		      返回
		    </a>
		    <h1 class="title">仓库列表</h1>
		    <a href="{php echo app_url('store/supervise/createGoodsStep2')}" class="button button-link button-nav pull-right">添加</a>
		</header>
		<div class="content">
		  	{if $goods}
			<!--仓库列表-->
		  	<div class="list-block media-list" style="margin-top: .5rem;">
			    <ul>
			    	{loop $goods $item}
			      	<li>
				        <a href="{$item['a']}" class="item-link item-content">
				          <div class="item-media"><img src="{php echo tomedia($item[thumb])}" style='width: 4rem;'></div>
				          <div class="item-inner">
				            <div class="item-title-row">
				            	<div class="item-title">{$item[name]}</div>
				            	<div class="item-after"></div>
				            </div>
				            <div class="item-subtitle">￥ {$item[oldprice]}</div>
				          </div>
				        </a>
			      	</li>
			      	{/loop}
			    </ul>
		  	</div>
		  	<!--仓库列表-->
		  	{else}
		  	<div class="common-no-con"><img src="{URL_APP_IMAGE}order_no_con.png" alt=""><p>没有商品信息</p></div>
		  	{/if}
	  </div>
	</div>
</div>
{php include wl_template('common/footer');}