{php include wl_template('common/header');}
<style type="text/css">
	.weui-uploader__file img{height:100%;width: 100%;}
	#container{height: 100%;width: 100%;bottom: 2.3rem;}
	#openlocation{line-height: 2;}
	#openlocation .icon-location{line-height: 1.8;}
	.mast{color:orangered;}
</style>
<div class="page-group" >
    <div class="page page-current">
    	<header class="bar bar-nav newheader">
		    <a class="button button-link button-nav pull-left back" href="{$backurl}"><span class="icon icon-left"></span>返回</a>
		    <h1 class="title">{if $applyflag}商户入驻{else}店铺信息{/if}</h1>
		    <a class="button button-link button-nav pull-right" href="{php echo app_url('dashboard/home')}">首页</a>
		</header>
		<form action="{php echo app_url('store/supervise/submitInformation')}" enctype="multipart/form-data" id="form" method="post">
		<input name="storeid" value="{$_GPC['storeid']}" type="hidden" />
		<div class="content native-scroll" style="top: 2.2rem;">
		    <div class="weui-cells__title">基本信息</div>
		    <div class="list-block">
		        <ul>
		            <li>
		                <div class="item-content">
		                    <div class="item-inner">
		                        <div class="item-title label">店铺名称<span class="mast">*</span></div>
		                        <div class="item-input">
		                            <input type="text" placeholder="请输入店铺名称" id="storename" name="merchant[storename]" value="{$store['storename']}"></div>
		                    </div>
		                </div>
		            </li>
		            <li>
		                <div class="item-content">
		                    <div class="item-inner">
		                        <div class="item-title label"  {if $_W['wlsetting']['sms']['note_haiwai'] == 1} style="width: 23%;" {/if} >店铺电话<span class="mast">*</span></div>
		                        {if $_W['wlsetting']['sms']['note_haiwai'] == 1}
			                	<select class="weui-select" name="store_quhao" id="storequhao" style="width: 25%;line-height: 34px;" >
			                		{php $allquhao = explode(",", $_W['wlsetting']['sms']['note_quhao']);}
			                		{loop $allquhao $quhao}
			                		{if !empty($quhao)}
			                        <option value="{$quhao}"  {if $store['store_quhao'] == $quhao} selected="selected" {/if} >+{$quhao}</option>
			                        {/if}
			                        {/loop}
			                    </select>
			                    {/if}
		                        <div class="item-input">
		                            <input type="tel" placeholder="请输入店铺电话" id="tel2" name="merchant[mobile]" value="{$store['mobile']}"></div>
		                    </div>
		                </div>
		            </li>
		            <li>
			            <div class="item-content">
			              <div class="item-inner">
			                <div class="item-title label">行业分类</div>
			                <div class="item-input">
			                  <input type="text" placeholder="" id="cate-picker" name="cate-picker" value="" readonly="">
			                </div>
			              </div>
			            </div>
			        </li>
			        <li>
			            <div class="item-content">
			              <div class="item-inner">
			                <div class="item-title label">营业时间</div>
			                <div class="item-input">
			                  <input type="text" id="time-picker" name="time-picker" value="{$storehours}" readonly="">
			                </div>
			              </div>
			            </div>
			        </li>
		        </ul>
		    </div>
		    <div class="weui-cells__title">区域地址</div>
		    <div class="list-block">
		        <ul>
		            <li>
			            <div class="item-content">
			              <div class="item-inner">
			                <div class="item-title label">所属区域</div>
			                <div class="item-input">
			                  <input type="text" placeholder="" id="city-picker" name="city-picker" value="{$storeaddr}" readonly="">
			                </div>
			              </div>
			            </div>
			        </li>
		            <li class="align-top">
		                <div class="item-content">
		                    <div class="item-inner">
		                        <div class="item-title label">店铺地址</div>
		                        <div class="item-input">
		                            <input type="text" placeholder="请输入店铺地址" name="merchant[address]" value="{$store['address']}" id="storeaddr">
		                        </div>
		                        <div class="item-after c-red" id="openlocation"><span class="icon iconfont icon-location"></span>  定位</div>
		                    </div>
		                </div>
		            </li>
		        </ul>
		    </div>
		    <div class="weui-cells__title">店铺图片</div>
		    <div class="list-block">
		        <ul>
		            <li>
		            	<div class="weui-cell">
			                <div class="weui-cell__bd">
			                    <div class="weui-uploader">
			                        <div class="weui-uploader__hd">
			                            <p class="weui-uploader__title">店铺图标(200X200)</p>
			                            <div class="weui-uploader__info"></div>
			                        </div>
			                        <div class="weui-uploader__bd">
			                            <ul class="weui-uploader__files upload_images_views uploadImg_createImgView" style="margin-left: -45px;">
			                            	{if !empty($store['logo'])}
			                            	<li class="weui-uploader__file">
			                            		<img src="{php echo tomedia($store['logo'])}">
			                            		<input type="hidden" name="images[]"  value="{$store['logo']}" />
			                            	</li>
			                            	{/if}
			                            </ul>
                                        <span class="uploadImg_maxNumber" maxlength="1"  name="images[]"><!--图片上传数量限制 预览图片建立class:uploadImg_createImgView--></span>
                                        {php include wl_template('common/img_upload');}
			                        </div>
			                    </div>
			                </div>
			            </div>
		            </li>
		            <li>
		            	<div class="weui-cell">
			                <div class="weui-cell__bd">
			                    <div class="weui-uploader">
			                        <div class="weui-uploader__hd">
			                            <p class="weui-uploader__title">店铺幻灯片(720X300)</p>
			                            <div class="weui-uploader__info"></div>
			                        </div>
			                        <div class="weui-uploader__bd">
			                            <ul class="weui-uploader__files upload_images_views uploadImg_createImgView" style="margin-left: -45px;">
			                            	{if !empty($store['adv'])}
			                            	{loop $store['adv'] $adv}
			                            	<li class="weui-uploader__file">
			                            		<img src="{php echo tomedia($adv)}">
			                            		<input type="hidden" name="advimages[]"  value="{$adv}" />
			                            	</li>
			                            	{/loop}
			                            	{/if}
			                            </ul>
                                        <span class="uploadImg_maxNumber" maxlength="4"  name="advimages[]"><!--图片上传数量限制 预览图片建立class:uploadImg_createImgView--></span>
                                        {php include wl_template('common/img_upload');}
			                        </div>
			                    </div>
			                </div>
			            </div>
		            </li>
		            <li>
		            	<div class="weui-cell">
			                <div class="weui-cell__bd">
			                    <div class="weui-uploader">
			                        <div class="weui-uploader__hd">
			                            <p class="weui-uploader__title">店铺相册(320X320)</p>
			                            <div class="weui-uploader__info"></div>
			                        </div>
			                        <div class="weui-uploader__bd">
			                            <ul class="weui-uploader__files upload_images_views uploadImg_createImgView" style="margin-left: -45px;">
			                            	{if !empty($store['album'])}
			                            	{loop $store['album'] $album}
			                            	<li class="weui-uploader__file">
			                            		<img src="{php echo tomedia($album)}">
			                            		<input type="hidden" name="albumimages[]"  value="{$album}" />
			                            	</li>
			                            	{/loop}
			                            	{/if}
			                            </ul>
                                        <span class="uploadImg_maxNumber" maxlength="9" name="albumimages[]"><!--图片上传数量限制 预览图片建立class:uploadImg_createImgView--></span>
                                        {php include wl_template('common/img_upload');}
			                        </div>
			                    </div>
			                </div>
			            </div>
		            </li>
		            <li>
		            	<div class="weui-cell">
			                <div class="weui-cell__bd">
			                    <div class="weui-uploader">
			                        <div class="weui-uploader__hd">
			                            <p class="weui-uploader__title">商家微信(上传商家微信二维码)</p>
			                            <div class="weui-uploader__info"></div>
			                        </div>
			                        <div class="weui-uploader__bd">
			                            <ul class="weui-uploader__files upload_images_views uploadImg_createImgView" style="margin-left: -45px;">
			                            	{if !empty($store['qrcode'])}
			                            	<li class="weui-uploader__file">
			                            		<img src="{php echo tomedia($store['qrcode'])}">
			                            		<input type="hidden" name="qrcode[]"  value="{$store['qrcode']}" />
			                            	</li>
			                            	{/if}
			                            </ul>
                                        <span class="uploadImg_maxNumber" maxlength="1" name="qrcode[]"><!--图片上传数量限制 预览图片建立class:uploadImg_createImgView--></span>
                                        {php include wl_template('common/img_upload');}
			                        </div>
			                    </div>
			                </div>
			            </div>
		            </li>
		        </ul>
		    </div>
		    <div class="weui-cells__title">其他信息</div>
		    <div class="list-block">
		    	 <ul>
					 {if empty($meroof['storeedit'])}
		            <li>
		                <div class="item-content">
		                    <div class="item-inner">
						    	<div class="item-input" >
				              		<textarea name="merchant[introduction]" placeholder="请输入店铺介绍文字">{$store['introduction']}</textarea>
				            	</div>
				            </div>
		                </div>
		            </li>
		            <li>
		            	<div class="weui-cell">
			                <div class="weui-cell__bd">
			                    <div class="weui-uploader">
			                        <div class="weui-uploader__bd">
			                            <ul class="weui-uploader__files upload_images_views uploadImg_createImgView" style="margin-left: -45px;">
			                            	
			                            </ul>
                                        <span class="uploadImg_maxNumber" maxlength="9" name="thumbimages[]"><!--图片上传数量限制 预览图片建立class:uploadImg_createImgView--></span>
                                        {php include wl_template('common/img_upload');}
			                        </div>
			                    </div>
			                </div>
			            </div>
		            </li>
					 {/if}
		            {if !$applyflag}
		            <li>
		                <div class="item-content">
		                    <div class="item-inner">
		                        <div class="item-title label">核销密码</div>
		                        <div class="item-input">
		                            <input type="text" id="verkey" placeholder="3-16位,由数字与字母组成" name="merchant[verkey]" value="{$store['verkey']}">
		                        </div>
		                    </div>
		                </div>
		            </li>
		            {if in_array('panorama',$authority)}
		            <li>
		                <div class="item-content">
		                    <div class="item-inner">
		                        <div class="item-title label">店铺全景</div>
		                        <div class="item-input">
		                            <input type="text" placeholder="请输入店铺全景地址" name="merchant[panorama]" value="{$store['panorama']}">
		                        </div>
		                    </div>
		                </div>
		            </li>
		            <li>
		                <div class="item-content">
		                    <div class="item-inner">
		                        <div class="item-title label">店铺视频</div>
		                        <div class="item-input">
		                            <input type="text" placeholder="请输入店铺视频地址" name="merchant[videourl]" value="{$store['videourl']}">
		                        </div>
		                    </div>
		                </div>
		            </li>
		            {/if}
		            {/if}
		        </ul>
		    </div>
		    <div class="weui-cells__title">店主信息</div>
		    <div class="list-block">
		        <ul>
		            <li>
		                <div class="item-content">
		                    <div class="item-inner">
		                        <div class="item-title label">联系人<span class="mast">*</span></div>
		                        <div class="item-input">
		                            <input type="text" placeholder="请输入店主姓名" class="" id="realname" name="merchant[realname]" value="{$store['realname']}"></div>
		                    </div>
		                </div>
		            </li>
		            <li>
		                <div class="item-content">
		                    <div class="item-inner">
		                        <div class="item-title label" {if $_W['wlsetting']['sms']['note_haiwai'] == 1} style="width: 15%;" {/if} >电话<span class="mast">*</span></div>
		                        {if $_W['wlsetting']['sms']['note_haiwai'] == 1}
			                	<select class="weui-select" name="note_quhao" id="note_quhao" style="width: 30%;line-height: 34px;" >
			                		{php $allquhao = explode(",", $_W['wlsetting']['sms']['note_quhao']);}
			                		{loop $allquhao $quhao}
			                		{if !empty($quhao)}
			                        <option value="{$quhao}" {if $store['note_quhao'] == $quhao} selected="selected" {/if}>+{$quhao}</option>
			                        {/if}
			                        {/loop}
			                    </select>
			                    {/if}
		                        <div class="item-input">
		                            <input type="tel" placeholder="请输入店主电话" class="" id="tel" name="merchant[tel]" value="{$store['tel']}"></div>
		                    </div>
		                </div>
		            </li>
<!--					<li>-->
<!--						<div class="item-content">-->
<!--							<div class="item-inner">-->
<!--								<div class="item-title label">业务员mid</div>-->
<!--								<div class="item-input">-->
<!--									<input type="text" placeholder="若有业务员,请将MID填此处" class="" id="salesmid" name="merchant[salesmid]" value="{$store['salesmid']}"></div>-->
<!--							</div>-->
<!--						</div>-->
<!--					</li>-->
					<li>
						<div class="weui-cell">
							<div class="weui-cell__bd">
								<div class="weui-uploader">
									<div class="weui-uploader__hd">
										<p class="weui-uploader__title">审核资料(请根据要求上传商户资料)</p>
										<div class="weui-uploader__info"></div>
									</div>
									<div class="weui-uploader__bd">
										<ul class="weui-uploader__files upload_images_views uploadImg_createImgView" style="margin-left: -45px;">
											{if !empty($store['examineimg'])}
											{loop $store['examineimg'] $eximg}
											<li class="weui-uploader__file">
												<img src="{php echo tomedia($eximg)}">
												<input type="hidden" name="examineimgs[]"  value="{$eximg}" />
											</li>
											{/loop}
											{/if}
										</ul>
										<span class="uploadImg_maxNumber" maxlength="9" name="examineimgs[]"><!--图片上传数量限制 预览图片建立class:uploadImg_createImgView--></span>
										{php include wl_template('common/img_upload');}
									</div>
								</div>
							</div>
						</div>
					</li>

		        </ul>
		    </div>
		    {if $set['chargestatus'] && !$store['status']}
		    <div class="weui-cells__title">入驻服务 <span class="external open-popup c-red" data-popup=".popup-about2" style="float: right;font-size: 12px;display: inline-block;padding-top: 2px;">服务说明</span></div>
		    <div class="list-block">
		    <ul>
		    	{loop $chargetypes $k $types}	
				  	<li>
				    	<label class="label-checkbox item-content">
				      		<input type="radio" name="typeid" value="{$types['id']}" {if $k == 0} checked="checked" {/if}>
				      		<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
				      		<div class="item-inner">
				        		<div class="item-title-row">
				          			<div class="item-title">{$types['name']}({$types['days']}天/￥{$types['price']})</div>
				        		</div>
				      		</div>
				    </label>
				  </li>
			  	{/loop}
			</ul>
		    </div>
		    {/if}
		    <input type="hidden" name="token" value="{$_W['token']}" value="" />
		    {if !empty($_GPC['cardsn']) && !empty($_GPC['salt'])}
		    <input type="hidden" name="cardsn" value="{$_GPC['cardsn']}"/>
		    <input type="hidden" name="salt" value="{$_GPC['salt']}"/>
		    {/if}
		    <input type="hidden" name="lng" value="{$store['location']['lng']}" id="storelng" />
		    <input type="hidden" name="lat" value="{$store['location']['lat']}" id="storelat" />
		    <input type="hidden" name="applyflag" value="{$applyflag}" />
		    {if !$store['status']}
		    <label for="weuiAgree" class="weui-agree">
	            <input id="weuiAgree" type="checkbox" checked="checked" class="weui-agree__checkbox">
	            <span class="weui-agree__text" >
	                阅读并同意<a href="javascript:;" class="external open-popup" data-popup=".popup-about3">《商家入驻相关条款》</a>
	            </span>
	        </label>
		    {/if}
		    {if $appstoreid}
		    <div class="weui-btn-area">
	            <a class="weui-btn weui-btn_primary external" href="{php echo app_url('store/storeManage/adminpage',array('appstoreid'=>$appstoreid))}" id="showTooltips" >返回</a>
	        </div>
		    {else}
		    <div class="fix-bottom" style="position:initial">
		        <a class="weui-btn weui-btn_primary external bg-red" href="javascript:;" id="showTooltips" onclick="fun();">提交</a>
		    </div>
		    {/if}
		</div>
		</form>
	</div>
</div>
<div class="popup popup-about3">
  <header class="bar bar-nav">
    <a class="button button-link button-nav pull-right close-popup">
      关闭
    </a>
    <h1 class="title">商家入驻相关条款</h1>
  </header>
  <div class="content" style="padding-left: 20px;">
    <div class="content-inner">
      <div class="content-block">
        {$set['detail']}
      </div>
    </div>
  </div>
</div>
<div class="popup popup-about">
  	<div class="content">
	    <div class="content-inner">
		    <div id="container" tabindex="0" style="margin-bottom: 55px;"></div>
		    <div class="fix-bottom">
				<div class="row">
					<div class="col-50">
						<a href="javascript:;" class="prompt-ok button button-big button-fill button-info close-popup">关闭</a>
					</div>
					<div class="col-50">
						<a href="javascript:;" class="prompt-ok button button-big button-fill button-success confirm-popup">确定</a>
					</div>
				</div>
			</div>
	    </div>
  	</div>
</div>
<div class="popup popup-about2">
  	<header class="bar bar-nav">
  		<a class="button button-link button-nav pull-right close-popup">
	      	关闭
	    </a>
    	<h1 class="title">服务说明</h1>
  	</header>
  	<div class="content">
	    <div class="content-inner" style="padding: .5rem;">
		   	{$set['description']}
	    </div>
  	</div>
</div>
<style>
	 #tip {
            background-color: #ddf;
            color: #333;
            border: 1px solid silver;
            box-shadow: 3px 4px 3px 0px silver;
            position: absolute;
            top: 10px;
            right: 10px;
            border-radius: 5px;
            overflow: hidden;
            line-height: 20px;
        }
        #tip input[type="text"] {
            height: 25px;
            border: 0;
            padding-left: 5px;
            width: 280px;
            border-radius: 3px;
            outline: none;
        }
</style>
<script type='text/javascript' src='{URL_APP_RESOURCE}components/light/light7-city-picker.js' charset='utf-8'></script>
<script src="https://map.qq.com/api/js?v=2.exp&key={php echo $_W['wlsetting']['api']['txmapkey'] ? $_W['wlsetting']['api']['txmapkey']:'PSFBZ-MH2WW-QOYRR-O6DJA-NCXQT-WAFQL';}" type="text/javascript"></script>
<script type="text/javascript" src="https://3gimg.qq.com/lightmap/components/geolocation/geolocation.min.js"></script>
<script type="text/javascript">
    $(function () {
        $("#city-picker").cityPicker({
            toolbarTemplate: '<header class="bar bar-nav">\
	    <button class="button button-link pull-right close-picker">确定</button>\
	    <h1 class="title">选择所属区域</h1>\
	    </header>'
        },{php echo json_encode($allArea);});

        $("#cate-picker").cityPicker({
            toolbarTemplate: '<header class="bar bar-nav">\
	    <button class="button button-link pull-right close-picker">确定</button>\
	    <h1 class="title">选择行业分类</h1>\
	    </header>'
        },{php echo json_encode($parent);});

        $('#cate-picker').val("{$cateval}");

        $("#time-picker").picker({
                toolbarTemplate: '<header class="bar bar-nav">\
	    <button class="button button-link pull-right close-picker" id="businessHours">确定</button>\
	    <h1 class="title">选择营业时间段</h1>\
	    </header>',
                formatValue: function(a,b) {
                    return b[0] + ":" + b[1] + " — " + b[2] + ":" + b[3]
                },
                cols: [
                    {
                        textAlign: 'center',
                        values: ['00', '01', '02', '03', '04', '05', '06', '07','08','09','10','11','12','13','14','15','16','17','18','19','20','21','22','23']
                    },
                    {
                        textAlign: 'center',
                        values: ['00', '05','10','15','20','25','30','35','40','45','50','55']
                    },
                    {
                        textAlign: 'center',
                        values: ['00', '01', '02', '03', '04', '05', '06', '07','08','09','10','11','12','13','14','15','16','17','18','19','20','21','22','23']
                    },
                    {
                        textAlign: 'center',
                        values: ['00', '05','10','15','20','25','30','35','40','45','50','55']
                    },
                ]
            });
        //点击流程，通过自动点击，解决第一次选择营业时间无效的bug
        $("#time-picker").click();
        $("#businessHours").click();
    });
function fun(){
	var storename = $("#storename").val();
		if(storename == ''){
			$.toast('请填写店铺名称');
			return false;
		}
		var contacts = $("#realname").val();
		if(contacts == ''){
			$.toast('请填写联系人');
			return false;
		}
	
	var tel = $('#tel').val();
	var tel2 = $('#tel2').val();
	
	{if $_W['wlsetting']['sms']['note_haiwai'] != 1}
	var reg = /^0?1[3|4|5|6|7|8|9][0-9]\d{8}$/;
		if (!reg.test(tel)) {
		  	$.toast('请填写正确的店主电话');
			return false;
		}
	{/if}	
		
//	var mobile = /^((0\d{2,3})-)(\d{7,8})(-(\d{3,}))?$/;
//		if (!reg.test(tel2) && !mobile.test(tel2)){
//		  	$.toast('请填写正确的店铺电话');
//			return false;
//		}
	{if !$applyflag}
	var verkey = $('#verkey').val();
	{/if}
	{if !$store['status']}
	if(!$('#weuiAgree').is(":checked")){
			$.toast('提交前请先阅读并同意服务条款');
			return false;
		}	
	{/if}
	$('#form').submit()
}
common.uploadImageByWxJs(1,'.storelogo');
common.uploadImageByWxJs(1,'.qrthumb','qrcode[]');
common.uploadImageByWxJs(4,'.storeadv','advimages[]');
common.uploadImageByWxJs(9,'.storealbum','albumimages[]');
common.uploadImageByWxJs(9,'.storethumb','thumbimages[]');
common.uploadImageByWxJs(9,'.examineimg','examineimgs[]');
common.deleteImagesInWxJs();

function setForm(lat, lng, deft){
    $.showIndicator();
    $.post(common.createUrl('area/region/get_geocoder', {'lat':lat,'lng':lng}), function(data) {
        $.hideIndicator();
        if (data.status == 0) {
            var _actions = [];
            OBJ = data.result.pois;
            if(deft){
                setFormField(OBJ[0].address, lat, lng);
                return true;
            }
            for(var j in OBJ){
                _actions.push({
                    text: OBJ[j].address,
                    onClick: function() {  setFormField(OBJ[j].address, lat, lng);$.closeModal(); }
                });
            }
            var buttons2 = [{text: '取消'}];
            $.actions([_actions, buttons2]);
        }
    }, 'json');
}


var chooseMapRes = [], OBJ = {};

function setFormField(address, lat, lng){
    $("input[name='merchant[address]']").val(address);
    $("input[name='lat']").val(lat);
    $("input[name='lng']").val(lng);
}

function setPoint(position){
    if(typeof position.type != 'undefined'){
        if(position.type == 'ip'){
            if(!IGNORETIP){
                chooseMap(position);
            }
            return false;
        }
    }
    setForm((position.latitude||position.lat), (position.longitude||position.lng), 1);
}

function chooseMap(position) {
    var center = new qq.maps.LatLng((position.latitude||position.lat), (position.longitude||position.lng));
    var mapinit = function () {
        geocoder = new qq.maps.Geocoder({
            complete: function (result) {
                chooseMapRes = result;
            }
        });
        geocoder.getAddress(center);
        map = new qq.maps.Map(document.getElementById("container"), {center: center, zoom: 13});
        marker = new qq.maps.Marker({
            position: center, map: map
        });
        qq.maps.event.addListener(map, 'click', function (event) {
            var tmpcenter = new qq.maps.LatLng(event.latLng.getLat(), event.latLng.getLng());
            marker.setPosition(tmpcenter);
            geocoder.getAddress(tmpcenter);
        });
        $.popup('.popup-about');
    };
    mapinit();
}

var IGNORETIP = 0;
$('#openlocation').on('click', function(){
    IGNORETIP = 0;
    var buttons1 = [];
    buttons1.push({text: "使用当前位置", onClick: function() { common.Geolocation(setPoint); } });
    buttons1.push({text: "地图选点", onClick: function() { common.Geolocation(chooseMap); } });
    
	var buttons2 = [{text: '取消'}];
  	var groups = [buttons1, buttons2];
    $.actions(groups);
});

{if $applyflag}
if($('#openlocation').length>0){
    setTimeout(function () {
        IGNORETIP = 1;
        common.Geolocation(setPoint,function () {
			alert('定位失败');
        });
        if(typeof wx != 'undefined'){
            wx.ready(function () {
                common.Geolocation(setPoint);
            });
        }
    }, 300);
}
{/if}

$('.confirm-popup').on('click', function(){
    setForm(chooseMapRes.detail.location.lat, chooseMapRes.detail.location.lng, 0);
});
</script>
{php include wl_template('common/footer');}