{php include wl_template('common/header');}
<div class="page-group" >
    <div class="page page-current">
    	<header class="bar bar-nav">
		    <a class="button button-link button-nav pull-left back" href="{php echo app_url('store/supervise/shopset')}"><span class="icon icon-left"></span>返回</a>
		    <h1 class="title">店铺续费</h1>
		</header>
		<div class="content native-scroll" style="top: 2.2rem;padding-bottom: 70px;">
			 <div class="list-block">
			    <ul>
			    	{loop $chargelist $k $types}	
					  	<li>
					    	<label class="label-checkbox item-content">
					      		<input type="radio" name="typeid" value="{$types['id']}" {if $k == 0} checked="checked" {/if}>
					      		<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
					      		<div class="item-inner">
					        		<div class="item-title-row">
					          			<div class="item-title">{$types['name']}({$types['days']}天/￥{$types['price']})</div>
					        		</div>
					      		</div>
					    </label>
					  </li>
				  	{/loop}
				</ul>
			</div>
			<div class="fix-bottom">
		        <a class="weui-btn weui-btn_primary external bg-red" href="javascript:;" id="showTooltips" onclick="fun();">续费</a>
		    </div>	
		</div>
	</div>
</div>
<script>
	function fun(){
		var typeid = $('input[name="typeid"]:checked').val();
		$.post("{php echo app_url('store/supervise/renewing')}",{typeid:typeid},function(d){
			if(!d.errno){
        		location.href = "{php echo app_url('store/supervise/chargeorder')}&orderId="+d.message;
			}else{
				$.toast(d.message);
			}
		},"json");
	}
</script>
{php include wl_template('common/footer');}