/*首页登录*/
.index-login{position: absolute;width:390px;padding:15px 30px;background: #fff;right:26px;top:140px;z-index: 10;display: none;}
.index-login-main{}
.index-login-main-ul{padding:0;margin:0;}
.index-login-main-ul li{height:50px;list-style: none;padding:5px 0;position: relative;line-height: 40px;font-size:12px;color:#666;clear:both;}
.index-login-main-ul li i{width:45px;height:40px;position: absolute;left:0;top:5px;display: block;line-height: 40px;text-align: center;color:#a6a6a6;}

.index-login-input{width:100%;height:40px;border:1px solid #e9e9e9;padding:5px 5px 5px 45px;line-height: 30px;font-size:14px;color:#a6a6a6;}
.index-login-submit{width:100%;height:40px;line-height: 40px;border:none;color:#fff;background: #0baefd;-webkit-border-radius: 3px;-moz-border-radius: 3px;
border-radius: 3px;}
input[type=checkbox].index-login-checkbox{float:left;margin:13px 5px 0 4px;}
.index-register{text-align: right;font-size:12px;color:#999;}
.index-register a{font-size:12px;color:#0baefd;}
.index-login-title{height:50px;margin:0;padding:0;line-height: 50px;font-size:22px;color:#000;text-align: center;}
.index-login-top{position: absolute;top:-16px;right:95px;display: block;width:30px;height:16px;background: url("../images/index-login-top.png") no-repeat center top;}
.close{width:16px;height:16px;display: block;color:#000;font-weight: normal;}

.register-header{height:20px;margin:40px 0 0 0;height:20px;display: block;float:left;padding-left:20px;border-left:1px solid #8a8a8a;}
/*首页*/
#header{height:100px;background: #fff;box-shadow: 0 1px 8px 5px #eee;}
.lynn-head{width:1200px;margin:0 auto;height:100px;position: relative;}
#lynn-logo{width:300px;height:100px;float:left;margin:0;}
#lynn-logo a{width:300px;height:100px;display: block;}
#lynn-logo a img{width:300px;height:100px;}
#lynn-nav{width:724px;height:100px;float:left;}
#lynn-login{width:176px;height:100px;float:right;padding:41px 0 0 0;line-height: 30px;}
#lynn-login a{height:30px;line-height: 30px;padding:0 15px;color:#3a3a3a;font-size:16px;margin:0 4px;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;display: inline-block;}
#lynn-login a.active{background: #00aeff;color:#fff;}
.lynn-nav-ul{height:100px;padding:41px 0 0 45px;margin:0;display: block;}
.lynn-nav-ul li{float:left;padding:0 25px;list-style: none;}
.lynn-nav-ul li a{height:30px;display: block;font-size:16px;color:#3a3a3a;line-height: 30px;}
.lynn-nav-ul li a:hover,.lynn-nav-ul li a.active{color:#00aeff;text-decoration: none;}

.carousel-indicators li{border-radius: 0;width:58px;height:10px;background: #08466b;border:none;}
.carousel-indicators li.active{background: #e84e0e;width:58px;height:10px;border:none;margin:1px;}

.lynn-article-top{text-align: center;position: relative;}
.lynn-article-top i{height:1px;display: block;position: absolute;width:100%;background: #e4e4e4;top:59px;left:0;}
.lynn-article-top h3{height:62px;line-height: 59px;margin:0;padding:0;font-size:40px;color:#020202;border-bottom:3px solid #989898;display: inline-block;}
.lynn-article-top p{min-height:36px;line-height: 25px;padding:11px 0 0 0;font-size:16px;color:#969696;width:1200px;margin:0 auto;}

.lynn-news{background: #f7f7f7;padding:68px 0;}
.lynn-news-index{width:1200px;margin:0 auto;}
.lynn-news-index-ul{display: block;margin:0;padding:83px 0 0 26px;}
.lynn-news-index-ul li{padding:0 59px 48px 46px;list-style: none;width:587px;float:left;cursor: pointer;}
.lynn-news-index-li-left{width:75px;float:left;}
.lynn-news-index-li-right{width:394px;float:right;}
.lynn-news-index-li-left span{width:57px;height:57px;display: block;background: #e4e4e4;color:#989898;font-size:16px;text-align: center;line-height: 57px;}
.lynn-news-index-li-left strong{width:57px;height:57px;display: block;background: #fff;color:#989898;font-size:32px;text-align: center;line-height: 57px;}
.lynn-news-index-li-right-top{height:57px;}
.lynn-news-index-li-right-top h3{margin:0;padding:0;height:30px;line-height: 30px;font-size:16px;color:#020202;width:370px;float:left;overflow: hidden;}
.lynn-news-index-li-right-top p{margin:0;padding:0;height:25px;line-height: 25px;font-size:12px;color:#868686;width:370px;float: left;overflow: hidden;}
.lynn-news-index-li-right-top p span{padding:0 10px}
.lynn-news-index-li-right-top i{width:19px;height:19px;text-align: center;line-height: 19px;background: #9d9d9d;color:#fff;display: block;float:right;font-size:20px;margin:10px 0 0 0;padding:0;}
.lynn-news-index-li-right-bot{font-size:12px;color:#898888;clear:both;line-height: 20px;padding:8px 0 0 0;}


.lynn-news-index-ul li.active .lynn-news-index-li-left strong{color:#0baefd;}
.lynn-news-index-ul li.active .lynn-news-index-li-left span{background:#0baefd;color:#fff;}
.lynn-news-index-ul li.active .lynn-news-index-li-right-top i{background: #0baefd;color:#fff;}
/*案例展示*/
.lynn-case-index{padding:91px 0 70px 0;}
.lynn-case-info{width:1306px;margin:61px auto 0;padding:0 53px;overflow: hidden;}
.slick-slider { position: relative; display: block; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-touch-callout: none; -webkit-user-select: none;
-khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -ms-touch-action: none; touch-action: none; -webkit-tap-highlight-color: transparent; }
.slider-img{width:300px;height:470px;float:left;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;padding:0 15px;position: relative;}
.slider-img > img{border:1px solid #ddd;width:270px;height:470px;padding:4px;}
.slider-img span.rcode{width:260px;height:460px;display: none;background: url("../images/case_bg.png") repeat;position: absolute;left:20px;top:5px;text-align: center;padding:129px 0 0 0;}
.slider-img span.rcode p{height:49px;line-height: 49px;font-size:18px;color:#fff;font-weight: bold;}

.slick-prev{position: absolute;left:-53px;top:0;height:470px;width:53px;background: #fff url("../images/btn-left.png") no-repeat left center;border:none;cursor: pointer;}
.slick-next{position: absolute;right:-53px;top:0;height:470px;width:53px;background: #fff url("../images/btn-right.png") no-repeat right center;border:none;cursor: pointer;}
.slick-dots{clear:both;margin:0;text-align: center;height:50px;line-height:36px;padding-top:14px;}
.slick-dots span{width:10px;height:10px;-webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px;background: #444;display: inline-block;margin:0 4px;}
.slick-dots span.slick-active{width:12px;height:12px;background: #00b1ff;}
/*最新文章*/
.lynn-article-index{padding:71px 0 0 0;}
.lynn-article-bot-ul{width:1200px;display: block;margin:0 auto;padding:77px 0 0 0;}
.lynn-article-bot-ul li{width:373px;height:242px;background: #f9f9f9;list-style: none;padding:20px 20px 0 25px;float:left;margin:0 13px 30px;cursor: pointer;}
.lynn-article-bot-ul li h3{height:34px;padding:0;margin:0;line-height: 34px;font-size:16px;color:#0baefd;overflow: hidden;}
.lynn-article-bot-ul li span{height:31px;line-height: 31px;padding:0 10px;font-size:12px;color:#868686;}
.lynn-article-bot-ul li p{padding:12px 0 0 0;line-height: 21px;font-size:14px;color:#4d4d4d;margin:0;height:117px;overflow: hidden;}
.lynn-article-bot-ul li a{float:right;font-size:14px;color:#0baefd;}

/*联系我们*/
.lynn-contact-index{padding:68px 0 81px 0;}
.lynn-contact-bottom{width:942px;margin:54px auto 0;height:340px;}
.lynn-contact-form-top input{width:302px;height:47px;border:1px solid #dbe0e3;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;
padding:10px 10px 10px 58px;line-height: 27px;}
.lynn-input-name{background:url("../images/lynn-index-name.png") no-repeat 14px center; background-size:30px;}
.lynn-input-tel{background:url("../images/lynn-index-tel.png") no-repeat 14px center;margin:0 17px; background-size:30px;}
.lynn-input-email{background:url("../images/lynn-index-email.png") no-repeat 14px center; background-size:30px; }
.lynn-textarea{width:100%;height:122px;border:1px solid #dbe0e3;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;padding:10px;}
.lynn-contact-form-bottom{padding:19px 0 49px 0;}
.lynn-btn-submit{width:221px;height:50px;display: block;margin:0 auto;line-height: 50px;border:none;background: #0baefd;color:#fff;font-size:20px;-webkit-border-radius: 50px;-moz-border-radius: 50px;
border-radius: 50px;}
/*底部*/
#lynn-footer{height:270px;background: #323639;position: relative;}
.lynn-footer-top{height:63px;background: #282d30;}
.lynn-footer-nav{height:63px;width:1200px;margin:0 auto;display: block;padding:23px 0 0 50px;}
.lynn-footer-nav a{width:84px;height:16px;display: block;float:left;font-size:14px;color:#cacaca;border-left:1px solid #cacaca;text-align: center;line-height: 16px;}
.lynn-footer-nav a:first-child{border:none;}
.lynn-index-top{height:270px;width:163px;position: absolute;right:82px;top:-63px;}
.lynn-index-top a{height:63px;width:163px;background: #0baefd;color:#fff;display: block;text-align: center;line-height: 63px;}
.lynn-index-top p{width:163px;height:207px;background: #3d4144;margin:0;padding:17px 19px 0 19px;}
.lynn-index-top p img{margin-bottom:10px;}
.lynn-index-top p span{height:18px;line-height: 18px;display: block;font-size:12px;color:#fff;text-align: center;}
.lynn-footer-bot{position: relative;width:1200px;margin:0 auto;padding:50px 0 0 85px;}
.lynn-footer-bot-left{width:175px;float:left;padding-top:15px;}
.lynn-footer-bot-left a{height:25px;display: block;line-height: 25px;font-size:12px;color:#5b5a58;border-right:1px solid #595959;}
.lynn-footer-bot-mid{width:581px;margin-top:15px;min-height:75px;float:left;border-right:1px solid #595959;padding:10px 0 0 30px;}
.lynn-footer-bot-mid p{font-size:12px;color:#5b5a58;height:28px;line-height: 28px;margin:0;}
.lynn-footer-bot-right{width:289px;float:left;padding-left:45px;}
.lynn-footer-bot-right strong{height:40px;font-size:30px;color:#5d5c5a;line-height: 40px;}
.lynn-footer-bot-right p{font-size:12px;color:#5b5a58;}
.kefu{width:116px;height:30px;display: block;background: #016fba;color:#fff;line-height: 30px;text-align: center;}
.kefu:hover{color:#fff;text-decoration: none;}
/*新闻中心*/
.list-container{width:1200px;margin:0 auto;padding:56px 22px;}
.list-menu{height:40px;}
.list-menu-left{float:left;height:40px;line-height: 40px;font-size:12px;color:#30323d;}
.list-menu-left a{color:#30323d;padding:0 5px;}
.list-menu-left a:hover{color:#30323d;}
.list-menu-left i{width:18px;display: inline-block;height:40px;line-height: 40px;text-align: center;}
/*分类样式start*/
.list-menu-left-ul{height:40px;width:900px;padding:7px 10px;overflow: hidden;margin:0;background: #f8f7f7}
.list-menu-left-ul li{height:26px;line-height: 26px;float:left;padding:0;margin:0;overflow: hidden;}
.list-menu-left-ul li a{height:26px;padding:0 20px;display: inline-block;color:#636363;font-size:14px;}
.list-menu-left-ul li a.active{background: #feae39;color:#fff;}
/*分类样式end*/
.list-menu-right{float:right;}
.list-menu-search{width:245px;height:40px;border:none;padding:10px 40px 10px 12px;line-height: 20px;background: #929295;color:#fff;}
.list-news{padding:38px 0;}
.list-news-ul{padding:0;margin:0 0 24px 0;}
.list-news-ul li{border:1px solid #dcdcdc;list-style: none;background: #fff;padding:20px 0;margin-bottom:24px;cursor: pointer;}
.list-news-ul li:hover{background: #f2f2f2;}
.list-news-li-left{text-align: center;}
.list-news-li-left strong{font-size:44px;color:#35383f;display: block;margin-top:13px;height:37px;line-height: 37px;}
.list-news-li-left span{height:22px;line-height: 22px;font-size:12px;color:#868686;}
.list-news-li-right h3{padding:0;margin:0;font-size:18px;color:#020202;height:28px;line-height: 28px;overflow: hidden;}
.list-news-li-right p{padding:6px 0 0 0;margin:0;font-size:14px;color:#4d4d4d;}

/*分页*/
.list-page{height:40px;margin:0;text-align: center;}
.list-page a{height:40px;line-height: 38px;width:80px;height:40px;border:1px solid #d9d9d9;display: inline-block;font-size:16px;color:#333;}
.list-page a:hover,.list-page a.active{color:#fff;text-decoration: none;background: #616161;}
/*详情*/
.detail-news-left{width:858px;padding:40px 30px;border:1px solid #dcdcdc;float:left;}
.detail-news-right{width:245px;float:right;}
.detail-title{font-size:20px;text-align: center;}
.detail_subtitle{font-size:12px;text-align: center;color:#999;}
.detail_subtitle span{padding:0 5px;}
.detail_content{padding:20px 0;word-break:break-all;}
.detail_content img{max-width: 100%;}
.detail_correlation_title{height:30px;line-height: 30px;margin:20px 0 0 0;font-size:16px;color:#666;padding:0 5px;}
.detail_correlation_ul{padding:0 5px;}
.detail_correlation_ul li{height:22px;line-height: 22px;font-size:12px;list-style: none;}
.detail_correlation_ul li a{color:#999;overflow: hidden;height:22px;display: block;}
.detail-lovely-dl{padding:0;margin:0;}
.detail-lovely-dl dt{height:31px;border-bototm:1px solid #ccc;background: #e1e1e1;padding:0 5px 0 10px;line-height: 30px;font-size:12px;color:#666;}
.detail-lovely-dl dt a{float:right;background: #fff;height:22px;line-height: 22px;color:#e1e1e1;width:70px;display: inline-block;text-align: center;-webkit-border-radius: 22px;-moz-border-radius: 22px;
border-radius: 22px;margin-top:4px;}
.detail-lovely-dl dt a i{color:#aaa;padding-right:5px;font-size:12px;}
.detail-lovely-dl dd{padding:12px 0;}
.detail-lovely-dl dd img{display: block;width:122px;height:92px;border:1px solid #cbdbea;margin:0 auto;}
.detail-lovely-dl dd p{font-size:12px;color:#333;text-align: center;height:20px;line-height: 20px;overflow: hidden;}
.detail-lovely-ul{padding:0;margin:0;}
.detail-lovely-ul li{height:22px;line-height: 22px;list-style: none;}
.detail-lovely-ul li a{height:22px;display: block;color:#333;overflow: hidden;}
.detail-lovely-ul li a i{width:4px;height:4px;display: inline-block;vertical-align: middle;background: #00407c;margin:0 5px;}
/*注册账户*/
.lynn-register-table{width:600px;margin:20px auto;display: block;}
.lynn-register-table td{height:62px;padding:0 5px;color:#666;}
.lynn-register-table td.left{width:80px;text-align: right;}
.register-input{width:352px;height:40px;border:1px solid #dddddd;padding:0 10px;line-height: 20px;color:#a7a7a7;}
.register-code{font-size:12px;}
.register-btn{width:352px;height:47px;border:none;background: #0baefd;color:#fff;-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;font-size:18px;}

.lynn-register-container{width:1156px;}
.lynn-register-right{width:260px;float:right;border:1px solid #cfeffc;background: #f6fbff;padding:0 10px;}
.register-fase-top{height:51px;line-height: 50px;border-bottom:1px solid #e7ecf0;font-size:14px;color:#696a6c;}
.register-fase-top i{padding:0 8px 0 3px;}
.register-fase-info p{margin:15px 0 0 0;line-height: 20px;font-size:12px;color:#686c6f;}
.register-fase-info p strong{display: block;height:20px;color:#f38003;}
/*友情链接*/
.lynn-link-index{background: #f7f7f7;padding:68px 0 100px 0;}
.lynn-flink-info{width:1190px;margin:0 auto;}
.lynn-flink-info-top{height:27px;margin-top:30px;text-align: right;}
.lynn-flink-info-top a{width:16px;height:27px;line-height:27px;display: inline-block;color:#666;text-align: center;}
.lynn-flink-info-top a:hover{text-decoration: none;}
.lynn-flink-info-top a:active{background: #eee;}
.lynn-flink-info-bot{max-width: 1200px;min-width:0px;display:block;margin:0 auto;}
.lynn-flink-info-bot a{width:170px;height:60px;display: block;float:left;}
.lynn-flink-info-bot a img{width:170px;height:60px;}
/*经典案例*/
.lynn-banner{}
.lynn-banner-info{text-align: center;}
.lynn-banner-info img{width:100%;}
.lynn-case-menu{height:60px;background: #f8f7f7;}
.lynn-case-menu-ul{height:60px;width:1200px;margin:0 auto;padding:17px 0 17px 47px;margin:0 auto;display: block;overflow: hidden;}
.lynn-case-menu-ul li{height:26px;line-height: 26px;float:left;padding:0;margin:0;overflow: hidden;}
.lynn-case-menu-ul li a{height:26px;padding:0 20px;display: inline-block;color:#636363;font-size:14px;}
.lynn-case-menu-ul li a.active{background: #feae39;color:#fff;}

.lynn-case-list{padding:45px 36px;width:1200px;margin:0 auto;}
.lynn-case-list-ul{display: block;overflow: hidden;padding:0;}
.lynn-case-list-ul li{padding:0 4px;height:587px;float:left;width:282px;}
.lynn-case-list-ul li a{width:274px;display: block;color:#000;position: relative;}
.lynn-case-list-ul li a:hover{text-decoration: none;}
.lynn-case-list-ul li a img.case-img{width:274px;height:474px;border:2px solid #f8f7f7;}
.lynn-case-list-ul li a > p{height:36px;border-bottom:1px solid #f7f7f7;line-height: 35px;font-size:16px;color:#000;margin-top:10px;padding:0 2px;}
.lynn-case-list-ul li a span.rcode{position: absolute;left:0;top:0;display: none;width:272px;height:472px;background: url("../images/case_bg.png") repeat;
text-align: center;padding:129px 0 0 0;}
.lynn-case-list-ul li a span.rcode p{height:49px;line-height: 49px;font-size:18px;color:#fff;font-weight: bold;}
.lynn-case-slider{padding:0 2px;}
.lynn-case-slider i{line-height: 28px;display: inline-block;padding:0 3px;color:#939292;font-size:12px;font-style: normal;}

.lynn-login-container{padding-left:650px;background: url("../images/login_bg.jpg") no-repeat left center;min-height: 600px;padding-top:100px;}
.lynn-register-top{height:50px;line-height: 50px;border-bottom: 1px solid #ddd;}








