<div class="panel-body">
    <div class="panel-body" style="width: 70%;float: left;">
        <input type="hidden" id="id" class="form-control span7" name="id" value="{$article['id']}">
        <?php if(!$article['id']) { ?>
        <div class="form-group" style="display: none;">
            <label class="col-xs-12 col-sm-3 col-md-2 control-label">新闻地址</label>
            <div class="col-sm-9 col-xs-12">
                <div class="input-group">
                    <input type="text" class="form-control" id="spider_url" value="" placeholder="url" autocomplete="off">
                    <span class="input-group-btn"><button class="btn btn-default" id="spider_news" type="button" >抓取</button></span>
                </div>
            </div>
        </div>
        <?php } ?>
        <div class="form-group">
            <label class="col-xs-12 col-sm-3 col-md-2 control-label">类型</label>
            <div class="col-sm-9 col-xs-12">
                <select id="type" name="type" style="width: 20%" >
                    {loop $type $tid $row}
                    <option <?php if($article['type']==$tid){echo 'selected';}?> value="{$tid}">{$row}</option>
                    {/loop}
                </select>
            </div>
        </div>
        <div id="video_type_node" style="display: <?php echo $article['type']==3 ? 'block':'none';?>">
            <div class="form-group">
                <label class="col-xs-12 col-sm-3 col-md-2 control-label">类型</label>
                <div class="col-sm-9 col-xs-12">
                    <select id="video_type" name="video_type" style="width: 20%" >
                        {loop $video_type $t}
                        <option <?php if($article['video_type']==$t){echo 'selected';}?> value="{$t}">{$t}</option>
                        {/loop}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 col-sm-3 col-md-2 control-label">视频地址</label>
                <div class="col-sm-9 col-xs-12">
                    <input placeholder="" type="text" id="video_url" class="form-control span7" name="video_url" value="<?php echo htmlspecialchars($article['video_url']);?>">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-12 col-sm-3 col-md-2 control-label">标题</label>
            <div class="col-sm-9 col-xs-12">
                <input placeholder="不能为空" type="text" id="title" class="form-control span7" name="title" value="{$article['title']}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-12 col-sm-3 col-md-2 control-label">跳转地址</label>
            <div class="col-sm-9 col-xs-12">
                <select name="jump" id="jump" style="width: 20%" >
                    <option value="0" <?php if($article['jump']==0){echo 'selected';}?>>否</option>
                    <option value="1" <?php if($article['jump']==1){echo 'selected';}?>>是</option>
                </select>
            </div>
        </div>
        <div class="form-group" id="url_node" style="<?php if($article['jump']==0){echo 'display:none;';}?>">
            <label class="col-xs-12 col-sm-3 col-md-2 control-label">来源url</label>
            <div class="col-sm-9 col-xs-12">
                <input placeholder="" type="text" id="url" class="form-control span7" name="url" value="{$article['url']}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-12 col-sm-3 col-md-2 control-label">简介</label>
            <div class="col-sm-9 col-xs-12">
                <textarea id="text" class="form-control span7" name="text">{$article['text']}</textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-12 col-sm-3 col-md-2 control-label">时间</label>
            <div class="col-sm-9 col-xs-12">
                <input placeholder="整数" type="text" id="create_time" class="form-control span7" name="create_time" value="{php echo date('Y-m-d H:i:s',$article['create_time'] ? $article['create_time'] : time());}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-12 col-sm-3 col-md-2 control-label">封面图 <p style="color: red;">1/3</p></label>
            <div class="col-sm-9 col-xs-12">
                {php echo form_field_multi_image('pic',$article['image'])}
                <div style="color: red;">1图或3图，最佳尺寸：220*145px，比例（1.5：1）</div>
            </div>
        </div>
        <div class="form-group" id="content-image">
            <label class="col-xs-12 col-sm-3 col-md-2 control-label">图集图片</label>
            <div class="col-sm-9 col-xs-12">
                {php echo form_field_multi_image('content_image',$article['content_image'],['brief'=>1])}
            </div>
        </div>
        <div class="form-group">
            <label class=" col-xs-12 col-sm-4 col-md-3 col-lg-2 control-label"></label>
            <div class="col-sm-9 col-xs-12">
                <a href="http://editor.wxb.com/" target="view_window" style="color: #027af5;font-size: 16px; font-weight: bold;font-style: normal;">微信图文编辑器 <em style="color:#999999;font-style: normal;">（在此编辑完成后复制到“文章正文”）</em></a>
            </div>
        </div>
    </div>
    <div class="post-highlight-area" style="float: left;width: 25%">
        <div class="col-sm-12 col-xs-12" style="padding:0 15px;margin-top:15px;">
            <label>关键字<span class="color-gray" style="color:#999;">(最多一个)</span></label>
            <input type="text" class="form-control" id="kw" name="kw" value="{$article['kw']}">
        </div>
        <div class="col-sm-12 col-xs-12" style="padding:0 15px;margin-top:15px;">
            <label>权重<span class="color-gray" style="color:#999;">(倒排)</span></label>
            <input type="text" class="form-control" id="displayorder" name="displayorder" value="{$article['displayorder']}">
        </div>
        <div class="col-sm-12 col-xs-12">
            <label class="col-xs-12 col-sm-3 col-md-2 control-label">来源</label>
            <input placeholder="不能为空" type="text" id="author" class="form-control span7" name="author" value="{$article['author']}">
        </div>
        <div class="col-sm-12 col-xs-12">
            <label class="col-xs-12 col-sm-3 col-md-2 control-label">点赞</label>
            <input placeholder="整数" type="text" id="praise" class="form-control span7" name="praise" value="{$article['praise']}">
        </div>
        <div class="col-sm-12 col-xs-12">
            <label class="col-xs-12 col-sm-3 col-md-2 control-label">浏览</label>
            <input placeholder="整数" type="text" id="read_times" class="form-control span7" name="read_times" value="{$article['read_times']}">
        </div>
        <div class="col-sm-12 col-xs-12">
            <label class="col-xs-12 col-sm-3 col-md-2 control-label">声明</label>
            <textarea placeholder="版权等声明" type="text" id="state" class="form-control span7" style="height:70px;" name="state">{$article['state']}</textarea>
        </div>
        <!--<div class="col-sm-12 col-xs-12" style="padding:0 40px;margin-bottom:20px;">-->
        <!--<label class="checkbox">-->
        <!--<input type="checkbox" name="comment" <?php if(($article_special['comment'] & $article['special']) || !$article){ ?>checked<?php } ?> value="1">评论-->
        <!--</label>-->
        <!--</div>-->
        <div class="col-sm-12 col-xs-12" style="padding:0 40px;margin-bottom:20px;">
            <label class="checkbox">
                <input type="checkbox" name="uncomment" <?php if(($article_special['uncomment'] & $article['special']) || !$article){ ?>checked<?php } ?> value="1">匿名评论
            </label>
        </div>
        <!--<div class="col-sm-12 col-xs-12" style="padding:0 40px;margin-bottom:20px;">-->
        <!--<label class="checkbox">-->
        <!--<input type="checkbox" name="pay" <?php if($article_special['pay'] & $article['special']){ ?>checked<?php } ?> value="1">打赏(<a style="color:red;" target="_blank" href="/web/index.php?c=profile&a=payment&">确保开启h5支付 且 2014年9月之后申请的</a>)-->
        <!--</label>-->
        <!--</div>-->
        <!--<div class="col-sm-12 col-xs-12" style="padding:0 40px;margin-bottom:20px;">-->
        <!--<label class="checkbox">-->
        <!--<input type="checkbox" name="first" <?php if($this->special['first'] & $article['special']){ ?>checked<?php } ?> value="1">置顶-->
        <!--</label>-->
        <!--</div>-->
    </div>
    <div class="form-group" id="content-editor">
        <label class="col-xs-12 col-sm-3 col-md-2 control-label"></label>
        <div class="col-sm-9 col-xs-12">
            {php echo tpl_ueditor('myEditor',$article['content'])}
        </div>
    </div>

</div>