{template 'web/common/common'}
{template 'webapp/webappSet/navbar'}
<link rel="stylesheet" type="text/css" href="../addons/kundian_farm/resource/css/layui.css" />
<link rel="stylesheet" type="text/css" href="../addons/kundian_farm/resource/css/new-common.css" />
<style>
    .layui-form-label{width: 110px;}
</style>
<blockquote class="layui-elem-quote layui-text">
    基本设置
</blockquote>
<div class="new-style">
    <div class="panel-body" id="app">
        <form class="layui-form" action="{url 'site/entry/webapp',array('m'=>'kundian_farm','op'=>'webapp_basic_set_save','version_id'=>$_GPC['version_id'])}" method="post">
            <div class="layui-form-item">
                <label class="layui-form-label">LOGO(50*50)</label>
                <div class="layui-input-block">
                    {php echo tpl_form_field_image('webapp_logo_img',$list['webapp_logo_img']);}
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">版权设置</label>
                <div class="layui-input-block">
                    <input type="text" name="webapp_version" lay-verify="webapp_version" value="{$list['webapp_version']}" autocomplete="off" placeholder="版权设置" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">联系电话</label>
                <div class="layui-input-block">
                    <input type="text" name="webapp_phone" lay-verify="webapp_phone" value="{$list['webapp_phone']}" autocomplete="off" placeholder="联系电话" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">邮箱</label>
                <div class="layui-input-block">
                    <input type="text" name="webapp_email" lay-verify="webapp_email" value="{$list['webapp_email']}" autocomplete="off" placeholder="邮箱" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">QQ</label>
                <div class="layui-input-block">
                    <input type="text" name="webapp_qq" lay-verify="webapp_qq" value="{$list['webapp_qq']}" autocomplete="off" placeholder="QQ" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">地址</label>
                <div class="layui-input-block">
                    <input type="text" name="webapp_address" lay-verify="webapp_address" value="{$list['webapp_address']}" autocomplete="off" placeholder="地址" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">客服二维码(120*120)</label>
                <div class="layui-input-block">
                    {php echo tpl_form_field_image('webapp_kefu_img',$list['webapp_kefu_img']);}
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">小程序二维码(120*120)</label>
                <div class="layui-input-block">
                    {php echo tpl_form_field_image('webapp_miniapp_img',$list['webapp_miniapp_img']);}
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" type="submit">立即提交</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="../addons/kundian_farm/resource/js/layui.js" charset="utf-8"></script>