
<form action="" method="post" class="we7-form" enctype="multipart/form-data" id="form1">
	<input type="hidden" name="id" value="{$info['id']}">
	<div class="form-group" style="color: red;">
		开启公众号二维码之后，用户扫描二维码会先跳转到公众号，如用户未关注该公众号，会跳转到关注公众号页面；如用户已关注公众号那会直接进入公众号；进入之后会给用户推送小程序相关页面的小程序卡片！（注：推送的小程序必须是该公众号绑定的小程序）
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label">是否使用公众号二维码：</label>
		<div class="col-sm-8 form-control-static">
			<input type="radio" name="indata[is_open]" id="is_open-1" {if $info['is_open']==0 || empty($info['is_open'])}checked="checked"{/if} value="0">
			<label class="radio-inline" for="is_open-1">不启用</label>
			<input type="radio" name="indata[is_open]" id="is_open-2" {if $info['is_open']==1}checked="checked"{/if} value="1">
			<label class="radio-inline" for="is_open-2">启用</label>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label">公众号AppID：</label>
		<div class="col-sm-8 form-control-static">
			<input type="text" name="indata[wechat_appid]" value="{$info['wechat_appid']}" id="points" class="form-control" style="width: 400px;" />
			<div>开发者ID(AppID)</div>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label">公众号AppSecret：</label>
		<div class="col-sm-8 form-control-static">
			<input type="text" name="indata[wechat_appsecret]" value="{$info['wechat_appsecret']}" class="form-control" style="width: 400px;" />
			<div>开发者密码(AppSecret)</div>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label">服务器地址(URL)：</label>
		<div class="col-sm-8 form-control-static">
			<input type="text" name="wechat_url" value="{$_W['siteroot']}app/index.php?i={$_W['uniacid']}&from=wxapp&c=entry&a=wxapp&ctrl=Wechat&do=wechatLink&m=mzhk_sun_plugin_wechatlink" class="form-control" style="width: 400px;" />
			<div>服务器地址(URL)</div>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label">令牌(Token)：</label>
		<div class="col-sm-8 form-control-static">
			<input type="text" name="indata[wechat_token]" id="wechat_token" value="{$info['wechat_token']}" class="form-control" style="width: 400px;" />
			<a href="javascript:void(0)" class="btn btn-success randcode" data-where="wechat_token" data-len="32">随机生成</a>
			<div>与公众平台接入设置值一致，必须为英文或者数字，长度为3到32个字符. 请妥善保管, Token 泄露将可能被窃取或篡改平台的操作数据.</div>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label">消息加解密密钥：</label>
		<div class="col-sm-8 form-control-static">
			<input type="text" name="indata[wechat_aeskey]" id="wechat_aeskey" value="{$info['wechat_aeskey']}" class="form-control" style="width: 400px;" />
			<a href="javascript:void(0)" class="btn btn-success randcode" data-where="wechat_aeskey" data-len="43">随机生成</a>
			<div>与公众平台接入设置值一致，必须为英文或者数字，长度为43个字符. 请妥善保管, EncodingAESKey 泄露将可能被窃取或篡改平台的操作数据.</div>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label">关注时回复文字：</label>
		<div class="col-sm-8 form-control-static">
			<textarea name="indata[backcontent]" style="width: 100%;height: 100px;">{$info['backcontent']}</textarea>
			<div>关注公众号时回复的内容前面部分文字，如果需要换行请使用 \n <br>
				范例：<br>
				<div style="background: #91eeef;padding: 10px 20px;border-radius: 5px;">
					欢迎关注公众号 \n ①搜索商品或活动名称可以查看相关商品或活动 \n\n ②搜索商家名称可以查看相关商家信息和优惠 \n\n
				</div>
			</div>
		</div>
	</div>

	<div class="form-group">
		<input type="submit" name="submit" value="提交" class="btn btn-primary col-lg-1" />
		<input type="hidden" name="token" value="{$_W['token']}" />
	</div>
</form>
<script type="application/javascript">
	$(function(){
        $(".randcode").on('click',function(){
            var w = $(this).attr("data-where");
            var len = $(this).attr("data-len");
            $.ajax({
                type:"post",
                url:"{php echo url('site/entry/creatRandDom', array('m' => $_W['current_module']['name']))}",
                dataType:"json",
                data:{len:len},
                success:function(data){
					$("#"+w).val(data.str);
                }
            })
        });
	})
</script>