.flex-wap{
    display: flex;!important;
    display:-webkit-box;!important;
    display:-webkit-flex;!important;
}
.flex{
    flex: 1;!important;
    -webkit-box-flex:1;!important;
    -webkit-flex:1;!important;
}



input.js-switch:focus{ outline:none;}
input.ui-radio:focus{ outline:none;}
.js-switch{
    width: 52px;
    height: 32px;
    position: absolute;
    z-index: 2;
    background: 0 0;
    -webkit-appearance: none;
    outline: 0;
    border:1px #ccc solid;outline:none;
    margin: 0;
}
.js-switch:hover{
    border:none;
    margin: 0;
}
.js-switch:valid{
    border:none;
    margin: 0;
}
.js-switch:checked::before{
    border-color: #64bd63;
    -webkit-box-shadow: #64bd63 0 0 0 16px inset;
    box-shadow: #64bd63 0 0 0 16px inset;
    background-color: #64bd63;
    transition: border .4s,box-shadow .4s,background-color 1.2s;
    -webkit-transition: border .4s,-webkit-box-shadow .4s,background-color 1.2s;
    background-color: #64bd63;
}
.js-switch::before{
    content: '';
    width: 50px;
    height: 30px;
    border: 1px solid #dfdfdf;
    background-color: #fdfdfd;
    border-radius: 20px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    border-color: #dfdfdf;
    -webkit-box-shadow: #dfdfdf 0 0 0 0 inset;
    box-shadow: #dfdfdf 0 0 0 0 inset;
    -webkit-transition: border .4s,-webkit-box-shadow .4s;
    transition: border .4s,box-shadow .4s;
    -webkit-background-clip: content-box;
    background-clip: content-box;
}
.js-switch:checked::after{
    left: 21px;
}
.js-switch::after{
    content: '';
    width: 30px;
    height: 30px;
    position: absolute;
    top: 1px;
    left: 0;
    border-radius: 100%;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.4);
    box-shadow: 0 1px 3px rgba(0,0,0,.4);
    -webkit-transition: left .2s;
    transition: left .2s;
}
.btn-rounded{
    border-radius: 50px;
}

.inline{
    display: inline-block;
}
.radio{
    width: 50px;
    margin-left: 30px;
    position: relative;
}
.radio>input.ui-radio{
    display: inline-block;
    width: 24px;
    height: 24px;
    position: relative;
    overflow: visible;
    border: 0;
    background: 0 0;
    -webkit-appearance: none;
    outline: 0;
    margin-right: 8px;
    vertical-align: middle;
    margin-left: -30px;
}
.ui-radio:before {
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    border: 1px solid #dfe0e1;
    border-radius: 13px;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    position: absolute;
    -webkit-appearance: none;
    outline: 0;
    left: 0;
    top: 0;
}
.ui-radio:checked:after {
    content: '';
    display: block;
    width: 14px;
    height: 14px;
    background: #64bd63;
    border-radius: 7px;
    position: absolute;
    left: 5px;
    top: 5px;
    outline: 0;
    border: none;
    -webkit-appearance: none;
}
.ui-radio:hover{
    border:none;
    margin: 0;
}
.ui-radio:valid{
    border:none;
    margin: 0;
}
.left-content{
    width: 30%;
    float: left;
    position: relative;
    font-size: 20px;;
}
.left-content>.box{
    padding: 10px 10px 20px 10px;
    width: 100%;
    box-sizing: border-box;
    border: #dddddd 1px solid;
    background: #FFFFFF;
    position: relative;
    height: auto;
}
.content-text{
    width: 100%;
    height: 100%;
    overflow: hidden;
    word-break: break-all;
}
.box>img{
    max-width: 100%;
}
.box.curr{
    border: 2px solid #079200;
}
.right_content{
    width: 70%;
    float: left;
    font-size: 20px;;
}

#untattrlist li {
    width: 230px;
    float: left;
    margin-right: 5px;
}
.agile-list li {
    background: #FAFAFB;
    border: 1px solid #e7eaec;
    margin: 0 0 10px;
    padding: 10px;
    border-radius: 2px;
}
.ibox-tools {
    display: inline-block;
    float: right;
    margin-top: 0;
    position: relative;
    padding: 0;
}