var filters = ({
    toFix: (function(value) {
        return (value.toFixed(2))
    }),
    toApp: (function(value) {
        if (value != "" && value != null) {
            if (value.indexOf("../") != -1 || value.indexOf("http") != -1) {
                return (true)
            } else {
                return (false)
            }
        } else {
            return (true)
        }
    }),
    toArray: (function(value) {
        value = value.split(",");
        return (value)
    }),
});
module.exports = ({
    toFix: filters.toFix,
    toApp: filters.toApp,
    toArray: filters.toArray,
});