<?xml version="1.0" encoding="utf-8"?>
<manifest>
	<application>
		<name><![CDATA[一卡通]]></name>
		<identifie><![CDATA[halfcard]]></identifie>
		<version><![CDATA[1.0.0]]></version>
		<type><![CDATA[market]]></type>
		<description><![CDATA[一张集吃喝玩乐为一体的电子虚拟卡，一卡在手，优惠我有。]]></description>
		<author><![CDATA[微连科技]]></author>
		<url><![CDATA[http://www.weliam.cn/]]></url>
	</application>
	<setting>
		<agent embed="true" />
		<system embed="true" />
		<task embed="true" />
	</setting>
	<agentmenu>
		<menu title="特权礼包" font="fa-inbox">
			<entry title="商家特权" ac="halfcard_web" do="halfcardList" actions='["do",["halfcardList","createHalfcard","editHalfcard"]]' iscover="true" />
			<entry title="商家大礼包" ac="halfcard_web" do="packagelist" actions='["do",["packagelist","createpackage"]]' />
		</menu>
		<menu title="用户记录" font="fa-inbox">
			<entry title="用户列表" ac="halfcard_web" do="memberlist" />
			<entry title="使用记录" ac="halfcard_web" do="userhalfcardlist" />
			<entry title="开通记录" ac="halfcard_web" do="payhalfcardlist" />
		</menu>
		<menu title="入口" font="fa-inbox">
			<entry title="首页入口" ac="halfcard_web" do="open" />
			<entry title="购卡入口" ac="halfcard_web" do="buyentry" />
		</menu>
	</agentmenu>
	<systemmenu>
		<menu title="用户记录" font="fa-inbox">
			<entry title="用户列表" ac="halftype" do="memberlist" iscover="true" />
			<entry title="使用记录" ac="halftype" do="uselists" />
			<entry title="开通记录" ac="halfcard_web" do="payhalfcardlist" />
		</menu>
		<menu title="一卡通" font="fa-inbox">
			<entry title="类型列表" ac="halftype" do="lists"  />
			<entry title="实卡管理" ac="realcard" do="cardlist"  actions='["ac","realcard"]' />
			<entry title="激活码管理" do="lists" ac="halfcode" actions='["do",["lists","add"]]' />
		</menu>
		<menu title="特权礼包" font="fa-inbox">
			<entry title="商家特权" ac="halfcard_web" do="halfcardList" actions='["do",["halfcardList","createHalfcard","editHalfcard"]]' />
			<entry title="商家大礼包" ac="halfcard_web" do="packagelist" actions='["do",["packagelist","createpackage"]]' />
			<entry title="外链礼包" ac="externallink" do="lists"  />
			<entry title="外链特权" ac="externallink" do="halflists"  />
			<entry title="外链卡券" ac="externallink" do="couponlists"  />
		</menu>
		<menu title="设置" font="fa-inbox">
			<entry title="基础设置" ac="halfset" do="base"   />
			<entry title="会员权益" ac="halfset" do="userright"   />
			<entry title="会员等级" ac="halftype" do="halflevel"  />
		</menu>
		<menu title="入口" font="fa-inbox">
			<entry title="首页入口" ac="halfcard_web" do="open" />
			<entry title="购卡入口" ac="halfcard_web" do="buyentry" />
		</menu>
	</systemmenu>
</manifest>