body,html {font-family:Helvetica,STHeiti STXihei,Microsoft JhengHei,Microsoft YaHei,Arial;}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.mui-pull-back{
	
	background: url("../images/itemBack.png") no-repeat;
	height: 34px;
    width: 27px;
    background-size: 100%;
    top: 9px;
	
}
.left-scroll-wrapper {
    background-color: #fff;
}

.main-title {
    background-color: #f00582;
    height: 44px;
}

.main-title .main-icon {
    position: absolute;
    z-index: 100;
    background: url("../images/wap-menu.png") no-repeat;
    width: 29px;
    height: 29px;
    left: 0.6em;
    top: 0.45em;
    background-size: 100%;
}

.main-title .main-icon2 {
    position: absolute;
    z-index: 100;
    background: url("../images/wap-arrow-left.png") no-repeat;
    width: 29px;
    height: 25px;
    left: 0.6em;
    top: 0.45em;
}

.main-title .main-title-text {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
    padding-left: 10px;
}

.main-title .main-home {
    background: url("../images/wap-home.png") no-repeat;
    width: 29px;
    height: 29px;
    position: absolute;
    right: 0.6em;
    top: 0.45em;
    background-size: 100%;
}

.nav-bar .nav-bar-list {
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: #fafafa;
}

.nav-bar .nav-bar-list li {
    list-style: none;
    float: left;
    width: 33.333%;
    text-align: center;
}

.nav-bar .nav-bar-list li a {
    color: #6f6f6f;
    font-size: 15px;
    line-height: 2.2em;
    display: block;
    border-bottom: 1px solid #d8d8d8;
}

.nav-bar .nav-bar-list li a:focus,
.nav-bar .nav-bar-list li a:hover {
    color: #FF6600;
}

.nav-bar .nav-bar-list .active a {
    color: #FF6600;
    border-bottom: 1px solid #FF6600;
}

.index-wrapper {
    background-color: #fff;
    padding: 10px;
}

.index-wrapper .title-wrapper {
    font-size: 14px;
    position: relative;
}

.index-wrapper .title-wrapper .update {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 12px;
    color: #999999;
}

.index-wrapper .slide-wrapper {
    margin: 8px auto;
}
.index-wrapper .icon-link-wrapper .icon-url-list {
  padding: 0;
  margin: 0;
  margin-top:3px;
  list-style: none;
}
.index-wrapper .icon-link-wrapper .icon-url-list li {
  float: left;
  width: 20%;
}
.index-wrapper .icon-link-wrapper .icon-url-list li a {
display: block;
    height: 65px;
    text-align: center;
}
.index-wrapper .icon-link-wrapper .icon-url-list li a img {
	    max-width: 35px;
border: 0;
    border-radius: 0px;
    box-shadow: none;
}
.index-wrapper .icon-link-wrapper .icon-url-list li a span {
  display: block;
  text-align: center;
  font-size: 12px;
  color: #000;
}

.you-wrapper {
    border: 0;
    margin-top: 0.45em;
    width: 100%;
    background-color: #fff;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
}

.you-wrapper .title-wrapper {
    padding: 0.2em 0.2em 0.2em 0.7em;
}

.you-wrapper .title-wrapper .text {
    color: #363535;
    border-left: 0.2em solid #FF6600;
    line-height: 1.4em;
    margin: 0.4em 0;
    padding-left: 0.5em;
    font-weight: bolder;
    position: relative;
}

.you-wrapper .title-wrapper .text .index {
    display: block;
    padding-top: 2px;
    line-height: 23px;
}

.you-wrapper .title-wrapper .main-badge {
    background-color: #2BD4C2;
    font-weight: normal;
    position: absolute;
    left: 139px;
    top: 3px;
}

.ads-list {
    background-color: #fff;
    padding: 0.2em;
    padding-top: 0.4em;
    text-align: center;
}

.ads-list .goods-item {
    width: 48%;
    float: left;
    text-align: left;
    margin-bottom: 0.7em;
    margin-right: 0.15em;
}

.ads-list .goods-item:nth-child(2n) {
    float: right;
}

.ads-list .goods-item a.img {
    width: 100%;
    position: relative;
    display: block;
}

.ads-list .goods-item a.img .today-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    text-align: center;
    background-color: #2BD4C2;
    color: #FFFFFF;
    padding: 3px 0;
}

.ads-list .goods-item a.img .today-wrapper span {
    display: block;
    font-size: 10px;
    line-height: 16px;
    padding: 0 4px;
}

.ads-list .goods-item a.img .coupon-wrapper {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
    text-align: center;
    background-color: #FF2F65;
    padding: 3px 0;
}

.ads-list .goods-item a.img .coupon-wrapper span {
    display: block;
    font-size: 10px;
    line-height: 16px;
    padding: 0 3px;
}

.ads-list .goods-item a.img .coupon-wrapper .coupon {
    color: #EDFF00;
}

.ads-list .goods-item a.img .coupon-wrapper .price {
    color: #FFF;
}

.ads-list .goods-item a.img img {
    width: 100%;
    border: none;
}

.ads-list .goods-item a.title {
    width: 100%;
}

.ads-list .goods-item a.title .text {
    word-break: break-all;
    width: 100%;
    overflow: hidden;
    color: #a3a3a3;
    font-size: 12px;
    text-align: center;
    height: 18px;
}

.ads-list .goods-item .price-wrapper {
    position: relative;
    margin: 0.2em 0;
}

.ads-list .goods-item .price-wrapper .text {
    color: #a3a3a3;
    font-size: 12px;
    display: inline-block;
}

.ads-list .goods-item .price-wrapper .price {
    color: #ff4b5f;
    font-size: 14px;
    margin-left: -0.3em;
    display: inline-block;
    margin-top: 0.1em;
}

.ads-list .goods-item .price-wrapper .sold-wrapper {
    position: absolute;
    right: 0;
    top: 0.05em;
}

.ads-list .goods-item .price-wrapper .sold-wrapper .sold-num {
    color: #ecabab;
    font-size: 12px;
}

.ads-list .goods-item .price-wrapper .sold-wrapper .text {
    color: #a3a3a3;
    font-size: 12px;
}

.load-more {
    text-align: center;
    background-color: #fff;
    color: #a3a3a3;
}

.find-wrapper {
    padding: 16px 25px 0 25px;
    position: relative;
}

.find-wrapper .l-border {
    position: absolute;
    background-color: #f0215b;
    width: 1px;
    height: 0.5em;
    display: block;
    top: 16px;
    left: 0;
}

.find-wrapper .r-border {
    background-color: #f0215b;
    width: 1px;
    height: 0.5em;
    display: block;
    top: 16px;
    right: 0;
    position: absolute;
}

.find-wrapper .border-btm {
    float: left;
    border-bottom: 1px solid #FF6600;
    width: 100%;
}

.find-wrapper .border-btm .input-wrapper {
    float: left;
    width: 88%;
}

.find-wrapper .border-btm .input-wrapper input {
    margin-bottom: 0;
    padding: 12px 10px;
    line-height: 17px;
    height: 25px;
    font-size: 12px;
    border: 0;
}

.find-wrapper .border-btm .search-btn-wrapper {
    position: absolute;
    display: block;
    top: 4px;
    right: 2px;
}

.find-wrapper .border-btm .search-btn-wrapper button {
    background: url("../images/wap-search.png?v=23") no-repeat;
    width: 16px;
    height: 20px;
    border: none;
}

.main-cat {
    list-style: none;
    padding: 20px 25px 0 25px;
}

.main-cat a {
    color: #4a4956;
    display: block;
    position: relative;
    margin: 30px 0;
    padding-left: 50px;
}

.main-cat a .icon {
    position: absolute;
    left: 0;
    top: -3px;
    background: url("../images/wap-icons.png") no-repeat;
    display: block;
    width: 22px;
    height: 22px;
}

.main-cat a .arrow {
    background: url("../images/wap-arrow-right.png") no-repeat;
    width: 8px;
    height: 14px;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.main-cat a .index {
    background-position: -10px 0;
}

.main-cat a .clothes {
    background-position: -10px -72px;
}

.main-cat a .muyin {
    background-position: -10px -143px;
}

.main-cat a .hzp {
    background-position: -11px -208px;
}

.main-cat a .jj {
    background-position: -12px -278px;
    width: 24px;
    height: 27px;
}

.main-cat a .xbps {
    background-position: -10px -353px;
    width: 24px;
}

.main-cat a .ms {
    background-position: -11px -421px;
}

.main-cat a .wtyp {
    background-position: -10px -491px;
    width: 23px;
    height: 23px;
}

.main-cat a .smjd {
    background-position: -10px -561px;
}

.detail-wrapper {
    padding: 0 0px 15px 0px;
    margin-top: 0px;
    background-color: #FFF;
}

.detail-wrapper .title-wrapper {
    position: relative;
    font-size: 14px;
    width: 100%;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #E6E6E6;
    overflow: hidden;
	padding-left: 10px;
}

.detail-wrapper .title-wrapper .tmall {
    background: url("../images/tmall.png") 0 0 no-repeat;
    width: 16px;
    height: 16px;
    display: block;
    float: left;
    margin-right: 5px;
    margin-top: 12px;
}

.detail-wrapper .title-wrapper .taobao {
    background: url("../images/taobao.png") 0 0 no-repeat;
    width: 16px;
    height: 16px;
    display: block;
    float: left;
    margin-top: 12px;
    margin-right: 5px;
}

.detail-wrapper .img {
    position: relative;
    margin: 0 auto;
}

.detail-wrapper .img img {
    display: block;
    border: 0;
    width:100%;
    height: auto;
}

.detail-wrapper .img span {
    position: absolute;
    left: 1px;
    bottom: 19px;
    display: block;
     
    height: 30px;
    line-height: 21px;
     
    text-align: center;
    color: #FFF;
    font-size: 14px;
    background-color: rgba(40, 40, 40, .7);
    z-index: 2;
}

.detail-wrapper .recommend-wrapper {
    margin-top: 15px;
}

.detail-wrapper .recommend-wrapper .text {
    color: #565656;
    font-size: 14px;
    line-height: 22px;
    color: #f00582;
}

.detail-wrapper .recommend-wrapper .text span {
    padding: 3px 5px;
    margin-right: 10px;
    color: #f00582;
    border: 1px solid #f00582;
    font-size: 12px;
}

.detail-wrapper .coupon-text-wrapper {
    font-size: 14px;
    color: #8c8c8c;
    position: relative;
    margin: 10px 0;
}

.detail-wrapper .coupon-text-wrapper .num {
    color: #db4040;
    margin: 0 10px;
}

.detail-wrapper .coupon-text-wrapper .over {
    position: absolute;
    right: 0;
    top: 0;
}

.detail-wrapper .coupon-text-wrapper .over .num {
    margin: 0 3px;
}

.detail-wrapper .coupon-wrapper {
    border: 1px solid #fdafaf;
    display: block;
    text-align: center;
    padding: 19px 0;
}

.detail-wrapper .coupon-wrapper .text1 {
    font-weight: bold;
    font-size: 14px;
}

.detail-wrapper .coupon-wrapper .price1 {
    color: #f0215b;
    font-size: 24px;
    font-weight: bold;
}

.detail-wrapper .coupon-wrapper .text2 {
    margin-left: 35px;
    color: #767676;
    font-size: 14px;
}

.detail-wrapper .coupon-wrapper .price2 {
    color: #767676;
    font-size: 14px;
}

.buy-wrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    padding: 0 10px;
    line-height: 50px;
    box-shadow: 0 0 5px 0 rgba(218, 218, 218, 0.75);
    background-color: #FFF;
    font-size: 12px;
    overflow: hidden;
    z-index: 100;
}

.buy-wrapper span {
    color: #3E3E3E;
}

.buy-wrapper span i {
    color: #FF6600;
    font-style: normal;
}

.buy-wrapper span i b {
    margin-left: 2px;
    font-weight: normal;
}

.buy-wrapper .coupon {
    margin-left: 3px;
    text-decoration: line-through;
}

@media screen and (max-width: 350px) {
    .buy-wrapper .price i b {
        font-size: 14px;
    }

    .buy-wrapper .coupon i b {
        font-size: 14px;
    }

    .buy-wrapper .coupon-btn {
        width: 50px;
    }

    .buy-wrapper .buy-btn {
        width: 50px;
    }
}

@media screen and (min-width: 351px) {
    .buy-wrapper .price i b {
        font-size: 18px;
    }

    .buy-wrapper .coupon i b {
        font-size: 16px;
    }
}

.buy-wrapper .coupon-btn {
    position: relative;
    float: right;
    height: 38px;
    line-height: 38px;
    margin-top: 6px;
    padding-left: 10px;
    text-align: left;
    background-color: #FFF1E7;
}

.buy-wrapper .coupon-btn .coupon-btn-l {
    color: #FF3C00;
}

.buy-wrapper .coupon-btn .coupon-btn-l i {
    margin: 0 3px;
    font-size: 18px;
}

.buy-wrapper .coupon-btn .coupon-btn-r {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 43px;
    height: 38px;
    padding: 4px 0;
    line-height: 15px;
    text-align: center;
    color: #FFF;
    background-image: url("../images/coupon-btn.png?v=0830");
    background-position: left center;
    background-repeat: no-repeat;
    background-origin: padding-box;
    background-size: 100% 100%;
}

.buy-wrapper .buy-btn {
    float: right;
    height: 38px;
    line-height: 38px;
    margin-top: 6px;
    margin-left: 10px;
    background-color: #ED145B;
    color: #FFF;
    text-align: center;
}

@media screen and (max-width: 350px) {
    .buy-wrapper .coupon-btn {
        width: 70px;
        text-align: center;
        padding-left: 0;
    }

    .buy-wrapper .coupon-btn .coupon-btn-r {
        display: none;
    }

    .buy-wrapper .buy-btn {
        width: 70px;
    }
}

@media screen and (min-width: 351px) and (max-width: 480px) {
    .buy-wrapper .coupon-btn {
        width: 110px;
    }

    .buy-wrapper .buy-btn {
        width: 65px;
    }
}

@media screen and (min-width: 481px) {
    .buy-wrapper .coupon-btn {
        width: 120px;
    }

    .buy-wrapper .buy-btn {
        width: 120px;
    }
}

.pos-box {
    padding: 10px 15px 60px 15px;
}

.pos-box .pos-title {
    height: 24px;
    line-height: 24px;
    color: #565656;
}

.pos-box .pos-title i {
    float: left;
    width: 22px;
    height: 24px;
    margin-top: -1px;
    margin-right: 10px;
    background: url("../images/show-pos.png") no-repeat center center;
    background-size: 100%;
}

.pos-box .ads-list {
    padding: 0;
    background-color: transparent;
}

.goto-div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: none;
    border-bottom: 1px solid #EEE;
    border-radius: 2px 2px 0 0;
    background-color: #F8F8F8;
    overflow: hidden;
}

.goto-btn {
    display: block;
    width: 128px;
    height: 30px;
    line-height: 30px;
    margin: 11px auto;
    text-align: center;
    background-color: #FF6C00;
    font-size: 12px;
    color: #FFF;
}

.layui-layer-iframe {
    margin-top: -25px !important;
}

.layui-layer-iframe .layui-layer-content {
    padding-top: 53px !important;
    overflow: visible !important;
    background-color: #F8F8F8 !important;
}

.mask-tips {
    position: fixed;
    width: 80% !important;
    height: auto;
    background-color: rgba(255, 102, 0, .7) !important;
    background-size: 100%;
    border-radius: 20px !important;
}

.mask-tips img.wechat-bg {
    width: 100%;
    height: auto;
    vertical-align: middle;
}

.mask-tips img.wechat-arrow {
    position: absolute;
    top: -125px;
    right: -10%;
}

.mask-tips .layui-layer-content {
    overflow: visible !important;
}

html, body {
    background-color: #F9F9F9;
}

/*.detail-wrapper .buy-wrapper img {*/
/*border: 0;*/
/*margin-top: 1px;*/
/*}*/
/*.detail-wrapper .buy-wrapper .buy {*/
/*position: absolute;*/
/*right: 0;*/
/*top: 0;*/
/*background-color: #f0215b;*/
/*color: #FFFFFF;*/
/*line-height: 36px;*/
/*font-size: 12px;*/
/*text-align: center;*/
/*width: 40%;*/
/*}*/
