{template 'header'}
<body class="pageIndex">
<div id="hook-app">
    <div class="scroll-img">
        <yd-slider autoplay="3000">
            <yd-slider-item>
                <a href="">
                    <img src="" />
                </a>
            </yd-slider-item>
            <yd-slider-item>
                <a href="">
                    <img src="" />
                </a>
            </yd-slider-item>
            <yd-slider-item>
                <a href="">
                    <img src="" />
                </a>
            </yd-slider-item>
        </yd-slider>
    </div>
    <div class="notice-scroll">
        <yd-rollnotice autoplay="2000">
            <yd-rollnotice-item
            ><span style="color:#F00;"> 荐 </span>荣耀V9
                3月超级钜惠！</yd-rollnotice-item
            >
            <yd-rollnotice-item
            ><span style="color:#F00;"> 荐 </span
            >3.23京东超级品牌日格力盛典</yd-rollnotice-item
            >
            <yd-rollnotice-item
            ><span style="color:#F00;"> 荐 </span>京东服饰
                早春新品低至7折</yd-rollnotice-item
            >
        </yd-rollnotice>
    </div>
    <div class="bianmin">
        <yd-grids-group :rows="4">
            <yd-grids-item>
                <i class="icon iconfont icon-che" slot="icon"></i>
                <span slot="text">车辆信息</span>
            </yd-grids-item>
            <yd-grids-item>
                <i class="icon iconfont icon-Help" slot="icon"></i
                ><span slot="text">违章查询</span>
            </yd-grids-item>
            <yd-grids-item
            ><i class="icon iconfont icon-jilu" slot="icon"></i>
                <span slot="text">车辆限行</span>
            </yd-grids-item>
            <yd-grids-item>
                <i class="icon iconfont icon-paizhao1" slot="icon"></i
                ><span slot="text">天气预报</span>
            </yd-grids-item>
        </yd-grids-group>
        <yd-grids-group :rows="4">
            <yd-grids-item>
                <i class="icon iconfont icon-che" slot="icon"></i>
                <span slot="text">车辆信息</span>
            </yd-grids-item>
            <yd-grids-item>
                <i class="icon iconfont icon-Help" slot="icon"></i
                ><span slot="text">违章查询</span>
            </yd-grids-item>
            <yd-grids-item
            ><i class="icon iconfont icon-jilu" slot="icon"></i>
                <span slot="text">车辆限行</span>
            </yd-grids-item>
            <yd-grids-item>
                <i class="icon iconfont icon-paizhao1" slot="icon"></i
                ><span slot="text">天气预报</span>
            </yd-grids-item>
        </yd-grids-group>
    </div>
    <div class="help">
        <!-- <div class="help-title">问题专区</div> -->
        <div class="help-body">
            <yd-accordion>
                <yd-accordion-item title="Q1 我绑定信息后会泄漏吗？">
                    <div style="padding: .24rem;">
                        <p>花间一壶酒，独酌无相亲。</p>
                        <p>举杯邀明月，对影成三人。</p>
                        <p>月既不解饮，影徒随我身。</p>
                        <p>暂伴月将影，行乐须及春。</p>
                        <p>我歌月徘徊，我舞影零乱。</p>
                        <p>醒时同交欢，醉后各分散。</p>
                        <p>永结无情游，相期邈云汉。</p>
                    </div>
                </yd-accordion-item>
                <yd-accordion-item title="Q2 我接打电话会收费吗？">
                    <div style="padding: .24rem;">
                        <p>岱宗夫如何，齐鲁青未了。</p>
                        <p>造化钟神秀，阴阳割昏晓。</p>
                        <p>荡胸生层云，决眦入归鸟。</p>
                        <p>会当凌绝顶，一览众山小。</p>
                    </div>
                </yd-accordion-item>
                <yd-accordion-item title="Q3 我让别人挪车，需要提供手机号吗？">
                    <div style="padding: .24rem;">
                        <p>言入黄花川，每逐青溪水。</p>
                        <p>随山将万转，趣途无百里。</p>
                        <p>声喧乱石中，色静深松里。</p>
                        <p>漾漾泛菱荇，澄澄映葭苇。</p>
                        <p>我心素已闲，清川澹如此。</p>
                        <p>请留盘石上，垂钓将已矣。</p>
                    </div>
                </yd-accordion-item>
            </yd-accordion>
        </div>
    </div>

    {template 'footer'}
</div>

<script>
    new Vue({
        el: '#hook-app',
        data: {
            checkedNames: ['Han MeiMei']
        }
    });
</script>
</body>
</html>
