{template 'common/header'}
{template 'web/agent/position'}
<?php
$config = get_module_info();
$category = explode(',',$config['category']);
$vip_groups = pdo_getall(Table::GROUP,['weid'=>$_W['uniacid']],'','',['sort asc']);
?>
<div class="widget">
    <header class="widget-header">
        <h4 class="widget-title liuer-widget-title">添加代理商</h4>
    </header>
    <hr class="widget-separator">
    <div class="widget-body">
        <form action="" method="post" class="form-horizontal" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="" class="control-label col-sm-2">代理商名称</label>
                    <div class="form-controls col-sm-8">
                        <input type="text" class="form-control" name="name">
                        <span class="help-block">代理商的全称 </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">绑定自动成为会员级别</label>
                    <div class="col-sm-8">
                        <select name="auto_level" id="auto_level" class="form-control">
                            <option value="0">请选择</option>
                            <?php foreach($vip_groups as $group): ?>
                            <option value="<?php echo $group['id']; ?>"><?php echo $group['name']; ?></option>
                            <?php endforeach; ?>
                        </select>
                    </div>
                </div>
                <?php if($_GPC['install_plugin_agent']): ?>
                <div class="form-group">
                    <label for="" class="control-label col-sm-2">用户名</label>
                    <div class="form-controls col-sm-8">
                        <input type="text" class="form-control" name="username">
                        <span class="help-block">登陆用户名 </span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="control-label col-sm-2">密码</label>
                    <div class="form-controls col-sm-8">
                        <input type="password" class="form-control" name="password">
                        <span class="help-block">登陆密码 </span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="control-label col-sm-2">自定义第三方链接</label>
                    <div class="form-controls col-sm-8">
                        <input type="text" class="form-control" name="linkurl">
                        <span class="help-block">第三方商城的链接 </span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="control-label col-sm-2">经营类目</label>
                    <div class="form-controls col-sm-8">
                        <input type="hidden" name="category" value="">
                        <?php foreach($category as $cat): ?>
                        <label class="checkbox-inline">
                            <input type="checkbox" name="category[]" value="<?php echo $cat; ?>"> <?php echo $cat; ?>
                        </label>
                        <?php endforeach; ?>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="control-label col-sm-2">品牌</label>
                    <div class="form-controls col-sm-8">
                        <input type="text" class="form-control" name="brand">
                        <span class="help-block">经营品牌,已逗号隔开</span>
                    </div>
                </div>
                <?php endif; ?>
                <div class="form-group">
                    <label for="" class="control-label col-sm-2">电话</label>
                    <div class="form-controls col-sm-8">
                        <input type="text" class="form-control" name="mobile">
                        <span class="help-block">服务电话 </span>
                    </div>
                </div>
                <?php if($_GPC['install_plugin_agent']): ?>
                <div class="form-group">
                    <label for="" class="control-label col-sm-2">营业开始时间</label>
                    <div class="form-controls col-sm-8">
                        {php echo tpl_form_field_clock('open_start','')}
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="control-label col-sm-2">营业结束时间</label>
                    <div class="form-controls col-sm-8">
                        {php echo tpl_form_field_clock('open_end','')}
                    </div>
                </div>
                <?php endif; ?>
                <div class="form-group">
                    <label for="" class="control-label col-sm-2">缩略图</label>
                    <div class="form-controls col-sm-8">
                        {php echo tpl_form_field_image('thumb','');}
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="control-label col-sm-2">地址</label>
                    <div class="form-controls col-sm-8">
                        <input type="text" class="form-control" id="address" name="address">
                        <span class="help-block">输入具体的地址 </span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="control-label col-sm-2">坐标</label>
                    <div class="form-controls col-sm-8">
                        <div class="row row-fix">
                            <div class="col-xs-4 col-sm-4">
                                <input type="text" name="longitude" id="lng" value="" placeholder="地理经度" class="form-control">
                            </div>
                            <div class="col-xs-4 col-sm-4">
                                <input type="text" name="latitude" id="lat" value="" placeholder="地理纬度" class="form-control">
                            </div>
                            <div class="col-xs-4 col-sm-4">
                                <button id="choseAddress" class="btn btn-default" type="button">选择坐标</button>
                            </div>
                        </div>
                    </div>
                </div>
                <?php if($_GPC['install_plugin_agent']): ?>
                <div class="form-group">
                    <label for="" class="control-label col-sm-2">详细介绍</label>
                    <div class="form-controls col-sm-8">
                        {php echo tpl_ueditor('diy_content')}
                    </div>
                </div>
                <?php endif; ?>
                <div class="form-group">
                    <label class="col-sm-2 control-label">是否在商户列表显示</label>
                    <div class="col-sm-8">
                        <select name="is_show" class="form-control">
                            <option value="1">显示</option>
                            <option value="0">隐藏</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                        <input name="submit" value="提交" class="btn btn-primary btn-submit" type="submit">
                        <input type="hidden" name="token" value="{$_W['token']}" />
                    </div>
                </div>
        </form>
            <!--<iframe id="mapPage" width="100%" height="100%" frameborder=0
                    src="http://apis.map.qq.com/tools/locpicker?search=1&type=1&key=FMXBZ-OTLW4-TKJU4-XZCEY-VEZHE-CKBJU&referer=myapp">
            </iframe>-->
    </div>
</div>
<script>
    var ischose = 0;
    var lat = '';
    var lng = '';
    $('#choseAddress').click(function () {
        //iframe层
        layer.open({
            type: 2,
            title: '选择你的地点',
            shadeClose: true,
            shade: 0.8,
            area: ['1000px', '90%'],
            content: reformUrl()
        });
    });
    function reformUrl(){
        if(!ischose){
            var url = "https://apis.map.qq.com/tools/locpicker?search=1&type=1&key={$config['map_key']}&referer=myapp";
        }else{
            var url = "https://apis.map.qq.com/tools/locpicker?search=1&type=1&coord="+lat+","+lng+"&key={$config['map_key']}&referer=myapp";
        }
        return url;
    }
    window.addEventListener('message', function(event) {
        var loc = event.data;
        if (loc && loc.module == 'locationPicker') {
            console.log('location', loc);
            ischose = 1;
            lat = loc.latlng.lat.toFixed(6);
            lng = loc.latlng.lng.toFixed(6);
            $('#lat').val(lat);
            $('#lng').val(lng);
            layer.closeAll();
        }
    }, false);
</script>
{template 'common/footer'}