<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <title>渠道商登录</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" >
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" href="{MODULE_URL}/template/static/root/css/root.css">
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="{MODULE_URL}/template/static/root/js/root.js"></script>
    <script src="{MODULE_URL}/template/static/root/js/respond.js"></script>
    <script src="{MODULE_URL}/template/static/root/js/pin.js"></script>
    <script src="https://cdn.bootcss.com/layer/3.0.3/layer.js"></script>
</head>