{include file="common/header"}

<!--main-body-->
<!--main-body-->
<section class="main-body">
    <div class="main_content">
        <!--second sidebar-->
        {include file="platform/pub/setting-nav"}
        <!--main body content-->
        <div class="main_mbody">
            <div class="col-xs-12">
                <div class="main_mbody-title">
                    <h5>邮箱通知（QQ邮箱）</h5>
                </div>
                <div class="main-con">
                    <form action="">

                        <div class="form-group col-xs-12 row">
                            <label class="control-label col-xs-6 col-sm-4">
                                <span class="text-danger">*</span>
                                <span class="text-title">开启邮箱提醒</span>
                                <span class="text-danger2">:</span>
                            </label>
                            <div class="col-xs-6 col-sm-8 row input_box">
                                <input type="checkbox" class="switch-state hide"/>
                                <input type="hidden" name="switch" id="switch" value="{$email.switch}"/>
                            </div>
                        </div>
                        <div class="form-group col-xs-12 row">
                            <label class="control-label col-xs-6 col-sm-4">
                                <span class="text-title">发件人邮箱</span>
                                <span class="text-danger2">:</span>
                            </label>
                            <div class="col-xs-6 col-sm-8 row input_box">
                                <input class="control-input" type="text" autocomplete="off" name="sender" id="sender" value="{$email.sender}">
                            </div>
                        </div>
                        <div class="form-group col-xs-12 row">
                            <label class="control-label col-xs-6 col-sm-4">
                                <span class="text-title">SMTP</span>
                                <span class="text-danger2">:</span>
                            </label>
                            <div class="col-xs-6 col-sm-8 row input_box">
                                <input class="control-input" type="text" autocomplete="off" name="smtp" id="smtp" value="{$email.smtp}">
                            </div>
                        </div>
                        <div class="form-group col-xs-12 row">
                            <label class="control-label col-xs-6 col-sm-4">
                                <span class="text-title">端口</span>
                                <span class="text-danger2">:</span>
                            </label>
                            <div class="col-xs-6 col-sm-8 row input_box">
                                <input class="control-input" type="text" autocomplete="off" name="port" id="port" value="{$email.port}">
                            </div>
                        </div>
                        <div class="form-group col-xs-12 row">
                            <label class="control-label col-xs-6 col-sm-4">
                                <span class="text-title">授权码</span>
                                <span class="text-danger2">:</span>
                            </label>
                            <div class="col-xs-6 col-sm-8 row input_box">
                                <div class="control-box">
                                    <input class="control-input" type="text" autocomplete="off" name="code" id="code" value="{$email.code}">
                                    <div class="control-hide control-hide-textarea">已隐藏内容，点击查看或编辑</div>
                                </div>
                                <span class="control-tips"><a href="http://service.mail.qq.com/cgi-bin/help?subtype=1&&no=1001256&&id=28" target="_blank">什么是授权码？</a></span>
                            </div>
                        </div>
                        <div class="form-group col-xs-12 row">
                            <label class="control-label col-xs-6 col-sm-4">
                                <span class="text-title">发件平台名称</span>
                                <span class="text-danger2">:</span>
                            </label>
                            <div class="col-xs-6 col-sm-8 row input_box">
                                <input class="control-input" type="text" autocomplete="off" name="name" id="name" value="{$email.name}">
                            </div>
                        </div>
                        <div class="form-group col-xs-12 row">
                            <label class="control-label col-xs-6 col-sm-4">
                                <span class="text-title">收件人邮箱</span>
                                <span class="text-danger2">:</span>
                            </label>
                            <div class="col-xs-6 col-sm-8 row input_box">
                                <input class="control-input" type="text" autocomplete="off" name="address" id="address" value="{$email.address}">
                                <span class="control-tips">多个请用英文逗号","隔开</span>
                            </div>
                        </div>

                        <div class="main_mbody-footer">
                            <div class="form-group col-xs-12 row">
                                <label class="control-label col-xs-6 col-sm-4">
                                </label>
                                <div class="col-xs-6 col-sm-8 row">
                                    <input type="hidden" name="id" id="id" value="{$email.id}" />
                                    <input class="btn control-submit" type="submit" value="保存">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            {include file="common/copyright"}
        </div>
    </div>
</section>
<!--翻页-->
<script type="text/javascript" src="__PUBLIC__/js/pageNav.js"></script>
<!--地图插件-->
<script type="text/javascript" src="__PUBLIC__/js/MapType.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/MapGrid.js"></script>

{include file="common/footer"}
<script src="__PUBLIC__/js/switch.js"></script>
<script>

    var switches = {};
    var switchConfig = {
        'switch-state': {
            checked: {if $email.switch}{$email.switch}{else}0{/if},
            showText: true,
            onText: '开启',
            offText: '关闭',
            onChange: function (i) {
                console.log(i)
                if (i == true){
                    $('#switch').val(1);
                }else {
                    $('#switch').val(0);
                }
            }
        }
    };

    Object.keys(switchConfig).forEach(function (key) {
        switches[key] = new Switch(document.querySelector('.' + key),switchConfig[key]);
    });

</script>
<script>

    $("form").submit(function(e){
        e.preventDefault();//阻止默认提交,表单不写method="post"这个可以不要
        //$("#editor").val(CKEDITOR.instances.content.getData());
//获取form表单中所提交 的内容
        var d = {};
        var t = $('form').serializeArray();
        $.each(t, function() {
            d[this.name] = this.value;
        });



        $.ajax({
            type: "post",
            url: "{:url('boguan/platform.setting/email')}",
            //dataType:"json",
            data:{
                'data': d,
            },

            success: function(data) {
                console.log(data);
                if (data.errorCode == 1) {
                    //alert(data.msg);
                    layui.use(['layer','form'], function(){
                        var layer = layui.layer,form = layui.form;

                        layer.msg(data.msg, {icon: 1, time:1000}, function(){
                            //window.history.go(-1);location.reload();
                            //window.location=document.referrer;
                        });
                    });

                    //window.location.reload()
                } else {
                    layui.use(['layer','form'], function(){
                        var layer = layui.layer,form = layui.form;;

                        layer.msg(data.msg, {icon: 2, time:1000});
                    });
                }
            },
            error: function (data) {
                console.log(data.responseText);
                layui.use(['layer','form'], function(){
                    var layer = layui.layer,form = layui.form;;

                    layer.msg(data.msg, {icon: 2, time:1000});
                });
            }
        });

    });
</script>

