{template 'web/common/common'}
{template 'web/system/navbar'}
{template 'web/system/navbar_li'}
<style>
    .layui-input-block{margin-left: 170px;}
</style>
<div class="layui-card">
    <form class="layui-form" method="post" action="">
        <div class="layui-form-item">
            <label class="layui-form-label" style="width: 160px;">开启邮箱提醒</label>
            <div class="layui-input-block">
                {if $data['list']['is_open_QQMail_notice']==1}
                <label class="radio-inline">
                    <input type="radio" name="is_open_QQMail_notice" value="1" title="开启" checked="">
                </label>
                <label class="radio-inline">
                    <input type="radio" name="is_open_QQMail_notice" value="0" title="关闭">
                </label>
                {else}
                <label class="radio-inline">
                    <input type="radio" name="is_open_QQMail_notice" value="1" title="开启" >
                </label>
                <label class="radio-inline">
                    <input type="radio" name="is_open_QQMail_notice" value="0" title="关闭" checked="">
                </label>
                {/if}
            </div>
        </div>

        <div class="layui-form-item alidayu">
            <label class="layui-form-label" style="width: 160px;">发件人邮箱</label>
            <div class="layui-input-block">
                <input type="text" name="sender_mailbox" value="{$data['list']['sender_mailbox']}" placeholder="发件人邮箱" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item alidayu">
            <label class="layui-form-label" style="width: 160px;">授权码</label>
            <div class="layui-input-block">
                <input type="text" name="qq_auth_code" value="{$data['list']['qq_auth_code']}" placeholder="授权码" class="layui-input">
                <div class="layui-form-mid layui-word-aux"><a style="color: blue;font-size: 12px;" target="_blank" href="https://service.mail.qq.com/cgi-bin/help?subtype=1&&no=1001256&&id=28">什么是授权码？</a></div>
            </div>
        </div>

        <div class="layui-form-item aliyun">
            <label class="layui-form-label" style="width: 160px;">发件平台名称</label>
            <div class="layui-input-block">
                <input type="text" name="sender_platform_name" value="{$data['list']['sender_platform_name']}" placeholder="发件平台名称" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item aliyun">
            <label class="layui-form-label" style="width: 160px;">收件人邮箱</label>
            <div class="layui-input-block">
                <input type="text" name="addressee_mailbox" value="{$data['list']['addressee_mailbox']}" placeholder="收件人邮箱" class="layui-input">
                <div class="layui-form-mid layui-word-aux" style="font-size: 12px;">多个请用英文逗号隔开</div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn layui-btn-sm" type="button" lay-filter="formSubmit" lay-submit="">保存</button>
            </div>
        </div>
    </form>
</div>
{template 'common/footer'}
<script src="../addons/kundian_farm/resource/js/main.js" charset="utf-8"></script>
<script>
    layui.use(['form', 'layedit', 'laydate'], function(){
        var form = layui.form,layer = layui.layer;
        form.on('submit(formSubmit)',function (data) {
            var formData = data.field;
            var url = "{url 'site/entry/admin',array('m'=>'kundian_farm','op'=>'QQMailSet','action'=>'system')}";
            var data = {
                formData: formData
            };
            postData(url, data);
            return false;
        })
    });
</script>