{template 'web/common/common'}
{template 'web/user/navbar'}
<link rel="stylesheet" type="text/css" href="../addons/{php echo $_GPC['m']}/resource/swal/dist/sweetalert2.min.css" />
<link rel="stylesheet" type="text/css" href="../addons/kundian_farm/resource/css/layui.css" />
<link rel="stylesheet" type="text/css" href="../addons/kundian_farm/resource/css/new-common.css" />
<script src="../addons/kundian_farm/resource/layui.js" charset="utf-8"></script>
<blockquote class="layui-elem-quote layui-text">
  签到记录
</blockquote>
<div class="new-style">
    <div class="layui-form">
        <table class="layui-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>微信昵称</th>
                <th>签到时间</th>
                <th>签到获得积分</th>
                <th>连续签到天数</th>
            </tr>
        </thead>
        <tbody>
            {loop $list $index $item}
            <tr>
                <td>{$item['id']}</td>
                <td>{$item['nickname']}</td>
                <td>{$item['sign_time']}</td>
                <td>{$item['score']}</td>
                <td>{$item['continue_day']}</td>
            </tr>
          {/loop}
        </tbody>
      </table>
        <div style="text-align: right;">
            {$pager}
        </div>
    </div>
</div>