<!DOCTYPE html>
<html lang="zh-cn">
<head>
	{php $setting = $this->getSystemSetting();}
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{php echo $setting['pt_name']?$setting['pt_name'].'-':''}后台管理系统</title>
	<meta name="keywords" content="{if empty($_W['page']['copyright']['keywords'])}{if IMS_FAMILY != 'x'}微擎,微信,微信公众平台,we7.cc{/if}{else}{$_W['page']['copyright']['keywords']}{/if}" />
	<meta name="description" content="{if empty($_W['page']['copyright']['description'])}{if IMS_FAMILY != 'x'}公众平台自助引擎（www.zhycms.com），简称cms，cms是一款免费开源的微信公众平台管理系统，是国内最完善移动网站及移动互联网技术解决方案。{/if}{else}{$_W['page']['copyright']['description']}{/if}" />
	<link rel="shortcut icon" href="{$_W['siteroot']}{$_W['config']['upload']['attachdir']}/{if !empty($_W['setting']['copyright']['icon'])}{$_W['setting']['copyright']['icon']}{else}images/global/wechat.jpg{/if}" />
	<link href="{$_W['siteroot']}/web/resource/css/bootstrap.min.css" rel="stylesheet">
	<link href="{$_W['siteroot']}/web/resource/css/font-awesome.min.css" rel="stylesheet">
	<link href="{$_W['siteroot']}/web/resource/css/common.css" rel="stylesheet">
	<link href="{$_W['siteroot']}/addons/yzhyk_sun/static/css/common_ext.css" rel="stylesheet">
	<link rel="stylesheet" href="{$_W['siteroot']}/addons/yzhyk_sun/static/layui/css/layui.css?1"  media="all">

	<script src="{$_W['siteroot']}/addons/yzhyk_sun/static/layui/jquery-3.2.1.min.js" charset="utf-8"></script>
	<script src="{$_W['siteroot']}/addons/yzhyk_sun/static/layui/util.js" charset="utf-8"></script>
	<script src="{$_W['siteroot']}/addons/yzhyk_sun/static/layui/ueditor.config.js" charset="utf-8"></script>
	<script src="{$_W['siteroot']}/addons/yzhyk_sun/static/layui/ueditor.all.min.js" charset="utf-8"></script>
	<script src="{$_W['siteroot']}/addons/yzhyk_sun/static/layui/layui.js" charset="utf-8"></script>
	<script src="{$_W['siteroot']}/addons/yzhyk_sun/static/js/pinyin.js" charset="utf-8"></script>
	<script type="text/javascript">
		if(navigator.appName == 'Microsoft Internet Explorer'){
			if(navigator.userAgent.indexOf("MSIE 5.0")>0 || navigator.userAgent.indexOf("MSIE 6.0")>0 || navigator.userAgent.indexOf("MSIE 7.0")>0) {
				alert('您使用的 IE 浏览器版本过低, 推荐使用 Chrome 浏览器或 IE8 及以上版本浏览器.');
			}
		}
		window.sysinfo = {
		{if !empty($_W['uniacid'])}'uniacid': '{$_W['uniacid']}',{/if}
		{if !empty($_W['acid'])}'acid': '{$_W['acid']}',{/if}
		{if !empty($_W['openid'])}'openid': '{$_W['openid']}',{/if}
		{if !empty($_W['uid'])}'uid': '{$_W['uid']}',{/if}
		'siteroot': '{$_W['siteroot']}',
				'siteurl': '{$_W['siteurl']}',
				'attachurl': '{$_W['attachurl']}',
				'attachurl_local': '{$_W['attachurl_local']}',
				'attachurl_remote': '{$_W['attachurl_remote']}',
		{if defined('MODULE_URL')}'MODULE_URL': '{MODULE_URL}',{/if}
		'cookie' : {'pre': '{$_W['config']['cookie']['pre']}'},
		'account' : {php echo json_encode($_W['account'])}
		};
	</script>
	<script>var require = { urlArgs: 'v=20161011' };</script>
	<script type="text/javascript" src="{$_W['siteroot']}/web/resource/js/lib/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="{$_W['siteroot']}/web/resource/js/app/util.js?v=20161011"></script>
	<script type="text/javascript" src="{$_W['siteroot']}/web/resource/js/app/common.min.js?v=20161011"></script>
	<script type="text/javascript" src="{$_W['siteroot']}/web/resource/js/require.js?v=20161011"></script>
	<script type="text/javascript" src="{$_W['siteroot']}/web/resource/js/app/config.js?v=20161011"></script>

<!--select2-->
	<link href="{$_W['siteroot']}/addons/yzhyk_sun/static/select2/select2.css" rel="stylesheet" />
	<script type="text/javascript">
		requireConfig.paths.bootstrap = "{$_W['siteroot']}/web/resource/js/lib/bootstrap.min";
			requireConfig.paths['datetimepicker'] = "{$_W['siteroot']}/web/resource/js/../components/datetimepicker/jquery.datetimepicker";
			requireConfig.paths['daterangepicker'] = "{$_W['siteroot']}/web/resource/js/../components/daterangepicker/daterangepicker";
			requireConfig.paths['colorpicker'] = "{$_W['siteroot']}/web/resource/js/../components/colorpicker/spectrum";
			requireConfig.paths['webuploader'] = "{$_W['siteroot']}/web/resource/js/../components/webuploader/webuploader.min";
			requireConfig.paths['fileUploader'] = "{$_W['siteroot']}/web/resource/js/../components/fileuploader/fileuploader.min";
			requireConfig.paths['clockpicker'] = "{$_W['siteroot']}/web/resource/js/../components/clockpicker/clockpicker.min";
			requireConfig.paths['district'] = "{$_W['siteroot']}/web/resource/js/lib/district";
			requireConfig.paths['moment'] = "{$_W['siteroot']}/web/resource/js/lib/moment";
			requireConfig.paths['emoji'] = "{$_W['siteroot']}/web/resource/js/../components/emoji/emoji";
			requireConfig.paths['fontawesome'] = "{$_W['siteroot']}/web/resource/js/../components/fontawesome/fontawesome";
			requireConfig.paths['material'] = "{$_W['siteroot']}/web/resource/js/../components/material/material";
			requireConfig.paths['trade'] = "{$_W['siteroot']}/web/resource/js/../components/trade/trade";
			requireConfig.paths['hammer'] = "{$_W['siteroot']}/web/resource/js/lib/hammer.min";
			requireConfig.paths['bootstrap.switch'] = "{$_W['siteroot']}/web/resource/js/../components/switch/bootstrap-switch.min";
			requireConfig.paths['filestyle'] = "{$_W['siteroot']}/web/resource/js/lib/bootstrap-filestyle.min";
			requireConfig.paths['validator'] = "{$_W['siteroot']}/web/resource/js/lib/bootstrapValidator.min";
			requireConfig.paths['jquery.ui'] = "{$_W['siteroot']}/web/resource/js/lib/jquery-ui-1.10.3.min";
			requireConfig.paths['jquery.caret'] = "{$_W['siteroot']}/web/resource/js/lib/jquery.caret";
			requireConfig.paths['jquery.jplayer'] = "{$_W['siteroot']}/web/resource/js/../components/jplayer/jquery.jplayer.min";
			requireConfig.paths['jquery.zclip'] = "{$_W['siteroot']}/web/resource/js/../components/zclip/jquery.zclip.min";
			requireConfig.paths['jquery.wookmark'] = "{$_W['siteroot']}/web/resource/js/lib/jquery.wookmark.min";
			requireConfig.paths['jquery.qrcode'] = "{$_W['siteroot']}/web/resource/js/lib/jquery.qrcode.min";
			requireConfig.paths['jquery.jplayer'] = "{$_W['siteroot']}/web/resource/js/../components/jplayer/jquery.jplayer.min";
			requireConfig.paths['underscore'] = "{$_W['siteroot']}/web/resource/js/lib/underscore-min";
			requireConfig.paths['biz'] = "{$_W['siteroot']}/web/resource/js/lib/biz";
			requireConfig.paths['util'] = "{$_W['siteroot']}/web/resource/js/app/util";
			requireConfig.paths['ueditor'] = "{$_W['siteroot']}/web/resource/js/../components/ueditor/ueditor.all.min";
			requireConfig.paths['angular'] = "{$_W['siteroot']}/web/resource/js/lib/angular.min";
			requireConfig.paths['angular.sanitize'] = "{$_W['siteroot']}/web/resource/js/lib/angular-sanitize.min";
			requireConfig.paths['angular.hotkeys'] = "{$_W['siteroot']}/web/resource/js/lib/angular.hotkeys";
			requireConfig.paths['loadcss'] = "{$_W['siteroot']}/web/resource/js/lib/loadcss.min";
			requireConfig.paths['css'] = "{$_W['siteroot']}/web/resource/js/lib/css.min";
			requireConfig.paths['clipboard'] = "{$_W['siteroot']}/web/resource/js/lib/clipboard.min";
			requireConfig.paths['we7.check'] = "{$_W['siteroot']}/web/resource/js/lib/we7.check";
//
			requireConfig.shim['ueditor'] = {deps:["{$_W['siteroot']}/web/resource/components/ueditor/third-party/zeroclipboard/ZeroClipboard.min.js", "{$_W['siteroot']}/web/resource/components/ueditor/ueditor.config.js"],exports: "UE",init: function(e) {window.ZeroClipboard = e}};
			requireConfig.shim['datetimepicker'] = {deps: ["loadcss!{$_W['siteroot']}/web/resource/components/datetimepicker/jquery.datetimepicker.css"]};
			requireConfig.shim['colorpicker'] = {deps: ["loadcss!{$_W['siteroot']}/web/resource/components/colorpicker/spectrum.css"]};
			requireConfig.shim['bootstrap.switch'] = {deps: ["loadcss!{$_W['siteroot']}/web/resource/components/switch/bootstrap-switch.min.css"],exports: "$"};
			requireConfig.shim['fileUploader'] = {deps: ["webuploader", "jquery.jplayer", "loadcss!{$_W['siteroot']}/web/resource/components/webuploader/webuploader.css", "loadcss!{$_W['siteroot']}/web/resource/components/webuploader/style.css"]};
			requireConfig.shim['clockpicker'] = {exports: "$",deps: ["loadcss!{$_W['siteroot']}/web/resource/components/clockpicker/clockpicker.min.css"]};
			requireConfig.shim['jquery.toast'] = {deps: ["loadcss!{$_W['siteroot']}/web/resource/components/toast/toastr.min.css"]};
			requireConfig.shim['emoji'] = {deps: ["loadcss!{$_W['siteroot']}/web/resource/components/emoji/emotions.css"]};
			requireConfig.shim['fontawesome'] = {deps: ["loadcss!{$_W['siteroot']}/web/resource/components/fontawesome/style.css"]};

			requireConfig.paths.select2 = "{$_W['siteroot']}addons/yzhyk_sun/static/select2/select2";
			require.config(requireConfig);
			require(['select2'], function () {
				$.fn.select2.defaults.set("matcher",function(params, data) {
					if ($.trim(params.term) === '') {
						return data;
					}
					if (data.keywords && data.keywords.indexOf(params.term) > -1 || data.text.indexOf(params.term) > -1) {
						return data;
					}
					return null;
				});
			});
			
			require(['bootstrap'], function(){
				$('#search-menu input').keyup(function() {
					var a = $(this).val();
					$('.big-menu .list-group-item, .big-menu .panel-heading').hide();
					$('.big-menu .list-group-item').each(function() {
						$(this).css('border-left', '0');
						if(a.length > 0 && $(this).attr('kw').indexOf(a) >= 0) {
							$(this).parents(".panel").find('.panel-heading').show();
							$(this).show().css('border-left', '3px #428bca double');
						}
					});
					if(a.length == 0) {
						$('.big-menu .list-group-item, .big-menu .panel-heading').show();
					}
				});
			});
	</script>


	<style>
/*页面布局*/
		.layui-layout-admin .layui-body {
			bottom:0px;
		}
		.layui-nav-tree{
			padding-bottom: 100px;
		}
		.layui-nav-tree a{
			text-decoration: none!important;
		}
		.layui-body{
			padding:20px;
			height:calc(100vh - 60px);
		}
		body{
			min-width: 0px !important;
			overflow: hidden;
		}
/*修改顶部下拉样式*/
		.layui-nav.layui-layout-right dd{
			line-height: 30px;
		}
/*修改列表页面样式*/
		.tool-box{
			margin-top: 10px;
			padding: 6px;
			background: #fff;
			border: 1px #ddd solid;
			border-radius: 3px;
		}
/*修改表单页面样式*/
		.layui-form{
			margin-top: 20px;
		}
		.layui-form-label{
			-webkit-box-sizing: content-box;
			-moz-box-sizing: content-box;
			box-sizing: content-box;
		}
/*select2 样式*/
		.select2-container--default .select2-selection--single{
			border-radius: 2px;
			border-color: #e6e6e6;
			height:38px;
		}
		.select2-container--default .select2-selection--single .select2-selection__rendered{
			line-height:38px;
		}
		.select2-container--default .select2-selection--single .select2-selection__arrow {
			height:34px;
		}
/*laytable 选中样式*/
		.layui-table-check{
			background-color: #e0f7de;
		}
	</style>
</head>
<body>

<script>
	//JavaScript代码区域
	layui.use(['element','table','form'], function(){
		var element = layui.element;
		var table = layui.table;
		var form = layui.form;
		//        搜索
        $('#btnSearch').click(function () {
            //执行重载
            table.reload('laytable', {
                page: {
                    curr: 1 //重新从第 1 页开始
                }
                ,where: {
                    key: $('#key').val(),
                }
            });
        });
        $('#key').on('keypress', function (e) {
            if (e.keyCode == 13){
                //执行重载
                table.reload('laytable', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    ,where: {
                        key: $('#key').val(),
                    }
                });
            }
        })
		//        排序
        table.on('sort', function(obj){
            table.reload('laytable', {
                initSort: obj,
                where: {
                    orderfield: obj.field,
                    ordertype:obj.type
                },
                page: {
                    curr: 1 //重新从第 1 页开始
                },
            });
        });
		 //更新选中状态
        function updateCheckStyle() {
            var className = "layui-table-check";//"layui-bg-green"
            $('.layui-table .laytable-cell-checkbox .layui-form-checkbox:not(\'.layui-form-checked\')').parents('tr[data-index]').each(function (i, e) {
                var $this = $(e);
                var index = $this.data('index');
                var $table = $this.parents('.layui-table-view');
                $('tr[data-index='+index+']',$table).removeClass(className);
            });
            $('.layui-table .laytable-cell-checkbox .layui-form-checkbox.layui-form-checked').parents('tr[data-index]').each(function (i, e) {
                var $this = $(e);
                var index = $this.data('index');
                var $table = $this.parents('.layui-table-view');
                $('tr[data-index='+index+']',$table).addClass(className);
            })
        }
        //		选中样式 - 单选
        table.on('radio', function(obj){
            updateCheckStyle();
        });
        //		选中样式 - 多选
        table.on('checkbox', function(obj){
            var data = obj.data;
            updateCheckStyle();
        });

        //		选中逻辑
        //		行点击选中
        //		ctrl 多选
        //		拖拉区域选中切换
        var begin_index = 0;
        var begin_clientX = 0;
        var begin_clientY = 0;
        $(document).on('mousedown','.layui-table-body tr', function (e) {
            begin_index = $(this).data('index');
            begin_clientX = e.clientX;
            begin_clientY = e.clientY;
        })
        $(document).on('mouseup','.layui-table-body tr', function (e) {
            var $table = $(this).parents('.layui-table-view');
            var end_index = $(this).data('index');
            var end_clientX = e.clientX;
            var end_clientY = e.clientY;
            //          同一行，点击位置不同--说明是在选择文本
            if (end_index == begin_index && (end_clientX != begin_clientX || end_clientY != begin_clientY)){
                return false;
            }
            //          同一行，点击位置一样--说明是单击
            if (end_index == begin_index && end_clientX == begin_clientX && end_clientY == begin_clientY){
                //              点击的是按钮/单选框/多选框/输入框
                if ($(e.target).parents('.layui-form-switch,.laytable-cell-checkbox,.laytable-cell-radio,.layui-btn,[data-edit=true]').length || $(e.target).is('.layui-btn')){
                    return false;
                }
                $('.layui-table-body tr[data-index='+end_index+'] .layui-form-radio:last',$table).click();
            }

            if (window.getSelection){
                window.getSelection().removeAllRanges();
            }else{
                document.selection.empty();
            };

            // 如果没按住 ctrl 则清空其他选中
            if (!e.ctrlKey){
                $('tr[data-index]',$table).each(function (i, e) {
                    var $this = $(e);
                    $('.layui-form-checkbox.layui-form-checked:first',$this).click();
                })
                $('.layui-table-main .laytable-cell-checkbox .layui-form-checkbox.layui-form-checked',$table).click();
            }
            $('tr[data-index]',$table).each(function (i, e) {
                var $this = $(e);
                var index = $this.data('index');
                if ((index>= begin_index && index<= end_index) || (index<= begin_index && index>= end_index)){
                    $('.layui-form-checkbox:first',$this).click();
                }
            })
            return false;
        })

				// 新增界面、保存、取消事件
        form.on('submit', function(data){
            if(!$(data.elem).is('button')){
                return false;
            }
            var data = data.field;
            var url = "{php echo $this->createWebUrl($_GPC['do'],array('op'=>save));}";
            $.post(url,data,function(res){
                res = $.parseJSON(res);
                if (res.code == 0) {
                    var index=parent.layer.getFrameIndex(window.name);
                    parent.layer.close(index);
                    parent.layer.msg('新增成功',{icon: 6,anim: 6});
                    parent.layui.table.reload('laytable',{});
                }else{
                    layer.msg(res.msg,{icon: 5,anim: 6});
                }
            });
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
        $('#btnCancel').click(function(e){
            var index=parent.layer.getFrameIndex(window.name);
            parent.layer.close(index);
        })
	})
</script>

<div class="layui-layout layui-layout-admin">
	<div class="layui-body" style="position:static;">

		<!--</div>-->
		<!--</div>-->
		<!--</body>-->
		<!--</html>-->