<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <meta name="renderer" content="webkit" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <title>8</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
	<link href="{$_W['siteroot']}addons/tiger_newhu/template/mobile/tbgoods/style99/js/layui/css/layui.css" rel="stylesheet">
    <link rel="stylesheet" href="{$_W['siteroot']}addons/tiger_wxdaili/template/mobile/public/css/style.css" />
</head>

<body class="">
    <div class="header  calendar">
        <p></p>
        <h3 class="tit">分红订单</h3>
        <a href="javascript:history.back();" class="return"></a>
        <!-- <div class="m-select">
            <a href="javascript:void;" class="all">全部</a>
            <div class="con">
                <a href="">111</a>
                <a href="">222</a>
            </div>
        </div> -->
        <!-- <div class="m-calendar"></div> -->
    </div>
    <div class="m-order">
        <ul class="ul-tab TAB_CLICK">
            <li {if $dd=='' || $dd==0} class="on"{/if}><a href="{php echo $this->createMobileUrl('tzorder',array('id'=>$share['id'],'dd'=>0))}">全部</a></li>
            <li {if $dd==1} class="on"{/if}><a href="{php echo $this->createMobileUrl('tzorder',array('id'=>$share['id'],'dd'=>1))}">已支付</a></li>
            <li {if $dd==2} class="on"{/if}><a href="{php echo $this->createMobileUrl('tzorder',array('id'=>$share['id'],'dd'=>2))}">已结算</a></li>
            <li {if $dd==3} class="on"{/if}><a href="{php echo $this->createMobileUrl('tzorder',array('id'=>$share['id'],'dd'=>3))}">已失效</a></li>
        </ul>
        <div class="tab-show" id="orderbox">
			<div id="listbox">
				
			</div>
			
            <!-- <div class="con">
                <div class="pic">
                    <a href="">
                    <img src="images/clothes.jpg" alt="" />
                </a>
                </div>
                <div class="desc">
                    <h3><a href="">夏季宝宝短袖套装纯棉婴儿衣服儿童夏装男童短袖</a></h3>
                    <div class="info">
                        <span class="sp1">创建日</span>
                        <em class="em1">03-22 20:33</em>
                    </div>
                    <div class="info">
                        <span class="sp1">订单号</span>
                        <em class="em1" id="word">127324568547037153</em>
                        <em class="em2" id="copy">复制</em>
                    </div>
                    <div class="money">
                        <p class="m1">消费金额：¥8.9</p>
                        <p class="m2">分红预估：¥0.78</p>
                    </div>
                </div>
            </div> -->
			
			
        </div>
        <!-- <div class="tab-show dn">222</div>
        <div class="tab-show dn">333</div>
        <div class="tab-show dn">444</div> -->
    </div>
    <script src="{$_W['siteroot']}addons/tiger_wxdaili/template/mobile/public/js/jquery.min.js"></script>
    <script src="{$_W['siteroot']}addons/tiger_wxdaili/template/mobile/public/js/lib.js"></script>	
	<script src="{$_W['siteroot']}addons/tiger_newhu/template/mobile/tbgoods/style99/js/layui/layui.js" charset="utf-8"></script>
	
	
	
	<script>
		layui.use('flow', function(){
		  var flow = layui.flow; 
		  flow.load({
			elem: '#orderbox' //流加载容器,
			,end: '订单已经加载完毕啦 ￣O￣)ノ！'
			,done: function(page, next){ //执行下一页的回调,
			  var lis = [];
			  var tmpl='';
			  $.get("{php echo $this->createMobileUrl('tzorder',array('id'=>$share['id'],'dd'=>$dd))}&page="+page, function(res){
				  res=JSON.parse(res);
				  layui.each(res.data, function(index, item){
					  tmpl+='<div class="con" style="border-bottom: 1px #f1f1f1 solid;padding: 14px 8px 14px 8px;">'; 
					  	tmpl+='<div class="pic">'; 
					  		tmpl+='<a href="">'; 
					  		tmpl+='<img src="'+item.pic+'" alt="" />'; 
					  	tmpl+='</a>'; 
					  	tmpl+='</div>'; 
					  	tmpl+='<div class="desc">'; 
					  		tmpl+='<h3><a href="">'+item.title+'</a></h3>'; 
					  		tmpl+='<div class="info">'; '; '; 
					  			tmpl+='<span class="sp1">商品ID</span>'; 
					  			tmpl+='<em class="em1">'+item.numid+'</em>'; 		
								tmpl+='<span class="sp1">创建时间</span>'; 
								tmpl+='<em class="em1">'+item.addtime+'</em>'; 
					  		tmpl+='</div>'; 
					  		tmpl+='<div class="info">'; 
							// tmpl+='<span class="sp1">商品ID</span>'; 
							if(item.orderzt=="订单结算"){
								tmpl+='<em class="em1" id="word" style="color:#00c600">'+item.orderzt+'</em>'; 
							}else if(item.orderzt=="订单付款"){
								tmpl+='<em class="em1" id="word" style="color:#0014d7">'+item.orderzt+'</em>'; 
							}else{
								tmpl+='<em class="em1" id="word" style="color:#ff0000">'+item.orderzt+'</em>'; 
							}							
					  			tmpl+='<span class="sp1">订单号</span>'; 
					  			tmpl+='<em class="em1" id="word">'+item.orderid+'</em>'; 
					  			// tmpl+='<em class="em2" id="copy">复制</em>'; 
					  		tmpl+='</div>'; 
					  		tmpl+='<div class="money">'; 
					  			tmpl+='<p class="m1">消费金额：¥'+item.fkprice+'</p>'; 
					  			tmpl+='<p class="m2">分红预估：¥'+item.fhyg+'</p>'; 
					  		tmpl+='</div>'; 
					  	tmpl+='</div>'; 
					  tmpl+='</div>'; 	
				  });
				  $("#listbox").append(tmpl);				  
				  next(lis.join(''), page <= res.pages); //假设总页数为 10
			  });

			  
			}
		  });
		 
		  
		});
	</script>
	
	
	
	
	
</body>

</html>