@charset "utf-8";
/* CSS Document */
html,body{
   font-family:"微软雅黑";
}
body{
   background-color:#362C51;
   background-image:url(../images/bg.jpg);
   background-repeat:repeat-y;
   background-size:cover;
}
body.npd{ padding-top:0; }
ul,li,dl,dt,dd,img{
   list-style:none;
   border:0;
   margin:0;
   padding:0;
}
a:link,a:visited{ color:#333; text-decoration:none; }
a:hover,a:active{ color:#4490EE; }
.ellip{
   white-space:nowrap;
   text-overflow:ellipsis;
   -webkit-text-overflow:ellipsis;
   overflow:hidden;
}
.img-responsive{ display:block; margin:0px auto; }
.prv{ position:relative; }
/* table */
.dis-table{ display:table; height:100%; width:100%; }
.dis-table .cell{
   display:table-cell;
   vertical-align:middle;
   height:100%;
}
.dis-table.cell-box .cell{ box-sizing:border-box; }
.dis-table .cell.cell-5{ width:5%; }
.dis-table .cell.cell-10{ width:10%; }.dis-table .cell.cell-15{ width:15%; }.dis-table .cell.cell-20{ width:20%; }.dis-table .cell.cell-25{ width:25%; }.dis-table .cell.cell-30{ width:30%; }.dis-table .cell.cell-33{ width:33%; }.dis-table .cell.cell-40{ width:40%; }.dis-table .cell.cell-45{ width:45%; }.dis-table .cell.cell-50{ width:50%; }.dis-table .cell.cell-55{ width:55%; }.dis-table .cell.cell-66{ width:66%; }.dis-table .cell.cell-65{ width:65%; }.dis-table .cell.cell-70{ width:70%; }.dis-table .cell.cell-75{ width:75%; }.dis-table .cell.cell-80{ width:80%; }.dis-table .cell.cell-85{ width:85%; }.dis-table .cell.cell-90{ width:90%; }.dis-table .cell.cell-95{ width:95%; }

/* color|font|inline-block|background#FFF */
.gray,a.gray{ color:#999; }
.org,a.org{ color:#FE7105; }
.grn,a.grn{ color:#61AA34; }
.wihte{ color:#FFF; }
.grnbg,a.grnbg{ background:#61AA34; color:#FFF; display:inline-block; padding:0 1px; }
.f-big{ font-size:18px; }
.f-md{ font-size:16px; }
.f-sm{ font-size:12px; }
.ins{ display:inline-block; }
.bok{ display:block; margin:0px auto; }
.thw{ text-decoration:line-through; }
.bg{ background:#FFF; }

/* icon */
.icon{ display:inline-block; background-repeat:no-repeat; background-size:contain; }
.icon-search{ 
   background-image:url(../images/icon-search.jpg);
   width:16px;
   height:16px; 
}
.icon-close{ 
   background-image:url(../images/icon-close.png);
   width:20px;
   height:20px; 
}
.icon-arrow-bottom{ 
   background-image:url(../images/icon-arrow-bottom.png);
   width:12px;
   height:7px;
}
.icon-arrow-left{ 
   background-image:url(../images/icon-arrow-left.png);
   width:30px;
   height:15px;
   margin-top:3px;
}
.icon-arrow-right{ 
   background-image:url(../images/icon-arrow-right.png);
   width:7px;
   height:15px;
}
.icon-arrow-right-p{ 
   background-image:url(../images/icon-arrow-right.png);
   background-size:7px 12px;
   background-repeat:no-repeat;
   background-position:right center;
}
.icon-arrow-left-trans{ 
   background-image:url(../images/icon-arrow-left-trans.png);
   width:30px;
   height:15px;
   margin-top:3px;
}
.icon-share{ 
   background-image:url(../images/icon-share.jpg);
   width:20px;
   height:20px;
   margin:0px auto;
   margin-bottom:3px;
   display:block;
}
.icon-home{ width:16px; height:16px; background-image:url(../images/icon-nav-01.png); margin-top:3px; }
.icon-fav{ width:22px; height:20px; background-image:url(../images/icon-fav.png); margin-top:3px; }
.icon-more{ width:20px; height:3px; background-image:url(../images/icon-more.png); }
.icon-category{ width:16px; height:16px; background-image:url(../images/icon-category.jpg); }
.icon-star{ 
   width:90px; 
   height:15px; 
   background-image:url(../images/star.jpg); 
}

.icon-nav{ width:22px; height:22px; display:block; overflow:hidden; margin:0px auto 3px auto; }
.icon-nav-home{ background-image:url(../images/icon-nav-01.png); }
.icon-nav-goods{ background-image:url(../images/icon-nav-02.png); }
.icon-nav-shops{ background-image:url(../images/icon-nav-03.png); }
.icon-nav-cart{ background-image:url(../images/icon-nav-04.png); }
.icon-nav-man{ background-image:url(../images/icon-nav-05.png); }
.active .icon-nav-home{ background-image:url(../images/icon-nav-01-active.png); }
.active .icon-nav-goods{ background-image:url(../images/icon-nav-02-active.png); }
.active .icon-nav-shops{ background-image:url(../images/icon-nav-03-active.png); }
.active .icon-nav-cart{ background-image:url(../images/icon-nav-04-active.png); }
.active .icon-nav-man{ background-image:url(../images/icon-nav-05-active.png); }

/* margin padding */
.mar { margin:20px; }.mar-l{ margin-left:20px; }.mar-r{ margin-right:20px; }.mar-v { margin-top:20px; margin-bottom:20px; }.mar-h { margin-left:20px; margin-right:20px; }.mar-t { margin-top:20px; }.mar-b { margin-bottom:20px; }.mar-sm { margin:10px; }.mar-l-sm{ margin-left:10px; }.mar-r-sm{ margin-right:10px; }.mar-v-sm { margin-top:10px; margin-bottom:10px; }.mar-h-sm { margin-left:10px; margin-right:10px; }.mar-t-sm { margin-top:10px; }.mar-b-sm { margin-bottom:10px; }.mar-l-xs{ margin-left:5px; }.mar-r-xs{ margin-right:5px; }.mar-b-xs { margin-bottom:5px; }.mar-b-n { margin-bottom:0px; }.pad { padding:20px; }.pad-l { padding-left:20px; }.pad-r { padding-right:20px; }.pad-v { padding-top:20px; padding-bottom:20px; }.pad-h { padding-left:20px; padding-right:20px; }.pad-t { padding-top:20px; }.pad-b { padding-bottom:20px; }.pad-sm { padding:10px; }.pad-l-sm { padding-left:10px; }.pad-r-sm { padding-right:10px; }.pad-v-sm { padding-top:10px; padding-bottom:10px; }.pad-h-sm { padding-left:10px; padding-right:10px; }.pad-t-sm { padding-top:10px; }.pad-b-sm { padding-bottom:10px; }.pad-l-xs { padding-left:5px; }.pad-r-xs { padding-right:5px; }.pad-h-xs{ padding-left:5px; padding-right:5px; }.pad-v-xs{ padding-top:5px; padding-bottom:5px; }.mar-v-xs { margin-top:5px; margin-bottom:5px; }

/* border */
.bor{ border:1px #e8e8e8 solid; }
.bor-l{ border-left:1px #E8E8E8 solid; }
.bor-r{ border-right:1px #E8E8E8 solid; }
.bor-t{ border-top:1px #E8E8E8 solid; }
.bor-b{ border-bottom:1px #E8E8E8 solid; }
.bor-h{ border-left:1px #E8E8E8 solid; border-right:1px #E8E8E8 solid; }
.bor-v{ border-top:1px #E8E8E8 solid; border-bottom:1px #E8E8E8 solid; }

/* btns */
.wbtn,a.wbtn{ display:block; padding:12px; font-size:18px; background:#FFF; color:#028AD8; text-align:center; }
.wbtn.blue,a.wbtn.blue{ background:#028AD8; color:#FFF; }
/* header */
.navbar.header{
   background:#FFF;	
   min-height:40px;
   padding:0 10px;
   border-bottom:1px #E8E8E8 solid;
}
.navbar.header .dis-table{ height:39px; }
.navbar.header h4{ font-size:16px; margin:0 auto; max-width:200px; }
.navbar.header.trans{ background:url(); border-bottom:0; }

.navbar.footer{
   background:#FFF;
   min-height:51px;
   border-top:1px #E8E8E8 solid;
   padding-top:3px;	
}
.navbar.footer .dis-table{ height:50px; }
.navbar.footer a.active{ color:#0187DC; }
/* container */
.title{
   height:40px; 
   border-bottom:1px #E8E8E8 solid;
   line-height:40px;
   padding:0 10px;
}
.title span{ font-size:16px; }
.title a{ color:#FB832B; float:right; }

.quickbox{
   clear:both; 
   background:#FFF;
   overflow:hidden;
   padding-top:10px;
   padding-bottom:5px;
}
.quickbox [class*="col-"]{ padding:0; }
.quickbox .pic{
   width:62.5%;
   margin:0 auto;
   padding-top:5px;	
}

.hotshops{
   border:1px #E8E8E8 solid;
   border-width:1px 0;
   background:#FFF;
   clear:both;
   overflow:hidden;
}
.hotshops p{ margin-bottom:5px; }
.hotshops p small{ display:block; color:#999; }

.discount{
   clear:both; 
   background:#FFF;
   overflow:hidden;
   border:1px #E8E8E8 solid;
   border-width:1px 0 0 0;
}
.discount .row{
   margin-right:-16px;
}
.discount [class*="col-"]{
   padding-left:0;
   padding-right:0;
   padding-bottom:5px;
   border-right:1px #E4E4E4 solid;
   border-bottom:1px #E4E4E4 solid;
   padding:5px;
   position:relative;
}
.discount .goodsname{ height:30px; line-height:30px; padding:0 10px; }
.discount .goodsprice{ color:#FE7105; font-size:16px; }
.discount .goodsprice1{ color:#999; text-decoration:line-through; }

.discount .littips{
   position:absolute;   
   line-height:20px;
   left:0;
   top:0;
   background:#E83A43;
   color:#FFF;
   font-size:12px;	
}
.discount .littips .prv{ padding:2px 8px; }
.discount .littips .prv:before{
   content: "";
   width: 0;
   height: 0;
   position:absolute;
   right:-5px;
   top:0;
   background:#E83A43;
   border-top: 12px solid transparent;
   border-right: 5px solid #FFF;
   border-bottom: 12px solid transparent;
}


.goodslist{
   background:#FFF;	
}
.goodslist .dis-table{
   border-bottom:1px #E8E8E8 solid;	
}
.goodslist p{ margin-bottom:5px; }

a.gok{ display:block; line-height:36px; border:1px #E8E8E8 solid; border-radius:5px; }
a.gok.allgoods span{ background:url(../images/icon-category.jpg) no-repeat 0px; padding-left:24px; display:inline-block; background-size:16px 16px; }
a.gok.home span{ background:url(../images/icon-nav-01.png) no-repeat 0px; padding-left:24px; display:inline-block; background-size:16px 16px; }

