{extend name="common/index" /}
{block name="search_box"}
<!--搜索栏-->
{/block}
{block name="tool_box"}
<!--工具栏-->
<div class="tool-box">
    <div class="layui-btn-group">
        <a href="javascript:;" id="btnAddm" class="layui-btn layui-btn-primary layui-btn-sm">新增</a>
        <a href="javascript:;" id="btnBatchDelete" class="layui-btn layui-btn-danger layui-btn-sm">删除</a>
    </div>
</div>
{/block}
{block name="tool_template"}
<!--数据表-操作列-->
<script type="text/html" id="dataTool">
    <a href="javascript:;" data-id="{{ d.id }}" class="layui-btn layui-btn-primary layui-btn-xs btnEditm">编辑</a>
    <a href="javascript:;" data-id="{{ d.id }}" class="layui-btn layui-btn-danger layui-btn-xs btnDelete">删除</a>
</script>
{/block}
{block name="table_config"}

<script type="text/html" id="dataIsMember">
    <input type="checkbox" {{# if(d.is_member){ }}checked{{# } }}>
</script>
<script type="text/html" id="linkTypes">
    {{# if(d.link_type == 1){ }}内链{{# } }}
    {{# if(d.link_type == 2){ }}外部小程序{{# } }}
    {{# if(d.link_type == 3){ }}客服消息{{# } }}
    {{# if(d.link_type == 4){ }}分类信息{{# } }}
    {{# if(d.link_type == 5){ }}商家{{# } }}
</script>
<script>
    layui.use('table', function () {
        var table = layui.table;
        //        表格初始化
        table.render({
            elem: '#laytable'
            ,url:"{:adminurl('get_menuicon_list')}"
            ,cols: [[
                {type:'numbers',fixed:'left'},
                {type:'checkbox',fixed:'left'},
                {field:'title', width:150, title: '标题名称',fixed:'left'},
                // {field:'clickago_icon', width:200, title: '点击前图标',sort:true},
                // {field:'clickafter_icon', width:200, title: '点击后图标',sort:true},
                {field:'link_type', width:200, title: '跳转类型',templet:'#linkTypes'},
                // {field:'url', width:200, title: '跳转链接'},
                {field:'sort', width:100, title: '排序',sort:true},
                {field:'create_time', width:200, title: '创建时间',sort:true},
                {field:'state',fixed:'right', width:100, title: '启用状态',sort:true,templet: '#dataState'},
                {field:'o',fixed:'right',width:200, title: '操作',templet: '#dataTool'},
            ]]
            ,page: true,
            height:'full-300',
        });
    })
    // 新增
    $('#btnAddm').click(function () {
        var index = layer.open({
            type: 2,
            title: '新增',
            shadeClose: true,
            shade: false,
            maxmin: true, //开启最大化最小化按钮
            area: ['893px', '600px'],
            content: "{:adminurl('addmenuicon')}",
        });
        layer.full(index);
        return false;
    })
    // 编辑
    $(document).on('click','.btnEditm',function(e){
        var id = $(this).data('id')
        var index = layer.open({
            type: 2,
            title: '编辑',
            shadeClose: true,
            shade: false,
            maxmin: true, //开启最大化最小化按钮
            area: ['893px', '600px'],
            content: "{:adminurl('addmenuicon')}&id="+id,
        });
        layer.full(index);
        return false;
    })
    // 批量删除
    $('#btnBatchDeletem').click(function () {
        var checkStatus = table.checkStatus('laytable');
        var data = checkStatus.data;
        var ids = [];
        if (data.length > 0){
            for (var i in data){
                ids.push(data[i].id);
            }
            layer.confirm('即将删除 '+data.length+' 条记录', {
                btn: ['确定','取消'] //按钮
            }, function(){
                var url = "{:adminurl('deletem')}";
                $.post(url, {ids:ids.join(',')}, function(data){
                    if (typeof data == 'string'){
                        data = $.parseJSON(data);
                    }
                    if (data.code == 0) {
                        layer.msg('删除成功',{icon: 6,anim: 6});
                        table.reload('laytable',{});
                    }else{
                        layer.msg(data.msg,{icon: 5,anim: 6});
                    }
                });
            });
        }else{
            layer.msg('请选择记录');
        }
    })
    // 删除
    $(document).on('click','.btnDeletem',function(e){
        var id = $(this).data('id')
        layer.confirm('即将删除 1 条记录', {
            btn: ['确定','取消'] //按钮
        }, function(){
            var url = "{:adminurl('deletem')}";
            $.post(url, {ids:id}, function(data){
                if (typeof data == 'string'){
                    data = $.parseJSON(data);
                }
                if (data.code == 0) {
                    layer.msg('删除成功',{icon: 6,anim: 6});
                    table.reload('laytable',{});
                }else{
                    layer.msg(data.msg,{icon: 5,anim: 6});
                }
            });
        });
        return false;
    })
</script>
{/block}
<script>

</script>