{template 'common/header'}
{if $op == 'display'}
<div class="pull-right">
    <a class="btn btn-primary we7-padding-horizontal" href="{php echo $this->createWeburl('daohang', array('op'=>'post'))}" style="margin-bottom: 20px">
        添加导航分类
    </a>
</div>
<ul class="nav nav-tabs">
    <li>
        <a href="{php echo $this->createWebUrl('service')}">
            顶部导航设置
        </a>
    </li>
    <li class="active">
        <a href="{php echo $this->createWebUrl('daohang')}" style="color: #428bca;">
            导航分类
        </a>
    </li>
    <li>
        <a href="{php echo $this->createWebUrl('button')}">
            首页自定义标题
        </a>
    </li>
    <li>
        <a href="{php echo $this->createWebUrl('myser')}">
            首页自定我们的服务
        </a>
    </li>
</ul>
<form action="" class="form-horizontal" method="post">
    <table class="table we7-table table-hover article-list vertical-middle">
        <tr>
            <td style="width:100px">
                排序
            </td>
            <td>
                分类名称
            </td>
            <td>
                分类图标
            </td>
            <td>
                分类内容图片
            </td>
            <td>
                分类内容标题
            </td>
            <!-- <td>分类内容</td> -->
            <td class="text-right">
                操作
            </td>
        </tr>
        {loop $products $item}
        <tr>
            <td>
                {$item['id']}
            </td>
            <td>
                {$item['name']}
            </td>
            <td>
                <img alt="" src="{media $item['thumb']}" width="100px">
                </img>
            </td>
            <td>
                <img alt="" src="{media $item['content_thumb']}" width="100px">
                </img>
            </td>
            <td>
                {$item['content_title']}
            </td>
            <!-- <td>
                {php echo html_entity_decode($item['content'])}
            </td> -->
            <td class="text-right">
                <a class="btn btn-default btn-sm" href="{php echo $this->createWeburl('daohang', array('id' => $item['id'], 'op' =>'post'))}">
                    编辑
                </a>
                <a class="btn btn-default btn-sm" href="{php echo $this->createWeburl('daohang', array('id' => $item['id'], 'op' => 'delete'))}" onclick="return confirm('此操作不可恢复，确认吗？'); return false;">
                    删除
                </a>
            </td>
        </tr>
        {/loop}
    </table>
</form>
{/if}
{if $op == 'post'}
<form action="" class="form-horizontal" method="post">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                添加导航分类
            </h3>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label class="control-label col-sm-2" for="">
                    分类名称
                </label>
                <!-- <div class="col-sm-1"></div> -->
                <div class="form-controls col-sm-5" style="margin-left: 75px;">
                    <input autocomplete="off" class="form-control ng-pristine ng-untouched ng-valid ng-empty" id="name" name="name" placeholder="" type="text" value="{$item['name']}">
                    </input>
                </div>
                <div class="col-sm-1">
                </div>
                <div class="form-controls col-sm-4 help-block">
                    分类名称
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="">
                    分类图标
                </label>
                <!-- <div class="col-sm-1"></div> -->
                <div class="form-controls col-sm-5" style="margin-left: 75px;">
                    {php echo tpl_form_field_image('thumb', $item['thumb'])}
                </div>
                <div class="col-sm-1">
                </div>
                <div class="form-controls col-sm-4 help-block">
                    （建议尺寸125X117）
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="">
                    分类内容图片
                </label>
                <!-- <div class="col-sm-1"></div> -->
                <div class="form-controls col-sm-5" style="margin-left: 75px;">
                    {php echo tpl_form_field_image('content_thumb', $item['content_thumb'])}
                </div>
                <div class="col-sm-1">
                </div>
                <div class="form-controls col-sm-4 help-block">
                    （建议尺寸658X351）
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="">
                    分类内容标题
                </label>
                <!-- <div class="col-sm-1"></div> -->
                <div class="form-controls col-sm-5" style="margin-left: 75px;">
                    <input autocomplete="off" class="form-control ng-pristine ng-untouched ng-valid ng-empty" id="content_title" name="content_title" placeholder="" type="text" value="{$item['content_title']}">
                    </input>
                </div>
                <div class="col-sm-1">
                </div>
                <div class="form-controls col-sm-4 help-block">
                    分类内容标题
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="">
                    分类内容
                </label>
                <!-- <div class="col-sm-1"></div> -->
                <div class="form-controls col-sm-5" style="margin-left: 75px;">
                    {php echo tpl_ueditor('content', $item['content']);}
                </div>
                <div class="col-sm-1">
                </div>
                <div class="form-controls col-sm-4 help-block">
                    分类内容
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-12">
            <input name="token" type="hidden" value="{$_W['token']}"/>
            <input class="btn btn-primary col-lg-1" name="submit" style="margin-left: 45%;" type="submit" value="提交"/>
        </div>
    </div>
</form>
{/if}
{template 'common/footer'}
