{template 'common/header'}

{if $op == 'display'}
<div class="pull-right">
    <a href="{php echo $this->createWeburl('service', array('op'=>'post'))}"  class="btn btn-primary we7-padding-horizontal" style="margin-bottom: 20px">修改顶部导航</a>
</div>
<ul class="nav nav-tabs">
    <li class="active"><a href="{php echo $this->createWebUrl('service')}" style="color: #428bca;">自定义首页顶部导航</a></li>
   <!--  <li ><a href="{php echo $this->createWebUrl('daohang')}" >导航分类</a></li> -->
    <li ><a href="{php echo $this->createWebUrl('button')}">自定义首页栏目标题</a></li>
    <li ><a href="{php echo $this->createWebUrl('myser')}">自定义首页我们的服务</a></li>
</ul>
<form class="form-horizontal" action="" method="post">
    <table class="table we7-table table-hover article-list vertical-middle">
        <tr>
            <td style="width:100px">排序</td>
            <td>导航内容</td>
            <td>导航名称</td>
            <td>导航名称标题</td>
            <td>导航名称图标</td>
            <td class="text-right">操作</td>
        </tr>
        {loop $products $item}
        <tr>
            <td>
                {$item['id']}
            </td>
            <td>
                {$item['l_names']}
            </td>
            <td>
                {$item['fuwu_name']}
            </td>
            <td>
                {$item['fuwu_money']}
            </td>
            
            <td>
                <img src="{media $item['fuwu_thumb']}" width="100px" alt="">
            </td>
            
            <td class="text-right">
                <a class="btn btn-default btn-sm" href="{php echo $this->createWeburl('service', array('id' => $item['id'], 'op' =>'post'))}" >编辑</a>
                <a class="btn btn-default btn-sm" onclick="return confirm('此操作不可恢复，确认吗？'); return false;" href="{php echo $this->createWeburl('service', array('id' => $item['id'], 'op' => 'delete'))}">删除</a>
            </td>
        </tr>
        {/loop}
    </table>
</form>
{/if}
{if $op == 'post'}
<style type="text/css">
    .tablestyle,.tablestyle tr{
        width: 100%;
    }
    .tablestyle tr td.tdstyle01{
        text-align: right;
        padding-right: 10px;
        color: red;
    }
    .tablestyle tr td.tdstyle02{
        text-align: left;
        padding-left: 10px;
        color: red;
    }
</style>
<form class="form-horizontal" action="" method="post">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">修改顶部导航</h3>
        </div>
        <div class="panel-heading">
            <h1 style="color: red; text-align: center;">顶部导航内容链接请按下方链接输入</h1>
            <table class="tablestyle">

               <tr>
                   <td class="tdstyle01">在线预约</td>
                   <td class="tdstyle02">yishiClick</td>
               </tr>
               <tr>
                   <td class="tdstyle01">病例库</td>
                   <td class="tdstyle02">ljClick</td>
               </tr>

               <tr>
                   <td class="tdstyle01">来院路线</td>
                   <td class="tdstyle02">lylx</td>
               </tr>
                <tr>
                   <td class="tdstyle01">医院简介</td>
                   <td class="tdstyle02">yyjs</td>
               </tr>
                <tr>
                   <td class="tdstyle01">合作医院</td>
                   <td class="tdstyle02">hzyy</td>
               </tr>
           </table>
        </div>
        <div class="panel-body">
            

            <div class="form-group">
                <label for="" class="control-label col-sm-2">导航标识</label>
                <div class="form-controls col-sm-5" style="margin-left: 75px;">
                    <input type="text" id="l_names" name="l_names" value="{$items['l_names']}" class="form-control ng-pristine ng-untouched ng-valid ng-empty"  placeholder="" autocomplete="off">
                    <!-- <select name="l_name" id="l_name" class="form-control">
                        <option value="">--请选择--</option>
                        {loop $lianjie $item}
                        <option value="{$item['l_id']}" {if $item['l_id']==$items['l_names']}selected{/if} >{$item['l_name']}</option>
                        {/loop}
                    </select> -->
                </div>
            </div>
            <div class="form-group">
                <label for="" class="control-label col-sm-2" >导航名称</label>
                 <div class="form-controls col-sm-5" style="margin-left: 75px;">
                    <input type="text" id="fuwu_name" name="fuwu_name" value="{$items['fuwu_name']}" class="form-control ng-pristine ng-untouched ng-valid ng-empty"  placeholder="" autocomplete="off">
                </div>
                <div class="col-sm-1"></div>
                <div class="form-controls col-sm-4 help-block">导航名称</div>
            </div>
            
            <div class="form-group">
                <label for="" class="control-label col-sm-2">导航名称标题</label>
                <!-- <div class="col-sm-1"></div> -->
                <div class="form-controls col-sm-5" style="margin-left: 75px;">
                    <input type="text" id="fuwu_money" name="fuwu_money" value="{$items['fuwu_money']}" class="form-control ng-pristine ng-untouched ng-valid ng-empty"  placeholder="" autocomplete="off">
                </div>
                <div class="col-sm-1"></div>
                <div class="form-controls col-sm-4 help-block">导航名称标题</div>
            </div>
            <div class="form-group">
                <label for="" class="control-label col-sm-2">导航名称图标</label>
                <!-- <div class="col-sm-1"></div> -->
                <div class="form-controls col-sm-5" style="margin-left: 75px;">
                    {php echo tpl_form_field_image('fuwu_thumb', $items['fuwu_thumb'])}
                </div>
                <div class="col-sm-1"></div>
                <div class="form-controls col-sm-4 help-block">导航名称图标</div>
            </div>
            <div class="form-group">
                <label for="" class="control-label col-sm-2">跳转的业务域名</label>
                <!-- <div class="col-sm-1"></div> -->
                <div class="form-controls col-sm-5" style="margin-left: 75px;">
                    <input type="text"  name="webviewurl" value="{$items['webviewurl']}" class="form-control ng-pristine ng-untouched ng-valid ng-empty"  placeholder="" autocomplete="off">
                </div>
                <div class="col-sm-1"></div>
                <div class="form-controls col-sm-4 help-block">跳转的业务域名</div>
            </div>
             <div class="form-group">
                <label for="" class="control-label col-sm-2">是否开启跳转小程序</label>
                <div class="col-sm-1"></div>
                <div class="form-controls col-sm-5" style="margin-top: 6px;">
                    <label style="margin-right: 20px">
                        <input type="radio" name="check1" value="0" {if $items['check1'] == '0' } checked='checked'{/if}/>             
                        不开启    
                    </label>
                    <label style="margin-right: 20px">
                        <input type="radio" name="check1" value="1" {if $items['check1'] == '1'} checked='checked' {/if} />
                        开启
                    </label>
                </div>
                <div class="col-sm-1"></div>
                <div class="form-controls col-sm-4 help-block">是否开启跳转小城</div>
            </div>
            <div class="form-group">
                <label for="" class="control-label col-sm-2">跳转的小程序名称</label>
                <!-- <div class="col-sm-1"></div> -->
                <div class="form-controls col-sm-5" style="margin-left: 75px;">
                    <input type="text"  name="wxname" value="{$items['wxname']}" class="form-control ng-pristine ng-untouched ng-valid ng-empty"  placeholder="" autocomplete="off">
                </div>
                <div class="col-sm-1"></div>
                <div class="form-controls col-sm-4 help-block">导航名称标题</div>
            </div>
            <div class="form-group">
                <label for="" class="control-label col-sm-2">跳转的小程序APPID</label>
                <!-- <div class="col-sm-1"></div> -->
                <div class="form-controls col-sm-5" style="margin-left: 75px;">
                    <input type="text"  name="wxappid" value="{$items['wxappid']}" class="form-control ng-pristine ng-untouched ng-valid ng-empty"  placeholder="" autocomplete="off">
                </div>
                <div class="col-sm-1"></div>
                <div class="form-controls col-sm-4 help-block">跳转的小程序APPID</div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-12">
            <input name="token" type="hidden" value="{$_W['token']}" />
            <input type="submit" class="btn btn-primary col-lg-1" name="submit" value="提交" style="margin-left: 45%;" />
        </div>
    </div>
</form>
{/if}
{template 'common/footer'}