{template 'common/header'}
{if $op == 'display'}
<style type="text/css">
    

       .we7-table>tbody>tr>td, .wechat-communication>tbody>tr>td{
    border-width: 0;
    padding: 10px 15px 10px 0px;
    white-space: normal;
    overflow: hidden;
    word-break: break-all;

   }
.product-buyer-name {

max-width: 110px;

overflow: hidden;

text-overflow: ellipsis;

white-space: nowrap;

}
</style>

<div class="pull-right">
    <a href="{php echo $this->createWeburl('jblist', array('op'=>'post'))}"  class="btn btn-primary we7-padding-horizontal" style="margin-bottom: 20px">添加课程</a>
</div>
<ul class="nav nav-tabs">
    <li class="active"><a href="{php echo $this->createWebUrl('jblist')}" style="color: #3071a9;">课程列表</a></li>
    <li ><a href="{php echo $this->createWebUrl('jbfenl')}">添加疾病课堂分类</a></li>
</ul>
<form class="form-horizontal" action="" method="post">
    <table class="table we7-table table-hover article-list vertical-middle" >
        <tr >
            <td>ID</td>
            <td>排序</td>
            <td>课程名称</td>
            <td>讲师姓名</td>
            <td>课程缩略图</td>
            <td>是否推荐</td>
            <td>课程价格</td>
            <td>总需名额</td>
            <td>学习人数</td>
            <td class="text-right">操作</td>
        </tr>
        {loop $products $item}
        <tr>
            <td>
                {$item['id']}
            </td>
            <td>

                <input type="text" class="form-control displayorder text-center pull-left" name="sord[]" value="{$item['sord']}" style="width:50px;height:30px;"></td>
                 <input type="text" style='display: none;' class="form-control" name="id[]" value="{$item['id']}"></td>
            </td>
            <td > 
               <p class="product-buyer-name">{$item['sroomtitle']}</p> 
            </td>
            <td>
                {$item['room_teacher']}
            </td>
            <td>
                <img src="{media $item['room_thumb']}" width="100px" alt="">
            </td>

            <td>
                 {if $item['room_tj'] !== '0' && $item['room_tj'] !== ''} 是 {else} 否 {/if}
            </td>

            <td>
                {$item['room_money']}
            </td>
            <td>
                {$item['room_per']}
            </td>
            <td>
                {$item['room_liulan']}
            </td>

            <td class="text-right" style="width: 185px;">
                <a class="btn btn-default btn-sm" href="{php echo $this->createWeburl('jblist', array('id' => $item['id'], 'op' =>'post'))}" >编辑</a>
                <a class="btn btn-default btn-sm" href="{php echo $this->createWeburl('fllists', array('id' => $item['id']))}" style="background-color: #428bca; color: #fff;">章节</a>
                <a class="btn btn-default btn-sm" onclick="return confirm('此操作不可恢复，确认吗？'); return false;" href="{php echo $this->createWeburl('jblist', array('id' => $item['id'], 'op' => 'delete'))}">删除</a>
            </td>
        </tr>
        {/loop}
    </table>
         <input name="paixu" type="submit" class="btn btn-primary" value="排序" data-original-title="" title="">
         <input name="token" type="hidden" value="{$_W['token']}" />
{$pager}
</form>

{/if}
{if $op == 'post'}

<form class="form-horizontal" action="" method="post" >
 <ul id="myTabs" class="nav nav-tabs row" role="tablist">
        <li role="presentation" class="active">
            <a href="#home" aria-controls="home" role="tab" data-toggle="tab">基础设置</a>
        </li>
         <li role="presentation" >
            <a href="#home2" aria-controls="home" role="tab" data-toggle="tab">音视频设置</a>
        </li>
    </ul>
    <div class="tab-content">
    <div class="panel panel-default tab-pane active row" role="tabpanel" id="home">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">添加课程</h3>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label for="" class="control-label col-sm-2">课程名称</label>
                <!-- <div class="col-sm-1"></div> -->
                <div class="form-controls col-sm-5" style="margin-left: 75px;">
                    <input type="text" name="sroomtitle" maxlength="50" id="sroomtitle" value="{$items['sroomtitle']}" class="form-control ng-pristine ng-untouched ng-valid ng-empty"  placeholder="" autocomplete="off">
                </div>
                <div class="col-sm-1"></div>
                <div class="form-controls col-sm-4 help-block">课程名称</div>
            </div>
              <div class="form-group">
                <label for="" class="control-label col-sm-2">推荐</label>
                <div class="col-sm-1"></div>
                <div class="form-controls col-sm-5" style="margin-top: 6px;">
                    <label style="margin-right: 20px">
                        <input type="radio" name="room_tj" value="0" {if $items['room_tj'] == '0' } checked='checked'{/if}/>             
                        不推荐    
                    </label>
                    <label style="margin-right: 20px">
                        <input type="radio" name="room_tj" value="1" {if $items['room_tj'] == '1'} checked='checked' {/if} />
                        推荐
                    </label>
                </div>
                <div class="col-sm-1"></div>
                <div class="form-controls col-sm-4 help-block">推荐后会在首页显示</div>
            </div>
            <div class="form-group">
                <label for="" class="control-label col-sm-2">推荐至当前栏目第二楼层</label>
                <div class="col-sm-1"></div>
                <div class="form-controls col-sm-5" style="margin-top: 6px;">
                    <label style="margin-right: 20px">
                        <input type="radio" name="iflouc" value="0" {if $items['iflouc'] == '0' } checked='checked'{/if}/>             
                        不推荐    
                    </label>
                    <label style="margin-right: 20px">
                        <input type="radio" name="iflouc" value="1" {if $items['iflouc'] == '1'} checked='checked' {/if} />
                        推荐
                    </label>
                </div>


                <div class="col-sm-1"></div>
                <div class="form-controls col-sm-4 help-block">推荐后会在首页显示</div>
            </div>
            <div class="form-group">
                <label for="" class="control-label col-sm-2">讲师姓名</label>
                <!-- <div class="col-sm-1"></div> -->
                <div class="form-controls col-sm-5" style="margin-left: 75px;">
                    <input type="text" name="room_teacher" id="room_teacher" value="{$items['room_teacher']}" class="form-control ng-pristine ng-untouched ng-valid ng-empty"  placeholder="" autocomplete="off">
                </div>
                <div class="col-sm-1"></div>
                <div class="form-controls col-sm-4 help-block">讲师姓名</div>
            </div>
            <div class="form-group">
                <label for="" class="control-label col-sm-2">讲师简介</label>
                <div class="form-controls col-sm-5" style="margin-left: 75px;">
                   <textarea rows="6" cols="20" class="form-control ng-pristine ng-untouched ng-valid ng-empty"  name="tea_desc" id="tea_desc">{$items['tea_desc']}</textarea>
                </div>
                <div class="col-sm-1"></div>
                <div class="form-controls col-sm-4 help-block">课程简介</div>
            </div>
                        <div class="form-group">
                <label for="" class="control-label col-sm-2">讲师头像</label>
                <!-- <div class="col-sm-1"></div> -->
                <div class="form-controls col-sm-5" style="margin-left: 75px;">
                    {php echo tpl_form_field_image('tea_pic', $items['tea_pic'])}
                </div>
                <div class="col-sm-1"></div>
                <div class="form-controls col-sm-4 help-block">（建议尺寸180X180）</div>
            </div>


            <div class="form-group">
                <label for="" class="control-label col-sm-2">课程缩略图</label>
                <!-- <div class="col-sm-1"></div> -->
                <div class="form-controls col-sm-5" style="margin-left: 75px;">
                    {php echo tpl_form_field_image('room_thumb', $items['room_thumb'])}
                </div>
                <div class="col-sm-1"></div>
                <div class="form-controls col-sm-4 help-block">（建议尺寸180X180）</div>
            </div>
            <div class="form-group">
                <label for="" class="control-label col-sm-2" id="room_fl" name="room_fl">课程分类</label>
                <div class="form-controls col-sm-5" style="margin-left: 75px;">
                    <select name="room_fl" id="room_fl" class="form-control">
                        <option value="">--请选择--</option>
                        {loop $keshi $item}
                        <option value="{$item['fl_id']}" {if $item['fl_id']==$items["room_fl"]}selected{/if} >{$item['j_name']}</option>
                        {/loop}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="" class="control-label col-sm-2">课程简介</label>
                <div class="form-controls col-sm-5" style="margin-left: 75px;">
                   <textarea rows="6" cols="20" class="form-control ng-pristine ng-untouched ng-valid ng-empty"  name="room_desc" id="room_desc">{$items['room_desc']}</textarea>
                </div>
                <div class="col-sm-1"></div>
                <div class="form-controls col-sm-4 help-block">课程简介</div>
            </div>

            <div class="form-group">
                <label for="" class="control-label col-sm-2">课程现价格</label>
                <!-- <div class="col-sm-1"></div> -->
                <div class="form-controls col-sm-5" style="margin-left: 75px;">
                    <input type="text" name="room_money" id="room_money" value="{$items['room_money']}" class="form-control ng-pristine ng-untouched ng-valid ng-empty"  placeholder="" autocomplete="off">
                </div>
                <div class="col-sm-1"></div>
                <div class="form-controls col-sm-4 help-block">课程价格</div>
            </div>
            <div class="form-group">
                <label for="" class="control-label col-sm-2" style="color: #428bca">课程原价格</label>
                <!-- <div class="col-sm-1"></div> -->
                <div class="form-controls col-sm-5" style="margin-left: 75px;">
                    <input type="text" name="ymoney" id="ymoney" value="{$items['ymoney']}" class="form-control ng-pristine ng-untouched ng-valid ng-empty"  placeholder="" autocomplete="off">
                </div>
                <div class="col-sm-1"></div>
                <div class="form-controls col-sm-4 help-block">课程价格</div>
            </div>
            <div class="form-group">
                <label for="" class="control-label col-sm-2">总需名额</label>
                <!-- <div class="col-sm-1"></div> -->
                <div class="form-controls col-sm-5" style="margin-left: 75px;">
                    <input type="text" name="room_per" id="room_per" value="{$items['room_per']}" class="form-control ng-pristine ng-untouched ng-valid ng-empty"  placeholder="" autocomplete="off">
                </div>
                <div class="col-sm-1"></div>
                <div class="form-controls col-sm-4 help-block">总需名额</div>
            </div>
            <div class="form-group">
                <label for="" class="control-label col-sm-2">学习人数</label>
                <!-- <div class="col-sm-1"></div> -->
                <div class="form-controls col-sm-5" style="margin-left: 75px;">
                    <input type="text" name="room_liulan" id="room_liulan" value="{$items['room_liulan']}" class="form-control ng-pristine ng-untouched ng-valid ng-empty"  placeholder="" autocomplete="off">
                </div>
                <div class="col-sm-1"></div>
                <div class="form-controls col-sm-4 help-block">学习人数</div>
            </div>
         
    </div>
    </div>
    </div>
    <div class="panel panel-default tab-pane row" role="tabpanel" id="home2">
        <div class="form-group" id="zongopen">
                <label for="" class="control-label col-sm-2">视频与音频开关</label>
                <div class="col-sm-1"></div>
                <div class="form-controls col-sm-5">
                    <input type="radio" name="kaiguan" value="0" {if $items['kaiguan'] ==0} checked="checked" {/if}>开启视频
                    <input type="radio" name="kaiguan" value="1" {if $items['kaiguan'] ==1} checked="checked" {/if}>开启音频
                </div>
            </div>
       <div class="form-group" id="shipingopen">
                <label for="" class="control-label col-sm-2">视频上传插件开关</label>
                <div class="col-sm-1"></div>
                <div class="form-controls col-sm-5">
                    <input type="radio" name="spkg" value="0" {if $items['spkg'] ==0} checked="checked" {/if}>开启站点自带视频上传插件
                    <input type="radio" name="spkg" value="1" {if $items['spkg'] ==1} checked="checked" {/if}>开启阿里云视频点播链接
                </div>
            </div>
             <div class="form-group" id="shipingS">
                <label for="" class="control-label col-sm-2">可上传视频</label>
                <div class="col-sm-1"></div>
                <div class="form-controls col-sm-5">
                    {php echo tpl_form_field_video('room_video' ,$items['room_video']);}

                </div>
               
            </div>
            <style type="">
                   #shipingH{
                        display: none;
                    }
                    #yinpingH{
                        display: none;
                    }
                     #yinpingS{
                        display: none;
                    }
                     #yinpingopen{
                        display: none;
                    }
            </style>
            <div class="form-group" id="shipingH">
                <label for="" class="control-label col-sm-2">视频点播链接</label>
                <!-- <div class="col-sm-1"></div> -->
                <div class="form-controls col-sm-5" style="margin-left: 75px;">
                    <input type="text" name="al_video" id="al_video" value="{$items['al_video']}" class="form-control ng-pristine ng-untouched ng-valid ng-empty"  placeholder="" autocomplete="off">
                </div>
                <div class="col-sm-1"></div>
                <div class="form-controls col-sm-4 help-block">视频点播链接</div>
            </div>
            <div class="form-group" id="yinpingopen">
                <label for="" class="control-label col-sm-2">音频上传插件开关</label>
                <div class="col-sm-1"></div>
                <div class="form-controls col-sm-5">
                    <input type="radio" name="ypkg" value="0" {if $items['ypkg'] ==0} checked="checked" {/if}>开启站点自带音频上传插件
                    <input type="radio" name="ypkg" value="1" {if $items['ypkg'] ==1} checked="checked" {/if}>开启音频链接
                </div>
            </div>
          
             <div class="form-group" id="yinpingS" >
                <label for="" class="control-label col-sm-2">可上传音频</label>
                <div class="col-sm-1"></div>
                <div class="form-controls col-sm-5">
                    {php echo tpl_form_field_audio('mp3',$items['mp3']);}
                </div>
               <div class="form-controls col-sm-4 help-block">可上传音频</div>
            </div>
            <div class="form-group" id="yinpingH">
                <label for="" class="control-label col-sm-2">音频点播链接</label>
                <!-- <div class="col-sm-1"></div> -->
                <div class="form-controls col-sm-5" style="margin-left: 75px;">
                    <input type="text" name="mp3m" id="mp3m" value="{$items['mp3m']}" class="form-control ng-pristine ng-untouched ng-valid ng-empty"  placeholder="" autocomplete="off">
                </div>
                <div class="col-sm-1"></div>
                <div class="form-controls col-sm-4 help-block">音频点播链接</div>
            </div>
          
        </div>
        
    </div>
    <div class="form-group">
        <div class="col-sm-12">
            <input name="token" type="hidden" value="{$_W['token']}" />
            <input type="submit" class="btn btn-primary col-lg-1" name="submit" value="提交" style="margin-left: 45%;" />
        </div>
    </div>
    <script type="">
                if($("#zongopen").find('input').eq(0).prop("checked")){
                    if($("#shipingopen").find('input').eq(0).prop('checked')){
                        $("#shipingopen").show();
                        $("#yinpingopen").hide()
                        $("#shipingH").hide()
                        $("#shipingS").show();
                        $("#yinpingH").hide()
                        $("#yinpingS").hide();
                    }
                    if($("#shipingopen").find('input').eq(1).prop('checked')){
                        $("#shipingopen").show();
                        $("#yinpingopen").hide()
                        $("#shipingH").show()
                        $("#shipingS").hide();
                        $("#yinpingH").hide()
                        $("#yinpingS").hide();
                    }
                }
                if($("#zongopen").find('input').eq(1).prop("checked")){
                    if($("#yinpingopen").find('input').eq(0).prop('checked')){
                        $("#shipingopen").hide();
                        $("#yinpingopen").show()
                        $("#shipingH").hide()
                        $("#shipingS").hide();
                        $("#yinpingH").hide()
                        $("#yinpingS").show();
                    }
                    if($("#yinpingopen").find('input').eq(1).prop('checked')){
                        $("#shipingopen").hide();
                        $("#yinpingopen").show()
                        $("#shipingH").hide()
                        $("#shipingS").hide();
                        $("#yinpingH").show()
                        $("#yinpingS").hide();
                    }

                }
                
                 $("#zongopen").on("click","input",function(argument) {
                        if($(this).val() == "0"){
                            $("#shipingS").show();
                            $("#shipingopen").show()
                            $("#shipingH").hide();
                            $("#yinpingS").hide();
                            $("#yinpingopen").hide()
                            $("#yinpingH").hide();
                            $("#shipingopen").find("input[name=spkg]").eq(0).prop("checked",true);
                            $("#shipingopen").find("input[name=spkg]").eq(1).prop("checked",false);
                             if($("#shipingH").find('input').val() != undefined){
                                $("#shipingopen").find("input[name=spkg]").eq(1).prop("checked",true);
                                $("#shipingopen").find("input[name=spkg]").eq(0).prop("checked",false);
                                $("#shipingH").show()
                                $("#shipingS").hide();
                             }
                             if($("#shipingS").children('input').val() != undefined){
                                $("#shipingopen").find("input[name=spkg]").eq(0).prop("checked",true);
                                $("#shipingopen").find("input[name=spkg]").eq(1).prop("checked",false);
                                $("#shipingH").hide()
                                $("#shipingS").show();
                             }
                           
                        }else if($(this).val() == "1"){
                            $("#shipingS").hide();
                            $("#shipingopen").hide()
                            $("#shipingH").hide();
                            $("#yinpingS").show();
                            $("#yinpingopen").show() 
                            $("#yinpingH").hide();
                            $("#yinpingopen").find("input[name=ypkg]").eq(0).prop("checked",true);
                            $("#yinpingopen").find("input[name=ypkg]").eq(1).prop("checked",false);
                            if($("#yinpingH").find('input').val() != undefined){
                                $("#yinpingopen").find("input[name=spkg]").eq(1).prop("checked",true);
                                $("#yinpingopen").find("input[name=spkg]").eq(0).prop("checked",false);
                                $("#yinpingH").show()
                                 $("#yinpingS").hide()
                             }
                             if($("#yinpingS").find('input').val() != undefined){
                                $("#yinpingopen").find("input[name=spkg]").eq(0).prop("checked",true);
                                $("#yinpingopen").find("input[name=spkg]").eq(1).prop("checked",false);
                                $("#yinpingH").hide()
                                $("#yinpingS").show()
                             }
                           
                     
                        }
                    })
                    $("#shipingopen").on("click","input",function(argument) {
                        if($(this).val() == "0"){
                            $("#shipingS").show();
                            $("#shipingH").hide();
                        }else if($(this).val() == "1"){
                            $("#shipingS").hide();
                            $("#shipingH").show();
                     
                        }
                    })
                    $("#yinpingopen").on("click","input",function(argument) {
                        if($(this).val() == "0"){
                            console.log(1)
                            $("#yinpingS").show();
                            $("#yinpingH").hide();
                        }else if($(this).val() == "1"){
                            console.log(2)
                            $("#yinpingS").hide();
                            $("#yinpingH").show();
                        
                        }
                    })
    </script>
    </div>
    </div>
</form>
{/if}
{template 'common/footer'}