{template 'common/header'}
<style type="text/css">
    .mianbaoxie{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .bbs_bread_wrap{
        color: #777;
        font-size: 12px;
    }
</style>
<div class="mianbaoxie">
    <ul class="nav nav-tabs" style="margin-bottom: 0;">
      <li  {if $op=='display'} class="active" {/if}><a href="{php echo $this->createWebUrl('jcxm',array('op'=>'display','id'=>$_GPC['id']));}">检查项目列表</a></li>
      <li {if $op=='post' } class="active" {/if}><a href="{php echo $this->createWebUrl('jcxm',array('op'=>'post','id'=>$_GPC['id']));}">添加项目</a></li>
    </ul>
<!--     <div class="bbs_bread_wrap">
        <a href="/" target="_blank">当前所属栏目：CSDN论坛</a>
        <span>&gt;</span>
            <a href="/forums/WebDevelop" target="_blank">Web 开发</a>
            <span>&gt;</span>
        <a href="/forums/ASP" target="_blank">ASP</a>
    </div> -->
</div>
 {if $op=='display'}
<form action="" method="POST">
        <div class="tab-pane in active" id="tab_basic">
            <div class="panel panel-default">
                <div class="panel-heading">检查项目列表</div>
                    <div class="row-fluid">
                        <div class="span12">
                        <div class="tab-pane" id="tabs-866688">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>
                                            ID
                                        </th>
                                        <th>
                                            名称
                                        </th>
                                        <th>
                                            类型
                                        </th>
                                        <th>
                                            检查结果类型
                                        </th>
                                        <th>
                                            操作
                                        </th>
                                    </tr >
                                </thead>
                                <tbody>
                                    
                                     {loop $res $item}
                                    <tr >
                                        <td>
                                            {$item['xm_id']}
                                        </td>
                                         <td>
                                            {$item['xmname']}
                                        </td>
                                        <td>
                                            {if $item['jc_type'] ==0}男方检查
                                            {else if $item['jc_type'] ==1}女方检查
                                            {else}其他
                                            {/if}
                                        </td>
                                          <td>
                                            {if $item['jc_jgtype'] =='0'}多选
                                            {else}文本输入
                                            {/if}
                                        </td>
                                    <td >
                                <a class="btn btn-default btn-sm" href="{php echo $this->createWeburl('jcxm', array('xm_id' => $item['xm_id'],'op' => 'post','id'=>$p_id))}">编辑</a> 
                                <a class="btn btn-default btn-sm" onclick="return confirm('此操作不可恢复，确认吗？'); return false;" href="{php echo $this->createWeburl('jcxm', array('xm_id' => $item['xm_id'], 'op' => 'delete','id'=>$p_id))}">删除</a>
                                <a class="btn btn-warning btn-sm" href="{php echo $this->createWeburl('jcjg', array('xm_id' => $item['xm_id'],'op' => 'jiguo','id'=>$p_id))}">+检查结果</a>
                            </td>
                                </tr>
                              {/loop}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            </div>
        </div>
      <div class="text-left we7-margin-top">
        {$pager}
      </div>
  {/if}
  {if $op=='post'}
  <form class="form-horizontal" action="" method="post">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">添加检查项目</h3>
        </div>

        <div class="panel-body">
        <div class="form-group">
            <label for="" class="control-label col-sm-2">检查类型</label>
            
            <div class="form-controls col-sm-8" style="margin-left: 13px;">
                <label style="margin-left: 65px">
                    <input type="radio" name="jc_type" value="0" {if $get['jc_type'] == '0' } checked='checked'{/if}/>             
                    男方检查    
                </label>
                <label style="margin-left: 65px">
                    <input type="radio" name="jc_type" value="1" {if $get['jc_type'] == '1'} checked='checked' {/if} />
                    女方检查
                </label>
                <label style="margin-left: 65px">
                    <input type="radio" name="jc_type" value="2" {if $get['jc_type'] == '2'} checked='checked' {/if} />
                    其他
                </label>
            </div>
           
        </div>
        <div class="form-group">
            <label for="" class="control-label col-sm-2">检查结果类型</label>
            
            <div class="form-controls col-sm-8" style="margin-left: 13px;">
                <label style="margin-left: 65px">
                    <input type="radio" name="jc_jgtype" value="0" {if $get['jc_jgtype'] == '0' } checked='checked'{/if}/>             
                    多选    
                </label>
                <label style="margin-left: 65px">
                    <input type="radio" name="jc_jgtype" value="1" {if $get['jc_jgtype'] == '1'} checked='checked' {/if} />
                    文本输入
                </label>
            </div>
           
        </div>
            <div class="form-group">
                <label for="" class="control-label col-sm-2">项目名称</label>
                <!-- <div class="col-sm-1"></div> -->
                <div class="form-controls col-sm-5" style="margin-left: 75px;">
                    <input type="text" name="xmname"  value="{$get['xmname']}" class="form-control ng-pristine ng-untouched ng-valid ng-empty"  placeholder="" autocomplete="off">
                </div>
            </div>

    </div>
    <div class="form-group">
        <div class="col-sm-12">
            <input type="text" name="xm_id" value="{$_GPC['xm_id']}" style="display: none;">
            <input name="token" type="hidden" value="{$_W['token']}" />
            <input type="submit" class="btn btn-primary col-lg-1" name="tijiao" value="提交" style="margin-left: 45%;" />
        </div>
    </div>
</form>
  {/if}
{template 'common/footer'}