{template 'common/header'}
<style>
    .we7-table.table-manage .table-manage-td, .table-manage.wechat-communication .table-manage-td{
        position: static;
        width: 100px;
    }
</style>
<ul class="nav nav-tabs">
    <li class="active">
        <a href="#">
            科室出诊安排
        </a>
    </li>
</ul>
<div class="main">
    <div class="panel panel-default">
        <div class="panel-body table-responsive">
            <table class="table we7-table table-hover vertical-middle table-manage ng-scope" id="js-system-account-display" ng-controller="SystemAccountDisplay">
                <colgroup>
                    <col width="120px">
                        <col>
                            <col width="200px">
                                <col width="100px">
                                    <col width="260px">
                                    </col>
                                </col>
                            </col>
                        </col>
                    </col>
                </colgroup>
                <tbody>
                    <tr>
                        <th class="text-left" colspan="2">
                            科室名称
                        </th>
                        <th>
                            科室介绍
                        </th>
                        <th class="text-right">
                            操作
                        </th>
                    </tr>
                    {loop $categorys $item}
                    <tr class="color-gray ng-scope">
                        <td class="text-left">
                            <img class="img-responsive icon" src="{media $item['icon']}">
                            </img>
                        </td>
                        <td class="text-left">
                            <p class="color-dark ng-binding">
                                {$item['name']}
                            </p>
                            <span class="color-green ng-scope">
                                普通科室
                            </span>
                        </td>
                        <td>
                            <p class="ng-binding">
                                {$item['ksdesc']}
                            </p>
                        </td>
                        <td class="vertical-middle table-manage-td">
                            <div class="manage-container">
                                <div class="link-group" style="width: 100px;">
                                    <a href="{php echo $this->createWebUrl('kserjifenl',array('id'=>$item['id']))}">
                                        查看分类科室
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {/loop}
                </tbody>
            </table>
        </div>
    </div>
</div>
{template 'common/footer'}
