{template 'common/header'}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            参数设置
        </h3>
    </div>
    <div class="panel-body">
        <form action="" class="form-horizontal" enctype="multipart/form-data" method="post" name="uploadfile" role="form">
            <div class="form-group">
                <label class="col-sm-2 control-label" for="firstname">
                    小程序AppId
                </label>
                <div class="col-sm-10">
                    <input class="form-control" name="appid" type="text" value="{$item[appid]}">
                    </input>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="lastname">
                    小程序AppSecret
                </label>
                <div class="col-sm-10">
                    <input class="form-control" name="appsecret" type="text" value="{$item[appsecret]}">
                    </input>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="lastname">
                    微信支付商户号mch_id
                </label>
                <div class="col-sm-10">
                    <input class="form-control" name="mch_id" type="text" value="{$item[mch_id]}">
                    </input>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="lastname">
                    微信支付appkeykey
                </label>
                <div class="col-sm-10">
                    <input class="form-control" name="appkey" type="text" value="{$item[appkey]}">
                    </input>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="lastname">
                    微信商户支付证书apiclient_cert.pem
                </label>
                <div class="col-sm-10">
                    <input name="upfile" type="file" value="{$item[upfile]}">
                        {$item[upfile]}
                    </input>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="lastname">
                    微信商户支付证书apiclient_key.pem
                </label>
                <div class="col-sm-10">
                    <input name="keypem" type="file" value="{$item[keypem]}">
                        {$item[keypem]}
                    </input>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <input name="token" type="hidden" value="{$_W['token']}"/>
                    <input class="btn btn-primary col-lg-1" name="submit" style="margin-left: 45%;" type="submit" value="提交"/>
                </div>
            </div>
        </form>
    </div>
</div>
{template 'common/footer'}
