{template 'common/header'}
<ul class="nav nav-tabs">
    <li class="active">
        <a href="#">
            创建出诊规则
        </a>
    </li>
    <!--     <li class="pull-right">
        <a href="{php echo $this->createWeburl('cztime',array('id'=>$_GPC['z_room']));}" >  
            <i class="fa fa-mail-reply"></i> 返回上一页</a>
    </li> -->
</ul>
<div class="main">
    <div class="panel panel-info">
        <div class="panel-body">
            <div class="xl-sm-12">
                过期 规则不显示
            </div>
        </div>
    </div>
    <form action="" method="post" onsubmit="return formcheck(this)">
        <div class="panel panel-default">
            <div class="panel-body table-responsive">
                <table class="table table-hover">
                    <thead class="navbar-inner">
                        <tr>
                            <!--<th style="width:10px;"></th>-->
                            <th style="width:80px;">
                                显示顺序
                            </th>
                            <th style="width:300px;">
                                医生名称
                            </th>
                            <th style="width:150px;">
                                年份
                            </th>
                            <th style="width:150px;">
                                时间
                            </th>
                            <th style="width:150px;">
                                挂号数
                            </th>
                            <th style="width:150px;">
                                操作
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {loop $success $items}
                        <tr>
                            <td>
                                <input class="form-control" name="sort_id[]" type="text" value="{$items['sort_id']}"/>
                            </td>
                            <input class="form-control" name="d_id[]" style="display: none;" type="text" value="{$items['d_id']}"/>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </form>
</div>
<td>
    <div class="type-parent" style="padding-left:10px;">
        {$items['z_name']}
        <p>
        </p>
    </div>
</td>
<td>
    <p class="ng-binding">
        {$items['date']}
    </p>
</td>
<td>
    <span class="label label-danger">
        {$items['day']} {$items['startTime']}
    </span>
</td>
<td>
    <p class="ng-binding">
        {$items['yyperson']}
    </p>
</td>
<td>
    <a class="btn btn-default btn-sm" data-original-title="编辑" data-placement="bottom" data-toggle="tooltip" href="{php echo $this->createWeburl('timesite', array('d_id' => $items['d_id'],'zid'=>$_GPC['zid'],'z_room'=>$_GPC['z_room']))}" title="">
        <i class="fa fa-edit">
        </i>
    </a>
    <a class="btn btn-default btn-sm" data-original-title="删除" data-placement="bottom" data-toggle="tooltip" href="{php echo $this->createWeburl('timesjduan', array('d_id' => $items['d_id'],'op'=>'post'))}" onclick="return confirm('确认删除此分类吗？');return false;" title="">
        <i class="fa fa-times">
        </i>
    </a>
</td>
{/loop}
<tr>
    <td>
        <input class="btn btn-primary" data-original-title="" name="submit" title="" type="submit" value="排序">
            <input name="token" type="hidden" value="{$_W['token']}"/>
        </input>
    </td>
</tr>
{template 'common/footer'}
