<?xml version="1.0" encoding="utf-8"?>
<manifest>
	<application>
		<name><![CDATA[分销合伙人]]></name>
		<identifie><![CDATA[distribution]]></identifie>
		<version><![CDATA[1.0.0]]></version>
		<type><![CDATA[expand]]></type>
		<description><![CDATA[强大的营销渠道，将市场的开括交给用户，这是前所未有的销售体验!]]></description>
		<author><![CDATA[微连科技]]></author>
		<url><![CDATA[http://www.weliam.cn/]]></url>
	</application>
	<setting>
		<agent embed="false" />
		<system embed="true" />
		<task embed="true" />
	</setting>
	<agentmenu>
	</agentmenu>
	<systemmenu>
		<menu title="分销商" font="fa-inbox">
			<entry title="分销商列表" ac="dissysbase" do="distributorlist" iscover="true"/>
			<entry title="申请列表" ac="dissysbase" do="adddistributor" />
			<entry title="分销商等级" ac="dissysbase" do="dislevel"/>
		</menu>
		<menu title="财务" font="fa-inbox">
			<entry title="佣金明细" ac="dissysbase" do="disdetail"/>
			<entry title="提现列表" ac="dissysbase" do="applist"/>
		</menu>
		<menu title="分销设置" font="fa-inbox">
			<entry title="系统设置" ac="dissysbase" do="disbaseset"/>
			<entry title="分销入口" ac="dissysbase" do="entry"/>
		</menu>
	</systemmenu>
</manifest>