
.bg-white{
    background-color: #fff !important;
}
.cl-white{color: #fff !important;}
.cl-yellow{color: #fbc108 !important;}
.cl-999{color: #999 !important;}
.bg-blue1{
     background-color: #06006a !important;
}
.bg-blue2{
     background-color: #28b6f6 !important;
}
.bg-blue3{
     background-color: #03a9f5 !important;
}
.bg-blue4{
     background-color: #0277bd !important;
}
.bg-blue5{
     background-color: #28b6f6 !important;
}
.bg-yellow{background-color: #fec400 !important;}
.notice{
    background-color:rgba(0,0,0,0.2);
    border-color:rgba(0,0,0,0.2);
    color: #fff;
}
.num_box .num_box_ul li span.text{color: #fff}
.num_box .num_box_ul li span{color:#f0bf36}
.pd-b-10{padding-bottom: 10px;}
.pd-t-10{padding-top: 10px;}
.pd-l-10{padding-left: 10px;}
.pd-r-10{padding-right: 10px;}
.pd-10{ padding: 10px;}
.pd-b-15{padding-bottom: 15px;}
.divbotuser h2{border-bottom: 0;}
.num_box .join_us{
    margin: 0;
    width: 100%;
    background: #fec400;
}
.num_box .num_box_ul{border-top: 0;border: 0;}
.divmain11{
    padding: 10px;
    width: 100%;
    height: auto;
    margin: 0;
    border: 0;
    border-radius: 0;
}
.divmain11 .inputtxt{margin-bottom: 0;}
.divmain11 .divsub{
    height: 38px;
    margin-top: 0;
    background: #fec400;
    color: #fff;
    line-height: 38px;
    border-radius: 4px;
    border-left: 0;

}
.tabtitle {
    /*border-top: 1px dashed #fff;*/
    border: 0;  
    margin-top: 0;
    color:#fff;
}
.divmain10{
    width: 100%;
    margin: 0;
    background: #0277bd;
}
.divcon{color: #fff; width: 100%;}
.divcon p{color: #fff;}
.divbottommenu .divitem{color: #fff;}
.divbottommenu {
    padding: 5px;
    border-bottom: 10px solid #0277bd;
    height: auto;
}
.view2 {
    width: 100%;
    padding: 10px;
    border-radius: 0;
    margin: 0;
}
.view2 p{
      color: #fff;
}
.vbtn_tnk{background:#fec400 }
.time-item strong{
    border: 0;
    padding: 5px 15px;
}
.paihang1{
    padding: 10px;
    width: 100%;
    margin: 0;
    border-radius: 0;
    background:#28b6f6;
    color: #fff ;
    height: auto;
    border: 0;
}
.paihang1 .divtxt{
    color:#fbc108 
}
.paihang1 .divitem{
    line-height: 24px;
}
.paihang2 .datalist{
    border-radius: 4px;
    background: #fff;
    width: 100%;
    margin-bottom: 10px;
}
.paihang1 .divitem a{color: #fff;}
.day{color: #fff;line-height: 24px;}
.time-item{
    padding-bottom: 10px;
    border-bottom: 10px solid #0277bd;
}
.footer .nav .ispr{
    background-image: url(../images/fbg2-blue2.png)
}
.footer li>a.on .nav p{
    color: #74afeb;
}
.bg-bw{
      background-image: url(../images/bg-bw-blue2.jpg);
      background-repeat: repeat-x;
      background-position: left bottom;
      background-size: 9px auto;
}
.bg-bw-white{
      background-image: url(../images/white-bw-blue2.jpg);
      background-repeat: repeat-x;
      background-position: left bottom;
      background-size: 9px auto;
      background-color: #fff;
        border-radius: 4px;
}
.lapiao .l{
   background: url(../images/lapiao1-blue2.png) no-repeat 22px 14px ;
       background-size: 22px;
}
.lapiao .r{ 
    background:url(../images/lapiao1-blue2.png) no-repeat 22px -23px ;
        background-size: 22px;
    }
   .lapiao .add {background: #28b6f6 }
   /*.add .i{
       color: #0277bd;
       border:4px solid  #0277bd;
       background: #5bc9fa
   }*/
   .time-item strong{
       font-weight: normal;
       color: #666;
   }
   .bmimg{
       width: 60px;
       height: 60px;
   }
   .divview2{
       padding: 10px;
       width: 100%;
       margin: 0;
       color: #fff;
   }
   .zuanlist{border-bottom: 0;}
   .content .list_box li a.vote{
       color: #28b6f6;
       border: 1px solid #28b6f6;
   }