{extend name="common/index" /}
{block name="search_box"}
<!--工具栏-->
{/block}
{block name="tool_box"}
<!--工具栏-->
<div class="tool-box">
    <div class="layui-btn-group">
        <a href="javascript:;" id="btnAdd" class="layui-btn layui-btn-primary layui-btn-sm">新增</a>
        <a href="javascript:;" id="btnBatchDelete" class="layui-btn layui-btn-danger layui-btn-sm">删除</a>
    </div>
</div>
{/block}
{block name="tool_template"}
<!--数据表-操作列-->
<script type="text/html" id="dataTool">
    <a href="javascript:;" data-id="{{ d.id }}" class="layui-btn layui-btn-primary layui-btn-xs btnEdit">编辑</a>
    <a href="javascript:;" data-id="{{ d.id }}" class="layui-btn layui-btn-danger layui-btn-xs btnDelete">删除</a>
</script>
{/block}
{block name="table_config"}

<script type="text/html" id="dataIsMember">
    <input type="checkbox" {{# if(d.is_member){ }}checked{{# } }}>
</script>
<script type="text/html" id="linkTypes">
    {{# if(d.link_type == 1){ }}内链{{# } }}
    {{# if(d.link_type == 2){ }}外部小程序{{# } }}
    {{# if(d.link_type == 3){ }}客服消息{{# } }}
</script>
<script>
    layui.use('table', function () {
        var table = layui.table;
        //        表格初始化
        table.render({
            elem: '#laytable'
            ,url:"{:adminurl('get_memberconf_list')}"
            ,cols: [[
                {type:'numbers',fixed:'left'},
                {type:'checkbox',fixed:'left'},

                {field:'title', width:200, title: '等级名称',fixed:'left'},
                {field:'level', width:200, title: '级别',sort:true},
                {field:'money', width:200, title: '累计消费金额',sort:true},
                {field:'discount', width:100, title: '折扣',sort:true},
                {field:'create_time', width:200, title: '创建时间',sort:true},
                {field:'o',fixed:'right',width:200, title: '操作',templet: '#dataTool'},
            ]]
            ,page: true,
            height:'full-300',
        });
    })

</script>
{/block}
<script>

</script>