{php include $this->template('WQBackStage/head')}
{if $operation == 'display'}
<div class="main">
    <div class="panel panel-default">
        <div class="panel-heading span8 control-group">
            <a  class="btn btn-default" href="{php echo $this->createWebUrl('classification', array('op' => 'add'))}"><i class="fa fa-edit"> 添加分类</i></a><br>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row-fluid">
                <div class="panel-heading">
                    新闻类
                </div>
            </div>
        </div>
        <table class="table">
            <thead class="navbar-inner">
            <tr>
                <th style="width: 5%;">ID</th>
                <th>父类</th>
                <th>分类名</th>
            </tr>
            </thead>
            <tbody>
            {loop $list $key $row}
            {if $row['fatherClass'] == '新闻'}
            {php $num = ($pindex -1) * $psize + $key + 1;}
            <tr  {if $num < 1} class="danger" {/if}>
                <td>
                    {$row['id']}
                </td>
                <td style="white-space:normal;">
                    {$row['fatherClass']}
                </td>
                <td style="white-space:normal;">
                    {$row['classificationName']}
                </td>
                <td>
                   
                    <a class="btn btn-default btn-sm" href="{php echo $this->createWebUrl('classification', array('id' => $row['id'], 'op' => 'add'))}" title="编辑">编辑</a>&nbsp;&nbsp;
                    <a class="btn btn-danger btn-sm" href="{php echo $this->createWebUrl('classification', array('id' => $row['id'], 'op' => 'delete'))}" onclick="return confirm('此操作不可恢复，确认删除？');return false;" title="删除">删除</a>
                </td>
            </tr>
            {/if}
            {/loop}
            </tbody>
        </table>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row-fluid">
                <div class="panel-heading">
                    产品类
                </div>
            </div>
        </div>
        <table class="table">
            <thead class="navbar-inner">
            <tr>
                <th style="width: 5%;">ID</th>
                <th>父类</th>
                <th>分类名</th>
            </tr>
            </thead>
            <tbody>
            {loop $list $key $row}
            {if $row['fatherClass'] == '产品'}
            {php $num = ($pindex -1) * $psize + $key + 1;}
            <tr  {if $num < 1} class="danger" {/if}>
                <td>
                    {$row['id']}
                </td>
                <td style="white-space:normal;">
                    {$row['fatherClass']}
                </td>
                <td style="white-space:normal;">
                    {$row['classificationName']}
                </td>
                <td>
                   
                    <a class="btn btn-default btn-sm" href="{php echo $this->createWebUrl('classification', array('id' => $row['id'], 'op' => 'add'))}" title="编辑">编辑</a>&nbsp;&nbsp;
                    <a class="btn btn-danger btn-sm" href="{php echo $this->createWebUrl('classification', array('id' => $row['id'], 'op' => 'delete'))}" onclick="return confirm('此操作不可恢复，确认删除？');return false;" title="删除">删除</a>
                </td>
            </tr>
            {/if}
            {/loop}
            </tbody>
        </table>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row-fluid">
                <div class="panel-heading">
                    案例类
                </div>
            </div>
        </div>
        <table class="table">
            <thead class="navbar-inner">
            <tr>
                <th style="width: 5%;">ID</th>
                <th>父类</th>
                <th>分类名</th>
            </tr>
            </thead>
            <tbody>
            {loop $list $key $row}
            {if $row['fatherClass'] == '案例'}
            {php $num = ($pindex -1) * $psize + $key + 1;}
            <tr  {if $num < 1} class="danger" {/if}>
                <td>
                    {$row['id']}
                </td>
                <td style="white-space:normal;">
                    {$row['fatherClass']}
                </td>
                <td style="white-space:normal;">
                    {$row['classificationName']}
                </td>
                <td>
                   
                    <a class="btn btn-default btn-sm" href="{php echo $this->createWebUrl('classification', array('id' => $row['id'], 'op' => 'add'))}" title="编辑">编辑</a>&nbsp;&nbsp;
                    <a class="btn btn-danger btn-sm" href="{php echo $this->createWebUrl('classification', array('id' => $row['id'], 'op' => 'delete'))}" onclick="return confirm('此操作不可恢复，确认删除？');return false;" title="删除">删除</a>
                </td>
            </tr>
            {/if}
            {/loop}
            </tbody>
        </table>
    </div>
    
</div>
{elseif $operation == 'add'}
<div class="main">
    <form action="" method="post" class="form-horizontal form" enctype="multipart/form-data" autocomplete = "off">
        <div class="panel panel-default">
            <div class="panel-heading">
                添加分类
            </div>

            <div class="panel-body">

                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">父类名</label>
                    <div class="col-sm-9"><div></div>
                        <select style="width:200px" name="fatherClass">
                            {if $item['fatherClass'] != ''}
                                <option value="{$item['fatherClass']}" selected>{$item['fatherClass']}</option>
                            {/if}
                            <option value="案例">案例</option>
                            <option value="产品">产品</option>
                            <option value="新闻">新闻</option>
                            <!-- {loop $fatherclassList $key $value}
                                <option value="{$value['fatherclassName']}">{$value['fatherclassName']}</option>
                            {/loop} -->
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">分类名</label>
                    <div class="col-sm-9">
                        <input type="text" id="classificationName" name="classificationName" class="form-control" value="{$item['classificationName']}" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">分类图片</label>
                    <div class="col-sm-9">
                         {php echo tpl_form_field_image('img',$item['img']);}
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                <button type="submit" class="btn btn-primary col-lg-1" name="submit" value="提交">保存设置</button>
                <input type="hidden" name="token" value="{$_W['token']}" />
            </div>
        </div>
    </form>
</div>
{/if}
{php include $this->template('WQBackStage/footer')}
