var look = ({
    toFix: (function(value, count, hut) {
        hut = undefined === hut ? false : hut;
        var num = parseFloat(value);
        num = num.toFixed(count);
        if (hut) {
            num = parseFloat(num)
        };
        return (num)
    }),
    int: (function(value) {
        return (parseInt(value))
    }),
    substring: (function(str, start, end) {
        return (str.substring(start, end))
    }),
});
module.exports = ({
    toFix: look.toFix,
    int: look.int,
    substring: look.substring,
});