{extend name="common/editnosub" /}
{block name="content"}
<link rel="stylesheet" href="__STATIC__/bower_components/layui/extend/cascader.css">
<form class="layui-form" method="post" >
<div class="layui-form-item">
    <label class="layui-form-label">名称</label>
    <div class="layui-input-block">
        <input autocomplete="off" type="text" name="name" lay-verify="required" placeholder="请输入名称" class="layui-input" value="{$info.name??''}">
    </div>
</div>
<div class="layui-form-item">
    <div class="layui-inline">
        <label class="layui-form-label">排序</label>
        <div class="layui-input-block">
            <input autocomplete="off" type="number" min="0" name="sort" placeholder="从小到大" class="layui-input" value="{$info.sort??''}">
        </div>
    </div>
    <div class="layui-inline">
        <label class="layui-form-label">库存</label>
        <div class="layui-input-block">
            <input autocomplete="off" type="number" min="0" name="stock" placeholder="请输入库存" class="layui-input" value="{$info.stock??''}">
        </div>
    </div>
    <div class="layui-inline">
        <label class="layui-form-label">是否显示库存</label>
        <div class="layui-input-block">
            <input type="radio" name="is_stock" value="1" title="显示" {$info.is_stock == 1 ?"checked":""}>
            <input type="radio" name="is_stock" value="0" title="不显示" {$info.is_stock != 1 ?"checked":""}>
        </div>
    </div>
</div>
<div class="layui-form-item">
    <div class="layui-inline">
        <label class="layui-form-label">拼团价</label>
        <div class="layui-input-block">
            <input autocomplete="off" type="text" name="pin_price" placeholder="请输入拼团价" class="layui-input" value="{$info.pin_price??''}" lay-verify="required" >
        </div>
    </div>
    <div class="layui-inline">
        <label class="layui-form-label">原价</label>
        <div class="layui-input-block">
            <input autocomplete="off" type="text" name="original_price" placeholder="请输入原价" class="layui-input" value="{$info.original_price??''}" lay-verify="required">
        </div>
    </div>
</div>
<div class="layui-form-item">
    <div class="layui-inline">
        <label class="layui-form-label">是否开启单购</label>
        <div class="layui-input-block">
            <input type="radio" name="is_alonepay" value="1" title="开启" {$info.is_alonepay == 1 ?"checked":""}>
            <input type="radio" name="is_alonepay" value="0" title="关闭" {$info.is_alonepay != 1 ?"checked":""}>
        </div>
    </div>
    <div class="layui-inline">
        <label class="layui-form-label">单购价</label>
        <div class="layui-input-block">
            <input autocomplete="off" type="text" name="price" placeholder="0则关闭单购" class="layui-input" value="{$info.price??''}">
        </div>
    </div>
</div>
<div class="layui-form-item">
    <div class="layui-inline">
        <label class="layui-form-label">开团人数</label>
        <div class="layui-input-block">
            <input autocomplete="off" type="number" min="2" name="need_num" placeholder="至少2人成团" class="layui-input" value="{$info.need_num??''}" lay-verify="required">
        </div>
    </div>
    <div class="layui-inline">
        <label class="layui-form-label">单次购买数量</label>
        <div class="layui-input-block">
            <input autocomplete="off" type="number" min="0" name="limit_num" placeholder="0为不限制" class="layui-input" value="{$info.limit_num??''}">
        </div>
    </div>
    <div class="layui-inline">
        <label class="layui-form-label">购买次数限制</label>
        <div class="layui-input-block">
            <input autocomplete="off" type="number" min="0" name="limit_times" placeholder="0为不限制" class="layui-input" value="{$info.limit_times??''}">
        </div>
    </div>
</div>
<div class="layui-form-item">
    <div class="layui-inline">
        <label class="layui-form-label">组团限时(小时)</label>
        <div class="layui-input-block">
            <input autocomplete="off" type="number" name="group_time" placeholder="单位小时，请填正整数" class="layui-input" value="{$info.group_time??''}" lay-verify="required">
        </div>
    </div>
    <div class="layui-inline">
        <label class="layui-form-label">付款限时（分钟）</label>
        <div class="layui-input-block">
            <input autocomplete="off" type="number" name="pay_time" placeholder="单位分钟，请填正整数" class="layui-input" value="{$info.pay_time??''}" lay-verify="required">
        </div>
    </div>
</div>
<div class="layui-form-item">
    <div class="layui-inline">
        <label class="layui-form-label">单位</label>
        <div class="layui-input-block">
            <input autocomplete="off" type="text" name="unit" placeholder="请输入单位" class="layui-input" value="{$info.unit??''}" lay-verify="required">
        </div>
    </div>
    <div class="layui-inline">
        <label class="layui-form-label">重量</label>
        <div class="layui-input-block">
            <input autocomplete="off" type="text" name="weight" placeholder="请输入重量" class="layui-input" value="{$info.weight??''}" lay-verify="required">
        </div>
    </div>
</div>

<div class="layui-form-item">

    <div class="layui-inline">
        <label class="layui-form-label">虚拟销量</label>
        <div class="layui-input-block">
            <input autocomplete="off" type="number" name="sales_xnnum" placeholder="请输入虚拟销量" class="layui-input" value="{$info.sales_xnnum??''}">
        </div>
    </div>
    <div class="layui-inline">
        <label class="layui-form-label">虚拟开团数</label>
        <div class="layui-input-block">
            <input autocomplete="off" type="number" name="group_xnnum" placeholder="请输入虚拟开团数" class="layui-input" value="{$info.group_xnnum??''}">
        </div>
    </div>
</div>

<div class="layui-form-item">
    <div class="layui-inline">
        <label class="layui-form-label">拼团开始时间</label>
        <div class="layui-input-block">
            <input type="text" name="start_time" id="start_time" value="{$info.start_time}"  placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-inline">
        <label class="layui-form-label">拼团结束时间</label>
        <div class="layui-input-block">
            <input type="text" name="end_time" id="end_time" value="{$info.end_time}"  placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
        </div>
    </div>
</div>
<div class="layui-form-item">
    <div class="layui-inline">
        <label class="layui-form-label">使用方式</label>
        <div class="layui-input-block">
            <input type="radio" name="sendtype" value="1" title="到店" {$info.sendtype == 1 ?"checked":""}>
            <input type="radio" name="sendtype" value="2" title="物流" {$info.sendtype != 1 ?"checked":""}>
        </div>
    </div>
</div>
<div class="layui-form-item">
    <div class="layui-inline">
        <label class="layui-form-label">是否开启团长优惠</label>
        <div class="layui-input-block">
            <input type="radio" name="is_group_coupon" value="1" title="开启" {$info.is_group_coupon == 1 ?"checked":""}>
            <input type="radio" name="is_group_coupon" value="0" title="关闭" {$info.is_group_coupon != 1 ?"checked":""}>

        </div>
    </div>
    <div id="grouperdiv">
        <div class="layui-inline">
            <label class="layui-form-label">优惠金额</label>
            <div class="layui-input-block">
                <input autocomplete="off" type="text" name="coupon_money" placeholder="请输入优惠金额" class="layui-input" value="{$info.coupon_money??''}">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">优惠折扣</label>
            <div class="layui-input-block">
                <input autocomplete="off" type="number" name="coupon_discount" placeholder="输入正整数" class="layui-input" value="{$info.coupon_discount??''}">
            </div>
        </div>
        <div class="layui-input-block">
            <div class="layui-form-mid layui-word-aux">优惠金额和优惠折扣不能同时使用，0为不使用</div>
        </div>
    </div>
</div>
<div class="layui-form-item">
    <label class="layui-form-label">封面图</label>
    <div class="layui-input-block">
        {php}echo tpl_form_field_image('pic', isset($info['pic'])?$info['pic']:'','/web/resource/images/nopic.jpg');{/php}
        <div class="layui-form-mid layui-word-aux">建议尺寸：340*340</div>
    </div>
</div>
<div class="layui-form-item">
    <label class="layui-form-label">轮播图</label>
    <div class="layui-input-block">
        {php}echo tpl_form_field_multi_image('pics', isset($info['pics'])?$info['pics']:'');{/php}
        <div class="layui-form-mid layui-word-aux">建议尺寸：750*500</div>
    </div>
</div>
<div class="layui-form-item">
    <label class="layui-form-label">商品详情</label>
    <div class="layui-input-block">
        <textarea id="demo" style="display: none;">{$info['details']}</textarea>
    </div>
</div>
<div class="layui-form-item">
    <label class="layui-form-label">是否设为热销商品</label>
    <div class="layui-input-block">
        <input type="radio" name="is_hot" value="1" title="是" {$info.is_hot == 1 ?"checked":""}>
        <input type="radio" name="is_hot" value="0" title="否" {$info.is_hot != 1 ?"checked":""}>
    </div>
</div>
<div class="layui-form-item">
    <label class="layui-form-label"></label>
    <div class="layui-input-block">
        <div class="layui-form-mid layui-word-aux" style="color: red !important;">*阶梯团跟多规格不能同时开启</div>
    </div>
</div>
<div class="layui-form-item">
    <label class="layui-form-label">阶梯团</label>
    <div class="layui-input-block">
        <input type="radio" name="is_ladder" value="1" title="开启" {$info.is_ladder == 1 ?"checked":""}>
        <input type="radio" name="is_ladder" value="0" title="关闭" {$info.is_ladder != 1 ?"checked":""}>
    </div>
</div>
<div class="layui-form-item">
    <label class="layui-form-label">多规格</label>
    <div class="layui-input-block">
        <input type="radio" name="use_attr" value="1" title="开启" {$info.use_attr == 1 ?"checked":""}>
        <input type="radio" name="use_attr" value="0" title="关闭" {$info.use_attr != 1 ?"checked":""}>
    </div>
</div>
</form>
<script>
    //JavaScript代码区域
    layui.use(['table','form','laydate','layedit'],function () {
        var table = layui.table;
        var form = layui.form,
            laydate = layui.laydate;
        //日期
        laydate.render({
            elem: '#start_time',
            type: 'datetime'
        });
        laydate.render({
            elem: '#end_time',
            type: 'datetime'
        });
        var layedit = layui.layedit;
        layedit.build('demo'); //建立编辑器
    })

</script>

{/block}