#selectUrl .modal-body {padding: 10px 15px;}
#selectUrl .tab-pane {margin-top: 5px; min-height: 400px; max-height: 450px; overflow-y: auto;}
#selectUrl .page-head {padding: 9px 0; margin-bottom: 8px;}
#selectUrl .page-head h4 {margin: 0;}
#selectUrl .btn {margin-bottom: 3px;}
#selectUrl .modal-dialog {width: 930px;}
#selectUrl .line {border-bottom: 1px dashed #ddd; color: #999; height: 36px; line-height: 36px;}
#selectUrl .line .icon {height: 35px; width: 30px; position: relative; float: left;}
#selectUrl .line .icon.icon-1:before {content: ""; width: 10px; height: 10px; border: 1px dashed #ccc; position: absolute; top: 12px; left: 10px;}
#selectUrl .line .icon.icon-2 {width: 50px;}
#selectUrl .line .icon.icon-2:before {content: ""; width: 10px; height: 10px; border-left: 1px dashed #ccc; border-bottom: 1px dashed #ccc; position: absolute; top: 12px; left: 20px;}
#selectUrl .line .icon.icon-3 {width: 60px;}
#selectUrl .line .icon.icon-3:before {content: ""; width: 10px; height: 10px; border-left: 1px dashed #ccc; border-bottom: 1px dashed #ccc; position: absolute; top: 12px; left: 30px;}
#selectUrl .line .btn-sm {float: right; margin-top: 5px; margin-right: 5px; height: 24px; line-height: 24px; padding: 0 10px;}
#selectUrl .line .text {display: block;}
#selectUrl .line .label-sm {padding: 2px 5px;}
#selectUrl .line.good {height: 60px; padding: 4px 0;}
#selectUrl .line.good .image {height: 50px; width: 50px; border: 1px solid #ccc; float: left;}
#selectUrl .line.good .image img {height: 100%; width: 100%;}
#selectUrl .line.good .text {padding-left: 60px; height: 52px;}
#selectUrl .line.good .text p {padding: 0; margin: 0;}
#selectUrl .line.good .text .name {font-size: 15px; line-height: 32px; height: 28px;}
#selectUrl .line.good .text .price {font-size: 12px; line-height: 18px; height: 18px;}
#selectUrl .line.good .btn-sm {height: 32px; padding: 5px 10px; line-height: 22px; margin-top: 9px;}
#selectUrl .tip {line-height: 250px; text-align: center;}
#selectUrl .nav.nav-tabs{border-color: #1ab394;}
#selectUrl .nav-tabs > li > a {padding: 8px 20px;}
#selectUrl .nav-tabs>li>a:hover {border-color: #eee #eee #1ab394 #eee;}
#selectUrl .nav-tabs>li.active>a, #selectUrl .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {color: white;background-color: #1ab394;border-color: #1ab394;}
#selectUrlContent .page-search{margin-bottom: 20px;}
#selectUrlContent .page-search .col-sm-10{padding-left: 0;}
#selectUrlContent .app-table-list table{border: 1px solid #e5e5e5;}
#selectUrlContent tbody tr td .url_images{width: 30px; height: 30px;}
#selectUrlContent .pagerContent{height: 35px; line-height: 35px; margin-top: 20px; text-align: right;}
#selectUrlContent .pagerContent span:first-child{border-radius: 4px 0 0 4px;}
#selectUrlContent .pagerContent span:last-child{border-radius: 0 4px 4px 0;border-right: 1px solid #DDD;}
#selectUrlContent .pagerContent span{padding: 7px 15px; border: 1px solid #DDD; cursor: pointer; border-right: 0;}
#selectUrlContent .pagerContent .active, .pagerContent span:hover{background: #f4f4f4;}


















