{template 'public/header'}
{template 'public/comhead'}
<link rel="stylesheet" type="text/css" href="../addons/yzcyk_sun/template/public/ygcss.css">
<style type="text/css">
    input[type="radio"] + label::before {
        content: "\a0"; /*不换行空格*/
        display: inline-block;
        vertical-align: middle;
        font-size: 16px;
        width: 1em;
        height: 1em;
        margin-right: .4em;
        border-radius: 50%;
        border: 2px solid #ddd;
        text-indent: .15em;
        line-height: 1;
    }
    input[type="radio"]:checked + label::before {
        background-color: #444444;
        background-clip: content-box;
        padding: .1em;
        border: 2px solid #444444;
    }
    input[type="radio"] {
        position: absolute;
        clip: rect(0, 0, 0, 0);
    }
</style>

<ul class="nav nav-tabs">
    <span class="ygxian"></span>
    <div class="ygdangq">当前位置:</div>
    <li><a href="{php echo $this->createWebUrl('vipcardopen')}">会员卡设置</a></li>
    <li><a href="{php echo $this->createWebUrl('viplist')}">会员列表</a></li>
    <li class="active"><a href="{php echo $this->createWebUrl('addvipcard')}">会员卡添加</a></li>
</ul>
<div class="main">
    <form action="" method="post" class="form-horizontal form" enctype="multipart/form-data">
        <!--<input type="hidden" name="parentid" value="{$parent['id']}" />-->
        <div class="panel panel-default ygdefault">
            <div class="panel-heading wyheader">
                会员卡设置
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">会员卡名称</label>
                    <div class="col-sm-9">
                        <input type="text" name="name" class="form-control" value="{$info['name']}" />
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">会员卡售价</label>
                    <div class="col-sm-9">
                        <input type="text" name="price" class="form-control" value="{$info['price']}" />
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">会员卡折扣</label>
                    <div class="col-sm-9">
                        <input type="text" name="discount" placeholder="如打8.5折请填写数字0.85" class="form-control" value="{$info['discount']}" />
                        <span class="help-block">*不打折则无需填写</span>
                    </div>
                </div>
            </div>
            <div class="form-group" style="margin-left: 3px;">
                <label class="col-xs-12 col-sm-3 col-md-2 control-label">会员卡图片</label>
                <div class="col-sm-9">
                    {php echo tpl_form_field_image('img', $info['img'])}
                    <span class="help-block">*建议宽高630*360</span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-12 col-sm-3 col-md-2 control-label">会员卡规则</label>
                <div class="col-sm-9">
                    <textarea name="desc" class="form-control" placeholder="请输入内容" cols="30" rows="7">{$info['desc']}</textarea>
                </div>
            </div>
        </div>
        <div class="form-group">
            <input type="submit" name="submit" value="提交" class="btn col-lg-3" style="color: white;background-color: #444444;margin-left: 450px;"/>
            <input type="hidden" name="token" value="{$_W['token']}" />
            <input type="hidden" name="id" value="{$info['id']}" />
        </div>
    </form>
</div>
<script type="text/javascript">
    $(function(){
        $("#frame-123").show();
        $("#yframe-123").addClass("wyactive");
    })
</script>