<?xml version="1.0" encoding="utf-8"?>
<manifest>
	<application>
		<name><![CDATA[支付有礼]]></name>
		<identifie><![CDATA[paidpromotion]]></identifie>
		<version><![CDATA[1.0.0]]></version>
		<type><![CDATA[interact]]></type>
		<description><![CDATA[支付成功后的客户营销，支持发卡券、送激活码等等。]]></description>
		<author><![CDATA[微连科技]]></author>
		<url><![CDATA[http://www.weliam.cn/]]></url>
	</application>
	<setting>
		<agent embed="true" />
		<system embed="true" />
		<task embed="false" />
	</setting>
	<agentmenu>
		<menu title="活动" font="fa-inbox">
			<entry title="活动管理" ac="payactive" do="activelist" iscover="true" />
			<entry title="赠礼记录" ac="payactive" do="recodelist" />
		</menu>
	</agentmenu>
	<systemmenu>
		<menu title="活动" font="fa-inbox">
			<entry title="活动管理" ac="payactive" do="activelist" iscover="true" />
			<entry title="赠礼记录" ac="payactive" do="recodelist" />
		</menu>
	</systemmenu>
</manifest>