
::-webkit-scrollbar{width:6px;height:6px;background:#999;}
::-webkit-scrollbar-button{display: none;}
::-webkit-scrollbar-thumb{background:#333;}

.tooltip {
     position: absolute;
     color: white;
     padding: 16px;
     border-radius: 4px;
     top: 0;
     left: 0;
     opacity: 0;
 }

 .tooltip-inner {
     background: rgb(51,51,51);
     padding: 5px 10px;
 }

 .tooltip-arrow {
     position: absolute;
     border: 8px solid transparent;
 }

 .arrow_bottom {
     border-bottom-color: rgb(51,51,51);
     left: calc(50% - 8px);
     top: 0;
 }

 .arrow_top {
     border-top-color: rgb(51,51,51);
     left: calc(50% - 8px);
     bottom: 0;
 }

 .arrow_left {
     border-left-color: rgb(51,51,51);
     right: 0;
     top: calc(50% - 8px);
 }

 .arrow_right {
     border-right-color: rgb(51,51,51);
     left: 0;
     top: calc(50% - 8px);
 }

.toolload {
    position: fixed;
    z-index: 5000;
    background: #333;
    padding: 10px 20px;
    color: #fff;
    border-radius: 2px;
    cursor: pointer;
}

.toolload_inner {
    display:inline-block;
    margin-left: 10px;
}

.toolmodel {
     position: absolute;
     border-radius: 8px;
     font-size: 16px;
     z-index: 10;
     background: #fff;
     display: none;
 }

 .toolmodel_title {
     background: #f04e56;
     color: #fff;
     line-height: 40px;
     padding: 0 10px;
     cursor: move;
     border-radius: 8px 8px 0 0;
 }

 .toolmodel_title span {
     float: right;
     cursor: pointer;
     font-size: 20px;
 }

 .toolmodel_inner {
     height: calc(100% - 100px);
     overflow: auto;
     position: relative;

 }

 .iframe_load {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 18px;
    text-align: center;
 }

 .iframe_load i {
    margin-right: 6px;
 }

.toolmodel_btn {
     position: absolute;
     bottom: 10px;
     height: 40px;
     width: 60%;
     margin: auto;
     display: flex;
     left: 0;
     right: 0;
     line-height: 40px;
     min-width: 200px;
     justify-content: space-between;
 }
 .toolmodel_btn span {
     width: 40%;
     text-align: center;
     cursor: pointer;
     border-radius: 4px;
 }

 .toolmodel_btn span.sure {
     background: #f04e56;
     color: #fff;
 }

 .toolmodel_btn span.cancle {
     background: #dad5d5;
 }

 #scren {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.4);
    opacity: 0;
}

#scren img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
    width: 470px;
}

iframe {
    border: none;
    display: block;
    width: 100%;
    height: 100%;
}

#pageLoad {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 180px;
    height: 40px;
    color: #fff;
    background: #333;
    border-radius: 4px;
    font-size: 20px;
    padding: 0 20px;
    line-height: 40px;
    z-index: 10;
}

#pageLoad i {
    margin-right: 10px;
}

