{template 'web/common/header'}
<link rel="stylesheet" href="//at.alicdn.com/t/font_626828_yt6kvjqucs.css">
<div class="page">

    <div class="page_content">
		

		<style type="text/css">
			.user_icon{width: 34px;margin: 0 auto;display: block;}
			.iconfont{font-size: 30px}
	    </style>


	    <form class="form-horizontal" action="" method="post">

	        <div class="panel panel-default">

	            <div class="panel-heading">

	                <h3 class="panel-title">小程序端个人中心功能配置</h3>

	            </div>

	            <div class="panel-body">

	                <div class="form-group" style="background-color:#eeeeee;padding:7px 0;margin:0 20px 20px">

	                    <div class="form-controls col-sm-2" style="margin-right:45px;text-align: center;">
	                        菜单名称
	                    </div>
	                    <div class="form-controls col-sm-1">
	                        排序
	                    </div>
	                    <div class="form-controls col-sm-1" style="margin-left: 40px">
	                        新版图标
	                    </div>
	                    <div class="form-controls col-sm-2" style="margin-left: 20px">
	                        显示名称
	                    </div>
	                  
	                    <div class="form-controls col-sm-2" style="margin-left: 80px">
	                        是否启用
	                    </div>

	                </div>

	                <div class="form-group">
	                    <label for="" class="control-label col-sm-2" style="margin-right:45px">分销中心</label>
	                    <input type="hidden" name="img1" value="static/img/nifx.png">
	                    <input type="hidden" name="url1" value="/sudu8_page/fenxiao_center/fenxiao_center">
	                    <input type="hidden" name="icon1" value="icon-x-fenxiao2">
	                    <div class="form-controls col-sm-1">
	                        <input type="number" min='0' name="num1" value="{if $usercenterset['num1']}{$usercenterset['num1']}{else}1{/if}" class="form-control ng-pristine ng-untouched ng-valid ng-empty"  placeholder="" autocomplete="off">
	                    </div>
	                    <div class="form-controls col-sm-1" style="margin-left: 70px">
	                        <div class='iconfont icon-x-fenxiao2'></div>
	                    </div>
	                    <div class="form-controls col-sm-2">
	                        <input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-empty" name="title1" value="{if $usercenterset['title1']}{$usercenterset['title1']}{else}分销中心{/if}">
	                    </div>
	                    <div class="form-controls col-sm-2">
	                        <label style="margin-left: 40px">
	                            <input type="radio" name="flag1" value="1" {if $usercenterset['flag1'] == '1' || !$usercenterset['flag1']} checked{/if} />不启用
	                        </label>
	                        <label style="margin-left: 40px">
	                            <input type="radio" name="flag1" value="2" {if $usercenterset['flag1'] == '2'} checked{/if} />启用
	                        </label>
	                    </div>
	                </div>

	                <div class="form-group">
	                    <label for="" class="control-label col-sm-2" style="margin-right:45px">签到中心</label>
	                    <input type="hidden" name="img2" value="static/img/niqd.png">
	                    <input type="hidden" name="url2" value="/sudu8_page_plugin_sign/index/index">
	                    <input type="hidden" name="icon2" value="icon-x-qiandao2">
	                    <div class="form-controls col-sm-1">
	                        <input type="number" min='0' name="num2" value="{if $usercenterset['num2']}{$usercenterset['num2']}{else}2{/if}" class="form-control ng-pristine ng-untouched ng-valid ng-empty"  placeholder="" autocomplete="off">
	                    </div>
	                    <div class="form-controls col-sm-1" style="margin-left: 70px">
	                        <div class='iconfont icon-x-qiandao2'></div>
	                    </div>
	                    <div class="form-controls col-sm-2">
	                        <input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-empty" name="title2" value="{if $usercenterset['title2']}{$usercenterset['title2']}{else}签到中心{/if}">
	                    </div>
	                    <div class="form-controls col-sm-2">
	                        <label style="margin-left: 40px">
	                            <input type="radio" name="flag2" value="1" {if $usercenterset['flag2'] == '1' || !$usercenterset['flag2'] } checked{/if} />不启用
	                        </label>
	                        <label style="margin-left: 40px">
	                            <input type="radio" name="flag2" value="2" {if $usercenterset['flag2'] == '2'} checked{/if} />启用
	                        </label>
	                    </div>
	                </div>

	                <div class="form-group">
	                    <label for="" class="control-label col-sm-2" style="margin-right:45px">积分兑换中心</label>
	                    <input type="hidden" name="img3" value="static/img/nijf.png">
	                    <input type="hidden" name="url3" value="/sudu8_page_plugin_exchange/list/list">
	                    <input type="hidden" name="icon3" value="icon-x-jifen">
	                    <div class="form-controls col-sm-1">
	                        <input type="number" min='0' name="num3" value="{if $usercenterset['num3']}{$usercenterset['num3']}{else}3{/if}" class="form-control ng-pristine ng-untouched ng-valid ng-empty"  placeholder="" autocomplete="off">
	                    </div>
	                    <div class="form-controls col-sm-1" style="margin-left: 70px">
	                        <div class='iconfont icon-x-jifen'></div>
	                    </div>
	                    <div class="form-controls col-sm-2">
	                        <input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-empty" name="title3" value="{if $usercenterset['title3']}{$usercenterset['title3']}{else}积分兑换中心{/if}">
	                    </div>
	                    <div class="form-controls col-sm-2">
	                        <label style="margin-left: 40px">
	                            <input type="radio" name="flag3" value="1" {if $usercenterset['flag3'] == '1' || !$usercenterset['flag3'] } checked{/if} />不启用
	                        </label>
	                        <label style="margin-left: 40px">
	                            <input type="radio" name="flag3" value="2" {if $usercenterset['flag3'] == '2'} checked{/if} />启用
	                        </label>
	                    </div>
	                </div>
	                
	                <div class="form-group">
	                    <label for="" class="control-label col-sm-2" style="margin-right:45px">我的餐饮订单</label>
	                    <input type="hidden" name="img4" value="static/img/nicy.png">
	                    <input type="hidden" name="url4" value="/sudu8_page_plugin_food/food_my/food_my">
	                    <input type="hidden" name="icon4" value="icon-x-diancan">
	                    <div class="form-controls col-sm-1">
	                        <input type="number" min='0' name="num4" value="{if $usercenterset['num4']}{$usercenterset['num4']}{else}4{/if}" class="form-control ng-pristine ng-untouched ng-valid ng-empty"  placeholder="" autocomplete="off">
	                    </div>
	                    <div class="form-controls col-sm-1" style="margin-left: 70px">
	                        <div class='iconfont icon-x-diancan'></div>
	                    </div>
	                    <div class="form-controls col-sm-2">
	                        <input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-empty" name="title4" value="{if $usercenterset['title4']}{$usercenterset['title4']}{else}我的餐饮订单{/if}">
	                    </div>
	                    <div class="form-controls col-sm-2">
	                        <label style="margin-left: 40px">
	                            <input type="radio" name="flag4" value="1" {if $usercenterset['flag4'] == '1' || !$usercenterset['flag4'] } checked{/if} />不启用
	                        </label>
	                        <label style="margin-left: 40px">
	                            <input type="radio" name="flag4" value="2" {if $usercenterset['flag4'] == '2'} checked{/if} />启用
	                        </label>
	                    </div>
	                </div>

	                <div class="form-group">
	                    <label for="" class="control-label col-sm-2" style="margin-right:45px">我的购物订单</label>
	                    <input type="hidden" name="img5" value="static/img/nidd.png">
	                    <input type="hidden" name="url5" value="/sudu8_page/order_more_list/order_more_list">
	                    <input type="hidden" name="icon5" value="icon-x-gouwu">
	                    <div class="form-controls col-sm-1">
	                        <input type="number" min='0' name="num5" value="{if $usercenterset['num5']}{$usercenterset['num5']}{else}5{/if}" class="form-control ng-pristine ng-untouched ng-valid ng-empty"  placeholder="" autocomplete="off">
	                    </div>
	                    <div class="form-controls col-sm-1" style="margin-left: 70px">
	                        <div class='iconfont icon-x-gouwu'></div>
	                    </div>
	                    <div class="form-controls col-sm-2">
	                        <input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-empty" name="title5" value="{if $usercenterset['title5']}{$usercenterset['title5']}{else}我的购物订单{/if}">
	                    </div>
	                    <div class="form-controls col-sm-2">
	                        <label style="margin-left: 40px">
	                            <input type="radio" name="flag5" value="1" {if $usercenterset['flag5'] == '1' || !$usercenterset['flag5'] } checked{/if} />不启用
	                        </label>
	                        <label style="margin-left: 40px">
	                            <input type="radio" name="flag5" value="2" {if $usercenterset['flag5'] == '2'} checked{/if} />启用
	                        </label>
	                    </div>
	                </div>
	                
	                <div class="form-group">
	                    <label for="" class="control-label col-sm-2" style="margin-right:45px">我的付费视频</label>
	                    <input type="hidden" name="img6" value="static/img/nisp.png">
	                    <input type="hidden" name="url6" value="/sudu8_page/order_v/order_v">
	                    <input type="hidden" name="icon6" value="icon-x-shipin">
	                    <div class="form-controls col-sm-1">
	                        <input type="number" min='0' name="num6" value="{if $usercenterset['num6']}{$usercenterset['num6']}{else}6{/if}" class="form-control ng-pristine ng-untouched ng-valid ng-empty"  placeholder="" autocomplete="off">
	                    </div>
	                    <div class="form-controls col-sm-1" style="margin-left: 70px">
	                        <div class='iconfont icon-x-shipin'></div>
	                    </div>
	                    <div class="form-controls col-sm-2">
	                        <input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-empty" name="title6" value="{if $usercenterset['title6']}{$usercenterset['title6']}{else}我的付费视频{/if}">
	                    </div>
	                    <div class="form-controls col-sm-2">
	                        <label style="margin-left: 40px">
	                            <input type="radio" name="flag6" value="1" {if $usercenterset['flag6'] == '1' || !$usercenterset['flag6'] } checked{/if} />不启用
	                        </label>
	                        <label style="margin-left: 40px">
	                            <input type="radio" name="flag6" value="2" {if $usercenterset['flag6'] == '2'} checked{/if} />启用
	                        </label>
	                    </div>
	                </div>
	                
	                <div class="form-group">
	                    <label for="" class="control-label col-sm-2" style="margin-right:45px">我的优惠券</label>
	                    <input type="hidden" name="img7" value="static/img/niyh.png">
	                    <input type="hidden" name="url7" value="/sudu8_page/mycoupon/mycoupon">
	                    <input type="hidden" name="icon7" value="icon-x-youhuiquan2">
	                    <div class="form-controls col-sm-1">
	                        <input type="number" min='0' name="num7" value="{if $usercenterset['num7']}{$usercenterset['num7']}{else}7{/if}" class="form-control ng-pristine ng-untouched ng-valid ng-empty"  placeholder="" autocomplete="off">
	                    </div>
	                    <div class="form-controls col-sm-1" style="margin-left: 70px">
	                        <div class='iconfont icon-x-youhuiquan2'></div>
	                    </div>
	                    <div class="form-controls col-sm-2">
	                        <input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-empty" name="title7" value="{if $usercenterset['title7']}{$usercenterset['title7']}{else}我的优惠券{/if}">
	                    </div>
	                    <div class="form-controls col-sm-2">
	                        <label style="margin-left: 40px">
	                            <input type="radio" name="flag7" value="1" {if $usercenterset['flag7'] == '1' || !$usercenterset['flag7'] } checked{/if} />不启用
	                        </label>
	                        <label style="margin-left: 40px">
	                            <input type="radio" name="flag7" value="2" {if $usercenterset['flag7'] == '2'} checked{/if} />启用
	                        </label>
	                    </div>
	                </div>

	                <div class="form-group">
	                    <label for="" class="control-label col-sm-2" style="margin-right:45px">我的收藏</label>
	                    <input type="hidden" name="img8" value="static/img/nisc.png">
	                    <input type="hidden" name="url8" value="/sudu8_page/collect/collect">
	                    <input type="hidden" name="icon8" value="icon-c-xing1">
	                    <div class="form-controls col-sm-1">
	                        <input type="number" min='0' name="num8" value="{if $usercenterset['num8']}{$usercenterset['num8']}{else}8{/if}" class="form-control ng-pristine ng-untouched ng-valid ng-empty"  placeholder="" autocomplete="off">
	                    </div>
	                    <div class="form-controls col-sm-1" style="margin-left: 70px">
	                        <div class='iconfont icon-c-xing1'></div>
	                    </div>
	                    <div class="form-controls col-sm-2">
	                        <input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-empty" name="title8" value="{if $usercenterset['title8']}{$usercenterset['title8']}{else}我的收藏{/if}">
	                    </div>
	                    <div class="form-controls col-sm-2">
	                        <label style="margin-left: 40px">
	                            <input type="radio" name="flag8" value="1" {if $usercenterset['flag8'] == '1' || !$usercenterset['flag8'] } checked{/if} />不启用
	                        </label>
	                        <label style="margin-left: 40px">
	                            <input type="radio" name="flag8" value="2" {if $usercenterset['flag8'] == '2'} checked{/if} />启用
	                        </label>
	                    </div>
	                </div>

	                <div class="form-group">
	                    <label for="" class="control-label col-sm-2" style="margin-right:45px">我的地址</label>
	                    <input type="hidden" name="img9" value="static/img/nidz.png">
	                    <input type="hidden" name="url9" value="/sudu8_page/address/address">
	                    <input type="hidden" name="icon9" value="icon-x-dizhi">
	                    <div class="form-controls col-sm-1">
	                        <input type="number" min='0' name="num9" value="{if $usercenterset['num9']}{$usercenterset['num9']}{else}9{/if}" class="form-control ng-pristine ng-untouched ng-valid ng-empty"  placeholder="" autocomplete="off">
	                    </div>
	                    <div class="form-controls col-sm-1" style="margin-left: 70px">
	                        <div class='iconfont icon-x-dizhi'></div>
	                    </div>
	                    <div class="form-controls col-sm-2">
	                        <input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-empty" name="title9" value="{if $usercenterset['title9']}{$usercenterset['title9']}{else}我的地址{/if}">
	                    </div>
	                    <div class="form-controls col-sm-2">
	                        <label style="margin-left: 40px">
	                            <input type="radio" name="flag9" value="1" {if $usercenterset['flag9'] == '1' || !$usercenterset['flag9'] } checked{/if} />不启用
	                        </label>
	                        <label style="margin-left: 40px">
	                            <input type="radio" name="flag9" value="2" {if $usercenterset['flag9'] == '2'} checked{/if} />启用
	                        </label>
	                    </div>
	                </div>
	                
	                <div class="form-group">
	                    <label for="" class="control-label col-sm-2" style="margin-right:45px">流水记录</label>
	                    <input type="hidden" name="img10" value="static/img/jfmx.png">
	                    <input type="hidden" name="url10" value="/sudu8_page/scorelist/scorelist">
	                    <input type="hidden" name="icon10" value="icon-x-liushui">
	                    <div class="form-controls col-sm-1">
	                        <input type="number" min='0' name="num10" value="{if $usercenterset['num10']}{$usercenterset['num10']}{else}10{/if}" class="form-control ng-pristine ng-untouched ng-valid ng-empty"  placeholder="" autocomplete="off">
	                    </div>
	                    <div class="form-controls col-sm-1" style="margin-left: 70px">
	                        <div class='iconfont icon-x-liushui'></div>
	                    </div>
	                    <div class="form-controls col-sm-2">
	                        <input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-empty" name="title10" value="{if $usercenterset['title10']}{$usercenterset['title10']}{else}流水记录{/if}">
	                    </div>
	                    <div class="form-controls col-sm-2">
	                        <label style="margin-left: 40px">
	                            <input type="radio" name="flag10" value="1" {if $usercenterset['flag10'] == '1' || !$usercenterset['flag10'] } checked{/if} />不启用
	                        </label>
	                        <label style="margin-left: 40px">
	                            <input type="radio" name="flag10" value="2" {if $usercenterset['flag10'] == '2'} checked{/if} />启用
	                        </label>
	                    </div>
	                </div>
	                
	                <div class="form-group">
	                    <label for="" class="control-label col-sm-2" style="margin-right:45px">拼团订单</label>
	                    <input type="hidden" name="img11" value="static/img/ptdd.png">
	                    <input type="hidden" name="url11" value="/sudu8_page_plugin_pt/orderlist/orderlist">
	                    <input type="hidden" name="icon11" value="icon-x-pintuan">
	                    <div class="form-controls col-sm-1">
	                        <input type="number" min='0' name="num11" value="{if $usercenterset['num11']}{$usercenterset['num11']}{else}11{/if}" class="form-control ng-pristine ng-untouched ng-valid ng-empty"  placeholder="" autocomplete="off">
	                    </div>
	                    <div class="form-controls col-sm-1" style="margin-left: 70px">
	                        <div class='iconfont icon-x-pintuan'></div>
	                    </div>
	                    <div class="form-controls col-sm-2">
	                        <input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-empty" name="title11" value="{if $usercenterset['title11']}{$usercenterset['title11']}{else}拼团订单{/if}">
	                    </div>
	                    <div class="form-controls col-sm-2">
	                        <label style="margin-left: 40px">
	                            <input type="radio" name="flag11" value="1" {if $usercenterset['flag11'] == '1' || !$usercenterset['flag11'] } checked{/if} />不启用
	                        </label>
	                        <label style="margin-left: 40px">
	                            <input type="radio" name="flag11" value="2" {if $usercenterset['flag11'] == '2'} checked{/if} />启用
	                        </label>
	                    </div>
	                </div>

	                <div class="form-group">
	                    <label for="" class="control-label col-sm-2" style="margin-right:45px">预约订单</label>
	                    <input type="hidden" name="img12" value="static/img/yydd.png">
	                    <input type="hidden" name="url12" value="/sudu8_page/order/order">
	                    <input type="hidden" name="icon12" value="icon-x-qiandao3">
	                    <div class="form-controls col-sm-1">
	                        <input type="number" min='0' name="num12" value="{if $usercenterset['num12']}{$usercenterset['num12']}{else}12{/if}" class="form-control ng-pristine ng-untouched ng-valid ng-empty"  placeholder="" autocomplete="off">
	                    </div>
	                    <div class="form-controls col-sm-1" style="margin-left: 70px">
	                        <div class='iconfont icon-x-qiandao3'></div>
	                    </div>
	                    <div class="form-controls col-sm-2">
	                        <input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-empty" name="title12" value="{if $usercenterset['title12']}{$usercenterset['title12']}{else}预约订单{/if}">
	                    </div>
	                    <div class="form-controls col-sm-2">
	                        <label style="margin-left: 40px">
	                            <input type="radio" name="flag12" value="1" {if $usercenterset['flag12'] == '1' || !$usercenterset['flag12'] } checked{/if} />不启用
	                        </label>
	                        <label style="margin-left: 40px">
	                            <input type="radio" name="flag12" value="2" {if $usercenterset['flag12'] == '2'} checked{/if} />启用
	                        </label>
	                    </div>
	                </div>

	                <div class="form-group">
	                    <label for="" class="control-label col-sm-2" style="margin-right:45px">秒杀订单</label>
	                    <input type="hidden" name="img13" value="static/img/yydd.png">
	                    <input type="hidden" name="url13" value="/sudu8_page/orderlist_dan/orderlist_dan">
	                    <input type="hidden" name="icon13" value="icon-x-miaosha">
	                    <div class="form-controls col-sm-1">
	                        <input type="number" min='0' name="num13" value="{if $usercenterset['num13']}{$usercenterset['num13']}{else}13{/if}" class="form-control ng-pristine ng-untouched ng-valid ng-empty"  placeholder="" autocomplete="off">
	                    </div>
	                    <div class="form-controls col-sm-1" style="margin-left: 70px">
	                        <div class='iconfont icon-x-miaosha'></div>
	                    </div>
	                    <div class="form-controls col-sm-2">
	                        <input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-empty" name="title13" value="{if $usercenterset['title13']}{$usercenterset['title13']}{else}秒杀订单{/if}">
	                    </div>
	                    <div class="form-controls col-sm-2">
	                        <label style="margin-left: 40px">
	                            <input type="radio" name="flag13" value="1" {if $usercenterset['flag13'] == '1' || !$usercenterset['flag13'] } checked{/if} />不启用
	                        </label>
	                        <label style="margin-left: 40px">
	                            <input type="radio" name="flag13" value="2" {if $usercenterset['flag13'] == '2'} checked{/if} />启用
	                        </label>
	                    </div>
	                </div>

	                <div class="form-group">
	                    <label for="" class="control-label col-sm-2" style="margin-right:45px">店铺管理</label>
	                    <input type="hidden" name="img14" value="static/img/yydd.png">
	                    <input type="hidden" name="url14" value="/sudu8_page_plugin_shop/manage_login/manage_login">
	                    <input type="hidden" name="icon14" value="icon-c-dianpu2">
	                    <div class="form-controls col-sm-1">
	                        <input type="number" min='0' name="num14" value="{if $usercenterset['num14']}{$usercenterset['num14']}{else}0{/if}" class="form-control ng-pristine ng-untouched ng-valid ng-empty"  placeholder="" autocomplete="off">
	                    </div>
	                    <div class="form-controls col-sm-1" style="margin-left: 70px">
	                        <div class='iconfont icon-c-dianpu2'></div>
	                    </div>
	                    <div class="form-controls col-sm-2">
	                        <input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-empty" name="title14" value="{if $usercenterset['title14']}{$usercenterset['title14']}{else}店铺管理{/if}">
	                    </div>
	                    <div class="form-controls col-sm-2">
	                        <label style="margin-left: 40px">
	                            <input type="radio" name="flag14" value="1" {if $usercenterset['flag14'] == '1' || !$usercenterset['flag14'] } checked{/if} />不启用
	                        </label>
	                        <label style="margin-left: 40px">
	                            <input type="radio" name="flag14" value="2" {if $usercenterset['flag14'] == '2'} checked{/if} />启用
	                        </label>
	                    </div>
	                </div>

	                <div class="form-group">
	                    <label for="" class="control-label col-sm-2" style="margin-right:45px">我的表单</label>
	                    <input type="hidden" name="img15" value="static/img/yydd.png">
	                    <input type="hidden" name="url15" value="/sudu8_page/form_list/form_list">
	                    <input type="hidden" name="icon15" value="icon-x-dingdan2">
	                    <div class="form-controls col-sm-1">
	                        <input type="number" min='0' name="num15" value="{if $usercenterset['num15']}{$usercenterset['num15']}{else}0{/if}" class="form-control ng-pristine ng-untouched ng-valid ng-empty"  placeholder="" autocomplete="off">
	                    </div>
	                    <div class="form-controls col-sm-1" style="margin-left: 70px">
	                        <div class='iconfont icon-x-dingdan2'></div>
	                    </div>
	                    <div class="form-controls col-sm-2">
	                        <input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-empty" name="title15" value="{if $usercenterset['title15']}{$usercenterset['title15']}{else}我的表单{/if}">
	                    </div>
	                    <div class="form-controls col-sm-2">
	                        <label style="margin-left: 40px">
	                            <input type="radio" name="flag15" value="1" {if $usercenterset['flag15'] == '1' || !$usercenterset['flag15'] } checked{/if} />不启用
	                        </label>
	                        <label style="margin-left: 40px">
	                            <input type="radio" name="flag15" value="2" {if $usercenterset['flag15'] == '2'} checked{/if} />启用
	                        </label>
	                    </div>
	                </div>
	                <div class="form-group">
	                    <label for="" class="control-label col-sm-2" style="margin-right:45px">砍价订单</label>
	                    <input type="hidden" name="img16" value="static/img/yydd.png">
	                    <input type="hidden" name="url16" value="/sudu8_page_plugin_bargain/orderlist/orderlist">
	                    <input type="hidden" name="icon16" value="icon-x-kanjia">
	                    <div class="form-controls col-sm-1">
	                        <input type="number" min='0' name="num16" value="{if $usercenterset['num16']}{$usercenterset['num16']}{else}0{/if}" class="form-control ng-pristine ng-untouched ng-valid ng-empty"  placeholder="" autocomplete="off">
	                    </div>
	                    <div class="form-controls col-sm-1" style="margin-left: 70px">
	                        <div class='iconfont icon-x-kanjia'></div>
	                    </div>
	                    <div class="form-controls col-sm-2">
	                        <input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-empty" name="title16" value="{if $usercenterset['title16']}{$usercenterset['title16']}{else}砍价订单{/if}">
	                    </div>
	                    <div class="form-controls col-sm-2">
	                        <label style="margin-left: 40px">
	                            <input type="radio" name="flag16" value="1" {if $usercenterset['flag16'] == '1' || !$usercenterset['flag16'] } checked{/if} />不启用
	                        </label>
	                        <label style="margin-left: 40px">
	                            <input type="radio" name="flag16" value="2" {if $usercenterset['flag16'] == '2'} checked{/if} />启用
	                        </label>
	                    </div>
	                </div>

	                <div class="form-group">

	                    <div class="col-sm-12">

	                        <input name="token" type="hidden" value="{$_W['token']}" />

	                        <input type="submit" class="btn btn-primary col-lg-1" name="submit" value="提交" />

	                    </div>

	                </div>

	            </div>

	        </div>

	    </form>



	</div>

</div>