<div id="gotop" style="display: none;">
    <span class="iconfont fonta2 icon-jiantoushang"></span>
</div>
<input type="hidden" value="{php echo $this->siteroot.'app/'.$this->createMobileUrl('share', array('shopid' => $_GPC['shopid'],'actid' => $_GPC['actid']))}" id="shareurl">

<!--<script type="text/javascript" src="//g.alicdn.com/msui/sm/0.6.2/js/sm.js" charset="utf-8"></script>-->
<script type="text/javascript" src="//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.js" charset="utf-8"></script>
<script src="//map.qq.com/api/js?v=2.exp&libraries=convertor" charset="utf-8"></script>
<script src="{$_W['siteroot']}app/resource/js/lib/underscore.min.js"></script>
<script src="{MODULE_URL}template/mobile/resource/js/zepto.picLazyLoad.min.js" charset="utf-8"></script>


<script type="text/javascript">
    var tips = '{php echo $setting["tipstitle"]}';
</script>

{php echo $this->superman_global_js}
{php echo $this->superman_main_js}
{php $share = array('sharetitle'=>$setting['sharetitle'], 'sharecontent'=>$setting['sharecontent'], 'sharethumb'=>tomedia($setting['sharethumb']));}
{if !empty($xiaofshare)}
{php $share = $xiaofshare;}
{/if}
<script>
    fitScreen();
    function fitScreen(){
        var width = window.screen.width ;
        $('.act-info').css({
            'width': (width-12)+'px',
        });
        $('.join').css({
            'margin-left': (width-220)/2+'px',
            'margin-right': (width-220)/2+'px',
        });
        //导航样式宽度
        var navigationlen = $('.act-navigation-title').length;
        $('.act-navigation-title').css('width', ((width-12)/navigationlen-20)+'px');
    };
    var sharedata = new Array();
    sharedata['title'] = "{php echo $share['sharetitle']}";
    sharedata['desc'] = "{php echo $share['sharecontent']}";
    sharedata['link'] = "{php echo $share['link']}";
    sharedata['imgUrl'] = "{php echo tomedia($share['sharethumb'])}";

    //console.log($("#shareurl").val());
    sharedata['success'] = function () {
        setTimeout(function () {
            $.ajax({
                url: $("#shareurl").val(),
                type: "post",
                dataType: "json",
                success: function (res) {

                }
            });
        }, 100);
    };
    function tomedia(src) {
        if(typeof src != 'string')
            return '';
        if(src.indexOf('http://') == 0 || src.indexOf('https://') == 0) {
            return src;
        } else if(src.indexOf('../addons') == 0 || src.indexOf('../attachment') == 0) {
            src=src.substr(3);
            return window.sysinfo.siteroot + src;
        } else if(src.indexOf('./resource') == 0) {
            src=src.substr(2);
            return window.sysinfo.siteroot + 'app/' + src;
        } else if(src.indexOf('images/') == 0) {
            return window.sysinfo.attachurl+ src;
        }
    }
    if(sharedata.imgUrl == ''){
        var _share_img = $('div.page-current img').attr("src");
        if(_share_img == ""){
            sharedata['imgUrl'] = window.sysinfo.siteroot + 'addons/superman_unishop/icon.jpg';
        } else {
            sharedata['imgUrl'] = tomedia(_share_img);
        }
    }

    wx.ready(function(){
        wx.showOptionMenu();
        wx.onMenuShareAppMessage(sharedata);
        wx.onMenuShareTimeline(sharedata);
        wx.onMenuShareQQ(sharedata);
        wx.onMenuShareWeibo(sharedata);
        {if $setting['showtimeline'] == 1}
        wx.hideMenuItems({
            menuList: ["menuItem:copyUrl",
                "menuItem:share:appMessage",
                "menuItem:share:qq",
                "menuItem:favorite",
                "menuItem:share:facebook",
                "menuItem:favorite",
                "menuItem:share:QZone",
                "menuItem:share:timeline",
                "menuItem:openWithQQBrowser",
                "menuItem:openWithSafari",
                "menuItem:readMode",
                "menuItem:share:email"
            ]
        });
        {/if}
    });
    console.log(sharedata);
    function _removeHTMLTag(str) {
        if(typeof str == 'string'){
            str = str.replace(/<script[^>]*?>[\s\S]*?<\/script>/g,'');
            str = str.replace(/<style[^>]*?>[\s\S]*?<\/style>/g,'');
            str = str.replace(/<\/?[^>]*>/g,'');
            str = str.replace(/\s+/g,'');
            str = str.replace(/&nbsp;/ig,'');
        }
        return str;
    }
</script>
{if defined('LOCAL_PACKAGE')}
<script>
    $.get('{$_W["siteroot"]}superman/package.php?module_name=xiaof_toupiao&refresh=1&i={$_W['uniacid']}');
</script>
{/if}
</body>
</html>