<?xml version="1.0" encoding="utf-8"?>
<manifest>
	<application>
		<name><![CDATA[积分签到]]></name>
		<identifie><![CDATA[wlsign]]></identifie>
		<version><![CDATA[1.0.0]]></version>
		<type><![CDATA[interact]]></type>
		<description><![CDATA[积分签到，吸引用户每天签到，助力营收增长]]></description>
		<author><![CDATA[微连科技]]></author>
		<url><![CDATA[http://www.weliam.cn/]]></url>
	</application>
	<setting>
		<agent embed="false" />
		<system embed="true" />
		<task embed="true" />
	</setting>
	<agentmenu>
	</agentmenu>
	<systemmenu>
		<menu title="签到设置" font="fa-inbox">
			<entry title="签到规则" ac="signset" do="signrule" iscover="true" />
			<entry title="签到记录" ac="signset" do="signrecord" />
			<entry title="签到入口" ac="signset" do="signentry" />
		</menu>
	</systemmenu>
</manifest>