{template 'web/newheader'}
{php tpl_fans_form($field, $value = '')}
<style>
    .table td{
        vertical-align:unset;
    }
</style>
<div class="main-panel">
    <div class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">车辆列表</div>
                    </div>
                    <div class="card-body">
                        <table class="table table-striped mt-3">
                            <tbody>
                            <tr>
                                <th>头像</th>
                                <th>用户</th>
                                <th>openid</th>
                                <th>车辆</th>
                                <!--<th>操作</th>-->
                            </tr>
                            {loop $user_list  $row}
                            <tr>
                                <td style="vertical-align:unset;">
                                    <div class="type-parent">
                                        <img src="{$row[headimg]}" style="width:40px;height:40px;border-radius: 40px">
                                    </div>
                                </td >
                                <td style="vertical-align:unset;"><span class="label label-success">{$row[nickname]}</span></td>
                                <td style="vertical-align:unset;"><span class="label label-primary">{$row[openid]}</span></td>
                                <td style="vertical-align:unset;"><span class="label label-success">{$row[carnum]}</span></td>
                                <!--<td style="vertical-align:unset;"><a href="#" class="label label-danger" onclick="del('{$row[sn]}')">删除车辆</a></td>-->
                            </tr>
                            {/loop}
                            </tbody>
                        </table>
                        {$pager}
                    </div>
                </div>
            </div>

        </div>
    </div>

    <script src="{MODULE_URL}/template/static/js/layer_mobile/layer.js"></script>
    <script>
        function img(url) {
            $("#img").attr("src",url);
        }

    </script>
    {template 'web/footer'}