<!DOCTYPE html>
<div class="body_zong {if $reply['notice']}qiangqius{/if}">
﻿{template 'header'}
{if $reply['mastercount']}
<div class="statistics">
    {$reply['mastercount']}
</div>
{/if}
<!--首页幻灯片广告-->
{if $reply['isindexslide']==1}
{template 'sider'}
{/if}


    <link rel="stylesheet" href="{MODULE_URL}/template/static/toupiao_sou/css/mui.css" />
    <link rel="stylesheet" href="{MODULE_URL}/template/static/toupiao_sou/mode2/index.css" />
    <link rel="stylesheet" href="{MODULE_URL}/template/static/toupiao_sou/css/font-awesome.css" />
    <link rel="stylesheet" href="//at.alicdn.com/t/font_995344_byfeh1hb8qh.css" />

    <script type="text/javascript" src="{MODULE_URL}/template/static/toupiao_sou/js/jquery-3.2.1.min.js" ></script>
    <script>
        $(document).ready(function(){
                //选项卡字体
        {if $_SESSION['detailset']['tabzt']}
          $(".wojiade").css("color","{$_SESSION['detailset']['tabzt']}");
        {/if}
            //选项卡背景
//      {if $_SESSION['detailset']['tabbj']}
//        $(".xuan ul").css("background-image","url({$_SESSION['detailset']['tabbj']})");
//      {/if}
//      {if $_SESSION['detailset']['tabxzbj']}{$_SESSION['detailset']['tabxzbj']}{/if}


        $(".xuan ul li").eq(0).css({"background":"{if $_SESSION['detailset']['tabxzbj']}{$_SESSION['detailset']['tabxzbj']}{/if}","color":"{if $_SESSION['detailset']['tabxzzt']}{$_SESSION['detailset']['tabxzzt']}{/if}"});
        $(".xuan ul li").click(function(){
            $(this).css({"background":"{if $_SESSION['detailset']['tabxzbj']}{$_SESSION['detailset']['tabxzbj']}{/if}","color":"{if $_SESSION['detailset']['tabxzzt']}{$_SESSION['detailset']['tabxzzt']}{/if}"}).siblings().css({"background":"rgba(0,0,0,0.15)","color":"{if $_SESSION['detailset']['tabzt']}{$_SESSION['detailset']['tabzt']}{/if}"});
            
            $(".yiyang").eq($(this).index()).show().siblings().hide();
        });
        
        });
    </script>
<body>
	

	<div class="dengni">
		<img src="{MODULE_URL}/template/static/toupiao_sou/images/dengni.png" />
	</div>
	   <div class="grant" hidden>
		<div class="grant_li">
			授权失败，请联系客服！
		</div>
	</div>
	<script>
		$(document).ready(function(){
		    var str = "{$ticket}"
			if(str.length != 32){
                $(".grant").show();
            }
		});
	</script>
            {if $_SESSION['ismirror'] != 'mirrorvote'}
                {if $reply['isindextop'] != 2}
               <div class="index_tu">
                   <a href="{$reply['topimga']}" ><img src="{php echo tomedia($reply['topimg']);}" alt="shareImg"/></a>
                   
               </div>
               {/if}                        
            {else}
                {if $mirror['indextoppic']}
                <!--镜像的首页顶部广告-->
                <div class="index_tu">
                        <img src="{php echo tomedia($mirror['indextoppic']);}" alt="shareImg"/>
                </div>      
                {/if}
            {/if}



    {if $reply['infoorder']==1}
    <div class="song" hidden>
        <div class="jiade">
            <div class="huodong"><span class="xiegen">/</span>&nbsp;&nbsp;活动介绍&nbsp;&nbsp;<span class="xiegen">/</span></div>
        </div>
        <div class="qiepian">
            <div class="bian">
                        {if $reply['eventrule']==""}
                            请至后台编辑活动，设置活动规则内容，支持HTML！
                         {else}
                                {$reply['eventrule']}
                         {/if}
            </div>
                        
        </div>
    </div>
    
    <div class="jiangli_two_jie">
    	<div class="nvli_top">
    		<img src="{MODULE_URL}/template/static/toupiao_sou/images/top1.png" />
    	</div>
        <div class="jiang_er">
        	<div class="jiang_top_two">
	            <span>活动介绍</span>
	        </div>
        </div>
        <div class="jiang_wen_two">
                      {if $reply['eventrule']==""}
                            请至后台编辑活动，设置活动规则内容，支持HTML！
                         {else}
                                {$reply['eventrule']}
                         {/if}
        </div>
        <div class="nvli_bottmo">
        	<img src="{MODULE_URL}/template/static/toupiao_sou/images/bottmo1.png" />
        </div>
        
    </div>
    {if $voteuser['id']!=""}
                    <div class="antade">
                        <a href="{php echo $this->createMobileUrl('view', array('rid' => $reply['rid'],'id'=>$voteuser['id']))}">
            <div class="anxia">我的投票</div>
                    </a>
                    </div>
{else}
    {if $aptime!=2}
                  <div class="antade" {if $reply['join_btn_show']==1}hidden{/if}>
                    <a href="{php echo $this->createMobileUrl('join', array('rid' => $reply['rid'],'saiquid'=>$_GPC['saiquid']))}">
            <div class="anxia">我要报名 </div>
                    </a>
                    </div>
    {/if}
{/if}
    
    {/if}
    <div class="xia">
        <div class="tansai_li" {if $reply['saiqustatus'] == 0}hidden{/if}>
        	<div class="kongzuo">
        		<div class="kongs_zuo">
        			<a href="{$zongsaiqu}">
        				<div class="hdzong">
        				<span class="icon-retweet"></span>	
        				活动总赛区
        			</div>
        			</a>
        		</div>
        		<div class="kongs_you">
        			<div class="tansai">   
					   <div class="sailai">
					   	<span class="icon-list-alt"></span>
					   	 {$currentsq}
					   </div>
					   </div>
        		</div>
        	</div>
        	
		</div>
		<div class="bigtan">
			<div class="tanli">
				<div class="dialogs">
                    <div class="dialogs_topsb">
                    	选择赛区
                        <span class="mui-icon mui-icon-close guang"></span>
                    </div>
                    <div class="dialogs_center">
                        <div class="saiqu">
							<ul>
                                                            {loop $saiqu $s}
								<li>
									<div class="saiqu_one">
										<a href="{$s['url']}"><img src="{if $s['saiqupic']}{media $s['saiqupic']}{else}{MODULE_URL}/template/static/toupiao_sou/images/gift_beijing.png{/if}" /></a>
									</div>
								</li>	
                                                            {/loop}
							</ul>
						</div>
                    </div>
                </div>
			</div>
		</div>
		<script type="text/javascript">
    $(document).ready(function () {
        $(".guang").click(function () {
            $(".bigtan").hide();
        });
        $(".tansai").click(function () {
            $(".bigtan").show();
        });
    });

</script>

        <div class="saiqu" hidden>
            <ul>
                            {loop $piclist $k $vv}
                <li>
                    <div class="saiqu_one">
                        <img src="{if $vv['indexpic']}{media $vv['indexpic']}{else}{MODULE_URL}/template/static/toupiao_sou/images/gift_beijing.png{/if}" />
                    </div>
                    <a href="{$vv['indexpica']}">
                        <div class="saiqu_two">
                            <div class="saibtn">
                                点击进入
                            </div>
                        <img src="{if $vv['indexpicbtn']}{media $vv['indexpicbtn']}{else}{MODULE_URL}/template/static/toupiao_sou/images/buttmo_one.png{/if}" hidden />
                    </div>
                    </a>
                </li>   
                            {/loop}
            </ul>
        </div>
        
        {if $reply['djsstatus'] == 1}
           <div class="jiangli_two_jiesa">
    	<div class="nvli_top">
    		<img src="{MODULE_URL}/template/static/toupiao_sou/images/top1.png" />
    	</div>
        <div class="jiang_er">
        	<div class="jiang_top_two">
	            <span>活动结束倒计时</span>
	        </div>
        </div>
        <div class="jiang_wen_two">
                      <div class="time-item">
            
            <strong id="day_show">0天</strong>
            <strong id="hour_show">0时</strong>
            <strong id="minute_show">0分</strong>
            <strong id="second_show">0秒</strong>
        </div>
        </div>
        <div class="nvli_bottmo">
        	<img src="{MODULE_URL}/template/static/toupiao_sou/images/bottmo1.png" />
        </div>
        
    </div>
        {/if}
        <div class="liebiao">
                <ul>
                    <li>
                        <span class="li_one">{$jointotal}</span>
                        <span class="li_two">已报名</span>
                    </li>
                    <div class="zhi">
                        
                    </div>
                    <li>
                        <span class="li_one">{$votetotal}</span>
                        <span class="li_two">累计{$reply["globaltp"]}</span>
                    </li>
                    <div class="zhi">
                        
                    </div>
                    <li>
                        <span class="li_one">{$pvtotal}</span>
                        <span class="li_two">访问量</span>
                    </li>
                </ul>
            </div>
            <div class="shousuo">
             <div class="shou">
                <div class="left">
                    <input type="text" name="sci" placeholder="请输入编号或姓名" />
                </div>
                <div class="right" onclick="get_list(1);" >搜索</div>
             </div>
           </div>
           <div class="xuan">
             <ul>
                <li class="wojiade">全部</li>
                <li class="zhong wojiade" onclick="get_list2('iddesc');">最新</li>
                <li class="wojiade" onclick="get_list2('piaoshudesc');">排名</li>
             </ul>
           </div>
           <div class="meigao">
            
            
               <div class="yiyang" id="pageCon1" style="display: block;">
                   <section class="content" id="toupiao">
                    <div id="pageCon">
                    <ul class="list_box clearfix" id="list_box1" style="position: relative;"></ul>
                    <div id="list_more" class="xiangxia"><div class="genduo" onclick="get_list(0);">查看更多</div></div>
                    {php echo m('tpl')->AdPiece('silence_vote_index',$reply['index_ad']);}
                    </div>
                    </section>
               </div>
               
               
            <div class="yiyang"  id="pageCon2">
                     <section class="content" id="toupiao">
                    <div id="pageCon">
                    <ul class="list_box clearfix" id="list_box2" style="position: relative;"></ul>
                    
                    {php echo m('tpl')->AdPiece('silence_vote_index',$reply['index_ad']);}
                    </div>
                    </section>
            </div>
            
            
            <div class="yiyang"  id="pageCon3">
                     <section class="content" id="toupiao">
                    <div id="pageCon">
                    <ul class="list_box clearfix" id="list_box3" style="position: relative;"></ul>
                    
                    {php echo m('tpl')->AdPiece('silence_vote_index',$reply['index_ad']);}
                    </div>
                    </section>
            </div>
            
           </div>

    </div>
        {if $reply['infoorder']==0}
    <div class="song" hidden>
        <div class="jiade">
            <div class="huodong"><span class="xiegen">/</span>&nbsp;&nbsp;活动介绍&nbsp;&nbsp;<span class="xiegen">/</span></div>
        </div>
        <div class="qiepian">
            <div class="bian">
                        {if $reply['eventrule']==""}
                            请至后台编辑活动，设置活动规则内容，支持HTML！
                         {else}
                                {$reply['eventrule']}
                         {/if}
            </div>
                        
        </div>
    </div>
    
    <div class="jiangli_two_jies">
    	<div class="nvli_top">
    		<img src="{MODULE_URL}/template/static/toupiao_sou/images/top1.png" />
    	</div>
        <div class="jiang_er">
        	<div class="jiang_top_two">
	            <span>活动介绍</span>
	        </div>
        </div>
        <div class="jiang_wen_two">
                      {if $reply['eventrule']==""}
                            请至后台编辑活动，设置活动规则内容，支持HTML！
                         {else}
                                {$reply['eventrule']}
                         {/if}
        </div>
        <div class="nvli_bottmo">
        	<img src="{MODULE_URL}/template/static/toupiao_sou/images/bottmo1.png" />
        </div>
        
    </div>
    {if $voteuser['id']!=""}
                    <div class="antades">
                        <a href="{php echo $this->createMobileUrl('view', array('rid' => $reply['rid'],'id'=>$voteuser['id']))}">
            <div class="anxia">我的投票</div>
                    </a>
                    </div>
{else}
    {if $aptime!=2}
                  <div class="antades" {if $reply['join_btn_show']==1}hidden{/if}>
                    <a href="{php echo $this->createMobileUrl('join', array('rid' => $reply['rid'],'saiquid'=>$_GPC['saiquid']))}">
            <div class="anxia">我要报名 </div>
                    </a>
                    </div>
    {/if}
{/if}
    {/if}
    
    <!--广告位-->
    {php echo m('tpl')->AdPiece('silence_vote_index',$reply['index_ad']);}
                        
    <div class="jiangli_two">
    	<div class="nvli_top">
    		<img src="{MODULE_URL}/template/static/toupiao_sou/images/top1.png" />
    	</div>
        <div class="jiang_er">
        	<div class="jiang_top_two">
	            <span>比赛奖励</span>
	        </div>
        </div>
        <div class="jiang_wen_two {if $reply['prizemsgdiv1']!="" || $reply['prizemsgdiv2']!="" || $reply['prizemsgdiv3']!=""  || $reply['prizemsgdiv4']!="" || $reply['prizemsgdiv5']!=""}appen{/if}">
                      {if $reply['prizemsg']==""}
                        请至后台编辑活动，设置活动奖励！
                     {else}
                        {$reply['prizemsg']}
                     {/if}
        </div>
        <div class="nvli_bottmo">
        	<img src="{MODULE_URL}/template/static/toupiao_sou/images/bottmo1.png" />
        </div>
        
    </div>
        {if $reply['prizemsgdiv1']!=""}        
        <div class="jiangli {if $divtitle[0]}youjias{/if}">
        	{if $divtitle[0]}
        	<div class="nvli_top">
    		<img src="{MODULE_URL}/template/static/toupiao_sou/images/top1.png" />
    	</div>
            
            <div class="jiang_er">
		        <div class="jiang_top">
		            <span>{$divtitle[0]}</span>
		        </div>
            </div>
            {/if}
        <div class="jiang_wen {if $divtitle[0]}panguan{/if} {if  $reply['prizemsgdiv2']!="" || $reply['prizemsgdiv3']!=""  || $reply['prizemsgdiv4']!="" || $reply['prizemsgdiv5']!=""}appen{/if}">                   
                        {$reply['prizemsgdiv1']}                     
        </div>
        {if $divtitle[0]}
        <div class="nvli_bottmo">
        	<img src="{MODULE_URL}/template/static/toupiao_sou/images/bottmo1.png" />
        </div>
        {/if}
    </div>   
         {/if}
        {if $reply['prizemsgdiv2']!=""}                
        <div class="jiangli {if $divtitle[1]}youjias{/if}">
            {if $divtitle[1]}
        	<div class="nvli_top">
    		<img src="{MODULE_URL}/template/static/toupiao_sou/images/top1.png" />
    	</div>
            
            <div class="jiang_er">
		        <div class="jiang_top">
		            <span>{$divtitle[1]}</span>
		        </div>
            </div>
            {/if}
        <div class="jiang_wen {if $divtitle[1]}panguan{/if} {if $reply['prizemsgdiv3']!=""  || $reply['prizemsgdiv4']!="" || $reply['prizemsgdiv5']!=""}appen{/if}">                   
                        {$reply['prizemsgdiv2']}                     
        </div>
        {if $divtitle[1]}
        <div class="nvli_bottmo">
        	<img src="{MODULE_URL}/template/static/toupiao_sou/images/bottmo1.png" />
        </div>
        {/if}
    </div>   
         {/if}
        {if $reply['prizemsgdiv3']!=""}                
        <div class="jiangli {if $divtitle[2]}youjias{/if}">
            {if $divtitle[2]}
        	<div class="nvli_top">
    		<img src="{MODULE_URL}/template/static/toupiao_sou/images/top1.png" />
    	</div>
            
            <div class="jiang_er">
		        <div class="jiang_top">
		            <span>{$divtitle[2]}</span>
		        </div>
            </div>
            {/if}
        <div class="jiang_wen {if $divtitle[2]}panguan{/if} {if $reply['prizemsgdiv4']!="" || $reply['prizemsgdiv5']!=""}appen{/if}">                   
                        {$reply['prizemsgdiv3']}                     
        </div>
        {if $divtitle[2]}
        <div class="nvli_bottmo">
        	<img src="{MODULE_URL}/template/static/toupiao_sou/images/bottmo1.png" />
        </div>
        {/if}
    </div>   
         {/if}
        {if $reply['prizemsgdiv4']!=""}                
        <div class="jiangli {if $divtitle[3]}youjias{/if}">
            {if $divtitle[3]}
        	<div class="nvli_top">
    		<img src="{MODULE_URL}/template/static/toupiao_sou/images/top1.png" />
    	</div>
            
            <div class="jiang_er">
		        <div class="jiang_top">
		            <span>{$divtitle[3]}</span>
		        </div>
            </div>
            {/if}
        <div class="jiang_wen {if $divtitle[3]}panguan{/if} {if $reply['prizemsgdiv5']!=""}appen{/if}">                   
                        {$reply['prizemsgdiv4']}                     
        </div>
        {if $divtitle[3]}
        <div class="nvli_bottmo">
        	<img src="{MODULE_URL}/template/static/toupiao_sou/images/bottmo1.png" />
        </div>
        {/if}
    </div>   
         {/if}  
        {if $reply['prizemsgdiv5']!=""}                
        <div class="jiangli {if $divtitle[4]}youjias{/if}">
            {if $divtitle[4]}
        	<div class="nvli_top">
    		<img src="{MODULE_URL}/template/static/toupiao_sou/images/top1.png" />
    	</div>
            
            <div class="jiang_er">
		        <div class="jiang_top">
		            <span>{$divtitle[4]}</span>
		        </div>
            </div>
            {/if}
        <div class="jiang_wen {if $divtitle[4]}panguan{/if}">                   
                        {$reply['prizemsgdiv5']}                     
        </div>
        {if $divtitle[4]}
        <div class="nvli_bottmo">
        	<img src="{MODULE_URL}/template/static/toupiao_sou/images/bottmo1.png" />
        </div>
        {/if}
    </div>   
         {/if}          
    <!--版权-->
    
    <div class="banquan">
    	{if !empty($diytech)}
        {$diytech}
        {/if}
    </div>
    
        <div class="footer">
			<!--<a class="maobin" href="{php echo $this->createMobileUrl('index', array('rid' => $rid))}">-->
            <a class="maobin" href="{php echo $this->createMobileUrl('index', array('rid' => $rid,'op'=>$_SESSION['ismirror'],'mirror_id'=>$_SESSION['mirror_id'],'saiquid'=>$_GPC['saiquid']))}">   
			<div class="banma">
				<div class="footbiao">
					<span class="icon-home"></span>
				</div>
				<div class="footzi">
					首页
				</div>
			</div>
			</a>
                        {if $voteuser||$reply['join_btn_show']!=1}
			<a class="maobin" href="{php echo $this->createMobileUrl('join', array('rid' => $reply['rid'],'saiquid'=>$_GPC['saiquid']))}">
			<div class="footer_li">
				<div class="footbiao">
					<span class="icon-user"></span>
				</div>
				<div class="footzi">
                                    {if !empty($voteuser)}
					我的
                                    {else}
                                        报名
                                    {/if}
				</div>
			</div>
			</a>
                        {/if}
			<a class="maobin" href="{php echo $this->createMobileUrl('ranking', array('rid' => $rid,'saiquid'=>$_GPC['saiquid']))}">
			<div class="footer_li">
				<div class="footbiao">
					<span class="icon-bar-chart"></span>
				</div>
				<div class="footzi">
					排行
				</div>
			</div>
			</a>
                        {if $reply['diybtnname']}
			<a class="maobin" href="{$reply['diybtnurl']}">
			<div class="footer_li">
				<div class="footbiao">
					<span class="icon-cog"></span>
				</div>
				<div class="footzi">
					{$reply['diybtnname']}
				</div>
			</div>
			</a>
                        {/if}
		</div>
        {if $reply['isindextc'] && $_SESSION['tconce'] == 1}
         <div class="moisban">
                    <div class="tidais">
                        <div class="voteadd_ind"><div class="guanout"><span class="glyphicon glyphicon-remove-circle"></span></div><img src="{media $reply['indexadimg']}"  class="adimg" width="100%" onclick="location='{$reply['indexadurl']}'" /><p class="adtext" hidden>{$reply['indexadtext']}</p></div>
                    </div>
                 </div>
                {/if}
<!--留言按钮-->
        {if $reply['index_status'] == 1}
        <div class="haimy">
        	<div class="haimy_li">
        			<span class="icon iconfont icon-xiaoxi1"></span>
        	</div>
        </div>
        {/if}
        <!--留言框-->
        <div class="code" hidden>
			<div class="code_li">
				<div class="dialogs">
					<div class="dialogs_top">填写留言</div>
					<div class="address">
                        <input type="text" value="{$reply['rid']}" id="hid" hidden/>
                        <input type="text" value="{$reply['title']}" id="hdname" hidden/>
						<textarea placeholder="不超过25个文字" id="content"></textarea>
					</div>
					<!--<div class="dialogs_bottmo">确定</div>-->
					<div class="xuans">
                        <div class="dialogs_yes" id="tijiao">提交</div>
                        <div class="dialogs_no" id="no">取消</div>
                    </div>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="{MODULE_URL}/template/static/toupiao_sou/js/jquery-1.10.2.js"></script>
	    <script type="text/javascript" src="{MODULE_URL}/template/static/toupiao_sou/js/index.js"></script>
		<script>
			$(document).ready(function(){
				$(".haimy_li").click(function(){
					$(".code").show();
				});
				$("#no").click(function(){
					$(".code").hide();
				});
			});
		</script>
        <script type="text/javascript">
        	var data = [
                <?php foreach($indexagree as $key=>$row){if($reply['index_status'] == 1){if($row['hid'] == $reply['rid']){if($row['status'] == 0){?>
                    
                <?php }else{?>
                    {text: '{if $row["status"] == 1}{php echo $row["nickname"]}{/if}：{if $row["status"] == 1}{php echo $row["content"]}{/if}'},
                <?php }}}}?>
            ];
            // 数据初始化
            var Obj = $('body').barrage({
                data : data, //数据列表
                <?php foreach($indexagree as $key=>$row){?>
                <?php if($key < 1){?>
                    row : 1,
                <?php }else if($row['status'] == 0){?>

                <?php }else if($key < 1 && $row['status'] == 1){?>
                    row : 1,//显示行数
                <?php }else if($key < 2 && $row['status'] == 1){?>
                    row : 2,
                <?php }else if($key < 3 && $row['status'] == 1){?>
                    row : 3,
                <?php }else if($key < 4 && $row['status'] == 1){?>
                    row : 4,
                <?php }else{?>
                    row : 4,
                <?php }}?>
                time : 3000, //间隔时间
                gap : 5,    //每一个的间隙
                position : 'fixed', //绝对定位
                direction : 'bottom left', //方向
                ismoseoverclose : false, //悬浮是否停止
                height : 25,
                
            })
            Obj.start(); 
        </script>
        <script type="text/javascript">
            $(document).ready(function(){
                $("#tijiao").click(function() {
                    var hid = $("#hid").val();
                    var hdname = $("#hdname").val();
                    var content = $("#content").val();
                    if(hid == undefined || hid == "" || hid == null){
                        alert("未获取到活动id.");
                        return;
                    }
                    if(hdname == undefined || hdname == "" || hdname == null){
                        alert("未获取到活动标题.");
                        return;
                    }
                    if(content == undefined || content == "" || content == null){
                        alert("请填写内容.");
                        return;
                    }
                    if (content.length > 25){
                        alert("请输入小于25个字符");
                        return;
                    }
                    $.ajax({
                        //post方式
                        type: "post",
                        //请求的方法名
                        url:"{php echo $this->createMobileUrl('indexagree')}",
                        data:{'hid':hid,'hdname':hdname,'content':content},
                        dataType:"json"
                    });
                    alert('评论成功');
                    window.location.reload();
                });
            });
        </script>
</body>
<script>
    $(document).ready(function(){
        $(".guanout").click(function(){
            $(".moisban").hide();
        });
    });
</script>

<script type="text/javascript">
{if  $reply['indexsound']}
            $("body").append('<div class="video_exist play_yinfu" id="audio_btn" style="display: block;"><div id="yinfu" class="rotate"></div><audio preload="auto" autoplay="autoplay" id="media" src="{media $reply['indexsound']}" loop></audio></div>');
            $("#media")[0].play();
            document.addEventListener("WeixinJSBridgeReady", function () {$("#media")[0].play();}, false);
            $("#audio_btn").click(function() {
                $(this).hasClass("off") ? ($(this).addClass("play_yinfu").removeClass("off"), $("#yinfu").addClass("rotate"), $("#media")[0].play()) : ($(this).addClass("off").removeClass("play_yinfu"), $("#yinfu").removeClass("rotate"), $("#media")[0].pause())
            })
{/if}
    
var limit = 1;
function get_list(ty){
    var sqid = 0;
   {if $_GPC['saiquid']}
        sqid = {$_GPC['saiquid']};
    {/if}
    if(ty==1){
       var keyword=$("input[name='sci']").val();
//     if(keyword==""){
//        dialog2("请输入编号或姓名");
//        return false;
//     }
            limit = 1;
       $("#list_box1").html('');
    }else{
       $("#list_more").html('<div class="xiangxia"><div style="background:{if $_SESSION['detailset']['jzgdbj']}{$_SESSION['detailset']['jzgdbj']}{/if}; color: {if $_SESSION['detailset']['jzgdzt']}{$_SESSION['detailset']['jzgdzt']}{/if}; border: 1px solid {if $_SESSION['detailset']['jzgdzt']}{$_SESSION['detailset']['jzgdzt']}{/if};" class="genduo">卖命加载中...</div> </div>');
       var keyword="";
    }
    
    $.ajax({
        type : "post",
        url : "{php echo $this->createMobileUrl('Index',array('rid'=>$rid))}",
        data : {
            limit:limit,
            keyword:keyword,
                        saiquid:sqid,
        },
        dataType : "json",      
        success : function(data) {
            if(data.status==200){
                
                        var list = data.content;
                        var content = '';
                        for(var i=0; i<list.length; i++){
                        	hid = '';
                            if(list[i]['saiquname'] == '无赛区'){
                                hid = 'hidden';
                            }
                            hid2 = '';
                            if(list[i]['zc'] == '暂无'){
                                hid2 = 'hidden';
                            }
                            content += '<li class="picCon1"><div class="tanni">'
                            +'<a href="'+list[i]['url']+'" class="img">'
                            +'<div class="ku_one"><img src="{MODULE_URL}/template/static/toupiao_sou/images/ku1.png"></div>'
                            +'<div class="banyuan"><div class="xinming_left" style="color: {if $_SESSION['detailset']['xsbhzt']}{$_SESSION['detailset']['xsbhzt']}{/if}; border: 1px solid {if $_SESSION['detailset']['xsbhzt']}{$_SESSION['detailset']['xsbhzt']}{/if}; background: {if $_SESSION['detailset']['xsbhbj']}{$_SESSION['detailset']['xsbhbj']}{/if};">'+list[i]['noid']+'</div><img src="'+list[i]['img1']+'"></div>'
                            +'<div class="clearfix">'
                            +'<div class="zidingyi">'
                            +'<div class="xinming">'
                            +'<div class="xinming_right" style="color: {if $_SESSION['detailset']['xsmc']}{$_SESSION['detailset']['xsmc']}{/if};">'+list[i]['name']+'</div>'
                            +'</div>'
                            +'<div '+hid2+' class="zhichen" style="color: {if $_SESSION['detailset']['xszc']}{$_SESSION['detailset']['xszc']}{/if};">'
                            +'<span>'+list[i]['zc']+'</span>'
                            +'</div>'
                            +'<div class="zhichen" {if $reply['saiqustatus'] == 0}hidden{/if} '+hid+' style="color: {if $_SESSION['detailset']['xszc']}{$_SESSION['detailset']['xszc']}{/if};">'
                            +'<span>['+list[i]['saiquname']+']</span>'
                            +'</div>'
                            +'<div class="piaoshu">'
                            +'<div class="piaoshu_left" style="color: {if $_SESSION['detailset']['xsps']}{$_SESSION['detailset']['xsps']}{/if};">福气：</div>'
                            +'<div class="piaoshu_right" style="color: {if $_SESSION['detailset']['xsps']}{$_SESSION['detailset']['xsps']}{/if};">'+list[i]['votenum']+'</div>'
                            +'</div>'
                            +'<div class="tou" style="color: {if $_SESSION['detailset']['votebtnzt']}{$_SESSION['detailset']['votebtnzt']}{/if}; background: url({if $_SESSION['detailset']['votebtnbj']}{$_SESSION['detailset']['votebtnbj']}{/if});">'
                            +'{$reply["globalttyp"]}'
                            +'</div>'
                            +'</div>'
                            +'</div>'
                            +'<div class="ku_two"><img src="{MODULE_URL}/template/static/toupiao_sou/images/ku2.png"></div>'
                            +'</a>'
                            +'</div></li>'
                        //  content += "<li class='picCon'><a href='"+list[i]['url']+"'><div class='fanzhao'><img class='mui-media-object' src='"+list[i]['img1']+"'></div><div class='zidingyi'><div class='xinming'><div class='xinming_left'>"+list[i]['noid']+"</div><div class='xinming_right'>"+list[i]['name']+"</div></div><div class='piaoshu'><div class='piaoshu_left'>票数:</div><div class='piaoshu_right'>"+list[i]['votenum']+"票</div></div><a href='"+list[i]['url']+"'><div class='tou'>投TA一票</div></a></div></a></li>";
                                                      // content += "<div class='grid-item item'><img src='"+list[i]['img1']+"' class='item-img' /><section class='section-p'><div class='zidingyi'><div class='xinming'><div class='xinming_left'>"+list[i]['noid']+"号</div><div class='xinming_right'>"+list[i]['name']+"</div></div><div class='piaoshu'><div class='piaoshu_left'>票数:</div><div class='piaoshu_right'>"+list[i]['votenum']+"票</div></div><a href='"+list[i]['url']+"'><div class='tou'>投TA一票</div></a></div></section></div>";
                            
                        }
                        $("#pageCon1 .list_box").append(content);
                        var listlen =  {if $reply['mrshowxs']}{$reply['mrshowxs']}{else}0{/if};
                        if(list.length==listlen&&listlen>0){
                            $("#list_more").html('<div style="background:{if $_SESSION['detailset']['jzgdbj']}{$_SESSION['detailset']['jzgdbj']}{/if}; color: {if $_SESSION['detailset']['jzgdzt']}{$_SESSION['detailset']['jzgdzt']}{/if}; border: 1px solid {if $_SESSION['detailset']['jzgdzt']}{$_SESSION['detailset']['jzgdzt']}{/if};" class="genduo" onclick="get_list(0);">加载更多</div>');
                        }else{
                            $("#list_more").html('<div style="background:{if $_SESSION['detailset']['jzgdbj']}{$_SESSION['detailset']['jzgdbj']}{/if}; color: {if $_SESSION['detailset']['jzgdzt']}{$_SESSION['detailset']['jzgdzt']}{/if}; border: 1px solid {if $_SESSION['detailset']['jzgdzt']}{$_SESSION['detailset']['jzgdzt']}{/if};" class="genduo">没有更多记录！</div>');
                        }
//                                                关键词搜索默认20名 不分页
                                                if(keyword != ''){
                                                    $("#list_more").html('<div style="background:{if $_SESSION['detailset']['jzgdbj']}{$_SESSION['detailset']['jzgdbj']}{/if}; color: {if $_SESSION['detailset']['jzgdzt']}{$_SESSION['detailset']['jzgdzt']}{/if}; border: 1px solid {if $_SESSION['detailset']['jzgdzt']}{$_SESSION['detailset']['jzgdzt']}{/if};" class="genduo">没有更多记录！</div>');
                                                }
                        limit++;

                        

waterfall2(1);
console.log('ssss');
            }else if(data.status==-103){
                $("#list_more").html('<div style="background:{if $_SESSION['detailset']['jzgdbj']}{$_SESSION['detailset']['jzgdbj']}{/if}; color: {if $_SESSION['detailset']['jzgdzt']}{$_SESSION['detailset']['jzgdzt']}{/if}; border: 1px solid {if $_SESSION['detailset']['jzgdzt']}{$_SESSION['detailset']['jzgdzt']}{/if};" class="genduo">没有更多记录！</div>');
            }else if(data.status==301){
                $("#list_more").html('<div style="background:{if $_SESSION['detailset']['jzgdbj']}{$_SESSION['detailset']['jzgdbj']}{/if}; color: {if $_SESSION['detailset']['jzgdzt']}{$_SESSION['detailset']['jzgdzt']}{/if}; border: 1px solid {if $_SESSION['detailset']['jzgdzt']}{$_SESSION['detailset']['jzgdzt']}{/if};" class="genduo">没有搜索到内容！</div>');
            }else{
                $("#list_more").html('<div style="background:{if $_SESSION['detailset']['jzgdbj']}{$_SESSION['detailset']['jzgdbj']}{/if}; color: {if $_SESSION['detailset']['jzgdzt']}{$_SESSION['detailset']['jzgdzt']}{/if}; border: 1px solid {if $_SESSION['detailset']['jzgdzt']}{$_SESSION['detailset']['jzgdzt']}{/if};" class="genduo">没有更多记录！</div>');
            }       
        },
        error : function(xhr, type) {

        }
    });
        

}
get_list(0);
waterfall2(1);
console.log('aaaa');
function waterfall(limit){
$container = $('#list_box');
$container.masonry('reload');
    $container.imagesLoaded(function() {
        $container.masonry({
            itemSelector: '.picCon',
            gutter: 20,
            isAnimated: true,
            });
        });
}

function waterfall2(limit){
$container = $('#list_box'+limit);
$container.masonry('reload');
    $container.imagesLoaded(function() {
        $container.masonry({
            itemSelector: '.picCon'+limit+'',
            gutter: 20,
            isAnimated: true,
            });
        });
}



    
</script>
<script>
function get_list2(ty){
    var sqid = 0;
   {if $_GPC['saiquid']}
        sqid = {$_GPC['saiquid']};
    {/if}
    //按最新排名和按得票数排名 只查前10
    if(ty=='iddesc'){
        con = $("#pageCon2 .list_box");
        ai = 2;
    }else if( ty == "piaoshudesc"){
        con = $("#pageCon3 .list_box");
        ai = 3;
    }
    
    $.ajax({
        type : "post",
        url : "{php echo $this->createMobileUrl('Index',array('rid'=>$rid))}",
        data : {
            limit:1,
        orderclick: ty,
                saiquid:sqid,
        },
        dataType : "json",      
        success : function(data) {
            if(data.status==200){
                        var list = data.content;
                        var content = '';
                        for(var i=0; i<list.length; i++){
                        	hid = '';
                            if(list[i]['saiquname'] == '无赛区'){
                                hid = 'hidden';
                            }
                            hid2 = '';
                            if(list[i]['zc'] == '暂无'){
                                hid2 = 'hidden';
                            }
                            content += '<li class="picCon'+ai+'"><div class="tanni">'
                            +'<a href="'+list[i]['url']+'" class="img">'
                            +'<div class="ku_one"><img src="{MODULE_URL}/template/static/toupiao_sou/images/ku1.png"></div>'
                            +'<div class="banyuan"><div class="xinming_left" style="color: {if $_SESSION['detailset']['xsbhzt']}{$_SESSION['detailset']['xsbhzt']}{/if}; border: 1px solid {if $_SESSION['detailset']['xsbhzt']}{$_SESSION['detailset']['xsbhzt']}{/if}; background: {if $_SESSION['detailset']['xsbhbj']}{$_SESSION['detailset']['xsbhbj']}{/if};">'+list[i]['noid']+'</div><img src="'+list[i]['img1']+'"></div>'
                            +'<div class="clearfix">'
                            +'<div class="zidingyi">'
                            +'<div class="xinming">'
                            +'<div class="xinming_right" style="color: {if $_SESSION['detailset']['xsmc']}{$_SESSION['detailset']['xsmc']}{/if};">'+list[i]['name']+'</div>'
                            +'</div>'
                            +'<div '+hid2+' class="zhichen" style="color: {if $_SESSION['detailset']['xszc']}{$_SESSION['detailset']['xszc']}{/if};">'
                            +'<span>'+list[i]['zc']+'</span>'
                            +'</div>'
                            +'<div class="zhichen" {if $reply['saiqustatus'] == 0}hidden{/if} '+hid+' style="color: {if $_SESSION['detailset']['xszc']}{$_SESSION['detailset']['xszc']}{/if};">'
                            +'<span>['+list[i]['saiquname']+']</span>'
                            +'</div>'
                            +'<div class="piaoshu">'
                            +'<div class="piaoshu_left" style="color: {if $_SESSION['detailset']['xsps']}{$_SESSION['detailset']['xsps']}{/if};">福气：</div>'
                            +'<div class="piaoshu_right" style="color: {if $_SESSION['detailset']['xsps']}{$_SESSION['detailset']['xsps']}{/if};">'+list[i]['votenum']+'</div>'
                            +'</div>'
                            +'<div class="tou" style="color: {if $_SESSION['detailset']['votebtnzt']}{$_SESSION['detailset']['votebtnzt']}{/if}; background: url({if $_SESSION['detailset']['votebtnbj']}{$_SESSION['detailset']['votebtnbj']}{/if});">'
                            +'{$reply["globalttyp"]}'
                            +'</div>'
                            +'</div>'
                            +'</div>'
                            +'<div class="ku_two"><img src="{MODULE_URL}/template/static/toupiao_sou/images/ku2.png"></div>'
                            +'</a>'
                            +'</div></li>'
                    //  content += "<li class='mui-table-view-cell mui-media mui-col-xs-6'><a href='"+list[i]['url']+"'><div class='fanzhao'><img class='mui-media-object' src='"+list[i]['img1']+"'></div><div class='zidingyi'><div class='xinming'><div class='xinming_left'>"+list[i]['noid']+"</div><div class='xinming_right'>"+list[i]['name']+"</div></div><div class='piaoshu'><div class='piaoshu_left'>票数:</div><div class='piaoshu_right'>"+list[i]['votenum']+"票</div></div><a href='"+list[i]['url']+"'><div class='tou'>投TA一票</div></a></div></a></li>";
                                                   //    content += "<div class='grid-item item'><img src='"+list[i]['img1']+"' class='item-img' /><section class='section-p'><div class='zidingyi'><div class='xinming'><div class='xinming_left'>"+list[i]['noid']+"号</div><div class='xinming_right'>"+list[i]['name']+"</div></div><div class='piaoshu'><div class='piaoshu_left'>票数:</div><div class='piaoshu_right'>"+list[i]['votenum']+"票</div></div><a href='"+list[i]['url']+"'><div class='tou'>投TA一票</div></a></div></section></div>";
                            
                        }
                        con.html(content);
//                      limit++;

                        

waterfall2(ai);
            }   
        },
        error : function(xhr, type) {

        }
    });
        

}   
//get_list2('iddesc');
//get_list2('piaoshudesc');
    $(document).ready(function(){

    });
//    $(function(){
        //      活动标题
        {if $_SESSION['detailset']['hdbt']}
          $(".huodong").css("color","{$_SESSION['detailset']['hdbt']}");
          $(".huodong").css("border","1px solid {$_SESSION['detailset']['hdbt']}");
        {/if}
        //      追加活动标题
        {if $_SESSION['detailset']['zjbt']}
          $(".jiang_top").css("color","{$_SESSION['detailset']['zjbt']}");
        {/if}
        //      追加活动标题2
        {if $_SESSION['detailset']['jpjs']}
          $(".jiang_top_two").css("color","{$_SESSION['detailset']['jpjs']}");
        {/if}
        //      报名数投票数访问数 数字颜色
        {if $_SESSION['detailset']['btfsz']}
          $(".li_one").css("color","{$_SESSION['detailset']['btfsz']}");
        {/if}
        //      报名数投票数访问数 字体颜色
        {if $_SESSION['detailset']['btfzt']}
          $(".li_two").css("color","{$_SESSION['detailset']['btfzt']}");
        {/if}
        //      首页背景一 
        {if $_SESSION['detailset']['sybj1']}
          $("body").css("background","{$_SESSION['detailset']['sybj1']}");
        {/if}
        //      首页背景二
//      {if $_SESSION['detailset']['sybj2']}
//        $(".xia").css("background","{$_SESSION['detailset']['sybj2']}");
//      {/if}
        //      首页背景三
//      {if $_SESSION['detailset']['sybj3']}
//        $(".jiangli").css("background","{$_SESSION['detailset']['sybj3']}");
//        $(".jiangli_two").css("background","{$_SESSION['detailset']['sybj3']}");
//      {/if}
        //      搜索按钮 字体颜色
        {if $_SESSION['detailset']['searchzt']}
          $(".right").css("color","{$_SESSION['detailset']['searchzt']}");
        {/if}
        //      搜索按钮  背景
//      {if $_SESSION['detailset']['searchbj']}
//        $(".right").css("background-image","url({$_SESSION['detailset']['searchbj']})");
//      {/if}
        //      搜索文本框 字体颜色
        {if $_SESSION['detailset']['searchtextzt']}
          $(".left input").css("color","{$_SESSION['detailset']['searchtextzt']}");
        {/if}
        //      搜索文本框 背景
        {if $_SESSION['detailset']['searchbgbj']}
          $(".shou").css("background-image","url({$_SESSION['detailset']['searchbgbj']})");
        {/if}
        //      奖品介绍 背景
        {if $_SESSION['detailset']['jpjsbj']}
          $(".jiang_top_two").css("background-image","url({media $_SESSION['detailset']['jpjsbj']})");
        {/if}
        //      追加标题 背景
        {if $_SESSION['detailset']['zjbtbj']}
          $(".jiang_top").css("background-image","url({media $_SESSION['detailset']['zjbtbj']})");
        {/if}
        
        //      我要投票按钮字体
        {if $_SESSION['detailset']['wybmbtnzt']}
          $(".anxia").css("color","{$_SESSION['detailset']['wybmbtnzt']}");
        {/if}
        //      我要投票按钮背景
        {if $_SESSION['detailset']['wybmbtnbj']}
          $(".anxia").css("background","{$_SESSION['detailset']['wybmbtnbj']}");
        {/if}
        //      加载更多按钮字体
        {if $_SESSION['detailset']['jzgdzt']}
          $(".genduo").css("color","{$_SESSION['detailset']['jzgdzt']}");
        {/if}
        //      加载更多按钮背景
        {if $_SESSION['detailset']['jzgdbj']}
          $(".genduo").css("background","{$_SESSION['detailset']['jzgdbj']}");
        {/if}
        //      公共底部导航背景
        {if $_SESSION['detailset']['navbarbj']}
          $(".footer").css("background","{$_SESSION['detailset']['navbarbj']}");
        {/if}
        //      公共底部导航字体
        {if $_SESSION['detailset']['navbarzt']}
          $(".footer_li").css("color","{$_SESSION['detailset']['navbarzt']}");
        {/if}
        //      公共底部导航选中字体
        {if $_SESSION['detailset']['navbarxzbj']}
          $(".banma").css("color","{$_SESSION['detailset']['navbarxzbj']}");
        {/if}
//    })
</script>
<script>
var intDiff = parseInt({php echo $reply['endtime']-time();});//倒计时总秒数量
function timer(intDiff){
    window.setInterval(function(){
    var day=0,
        hour=0,
        minute=0,
        second=0;//时间默认值        
    if(intDiff > 0){
        day = Math.floor(intDiff / (60 * 60 * 24));
        hour = Math.floor(intDiff / (60 * 60)) - (day * 24);
        minute = Math.floor(intDiff / 60) - (day * 24 * 60) - (hour * 60);
        second = Math.floor(intDiff) - (day * 24 * 60 * 60) - (hour * 60 * 60) - (minute * 60);
    }
    if (minute <= 9) minute = '0' + minute;
    if (second <= 9) second = '0' + second;
    $('#day_show').html(day+"天");
    $('#hour_show').html('<s id="h"></s>'+hour+'时');
    $('#minute_show').html('<s></s>'+minute+'分');
    $('#second_show').html('<s></s>'+second+'秒');
    intDiff--;
    }, 1000);
}
$(function(){
    timer(intDiff);
    //开屏广告start
}); 
</script>
<script type="text/javascript" src="{MODULE_URL}/template/static/toupiao_sou/js/mui.js" ></script>
<script src="//cdn.bootcss.com/masonry/2.1.08/jquery.masonry.min.js"></script>
{template 'footer'}
</div>