<div class="body_zong">
{template 'header'}
{if 1==2}
{template 'sider'} 
{/if}
{if $reply['status']==0 || $reply['status']==""}
<div class="alert alert-warning" style="text-align:center;position: fixed;top:40%;z-index: 2; width:80%;margin:0 10%;">活动已禁用！</div>
<div class="weui_mask"></div>
{/if} 

    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <link rel="stylesheet" href="{MODULE_URL}/template/static/toupiao_sou/css/mui.css" />
    <link rel="stylesheet" href="{MODULE_URL}/template/static/toupiao_sou/mode2/ranking_list.css" />
    <link rel="stylesheet" href="{MODULE_URL}/template/static/toupiao_sou/css/font-awesome.css" />
    <script type="text/javascript" src="{MODULE_URL}/template/static/toupiao_sou/js/jquery-3.2.1.min.js" ></script>
    <script>
        $(document).ready(function(){
            $(".xuan_zong").click(function(){
                $(this).children().addClass("zaiyi");
                $(this).siblings().children().removeClass("zaiyi")
                $(".gaibiande").eq($(this).index()).show().siblings().hide();
            });
            
            //      公共底部导航背景
        {if $_SESSION['detailset']['navbarbj']}
          $(".footer").css("background","{$_SESSION['detailset']['navbarbj']}");
        {/if}
        //      公共底部导航字体
        {if $_SESSION['detailset']['navbarzt']}
          $(".footer_li").css("color","{$_SESSION['detailset']['navbarzt']}");
        {/if}
        //      公共底部导航选中字体
        {if $_SESSION['detailset']['navbarxzbj']}
          $(".banma").css("color","{$_SESSION['detailset']['navbarxzbj']}");
        {/if}
        //      顶部文字
        {if $_SESSION['detailset']['rankdbzt']}
          $(".li_one").css("color","{$_SESSION['detailset']['rankdbzt']}");
          $(".li_two").css("color","{$_SESSION['detailset']['rankdbzt']}");
        {/if}
        //      顶部背景
        {if $_SESSION['detailset']['rankdbbj']}
          $(".pailie").css("background","{$_SESSION['detailset']['rankdbbj']}");
        {/if}
        //      选项卡字体
        {if $_SESSION['detailset']['ranktabzt']}
          $(".xuan_zong").css("color","{$_SESSION['detailset']['ranktabzt']}");
        {/if}
        //      选中字体
        {if $_SESSION['detailset']['ranktabxzbj']}
          $(".zaiyi").css("color","{$_SESSION['detailset']['ranktabxzbj']}");
          $(".zaiyi").css("border-bottom","3px solid {$_SESSION['detailset']['ranktabxzbj']}");
        {/if}
        //      列表名称
        {if $_SESSION['detailset']['ranktabbj']}
          $(".ming").css("color","{$_SESSION['detailset']['ranktabbj']}");
        {/if}
        
        });
    </script>
    <div class="pailie">
            <ul>
                <li>
                    <div class="li_one">参赛人数</div>
                    <div class="li_two">{$jointotal}</div>
                </li>
                <li>
                    <div class="li_one">累计{$reply["globaltp"]}</div>
                    <div class="li_two">{$votetotal}</div>
                </li>
                <li>
                    <div class="li_one">参与人数</div>
                    <div class="li_two">{$pvtotal}</div>
                </li>
                
            </ul>
        </div>
        {if $reply['djsstatus'] == 1}
           <div class="jiangli_two_jiesa">
    	<div class="nvli_top">
    		<img src="{MODULE_URL}/template/static/toupiao_sou/images/top1.png" />
    	</div>
        <div class="jiang_er">
        	<div class="jiang_top_two">
	            <span>活动结束倒计时</span>
	        </div>
        </div>
        <div class="jiang_wen_two">
                      <div class="time-item">
            
            <strong id="day_show">0天</strong>
            <strong id="hour_show">0时</strong>
            <strong id="minute_show">0分</strong>
            <strong id="second_show">0秒</strong>
        </div>
        </div>
        <div class="nvli_bottmo">
        	<img src="{MODULE_URL}/template/static/toupiao_sou/images/bottmo1.png" />
        </div>
        
    </div>
        {/if}
        <div class="tansai_li" {if $reply['saiqustatus'] == 0}hidden{/if}>
        	<div class="kongzuo">
        		<div class="kongs_zuo">
        			<a href="{$zongsaiqu}">
        				<div class="hdzong">
        				<span class="icon-retweet"></span>	
        				活动总赛区
        			</div>
        			</a>
        		</div>
        		<div class="kongs_you">
        			<div class="tansai">   
					   <div class="sailai">
					   	<span class="icon-list-alt"></span>
					   	 {$currentsq}
					   </div>
					   </div>
        		</div>
        	</div>
        	
		</div>
		<div class="bigtan">
			<div class="tanli" >
				<div class="dialogs">
                    <div class="dialogs_topsb">
                    	选择赛区
                        <span class="mui-icon mui-icon-close guang"></span>
                    </div>
                    <div class="dialogs_center">
                        <div class="saiqu">
							<ul>
                                                            {loop $saiqu $s}
								<li>
									<div class="saiqu_one">
										<a href="{$s['url']}"><img src="{if $s['saiqupic']}{media $s['saiqupic']}{else}{MODULE_URL}/template/static/toupiao_sou/images/gift_beijing.png{/if}" /></a>
									</div>
								</li>	
                                                            {/loop}
							</ul>
						</div>
                    </div>
                </div>
			</div>
		</div>
		<script type="text/javascript">
    $(document).ready(function () {
        $(".guang").click(function () {
            $(".bigtan").hide();
        });
        $(".tansai").click(function () {
            $(".bigtan").show();
        });
    });

</script>
    
        <div class="xuanxiang" {if $reply['showgr'] == 0}style="display:none;"{/if}>
            <div class="xuan_zong">
                           <a href="{php echo $this->createMobileUrl('ranking', array('rid' => $rid,'ty' =>0,'saiquid'=>$_GPC['saiquid']))}">
                <div class="dangzhong {if $_GPC['ty']==0}zaiyi{/if}" >
                    {$reply["globaltp"]}榜
                </div>
                            </a>
            </div>
            <div class="xuan_zong" >
                             <a href="{php echo $this->createMobileUrl('ranking', array('rid' => $rid,'ty' =>1,'saiquid'=>$_GPC['saiquid']))}">
                <div class="dangzhong {if $_GPC['ty']==1}zaiyi{/if}" >
                    {$reply['globallw']}榜
                </div>
                             </a>
            </div>
        </div>
        
        <div class="ming">
            <div class="ming_one">名次</div>
            <div class="ming_two">选手</div>
            <div class="ming_there">{if $_GPC['ty']==1}{$reply['globallw']}{else}{$reply["globalp"]}数{/if}</div>
        </div>
        
        <div class="liebiao" id="paihang2">
    </div>
    <div class="footer">
			<!--<a class="maobin" href="{php echo $this->createMobileUrl('index', array('rid' => $rid))}">-->
            <a class="maobin" href="{php echo $this->createMobileUrl('index', array('rid' => $rid,'op'=>$_SESSION['ismirror'],'mirror_id'=>$_SESSION['mirror_id'],'saiquid'=>$_GPC['saiquid']))}">   
			<div class="footer_li">
				<div class="footbiao">
					<span class="icon-home"></span>
				</div>
				<div class="footzi">
					首页
				</div>
			</div>
			</a>
                        {if $voteuser||$reply['join_btn_show']!=1}
			<a class="maobin" href="{php echo $this->createMobileUrl('join', array('rid' => $reply['rid'],'saiquid'=>$_GPC['saiquid']))}">
			<div class="footer_li">
				<div class="footbiao">
					<span class="icon-user"></span>
				</div>
				<div class="footzi">
                                    {if !empty($voteuser)}
					我的
                                    {else}
                                        报名
                                    {/if}
				</div>
			</div>
			</a>
                        {/if}
			<a class="maobin" href="{php echo $this->createMobileUrl('ranking', array('rid' => $rid,'saiquid'=>$_GPC['saiquid']))}">
			<div class="footer_li banma">
				<div class="footbiao">
					<span class="icon-bar-chart"></span>
				</div>
				<div class="footzi">
					排行
				</div>
			</div>
			</a>
                        {if $reply['diybtnname']}
			<a class="maobin" href="{$reply['diybtnurl']}">
			<div class="footer_li">
				<div class="footbiao">
					<span class="icon-cog"></span>
				</div>
				<div class="footzi">
					{$reply['diybtnname']}
				</div>
			</div>
			</a>
                        {/if}
		</div>
</body>
</html>
<script type="text/javascript" src="{MODULE_URL}/template/static/toupiao_sou/js/mui.min.js" ></script>
  <script> 
var limit = 1;
function get_list(){    
    console.log(11);
    $("#list_more").html('<div class="am-text-secondary"><span class="am-icon-spinner am-icon-spin"></span> 卖命加载中...</div>');
    $.ajax({
        type : "post",
        url : "{php echo $this->createMobileUrl('ranking',array('rid'=>$rid,'ty'=>$_GPC['ty'],'saiquid'=>$_GPC['saiquid']))}",
        data : {
            limit:limit,
        },
        dataType : "json",      
        success : function(data) {
            if(data.status==200){
                        var list = data.content;
                        var content = '';
                        $("#paihang2").append(list);
                        for(var i=0; i<list.length; i++){
                              content = '<a href="'+list[i]['url']+'"><div class="mui-table-view"><li class="mui-table-view-cell mui-media jiachang"> <div style="color: {if $_SESSION['detailset']['ranknumzt']}{$_SESSION['detailset']['ranknumzt']}{/if};" class="paiming" '+list[i]['item3color']+'>'+(i+1)+'</div><div class="nichen" style="color: {if $_SESSION['detailset']['rankxszt']}{$_SESSION['detailset']['rankxszt']}{/if};"><img class="tu" src="'+list[i]['avatar']+'"><span>'+list[i]['name']+'</span></div><div class="gongxian" style="color: {if $_SESSION['detailset']['rankps']}{$_SESSION['detailset']['rankps']}{/if};">'+list[i]['xianshi']+'</div></li></div></a>';
                            $("#paihang2").append(content);
                        }
                        /*
                        if(list.length==10){
                            $("#list_more").html('<span class="am-text-secondary" onclick="get_list();">查看更多</span>');
                        }else{
                            $("#list_more").html('<span></span>');
                        }
                        */
                        $("#list_more").html('');
                        limit++;        
            }else if(data.status==-103){
                $("#list_more").html('<span>没有更多记录！</span>');
            }else{
                $("#list_more").html('<span>没有更多记录！</span>');
            }       
        },
        error : function(xhr, type) {

        }
    });
}
get_list();
</script>
<script>
var intDiff = parseInt({php echo $reply['endtime']-time();});//倒计时总秒数量
function timer(intDiff){
    window.setInterval(function(){
    var day=0,
        hour=0,
        minute=0,
        second=0;//时间默认值        
    if(intDiff > 0){
        day = Math.floor(intDiff / (60 * 60 * 24));
        hour = Math.floor(intDiff / (60 * 60)) - (day * 24);
        minute = Math.floor(intDiff / 60) - (day * 24 * 60) - (hour * 60);
        second = Math.floor(intDiff) - (day * 24 * 60 * 60) - (hour * 60 * 60) - (minute * 60);
    }
    if (minute <= 9) minute = '0' + minute;
    if (second <= 9) second = '0' + second;
    $('#day_show').html(day+"天");
    $('#hour_show').html('<s id="h"></s>'+hour+'时');
    $('#minute_show').html('<s></s>'+minute+'分');
    $('#second_show').html('<s></s>'+second+'秒');
    intDiff--;
    }, 1000);
}
$(function(){
    timer(intDiff);
    //开屏广告start
}); 
</script>
</div>