{template 'header'}
<style>
    body,html{
        height:auto!important;
    }
    body{
        background: url({ASSETS}/images/chose.jpg) no-repeat;
        background-size: auto;
        /*padding-bottom: 50px;*/
    }
    #hook-app{
        padding-bottom: 60px;
    }
    .wrapper{
        margin:40px 20px 0;
        display: flex;
        flex-direction: column;
    }
    .top{
        position: relative;
        border-top-left-radius:10px;

    }
    .top,.center,.bottom{
        padding: 20px;
        background: #ffffff;
    }
    .top{
        padding-top:30px;
    }
    .top-h,.center-h,.bottom-h{
        text-align: center;
        margin-bottom: 20px;
    }
    .top-h a,.center-h a,.bottom-h a{
        display: inline-block;
        width:130px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        color: #ffffff;
        background: #4ca7fd;

        font-size: 14px;
        font-weight: bold;
        border-radius: 3px;
    }
    .top-text,.center-text,.bottom-text{
        font-size: 12px;
        color: #666666;
        line-height: 1.8;
    }
    .line{
        position: relative;
        height: 16px;
        background: #ffffff;
    }
    .line:before,.line:after{
        z-index:-1;
        content: ' ';
        position: absolute;
        left: 0;
        top: 0;
        transform: translate(-50%,0);
        width: 16px;
        height: 16px;
        line-height: 16px;
        border-radius: 50%;
    }
    .line:after{
        content: ' ';
        position: absolute;
        right: 0;
        left: 100%;
        top: 0;
    }
    .line span{
        position: relative;
        top: 7px;
        display: block;
        margin:0 auto;
        width: 80%;
        height: 0.5px;
        background: #eaeaea;
    }
</style>
<div id="hook-app">
    <div class="wrapper">
        <?php if($config['is_print']): ?>
        <div class="top">
            <div class="top-h">
                <a href="{php echo $this->createMobileUrl('make')}" style="background: #ffb500;"><i class="fa fa-leaf"></i> 在线生成</a>
            </div>
            <div class="top-text">
                在线生成挪车二维码，保存为图片后可打印成挪车卡贴。还可以自定义你喜欢的样式哦～
            </div>
        </div>
        <div class="line">
            <span></span>
        </div>
        <?php endif; ?>
        <div class="center">
            <div class="center-h">
                <a href="{php echo $this->createMobileUrl('good')}" style="background: #F56C6C;"><i class="fa fa-shopping-cart"></i> 线上购买</a>
            </div>
            <div class="center-text">
                申请专属挪车卡静电贴，方便省心。
            </div>
        </div>
        <div class="line">
            <span></span>
        </div>
        <div class="bottom">
            <div class="bottom-h">
                <a href="{php echo $this->createMobileUrl('shop')}" style="background: #5acc41;"><i class="fa fa-car"></i> 到店领取</a>
            </div>
            <div class="bottom-text">
                到离您最近的商家领取，还有享受商家的优惠活动哦～
            </div>
        </div>
    </div>
    {template 'footer'}
</div>
</body>
</html>