{{dispatch c=public a='leftArticle'}}
			<!--wrap_main-->
			<div class="wrap_main wrap_main_noindex">
					<!--wrap_box-->	
					<div class="wrap_box domain_all">
						<div class="title">
								<h2>产品详请</h2>
						</div>
						<!--wrap_box_info-->
						<div class="wrap_box_info form">
							<form action="">
							<table>
								<tr><td colspan="2" class="red"><b>{{$mproductinfo.name}}&nbsp;&nbsp;产品详请</b></td></tr>
								<tr><td>{{$mproductinfo.describe}}</td></tr>
								<tr><td style="line-height:23px">
									价格:&nbsp;&nbsp;&nbsp;&nbsp;{{if $mproductinfo.show_price==1}}{{substr($mproductinfo.price/100/12,0,6)}}元/月
									{{else}}{{$mproductinfo.price/100}}元/年{{/if}}
								</td></tr>
								<tr><td class="td_hg" colspan="2" align="center">
									<button class="submit" onclick="location.href='?c=mproductorder&a=addMproductorderFrom&mproduct_id={{$mproductinfo.id}}';return false;">立即购买</button>
									</td>
								</tr>
							</table>
							</form>
						</div>
						<!--//wrap_box_info-->
					</div>	
					<!--//wrap_box-->				
			</div>
			<!--//wrap_main-->	
