{extend name="common/edit" /}
{block name="content"}
<div class="layui-form-item">
    <label class="layui-form-label">姓名</label>
    <div class="layui-input-block">
        <input autocomplete="off" type="text" name="name" lay-verify="required" placeholder="请输入姓名" class="layui-input" value="{$info.name??''}">
    </div>
</div>
<div class="layui-form-item">
    <label class="layui-form-label">联系电话</label>
    <div class="layui-input-block">
        <input autocomplete="off" type="text" name="tel" placeholder="请输入联系电话" class="layui-input" value="{$info.tel??''}">
    </div>
</div>
{/block}