{template 'public/header'}
{template 'public/comhead'}
<link rel="stylesheet" type="text/css" href="../addons/mzhk_sun/template/public/ygcss.css">
<ul class="nav nav-tabs">
    <span class="ygxian"></span>
    <div class="ygdangq">当前位置:</div>
    <li class="active"><a href="javascript:void(0);">基本信息</a></li>
</ul>
<div class="main">
    <form action="" method="post" class="form-horizontal form" enctype="multipart/form-data">
        <!--<input type="hidden" name="parentid" value="{$parent['id']}" />-->
        <div class="panel panel-default ygdefault">
            <div class="panel-heading wyheader">
                基本信息
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">是否开启黑卡</label>
                    <div class="col-sm-10">
                        <input type="radio" value="1" name="openblackcard" id="enable_printer2" {if $item['openblackcard']==1}checked{/if}><label for="openblackcard2">开启</label>
                        <input type="radio" value="0" name="openblackcard" id="enable_printer1" {if $item['openblackcard']==0 || empty($item['openblackcard'])}checked{/if} ><label for="openblackcard1">关闭</label>
                        <span class="help-block">*默认开启，关闭之后将无会员与非会员之分<br>部分黑卡显示地方会变成轮播图，请到广告中设置</span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">黑卡名称</label>
                    <div class="col-sm-9">
                        <input type="text" name="hk_tubiao" class="form-control" value="{$item['hk_tubiao']}" />
                    </div>
                </div>

				<div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">首页顶部导航显示</label>
                    <div class="col-sm-10">
                        <input type="radio" value="0" name="opennavtype" id="opennavtype1" {if $item['opennavtype']==0  || empty($item['opennavtype'])}checked{/if}><label for="opennavtype1">单行</label>
                        <input type="radio" value="1" name="opennavtype" id="opennavtype2" {if $item['opennavtype']==1}checked{/if} ><label for="opennavtype2">多行</label>
                        <span class="help-block">*默认单行，开启多行后会根据导航数量显示多行</span>
                    </div>
                </div>

				<div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">是否允许商家自己发布商品</label>
                    <div class="col-sm-10">
                        <input type="radio" value="1" name="openrelease" id="openrelease1" {if $item['openrelease']==1}checked{/if}><label for="openrelease1">开启</label>
                        <input type="radio" value="0" name="openrelease" id="openrelease2" {if $item['openrelease']==0 || empty($item['openrelease'])}checked{/if} ><label for="openrelease2">关闭</label>
                        <span class="help-block">*默认关闭，开启后商家可以自己发布普通、抢购、拼团、砍价、优惠券商品</span>
                    </div>
                </div>

				<div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">商家自己发布商品是否需要审核</label>
                    <div class="col-sm-10">
                        <input type="radio" value="1" name="openexamine" id="openexamine1" {if $item['openexamine']==1  || empty($item['openexamine'])}checked{/if}><label for="openexamine1">开启</label>
                        <input type="radio" value="0" name="openexamine" id="openexamine2" {if $item['openexamine']==0}checked{/if} ><label for="openexamine2">关闭</label>
                        <span class="help-block">*默认开启，开启后商家发布的商品需要平台审核才能上架</span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">是否开启商家配送</label>
                    <div class="col-sm-10">
                        <input type="radio" value="1" name="is_delivery" id="is_delivery1" {if $item['is_delivery']==1  }checked{/if}><label for="is_delivery1">开启</label>
                        <input type="radio" value="0" name="is_delivery" id="is_delivery2" {if $item['is_delivery']==0 || empty($item['is_delivery'])}checked{/if} ><label for="is_delivery2">关闭</label>
                        <span class="help-block">*默认关闭，开启后商家可以配送订单</span>
                    </div>
                </div>

				<div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">显示时间未开始商品</label>
                    <div class="col-sm-10">
                        <input type="radio" value="1" name="opennotime" id="opennotime1" {if $item['opennotime']==1}checked{/if}><label for="opennotime1">开启</label>
                        <input type="radio" value="0" name="opennotime" id="opennotime2" {if $item['opennotime']==0 || empty($item['opennotime'])}checked{/if} ><label for="opennotime2">关闭</label>
                        <span class="help-block">*默认关闭，开启后显示时间未开始商品</span>
                    </div>
                </div>

				<div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">主题3首页公告显示</label>
                    <div class="col-sm-10">
                        <input type="radio" value="1" name="opennotice" id="opennotice1" {if $item['opennotice']==1}checked{/if}><label for="opennotice1">开启</label>
                        <input type="radio" value="0" name="opennotice" id="opennotice2" {if $item['opennotice']==0 || empty($item['opennotice'])}checked{/if} ><label for="opennotice2">关闭</label>
                        <span class="help-block">*默认关闭，开启后主题3首页滚动显示专题标题</span>
                    </div>
                </div>

				<div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">主题4搜索栏显示</label>
                    <div class="col-sm-10">
                        <input type="radio" value="1" name="opensearch" id="opensearch1" {if $item['opensearch']==1}checked{/if}><label for="opensearch1">开启</label>
                        <input type="radio" value="0" name="opensearch" id="opensearch2" {if $item['opensearch']==0 || empty($item['opensearch'])}checked{/if} ><label for="opensearch2">关闭</label>
                        <span class="help-block">*默认关闭，开启后主题4首页显示搜索栏</span>
                    </div>
                </div>

				<div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">核销时间</label>
                    <div class="col-sm-10">
                        <input type="radio" value="0" name="writeofftype" id="writeofftype1" {if $item['writeofftype']==0  || empty($item['writeofftype'])}checked{/if}><label for="writeofftype1">固定</label>
                        <input type="radio" value="1" name="writeofftype" id="writeofftype2" {if $item['writeofftype']==1}checked{/if} ><label for="writeofftype2">动态</label>
                        <span class="help-block">*默认固定，开启动态可根据商品详情的核销时间进行修改</span>
                    </div>
                </div>

				<div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">主题4副标题</label>
                    <div class="col-sm-9">
                        <input type="text" name="subheading" class="form-control" value="{$item['subheading']}" />
						<span class="help-block">*用于主题4首页展示</span>
                    </div>
                </div>

				<div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">主题4顶部背景颜色</label>
                    <div class="col-sm-9">
                       {php echo tpl_form_field_color('topbg', $item['topbg']?$item['topbg']:"#ffd842")} 
                        <span class="help-block">*默认为 #ffd842</span>
                    </div>
                </div>

				<div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">分类页顶部背景颜色</label>
                    <div class="col-sm-9">
                       {php echo tpl_form_field_color('catetopbg', $item['catetopbg']?$item['catetopbg']:"#f9d654")} 
                        <span class="help-block">*默认为 #f9d654</span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">黑卡名称字体颜色</label>
                    <div class="col-sm-9">
                       {php echo tpl_form_field_color('hk_namecolor', $item['hk_namecolor']?$item['hk_namecolor']:"#f5ac32")} 
                        <span class="help-block">*默认为 #f5ac32</span>
                    </div>
                </div>

				<div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">平台字体颜色</label>
                    <div class="col-sm-9">
                       {php echo tpl_form_field_color('fontcolor', $item['fontcolor'])} 
                        <span class="help-block">*小程序字体只支持白色跟黑色</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">平台头部背景</label>
                    <div class="col-sm-9">
                        {php echo tpl_form_field_color('color', $item['color'])}
                        <span class="help-block">*不填写会默认选中红色</span>
                    </div>
                </div>

				<div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">会员开通页顶部背景色</label>
                    <div class="col-sm-9">
                        {php echo tpl_form_field_color('vipbcolor', $item['vipbcolor'])}
                        <span class="help-block">*不填写会默认选中橙色</span>
                    </div>
                </div>


				<div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">会员开通页顶部背景图</label>
                    <div class="col-sm-9">
                        {php echo tpl_form_field_image('vip_bimg', $item['vip_bimg']);}
                        <span class="help-block">*建议比例 1:1 (320px*182px)</span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">黑卡logo</label>
                    <div class="col-sm-9">
                        {php echo tpl_form_field_image('hk_logo', $item['hk_logo']);}
                        <span class="help-block">*建议比例 1:1 (80*80)</span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">黑卡背景图</label>
                    <div class="col-sm-9">
                        {php echo tpl_form_field_image('hk_bgimg', $item['hk_bgimg']);}
                        <span class="help-block">*建议比例 650*380</span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">我的页面顶部背景图（我的页面风格2）</label>
                    <div class="col-sm-9">
                        {php echo tpl_form_field_image('hk_mytopimg', $item['hk_mytopimg']);}
                        <span class="help-block">*建议比例 750*360</span>
                    </div>
                </div>
				<div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">我的页面黑卡背景图（我的页面风格2）</label>
                    <div class="col-sm-9">
                        {php echo tpl_form_field_image('hk_mybgimg', $item['hk_mybgimg']);}
                        <span class="help-block">*建议比例 710*180</span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">我的页面黑卡营销标题（我的页面风格2）</label>
                    <div class="col-sm-9">
                        <input type="text" name="hk_mytitle" class="form-control" value="{$item['hk_mytitle']}" />
                        <span class="help-block">*不填默认  会员卡专属特权•专属商品•折上折</span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">黑卡会员规则</label>
                    <div class="col-sm-9">
                        {php echo tpl_ueditor('hk_userrules',$item['hk_userrules']);}
                    </div>
                </div>



        </div>

        <div class="form-group">
            <input type="submit" name="submit" value="提交" class="btn col-lg-3" style="color: white;background-color: #444444;margin-left: 550px;"/>
            <input type="hidden" name="token" value="{$_W['token']}" />
            <input type="hidden" name="id" value="{$item['id']}" />
        </div>
    </form>
</div>
<script type="text/javascript">
    $(function(){
        $("#frame-12").show();
        $("#yframe-12").addClass("wyactive");
    })
</script>