<section class="comment-holder" id="commentHolder">
    <div class="reply-holder">
        <div class="main-ad3 pAd2" style="color:red;"></div>
        <div class="replyBox hide">
            <div class="reply-hd">
                <h2 class="reply-tit">我要评论</h2>
                <p class="login" style="display:none;">
                    <span class="notlogged">
                    <a href="">登录</a>
                    <a href="">注册</a>
                    </span>
                </p>
            </div>
            <div class="" id="commentForm">
                <input type="hidden" id="id" name="id" value="<?php echo $article['id'];?>">
                <input type="hidden" id="category" name="category" value="<?php echo $category['id'];?>">
                <div class="textareabox"><textarea class="textarea" id="content" name="content"></textarea></div>
                <div class="line"><input type="button" id="submit-comment" value="发表评论" class="btn btn-submit"></div>
            </div>
        </div>

    </div>
</section>