{template 'web/common/common'}
{template 'web/system/navbar'}
<link rel="stylesheet" href="../addons/kundian_farm/resource/center/css/iconfont.css" />
<blockquote class="layui-elem-quote layui-text">
  支付证书上传
</blockquote>
<div class="layui-card">
    <form class="layui-form" method="post" action="{url 'site/entry/admin',array('m'=>'kundian_farm','op'=>'upload_cert_save','action'=>'system')}" enctype="multipart/form-data">
        <div class="layui-form-item">
            <label class="layui-form-label">微信支付证书CERT</label>
            <div class="layui-input-block">
              <input type="file" class="form-control"  name="wx_cert" value="{$data['list']['wx_cert']}">
              <div class="layui-form-mid layui-word-aux">
                  {if $data['list']['wx_cert']}
                  已上传文件
                  {else}
                  未上传文件
                  {/if}
              </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">微信支付证书KEY</label>
            <div class="layui-input-block">
              <input type="file" class="form-control"  name="wx_key" value="{$data['list']['wx_key']}">
              <div class="layui-form-mid layui-word-aux">
                  {if $data['list']['wx_cert']}
                  已上传文件
                  {else}
                  未上传文件
                  {/if}
              </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <input type="hidden" name="id" value="{$data['list']['id']}">
                <button class="layui-btn layui-btn-sm" type="submit">保存</button>
                <button class="layui-btn layui-btn-sm layui-btn-primary clearCert" type="button">清除微信支付证书</button>
            </div>
        </div>

        <p style="color: gray;font-size: 12px;margin-top: 90px;margin-left: 35px;">
            <text class="iconfont icon-issue" style="color: #009688"></text>
            小提示：如果需要重新上传支付证书，请先清除原来上传的支付证书，否则会上传失败的哦！
        </p>
    </form>
</div>
{template 'common/footer'}
<script>
    layui.use(['form','layer'], function(){
        $ = layui.jquery;
        var form = layui.form
            ,layer = layui.layer;

        $(".clearCert").click(function () {
            layer.confirm('确认要清除微信支付证书吗？', {icon: 3, title:'提示'}, function(index){
                $.ajax({
                    type:"post",
                    url:"{url 'site/entry/admin',array('m'=>'kundian_farm','op'=>'clearCert','action'=>'system')}",
                    data:{},
                    dataType:'JSON',
                    success:function (res) {
                        layer.alert(res.msg);
                    }
                })

                layer.close(index);
            });
        })

    });
</script>