@charset "utf-8";
/* CSS Document */
.bar {
    right: 0;
    z-index: 10;
    height: 44px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: #f7f7f8;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.bar-nav {
    background-color: #fff;
	top:0;
}
.bar, .bar:after {
    position: absolute;
    left: 0;
}
.pull-left {
    float: left;
}
.button {
    border: 1px solid #f34336;
    color: #f34336;
    text-decoration: none;
    text-align: center;
    display: block;
    border-radius: 5px;
    line-height: 25pxrem;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background: 0 0;
    padding: 0 10px;
    margin: 0;
    height:27pxrem;
    white-space: nowrap;
    position: relative;
    text-overflow: ellipsis;
    font-size: 14px;
    font-family: inherit;
    cursor: pointer;
}
.bar .button {
    position: relative;
    top: 7px;
    z-index: 20;
    margin-top: 0;
    font-weight: 400;
}
.bar .button-nav.close {
    background: url(../image/tkc.png) no-repeat 50%;
    background-size: 50%;
}

.bar .button-link {
    top: 0;
    padding: 0;
    font-size: 16px;
    line-height: 44px;
    height: 44px;
    color: #f34336;
    border: 0;
}
.bar .button-link {
    min-width: 44px;
}
.bar .button.pull-left {
    margin-right: 10px;
}
.bar .button-nav.pull-left {
    margin-left: -10px;
}
.icon-left{
	display: inline-block;
padding: 22px;
background: url(../image/ic_back.png) no-repeat center center;
-webkit-background-size: 22px;
background-size: 22px;
vertical-align: top;
	}
.bar .button-nav.pull-right {
    margin-right: -10px;
}
.bar .button.pull-right {
    margin-left: 10px;
}
.pull-right {
    float: right;
}
.title {
    position: absolute;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0 -10px;
    font-size: 17px;
    font-weight: 500;
    line-height: 44px;
    color: #3d4145;
    text-align: center;
    white-space: nowrap;
}
.bar:after {
    transform: scaleY(.5);
}
.bar:after {
    content: '';
    bottom: 0;
    right: auto;
    top: auto;
    height: 1px;
    width: 100%;
    background-color: #e7e7e7;
    display: block;
    z-index: 15;
    transform-origin: 50% 100%;
}
.content, .page {
    position: absolute;
    top: 44px;
    right: 0;
    bottom: 0;
    left: 0;
}
.content {
    background-color: #f4f4f4;
}
.content {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
.list-block {
    margin: 10px 0 0;
    font-size: 14px;
}
.list-block ul {
    background: #fff;
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
}
.list-block ul:before {
    transform: scaleY(.5);
}
.list-block ul:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: auto;
    right: auto;
    height: 1px;
    width: 100%;
    background-color: #e7e7e7;
    display: block;
    z-index: 15;
    transform-origin: 50% 0;
}
.list-block ul:after {
    transform: scaleY(.5);
}
.list-block ul:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    right: auto;
    top: auto;
    height: 1px;
    width: 100%;
    background-color: #e7e7e7;
    display: block;
    z-index: 15;
    transform-origin: 50% 100%;
}
.list-block li {
    box-sizing: border-box;
    position: relative;
}
.list-block .item-link {
    transition-duration: .3s;
    display: block;
    color: inherit;
}
.list-block .item-content {
    box-sizing: border-box;
    padding-left: 15px;
    min-height: 44px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.list-block .item-content {
    padding-left: 10px;
}
.address-list .item-content {
    padding-left: 0;
}
.list-block .item-inner {
    padding-right: 15px;
    position: relative;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 7px;
    min-height:44px;
    overflow: hidden;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.list-block .item-link .item-inner {
    padding-right: 30px;
    background-image: url(../image/next.png);
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: 97%;
    background-position: calc(100% - 10px) 50%;
}
.address-list .item-content .item-inner {
    padding-left: 10px;
    background: url(../image/edit.png) no-repeat 97%;
    background-size: 15px auto;
}
.address-list-info>p {
    margin: 0;
	line-height:20px;
}
.address-list-info>p:last-child {
    font-size: 12px;
    color: #9b9b9b;
}
.list-block .item-inner:after {
    transform: scaleY(.5);
}
.list-block .item-inner:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    right: auto;
    top: auto;
    height: 1px;
    width: 100%;
    background-color: #e7e7e7;
    display: block;
    z-index: 15;
    transform-origin: 50% 100%;
}

.empty-list {
    padding: 80px 0 40px;
}
.empty-list-icon {
    margin: 0 auto;
    width: 108px;
    height: 108px;
    overflow: hidden;
    background-color: #fff;
    border-radius: 50% 50%;
}
.empty-list-icon:before {
    content: "";
    display: block;
    margin: 38px auto 0;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-position: 50%;
}
.empty-list-icon-order:before {
    background-image: url(../image/ead.png);
    background-size: auto 100%;
}
.empty-list-tip {
    font-size: 16px;
    color: #999;
    text-align: center;
	 margin: 20px 0;
}
.button.button-fill {
    color: #fff;
    background: #f34336;
    border: none;
    line-height: 27px;
}
.button.empty-list-button {
    display: inline-block;
    width: 140px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    border-radius: 3px 3px;
}
.address-editor-ribbon {
    height: 7px;
    background: #fff url(../image/line.gif) repeat-x 0 0;
    background-size: auto 7px;
}
.list-block .full-width-form .item-inner {
    padding-right: 0;
}
.address-editor.list-block .item-link .item-inner {
    background: url(../image/edit.png) no-repeat 97%;
    background-size: 15px auto;
}
.list-block .full-width-form .item-content {
    padding: 0 10px;
}
.list-block .item-title {
    -webkit-flex-shrink: 1;
    -ms-flex: 0 1 auto;
    flex-shrink: 1;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}
.list-block .label {
    vertical-align: top;
}
.list-block .item-title.label {
    width: 35%;
    -webkit-flex-shrink: 0;
    -ms-flex: 0 0 auto;
    flex-shrink: 0;
    margin: 4px 0;
}
.list-block .item-title.label {
    width: 30%;
	line-height:21px;
}
.list-block .item-input {
    width: 100%;
    margin-top: -8px;
    margin-bottom: -7px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    -webkit-flex-shrink: 1;
    -ms-flex: 0 1 auto;
    flex-shrink: 1;
}
.address-editor .item-input {
    margin: 0;
}
.list-block .full-width-form .item-content {
    padding: 0 10px;
}
.address-editor .item-content.label-checkbox {
    float: left;
    padding: 0;
    width: 40%;
    min-height: 32px;
}
label.label-checkbox {
    transition-duration: .3s;
}
label.label-checkbox {
    cursor: pointer;
}
label.label-checkbox input[type=radio] {
    display: none;
}
.list-block .item-media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-shrink: 0;
    -ms-flex: 0 0 auto;
    flex-shrink: 0;
    -webkit-box-lines: single;
    -moz-box-lines: single;
    -ms-flex-wrap: none;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    box-sizing: border-box;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 7px;
    padding-bottom: 8px;
}
.address-editor .label-checkbox .item-media {
    padding: 0;
}
label.label-checkbox i.icon-form-checkbox {
    width: 22px;
    height: 22px;
    position: relative;
    border-radius: 22px;
    border: 1px solid #c7c7cc;
    box-sizing: border-box;
}
label.label-checkbox i.icon-form-checkbox:after {
    content: ' ';
    position: absolute;
    left: 50%;
    margin-left: -6px;
    top: 50%;
    margin-top: -4px;
    width: 12px;
    height: 9px;
}
label.label-checkbox input[type=checkbox]:checked+.item-media i.icon-form-checkbox, label.label-checkbox input[type=radio]:checked+.item-media i.icon-form-checkbox {
    border: none;
    background-color: #f34336;
}
label.label-checkbox input[type=checkbox]:checked+.item-media i.icon-form-checkbox, label.label-checkbox input[type=radio]:checked+.item-media i.icon-form-checkbox {
    background-color: #f34336;
}
.icon {
    font-family: iconfont-sm!important;
    font-style: normal;
    display: inline-block;
    vertical-align: middle;
    background-size: 100% auto;
    background-position: 50%;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 4px;
    -moz-osx-font-smoothing: grayscale;
}
label.label-checkbox input[type=checkbox]:checked+.item-media i.icon-form-checkbox:after, label.label-checkbox input[type=radio]:checked+.item-media i.icon-form-checkbox:after {
    background: no-repeat 50%;
    background-image: url(../image/gou.png);
    background-size: 12px 9px;
}
.list-block {
    margin: 10px 0 0;
    font-size: 14px;
}
.list-block:last-child {
    margin-bottom: 10px;
}
.list-block .item-link.list-button {
    padding: 0 15px;
    text-align: center;
    color: #f34336;
    display: block;
    line-height: 43px;
}
.list-block input[type=date], .list-block input[type=datetime-local], .list-block input[type=email], .list-block input[type=number], .list-block input[type=password], .list-block input[type=search], .list-block input[type=tel], .list-block input[type=text], .list-block input[type=time], .list-block input[type=url], .list-block select, .list-block textarea {
    padding-left: 0;
    height: 32px;
    line-height: 32px;
    font-size: 14px;
	width:100%;
}

.login-screen, .popup {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: 100%;
    z-index: 10400;
    background: #fff;
    box-sizing: border-box;
    display: none;
    overflow: auto;

}
.popup-overlay{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.4);
    z-index: 10200;
    opacity: 0;
    -webkit-transition-duration: .4s;
    transition-duration: .4s;
	visibility: hidden;
}
.popup-overlay.modal-overlay-visible{
    visibility: visible;
    opacity: 1;
}

.content-padded {
    margin:10px;
}
.search-input {
    position: relative;
}
.search-input {
    height: 44px;
    background-color: #fff;
}
.search-input .icon {
    z-index: 11;
}
.search-input .icon {
    position: absolute;
    font-size: 18px;
    color: #b4b4b4;
    top: 50%;
    left: 6px;
    background:url(../image/ic_action_searchs.png) no-repeat;
	background-size: 18px 18px;
    top: 13px;
	    width: 18px;
    height: 18px;
}

.search-input input {
    box-sizing: border-box;
    width: 100%;
    height: 28px;
    display: block;
    border: none;
    appearance: none;
    border-radius: 5px;
    font-family: inherit;
    color: #3d4145;
    font-size: 14px;
    font-weight: 400;
    padding: 0 10px;
    background-color: #fff;
    border: 1px solid #b4b4b4;
}
.search-input input {
    position: absolute;
    padding: 6px 10px 6px 28px;
    height: 44px;
    line-height: 44px;
    border: none;
    background-color: transparent;
    border-radius: 0 0;
    z-index: 10;
}
.search-input label+input {
    padding-left: 28px;
}
.search-input:after {
    width: 200%;
    height: 200%;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.search-input:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #ddd;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    box-sizing: border-box;
}

.address-locator-tips {
    margin: 0 0 12px;
}
.list-block.media-list .item-inner {
    display: block;
    padding-top: 10px;
    padding-bottom: 9px;
    -ms-flex-item-align: stretch;
    -webkit-align-self: stretch;
    align-self: stretch;
}
.list-block .item-media+.item-inner {
    margin-left: 15px;
}
.list-block.media-list .item-title-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
	line-height: 21px;
}
.address-locator-tips li.media-item .item-title, .address-locator-tips.media-list .item-title {
    font-weight: 400;
    font-size: 14px;
}
.address-locator-tips .item-text {
    color: #999;
}
.address-locator-addresses .item-text, .address-locator-tips .item-text {
    height: auto;
    font-size: 12px;
}
.address-locator-tips .item-text {
    line-height: 21px;
}

