@charset "utf-8";
/* CSS Document */
#header{
height: 46px;
font-size: 14px;
color: #fff;
background-color: #06c1ae;
display: -webkit-box;
display: -webkit-flex;
display: flex;

-webkit-flex-direction: row;
flex-direction: row;

-webkit-flex-wrap: wrap;
flex-wrap: wrap;

-webkit-box-align: center; 
-webkit-align-items: center;
align-items: center;
border-bottom: 1px solid #2ba399;
}


/*二级*/
.detail-nav{
	position:fixed;
	top:46px;
	left:0;
	z-index:999;
	width:100%;
	border-bottom: 1px solid #e7e7e7;
}
.detail-nav ul{
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
}
.detail-nav li{
	height: 40px;
	line-height: 30px;
	-webkit-box-flex: 1; 
	-webkit-flex: 1;
	flex: 1;
	text-align: center;
	font-size: 14px;
	padding: 5px 0;
	background-color: #fff;
}
.detail-nav li div{
	padding: 0 10px;
	border-right: 1px solid #e7e7e7;
	background: url(../image/ic_routelist_dropdown_arrow.png) no-repeat bottom right;
	-webkit-background-size: 9px;
	background-size: 9px;
	-webkit-background-origin: content;
	-webkit-background-origin: content-box;
	background-origin: content-box;
}
.detail-nav li:last-child div{
	border-right: none;
}
		
/*筛选*/

.detail-nav-con{
display: -webkit-box;
display: -webkit-flex;
display: none;
color: #666;
width:100%;
position:fixed; 
top:87px;
left:0;
z-index:999;


}
.detail-nav-con-l,
.detail-nav-con-r{
-webkit-box-flex: 1;
-webkit-flex: 1;
flex: 1;
height: 350px;
font-size: 14px;
overflow-y:scroll; 
width:50%;
}
.detail-nav-con-l{ float:left; }
.detail-nav-con-r{ float:right; }
.detail-nav-con-l::-webkit-scrollbar,
.detail-nav-con-r::-webkit-scrollbar{
display: none;
}
.detail-nav-con-l{
background-color: #fff;
}
.detail-nav-con-l li,
.detail-nav-con-r li{
padding-left: 30px;
height: 40px;
line-height: 40px;
}
.detail-nav-con-l li.active{
background-color: #e6e6e6;
}
.detail-nav-con-l li.active .flex-title{
color: #06c1ae;
}
.detail-nav-con-l li .flex-title,
.detail-nav-con-l li .flex-num,
.detail-nav-con-r li .flex-title,
.detail-nav-con-r li .flex-num
{
float: left;
width: 49%;
}
.detail-nav-con-l li .flex-num{
text-align: right;
background: url(../image/ic_global_arrow_right.png) no-repeat right center;
-webkit-background-size: 15px;
background-size: 15px;
padding-right: 15px;
}
.detail-nav-con-l .food{
background: url(../image/inn_chinese_restaurant.png) no-repeat 5px center;
-webkit-background-size: 20px;
background-size: 20px;
}
.detail-nav-con-l .tour{
background: url(../image/inn_pick_up.png) no-repeat 5px center;
-webkit-background-size: 20px;
background-size: 20px;
}
.detail-nav-con-l .play{
background: url(../image/inn_card_charge.png) no-repeat 5px center;
-webkit-background-size: 20px;
background-size: 20px;
}

.detail-nav-con-r{
background-color: #e6e6e6;
}
.detail-nav-con-r li .flex-num{
text-align: right;
padding-right: 10px;
color: #999;
}
.detail-nav-con-r li.active{
background: url(../image/ic_global_filter_check_green.png) no-repeat 10px center;
-webkit-background-size: 12px;
background-size: 12px;
}

.detail-nav-con-r li.active .flex-title{
color: #06c1ae;
}
/*item-list*/
#main{
	 margin-top:86px;
}
.item-list{

}
.item-list h2{
	height: 48px;
	line-height: 48px;
	font-size: 14px;
	font-weight: 400;
	color: #6a6a6a;
	padding: 0 8px;
	border-bottom: 1px solid #dcdcdc;

}
.item-list li{
	padding: 8px;
	border-bottom: 1px solid #e7e7e7;
	overflow: hidden;
}
.item-list li .item-list-img{
	position: relative;
   float: left; 
   position: relative;
   margin-right: 15px;
   width: 120px;
   height: 105px;
   overflow: hidden;
}
.item-list li .item-list-info{
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;

	-webkit-box-orient: vertical;
	-webkit-flex-direction: column;
	flex-direction: column;
	overflow: hidden;
}
.item-list li .item-list-info .item-list-info-1{
	padding: 5px 0;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;

	-webkit-box-flex: 1;
	-webkit-flex: 1;
	flex: 1;
}
.item-list li .item-list-info .item-list-info-1 h3{
	color: #333;
	font-weight: 400;
	font-size: 16px;
	-webkit-box-flex: 2;
	-webkit-flex: 2;
	flex: 2;
}
.item-list li .item-list-info .item-list-info-1 span{
	font-size: 12px;
	color: #999;
}
.item-list li .item-list-info .item-list-info-2{
	padding: 5px 0;
	line-height: 1.5;
	
}
.item-list li .item-list-info .item-list-info-2 p{
	font-size: 14px;
	color: #999;
	overflow : hidden;
	
	display: -webkit-flex;
	display: flex;
	display: -webkit-box;

	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	-webkit-flex-direction: column;
	flex-direction: column;
}
.item-list li .item-list-info .item-list-info-3{
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-box-align: center;
	-webkit-align-items: center;
	align-items: center;

	-webkit-box-align: baseline;
	-webkit-align-items: baseline;
	align-items: baseline;
}
.item-list li .item-list-info .item-list-info-3 .flex{
	font-size: 12px;
	color: #999;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	flex: 1;
}
.item-list li .item-list-info .item-list-info-3 .flex-1{
	font-size: 12px;
	color: #999;
	display: inline-block;
	margin-right: 10px;
}
.item-list li .item-list-info .item-list-info-3 .flex-1 em{
	font-size: 20px;
	font-weight: bold;
	color: #32b9ab;
	
}
.item-list li .item-list-info .item-list-info-3 .flex-2{
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;

	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	justify-content: flex-start;
}
.item-list li .item-list-info .item-list-info-3 .flex-2 span{
	border-radius: 3px;
	padding: 2px;
	color: #f49d1a;
	border: 1px solid #f49d1a;
}
.item-list li .item-list-info .item-list-info-3 .flex-3{
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-flex: 1.8;
	-webkit-flex: 1.8;
	flex: 1.8;

	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	justify-content: flex-end;
	
}
.item-list-all{
	font-size: 14px;
	color: #32b9a8;
	text-align: center;
	height: 40px;
	line-height: 40px;
}

#footer ul{
	width: 100%;		
	}
#footer ul li{
	float: left;
    width: 20%;
    text-align: center;		
	}

.pop-content {
    z-index: 9999;
    background: rgba(0,0,0,0.8);
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
	left:0;
    width: 100%;
	height:50px;	
}
.pop-main{
	width:100%;
	padding:5px 0;
	}
.pop-main img{
	width:40px;
	height:40px;
	float:left;
	margin-left:20px;
}
.pop-main p{
	line-height:20px;
	float:left;
	color:#fff;
	margin-left:10px;
	font-size:14px;
}
.pop-btn{
    width: 80px;
    height: 30px;
    margin-top: 5px;
    float: right;
    line-height: 30px;
    font-size: 14px;
    border: 1px solid #06c1ae;
    color: #06c1ae;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    margin-right: 20px;	
	}

