*{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body{
	height: 100%;
	width:100%;
    background-color: #f0f0f0;
    color: #333;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

i{
    font-style: normal;
}

a{ 
text-decoration:none;
color:#333;
}

img{
    border: none;
    outline: none;
    max-width: 100%;
}

.box{
    background-color: #fff;
}
#wrap{
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    flex-direction: column;
}
.btn:active{
    background-color: #32A9A0;
}

.topbar-active{
    background-color: #32A9A0;
}
.tap:active{
    background-color: #e6e6e6 !important;
}
.tap-active{
    background-color: #e6e6e6;
}

#header{
    width: 100%;
	position:fixed;
	top:0;
	left:0;
	z-index:999;
}
#header h1{
    font-size: 20px; height: 44px; line-height: 44px; margin: 0em; color: #fff;
}
#main{
    -webkit-box-flex: 1; 
    -webkit-flex: 1;
    flex: 1;
    -webkit-overflow-scrolling : touch; 
    overflow-scrolling : touch; 
}

.con{font-size: 28px; text-align: center;}

.top-btn {
    display: none;
    position: fixed;
    right: 10px;
    bottom: 95px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    /*background: #06c1ae;*/
    background: rgba(0, 0, 0, .43);
    z-index: 130;
    border-radius: 50%;
    color: #fff;
    overflow: hidden;
    text-align: center;
    font-size: 16px;}
.top-btn a.react, label.react {
    display: block;
    color: inherit;
    height: 100%;
}

.back{
font-size: 0px;
padding: 0 5px;
}
.back .title{
font-size: 20px;
  vertical-align: middle;

}
.favorite,
.share{
display: inline-block;
line-height: 46px;
}
.map{
display: inline-block;
line-height: 46px;
}

.search{
display: inline-block;
line-height: 46px;
}
.flex-full{
-webkit-box-flex: 1; 
-webkit-flex: 1;
flex: 1;
text-align:center;
font-size: 16px;
font-weight: 500;
}

/*icon*/
.i-logo{
display: inline-block;
padding: 23px;
background: url(../image/ic_action_home.png) no-repeat center center;
-webkit-background-size: 34px;
background-size: 34px;
vertical-align: middle;
}
.i-back{
display: inline-block;
padding: 23px 10px;
background: url(../image/ic_global_title_bar_48_back.png) no-repeat center center;
-webkit-background-size: 18px;
background-size: 18px;
vertical-align: top;
}
.i-nav{
display: inline-block;
padding: 23px;
background: url(../image/i-nav.png) no-repeat center center;
-webkit-background-size: 18px;
background-size: 18px;
vertical-align: top;
opacity:0.8;
}
.i-search{
display: inline-block;
padding: 23px;
background: url(../image/ic_action_search.png) no-repeat center center;
-webkit-background-size: 18px;
background-size: 18px;
vertical-align: top;
}
.i-searchs{
display: inline-block;
padding: 23px;
background: url(../image/ic_action_searchs.png) no-repeat center center;
-webkit-background-size: 18px;
background-size: 18px;
vertical-align: top;
float:left;
}
.i-favorite{
	display: inline-block;
	padding: 23px;
	background: url(../image/ic_action_favorite_off.png) no-repeat center center;
	-webkit-background-size: 18px;
	background-size: 18px;
	vertical-align: top;
}
.i-map{
display: inline-block;
padding: 23px;
background: url(../image/ic_action_map.png) no-repeat center center;
-webkit-background-size: 18px;
background-size: 18px;
vertical-align: top;
}
.i-share{
	display: inline-block;
	padding: 23px;
	background: url(../image/ic_action_share.png) no-repeat center center;
	-webkit-background-size: 18px;
background-size: 18px;
	vertical-align: top;
}
.i-user{
	display: inline-block;
	padding: 23px;
	background: url(../image/i-user.png) no-repeat center center;
	-webkit-background-size: 18px;
background-size: 18px;
	vertical-align: top;
}
.footer-bar.bar-tab {
    border-top: 1px;
}
.footer-bar.bar-tab:before {
    background: #e7e7e7;
}
.footer-bar.bar-tab .tab-item.active, .bar-tab .tab-item:active {
    color: #3190e8;
}
.footer-bar.bar-tab .tab-item.active .icon, .bar-tab .tab-item:active .icon {
    color: #3190e8;
}

.footer-bar.bar-tab .icon {
    font-family: "iconfont" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: .2px;
    -moz-osx-font-smoothing: grayscale;
    background-image: none;
    font-size: 1.1rem;
    top: 2px;
    /*color: #163636*/
}

.footer-bar.bar-tab .icon-index {
    font-size: 1.3rem
}

.footer-bar.bar-tab .icon-index::before {
    content: "\e63b";
}

.footer-bar.bar-tab .icon-order::before {
    content: "\e63c";
}

.footer-bar.bar-tab .icon-search {
    font-size: 1.2rem
}

.footer-bar.bar-tab .icon-search::before {
    content: "\e63d";
}

.footer-bar.bar-tab .icon-found::before {
    content: "\e63a";
}

.footer-bar.bar-tab .icon-mine::before {
    content: "\e639";
}

.footer-bar.bar-tab .icon-errander {
    font-size: 1.0rem
}

.footer-bar.bar-tab .icon-errander::before {
    content: "\e640";
}

.footer-bar.bar-tab .tab-item .icon ~ .tab-label {
    top: 0;
}
.status-tip {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    padding: 0 .066667rem;
    height: 16px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    font-size: 12px;
    line-height: 16px;
}

.pop-content {
    z-index: 9999;
    background: rgba(0,0,0,0.8);
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    left:0;
    width: 100%;
    height:60px;
}
.pop-main{
    width:100%;
    padding:10px 0;
}
.pop-main img{
    width:40px;
    height:40px;
    float:left;
    margin-left:20px;
    border-radius: 4px;
}
.pop-main p{
    line-height:20px;
    float:left;
    color:#fff;
    margin-left:10px;
    font-size:14px;
    width: 40%;
    word-wrap:break-word;
}
.pop-btn{
    width: 80px;
    height: 30px;
    margin-top: 5px;
    float: right;
    line-height: 30px;
    font-size: 14px;
    border: 1px solid #ffd930;
    color: #ffd930;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    margin-right: 20px;
}