@charset "utf-8";
/* CSS Document */
#header{
height: 46px;
font-size: 14px;
color: #fff;
background-color: #06c1ae;
display: -webkit-box;
display: -webkit-flex;
display: flex;

-webkit-flex-direction: row;
flex-direction: row;

-webkit-flex-wrap: wrap;
flex-wrap: wrap;

-webkit-box-align: center; 
-webkit-align-items: center;
align-items: center;
border-bottom: 1px solid #2ba399;
}

.nav-dropdown {
    position: absolute;
    right: 2px;
    top: 48px;
    width: 100px;
    background: #06c1ae;
    opacity: .9;
    z-index: 10000;
    height: 0;
    overflow: hidden;
    -webkit-transition: height .1s;
}
.nav-dropdown.active {
    height: 125px;
}
.nav-dropdown li {
    height: 42px;
    line-height: 42px;
    border-bottom: 1px solid #21897d;
    text-align: center;
}
.nav-dropdown a.react{
    display: block;
    color: inherit;
    height: 100%;
	font-size:14px;
}
space {
    display: inline-block;
    width: 8px;
}
.nav-dropdown .i-home{
display: inline-block;
padding: 21px 10px;
background: url(../image/i-home.png) no-repeat center center;
-webkit-background-size: 18px;
background-size: 18px;
vertical-align: top;
}
.nav-dropdown .i-user{
display: inline-block;
padding: 21px 10px;
background: url(../image/i-user.png) no-repeat center center;
-webkit-background-size: 18px;
background-size: 18px;
vertical-align: top;
}
.nav-dropdown .i-search{
display: inline-block;
padding: 21px 10px;
background: url(../image/ic_action_search.png) no-repeat center center;
-webkit-background-size: 18px;
background-size: 18px;
vertical-align: top;
}

#main{ margin-top:46px;}
dl.list {
    border-top: 1px solid #eeece7;
    border-bottom: 1px solid #eeece7;
    margin-top: 10px;
    margin-bottom: 0;
    background-color: #fff;
}
dl.list .dd-padding, dl.list dt, dl.list dd>.react {
    padding: 14px 10px;
}
dl.list dt, dl.list dd {
    margin: 0;
    border-bottom: 1px solid #f7f5f3;
    overflow: hidden;
    font-size: inherit;
    font-weight: 400;
    position: relative;
}
dl.list dd h6 {
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 10px;
	color:#999;
}
.score {
    position: relative;
}
.score:before, .score span:after {
    content: '★★★★★';
    position: absolute;
    font-family: 'base_icon';
    font-size: 30px;
    color: #e9e9e9;
    letter-spacing: 20px;
    line-height: 25px;
    left: 0;
}
.score label {
    display: inline-block;
    width: 42px;
    height: 25px;
}
.score input {
    opacity: 0;
    width: 100%;
    height: 100%;
    -webkit-appearance: initial;
    outline: none;
    z-index: 3;
}
.score span {
    position: absolute;
    visibility: hidden;
    color: #f49231;
    top: 0;
    left: 0;
    width: 100%;
    line-height: 26px;
    font-size: 14px;
    pointer-events: none;
    text-align: right;
}
.score input:checked + span {
    visibility: visible;
}
.score_1:checked + span:after {
    content: '★';
}
.score_2:checked + span:after {
    content: '★★';
}
.score_3:checked + span:after {
    content: '★★★';
}
.score_4:checked + span:after {
    content: '★★★★';
}
.score span:after {
    color: #f49231;
}
dl.list dd dl {
    margin: 0;
    margin-bottom: -1px;
    padding-left: 10px;
    border: 0;
}
dl.list dd dl>.dd-padding, dl.list dd dl dd>.react, dl.list dd dl>dt {
    padding-left: 0;
}
dl.list .dd-padding, dl.list dt, dl.list dd>.react {
    padding: 14px 10px;
}
dl.list dt:last-child, dl.list dd:last-of-type {
    border-bottom: 0;
}
input.input-weak, textarea.input-weak {
    border: 0;
    height: 60ox;
    margin: -8px 0;
    text-indent: 1em;
    line-height: 1;
    font-size: 15px;
    border-radius: 3px;
    padding: 0;
}
textarea.input-weak {
    padding: 0;
    margin: -10px 0;
    line-height: 1.41;
    height: 24px;
}
.dd-padding textarea.input-weak {
    height: 87px;
    text-indent: 0;
}
dl.list dd>.input-weak {
    width: 100%;
    display: block;
}
.react .kv-line-r {
    margin: 0;
	position:relative;
}
.kv-line-r>h6, .kv-line-r>.kv-k {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    font-size: inherit;
    font-weight: 400;
    margin-right: 25px;
	line-height:18px;
    display: block;
}
.kv-line-r>.kv-v, .kv-line-r>p {
    display: block;
}
input.mt[type=radio], input.mt[type=checkbox] {
    -webkit-appearance: none;
    width: 22px;
    height: 22px;
    margin: -3px 0;
    border-radius: 50%;
    border: 1px solid #DDD8CE;
    text-align: center;
    vertical-align: middle;
    line-height: 22px;
    outline: 0;
}
input.mt[type=checkbox] {
    border-radius: 3px;
	position: absolute;
    right: 0;
    top: 0;
}
input.mt[type=radio]:checked, input.mt[type=checkbox]:checked {
    background-color: #06c1ae;
    border: 0;
    color: #fff;
}
input.mt[type=radio]:checked:after, input.mt[type=checkbox]:checked:after {
    content: "✓";
    font-size: .4rem;
    font-family: base_icon;
}
.btn-wrapper {
    margin: 14px 10px;
}
.btn-block {
    display: block;
    width: 100%;
}
.btn-larger {
    height: 46px;
    line-height: 46px;
    font-size: 20px;
	background:#06c1ae;
	border-radius:3px;
	color:#fff;
}




#footer {
    background: #f0efed none repeat scroll 0 0;
    margin:10px 0;
    padding: 0 10px 10px;
}
#footer .footer-bar {
    font-size: 14px;
    margin-bottom: 20px;
}
#footer .pull-right {
    float: right!important;
}
#footer .footer-citybtn,#footer .footer-minebtn {
    width: 90px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#footer .btn-weak {
    border: 1px solid #06c1ae;
    padding: 0 15px;
    background: 0;
    color: #06c1ae;
	height:30px; 
	line-height:30px;
	border-radius:3px;
}
#footer .footer-citybtn,#footer .footer-minebtn  {
    width: 90px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
	text-align:center;
}

#footer .footer-nav {
    margin-bottom: 5px;
}
#footer .footer-nav ul {
    display: -webkit-box;
    font-size: 12px;
    margin: 0;
    padding: 6px 0;
    white-space: nowrap;
}	
#footer .footer-nav ul li {
    -moz-box-flex: 1;
    border-right: 1px solid #666;
    flex: 1 1 0;
    text-align: center;
	width:25%;
}
#footer .footer-nav ul li:last-child {
    border-right: 0 none;
}
#footer .footer-nav ul li > a {
    color: #06c1ae;
}
a.react, label.react {
    color: inherit;
    display: block;
    height: 100%;
}
#footer .footer-links {
    font-size: 12px;
    margin: 10px;
    text-align: center;
	color:#333;
}
#footer .footer-links a{
	color: #06c1ae;
}
.footer-links a + a {
    padding-left: 10px;
}
.footer-copyright {
    color: #999;
}
.footer-copyright {
    font-size: 10px;
    position: relative;
    text-align: center;
}
.footer-copyright .hr {
    border-top: 1px solid #999;
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    width: 100%;
}
.footer-copyright-text {
    background-color: #f0efed;
    padding: 0 5px;
    position: relative;
}
.footer-copyright a {
    color: #999;
    text-decoration: none;
	font-size:10px;
}

.pop-content {
    z-index: 9999;
    background: rgba(0,0,0,0.8);
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
	left:0;
    width: 100%;
	height:50px;	
}
.pop-main{
	width:100%;
	padding:5px 0;
	}
.pop-main img{
	width:40px;
	height:40px;
	float:left;
	margin-left:20px;
}
.pop-main p{
	line-height:20px;
	float:left;
	color:#fff;
	margin-left:10px;
	font-size:14px;
}
.pop-btn{
    width: 80px;
    height: 30px;
    margin-top: 5px;
    float: right;
    line-height: 30px;
    font-size: 14px;
    border: 1px solid #06c1ae;
    color: #06c1ae;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    margin-right: 20px;	
	}





	
	
	
	
	