
/*@font-face {font-family: "iconfont";*/
  /*src: url('fonts/iconfont.eot?t=1490177622827'); /!* IE9*!/*/
  /*src: url('fonts/iconfont.eot?t=1490177622827#iefix') format('embedded-opentype'), /!* IE6-IE8 *!/*/
  /*url('fonts/iconfont.woff?t=1490177622827') format('woff'), /!* chrome, firefox *!/*/
  /*url('fonts/iconfont.ttf?t=1490177622827') format('truetype'), /!* chrome, firefox, opera, Safari, Android, iOS 4.2+*!/*/
  /*url('fonts/iconfont.svg?t=1490177622827#iconfont') format('svg'); /!* iOS 4.1- *!/*/
/*}*/

/*.iconfont {*/
  /*font-family:"iconfont" !important;*/
  /*font-size:16px;*/
  /*font-style:normal;*/
  /*-webkit-font-smoothing: antialiased;*/
  /*-moz-osx-font-smoothing: grayscale;*/
/*}*/

/*.icon-shouye:before { content: "\e60c"; }*/

/*.icon-weixin:before { content: "\e63b"; }*/

/*.icon-favorite:before { content: "\e6a0"; }*/

/*.icon-qrcode:before { content: "\e6a9"; }*/

/*.icon-search:before { content: "\e6ac"; }*/

/*.icon-account:before { content: "\e6b8"; }*/

/*.icon-clock:before { content: "\e6bb"; }*/

/*.icon-print:before { content: "\e6c9"; }*/

/*.icon-scanning:before { content: "\e6ec"; }*/

/*.icon-jiushui:before { content: "\e619"; }*/

/*.icon-dingdan:before { content: "\e613"; }*/

/*.icon-creditlevel:before { content: "\e735"; }*/

/*.icon-paihao0:before { content: "\e663"; }*/

/*.icon-fujin:before { content: "\e604"; }*/

/*.icon-waimai:before { content: "\e703"; }*/

/*.icon-yuding:before { content: "\e66b"; }*/

/*.icon-yongcantangshi:before { content: "\e68c"; }*/

/*.icon-kuaican:before { content: "\e605"; }*/

/*.icon-shouyin:before { content: "\e66e"; }*/



@font-face {font-family: "iconfont";
  src: url('fonts/iconfont.eot?t=1490177622827'); /* IE9*/
  src: url('fonts/iconfont.eot?t=1490177622827#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/iconfont.woff?t=1490177622827') format('woff'), /* chrome, firefox */
  url('fonts/iconfont.ttf?t=1490177622827') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('fonts/iconfont.svg?t=1490177622827#iconfont') format('svg'); /* iOS 4.1- */
}

@font-face {
  font-family: 'iconfont';  /* project id 409255 */
  src: url('//at.alicdn.com/t/font_409255_bc6kkblcl92j4i.eot');
  src: url('//at.alicdn.com/t/font_409255_bc6kkblcl92j4i.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_409255_bc6kkblcl92j4i.woff') format('woff'),
  url('//at.alicdn.com/t/font_409255_bc6kkblcl92j4i.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_409255_bc6kkblcl92j4i.svg#iconfont') format('svg');
}
.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shouye:before { content: "\e60c"; }

.icon-weixin:before { content: "\e63b"; }

.icon-favorite:before { content: "\e6a0"; }

.icon-qrcode:before { content: "\e6a9"; }

.icon-search:before { content: "\e6ac"; }

.icon-account:before { content: "\e6b8"; }

.icon-clock:before { content: "\e6bb"; }

.icon-print:before { content: "\e6c9"; }

.icon-scanning:before { content: "\e6ec"; }

.icon-jiushui:before { color:#3a9ee6; content: "\e619"; }

.icon-dingdan:before { content: "\e613"; }

.icon-creditlevel:before {   color: #e91f0e;content: "\e735";}

.icon-paihao0:before { color:#e98783; content: "\e663"; }

.icon-fujin:before { content: "\e604"; }

.icon-waimai:before { color:#e8a76b; content: "\e703"; }

.icon-yuding:before { color:#e28c3c; content: "\e604"; }

.icon-yongcantangshi:before { color:#6da33b; content: "\e605"; }

.icon-kuaican:before { color:#31af95; content: "\e6e8"; }

.icon-shouyin:before { color:#41b035; content: "\e65c"; }

.icon-wifi:before { color:#29a3fc; content: "\e707"; }


