@charset "utf-8";
/* CSS Document */
#header{
height: 46px;
font-size: 14px;
color: #fff;
background-color: #06c1ae;
display: -webkit-box;
display: -webkit-flex;
display: flex;

-webkit-flex-direction: row;
flex-direction: row;

-webkit-flex-wrap: wrap;
flex-wrap: wrap;

-webkit-box-align: center; 
-webkit-align-items: center;
align-items: center;
border-bottom: 1px solid #2ba399;
}


#main{ margin-top:46px;}
.btn-wrapper {
    margin: 10px;
 height: 36px;
}
ul.tab {
    border: 1px solid #666;
    border-radius: 2px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
}
.btn-wrapper .tab {
    width: 100%;
}
.tab li {
    display: inline-block;
    text-align: center;
    width: 50%;
	float:left;
	height: 34px;
    line-height: 34px;
}
.tab li.active {
    background: #666;
    color: #fff;
}

dl.list {
    background-color: #fff;
    border-bottom: 1px solid #ddd8ce;
    border-top: 1px solid #ddd8ce;
    margin-bottom: 0;
}
dl.list dt, dl.list dd {
    border-bottom: 1px solid #ddd8ce;
    font-size: inherit;
    font-weight: 400;
    margin: 0;
    overflow: hidden;
    position: relative;
}
dl.list dt:last-child, dl.list dd:last-of-type {
    border-bottom: 0 none;
}
dl.list dd dl {
    border: 0 none;
    margin: 0 0 -1px;
    padding-left: 10px;
}
dl.list:first-child {
    border-top: 0 none;
    margin: 0;
}
a.react, label.react {
    color: inherit;
    display: block;
    height: 100%;
}
dl.list .dd-padding, dl.list dt, dl.list dd > .react {
    padding:5px;
}
dl.list dd dl > .dd-padding, dl.list dd dl dd > .react, dl.list dd dl > dt {
    padding-left: 0;
}
.dealcard, .cinemacard {
    box-sizing: border-box;
    margin: 5px 0;
    position: relative;
}
.dealcard {
    transition: -webkit-transform 0.2s ease 0s;
}

.imgbox {
    background-color: #e0e0e0;
    background-image: url();
    background-position: 50% center;
    background-repeat: no-repeat;
    background-size: 50% auto;
    max-width: 90px;
    position: relative;
}
.dealcard-img {
    height: 85px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    width: 90px;
}
.imgbox img {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}
.dealcard-img > img {
    background-color: #f0efed;
    background-size: 100% auto;
    border: 0 none;
}
.dealcard .dealcard-block-right {
    height: 85px;
    margin-left: 100px;
    position: relative;
}
.single-line {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.single-line span{ color:#333;}
.dealcard .dealcard-brand, .cinemacard .cinemacard-brand {
    color: #333;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 5px;
    padding-top: 5px;
}
.text-block {
    line-height: 18px;
    text-align: justify;
}
.dealcard .title, .cinemacard .title {
    -moz-box-orient: vertical;
    color: #666;
    display: -webkit-box;
    font-size: 12px;
    height: 36px;
    margin-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.dealcard .price, .cinemacard .price {
    color: #666;
    position: relative;
}
.dealcard .price {
    bottom: 0;
    position: absolute;
    width: 100%;
}
.dealcard .price > span, .dealcard .price > del {
    vertical-align: sub;
}
.dealcard .price > strong, .cinemacard .price > strong, .dealcard .price .strong, .cinemacard .price .strong {
    color: #06c1ae;
    font-size: 18px;
	font-weight: bold;
}
.dealcard .price > .strong-color, .cinemacard .price > .strong-color {
    color: #06c1ae;
    font-size: 12px;
}
dl.list del::before {
    content: "门市价:";
}
.dealcard .price del, .cinemacard .price del {
    font-size: 12px;
}
.dealcard .line-right, .cinemacard .price .line-right {
    font-size: 12px;
    position: absolute;
    right: 0;
    top: 8px;
}
.poicard .dealtype-icon {
    margin-left: 5px;
}
.dealcard .dealtype-icon {
    position: absolute;
    top: 3px;
}
.dealtype-icon {
    background-color: #06c1ae;
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    line-height: 1;
    padding:2px;
    vertical-align: text-bottom;
}
.poicard .info {
    color: #666;
    margin-top: 2px;
}
.stars {
    color: #f90;
}
.text-icon {
    display: inline-block;
    font-family: base_icon;
    font-style: normal;
    vertical-align: middle;
}
.text-icon.icon-star::after {
    content: "★";
}
.stars i {
    margin-right: 2px;
    vertical-align: 0px;
}
.text-icon.icon-star-gray {
    position: relative;
}
.text-icon.icon-star-half {
    left: 0;
    overflow: hidden;
    position: absolute;
    width: 8px;
}
.text-icon.icon-star-half::after {
    content: "★";
}
.text-icon.icon-star-gray::after {
    color: #e2e2e2;
    content: "★";
}
.poicard .pos {
    color: #999;
    margin-top: 25px;
}
.pull-right {
    float: right !important;
	color: #999;
}




#footer ul{
	width: 100%;		
	}
#footer ul li{
	float: left;
    width: 20%;
    text-align: center;		
	}
