@charset "utf-8";
/* CSS Document */
html,body{
	height: 100%;
	width:100%;
    background-color: #f0f0f0;
    color: #333;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
#header{
height: 46px;
font-size: 14px;
color: #fff;
background-color: #06c1ae;
display: -webkit-box;
display: -webkit-flex;
display: flex;

-webkit-flex-direction: row;
flex-direction: row;

-webkit-flex-wrap: wrap;
flex-wrap: wrap;

-webkit-box-align: center; 
-webkit-align-items: center;
align-items: center;
border-bottom: 1px solid #2ba399;
}



#main{ margin-top:46px;}
.box{
	background-color: #fff;
	border-bottom: 1px solid #e7e7e7;
	margin-bottom: 10px;
	margin-top: 10px;
}
.order-list{
	position: relative;
	font-size: 14px;
	padding: 15px 20px;
	border-bottom: 1px solid #e7e7e7;
}
.order-list input{
	border: none;
	outline: none;
}
.order-list .btn-check{
	padding: 5px 15px;
	background-color: #32b9a8;
	color: #fff;
	text-align: center; 
	position: absolute;
	top: 10px;
	right: 10px;
	border-radius: 5px;
}
.btn-full{
	padding: 10px 0;
	text-align: center;
	background-color: #32b9a8;
	color: #fff;
	margin: 15px;
	border-radius: 5px;

}
.order-l{
   float: left;
}
.order-r{
	float: right;
	font-size: 16px;
}
.order-r.sum{
	color: orange;
}
.opt-num{
	position: absolute;
	top: 7px;
	right: 20px;
}

.opt-btn-increase{
	border-radius: 5px;
	background-color: #666;
	display: inline-block;
	width: 32px;
	height: 32px;
	background: #ddd url(../image/ic_add.png) no-repeat center center;
	-webkit-background-size: 16px;
	background-size: 16px;
	vertical-align: middle;
}
.opt-btn-reduce{
	border-radius: 5px;
	display: inline-block;
	width: 32px;
	height: 32px;
	background: #ddd url(../image/ic_subtract.png) no-repeat center center;
	-webkit-background-size: 16px;
	background-size: 16px;
	vertical-align: middle;
}
.opt-btn-increase,
.opt-btn-reduce,
.opt-input{
	display: inline-block;
}
.opt-input{
	background: url(../image/bg_edit_selected.9.png) no-repeat left -17px;
	width: 39px;
	height: 30px;
	padding-left: 8px;
}
.opt-input input{
	width: 24px;
	text-align: center;
}
.opt-input input:focus{
	border: none;
	outline: none;

}
.opt-btn-increase.active,
.opt-btn-reduce.active{
	background-color: #32b9a8;
}

.tr{
	text-align: right;
}
.m20{
	margin: 20px;
}
em{
	color: #32b9a8;
}
.f12{
	font-size: 12px;
}
.c999{
	color: #999;
}	

