@charset "utf-8";
/* CSS Document */
#header{
height: 46px;
font-size: 14px;
color: #fff;
background-color: #06c1ae;
display: -webkit-box;
display: -webkit-flex;
display: flex;

-webkit-flex-direction: row;
flex-direction: row;

-webkit-flex-wrap: wrap;
flex-wrap: wrap;

-webkit-box-align: center; 
-webkit-align-items: center;
align-items: center;
border-bottom: 1px solid #2ba399;
}

.nav-dropdown {
    position: fixed;
    right: 2px;
    top: 48px;
    width: 100px;
    background: #06c1ae;
    opacity: .9;
    z-index: 10000;
    height: 0;
    overflow: hidden;
    -webkit-transition: height .1s;
}
.nav-dropdown.active {
    height: 125px;
}
.nav-dropdown li {
    height: 42px;
    line-height: 42px;
    border-bottom: 1px solid #21897d;
    text-align: center;
}
.nav-dropdown a.react{
    display: block;
    color: inherit;
    height: 100%;
	font-size:14px;
}
space {
    display: inline-block;
    width: 8px;
}
.nav-dropdown .i-home{
display: inline-block;
padding: 21px 10px;
background: url(../image/i-home.png) no-repeat center center;
-webkit-background-size: 18px;
background-size: 18px;
vertical-align: top;
}
.nav-dropdown .i-user{
display: inline-block;
padding: 21px 10px;
background: url(../image/i-user.png) no-repeat center center;
-webkit-background-size: 18px;
background-size: 18px;
vertical-align: top;
}
.nav-dropdown .i-search{
display: inline-block;
padding: 21px 10px;
background: url(../image/ic_action_search.png) no-repeat center center;
-webkit-background-size: 18px;
background-size: 18px;
vertical-align: top;
}

#main{ margin-top:46px;}
.evaluates-field {
    -moz-box-flex: 1;
    background-color: #fff;
}
.evaluate-item {
    border-bottom: 1px solid #f0f0f0;
    padding: 15px 15px 12px;
	width:100%;
}
.clearfix::after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}
.evaluate-sub {
    line-height: 15px;
}
.evaluate-sub-left {
    float: left;
    width: 15%;
}
.evaluate-user-pic {
    border-radius: 50%;
    height: 40px;
    width: 40px;
}
.evaluate-sub-right {
    float: left;
    width: 85%;
}
.evaluate-sub {
    line-height: 15px;
}
.evaluate-name {
    color: #2f2f2f;
    font-size: 16px;
}
.evaluate-time {
    color: #898989;
    float: right;
    font-size: 12px;
}
.evaluate-stars {
    margin-top: 4px;
}
.evaluate-sub .appr-status {
    float: left;
    margin: 0 10px 0 0;
}
.appr-status {
    display: inline-block;
    height: 12px;
    margin: 5px 5px 0 10px;
}
.evaluate-ship-time {
    color: #898989;
    float: left;
    font-size: 12px;
}
.evaluate-comment {
    font-size: 12px;
    margin-bottom: 6px;
    margin-top: 10px;
}
.comment-pics {
    float: left;
    height: 175px;
    margin-bottom: 5px;
    margin-right: 5px;
    width: 175px;
}
.comment-bottom {
    font-size: 12px;
    margin: 4px 0;
}
.comment-favor-icon {
    background: rgba(0, 0, 0, 0) url(../image/zan.png) no-repeat scroll 0 0 / contain ;
    display: inline-block;
    height: 11px;
    margin-right: 10px;
    vertical-align: middle;
    width: 11px;
}
.comment-favor-text {
    color: #6b450a;
}
.comment-tag-icon {
    background: rgba(0, 0, 0, 0) url(../image/bc.png) no-repeat scroll 0 0 / contain ;
    display: inline-block;
    height: 11px;
    margin-right: 10px;
    vertical-align: middle;
    width: 11px;
}
.field-load {
    padding-left: 20px;
}
.field-load, .field-load-btn {
    font-size: 14px;
    height: 26px;
    line-height: 26px;
    text-align: center;
}
.field-load-loading::before {
    animation: 1.5s linear 0s normal none infinite running spin;
    background: rgba(0, 0, 0, 0) none repeat scroll 0 center;
    border: 0 none;
    border-radius: 100%;
    box-shadow: 0 -7px 0 0.9px #666, 7px 0 #999, 0 7px #999, -7px 0 #999, -5px -5px 0 0.4px #999, 5px -5px 0 1.1px #666, 5px 5px #999, -5px 5px #999;
    content: "";
    display: inline-block;
    height: 2px;
    left: -11px;
    padding: 0;
    position: relative;
    top: -4px;
    transform: rotate(360deg);
    width: 2px;
}




#footer {
    background: #f0efed none repeat scroll 0 0;
    margin:10px 0;
    padding: 0 10px 10px;
}
#footer .footer-bar {
    font-size: 14px;
    margin-bottom: 20px;
}
#footer .pull-right {
    float: right!important;
}
#footer .footer-citybtn,#footer .footer-minebtn {
    width: 90px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#footer .btn-weak {
    border: 1px solid #06c1ae;
    padding: 0 15px;
    background: 0;
    color: #06c1ae;
	height:30px; 
	line-height:30px;
	border-radius:3px;
}
#footer .footer-citybtn,#footer .footer-minebtn  {
    width: 90px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
	text-align:center;
}

#footer .footer-nav {
    margin-bottom: 5px;
}
#footer .footer-nav ul {
    display: -webkit-box;
    font-size: 12px;
    margin: 0;
    padding: 6px 0;
    white-space: nowrap;
}	
#footer .footer-nav ul li {
    -moz-box-flex: 1;
    border-right: 1px solid #666;
    flex: 1 1 0;
    text-align: center;
	width:25%;
}
#footer .footer-nav ul li:last-child {
    border-right: 0 none;
}
#footer .footer-nav ul li > a {
    color: #06c1ae;
}
a.react, label.react {
    color: inherit;
    display: block;
    height: 100%;
}
#footer .footer-links {
    font-size: 12px;
    margin: 10px;
    text-align: center;
	color:#333;
}
#footer .footer-links a{
	color: #06c1ae;
}
.footer-links a + a {
    padding-left: 10px;
}
.footer-copyright {
    color: #999;
}
.footer-copyright {
    font-size: 10px;
    position: relative;
    text-align: center;
}
.footer-copyright .hr {
    border-top: 1px solid #999;
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    width: 100%;
}
.footer-copyright-text {
    background-color: #f0efed;
    padding: 0 5px;
    position: relative;
}
.footer-copyright a {
    color: #999;
    text-decoration: none;
	font-size:10px;
}

.pop-content {
    z-index: 9999;
    background: rgba(0,0,0,0.8);
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
	left:0;
    width: 100%;
	height:50px;	
}
.pop-main{
	width:100%;
	padding:5px 0;
	}
.pop-main img{
	width:40px;
	height:40px;
	float:left;
	margin-left:20px;
}
.pop-main p{
	line-height:20px;
	float:left;
	color:#fff;
	margin-left:10px;
	font-size:14px;
}
.pop-btn{
    width: 80px;
    height: 30px;
    margin-top: 5px;
    float: right;
    line-height: 30px;
    font-size: 14px;
    border: 1px solid #06c1ae;
    color: #06c1ae;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    margin-right: 20px;	
	}





	
	
	
	
	