.weui-popup__overlay,
.weui-popup__container {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
}

.weui-popup__overlay {
	background-color: rgba(0, 0, 0, 0.6);
	opacity: 0;
	-webkit-transition: opacity .3s;
	transition: opacity .3s;
}

.weui-popup__container {
	/*display: none;*/
}

.weui-popup__container.weui-popup__container--visible {
	/*display: block;*/
}

.weui-popup__container .weui-cells {
	margin: 0;
	text-align: left;
}

.weui-popup__modal {
	width: 100%;
	position: absolute;
	z-index: 100;
	bottom: 0;
	border-radius: 0;
	opacity: 0.6;
	color: #3d4145;
	-webkit-transition-duration: .3s;
	transition-duration: .3s;
	height: 100%;
	background: #EFEFF4;
	-webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0);
	-webkit-transition-property: opacity, -webkit-transform;
	transition-property: opacity, -webkit-transform;
	transition-property: transform, opacity;
	transition-property: transform, opacity, -webkit-transform;
	overflow-x: hidden;
	overflow-y: auto;
}

.popup-bottom .weui-popup__modal {
	height: auto;
}

.weui-popup__modal .toolbar {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	z-index: 1;
}

.weui-popup__modal .modal-content {
	height: 100%;
	padding-top: 2.2rem;
	overflow: auto;
	box-sizing: border-box;
}

.weui-popup__container--visible .weui-popup-overlay {
	opacity: 1;
}

.weui-popup__container--visible .weui-popup__modal {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.weui-notification {
	position: fixed;
	width: 100%;
	min-height: 3.4rem;
	top: -2rem;
	padding-top: 2rem;
	left: 0;
	right: 0;
	z-index: 9999;
	background-color: rgba(0, 0, 0, 0.85);
	color: white;
	font-size: .65rem;
	-webkit-transform: translate3d(0, -100%, 0);
	transform: translate3d(0, -100%, 0);
	-webkit-transition: .4s;
	transition: .4s;
}

.weui-notification.weui-notification--in {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.weui-notification.weui-notification--touching {
	-webkit-transition-duration: 0s;
	transition-duration: 0s;
}

.weui-notification .weui-notification__inner {
	padding: .4rem .6rem 1rem .6rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: start;
	-ms-flex-align: start;
	-webkit-align-items: flex-start;
	align-items: flex-start;
}

.weui-notification .weui-notification__content {
	width: 100%;
	margin: 0rem .4rem;
}

.weui-notification .weui-notification__title {
	font-weight: bold;
}

.weui-notification .weui-notification__text {
	line-height: 1;
}

.weui-notification .weui-notification__media {
	height: 1rem;
	width: 1rem;
}

.weui-notification .weui-notification__media img {
	width: 100%;
}

.weui-notification .weui-notification__handle-bar {
	position: absolute;
	bottom: .2rem;
	left: 50%;
	-webkit-transform: translate3d(-50%, 0, 0);
	transform: translate3d(-50%, 0, 0);
	width: 2rem;
	height: .3rem;
	border-radius: .15rem;
	background: white;
	opacity: .5;
}

.weui-photo-browser-modal {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: black;
	display: none;
	opacity: 0;
	-webkit-transition: opacity .3s;
	transition: opacity .3s;
}

.weui-photo-browser-modal.weui-photo-browser-modal-visible {
	opacity: 1;
}

.weui-photo-browser-modal .swiper-container {
	height: 100%;
	-webkit-transform: scale(0.2);
	transform: scale(0.2);
	-webkit-transition: -webkit-transform .5s;
	transition: -webkit-transform .5s;
	transition: transform .5s;
	transition: transform .5s, -webkit-transform .5s;
}

.weui-photo-browser-modal .swiper-container .swiper-pagination-bullet {
	background: white;
	visibility: hidden;
}

.weui-photo-browser-modal .swiper-container.swiper-container-visible {
	-webkit-transform: scale(1);
	transform: scale(1);
}

.weui-photo-browser-modal .swiper-container.swiper-container-visible .swiper-pagination-bullet {
	visibility: visible;
	-webkit-transition-property: visibility;
	transition-property: visibility;
	-webkit-transition-delay: .5s;
	transition-delay: .5s;
}

.weui-photo-browser-modal .swiper-container .swiper-pagination {
	bottom: 10px;
	left: 0;
	width: 100%;
}

.weui-photo-browser-modal .photo-container {
	height: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	overflow: hidden;
}

.weui-photo-browser-modal .photo-container img {
	max-width: 100%;
	margin-top: -30px;
}

.weui-photo-browser-modal .caption {
	position: absolute;
	bottom: 40px;
	left: 0;
	right: 0;
	color: white;
	text-align: center;
	padding: 0 12px;
	min-height: 3rem;
	font-size: 14px;
	z-index: 10;
	-webkit-transition: opacity .3s;
	transition: opacity .3s;
	-webkit-transition-delay: .5s;
	transition-delay: .5s;
	opacity: 0;
}

.weui-photo-browser-modal .caption .caption-item {
	display: none;
	opacity: 0;
	-webkit-transition: opacity .15s;
	transition: opacity .15s;
}

.weui-photo-browser-modal .caption .caption-item.active {
	display: block;
	opacity: 1;
}

.weui-photo-browser-modal .swiper-container-visible .caption {
	opacity: 1;
}