@charset "utf-8";
/* CSS Document */
#header{
height: 46px;
font-size: 14px;
color: #fff;
background-color: #06c1ae;
display: -webkit-box;
display: -webkit-flex;
display: flex;

-webkit-flex-direction: row;
flex-direction: row;

-webkit-flex-wrap: wrap;
flex-wrap: wrap;

-webkit-box-align: center; 
-webkit-align-items: center;
align-items: center;
border-bottom: 1px solid #2ba399;
}
.nav-dropdown {
    position: absolute;
    right: 2px;
    top: 48px;
    width: 100px;
    background: #06c1ae;
    opacity: 1;
    z-index: 10000;
    height: 0;
    overflow: hidden;
    -webkit-transition: height .1s;
}
.nav-dropdown.active {
    height: 125px;
}
.nav-dropdown li {
    height: 42px;
    line-height: 42px;
    border-bottom: 1px solid #21897d;
    text-align: center;
}
.nav-dropdown a.react{
    display: block;
    color: inherit;
    height: 100%;
	font-size:14px;
}
space {
    display: inline-block;
    width: 8px;
}
.nav-dropdown .i-home{
display: inline-block;
padding: 21px 10px;
background: url(../image/i-home.png) no-repeat center center;
-webkit-background-size: 18px;
background-size: 18px;
vertical-align: top;
}
.nav-dropdown .i-user{
display: inline-block;
padding: 21px 10px;
background: url(../image/i-user.png) no-repeat center center;
-webkit-background-size: 18px;
background-size: 18px;
vertical-align: top;
}
.nav-dropdown .i-search{
display: inline-block;
padding: 21px 10px;
background: url(../image/ic_action_search.png) no-repeat center center;
-webkit-background-size: 18px;
background-size: 18px;
vertical-align: top;
}


/*icon*/

.i-search{
display: inline-block;
padding: 23px;
background: url(../image/ic_action_search.png) no-repeat center center;
-webkit-background-size: 20px;
background-size: 20px;
vertical-align: top;
}

#main{ margin-top:46px;}
.order-top{
	width:100%;
	height:42px;
	position:fixed;
	top:46px;
	left:0;
	background:#fff;
	}
.order-top dl{
	color: #333;
    display: -webkit-box;
    font-size: 14px;
    height: 42px;
    line-height: 42px;
    margin-bottom: 10px;
    text-align: center;
	}
.order-top dt{width:20%;color:#333;}
.order-top dt span {
    display: inline-block;
    overflow: hidden;
    padding: 0 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
}	
.order-top dt.active span{
	border-bottom: 2px solid #06c1ae;
    color: #06c1ae;
	}	
.order-item {
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
    overflow: visible;
    padding: 10px;
    position: relative;
    transition: -webkit-transform 0.2s ease 0s;
	background:#fff;
}	
.order-item .order {
    position: relative;
    width: 100%;
}
.order-item .left {
    left: 0;
    position: absolute;
    top: 0;
    width: 80px;
}
.order-item .left .img-ctn {
    background: #f4f4f4 none repeat scroll 0 0;
    height: 80px;
    width: 80px;
}
.order-item .left .img-ctn img {
    border-radius: 5px;
    height: 80px;
    width: 80px;
}
.order-item .right {
    box-sizing: border-box;
    margin-left: 90px;
}
.order-item .right dl dt {
    color: #999;
    font-size: 12px;
    height: 20px;
    line-height:20px;
}

.order-item .right dl dt.title {
    color: #333;
    display: flex;
    font-size: 14px;
    height: 20px;
    line-height:20px;
    position: relative;
}

.order-item .right dl dt.title div:first-child {
    -moz-box-flex: 1;
    box-sizing: border-box;
    flex: 1 1 0;
    font-size: 14px;
    padding-right: 5px;
}
.order-item .right dl dt.title div:last-child {
    color: #06c1ae;
}
.order-item .right dl .btn-container {
    height: 20px;
    text-align: right;
}
.order-item .right dl .item, .order-item .right dl dt.title div:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.order-item .right dl .btn-container .mt-btn:last-child {
    margin-right: 0;
}
.order-item .right dl .btn-container .mt-btn {
    border: 1px solid #ffb659;
    border-radius: 4px;
    box-sizing: border-box;
    color: #ffb659;
    display: inline-block;
    height: 20px;
    line-height: 20px;
    margin-right: 5px;
    padding: 0 10px;
}

.no-data-container {
    -moz-box-flex: 1;
    display: none;
    flex: 1 1 0;
    position: relative;
    text-align: center;
	width: 100%;
    height: 100%;
}
.no-data-container .container, .no-data-container .loading-spinner {
    color: #666;
    font-size: 0.28rem;
    left: 0;
    position: absolute;
    right: 0;
    top: 60%;
}
.no-data-container .container {
    margin-top: -175px;
}
.no-data-container .container .bg {
    margin: 0 auto;
    width: 146px;
    height: 146px;
    background: url(../image/no-order.png) no-repeat;
    background-size: cover;
}
.no-data-container .container .info {
    height: 16px;
    line-height: 16px;
    margin-top: 14px;
    color: #666;
    font-size: 14px;
}

#footer {
    background: #f0efed none repeat scroll 0 0;
    margin-top:10px;
    padding: 0 10px 10px;
}
#footer .footer-nav {
    margin-bottom: 5px;
}
#footer .footer-nav ul {
    display: -webkit-box;
    font-size: 12px;
    margin: 0;
    padding: 6px 0;
    white-space: nowrap;
}	
#footer .footer-nav ul li {
    -moz-box-flex: 1;
    border-right: 1px solid #666;
    flex: 1 1 0;
    text-align: center;
	width:25%;
}
#footer .footer-nav ul li:last-child {
    border-right: 0 none;
}
#footer .footer-nav ul li > a {
    color: #06c1ae;
}
a.react, label.react {
    color: inherit;
    display: block;
    height: 100%;
}
#footer .footer-links {
    font-size: 12px;
    margin: 10px;
    text-align: center;
	color:#333;
}
#footer .footer-links a{
	color: #06c1ae;
}
.footer-links a + a {
    padding-left: 10px;
}
.footer-copyright {
    color: #999;
}
.footer-copyright {
    font-size: 10px;
    position: relative;
    text-align: center;
}
.footer-copyright .hr {
    border-top: 1px solid #999;
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    width: 100%;
}
.footer-copyright-text {
    background-color: #f0efed;
    padding: 0 5px;
    position: relative;
}
.footer-copyright a {
    color: #999;
    text-decoration: none;
	font-size:10px;
}

.pop-content {
    z-index: 9999;
    background: rgba(0,0,0,0.8);
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
	left:0;
    width: 100%;
	height:50px;	
}
.pop-main{
	width:100%;
	padding:5px 0;
	}
.pop-main img{
	width:40px;
	height:40px;
	float:left;
	margin-left:20px;
}
.pop-main p{
	line-height:20px;
	float:left;
	color:#fff;
	margin-left:10px;
	font-size:14px;
}
.pop-btn{
    width: 80px;
    height: 30px;
    margin-top: 5px;
    float: right;
    line-height: 30px;
    font-size: 14px;
    border: 1px solid #06c1ae;
    color: #06c1ae;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    margin-right: 20px;	
	}





	
	
	
	
	