@charset "utf-8";
/* CSS Document */
#header{
height: 46px;
font-size: 14px;
color: #fff;
background-color: #06c1ae;
display: -webkit-box;
display: -webkit-flex;
display: flex;

-webkit-flex-direction: row;
flex-direction: row;

-webkit-flex-wrap: wrap;
flex-wrap: wrap;

-webkit-box-align: center; 
-webkit-align-items: center;
align-items: center;
border-bottom: 1px solid #2ba399;
}


#main{ margin-top:46px;
margin-bottom:47px;
}
.address{
    background: #fff url(../image/order_line.png) repeat-x 0 100%;
    min-height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
	background-size: auto 4px;
}
.add-address{
	-webkit-box-flex: 0;
    -ms-flex: 0 100%;
    flex: 0 100%;
	margin:0 5px;
    padding: 0 25px;
	position: relative;
    background: url(../image/address.png) no-repeat;
    background-size: 20px 22px;
    height: 22px;
	font-size:16px; line-height:22px;
	}
.order-time{
	margin: 10px 0;
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-left: 0;
    border-left: 4px solid #06c1ae;
    padding: 10px 15px;
	background:#fff;
	}
.order-time span{
	font-size:16px;
	font-weight:700;
	color:#333;
	min-height:40px;
	line-height:40px;
	}

.order-yj {
    margin-left: 60px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: block;
    text-align: right;
    color: #06c1ae;
}
.order-yj p{
	line-height:30px;
	font-size:14px
	}
.order-yj p.curt{
	    border-bottom: 1px solid #eee;
	}
.order-yj .sd{
	background-color: #06c1ae;
    border: 1px solid #06c1ae;
    color: #fff;
    border-radius: 5px;
	padding:2px
	}

.order-pay{
	margin-top: 10px;
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-left: 0;
    padding: 10px 15px;
	background:#fff;
	}
.cart-pay {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 5px 0;
    font-size: 16px;
    color: #333;
    border-bottom: 1px solid #eee;
    width: 100%;
}
.order-cur{ margin-top:0px; padding-top:0px;}
.cart-pay span{ color:#333;width:120px; height:20px; float:left;font-size: 14px;}
.cart-pay font{ color:#999; height:20px; float:right;width: 150px;
    text-align: right;font-size: 14px;}
.cart-pay .icon-p{
	background:url(../image/ic_global_arrow_right.png) no-repeat;
	width:20px; height:20px; float:right;
	background-size:100% 100%;
	 filter:alpha(opacity=50);  
      -moz-opacity:0.5;  
      -khtml-opacity: 0.5;  
      opacity: 0.5; 
	}
.order-cur span{ color:#bbb;}
.order-cur font{ color:#bbb;}

.order-list {
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-left: 0;
    padding: 10px 15px;
	background:#fff;
}
.order-list p{ height:40px; line-height:40px; font-size:16px; width:100%; float:left; border-bottom: 1px solid #eee; font-weight:700;}	
.order-list p img{ width:40px; height:40px; float:left;}	
.order-list ul{ width:100%; float:left;     
    color: #666;
    font-size: 14px;}
.order-list ul li{
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    font-size: 12px;
    color: inherit;
	 border-bottom: 1px solid #eee;
	 height:40px;
	 line-height:40px;
	 float:left;
	}
.order-list ul li.current{ border-bottom:none;}	
.order-list .order-name{ width:60%; float:left;height:40px;line-height:40px;color: #999;}	
.order-list .order-num{ width:12%; float:left;height:40px;line-height:40px; text-align:right;color: #999;}
.order-list .order-price{ width:28%; float:left;height:40px;line-height:40px; text-align:right;color: #999;}	

.order-mes{
	margin-top: 10px;
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-left: 0;
    padding: 0px 15px;
	background:#fff;
	}	
.order-mes p{ height:40px; line-height:40px; font-size:16px; width:100%; float:left;  font-weight:700;}		
.order-message{
	margin-top: 10px;
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-left: 0;
    padding: 0px 15px 15px 15px;
	background:#fff;
	}		
.order-message .msg{ width:100%; float:left; height:80px;}	
.order-message .msg textarea{ width:100%; height:80px; float:left; border:#eee solid 1px;}	

.order-total{ width:100%; height:47px; position:fixed; left:0; bottom:0;background: #3c3c3c;}
.order-total span{ float:left; height:47px; line-height:47px; color:#fff; font-size:14px; font-weight:700; margin-left:20px;}
.order-total button{ float:right; height:47px; line-height:47px;color:#fff; font-size:14px; font-weight:700; min-width:105px;background: #56d176;}

