@charset "utf-8";
/* CSS Document */
#header{
height: 46px;
font-size: 14px;
color: #fff;
background-color: #06c1ae;
display: -webkit-box;
display: -webkit-flex;
display: flex;

-webkit-flex-direction: row;
flex-direction: row;

-webkit-flex-wrap: wrap;
flex-wrap: wrap;

-webkit-box-align: center; 
-webkit-align-items: center;
align-items: center;
border-bottom: 1px solid #fff;
}


#main{ margin-top:46px;}
.points-header {
    padding: 0 5px 10px 5px;
    background-color: #06c1ae;
}
.points-header-content-a {
    border-radius: 2px !important;
}
.points-header-content {
    color: #999;
    padding:10px;
    font-size: 12px;
    background: #fff;
    border-radius: 0 0 2px 2px;
}
.points-header-content .points-current span {
    color: #999;
    font-size: 12px;
}
.points-header-content .points-current-state {
    float: right;
    right: 4px;
    font-size: 12px;
    color: #06c1ae;
    text-decoration: none;
}
.points-header-content .points-current-money {
    color: #6ac20b;
    font-size: 12px;
    margin: 5px 0;
}
.points-header-content .points-current-money .points-current-number {
    color: #6ac20b;
    font-size: 36px;
}
.points-header-content .ui-btn {
    display: block;
    color: #fff;
    background: #fe6d47;
    font-size: 14px;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
}
.points-record .points-record-title {
    font-size: 12px;
    color: #666;
    padding: 10px;
}
.points-record-empty {
    text-align: center;
    position: absolute;
    width: 100%;
    top: 38%;
}
.empty {
    top: 42%;
}
.nodatatip{
    text-align: center;
}
.nodatatip h3 {
    margin: 10px 0;
    font-size: 16px;
    color: #6a6a6a;
    font-weight: 400;
}
.nodatatip-tiptext{
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 12px;
    color: #999;
}