@charset "utf-8";
/* CSS Document */
#header{
height: 46px;
font-size: 14px;
color: #000;
background-color: #ffe100;
display: -webkit-box;
display: -webkit-flex;
display: flex;

-webkit-flex-direction: row;
flex-direction: row;

-webkit-flex-wrap: wrap;
flex-wrap: wrap;

-webkit-box-align: center; 
-webkit-align-items: center;
align-items: center;
border-bottom: 1px solid #ffe100;
}

.back{
font-size: 0px;
padding: 0 5px;
}
.back .title{
font-size: 20px;
  vertical-align: middle;

}

.map{
display: inline-block;
line-height: 46px;
}
.search{
display: inline-block;
line-height: 46px;
}
.flex-full{
-webkit-box-flex: 1; 
-webkit-flex: 1;
flex: 1;
text-align:center;
font-size: 16px;
font-weight: 500;
}

/*icon*/
.i-back{
display: inline-block;
padding: 23px 10px;
background: url(../image/ic_global_title_bar_48_back.png) no-repeat center center;
-webkit-background-size: 24px;
background-size: 24px;
vertical-align: top;
}
.i-search{
display: inline-block;
padding: 23px;
background: url(../image/ic_action_search.png) no-repeat center center;
-webkit-background-size: 24px;
background-size: 24px;
vertical-align: top;
}




.menu-tabs {
    
    height: 45px;
	background: #fff;
	position:fixed;
	top:46px;
	left:0;
	width:100%;
	z-index:999;
}
.menu-tabs a {
    background: #fff;
    color: #656565;
    float: left;
    font-size: 15px;
    height: 45px;
    text-align: center;
    width: 50%;
}
.mti .menu-tabs a.selected {
    border-bottom-color: #06c1ae;
    color: #06c1ae;
}
.menu-tabs a span {
    box-sizing: border-box;
    display: inline-block;
    height: 45px;
    line-height: 45px;
    padding: 0 8px;
}
.menu-tabs a.selected span {
    border-bottom: 4px solid #ffd900;
    color: #2f2f2f;
}
.pref-info{
	border-bottom: 1px solid #f0f0f0;
	width:100%;
	height:40px;
	line-height:40px;
	text-align:left;
	background:#fff;
	overflow:hidden;
	position:fixed;
	top:46px;
	z-index:999;
	font-size:12px;
	left:0;}
.pref-info small{ font-size:14px;}
.pref-info .icon-tips{ width:26px; height:25px;
 display:block; background:url(../image/tips.png) no-repeat; float:left;
 margin:7px;}

.asidewrap {
    background-color: #efefef;
    height: 100%;
	overflow-y:auto;
    width: 85px;
	position:fixed;
	z-index:2;
	top:86px;
	left:0px;
}
.taglist {
    width: 100%;
}
.tag {
    color: #656565;
    font-size: 14px;
    height: 70px;
    position: relative;
    text-align:center;
    width: 100%;
	margin-top:10px;
}
.tag:nth-child(n+2):before {
    content: " ";
    position: absolute;
    top: 0;
    left: 50%;
    border-left: 1px solid #dbdbdb;
    height: 20px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.tag.focus {
    background:url(../image/fous.png) no-repeat right 25px;
    background-size: 12px auto;
}
.mti .tag.focus {
    border-left-color: #06c1ae;
    color: #06c1ae;
}
.tag-inner {
    height: 70px;
    margin: 0 6px;
    position: relative;
}
.tag.focus .tag-inner {
    border-bottom: 0 none;
}
.tag-text {
	height:20px; line-height:20px;
	font-size:12px;
	width:73px;
}

.tag.focus i{
    background-color: #ffe100;
}	
.tag-inner i{   
    display: inline-block;
    width: 30px;
    height: 30px;
    background-size: 100% 100%;
    vertical-align: middle;
    border-radius: 30px;
	margin-top:20px;
	}
.tag-cate1{   
	background:#dbdbdb url(../image/cate1.png) no-repeat 50%;
}
.tag-cate2{   
	background:#dbdbdb url(../image/cate2.png) no-repeat 50%;
}
.tag-cate3{   
	background:#dbdbdb url(../image/cate3.png) no-repeat 50%;
}
.tag-cate4{   
	background:#dbdbdb url(../image/cate4.png) no-repeat 50%;
}
.tag-cate5{   
	background:#dbdbdb url(../image/cate5.png) no-repeat 50%;
}
.tag-cate6{   
	background:#dbdbdb url(../image/cate6.png) no-repeat 50%;
}
.tag-cate7{   
	background:#dbdbdb url(../image/cate7.png) no-repeat 50%;
}

#mainwrap {
    -moz-box-flex: 1;
    background-color: #fff;
    height: 100%;
    overflow-x: hidden;
	margin-left:85px;
	margin-top: 86px;
    margin-bottom: 50px;
}
.foodlistwrap {
    width: 100%;	
	 height: 100%;
    overflow: scroll;
}
.foodlistwrap ul{
	padding-left:10px;
	padding-right:10px;
	}
.foodlist-label {
    color: #999;
    font-size: 14px;
    font-weight: 700;
    line-height: 36px;
    margin-left: 9px;
    padding-left: 7px;
}
.fooditem {
    border-bottom: 1px solid #f0f0f0;
    padding: 0px 0 10px 0;
    position: relative;
}

.food-pic-wrap {
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100%;
}
.food-pic-wrap img{
	width:100%;
	height:auto;
	float:left;
	}
.items-item-soldout {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -22px;
    margin-left: -40px;
    width: 80px;
    height: 45px;
    background: url(../image/ys.png) no-repeat 0 0;
    background-size: 100% auto;
}
.items-item-sold {
    position: absolute;
    right: 0;
    bottom: 5px;
    padding: 0 6px 0 10px;
    height: 23px;
    line-height: 23px;
    background: url(../image/cg.png) no-repeat 0 0;
    background-size: auto 23px;
    font-size: 12px;
    color: #fff;
    box-sizing: border-box;
}
.food-cont {
   width: 100%;
   float:left;
}
.foodname {
    -moz-box-orient: vertical;
    color: #2f2f2f;
    display: -webkit-box;
    font-size: 14px;
    line-height: 24px;
    overflow: hidden;
	margin-top:5px;
}	
.food-desc {
    -moz-box-orient: vertical;
    color: #a9a9a9;
    display: -webkit-box;
    font-size: 12px;
    line-height: 15px;
    margin-top: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.food-content1-sub {
    color: #a9a9a9;
    font-size: 12px;
    line-height: 15px;
    margin-top: 5px;
}
.food-good {
    margin-left: 4px;
}
.foodop {
    bottom: 10px;
    position: absolute;
    right:0px;
}
.food-cont .food-yd{
	    width: 60px;
    height: 25px;
    line-height: 25px;
    background: #ffe100;
    text-align: center;
    font-size: 12px;
	}
.clearfix::after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}
.add-food {
    text-align: left;
    width: 25px;
}
.add-food, .remove-food {
    float: right;
    height: 25px;
}

.i-add-food {
    background-position: -15px 0;
    height: 25px;
    width: 25px;
}
.foodop .icon {
    background-image:url(../image/icons.png);
    background-size: 150px 350px;
    display: inline-block;
}
.foodop-num {
    float: right;
    font-size: 15px;
    height: 27px;
    line-height: 27px;
    min-width: 21px;
    text-align: center;
}
.i-remove-food {
    background-color: white;
    border-radius: 12.5px;
}
.i-remove-food {
    background-position: -15px -28px;
    height: 25px;
    width: 25px;
}
.food-price-region {
    font-size: 0;
    margin-top: 3px;
}
.food-price {
    color: #f90;
    font-size: 17px;
}

.cart {
    background-color: rgba(255, 254, 253, 1);
    border-top: 1px solid #cacaca;
    bottom: 0;
    height: 50px;
    position: fixed;
    width: 100%;
    z-index: 9000;
}
.cart-tip {
    color: #444;
    padding-left: 12px;
}
.cart-icon {
    float: left;
    margin-right: 10px;
    position: relative;
    top: -18px;
}
.ico-cart, .spec-ico-cart {
    background:url(../image/carts.png) no-repeat scroll 0 0 / 50px auto;
    display: block;
    height: 57px;
    width: 50px;
}
.ico-cart {
    background-position: 0 0;
}
.ico-cart.ico-cart-active {
    background-position: 0 -57px;
}
.cart-num {
    background-color: #ff6900;
    border-radius: 50%;
    color: #fff;
    display: none;
    font-size: 12px;
    height: 15px;
    line-height: 16px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 2px;
    width: 15px;
}
.cart-noempty {
    display: none;
}
.cart-price {
    color: #fb4e44;
    font-size: 20px;
    line-height: 50px;
    margin-left: 4px;
	color: #f90;
}
.cart-origin {
    color: #999;
    font-size: 11px;
    line-height: 35px;
}
.cart-empty {
    color: #888;
    display: none;
    font-size: 13px;
    line-height: 50px;
}
.cart-btns {
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
}
.cart-btn-confirm, .cart-btn-unavail {
    display: block;
    height: 100%;
}
.cart-btn-unavail .inner {
    background: #a0a0a0 none repeat scroll 0 0;
	color:#fff;
}
.cart-btn-unavail .inner {
    display: block;
    font-size: 14px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 110px;
}
.cart-btn-confirm .inner, .cart-btn-unavail .inner {
    display: block;
    width: 110px;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    text-align: center;
}
.cart-btn-confirm .inner {
    background-color: #ffd300;
    color: #6b450a;
}
.flyer-img{display: block;width: 25px;height: 25px;border-radius: 25px;position: fixed;z-index: 9999;}


/*tab2*/	
.detail-region {
    background: #fff;
    color: #2f2f2f;
    font-size: 14px;
    margin-top: 10px;
}
.detail-content {
    padding-left: 15px;
}
.detail-phone {
    border-bottom: 1px solid #f0f0f0;
    position: relative;
	margin-bottom: -1px;
}
.detail-phone, .detail-address, .detail-time, .detail-service {
    padding: 15px 0;
}	

.detail-phone .rest-ico {
	background-image:url(../image/phone.png);
}
.rest-ico {
    background-repeat: no-repeat;
    background-size: 15px auto;
    float: left;
    height: 16px;
    width: 15px;
}

.detail-address .rest-ico {
    background-image:url(../image/address.png);
    height: 16px;
}
.call-phone {
    background: #ffd300 none repeat scroll 0 0;
    border-radius: 15px;
    box-sizing: border-box;
    height: 30px;
    padding-top: 7px;
    position: absolute;
    right: 15px;
    text-align: center;
    top: 7px;
    width: 30px;
}
.detail-phone p {
    margin-left: 27px;
	font-size:14px;
}

.detail-time {
    border-bottom: 1px solid #f0f0f0;
    margin-bottom: -1px;
}
.rest-txt {
    float: left;
    margin-left: 12px;
	font-size:14px;
}
.detail-address p, .detail-time p, .detail-service p {
    margin-left: 96px;
    padding-right: 15px;
	font-size:14px;
}
.detail-time .rest-ico {
    background-image:url(../image/time.png); }

.mt-delivery {
    background: #ffd300 none repeat scroll 0 0;
    border-radius: 4px;
    color: #6b450a;
    display: inline-block;
    font-size: 11px;
    margin-right: 6px;
    padding: 2px;
    vertical-align: middle;
}
.mt-delivery-tag {
    border: 1px solid #52b3ff;
    border-radius: 4px;
    color: #52b3ff;
    display: inline-block;
    font-size: 11px;
    margin: 6px 6px 0 0;
    padding: 2px 10px;
    vertical-align: middle;
}
.detail-favor {
    line-height: 23px;
    padding: 9px 15px;
}

.detail-service .rest-ico {
    background-image:url(../image/server.png);
	}
.discountitem {
    padding: 6px 0;
}
.list-icon {
    float: left;
    height: 17px;
    margin-top: 3px;
    width: 17px;
}
.list-contect {
    margin-left: 27px;
	font-size:14px;
}
.detail-qualification {
    background-color: #ffffff;
    border-bottom: 1px solid #dddddd;
    border-top: 1px solid #dddddd;
    height: 44px;
    margin-top: 20px;
    padding: 0 20px;
}
.qualification {
    background-image: url(../image/qualification-right.png);
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 8px 15px;
    font-size: 14px;
    line-height: 44px;
}
.qualification a{ font-size:14px;}

.shop-cart{ width:100%; height:100%; position:fixed; top:0; left:0; background:#000;filter:alpha(opacity=50);  
      -moz-opacity:0.5;  
      -khtml-opacity: 0.5;  
      opacity: 0.5; z-index:9999;
	  display:none;
}
.cart-list {
  	background-color: #fff;
    border-top: 1px solid #cacaca;
    bottom: 0;
    height: 350px;
    position: fixed;
    width: 100%;
    z-index: 90001;
	display:none;
}
.cart-header{
	width:100%;
	height:50px;
	position:absolute;
	left:0;
	top:-60px;
	z-index: 10002;
	}
.cart-header:after {
    content: " ";
    position: absolute;
    bottom: -15px;
    left: 31px;
    width: 10px;
    height: 10px;
    background-color: #ebebeb;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.cart-header .cart-b{
	background:url(../image/carts.png) no-repeat scroll 0 0 / 50px auto;
    display: block;
    height: 50px;
    width: 50px;
	 background-position: 0 -64px;
	 margin-left:12px;
	 position:relative;
	}
.cart-header .cart-n{
	 background-color: #ff6900;
    border-radius: 50%;
    color: #fff;
    font-size: 12px;
    height: 15px;
    line-height: 16px;
    position: absolute;
    right: 0;
    text-align: center;
    top: -2px;
    width: 15px;
	}
.popup-cart-actions {
    padding: 0 0 0 12px;
    height: 40px;
    line-height:40px;
    font-size: 14px;
    color: #999;
    background-color: #ebebeb;
}
.popup-cart-clear-btn {
    display: inline;
    float: right;
    margin-top: 10px;
    padding: 0 20px;
    height: 20px;
    border: none;
    background: url(../image/clear.png) no-repeat;
    background-size: auto 18px;
    color: #999;
    font-size: 14px;
}
.native-scroll{
    padding: 0 12px;
    float: left;
    overflow: auto;
    height: 260px;
    position: absolute;
    top: 40px;
    left: 0;
	width: 100%;
	}
.native-scroll ul li{
	width:100%;
	padding:5px 0;
	float: left;
	}
.cart-item-name{
	width:50%; height:30px; line-height:30px;
	font-size:16px;
	float:left;
	}
.cart-item-price{
	width:20%; height:30px; line-height:30px;
	font-size:16px;
	float:left;
	color:#f34336;
	}
.cart-item-num{
	width:30%; height:30px; line-height:30px;
	font-size:16px;
	float:left;
	color:#f34336;
	}
.cart-item-jj{
	background-image: url(../image/icons.png);
    background-size: 150px 350px;
    display: inline-block;
	background-position: -15px -28px;
    height: 25px;
    width: 25px;
	background-color: white;
    border-radius: 12.5px;
	margin-top:2px;
	float:right;
	}
.cart-item-num span{ height:30px; line-height:30px; padding:0 5px; font-size:14px; color:#000; float:right;}	
.cart-item-add{
    background-image: url(../image/icons.png);
    background-size: 150px 350px;
    display: inline-block;
	background-position: -15px 0;
    height: 25px;
    width: 25px;
	margin-top:2px;
	float:right;
}
.cart-footer{ width:100%;
	height:50px;
	position:relative;
	top:260px;
	left:0px;
	z-index:10002;
	border-top: 1px solid #cacaca;
	}
.cart-footer button{
	width: 110px;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    text-align: center;
	float:right;
	background-color: #ffd300;
    color: #6b450a;
	position:absolute;
	right:0;
	top:0;
	}
.cart-footer .cart-fl{
    margin-right:110px;
	height:50px;
	line-height: 50px;
    font-size: 16px;
	color:#000;
	margin-left:12px;	
	}

