@charset "utf-8";
/* CSS Document */
#header{
height: 46px;
font-size: 14px;
color: #fff;
background-color: #06c1ae;
display: -webkit-box;
display: -webkit-flex;
display: flex;

-webkit-flex-direction: row;
flex-direction: row;

-webkit-flex-wrap: wrap;
flex-wrap: wrap;

-webkit-box-align: center; 
-webkit-align-items: center;
align-items: center;
border-bottom: 1px solid #2ba399;
}

.i-searchs{
display: inline-block;
padding: 18px;
background: url(../image/ic_action_searchs.png) no-repeat center center;
-webkit-background-size: 18px;
background-size: 18px;
vertical-align: top;
float:left;
}

#main{ margin-top:46px;}
.search-wrapper {
    width:100%;
}
#search-form {
    margin-top: 10px;
    margin-bottom:10px;
    height:36px;
    padding: 0 10px;
	width:100%;
	position:relative;
}
.search-wrapper .box-search {
    position: relative;
    margin-right: 60px;
    border-radius: 4px;
    border: 1px #eee solid;
    background: #FFF;
    height: 36px;
    line-height: 36px;
    padding-right:24px;
    -webkit-box-sizing: border-box;
}
#search-form input[type='text'] {
    width: 80%;
    border: none;
    background: rgba(255, 255, 255, 0);
    outline-style: none;
    display: block;
    line-height: 36px;
    height: 100%;
    font-size:12px;
    padding: 0;
	float:left;
	font-weight:500;
}

#search-form button {
    position: absolute;
    right: 10px;
    top: 0;
    width: 50px;
    height: 100%;
    -webkit-box-sizing: border-box;
	background:#dcdcdc;
	border-radius:4px;
	text-align:center;
	font-size:12px;
}

#search-list{
    width:100%;
	background-color:#fff;
	}
#search-list ul{
	width:100%;
	background:#fff;
	float:left;
	padding:10px 0;	
	min-height:180px;
	}
#search-list ul li{
	width:25%;
	height: 30px;
    line-height: 30px;
    font-size: 14px;
    text-align: center;
    border-bottom: 1px solid #eeece7;
	
	float:left;
	background:#fff;
	margin-top:25px;
	}	
#search-list ul li a{
	width:100%;
	float:left;
	color:#b7b7b7;
	border-right: 1px solid #f6f4f2;
	height:18px;
	line-height:18px;
	font-size:12px;
	font-weight: 400;
	}	
#search-list ul li a.curt{ border:none;}	
	
	
	
#footer ul{
	width: 100%;		
	}
#footer ul li{
	float: left;
    width: 20%;
    text-align: center;		
	}

.pop-content {
    z-index: 9999;
    background: rgba(0,0,0,0.8);
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
	left:0;
    width: 100%;
	height:50px;	
}
.pop-main{
	width:100%;
	padding:5px 0;
	}
.pop-main img{
	width:40px;
	height:40px;
	float:left;
	margin-left:20px;
}
.pop-main p{
	line-height:20px;
	float:left;
	color:#fff;
	margin-left:10px;
	font-size:14px;
}
.pop-btn{
    width: 80px;
    height: 30px;
    margin-top: 5px;
    float: right;
    line-height: 30px;
    font-size: 14px;
    border: 1px solid #06c1ae;
    color: #06c1ae;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    margin-right: 20px;	
	}

