@charset "utf-8";
/* CSS Document */
a{ 
text-decoration:none;
color:#333;
}
body{
	height:auto;	
	background:#f0f0f0;
	}
.wrap{
	
	}
#header{
	height: 44px;
	font-size: 14px;
	color: #fff;
	background-color: #3190e8;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;

	-webkit-flex-direction: row;
	flex-direction: row;

	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;

	-webkit-box-align: center; 
	-webkit-align-items: center;
	align-items: center;
}
.filter{
    position: fixed;
    height: 40px;
    line-height: 40px;
    z-index: 999;
    left: 0;
    top: 44px;
    width: 100%;
	background:#fff;
}
.filter-header{
    position:absolute;
    top: 0;
	height:40px;
	line-height:40px;
    bottom: 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 1000;
	border-bottom: 1px solid #eee;
}
.filter-nav{
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: block;
    width: 0;
    text-align: center;
    color: #666;
    position: relative;
    font-size: 14px;
}
.filter-nav span.curt{
	color:#3190e8;
	}
.filter-nav:after {
    content: "";
    background: #ddd;
    width: 1px;
    height: 15px;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.filter-nav:last-child:after {
    content: "";
    background: #ddd;
    width: 1px;
    height: 0px;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.i-up{
	display: inline-block;
	padding: 20px 10px;
	background: url(../image/ic_global_arrow_down_green.png) no-repeat center center;
	-webkit-background-size: 10px;
	background-size: 10px;
	vertical-align: top;
	opacity:0.8;
	-webkit-transform: rotate(0deg);
	transform:rotate(0deg);
	transition-duration: 0.3s;
	-webkit-transition-duration: .4s;
	}

/*category*/
.filter-category {
    z-index: 200;
    padding-bottom: 0;
    color: #666;
}
.filter-extend{
    left: 0;
    right: 0;
    top: 100%;
    position: absolute;
    max-height: 0;
    background-color: #fff;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    overflow: auto;
    opacity: 0;
    z-index: 1000;
	visibility:hidden;
}
.filter-category{
    height: 1000%;
}
.filter-extend.open{
    opacity: 1;
    visibility: visible;
    max-height: 1000%;
}
.filter-category .filter-scroller, .filter-category .loading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
	height: 100%;
}
.filter-category ul,.filter-sort ul,.filter-more ul {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: block;
    margin: 0;
    padding: 0;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
	float:left;
	background:#fff;
	z-index:999;
    width: 100%;
}
.filter-category ul:first-child,.filter-sort ul:first-child ,.filter-more ul:first-child {
    background-color: #f2f2f2;
}
.filter-category ul:first-child li,.filter-sort ul:first-child li,.filter-more ul:first-child li {
    padding: 0 5px 0 10px;
}
.filter-category li,.filter-sort li ,.filter-more li {
    position: relative;
    line-height: 40px;
	font-size: 12px;
	color: #777777;
}
.filter-category .count {
    position: absolute;
    right: 20px;
    line-height: 18px;
    top: 50%;
    margin-top: -9px;
    border-radius: 8px;
    color: #fff;
    background-color: #ccc;
    padding: 0 8px;
    font-size: 10px;
}
.filter-category li.active,.filter-sort li.active,.filter-more li.active {
    background-color: #fff;
}
.filter-category ul:first-child .icon,.filter-sort ul:first-child .icon,.filter-more ul:first-child .icon {
    margin-right: 8px;
    width: 18px;
    vertical-align: middle;
}
.filter-category .i-right,.filter-sort .i-right,.filter-more .i-right{
	position: absolute;
    top: 0;
    right: 0px;
    display: inline-block;
    padding: 20px 10px;
    background: url(../image/ic_global_arrow_right.png) no-repeat center center;
    -webkit-background-size: 18px;
    background-size: 10px;
    vertical-align: top;
    opacity: 1;
	}
.filter-category ul:nth-of-type(2),.filter-sort ul:nth-of-type(2),.filter-more ul:nth-of-type(2) {
    padding-left: 10px;
    padding-right: 5px;
}
.filter-category ul:nth-of-type(2) .count,.filter-sort ul:nth-of-type(2) .count,.filter-more ul:nth-of-type(2) .count {
    right: 20px;
    background-color: transparent;
    color: #999;
}
.filter-category ul:nth-of-type(2) li,.filter-sort ul:nth-of-type(2) li {
    border-bottom: 1px solid #eee;
}

/*.filter-sort{*/
    /*padding-bottom: 0;*/
/*}*/
/*.filter-sort li{*/
    /*position: relative;*/
    /*padding-left: 10px;*/
    /*line-height: 40px;*/
	/*height:40px;*/
	/*font-size:12px;*/
	/*color:#777;*/
/*}*/
/*.filter-sort li:not(:last-child):after {*/
    /*position: absolute;*/
    /*content: "";*/
    /*bottom: 0;*/
    /*left: 30px;*/
    /*right: 0;*/
    /*height: 1px;*/
    /*background-color: #eee;*/
/*}*/
.i-px1{
	display: inline-block;
	padding: 20px 10px;
	background: url(../image/address.png) no-repeat center center;
	-webkit-background-size: 18px;
	background-size: 12px;
	vertical-align: top;	
	}
.i-px2{
	display: inline-block;
	padding: 20px 10px;
	background: url(../image/address.png) no-repeat center center;
	-webkit-background-size: 18px;
	background-size: 12px;
	vertical-align: top;	
	}
.i-px3{
	display: inline-block;
	padding: 20px 10px;
	background: url(../image/address.png) no-repeat center center;
	-webkit-background-size: 18px;
	background-size: 12px;
	vertical-align: top;	
	}
.i-px4{
	display: inline-block;
	padding: 20px 10px;
	background: url(../image/address.png) no-repeat center center;
	-webkit-background-size: 18px;
	background-size: 12px;
	vertical-align: top;	
	}
.i-px5{
	display: inline-block;
	padding: 20px 10px;
	background: url(../image/address.png) no-repeat center center;
	-webkit-background-size: 18px;
	background-size: 12px;
	vertical-align: top;	
	}
.i-px6{
	display: inline-block;
	padding: 20px 10px;
	background: url(../image/address.png) no-repeat center center;
	-webkit-background-size: 18px;
	background-size: 12px;
	vertical-align: top;	
	}

.filter-extend.filter-more{
    padding-bottom: 50px;
}	
/*.filter-more dl{*/
    /*margin: 10px 0;*/
    /*padding: 0 15px;*/
    /*overflow: hidden;*/
/*}*/
/*.filter-more dt{*/
    /*margin-bottom: 5px;*/
	/*line-height:16px;*/
	/*font-size:12px;*/
/*}	*/
/*.filter-more dd{*/
    /*margin: 0;*/
    /*float: left;*/
    /*width: 32%;*/
    /*margin-right: 2%;*/
    /*border: 1px solid #f0f0f0;*/
    /*padding: 5px 0;*/
    /*margin-bottom: 5px;*/
    /*border-radius: 3px;*/
    /*box-sizing: border-box;*/
    /*line-height: 20px;*/
    /*height: 30px;*/
/*}*/
/*.filter-more dd:nth-of-type(3n) {*/
    /*margin-right: 0;*/
/*}*/
/*.filter-more .i-ps{*/
	/*margin-left:5px;*/
	/*display: inline-block;*/
	/*padding: 10px 5px;*/
	/*background: url(../image/ic_global_list_lable_booking.png) no-repeat center center;*/
	/*-webkit-background-size: 12px;*/
	/*background-size: 12px;*/
	/*vertical-align: top;*/
/*}	*/

/*.filter-more dd span {*/
    /*font-size:12px;*/
	/*color:#666;*/
	/*vertical-align: middle;*/
/*}*/
/*.filter-more i{*/
    /*display: inline-block;*/
    /*vertical-align: middle;*/
    /*font-style: normal;*/
    /*border-width: 1px;*/
    /*margin: 0 2px 0 5px;*/
    /*border-style: solid;*/
    /*width: 18px;*/
    /*line-height: 18px;*/
    /*text-align: center;*/
    /*border-radius: 3px;*/
    /*font-size: 12px;*/
    /*box-sizing: border-box;*/
	/*vertical-align: middle;*/
/*}*/
.filter-scroller dd.selected{
    border-color: #3190e8;
    background-color: #fff;
}
.filter-scroller dd.selected font{
    display:none;
}
.filter-scroller dd.selected i{
    display:none;
} 
.filter-scroller dd.selected .i-yes{
	margin-left:10px;
	display: inline-block;
	padding: 10px 5px;
	background: url(../image/ic_global_filter_check_green.png) no-repeat center center;
	-webkit-background-size: 16px;
	background-size: 16px;
	vertical-align: top;
	}	
.filter-btn{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid #eee;
    background-color: #fafafa;
    padding: 0 5px;
    height:50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.filter-btn a{
    font-size: 24px;
    line-height: 36px;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: block;
    width: 0;
}
.filter-btn a:first-child {
    background-color: #fff;
    border: 1px solid #ddd;
    margin-right: 10px;
    color: #333;
}
.filter-btn a:last-child {
    color: #fff;
    background-color: #3190e8;
    border: 1px solid #3190e8;
}

/*item-list*/
.item-list h2{
	height: 40px;
	line-height: 40px;
	font-size: 12px;
	font-weight: 400;
	color: #6a6a6a;
	padding: 0 8px;
	border-bottom: 1px solid #f7f7f7;
}
.i-shop{
display: inline-block;
padding: 23px 15px;
background: url(../image/ic_menu_poi_off.png) no-repeat center center;
-webkit-background-size: 18px;
background-size: 18px;
vertical-align: top;
opacity:0.8;
}

.item{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 15px 10px;
    border-bottom: 1px solid #f7f7f7;
    background-color: #fff;
    color: #666;
    list-style: none;
    font-size: 12px;
}
.left-wrap{
    position: relative;
    margin-right: 10px;
    width: 60px;
    height: 60px;
}
.logo{
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 4px;
}
.right-wrap{
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.line,.right-wrap{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.line{
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.shopname{
    overflow: hidden;
    margin: 0;
    padding: 0;
    max-width: 188px;
    color: #333;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
}
.premium {
    padding: 0 2px;
    height: 16px;
    border-radius: 2px;
    color: #ba9350 !important;
    border: 0.5px solid #ece3cf;
    background-color: #fbf4e5;
    vertical-align: top;
    text-align: center;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
}
.activities, .support-wrap{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.support-wrap{
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}
.activity-wrap{
    line-height: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.activity-wrap.nowrap{
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
}
.activity-icon{
    margin-right: 4px;
    font-size: 10px;
    font-style: normal;
    line-height: 10px;
    height: 14px;
    /*padding: 1px;*/
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    border: 1px solid;
    border-radius: 3px;

}
.activity-icon.icononly{
    margin-right: 0;
}
.activity-wrap.nowrap .icononly{
    margin-left: 4px;
}
.line:nth-child(2) {
    margin-top: 5px;
}
.rate-wrap{
	font-size:12px;
	}
.delivery-wrap{
	line-height:14px;
	}
.rate{
    margin: 3px;
    color: #ff6000;
}
.i-star:after{
	content: '★';
	font-size:12px;
}
.i-star-gold{
	color: #f49d1a;
}
.i-star-gray{
	color: #E2E2E2;
	position: relative;
}
.i-star-gray .i-star-gold{
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	overflow: hidden;
}
.icon-delivery{
    padding: 0px 1px;
    border: 1px solid #3190e8;
    border-radius: 2px;
    background-color: #fff;
    color: #3190e8;
    font-size: 10px;
    line-height: 12px;
}
.icon-delivery:not(:last-child) {
    margin-right: 1px;
}
.icon-delivery.hollow {
    background-color: #2395ff;
    color: #fff;
}
.moneylimit{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
    align-content: center;
	font-size:10px;
}
.moneylimit span+span:before {
    margin: 0 3px;
    color: #ddd;
    content: '/';
}
.timedistance-wrap{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
	font-size:10px;
}
.distance-wrap{
    color: #999;
}
.time-wrap{
    color: #3190e8;
}
.timedistance-wrap span+span:before {
    margin: 0 3px;
    color: #ddd;
    content: '/';
}

/*遮罩*/
.popup-overlay{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.2);
    z-index: 1;
    opacity: 0;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
	visibility: hidden;
}
.popup-overlay.modal-overlay-visible{
    visibility: visible;
    opacity: 1;
}
