@charset "utf-8";
/*======================================统一样式==================================*/
html, body, div, p, ul, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, form, input, select, button,  textarea, iframe, table, th, td { margin: 0; padding: 0; }
img { border: 0 none; }
ul, li {list-style-type: none; margin:0px; padding:0px;}
body, input, select, button, textarea { font-size: 12px; font-family:"微软雅黑"; color:#666; border:none;}
button { cursor: pointer; }
 h1, h2, h3, h4, h5, h6{font-weight: normal;}
em {font-style:normal;}
a {color: #666;}
a:link { text-decoration: none;}
a:focus {outline: none; } 
.clear{ clear:both; overflow: hidden;}
.fl{ float:left;}
.fr{ float:right;}
html{font-size: 81.3%;}
input {-webkit-appearance:none; /*去除input默认样式*/}
input[type="submit"],
input[type="reset"],
input[type="button"],
input{-webkit-appearance:none;}

.ddb-box{position: fixed;  display: none; top: 0px; left: 0px; width: 100%; height: 100%; background: rgba(0,0,0,0.5); z-index: 99;}
.ddb-box .ddb-alert{width: 70%; padding: 10px 0px; top: 200px; padding-bottom: 0px; position: absolute; left: 15%; background: white; text-align: center;}
.ddb-box .ddb-alert .alert-title{font-size: 16px;}
.ddb-box .ddb-alert p{padding: 12px 8%; font-size: 14px;}
.ddb-box .ddb-alert .box-button{width: 50%; float: left;  ;}
.ddb-box .ddb-alert .alert-footer{border-top: 1px solid #43bd74;}
.ddb-box .ddb-alert .alert-footer a{display: block;padding: 10px 0px; color: #43bd74;}
.ddb-box .ddb-alert .alert-footer .btn-eat-room a{border-right: 1px solid #43bd74;}

.shop_header{text-align: center; background: url(../img/bg.png) no-repeat; background-size: 100% 100%; padding: 15px 0px 45px;}
.shop_header img{width: 70px; height: 70px;}
.shop_header h3{font-size: 20px; color: #ffffff;}
.shop_header h5{font-size: 14px; color: #ffffff;}

.shop_detail{padding: 18px 3%; border-bottom: 1px solid #dddddd; padding-bottom: 8px;}
.shop_detail h2{font-size: 18px; color: #333333; margin-bottom: 12px;}
.shop_detail h3 img{float: left; height: 18px; line-height: 18px; margin-right: 6px;}
.shop_detail h3{font-size: 14px; color: #949292; line-height: 18px; clear: both; margin-bottom: 8px;}
.shop_detail h3 em{background: #f95d3f; padding: 2px 4px; color: white;  border-radius: 4px; margin-left: 4px;} 
.shop_detail h3 em a{color: white;}
.shop_detail h3 i{display: inline-block; float: left; width: 24px;}

.shop_notice ul li a{display: block; clear: both; overflow: hidden;}
.shop_notice ul li img{float: left; height:16px; margin-right: 6px;}
.shop_notice ul li span{font-size: 14px; color: #333333; line-height:16px;}
.shop_notice ul li{margin-bottom: 12px;}
.shop_notice{padding: 12px 3%; padding-bottom: 0px; border-bottom: 1px solid #dddddd;}

.shop_list ul li{float: left; width: 25%; text-align: center; margin-bottom: 20px;}
.shop_list ul li img{width:60%;;}
.shop_list ul li h3{font-size: 14px; color: #595959; margin-bottom: 3px; margin-top:4px}
.shop_list ul li p{font-size: 12px; display: none; color: #8f8f8f; width: 80%; margin: 0 auto; height: 36px; overflow: hidden;}
.shop_list{padding: 16px 0; clear: both; overflow: hidden}

.sel_per .sel{border-bottom: 1px solid #d9d9d9;  padding-right: 4%; font-size: 16px; color: #151515;}
.sel_per{padding-left: 3%; background: white; padding-bottom: 1px;}
.sel_per .sel label{color: #151515;}
.sel_per .sel a{color: #7c7c7c; clear: both; overflow: hidden; display: block; padding: 12px 0px;}
.sel_per .sel  img{float: right; height: 16px;}
.sel_per .sel  span{float: left; line-height: 20px; font-size: 14px; margin-right: 6px;}
.sel_per .gain{width: 80%; height: 38px; margin:15px auto; display: block; text-align: center; background: #f95d3f; color: white; line-height: 38px; border-radius: 8px; font-size: 14px;}
.sel_per .oth{color: #7c7c7c; clear: both; overflow: hidden; display: block; padding: 12px 0px;}

.grey{background: #F2f2f2;}

.table h2{margin-top: 15px; font-size: 16px; color: #a8a8a8; padding-bottom: 8px; padding-left: 3%;}
.table ul{background: white; padding-left: 3%;}
.table ul li{clear: both; overflow: hidden; padding: 12px 0px; padding-right: 3%; font-size: 16px; color: #151515; border-bottom: 1px solid #d9d9d9;}
.table ul li span{font-size: 16px; color: #7c7c7c; float: right;}

.ta_header{height: 30px; background: #f95d3f; text-align: center; line-height: 30px; color: white; font-size: 16px;}
.table.eat ul li a:active{background: url(../img/dui.png) right center no-repeat;}
.table.eat ul li a{display: block; width: 100%; clear: both; overflow: hidden;}

.com_list ul li .user_img{float: left; width: 15%;}
.com_list ul li{clear: both; overflow: hidden; padding: 12px 3%; border-bottom: 1px solid #afafaf;}
.com_list ul li .text{float: left; width: 70%;margin-left: 4%;}
.com_list ul li h3{font-size: 16px; color: #272727;}
.com_list ul li h4{margin: 4px 0px;}
.com_list ul li h4 img{width: 14px; margin-right: 4px;}
.com_list ul li h5{font-size: 14px; color: #727272;}

.pay_name img{height: 44px; margin-right: 15px; float: left; margin-left: 10%;}
.pay_name{clear: both; overflow: hidden; padding: 12px 0px; background: #F2F2F2;}
.pay_name span{font-size: 18px; color: #333333; line-height: 44px;}
.pay_money p{font-size: 16px; color: #333333; margin-bottom: 6px;}
.pay_money .inp_money{margin-bottom: 10px;}
.pay_money .inp_money label{font-size: 26px; color: #333333;}
.pay_money .inp_money input{width: 70%; height: 35px; font-size: 26px;}
.pay_money{margin: 0 3%; border: 1px solid #b5b5b5; padding: 10px;}
.pay_money .inp_money input{background: url(../assets/diandanbao/shan.gif) left center no-repeat;}
.box{background: white; padding: 12px 0px;}

.money{padding: 16px 3%; background: white;}
.money .hui em{font-size: 14px; color: #ffffff; padding: 2px 4px; background: #f89611;}
.money .hui span{font-size: 14px; color: #333333; line-height: 26px; margin-left: 6px;}
.money .hui big{font-size: 14px; color: #333333;line-height: 26px;}
.money .hui{margin-bottom: 12px;}
.money h3 label{font-size: 16px; color: #4a4a4a;}
.money h3 b{font-size: 16px; color: #f95d3f;}

.inp_word{padding: 0px 3%; background: white; padding-bottom: 20px;}
.inp_word img.fl{height: 24px; margin-right: 6px;}
.inp_word span{font-size: 16px; color: #42b035; line-height: 24px;}
.inp_word  img.fr{width: 18px; margin-top: 3px;}
.inp_word .pay_type{clear: both; overflow: hidden; padding: 7px 6px; border: 1px solid #d2d2d2;}
.inp_word input{border: 1px solid #d2d2d2; padding-left: 2%; height: 33px; width: 98%; margin-bottom: 20px;}

.pay_to a{width: 90%; line-height: 38px; display: block; margin: 0 auto; height: 38px; background: #2dc852; font-size: 16px; color: white; text-align: center; border-radius: 8px;}
.pay_to p{text-align: center; font-size: 14px; color: #c1c1c1; margin-top: 6px;}

.lo{text-align: center; margin-top: 52px;}
.lo img{width: 115px;}
.lo p{font-size: 14px; color: #d4d4d4;}

.user_header img{width: 15%;;}
.user_header{text-align: center; background: url(../img/bg1.jpg) no-repeat; background-size: 100% 100%; padding: 15px 0px;}
.user_header h3{font-size: 14px; color: white; margin: 6px 0px; margin-bottom: 2px;}
.user_header h4{font-size: 16px; color: white;}

.user_nav{clear: both; overflow: hidden; background: white; border-bottom: 1px solid #dbdbdb;}
.user_nav ul li{width: 33.3333%; float: left; font-size: 14px; text-align: center; padding: 12px 0px;}
.user_nav ul li a b{color: #f95d3f; margin-right: 4px;}
.user_nav ul li a{display: inline-block; width: 100%; border-right: 1px solid #b9b9b9; line-height: 18px;}

.user_list ul li .icon{float: left; height: 30px; margin-right: 6px;}
.user_list ul li span{float: left; line-height: 34px; font-size: 14px; color: #353535;}
.user_list ul li a{display: block; clear: both; overflow: hidden;}
.user_list ul li .right{height: 18px; margin-top: 6px;float: right;}
.user_list{padding: 0px 3%; background: white; margin-top: 10px;}
.user_list ul li{padding: 10px 0px; border-bottom: 1px solid #f2f2f2; clear: both; overflow: hidden;}

.footer ul li{width: 20%; text-align: center; float: left;}
.footer{position: fixed; bottom: 0px; width: 100%; left: 0px; background: white; padding-top: 4px; padding-bottom: 2px;}
.footer ul li img{height: 26px;}
.footer ul li span{position: relative; display: inline-block}
.footer ul li span em{position: absolute; top: -2px; line-height: 18px; right: -9px; width: 18px; height: 18px; border-radius: 18px; background: #f95d3f; color: white;}
.footer ul li p{font-size: 14px; color: #696969;}
.footer ul li.on a{display: block; width: 100%;}
.footer ul li.on a p{color: #f95d3f;}

.sel_box{margin-bottom: 15px;}
.sel_box .sel:last-child{border: 0px;}
.sel_box .sex input[type="radio"]{float: left; margin-right: 6px; width: 16px; height: 16px; appearance: none; -webkit-appearance: none; background: url(../img/circle.png) no-repeat; background-size: 16px 16px;}
.sel_box .sex input[type="radio"]:checked{background: url(../img/cir.png) no-repeat; background-size: 16px 16px;}
.sel_box .sex span{font-size: 14px; line-height: 20px;}
.sel_box .sex em{float: left; margin-right: 20px;}
.sel_box .sex.sel_sex{margin-top: 6px;}
.sel_box .sex input[type="text"]{height: 24px; font-size: 16px; width: 70%; display: inline-block; float: left;}
.sel_box .sel.oth label{width: 27%; display: inline-block;}

.tui{font-size: 16px; color: #c4c4c4; padding-left: 3%; padding-bottom: 12px;}

.inp_footer{position: fixed; width: 100%; bottom: 0px; left: 0px; height: 45px; background: #f95d3f; color: white; text-align: center;}
.inp_footer a{color: white; font-size: 16px; line-height: 45px;}

.space-12{height: 8px; background: #f2f2f2;}

.grey{background: #f4f4f4;}

.not{font-size: 14px; color: white; padding: 6px 5%; background: #ff9934;}
.inp{padding: 20px 5%; padding-bottom: 0px; clear: both; overflow: hidden;text-align:center}
.inp input[type="text"]{width: 65%; float: left; padding-left: 2%; margin-right: 3%; border-radius: 8px; border: 1px solid #dcdcdc; height: 30px;}
.inp input[type="button"]{width: 29%; float: left; border-radius: 8px; background: #2dc852; height: 32px; font-size: 16px; color: white;}
.inp input[type="submit"]{width: 50%;  border-radius: 8px; background: #FC9A2F; height: 32px; font-size: 16px; color: white;} 

.notice{width: 86%; position: relative; padding: 10px 4%; z-index: 9; margin: 0 auto; background: #dadada; font-size: 14px; line-height: 22px; border-radius: 8px; margin-top:13px;}
.notice em{position: absolute; top: -10px; left: 15px; z-index: 999;}
.bottom img{width: 10rem;}
.bottom p{font-size: 12px; color: #d4d4d4; }
.bottom{text-align: center; margin-top: 50px;}