@charset "utf-8";
/* CSS Document */

#wrap{ background:#f4f4f4;}
.user-profile {
    position: relative;
    width: 100%;
    padding: 46px 0 36px 0;
    text-align: center;
}
.user-back {
    position: absolute;
    top: 0;
    left: 10px;
}
.button {
    border: 1px solid #f34336;
    color: #f34336;
    text-decoration: none;
    text-align: center;
    display: block;
    border-radius: 4px;
    line-height: 20px;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background: 0 0;
    padding: 0 5px;
    margin: 0;
    height: 20px;
    white-space: nowrap;
    position: relative;
    text-overflow: ellipsis;
    font-size: 14px;
    font-family: inherit;
    cursor: pointer;
}
.user-back .button-nav.pull-left {
    margin-left: -10px;
	float: left;
}
.user-back .button-link {
    min-width: 44px;
    top: 0;
    padding: 0;
    font-size: 16px;
    line-height: 44px;
    height: 44px;
    color: #f34336;
    border: 0;
}
.user-back .button {
    position: relative;
    top: 7px;
    z-index: 20;
    margin-top: 0;
    font-weight: 400;
}
.icon-left{
	display: inline-block;
padding: 22px;
background: url(../image/ic_back.png) no-repeat center center;
-webkit-background-size: 22px;
background-size: 22px;
vertical-align: top;
	}

.user-banner, .user-mask {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.user-banner {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    -webkit-filter: blur(15px);
    -moz-filter: blur(15px);
    -ms-filter: blur(15px);
    filter: blur(15px);
    overflow: hidden;
}
.user-mask {
    background-color: hsla(0,0%,60%,.2);
}
.user-info {
    position: relative;
}
.user-avatar {
    font-size: 0;
    margin: 0 auto 16px;
    padding: 5px;
    height: 80px;
    width: 80px;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 100% 100%;
    overflow: hidden;
}
.user-avatar img {
    border-radius: 100% 100%;
}
.user-name {
    color: #fff;
	font-family: Helvetica Neue,Helvetica,sans-serif;
    font-size: 17px;
}

.list-block {
    margin: 10px 0 0;
    font-size: 14px;
}
.list-block ul {
    background: #fff;
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
}

.list-block ul:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: auto;
    right: auto;
    height: 1px;
    width: 100%;
    background-color: #e7e7e7;
    display: block;
    z-index: 15;
    transform-origin: 50% 0;
}
.list-block ul:before {
    transform: scaleY(.5);
}

.list-block li {
    box-sizing: border-box;
    position: relative;
}
.list-block .item-link {
    transition-duration: .3s;
    display: block;
    color: inherit;
}
.list-block .item-content {
    box-sizing: border-box;
    padding-left: 10px;
    min-height:44px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.list-block .item-media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-shrink: 0;
    -ms-flex: 0 0 auto;
    flex-shrink: 0;
    -webkit-box-lines: single;
    -moz-box-lines: single;
    -ms-flex-wrap: none;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    box-sizing: border-box;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 7px;
    padding-bottom: 8px;
}
.icon {
    font-family: iconfont-sm!important;
    font-style: normal;
    display: inline-block;
    vertical-align: middle;
    background-size: 100% auto;
    background-position: 50%;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: .2px;
    -moz-osx-font-smoothing: grayscale;
}
.user-list-icon {
    width: 22px;
    height: 22px;
    background-size: 100% 100%;
}
.user-list-icon-order {
    background-image: url(../image/dd.png);
}
.list-block .item-inner {
    padding-right: 30px;
    position: relative;
    width: 100%;
    padding-top: 7px;
    padding-bottom: 8px;
    min-height: 44px;
    overflow: hidden;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.list-block .item-media+.item-inner {
    margin-left: 15px;
}
.list-block .item-link .item-inner {
    padding-right: 30px;
    background-image: url(../image/next.png);
    background-size: 14px;
    background-repeat: no-repeat;
    background-position: 97%;
}
.list-block ul:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    right: auto;
    top: auto;
    height: 1px;
    width: 100%;
    background-color: #e7e7e7;
    display: block;
    z-index: 15;
    transform-origin: 50% 100%;
}
.list-block ul:after {
    transform: scaleY(.5);
}
.list-block .item-title {
    -webkit-flex-shrink: 1;
    -ms-flex: 0 1 auto;
    flex-shrink: 1;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}
.list-block .item-inner:after {
    transform: scaleY(.5);
}
.list-block .item-inners:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    right: auto;
    top: auto;
    height: 1px;
    width: 100%;
    background-color: #e7e7e7;
    display: block;
    z-index: 15;
    transform-origin: 50% 100%;
}
.user-list-icon-balance {
    background-image: url(../image/ye.png);
}
.user-list-icon-coupon{
    background-image: url(../image/zd.png);
}
.user-list-icon-comment{
    background-image: url(../image/xx.png);
}
.user-list-icon-address{
    background-image: url(../image/addr.png);
}
.user-list-icon-terms{
    background-image: url(../image/ser.png);
}

.user-attention {
    position: fixed;
    bottom: 15px;
    font-size: 12px;
    color: #ccc;
}
.user-attention, .user-title {
    width: 100%;
    text-align: center;
}
.user-attention-button {
    text-decoration: underline;
    color: #c98b73;
}

.popup {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: 100%;
    z-index: 199999;
    background: #fff;
    box-sizing: border-box;
    display: none;
    overflow: auto;

}

.bar {
    right: 0;
    z-index: 10;
    height: 44px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: #f7f7f8;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.bar-nav {
    background-color: #fff;
	top:0;
}
.bar, .bar:after {
    position: absolute;
    left: 0;
}
.pull-left {
    float: left;
}
.button {
    border: 1px solid #f34336;
    color: #f34336;
    text-decoration: none;
    text-align: center;
    display: block;
    border-radius: 5px;
    line-height: 25pxrem;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background: 0 0;
    padding: 0 10px;
    margin: 0;
    height:27pxrem;
    white-space: nowrap;
    position: relative;
    text-overflow: ellipsis;
    font-size: 14px;
    font-family: inherit;
    cursor: pointer;
}
.bar .button {
    position: relative;
    top: 7px;
    z-index: 20;
    margin-top: 0;
    font-weight: 400;
}
.bar .button-link {
    top: 0;
    padding: 0;
    font-size: 16px;
    line-height: 44px;
    height: 44px;
    color: #f34336;
    border: 0;
}
.bar .button-link {
    min-width: 44px;
}
.bar .button.pull-left {
    margin-right: 10px;
}
.bar .button-nav.pull-left {
    margin-left: -10px;
}
.bar .button-nav.close {
    background: url(../image/tkc.png) no-repeat 50%;
    background-size: 50%;
}
.title {
    position: absolute;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0 -10px;
    font-size: 17px;
    font-weight: 500;
    line-height: 44px;
    color: #3d4145;
    text-align: center;
    white-space: nowrap;
	top:0;
	left::0;
}
.bar:after {
    transform: scaleY(.5);
}
.bar:after {
    content: '';
    bottom: 0;
    right: auto;
    top: auto;
    height: 1px;
    width: 100%;
    background-color: #e7e7e7;
    display: block;
    z-index: 15;
    transform-origin: 50% 100%;
}

.bar-nav~.content {
	top: 44px;
	position: absolute;
	left: 0;
	right: 0;
    bottom: 0;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	background-color: #f4f4f4;
}
.content-padded {
    margin: 10px;
}
.terms>h2 {
    font-size: 16px;
    text-align: center;
}
.terms strong, .terms>h2, .terms>h3 {
    color: #333;
}

.popup-overlay{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.4);
    z-index: 10600;
    opacity: 0;
    -webkit-transition-duration: .4s;
    transition-duration: .4s;
	visibility: hidden;
}
.popup-overlay.modal-overlay-visible{
    visibility: visible;
    opacity: 1;
}
.modal {
    width: 270px;
    position: absolute;
    z-index: 11000;
    left: 50%;
    margin-left: -135px;
    margin-top: 0;
    top: 50%;
    text-align: center;
    border-radius: 5px;
    opacity: 0;
    -webkit-transform: translateZ(0) scale(1.185);
    transform: translateZ(0) scale(1.185);
    -webkit-transition-property: -webkit-transform,opacity;
    transition-property: transform,opacity;
    color: #3d4145;
    display: none;
}
.modal.modal-in, .modal.modal-out {
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
.modal.modal-in {
	transform: translateZ(0) scale(1);
    opacity: 1;
    -webkit-transform: translateZ(0) scale(1);  
}
.modal.modal-out{
	opacity:0;
	z-index:10999;
	-webkit-transform:translateZ(0) scale(0.815);
	transform:translateZ(0) scale(0.815)
	}
.modal-inner {
    padding: 15px;
    border-radius: 7px 7px 0 0;
    position: relative;
    background: #e8e8e8;
}
.modal-no-buttons .modal-inner {
    border-radius: 7px;
}
.modal-inner {
    padding: 20px 15px;
}
.user-attention-modal {
    margin-top: 15px;
    padding: 0 10px;
}
.user-attention-modal .user-attention-title {
    margin-bottom: 10px;
    font-size: 18px;
	    height: 27px;
    line-height: 27px;
}
.user-attention-modal .user-attention-text {
    font-size: 16px;
    font-weight: 700;
	 height: 22px;
    line-height: 22px;
}
.user-attention-modal .user-attention-close {
    display: inline-block;
    height: 44px;
    width: 44px;
    text-align: right;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 14px;
    background: url(../image/close.png) no-repeat top 6px right 6px;
    background-size: 12px;
}

