@charset "utf-8";
/* CSS Document */
#header{
height: 46px;
font-size: 14px;
color: #fff;
background-color: #06c1ae;
display: -webkit-box;
display: -webkit-flex;
display: flex;

-webkit-flex-direction: row;
flex-direction: row;

-webkit-flex-wrap: wrap;
flex-wrap: wrap;

-webkit-box-align: center; 
-webkit-align-items: center;
align-items: center;
border-bottom: 1px solid #2ba399;
}


#main{ margin-top:46px; background:#f4f4f4}
.nav-part {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    background: #fff;
}
.nav-item {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: block;
    width: 0;
    font-size: 14px;
    color: #333;
    margin: 15px 0;
}
.nav-item.is-selected {
    color: #06c1ae;
}
.nav-item.is-selected>.mint-tab-item-label {
    display: inline;
    border-bottom: 4px solid #06c1ae;
    padding-bottom: 5px;
}

.mint-tab-container{
	width:100%;
    padding-bottom: 10px;
}
.explain {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 15px;
    font-size: 12px;
    color: #666;
}
.explain, .explain-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.explain-emphasisnum {
    margin: 0 5px;
    color: #ff5340;
    font-weight: 400;
}
.explain-link {
    color: #3190e8;
}
.explain-link img {
    margin-right: 5px;
    width: 12px;
    height: 12px;
}
.mint-hb{
	margin:0 10px;
	border: 1px solid #ededed;
    border-top: none;
    border-radius: 5px;
    background: #fff url(../image/border.png) repeat-x;
    background-size: 5px 5px;
	}
.hb-con{
    padding: 20px 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: 60px;
    position: relative;
}

.hb-con .left{
    width: 105px;
    height: 60px;
    color: #ff5340;
    font-size: 24px;
    text-align: center;
	line-height:60px;
	font-weight:bold;
}
.hb-con .left strong{
	font-size:48px;
	}
.hb-con .left small{
	font-size:24px;
	}
.hb-con .right{
	margin-left:20px;
}
.hb-con .right h4{
	font-size:16px;
	margin-bottom:5px;
	}
.hb-con .right ul{
    list-style: none;
}
.hb-con .right ul li{
    font-size:12px;
	position:relative;
}

.hb-msg{
    background: #f8f8f8;
    border-top: 1px dashed #ddd;
    color: #999;
    padding: 10px;
    position: relative;
	}
.hb-msg li{ font-size:12px;}

.w-change{ width:100%; height:47px; position:fixed; left:0; bottom:0;}
.w-change a{ width:50%; height:47px; line-height:47px; background:#fff; font-size:16px; float:left; text-align:center; color:#333; border-top:#eee solid 1px;}
.w-change  a.curt{
    border-left: 1px solid #eee;
}