p{margin: 0}
.step-region {
    position: relative;
    margin-bottom: 10px;
    height: 110px;
}
ul li {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 12px;
}
.ui-step .ui-step-number {
    position: relative;
    display: inline-block;
    width: 37px;
    height: 37px;
    margin: 10px 0;
    line-height: 37px;
    background: #f2f3f7;
    color: #cac9c9;
    border-radius: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 2;
}
.ui-step{
    padding: 14px 0 8px 0;
    zoom: 1;
    margin: 0 50px;
}
.ui-step-4 li{
    width: 24.9999%;
}
.ui-step li {
    float: left;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
}
.ui-step li.ui-step-done::before, .ui-step li.ui-step-done::after, .ui-step li.ui-step-done .ui-step-number {
    background: #1E9FFF;
}
.ui-step li.ui-step-done::before, .ui-step li.ui-step-done::after, .ui-step li.ui-step-done .ui-step-number {
    background: #1E9FFF;
}
.ui-step li.ui-step-done .ui-step-number {
    color: #fff;
}
.ui-step .ui-step-title {
    color: #333;
    font-size: 12px;
    line-height: 18px;
}
.ui-step .ui-step-meta {
    color: #ccc;
}
.ui-step li::before, .ui-step li::after {
    position: absolute;
    left: 0;
    top: 27px;
    display: block;
    content: ' ';
    width: 50%;
    height: 4px;
    background: #f2f3f7;
    z-index: 1;
}
.ui-step li::after {
    left: 50%;
}
.ui-step li:first-child::before {
    width: 0;
}
.ui-step li:last-child::after {
    width: 0;
}
.order-info{
    display: flex;width: 100%;margin: auto;border: 1px solid #f4f4f4;padding: 20px;
}
.order-left{
    width: 50%;border-right: 1px solid #f4f4f4;
}
.order-right{
    padding-left: 20px;
}
.o-ul{height: 40px;line-height: 40px;}
.o-title{color: #868686}
.o-mask{width: 100%;height: 100%;position: fixed;background: black;opacity: 0.5;top: 0;z-index: 9999999999999;left: 0;display: none}
.o-dialog{
    width: 40%;height: 294px;position: fixed;top:20%;background: white;border-radius: 5px;z-index: 999999999999;margin-left: 18%;display: none;
}
.dia-title{width: 100%;background: #f4f5f9;height: 50px;line-height: 50px;padding-left: 20px;border-radius: 5px 5px 0 0}
.dia-title .icon-delete1{position: absolute;left: 95%;color: #868686}
.dia-input{width: 100%;padding-top: 20px;}
.dia-footer{width: 100%;height: 50px;line-height: 50px;background: #f4f5f9;text-align: center;border-radius: 0 0 5px 5px}
.layui-layer-dialog{z-index: 999999999999999999999!important;}
.addRemark{cursor: pointer;color: #1E9FFF;}