{template 'public/header'}
{template 'public/comhead'}
<link rel="stylesheet" type="text/css" href="../addons/zhls_sun/template/public/ygcss.css">
<ul class="nav nav-tabs">    
    <span class="ygxian"></span>
    <div class="ygdangq">当前位置:</div>
   <li class="active"><a href="javascript:void(0);">自定义图标</a></li>
</ul>
<div class="main">
    <form action="" method="post" class="form-horizontal form" enctype="multipart/form-data">
        <!--<input type="hidden" name="parentid" value="{$parent['id']}" />-->
        <div class="panel panel-default ygdefault">
            <div class="panel-heading wyheader">
                自定义图标
            </div>
            <div class="panel-body">

                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">在线预约logo</label>
                    <div class="col-sm-9">
                        {php echo tpl_form_field_image('zaixian', $item['zaixian'])}
                        <span class="help-block">*建议比例 1:1</span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">在线服务logo</label>
                    <div class="col-sm-9">
                        {php echo tpl_form_field_image('mianfei', $item['mianfei'])}
                        <span class="help-block">*建议比例 1:1</span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">付费咨询logo</label>
                    <div class="col-sm-9">
                        {php echo tpl_form_field_image('fufei', $item['fufei'])}
                        <span class="help-block">*建议比例 1:1</span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">电话预约logo</label>
                    <div class="col-sm-9">
                        {php echo tpl_form_field_image('dianhua', $item['dianhua'])}
                        <span class="help-block">*建议比例 1:1</span>
                    </div>
                </div>
               
            </div>

        </div>

        <div class="form-group">
            <input type="submit" name="submit" value="提交" class="btn col-lg-3" style="color: white;background-color: #444444;margin-left: 550px;"/>
            <input type="hidden" name="token" value="{$_W['token']}" />
            <input type="hidden" name="id" value="{$item['id']}" />
        </div>
    </form>
</div>
<script type="text/javascript">
    $(function(){
        $("#frame-12").show();
        $("#yframe-12").addClass("wyactive");
    })
</script>