{template 'public/header'}
{template 'public/comhead'}
<link rel="stylesheet" type="text/css" href="../addons/zhls_sun/template/public/ygcss.css">
<style type="text/css">
    /*#frame-5{display: block;visibility: visible;}*/
  .yg_inp>input{margin-bottom: 10px;}
</style>
<ul class="nav nav-tabs">    
    <span class="ygxian"></span>
    <div class="ygdangq">当前位置:</div>
    <li><a href="{php echo $this->createWebUrl('ddgl')}">订单管理</a></li>
    <li class="active"><a href="javascript:void(0);">添加/编辑订单</a></li>
</ul>
<div class="main">
    <form action="" method="post" class="form-horizontal form" enctype="multipart/form-data" id="invitative">
        <div class="panel panel-default ygdefault">
            <div class="panel-heading wyheader">
                订单管理&nbsp;>&nbsp;添加/编辑订单
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">订单号</label>
                    <div class="col-sm-9">
                        <input type="text" name="order_num" value="{$item['order_num']}" id="web_name" class="form-control" readonly/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">下单时间</label>
                    <div class="col-sm-9">
                        <input type="text" name="time" value="{$item['addtime']}" id="web_name" class="form-control" readonly/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">客户姓名</label>
                    <div class="col-sm-9">
                        <input type="text" name="user_name" value="{$item['user_name']}" id="web_name" class="form-control" readonly/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">客户电话</label>
                    <div class="col-sm-9">
                        <input type="text" name="tel" value="{$item['tel']}" id="web_name" class="form-control" readonly/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">价格</label>
                    <div class="col-sm-9">
                        <input type="text"  onkeyup="value=value.replace(/[^\d.]/g,'')" name="money" value="{$item['money']}" id="web_name" class="form-control" readonly/>
                    </div>
                </div>
               <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">选择项目</label>
                    <div class="col-sm-9">
                        <input type="text" name="pname" value="{$item['pname']}" id="web_name" class="form-control" readonly/>
                    </div>
                </div>
               <!--   <div class="form-group">
                  <label class="col-xs-12 col-sm-3 col-md-2 control-label">商品规格</label>
                  <div class="col-sm-9">
                      <input type="text" name="good_spec" value="{$item['good_spec']}" id="web_name" class="form-control" readonly/>
                  </div>
                               </div> -->
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">备注</label>
                    <div class="col-sm-9">
                        <input type="text" name="note" value="{$item['remark']}" id="web_name" class="form-control" readonly/>
                    </div>
                </div>



                
                 <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">状态</label>
                    <div class="col-sm-9">
                            <select name="isdefault" class="col-md-4">
                            {if $item['isdefault']==0}
                            <option value="0" selected>进行中</option>
                            <option value="1" >已完成</option>
                            {/if}
                                {if $item['isdefault']==1}
                                <option value="0" >进行中</option>
                                <option value="1" selected>已完成</option>
                                {/if}
                            </select>
                    </div>
                </div>

            </div>
        </div>
        
       
        <div class="form-group">
        <!--<input type="submit" value="确认编辑" class="btn col-lg-3" style="color: white;background-color: #444444;margin-left: 550px;">-->
          <input class="btn col-lg-3 col-lg-push-1" style="color: white;background-color: #444;margin-left: 500px;" type="submit" name="submit" value="修改" />
            <input type="hidden" name="token" value="{$_W['token']}" />
            <input type="hidden" name="id" value="{$item['id']}" />

        </div>
    </form>
</div>
<script type="text/javascript">
    $(function(){
        $("#frame-7").show();
        $("#yframe-7").addClass("wyactive");
    })
</script>