{template 'public/header'}
{template 'public/comhead'}
<link rel="stylesheet" type="text/css" href="../addons/zhls_sun/template/public/ygcss.css">
<ul class="nav nav-tabs">    
    <span class="ygxian"></span>
    <div class="ygdangq">当前位置:</div>
    <li class="active"><a href="javascript:void(0);">小程序设置</a></li>
</ul>
<div class="main">
    <form action="" method="post" class="form-horizontal form" enctype="multipart/form-data" id="invitative">
        <div class="panel panel-default ygdefault">
            <div class="panel-heading wyheader">
                系统设置&nbsp;>&nbsp;小程序设置
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">小程序appid：</label>
                    <div class="col-sm-9">
                        <input type="text" name="appid" value="{$item['appid']}" id="web_name" class="form-control" style="width: 740px;"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">小程序appsecret：</label>
                    <div class="col-sm-9">
                        <input type="text" name="appsecret" value="{$item['appsecret']}" id="web_name" class="form-control"  style="width: 740px;"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">小程序支付商户号：</label>
                    <div class="col-sm-9">
                        <input type="text" name="mchid" value="{$item['mchid']}" id="web_name" class="form-control"  style="width: 740px;"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">小程序支付Api密钥：</label>
                    <div class="col-sm-9">
                        <input type="text" name="wxkey" value="{$item['wxkey']}" id="web_name" class="form-control"  style="width: 740px;"/>
                        <span class="help-block" style="color:red">*请输入微信支付商户后台32位API密钥</span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">apiclient_cert.pem: <span style="color: red;">{if $item['apiclient_cert']}(已上传){/if}</span></label>
                    <div class="col-sm-9">
                        <input type="file"  class="form-control"  style="width: 740px;" name="apiclient_cert" id="file" />
                    </div>

                </div>

                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">apiclient_key.pem<span style="color: red;">{if $item['apiclient_key']}(已上传){/if}</span></label>
                    <div class="col-sm-9">
                        <input type="file"  class="form-control" value="{$item['apiclient_key']}"  style="width: 740px;" name="apiclient_key" id="file" />
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <input type="submit" name="submit" value="提交" class="btn col-lg-3" style="color: white;background-color: #444444;margin-left: 450px;" />
            <input type="hidden" name="token" value="{$_W['token']}" />
            <input type="hidden" name="id" value="{$item['id']}" />
            <input type="hidden" name="url_name" value="{$item['url_name']}" />
        </div>
    </form>
</div>
<script type="text/javascript">
    $(function(){
        $("#frame-12").show();
        $("#yframe-12").addClass("wyactive");
    })
</script>