{template 'public/header'}

{template 'public/comhead'}
<link rel="stylesheet" type="text/css" href="../addons/zhls_sun/template/public/ygcss.css">
<ul class="nav nav-tabs">    
    <span class="ygxian"></span>
    <div class="ygdangq">当前位置:</div>
    <li class="active"><a href="javascript:void(0);">拼车信息</a></li>
    <li><a href="{php echo $this->createWebUrl('carinfo');}"><i class="fa fa-refresh"></i>返回拼车审核</a></li>
</ul>
<div class="main">
    <form action="" method="post" class="form-horizontal form" enctype="multipart/form-data">

        <!--<input type="hidden" name="parentid" value="{$parent['id']}" />-->

        <div class="panel panel-default ygdefault">

            <div class="panel-heading wyheader">

                拼车信息

            </div>

            <div class="panel-body">

                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">联系人</label>
                    <div class="col-sm-9">
                        <input type="text" name="link_name" class="form-control" value="{$info['link_name']}" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">联系电话</label>
                    <div class="col-sm-9">
                        <input type="text" name="link_tel" class="form-control" value="{$info['link_tel']}" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">分类名称</label>
                    <div class="col-sm-9">
                        <input type="text" name="typename" class="form-control" value="{$info['typename']}" />
                    </div>
                </div>
              
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">出发地</label>
                    <div class="col-sm-9">
                        <input type="text" name="start_place" class="form-control" value="{$info['start_place']}" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">目的地</label>
                    <div class="col-sm-9">
                        <input type="text" name="end_place" class="form-control" value="{$info['end_place']}" />
                    </div>
                </div>
                {if $info['typename']=='人找车'}
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">乘车人数</label>
                    <div class="col-sm-9">
                        <input type="text" name="num" class="form-control" value="{$info['num']}" />
                    </div>
                </div>
                {elseif $info['typename']=='车找人'} 
                  <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">可乘人数</label>
                    <div class="col-sm-9">
                        <input type="text" name="num" class="form-control" value="{$info['num']}" />
                    </div>
                </div>
                {elseif $info['typename']=='货找车'} 
                  <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">车辆数量</label>
                    <div class="col-sm-9">
                        <input type="text" name="num" class="form-control" value="{$info['num']}" />
                    </div>
                </div>
                 <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">途经地</label>
                    <div class="col-sm-9">
                        <input type="text" name="tj_place" class="form-control" value="{$info['tj_place']}" />
                    </div>
                </div>
                {/if}
                {if $info['typename']=='车找货'}
                 <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">货物重量</label>
                    <div class="col-sm-9">
                        <input type="text" name="hw_wet" class="form-control" value="{$info['hw_wet']}" />
                    </div>
                </div>
                {/if}
                <div class="form-group">
                           <label class="col-xs-12 col-sm-3 col-md-2 control-label">所属城市</label>
                           <div class="col-sm-10">
                              <input type="text" name="cityname" value="{$info['cityname']}" class="form-control" id="inputEmail3">
                          </div>
                 </div> 

          <!--   <div class="form-group">
                  <label for="lastname" class="col-sm-2 control-label">是否置顶</label>
                  <div class="col-sm-10">
                       <label class="radio-inline">
                          <input type="radio" name="top" value="1" {if $info['top']==1 || empty($info['top'])}checked{/if} />是
                      </label>
                      <label class="radio-inline">
                          <input type="radio" name="top" value="2" {if $info['top']==2}checked{/if} />否
                      </label>
                  </div>
          </div> -->
         
            <div class="form-group">
                <label class="col-xs-12 col-sm-3 col-md-2 control-label">发布时间</label>
                <div class="col-sm-10">
                    <input type="text"  value="{php echo date('Y-m-d H:i:s',$info['time'])}" class="form-control" id="inputEmail3" readonly>
                </div>
            </div>
            <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">补充说明</label>
                <div class="col-sm-10">
                  <textarea name="other" class="form-control" placeholder="请输入补充说明" cols="30" rows="7">{$info['other']}</textarea>
              </p>
          </div>
      </div>
         
            </div>

        </div>

        <div class="form-group">

            <input type="submit" name="submit" value="修改" class="btn col-lg-3" style="color: white;background-color: #444444;"/>

            <input type="hidden" name="token" value="{$_W['token']}" />
             <input type="hidden" name="id" value="{$info['id']}" />

        </div>

    </form>

</div>
<script type="text/javascript">
    $(function(){
        $("#frame-2").show();
        $("#yframe-2").addClass("wyactive");
    })
</script>