{template 'public/header'}

{template 'public/comhead'}
<link rel="stylesheet" type="text/css" href="../addons/zhls_sun/template/public/ygcss.css">
<ul class="nav nav-tabs">
    <span class="ygxian"></span>
    <div class="ygdangq">当前位置:</div>
    <li class="active"><a href="javascript:void(0);">首页弹窗</a></li>
    <li><a href="{php echo $this->createWebUrl('indexopen')}">首页弹窗管理</a></li>
</ul>
<div class="main">
    <form action="" method="post" class="form-horizontal form" enctype="multipart/form-data">
        <!--<input type="hidden" name="parentid" value="{$parent['id']}" />-->
        <div class="panel panel-default ygdefault">
            <div class="panel-heading wyheader">
                首页弹窗信息
            </div>
            <div class="panel-body">

                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">弹窗链接1</label>
                    <div class="col-sm-9">
                        <input type="text" name="path1" class="form-control" value="{$info['path1']}" placeholder="这个选择填写"/>

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">弹窗图1</label>
                    <div class="col-sm-9">
                        {php echo tpl_form_field_image('img1', $img1);}
                        <span class="help-block">*建议宽 710</span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">弹窗链接2</label>
                    <div class="col-sm-9">
                        <input type="text" name="path2" class="form-control" value="{$info['path2']}" placeholder="这个选择填写"/>

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">弹窗图2</label>
                    <div class="col-sm-9">
                        {php echo tpl_form_field_image('img2', $img2);}
                        <span class="help-block">*建议宽 710</span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">弹窗链接3</label>
                    <div class="col-sm-9">
                        <input type="text" name="path3" class="form-control" value="{$info['path3']}" placeholder="这个选择填写"/>

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">弹窗图3</label>
                    <div class="col-sm-9">
                        {php echo tpl_form_field_image('img3', $img3);}
                        <span class="help-block">*建议宽 710</span>
                    </div>
                </div>
            </div>
        </div>





        <div class="form-group">
            <input type="submit" name="submit" value="提交" class="btn col-lg-3" style="color: white;background-color: #444444;margin-left: 550px;"/>
            <input type="hidden" name="token" value="{$_W['token']}" />
            <input type="hidden" name="id" value="{$info['id']}" />
        </div>
    </form>
</div>
<script type="text/javascript">
    $(function(){
        $("#frame-12").show();
        $("#yframe-12").addClass("wyactive");
    })
</script>