{template 'public/header'}

{template 'public/comhead'}

<link rel="stylesheet" type="text/css" href="../addons/ymktv_sun/template/public/ygcss.css">

<ul class="nav nav-tabs">
    <span class="ygxian"></span>
    <div class="ygdangq">当前位置:</div>
    <li><a href="{php echo $this->createWebUrl('kanjiaopen')}">砍价设置</a></li>
    <li ><a href="{php echo $this->createWebUrl('bargainlist')}">砍价商品列表</a></li>
    <li class="active"><a href="{php echo $this->createWebUrl('bargain', array('type2_id' => $son['id']))}">添加砍价商品</a></li>
</ul>
<div class="main ygmain">
    <form action="" method="post" class="form-horizontal form" enctype="multipart/form-data">
        <div class="panel panel-default ygdefault">

            <div class="panel-heading wyheader">

                砍价商品信息

            </div>

            <div class="panel-body">

                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">商品名称</label>
                    <div class="col-sm-9">
                        <input type="text" name="gname" class="form-control" value="{$info['gname']}" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">商品原价</label>
                    <div class="col-sm-9">
                        <input type="text" name="goods_cost" class="form-control" value="{$info['marketprice']}" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">最低砍价</label>
                    <div class="col-sm-9">
                        <input type="text" name="goods_price" class="form-control" value="{$info['shopprice']}" />
                    </div>
                </div>

                <script>
                    $(function () {
                        // 分店数据
                        $.post("{php echo $this->createWebUrl('checked')}",function (res) {
                            var list= '';
                            var sids = {php echo empty($sids) ? []:json_encode($sids)} ;
                            $.each(JSON.parse(res),function (k,v) {
                                // console.log(res);
                                var html= '';
                                html =  '<label class="col-xs-12 col-sm-1 control-label check check'+k+'" style="display: none">'+v[0].b_name+'</label>' +
                                    '<div class="col-sm-9 check check'+k+'"  style="width: 150px;display: none">' +
                                    '<select class="select-btn" name="sid[]" id="sid" style="width: 95px;">'
                                $.each(v,function (kk,vv) {
                                    html += "<option sid='"+sids[k]+"' value='"+vv.sid+"'>"+vv.servies_name+"</option>"
                                });
                                html += '</select>' +
                                    '</div>';
                                list+=html;
                            })
                            $('.buildings').find('div').append(list);
                            getlist();
                            getselect();

                        })
                        $('body').on('click','.build',function () {
                            $(this).toggleClass('selectActive');
                            getlist();
                        })
                    })
                    // 默认选中以保存数据
                    function getselect() {
                        $("select[name='sid[]']").each(function () {
                            $(this).find('option').each(function () {
                                var sid = $(this).attr('sid');
                                if($(this).val() == sid){
                                    $(this).attr('selected',true);
                                }
                            })
                        })
                    }

                    function getlist() {
                        $(".check").hide();//隐藏全部的
                        $(".check").find("select").attr('name','22333')
                        $('.selectActive').each(function () {
                            //显示选中
                            var k =$(this).attr('k');
                            $('.check'+k).show();
                            $('.check'+k).find("select").attr('name','sid[]')
                        })
                    }

                </script>

                <div class="form-group" style="display:none;">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label"> 分店选择</label>
                    <div class="col-sm-9" style="font-size: 16px;">
                        {loop $build $index $item}
                        <input  type="checkbox" class="build selectActive" k="{$item['id']}"  style="width: 15px;height: 15px;" name="build_id[]" value="{$item['id']}" checked><span>{$item['b_name']}</span>
                        {/loop}
                    </div>
                </div>

                <div class="form-group buildings" style="width: 90%;margin-left: 15px;">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">服务人员</label>
                    <div></div>
                </div>

                <!--<div class="form-group">-->
                    <!--<label class="col-xs-12 col-sm-3 col-md-2 control-label">服务员</label>-->
                    <!--<div class="col-sm-9">-->
                        <!--<select name="sid" id="" style="width: 100px;">-->
                            <!--{loop $servies $index $item}-->
                            <!--<option value="{$item['sid']}" {if $info['sid']==$item['sid']}selected{/if}>{$item['servies_name']}</option>-->
                            <!--{/loop}-->
                        <!--</select>-->
                    <!--</div>-->
                <!--</div>-->

                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">推荐到首页</label>
                    <div class="col-sm-9">
                        <label class="radio-inline">
                            <input type="radio" id="emailwy1" name="showindex" value="1" {if $info['showindex']==1}checked{/if} />
                            <label for="emailwy1">是</label>
                        </label>
                        <label class="radio-inline">
                            <input type="radio" id="emailwy2" name="showindex" value="0" {if $info['showindex']==0}checked{/if} />
                            <label for="emailwy2">否</label>
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">砍价件数</label>
                    <div class="col-sm-9">
                        <input type="text" name="num" class="form-control" value="{$info['num']}" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">排序</label>
                    <div class="col-sm-9">
                        <input type="number" name="sort" required="required" class="form-control" value="{$info['sort']}" placeholder="数字越大，排越前面"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">活动开始时间</label>
                    <div class="col-sm-9">
                        <input type="text" class="layui-input" name="starttime" value="{$info['starttime']}" id="astime" placeholder="yyyy-MM-dd H:i:s">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">活动结束时间</label>
                    <div class="col-sm-9">
                        <input type="text" class="layui-input" name="endtime" value="{$info['endtime']}" id="antime" placeholder="yyyy-MM-dd H:i:s">
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">砍价详情内容</label>
                    <div class="col-sm-9">
                        {php echo tpl_ueditor('content',$info['content']);}
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">商品主图</label>
                    <div class="col-sm-9">
                        {php echo tpl_form_field_image('pic', $info['pic']);}
                        <span class="help-block">*建议比例 710:250</span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">包间轮播图</label>
                    <div class="col-sm-9">
                        {php echo tpl_form_field_multi_image('lb_imgs',$lb_imgs);}
                        <span class="help-block">*图片建议比例 宽:750 高:360 </span>
                    </div>
                </div>


            </div>
        </div>
        <div class="form-group">

            <input type="submit" name="submit" value="保存设置" class="btn col-lg-3" style="color: white;background-color: #444444;margin-left: 550px;"/>

            <input type="hidden" name="token" value="{$_W['token']}" />
            <input type="hidden" name="id" value="{$info['id']}" />

        </div>

    </form>

</div>
<script type="text/javascript">
    $(function(){
        $("#frame-9").show();
        $("#yframe-9").addClass("wyactive");
    })
</script>

<script type="text/javascript">

    layui.use('laydate', function () {
        var laydate = layui.laydate;
        laydate.render({
            elem: '#astime',
            type: 'datetime'
        });
        laydate.render({
            elem: '#antime',
            type: 'datetime'
        });
    });

    layui.use('form', function () {
        var form = layui.form;
        form.render();
        form.on('radio(type)', function (data) {
            if (this.value == 1) {
                $('#cash').hide()
                $('#discount').show()
            } else {
                $('#discount').hide()
                $('#cash').show()
            }
        })

    });
</script>