{template '_header_base'}
<style>
    .deg180{
        transform:rotate(180deg);
        -ms-transform:rotate(180deg); 	/* IE 9 */
        -moz-transform:rotate(180deg); 	/* Firefox */
        -webkit-transform:rotate(180deg); /* Safari 和 Chrome */
        -o-transform:rotate(180deg); 	/* Opera */
    }

    .nav.navbar-right {
        width:90px !important;
    }

</style>
<div class="navbar-collapse collapse" id="navbar">
    {php $routes = explode(".", $GLOBALS['_W']['routes']);}
    {if $routes[0] != 'system' }
    <ul class="nav navbar-nav gray-bg">

        <li {if $_W['controller']=='shop'} class="active"{/if}><a href="{php echo webUrl()}">首页</a></li>
        {ifp 'goods'}<li {if $_W['controller']=='goods'} class="active"{/if}><a href="{php echo webUrl('goods')}"> 商品</a></li>{/if}
        {ifp 'member'}<li {if $_W['controller']=='member'} class="active"{/if}><a href="{php echo webUrl('member')}"> 会员</a></li>{/if}
        {ifp 'order'}<li {if $_W['controller']=='order'} class="active"{/if}><a href="{php echo webUrl('order')}"> 订单</a></li>{/if}

        {if p('newstore')}
        {ifp 'store'}<li {if $_W['controller']=='store'} class="active"{/if}><a href="{php echo webUrl('store/statistic')}"> 门店</a></li>{/if}
        {else}
        {ifp 'store'}<li {if $_W['controller']=='store'} class="active"{/if}><a href="{php echo webUrl('store')}"> 门店</a></li>{/if}
        {/if}
        {if com('sale') || com('coupon')}
        {ifp 'sale'}<li {if $_W['controller']=='sale'} class="active"{/if}><a href="{php echo webUrl('sale')}">营销</a></li>{/if}
        {/if}
        {ifp 'finance'}<li {if $_W['controller']=='finance'} class="active"{/if}><a href="{php echo webUrl('finance')}"> 财务</a></li>{/if}

        {ifp 'statistics.sale'}<li {if $_W['controller']=='statistics'} class="active"{/if}><a href="{php echo webUrl('statistics')}">数据</a></li>{/if}
        {ifp $this->isOpenPlugin()}<li {if $_W['controller']=='plugins' || !empty($_W['plugin'])} class="active"{/if}><a href="{php echo webUrl('plugins')}">应用</a></li>{/if}

        {if p('diypage') && !empty($_W['shopset']['diypage']['setmenu'])}<li><a href="{php echo webUrl('diypage')}"> 页面</a></li>{/if}


        {ifp 'sysset'}<li {if $_W['controller']=='sysset'} class="active"{/if}><a href="{php echo webUrl('sysset')}"> 设置</a></li>{/if}

    </ul>
    <ul class="nav navbar-top-links navbar-right">
        <li class="dropdown">
            <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown" style="position:relative;" onclick="$(this).find('span').toggleClass('deg180')">
                <name style="width: 80px;white-space:nowrap;overflow:hidden;text-overflow: ellipsis;display: block;text-align: center">{$_W['uniaccount']['name']}</name>
                <span class="caret" style="position: absolute;top: 22px;right: 12px;"></span></a>
            <ul role="menu" class="dropdown-menu">
                <li><a href="{php echo webUrl('sysset/account')}"><i class="icon icon-similar"></i>  切换公众号</a></li>
                {if $_W['role'] == 'manager' || $_W['role'] == 'founder'}
                <li><a href="./index.php?c=account&a=post&uniacid={$GLOBALS['_W']['uniacid']}&acid={$GLOBALS['_W']['acid']}" target="_blank"><i class="icon icon-wechat"></i>  编辑公众号</a></li>
                <li><a href="{php echo webUrl('sysset/payset')}"><i class="icon icon-pay"></i>  支付方式</a></li>
                <li><a href="./index.php?c=utility&a=emulator&" target="_blank"><i class="icon icon-machinery"></i>  模拟测试</a></li>
                {/if}

                {ifp 'perm'}
                <li class="divider"></li>
                <li><a href="{php echo webUrl('perm')}"><i class="icon icon-person2"></i> 权限管理</a></li>
                {/if}
                {if $_W['role'] == 'founder'}
                <li class="divider"></li>
                <li><a href="{php echo webUrl('system/plugin/apps')}" style="color: red;"><b><i class="icon icon-app"></i> 应用中心</b></a></li>
                {if p("grant")}
                <li><a href="{php echo webUrl('plugingrant')}"><i class="icon icon-assessedbadge"></i> 应用授权</a></li>
                {/if}
                <li><a href="{php echo webUrl('system')}"><i class="icon icon-settings"></i> 系统管理</a></li>
                <li><a href="{php echo webUrl('system/auth/upgrade')}"><i class="icon icon-down"></i> 系统更新</a></li>
                {/if}
                <li><a href="./index.php?c=user&a=profile&" target="_blank"><i class="icon icon-lock"></i>  修改密码</a></li>
                <li><a href="./index.php?c=account&a=display&" target="_blank"><i class="icon icon-back"></i>  返回系统</a></li>
            </ul>
        </li>
    </ul>
    {else}
    <ul class="nav navbar-nav    gray-bg">

        <!--<li {if $_W['current_menu']==''} class="active"{/if}><a href="{php echo webUrl('system')}"> 首页</a></li>-->
        <li {if $_W['current_menu']=='plugin'} class="active"{/if}><a href="{php echo webUrl('system/plugin')}"> 应用</a></li>
        <li {if $_W['current_menu']=='copyright'} class="active"{/if}><a href="{php echo webUrl('system/copyright')}">版权</a></li>
        <li {if $_W['current_menu']=='data'} class="active"{/if}><a href="{php echo webUrl('system/data')}">数据</a></li>
        <li {if $_W['current_menu']=='site'} class="active"{/if}><a href="{php echo webUrl('system/site')}">网站</a></li>
        <li {if $_W['current_menu']=='auth'} class="active"{/if}><a href="{php echo webUrl('system/auth')}">授权</a></li>
    </ul>
    <ul class="nav navbar-top-links navbar-right" style="width: 120px !important;">
        <li>
            <a  href="{php echo webUrl()}" > 返回商城</a>
        </li>
    </ul>
    {/if}
        <a class="switch-version" title="体验新版" href="{php echo webUrl('switchversion', array('route'=>$_GET['r'], 'id'=>$_GET['id']))}">体验新版</a>
</div>
</nav>
</div>
<div class='wrapper main-wrapper wrapper-content '>
    {if $no_left}
    <div class="page-content" style="width:1000px">
        {else}
        <div class="page-menubar">
            {php echo $this->frame_menus()}
        </div>
        <div class="page-content">
            {/if}
        
