/*common*/
.clearfix{clear:both}
.f-left{float:left}
.f-right{float:right}
a{text-decoration:none;}
a:hover{text-decoration:none;}
li{list-style-type:none;}
input,img{border:none;}
i{font-style:normal;}
h2,h3,h4,h5{margin:0;}

.whole{width: 1100px;margin:0 auto;height:100%;}
.search_frame{margin-top:80px;overflow:hidden;border-bottom:solid 1px #dfdfdf;}
.search_frame dl{display:block;float:left;overflow:hidden;}
.search_frame .search_left dt,.search_frame .search_left dd,.search_frame .search_left dd {margin-top:30px;margin-bottom:0;display:block;float:left;font-size:14px;}
.search_frame .search_left dd{margin-right:8px;}
.search_frame .search_left dd a{color:#1faeff;}
.search_frame .search_left dd a:hover{text-decoration:underline;}
.landmark_frame dd.red{color:#e40213;}
.search_frame .search_right{float:right;margin-top:26px;margin-bottom: 0;}
.search_right dd{display:block;float:left;}
.search_right .input_text input[type="text"]{display:block;width:325px;border:solid 1px #dfdfdf;border-radius:3px 0px 0px 3px;padding-left:5px;line-height:33px;}
.search_right .input_btn input[type="submit"]{width:80px;height:37px;background:#1faeff;color:#fff;border-radius:0px 3px 3px 0px;cursor:pointer;}

/*地标*/
.landmark_frame{overflow:hidden;}
.landmark_frame dl dt,.landmark_frame dl dd,.landmark_frame dl dd a{display:block;float:left;line-height:40px;}

/*内容*/
.content_frame{}
.content_left{float:left;width: 18%;color: #fff;}
.content_left .problem{}
.content_left .problem h4{line-height:42px;color: #ffff;background: #0a7bc2;text-align: center;}
.content_left .problem ul{padding:0; margin-bottom: 0;display: none; background: #e0f5fd;}
.content_left .problem ul.show{display: block;}
.content_left .problem ul.show li.active{border: 1px solid #ccc;border-right: none;background:#fff;}
.content_left .problem ul li{text-align:center;line-height: 38px;}
.content_left .problem ul li:hover{border: 1px solid #8C8C8C;border-right: none;}
.content_left .problem h3,.nav01{ font-size:15px;line-height:38px;padding-left:10%;cursor: pointer;}
.nav01{ border-bottom: 2px solid #fff;text-align:center;    background: #00c0ff;}
.nav01 i{display:block;float:right;width:20px;height:20px;margin-top:10px;margin-right:10px;}


/*右侧内容*/
.content_right{float:left;width: 80%;margin-left: 2%;}
.content_right ul{padding:0;}
.content_right ul li{}
.content_right ul li a{color: #323232;font-size: 15px;}
.cont_list{margin-top:10px;}
.content_right h3{
	display:block;
	font-size:22px;	
	border-bottom:solid 1px #ccc;
	line-height:44px;
	margin-top:-10px;
	}
.content_right h3 i{padding-right:8px;}
.cont_list li{display:block;line-height:35px;}
.cont_list li a{display:block;background:url(../images/dot_01.jpg) no-repeat left center;padding-left:24px;}
.cont_list li a:hover{background:url(../images/dot_02.jpg)no-repeat left center;color:#1faeff;}
.pagenavi span,.pagenavi a{color:#646464;display:block;float:left;padding:0 12px 0 12px;line-height:30px;background-color:#f4f4f4;margin-right:5px;}
.pagenavi .current{background-color:#1faeff;color:#fff;border-radius:2px;font-family:"Arial";font-size:14px;}
.pagenavi a:hover{background-color:#0075b8;color:#fff;border-radius:2px;cursor:pointer;}
.pagenavi{margin:20px 0;}




@media screen and (max-width:1080px){
	.whole{width:92%;margin:0 4%;height:auto;}
	.content_right h3{font-size:28px;line-height:55px;}
	.top_fram{width:92%;margin:0 4%;}
	/*.top_fram .pic{width:68%;height:auto;margin-top:10px;}
	.top_fram .pic img{width:50%;height:50%;background-size:100% 100%;}*/
	.top_fram .answer a{font-size:18px;}
	
	.search_frame .search_left{display:none;}
	.search_frame .content_left{position:fixed;display:none;width:100%;height:100%;background-color:rgba(0,0,0,0.8);left:-200px;top:0;}
	.search_frame .search_right{float:none;width:100%;margin-bottom:12px;}
	.search_right .input_text{width:70%;}
	.search_right .input_btn{width:30%;}
	.search_right .input_text input[type="text"]{width:100%;font-size:20px;}
	.search_right .input_btn input[type="button"]{width:100%;font-size:20px;}
	
	.landmark_frame dl{padding:10px 0;}
	.landmark_frame dt,.landmark_frame dd,.landmark_frame dd a{font-size:20px;}
	.cont_list li a b{font-size:20px;}
	
	.content_right{width:100%;margin-left:0px;}
	.content_right .cont_list li a{font-size:20px;}
	.close_open{display:block;}
	
	/*.content_left{display:block;float:none;position:fixed;left:-200px;top:0px;background-color:rgba(0,0,0,0.8);}*/
	/*.pagenavi span,.pagenavi a{font-size:20px;padding:0 15px;line-height:36px;}*/
	
	/*视频专区*/
	.content_video_left,.content_video_right{display:block;float:none;}
	.content_video_right{width:100%;margin-left:0;margin-bottom:20px;background-size:100% 100%;}
	.content_video_right ul li a{font-size:20px;}
	
	.content_video_left{width:100%;height:auto;background-size:100% 100%;}
	.video_cont .video_cont_ul{width:100%;height:auto;}
	.video_cont .video_cont_ul li{width:48%;height:auto;background-size:100% 100%;margin-right:2%;}
	.video_cont .video_cont_ul li a{width:100%;margin-bottom:5%;}
	.video_cont .video_cont_ul li h4{font-size:12px;}
	.video_cont h2 .video_rightA{font-size:20px;}
	
	.video_top iframe{width:100%;height:auto;}
	
	/*点击播放*/
	.video_bofang{width:100%;height:100%;background-size:100% 100%;}
	.video_bofang .video_frame{display:block;width:auto;height:auto;margin-top:50%;}
	.video_bofang iframe{width:100%;height:100%;}
}

@media screen and (max-width:1024px){
	.whole{width:92%;margin:0 4%;height:auto;}
	.content_right h3{font-size:28px;line-height:55px;}
	.top_fram{width:92%;margin:0 4%;}
	.top_fram .pic{width:68%;height:auto;margin-top:10px;}
	.top_fram .pic img{width:80%;height:auto;background-size:100% 100%;}
	.top_fram .answer a{font-size:18px;}
	
	.search_frame .search_left{display:none;}
	.search_frame .search_right{float:none;width:100%;margin-bottom:12px;}
	.search_right .input_text{width:70%;}
	.search_right .input_btn{width:30%;}
	.search_right .input_text input[type="text"]{width:100%;font-size:20px;}
	.search_right .input_btn input[type="button"]{width:100%;font-size:20px;}
	
	.landmark_frame dl{padding:10px 0;}
	.landmark_frame dt,.landmark_frame dd,.landmark_frame dd a{font-size:20px;}
	.cont_list li a b{font-size:20px;}
	
	.content_right{width:100%;margin-left:0px;}
	.content_right .cont_list li a{font-size:20px;}
	.close_open{display:block;}
	
	.content_left{display:block;float:none;position:fixed;left:-200px;top:0px;}
	/*.pagenavi span,.pagenavi a{font-size:20px;padding:0 15px;line-height:36px;}*/
	
	/*视频专区*/
	.content_video_left,.content_video_right{display:block;float:none;}
	.content_video_right{width:100%;margin-left:0;margin-bottom:20px;background-size:100% 100%;}
	.content_video_right ul li a{font-size:20px;}
	
	.content_video_left{width:100%;height:auto;background-size:100% 100%;}
	.video_cont .video_cont_ul{width:100%;height:auto;}
	.video_cont .video_cont_ul li{width:48%;height:auto;background-size:100% 100%;margin-right:2%;}
	.video_cont .video_cont_ul li a{width:100%;margin-bottom:5%;}
	.video_cont .video_cont_ul li h4{font-size:12px;}
	.video_cont h2 .video_rightA{font-size:20px;}
	
	.video_top iframe{width:100%;height:auto;}
	
	/*点击播放*/
	.video_bofang{width:100%;height:100%;background-size:100% 100%;}
	.video_bofang .video_frame{display:block;width:auto;height:auto;margin-top:50%;}
	.video_bofang iframe{width:100%;height:100%;}
}
@media screen and (max-width:720px){
	.whole{width:92%;margin:0 4%;height:auto;}
	.content_right h3{font-size:28px;line-height:55px;}
	.top_fram{width:92%;margin:0 4%;}
	.top_fram .pic{width:68%;height:auto;margin-top:15px;}
	.top_fram .pic img{width:100%;height:100%;background-size:100% 100%;}
	.top_fram .answer a{font-size:18px;}
	
	.search_frame .search_left{display:none;}
	.search_frame .search_right{float:none;width:100%;margin-bottom:12px;}
	.search_right .input_text{width:70%;}
	.search_right .input_btn{width:30%;}
	.search_right .input_text input[type="text"]{width:100%;font-size:20px;}
	.search_right .input_btn input[type="button"]{width:100%;font-size:20px;}
	
	.landmark_frame dl{padding:10px 0;}
	.landmark_frame dt,.landmark_frame dd,.landmark_frame dd a{font-size:20px;}
	.cont_list li a b{font-size:20px;}
	
	.content_right{width:100%;margin-left:0px;}
	.content_right .cont_list li a{font-size:20px;}
	.close_open{display:block;}
	
	.content_left{display:block;float:none;position:fixed;left:-200px;top:0px;}
	.pagenavi{margin-left:0px;}
	/*.pagenavi span,.pagenavi a{font-size:20px;padding:0 15px;line-height:36px;}*/
	
	/*视频专区*/
	.content_video_left,.content_video_right{display:block;float:none;}
	.content_video_right{width:100%;margin-left:0;margin-bottom:20px;background-size:100% 100%;}
	.content_video_right ul li a{font-size:20px;}
	
	.content_video_left{width:100%;height:auto;background-size:100% 100%;}
	.video_cont .video_cont_ul{width:100%;height:auto;}
	.video_cont .video_cont_ul li{width:48%;height:auto;background-size:100% 100%;margin-right:2%;}
	.video_cont .video_cont_ul li a{width:100%;margin-bottom:5%;}
	.video_cont .video_cont_ul li h4{font-size:12px;}
	.video_cont h2 .video_rightA{font-size:20px;}
	
	.video_top iframe{width:100%;height:auto;}
	
	/*点击播放*/
	.video_bofang{width:100%;height:100%;background-size:100% 100%;}
	.video_bofang .video_frame{display:block;width:auto;height:auto;margin-top:50%;}
	.video_bofang iframe{width:100%;height:100%;}
}
@media screen and (max-width:640px){
	.whole{width:92%;margin:0 4%;height:auto;}
	.content_right h3{font-size:28px;line-height:55px;}
	.top_fram{width:92%;margin:0 4%;}
	.top_fram .pic{width:68%;height:auto;margin-top:15px;}
	.top_fram .pic img{width:100%;height:100%;background-size:100% 100%;}
	.top_fram .answer a{font-size:18px;}
	
	.search_frame .search_left{display:none;}
	.search_frame .search_right{float:none;width:100%;margin-bottom:12px;}
	.search_right .input_text{width:70%;}
	.search_right .input_btn{width:30%;}
	.search_right .input_text input[type="text"]{width:100%;font-size:20px;}
	.search_right .input_btn input[type="button"]{width:100%;font-size:20px;}
	
	.landmark_frame dl{padding:10px 0;}
	.landmark_frame dt,.landmark_frame dd,.landmark_frame dd a{font-size:20px;}
	.cont_list li a b{font-size:20px;}
	
	.content_right{width:100%;margin-left:0px;}
	.content_right .cont_list li a{font-size:20px;}
	.close_open{display:block;}
	
	.content_left{display:block;float:none;position:fixed;left:-200px;top:0px;}
	.pagenavi{margin-left:0px;}
	/*.pagenavi span,.pagenavi a{font-size:20px;padding:0 15px;line-height:36px;}*/
	
	/*视频专区*/
	.content_video_left,.content_video_right{display:block;float:none;}
	.content_video_right{width:100%;margin-left:0;margin-bottom:20px;background-size:100% 100%;}
	.content_video_right ul li a{font-size:20px;}
	
	.content_video_left{width:100%;height:auto;background-size:100% 100%;}
	.video_cont .video_cont_ul{width:100%;height:auto;}
	.video_cont .video_cont_ul li{width:48%;height:auto;background-size:100% 100%;margin-right:2%;}
	.video_cont .video_cont_ul li a{width:100%;margin-bottom:5%;}
	.video_cont .video_cont_ul li h4{font-size:12px;}
	.video_cont h2 .video_rightA{font-size:20px;}
	
	.video_top iframe{width:100%;height:auto;}
	
	/*点击播放*/
	.video_bofang{width:100%;height:100%;background-size:100% 100%;}
	.video_bofang .video_frame{display:block;width:auto;height:auto;margin-top:50%;}
	.video_bofang iframe{width:100%;height:100%;}
}

@media screen and (max-width:480px){
	.whole{width:92%;margin:0 4%;height:auto;}
	.top_fram{width:92%;margin:0 4%;}
	.top_fram .pic{width:68%;height:auto;margin-top:25px;}
	.top_fram .pic img{width:100%;height:100%;background-size:100% 100%;}
	.top_fram .answer a{font-size:18px;}
	
	.search_frame .search_left{display:none;}
	.search_frame .search_right{float:none;width:100%;margin-bottom:12px;}
	.search_right .input_text{width:70%;}
	.search_right .input_btn{width:30%;}
	.search_right .input_text input[type="text"]{width:100%;font-size:18px;}
	.search_right .input_btn input[type="button"]{width:100%;font-size:18px;}
	
	.landmark_frame dl{padding:10px 0;}
	.landmark_frame dt,.landmark_frame dd,.landmark_frame dd a{font-size:18px;}
	.cont_list li a b{font-size:18px;}
	
	.content_right{width:100%;margin-left:0px;}
	.content_right .cont_list li a{font-size:18px;}
	.close_open{display:block;}
	
	.content_left{display:block;float:none;position:fixed;left:-200px;top:0px;}
	.pagenavi{margin-left:0px;}
	/*.pagenavi span,.pagenavi a{font-size:18px;padding:0 15px;line-height:36px;}*/
	
	/*视频专区*/
	.content_video_left,.content_video_right{display:block;float:none;}
	.content_video_right{width:100%;margin-left:0;margin-bottom:20px;background-size:100% 100%;}
	.content_video_right ul li a{font-size:18px;}
	
	.content_video_left{width:100%;height:auto;background-size:100% 100%;}
	.video_cont .video_cont_ul{width:100%;height:auto;}
	.video_cont .video_cont_ul li{width:48%;height:auto;background-size:100% 100%;margin-right:2%;}
	.video_cont .video_cont_ul li a{width:100%;margin-bottom:5%;}
	.video_cont .video_cont_ul li h4{font-size:12px;}
	.video_cont h2 .video_rightA{font-size:18px;}
	
	.video_top iframe{width:100%;height:auto;}
	
	/*点击播放*/
	.video_bofang{width:100%;height:100%;background-size:100% 100%;}
	.video_bofang .video_frame{display:block;width:auto;height:auto;margin-top:50%;}
	.video_bofang iframe{width:100%;height:100%;}
}

@media screen and (max-width:414px){
	.whole{width:92%;margin:0 4%;height:auto;}
	.top_fram{width:92%;margin:0 4%;}
	.top_fram .pic{width:68%;height:auto;margin-top:25px;}
	.top_fram .pic img{width:100%;height:100%;background-size:100% 100%;}
	.top_fram .answer a{font-size:18px;}
	
	.search_frame .search_left{display:none;}
	.search_frame .search_right{float:none;width:100%;margin-bottom:12px;}
	.search_right .input_text{width:70%;}
	.search_right .input_btn{width:30%;}
	.search_right .input_text input[type="text"]{width:100%;font-size:18px;}
	.search_right .input_btn input[type="button"]{width:100%;font-size:18px;}
	
	.landmark_frame dl{padding:10px 0;}
	.landmark_frame dt,.landmark_frame dd,.landmark_frame dd a{font-size:18px;}
	.cont_list li a b{font-size:18px;}
	
	.content_right{width:100%;margin-left:0px;}
	.content_right .cont_list li a{font-size:18px;}
	.close_open{display:block;}
	
	.content_left{display:block;float:none;position:fixed;left:-200px;top:0px;}
	.pagenavi{margin-left:0px;}
	.pagenavi span,.pagenavi a{font-size:18px;}
	
	/*视频专区*/
	.content_video_left,.content_video_right{display:block;float:none;}
	.content_video_right{width:100%;margin-left:0;margin-bottom:20px;background-size:100% 100%;}
	.content_video_right ul li a{font-size:18px;}
	
	.content_video_left{width:100%;height:auto;background-size:100% 100%;}
	.video_cont .video_cont_ul{width:100%;height:auto;}
	.video_cont .video_cont_ul li{width:48%;height:auto;background-size:100% 100%;margin-right:2%;}
	.video_cont .video_cont_ul li a{width:100%;margin-bottom:5%;}
	.video_cont .video_cont_ul li h4{font-size:12px;}
	.video_cont h2 .video_rightA{font-size:18px;}
	
	.video_top iframe{width:100%;height:auto;}
	
	/*点击播放*/
	.video_bofang{width:100%;height:100%;background-size:100% 100%;}
	.video_bofang .video_frame{display:block;width:auto;height:auto;margin-top:50%;}
	.video_bofang iframe{width:100%;height:100%;}
}

@media screen and (max-width:375px){
	.whole{width:92%;margin:0 4%;height:auto;}
	.top_fram{width:92%;margin:0 4%;}
	.top_fram .pic{width:68%;height:auto;margin-top:25px;}
	.top_fram .pic img{width:100%;height:100%;background-size:100% 100%;}
	.top_fram .answer a{font-size:16px;}
	
	.search_frame .search_left{display:none;}
	.search_frame .search_right{float:none;width:100%;margin-bottom:12px;}
	.search_right .input_text{width:70%;}
	.search_right .input_btn{width:30%;}
	.search_right .input_text input[type="text"]{width:100%;font-size:16px;}
	.search_right .input_btn input[type="button"]{width:100%;font-size:16px;}
	
	.landmark_frame dl{padding:10px 0;}
	.landmark_frame dt,.landmark_frame dd,.landmark_frame dd a{font-size:16px;}
	.cont_list li a b{font-size:16px;}
	
	.content_right{width:100%;margin-left:0px;}
	.content_right .cont_list li a{font-size:16px;}
	.close_open{display:block;}
	
	.content_left{display:block;float:none;position:fixed;left:-200px;top:0px;}
	.pagenavi{margin-left:0px;}
	
	/*视频专区*/
	.content_video_left,.content_video_right{display:block;float:none;}
	.content_video_right{width:100%;margin-left:0;margin-bottom:20px;background-size:100% 100%;}
	.content_video_right ul li a{font-size:16px;}
	
	.content_video_left{width:100%;height:auto;background-size:100% 100%;}
	.video_cont .video_cont_ul{width:100%;height:auto;}
	.video_cont .video_cont_ul li{width:48%;height:auto;background-size:100% 100%;margin-right:2%;}
	.video_cont .video_cont_ul li a{width:100%;margin-bottom:5%;}
	.video_cont .video_cont_ul li h4{font-size:12px;}
	.video_cont h2 .video_rightA{font-size:16px;}
	
	.video_top iframe{width:100%;height:auto;}
	
	/*点击播放*/
	.video_bofang{width:100%;height:100%;background-size:100% 100%;}
	.video_bofang .video_frame{display:block;width:auto;height:auto;margin-top:50%;}
	.video_bofang iframe{width:100%;height:100%;}
}

@media screen and (max-width:320px){
	.whole{width:92%;margin:0 4%;height:auto;}
	.top_fram{width:92%;margin:0 4%;}
	.top_fram .pic{width:68%;height:auto;margin-top:25px;}
	.top_fram .pic img{width:100%;height:100%;background-size:100% 100%;}
	
	
	.search_frame .search_left{display:none;}
	.search_frame .search_right{float:none;width:100%;margin-bottom:12px;}
	.search_right .input_text{width:70%;}
	.search_right .input_btn{width:30%;}
	.search_right .input_text input[type="text"]{width:100%;}
	.search_right .input_btn input[type="button"]{width:100%;}
	
	.content_right{margin-left:0px;}
	.close_open{display:block;}
	.float_box{display:block;float:left;width:159px;border-right:solid 1px #ccc;}
	.content_left{display:none;float:none;position:fixed;left:-200px;top:0px;background-color:rgba(0,0,0,0.6);width:100%;}
	.pagenavi span,.pagenavi a{font-size:12px;padding:0 9px;}
	
	/*视频专区*/
	.content_video_left,.content_video_right{display:block;float:none;}
	.content_video_right{width:100%;margin-left:0;margin-bottom:20px;background-size:100% 100%;}
	.content_video_right ul li a{font-size:14px;}
	
	.pagenavi{margin-left:0;}

}






















