.dealer-bg{position:relative;max-height:865px;width:100%;margin-top:80px;overflow:hidden;display:block;}
.dealer-bg img{/*position:absolute;left:50%;margin-left:-960px;*/width: 100%;}

.content-bg{/*background:url(../images/content-bg.jpg) no-repeat center;*/padding:45px 0;}
.content-bg-1{background:url(../images/content-bg-1.jpg) no-repeat center;padding:40px 0;}
.second-title{text-align:center;}
.second-title .small{font-size:20px;color:#5f5d5d;}
.second-title .main{font-size:24px;color:#00c0ff;margin-top:5px;}
.third-content{margin:0 20%;}
.third-content img{width:100%}
@media (max-width:700px) {
	.third-content{margin:0 5%;margin-top: 40px;}	
	.second-title .small{font-size:18px;}
	 }


@media (min-width:700px) {
.icon-down{text-align:center;margin:20px 0;}
.form-main{width:480px;margin:0 auto;font-size:0;border-top:solid 1px #ccc;}
.form-main .form-list{border-style:solid;border-color:#ccc;border-width:0 1px 1px 1px;line-height:48px;}
.form-main .form-ipt{border:none;width:334px;height:47px;font-size:17px;color:#ababab;vertical-align:top;box-sizing:border-box;padding:0 10px;}
.form-main .form-btn{border:none;width:100%;height:52px;background-color:#00c0ff;font-size:20px;color:#fff;margin-top:15px;cursor:pointer;}
.form-main .name{font-size:18px;color:#666;width:143px;border-right:solid 1px #ccc;display:inline-block;vertical-align:top;text-align:center;}
.form-main .small{text-align:center;font-size:20px;color:#595757;line-height:1.6;margin:50px 0;}
}
@media (max-width:700px) {
.icon-down{text-align:center;margin-bottom: 20px;}
.form-main{width:76%;margin:0 auto;font-size:0;border-top:solid 1px #ccc;}
.form-main .form-list{border-style:solid;border-color:#ccc;border-width:0 1px 1px 1px;line-height:31px;}
.form-main .form-ipt{border:none;font-size:17px;color:#ababab;vertical-align:top;box-sizing:border-box;padding:0 10px;}
.form-main .form-btn{border:none;width:100%;background-color:#00c0ff;font-size:20px;color:#fff;margin-top:15px;cursor:pointer;}
.form-main .name{font-size:18px;color:#666;width:66px;border-right:solid 1px #ccc;display:inline-block;vertical-align:top;text-align:center;}
.form-main .small{text-align:center;font-size:20px;color:#595757;line-height:1.6;margin:50px 0;}
	 }

.foot{display:block;width:100%;background:#373d41;overflow:hidden;}
.footTop{display:block;overflow:hidden;padding-left: 40px;}
.foot_1200,.footBom{display:block;width:100%;margin:0 auto;box-sizing:border-box;}
.footDiv{display:block;float:left;overflow:hidden;padding:32px 0px;margin-left:60px!important;}
.footDiv .t1{display:block;}
.footDiv .t2{display:block;}
.footDiv span{ margin-top: 8px;padding: 0 10px;border:1px solid #F0F2F5;display:block;font-size:28px;font-weight:700;color:#fff;text-align:center;line-height:50px;float:left;}
.footDiv dl{display:block;float:left;padding-left:15px;}
.footDiv dl dt{display:block;color:#fff;font-size:24px;line-height: 24px;}
.footDiv dl dd{display:block;color:#adadad;font-size:24px;}
/*.foot{display:block;width:100%;background:#373d41;overflow:hidden;}
.footTop{display:block;background:#31373b;overflow:hidden;}
.foot_1200,.footBom{display:block;width:1200px;margin:0 auto;box-sizing:border-box;}
.footDiv{display:block;float:left;overflow:hidden;padding:32px 0px;margin-left:60px;}
.footDiv span{border:1px solid #F2F2F2;display:block;font-size:28px;font-weight:700;color:#fff;text-align:center;line-height:50px;float:left;padding:0 15px;margin-top:10px}
.footDiv dl{display:block;float:left;padding-left:15px;}
.footDiv dl dt{display:block;color:#fff;font-size:24px;}
.footDiv dl dd{display:block;color:#adadad;font-size:14px;}*/
@media (max-width:700px){
.footTop{margin:2%;padding:0;}
.footDiv{margin-left:9px!important;padding:0;}
/*.footDiv:first-child{margin-left:9px;}*/
.footDiv span{margin-top: 5px;border:1px solid #FFFFFF;line-height: 18px;padding:4px 6px;font-size: 16px;}
.footDiv dl dt{font-size:0.2rem;line-height: 16px;}
.footDiv dl dd{font-size:0.1rem;}
}













