<footer id="lynn-footer">
	<div class="lynn-footer-top">
		<div class="lynn-footer-nav">
			<a href="{php echo webUrl()}" class="active">首页</a>
			<a href="{php echo webUrl('case/index')}">案例展示</a>
			<a href="{php echo webUrl('news/index')}">新闻中心</a>
			<a href="{php echo webUrl('article/index')}">最新文章</a>
			<a href="{php echo webUrl('contact/index')}">联系我们</a>
		</div>
	</div>
	<div class="lynn-footer-bot">
		<div class="lynn-footer-bot-left" style="display: none;">
			<a href="javascript:void(0);">帮助中心</a>
			<a href="javascript:void(0);">新手指南</a>
			<a href="javascript:void(0);">人才招聘</a>
		</div>
		<div class="lynn-footer-bot-mid">
			{php echo htmlspecialchars_decode($basicset['copyright'],ENT_QUOTES)}
			<p>{php echo htmlspecialchars_decode($basicset['diycode'],ENT_QUOTES)}</p>
		</div>
		<div class="lynn-footer-bot-right">
			<strong>{$basicset['mobile']}</strong>
			<p>{$basicset['servertime']}</p>
			<a href="tencent://message/?uin={$basicset['qq']}&Site={$basicset['title']}Menu=yes" target="_blank" class="kefu">QQ在线客服</a>
		</div>
		<div class="lynn-index-top">
			<a href="#">返回顶部</a>
			<p>
				<img src="{php echo pctomedia($basicset['qrcode'])}" width="125px" height="125px" alt="">
				<span>扫描添加</span>
				<span>公众微信平台</span>
			</p>
		</div>
		<div style="clear:both;"></div>
	</div>
</footer>