<footer class="mui-bar mui-bar-tab">
    <a class="tab-item" href="{php echo $this->createMobileUrl('activity_list');}" style="width:1%;color:#333;height:45px!important;display:table-cell;text-align:center;vertical-align:middle;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;">
        <span class="mui-tab-label">首页</span>
    </a>
    <a class="tab-item" data-type="collection" data-favorite="0" style="width:1%;color:#333;height:45px!important;display:table-cell;text-align:center;vertical-align:middle;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;">
        <span class="mui-tab-label">收藏</span>
    </a>
    <a class="tab-item js-join js-follow js-join1" href="javascript:;" style="width:3%;color:#333;height:45px!important;display:table-cell;text-align:center;vertical-align:middle;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;">
        <span class="mui-btn mui-gradient-danger mui-btn-block"></span>
    </a>
</footer>