body {
	background: #f0f0f0;
	line-height: 1.7;
}

.layout {
	width: 640px;
	margin: 0 auto;
	overflow: hidden;
	background: #eeecef; 
}


/*2列表 开始*/



.goods_nav {
	margin-top: 80px;
	background-color: #fff;
}

.goods_nav ul {
	padding-bottom: 10px;
	background-color: #eeecef;
	overflow: hidden;
}

.goods_nav li {
	background-color: #fff;
	float: left;
}

.goods_nav a {
	position: relative;
	display: inline-block;
	width: 160px;
	height: 78px;
	line-height: 78px;
	text-align: center;
	/*font-size: 22px;*/
	font-size: 28px;
	text-decoration: none;
	color: #2a2a2a;
}

.goods_nav li.selected a:before {
	content: "";
	position: absolute;
	left: 50%;
	bottom: 10px;
	margin-left: -11px;
	display: inline-block;
	width: 21px;
	height: 4px;
	background: url(../imgs/zys_img14.jpg) no-repeat;
	background-position: center;
}

.goods_nav li.selected a:after {
	content: "";
	position: absolute;
	top: 79px;
	left: 72px;
	display: inline-block;
	width: 15px;
	height: 9px;
	background: url(../imgs/zys_img15.png) no-repeat;
	background-position: center;
}



.footer {
	z-index: 999;
	position: fixed;
	bottom: 0;
	height: 90px;
	width: 100%;
	background-color: #f0f0f0;
	max-width: 640px;

}

.footer ul {
	overflow: hidden;
}

.footer li {
	float: left;
}

.footer a {
	display: inline-block;
	text-decoration: none;
	padding: 12px 0;
	width: 128px;
	font-size: 20px;
	color: #707070;
	text-align: center;
}

.footer i {
	display: block;
	width: 35px;
	height: 35px;
	margin: 0 auto;
}

.footer .sy {
	background: url(../imgs/zys_img9.png) no-repeat;
	background-position: center top;
}

.footer .zq9 {
	background: url(../imgs/zys_img10.png) no-repeat;
	background-position: center top;
}

.footer .zq19 {
	background: url(../imgs/zys_img11.png) no-repeat;
	background-position: center top;
}

.footer .sc {
	background: url(../imgs/zys_img12.png) no-repeat;
	background-position: center top;
}

.footer .hy {
	background: url(../imgs/zys_img13.png) no-repeat;
	background-position: center top;
}

.footer li.selected a {
	color: #ff334e;
}


/*2列表 结束*/


/*3商品详情 开始*/
.layout_prod_xq .header{
	position: relative;
}
.layout_prod_xq .header .left {
    margin-top: 0;
    margin-left: 0;
    position: absolute;
    left: 0;
    top: 0;
    height: 80px;
}

.layout_prod_xq .header .back {
    display: inline-block;
    width: 70px;
    height: 80px;
    background: url(../imgs/zys_img30.png) no-repeat;
    background-position: center;
}

.layout_prod_xq .header .txt {
    font-size: 26px;
    line-height: 80px;
    /*height: 100px;*/
    text-align: center;
    /* padding-left: 260px; */
    color: #fff;
}
.layout_prod_xq .header .txt h2{
	font-size: 26px;
    line-height: 100px;
    /*height: 100px;*/
    text-align: center;
    /* padding-left: 260px; */
    color: #fff;
}
.layout_prod_xq .header .right {
    position: absolute;
    top: 0;
    right: 0;
    height: 100px;
    margin-right: 0;
    margin-top: 0;
}

.goods_vw {
	position: relative;
}

.goods_vw .img {
	position: relative;
	font-size: 0;
}

.goods_vw .img .btn_a {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -60px;
	margin-top: -47px;
	display: inline-block;
	width: 119px;
	height: 119px;
	background: url(../imgs/zys_img58.png) no-repeat center;
}

.goods_vw .back {
	position: absolute;
	left: 30px;
	top: 28px;
}

.goods_vw .back a {
	display: inline-block;
	width: 55px;
	height: 55px;
}

.goods_vw .nav {
	position: absolute;
	right: 34px;
	top: 28px;
}

.goods_vw .nav li {
	margin-bottom: 15px;
}

.goods_qiang {
	overflow: hidden;
}

.goods_qiang .left {
    width: 400px;
    height: 76px;
    background: url(../imgs/zys_img31.jpg) no-repeat;
    background-position: center;
    overflow: hidden;
    background-size: cover;
}

.goods_qiang .left big {
	margin-left: 30px;
	font-size: 28px;
	line-height: 65px;
	color: #fff;
}

.goods_qiang .left span {
	font-size: 50px;
	display: inline-block;
	height: 65px;
	color: #fff;
}

.goods_qiang .left label {
	display: inline-block;
	width: 48px;
	height: 24px;
	line-height: 24px;
	text-align: center;
	font-size: 22px;
	color: #fff;
	border: 1px solid #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.goods_qiang .left s {
	margin-left: 5px;
	font-size: 20px;
	color: #fff;
}

.goods_qiang .right {
	width: 240px;
	height: 76px;
	background-color: #ffeae9;
}

.goods_qiang .right h4 {
	font-size: 13px;
	color: #ff2f49;
	text-align: center;
}

.colockbox_xq {
    /*margin-top: -6px;*/
    /*padding-top: 1px;*/
    width: 240px;
    height: 36px;
    /* margin: 20px auto; */
    background: url(../imgs/zys_img60.png) no-repeat center 2px;
    background-size: 145px 32px;
}
.colockbox_xq span{
	font-size: 24px;
	color: #fff;
	height: 40px;
	display: inline-block;
}
.colockbox_xq .hour{
	margin-left: 53px;	
}
.colockbox_xq .minute{
	margin-left: 22px;
}
.colockbox_xq .second{
    margin-left: 21px;
}
.goods_mt {
	background-color: #fff;
	position: relative;
	padding: 20px 30px 12px 20px;
}

.goods_mt h2 a {
	font-size: 24px;
	color: #333333;
	text-decoration: none;
}

.goods_mt h2 span {
	display: inline-block;
	width: 62px;
	height: 23px;
	padding-right: 13px;
	font-size: 18px;
	line-height: 23px;
	text-align: right;
	color: #ff304a;
	background: url(../imgs/zys_img22.png) no-repeat;
	background-position: center;
}

.goods_mt h4 {
	margin-top: 15px;
}

.goods_mt h4 span {
	margin-right: 28px;
	font-size: 18px;
	color: #c1c1c1;
}

.goods_mt .quan {
	position: absolute;
	right: 30px;
	bottom: 20px;
	padding-top: 6px;
	text-align: center;
	color: #fff;
	width: 90px;
	height: 64px;
	background: url(../imgs/zys_img23.png) no-repeat;
	background-position: center top;
}

.goods_mt .quan big {
	font-size: 32px;
	line-height: 1;
}

.goods_mt .quan small {
	display: inline-block;
	margin-top: 6px;
	font-size: 16px;
}

.goods_desc .head {
	margin-top: 10px;
	background-color: #fff;
	padding-left: 20px;
	border-bottom: 1px solid #e5e5e5;
}

.goods_desc .head a {
	display: inline-block;
	text-decoration: none;
	width: 620px;
	height: 54px;
	line-height: 54px;
	font-size: 24px;
	color: #333333;
	background: url(../imgs/zys_img25.png) no-repeat;
	background-position: 598px center;
}

.goods_desc .body {
	padding-bottom: 16px;
	background-color: #fff;
}

.goods_desc .body p {
	padding-left: 20px;
	padding-top: 10px;
	line-height: 35px;
	font-size: 22px;
}

.goods_desc .body p span {
	margin-right: 4px;
	text-indent: 0;
	display: inline-block;
	width: 50px;
	height: 27px;
	line-height: 27px;
	text-align: center;
	font-size: 19px;
	color: #ff2f49;
	border: 1px solid #ff2f49;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.goods_desc .body .img {
	font-size: 0;
	text-align: center;
}

.goods_tj {
	margin-top: 20px;
}

.goods_tj .head {
	padding-left: 20px;
	height: 55px;
	background-color: #fff;
}

.goods_tj .head a {
	display: inline-block;
	text-decoration: none;
	width: 620px;
	height: 54px;
	line-height: 54px;
	font-size: 24px;
	color: #333333;
	background: url(../imgs/zys_img25.png) no-repeat;
	background-position: 598px center;
}

.goods_tj .body {
	margin-top: 10px;
	background-color: #fff;
}

.goods_tj .body ul {
	overflow: hidden;
}

.goods_tj .body li {
	float: left;
	margin-left: 20px;
	width: 290px;
	padding-top: 6px;
	padding-bottom: 8px;
}
.goods_tj .body .img{
	position: relative;
}
.goods_tj .body .img{
	font-size: 0;
}
.goods_tj .body .img h4{
	position: absolute;
    bottom: 0;
    width: 291px;
    height: 32px;
    line-height: 32px;
    font-size: 18px;
    color: #ecebe7;
    text-align: center;
    background-color: rgba(123,121,122,.5);
}
.goods_tj .body .txt h2 {
	text-align: center;
}

.goods_tj .body .txt h2 a {
	display: inline-block;
    overflow: hidden;
    text-align: left;
    font-size: 20px;
    height: 70px;
    text-indent: 25px;
    padding: 0 6px;
    color: #333333;
    text-decoration: none;
    background: url(../imgs/zys_img6.jpg) no-repeat;
    background-position: 8px 5px;
}

.goods_tj .body .txt h4 {
	padding: 0 6px;
}

.goods_tj .body .txt h4 big {
	color: #ff0d0f;
	font-size: 28px;
	font-weight: 600;
}

.goods_tj .body .txt h4 s {
	/*margin-left: 20px;*/
	font-size: 16px;
	color: #999999;
}

.goods_tj .body .txt h4 .fan {
    float: right;
    margin-top: 15px;
    display: inline-block;
    width: 54px;
    height: 23px;
    line-height: 23px;
    font-size: 16px;
    padding-right: 8px;
    color: #ff2e49;
    text-align: right;
    background: url(../imgs/zys_img7.png) no-repeat;
    background-position: center;
}

.goods_tj .body .btn a {
	display: inline-block;
	margin-left: 6px;
	width: 231px;
	height: 34px;
	line-height: 33px;
	font-size: 18px;
	padding-left: 47px;
	color: #fff;
	text-decoration: none;
	background: url(../imgs/zys_img27.png) no-repeat;
	background-position: center;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.goods_jp {
	margin-bottom: 92px;
}

.goods_jp .head a {
	background: none;
	background-color: #fff;
}
.mask {
    position: fixed;
    left: 50%;
    margin-left: -360px;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    width: 720px;
    z-index: 99;
}
.full_img{
	position: fixed;
	z-index: 999;
	top: 140px;
	left: 50%;
	margin-left: -245px;
	width: 490px;
	height: 655px;
	/*text-align: center;*/
}
.full_img img{
	width: 490px;
	height: 700px;
}
.fullimg_close{
	position: absolute;
	right: -17;
	top: -17;
	display: inline-block;
	width: 34px;
	height: 34px;
	background: url(../imgs/zys_img64.png) no-repeat;
	background-position: center;
}
.cus_service_img{
	position: fixed;
    z-index: 999;
    top: 50%;
    left: 50%;
    margin-left: -129px;
    margin-top: -129px;
    width: 258px;
    height: 258px;
}
.cus_service_img img{
	width: 258px;
	height: 258px;
}

.pass_buy{
	position: fixed;
	z-index: 999;
	top: 30%;
	left: 50%;
	margin-left: -302px;
	margin-top: -148px;
	width: 605px;
	height: 400px;
	background-color: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    /*-webkit-user-select: all!important;*/
}
.pass_buy *{
 -webkit-user-select: all!important;
}
.pass_buy h2{
	width: 100%;
	height: 50px;
	color: #fff;
	font-size: 24px;
	text-align: center;
	background-color: #ff2e48;
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
	border-top-left-radius: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
	border-top-right-radius: 5px;
}
.pass_buy textarea{
	padding: 10px 15px;
    display: block;
    margin: 25px auto 6px;
    width: 536px;
    height: 170px;
    line-height: 24px;
    font-size: 14px;
    border: 3px dashed #f32d05;
    background-color: #fdebe7;
    color: #f64c1f;
    /*-webkit-user-select: text;
   	-moz-user-select: text;
   	user-select: text;*/
	-webkit-user-select: all;
    user-select: all;
}
.pass_buy .xq_ios_txt{
	padding: 10px 15px;
    display: block;
    margin: 25px auto 6px;
    width: 536px;
    height: 170px;
    line-height: 24px;
    font-size: 20px;
    border: 3px dashed #f32d05;
    background-color: #fdebe7;
    color: #f64c1f;
    overflow-y: scroll;
    -webkit-user-select: text;
   	-moz-user-select: text;
}
.pass_buy .buy_copydiv{
	margin: 0 auto;
	width: 572px;
	height: 33px;
}

.pass_buy .buy_copydiv{
    line-height: 28px;
    font-size: 18px;
    color: #f64c1f;
    text-align: right;

}
.get_price{
	float: left;
    width: 172px;
    height: 28px;
    padding-right: 10px;
    background: url(../imgs/zys_img69.png) no-repeat;
    background-position: center;
}
.get_price font{
    float: left;
    margin-left: 10px;
    color: #fff;
}
.pass_buy .buy_copydiv a{
	float: right;
	margin-left: 20px;
	width: 130px;
	height: 35px;
	line-height: 35px;
	display: inline-block;
	font-size: 22px;
	color: #fff;
	text-align: center;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    text-decoration: none;
}
.pass_buy .buy_copydiv .copy_succ{
	/*background-color: #18b102;*/
}
.pass_buy .buy_copydiv .copy_c{
	background-color: #ff2e48;
}

.buy_hint1,
.buy_hint2{
	padding: 0 28px;
	font-size: 18px;
	color: #777676;
}
.buy_hint1{
	margin-top: 20px;
}
.buy_hint1 span{
	position: relative;
	display: inline-block;
	width: 33px;
	height: 17px;
	top: 3px;
	background: url(../imgs/zys_img70.png) no-repeat;
	background-position: center;
}
.buy_hint1 span:before,
.buy_hint1 span:after{
	content: "";
	position: absolute;
	display: inline-block;
	width: 4px;
	height: 15px;
}
.buy_hint1 span:before{
	left: 0;
	border-top: 1px solid #777676;
	border-left: 1px solid #777676;
}
.buy_hint1 span:after{
	right: 0;
	border-right: 1px solid #777676;
	border-bottom: 1px solid #777676;
}
.buy_hint2 span{
    position: relative;
    top: 4px;
	display: inline-block;
	width: 36px;
	height: 18px;
	border: 1px dashed #f77555;
}

.goods_foot {
	position: fixed;
	/*z-index: 9;*/
	bottom: 0;
	width: 640px;
	height: 92px;
	background-color: #f0f0f0;
}

.goods_foot .nav {
	float: left;
	width: 268px;
}

.goods_foot .nav ul {
	overflow: hidden;
}

.goods_foot .nav li {
	float: left;
	text-align: center;
}

.goods_foot .nav a {
	display: inline-block;
	width: 134px;
	height: 92px;
	text-decoration: none;
}

.goods_foot .nav li i {
	margin: 14px auto 0;
	display: block;
	width: 36px;
	height: 36px;
}

.goods_foot .nav li .sy {
	background: url(../imgs/zys_img28.png) no-repeat;
	background-position: center;
}

.goods_foot .nav li .kf {
	background: url(../imgs/zys_img29.png) no-repeat;
	background-position: center;
}

.goods_foot .nav li span {
	font-size: 20px;
	color: #707070;
}

.goods_foot .btn {
	float: left;
}

.goods_foot .btn ul {
	overflow: hidden;
}

.goods_foot .btn li {
	float: left;
}

.goods_foot .btn li a {
	display: inline-block;
	width: 184px;
	height: 90px;
	font-size: 24px;
	color: #fff;
	line-height: 90px;
	text-align: center;
	text-decoration: none;
	background-color: #fdbf14;
}

.goods_foot .btn .bgred a {
	background-color: #ff2f49;
}


/*3商品详情 结束*/


/*4抢购 开始*/

.qiang_img {
	font-size: 0;
}
.qiang_nav{
	position: relative;
	background-color: #fc386a;
}
.qiang_nav_cen{
	/*position: absolute;
	top: 0;
	width: 128px;
	height: 80px;
	left: 50%;
	margin-left: -64px;
	background-color: #ff9c0a;*/
}
.qiang_nav ul {
	/*overflow: hidden;*/
	height: 60px;
}

.qiang_nav li {
	position: relative;
	z-index: 9;
	float: left;
	text-align: center;
	width: 128px;
	height: 60px;
	background-color: #fc386a;
	color: #fff !important;
}
.qiang_nav li a{
	display: inline-block;
	width: 128px;
	height: 60px;
	text-decoration: none;
}
.qiang_nav li.now {
	background-color: #ff9c0a;
}

.qiang_nav .now {
	background-color: #ff9c0a;
}

.qiang_nav h4,
.qiang_nav h5 {
	line-height: 1;
	color: #fff;
}

.qiang_nav h4 {
	margin-top: 16px;
	font-size: 24px;
}

.qiang_nav h5 {
	margin-top: 10px;
	font-size: 18px;
}

.qiang_list {
	margin-bottom: 90px;
}

.qiang_list li {
	border-bottom: 1px solid #ebebeb;
	overflow: hidden;
	background-color: #fff;
	padding: 20px 20px 20px 10px;
}

.qiang_list .img {
	float: left;
	position: relative;
	/*margin-left: 10px;*/
}

.qiang_list .txt {
	position: relative;
	margin-left: 25px;
	float: left;
	width: 375px;
}

.qiang_list .txt h2 a {
	font-size: 22px;
	color: #333333;
	text-decoration: none;
}

.qiang_list .txt h4 {
	color: #fe386b;
	font-size: 20px;
}

.qiang_list .jd {
	margin-top: 36px;
	position: relative;
}

.qiang_list .jd span {
    z-index: 1;
    position: absolute;
    left: 0;
    display: inline-block;
    width: 120px;
    height: 23px;
    line-height: 23px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    background-color: #fc386a;
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    border-radius: 22px;
}

.qiang_list .jd label {
	position: absolute;
	left: 0;
	text-align: right;
	display: inline-block;
	padding-right: 10px;
	width: 210px;
	height: 23px;
	color: #fe0f0c;
	font-size: 18px;
	line-height: 23px;
	background: url(../imgs/zys_img35.png) no-repeat;
	background-position: left center;
}

.qiang_list .pr {
	margin-top: 70px;
}

.qiang_list .pr big {
	font-size: 26px;
	color: #fd0f0d;
}

.qiang_list .pr s {
	font-size: 18px;
	color: #676767;
}

.qiang_list .bt {
	/*float: right;*/
	position: absolute;
	bottom: 0;
	right: 0;
}

.qiang_list .bt a {
	display: inline-block;
	width: 115px;
	height: 38px;
	line-height: 38px;
	text-align: center;
	color: #fff;
	font-size: 24px;
	text-decoration: none;
	background-color: #ff9c0a;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.qiang_list .more {
	height: 100px;
	text-align: center;
	background-color: #fff;
}

.qiang_list .more a {
	display: inline-block;
	margin-top: 14px;
	text-decoration: none;
	width: 217px;
	height: 44px;
	font-size: 18px;
	line-height: 44px;
	text-align: center;
	background-color: #e6e6e6;
	color: #333333;
}


/*4抢购 结束*/


/*会员中心 开始*/

.uc_vw {
	position: relative;
	overflow: hidden;
	height: 242px;
	background: url(../imgs/zys_img54.jpg) no-repeat;
	background-position: center;
}

.uc_vw .img {
	margin-top: 48px;
	text-align: center;
}

.uc_vw h2 {
	font-size: 30px;
	text-align: center;
	color: #fff;
}

.uc_vw .back {
	position: absolute;
	left: 36px;
	top: 16px;
	display: inline-block;
	width: 19px;
	height: 35px;
	background: url(../imgs/zys_img37.png) no-repeat;
	background-position: center;
}

.uc_vw .set {
	position: absolute;
	right: 32px;
	top: 18px;
	display: inline-block;
	width: 38px;
	height: 38px;
	background: url(../imgs/zys_img38.png) no-repeat;
	background-position: center;
}

.uc_info ul {
	overflow: hidden;
}

.uc_info li {
	float: left;
	border-right: 1px solid #ff5c7b;
	border-bottom: 1px solid #ff5c7b;
}

.uc_info span {
	display: inline-block;
	padding-left: 96px;
	width: 223px;
	height: 57px;
	line-height: 57px;
	font-size: 26px;
	color: #fff;
}

.uc_info .integ {
	background: url(../imgs/zys_img39.png) no-repeat #f21e46;
	background-position: 50px center;
}

.uc_info .can {
	background: url(../imgs/zys_img41.png) no-repeat #f21e46;
	background-position: 50px center;
}

.uc_info .already {
	background: url(../imgs/zys_img40.png) no-repeat #f21e46;
	background-position: 50px center;
}

.uc_info .stay {
	background: url(../imgs/zys_img42.png) no-repeat #f21e46;
	background-position: 50px center;
}

.uc_order {
	margin-top: 12px;
	background-color: #fff;
}

.uc_order .head {
	height: 50px;
	line-height: 50px;
	padding: 0 22px;
	font-size: 22px;
	border: 1px solid #cbcbcb;
}

.uc_order .body ul {
	overflow: hidden;
}

.uc_order .body li {
	float: left;
}

.uc_order .body li a {
	display: inline-block;
	width: 160px;
	height: 130px;
	text-align: center;
	text-decoration: none;
}

.uc_order .body li .img {
	margin-top: 15px;
}

.uc_order .body li h4 {
	color: #b0b0b0;
	font-size: 22px;
}

.uc_nav {
	margin-top: 12px;
}

.uc_nav li {
	font-size: 0;
	background-color: #fff;
	border-bottom: 1px solid #bfbfbf;
}

.uc_nav li a {
	display: inline-block;
	height: 70px;
	width: 640px;
	background: url(../imgs/zys_img55.png) no-repeat;
	background-position: 610px center;
}

.uc_nav li .img {
	font-size: 0;
	float: left;
	margin-left: 30px;
	margin-top: 16px;
}

.uc_nav li span,
.uc_nav li font {
	float: left;
	line-height: 70px;
	font-size: 24px;
	color: #828282;
}

.uc_nav li span {
	margin-left: 12px;
}

.uc_nav li font {
	margin-left: 165px;
}

.uc_icos {
	background-color: #fff;
}

.uc_icos ul {
	overflow: hidden;
}

.uc_icos li {
	float: left;
	text-align: center;
}

.uc_icos li a {
	padding-top: 20px;
	display: inline-block;
	width: 160px;
	height: 100px;
	text-decoration: none;
}

.uc_icos li a span {
	font-size: 22px;
	color: #818181;
}

.uc_guess {
	margin-top: 12px;
	padding-bottom: 200px;
	background-color: #fff;
}

.uc_guess .head {
	position: relative;
	font-size: 22px;
	text-align: center;
	height: 64px;
	line-height: 64px;
	color: #818181;
}

.uc_guess .head:before,
.uc_guess .head:after {
	position: absolute;
	content: "";
	left: 239px;
	top: 18px;
	display: inline-block;
	height: 27px;
	width: 27px;
	background: url(../imgs/zys_img53.png) no-repeat;
	background-position: center;
}

.uc_guess .head:after {
	left: 370px;
}

.uc_guess .body {
	border: 1px solid #eeeced;
}

.uc_guess .body ul {
	overflow: hidden;
}

.uc_guess .body li {
	float: left;
	margin-left: 20px;
	width: 290px;
	padding-top: 6px;
	padding-bottom: 8px;
}
.uc_guess .body .img{
	position: relative;
	font-size: 0;
}
.uc_guess .body .img h4{
    position: absolute;
    bottom: 0;
    width: 291px;
    height: 32px;
    line-height: 32px;
    font-size: 20px;
    color: #ecebe7;
    text-align: center;
    background-color: rgba(123,121,122,.5);
}
.uc_guess .body .txt h2 {
	text-align: center;
}

.uc_guess .body .txt h2 a {
    display: inline-block;
    overflow: hidden;
    height: 70px;
    text-align: left;
    font-size: 20px;
    text-indent: 25px;
    padding: 0 6px;
    color: #333333;
    text-decoration: none;
    background: url(../imgs/zys_img6.jpg) no-repeat;
    background-position: 8px 8px;
}

.uc_guess .body .txt h4 {
	padding: 0 6px;
}

.uc_guess .body .txt h4 big {
	color: #ff0d0f;
	font-size: 28px;
	font-weight: 600;
}

.uc_guess .body .txt h4 s {
	/*margin-left: 20px;*/
	font-size: 20px;
	color: #999999;
}

.uc_guess .body .txt h4 .fan {
	float: right;
    margin-top: 14px;
    display: inline-block;
    width: 54px;
    height: 23px;
    line-height: 23px;
    font-size: 16px;
    padding-right: 8px;
    color: #ff2e49;
    text-align: right;
    background: url(../imgs/zys_img7.png) no-repeat;
    background-position: center;
}

.uc_guess .body .btn a {
	display: inline-block;
	margin-left: 6px;
	width: 231px;
	height: 34px;
	line-height: 33px;
	font-size: 20px;
	padding-left: 47px;
	color: #fff;
	text-decoration: none;
	background: url(../imgs/zys_img27.png) no-repeat;
	background-position: center;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.member_footer .sy {
	background: url(../imgs/zys_img56.png) no-repeat;
	background-position: center top;
}


/*会员中心 结束*/


/*排行榜 开始*/
.c_bg{
	position: relative;
	overflow: hidden;
	min-height: 1000px;
	background: url(../imgs/zys_img77.jpg) no-repeat #fb4c77;
	background-position: top;
}
.charts{
	padding-top: 132px;
	margin: 182px auto 35px;
	width: 582px;
	min-height: 782px;
	background-color: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.charts h2{
	position: absolute;
    top: 48px;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-size: 25px;
    color: #fff;
    width: 525px;
    height: 230px;
    line-height: 387px;
    text-align: center;
    background: url(../imgs/zys_img78.png) no-repeat;
    background-position: center;
}
.charts ul{
	/*margin-top: 132px;*/
}
.charts li{
	overflow: hidden;
	padding: 0 36px 0 28px;
	border-bottom: 1px solid #d8d8d8;
}
.charts li span,.charts li font{
	font-size: 22px;
}
.charts li span{
	float: left;
	margin-left: 16px;
    height: 62px;
    line-height: 62px;
    color: #000000;
}

.charts li i{
    float: left;
    display: inline-block;
    width: 40px;
    height: 62px;
    line-height: 62px;
    color: #000000;
    text-align: center;
    font-size: 18px;
    background: url(../imgs/zys_img79.png) no-repeat;
    background-position: left center;
}
.charts li.first span,
.charts li.second span,
.charts li.third span{
	height: 77px;
	line-height: 77px;
}
.charts li.first i{
	height: 77px;
	line-height: 77px;
    background: url(../imgs/zys_img73.png) no-repeat;
    background-position: left center;
}

.charts li.second i{
	height: 77px;
	line-height: 77px;
    background: url(../imgs/zys_img74.png) no-repeat;
    background-position: left center;
}

.charts li.third i{
	height: 77px;
	line-height: 77px;
    background: url(../imgs/zys_img75.png) no-repeat;
    background-position: left center;
}
.charts li font{
	float: right;
	display: inline-block;
	height: 62px;
	line-height: 62px;
	color: #c40068;
}
.charts li.first font,
.charts li.second font,
.charts li.third font{
	height: 77px;
	line-height: 77px;
}
.charts .back{
	position: absolute;
	left: 36px;
	top: 12px;
	display: inline-block;
	width: 20px;
	height: 35px;
	background: url(../imgs/zys_img76.png) no-repeat;
}
/*排行榜 结束*/

/*回到顶部 开始*/
.toTop{
    position: absolute;
    right: 16px;
    bottom: 110px;
    background: url(../imgs/zys_img62.png) no-repeat;
    background-size: 65px;
    width: 65px;
    height: 65px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    cursor: pointer;
}
/*回到顶部 结束*/

/*浮动菜单 开始*/
.s_menu{
	position: fixed;
	z-index: 200;
	top: 80px;
	/*height: 40px;*/
	width: 640px;
	border-bottom: 1px solid #f5f5f5;
}
.s_menu ul{
	/*overflow: hidden;*/
	height: 60px;
}
.s_menu li{
	float: left;
	height: 60px;
	background-color: #fff;
}
.s_menu li .title_a{
    display: inline-block;
    padding: 7px 0;
    width: 185px;
    height: 46px;
    line-height: 46px;
    color: #666666;
    font-size: 24px;
    text-align: center;
    text-decoration: none;
    border-right: 1px solid #f5f5f5;
    /*background: url(../imgs/zys_img66.png) no-repeat #fff;
    background-position: 116px center;
    background-size: 14px;*/
}
.s_menu li.selected .title_a{
	color: #fc376c;
}
.s_menu li .title_qr{
	
}
.s_menu li a i{
    display: inline-block;
    width: 21px;
    height: 12px;
    background: url(../imgs/zys_img66.png) no-repeat;
    background-position: 5px center;
    background-size: 14px;
}
.s_menu li.selected a i{
    background: url(../imgs/zys_img71.png) no-repeat;
    background-position: 5px center;
    background-size: 14px;
}
.s_menu li:last-child a{
    display: inline-block;
    width: 82px;
    margin-top: 21px;
    text-align: center;
}
.s_menu li a .qrCode{
	width: 20px;
}
.all_kind dl{
	position: absolute;
	top: 60px;
	left: 0;
	width: 640px;
	overflow: hidden;
}
.all_kind dd{
	float: left;
	width: 160px;
	height: 50px;
	text-align: center;
	background-color: #FAFAFA;
	border-bottom: 1px solid #E8E8E8;
}
.all_kind dd a{
	font-size: 22px;
	line-height: 50px;
	color: #666;
	text-decoration: none;
}
.pro_sort dl{
	position: absolute;
	left: 0;
	top: 60px;
	width: 640px;
	overflow: hidden;
}
.pro_sort dd{
	height: 50px;
	text-align: center;
	background-color: #FAFAFA;
	border-bottom: 1px solid #E8E8E8;
}
.pro_sort dd a{
	font-size: 22px;
	line-height: 50px;
	color: #666;
	text-decoration: none;
}
.filter .f_div{
	position: absolute;
	padding: 0 30px;
	width: 580px;
	top: 60px;
	left: 0;
	height: 160px;
	background-color: #FAFAFA;
}
.filter .input_area{
	overflow: hidden;
	margin-top: 25px;
}
.filter .input_area div{
	float: left;
	font-size: 22px;
	color: #666666;
}
.filter .input_area input{
	float: left;
	width: 137px;
    height: 37px;
    padding-left: 25px;
    font-size: 24px;
    background: url(../imgs/zys_img67.png) no-repeat #fff;
    background-position: 5px center;
    background-size: 15px;
    border: 1px solid #9A9A9A;
}
.filter .input_area .inp_min{
	margin-left: 65px;
}
.filter .input_area span{
	float: left;
	display: inline-block;
    margin: 16px 5px 0;
	width: 30px;
	height: 1px;
	background-color: #DDDDDD;
}
.input_area div{

}
.filter .btn{
	margin-top: 15px;
	text-align: center;
}
.filter .btn input{
	width: 448px;
	height: 60px;
	color: #fff;
	font-size: 22px;
	background-color: #ff0000;
	border: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
/*浮动菜单 结束*/

/*二维码遮罩 开始*/
.qr_img{
	position: fixed;
    z-index: 999;
    top: 50%;
    left: 50%;
    margin-left: -129px;
    margin-top: -129px;
    width: 258px;
    height: 258px;
}
.qr_img img{
	width: 258px;
	height: 258px;
}
/*二维码遮罩 结束*/

/*video.js 开始*/
.vjs-paused .vjs-big-play-button,
.vjs-paused.vjs-has-started .vjs-big-play-button {
    display: block;
}
/*.video-js.vjs-playing .vjs-tech {
    pointer-events: auto;
}*/
.video-js .vjs-big-play-button{
    font-size: 5.5em;
    line-height: 2.3em;
    height: 2.5em;
    width: 2.5em;
    -webkit-border-radius: 2.5em;
    -moz-border-radius: 2.5em;
    border-radius: 2.5em;
    background-color: #73859f;
    background-color: rgba(115,133,159,.5);
    border-width: 0.15em;
    margin-top: -1.25em;
    margin-left: -1.25em;
}
/* 中间的播放箭头 */
.vjs-big-play-button .vjs-icon-placeholder {
    font-size: 1.63em;
}
/* 加载圆圈 */
.vjs-loading-spinner {
    font-size: 2.5em;
    width: 2em;
    height: 2em;
    border-radius: 1em;
    margin-top: -1em;
    margin-left: -1.5em;
}
/*video.js 结束*/

/*按钮图标效果 开始*/
.v_btn_img:after{
	content: "";
	position: absolute;
    width: 66px;
    height: 66px;
    left: 50%;
    top: 50%;
    margin: -33px 0 0 -33px;
    display: block;
    cursor: pointer;
    background: url(../imgs/img24.png) no-repeat center;
    background-size: cover;
    position: absolute;
}
/*按钮图标效果 结束*/