body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0}
body{color:#333;background:#fff;font:13px "pingfang SC","Microsoft YaHei","微软雅黑",helvetica,arial,verdana,tahoma,sans-serif}
th,td{text-align:left;vertical-align:top}
a{color:#333;text-decoration:none;cursor:pointer}
a:hover{color:#333;text-decoration:none}
a:focus{outline:0}
img{display:inline-block;border:0;vertical-align:middle}
li{list-style:none}ol{padding:0 0 0 2em}
input,label,select,option,textarea,button,fieldset,legend{font-family:inherit}
input[type=text],
textarea{-webkit-appearance:none;-webkit-border-radius:0;outline:0}
a,input,em,h2{-webkit-tap-highlight-color:rgba(255,0,0,0);}
.clear{
clear: both;
}
body{
/*background: #f1f2f3;*/
max-width: 1024px;
margin: auto;
overflow-x: hidden;
}
.swiper-slide{
height: 150px;
}

.important{
font-weight: bold;
color: #f00;
}


/*顶部*/
header{
position: fixed;
top:0;
max-width: 1024px;
width: 100%;
background: #fff;
height:40px;
z-index: 999;
border-bottom: 1px solid #dedede;
}
header .head{
box-shadow: none;
display: inline-block;
vertical-align: bottom;
width: 100%;
max-width: 1024px;
height: 40px;
background: #fff;
position: fixed;
top: 0;
/*left: 0;*/
z-index: 9;
-webkit-transition: -webkit-box-shadow .5s;
border: none;
}
header .logo{
width: 82px;
height:40px;
line-height: 40px;
display: inline-block;
float: left;
padding-left: 5px;
}
header .logo img{
width:85px;
height:25px;
margin-bottom:3px;
}

header .menu {
float: right;
line-height: 40px;
font-size: 18px;
width: 40px;
color: #000;
text-align: right;
padding-right: 5px;
margin-right: 0;
}
header.nav-active .nav-masklayer{
display: block;
}
header .menu span{
font-size: 24px;
}
header .search {
position: absolute;
width: auto;
height: auto;
margin: 0;
background-color: #e4e4e4;
/*max-width: 300px;*/
border-radius: 15px;
left: 112px;
right: 58px;
bottom: 6px;
top: 6px;
}
header .search .js-placeholder{
width: 75%;
height: 100%;
background: transparent;
border: 0;
padding-left: 13px;
outline: none;
color: #888;
}
header .search i{
font-size: 18px;
float: right;
margin-right: 10px;
height: 28px;
line-height: 28px;
color: #fff;
}
:-moz-placeholder {
color: #888;
}

::-moz-placeholder {
color: #888;
}

input:-ms-input-placeholder{
color: #888;
}

input::-webkit-input-placeholder{
color: #888;
}

header nav {
position: fixed;
top: -100%;
/*right: 0;*/
width: 100%;
max-width: 1024px;
background-color: #fff;
padding-bottom: 15px;
z-index: 9;
overflow-x: hidden;
border-top: 1px solid #e6e6e6;
padding: 6px;
height: 350px;
margin: auto;
display: none;
}

.daohang
{
float:left;
background: #eee;
width:55px;
margin-right:12px;
padding:15px;
overflow: hidden;
margin-bottom:15px;
border-radius:10px;
}





.navdh
{
float:left;
background:#ffd600;
width:55px;
margin-right:12px;
padding:15px;
overflow: hidden;
margin-bottom:15px;
border-radius:10px;
}







.navbt{
margin-bottom:10px;
margin-top:10px;
border-bottom: 1px solid #e6e6e6;
height:30px;
width:380px;
color:#ff5e00;
}


.js-nav li{
display: block;
line-height: 40px;
padding-left: 15px;
border-bottom: 1px solid #f1f1f1;
}
.js-nav li .menu-two{
display: block;
overflow: hidden;
padding: 10px 0 0;
border-top: 1px solid #f1f1f1;
}
header .menu-two a {
padding: 0 10px;
float: left;
text-align: center;
display: inline-block;
line-height: 28px;
cursor: pointer;
margin-bottom: 10px;
background: #ffa900;
margin-left:5px;
color: #fff;
border-radius:25px;
}
header .menu-two a.cur{
color: red;
border: 1px solid #f00;
border-radius: 5px;
line-height: 26px;
}
header nav a{
display: block;
}
header nav a div {
border-radius: 3px;
padding: 9px 0;
}
header nav i {
width: 30px;
height: 30px;
line-height: 30px;
display: block;
margin: 5px auto 0;
font-size: 24px !important;
background: #f1f1f1;
border-radius: 3px;
}
header nav span {
color: #545454;
font-size: 14px;
line-height: 27px;
}
header .nav-masklayer {
width: 100%;
height: 100%;
z-index: 8;
background-color: #000;
opacity: .6;
display: none;
position: fixed;
top: 0;
left: 0;
}



@media only screen and (max-width: 640px) {
header nav a {
padding: 0;
height: auto;
}
header nav .special div {
margin-left: -1px;
}
}

@media only screen and (max-width: 400px) {

header nav .special {
width: 25%;
margin: 0;
}
header nav a div {
border-radius: 0;
}
header nav span {
line-height: 26px;
}
}

.content{
margin: 40px 0 50px;
overflow-x: hidden;
}
font{
background: #ff6c00;
color: #fff;
padding: 0 2px;
}

.not-comment{
height: 200px;
line-height: 200px;
text-align: center;
}
/*公共样式*/
/*滚动*/
.slide{
height:200px;
border: 1px solid #ccc;
}
/*列表*/
.panel{
padding: 5px 2px;
margin-top: 165px;

}
.panel .title{
font-weight: bold;
font-size: 16px;
padding: 0 6px;
border-bottom: 1px solid #eee;
height:20px;
padding:10px 5px;
}

.panel .biaoti{
font-weight: bold;
font-size: 16px;
padding: 0 6px;
width:330px;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
height:20px;
padding:10px 5px;
}

.panel .title .name{
color:#333;
font-size:15px;
display: inline-block;
font-weight: bold;
}
.panel .title .name i{
padding-left: 3px;
font-size: 18px;
vertical-align: middle;
margin-bottom:2px;
}
.panel .title .column-tip{
display: inline-block;
float: right;
}
.panel .title .column-tip a{
color:#888;
font-size: 14px;
}
.content-list:after,.img-list:after{
/*overflow: hidden;*/
content: "";
height: 0;
line-height: 0;
display: block;
visibility: hidden;
clear: both;
}
.clearfix:after{
content: "";
height: 0;
line-height: 0;
display: block;
visibility: hidden;
clear: both;
}
.content-list li{
display: inline-block;
width: 46%;
min-height: 50px;
float: left;
margin: 2%;
}
.content-list li a{
display: block;
height:auto;
}
.content-list li img{
max-width: 100%;
}
/*分类的头部*/
.vault-box{
overflow: hidden;
position: fixed;
background: #fff;
z-index: 99;
top: 41px;
width: 100%;
/*max-width: 1024px;*/
}
.vault-top{
height: 120px;
overflow: hidden;
}
.vault-top .tab{
height: 35px;
border-bottom: 1px solid #ddd;
line-height: 35px;
padding: 0 10px;
}
.vault-top .tab a{
margin: 0 20px;
display: inline-block;
}
.vault-top .tab a:first-child{
margin-left: 10px;
}
.vault-top .tab a.cur{
color: #ec4b4b;
border-bottom: 2px solid #ec4b4b;
}
.vault-top .item{
display: block;
margin: 0 10px;
border-bottom: 1px solid #eee;
overflow: auto;
padding: 5px 0;
overflow: hidden;
overflow-x: auto;
white-space: nowrap;
}
.vault-top .item:last-child{
border-bottom: none;
}
.vault-box .select{
width: 100%;
max-width: 640px;
height: 40px;
line-height: 30px;
display: block;
text-align: center;
color: #555;
font-size: 12px;
border-top: none;
position: relative;
z-index: 104;
background: url(../images/drop_down.png) no-repeat;
background-size: 100% auto;
}

.item label{
float: left;
color: #bbb;
padding: 9px 10px 9px 3px;
display: inline-block;
width: 48px;
text-align: right;
}
.item ul{
/*width: 20000px;*/
overflow-x: auto;
margin-left: 60px;
white-space: nowrap;
}
.vault-top .item ul::-webkit-scrollbar {display:none}
.item ul li{
display: inline-block;
padding: 2px 7px;
margin: 8px 5px 5px;
}
.item ul a{
color:#888;
}
.item ul li.current{
border-radius: 5px;
}
.item ul li.current a{
color: #ec4b4b;
}
/*评论*/
.font-text{
padding: 15px 15px;
border-bottom: 1px solid #eee;
}
.font-text img{
display: inline-block;
width: 38px;
height:38px;
border-radius: 50%;
}
.font-text input{
width: 80%;
border: 1px solid #e2e2e2;
margin-left: 15px;
height: 30px;
border-radius: 15px;
display: none;
}
.area-box{
/*display: none;*/
display: inline-block;
margin-left: 15px;
vertical-align: top;
width: 80%;
}
.area-box textarea{
width: 92%;
height: 60px;
border-radius: 7px;
border: 1px solid #e2e2e2;
padding: 10px;
line-height: 20px;
}
.area-box span{
font-family: Constantia,Georgia;
font-size: 16px;
color: #888;
}
.area-box .btn-box{
float: right;
margin-top: 10px;
}
.area-box .btn-box a{
display: inline-block;
width: 62px;
height: 30px;
line-height: 30px;
border-radius: 32px;
background: #eee;
text-align: center;
color: #aaa;
text-decoration: none;
}
.area-box .btn-box a.canel{
background: #fff;
border: 1px solid #aaa;
margin-right: 10px;
}
.area-box .btn-box a.send{
color: #fff;
background: #dbdbdb;
}
.area-box .btn-box a.send.submit{
background: #218aff;
}
.cmt-input {
box-sizing: border-box;
height: 35px;
padding: 0 .9375rem;
line-height: 35px;
border-radius: 35px;
border: 1px solid #e3e3e3;
background: #f7f7f7;
font-size: .85rem;
color: #c8c8c8;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}

/*评论*/
.comment-list li {
padding: 15px 0px;
border-bottom: 1px solid #eee;
overflow: hidden;
}
.comment-list li:last-child{
border-bottom: none;
}
.comment-list li .user-avatar {
display: inline-block;
width: 40px;
height: 40px;
margin-right: 15px;
float: left;
}
.comment-list li .user-avatar a {
display: inline-block;
}
.comment-list li .user-avatar img {
width: 100%;
height: 100%;
border-radius: 50%;
}
.comment-list li .comment-section {
display: inline-block;
float: left;
width: 80%;
}
.comment-list li .comment-section .user-info {
width: 100%;
font-size: 14px;
}
.comment-section .user-info .user-name {
color: #2fb3ff;
}
.comment-section .user-info .comment-timestamp {
margin: 0 10px 0 16px;
font-size: 12px;
color: #bbb;
}
.comment-list li .comment-section .comment-text {
padding-top: 10px;
margin-bottom: 5px;
font-size: 14px;
word-wrap: break-word;
word-break: normal;
}

/*测试*/
.v {
margin: 0;
padding: 0;
}
.v .v-thumb {
z-index: 1;
position: relative;
background: #999;
height: 90px;
overflow: hidden;
}
.v img {
display: block;
border: 0 none;
}
.v .v-thumb img {
width: 100%;
height: auto;
}
.v .v-thumb .v-pic-real {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-position: center center;
background-repeat: no-repeat;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
.v .v-link {
z-index: 4;
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
.v .v-thumb .v-tagrb {
z-index: 5;
position: absolute;
bottom: 3px;
right: 5px;
line-height: normal;
}
.v .vv-time {
color: #fff;
font-family: Tahoma, arial, helvetica, verdana, tahoma, sans-serif;
white-space: nowrap;
padding: 3px;
background-color: rgba(51, 51, 51, 0.66);
border-radius:6px;
}
.v .v-time {
color: #fff;
font-family: Tahoma, arial, helvetica, verdana, tahoma, sans-serif;
white-space: nowrap;
}
.v .v-straw{
position: absolute;
top: 3px;
right: 3px;
display: inline-block;
padding: 2px;
/*background: #E5B559;*/
background: #F65F00;
color: #fff;
font-size: 12px;
z-index: 9;
border-radius: 3px;
font-family: cursive;
line-height: normal;
}
.v .fn-duoji{
position: absolute;
bottom: 5px;
left: 5px;
font-size: 20px;
background: rgba(0,0,0,.5);
color: #fff;
width: 25px;
text-align: center;
border-radius: 2px;
}
.v .v-metadata {
padding: 5px 0;
background: #f5f5f5;
}
.v .v-title,.v .v-desc{
height: 20px;
overflow: hidden;
white-space: nowrap;
-webkit-text-overflow: ellipsis;
-moz-text-overflow: ellipsis;
-o-text-overflow: ellipsis;
text-overflow: ellipsis;
padding: 0 4px;
}
.v .v-desc{
padding: 0 4px 0 4px;
height:auto;
}
.v .v-desc i,.v .v-desc span{
color: #888;
/*vertical-align: middle;*/
display: inline-block;
}
.v .v-desc i{
font-size: 12px;
}
.fn-jinbi1{
color: #eabd11 !important;
}
.v .v-desc var{
font-style: normal;
}
.swiper-container{
/*margin-top: 40px !important;*/
max-height: 200px;
}
.swiper-container img{
width: 100%;
height: 100%;
}




/*****************************************************************/

.adver{
background: #f1f1f1;
margin: 10px;
position: relative;
height: 70px;
text-align: center;
line-height: 70px;
}
.adver img{
max-width: 100%;
}
.adver span{
position: absolute;
bottom: 0;
right: 0;
line-height: normal;
padding: 2px 5px;
background: rgba(0,0,0,.2);
color: #fff;
font-size: 12px;
}
.upload{
position: fixed;
right: 10px;
bottom: 100px;
width: 50px;
height: 50px;
border-radius: 50%;
background: #3b9eff;
text-align: center;
color: #fff;
z-index: 100;
font-size: 12px;
}
.upload i{
display: block;
font-size: 20px;
margin-top: 5px;
}
.not-comment{
min-height: 200px;
text-align: center;
line-height: 200px;
width: 100%;
background: transparent;
display: block;
}

/*底部*/
footer{
position: fixed;
bottom: 0;
height: 50px;
max-width: 1024px;
width: 100%;
background:#fff;
border-top: 1px solid #dedede;
z-index: 111;
}
footer a{
display: inline-block;
float: left;
width: 20%;
text-align: center;
padding: 8px 0;
color: #151515;
}
footer a i{
display: block;
font-size: 20px !important;
}
footer a:first-child i{
font-size: 18px !important;
padding: 1px 0;
}
footer a.active{
color:#E73332;
}

.gived{
color:#FF9800!important;
}

/*广告*/
.ads-box {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
.ads-box .ads-close {
    display: block;
    position: absolute;
    right: 8px;
    top: 8px;
    width: 12px;
    height: 12px;
    background: url(../images/hk_new_index_icons3.png) no-repeat -69px -118px;
    cursor: pointer;
}
.ads_dl .advert,.ads_dl .advert img,.ads_dr .advert,.ads_dr .advert img,.ads_b .advert,.ads_b .advert img,.ads_01 .advert,.ads_01 .advert img {
	height: auto !important;
}