/********************************************************************/
.pic-list li{
float: left;
display: inline-block;
width: 48%;
margin: 1% 1% 5%;
overflow: hidden;
vertical-align: top;
box-sizing: border-box;
}

.ub-list .ub-link {
display: block;
}
.ub-pic {
position: relative;
background-size: 100% 100%;
width: 100%;
min-height: 150px;
background-color: #eee;
background-size: cover;
}
.ub-tit, .ub-txt {
width: 100%;
display: block;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
}

.ub-tit {
width: auto;
margin: 5px 0 0;
font-size: 12px;
color: #666;
padding: 0 5px;
overflow: hidden;
text-overflow:ellipsis;
white-space: nowrap;
}
.ub-tit i{
font-size: 12px;
}
.ub-tit var{
font-style: normal;
}

.my-gallery {
width: 100%;
overflow: hidden;
padding: 10px 0;
}
.novel-top{
padding: 10px 10px 5px 10px;
margin-bottom: 10px;
box-shadow: 0px 0px 8px #c7c7c7;
}
.novel-top .n-title{
font-weight: bold;
font-size: 17px;
line-height: 25px;
text-align: justify;
overflow: hidden;
text-overflow:ellipsis;
white-space: nowrap;
}
.novel-top .n-info{
margin-top: 10px;
font-size: 13px;
color: #888;
}
.novel-top .see{
font-weight: normal;
font-size: 12px;
margin-right: 20px;
color: #888;
height: 25px;
line-height: 30px;
padding: 0 5px;
}
.novel-top .see var{
font-style: normal;
}
.novel-top .n-info .tag{
display: block;
margin: 10px;
font-size: 12px;
}
.novel-top .n-info .tag span{
display: inline-block;
padding:5px 10px;
margin-right: 5px;
border-radius: 12px;
color: #fff;
background: #f95c9c;
margin-bottom: 10px;
}
.novel-top .n-info .tag span a{
color:#fff;
}
.my-gallery .span3{
display: block;
float: left;
margin: 0 0px 5px 7px;
width: 47%;
position: relative;
background: #f1f1f1;
overflow: hidden;
}
.my-gallery .span3 img{
width: 100%;
height: auto;
}
.my-gallery .span3 span{
position: absolute;
top: 10px;
right: 10px;
color: #fff;
padding: 5px;
border-radius: 5px;
line-height: normal;
background: rgba(0,0,0,.4);
}











