body {
    margin: 0;
}

/*header {
    display: block;
    height: 50px;
    line-height: 50px;
    box-shadow: 0px 0px 8px #89bff5;
    position: relative;
}

header .go-back {
    position: absolute;
    width: 50px;
    text-align: center;
    line-height: 50px;
    display: block;
}

header .go-back i {
    display: inline-block;
    width: 12px;
    height: 12px;
    content: "";
    border-top: #333 1px solid;
    border-right: #333 1px solid;
    -webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

header span {
    display: block;
    text-align: center;
}*/

.login-box {
    margin-top: 10px;
}

.login-box p {
    margin: 0;
    line-height: 50px;
    border-bottom: 1px solid #eee;
    display: flex;
    padding: 0 20px;
    background: #fff;
}

.login-box p input {
    width: 100%;
    -webkit-flex: 1;
    border: none;
    padding-left: 20px;
    outline: none;
}
.login-box p span{
    display: inline-block;
    float: right;
    width: 85px;
    color: #8e8e8e;
    cursor: pointer;
    font-size: 12px;
    -webkit-tap-highlight-color: rgba(255,0,0,0);
    border-left: 1px solid #eee;
    text-align: right;

}
.login-box p span img{
    max-height: 50px;
    max-width: 100%;
    display: inline-block;
}
.login-box button {
    display: block;
    background:#ff266b;
    width: 86%;
    margin: 30px auto 10px;
    border: 0;
    border-radius: 30px;
    line-height: 40px;
    color: #fff;
    font-size: 16px;
    outline: none;
}

.login-box .forget {
    display: block;
    width: 80%;
    margin: auto;
    font-size: 12px;
    color: #888;
}

.login-box .forget .register-btn {
    float: right;
}

.login-Third{
    width: 87%;
    margin: 40px auto 0;
}
.login-Third h4{
    margin-bottom: 10px;
}
.login-Third a{
    display: inline-block;
    text-align: center;
    width: 50px;
}
.login-Third a i{
    display: block;
    font-size: 30px;
    color: #68A5E1;
    background: url(../images/icon_QQ.png) no-repeat;
    background-size: 100% auto;
    width: 48px;
    height: 48px;
}
.login-Third a i.fn-weixin1{
    font-size: 26px;
    color: #50B674;
    background: url(../images/WeChat.png) no-repeat;
    background-size: 100% auto;
}