.novel-list li{
    border-bottom: 1px solid #eee;
    padding: 20px 0;
    overflow: hidden;
}
.novel-list li:last-child{
    border-bottom: 0;
}
.novel-list li a{
    display: flex;
    width: 100%;
}
.novel-list li .novelPic{
    display: inline-block;
    width: 100px;
    height: 75px;
    float: left;
    margin-right: 10px;
    overflow: hidden;
    background: #f5f5f5;
    position: relative;
    text-align: center;
    line-height: 75px;
}
.novel-list li .novelPic img {
    max-width: 100px;
    max-height: 75px;
}
.novel-list li .novel-box {
    display: block;
    vertical-align: middle;
    width: 50%;
    -webkit-flex: 1;
}
.novel-list li .novel-box p {
    font-size: 15px;
    /* font-weight: 600; */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}
.novel-list li .novel-box .text {
    font-size: 12px;
    color: #a7a7a7;
    padding: 3px 0 10px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    height: 24px;
    text-align: justify;
    transform: scale(.9);
    margin-left: -12px;
}
.novel-list li .novel-box .box-f {
    display: inline-block;
    float: left;
}
.novel-list li .novel-box .box-f span {
    margin-right: 20px;
    font-size: 12px;
    color: #888;
}
.novel-list li .novel-box .box-f span i{
    font-size: 12px;
}
.novel-list li .novel-box .box-r {
    display: inline-block;
    float: right;
}
.novel-list li .novel-box .box-r span {
    display: inline-block;
    padding: 0px 8px;
    border-radius: 12px;
    color: #848080;
    border: 1px solid #afacac;
    font-size: 12px;
}

/***************************************/
/*资讯详情*/
.novel-detail .novel-top{
    padding: 10px;
	border-bottom: 1px solid #dedede;
}
.novel-detail .novel-top .n-title{
    font-weight: bold;
    font-size: 17px;
    line-height: 25px;
    text-align: justify;
}
.novel-detail .novel-top .n-info{
    margin-top: 10px;
    font-size: 13px;
    color: #888;
}
.novel-detail .novel-top .n-info .tag{
    display: block;
    margin: 10px;
    font-size: 12px;
}
.novel-detail .novel-top .n-info .tag span{
    display: inline-block;
    padding: 1px 10px;
    margin-right: 5px;
    border-radius: 12px;
    color: #fff;
    background: #5cb7f9;
}
.operate{
    height: 25px;
    line-height: 30px;
    padding: 0 5px;
}
.operate li{
    float: left;
    font-size: 12px;
    margin-right: 10px;
}
.operate li i{
    font-size: 14px;
}
.operate li var{
    font-style: normal;
}

.novel-detail .n-decs{
    padding: 0 20px 20px 20px;
    /*border-bottom: 1px solid #ddd;*/
}
.novel-detail .n-decs img{
    width: 100%;
    margin: 10px 0 20px;
}
.novel-detail .n-decs p{
    line-height: 25px;
    color: #636363;
    text-indent: 1.6rem;
    font-size: 13px;
    margin-bottom: 10px;
    text-align: justify;
}
.cut{
    padding: 20px 15px;
    border-top: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
}
.cut a {
    cursor: pointer;
    display: inline-block;
}
.cut a.next {
    float: right;
}
.cut .prev-box {
    display: inline-block;
    width: 100px;
    height: 50px;
    background: #eaeaea;
    vertical-align: middle;
    position: relative;
}
.cut .prev-box .img-bg {
    display: block;
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 46px;
}
.cut .prev-box .img-bg img {
    max-width: 100%;
    max-height: 100%;
}
.cut .prev-box p {
    font-size: 12px;
    color: #fff;
    padding: 0 4px;
    text-align: justify;
    position: absolute;
    bottom: 0;
    background: rgba(51, 51, 51, 0.41);
    min-height: 20px;
    right: 0;
    left: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 20px;
}
.cut .prev-btn {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}
.cut a i {
    font-size: 30px;
    vertical-align: middle;
    width: auto;
    color: #888;
}




.novel-detail .n-discuss{
    padding: 10px;
}
.novel-detail .n-discuss .title{
    line-height: 35px;
    font-size: 16px;
    font-weight: bold;
}

