.video-box{
    display: block;
    width: 100%;
    position: relative;
}
.video-box video{
    display: block;
    width: 100%;
    background: #000;
}
.video-box p{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    color: #bbb;
    display: block;
    background: rgba(0,0,0,.5);
    padding: 8px;
}
.p-title{
    padding: 5px 10px;
    overflow-x: hidden;
}
.p-title .title{
    color: #333;
    font-size: 18px;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 5px 0 8px 0;
}
.p-title span{
    font-size: 12px;
    color: #888;
}
.p-title span i{
    vertical-align: middle;
    width: 19px;
    display: inline-block;
    text-align: center;
    font-size: 12px;
}
.p-title .drop-down{
    display: inline-block;
    width: 25px;
    height: 20px;
    float: right;
    color: #b3b3b3;
    width: 30%;
    text-align: right;
    position: absolute;
}
.p-title .drop-down i{
    display: inline-block;
}
.p-title .desc{
    color: #888;
    padding: 15px 0 0;
    font-size: 12px;
    text-align: justify;
    display: none;
}
.p-title .desc p{
    margin-bottom: 10px;
    overflow: hidden;
}
.p-title .desc p span{
    margin-left: 17px;
}
.p-title .desc p label{
    display: inline-block;
    width: 40px;
    float: left;
    font-weight: bold;
}
.p-title .desc p a{
    display: inline-block;
    float: left;
    color: #00aaee;
    margin: 0 5px;
    /*border: 1px solid #00aaee;*/
    padding: 2px 3px;
    border-radius: 3px;
}
.p-title .desc p:last-child a{
    color: #da2657;
    /*border: 1px solid #da2657;*/
}
.p-title .desc p img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.powerful{
    overflow: hidden;
    padding-bottom: 10px;
    border-bottom: 5px solid #eee;
}
.powerful li{
    display: block;
    float: left;
    width: 25%;
    text-align: center;
}
.powerful li i{
    color: #888;
    display: inline-block;
    width: 18px;
    height: 20px;
    text-align: left;
    vertical-align: middle;
}
.powerful li var{
    font-style: normal;
}
.panel{
    margin-top: 0;
}
.set-box .panel{
    display: none;
    margin-top: 0;
    /*padding-left: 0;*/
}
.drama{
    overflow: hidden;
}
.reward{
    height: 110px;
    padding: 10px;
    overflow: hidden;
    border-bottom: 5px solid #eee;
}
.reward p{
    height: 30px;
    font-weight: bold;
    font-size: 17px;
}
.reward ul{
    white-space: nowrap;
    overflow-x: auto;
    height: 105px;
}
.reward li{
    display: inline-block;
    width: 60px;
    margin: 0 6px;
    position: relative;
}
.reward li img{
    display: block;
    height: 60px;
    width: 60px;
    background: #eee;
}
.reward li span{
    display: block;
    width: 100%;
    text-align: center;
    line-height: 25px;
}
.reward li span.money{
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
    color: #fff;
    line-height: normal;
    background: rgba(0,0,0,.2);
    padding: 0 3px;
    font-size: 12px;
    min-width: 14px;
}



/*推荐*/
.r-list{
    padding: 5px 10px;
}
.r-list .title{
    padding: 10px 0;
    font-size: 16px;
    font-weight: bold;
}
.r-list li,.drama li{
    overflow: hidden;
    margin: 10px 0;
    position: relative;
    padding-left: 10px;
}
.r-list li .img-box,.drama li .img-box{
    display: inline-block;
    width: 120px;
    height: 60px;
    text-align: center;
    line-height: 57px;
    float: left;
    position: relative;
    background: #f1f1f1;
}
.r-list li .img-box span,.drama li .img-box span{
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 0;
    line-height: normal;
    color: #fff;
    background: rgba(0,0,0,.3);
    padding: 0 5px;
    font-size: 12px;
}

.r-list li .img-box img,.drama li .img-box img{
    max-width: 100%;
}
.r-list li .font-box,.drama li .font-box{
    position: absolute;
    left: 140px;
    right: 10px;
}
.r-list li .font-box p,.drama li .font-box p{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 5px 0 10px;
}
.r-list li .font-box span,.drama li .font-box span{
    color:#888;
}
.tab{
    overflow: hidden;
    border-bottom: 1px solid #eee;
}
.tab span{
    display: inline-block;
    width: 33.3%;
    float: left;
    text-align: center;
    height: 100%;
    padding: 10px 0;
    font-size: 16px;
}
.tab span.active{
    border-bottom: 2px solid red;
    color:red;
}

.curlPlayVideoLi{
    border-left:3px solid red;
    /*margin-left: -3px!important;*/
}
.curlPlayVideoLi .img-box{
    margin-left: -3px;
}

