.login-box button {
    margin: 60px auto 10px;
}

.login-box p span {
    border: 0;
    width: 100px;
}

body {
    background: #fff;
}

header {
    display: block;
    height: 40px;
    line-height: 40px;
    box-shadow: 0px 0px 8px #FFDDDD;
    position: fixed;
    border-bottom: none;
    font-size: 12px;
}

header .go-back {
    position: absolute;
    width: 40px;
    text-align: center;
    line-height: 40px;
    display: block;
}

header .go-back i {
    display: inline-block;
    width: 12px;
    height: 12px;
    content: "";
    border-top: #333 1px solid;
    border-right: #333 1px solid;
    -webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg);
    margin-top: 13px;
}

header span {
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}
header .menu{
    position: absolute;
    top: 0;
    right: 0;
}
header .menu i{
    font-size: 24px;
}
.box{
    padding: 45px 0 45px;
    overflow-x: hidden;
}
.ui-page {
    min-height: 300px !important;
    outline: none;
}
.ui-loader{display: none;}

.layui-layer-input{
    display: block;
    width: 230px;
    height: 36px;
    margin: 0 auto;
    line-height: 30px;
    padding-left: 10px;
    border: 1px solid #e6e6e6;
    color: #333;
}

.sheet li {
    /*padding: 5px 0;*/
}

.sheet li ul {
    display: none;
    padding: 0 10px;
}

.sheet li .show-box {
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #ddd;
    padding: 0 10px;
    background: rgba(228, 229, 230, 0.5);
}

.sheet li .show-box span {
    width: 70%;
    display: inline-block;
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.sheet li .show-box span:last-child {
    float: right;
    color: #333;
    width: 30%;
    text-align: right;
}

.sheet li li {
    text-align: right;
    border-bottom: 1px dashed #ddd;
    line-height: 30px;
    padding: 5px 0;
}
.sheet li li:last-child{
    border:0;
}
.sheet li li var{
    font-style: normal;
}
.sheet li li var.not-pay{
    color:#f00;
}
.sheet li li var.yes-pay{
    color: #2b98e8;
}
.sheet li li a{
    display: inline-block;
    width: 85%;
    height: 40px;
    text-align: left;
    line-height: 20px;
    color: #3b9eff;
}
.sheet li li label {
    float: left;
}

.popup li .narrow-img{
    display: block;
    width: 50%;
    margin: 20px auto;
}
.popup li .narrow-img img{
    width: 100%;
}
.popup li a{
    margin-left: 3px;
    width: 40px;
}

.step_con {
    padding: 20px 0;
}

.item_input {
    padding: 7px 0 3px;
    display: block;
}

.item_input .input-common {
    width: 100%;
    display: block;
    box-sizing: border-box;
    height: 34px;
    border-radius: 5px;
    border: 1px solid #ddd;
    padding-left: 5px;
}

.item_title_big {
    display: inline-block;
    width: 250px;
}

.item_title_big label {
    display: block;
    width: 100%;
    text-align: left;
}

.pp_icon {
    background: url("../images/pwd_icon.png") no-repeat top left;
    background-size: 100% 82px;
}
.step_bg{
    background: url("../images/seek_icon.png") no-repeat top left;
    background-size: 100% 140px;
}
.step_bg .step_list li{
    width:33%;
    font-size: 12px;
}
.stepOne .two-wrap li{
    width: 50%;
}
.stepTwo {
    background-position: bottom left;
}
.stepThree{
    background-position: center left;
}
#step1 .pp_account_form_item a,#step2 .pp_account_form_item a{
    width: 30%;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    border-radius: 7px;
    color: #2692ff;
    font-size: 14px;
    border: 1px solid #2692ff;
    background: transparent;
    margin: 0;
}

#step1 #nextStepBtn,#step2 #saveBindBtn{
    width: 100%;
    background: #2692ff;
    color: #fff;
    line-height: 40px;
    font-size: 16px;
    margin-top: 25px;
}
.pp_account_form_item var{
    font-style: normal;
    color: #00CD32;
    font-weight: bold;
}
.pp_con_wrap {
    padding: 10px 10px 0;
}

.step_list {
    overflow: hidden;
}

.step_list li {
    height: 38px;
    line-height: 38px;
    float: left;
    width: 33%;
    text-align: center;
}

.step_list li.step_pass {
    color: #fff;
}

.pp_account_form_item {
    margin-bottom: 10px;
}

.pp_account_form_item a {
    width: 100%;
    margin: 30px auto 0;
    display: block;
    text-align: center;
    background: #2692ff;
    line-height: 40px;
    border-radius: 7px;
    color: #fff;
    font-size: 16px;
}

.success_hint_bd {
    width: 75px;
    height: 75px;
    display: block;
    margin: 50px auto 25px;
    font-size: 75px !important;
    color: #2692ff;
}

.success_note {
    text-align: center;
}

.success_note span {
    color: #2692ff;
    font-weight: bold;
    margin-bottom: 20px;
    display: inline-block;
}

.success_note a {
    display: inline-block;
    border: 1px solid #dedede;
    font-size: 14px;
    border-radius: 3px;
    color: #2692ff;
    width: 76px;
    line-height: 27px;
    cursor: pointer;
}

.apply, .set-up, .agent {
    padding: 15px;
    position: relative;
}
.apply .title, .set-up .title, .agent .title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    line-height: normal;
}
.agent .picBox{
    margin-bottom: 20px;
}
.agent .picBox .img-cel {
    margin: 0 3px;
    width: 30%;
    /* height: 210px; */
    display: inline-block;
    /* float: left; */
    /* position: relative; */
    vertical-align: top;
}
.agent .picBox .img-cel div {
    width: 100%;
    /* height: 143px; */
    /*line-height: 121px;*/
    border: 3px solid #eee;
    text-align: center;
}
.agent .picBox .img-cel div img{
    width: 100%;
}
.agent .picBox .img-cel span{
    height: 30px;
    line-height: 30px;
    display: inline-block;
    width: 106%;
    text-align: center;
    background: #00d8bf;
    color: #fff;
    margin-top: 10px;
    font-size: 12px;
}
.apply p {
    font-size: 12px;
    margin-bottom: 10px;
}
.apply p b {
    font-size: 18px;
    color: #3b9eff;
}
.apply p span {
    font-size: 16px;
    font-weight: bold;
}
.apply p span.adopt {
    color: #ff5722;
}
.apply a{
    display: inline-block;
    padding: 8px 10px;
    background: #3b9eff;
    color: #fff;
    font-size: 14px;
    position: absolute;
    right: 30px;
    top: 10px;
    border-radius: 20px;
}
.set-up .set-box {
    position: relative;
}
.set-up .set-box p {
    line-height: 36px;
    overflow: hidden;
    margin-bottom: 10px;
}
.set-up .set-box p label {
    display: block;
    width: 100px;
    font-weight: bold;
}
.set-up .set-box p input{
    width: 96%;
    line-height: 30px;
    padding-left: 10px;
    border: 1px solid #e6e6e6;
}
.set-up .set-box p input#tg-link{
    width: 82%;
    vertical-align: middle;
}
.set-up .set-box p #cp-btn{
    height: 32px;
    margin-left: -5px;
    width: 13%;
    vertical-align: middle;
    font-size: 12px;
}
.set-up .set-box .submit {
    display: inline-block;
    width: 77px;
    height: 38px;
    text-align: center;
    line-height: 38px;
    color: #fff;
    background: #3b9eff;
    border-radius: 5px;
    position: absolute;
    right: 0;
    bottom: 0;
}
.exten-btn {
    width: 60px;
    height: 40px;
    background: #ee8124;
    border: 0;
    color: #fff;
    font-size: 18px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}


