.galleryOverlay { width: 100%; height: 100%; position: fixed; top: 0; left: 0; opacity: 0; z-index: 100000; background-color: #222; background-color: rgba(0,0,0,1); overflow: hidden; display: none; -moz-transition: opacity 1s ease; -webkit-transition: opacity 1s ease; transition: opacity 1s ease; }
.galleryOverlay.visible { opacity: 1; }
.gallerySlider { height: 100%; left: 0; top: 0; width: 100%; white-space: nowrap; position: absolute; }
.gallerySlider .placeholder { background: url(../images/preloader.gif) no-repeat center center; height: 100%; line-height: 1px; text-align: center; width: 100%; display: inline-block; }
.gallerySlider .placeholder:before { content: ""; display: inline-block; height: 50%; width: 1px; margin-right: -1px; }
.gallerySlider .placeholder img { display: inline-block; max-height: 100%; max-width: 100%; vertical-align: middle; }
.prevArrow, .nextArrow { border: none; text-decoration: none; background: url(../images/arrows.png) no-repeat; opacity: 1; cursor: pointer; position: absolute; width: 43px; height: 58px; top: 50%; margin-top: -29px; }
.prevArrow:hover, .nextArrow:hover { opacity: 1; }
.prevArrow { background-position: left top; left: 40px; }
.nextArrow { background-position: right top; right: 40px; }
.pagelimit { position: absolute; bottom: 20px; left: 50%; margin-left: -18px; color: #fff; font-size: 1.4rem; }
