* {
    margin: 0;
    padding: 0;
    outline: 0;
}

html {
    background: #fdffff url("a1.png") repeat;
    color: #555;
    font-size: 14px;
    font-family: "Microsoft Yahei",Tahoma,Arial,Helvetica,STHeiti;
    text-shadow: rgba(255,255,255,0.5) 0 1px;
}

html, body {
    width: 100%;
    height: 100%;
}

    html body .hide {
        display: none;
    }

input, textarea {
    font-family: "Microsoft Yahei",Tahoma,Arial,Helvetica,STHeiti;
}

.centerxy {
    width: 100%;
    border: 0;
}

    .centerxy tr {
        border: 0;
    }

    .centerxy td {
        border: 0;
        text-align: center;
    }

.product-token {
    display: block;
    border: 0;
    font-size: 60px;
    font-weight: bold;
    color: #000;
    background: 0;
    width: 100%;
    margin-top: 60px;
    margin-bottom: 60px;
    text-align: center;
    resize: none;
}


.product-copy {
    background: url("a2.png") no-repeat;
    background-position: center;
    display: block;
    margin: 0px auto 40px;
    text-align: center;
    color: #999;
	width:202px;
    height: 84px;
    cursor:pointer;
}

.product-copied {
    background: url("a3.png") no-repeat;
    background-position: center;
    display: block;
    margin: 0px auto 40px;
    text-align: center;
    color: #999;
	width:202px;
    height: 84px
}

.product-tip {
    display: block;
    text-align: center;
    font-size: 28px;
    color: #999;
    line-height: 200%;
}

.token {
    display: block;
    background: #fff;
    padding: 50px 0;
    box-shadow: rgba(0,0,0,0.1) 0 0 20px;
}
