<title>设置我的密码</title>

<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">主页</a>
        <a><cite>我的密码</cite></a>
    </div>
</div>

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">修改密码</div>
                <div class="layui-card-body" pad15>

                    <div class="layui-form" lay-filter="">
                        <div class="layui-form-item">
                            <label class="layui-form-label">当前密码</label>
                            <div class="layui-input-inline">
                                <input type="password" name="oldPassword" required lay-verify="required" lay-verType="tips" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">新密码</label>
                            <div class="layui-input-inline">
                                <input type="password" name="password" required lay-verify="required|pass" lay-verType="tips" autocomplete="off" id="LAY_password" class="layui-input">
                            </div>
                            <div class="layui-form-mid layui-word-aux">6到12个字符</div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">确认新密码</label>
                            <div class="layui-input-inline">
                                <input type="password" name="repassword" required lay-verify="required|repass" lay-verType="tips" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn" lay-submit lay-filter="setmypass">确认修改</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

 //   layui.use('set', layui.factory('set'));
 layui.use(['admin', 'form'], function(){
     var $ = layui.$
             ,admin = layui.admin
             ,element = layui.element
             ,layer = layui.layer
             ,form = layui.form
             ,setter = layui.setter;

     /* 自定义验证规则 */
     form.verify({
         pass: [/(.+){6,12}$/, '密码必须6到16位'],
         repass: [/(.+){6,12}$/, '密码必须6到12位']

     });


     /* 监听提交  新增、编辑数据*/
     form.on('submit', function(data){
         //发送请求
         admin.req({
             type:'POST',
             url: config.url+'manage_base/admin_user/password'//数据接口
             ,data:{"data":data.field},
             done:function(res){
                 if(res.data.status==0){//修改成功
                     //清除access_token
                     layui.data(setter.tableName, {
                         key: setter.request.tokenName
                         ,value:''
                     });
                     layer.msg(res.msg, {
                         offset: '15px'
                         ,icon: 1
                         ,time: 1000
                     }, function(){
                         location.hash ='/user/login';
                     });
                 }else{//失败
                     layer.msg(res.msg, {
                         offset: '15px'
                         ,icon: 2
                         ,time: 1000
                     }, function(){
                         location.hash ='/user/password';
                     });
                 }
             }
         });
         return  false;
     });
 });

</script>