 body{ background-color:#f3f3f3; }
   .user-head{ position:relative; height: 2.2rem; color:#fff; }
   .user-head .user-head-img img{ position:absolute; top:0; left:0; width:100%; height: 2.2rem; }
   .user-head .user-info{ position:relative; z-index:99; margin: .22rem; margin-top:0; padding-top:.22rem; }
   .user-head .user-info i { width: 1rem; height: 1rem; border-radius: 100%; border: .14em solid rgba(255,255,255,.8); box-shadow: inset 0 1px 8px rgba(0,0,0,0.2); display: inline-block; overflow: hidden; vertical-align:middle; }
   .user-head .user-info i img{ width:100%; height:100%; }
   .user-head .user-info .user-info-f { display: inline-block; font-size:.22rem; line-height: 1.8; margin-left: .15rem; vertical-align: middle; }
   .user-head .user-info .user-o { position: absolute; top: 0; right: 0; font-size:.22rem; text-align: center;  }
   .user-head .user-info .user-o a{ display:block; color: rgba(255,255,255,.8); padding:.08rem .2rem; margin-top: .18rem; border-radius:5px; background-color:rgba(0,0,0,.6); }
   .user-s { position:absolute; display: table; font-size:.2rem; bottom:0; left:0; width:100%; }
   .user-s li { display: table-cell; width: 33.33%; line-height: 1.5; text-align: center;  }
   .user-s li a{ display:block; padding: .08rem 0; color: rgba(255,255,255,.9); background-color:rgba(0,0,0,0.2); margin-left: 1px }
   .user-s li:first-child a{ margin-left:0; }
   .user-s li em{ font-size:.24rem; }

   .accounts{ margin-top: .2rem; }
   .accounts a, .accounts h1{ position:relative; display:block; margin-left: .2rem; color:#666; font-size:.24rem; line-height: 2.2; }
   .accounts a:after { content: ""; position: absolute; top: .08rem; right: .1rem; width: .4rem; height: .4rem; background: url(../images/ico.png) no-repeat -2.3rem -3rem; background-size: 3.4rem; }
   .accounts .user-s{ position:relative; }
   .accounts .user-s.sec{ border-top:solid 1px #eee; }
   .accounts .user-s li{ width:25%;  padding: .1rem 0; color:#222; background-color:#fff; border-left:solid 1px #eee; }
   .accounts .user-s li:first-child{ background-color:#fafafa; }
   .accounts .user-s li em, .accounts i{ color:#ea3b4c; }

   .common-wrapper{ /*padding-bottom: .92rem;*/ }
   .user-row { display: -webkit-box; display: -moz-box; height: .7rem; line-height: .7rem; background: #fff; }
   .user-row.t{ margin-top: .16rem }
   .user-row.b p{ border-top:solid 1px #eee; }
   .user-row i { display: table-cell; position: relative; width: .76rem; height: .5rem; }
   .user-row i:before { content: ""; position: absolute; top: .15rem; left: .2rem; width: .4rem; height: .4rem; border-radius:5px; background-image: url(../images/ico.png); background-repeat: no-repeat; background-size: 2rem; }
   .user-row.icon-1 i:before { background-color:#df2519; background-position: -.79rem -.9rem; }
   .user-row.icon-2 i:before { background-color:#f53173; background-position: -1.223rem -.9rem; }
   .user-row.icon-3 i:before { background-color:#fe6e01; background-position: -1.658rem -.9rem; }
   .user-row.icon-4 i:before { background-color:#fdb23a; background-position: .09rem -1.29rem; }
   .user-row.icon-5 i:before { background-color:#2d9df4; background-position: -.38rem -1.28rem; }
   .user-row.icon-6 i:before { background-color:#99C800; background-position: .09rem -1.68rem; }
   .user-row.icon-7 i:before { background-color:#fe614e; background-position: -.81rem -1.28rem; }
   .user-row.icon-8 i:before { background-color:#a63ce0; background-position: -.38rem -1.68rem; }
   .user-row.icon-9 i:before { background-color:#5090cd; background-position: -1.26rem -1.29rem; }
   .user-row.icon-10 i:before { background-color:#424b54; background-position: -1.69rem -1.29rem }
   .user-row p{ position:relative; -webkit-box-flex: 1; -moz-box-flex: 1; }
   .user-row p:after { content: ""; position: absolute; top: .15rem; right: .1rem; width: .4rem; height: .4rem; background: url(../images/ico.png) no-repeat -.8rem -1.7rem; background-size: 3.4rem; }
