{template 'common/header'}
<div class="main">
    <form class="form-horizontal form" id="form2" action="" method="post" enctype="multipart/form-data">
        <div class="panel panel-default">
            <div class="panel-heading">基本参数</div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-xs-12 col-sm-2 col-md-2 col-lg-2 control-label">订阅开关</label>
                    <div class="col-sm-6 col-md-8 col-xs-12">
                        <div class="input-group">
                            <label class="radio-inline">
                                <input type="radio" name="base[switch]" value="1" {if isset($this->module['config']['base']['switch']) && $this->module['config']['base']['switch']==1}checked{/if}> 开启
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="base[switch]" value="0" {if !isset($this->module['config']['base']['switch']) || $this->module['config']['base']['switch']==0}checked{/if}> 关闭
                            </label>
                        </div>
                        <span class="help-block">
                            开启订阅后，用户可发布订阅商品，目前每个用户仅支持订阅一个
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-4 col-md-3 col-lg-2 control-label">订阅页面规则</label>
                    <div class="col-sm-8 col-xs-12">
                        {php echo tpl_ueditor('base[rule]', $this->module['config']['base']['rule'])}
                        <span class="help-block"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">模板消息</div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-xs-12 col-sm-4 col-md-3 col-lg-2 control-label">运行时间</label>
                    <div class="col-sm-8 col-xs-12">
                        <div class="input-group ">
                            <input type="number" step="0" class="form-control" name="tmpl[run_time]" value="{php echo $this->module['config']['tmpl']['run_time']}">
                            <span class="input-group-btn">
								<button class="btn btn-default" type="button">分钟</button>
							</span>
                        </div>
                        <span class="help-block">后台检查发送给用户模板消息的运行时间间隔，不填默认5分钟</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-2 col-md-2 col-lg-2 control-label">订阅成功通知</label>
                    <div class="col-sm-6 col-md-8 col-xs-12">
                        <input type="text" name="tmpl[get]" class="form-control" value="{php echo $this->module['config']['tmpl']['get']}" placeholder="模板消息id">
                        <div class="help-block">登录小程序微信公众平台 => 模版消息 => 模版库，搜索'AT0356'，点击选用</div>
                        <div class="help-block">
                            配置关键词:
                            <span class="bg-warning">订阅项目</span>、
                            <span class="bg-warning">备注</span>
                        </div>
                        <div class="help-block">用于发送给订阅物品已上线的用户</div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-2 col-md-2 col-lg-2 control-label">订阅到期通知</label>
                    <div class="col-sm-6 col-md-8 col-xs-12">
                        <input type="text" name="tmpl[expire]" class="form-control" value="{php echo $this->module['config']['tmpl']['expire']}" placeholder="模板消息id">
                        <div class="help-block">登录小程序微信公众平台 => 模版消息 => 模版库，搜索'AT1281'，
                        </div>
                        <div class="help-block">
                            配置关键词:
                            <span class="bg-warning">备注</span>、
                            <span class="bg-warning">到期时间</span>
                        </div>
                        <div class="help-block">用于发送给订阅物品已过期的用户</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">检索范围参数</div>
            <div class="panel-body">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th width="25"></th>
                        <th>范围(km)</th>
                        <th width="10%">操作</th>
                    </tr>
                    </thead>
                    <tbody id="list_wrap">
                    {if $this->module['config']['distance']}
                    {loop $this->module['config']['distance']['value'] $k $value}
                    <tr>
                        <td>
                            <a href="javascript:;" class="fa fa-move" title="按住鼠标左键，拖动调整顺序">
                                <i class="fa fa-arrows"></i>
                            </a>
                        </td>
                        <td>
                            <div class="form-group">
                                <div class="col-sm-12 col-xs-12">
                                    <input name="distance[value][]" type="text" class="form-control" value="{$value}"/>
                                </div>
                            </div>
                        </td>
                        <td>
                            <a href="javascript:;" class="del_item_link" data-toggle="tooltip" onclick="delItem(this)" title="删除">
                                <i class='fa fa-remove' style="color: #f00"></i>
                            </a>
                        </td>
                    </tr>
                    {/loop}
                    {/if}
                    </tbody>
                    <tbody>
                    <tr>
                        <td colspan="5">
                            <button type="button" class="btn btn-warning add_distance" title="添加" data-target="#list_wrap">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 添加
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="form-group col-sm-12">
            <input name="token" type="hidden" value="{$_W['token']}" />
            <input type="submit" class="btn btn-primary" name="submit" value="提交" />
        </div>
    </form>
</div>
<script>
    require(['jquery', 'util', 'jquery.ui'],function($){
        $('#list_wrap').sortable({handle: '.fa-move'});
        //删除模板
        window.delItem = function(obj) {
            $(obj).parent().parent().remove();
        };
        //添加模板
        $('.add_distance').click(function(){
            var url = window.location.href+'&load_field=yes';
            $.ajax({
                url: url,
                success: function (response) {
                    $('#list_wrap').append(response);
                }
            });
        });
    });
</script>
{template 'common/footer'}