@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?sxp571');
  src:  url('../fonts/icomoon.eot?sxp571#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?sxp571') format('truetype'),
    url('../fonts/icomoon.woff?sxp571') format('woff'),
    url('../fonts/icomoon.svg?sxp571#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-duwn:before {
  content: "\e902";
}
.icon-arrow-left:before {
  content: "\e903";
}
.icon-arrow-right:before {
  content: "\e904";
}
.icon-arrow-up:before {
  content: "\e905";
}
.icon-line:before {
  content: "\e906";
}
.icon-facebook:before {
  content: "\e907";
}
.icon-twitter:before {
  content: "\e908";
}
.icon-instagram:before {
  content: "\e901";
}
.icon-hatena:before {
  content: "\e900";
}

