{template 'public/header'}

{template 'public/comhead'}

<link rel="stylesheet" type="text/css" href="../addons/yzzc_sun/template/public/ygcss.css">

<ul class="nav nav-tabs">
    <span class="ygxian"></span>
    <div class="ygdangq">当前位置:</div>
    <li class="active"><a href="javascript:void(0);">订单设置</a></li>
    <li><a href="{php echo $this->createWebUrl('order');}"><i class="fa fa-refresh"></i>返回订单列表</a></li>
</ul>
<div class="main ygmain">
    <form action="" method="post" class="form-horizontal form" enctype="multipart/form-data">
        <div class="panel panel-default ygdefault">

            <div class="panel-heading wyheader">

                订单设置

            </div>

            <div class="panel-body">

                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">取车前几天可退款</label>
                    <div class="col-sm-3">
                        <input type="text" name="istui" class="form-control" value="{$info['istui']}" placeholder="0 为取车前都可退"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">退款百分比</label>
                    <div class="col-sm-3">
                        <input type="text" name="tuimoney" class="form-control" value="{$info['tuimoney']}" placeholder="1-100,100为全额退款，1为退款1%"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">长租订单预付金额</label>
                    <div class="col-sm-3">
                        <input type="text" name="long_prepay" class="form-control" value="{$info['long_prepay']}" placeholder="0 为全额"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">短租订单预付金额</label>
                    <div class="col-sm-3">
                        <input type="text" name="short_prepay" class="form-control" value="{$info['short_prepay']}" placeholder="0 为全额"/>
                    </div>
                </div>
                <div class="form-group">
                    <h4 style="color: red;font-size: 17px; margin-left: 150px" >* 预付金额设置为0，前端付款时支付的是合计总金额</h4>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">基础服务费说明</label>
                    <div class="col-sm-9">
                        {php echo tpl_ueditor('service_desc',$info['service_desc']);}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">尊享服务费说明</label>
                    <div class="col-sm-9">
                        {php echo tpl_ueditor('zx_service_desc',$info['zx_service_desc']);}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">取车须知</label>
                    <div class="col-sm-9">
                        {php echo tpl_ueditor('know',$info['know']);}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">取车证件说明</label>
                    <div class="col-sm-9">
                        {php echo tpl_ueditor('getcar_desc',$info['getcar_desc']);}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">订单说明及退改规则</label>
                    <div class="col-sm-9">
                        {php echo tpl_ueditor('rule',$info['rule']);}
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">

            <input type="submit" name="submit" value="保存设置" class="btn col-lg-3" style="color: white;background-color: #444444;margin-left: 550px;"/>

            <input type="hidden" name="token" value="{$_W['token']}" />
            <input type="hidden" name="id" value="{$info['id']}" />

        </div>

    </form>

</div>
<script type="text/javascript">
    $(function(){
        $("#frame-2").show();
        $("#yframe-2").addClass("wyactive");
    })
</script>