@CHARSET "UTF-8";
  .page1{
	
  	
  	float:right;
  	color:#666;

  }
  
  .page1 span.current, .page1 a{
  	background:#edf0f1 none repeat scroll 0 0 !important;
	border:1px solid $dcdcdc;
  	display:block;
  	float:left;
  	font-size:12px;
  	margin-right:5px;
  	padding:3px 10px;
  	text-decoration:none;
  	border-radius:3px;
  }
  
  .page1 span.current{
	background:#ff5c5c none repeat scroll 0 0 !important;
  	border-color:ff5c5c;
  	color:#ffffff!important;
  	display:block;
  	float:left;
  	font-size:12px;
  	cursor:pointer;
  }
  .page1 a.prev, .page1 a.next{
	padding:3px 4px;
  }