{template 'common/header'}



<div class="panel panel-success">

				<!-- Default panel contents -->
				<div class="panel-heading">编辑贫困户</div>
				<div class="panel-body">
					<div class="container-fluid">
						<div class="row">
							<div class="col-xs-8">
								<form action="" method="post" class="form-horizontal">
									
									 <div class="form-group">
                                        <label for="hid" class="col-sm-2 control-label tx-r">户ID</label>
                                        <div class="col-sm-10">
                                            <select name="hid" class="form-control">
                                            	<option value="0" {if $res['hid']=='0'}selected{/if}>请选择</option>
                                            	{loop $huslist $key $item}
                                                <option value="{$item['hid']}" {if $item['hid']==$res['hid']}selected{/if}>户主{$item['huzhu']}</option>
                                                {/loop}
                                                
                                            </select>
                                        </div>
                                    </div>
									
								
									
									
									<div class="form-group">
										<label for="photo" class="col-sm-2 control-label tx-r">照片</label>
										<div class="col-sm-10">
											
											{php echo tpl_form_field_image('photo',tomedia($res['photo']));}
										
										</div>
									</div>
									<div class="form-group">
										<label for="issuingauthority" class="col-sm-2 control-label tx-r">发证机关</label>
										<div class="col-sm-10">
											<input type="text" class="form-control" id="issuingauthority" name="issuingauthority" placeholder="" value="{$res['issuingauthority']}">
										</div>
									</div>
									
									<div class="form-group">
										<label for="cardname" class="col-sm-2 control-label tx-r">持卡人姓名</label>
										<div class="col-sm-10">
											<input type="text" class="form-control" id="cardname" name="cardname" placeholder="" value="{$res['cardname']}">
										</div>
									</div>
									
									<div class="form-group">
										<label for="address" class="col-sm-2 control-label tx-r">所在地址</label>
										<div class="col-sm-10">
											<input type="text" class="form-control" id="address" name="address" placeholder="" value="{$res['address']}">
										</div>
									</div>
									<div class="form-group">
										<label for="standard" class="col-sm-2 control-label tx-r">识别标准</label>
										<div class="col-sm-10">
											<select name="standard" class="form-control">
                                            	<option value="0" {if $res['standard']==0}selected{/if}>请选择</option>
												<option value="1" {if $res['standard']==1}selected{/if}>国家标准</option>
												<option value="2" {if $res['standard']==2}selected{/if}>省级标准</option>
												<option value="3" {if $res['standard']==3}selected{/if}>地区标准</option>
                                                
                                            </select>
										</div>
									</div>
									<div class="form-group">
										<label for="attribute" class="col-sm-2 control-label tx-r">贫困户属性</label>
										<div class="col-sm-10">
											<select name="attribute" class="form-control">
                                            	<option value="0" {if $res['attribute']==0}selected{/if}>请选择</option>
												<option value="1" {if $res['attribute']==1}selected{/if}>一般农户</option>
												<option value="2" {if $res['attribute']==2}selected{/if}>低保户</option>
												<option value="3" {if $res['attribute']==3}selected{/if}>低保贫困户</option>
                                                
                                            </select>
										</div>
									</div>
									<div class="form-group">
										<label for="degree" class="col-sm-2 control-label tx-r">贫困程度</label>
										<div class="col-sm-10">
											<select name="degree" class="form-control">
                                            	<option value="0" {if $res['degree']==0}selected{/if}>请选择</option>
												<option value="1" {if $res['degree']==1}selected{/if}>一般户</option>
												<option value="2" {if $res['degree']==2}selected{/if}>困难户</option>
												<option value="3" {if $res['degree']==3}selected{/if}>特困户</option>
                                                
                                            </select>
										</div>
									</div>
									<div class="form-group">
										<label for="starttime" class="col-sm-2 control-label tx-r">发证日期</label>
										<div class="col-sm-10">
											<input type="date" class="form-control" id="starttime" name="starttime" placeholder="" value="{$res['starttime']}">
										</div>
									</div>
									<div class="form-group">
										<label for="pname" class="col-sm-2 control-label tx-r">姓名</label>
										<div class="col-sm-10">
											<input type="text" class="form-control" id="pname" name="pname" placeholder="" value="{$res['pname']}">
										</div>
									</div>
									<div class="form-group">
                                        <label for="sex" class="col-sm-2 control-label tx-r">性别</label>
                                        <div class="col-sm-10">
                                            <select name="sex" class="form-control">
                                            	<option value="0" {if $res['sex']=='0'}selected{/if}>请选择</option>
                                            	<option value="1" {if $res['sex']=='1'}selected{/if}>男</option>
												<option value="2" {if $res['sex']=='2'}selected{/if}>女</option>
                                                
                                            </select>
                                        </div>
                                    </div>
                                    
                                    
                                    
                                   
									<div class="form-group">
										<label for="idcard" class="col-sm-2 control-label tx-r">身份证号</label>
										<div class="col-sm-10">
											<input type="text" class="form-control" id="idcard" name="idcard" placeholder="" value="{$res['idcard']}">
										</div>
									</div>
									<div class="form-group">
										<label for="yktcard" class="col-sm-2 control-label tx-r">一卡通号</label>
										<div class="col-sm-10">
											<input type="text" class="form-control" id="yktcard" name="yktcard" placeholder="" value="{$res['yktcard']}">
										</div>
									</div>
									
									
									<div class="form-group">
										<label for="zrk" class="col-sm-2 control-label tx-r">总人口</label>
										<div class="col-sm-10">
											<input type="text" class="form-control" id="zrk" name="zrk" placeholder="" value="{$res['zrk']}">
										</div>
									</div>
									<div class="form-group">
										<label for="ldl" class="col-sm-2 control-label tx-r">劳动力</label>
										<div class="col-sm-10">
											<input type="text" class="form-control" id="ldl" name="ldl" placeholder="" value="{$res['ldl']}">
										</div>
									</div>
									<div class="form-group">
										<label for="gdmj" class="col-sm-2 control-label tx-r">耕地面积</label>
										<div class="col-sm-10">
											<input type="text" class="form-control" id="gdmj" name="gdmj" placeholder="" value="{$res['gdmj']}">
										</div>
									</div>
									<div class="form-group">
										<label for="tgmj" class="col-sm-2 control-label tx-r">退耕面积</label>
										<div class="col-sm-10">
											<input type="text" class="form-control" id="tgmj" name="tgmj" placeholder="" value="{$res['tgmj']}">
										</div>
									</div>
									<div class="form-group">
										<label for="ggmj" class="col-sm-2 control-label tx-r">灌溉面积</label>
										<div class="col-sm-10">
											<input type="text" class="form-control" id="ggmj" name="ggmj" placeholder="" value="{$res['ggmj']}">
										</div>
									</div>
									<div class="form-group">
										<label for="fueltype" class="col-sm-2 control-label tx-r">燃料类型</label>
										<div class="col-sm-10">
											<input type="text" class="form-control" id="fueltype" name="fueltype" placeholder="" value="{$res['fueltype']}">
										</div>
									</div>
									<div class="form-group">
										<label for="wather" class="col-sm-2 control-label tx-r">饮水情况</label>
										<div class="col-sm-10">
											<input type="text" class="form-control" id="wather" name="wather" placeholder="" value="{$res['wather']}">
										</div>
									</div>
									
						
									<div class="form-group">
										<label for="broadcast" class="col-sm-2 control-label tx-r">是否通广播电视</label>
										<div class="col-sm-10">
											<select name="broadcast" class="form-control">
                                            	<option value="0" {if $res['broadcast']=='0'}selected{/if}>请选择</option>
                                            	<option value="1" {if $res['broadcast']=='1'}selected{/if}>否</option>
												<option value="2" {if $res['broadcast']=='2'}selected{/if}>是</option>
                                                
                                            </select>
										</div>
									</div>
									
									<div class="form-group">
										<label for="house" class="col-sm-2 control-label tx-r">住房类型与面积</label>
										<div class="col-sm-10">
											<input type="text" class="form-control" id="house" name="house" placeholder="" value="{$res['house']}">
										</div>
									</div>
									
									<div class="form-group">
										<label for="reason" class="col-sm-2 control-label tx-r">贫困原因</label>
										<div class="col-sm-10">
											<select name="reason" class="form-control">
                                            	<option value="0" {if $res['reason']=='0'}selected{/if}>请选择</option>
                                            	<option value="1" {if $res['reason']=='1'}selected{/if}>因灾</option>
												<option value="2" {if $res['reason']=='2'}selected{/if}>因病</option>
												<option value="3" {if $res['reason']=='3'}selected{/if}>因残</option>
                                            	<option value="4" {if $res['reason']=='4'}selected{/if}>因学</option>
												<option value="5" {if $res['reason']=='5'}selected{/if}>缺技术</option>
												<option value="6" {if $res['reason']=='6'}selected{/if}>缺水</option>
                                            	<option value="7" {if $res['reason']=='7'}selected{/if}>缺劳力</option>
												<option value="8" {if $res['reason']=='8'}selected{/if}>自身发展不足</option>
												<option value="9" {if $res['reason']=='9'}selected{/if}>其他</option>
                                            	
                                            </select>
										</div>
									</div>
									
									
							
									<div class="form-group">
										<label for="" class="col-sm-2 control-label tx-r"></label>
										<div class="col-sm-10">
											<input type="submit" name="submit" class="btn btn-default" value="保存">
											<input type="hidden" name="token" value="{$_W['token']}"/>
										</div>
									</div>

								</form>

							</div>
							<div class="col-xs-4">
								
							</div>
							
							
							
						</div>
					</div>

				</div>

			</div>

{template 'common/footer'}