.main {
	width: 6.56rem;
	height: 4.74rem;
	border-radius: .2rem;
	border: 1px solid #D4DCE1;
	margin: 1.56rem .47rem 0;
	position: relative;
}

.all {
	background: #F7F8FA;
	border: 1px solid #D4DCE1;
	border-radius: 1rem;
	width:5.7rem;
	height:.88rem;
	position:absolute;
	left:.43rem;
	color:#A3A3A3;
	font-size:.38rem;
	line-height:.88rem;
}

#addInfo{
	overflow: hidden;
}

.name-title,
.name{
	top:-.44rem;
}

.name,
.phone{
	width:4.12rem;
	padding-left:1.31rem;
	padding-right:.27rem;
}

.phone-title,
.phone{
	top:.73rem;
}

.add{
	top:1.93rem;
}
.add-title{
	top:1.93rem;
	position:absolute;
	left:.7rem;
	font-size:.38rem;
	line-height:.88rem;
	color:#1C252A;
}

.add-info-title{
	top:3.11rem;
	color:#1C252A;
}
.add-info{
	top:3.11rem;
	height:1.97rem;
	border-radius:.2rem;
}

.add,
.add-info{
	padding-left:2.06rem;
	padding-right:.27rem;
	width:3.37rem;
}

.all-title{
	font-size:.38rem;
	line-height:.88rem;
	position:absolute;
	left:.7rem;
	z-index:1;
	color:#1C252A;
}

.sub-btn{
	margin:2.1rem 1.95rem 0;
	width:3.6rem;
	height:.88rem;
	line-height:.88rem;
	font-size:.36rem;
	background:#0091EA;
	color:#fff;
	border-radius:1rem;
}

.modal-hint{
	width:5rem;
	height:1rem;
	background:#1E9FFF;
	color:#fff;
	font-size:.36rem;
	text-align:center;
	line-height:1rem;
	position:fixed;
	top:3rem;
	left:1.25rem;
	border-radius:.2rem;
	border:1px solid #D4DCE1;
	display:none;
}

.price{
	width:5.16rem;
	border: 1px solid #D4DCE1;
	border-radius:.2rem;
	font-size:.38rem;
	color:#1C252A;
	margin:.8rem auto 0;
	padding:.2rem .7rem;
	background: #F7F8FA;
}

.price>span{
	text-decoration:line-through;
	color:#EB7350;
}

.price>text{
	float:right;
	margin-top:.25rem;
}
