/*适配*/
@media (min-width: 320px) {
	html {
		font-size: 42.6667px;
	}
}

@media (min-width: 360px) {
	html {
		font-size: 48px;
	}
}

@media (min-width: 375px) {
	html {
		font-size: 50px;
	}
}

@media (min-width: 384px) {
	html {
		font-size: 51.2px;
	}
}

@media (min-width: 414px) {
	html {
		font-size: 55.2px;
	}
}

@media (min-width: 448px) {
	html {
		font-size: 59.7333px;
	}
}

@media (min-width: 480px) {
	html {
		font-size: 48px;
	}
}

@media (min-width: 512px) {
	html {
		font-size: 68.2667px;
	}
}

@media (min-width: 544px) {
	html {
		font-size: 72.5333px;
	}
}

@media (min-width: 576px) {
	html {
		font-size: 76.8px;
	}
}

@media (min-width: 608px) {
	html {
		font-size: 81.0667px;
	}
}

@media (min-width: 640px) {
	html {
		font-size: 85.3333px;
	}
}

@media (min-width: 750px) {
	html {
		font-size: 100px;
	}
}

/*通用属性*/
*{
	margin:0;
	padding:0;
}

ul,
li{
	list-style:none;
	text-decoration:none;
}

img{
	vertical-align:middle;
}

input[type="submit"],
input[type="button"],
button{
	border:none;
	padding:0;
}

button,
input,
textarea {
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	-webkit-appearance: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}


input:focus,
button:focus,
textarea:focus{
	outline:none;
}

input[type=button],
input[type=submit],
input[type=file],
button {
	cursor: pointer;
	-webkit-appearance: none;
}
