.info,
.product{
	border-bottom:1px solid #D4DCE1;
	padding:0 .47rem;
}

.info{
	height:.98rem;
	font-size:.44rem;
	line-height:.98rem;
}
.info>text{
	font-size:.36rem;
	color:#0091EA;
	letter-spacing:.3px;
	float:right;
}

.product{
	padding:.47rem;
	position:relative;
}

.product-img{
	width:1.9rem;
	height:1.9rem;
	border-radius:.2rem;
}

.product-info{
	display:inline-block;
	width:4.15rem;
}

.product-title{
	font-size:.36rem;
	line-height:.54rem;
	position:absolute;
	width:4.15rem;
	top:.47rem;
}

.product-num{
	width:4.15rem;
	font-size:.44rem;
	position:absolute;
	bottom:.4rem;
}

.product-num>text{
	font-size:.22rem;
	color:#758692;
	float:right;
	margin-top:.15rem;
}
