{template 'admin/common/header'}
<div class="we7-page-title"> &nbsp; </div>
<ul class="we7-page-tab">
<li><a href="{php echo $this->createWebUrl('admin',array('r'=>'exaday'))}">测试记录</a></li>
<li class="active"><a href="{php echo $this->createWebUrl('admin',array('r'=>'exapaper'))}">考试项目</a></li>
<li><a href="{php echo $this->createWebUrl('admin',array('r'=>'exaanswer'))}">考试记录</a></li>
</ul>

<div class="btn-group we7-btn-group we7-margin-bottom">
<a class="btn {php echo $op=='display'?'active':'';}" href="{php echo $this->createWebUrl('admin',array('r'=>'exapaper'))}">考试项目</a>
</div>

{if $op == 'display'}
<div class="panel panel-default">
<div class="panel-heading">筛选</div>
<div class="panel-body">
<form action="" method="get" class="form-horizontal form" role="form">
<input type="hidden" name="c" value="site" />
<input type="hidden" name="a" value="entry" />
<input type="hidden" name="m" value="vlinke_cparty" />
<input type="hidden" name="do" value="admin" />
<input type="hidden" name="r" value="exapaper" />
    <div class="form-group">
        <label class="col-sm-2 control-label">关键词</label>
        <div class="col-sm-4">
            <input class="form-control" name="keywords" type="text" placeholder="标题关键词..." value="{$keywords}">
        </div>
        <div class="col-sm-6">
            <button class="btn btn-default"><i class="fa fa-search"></i> 搜索</button>
            <button type="button" class="btn btn-default">总记录数：{$total}</button>
        </div>
    </div>
</form>
</div>
</div>


<table class="table we7-table table-hover vertical-middle">
<thead class="navbar-inner">
    <tr>
        <th style="width:15%;">ID</th>
        <th style="width:60%;">标题</th>
        <th style="width:25%;text-align:right;">操作</th>
    </tr>
</thead>
<tbody>
    {loop $list $row}
    <tr>
        <td>
            {$row['id']}
        </td>
        <td>
            <p>{$row['title']}</p>
            <p>起止时间：{php echo date("Y-m-d H:i",$row['starttime']);} ~ {php echo date("Y-m-d H:i",$row['endtime']);}</p>
            <span class="label label-default">单 {$row['singlenum']}*{$row['singleval']}</span>
            <span class="label label-default">多 {$row['multinum']}*{$row['multival']}</span>
            <span class="label label-primary">{php echo $row['singlenum']*$row['singleval']+$row['multinum']*$row['multival']}分</span>
            <span class="label label-danger">{$row['timelimit']}分钟</span>
            <span class="label label-success">{$row['integral']}积分</span>
        </td>
        <td style="text-align:right;">
            <a class="btn btn-primary btn-sm" href="{php echo $this->createWebUrl('admin',array('r'=>'exaanswer','paperid'=>$row['id']));}">记录 <span class="badge">{php echo intval($exaanswertol[$row['id']]['tol']);}</span></a>
            <a class="btn btn-primary btn-sm" href="{php echo $this->createWebUrl('admin',array('r'=>'exapevery','paperid'=>$row['id']));}">题库 <span class="badge">{php echo intval($exapeverytol[$row['id']]['tol']);}</span></a>
        </td>
    </tr>
    {/loop}
</tbody>
</table>
<div class="text-right">{$pager}</div>
{/if}
{template 'admin/common/footer'}
