{template 'admin/common/header-base'}
<div class="system-login" style="background-image:url('{MODULE_URL}template/admin/static/images/bg-login.png')" >

    <div class="head">
        <a href="JavaScript:;" class="logo-version">
            <img src="{php echo tomedia($_SESSION['cparty']['param']['pclogo']);}" class="logo">
        </a>
    </div>

    <div class="login-panel">
        <div class="title">
            <a href="javascript:;" class="active">管理员登录</a>
        </div>
        <form action="{php echo $this->createWebUrl('admin',array('r'=>'login','op'=>'submit'));}" method="post" role="form" id="loginform" onsubmit="return formcheck();" class="we7-form">

            <div class="input-group-vertical">
                <input name="login_type" type="hidden" class="form-control " value="system">
                <input name="loginname" type="text" class="form-control " placeholder="请输入登录用户名..." value="">
                <input name="loginpass" type="password" class="form-control password" placeholder="请输入登录密码..." value="">
            </div>

            <div class="login-submit text-center">
                <input type="submit" id="submit" name="submit" value="登录" class="btn btn-primary btn-block" />
                <input name="token" value="{$_W['token']}" type="hidden" />
            </div>

        </form>
    </div>
</div>
{template 'admin/common/footer-base'}

<script>
var h = document.documentElement.clientHeight;
$(".system-login").css('height',h);

function formcheck() {
    var loginname = $(':text[name="loginname"]').val();
    if (loginname == '') {
        alert('请输入登录用户名...');
        return false;
    }
    var loginpass = $(':text[name="loginpass"]').val();
    if (loginpass == '') {
        alert('请输入登录密码...');
        return false;
    }
    return true;
}
</script>
