*{margin:0;padding:0;-webkit-tap-highlight-color:rgba(0,0,0,0);}
body{margin:0;padding:0;}
div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,address{margin:0;padding:0;font-size:100%;outline:0;}
.input-box ul li,.my-box ul li,.city-box ul li,.hos-box ul li,a,.confirm,.back,.pay-contentb,#confirmOk,#confirmNo,.head-home,.head-back,.promotionItem,.but-box span,.xx-b,.pay-b{-webkit-tap-highlight-color: rgba(0,0,0,0.1);cursor: pointer;}
pre{vertical-align:top;margin:0;padding:0;}
button{border:none;outline:0;}
ol,ul{list-style:none;}
a{text-decoration:none;cursor:pointer;outline:0;}
a:hover{text-decoration:underline;}
input,textarea{background:none;border:none;font-family:"Microsoft YaHei",Arial,Helvetica,sans-serif;}
*{margin:0;padding:0;}
html,body{height:100%;}
img{cursor:pointer;border:0;}
.clearfix:after{clear:both;content:".";display:block;height:0;visibility:hidden;}
* html .clearfix{height:1px;}
.clearfix{min-height:1px;}
body{background-color:#FFF;font-family:"Microsoft YaHei",Arial,Helvetica,sans-serif;text-align:center;}
body.bg01{background-color:#f5f5f5;}
.body-bg01{background-color:#f5f5f5;}
#wrapper-main{width:100%;height:100%;margin:0 auto;position:relative;}
.wrapper-head{height:44px;line-height:44px;width:100%;/*position:fixed;border-top:2px solid #F0373D;*/border-bottom:2px solid #EDEDED;font-size:18px;color:#F0373D;z-index:2;background-color:#FFF;}
.head-logo{width:100%;height:100%;float:left;background:url(../../images/wap/logo.png) no-repeat center center;background-size:127px 20px;}
.head-back{width:30px;height:100%;position:absolute;left:0;top:0;background:url(../../images/wap/back.png) no-repeat center center;background-size:10px 17px;}
.head-home{width:44px;height:100%;position:absolute;left:0;top:0;background:url(../../images/wap/home.png) no-repeat center center;background-size:19px 19px;}
.head-sec{width:44px;height:100%;position:absolute;right:0;top:0;background:url(../../images/wap/sec.png) no-repeat center center;background-size:18px 18px;}
.head-skip{height:100%;position:absolute;right:12px;top:0;font-size:16px;color:#ff6326;}
.head-help{width:44px;height:100%;position:absolute;right:0;top:0;background:url(../../images/wap/wenhao.png) no-repeat center center;background-size:16px 16px;}
.head-city{height:100%;position:absolute;left:0;top:0;font-size:16px;color:#ff6326;text-align:left;cursor:pointer;text-indent:10px;padding:0 10px 0 0;}
.head-city img{width:8px;height:5px;display:inline-block;float:right;margin:20px 0 0 5px;}
.wrapper-box{width:100%;position:absolute;z-index:1;margin:70px 0 0 0;padding:0 0 50px 0;}
.help-tips{width:90%;font-size:12px;color:#a9a9a9;text-align:left;position:fixed;bottom:10px;left:5%;}
.help-box{width:100%;/*margin:44px 0 0 0;*/padding:0 0 20px 0;float:left;}
.help-box.wt{width: 100%;padding: 0;float: left;display: block;position: relative;padding-bottom: 55px;margin-bottom: 0px!important;}
.help-box ul{width:100%;float:left;background-color:#FFF;margin:0;}
.help-box ul li{width:100%;float:left;font-size:14px;color:#616161;text-align:left;position:relative;margin:0 0 2px 0;}
.help-box ul li.mrr{margin:15px 0 2px 0;}
.help-box ul li h4{padding:0 18px 5px 38px;font-size:16px;color:#ff6326;text-align:left;margin:-2px 0 0 0;}
.help-box ul li p{padding:0 18px 10px 52px;font-size:14px;color:#616161;text-align:left;}
.help-box ul li.bg01{background:url(../../images/wap/help-icon01.png) no-repeat 12px top,url(../../images/wap/help-icon02.png) repeat-y 20px top;background-size:17px 22px,1px;}
.help-box ul li.bg02{background:url(../../images/wap/help-icon01.png) no-repeat 12px top;background-size:17px 22px;}
.help-box ul.wt{width:100%;float:left;background:none;margin:0;margin-top: 8px;}
.help-box ul.wt li{width:100%;float:left;font-size:14px;color:#616161;border:1px solid #ededed;border-width:1px 0;text-align:left;margin:0 0 8px 0;background-color:#FFF;margin-top: 8px;}
.help-box ul.wt li.no-bor{border-top:0;}
.help-box ul.wt li h4{padding:10px 12px 5px 12px;font-size:16px;color:#F0373D;text-align:left;}
.help-box ul.wt li p{padding:0 12px 10px 28px;font-size:13px;color:#616161;text-align:left;}
.help-box .box{padding:0 12px;}
.help-box .box h4{width:100%;font-size:16px;color:#ff6326;text-align:left;border-bottom:1px solid #ededed;padding:15px 0;}
.help-box .box p{width:100%;font-size:14px;color:#616161;text-align:left;padding:15px 0;}
.help-box .box p span{color:#ff6326;}
.mod_goto{display: block;margin: 15px;border: 1px solid #F5F5F5;-webkit-border-radius: 6px;border-radius: 6px;height: 45px;line-height: 45px;text-align: center;color: #FEEC24;overflow: hidden;word-wrap: break-word;word-break: break-all;white-space: nowrap;text-overflow: ellipsis;padding: 0 10px;background: #262636;font-size: 14px;}
.mod_goto_arrow{display: inline-block;width: 7px;height: 7px;-webkit-transform: rotate(-135deg);transform: rotate(-135deg);border-left: 1px solid #FEEC24;border-bottom: 1px solid #FEEC24;vertical-align: middle;margin-left: 5px;}
.fixedbar_sec_distribute a:before,.fixedbar_sec_saler a:before{background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAB4CAMAAADSQ7LXAAAApVBMVEUAAAD///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////+4/eNVAAAANnRSTlMA8Xb1+fO0+4g8xL54bxIKg01pECMb59KOMCsW6+Cfm5Xc2GUG5MY1Hq2hccyoWkg+uKNVpERUPK4ZAAACu0lEQVRIx+3U63LqIBAAYDZA0KhJqjEa4yWaeq+9d9//0Q4EW6YB+qNn5lxmuj8E8w1xZVnId+KhPxz7dQ2C8qUHb4EvVkfGT25esif5WVLqfn8OhRoudOhk0Ms6ou/SZ4BUjRt4sHEqYA4iHWUXWFuYSpqSFQDjFMzjC7BNhxQTgDCRX7s7yFdGKeUMQOJmT+xYwOs4eaAoOs4Nhoka3mBBXNEXaTMiOnlImzRiSp08pkINKwqV009cVMEOGPDNwe2MwTzezxmvrkX95NkgeFEPn/ULprlgcn/sKHLKqycOFBi6DwNwjul4FvKt02dCF3QNNy5OBEt0afvO5UyflmdaOzmkSzUgLW1rAHbnSsCKeGILjFKjVtyc65L8yeiGgDIg7Lq0FngNUdtaCDaI1WQ0YKKwK4WD92mAS4snGL9PY5x83oUex1bw3kc5U3RGel2LMqlPTYCoEkS9vqeSarNKsEdUQJNUFBlu5jGCt7f08x/+NlM3x8i9q3XFvKzrbTjynpYo0mydtX8hVBv4E0t9TWDawLcpug2sCHQb6jZw1+tw8JckivaQ+5kUgEs/z+Z4vPVylmMo1cPZFp8S4uPDAntSPTxe406qh8sN3o2iyMPlBCfqrnHz6A4nJfHxaIfrMfFxEin1cdLDbUa8HGAu1cvFcUZstsM8pRj7+tNebfrTsKc/Da9dB9l06O7v9+es/pKPuP+KQ+z+V3wIHtucDF7eNaC4afM94l2mFcXJXp0ucFuqnmHszfptfaanzWtO7tRmuJCffX1vZcPbD97fN05Fw0M1r9RVovmR4kjfaIazHC+auxxT0mYyy/FVcRdkSjarq2oZ4lmrzaSYo0DEitisHaSuiI/Jfi7Xtth1X5v/XWPfFrNrAQ5tMnveV/wStGN6rViANUnQEbre8Xkky9Zpx/mR/Hb8AsxeeSGvXA4aAAAAAElFTkSuQmCC');background-size:100% auto}
.fixedbar,.fixedopt{line-height:50px;position:fixed;bottom:0;left:0;right:0;text-align:center;font-size:14px;z-index:23}
.fixedbar a:active,.fixedopt a:active{background:#E5514B}
.fixedbar_btn,.fixedopt a{height:50px;display:block}
.fixedbar_buy_btn{background:#FF5A54;color:#FFFFFF}
.fixedbar_sec,.fixedopt{display:-webkit-box;display:box;background:#FF4C4C}
.fixedbar_sec a,.fixedopt a{display:block;color:#FFFFFF;border-right:1px solid rgba(255,255,255,0.5);-webkit-box-flex:1;box-flex:1}
.fixedbar_sec a:last-child{border-right:none}
.fixedbar_sec_cart{padding-left:65px}
.fixedbar_sec .fixedbar_sc_btncart{width:65px;height:50px;display:block;position:absolute;left:0;top:0;-webkit-box-flex:0.0;box-flex:0.0;display:none}
.fixedbar_sec_cart .fixedbar_sc_btncart{display:block}
.fixedbar_unavailable .fixedbar_sc_btncart{background:#FF5A54}
.fixedbar_sc_btncart:before{width:35px;height:35px;position:absolute;content:"";top:50%;left:50%;margin-top:-17px;margin-left:-17px;background:url(http://static.paipaiimg.com/fd/h5/wd/detail/img/cart.png) no-repeat center center;background-size:100% auto}
.fixedbar_sc_btncart_num{height:14px;line-height:14px;padding:0 4px;border-radius:7px;font-size:8px;color:#FF5A54;background:#FFFFFF;position:absolute;top:50%;left:50%;margin-top:-20px;z-index:1}
.fixedbar_sec .fixedbar_sc_btn1{border-right-color:#FF5A54}
.fixedbar_unavailable .fixedbar_sc_btn1{border-right-color:#9E9E9E}
.fixedbar_sec_cart .fixedbar_buy_btn{-webkit-box-flex:1;box-flex:1;background:#B23F3B}
.fixedbar_unavailable .fixedbar_buy_btn{-webkit-box-flex:1;box-flex:1;background:#666666}
.fixedbar_sec_distribute a:before{width:15px;height:15px;display:inline-block;content:"";vertical-align:middle;margin-right:4px}
.fixedbar_sd_btn1:before{background-position:0 0}
.fixedbar_sd_btn2:before{background-position:0 -15px}
.fixedbar_sec_distribute .fixedbar_sd_btn3:before{display:none}
.fixedbar_sd_btn3 i{width:8px;height:8px;border-right:1px solid #FFFFFF;border-bottom:1px solid #FFFFFF;display:inline-block;margin-left:4px;vertical-align:middle;-webkit-transform:rotate(-45deg);transform:rotate(-45deg)}
.fixedbar_sec.fixedbar_unavailable .fixedbar_sd_btn3{background:#FF5A54}
.fixedbar_sec_saler a:before{width:15px;height:15px;display:inline-block;content:"";vertical-align:middle;margin-right:4px}
.fixedbar_ss_btn1:before{background-position:0 -30px}
.fixedbar_ss_btn2:before{background-position:0 -45px}
.fixedbar_ss_btn3:before{background-position:0 0}
.fixedbar_unavailable{background:#666666;color:#FFFFFF;display:none}
.fixedbar .fixedbar_unavailable a:active,.fixedbar .fixedbar_unavailable:active{background:#666666}
.unavailable .fixedbar_unavailable{display:block}
.fixedbar_sec.fixedbar_unavailable{display:-webkit-box;display:box}
.fixedbar_sec.fixedbar_unavailable a{border-color:#D4D4D4}
.fixedopt_tuanback{position:relative}
.fixedopt_tuanback:after{width:10px;height:10px;content:"";border-left:1px solid #FFFFFF;border-bottom:1px solid #FFFFFF;position:absolute;top:50%;left:50%;margin-top:-8px;margin-left:-25px;-webkit-transform-origin:0% 0%;-webkit-transform:rotate(45deg);transform-origin:0% 0%;transform:rotate(45deg)}
/*.attrl_ok,.fixedopt_tuan{background:#262636}*/
.attrl_ok,.fixedopt_tuan a{color:#fff;font-weight: bold;}
.fixedopt_tuan .fixedopt_tuanback:after{border-color:#fff}