{template 'header'}

<<div class="wrapper">
    <section class="panel">
        <header class="panel-heading">
            {if $id}修改跳转{else}添加跳转{/if}
        </header>
        <hr>
        <form action="" method="post" enctype="multipart/form-data" class="form-horizontal tasi-form">
            <div class="panel-body">

                <div class="monai-form">
                    <div class="form-group">
                        <label class="col-sm-2 control-label col-lg-2" >图片</label>
                        <div class="col-lg-6">
                            {php echo tpl_form_field_image2('data[img]',$type_info['img']);}
                            <span class="help-block">建议图片大小：400*400</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label col-lg-2" >标题</label>
                        <div class="col-lg-6">
                            <input type="text" class="form-control" name="data[title]" value="{$type_info['title']}">
                            <span class="help-block">排序，默认从大到小</span>
                        </div>
                    </div>
                    <!--<div class="form-group">-->
                        <!--<label class="col-sm-2 control-label col-lg-2" >描述</label>-->
                        <!--<div class="col-lg-6">-->
                            <!--<input type="text" class="form-control" name="data[name]" value="{$type_info['name']}">-->
                            <!--<span class="help-block">排序，默认从大到小</span>-->
                        <!--</div>-->
                    <!--</div>-->
                    <div class="form-group">
                        <label class="col-sm-2 control-label col-lg-2" >跳转页面路径</label>
                        <div class="col-lg-6">
                            <input type="text" class="form-control" name="data[pages]" value="{$type_info['pages']}">
                            <span class="help-block">如：/pages/index/index</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label col-lg-2" >其他小程序appid</label>
                        <div class="col-lg-6">
                            <input type="text" class="form-control" name="data[appid]" value="{$type_info['appid']}">
                            <span class="help-block">填写后跳转到其他小程序，不填写跳转本小程序</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label col-lg-2" >排序</label>
                        <div class="col-lg-6">
                            <input type="text" class="form-control" name="data[sort]" value="{$type_info['sort']}">
                            <span class="help-block">排序，默认从大到小</span>
                        </div>
                    </div>
                    <hr>

                </div>
            </div>
            <header class="panel-heading">
                <button type="submit" class="btn btn-sm btn-success"><i class="fa fa-dot-circle-o"></i> 保存</button>
                <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> 撤销</button>
            </header>
        </form>

    </section>
</div>
{template 'footer'}