{template 'web/common/common'}
{template 'web/article/navbar'}
<div class="layui-card">
    <a href="{url 'site/entry/admin',array('m'=>'kundian_farm','op'=>'article_type_edit','action'=>'article')}">
        <button class="layui-btn layui-btn-sm">
          <i class="layui-icon">&#xe608;</i> 新增分类
        </button>
    </a>
    <div class="layui-form">
        <table class="layui-table" lay-skin="line">

            <thead>
                <tr>
                    <th>ID</th>
                    <th>名称</th>
                    <th>默认展示</th>
                    <th>排序</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {loop $data['list'] $index $item}
                    <tr>
                        <td>{$item['id']}</td>
                        <td>{$item['type_name']}</td>
                        <td>
                            {if $item['is_default']==0}
                            <span class="layui-badge layui-bg-gray">否</span>
                            {else}
                            <span class="layui-badge layui-bg-blue">是</span>
                            {/if}
                        </td>
                        <td>{$item['rank']}</td>
                        <td>
                            <a href="{url 'site/entry/admin',array('m'=>'kundian_farm','op'=>'article_type_edit','id'=>$item['id'],'action'=>'article')}">
                            <button class="layui-btn layui-btn-xs"><i class="layui-icon">&#xe642;</i>编辑</button>
                            </a>

                            <button class="layui-btn layui-btn-xs delete" data-id="{$item['id']}">
                                <i class="layui-icon">&#xe640;</i>删除
                            </button>
                        </td>
                    </tr>
                {/loop}
            </tbody>
        </table>
            <div style="text-align: right;">
                {$data['pager']}
            </div>
    </div>
</div>
{template 'common/footer'}
<script src="../addons/kundian_farm/resource/js/main.js" charset="utf-8"></script>
<script>
    layui.use(['form', 'layedit', 'laydate'], function(){
        var form = layui.form,layer = layui.layer;
        $(".delete").click(function(){
            var that=$(this);
            var id=$(this).attr('data-id');
            var url="{url 'site/entry/'.$_GPC['do'],array('m'=>$_GPC['m'],'op'=>'article_type_delete','action'=>'article')}";
            updateData(url,{id:id},'确认删除吗？');
        });

    });
</script>