*{
margin:0 auto;
padding:0;
}
body{
overflow-scrolling: touch;
-webkit-overflow-scrolling: touch;
}
html{
box-sizing:border-box;
min-height:100%;
}
ul,li{
list-style: none;
}
a{
text-decoration:none;
}

/*登录区域*/
.login{
height:8rem;/*背景大小*/
width:100%;
font-size:.5rem;
color:#FFF; /*昵称颜色*/
position:fixed;
top:0;
z-index:1;
background-image:linear-gradient(to top,#3C3C3C, #1C1C20);/*背景颜色*/
}
.login-integral{
position:fixed;
top:1.5rem;/*头像位置*/
left:5%;
}
#integral-h1{
font-size:2.3rem;
}
.login-info{
border-left:.04rem solid #767677;
padding-left:.27rem;
font-size:.73rem;
}
.login-info,
.login-integral>div:first-child,
.login-integral h1{
display:inline-block;
}
.login-integral>div:first-child,
.login-info-font{
font-family:"黑体",Helvetica, Arial, sans-serif;
color:#F7C506;
}
.login-integral>div:first-child{
padding-right:.27rem;
font-size:2rem;
font-weight:bold;
}
.login-integral-font{
font-size:0.8rem;
font-weight: normal;
}
.user-img{
position:fixed;
top:1.5rem;
right:5%;
width:4rem;
height:4rem;
border:.04rem solid #fff;
border-radius:5rem;
}
.user-img>img{
width:100%;
height:100%;
border-radius:5rem;
}
/*排行榜列表*/
.fill-box{
height:12.4rem;/*排行榜列表浮动*/
width:100%;
}
/*button与内容*/
/*重叠样式*/
.content,
.btn,
.content-small{
width:90%;
margin:0 5%;
border-radius: .36rem;
background-color: #fff;
font-size:.8rem;
text-align:center;
}

.btn{
height: 4.2rem;
box-shadow: 0 .54em .54em #E4E3E3;
position:fixed;
z-index:2;
top:6.5rem;/*中间浮动窗*/
left:0;
}
.btn>nav>a{
color:#8a8a8a;
display:inline-block;
width:33%;
float:left;
padding-top:.54rem
}
.btn-font{
color:#c89607;
}
.btn>nav>a>img {
display: block;
margin: 0 auto;
vertical-align: middle;
width: 1.92rem;
height: 1.92rem;
margin-bottom:.36rem;
}
/*内容*/
#content {
width: 100%;
}
.content,
.content-small{
position:relative;
box-shadow:0 .54rem .54rem .54rem #E4E3E3;
margin-bottom:1rem;
overflow:hidden;
}
.content-small{
margin-top:.54rem;
box-shadow:0 -.54rem .54rem #E4E3E3;
}
.content-small:last-child{
margin-bottom:.54rem;
}
/*我的积分 提现中心*/
.integral-source-table{
width:90%;
font-size:.9rem;
line-height:2rem;
border-collapse:collapse;
font-family: "黑体", Helvetica, Arial, sans-serif;
}
.integral-source-table tr{
border-bottom:1px solid #DDDCEE;
}
.integral-source-table tr:last-child{
border:0;
}
.integral-source-head{
border-bottom:1px solid #DDDCEE;
color:#555;
font-size:0.8rem;
}
.integral-source-body{
color:#555;
}

/*排行中心*/
.rankTab {
text-align: left;
font-size:2rem;
line-height:2rem;
}
.rankTab li{
border-bottom:1px solid #E2E2E2;
margin:0 5%;
font-family: "黑体", Helvetica, Arial, sans-serif;
}
.rankTab li:last-child{
border:0;
}
.ranking,
.ranking-font{
padding-bottom:.15rem;
}
.ranking{
display:inline-block;
margin:0 .4rem;
width:1.5rem;
height:1.5rem;

}
.ranking-font{
font-size: 1rem;
font-weight: bold;
width: 1.5rem;
height: 1.5rem;
display: inline-block;
margin: 0 .4rem;
text-align: center;
color:#f9820d;
}
.ranking>img,
.userImg>img{
vertical-align: middle;
}
.ranking>img{
width:100%;
height:100%;
}
.userImg,
.userImg>img{
width:1.5rem;
height:1.5rem;
border-radius:100%;
}
.userImg{
display:inline-block;

}
.userIntegral{
float:right;
text-align:center;
color:#f9500d;
font-size:14px;
text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;            
}
.userName{
width:45%;
color:#f9820d;
font-size:14px;
text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
position:absolute;
text-align:left;
display:inline-block;/*限制多余文字显示*/          
}
.userName2{
width:30%;
color:#f9820d;
font-size:14px;
text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
position:absolute;
text-align:left;
display:inline-block;/*限制多余文字显示*/          
}
/*固定页底*/
footer{height:50px;}
/*昵称*/