 {template 'common/myheader'}
	<link href="{MODULE_URL}/recouse/css/xin_v3.s.min.css" rel="stylesheet" type="text/css" />
	<link href="{MODULE_URL}/recouse/css/group.css" rel="stylesheet">
	<link href="{MODULE_URL}/recouse/css/card.css" rel="stylesheet"> 	
	
<div class="page-group">
  <div id="page_user" class="page page-current  page_user">

		<div class="content infinite-scroll native-scroll" data-distance="5">	
			<div class="page_top address_top">
				<div class="page_top_item">
					<a href="{php echo $this->createMobileUrl('card')}">
						<span {if $op=='card'}class="font_activity"{/if}>我的卡券</span>
					</a>
					<a href="{php echo $this->createMobileUrl('card',array('op'=>'getcard'))}">
						<span {if $op == 'getcard'}class="font_activity"{/if}>可领卡券</span>
					</a>
				</div>
			</div>	

	{if $str}
		{$str}
    	{$pager}
	{else}
	
	<div class="none-record">
	<div class="nolistpic">
	<img src="{MODULE_URL}recouse/images/none.png">
	</div>
	<span class="nonetext">暂时没有可领卡券！</span>
		
	</div> 
	{/if}
		
		
  

	</div>
</div>	
</div>		
 {template 'common/myfooter'}

 </body>
</html>