<!DOCTYPE html>
<html{if $initNG} ng-app{/if}>
<head>
	<title>{if $title}{$title}{else}{$_W['account']['name']}{/if}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<meta content="application/xhtml+xml;charset=UTF-8" http-equiv="Content-Type">
	<meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
	<meta content="no-cache" http-equiv="pragma">
	<meta content="0" http-equiv="expires">
	<meta content="telephone=no, address=no" name="format-detection">
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<meta name="apple-mobile-web-app-capable" content="yes" /> <!-- apple devices fullscreen -->
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	<script type="text/javascript" src="{MODULE_URL}/recouse/js/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="{MODULE_URL}/recouse/js/common.js"></script>
	<link type="text/css" rel="stylesheet" href="{MODULE_URL}/themes/mobile/default/style/bootstrap.css">
	<script type="text/javascript" src="{MODULE_URL}/themes/mobile/default/script/bootstrap.min.js "></script>
	<!--<link type="text/css" rel="stylesheet" href="{MODULE_URL}/recouse/style/font-awesome.min.css " />-->
	<link type="text/css" rel="stylesheet" href="{MODULE_URL}/themes/mobile/default/style/common.mobile.css ">
	<script type="text/javascript" src="{MODULE_URL}/recouse/js/cascade.js?{TIMESTAMP} "></script>
	<script type="text/javascript" src="{MODULE_URL}/themes/mobile/default/script/jquery.touchwipe.js "></script>
	<script type="text/javascript" src="{MODULE_URL}/themes/mobile/default/script/swipe.js "></script>
</head>
<body>
{if empty($main_off)}<div class="main">{/if}