<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <title>{if $level==1 && $flag==0}一级普通会员{/if}{if $level==1 && $flag==1}一级分销商{/if}{if $level==2  && $flag==0}二级普通会员{/if}{if $level==2 && $flag==1}二级分销商{/if}{if $level==3 && $flag==0}三级普通会员{/if}{if $level==3 && $flag==1}三级分销会员{/if}名单</title>
    <link rel="stylesheet" type="text/css" href="{MODULE_URL}/style/new/foundation.css">
    <link href="{MODULE_URL}/recouse/css/bottom.css?x={mihua_mall_VERSION}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="{MODULE_URL}/style/new/common-v4.0.css">
     <link rel="stylesheet" type="text/css" href="{MODULE_URL}/style/new/person-v4.1.css">
     <link href="{MODULE_URL}/recouse/css/xin_v3.s.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
 {if empty($fansall)}
                   <div class="disorder-none"><i class="icon-none"></i><span class="nonetext">您还没有{if $level==1}一级{/if}{if $level==2}二级{/if}{if $level==3}三级{/if}{if $level<=3}{if $flag==1}代理{else}会员{/if}{/if}{if $level==4}推广点击{/if}{if $level==5}成功关注{/if}！</span></div>

			{else}
<div class="list-myorder" style="margin-top:10px;">
    <ul class="ul-product" >
        		  {loop $fansall $fans}
        <li>
                <span class="pic">
                    <img src="{if empty($fans['avatar'])}{MODULE_URL}/style/images/yh.png{else}{$fans['avatar']}{/if}"></span>
                <div class="text">
                    <span class="pro-name">昵称：{$fans['realname']}{if $fans['flag'] == 1}【代理】{/if}</span>
                     <div class="pro-pric"><span>关注时间：</span>{php echo date('Y-m-d', $fans['createtime']);}</div>
                      <div class="pro-pric"><span>推荐上级：</span>{php echo $this->getParentNickName($fans['from_user']);}</div>
                </div>
        </li>
			{/loop}
    </ul>
</div>
	{/if}
<!--{template 'footer'}
<div class="wx_nav">
  <a href="{php echo $this->createMobileUrl('list')}" data-href="###" ptag="37080.1.1" class="nav_index on">首页</a>
  <a href="{php echo $this->createMobileUrl('listCategory')}"  ptag="37080.1.2" class="nav_search" style="display:">分类</a>
  <a href="{php echo $this->createMobileUrl('mycart')}"  ptag="37080.1.3" class="nav_shopcart">购物车</a>
  <a href="{php echo $this->createMobileUrl('fansindex')}"  ptag="37080.1.4" class="nav_me">个人中心</a>
  <a href="{php echo $this->module['config']['ydyy']}"  ptag="37080.1.4" class="nav_shopping_guide">一键关注</a>
</div>-->
 {template 'wx_nav'}
</body>
</html>
