<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <title>我的佣金</title>
     <link rel="stylesheet" href="{MODULE_URL}/recouse/css/confirm.css?v=111" />
    <link rel="stylesheet" type="text/css" href="{MODULE_URL}/recouse/css/foundation.css">
    <link rel="stylesheet" type="text/css" href="{MODULE_URL}/recouse/css/common-v4.1.css">
	<link rel="stylesheet" type="text/css" href="{MODULE_URL}/recouse/css/dis-v4.1.css">
	<link href="{MODULE_URL}/recouse/css/xin_v3.s.min.css" rel="stylesheet" type="text/css" />
    
    <script src="{MODULE_URL}/recouse/js/jquery.js"></script>
    <script src="{MODULE_URL}/recouse/js/foundation.js"></script>
    <script src="{MODULE_URL}/recouse/js/foundation.tab.js"></script>
    <script src="{MODULE_URL}/recouse/js/foundation.accordion.js"></script>
    <script src="{MODULE_URL}/recouse/js/func.js"></script>
    <style>
    .bro-help {
    border-top: 5px solid #eee;
    margin-top: 10px;
}
.tip-text {
    text-align: center;
}

button, .button {
    width: 45%;
   margin: 5px 2% 20px 2%;
}
.bro-help {
    border-top: 5px solid #eee;
    margin-top: 10px;
    clear: both;
}
    </style>
</head>
<body>
    <div class="mask"></div>
    <div class="bro-spare">
        <p class="tip-txt"><i class="icon-money"></i>可提现佣金余额</p>
        <span class="number-big">￥{$commissioningpe}</span>
         <p class="field-2">
        {if !empty($user_result['commission'])}
       已打款佣金总额：<big>￥{$user_result['commission']}</big>
        {/if}
        <span class="detail"> <a href="{php echo $this->createMobileUrl('commission', array('op'=>'commissionDetail'))}" >查看佣金明细</a>
        
        </span>
   </p>
    </div>
    <ul class="maneylist" style="display: ;">
    <li class="maneylist-li">
            <a  class="a-personal">
                <i class="icon-money-circle"></i>
                <span class="text">未付款订单佣金</span>
                <span class="money-number">￥{$commission4_1}</span>
            </a>
        </li>
           <li class="maneylist-li">
            <a  class="a-personal">
                <i class="icon-money-circle"></i>
                <span class="text">已付款订单佣金</span>
                <span class="money-number">￥{$commission5_1}</span>
            </a>
        </li>
          <li class="maneylist-li">
            <a  class="a-personal">
                <i class="icon-money-circle"></i>
                <span class="text">已发货订单佣金</span>
                <span class="money-number">￥{$commission6_1}</span>
            </a>
        </li>
           <li class="maneylist-li">
            <a  class="a-personal">
                <i class="icon-money-circle"></i>
                <span class="text">已完成订单佣金</span>
                <span class="money-number">￥{php echo $user_result['balance']+$user_result['zhifu']}</span>
            </a>
        </li>
     <li class="maneylist-li">
            <a  class="a-personal">
                <i class="icon-money-circle"></i>
                <span class="text">待完成订单佣金</span>
                <span class="money-number">￥{php echo $commission6_1+commission5_1}</span>
            </a>
        </li>
          <li class="maneylist-li">
			<a  class="a-personal">
			    <i class="icon-money-circle"></i>
			    <span class="text">无效佣金</span>
			    <span class="money-number">￥{$commission3}</span>
		  </li>
    </ul>
    <!--list end-->
   
    <div class="bro-extract-btn">
        <a href="{php echo $this->createMobileUrl('commission', array('op'=>'commapply'))}" class="button [radius round] orange  button2">申请提现</a>
      <a href="{php echo $this->createMobileUrl('commission', array('op'=>'commissionList'))}" class="button [radius round] orange ">提现记录</a>
	 
    </div>
  
    
    <div class="bro-help">
        <h3>推广的订单完成后，就显示在可提现佣金。订单被关闭或是审核无效就是无效佣金。</h3>
        <ul class="bro-help-list"><!--href="javascript:void(0)" onclick="showShare()"-->
            <li class="bro-help-list-li"><a class="bro-help-list-a" href="{php echo $this->createMobileUrl('list')}"><i class="icon-share-circle"></i><span>分享商城很重要</span><i class="arrow"></i></a></li>
           <!-- <li class="bro-help-list-li"><a class="bro-help-list-a" href="#"><i class="icon-friend-circle"></i><span>我要推广，分享朋友圈</span><i class="arrow"></i></a></li>-->
        </ul>
    </div>
	
	   <div class="h50"></div>
    <div class="fixed bottom">
        <div class="shareList">
            <ul class="small-block-grid-4" id="sharelist">
                <li shareid="tsina"><i class="icon-sina"></i><span class="name">新浪微博</span></li>
                <li shareid="qzone"><i class="icon-qqzone"></i><span class="name">QQ空间</span></li>
                <li shareid="tqq"><i class="icon-txwb"></i><span class="name">腾讯微博</span></li>
                <li class="no-line" shareid="xiaoyou"><i class="icon-friend"></i><span class="name">朋友网</span></li>
                <li shareid="ydnote"><i class="icon-youdao"></i><span class="name">有道云笔记</span></li>
            </ul>
        </div>
    </div>
 {template 'wx_nav'}
    <script>
        $(document).foundation().foundation('joyride', 'start');

        function showShare() {
            $(".shareList").slideToggle("slow");
            $(".mask").toggle();
        }

        $(document).ready(function () {
            $(".mask").click(function () {
                $(".shareList").slideToggle("slow");
                $(".mask").toggle();
            })
        })
    </script>
    <!-- JiaThis Button BEGIN -->
    
{template 'jsweixin'}
</body>
</html>
