{template 'common/header'}
<script src="../addons/crad_qrcode_red/template/mobile/js/MagicZoom.js"></script>
<ul class="nav nav-tabs">
    <li class="active"><a href="{php echo $this->createWebUrl('task',array('aid'=>$aid))}">任务列表</a></li>
</ul>
<div class="panel panel-info">
    <div class="panel-heading">筛选</div>
    <div class="panel-body">
        <form class="form-horizontal form" action="./index.php"  method="get"  id="form" role="form">
            <input type="hidden" name="c" value="site" />
            <input type="hidden" name="a" value="entry" />
            <input type="hidden" name="m" value="crad_qrcode_red" />
            <input type="hidden" name="do" value="task" />
            <div class="form-group" >
                <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">所属活动</label>
                <div class="col-sm-9 col-lg-4">
                    <select  name="aid" id="aid">
                        {loop $activity_info $activity_val}
                        <option value="{$activity_val['id']}" {if $activity_val['id']==$aid}selected{/if}>{$activity_val['name']}</option>
                        {/loop}
                    </select>
                    <span class="help-block"></span></div>
            </div>
            <div class="form-group" >
                <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">状态</label>
                <div class="col-sm-9 col-lg-4">
                    <select  name="status" id="status">
                        <option value="0" {if empty($status)}selected{/if}>所有</option>
                        <option value="1" {if $status==1}selected{/if}>已通过</option>
                        <option value="2" {if $status==2}selected{/if}>已拒绝</option>
                        <option value="3" {if $status==3}selected{/if}>未审核</option>
                    </select>
                    <span class="help-block"></span></div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">关键字</label>
                <div class="col-sm-9 col-lg-4">
                    <input class="form-control" name="keyword" id="keyword" placeholder="输入用户openid查询" type="text" value="{$_GPC['keyword']}">
                </div>
                <div class=" col-xs-12 col-sm-2 col-lg-2">
                    <button class="btn btn-default" id="btn" ><i class="fa fa-search"></i> 搜索</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="panel panel-default">
            <div class="panel-heading">任务列表-{$activity_name}  总数：{$total}</div>
    <div class="table-responsive panel-body">
        <form action="" method="post" id="form1" class="form-horizontal form" enctype="multipart/form-data">
            <table class="table table-hover">
                <thead class="navbar-inner">

                    <tr>
                        <th class='with-checkbox' style="width: 20px;"><input type="checkbox" class="check_all" /></th>
                        <th style="width:50px;">ID</th>
                        <th>昵称</th>
                        <th>头像</th>
                        <th>文字说明</th>
                        <th style="width:100px;">图片</th>
                        <th style="width:60px;">状态</th>
                        <th style="width:180px;">操作</th>
                    </tr>
                </thead>
                <tbody>
                    {loop $list  $item}
                    <tr>
                        <td class="with-checkbox"><input type="checkbox" name="ids[]" value="{$item['id']}"></td>
                        <td>{$item['id']}</td>
                        <td>{$item['nickname']}</td>
                        <td>
                            {if !empty($item['img'])}
                            <a  href="{$item['img']}" class="MagicThumb">
                                <img src="{$item['img']}" style="height:60px;width:60px"></a>&nbsp;&nbsp;
                            {else}
                            暂无图片
                            {/if}
                        </td>
                        <td>{$item['content']}</td>
                        <td>
                            {if !empty($item['image'])}
                            <a  href="{php echo tomedia($item['image']); }" class="MagicThumb">
                                <img src="{php echo tomedia($item['image']); }" style="height:80px;width:80px"></a>&nbsp;&nbsp;
                            {else}
                            暂无图片
                            {/if}

                        </td>
                        &nbsp;&nbsp;
                        <td>{if $item['status'] == 1}
                            <span class="label label-success">已通过</span>
                            {elseif $item['status'] == 2}
                            <span class="label label-danger ">已拒绝</span>
                            {else}
                            <span class="label label-default">未审核</span>
                            {/if}</td>
                        <td>
                            <a href="{php echo $this->createWebUrl('task', array('id' => $item['id'],'aid' => $item['aid'], 'op' => 'del'))}" onclick="return confirm('该操作将会删除本条数据，是否确认操作？');
                                    return false;" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="bottom" title="删除">删除</a>
                            {if empty($item['status'])}
                            <a href="{php echo $this->createWebUrl('task', array('id' => $item['id'], 'op' => 'check','status' => 1,'aid'=>$item['aid']))}" onclick="return confirm('确定通过审核吗，通过审核后红包将会直接发送给用户？');
                                    return false;" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="bottom" title="审核通过">通过</a>
                             <a href="{php echo $this->createWebUrl('task', array('id' => $item['id'], 'op' => 'check','status' => 2,'aid'=>$item['aid']))}" onclick="return confirm('确定审核不通过吗？');
                                    return false;" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="bottom" title="审核拒绝">拒绝</a>
                            {/if}
                        </td>
                    </tr>
                    {/loop}
                </tbody>
                <tr>
                    <td colspan="10">
                        <input name="op" id="op" type="hidden" value="" />
                        <input name="aid" type="hidden" value="{$aid}"/>
                        <input name="token" type="hidden" value="{$_W['token']}" />
                        <button type="button" class="btn btn-primary" name="btndeleteall" id="btndeleteall"/>批量删除</button>&nbsp;&nbsp;&nbsp; &nbsp;
                        <button  type="button" class="btn btn-danger text-right" onclick="delete_all()">清空（删除所有记录）</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
    {$pager}
</div>

<script type="text/javascript">

    function delete_all() {
        if (confirm('确认删除所有信息吗,删除完不可恢复?')) {
            var aid = $("#aid").val();
            window.location.href = "{php echo $this->createWebUrl('task',array('op'=>'deleteall'))}" + "&aid=" + aid;
        }
    }
    $(function () {
        $(".check_all").click(function () {
            var checked = $(this).get(0).checked;
            $("input[type=checkbox]").prop("checked", checked);
        });


        $("#btndeleteall").click(function () {
            var check = $("input[type=checkbox][class!=check_all]:checked");
            if (check.length < 1) {
                alert('请选择要删除的数据!');
                return false;
            }
            if (confirm("确认要删除选择的数据?删除后不可恢复")) {
                $('#op').val('deleteids');
                $('#form1').submit();
            }
        });

    });
</script>
{template 'common/footer'}