<script>
    /*开关按钮的赋值*/
    $('.js-switch').each(function () {
        if ($(this).attr("data-value") != "-1") {
            $(this).attr("checked", "checked")
        }
    });

    /*开关按钮 初始为否*/
    $('.switch-off').each(function () {
        if ($(this).attr("data-value") == "1") {
            $(this).attr("checked", "checked")
        } else {
            $(this).attr("checked", false)
        }
    });

    /*单选按钮的赋值*/
    $(".ui-radio").each(function () {
        var mjob = this;
        var data_value = $(this).attr("data-value");
        var value = $(this).attr("value");
        if (data_value == value) {
            $(mjob).prop("checked", "checked");
        }
    });

    /*多选按钮的赋值*/
    $(".ui-checkbox").each(function () {
        var mjob = this;
        var data_value = $(this).attr("data-value");
        if (data_value){
            data_value = data_value.split(',');
            var value = $(this).attr("value");
            $.each(data_value, function (n, val) {
                if (value == val) {
                    $(mjob).prop("checked", "checked");
                }
            })
        }
    });

    /*下拉组件的赋值*/
    $(".ui-select").each(function () {
        if($(this).attr("data-select")!=""){
            $(this).val($(this).attr("data-select"));
        }
    })

</script>