<div class="modal-dialog">
    <link rel="stylesheet" href="{URL_MODULE}web/resource/css/utility.css">
    <div class="modal-content">
        <!--顶部标题-->
        <div class="modal-header">
            <button data-dismiss="modal" class="close" type="button">×</button>
            <h4 class="modal-title">选择链接</h4>
        </div>
        <!--中间内容-->
        <div class="modal-body">
        	<ul class="nav nav-tabs" id="selectUrlTab">
				<li class="active" data-id="system"><a href="javascript:;">系统连接</a></li>
                {if $cateUrl}
				    <li class=""  data-id="cate"><a href="javascript:;">商户分类</a></li>
                {/if}
                <li class=""  data-id="shop"><a href="javascript:;">店铺链接</a></li>
                {if p('rush')}
                    <li class=""  data-id="rush"><a href="javascript:;">抢购商品</a></li>
                {/if}
                {if p('wlfightgroup')}
                <li class=""  data-id="fightgroup"><a href="javascript:;">拼团商品</a></li>
                {/if}
                {if p('groupon')}
                    <li class=""  data-id="groupon"><a href="javascript:;">团购商品</a></li>
                {/if}
                {if p('wlcoupon')}
                    <li class=""  data-id="coupon"><a href="javascript:;">优惠卷</a></li>
                {/if}
                {if p('bargain')}
                    <li class=""  data-id="bargain"><a href="javascript:;">砍价商品</a></li>
                {/if}
                {if $pageInfo}
                    <li class=""  data-id="page"><a href="javascript:;">页面链接</a></li>
                {/if}
			</ul>
			<div class="tab-content" id="selectUrlContent" pageClass="{$pageClass}">
                <!--系统选择-->
				<div class="tab-pane active" id="url_system">
					{loop $system $item}
						<div class="page-head"><h5 class="margin-0"><i class="fa fa-folder-open-o"></i> {$item['name']}</h5></div>
						{loop $item['list'] $child}
							<nav data-href="{php echo $platform=='wxapp'?$child['url_wxapp']:$child['url']}" class="btn btn-default btn-sm" title="{$child['name']}" data-page_path="{$child['page_path']}" data-type="{$child['url_type']}" >{$child['name']}</nav>
						{/loop}
					{/loop}
				</div>
                <!--商户分类-->
				<div class="tab-pane " id="url_cate">
                    <div class="page-head"><h5 class="margin-0"><i class="fa fa-folder-open-o"></i> {$cateUrl['name']}</h5></div>
                    {loop $cateUrl['list'] $child}
                        <nav data-href="{php echo $platform=='wxapp'?$child['url_wxapp']:$child['url']}" class="btn btn-default btn-sm" title="{$child['name']}">{$child['name']}</nav>
                    {/loop}
				</div>
                <!--店铺链接-->
                <div class="tab-pane " id="url_shop">
                    <div class="page-search">
                        <div class="col-sm-10">
                            <input type="text" name="name" class="form-control col-sm-10"/>
                        </div>
                        <span class="btn btn-primary min-width confirmSearch">搜索</span>
                    </div>
                    <div class="app-table-list">
                        <div class="panel panel-default">
                            <table class="table table-hover table-responsive table-bordered">
                                <thead class="navbar-inner">
                                    <tr>
                                        <th width="20%" class="text-center">店铺图标</th>
                                        <th width="20%" class="text-center">店铺名称</th>
                                        <th width="20%" class="text-center">营业时间</th>
                                        <th width="20%" class="text-center">操作</th>
                                    </tr>
                                </thead>
                                <tbody id="shopList">
                                    {loop $shopList['list'] $key $val}
                                        <tr class="text-center">
                                            <td><img src="{$val['logo']}" class="url_images"/></td>
                                            <td  class="text-left">{$val['storename']}</td>
                                            <td>{$val['storehours']}</td>
                                            <td>
                                                <nav data-href="{php echo $platform=='wxapp'?$val['url_wxapp']:$val['url']}" class="btn btn-default btn-sm" title="{$child['name']}"  data-type="{$val['url_type']}" >选择</nav>
                                            </td>
                                        </tr>
                                    {/loop}
                                </tbody>
                            </table>
                            <div class="pagerContent" pageNum="{$shop_pageNum}" total="{$shop_total}" id="shopPager" htmlID="shopList"></div>
                        </div>
                    </div>
                </div>
                <!--抢购商品-->
                <div class="tab-pane " id="url_rush">
                    <div class="page-search">
                        <div class="col-sm-10">
                            <input type="text" name="name" class="form-control col-sm-10"/>
                        </div>
                        <span class="btn btn-primary min-width confirmSearch">搜索</span>
                    </div>
                    <div class="app-table-list">
                        <div class="panel panel-default">
                            <table class="table table-hover table-responsive table-bordered">
                                <thead class="navbar-inner">
                                <tr>
                                    <th width="20%" class="text-center">商品图片</th>
                                    <th width="20%" class="text-center">商品名称</th>
                                    <th width="20%" class="text-center">操作</th>
                                </tr>
                                </thead>
                                <tbody id="rushList">
                                {loop $rush $key $val}
                                <tr class="text-center">
                                    <td><img src="{$val['logo']}" class="url_images"/></td>
                                    <td  class="text-left">{$val['name']}</td>
                                    <td>
                                        <nav data-href="{php echo $platform=='wxapp'?$val['url_wxapp']:$val['url']}" class="btn btn-default btn-sm" title="{$child['name']}" data-type="{$val['url_type']}" >选择</nav>
                                    </td>
                                </tr>
                                {/loop}
                                </tbody>
                            </table>
                            <div class="pagerContent" pageNum="{$rush_pageNum}" total="{$rush_total}" id="rushPager" type="1" htmlID="rushList"></div>
                        </div>
                    </div>
                </div>
                <!--拼团商品-->
                <div class="tab-pane " id="url_fightgroup">
                    <div class="page-search">
                        <div class="col-sm-10">
                            <input type="text" name="name" class="form-control col-sm-10"/>
                        </div>
                        <span class="btn btn-primary min-width confirmSearch">搜索</span>
                    </div>
                    <div class="app-table-list">
                        <div class="panel panel-default">
                            <table class="table table-hover table-responsive table-bordered">
                                <thead class="navbar-inner">
                                <tr>
                                    <th width="20%" class="text-center">商品图片</th>
                                    <th width="20%" class="text-center">商品名称</th>
                                    <th width="20%" class="text-center">操作</th>
                                </tr>
                                </thead>
                                <tbody id="fightgroupList">
                                {loop $fightgroup $key $val}
                                <tr class="text-center">
                                    <td><img src="{$val['logo']}" class="url_images"/></td>
                                    <td  class="text-left">{$val['name']}</td>
                                    <td>
                                        <nav data-href="{php echo $platform=='wxapp'?$val['url_wxapp']:$val['url']}" class="btn btn-default btn-sm" title="{$child['name']}"  data-type="{$val['url_type']}" >选择</nav>
                                    </td>
                                </tr>
                                {/loop}
                                </tbody>
                            </table>
                            <div class="pagerContent" pageNum="{$fightgroup_pageNum}" total="{$fightgroup_total}" id="fightgroupPager" type="3" htmlID="fightgroupList"></div>
                        </div>
                    </div>
                </div>
                <!--团购商品-->
                <div class="tab-pane " id="url_groupon">
                    <div class="page-search">
                        <div class="col-sm-10">
                            <input type="text" name="name" class="form-control col-sm-10"/>
                        </div>
                        <span class="btn btn-primary min-width confirmSearch">搜索</span>
                    </div>
                    <div class="app-table-list">
                        <div class="panel panel-default">
                            <table class="table table-hover table-responsive table-bordered">
                                <thead class="navbar-inner">
                                <tr>
                                    <th width="20%" class="text-center">商品图片</th>
                                    <th width="20%" class="text-center">商品名称</th>
                                    <th width="20%" class="text-center">操作</th>
                                </tr>
                                </thead>
                                <tbody id="grouponList">
                                {loop $groupon $key $val}
                                    <tr class="text-center">
                                        <td><img src="{$val['logo']}" class="url_images"/></td>
                                        <td  class="text-left">{$val['name']}</td>
                                        <td>
                                            <nav data-href="{php echo $platform=='wxapp'?$val['url_wxapp']:$val['url']}" class="btn btn-default btn-sm" title="{$child['name']}"  data-type="{$val['url_type']}" >选择</nav>
                                        </td>
                                    </tr>
                                {/loop}
                                </tbody>
                            </table>
                            <div class="pagerContent" pageNum="{$groupon_pageNum}" total="{$groupon_total}" id="grouponPager" type="2" htmlID="grouponList"></div>
                        </div>
                    </div>
                </div>
                <!--优惠卷-->
                <div class="tab-pane " id="url_coupon">
                    <div class="page-search">
                        <div class="col-sm-10">
                            <input type="text" name="name" class="form-control col-sm-10"/>
                        </div>
                        <span class="btn btn-primary min-width confirmSearch">搜索</span>
                    </div>
                    <div class="app-table-list">
                        <div class="panel panel-default">
                            <table class="table table-hover table-responsive table-bordered">
                                <thead class="navbar-inner">
                                <tr>
                                    <th width="20%" class="text-center">商品图片</th>
                                    <th width="20%" class="text-center">商品名称</th>
                                    <th width="20%" class="text-center">操作</th>
                                </tr>
                                </thead>
                                <tbody id="couponList">
                                {loop $coupon $key $val}
                                <tr class="text-center">
                                    <td><img src="{$val['logo']}" class="url_images"/></td>
                                    <td  class="text-left">{$val['name']}</td>
                                    <td>
                                        <nav data-href="{php echo $platform=='wxapp'?$val['url_wxapp']:$val['url']}" class="btn btn-default btn-sm" title="{$child['name']}"  data-type="{$val['url_type']}" >选择</nav>
                                    </td>
                                </tr>
                                {/loop}
                                </tbody>
                            </table>
                            <div class="pagerContent" pageNum="{$coupon_pageNum}" total="{$coupon_total}" id="couponPager" type="5" htmlID="couponList"></div>
                        </div>
                    </div>
                </div>
                <!--砍价商品-->
                <div class="tab-pane " id="url_bargain">
                    <div class="page-search">
                        <div class="col-sm-10">
                            <input type="text" name="name" class="form-control col-sm-10"/>
                        </div>
                        <span class="btn btn-primary min-width confirmSearch">搜索</span>
                    </div>
                    <div class="app-table-list">
                        <div class="panel panel-default">
                            <table class="table table-hover table-responsive table-bordered">
                                <thead class="navbar-inner">
                                <tr>
                                    <th width="20%" class="text-center">商品图片</th>
                                    <th width="20%" class="text-center">商品名称</th>
                                    <th width="20%" class="text-center">操作</th>
                                </tr>
                                </thead>
                                <tbody id="bargainList">
                                    {loop $bargain $key $val}
                                        <tr class="text-center">
                                            <td><img src="{$val['logo']}" class="url_images"/></td>
                                            <td  class="text-left">{$val['name']}</td>
                                            <td>
                                                <nav data-href="{php echo $platform=='wxapp'?$val['url_wxapp']:$val['url']}" class="btn btn-default btn-sm" title="{$child['name']}"  data-type="{$val['url_type']}" >选择</nav>
                                            </td>
                                        </tr>
                                    {/loop}
                                </tbody>
                            </table>
                            <div class="pagerContent" pageNum="{$bargain_pageNum}" total="{$bargain_total}" id="bargainPager" type="6" htmlID="bargainList"></div>
                        </div>
                    </div>
                </div>
                <!--diy页面链接-->
                <div class="tab-pane " id="url_page">
                    {loop $pageInfo $item}
                        <div class="page-head"><h5 class="margin-0"><i class="fa fa-folder-open-o"></i> {$item['name']}</h5></div>
                        {loop $item['list'] $child}
                            <nav data-href="{php echo $platform=='wxapp'?$child['url_wxapp']:$child['url']}" class="btn btn-default btn-sm" title="{$child['name']}" data-page_path="{$child['page_path']}" data-type="{$child['url_type']}" >{$child['name']}</nav>
                        {/loop}
                    {/loop}
                </div>
			</div>
        </div>
        <!--底部关闭-->
        <div class="modal-footer">
            <button data-dismiss="modal" class="btn btn-default" type="button">关闭</button>
        </div>
        <script>
            //显示隐藏内容栏
            $("#selectUrlTab").on('click',"li",function () {
                //改变按钮样式
                $("#selectUrlTab li").removeClass("active");
                $(this).addClass("active");
                //显示隐藏内容
                var id = $(this).data("id");
                $("#selectUrlContent .tab-pane").removeClass("active");
                $("#url_"+id).addClass("active");
            });
        	$(function(){
                //循环建立需要分页的内容的分页菜单
                $(".pagerContent").each(function () {
                    var id         = $(this).attr("id");
                    var total      = $(this).attr("total");//总条数
                    var pageNum    = $(this).attr("pageNum");//每页的数量
                    var total_page = Math.ceil(total/pageNum);//总共的页数
                    var page       = 1;//当前页数
                    //页数大于一 建立分页系统
                    if(total_page > 1) {
                        createPaging(id,total_page,page,pageNum);
                    }
                });
                //获取分页信息
                $(".pagerContent").on('click','span',function () {
                    var id = $(this).closest(".pagerContent").attr("id");//shopPager = 获取店铺信息
                    var htmlID = $(this).closest(".pagerContent").attr("htmlID");//渲染区域的id
                    var page = $(this).data("page");
                    var search = $(this).attr("search");
                    var pageClass = $("#selectUrlContent").attr("pageClass");
                    //1=抢购商品   2=团购商品  3=拼团商品  5=卡卷信息
                    var  type = $(this).closest(".pagerContent").attr("type");
                    if(search == 'undefined'){
                        search = '';
                    }
                    var pageNum = $(this).attr("data-pageNum");
                    var url = biz.url("utility/select/getShop");
                    if(id != 'shopPager'){
                        url = biz.url("utility/select/getGoods");
                    }
                    $.ajax({
                        url:url,
                        data:{page:page,pageNum:pageNum,search:search,pageClass:pageClass,type:type},
                        dataType:"json",
                        success:function (res) {
                            var total_page = Math.ceil(res.data['total']/res.data['pageNum']);//总共的页数
                            if(total_page > 1){
                                createPaging(id,total_page,res.data['page'],res.data['pageNum'],search);
                            }else{
                                $("#"+id).html('');
                            }
                            if(id == 'shopPager'){
                                shopRendering(res.data,htmlID,id);
                            }else {
                                goodsRendering(res.data,htmlID,id);
                            }
                        }
                    });
                });
                /**
                 * 获取搜索信息
                 */
                $(".confirmSearch").on('click',function () {
                    var search = $(this).prev("div").children("input").val();
                    var position = $(this).closest(".tab-pane").contents(".app-table-list").contents(".panel").contents(".pagerContent");
                    var id = position.attr("id");//shopPager = 获取店铺信息
                    var htmlID = position.attr("htmlID");//渲染区域的id
                    var pageClass = $("#selectUrlContent").attr("pageClass");
                    //1=抢购商品   2=团购商品  3=拼团商品  5=卡卷信息
                    var type = position.attr("type");
                    var page = 1;
                    var pageNum = position.attr("pageNum");
                    //获取请求地址
                    var url = biz.url("utility/select/getShop");
                    if(id != 'shopPager'){
                        url = biz.url("utility/select/getGoods");
                    }
                    $.ajax({
                        url:url,
                        data:{page:page,pageNum:pageNum,search:search,pageClass:pageClass,type:type},
                        dataType:"json",
                        success:function (res) {
                            var total_page = Math.ceil(res.data['total']/res.data['pageNum']);//总共的页数
                            if(total_page > 1){
                                createPaging(id,total_page,res.data['page'],res.data['pageNum'],search);
                            }else{
                                $("#"+id).html('');
                            }
                            if(id == 'shopPager'){
                                shopRendering(res.data,htmlID,id);
                            }else {
                                goodsRendering(res.data,htmlID,id);
                            }
                        }
                    });
                });
                //分页建立
                function createPaging(id,total,page,pageNum,search) {
                    var page_html = '';
                    if(page > 1){
                        page_html += "<span data-page='1'  data-pageNum='"+pageNum+"' search='"+search+"'>首页</span>";
                        page_html += "<span data-page='"+(parseInt(page) - parseInt(1))+"'  data-pageNum='"+pageNum+"' search='"+search+"'>上一页</span>";
                    }
                    for(var i=1;i <= total;i++){
                        if(i == page){
                            page_html += "<span class='paging_Number active' data-page='"+i+"' data-pageNum='"+pageNum+"' search='"+search+"'>"+i+"</span>";
                        }else{
                            page_html += "<span class='paging_Number' data-page='"+i+"' data-pageNum='"+pageNum+"' search='"+search+"'>"+i+"</span>";
                        }
                    }
                    var show_num = 5;//显示的按钮数量
                    var but_num  = Math.floor(parseInt(show_num)/parseInt(2));//两边的数量
                    if(total > page){
                        page_html += "<span data-page='"+(parseInt(page) + parseInt(1))+"' data-pageNum='"+pageNum+"' search='"+search+"'>下一页</span>";
                        page_html += "<span data-page='"+total+"'  data-pageNum='"+pageNum+"' search='"+search+"'>尾页</span>";
                    }
                    $("#"+id).html(page_html);
                    //删除多余的分页按钮
                    if(total > show_num) {
                        if (page <= (parseInt(but_num) + parseInt(1))) {
                            //删除大于五的内容
                            $("#" + id + " .paging_Number:gt(" + (show_num - 1 ) + ")").remove();
                        } else if (page >= (parseInt(total) - parseInt(but_num))) {
                            //删除小于总页数减 show_num 的数的内容
                            var maxNumber = parseInt(total) - parseInt(show_num);
                            $("#" + id + " .paging_Number:lt(" + maxNumber + ")").remove();
                        } else {
                            //删除两边 当前数位移 but_num 数量后的内容
                            var min_num = parseInt(page) - (parseInt(but_num) + parseInt(1));//最小显示的页面 左
                            $("#" + id + " span:lt(" + min_num + ")").remove();
                            $("#" + id + " span:gt(" + (show_num - 1 ) + ")").remove();
                        }
                    }
                }
                //店铺信息渲染
                function shopRendering(info,htmlID) {
                    var html = '';
                    var list = info['list'];
                    if(list && list != 'null') {
                        $.each(list, function (k, v) {
                            html += '<tr class="text-center">\n' +
                                '       <td><img src="' + v["logo"] + '" class="url_images"/></td>\n' +
                                '       <td  class="text-left">' + v["storename"] + '</td>\n' +
                                '       <td>' + v["storehours"] + '</td>\n' +
                                '       <td>\n' +
                                '           <nav data-href="' + v["url"] + '" class="btn btn-default btn-sm" title="' + v["name"] + '"  data-type="'+v["url_type"]+'">选择</nav>\n' +
                                '       </td>\n' +
                                '   </tr>';
                        });
                        $("#" + htmlID).html(html);
                    }else{
                        $("#"+htmlID).html('');
                    }
                }
                //商品信息渲染
                function goodsRendering(info,htmlID) {
                    var html = '';
                    var list = info['list'];
                    if(list && list != 'null'){
                        $.each(list,function (k,v) {
                            html += '<tr class="text-center">\n' +
                                '       <td><img src="'+v["logo"]+'" class="url_images"/></td>\n' +
                                '       <td  class="text-left">'+v["name"]+'</td>\n' +
                                '       <td>\n' +
                                '           <nav data-href="'+v["url"]+'" class="btn btn-default btn-sm" title="'+v["name"]+'" data-type="'+v["url_type"]+'" >选择</nav>\n' +
                                '       </td>\n' +
                                '   </tr>';
                        });
                        $("#"+htmlID).html(html);
                    }else{
                        $("#"+htmlID).html('');
                    }
                }



        		$(".select-btn").click(function(){
        			var type = $(this).data("type");
        			var kw = $.trim($("#select-"+type+"-kw").val());

        			if (type=='diyurl') {
                        if(!kw || kw==''){
                            tip.msgbox.err("请输入第三方链接");
                            return;
                        }
                        kw = kw.replace('http://', '');
                        kw = kw.replace('https://', '');
                        $('#select-diy-url').data('href', 'https://' + kw).trigger('click');
                        return;
                    }

                    if (type=='diymobile') {
                        if(!kw || kw==''){
                            tip.msgbox.err("请输入电话号码");
                            return;
                        }
                        $('#select-diy-diymobile').data('href','tel:'+kw).trigger('click');
                        return;
                    }

                    if (type=='diyxcx') {
                        if(!kw || kw==''){
                            tip.msgbox.err("请输入小程序APPID");
                            return;
                        }
                        if($("#select-diyxcxurl-kw").val() != ''){
                            $('#select-diy-diyxcx').data('href', 'appid:'+kw+',pagepath:'+$("#select-diyxcxurl-kw").val()).trigger('click');
                        }else{
                            $('#select-diy-diyxcx').data('href', 'appid:'+kw).trigger('click');
                        }
                        return;
                    }

        			$("#select-"+type+"-list").html('<div class="tip">正在进行搜索...</div>');
        			$.ajax("{php echo url('utility/select/urlquery', array('siteid' => intval($_GPC['siteid'])))}", {
		      			type: "get",
		      			dataType: "html",
		      			cache: false,
		      			data: {kw:kw, type:type}
		      		}).done(function (html) {
		      			$("#select-"+type+"-list").html(html);
		      		});
        		});
        	});
        </script>
    </div>

 
