{template 'public/header'}
{template 'public/comhead'}
<link rel="stylesheet" type="text/css" href="../addons/chbl_sun/template/public/ygcsslist.css">
<ul class="nav nav-tabs">
    <span class="ygxian"></span>
    <div class="ygdangq">当前位置:</div>
    <li><a href="{php echo $this->createWebUrl('couponopen')}">优惠券设置</a></li>
    <li><a href="{php echo $this->createWebUrl('coupon')}">优惠券列表</a></li>
    <li class="active"><a href="{php echo $this->createWebUrl('addcoupon')}">添加优惠券</a></li>
</ul>
<style>
    .layui-form-label{width:120px}
</style>
<div class="main">
    <div class="panel panel-default">
        <div class="panel-body ygbtn">
            <!--<div class="btn ygshouqian2" id="allselect">批量删除</div>-->
            <div class="btn ygyouhui2"><a href="{php echo $this->createWebUrl('addcoupon')}">优惠券添加</a></div>
            <!--<div class="btn storegrey2" id="allrefuse">批量禁用</div>-->
        </div>

    </div>
    <div class="panel panel-default">


<div class="main">
    <form action="" method="post" class="form-horizontal form" enctype="multipart/form-data">
        <div class="layui-form-item">
            <label class="layui-form-label">门店名称</label>
            <div class="layui-input-inline">
                <select name="store_id" id="" style="width: 250px;">
                    <option value="0">请选择门店</option>
                    {loop $store $key $item}
                    {if $item['id']==$info['store_id']}
                    <option value="{$item['id']}" selected="selected" name="unopction">{$item['store_name']}</option>
                    {else}
                    <option value="{$item['id']}" name="unopction">{$item['store_name']}</option>
                    {/if}
                    {/loop}
                </select>
            </div>

        </div>
        <span style="float: left;margin-left: 100px;color: #999;margin-bottom: 10px;">* 注：必填必选</span>
        <div class="layui-form-item">
            <label class="layui-form-label">优惠券金额</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="title" value="{$info['title']}" style="width: 250px;" />
            </div>
        </div>

        <div class="layui-form-item {if $info['type']==2}show{/if}" id="cash">
            <div class="layui-inline">
                <label class="layui-form-label">单笔满</label>
                <div class="layui-input-inline" style="width: 100px;">
                    <input type="text" name="val[b]" value="{$val['b']}" placeholder="￥" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid">立减</div>
                <div class="layui-input-inline" style="width: 100px;">
                    <input type="text" name="val[c]" value="{$val['c']}" placeholder="￥" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">元</div>
            </div>
        </div>



        <div class="layui-form-item">
            <label class="layui-form-label">活动结束时间</label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" name="antime" value="{$info['antime']}" id="antime" placeholder="yyyy-MM-dd H:i:s"  style="width: 250px;" >
            </div>
        </div>

        <!--<div class="layui-form-item">-->
        <!--<label class="layui-form-label">领取后几日有效</label>-->
        <!--<div class="layui-input-inline">-->
        <!--<input type="text" name="expiryDate" value="{$info['expiryDate']}" autocomplete="off" class="layui-input">-->
        <!--</div>-->
        <!--<div class="layui-form-mid layui-word-aux">天</div>-->
        <!--</div>-->

        <div class="layui-form-item">
            <label class="layui-form-label">余量</label>
            <div class="layui-input-inline">
                <input type="text" name="allowance" value="{$info['allowance']}" autocomplete="off" class="layui-input"  >
            </div>
            <div class="layui-form-mid layui-word-aux">张</div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">总量</label>
            <div class="layui-input-inline">
                <input type="text" name="total" value="{$info['total']}" autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">张</div>
        </div>
    <!--&ndash;&gt;-->
        <!--<div class="layui-form-item">-->
        <!--<label class="layui-form-label">所需积分兑换</label>-->
        <!--<div class="layui-input-inline">-->
        <!--<input type="text" name="exchange" value="{$info['exchange']}" autocomplete="off" class="layui-input">-->
        <!--</div>-->
        <!--</div>-->

        <!--<div class="layui-form-item" pane="">-->
            <!--<label class="layui-form-label">是否显示首页</label>-->
            <!--<div class="layui-input-block" data-i="{$info['showindex']}">-->
                <!--<input type="checkbox" name="showindex" {if $info['showindex']==1}checked{/if} lay-skin="switch" lay-filter="switchTest" lay-text="ON|OFF">-->
            <!--</div>-->
        <!--</div>-->


        <div class="layui-form-item">
            <div class="layui-input-block">
                <input type="hidden" name="id" value="{$info['id']}" />
                <input type="hidden" name="token" value="{$_W['token']}" />
                <!--<input type="submit" name="submit" class="layui-btn" lay-submit="" lay-filter="form" value="立即提交" style="background: #444444"/>-->
                <input type="submit" name="submit" class="btn col-lg-3" lay-submit=""  value="立即提交" style="background: #444444;color: #fff;"/>
                <!--<input type="submit" name="submit" class="layui-btn" onclick="reload()" lay-submit="" lay-filter="form" value="立即提交" />-->
            </div>
        </div>

    </form>
</div>
</div>

<script type="text/javascript">
    $(function () {
        $("#frame-123").show();
        $("#yframe-123").addClass("wyactive");

    })

    function reload() {
        //提交优惠券数据表单之后对页面进行刷新,放置重复提交
        window.location.reload();

    }
    layui.use('laydate', function () {
        var laydate = layui.laydate;
        laydate.render({
            elem: '#astime',
            type: 'datetime'
        });
        laydate.render({
            elem: '#antime',
            type: 'datetime'
        });
    });

    layui.use('form', function () {
        var form = layui.form;
        form.render();
        form.on('radio(type)', function (data) {
            if (this.value == 1) {
                $('#cash').hide()
                $('#discount').show()
            } else {
                $('#discount').hide()
                $('#cash').show()
            }
        })
        // form.on('submit(form)', function (data) {
        //     $.ajax({
        //         type: 'POST',
        //         url: "{php echo $this->createWebUrl('addcoupon')}",
        //         data: data.field,
        //         dataType: 'JSON',
        //         success: function (res) {
        //             if (res) {
        //                 layer.msg('保存成功');
        //                 location.href = "{php echo $this->createWebUrl('coupon')}"
        //             } else {
        //                 layer.msg('保存失败');
        //             }
        //         }
        //     })
        //     return false;
        // });
    });
</script>