<div class="aside2 sidebar-2">
    <div class="aside2_title">智慧农场众筹插件</div>
    <nav class="aside2_nav">
        <ul>
            <li class="active2 {if $op=='index'}active{/if} ">
                <a href="{url 'site/entry/project',array('m'=>'kundian_farm_plugin_funding','op'=>'index','version_id'=>$_GPC['version_id'],'cate_id'=>$_GPC['cate_id'])}">众筹项目</a>
            </li>
            <li class="active2 {if $op=='order_list'}active{/if} ">
                <a href="{url 'site/entry/order',array('m'=>'kundian_farm_plugin_funding','op'=>'order_list','version_id'=>$_GPC['version_id'],'cate_id'=>$_GPC['cate_id'],'is_status'=>1)}">众筹订单</a>
            </li>
            <li class="active2 {if $op=='system_set'}active{/if} ">
                <a href="{url 'site/entry/system',array('m'=>'kundian_farm_plugin_funding','op'=>'system_set','version_id'=>$_GPC['version_id'],'cate_id'=>$_GPC['cate_id'],'is_status'=>1)}">基本设置</a>
            </li>
        </ul>
    </nav>
</div>