<!--广告图开始-->
{if $_SESSION['first_screen_a']}
<script type="text/javascript" src="{MODULE_URL}template/mobile/weui/js/swiper.jquery.min.js"></script>
<div id="adcontiner" style="width: 100%; height: 100%; position: fixed; z-index: 10000; top: 0px;">
    <div style="position: absolute; top: 3px; right: 15px; z-index: 10001; color: black; background-color: gray; padding-left: 5px; padding-right: 10px; border-radius: 5px; color: white; height: 20px; line-height: 20px;
vertical-align: middle; text-align: center;">
        {if $adlist['adskip']}
        <span id="skip" onclick="adskip()"></span>
        {/if}
        <span id="adtime">{$adlist['showtime']}</span> 秒
        <input id="allowskiptime" type="hidden" value="{$adlist['allowskiptime']}">
    </div>
    <script type="text/javascript">
        var a = document.getElementById('adtime').innerHTML;
        var allowskiptime = document.getElementById('allowskiptime').value;
        var time = 0;
        function adtime(){
            document.getElementById('adtime').innerHTML = a;
            if(a == 0){
                clearInterval("adtime()");
                document.getElementById('adcontiner').style.display = 'none';
            }else{
                a = a - 1;
            }
            if(allowskiptime == 0 || time >= allowskiptime){
                document.getElementById('skip').innerHTML = '跳过广告';
            }
            time++;
        }
        adtime();
        setInterval("adtime()",1000);
        function adskip(){
            clearInterval("adtime()");
            document.getElementById('adcontiner').style.display = 'none';
        }
    </script>
    <a href="{$adlist['adurl']}">
        {if is_array($adimg)}
        {if count($adimg) <=1}
        <img src="{php echo tomedia(reset($adimg))}" style="width: 100%; height: 100%;">
        {else}
        <div class="swiper-container ad-continer" id="banner-container" style="width: 100%; height: 100% !important;">
            <div class="swiper-wrapper">
                {loop $adimg $k $adimgitem}
                <div class="swiper-slide">
                    <a href="{php echo trim($adlist['adurl']);}">
                        <img src="{php echo tomedia($adimgitem);}" width="100%">
                    </a>
                </div>
                {php $ti++;}
                {/loop}
            </div>
        </div>
        <script>
            $(function(){
                var mySwiper = new Swiper('#banner-container', {
                    autoplay: 3000
                })
            });
        </script>
        {/if}
        {else}
        <img src="{php echo tomedia($adimgitem)}" style="width: 100%; height: 100%;">
        {/if}
    </a>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        var screen_width = $('body').width();
        var screen_height = $('body').height();
        $('#banner-container').css('height', screen_height+'px');
        $('#banner-container .swiper-wrapper').css('height', screen_height+'px');
        $('#banner-container .swiper-wrapper').css('max-height', screen_height+'px');
    })
</script>
{/if}
<!--广告图结束-->