{template 'web/common/common'}
{template 'web/animal/navbar'}
<blockquote class="layui-elem-quote layui-text">
    认养订单
</blockquote>
<div class="layui-card" style="padding-top: 30px;">
    <form class="layui-form" action="{url 'site/entry/admin',array('m'=>'kundian_farm','op'=>'adopt_order','status'=>$_GPC['status'],'action'=>'animal')}" method="post">
        <div class="layui-form-item">

            <div class="layui-input-inline">
                <input type="text" name="keyword" style="height: 31px;" value="{$_GPC['keyword']}"  placeholder="订单编号" class="layui-input">
            </div>
            <div class="layui-input-inline">
                <button class="layui-btn layui-btn-sm" type="button" lay-filter="formSubmit" lay-submit="" ><i class="layui-icon">&#xe615;</i>查询</button>
            </div>
        </div>
    </form>
</div>
<div class="layui-card">
    <div class="layui-form">
        <table class="layui-table" lay-skin="line">
            <colgroup>
                <col width="150">
                <col width="150">
                <col width="200">
                <col>
            </colgroup>
            <thead>
            <tr>
                <th style="width: 5%;">ID</th>
                <th>订单编号</th>
                <th style="width: 6%;">订单总价</th>
                <th style="width: 5%;">领养数量</th>
                <th>订单状态</th>
                <th>支付方式</th>
                <th style="width: 6%;">优惠金额</th>
                <th>姓名</th>
                <th>联系电话</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                {loop $data['list'] $key $item}
                <td>{$item['id']}</td>
                <td>{$item['order_number']}</td>
                <td>￥{$item['total_price']}</td>
                <td>{$item['count']}</td>
                <td>
                    {if $item['status']==1}
                    <span class="layui-badge layui-bg-green">已支付</span>
                    {else}
                    <span class="layui-badge layui-bg-gray">未支付</span>
                    {/if}
                </td>
                <td>{$item['pay_method']}</td>
                <td>{$item['coupon_price']}</td>
                <td>{$item['username']}</td>
                <td>{$item['phone']}</td>
                <td>
                    {if in_array('animal.adopt_order_detail',$perm)}
                    <button class="layui-btn layui-btn-xs detail" data-id="{$item['id']}"><i class="layui-icon"></i>详情</button>
                    {/if}
                    {if $item['status']==0 && in_array('animal.adopt_order_detail',$perm)}
                    <button type="button" data-id="{$item['id']}" class="layui-btn layui-btn-xs layui-btn-danger delete_adopt_order"><i class="layui-icon"></i>删除</button>
                    {/if}
                </td>

            </tr>
            {/loop}
            </tbody>
        </table>
        <div style="text-align: right;">
        {$data['pager']}
        </div>
    </div>
</div>

{template 'common/footer'}
<script src="../addons/kundian_farm/resource/js/main.js" charset="utf-8"></script>
<script>
    layui.use(['form', 'layedit', 'laydate'], function(){
        var form = layui.form,layer = layui.layer;
        $(".delete_adopt_order").click(function(){
            var that=$(this);
            var id=$(this).attr('data-id');
            var url="{url 'site/entry/'.$_GPC['do'],array('m'=>$_GPC['m'],'op'=>'delete_adopt_order','action'=>'animal')}";
            updateData(url,{id:id},'确认删除吗？')
        });

        /** 搜索查询*/
        form.on('submit(formSubmit)',function (data) {
            $("input[name='flag']").val('');

            var formData = data.field;
            let url = "{url 'site/entry/'.$_GPC['do'],array('m'=>'kundian_farm','op'=>'adopt_order','action'=>'animal')}";
            if(formData['keyword']){
                url+="&keyword="+formData['keyword'];
            }
            window.location.href=url;
        })
        $(".detail").click(function () {
            var id=$(this).attr('data-id');
            let url = "{url 'site/entry/'.$_GPC['do'],['m'=>'kundian_farm','op'=>'adopt_order_detail','action'=>'animal']}"+"&id="+id;
            layer.open({
                type: 2,
                area: ['80%', '80%'],
                fix: false, //不固定
                maxmin: true,
                shadeClose: true,
                shade:0.4,
                title: '订单详情',
                content: url
            });
        })
    });
</script>