<script id="bargainlist_tpl" type="text/html">
	{{# for(var i = 0, len = d.length; i < len; i++){ }}
	<div class="act-tip2-t2-item flex-s-b" onclick="location.href='{{d[i].href}}'">
		<div class="act-tip2-t2-l">
			<div class="act-img" style="background-image:url({{d[i].thumb}})"></div>
		</div>
		<div class="act-tip2-t2-r">
			<h1>{{d[i].name}}</h1>
			<h2>已关注{{d[i].pv}}人</h2>
			<p><i>底价:￥</i>{{d[i].price}}<em>￥{{d[i].oldprice}}</em><a href="{{d[i].href}}">立即参与</a></p>
		</div>
	</div>
	{{# } }}
</script>
