<script id="fightlist_tpl" type="text/html">
{{# for(var i = 0, len = d.length; i < len; i++){ }}
  	<div class="act-tip2-t2-item flex-s-b" onclick="location.href='{{d[i].href}}'">
        <div class="act-tip2-t2-l">
          	<div class="act-img" style="background-image:url({{d[i].logo}})"><i>{{d[i].peoplenum}}人拼团</i></div>
        </div>
        <div class="act-tip2-t2-r">
          	<h1>{{d[i].name}}</h1>
          	<h2>已团{{d[i].salenum}}{{d[i].unit}}</h2>
          	<p><i>￥</i>{{d[i].price}}<em>￥{{d[i].oldprice}}</em><a href="{{d[i].href}}">立即开团</a></p>
        </div>
  	</div>
{{# } }}
</script>