<script id="rushlist_tpl" type="text/html">
	{{# for(var i = 0, len = d.length; i < len; i++){ }}
		<a href="{{d[i].href}}">
	<div class="list-item">
		<div class="item-img" style="background-image: url({{d[i].thumb}});">
			{{# if(d[i].vipstatus==1){ }}<span class="vip-tag">会员特价</span>{{# } }}
            {{# if(d[i].vipstatus==2){ }}<span class="vip-tag">会员特供</span>{{# } }}
		</div>
		<div class="item-info">
			<div class="item-title">
				<img src="{{d[i].storelogo}}" class="item-icon" />
				<span>{{d[i].storename}}</span>
			</div>
			<div class="item-content2">
				<div class="item-name">{{d[i].name}}</div>
				<div class="item-desc">
					{{# if(d[i].status == 1){ }}
					<span>开始时间：{{d[i].starttime}}</span>
					{{# }else{ }}
					<span>结束时间：{{d[i].endtime}}</span>
					{{# } }}
				</div>
			</div>
			<div class="item-price">
				<span class="now-price"><i>￥</i>{{# if(d[i].vipstatus==1){ }}{{d[i].vipprice}}{{# }else{ }}{{d[i].price}}{{# } }}</span>
				<span class="old-price">￥{{d[i].oldprice}}</span>
			</div>
			{{# if(d[i].levelnum > 0){ }}
			<button type="button" class="button item-btn">
				{{# if(d[i].status == 1){ }}关注{{# }else{ }}购买{{# } }}
			</button>	
			{{# }else{ }}
			<button type="button" class="button item-btn" style="background: linear-gradient(to right,grey,grey);">
				已抢完
			</button>
			{{# } }}
		</div>
	</div>
		</a>
	{{# } }}
</script>