body,p,ul{position:relative;padding:0;margin:0;}
body{width: 10rem;margin: 0 auto;line-height:1.6;background:white}  
a{text-decoration:none!important;}
.w100{width:100%;display:block;}
.button {
    background: #F4436D;
    color: #fff;
    border: 0px;	
    margin: .125rem 0;	
    width: 9rem;	
	display: block;
    height: 1rem;	
    line-height: 1rem;	
    text-align: center;
}
.cps_dec_shop {padding-top:0.47rem;border-bottom: 0.03125rem solid #f5f5f5;}
.cps_dec_shop .shop_pic { width: 6.375rem; height: 6.375rem; margin: 0 auto 0.406rem;pointer-events:none; position:relative;}
.cps_dec_shop .shop_pic .soldout {
    position: absolute;
    width: 6.375rem;
	height: 6.375rem;
    left: 0;
    top: 0;
}
.cps_dec_shop .shop_title{padding:0 0.5rem;line-height:1.4;color:#4a4a4a;-webkit-line-clamp: 2;}
.cps_dec_shop .shop_type{ display: inline-block; width: 0.625rem; height: 0.625rem; vertical-align: middle; margin:0 0.15rem 0.055rem 0; font-size: 0; text-indent: 0; margin-top: -0.1rem; }
/*价格*/
.shop_price_dec{position:relative;width:9rem;margin:0.375rem auto;}
.shop_price{line-height:1;}
.shop_price .now_price{color:#9b9b9b;}
.shop_price .final_price{margin-top:0.25rem;color:#f4436d;}
.cps_dec_shop .yhq{position:absolute;right:0;bottom:0;height:0.5625rem;line-height:0.5625rem;text-align:center;color:#fff;background:url("https://img.alicdn.com/imgextra/i3/2296013456/TB2rDPCdYFlpuFjy0FgXXbRBVXa_!!2296013456.png") no-repeat;background-size:contain;overflow:hidden;}
.cps_dec_shop .yhq span:nth-child(1){float:left;width:1rem;}
.cps_dec_shop .yhq span:nth-child(2){float:left;width:2.21875rem;}
/*口令*/
.shop_copy_word{padding:0.4375rem .5rem 0;color:#4a4a4a;}
.word_box {height:2.8125rem; padding: 0 .125rem;text-align: center;background:url("https://img.alicdn.com/imgextra/i4/643039162/TB2.i3rdbBmpuFjSZFAXXaQ0pXa_!!643039162.png") no-repeat;background-size:contain;border-radius:.125rem;word-break: break-all;}

/*口令*/
.word_box .code {
    position: relative;
    display: block;
    margin: 0 auto;	
    padding: .5rem 0 .25rem;	
    width: 5rem;
    overflow: hidden;
    line-height: 1rem;
    height: 1rem;
    text-align: center;
    padding-right: 2rem;
}

.word_box .code .code_word {
	display: block;
    height: 1rem;
    color: #7f4900;
    line-height: 1rem;
    width: 100%;
    background: white;
    padding: 0;
    border: dashed 1px #ff4400;
    box-sizing: border-box;
    font-family: "Microsoft Yahei";
    position: relative;
}
.word_box .code .code_btn {
    position: absolute;
    width: 2rem;
    height: 1rem;
    right: 0;
    background: #ff4400;
    display: block;
    line-height: 1rem;
    text-align: center;
    top: .5rem;
    color: #fff;
}

.word_box .shop_copy_way {
    color: #999;
}

/*图文详情*/
.pic-detail {
    display: block;
    border-bottom: #e9e5e6 1px solid;
    width: 100%;
    background: white;
    text-align: center;
    overflow: hidden;
}
.pic-detail .pic-detail-btn {
    display: block;
    margin: 0 auto 0.25rem;
}
.pic-detail span.pic-detail-btn-span {
    border: #ff6a00 1px solid;
    color: #ff6a00;
    border-radius: 16px;
    margin: 0.3rem auto;
    width: 2.75rem;
    height: 0.625rem;
    display: block;
    line-height: 0.625rem;
    font-size: 0.3rem;
}
.pic-detail span.pic-detail-btn-span i {
    position: absolute;

}
.pic-detail .pic-detail-show {
    width: 100%;
    /* overflow: hidden; */
    margin-top: 0.25rem;
    display: none;
    height: auto;
}
.pic-detail .pic-detail-show img {
    width: 98%;
    vertical-align: middle;
    /*margin-bottom: 0.125rem;*/
}
.pic-detail span.loadding-lab {
    width: 100%;
    float: left;
    display: none;
    font-size: 0.3rem;
    margin-bottom: 0.25rem;
}

/*弹窗*/
.weixin-tip {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000000;
}
.weixin-cover {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background:  rgba(0,0,0,0.8);
}
.wechat-line {
    position: absolute;
    top: 0;
    right: 0.55rem;
    z-index: 1000003;
    width: 1.7rem;
    height: 1.7rem;
    background: url(cms-img.png) -3.275rem -3.725rem no-repeat;
    background-size: 7.175rem 20rem;
}
.wechat-brow {
    z-index: 1000002;
    top: 1.75rem;
    width: 5.375rem;
    margin: 0 auto;
    position: relative;
    background: #ff7200 url(cms-img.png) 0 -13.6rem no-repeat;
    background-size: 7.175rem 20rem;
    height: 2.5rem;
    border-radius: 2px;
}
.wechat-brow.androidChat {
    background-position: 0 -16.175rem;
}
.tkl-layer {
    width: 6.25rem;
    height: 5.25rem;
    position:relative;
    z-index:1;
    background: url(cms-img.png) 0 -5.85rem no-repeat;
    background-size: 7.175rem 20rem;
    margin: 0 auto;
    text-align: center;
    padding-top: 2.25rem;
    color:#5e4102;
}
.tkl-layer .mid-txt {
    font-size: 0.375rem;
    font-weight: bold;
    width: 1.625rem;
    font-family: "Microsoft Yahei";
    height: 0.05rem;
    border-top: #5e4102 2px solid;
    margin: 0.325rem auto;
    margin-bottom: 0.825rem;
}
.tkl-layer .mid-txt span {
    display: block;
    background: #f9fcff;
    margin: 0 auto;
    margin-top: -0.325rem;
    line-height: 0.5rem;
    width: 0.75rem;
    height: 0.5rem;
}
.tkl-layer .tkl-code  {
    /* background:#f1f1f1; */
    width: 4.75rem;
    /* height: 1rem; */
    margin: 0 auto;
    line-height: 1rem;
    overflow: hidden;
    font-size: 0.5rem;
    font-family: "Microsoft Yahei";
}
.tkl-layer .tkl-code .code {
    background:#f1f1f1;
}

.tkl-layer .tkl-code .keycope {

    display: block;

    width: 3rem;

    margin: 0.25rem auto 0;

    height: 0.9rem;

    font-size: 0.4rem;

    line-height: 0.9rem;

    background: #ff4400;

    color: white;

    border-radius: 50px;
}

.tkl-layer p {
    color: #666;
    text-align:center;
    font-size: 0.3rem;
    width: 4.75rem;
    line-height: 0.45rem;
    margin:0 auto;
    margin-top: 0.5rem;
}

.pos-box {
    padding: 0.25rem 0.375rem 0 0.375rem;
}

.pos-box .pos-title {
    display: block;
    width: 100%;
    margin-bottom: 0.275rem;
}
.pos-box .pos-title p {
    position: relative;
    line-height: 0.4rem;
    text-align:center;
    color: #999;
    font-size: 0.375rem;
    height: 0.4rem;
    width: 1.95rem;
    padding: 0 0.8rem;
    margin: 0 auto;
}
.pos-box .pos-title p i ,.pos-box .pos-title p b {
    position: absolute;
    background: url(cms-img.png) -3.35rem -2.9rem no-repeat;
    background-size: 7.175rem 20rem;
    width: 0.8rem;
    height: 0.4rem;
    top:0;
}
.pos-box .pos-title p i {
    left: 0;
}
.pos-box .pos-title p b {
    right: 0;
    background-position: -4.475rem -2.9rem;
}

.bottom_buy {
    position: fixed;
    bottom: 0;
	margin: 0 auto;
    width: 10rem;
    height: 1.2rem;
    padding: 0;
    box-shadow: 0 0 5px 0 rgba(218, 218, 218, 0.75);
    background-color: #FFF;
    overflow: hidden;
    z-index: 100;
}

.bottom_buy a {
    height: 1.2rem;
	float: right;
    line-height: 1.2rem;	
    color: #3E3E3E;
}

.bottom_buy .bottom_buy_button {
    background: #F4436D;
    color: #ffffff;
    width: 3rem;
    text-align: center;
}

.bottom_buy .bottom_buy_coupon {
    width: 1.5rem;
    text-align: center;
    line-height: .6rem;
    background: #FCA4BC;	
    color: #ffffff;	
}

.bottom_buy .bottom_buy_price {
	float: left;
	padding-left: 0.5rem;
}

.bottom_buy .bottom_buy_price span {
	color: #f4436d;
}

/*商品列表*/
#itemList{background-color:#fff;}
#itemList .swiper-slide{height:0;}
#itemList .swiper-slide-active{height:auto;min-height:20rem;min-height:100vh;}
#itemList li{padding:0.3125rem 0.25rem;overflow:hidden;}
#itemList .img_wrap{float:left;width:3.9375rem;height:3.9375rem;border-radius:0.125rem;overflow:hidden;}
#itemList .info{float:right;width:5.25rem;padding-top:0.4375rem;}
#itemList .info .title{height:auto;color:#4a4a4a;}
#itemList .info .yhq{height:0.5625rem;line-height:0.5625rem;margin:0.375rem 0;text-align:center;color:#fff;background:url('https://img.alicdn.com/imgextra/i3/2296013456/TB2rDPCdYFlpuFjy0FgXXbRBVXa_!!2296013456.png') no-repeat;background-size:contain;overflow:hidden;}
#itemList .info .yhq span:nth-child(1){float:left;width:1rem;}
#itemList .info .yhq span:nth-child(2){float:left;width:2.21875rem;}
#itemList .info .original_price{height:0.5625rem;line-height:0.5625rem;color: #4a4a4a;}
#itemList .info .current_price{line-height:1.6;color:#f4436d;}
#itemList .info .current_price span{margin-left:0.1875rem;}

[data-dpr="1"] .fs11{font-size:11px;}
[data-dpr="1"] .fs12{font-size:12px;}
[data-dpr="1"] .fs14{font-size:14px;}
[data-dpr="1"] .fs17{font-size:17px;}
[data-dpr="1"] .fs20{font-size:20px;}

[data-dpr="2"] .fs11{font-size:22px;}
[data-dpr="2"] .fs12{font-size:24px;}
[data-dpr="2"] .fs14{font-size:28px;}
[data-dpr="2"] .fs17{font-size:34px;}
[data-dpr="2"] .fs20{font-size:40px;}

[data-dpr="3"] .fs11{font-size:33px;}
[data-dpr="3"] .fs12{font-size:36px;}
[data-dpr="3"] .fs14{font-size:42px;}
[data-dpr="3"] .fs17{font-size:51px;}
[data-dpr="3"] .fs20{font-size:60px;}