
.loadingbar {
    width: 100%;
    height: 2rem;
    display: none;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    position: fixed;
    top: 50%;
    left: 0;
    margin-top: -1rem;
    z-index: 10000000;
}

.loading {
    width: 2rem;
    height: 2rem;
    opacity: 0.6;
    font-size: 12px;
    color: #fff;
    background: #000;
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
}

.nomove {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: transparent;
    z-index: 99;
}

.loading img {
    width: 30px;
    height: 30px;
    display: block;
}