@charset "utf-8";
/* CSS Document */
a:link{color:#666;}
a:active{color:#666;}
a:visited{color:#666;}
a:hover{color:#666;}
.tiger_bj{
    width:100%;
    overflow: hidden;
    width: 100%;
    position: fixed;
    opacity: 0.5;
    Top: 0px;
    background-color: #000000;
    height: 1000px;
    z-index: 5;
}
.tiger_nav{
  width:100%;
  height:98px;
  background:#fff;
  border-bottom:1px solid #F2F3F6;
  position: fixed;
  top:0;
  left:0;
  z-index:100001;

}
#tiger_search-submit {
    position: absolute;
    width: 40px;
    height: 30px;
    right:3%;
    top:13px;
    -webkit-box-sizing: border-box;
    border-radius: 3px;
    cursor: pointer;
	list-style-type:none;
	background:none;
	background-repeat:no-repeat;
	width:18px;
	height:18px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
#tiger_search-submit img {
    height: 18px;
    vertical-align: middle;
	border:0;
}
.tiger_nav1{
  width:100%;
  height:55px;
  background:#fff;
  border-bottom:1px solid #F2F3F6;

}
.seach_nav{
  width:100%;
  height:45px;
  line-height:45px;  
  padding-bottom:5px;
  z-index:20;
  background:#ffffff;
  position: fixed;
  top:0px; 
  left:0;
}
.seach_1{
    margin-top: 6px;
    margin-right: 3%;
    margin-left: 1%;
    height: 30px;
    width: 2%;
    background-image: url(../images/tige_left.png);
    background-repeat: no-repeat;
    background-size: 8px 15px;
    float: left;
    padding-right: 3%;
    padding-left: 3%;
    background-position: center;
	position: fixed;
	top:6px;
	left:0;
}
.seach_2{
 width: 75%;
 position: fixed;
 top:6px;
 left:11%;
}
.tige_sear{
    width: 100%;
    float: left;
    background-color: #EEEEEE;
    height: 30px;
    margin-top: 7px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    background-image: url(../images/tige_sea.png);
    background-repeat: no-repeat;
    background-size: 143px 14px;
    background-position: center center;
	padding-left:10px;
}
.seach_3{
    height: 19px;
    width: 21px;
    background-image: url(../images/tiger_home.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    float: left;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 12px;
	position: fixed;
	top:6px;
	left:88%;
}
.nav_tab{
width:100%;
height:40px;
line-height:40px;
padding-top:4px;
  background:#ffffff;
  position: fixed;
  top:50px; 
  left:0;
}
.tcon{text-align:center}
.boleft{border-left:1px #F2F3F6 solid;}
.nav_ty{float:left;height:25px;line-height:25px;margin-top:3px;}
.nav_1{width:29%;}
.nav_2{width:29%;}
.nav_3{width:29%;}
.nav_4{width:12%;}

.tiger_nav_list1,.tiger_nav_list2 {
  width:100%;
  height:auto;
  position: fixed;
  top:99px;;
  left:0;
  z-index:10;
  animation:yinyin 0.3s  ease-out 1;
}
.tiger_nav_list1 li{
  float:left;
  width:25%;
  height:40px;
  line-height:40px;
  text-align:center;
  border-bottom:1px #E8E8E8 solid;
  background:#FAFAFA;
}
.tiger_nav_list2 li{
  width:100%;
  height:40px;
  line-height:40px;
  text-align:center;
  border-bottom:1px #E8E8E8 solid;
  background:#FAFAFA;
  
} 
.tiger_nav_list3{
    width:92%;
    height:auto;
    position: fixed;
    top:99px;;
    left:0;
    z-index:100001;
    padding-right: 4%;
    padding-left: 4%;
    height: 120px;
    border-bottom:1px #E8E8E8 solid;
    background:#FAFAFA;
	animation:yinyin 0.3s  ease-out 1;
	z-index:10;
}
.tiger_nav_list3 .jl_0{
float: left;
    width: 28%;
    margin-top: 29px;
}
.tiger_nav_list3 .jl_1{
    float: right;
    width: 20%;
    border: 1px solid #9A9A9A;
    height: 29px;
    margin-top: 25px;
    padding-right: 5%;
    padding-left: 5%;
    background-image: url(../images/tiger_do.png);
    background-repeat: no-repeat;
    background-size: 8px 11px;
    background-position: 7px 10px;
    font-size: 14px;
}
.tiger_nav_list3 .jl_2{
    width: 5%;
    float: right;
    height: 1px;
    margin-right: 1%;
    margin-left: 1%;
    background-color: #DDDDDD;
    margin-top: 40px;
}
.tiger_nav_list3 .jl_3{
   width:100%;
   height:40px;
   line-height:40px;
}
.tiger_nav_list3 .jl_3 .jl_an{
  width:80%;
  margin:0 auto;
  background:#ff0000;
  color:#ffffff;
  border-radius:5px;
  margin-top:15px;
  text-align:center;
  height:26px;
  line-height:26px;;
  padding:5px;
  }
.arrow-icon{
    width: 8px;
    height: 8px;
    border-top: 1px solid #c1c1c1;
    border-left: 1px solid #c1c1c1;
    display: inline-block;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform-origin: 4px 4px;
    margin-left: 10px;
}

.arrow-icon1{
	border-top: 1px solid #ff0000;
	border-left: 1px solid #ff0000;
	width: 8px;
    height: 8px;
    display: inline-block;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform-origin: 4px 4px;
    margin-left: 10px;
}

.arrow-icon1{
	animation:douhua 0.3s linear 1;
	transform:rotate(-315deg);
}
@keyframes douhua{
	0%{
		transform:rotate(90deg);
	}
	50%{
		transform:rotate(-120deg);
	}
	100%{
		transform:rotate(-315deg);
	}
}

@keyframes yinyin{
	0%{
		opacity: 1;
		margin-top: -50px;
	}
	50%{
		/*opacity: 0.5;*/
		opacity: 1;
	}
	100%{
		opacity: 1;
	}
}
.red{color:#ff0000}

.clear{clear:both}