{template 'common/header'}
<link href="{MODULE_URL}/template/static/css/layui.css" rel="stylesheet">
<link href="{MODULE_URL}/template/static/css/hujia.css" rel="stylesheet">
<link href="{MODULE_URL}/template/static/css/font-awesome.css" rel="stylesheet">
<script>
	$(document).ready(function(){
		$(".wuyu").click(function(){
			$(".xuanxiang").toggle();
		});
	});
</script>
<style>
	.wuyu
{
	width: 130px;
	height: 35px;
	border-radius:5px;
	border: 1px solid #C2C2C2;
	position: absolute;
	right: 30px;
	top: 80px;
	display: -webkit-flex;
	flex-direction: row;
	cursor: pointer;
}
.wuyu_one
{
	flex: 4;
	text-align: center;
	line-height: 35px;
	font-family: "微软雅黑";
	font-size: 14px;
	color: #000000;
}	
.wuyu_two
{
	flex: 1;
	text-align: center;
	line-height: 35px;
	color: #666666;
}
.xuanxiang
{
	width: 130px;
	position: absolute;
	top: 37px;
	left: 0;
	z-index: 999;
	border: 1px solid #EEEEEE;
	display: none;
}
.xuanxiang ul
{
	margin: 0;
	padding: 0;
	list-style: none;
}
.xuanxiang ul li
{
	width: 100%;
	height: 40px;
	background: white;
	text-align: center;
	line-height: 40px;
	font-family: "微软雅黑";
	font-size: 14px;
	color: #666666;
	
}
.xuanxiang ul li:hover
{
	background: #F5F5F5;
}
.nibuguo
{
	width: 60px;
	margin-right: 10px;
}
.nide
{
	width: 450px;
}
.zongde
{
	display: -webkit-flex;
	flex-direction: row;
	margin-bottom: 20px;
}
.thumbnail
{
	margin-bottom: inherit;
}
.yuanli
{
	background-color:#5cb85c ;
	color: white !important;
}
.yuanli:hover
{
	background-color:#469946 ;
}
</style>
{if IMS_VERSION<1}
<link href="{MODULE_URL}/template/static/css/wq1.0.css" rel="stylesheet">
{/if}

{if $op=="display"}
	<div class="we7-page-title" style='display:block;'>域名管理 [ {$reply['activecode']} ]</div>
<div class="wuyu">
	<div class="wuyu_one">快捷管理菜单</div>
	<div class="wuyu_two">
		<span class="icon-caret-down"></span>
	</div>
	<div class="xuanxiang">
		<ul>
			<a href="{php echo $this->createWebUrl('votelist',array('rid'=>$reply['rid']))}" rel="tooltip" title="选手&订单"><li>选手&订单</li></a>
			<a href="{php echo $this->createWebUrl('robotmanage',array('reply_id'=>$reply['id'],'rid'=>$reply['rid'],'op'=>'display'))}"  rel="tooltip" title="机器人管理" {if $this->module['config']['ischeatshow'] == 1}hidden{/if}><li>机器人管理</li></a>
			<a href="{php echo $this->createWebUrl('commandvote',array('reply_id'=>$reply['id'],'rid'=>$reply['rid'],'op'=>'display'))}" rel="tooltip" title="口令管理"><li>口令管理</li></a>
			<a href="{php echo $this->createWebUrl('mirrorvote',array('reply_id'=>$reply['id'],'rid'=>$reply['rid'],'op'=>'display'))}" rel="tooltip" title="镜像管理"><li>镜像管理</li></a>
			<a href="{php echo $this->createWebUrl('agenthb',array('reply_id'=>$reply['id'],'rid'=>$reply['rid'],'op'=>'display'))}"  rel="tooltip" title="经纪人海报"><li>经纪人海报</li></a>
            <a href="{php echo $this->createWebUrl('voteaddps',array('reply_id'=>$reply['id'],'rid'=>$reply['rid'],'op'=>'display'))}"  rel="tooltip" title="造势" {if $this->module['config']['ischeatshow'] == 1}hidden{/if}><li>造势</li></a>
            <a href="{php echo $this->createWebUrl('voteaddgift',array('reply_id'=>$reply['id'],'rid'=>$reply['rid'],'op'=>'display'))}"  rel="tooltip" title="刷礼物" {if $this->module['config']['ischeatshow'] == 1}hidden{/if}><li>刷礼物</li></a>
            <a href="{php echo $this->createWebUrl('detailset',array('reply_id'=>$reply['id'],'rid'=>$reply['rid'],'op'=>'display'))}"  rel="tooltip" title="模板管理"><li>模板管理</li></a>
            <a href="{php echo $this->createWebUrl('htmlmode',array('reply_id'=>$reply['id'],'rid'=>$reply['rid'],'op'=>'display'))}"  rel="tooltip" title="主题模板设置"><li hidden>主题模板设置</li></a>
            <a href="{php echo $this->createWebUrl('domainlist',array('reply_id'=>$reply['id'],'rid'=>$reply['rid']))}"  rel="tooltip" title="域名防封"><li>域名防封</li></a>
            {if $reply['config']['isredpack']==1}
            <a href="{php echo $this->createWebUrl('lottery',array('rid'=>$reply['rid']))}" rel="tooltip" title="红包管理"> <li>红包管理</li></a>
            {/if}
            {if $reply['saiqustatus']==1}
            <a href="{php echo $this->createWebUrl('saiqumanage',array('reply_id'=>$reply['id'],'rid'=>$reply['rid'],'op'=>'display'))}"  rel="tooltip" title="赛区管理"><li>赛区管理</li></a>
            {/if}
            <a rel="tooltip" href="{php echo url('platform/reply/post',array('m'=>'silence_vote','rid'=>$reply['rid']));}" title="编辑活动"><li class="bianjiea">编辑活动</li></a>
		</ul>
	</div>
</div>
	<ul class="we7-page-tab">
	    <li class="active" ><a href="{php echo $this->createWebUrl('domainlist');}">活动备选域名</a></li>
	</ul>
	<div class="we7-padding-bottom clearfix">
		<form action="./index.php" method="get" role="form" >
			<div class="input-group pull-left col-sm-4">
				<input type="hidden" name="c" value="site" />
            <input type="hidden" name="a" value="entry" />
            <input type="hidden" name="m" value="silence_vote" />
            <input type="hidden" name="do" value="domainlist" />
            <input type="hidden" name="rid" value="{$rid}" />
            <input type="hidden" name="type" value="{$type}" />
				<input type="text" name="keyword" value="{$keyword}" class="form-control" placeholder="请输入域名名称"/>
				<span class="input-group-btn"><button class="btn btn-default"><i class="fa fa-search"></i></button></span>
			</div>
		</form>
		<div class="pull-right" >
			<a class="btn btn-primary" href="{php echo $this->createWebUrl('domainlist',array('op'=>'post','rid'=>$rid));}">+ 添加域名</a>
		</div>
	</div>
	<div class="alert alert-success" role="alert">
	<strong>随机域名作用：尽量减少主域名暴露给用户，结合泛域名，每位用户访问的域名都不一样，被举报时，官方收到的域名不一样，减少被封的可能，被封时，也是封其中一个随机域名，保障主域名的安全。但是不是保障主域名不被封，被封的随机域名也无法打开，但是通过修改后台的随机域名，活动正常运行。</strong>
	<br />
1，启动随机域名，必须设置主域名，主域名不能设置为泛域名；<br>
2，主域名主要用户支付使用；<br>
3，必须设置oAuth独立域名（订阅号借权，认证服务号都需要设置）；<br>
4，其他随机域名可以任意加；<br>
5，泛域名设置时，随机生成多级域名，每位用户每次访问随机一个域名，例如：设置泛域名为 wx.xxx.com，随机域名为：jsad23.wx.xxx.com； <br>
6，其中的域名被封时，可以禁用或删除。<br>
<strong>不理解作用用户，可以不设置，不影响活动正常运行。</strong><br>
<!--<a href="http://doc.wxj360.com/index.php?s=/1&page_id=4" target="_blank"	 class="btn_add_join text-danger"><i class="fa fa-eye" title="查看教程"></i> 查看教程</a>-->
	</div>
	<div class="form-group" >
          <label class="control-label col-sm-2">是否开启送礼页面域名防封独立支付页面</label>
          <div class="form-controls col-sm-8">
            <label class="jianlada"><input type="radio" value="0" name="isindexff" {if $reply['isindexff'] == 0 }checked{/if}>关闭</label>
            <label><input type="radio" value="1" name="isindexff" {if $reply['isindexff'] ==1}checked{/if}>开启</label>
             
            <div class="help-block">开启后 送礼页面会跳转防封域名</div>
          </div>
        </div>
        <script>
            $(function(){
                $('input[type="radio"]').click(function(){
                     console.log(0);
                    if($('input[name="isindexff"]').eq(0).prop('checked')){
                        var isindexff = 0;
                    }else{
                         var isindexff = 1;
                    }
                    $.post('{php echo $this->createWebUrl("otherset", array("ty"=>"indexff","rid"=> $_GPC["rid"]))}', {isindexff:isindexff},function (data) {
                            alert(data.msg);
                        },
                        "json");
                })
            })
        </script>
	<table class="layui-table" lay-skin="line" id="js-qr-list" ng-controller="QrDisplay" ng-cloak>
  <colgroup>
    
    <col width="150">
    <col width="150">
    <col width="150">
    <col width="150">
    <col width="150">
    <col width="150">
    <col width="150">
  </colgroup>
  <thead>
    <tr>
        <th>域名</th>
		<th>主域名</th>
		<th>泛域名</th>
		<th>状态</th>
		<th>加入时间</th>
		<th>备注</th>
		<th>操作</th>
    </tr> 
  </thead>
  <tbody id="level-list">
  	{loop $list $row}
    <tr>
            <td>{$row['domain']}</td>
			<td>{if $row['type']} <span class="label label-success">是</span> {else} <span class="label label-default">否</span> {/if}</td>
			<td>{if $row['extensive']} <span class="label label-success">是</span> {else} <span class="label label-default">否</span> {/if}</td>
			<td>{if $row['status']} <span class="label label-danger">无效</span> {else} <span class="label label-success">正常</span> {/if}</td>
			<td>{php echo date('Y-m-d <br /> H:i:s', $row[createtime]);}</td>
			<td>{$row['description']}</td>
			<td>
				<div class="layui-btn-group">
				        <a class="layui-btn layui-btn-sm yansw" href="{php echo $this->createWebUrl('domainlist',array('op'=>'post','id'=>$row['id'],'rid'=>$row['rid']));}"><i class="layui-icon jiasan">&#xe642;</i></a>
						<a class="layui-btn layui-btn-sm shanchu" href="{php echo $this->createWebUrl('domainlist',array('op'=>'delete','id'=>$row['id'],'rid'=>$row['rid']));}"  onclick="return confirm('您确定要删除该二维码以及其统计数据吗？')"><i class="layui-icon jiasan">&#xe640;</i></a>
				</div>
			</td>
                </tr>
    {/loop}
  </tbody>
</table>
	
	
	
	
	
	<div class="pull-right jinqu">
		{$pager}
	</div>
</div>
<script>
	angular.bootstrap($('#js-qr-list'), ['qrApp']);
</script>

{/if}

{if $op=="post"}

<style type="text/css">
	

	.domain-post .we7-form input[type=radio], .domain-post .we7-form input[type=checkbox] {
    display: inline-block;
    cursor: pointer;
}
</style>
<ol class="breadcrumb we7-breadcrumb">
	<a href="{php echo $this->createWebUrl('domainlist',array('rid'=>$rid));}"><i class="wi wi-back-circle"></i> </a>
	<li><a href="{php echo $this->createWebUrl('domainlist',array('rid'=>$rid));}">域名列表</a></li>
	<li><a href="javascript;:">编辑</a></li>
</ol>
<form action="" method="post"  class="domain-post" enctype="multipart/form-data">
    <input type="hidden" name="id" value="{$id}">
	<div class="we7-form"  >			
		<div class="form-group">
			<label for="" class="control-label col-sm-2">域名</label>
			<div class="form-controls col-sm-10">
				<input type="text" name="domain" value="{$list['domain']}" class="form-control"/>
                                <div class="help-block">可以不用带上http或https，注意http和https不要互相跳转；</div>
			</div>
		</div>
		<div class="form-group">
	          <label class="control-label col-sm-2">主域名</label>
	          <div class="form-controls col-sm-8">
	             <label><input type="radio" value="0" name="type" {if $list['type'] == 0 }checked{/if} >否</label>
				 <label><input type="radio" value="1" name="type" {if $list['type'] == 1 }checked{/if}>是 </label>
				 <div class="help-block">主域名仅作为获取信息使用，没有设置主域名时，默认访问地址为主域名</div>
			
	          </div>
	    </div>
		<div class="form-group">
	          <label class="control-label col-sm-2">泛域名</label>
	          <div class="form-controls col-sm-8">
	             <label><input type="radio" value="0" name="extensive" {if $list['extensive'] == 0 }checked{/if} >否</label>
				 <label><input type="radio" value="1" name="extensive" {if $list['extensive'] == 1 }checked{/if}>是 </label>
				 <div class="help-block">泛域名时，只填写根域名！</div>
			
	          </div>
	    </div>
		<div class="form-group">
          <label class="control-label col-sm-2">是否有效</label>
          <div class="form-controls col-sm-8">
             <label><input type="radio" value="0" name="status" {if $list['status'] == 0 }checked{/if}>有效    </label>
             <label><input type="radio" value="1" name="status" {if $list['status'] == 1 }checked{/if}>无效  </label>
          </div>
        </div>
		<div class="form-group">
			<label for="" class="control-label col-sm-2">备注</label>
			<div class="form-controls col-sm-10">
				<textarea class="form-control" name="description" rows="2" >{$list['description']}</textarea>
				<span class="help-block">仅作为备注显示</span>
			</div>
		</div>
        <input name="submit" value="发布" class="btn btn-primary btn-submit" type="submit">
		<input type="hidden" name="token" value="{$_W['token']}" />
	</div>
</form>
{/if}
{template 'common/footer'}