{template 'common/header'}
{if IMS_VERSION<1}
<link href="{MODULE_URL}/template/static/css/wq1.0.css" rel="stylesheet">
{/if}
<style>

.table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td{
white-space: normal;
word-wrap: break-word;
word-break: normal;
}
.we7-margin-right{margin-right: 20px;}
.we7-table>tbody>tr>td:last-child, .wechat-communication>tbody>tr>td:last-child{padding-right: 10px;}
.site-list .site-item-img img {
    width: 94px;
    height: auto;
}
.cplink{position:relative;}
.cplink img{display:none;}
.cplink:hover img{display:block;position: absolute; left: 0px; top: 21px;z-index:2}
.dandu
{
	padding: 0;
	padding: 10px 10px 10px 0px !important;
}
.text-left
{
	padding: 10px 15px 10px 0px !important;
}
.jiade
{
	height: inherit !important;
}
.tupian
{
	padding: 10px 15px 10px 10px !important;
}
.rukou
{
	padding: 10px 30px 10px 0px !important;
}
.we7-margin-bottom
{
	height: inherit !important;
	display: -webkit-flex;
	flex-direction: row;
	margin-bottom: 2px !important;
}
.we7-margin-bottom p
{
	margin-right: 15px;
}
.xiangxia
{
	margin-bottom: 15px;
}
.henxiang
{
	
}

/*起asaaaaaaaaaaaaaaaaaaa*/
.qifengl
{
	width: 100%;
	/*height: 350px;*/
	margin-bottom: 30px;
	/*border: 1px solid red;*/
}
.qitop
{
	width: 100%;
	height: 50px;
	background: #fff100;
	border: 1px solid #fff100;
}
.qitop_left
{
	width: 40%;
	height: 50px;
	padding-left: 30px;
	font-family: "微软雅黑";
	font-size: 16px;
	color: #5593c1;
	line-height: 50px;
	float: left;
}
.qitop_right
{
	width: 55%;
	height: 50px;
	float: right;
}
.kaishia
{
	
	height: 50px;
	text-align: center;
	line-height: 50px;
	float: right;
	margin-right: 30px;
	font-family: "微软雅黑";
	font-size: 14px;
	color: #222222;
}
.jiesua
{
	
	height: 50px;
	text-align: center;
	line-height: 50px;
	float: right;
	margin-right: 30px;
	font-family: "微软雅黑";
	font-size: 14px;
	color: #222222;
}
.qibottmo
{
	width: 100%;
	/*height: 300px;*/
	background: #f8f8f8;
	display: -webkit-flex;
	flex-direction: row;
	border-bottom:1px solid #EEEEEE ;
	border-left:1px solid #EEEEEE ;
	border-right:1px solid #EEEEEE ;
}
.xiao_left
{
	flex: 2;
	padding-left: 30px;
	padding-top: 25px;
}
.xiao_center
{
	flex: 5;
	border-right: 1px solid #EEEEEE ;
	padding-top: 25px;
}
.xiao_right
{
	flex: 3;
	padding-left: 25px;
	padding-top: 25px;
}
.zhuangtu
{
	width: 150px;
	height: 250px;
}
.zhuangtu img
{
	width: 100%;
	height: auto;
}
.huolian
{
	width: 100%;
	height: 30px;
	font-family: "微软雅黑";
	font-size:14px;
	color: #666666;
}
.shuju
{
	width: 100%;
	height: 40px;
	line-height: 40px;
	font-family: "微软雅黑";
	font-size:14px;
	color: #666666;
}
.shuju_one
{
	width: 100%;
	height: 35px;
	line-height: 35px;
	font-family: "微软雅黑";
	font-size:14px;
	color: #666666;
}
.inqutkuang
{
	width: 100%;
	height: 35px;
}
.inqutkuang input
{
	width: 400px;
	height: 35px;
	padding-left: 15px;
	border: 1px solid #EEEEEE;
	color: #808080;
}
.yijian
{
	width: 100%;
	height: 40px;
	font-family: "微软雅黑";
	font-size: 14px;
	color: #5593c1;
	line-height: 40px;
}
.heikuai
{
	width: 100%;
	height: 30px;
	margin-top: 5px;
	
}
.hei_left
{
	
	height: 30px;
	float: left;
	margin-right: 30px;
}
.heizi
{
	width: 70px;
	height: 30px;
	float: left;
	line-height: 30px;
	font-family: "微软雅黑";
	font-size: 14px;
	color: #666666;
}
.heizione
{
	width: 90px;
	height: 30px;
	float: left;
	line-height: 30px;
	font-family: "微软雅黑";
	font-size: 14px;
	color: #666666;
}
.heibei
{
	width: 50px;
	height: 23px;
	float: left;
	background: #323232;
	text-align: center;
	line-height: 23px;
	color: white;
	font-family: "微软雅黑";
	font-size: 12px;
	margin-top: 3px;
	border-radius:5px ;
}
.sjliebiao
{
	width: 400px;
}
.sjliebiao ul
{
	margin: 0;
	padding: 0;
	list-style: none;
}
.sjliebiao ul li
{
	width: 105px;
	height: 25px;
	float: left;
	margin-left: 5px;
	margin-bottom: 8px;
	font-family: "微软雅黑";
	font-size: 12px;
	color: white;
	text-align: center;
	line-height: 25px;
}
.se_one
{
	background: #f863a6;
}
.se_two
{
	background: #f49422;
}
.se_there
{
	background: #52a3d1;
}
.se_four
{
	background: #5279d1;
}
.se_fava
{
	background: #5cb85c;
}
.se_six
{
	background: #e95c5c;
}
.wen_top
{
	width: 100%;
	float: left;
}
.wen_buttmo
{
	width: 100%;
	float: left;
	padding-top: 20px;
	padding-bottom: 10px;
}
.gongneg
{
	width: 100%;
}
.gongneg ul
{
	margin: 0;
	padding: 0;
	list-style: none;
}
.gongneg ul li
{
	width: 40%;
	height: 35px;
	border: 1px solid #CCCCCC;
	background: white;
	text-align: center;
	line-height: 35px;
	font-family: "微软雅黑";
	font-size: 14px;
	color: #428bca;
	float: left;
	margin-right: 25px;
	margin-bottom: 8px;
	cursor: pointer;
}
.renhai
{
	width: 100%;
}
.renhai ul
{
	margin: 0;
	padding: 0;
	list-style: none;
}
.renhai ul li
{
	width: 40%;
	height: 35px;
	text-align: center;
	line-height: 35px;
	font-family: "微软雅黑";
	font-size: 14px;
	color: white;
	cursor: pointer;
	float: left;
	margin-right: 25px;
}
.bianjiea
{
	background: #428bca;
}
.shanchuta
{
	background: #d9534f;
}
.fudong
{
	float: left;
	margin-right: 10px;
	margin-top: 3px;
}
.beidong
{
	float: left;
	margin-top: 4px;
}

	.jiadedong
	{
		margin-left: 20px;
		float: left;
		margin-top: 7px;
	}
	.butong
	{
		width: 45px;
		height: 23px;
		border-radius:5px;
		text-align: center;
		line-height: 23px;
		font-family: "微软雅黑";
		font-size: 12px;
		background: #777;
		float: right;
		color: white;
		cursor: pointer;
		
	}
	.dangni
	{
		float: left;
	}
	.butong-one
	{
		width: 45px;
		height: 23px;
		border-radius:5px;
		text-align: center;
		line-height: 23px;
		font-family: "微软雅黑";
		font-size: 12px;
		background: #5cb85c;
		float: right;
		color: white;
		cursor: pointer;
	}
	.input-group-btn{
		/*padding-top: 34px;*/
	}
	.input-search {
		display: flex;
	}
	.input-search input {
		flex: 5;
		display: flex;
		justify-content: flex-start;
	}
	.input-search span {
		flex: 1;
		display: flex;
		justify-content: flex-start;
	}
	.input-group {
		display: flex;
	}
	.input-group select {
		flex: 0.1;
	} 
	.input-group .input-search {
		flex: 2;
	}
</style>
<script src="{MODULE_URL}/template/static/js/mzp-packed-me.js"></script>

    <div class="we7-page-title">活动管理</div>
    <ul class="we7-page-tab">
         <li{if $_GPC['do'] == 'manage' || $_GPC['do'] == '' } class="active"{/if}><a href="{php echo $this->createWebUrl('manage');}">活动管理</a></li>
    </ul>
    <div class="we7-padding-bottom clearfix">
        <form action="./index.php" method="get" role="form" >
            <div class="input-group pull-left col-sm-4">
	            <input type="hidden" name="c" value="site" />
	            <input type="hidden" name="a" value="entry" />
	            <input type="hidden" name="m" value="silence_vote" />
	            <input type="hidden" name="do" value="manage" />
	           	<select name="choice">
	           			<option value="">
							全部
	            		</option>

	            		<option {php if ($_GPC['choice'] == 1) echo "selected"; } value="1">
							搜索活动代号
	            		</option>
							
						<option {php if ($_GPC['choice'] == 2) echo "selected"; } value="2">
							搜索活动标题
						</option>
					
				</select>
				<div class="input-search">
					<input type="text" name="keyword" value="{$keyword}" class="form-control" placeholder="请输入搜索内容"/>
                	<span class="input-group-btn"><button class="btn btn-default"><i class="fa fa-search"></i></button></span>
				</div>
               
            </div>
        </form>
        <div class="pull-right">
            <a href="{php echo url('platform/reply/post',array('m'=>'silence_vote'));}" class="btn btn-primary  we7-margin-left">+添加活动</a>
        </div>
    </div>
<!-- {loop $list $row}
    <table class="table we7-table table-hover site-list">

        <tr>
            <th colspan="2" class="tupian">活动名称({php echo date('Y-m-d H:i:s',$row['createtime'])})</th>
            <th class="text-left" width="120px">入口</th>
            <th class="text-left" width="180px">数据</th>
            <th class="text-left" width="200px">操作</th>
        </tr>
       
        <tr>
            <td class="tupian vertical-middle">
                <div class="site-item-img">
                    <img src="{media $row['thumb']}" width="100px" style="max-width: 80px;" />
                </div>
            </td>
            <td class="text-left"> 
                <div class="we7-margin-bottom">
                    <p class="color-gray">名称</p> 
                    <span class="color-dark">{$row['title']}</span>
                </div>
                <div class="">
                    <p class="color-gray">时间</p>
                    <a href="javascript:;" class="color-dark" >开始：{php echo date('Y-m-d H:i:s',$row['starttime'])}

                    <br>
                        结束：{php echo date('Y-m-d H:i:s',$row['endtime'])}</a>
                </div>
            </td>
            <td class="rukou">
                <div class="we7-margin-bottom" style="position: relative;">
                    <p class="color-gray">活动链接地址</p>
                    <a href="javascript:;" class="js-clip color-default cplink" data-url="{php echo $_W['siteroot'].'app/' }{php echo $this->createMobileUrl('index',array('rid'=>$row['rid']))}"  >复制活动链接  <img src="{$row['qrcode']}"  width="120" /></a>

                </div>
                <div class="">
                   <p class="color-gray">活动状态</p>
                    <label>
                       {if $row['status']==0}
                       <div class="switch ng-scope" onclick="drop_confirm('您确定要开始活动吗!', '{php echo $this->createWebUrl('otherset',array('ty'=>'setstatus','rid'=>$row['rid'],'status'=>1))}');"></div>
                        {else}
                        <div class="switch ng-scope switchOn" onclick="drop_confirm('您确定要暂停活动吗？', '{php echo $this->createWebUrl('otherset',array('ty'=>'setstatus','rid'=>$row['rid'],'status'=>0))}');"></div>
                        {/if}
                        
                    </label>
                    {if $row['status']==1}
                          <span class="label label-success">开始</span>
                        {elseif $row['status']==3}
                          <span class="label label-warning">未开始</span>
                        {elseif $row['status']==4}
                          <span class="label label-default">已结束</span>
                        {else}
                          <span class="label label-danger">已关闭</span>
                        {/if}
                </div>
            </td>
            <td class="text-left">
                <div class="we7-margin-vertical jiade">
                   
<p class="color-gray">参与人数：<span class="label label-primary">{$row['jointotal']}</span></p>
<p class="color-gray">投票数量：<span class="label label-info">{$row['votetotal']}</span></p> 
<p class="color-gray">礼物数量：<span class="label label-success">{$row['giftcount']}元</span></p> 
<p class="color-gray">浏  览  量：<span class="label label-danger">{$row['pvtotal']}</span></p>
<p class="color-gray">分  享  量：<span class="label label-warning">{$row['sharetotal']}</span></p>



                </div>
                
            </td>

            <td class="dandu">
                
                <div class="">
                    <p class="color-gray">基础操作</p>
                    <a class="color-default we7-margin-right" rel="tooltip" href="{php echo url('platform/reply/post',array('m'=>'silence_vote','rid'=>$row['rid']));}" title="编辑"><i class="fa fa-edit"></i> 编辑</a>
                    <a class="color-default we7-margin-right" rel="tooltip" href="#" onclick="drop_confirm('您确定要删除吗?删除不可恢复。', '{php echo url('platform/reply/delete',array('m'=>'silence_vote','rid'=>$row['rid']));}');" title="删除"><i class="fa fa-times"></i> 删除</a> 
                    <br/>
                    <a class="color-default we7-margin-right" rel="tooltip" href="{php echo url('platform/reply/post',array('m'=>'silence_vote','copyid'=>$row['rid']));}" title="复制活动"><i class="fa fa-copy"></i> 复制活动</a>
                </div>
                
            </td>
        </tr>
        <tr>
        	<td colspan="5" class="henxiang">
        		<a href="{php echo $this->createWebUrl('votelist',array('rid'=>$row['rid']))}" class="color-default we7-margin-right" rel="tooltip" title="投票管理"><i class="fa fa-cog"></i> 选手管理</a>

                     <a href="{php echo $this->createWebUrl('giftlist',array('rid'=>$row['rid']))}" class="color-default we7-margin-right" rel="tooltip" title="礼物订单"><i class="fa fa-archive"></i> 礼物订单</a>
                     <a href="{php echo $this->createWebUrl('robotmanage',array('reply_id'=>$row['id'],'rid'=>$row['rid'],'op'=>'display'))}" class="color-default we7-margin-right" rel="tooltip" title="机器人管理"><i class="fa fa-car"></i> 机器人管理</a>
                     <a href="{php echo $this->createWebUrl('commandvote',array('reply_id'=>$row['id'],'rid'=>$row['rid'],'op'=>'display'))}" class="color-default we7-margin-right" rel="tooltip" title="口令投票"><i class="fa  fa-empire"></i> 口令投票</a>
                     <a href="{php echo $this->createWebUrl('mirrorvote',array('reply_id'=>$row['id'],'rid'=>$row['rid'],'op'=>'display'))}" class="color-default we7-margin-right" rel="tooltip" title="镜像管理"><i class="fa  fa-empire"></i> 镜像管理</a>
                     <a href="{php echo $this->createWebUrl('agenthb',array('reply_id'=>$row['id'],'rid'=>$row['rid'],'op'=>'display'))}" class="color-default we7-margin-right" rel="tooltip" title="经纪人海报管理"><i class="fa  fa-empire"></i> 经纪人海报管理</a>
                   
                    {if $row['config']['isredpack']==1}
                    <a href="{php echo $this->createWebUrl('lottery',array('rid'=>$row['rid']))}" class="color-default we7-margin-right" rel="tooltip" title="红包管理"><i class="fa fa-bitcoin"></i> 红包管理</a>
                    {/if}
                    {if $_W['account']['level']==4 || $_W['account']['level']==3}
                    <a href="{php echo $this->createWebUrl('domainlist',array('rid'=>$row['rid']))}" class="color-default we7-margin-right" rel="tooltip" title="域名管理" hidden><i class="fa fa-chain" ></i> 域名管理</a>
                    {/if}
        	</td>
        </tr>
    </table>
{/loop}
    <div class="pull-right">
        {$pager}
    </div>-->
     {loop $list $row}
    <div class="qifengl">
	   <div class="qitop">
	   	 <div class="qitop_left">{php echo $row['activecode']."-";echo mb_substr($row['title'],0,15,'utf-8')."...";}</div>
	   	 <div class="qitop_right">
	   	 	
	   	 	<div class="jiesua">结束时间 : {php echo date('Y-m-d H:i:s',$row['endtime'])}</div>
	   	 	<div class="kaishia">开始时间 : {php echo date('Y-m-d H:i:s',$row['starttime'])}</div>
	   	 </div>
	   </div>
	   <div class="qibottmo">
	   	 <div class="xiao_left">
	   	 	<div class="zhuangtu">
	   	 		<img src="{media $row['topimg']}" />
	   	 	</div>
	   	 </div>
	   	 <div class="xiao_center">
	   	 	<div class="huolian">
	   	 		活动链接:
	   	 	</div>
	   	 	<div class="inqutkuang">
	   	 		<input type="text" value="{php echo $_W['siteroot'].'app/' }{php echo $this->createMobileUrl('index',array('rid'=>$row['rid'],'op'=>'originurl'))}" />
	   	 	</div>
	   	 	
	   	 	<div class="yijian">
	   	 		<a href="javascript:;" class="js-clip color-default cplink" data-url="{php echo $_W['siteroot'].'app/' }{php echo $this->createMobileUrl('index',array('rid'=>$row['rid'],'op'=>'originurl'))}"  >
	   	 		一键复制活动链接 <img src="{$row['qrcode']}"  width="120" />
	   	 		</a>
	   	 	</div>
                    <div class="we7-margin-bottom" style="position: relative;">
                        <p class="color-gray">查看选手地址</p>
                        <a href="javascript:;" class="js-clip color-default cplink" data-url="{php echo $_W['siteroot'].'app/' }{php echo $this->createMobileUrl('votelist',array('rid'=>$row['rid']))}"  >查看选手链接 </a>  

                    </div>
	   	 	<div class="heikuai">
	   	 		<div class="hei_left">
	   	 			<div class="heizi">活动状态:</div>
	   	 			<label class="fudong">
                       {if $row['status']==0}
                       <div class="switch ng-scope" onclick="drop_confirm('您确定要开始活动吗!', '{php echo $this->createWebUrl('otherset',array('ty'=>'setstatus','rid'=>$row['rid'],'status'=>1))}');"></div>
                        {else}
                        <div class="switch ng-scope switchOn" onclick="drop_confirm('您确定要暂停活动吗？', '{php echo $this->createWebUrl('otherset',array('ty'=>'setstatus','rid'=>$row['rid'],'status'=>0))}');"></div>
                        {/if}
                        
                    </label>
	   	 			<div class="beidong">
	   	 				{if $row['status']==1}
                          <span class="label label-success">开始</span>
                        {elseif $row['status']==3}
                          <span class="label label-warning">未开始</span>
                        {elseif $row['status']==4}
                          <span class="label label-default">已结束</span>
                        {else}
                          <span class="label label-danger">已关闭</span>
                        {/if}
	   	 			</div>
	   	 		</div>
	   	 		<div class="hei_left" {if $this->module['config']['ischeatshow'] == 1}hidden{/if}>
	   	 			<div class="heizione">机器人数量:</div>
	   	 			<div class="heibei">{$row['robotcount']}个</div>
	   	 		</div>
	   	 	</div>
	   	 	<div class="shuju_one" {if $this->module['config']['ischeatshow'] == 1}hidden{/if}>
                    	<div class="dangni">当前机器人状态(点击以开关机器人):</div><div class="jiadedong" onclick='checkrobot("{$row['rid']}","{$row['robotstatus']}")'> {if $row['robotstatus'] == 1}<div class="butong-one">开启</div>{else}<div class="butong">关闭</div>{/if}</div>
                    </div>
                     <div class="shuju_one">
                    	<div class="dangni">赛区状态(点击以开赛区):</div><div class="jiadedong" onclick='checksaiqu("{$row['rid']}","{$row['saiqustatus']}")'> {if $row['saiqustatus'] == 1}<div class="butong-one">开启</div>{else}<div class="butong">关闭</div>{/if}</div>
                    </div>
	   	 	<div class="shuju_one">
	   	 		活动数据:
	   	 	</div>
	   	 	<div class="sjliebiao">
	   	 		<ul>
	   	 			<li class="se_one">选手: {$row['jointotal']}</li>
	   	 			<li class="se_two">投票: {$row['votetotal']}</li>
	   	 			<li class="se_there">浏览: {$row['pvtotal']}</li>
	   	 			<li class="se_four">分享: {$row['sharetotal']}</li>
	   	 			<li class="se_fava">收益: {$row['giftcount']}</li>
	   	 			<li class="se_six">经纪人: {$row['agentcount']}</li>
	   	 		</ul>
	   	 	</div>
	   	 </div>
	   	 <div class="xiao_right">
	   	 	<div class="wen_top">
	   	 	   <div class="gongneg">
	   	 		<ul>
	   	 			<a href="{php echo $this->createWebUrl('votelist',array('rid'=>$row['rid']))}"  rel="tooltip" title="投票管理"><li>选手&订单</li></a>
<!--	   	 			<a href="{php echo $this->createWebUrl('giftlist',array('rid'=>$row['rid']))}"  rel="tooltip" title="礼物订单"><li>订单管理</li></a>-->
                                        <a href="{php echo url('platform/reply/post',array('m'=>'silence_vote','copyid'=>$row['rid']));}"  rel="tooltip" title="复制活动"><li>复制活动</li></a>
                                      
	   	 			<a href="{php echo $this->createWebUrl('robotmanage',array('reply_id'=>$row['id'],'rid'=>$row['rid'],'op'=>'display'))}"  rel="tooltip" title="机器人管理" {if $this->module['config']['ischeatshow'] == 1}hidden{/if}><li>机器人管理</li></a>
	   	 			<a href="{php echo $this->createWebUrl('commandvote',array('reply_id'=>$row['id'],'rid'=>$row['rid'],'op'=>'display'))}"  rel="tooltip" title="口令投票"><li>口令管理</li></a>
	   	 			<a href="{php echo $this->createWebUrl('mirrorvote',array('reply_id'=>$row['id'],'rid'=>$row['rid'],'op'=>'display'))}"  rel="tooltip" title="镜像管理"><li>镜像管理</li></a>
	   	 			<a href="{php echo $this->createWebUrl('agenthb',array('reply_id'=>$row['id'],'rid'=>$row['rid'],'op'=>'display'))}"  rel="tooltip" title="经纪人海报管理"><li>经纪人海报</li></a>
                                        <a href="{php echo $this->createWebUrl('voteaddps',array('reply_id'=>$row['id'],'rid'=>$row['rid'],'op'=>'display'))}"  rel="tooltip" title="造势" {if $this->module['config']['ischeatshow'] == 1}hidden{/if}><li>造势</li></a>
                                        <a href="{php echo $this->createWebUrl('voteaddgift',array('reply_id'=>$row['id'],'rid'=>$row['rid'],'op'=>'display'))}"  rel="tooltip" title="刷礼物" {if $this->module['config']['ischeatshow'] == 1}hidden{/if}><li>刷礼物</li></a>
                                         <a href="{php echo $this->createWebUrl('detailset',array('reply_id'=>$row['id'],'rid'=>$row['rid'],'op'=>'display'))}"  rel="tooltip" title="模板管理"><li>模板管理</li></a>
                                          <a href="{php echo $this->createWebUrl('htmlmode',array('reply_id'=>$row['id'],'rid'=>$row['rid'],'op'=>'display'))}"  rel="tooltip" title="主题模板设置"><li hidden>主题模板设置</li></a>
                                        {if $_W['account']['level']==4 || $_W['account']['level']==3}
                                        <a href="{php echo $this->createWebUrl('domainlist',array('reply_id'=>$row['id'],'rid'=>$row['rid']))}"  rel="tooltip" title="域名防封"><li>域名防封</li></a>
<!--                    <a href="{php echo $this->createWebUrl('domainlist',array('rid'=>$row['rid']))}"  rel="tooltip" title="域名管理" ><i class="fa fa-chain" ></i> 域名管理</a>-->
                                        {/if}
                                        {if $row['config']['isredpack']==1}
                                        <a href="{php echo $this->createWebUrl('lottery',array('rid'=>$row['rid']))}" rel="tooltip" title="红包管理"> <li>红包管理</li></a>
                                        {/if}
                                        {if $row['saiqustatus']==1}
                                        <a href="{php echo $this->createWebUrl('saiqumanage',array('reply_id'=>$row['id'],'rid'=>$row['rid'],'op'=>'display'))}"  rel="tooltip" title="赛区管理"><li>赛区管理</li></a>
                                        {/if}

                                        <!-- 2019.1.2 -->
                                        {if $row['index_status'] == 1}
                                        <a href="{php echo $this->createWebUrl('indexagree',array('hid'=>$row['rid']))}" rel="tooltip" title="首页评论"><li>首页评论</li></a>
                                        {/if}
                                        {if $row['user_status'] == 1}
                                        <a href="{php echo $this->createWebUrl('voteagree',array('hid'=>$row['rid']))}" rel="tooltip" title="用户评论"><li>选手评论</li></a>
                                        {/if}
                                        <!-- 2019.1.2 -->
	   	 		</ul>
	   	 	</div>
	   	 	</div>
	   	 	<div class="wen_buttmo">
	   	 		<div class="renhai">
	   	 		<ul>
	   	 			<a rel="tooltip" href="{php echo url('platform/reply/post',array('m'=>'silence_vote','rid'=>$row['rid']));}" title="编辑"><li class="bianjiea">编辑</li></a>
	   	 			<a rel="tooltip" href="#" onclick="drop_confirm('您确定要删除吗?删除不可恢复。', '{php echo url('platform/reply/delete',array('m'=>'silence_vote','rid'=>$row['rid']));}');" title="删除"><li class="shanchuta">删除</li></a>
	   	 		</ul>
	   	 	</div>
	   	 	</div>
	   	 </div>
	   </div>
    </div>
     
     {/loop}
        <div class="pull-right">
        {$pager}
    </div>
</div>
<script>
$(function(){
        checksaiqu = function(rid,status){
            console.log(11);
            $.post(
                "{php echo $this->createWebUrl('saiqumanage', array('op' => 'checkrobot'))}",
                {rid: rid,status:status},
                function (data) {
                    location.reload();
                }, 'json');            
        }
        checkrobot = function(rid,status){
            $.post(
                "{php echo $this->createWebUrl('robotmanage', array('op' => 'checkrobot'))}",
                {rid: rid,status:status},
                function (data) {
                    top.location.reload();
                }, 'json');            
        }
    $(".check_all").click(function(){
    var checked = $(this).get(0).checked;
            $("input[type=checkbox]").attr("checked", checked);
    });
            $("input[name=deleteall]").click(function(){

    var check = $("input:checked");
            if (check.length < 1){
    err('请选择要删除的记录!');
            return false;
    }
    if (confirm("确认要删除选择的记录?")){
    var id = new Array();
            check.each(function(i){
            id[i] = $(this).val();
            });
            $.post('{php echo create_url('site/module', array('do' => 'deleteAll', 'name' => 'silence_vote'))}', {idArr:id}, function(data){
            if (data.errno == 0)
            {
            location.reload();
            } else {
            alert(data.error);
            }


            }, 'json');
    }

    });
        



});
</script>
<script type="text/javascript">
    function drop_confirm(msg, url){
        if (confirm(msg)){
        window.location = url;
        }
    }
    $('.js-clip').each(function(){
        util.clip(this, $(this).attr('data-url'));
    });

</script>

{template 'common/footer'}