  body.search-box{ background-color:#f8f8f8; }
  body.search-box header{ background-color:#fff; border-bottom:solid 1px #ddd; }
  body.search-box header .logo { display:none; }
  body.search-box header .close { display:block; }
  body.search-box header .keyword{ margin: .09rem 0 0 .5rem; width: 4.9rem; border:solid 1px #ccc; background:none; border-right-width:0; border-top-right-radius:0; border-bottom-right-radius:0; }
  body.search-box header input[type=submit] { display: inline; position: absolute; width: .6rem; padding: .1rem 0; margin-top: .086rem; border: solid 1px #ccc; background: #f5f5f5 url(../images/ico.png) no-repeat -1.1rem .1rem; background-size: 3rem; }
  body.search-box #search-box{ display:block; }
  body.search-box #filter, body.search-box #content, body.search-box nav{ display:none; }

  header{ padding:0 .2rem; background-color:#ea3b4c; height:.7rem; }

  header .logo { position: absolute; width: 1.2rem; height: .44rem; margin-top: .1rem; background: url(../images/ico.png) no-repeat left top; background-size: 3.6rem; }
  header .logo a{ display:block; height:100%; }
  header .close { display:none; position: absolute; width: .4rem; height: .44rem; margin-top: .1rem; background: url(../images/ico.png) no-repeat -1.5rem .13rem; background-size: 2.6rem; }
  header .keyword { margin: .12rem .1rem 0 1.3rem; width: 4.7rem; background: #fff url(../images/ico.png) no-repeat 3.1rem .1rem; background-size: 60%; padding: .1rem .2rem; border-width: 0; border-radius: .08rem; }
  header em { display: none; position: absolute; width: .48rem; height: .5rem; margin-top: .09rem; margin-left: -.5rem; background: url(../images/ico.png) no-repeat -1.68rem .17rem; background-size: 2.4rem; }

  header input[type=submit]{ display:none; }

  #search-box { display:none; background-color:#fff; padding-bottom:.1rem; }
  #search-box p{ padding:.2rem; }
  #search-box p a{ float:right; font-size:.22rem; }
  #search-box ul{ padding-left:.2rem; }
  #search-box ul li{ float:left; width:33%; padding:0 .2rem .1rem 0; }
  #search-box ul li a { display: block; padding: .06rem .1rem; font-size:.22rem; color:#888; border: 1px solid #e0e0e0; border-radius:.2rem; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; text-align:center; }

  #filter{ position: absolute; width: 100%; z-index: 99; top: .7rem; left: 0; -webkit-transition: .1s ease-in; -moz-transition: .1s ease-in; -o-transition: .1s ease-in; transition: .1s ease-in;  }
  #filter.scroll{ top: 0;  }
  #filter .filter-box{ display: table; width:100%; background-color:#fff; }
  #filter .filter-box li { position:relative; display: table-cell; width: 20%; text-align: center; border: 1px solid #e3e3e3; border-width: 1px 0; }
  #filter .filter-box li:before { border-right: 1px solid #e7e5e2; height: .3rem; content: ''; position: absolute; top: .16rem; left: 0; }
  #filter .filter-box li:first-child:before { border-right-width:0; }
  #filter .filter-box li label { display: block; height: .66rem; line-height: .66rem; text-align: center; }
  #filter .filter-box li:first-child label{ padding-right: .2rem; }
  #filter .filter-box li:first-child label:after { border: .07rem solid transparent; border-top-color: #999; content: ''; position: absolute; top: .28rem; right: .14rem; }
  #filter .filter-box li.cur{ color:#ea3b4c; }

  #content { position: absolute; z-index: 1; top: 1.4rem; bottom: .74rem; width: 100%; background-color: #f3f3f3; overflow: hidden; }
  #content.scroll{ top: .7rem; }
  .iscroll-warp { position: absolute; z-index: 1; -webkit-tap-highlight-color: rgba(0,0,0,0); width: 100%; -webkit-transform: translateZ(0); -moz-transform: translateZ(0); -ms-transform: translateZ(0); -o-transform: translateZ(0); transform: translateZ(0); -webkit-touch-callout: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -webkit-text-size-adjust: none; -moz-text-size-adjust: none; -ms-text-size-adjust: none; -o-text-size-adjust: none; text-size-adjust: none; }

  .container-box .container { position: fixed; top: 0; bottom: 0; left: 0; right: 0; background: #f9f8f8; box-sizing: border-box; -webkit-transform: translate3d(-100%,0,0); opacity: 0; pointer-events: none; -webkit-transition: all .3s; z-index: 999; }
  .container-box .container.show { -webkit-transform: translate3d(0,0,0); opacity: 1; pointer-events: all; }
  .container-box .container header{ line-height:.7rem; text-align:center; background-color:#fff; }
  .container-box .container #filter-classify { position: absolute; width: 100%; top:.7rem; bottom:0; overflow: hidden; }
  .container-box .container.clearfix ul li{ border-bottom-width:0; }
  .container-box .container ul li{ position:relative; height:.8rem; line-height:.8rem; border-bottom:solid 1px #e3e3e3; }
  .container-box .container ul li a { padding: 0 .48rem; display: block; position: relative; -o-text-overflow: ellipsis; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; -webkit-user-select: none; }
  .container-box .container ul li.cur { background-color:#eee; }
  .container-box .container ul li.cur:before { content: ""; position: absolute; right: .2rem; top: .2rem; width: .4rem; height: .4rem; background: url(../images/ico.png) no-repeat 0 -1.46rem; background-size: 3rem; }

  .content-box{ background-color: #f3f3f3; }
  .content-box li { background-color:#fff; margin-top: .16rem; }
  .content-box .page-container:first-child li:first-child { margin-top: 0; }
  .content-box li.content-row .goods-row{ display:-webkit-box; padding:.28rem; }
  .content-box li.content-row .goods-row a.thumb{ display:inline-block; }
  .content-box li.content-row .goods-row a.thumb img { width:2rem; height:2rem; }
  .content-box li.content-row .goods-row .info { -webkit-box-flex: 1; margin-left:.2rem; }
  .content-box li.content-row .goods-row .info h3 { font-size: .26rem; height: .74rem; line-height: 1.4; overflow: hidden; }
  .content-box li.content-row .goods-row .info p{ position:relative; font-size:.22rem; margin-top:.091rem; color:#999; }
  .content-box li.content-row .goods-row .info p em{ margin:0 .1rem; }
  .content-box li.content-row .goods-row .info p em:first-child{ margin-left:0; }
  .content-box li.content-row .goods-row .info p em:last-child{ margin-right:0; }
  .content-box li.content-row .goods-row .info p .price{ color:#e74c3c; font-size:.24rem; font-weight:700; }
  .content-box li.content-row .goods-row .info p del{ margin-left:.2rem; }
  .content-box li.content-row .goods-row .info p .tag{ position:absolute; right:0; bottom:0; }
  .content-box li.content-row .goods-row .info p a{ width: 31%; margin-left:3.5%; border-radius:.05rem; display:inline-block; padding:.1rem 0; color:#fff; background-color: #ea3b4c; text-align:center; }
  .content-box li.content-row .goods-row .info p a.disabled{ background-color:#ddd; }
  .content-box li.content-row .goods-row .info p a:first-child{ margin-left:0; }
  .content-box li.content-row .coupon{ display:none; position:relative; margin:0 .28rem; padding:.36rem 0 .28rem; border-top:solid 1px #f3f3f3; -webkit-user-select:text; }
  .content-box li.content-row .coupon em{ position:absolute; top:.2rem; left: 50%; padding:.05rem .1rem; background-color:#ea3b4c; font-size:.2rem; color:#fff; -webkit-transform: translate(-50%); transform: translate(-50%); }
  .content-box li.content-row .coupon .textarea, .content-box li.content-row .coupon p{ width:100%; font-size:.2rem; padding:.28rem; border:dashed 1px #ea3b4c; background-color:#fff; -webkit-user-select:text; }
    	
	.endLoad, .topLoad {height:.77rem;line-height:.77rem;font-size:.18rem;color:#666;text-align:center;-webkit-transform: translateZ(0);transform: translateZ(0);}
  .topLoad{ display:none; }
  .endLoad .loading, .topLoad .loading{ display: inline-block; height: 15px; width: 15px; border-radius: 100%; margin:6px; border: 2px solid #999; border-bottom-color: transparent; vertical-align: middle; -webkit-animation: rotate360-Anim 0.75s linear infinite; animation: rotate360-Anim 0.75s linear infinite; }

  .pager { position: absolute; bottom: .86rem; right: .72rem; width: .54rem; height: .54rem; line-height: .54rem; z-index: 899; border-radius: 100%; background-color: rgba(0,0,0,0.7); font-size: .2rem; }
  .pager .pager-main { position:relative; display:block; width:100%; height:100%; }
  .pager .pager-main .pager-btn{ position:absolute; width:100%; height:100%; z-index:1; }
  .pager .pager-main input[name=pageNo]{ display:block; width:100%; height:100%; border-width:0; background-color:transparent; color:#fff; text-align: center; }
  .pager .pager-main input[type=submit]{ display:none; }
  .pager a{ display:none; }
  .pager.expended{ display:table; bottom:0; width:100%; height:.74rem; line-height:.74rem; left:0; right:0; border-radius:0; background-color:#fff; text-align: center; }
  .pager.expended a, .pager.expended .pager-main{ display:table-cell; width:30%; height:100%; }
  .pager.expended a.disabled{ color:#999; }
  .pager.expended .pager-main{ width:40%; border-left: 1px solid #ddd; border-right: 1px solid #ddd; }
  .pager.expended .pager-main:before { content:''; position: absolute; top: -.008rem; left:0; width: 100%; height: .1rem; background-color: #fff; z-index: 2; }
  .pager.expended .pager-main .pager-btn { width: 1rem; height: .3rem; position: absolute; display: block; top: -.3rem; background-color: #fff; left: 50%; margin-left: -.5rem; border: 1px solid #ddd; border-bottom-color: #fff; box-shadow: 0 0 10px 0 rgba(155,143,143,.5); }
  .pager.expended .pager-main .pager-btn:before, .pager.expended .pager-main .pager-btn:after { content: ''; position: absolute; top: .13rem; margin-left: -.07rem; border: .08rem solid transparent; border-top-color: #999; }
  .pager.expended .pager-main .pager-btn:after { margin-top: -.03rem; border-top-color: #fff; }
  .pager .pager-main form[name=pageForm] { position:absolute;height: 100%; }
  .pager.expended .pager-main input[name=pageNo]{ display:inline-block; width:40%; height:60%; border:solid 1px #ddd; border-right-width:0; color:#333; }
  .pager.expended .pager-main input[type=submit]{ display:inline-block; width:40%; height:60%; border-width:0; background-color:#ea3b4c; color:#fff; }

  .auto-msg { position: fixed; bottom: .86rem; left: .12rem; width: .54rem; height: .54rem; -webkit-transition: .2s ease-in; -moz-transition: .2s ease-in; -o-transition: .2s ease-in; transition: .2s ease-in; z-index: 899; background: #7c7c7c url(../images/ico.png?1) no-repeat -1.18rem -2.7rem; border-radius: 100%; background-size: 2.6rem; }
  .auto-msg.on{ background-color:#ee0a3b; }