<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=640" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="">
<meta name="format-detection" content="telephone=no">
<title>用户绑定</title>
<link rel="stylesheet" href="{$_W['siteroot']}addons/tiger_newhu/template/mobile/tbgoods/style99/css/slicy.css">
<link rel="stylesheet" href="{$_W['siteroot']}addons/tiger_newhu/template/mobile/tbgoods/style99/css/glide.css">
<link rel="stylesheet" href="{$_W['siteroot']}addons/tiger_newhu/template/mobile/tbgoods/style99/css/style.css">

</head>

<body>
<div class="layout hbg">
<div class="log_vw">
	<div class="img">
		<img src="{$_W['siteroot']}addons/tiger_newhu/template/mobile/user/images/tx001.png"/>
	</div>
	<h4>用户绑定</h4>
</div>
<div class="log_fm">
	<ul>
		<li>
			<label></label>
			<input type="text" class="txt" name="username" id="username" value="" placeholder="请输入手机号码" />
		</li>
		<li>
			<label style="background: url({$_W['siteroot']}addons/tiger_newhu/template/mobile/tbgoods/style99/imgs/img3-2.png) no-repeat left center;"></label>
			<input type="text" class="txt" name="password" id="password" value="" placeholder="请输入密码" />
		</li>
	</ul>
	<input type="submit" class="btn" name="submit" id="submit" value="立即绑定" />
	<a href="{php echo $this->createMobileUrl('login')}" class="btn" style="background: none;border: 1px #f73b6d solid;color: #f73b6d;cursor:pointer" />已有帐号登录</a>
</div> 
<!--<div class="log_icos">
	<h2><span>使用其他方式登录</span></h2>
	<ul>
		<li><a href="#"><img src="imgs/img3-3.png"/></a></li>
		<li><a href="#"><img src="imgs/img3-4.png"/></a></li>
	</ul>
</div>-->
</div>

<script type="text/javascript" src="{$_W['siteroot']}addons/tiger_newhu/template/mobile/tbgoods/style99/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="{$_W['siteroot']}addons/tiger_newhu/template/mobile/js/layer_mobile/layer.js"></script>


<script>
$(function() {


	$('#submit').on('click', function() {
	
		var username = $('#username').val();
		var password = $('#password').val();
		var tzurl=encodeURIComponent("{$tzurl}");
		var unionid="{$fans['unionid']}";
		var openid="{$fans['openid']}";
	
		if(username == ""){
			layer.open({
			    content: '帐号必须填写'
			    ,skin: 'msg'
			    ,time: 3 //2秒后自动关闭
			  });
			return false;
		}
		if(password == ""){
			layer.open({
			    content: '密码不能为空!'
			    ,skin: 'msg'
			    ,time: 3 //2秒后自动关闭
			  });
			return false;
		}

       $.ajax({
                type:'post',
                url:"{php echo $this->createMobileUrl('bdlogin')}",
                dataType:'json',
                data:{"username":username,"password":password,"openid":openid,"unionid":unionid},
                success:function(res){
//              	alert(res);
                     if(res.status==1){
                     	layer.open({
							    content: '绑定成功!'
							    ,skin: 'msg'
							    ,time: 6 //2秒后自动关闭
							});
							setTimeout(function() {
						      window.location.href="{php echo $this->createMobileUrl('login')}";
						    }, 1000);
						//alert(res.tzurl);
                        return false;
                     }else{
                     	layer.open({
						    content: res.msg
						    ,skin: 'msg'
						    ,time: 3 //2秒后自动关闭
						});
                     return false;
                     }
                     
                }
           });
        return false;

		
	});

});
</script>
<style>
	body .layui-m-layer .layui-m-layer-msg{width: auto;
    max-width: 90%;
    margin: 0 auto;
    bottom: 150px;
    background-color: rgba(0,0,0,.7);
    color: #fff;}
	.layui-m-layercont{font-size: 28px;}
</style>
</body>
</html>

