<!DOCTYPE html>
<html lang="en" style="font-size: 64px;">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,viewport-fit=cover">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="do-rem-meta-change" content="false">
    <meta name="data-spm" content="a2e2f">
    <meta id="WV.Meta.Share.Disabled" value="true" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>新人福利社</title>
    <link rel="stylesheet" type="text/css" href="{$_W['siteroot']}addons/tiger_newhu/template/mobile/newt/css/reset.css">
    <link rel="stylesheet" type="text/css" href="{$_W['siteroot']}addons/tiger_newhu/template/mobile/newt/css/main.css">

</head>
<body>
	<div class="common" >
		<div class="top-banner"></div>
		<div class="vetas-wrap">
			<div class="vetas-title">
			新人领最高<span>188元大礼包</span>
			</div>
			<div class="vetas-middle-wrap">
				<div class="mm-tel-validate-con">
					<!--<div class="mm-tel-input-con">
						<input id="TelInput" value="{$tkl}" class="mm-tel-input" type="text" autocomplete="off">
					</div>-->
					<div class="NCContainerCon">
						<div class="label">{$tkl}</div>					
					</div>
					<div class="apply-btn copy2">一键复制</div>
					<!--<div style="height:5px;"></div>
					<div class="apply-btn copy2">一键复制文案</div>-->
					<span class="vetas-rule-link">
						<a class="rule-link" target="_blank" href="{$cfg['ldgzurl']}">查看规则</a>
					</span>
				</div>
			</div>
		</div>
		<div class="newer-top">
			<div class="newer-text">限购一次,仅限在手机淘宝购买</div>
		</div>
		<div class="newer-items-wrap clearfix">
			<div class="waterfall-column">
				<div class="newer-item">
					<div class="newer-item-img-container">
						<img class="newer-item-img" src="https://gw.alicdn.com/bao/uploaded/i3/1033277606/TB2F1r0b.QIL1JjSZFhXXaDZFXa_!!1033277606.jpg_400x400q75.jpg">
					</div>
					<div class="newer-title">
					<span class="newer-title-text">天天特价可爱卡通双层玻璃塑料杯儿童水杯活动礼品杯子创意防烫杯</span></div>
					<div class="newer-item-tag"></div>
				</div>
				<div class="newer-item">
					<div class="newer-item-img-container">
						<img class="newer-item-img" src="https://gw.alicdn.com/bao/uploaded/i1/2571063731/TB29EpcnILJ8KJjy0FnXXcFDpXa_!!2571063731.jpg_400x400q75.jpg">
					</div>
					<div class="newer-title">
					<span class="newer-title-text">天天特价冬季保暖加厚马桶垫坐垫马桶圈坐便套粘贴式防水坐便器垫</span></div>
					<div class="newer-item-tag"></div>
				</div>
				<div class="newer-item">
					<div class="newer-item-img-container">
						<img class="newer-item-img" src="https://gw.alicdn.com/bao/uploaded/i3/1044053680/TB1zeUXmGmWQ1JjSZPhXXXCJFXa_!!0-item_pic.jpg_400x400q75.jpg">
					</div>
					<div class="newer-title">
					<span class="newer-title-text">UECOO手机镜头广角微距鱼眼长焦通用摄影外置自拍神器高清摄像头</span></div>
					<div class="newer-item-tag"></div>
				</div>
				<div class="newer-item">
					<div class="newer-item-img-container">
						<img class="newer-item-img" src="https://gw.alicdn.com/bao/uploaded/i1/TB1N5EuSpXXXXaDXFXXYXGcGpXX_M2.SS2_400x400q75.jpg">
					</div>
					<div class="newer-title">
					<span class="newer-title-text">冰袖冰丝防晒袖套女夏开车防紫外线男护手臂套电动车手套薄加长款</span></div>
					<div class="newer-item-tag"></div>
				</div>
				<div class="newer-item">
					<div class="newer-item-img-container">
						<img class="newer-item-img" src="https://gw.alicdn.com/bao/uploaded/i4/2815180603/TB1BGcKfDfN8KJjSZFjXXXGvpXa_!!0-item_pic.jpg_400x400q75.jpg">
					</div>
					<div class="newer-title">
					<span class="newer-title-text">抒雅海洋薄荷草本口气清新清火美白去黄去烟渍包邮无氟牙膏</span></div>
					<div class="newer-item-tag"></div>
				</div>
				<div class="newer-item">
					<div class="newer-item-img-container">
						<img class="newer-item-img" src="https://gw.alicdn.com/bao/uploaded/i1/747184731/TB2MKJ0XRyWBuNkSmFPXXXguVXa_!!747184731.jpg_400x400q75.jpg">
					</div>
					<div class="newer-title">
					<span class="newer-title-text">淋浴花洒喷头手持增压浴室热水器淋雨喷头沐浴洗澡莲蓬头包邮</span></div>
					<div class="newer-item-tag"></div>
				</div>
				<div class="newer-item">
					<div class="newer-item-img-container">
						<img class="newer-item-img" src="https://gw.alicdn.com/bao/uploaded/i1/2349063807/TB15xlecgmTBuNjy1XbXXaMrVXa_!!0-item_pic.jpg_400x400q75.jpg">
					</div>
					<div class="newer-title">
					<span class="newer-title-text">明信洗碗布吸水不掉毛加厚竹纤维抹布厨房不沾油家用百洁布洗碗巾</span></div>
					<div class="newer-item-tag"></div>
				</div>
				<div class="newer-item">
					<div class="newer-item-img-container">
						<img class="newer-item-img" src="https://gw.alicdn.com/bao/uploaded/i3/1903025445/TB2y9MvaQZkyKJjy0FnXXXveFXa_!!1903025445.jpg_400x400q75.jpg">
					</div>
					<div class="newer-title">
					<span class="newer-title-text">他他库 不锈钢防滑防烫夹取碗夹抓盘器夹碗器提盘厨房小工具</span></div>
					<div class="newer-item-tag"></div>
				</div>
				<div class="newer-item">
					<div class="newer-item-img-container">
						<img class="newer-item-img" src="https://gw.alicdn.com/bao/uploaded/i4/357068843/TB1.gembMmTBuNjy1XbXXaMrVXa_!!0-item_pic.jpg_400x400q75.jpg">
					</div>
					<div class="newer-title">
					<span class="newer-title-text">烧烤专用鲜香粉秘制撒料配方调料腌制粉增香剂烤肉蘸料腌肉料烤串</span></div>
					<div class="newer-item-tag"></div>
				</div>
				<div class="newer-item">
					<div class="newer-item-img-container">
						<img class="newer-item-img" src="https://gw.alicdn.com/bao/uploaded/i4/1771449295/TB1kE7Th22H8KJjy0FcXXaDlFXa_!!0-item_pic.jpg_400x400q75.jpg">
					</div>
					<div class="newer-title">
					<span class="newer-title-text">宜洁保鲜袋家用一次性食品袋手撕袋pe加厚点断式连卷袋大中小号</span></div>
					<div class="newer-item-tag"></div>
				</div>
			</div>
			<div class="waterfall-column">
				<div class="newer-item">
					<div class="newer-item-img-container">
						<img class="newer-item-img" src="https://gw.alicdn.com/bao/uploaded/i2/2457771398/TB1hlwZXHZnBKNjSZFGXXbt3FXa_!!0-item_pic.jpg_400x400q75.jpg">
					</div>
					<div class="newer-title">
					<span class="newer-title-text">iphone7手机壳苹果7P透明i8硅胶软壳气囊女潮男防摔8plus保护壳</span></div>
					<div class="newer-item-tag"></div>
				</div>
				<div class="newer-item">
					<div class="newer-item-img-container">
						<img class="newer-item-img" src="https://gw.alicdn.com/bao/uploaded/i1/2186137637/TB1FjJBbAKWBuNjy1zjXXcOypXa_!!0-item_pic.jpg_400x400q75.jpg">
					</div>
					<div class="newer-title">
					<span class="newer-title-text">薰衣草植物山羊奶芦荟竹炭精油皂清洁补水手工皂全身沐浴皂洗脸皂</span></div>
					<div class="newer-item-tag"></div>
				</div>
				<div class="newer-item">
					<div class="newer-item-img-container">
						<img class="newer-item-img" src="https://gw.alicdn.com/bao/uploaded/i3/22112930/TB2OSCLamEb61BjSZFsXXbNMpXa_!!22112930.jpg_400x400q75.jpg">
					</div>
					<div class="newer-title">
					<span class="newer-title-text">小麦秸秆环保情侣漱口杯环保创意家用牙缸刷牙杯结婚刻字定制logo</span></div>
					<div class="newer-item-tag"></div>
				</div>
				<div class="newer-item">
					<div class="newer-item-img-container">
						<img class="newer-item-img" src="https://gw.alicdn.com/bao/uploaded/i3/1589613703/TB1MpzEcGmWBuNjy1XaXXXCbXXa_!!0-item_pic.jpg_400x400q75.jpg">
					</div>
					<div class="newer-title">
					<span class="newer-title-text">英菲克静音无声鼠标有线USB家用办公联想华硕戴尔笔记本电脑游戏</span></div>
					<div class="newer-item-tag"></div>
				</div>
				<div class="newer-item">
					<div class="newer-item-img-container">
						<img class="newer-item-img" src="https://gw.alicdn.com/bao/uploaded/i2/1649724996/TB2nX8fXsUrBKNjSZPxXXX00pXa_!!1649724996.jpg_400x400q75.jpg">
					</div>
					<div class="newer-title">
					<span class="newer-title-text">宝宝婴儿指甲剪套装指甲刀婴幼儿安全防夹肉剪刀新生儿专用指甲钳</span></div>
					<div class="newer-item-tag"></div>
				</div>
				<div class="newer-item">
					<div class="newer-item-img-container">
						<img class="newer-item-img" src="https://gw.alicdn.com/bao/uploaded/i4/3323539167/TB2GxeTAQqvpuFjSZFhXXaOgXXa_!!3323539167.jpg_400x400q75.jpg">
					</div>
					<div class="newer-title">
					<span class="newer-title-text">便携卷发梳防静电理发梳子梨花头大卷刘海造型圆筒卷梳美发工具</span></div>
					<div class="newer-item-tag"></div>
				</div>
				<div class="newer-item">
					<div class="newer-item-img-container">
						<img class="newer-item-img" src="https://gw.alicdn.com/bao/uploaded/i3/777076590/TB20ighcGagSKJjy0FgXXcRqFXa_!!777076590.jpg_400x400q75.jpg">
					</div>
					<div class="newer-title">
					<span class="newer-title-text">天天特价日式双层塑料鞋架小鞋托男女鞋简易鞋收纳架置物架鞋盒</span></div>
					<div class="newer-item-tag"></div>
				</div>
				<div class="newer-item">
					<div class="newer-item-img-container">
						<img class="newer-item-img" src="https://gw.alicdn.com/bao/uploaded/i1/367138088/TB2iciCcKuSBuNjSsplXXbe8pXa_!!367138088.jpg_400x400q75.jpg">
					</div>
					<div class="newer-title">
					<span class="newer-title-text">静电衣物除毛刷 毛刷子除尘刷衣服宠物粘毛器刷毛神器干洗器</span></div>
					<div class="newer-item-tag"></div>
				</div>
				<div class="newer-item">
					<div class="newer-item-img-container">
						<img class="newer-item-img" src="https://gw.alicdn.com/bao/uploaded/i8/TB1d3thRpXXXXcZXFXXYXGcGpXX_M2.SS2_400x400q75.jpg">
					</div>
					<div class="newer-title">
					<span class="newer-title-text">小孩防水护耳儿童洗头帽可调节宝宝洗发帽浴帽婴儿洗澡洗头神器</span></div>
					<div class="newer-item-tag"></div>
				</div>
				<div class="newer-item">
					<div class="newer-item-img-container">
						<img class="newer-item-img" src="https://gw.alicdn.com/bao/uploaded/i1/2019896211/TB1sb_pg9_I8KJjy0FoXXaFnVXa_!!0-item_pic.jpg_400x400q75.jpg">
					</div>
					<div class="newer-title">
					<span class="newer-title-text">56支中性笔韩国创意学生用笔水笔小清新可爱文具可擦黑色笔芯批发</span></div>
					<div class="newer-item-tag"></div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="{$_W['siteroot']}addons/tiger_newhu/template/mobile/newt/js/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="{$_W['siteroot']}addons/tiger_newhu/template/mobile/tbgoods/style99/js/layer/layer.js"></script>
	<script type="text/javascript" src="{$_W['siteroot']}addons/tiger_newhu/template/mobile/newt/js/screen.js"></script>
	<script type="text/javascript" src="{$_W['siteroot']}addons/tiger_newhu/template/mobile/newt/js/mobileUtil.js"></script>
<script type="text/javascript" src="{$_W['siteroot']}addons/tiger_newhu/template/mobile/newt/js/clipboard.min.js"></script>
	
	<script>
    $(function(){
    	var tkurl = "{$rhyurl}";
        var cmd = "{$tkl}";
        var wenan="手机淘宝新人可领取价值最高188元超级大礼包！超值好货0元购！{$ddwz}-----------------复制这条信息，{$tkl}，打开【手机淘宝】即可查看";

        $(".copy").click(function(){
            if(cmd!=""){
                    var copy = document.querySelector('.copy');
                    if (window.Clipboard && Clipboard.isSupported()) {
                        var clipboard = new Clipboard( '.copy' ,{
                            text:function(){
                                return cmd
                            }
                        });
                        clipboard.on('success', function (e) {
                            layer.msg('复制成功');
                        });
                    }else{
                        copy.style.display = 'none';

                    }
                //$(".word").html(cmd);
            }else{
                layer.msg('稍等片刻');
            }
        })
        
        
        
        $(".newer-item").click(function(){
            layer.msg('请复制文案，打开手淘APP购买！');
        })
        
        
        
        
        
        $(".copy1").click(function(){
            if(tkurl!=""){
                    var copy = document.querySelector('.copy1');
                    if (window.Clipboard && Clipboard.isSupported()) {
                        var clipboard = new Clipboard( '.copy1' ,{
                            text:function(){
                                return tkurl
                            }
                        });
                        clipboard.on('success', function (e) {
                            layer.msg('复制链接成功');
                        });
                    }else{
                        copy.style.display = 'none';

                    }
               // $(".word").html(tkurl);
            }else{
                layer.msg('稍等片刻');
            }
        })
        
        $(".copy2").click(function(){
            if(wenan!=""){
                    var copy = document.querySelector('.copy2');
                    if (window.Clipboard && Clipboard.isSupported()) {
                        var clipboard = new Clipboard( '.copy2' ,{
                            text:function(){
                                return wenan
                            }
                        });
                        clipboard.on('success', function (e) {
                            layer.msg('复制文案成功,打开手淘APP购买！');
                        });
                    }else{
                        copy.style.display = 'none';

                    }
               // $(".word").html(tkurl);
            }else{
                layer.msg('稍等片刻');
            }
        })
                    

        
        $(".quan").click(function(){

            if(mobileUtil.isWeixin){
                $(".mask").addClass('active');
            }else{
                location.href = url;
            }
        })
        $(".mask").click(function(){
            $(".mask").removeClass('active');
        })

        
    })
</script>
</body>
</html>