body{background: #f5f7f9;}
hr{background: white;}
.pagination>li>a, .pagination>li>span{color: #009688}
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus{
    background-color:#009688;border-color:#009688;
}
.layui-form-label{width: 130px;}
.layui-input-block input{width: 70%;}
.panel-info {
    width: 95%;
    margin-left: 2%;
}
.layui-input-block{margin-left: 150px;}
.layui-form-select{width: 70%;}
.layui-select-title input{width: 100%;}
.input-group{width: 70%;}
.upload-img .input-group{width: auto}
.layui-elem-field legend {
    width: auto;
    border-bottom: none;
}
.land_col_one .username{
	margin-left: 50px;
}
.land-info{
	padding: 5px;
}
.land-info .seed_day{
	margin-left: 50px;
	margin-right: 50px;
}
.layui-text{
    background: white;
    position: relative;
    top: -71px;
    width: 20%;
    height: 50px;
    margin-left: 16px;
}
.new-style{position: relative;top:-71px;width: 98%;margin-left: 1%;background: white;padding: 20px;}
.contentbox{background: #f5f7f9;}