<div class="layui-header">
    <div class="layui-logo" style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">{$_W['slwl']['lang']['sys_name']}</div>
    <!-- 头部区域（可配合layui已有的水平导航） -->
    <ul class="layui-nav layui-layout-left">
        {loop $_W['menus_array']['top']['items'] $index $item}
            <li class="layui-nav-item"><a href="{$item['url']}">{$item['title']}</a></li>
        {/loop}
    </ul>
    <ul class="layui-nav layui-layout-right">
        <li class="layui-nav-item">
            <a href="{php echo webUrl('account/display', array('type'=>'wxapp'), true, false)}">返回系统</a>
        </li>
    </ul>
</div>