{{include file='common/head.html'}}
<script type='text/javascript' src='{{$STATIC}}scripts/nproducts.js'></script>
<script type='text/javascript'>
$(document).ready(function(){
	show_groupname();
	
});

</script>

<body bgcolor='#ffffff' text='#000000' leftmargin='0' topmargin='0'>
<div align="center">
	<div class="wid_main mar_main" align="left">
		<div class="block_top" align="left">当前位置：产品管理 --> 产品列表</div>
		<table class="table_main2" cellpadding="0" cellspacing="1">
			<tr><td colspan="11" class="hg_main">
			<form name="form1" method="post" action="?c=vhost&a=showVhost">
				<table width="100%" cellpadding="0" cellspacing="0">
					
					<tr id="bg_yellow">
					<tr>
					<td colspan="4" >
					<input type='button' onclick='create_cache("?c=nproduct&a=createCache")' value='更新缓存' title='将数据生成缓存文件，用于前台调用，减少数据库查询'>
					</td>
					<!-- 
						<td align="left"><input type='button' onclick="go_to('?c=nproduct&a=addFrom')" value='添加产品'>
						
					</td>
					 -->
					<td align="right">
						{{if $page>1}}
						<a href='{{$action}}&page=0'>首页</a> 
						<a href='{{$action}}&page={{$page-1}}'>上一页</a> 
						{{else}}
						首页 上一页 
						{{/if}}
						{{if $page!=$total_page}} 
						<a href='{{$action}}&page={{$page+1}}'>下一页</a>
						<a href='{{$action}}&page={{$total_page}}'>尾页</a>
						{{else}}下一页 尾页
						{{/if}} 
						{{$page}}/{{$total_page}}&nbsp;
						共计{{$count}}记录&nbsp;
					</td></tr>
					
				</table>
				</form>
			</td></tr>
			<tr>
				<td colspan="11" class="bg_main"><b>产品列表</b></td>
			</tr>
			<tr id="bg_yellow">
				<td>操作</td>
				<td>产品ID</td>
				<td>产品名称</td>
				<td>产品组</td>
				<td>价格</td>
				<td>是否试用</td>
				<td>状态</td>
			</tr>
				{{foreach from=$list item=row}}
			<tr>
				<td>
					[<a href='javascript:nproduct_del({{$row.id}})' >删除</a>]
					[<a href="?c=nproduct&a=addFrom&id={{$row.id}}">修改</a>]
				</td>
				<td>{{$row.id}}</td>
				<td>{{$row.name}}</td>
				<td class='product_groupid'>{{$row.group_id}}</td>
				<td>{{$row.price}}&nbsp;元</td>
				<td>{{($row.try_flag==1) ? "是" :"否"}}</td>
				<td>{{($row.status==0) ? "正常销售" : "暂停销售"}}</td>
			</tr>
			{{foreachelse}}
			<tr><td colspan='3'></td><td colspan='2'><a href='?c=productgroup&a=productgroupFrom' ><strong class='red'>暂无产品,添加产品请先添加产品组,在产品组上添加产品</strong></a></td><td colspan='2'></td></tr>
			{{/foreach}}
		<tr>
			<td colspan="11" id="bg_yellow" align="right">
				{{if $page>1}}
				<a href='{{$action}}&page=0'>首页</a> 
				<a href='{{$action}}&page={{$page-1}}'>上一页</a> 
				{{else}}
				首页 上一页 
				{{/if}}
				{{if $page!=$total_page}} 
				<a href='{{$action}}&page={{$page+1}}'>下一页</a>
				<a href='{{$action}}&page={{$total_page}}'>尾页</a>
				{{else}}下一页 尾页
				{{/if}} 
				{{$page}}/{{$total_page}}&nbsp;
				共计{{$count}}记录&nbsp;
			</td>
		</tr>
	 </table>
	</div>
</div>
</body>
</html>