{extend name="common/detail" /}
{block name="content"}
<link rel="stylesheet" type="text/css" href="__STATIC__/menu/css/mod_list.css">
<style>
    #3D {max-width: 1350px;}
    .now-model {
        position: absolute;
        top: 0;
        right: 0;
        width: 58px;
        height: 30px;
        line-height: 30px;
        background: rgba(0,0,0,.1);
        text-align: center;
    }
</style>
<div id="tab_demo" class="HuiTab" style="margin-bottom: 15px; position:relative;margin-left: 10px; margin-top: 20px;">

    <div class="tabBar clearfix">
        <span class="current">我的模版</span>
    </div>

</div>
<div class="content-right fl" style="width: 100%">
    <div id="3D">
        {volist name="list" id="m"}
        <div class="programCode" style="position: relative">
            <dl>
                <dt><div style="max-width: 225px; position: relative; overflow: hidden; height: 280px;">{if condition="($m['is_default']==1)"}<div class="now-model">当前模板</div>{/if}<a href="" target="_top"><img  src="{$m.img}" ></a></div></dt>
                <dd style="margin-top: 4px;"><div style="font-weight: bold; text-align: center; padding: 3px;">{$m['name']}</div></dd>
                <!--<dd><div style="font-weight: bold; text-align: center; padding: 3px;">{$m.name}</div></dd>-->
                <dd>
                    {if condition="($m['is_default']==0)"}
                    <button data-id="{$m.id}" class="btn btn-success radius this_mod" style="z-index:1000;margin-left: 26px;line-height: 20px;">选用</button>
                    {/if}
                    {if condition="($m['is_default']==1)"}
                    <button data-id="{$m.id}" class="btn btn-success radius nocheck" style="z-index:1000;margin-left: 26px;line-height: 20px;">取消</button>
                    {/if}
                    <button class="btn btn-danger radius edittem" data-id="{$m.id}" style="z-index:1000;background-color: orangered;line-height: 20px;">编辑</button>
                    <button  data-id="{$m.id}"  class="btn btn-danger radius deltem" style="z-index:1000;background-color: red;line-height: 20px;border-radius: 3px;">删除</button>
                </dd>
            </dl>
        </div>
        {/volist}
        {empty name="list"}
        <div style="text-align: center;">
            <h1 style="font-size: 24px;">您暂时没有已保存的模板，请在首页管理中编辑完成后保存到我的模板！</h1>
        </div>
        {/empty}
    </div>
</div>
<script>
    $(function(){
        $(".hPage-tpls-overlay").hide();
        $(".showActions").mouseover(function(){
            $(this).find(".hPage-tpls-overlay").show();
        });
        $(".showActions").mouseout(function(){
            $(this).find(".hPage-tpls-overlay").hide();
        });
        $('.btn-tpllist').click(function(){

        });
    })
    /**
     * 用户选择了模版
     */

    $(document).on('click','.this_mod',function(e){
        var id = $(this).data('id')
        layer.confirm('是否设置该模板为当前模板，并改变小程序前端页面显示', {
            btn: ['确定','取消'] //按钮
        }, function(){
            var url = "{:adminurl('checkTem')}";
            $.post(url, {id:id}, function(data){
                if (typeof data == 'string'){
                    data = $.parseJSON(data);
                }
                if (data.code == 0) {
                    layer.msg('选用成功',{icon: 6,anim: 6});
                    location.reload();
                }else{
                    layer.msg(data.msg,{icon: 5,anim: 6});
                }
            });
        });
        return false;
    })
    /**
     * 取消选用模板
     */
    $(document).on('click','.nocheck',function(e){
        var id = $(this).data('id')
        layer.confirm('是否取消当前模板，小程序首页将恢复为默认排版', {
            btn: ['确定','取消'] //按钮
        }, function(){
            var url = "{:adminurl('nocheckTem')}";
            $.post(url, {id:id}, function(data){
                if (typeof data == 'string'){
                    data = $.parseJSON(data);
                }
                if (data.code == 0) {
                    layer.msg('取消选用成功',{icon: 6,anim: 6});
                    location.reload();
                }else{
                    layer.msg(data.msg,{icon: 5,anim: 6});
                }
            });
        });
        return false;
    })
    // 编辑
    $(document).on('click','.edittem',function(e){
        var id = $(this).data('id')
        var index = layer.open({
            type: 2,
            title: '编辑',
            shadeClose: true,
            shade: false,
            maxmin: true, //开启最大化最小化按钮
            area: ['893px', '600px'],
            content: "{:adminurl('homepage')}&id="+id,
        });
        layer.full(index);
        return false;
    })
    $(document).on('click','.deltem',function(e){
        var id = $(this).data('id')
        layer.confirm('是否删除当前模板', {
            btn: ['确定','取消'] //按钮
        }, function(){
            var url = "{:adminurl('delTem')}";
            $.post(url, {id:id}, function(data){
                if (typeof data == 'string'){
                    data = $.parseJSON(data);
                }
                if (data.code == 0) {
                    layer.msg('删除成功',{icon: 6,anim: 6});
                    location.reload();
                }else{
                    layer.msg(data.msg,{icon: 5,anim: 6});
                }
            });
        });
        return false;
    })
</script>
{/block}
