html,
body {
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
    overflow-x: hidden;
    overflow-y: auto;
    background: #f4f6f8;
    font-size: 14px;
    color: #616161;
    padding: 0;
    margin: 0;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.hidden-xs {
    display: none !important;
}
.hidden {
    display: none !important;
}
.container {
    max-width: 650px;
    margin: 0 auto;
}
.header {
    background: #fff;
    border-bottom: 1px solid #eee;
    height: 60px;
    padding-top: 12px;
    text-align: center;
    margin-bottom: 15px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.04);
}
.header .logo {
    width: 103px;
    height: 36px;
    margin: 0 auto;
    background: url(../images/alipay.png) no-repeat;
    background-size: cover;
}
.header .logo.alipay {
    background-image: url(../images/alipay.png);
}
.header .logo.wechat {
    width: 130px;
    background-image: url(../images/wechat.png);
}
.mainbody {
    margin: 0 auto;
    margin-top: 15px;
    padding-bottom: 10px;
    text-align: center;
    color: #333;
    padding-top: 6px;
    background: #fff url(../images/wave.png) top center repeat-x;
    background-size: auto 6px;
    min-height: 400px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}
.realprice {
    font-size: 46px;
    margin-top: 15px;
}
.discountprice {
    color: #ff6600;
    margin-bottom: 10px;
}
.qrcode {
    width: 250px;
    height: 250px;
    margin: 0 auto;
    position: relative;
}
.qrcode img {
    width: 100%;
    height: 100%;
}
.qrcode .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 30px;
    width: 30px;
    margin-left: -15px;
    margin-top: -15px;
    background: #fff url("../images/logo-wechat.png") no-repeat center center;
    background-size: cover;
    border-radius: 3px;
}
.qrcode .logo.logo-alipay {
    background-image: url("../images/logo-alipay.png");
}
.qrcode .expired {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: .95;
    background: #fff url(../images/expired.png) center center no-repeat;
}
.qrcode .paid {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: .95;
    background: #fff url(../images/paid.png) center center no-repeat;
}
.warning {
    color: #f00;
}
.success {
    color: #05af19;
}
.remainseconds {
    width: 200px;
    margin: 0 auto;
    height: 100px;
    padding: 10px 35px;
    text-align: center;
}
.remainseconds .time {
    width: 55px;
    height: 90px;
}
.remainseconds .time b {
    font-size: 40px;
    font-weight: 300;
}
.remainseconds .time b,
.remainseconds .time em {
    display: block;
}
.remainseconds .time em {
    font-style: normal;
    color: #888;
}
@media (max-width: 375px) {
    .container {
        padding: 0;
    }
    .remainseconds {
        padding: 0 35px 10px 35px;
        height: 80px;
    }
    .remainseconds .time {
        height: 100%;
    }
    .remainseconds .time b {
        font-size: 36px;
    }
}
@media (max-width: 320px) {
    .remainseconds {
        padding: 0 35px 10px 35px;
        height: 87px;
    }
    .remainseconds .time {
        height: 100%;
    }
    .remainseconds .time b {
        font-size: 36px;
    }
    .container {
        padding: 0;
    }
    .qrcode {
        width: 200px;
        height: 200px;
    }
    .realprice {
        font-size: 36px;
    }
}
.minutes {
    float: left;
}
.seconds {
    float: left;
}
.colon {
    float: left;
    width: 20px;
    font-size: 30px;
    line-height: 50px;
    font-family: Vernada, 'Microsoft Yahei';
}
.tips {
    border-top: 1px dotted #eee;
    background: #fff;
    padding: 15px 0;
    line-height: 25px;
    overflow: hidden;
    display: block;
    clear: both;
}
.help {
    line-height: 25px;
    padding: 15px 0;
    text-align: center;
    font-size: 14px;
}
.footer {
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 12px;
}