<!DOCTYPE html>
<html lang="en">
<head>
    {template 'common/edithead'}
    <!--微擎 -->
    <!--这个放在最后一切平白安全-->
    <link href="../addons/{$_GPC['m']}/them/css/yun.css" rel="stylesheet">
    <script type="text/javascript" src="./resource/js/require.js?v=20170915"></script>
</head>
<body class="nav-md" style="min-width: 800px">

<div>
    <div class="container xc_edit_from" >
        <div class="main_container" style="overflow-x: hidden;min-height: 100vh;background-color: white;width: 100%;">
            <div class="marketTop flex-display flex-alignC">
                <div class="admin flex-display flex-alignC">
                    <img src="https://xwy.1q2d.com/images/141/2018/11/k828HwL9w474wAD12K94h4WwHwwWp6.jpg" class="simg"/>
                    <span>{$username['username']},您好！</span>
                    <div class="marketTopR">
                        <!--<p class="loginOut"><i class="fa fa-power-off" aria-hidden="true"></i><span>退出登录</span></p>-->
                        <a href="{php echo $this->createWebUrl('webconfig', array('op'=>'company'));}"><p><i class="fa fa-cog" aria-hidden="true"></i><span>完善信息</span></p></a>
                    </div>
                </div>
                <a class="item flex-display flex-alignC" href="{php echo $this->createWebUrl('yun_market', array('op'=>'user_service'));}">
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                    <span>我收藏的产品</span>
                </a>
                <a class="item flex-display flex-alignC" href="{php echo $this->createWebUrl('yun_market', array('op'=>'user_company'));}">
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                    <span>我收藏的公司</span>
                </a>
                <a class="item flex-display flex-alignC" href="{php echo $this->createWebUrl($do, array('op'=>'index'));}">
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                    <span>产品</span>
                </a>
                <div class="flex-flex1"></div>
                <a class="marketBack flex-display flex-alignC" href="{php echo $this->createWebUrl('yun_market', array('op'=>'company'));}">
                    <span>返回首页</span>
                    <i class="fa fa-bars"></i>
                </a>
            </div>
            <div class="col-md-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_content">
                        <br/>
                        <form class="form-horizontal form-label-left input_mask" method="post" action="{php echo $this->createWebUrl('webconfig', array('op'=>'savecompany'));}" id="xc_form">
                            <input type="hidden" name="id" value="{$xc['id']}">
                            <div class="form-group">
                                <label class="control-label col-md-2 col-sm-3 col-xs-12">公司名称</label>
                                <div class="col-md-10 col-sm-9 col-xs-12">
                                    <input type="text" class="form-control" placeholder="公司名称" name="xc[name]" value="{$xc[name]}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2 col-sm-3 col-xs-12">行业</label>
                                <div class="col-md-10 col-sm-9 col-xs-12">
                                    <input type="text" class="form-control" placeholder="行业" name="xc[business]" value="{$xc['business']}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2 col-sm-3 col-xs-12">logo</label>
                                <div class="col-md-10 col-sm-9 col-xs-12">
                                    {php echo tpl_form_field_image('xc[logo]',$xc[logo]);}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2 col-sm-3 col-xs-12">主营产品</label>
                                <div class="col-md-10 col-sm-9 col-xs-12">
                                    <input type="text" class="form-control" placeholder="主营产品" name="xc[service]" value="{$xc[service]}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2 col-sm-3 col-xs-12">联系电话</label>
                                <div class="col-md-10 col-sm-9 col-xs-12">
                                    <input type="text" class="form-control" placeholder="联系电话" name="xc[mobile]" value="{$xc[mobile]}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2 col-sm-3 col-xs-12">地址</label>
                                <div class="col-md-10 col-sm-9 col-xs-12">
                                    <input type="text" class="form-control" placeholder="地址" name="xc[address]" value="{$xc[address]}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2 col-sm-3 col-xs-12">公司简介</label>
                                <div class="col-md-10 col-sm-9 col-xs-12">
                                    <textarea class="form-control" placeholder="公司简介" name="xc[content]" rows="10">{$xc['content']}</textarea>
                                </div>
                            </div>
                            <div class="form-group xc_btn_row"  >
                                <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-5 col-sm-offset-5  col-md-xs-5 ">
                                    <button type="button" class="btn btn-primary" id="btsave">确认</button>
                                    <!--<a type="button" class="btn btn-default"  href="{php echo $this->createWebUrl($do, array('op'=>'yun','xtitleb'=> urlencode($xtitleb),'xtitlea'=>urlencode($xtitlea)));}" >返回</a>-->
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{template 'common/editfoot'}
<script>
    var username="{$username}";
    console.log(username);
    if(username==""){
        swal({
            title:'错误',
            text:'请先登录',
            type:'error',
            timer:1000
        });
        $("#iframecontents",window.parent.document).attr("src","{php echo $this->createWebUrl('login');}");
    }
</script>
<script>
    //现在只在状态这里使用
    var xvalidator =null;

    $.validator.setDefaults({
        highlight: function (e) {
            $(e).closest(".col-xs-12").removeClass("has-success").addClass("has-error")
        }, success: function (e) {
            e.closest(".col-xs-12").removeClass("has-error").addClass("has-success")
        }, errorClass: "help-block m-b-none", validClass: "help-block m-b-none"
    }), $().ready(function () {
        var e = "<i class='fa fa-times-circle'></i> ";
        var vlidp = {
            rules: {
                "xc[name]": {required: !0}
            },
            messages: {
                "xc[name]": {required: e + "请选择内容"}
            },
            submitHandler: function (form) {
                //手动验证所以这里不需要执行
                xajaxfrom(form);
                return false;
            }
        }
        xvalidator= $("#xc_form").validate(vlidp);
    });
    $("#btsave").click(function () {
        //$brvalue= $("#xc_form").valid();
        $brvalue=true;
        if($brvalue){
            xajaxfrom("#xc_form");
        }
        return false;
    })

    function message(data) {
        $mesoption = {};
        if (data["status"] === 1) {
//            if ($('[name="id"]').val() == ""||$('[name="id"]').val() == "0") {
//                xc_form.reset();
//                //
//                $(".container").find(".img-thumbnail").attr("src", "./resource/images/nopic.jpg");
//                if( urobj.length>0){
//                    for(var i=0;i<urobj.length;i++){
//                        urobj[i].setContent("");
//                    }
//                }
//            }
            $mesoption["timer"] = 1000;
            $mesoption["type"] = replyrdata[data["status"]];
        }
        if( typeof(data["title"])=="undefined" )
        {
            $mesoption["title"] = data["message"];
        }
        else {
            $mesoption["title"]=data["title"];
        }
        $mesoption["text"] = data["message"];
        swal($mesoption);
    }
    function xajaxfrom(form) {
        $actfrom = $(form);
        var  $postdate=$actfrom.serialize();
        $('#form [type="checkbox"]:not(":checked")').each(function () {
            $postdate=$postdate+"&"+$(this).attr("name")+"=-1";

        })
        xpagecss.xload();
        $.ajax({
            type: $(form).attr("method"),
            url: $(form).attr("action"),
            dataType: "json",
            data: $postdate,
            success: function (msg) {
                message(msg);
            }
        });
    }

    $(".loginOut").click(function(){
        $.ajax({
            type:'post',
            url:"{php echo $this->createWebUrl('login', array('op'=>'loginout'));}",
            dataType: "json",
            success: function (msg) {
                swal({
                    title:'提示',
                    text:msg.message,
                    type:'success',
                    timer:1000
                });
                $("#iframecontents",window.parent.document).attr("src","{php echo $this->createWebUrl('login');}");
            }
        });
    });

</script>

</body>
</html>

