<ul class="we7-page-tab">
    <li> <a href="{php echo $this->createWebUrl('webconfig', array('op'=>'yun'));}">账号信息</a></li>
    {if $username['type']==2}
    <li> <a href="{php echo $this->createWebUrl('webconfig', array('op'=>'company'));}">公司资料</a></li>
    {/if}
    {if $username['type']==1}
    <li> <a href="{php echo $this->createWebUrl('yun_user');}">会员账号</a></li>
    <li> <a href="{php echo $this->createWebUrl('yun_member_service');}">会员产品</a></li>
    {/if}
</ul>
<script type="text/javascript">

    function  indexofleftdatda($str,findstr) {
        var $navurl=$str;
        var navstart=  $navurl.indexOf(findstr);
        var navparalen= $navurl.length-navstart;
        var navstrpara =  $navurl.substring(navstart,$navurl.length)
        return navstrpara;
    }
    var  navstrpara= indexofleftdatda(location.href,"?")
    $(".we7-page-tab").find("a").each(function () {
        console.log(indexofleftdatda($(this).attr("href") +":"+navstrpara));

        if(navstrpara.indexOf(indexofleftdatda($(this).attr("href"),"?"))>-1){
            $(this).parent().addClass("active");
            return false;
        }
    })
</script>