<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../../addons/{$module_name}/images/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../../addons/{$module_name}/images/layuiadmin/style/admin.css" media="all">
    <link rel="stylesheet" href="../../../addons/{$module_name}/images/css/main.css" media="all">
    <!--<script src="../../../addons/{$module_name}/images/js/jquery.min.js"></script>-->


    <link href="./resource/css/bootstrap.min.css?v=20170426" rel="stylesheet">
    <link href="./resource/css/common.css?v=20170426" rel="stylesheet">
    <script type="text/javascript">
        if(navigator.appName == 'Microsoft Internet Explorer'){
            if(navigator.userAgent.indexOf("MSIE 5.0")>0 || navigator.userAgent.indexOf("MSIE 6.0")>0 || navigator.userAgent.indexOf("MSIE 7.0")>0) {
                alert('您使用的 IE 浏览器版本过低, 推荐使用 Chrome 浏览器或 IE8 及以上版本浏览器.');
            }
        }
        window.sysinfo = {
        {if !empty($_W['uniacid'])}'uniacid': '{$_W['uniacid']}',{/if}
        {if !empty($_W['acid'])}'acid': '{$_W['acid']}',{/if}
        {if !empty($_W['openid'])}'openid': '{$_W['openid']}',{/if}
        {if !empty($_W['uid'])}'uid': '{$_W['uid']}',{/if}
        'isfounder': {if !empty($_W['isfounder'])}1{else}0{/if},
            'family': '{IMS_FAMILY}',
                'siteroot': '{$_W['siteroot']}',
                'siteurl': '{$_W['siteurl']}',
                'attachurl': '{$_W['attachurl']}',
                'attachurl_local': '{$_W['attachurl_local']}',
                'attachurl_remote': '{$_W['attachurl_remote']}',
                'module' : {'url' : '{if defined('MODULE_URL')}{MODULE_URL}{/if}', 'name' : '{if defined('IN_MODULE')}{IN_MODULE}{/if}'},
            'cookie' : {'pre': '{$_W['config']['cookie']['pre']}'},
            'account' : {php echo json_encode($_W['account'])},
            'server' : {'php' : '{php echo phpversion()}'},
        };
        console.log(window.sysinfo);
    </script>
    <script>var require = { urlArgs: 'v=20170426' };</script>
    <script type="text/javascript" src="./resource/js/lib/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="./resource/js/lib/bootstrap.min.js"></script>
    <script type="text/javascript" src="./resource/js/app/util.js?v=20170426"></script>
    <script type="text/javascript" src="./resource/js/app/common.min.js?v=20170426"></script>
    <script type="text/javascript" src="./resource/js/require.js?v=20170426"></script>
</head>
<body>


<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">预约服务</div>

                <div class="layui-card-body">


                    <form class="layui-form" action="" onsubmit="return false">

                        <input type="hidden" name="id" value="{$info['id']}">

                        <div class="layui-form-item">
                            <label class="layui-form-label">服务名</label>
                            <div class="layui-input-block">
                                <input type="text" name="title" required lay-verify="required" placeholder="" autocomplete="off" class="layui-input" value="{$info['title']}">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">选择分类</label>
                            <div class="layui-input-block">
                                <select name="classify_id" lay-verify="required">
                                    {loop $classify_list $item}
                                    {if $item['id'] == $info['classify_id']}
                                    <option value="{$item['id']}" selected>{$item['title']}</option>
                                    {else}
                                    <option value="{$item['id']}">{$item['title']}</option>
                                    {/if}
                                    {/loop}
                                </select>
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">缩略图</label>
                            <div class="layui-input-block">
                                {php echo tpl_form_field_image('cover', $info['cover']);}
                                <span class="span-remark">图片建议尺寸: </span>
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">轮播图片</label>
                            <div class="layui-input-block">
                                {php echo tpl_form_field_multi_image('carousel', $info['carousel']);}
                                <span class="span-remark">图片建议尺寸: </span>
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">简介</label>
                            <div class="layui-input-block">
                                <input type="text" name="desc" autocomplete="off" class="layui-input" value="{$info['desc']}">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">服务数量限制</label>
                            <div class="layui-input-block">


                                <input type="number" min="0" name="limit" required
                                       lay-verify="required" placeholder="请输入正确的数字"
                                       autocomplete="off" class="layui-input" value="{$info['limit']}">
                                <span class="span-remark">如果想不限制报名人数，则此项填o</span>
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">预定价格</label>
                            <div class="layui-input-block">
                                <input type="text" name="appoint_price" required   placeholder="" autocomplete="off" class="layui-input" value="{$info['appoint_price']}">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">服务开始时间</label>
                            <div class="layui-input-block">
                                <select name="start_time" lay-verify="required" lay-filter="start_time" lay-search>
                                    {loop $time_start_arr $item}
                                    {if $item == $info['time_start']}
                                    <option value="{$item}" selected>{$item}</option>
                                    {else}
                                    <option value="{$item}">{$item}</option>
                                    {/if}
                                    {/loop}
                                </select>
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">服务时长</label>
                            <div class="layui-input-block">
                                <select name="project_range" lay-verify="required" lay-filter="project_range" lay-search>
                                    {loop $time_range_arr $item}
                                    {if $item['value'] == $info['time_range']}
                                    <option value="{$item['value']}" selected>{$item['title']}</option>
                                    {else}
                                    <option value="{$item['value']}">{$item['title']}</option>
                                    {/if}
                                    {/loop}
                                </select>
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">时间段</label>
                            <div class="layui-input-block time_range_body">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">预定日期</label>
                            <div class="layui-input-block">
                                {loop $week_arr $item}

                                {if $is_add || in_array($item['value'], $info['days'])}
                                <input class="checkbox-date" type="checkbox" name="date[]" title="{$item['title']}" lay-skin="primary" checked value="{$item['value']}">
                                {else}
                                <input class="checkbox-date" type="checkbox" name="date[]" title="{$item['title']}" lay-skin="primary" value="{$item['value']}">
                                {/if}

                                {/loop}
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">填写地址</label>
                            <div class="layui-input-block">
                                {if $info['address_switch'] == 1}
                                <input type="radio" name="address_switch" value="1" title="开启" checked>
                                <input type="radio" name="address_switch" value="0" title="关闭">
                                {else}
                                <input type="radio" name="address_switch" value="1" title="开启">
                                <input type="radio" name="address_switch" value="0" title="关闭" checked>
                                {/if}

                                <span class="span-remark">开启此开关之后，用户在小程序端预约时需要填写用户地址</span>
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">排序值</label>
                            <div class="layui-input-block">
                                <input type="number" min="0" name="top" required  lay-verify="required" placeholder="请输入排序值" autocomplete="off" class="layui-input" value="{$info['top']}">
                                <span class="span-remark">倒序, 值越大排名越靠前</span>
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">详情</label>
                            <div class="layui-input-block">
                                {php echo tpl_ueditor('content', $info['content']);}
                            </div>
                        </div>



                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn" lay-submit lay-filter="formSub">提交</button>
                                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                                <!--<button  class="layui-btn layui-btn-primary" onclick="javascript: history.back()">返回</button>-->
                            </div>
                        </div>



                    </form>

                </div>
            </div>
        </div>
    </div>
</div>


{template 'common/footer'}

<style>
    .friend-link{
        text-align: center;
    }
    .copyright{
        text-align: center;
        padding-bottom: 20px;
    }
</style>

<script src="../../../addons/{$module_name}/images/layuiadmin/layui/layui.js"></script>
<script>
    var is_add = '{$is_add}';
    var selected = '';

    layui.use(['layer', 'form'], function () {
        var layer = layui.layer
            , form = layui.form;


        var time_start_default = 0;
        var time_range_default = 30;

        time_start_default = $("select[name='start_time']").val();
        time_range_default = $("select[name='project_range']").val();

        getRange(time_start_default, time_range_default);

        form.on('select(start_time)', function(data){
            var start_time = $("select[name='start_time']").val();
            var project_range = $("select[name='project_range']").val();
            getRange(start_time, project_range);
        });

        form.on('select(project_range)', function(data){
            var start_time = $("select[name='start_time']").val();
            var project_range = $("select[name='project_range']").val();
            getRange(start_time, project_range);
        });



        function getRange (time_start, time_range)
        {
            layer.load();

            var url = "{php echo $this->createWebUrl('manage/appointAdd')}" + "&action=formatRange&time_start=" + time_start + "&time_range=" + time_range;

            if (is_add == 0)
            {
                var id = '{$id}';
                url += '&id=' + id;
            }


            $.post(url, {}, function (data) {
                data = JSON.parse(data);
                if (data.time_array.length > 0)
                {
                    var strs='';
                    $(".time_range_body").empty();
                    layui.each(data.time_array, function(index, item){

                        if (is_add == 0)
                        {
                            if (data.time_selected.indexOf(item) == -1)
                            {
                                strs += '<input type="checkbox" name="time_ranges[]" lay-skin="primary" value="' + item + '" title="' + item + '">';
                            }
                            else
                            {
                                strs += '<input type="checkbox" name="time_ranges[]" lay-skin="primary" checked value="' + item + '" title="' + item + '">';
                            }
                        }
                        else
                        {
                            strs += '<input type="checkbox" name="time_ranges[]" lay-skin="primary" checked value="' + item + '" title="' + item + '">';
                        }



                    });
                    $(".time_range_body").html(strs);
                    form.render();
                    layer.closeAll();
                }
            });
        }

        form.on('submit(formSub)', function(data){
            var formData = data.field;
            layer.load();

            var url = "{php echo $this->createWebUrl('manage/appointAdd')}";

            var id = '{$id}';
            var data = formData;
            data.action = 'edit';
            if (id > 0) {
                data.id = id;
            }
            $.post(url, data, function (data) {
                data = JSON.parse(data);
                layer.closeAll();
                if (!data.type) {
                    layer.msg('服务器错误!');
                    return false;
                }
                if (data.type == 'success') {
                }
                layer.msg('成功', {
                    offset: '15px'
                    ,icon: 1
                    ,time: 1000
                }, function(){
                    layer.load();
                    var url = "{php echo $this->createWebUrl('manage/appoint')}";
                    window.location.href = url;
                });
            });

            return false;
        });




    });

    function goBackUrl ()
    {
        history.back();
    }
</script>
<script src="../../../addons/{$module_name}/images/js/main.js"></script>
</body>
</html>