<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../../addons/{$module_name}/images/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../../addons/{$module_name}/images/layuiadmin/style/admin.css" media="all">
    <link rel="stylesheet" href="../../../addons/{$module_name}/images/css/main.css" media="all">
</head>
<body>

<style>
    .layui-table-cell {
        height: auto;
    }
</style>

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">文章列表</div>
                <div class="layui-card-body">
                    <!--搜索-->
                    <div class="test-table-reload-btn layui-inline" style="margin-bottom: 10px;">
                        <form class="layui-form" action="" onsubmit="return false">
                            <div class="layui-inline">
                                <select name="projectTitle" lay-verify="required">
                                    <option value="0">请选择分类</option>
                                    {loop $classify_list $index $item}
                                    {if $item['id'] == $project_id}
                                    <option value="{$item['id']}" selected>{$item['title']}</option>
                                    {else}
                                    <option value="{$item['id']}">{$item['title']}</option>
                                    {/if}
                                    {/loop}
                                </select>
                            </div>
                            标题：
                            <div class="layui-inline">
                                <input class="layui-input" name="searchName" id="test-table-demoReload2"
                                       autocomplete="off" value="{$searchName}">
                            </div>
                            <button class="layui-btn" data-type="reload">搜索</button>
                        </form>
                    </div>

                    <table class="layui-hide" id="test-table-autowidth" lay-filter="test-table-autowidth"></table>
                    <!--行内操作按钮  设置为会员   禁用   删除（测试用）-->
                    <script type="text/html" id="test-table-autowidth-barDemo">


                        {{#  if(d.status == 1){ }}
                        <button type="button" class="layui-btn layui-btn-xs layui-btn-warm"
                                itemId="{$item['id']}" lay-event="btn-off">
                            不显示
                        </button>
                        {{# } else { }}
                        <button type="button" class="layui-btn layui-btn-xs layui-btn-normal"
                                itemId="{$item['id']}" lay-event="btn-on">
                            显示
                        </button>

                        {{#  } }}
                        <button type="button" class="layui-btn layui-btn-xs layui-btn-danger"
                                itemId="{$item['id']}" lay-event="btn-del">
                            删除
                        </button>
                        <button type="button" class="layui-btn layui-btn-xs"
                                itemId="{$item['id']}" lay-event="btn-edit">
                            编辑
                        </button>
                        <button type="button" class="layui-btn layui-btn-xs layui-btn-normal"
                                itemId="{$item['id']}" lay-event="btn-sync">
                            同步到文章库
                        </button>


                    </script>
                </div>
            </div>
        </div>
    </div>
</div>



{template 'common/footer'}

<style>
    .friend-link{
        text-align: center;
    }
    .copyright{
        text-align: center;
        padding-bottom: 20px;
    }
</style>

<input type="hidden" name="itemId">

<script src="../../../addons/{$module_name}/images/layuiadmin/layui/layui.js"></script>
<script>
    var src = '{$src}';
    var g_$ = '';
    var $ = '';
    layui.use(['table', 'form'], function () {
        g_$ = layui.$;
        $ = layui.$;
        var table = layui.table;
        var layer = layui.layer
            , admin = layui.admin
            , form = layui.form;

        //获取参数group_id

        layer.load();
        table.render({
            elem: '#test-table-autowidth'
            // ,url: 'manage_base/company/index'//数据接口
            , url: src//数据接口
            // ,cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
            , cellMinHeight: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
            , page: true
            , toolbar: true
            , cols: [[
                {
                    field: 'cover', title: '封面图'
                    , style: 'max_width:100px'
                    , templet: function (d) {
                        if (d.cover) {
                            return '<img  src="' + d.cover + '"/>'
                        }
                        return '';
                    }
                },
                {field: 'title', title: '标题'},
                {field: 'classify_title', title: '分类'},
                {field: 'name', title: '所属员工'},
                {field: 'top', title: '排序值'},
                {field: 'create_time', title: '创建时间'},
                {align:'center', width:280, toolbar: '#test-table-autowidth-barDemo', title: '操作'}

            ]]
            , done: function (res, curr, count) {
                layer.closeAll();
            }
        });
        form.render();




        //监听工具条
        table.on('tool(test-table-autowidth)', function(obj){
            var data = obj.data;
            var id = data.id;

            if(obj.event === 'btn-off'){
                var id = data.id;
                if (!id) {
                    layer.msg('获取信息失败!');
                    return false;
                }
                //禁用（
                layer.confirm('小程序不显示该文章?', function(index){
                    var url = "{php echo $this->createWebUrl('manage/articlestaff')}";
                    var data = {
                        action: 'off',
                        id: id,
                    };
                    $.post(url, data, function (data) {
                        layer.closeAll();
                        layer.load();
                        data = JSON.parse(data);
                        if (!data.type) {
                            layer.msg('服务器错误!');
                            return false;
                        }
                        if (data.type == 'success') {
                            layer.msg(data.message);
                        }
                        setTimeout(function () {
                            // layer.load();
                            // window.location.reload();
                            $(".layui-laypage-btn").click()
                        }, 1500)
                    });
                });
            }


            if(obj.event === 'btn-on'){
                var id = data.id;
                if (!id) {
                    layer.msg('获取信息失败!');
                    return false;
                }
                //禁用（
                layer.confirm('小程序显示该文章?', function(index){
                    var url = "{php echo $this->createWebUrl('manage/articlestaff')}";
                    var data = {
                        action: 'on',
                        id: id,
                    };
                    $.post(url, data, function (data) {
                        layer.closeAll();
                        layer.load();
                        data = JSON.parse(data);
                        if (!data.type) {
                            layer.msg('服务器错误!');
                            return false;
                        }
                        if (data.type == 'success') {
                            layer.msg(data.message);
                        }
                        setTimeout(function () {
                            // layer.load();
                            // window.location.reload();
                            $(".layui-laypage-btn").click()
                        }, 1500)
                    });
                });
            }


            if(obj.event === 'btn-del'){
                var id = data.id;
                if (!id) {
                    layer.msg('获取信息失败!');
                    return false;
                }
                //禁用（
                layer.confirm('是否删除该文章?', function(index){
                    var url = "{php echo $this->createWebUrl('manage/articlestaff')}";
                    var data = {
                        action: 'del',
                        id: id,
                    };
                    $.post(url, data, function (data) {
                        layer.closeAll();
                        layer.load();
                        data = JSON.parse(data);
                        if (!data.type) {
                            layer.msg('服务器错误!');
                            return false;
                        }
                        if (data.type == 'success') {
                            layer.msg(data.message);
                        }
                        setTimeout(function () {
                            // layer.load();
                            // window.location.reload();
                            $(".layui-laypage-btn").click()
                        }, 1500)
                    });
                });
            }


            if(obj.event === 'btn-sync'){
                var id = data.id;
                if (!id) {
                    layer.msg('获取信息失败!');
                    return false;
                }
                //禁用（
                layer.confirm('是否同步该文章?', function(index){
                    var url = "{php echo $this->createWebUrl('manage/articlestaff')}";
                    var data = {
                        action: 'sync',
                        id: id,
                    };
                    $.post(url, data, function (data) {
                        layer.closeAll();
                        layer.load();
                        data = JSON.parse(data);
                        if (!data.type) {
                            layer.msg('服务器错误!');
                            return false;
                        }
                        if (data.type == 'success') {
                            layer.msg(data.message);
                        }
                        setTimeout(function () {
                            // layer.load();
                            // window.location.reload();
                            $(".layui-laypage-btn").click()
                        }, 1500)
                    });
                });
            }


            if(obj.event === 'btn-edit'){
                var url = "{php echo $this->createWebUrl('manage/articleedit')}" + '&id=' + id + '&is_staff=1';
                layer.load();
                window.location.href = url;
            }

        });




        var active = {
            reload: function () {
                var searchName = $('#test-table-demoReload2');
                var projectTitle = $("select[name='projectTitle']");

                //执行重载
                table.reload('test-table-autowidth', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    , where: {
                        key: {
                            searchName: searchName.val(),//传入input里面的值
                            projectTitle: projectTitle.val(),//传入input里面的值
                        }
                    }
                });
            }
        };

        $('.test-table-reload-btn .layui-btn').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });


    });


</script>
</body>
</html>