<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../../addons/{$module_name}/images/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../../addons/{$module_name}/images/layuiadmin/style/admin.css" media="all">
    <link rel="stylesheet" href="../../../addons/{$module_name}/images/css/main.css" media="all">
    <!--<script src="../../../addons/{$module_name}/images/js/jquery.min.js"></script>-->


    <link href="./resource/css/bootstrap.min.css?v=20170426" rel="stylesheet">
    <link href="./resource/css/common.css?v=20170426" rel="stylesheet">
    <script type="text/javascript">
        if(navigator.appName == 'Microsoft Internet Explorer'){
            if(navigator.userAgent.indexOf("MSIE 5.0")>0 || navigator.userAgent.indexOf("MSIE 6.0")>0 || navigator.userAgent.indexOf("MSIE 7.0")>0) {
                alert('您使用的 IE 浏览器版本过低, 推荐使用 Chrome 浏览器或 IE8 及以上版本浏览器.');
            }
        }
        window.sysinfo = {
        {if !empty($_W['uniacid'])}'uniacid': '{$_W['uniacid']}',{/if}
        {if !empty($_W['acid'])}'acid': '{$_W['acid']}',{/if}
        {if !empty($_W['openid'])}'openid': '{$_W['openid']}',{/if}
        {if !empty($_W['uid'])}'uid': '{$_W['uid']}',{/if}
        'isfounder': {if !empty($_W['isfounder'])}1{else}0{/if},
            'family': '{IMS_FAMILY}',
                'siteroot': '{$_W['siteroot']}',
                'siteurl': '{$_W['siteurl']}',
                'attachurl': '{$_W['attachurl']}',
                'attachurl_local': '{$_W['attachurl_local']}',
                'attachurl_remote': '{$_W['attachurl_remote']}',
                'module' : {'url' : '{if defined('MODULE_URL')}{MODULE_URL}{/if}', 'name' : '{if defined('IN_MODULE')}{IN_MODULE}{/if}'},
            'cookie' : {'pre': '{$_W['config']['cookie']['pre']}'},
            'account' : {php echo json_encode($_W['account'])},
            'server' : {'php' : '{php echo phpversion()}'},
        };
    </script>
    <script>var require = { urlArgs: 'v=20170426' };</script>
    <script type="text/javascript" src="./resource/js/lib/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="./resource/js/lib/bootstrap.min.js"></script>
    <script type="text/javascript" src="./resource/js/app/util.js?v=20170426"></script>
    <script type="text/javascript" src="./resource/js/app/common.min.js?v=20170426"></script>
    <script type="text/javascript" src="./resource/js/require.js?v=20170426"></script>
</head>
<body>


<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">商品管理</div>

                <div class="layui-card-body">


                    <form class="layui-form" action="" onsubmit="return false">

                        <div class="layui-form-item">
                            <label class="layui-form-label">商品名</label>
                            <div class="layui-input-block">
                                <input type="text" name="name" required  lay-verify="required" placeholder="请输入商品名" autocomplete="off" class="layui-input" value="{$info['name']}">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">副标题</label>
                            <div class="layui-input-block">
                                <input type="text" name="s_title" required  lay-verify="required" placeholder="请输入副标题" autocomplete="off" class="layui-input" value="{$info['s_title']}">
                                <span class="span-remark">副标题用于商品海报处展示</span>
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">请选择分类</label>
                            <div class="layui-input-block">
                                <select name="type" lay-verify="required">
                                    {loop $typeList $item}
                                    {if $item['id'] == $info['type']}
                                    <option value="{$item['id']}" selected>{$item['title']}</option>
                                    {else}
                                    <option value="{$item['id']}">{$item['title']}</option>
                                    {/if}
                                    {/loop}
                                </select>
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">封面图</label>
                            <div class="layui-input-block">
                                {php echo tpl_form_field_image('cover', $info['cover']);}
                                <span class="span-remark">图片建议尺寸: 750 * 699</span>
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">轮播图片</label>
                            <div class="layui-input-block">
                                {php echo tpl_form_field_multi_image('images', $info['images']);}
                                <span class="span-remark">图片建议尺寸: 750 * 750</span>
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">跳转链接</label>
                            <div class="layui-input-block">
                                <input type="text" name="image_url" placeholder="请输入网址" autocomplete="off" class="layui-input" value="{$info['image_url']}">
                                <span class="span-remark">点击轮播图跳转网址</span>
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">商品价格</label>
                            <div class="layui-input-block">
                                <input type="number" min="0" name="price" required  lay-verify="required" placeholder="请输入商品价格" autocomplete="off" class="layui-input" value="{$info['price']}">
                                <span class="span-remark">商品列表展示价格，购买价格请前往设置规格, 价格填写为0，默认显示【面议】，若【商城设置】-【虚拟支付设置】-【面议按钮】进行了文字自定义，则显示自定义的文字内容。</span>
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">运费</label>
                            <div class="layui-input-block">
                                <input type="number" min="0" name="freight" required  lay-verify="required" placeholder="请输入运费" autocomplete="off" class="layui-input" value="{$info['freight']}">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">浏览量</label>
                            <div class="layui-input-block">
                                <input type="number" min="0" name="view_count" required  lay-verify="required" placeholder="请输入浏览量" autocomplete="off" class="layui-input" value="{$info['view_count']}">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">销售量</label>
                            <div class="layui-input-block">
                                <input type="number" min="0" name="sale_count" required  lay-verify="required" placeholder="请输入销售量" autocomplete="off" class="layui-input" value="{$info['sale_count']}">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">总库存</label>
                            <div class="layui-input-block">
                                <input type="number" min="0" name="stock" required  lay-verify="required" placeholder="请输入总库存" autocomplete="off" class="layui-input" value="{$info['stock']}">
                                <span class="span-remark">请前往设置规格里面添加库存</span>
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">单位</label>
                            <div class="layui-input-block">
                                <input type="text" name="unit" lay-verify="required" placeholder="个" autocomplete="off" class="layui-input" value="{$info['unit']}">
                                <span class="span-remark">商品单位，如：个、件、瓶、套等</span>
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">分销提成</label>
                            <div class="layui-input-block">
                                <input type="number" min="0" max="100" name="extract" placeholder="请输入分销提成" autocomplete="off" class="layui-input" value="{$info['extract']}">
                                <span class="span-remark">用户消费, 其上线所得提成。提成为百分比，取值0到100之间，超出取值范围按0计算，无上线时无提成, 不填按默认提成比列计算</span>
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">是否自提</label>
                            <div class="layui-input-block">
                                {if $info['is_self'] == 1}
                                <input type="radio" name="is_self" value="1" title="是" checked>
                                <input type="radio" name="is_self" value="0" title="否">
                                {else}
                                <input type="radio" name="is_self" value="1" title="是">
                                <input type="radio" name="is_self" value="0" title="否" checked>
                                {/if}

                                <span class="span-remark">自提商品不需要发货, 后台可以直接完成提货订单</span>
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">排序值</label>
                            <div class="layui-input-block">
                                <input type="number" min="0" name="top" required  lay-verify="required" placeholder="请输入排序值" autocomplete="off" class="layui-input" value="{$info['top']}">
                                <span class="span-remark">倒序, 值越大排名越靠前</span>
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">设为推荐</label>
                            <div class="layui-input-block">
                                {if $info['recommend'] == 1}
                                <input type="radio" name="recommend" value="1" title="是" checked>
                                <input type="radio" name="recommend" value="0" title="否">
                                {else}
                                <input type="radio" name="recommend" value="1" title="是">
                                <input type="radio" name="recommend" value="0" title="否" checked>
                                {/if}

                                <span class="span-remark">设为推荐则该商品会在所属商品分类中置顶</span>
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">商品规格</label>
                            <div class="layui-input-block">
                                <div class="layui-input-inline" style="width: 100px;margin-right: 20px;height: 36px;line-height: 36px;text-align: center">
                                    规格名称
                                </div>
                                <div class="layui-input-inline" style="width: 100px;height: 100%;height: 36px;line-height: 36px;text-align: center">
                                    商品价格
                                </div>
                                <div class="layui-input-inline" style="width: 100px;height: 100%;height: 36px;line-height: 36px;text-align: center">
                                    商品库存
                                </div>
                            </div>
                        </div>

                        {if $standardList}

                        {loop $standardList $item}


                        <div class="layui-form-item">
                            <label class="layui-form-label"></label>
                            <div class="layui-input-block">
                                <div class="layui-input-inline" style="width: 100px;margin-right: 20px">
                                    <input type='hidden' name='standard_id[]' value="{$item['id']}">
                                    <input type="text" name="standard_title[]" placeholder="规格名称" autocomplete="off"
                                           class="layui-input" value="{$item['title']}">
                                </div>
                                <div class="layui-input-inline" style="width: 100px;">
                                    <input type="text" name="standard_price[]" placeholder="填写价格" autocomplete="off"
                                           class="layui-input" value="{$item['price']}">
                                </div>
                                <div class="layui-input-inline" style="width: 100px;">
                                    <input type="text" name="standard_stock[]" placeholder="填写库存" autocomplete="off"
                                           class="layui-input" value="{$item['stock']}">
                                </div>
                            </div>
                        </div>


                        {/loop}

                        {/if}



                        <div class="layui-form-item div-add-item">
                            <label class="layui-form-label"></label>
                            <div class="layui-input-block">
                                <button type="button" class="layui-btn btn-add-item">添加规格</button>
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">图文详情</label>
                            <div class="layui-input-block">
                                {php echo tpl_ueditor('content', $info['content']);}
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn" lay-submit lay-filter="formSub">下一步(前往设置商品规格)</button>
                                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                            </div>
                        </div>



                    </form>

                </div>
            </div>
        </div>
    </div>
</div>


{template 'common/footer'}

<style>
    .friend-link{
        text-align: center;
    }
    .copyright{
        text-align: center;
        padding-bottom: 20px;
    }
</style>

<script src="../../../addons/{$module_name}/images/layuiadmin/layui/layui.js"></script>
<script>

    layui.use(['layer', 'form'], function () {
        var layer = layui.layer
            , form = layui.form

        form.on('submit(formSub)', function(data){
            var formData = data.field;
            layer.load();

            var url = "{php echo $this->createWebUrl('manage/goodsedit')}";

            var id = '{$id}';
            var data = formData;
            data.action = 'edit';
            if (id > 0) {
                data.id = id;
            }
            var good_id_edit = 0;

            $.post(url, data, function (data) {

                data = JSON.parse(data);
                if (!data.type) {
                    layer.closeAll();
                    layer.msg('服务器错误!');
                    return false;
                }
                if (data.type == 'success') {
                }
                good_id_edit = data.message;
                var url = "{php echo $this->createWebUrl('manage/speEdit')}" + "&id=" +good_id_edit;

                window.location.href = url;
            });
            return false;
        });

    });

    function goBackUrl ()
    {
        history.back();
    }

    $('.btn-add-item').click(function () {
        var str = "                        <div class=\"layui-form-item\">\n" +
            "                            <label class=\"layui-form-label\"></label>\n" +
            "                            <div class=\"layui-input-block\">\n" +
            "                                <div class=\"layui-input-inline\" style=\"width: 100px;margin-right: 20px\">\n" +
            "                                    <input type='hidden' name='standard_id[]' value='0'>\n" +
            "                                    <input type=\"text\" name=\"standard_title[]\" placeholder=\"规格名称\" autocomplete=\"off\"\n" +
            "                                           class=\"layui-input\">\n" +
            "                                </div>\n" +
            "                                <div class=\"layui-input-inline\" style=\"width: 100px;\">\n" +
            "                                    <input type=\"text\" name=\"standard_price[]\" placeholder=\"填写价格\" autocomplete=\"off\"\n" +
            "                                           class=\"layui-input\">\n" +
            "                                </div>\n" +
            "                                <div class=\"layui-input-inline\" style=\"width: 100px;\">\n" +
            "                                    <input type=\"text\" name=\"standard_stock[]\" placeholder=\"填写库存\" autocomplete=\"off\"\n" +
            "                                           class=\"layui-input\">\n" +
            "                                </div>\n" +
            "                            </div>\n" +
            "                        </div>";
        $('.div-add-item').before(str);
    });
</script>
<script src="../../../addons/{$module_name}/images/js/main.js"></script>
</body>
</html>