{template 'web/common/header'}

<div class="page">

    <div class="page_content">

		
			


			<style>
			.label{font-size: 13px}
			form{
				margin-top:20px;
			}
			</style>
			<div style="margin-top:20px">
			    <h3 style="float: left;margin-top: 0;">积分流水</h3>
			</div>
			<form class="form-horizontal" action="" method="post">
			    <table class="table we7-table table-hover article-list vertical-middle">
			        <tr>
                        <td>用户头像</td>
			            <td>用户昵称</td>
                        <td>积分</td>
                        <td>类型</td>
                        <td>积分说明</td>
                        <td>订单号</td>
			            <td>时间</td>
			        </tr>
			        {loop $scorelist $item}
			        <tr>
			            <td style="width:140px">
			                <img src="{$item['avatar']}" alt="" style="width:100px;height: 100px">
			            </td>
                        <td>
                            {$item['nickname']}
                        </td>
                        <td>
                            {$item['score']}
                        </td>
			            <td>
			                {if $item['type'] == "add"}
			                    <span class="label  label-success">获得</span>
			                {else}
			                    <span class="label  label-primary">消费</span>
			                {/if}
			            </td>
                        <td>
                            {$item['message']}
                        </td>
                        <td>
                            {$item['orderid']}
                        </td>
                        <td>
                            {$item['creattime']}
                        </td>
			        </tr>
			        {/loop}
			    </table>
			</form>

            <div class="fenye">
                {$pager}
            </div>

	</div>

</div>