html
{
	width: 100%;
	height: 100%;
}
body
{
	margin: 0;
	padding: 0;
	background: #F5F5F5 !important;
	padding-bottom: 70px;
}
a 
{
	color: inherit !important;
	text-decoration: none !important;
}
.top
{
	width: 100%;
	height: 70px;
	padding: 0 4%;
	background: #eeeeee;
	display: -webkit-flex;
	flex-direction: row;
}
.top_one
{
	flex: 1;
	display: -webkit-flex;
	align-items: center;
	padding-right: 20px;
}
.top_two
{
	flex: 3;
	display: -webkit-flex;
	align-items: center;
	flex-direction: row;
}
.btn_one
{
	flex: 1;
	height: 38px;
	background: #9d9ca4;
	text-align: center;
	line-height: 38px;
	color: #fff;
	border-radius:5px 0 0 5px ;
	font-family: "微软雅黑";
	font-size: 12px;
}
.btn_two
{
	flex: 1;
	height: 38px;
	background: #fb9a3b;
	text-align: center;
	line-height: 38px;
	color: #fff;
	font-family: "微软雅黑";
	font-size: 12px;
}
.btn_there
{
	flex: 1;
	height: 38px;
	background: #3dc34a;
	text-align: center;
	line-height: 38px;
	color: #fff;
	border-radius:0 5px 5px 0;
	font-family: "微软雅黑";
	font-size: 12px;
}
.one_li
{
	width: 100%;
	height: 38px;
	background: #333333;
	text-align: center;
	line-height: 38px;
	color: #eee;
	border-radius:5px ;
	font-family: "微软雅黑";
	font-size: 12px;
}
.huyong
{
	height: 100%;
}
.bottmo
{
	margin-bottom: 10px;
}
.liebiao
{
	width: 100%;
	/*height: 90px;*/
	background: #fff;
	padding-bottom: 10px;
	padding-top: 12px;
	border-bottom: 1px solid #eee;
}
.lie_top
{
	width: 100%;
	display: -webkit-flex;
	flex-direction: row;
	background: white;
	padding: 0 4%;
}
.names
{
	font-family: "微软雅黑";
	font-size: 16px;
	color: #000000;
}
.show_time
{
	width: 50px;
	font-family: "微软雅黑";
	letter-spacing: 2px;
	font-size: 20px;
	color: #ccc;
	line-height: 13px;
	text-align: right;
	position: relative;
}
.lie_two
{
	width: 100%;
	display: -webkit-flex;
	flex-direction: row;
	padding: 0 4%;
	background: white;
	margin-top: 5px;
	position: relative;
}
.litwo_yi
{
	width: 56px;
	display: -webkit-flex;
	flex-direction: row;
	font-family: "微软雅黑";
	font-size: 14px;
	color: #3dc34a;
}
.zhuangtai
{
	width: 100%;
	height: 13px;
	border-right:1px solid #ccc ;
	margin-top: 3px;
	line-height: 14px;
}
.litwo_er
{
	width: 60%;
	display: -webkit-flex;
	flex-direction: row;
	font-family: "微软雅黑";
	font-size: 14px;
	color: #fb9a3b;
	padding-left: 3%;
}
.litwo_san
{
	position: absolute;
	top: 0;
	right: 4%;
	display: -webkit-flex;
	justify-content: flex-end;
}

.litwo_er span
{
	font-family: "微软雅黑";
	color: #000;
}

.lie_there
{
	width: 100%;
	padding: 0 4%;
	font-family: "微软雅黑";
	color: #000;
	display: -webkit-flex;
	flex-direction: row;
	margin-top: 4px;
}
.money_sol
{
	font-family: "微软雅黑";
	color: #000;
	margin-right: 20px;
}
.lie_four
{
	width: 100%;
	padding: 0 4%;
	display: -webkit-flex;
	flex-direction: row;
	margin-top: 7px;
	margin-bottom: 3px;
}
.four_one
{
	flex: 1;
	height: 32px;
	text-align: center;
	line-height: 32px;
	background: #37bcf4;
	color: white;
	border-radius:5px ;
	font-family: "微软雅黑";
	font-size: 12px;
	margin-right: 6px;
}
.four_one span
{
	color: #fff;
}
.four_two
{
	flex: 1;
	height: 32px;
	text-align: center;
	line-height: 32px;
	background: #37bcf4;
	color: white;
	border-radius:5px ;
	font-family: "微软雅黑";
	font-size: 12px;
	margin-right: 6px;
}
.four_two span
{
	color: white;
}
.four_four
{
	flex: 1;
	height: 32px;
	text-align: center;
	line-height: 32px;
	background: #37bcf4;
	color: white;
	border-radius:5px ;
	font-family: "微软雅黑";
	font-size: 12px;
	margin-right: 6px;
}
.four_four span
{
	color: white;
}

.four_there
{
	flex: 1;
	height: 32px;
	text-align: center;
	line-height: 32px;
	background: #73d052;
	color: white;
	border-radius:5px ;
	font-family: "微软雅黑";
	font-size: 12px;
}
.four_there span
{
	color: white;
}
.add_miss
{
	width: 100%;
	display: -webkit-flex;
	flex-direction: row;
	padding: 0 4%;
	margin-top: 4px;
}
.ids
{
	font-family: "微软雅黑";
	color: #9d9ca4;
	font-size: 15px;
	margin-right: 15px;
}
.surplus
{
	width: 150px;
	font-family: "微软雅黑";
	font-size: 14px;
	color: #9d9ca4;
}
.surplus span
{
	color: #fc6866;
}

.footer
{
	width: 100%;
	height: 50px;
	background: white;
	position: fixed;
	left: 0;
	bottom: 0;
	display: -webkit-flex;
	flex-direction: row;
	border-top:1px solid #eee ;
}
.footer_li
{
	flex: 1;
	height: 50px;
	color: #ADADAD
}
.maobin
{
	flex: 1;
}
.footbiao
{
	width: 100%;
	height: 25px;
	justify-content: center;
	align-items: center;
	display: -webkit-flex;
	font-size: 16px;
	margin-top: 3px;
}
.footzi
{
	width: 100%;
	height: 20px;
	justify-content: center;
	/*align-items: center;*/
	display: -webkit-flex;
	font-family: "微软雅黑";
	font-size: 12px;
}
.banma
{
	color:#10a9ff;
}
.mui-table-view-cell
{
	padding: 4.5% 0 4.5% 0 !important;
	font-size: 16px;
}
.top_one a
{
	width: 100%;
}

.code
{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	/*display: none;*/
}
.code_li
{
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .3);
	display: -webkit-flex;
	justify-content: center;
	align-items: center;
}
.dialogs
{
	width: 78%;
	background: #fff;
	border-radius:13px;
	opacity: 0.95;
}
.dialogs_topwt
{
	width: 100%;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-family: "微软雅黑";
	font-size: 16px;
    font-weight: 500;
    background: #ffe561;
    border-radius:12px 12px 0 0;
    position: relative;
}
.dialogs_center
{
	width: 100%;
	display: -webkit-flex;
	justify-content: center;
	padding: 10px 0;
}
.dialogs_center img
{
	width: 180px;
	height: 180px;
}
.dialogs_bottmo
{
	width: 100%;
	height: 45px;
	text-align: center;
	line-height: 45px;
	font-family: "微软雅黑";
	font-size: 17px;
	border-top:1px solid #ddd ;
	color: #007aff;;
}
.address
{
	width: 100%;
	display: -webkit-flex;
	flex-direction: row;
	padding: 0 4%;
	margin-bottom: 15px;
}
.address input
{
	width: 70%;
	border: 1px solid #CCCCCC;
	outline: none;
	padding-left: 5px;
	border-radius:3px 0 0 3px;
}
.address button
{
	width: 30%;
	border-radius:0 3px 3px 0;
	font-family: "微软雅黑";
	font-size: 12px;
	color: #333;
	border: 1px solid #CCCCCC;
	border-left:none ;
	text-align: center;
}
.yinmodel
{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 200;
}
.mui-table-view-cell > a:not(.mui-btn)
{
	padding: 5px 5px 5px 5px !important;
}
.dachu
{
	font-weight: bold;
}

.codeb
{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	/*display: none;*/
}
.code_lis
{
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .5);
	display: -webkit-flex;
	justify-content: center;
	align-items: center;
}
.dialogsb
{
	width: 82%;
	background: #fff;
	border-radius:13px;
	opacity: 0.95;
}
.dialogs_topwts
{
	width: 100%;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-family: "微软雅黑";
	font-size: 16px;
    font-weight: 500;
    background: #ffe561;
    border-radius:12px 12px 0 0;
    position: relative;
}
.dialogs_centers
{
	width: 100%;
	max-height: 380px;
	min-height: 130px;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	padding: 10px 0;
}
.dialogs_centers img
{
	width: 180px;
	height: 180px;
}
.dialogs_bottmos
{
	width: 100%;
	height: 45px;
	text-align: center;
	line-height: 45px;
	font-family: "微软雅黑";
	font-size: 17px;
	border-top:1px solid #ddd ;
	color: #007aff;;
}
.addressb
{
	width: 100%;
	display: -webkit-flex;
	flex-direction: row;
	padding: 0 4%;
	margin-bottom: 15px;
	justify-content: center;
	font-family: "微软雅黑";
	font-size: 12px;
	color: #666;
}
.xuans
{
	width: 100%;
	display: -webkit-flex;
	flex-direction: row;
	border-top:1px solid #ddd ;
}
.dialogs_yes
{
	flex: 1;
	height: 42px;
	text-align: center;
	line-height: 42px;
	font-family: "微软雅黑";
	font-size: 15px;
	color: #007aff;
	border-right:1px solid #ddd ;
}
.dialogs_no
{
	flex: 1;
	height: 42px;
	text-align: center;
	line-height: 42px;
	font-family: "微软雅黑";
	font-size: 15px;
	color: #666;
}
.inquts
{
	width: 100%;
	padding: 5px 5%;
}
.namex
{
	width: 100%;
	padding: 8px 0;
	font-family: "微软雅黑";
	font-size: 14px;
	color: #333;
	font-weight: bold;
}
.selt
{
	width: 100%;
	position: relative;
}
.down
{
	height: 34px;
	line-height: 34px;
	position: absolute;
	top: 0;
	right: 5%;
}
.form-control
{
	border: 1px solid #ccc !important;
	-webkit-box-shadow: inherit !important;
}
.list
{
	display: block;
	font-family: "微软雅黑";
	font-size: 12px;
	color: #BBBBBB;
	margin-top: 5px;
	margin-left: 5px;
}
.form-group
{
	margin-bottom: 0 !important;
}
.dansa
{
	border: 1px solid #ccc !important;
	border-right:inherit !important;
}
@media only screen and (min-width: 1024px) 
{
    body
    {
    	padding:0 25%;
    	padding-bottom: 60px;
    }
    #forward
    {
    	padding-right: 50%;
    } 
}