body
{
	margin: 0;
	padding: 0;
	background: #F5F5F5 !important;
	padding-bottom: 70px;
}
a 
{
	color: inherit !important;
	text-decoration: none !important;
}
.xinbeijing
{
	background:url(../img/six.png);
	background-size:100% 100%;
}
.dings
{
	width: 100%;
	height: 38px;
	display: -webkit-flex;
	flex-direction: row;
	/*border-bottom: 1px solid white;*/
}
.top_zuo
{
	flex: 2;
	color: #333333;
	justify-content: center;
	align-items: center;
	display: -webkit-flex;
}
.top_zuo a
{
	color: #333333;
}
.top_zhong
{
	flex: 7;
	color: white;
	justify-content: center;
	align-items: center;
	display: -webkit-flex;
	font-family: "微软雅黑";
	font-size: 17px;
}
.top_you
{
	flex: 1;
	justify-content: center;
	align-items: center;
	display: -webkit-flex;
	font-family: "微软雅黑";
	color: #333333;
	font-size: 15px;
	padding-top: 5px;
	
}
.top_you a
{
	color: #333333;
}
.top
{
	width: 100%;
	height: 85px;
	
}
.top_tu
{
	width: 100%;
	padding-left: 5%;
}
.top_mei
{
	width: 90%;
	height: 60px;
	margin: 0 auto;
	display: -webkit-flex;
	flex-direction: row;
	font-family: "微软雅黑";
	font-size: 18px;
	color: #1F1F1F;
	
}
.top_mei span
{
	color: #42b9fe;
}
.baiquan
{
	width: 50px;
	height: 50px;
	border-radius:50%;
	background: #F5F5F5;
	justify-content: center;
	align-items: center;
	display: -webkit-flex;
	float: left;
}
.baiquan img
{
	width: 50px;
	height: 50px;
	border-radius:50%;
}
.heiying_two a span
{
	color: white;
	font-size: 16px;
	opacity: 0.8;
}
.manes
{
	height: 50px;
	margin-left: 10px;
}
.manes_one
{
	height: 25px;
	font-family: "微软雅黑";
	font-size: 16px;
	color: white;
	margin-left: 60px;
	
}
.manes_two
{
	height: 20px;
	background: rgba(0,0,0,0.5);
	font-family: "微软雅黑";
	font-size: 12px;
	color: #EEEEEE;
	text-align: center;
	line-height: 20px;
	border-radius:10px ;
	padding: 0 8px;
	float: left;
	margin-left: 10px;
}
.hongbao
{
	width: 100%;
	/*height: 200px;*/
	border-radius:10px 10px 0 0;
	background: white;
	margin-top: -10px;
	padding-bottom: 10px;
}
.hongbao_two
{
	width: 100%;
	/*height: 200px;*/
	border-radius:10px 10px 0 0;
	background: white;
	margin-top: 10px;
	padding-bottom: 10px;
}
.jingxiang
{
	width: 100%;
	background: white;
	padding-top: 10px;
	border-radius:10px 10px 0 0;
}
.jngxiang_li
{
	width: 90%;
	height: 55px;
	/*border: 1px solid red;*/
	display: -webkit-flex;
	flex-direction: row;
	margin: 0 auto;
}
.jingxiang_one
{
	flex: 1;
	align-items: center;
	display: -webkit-flex;
}
.jingxiang_two
{
	flex: 8;
	align-items: center;
	display: -webkit-flex;
	font-family: "微软雅黑";
	font-size: 18px;
	color: #657182;
	font-weight: bold;
}
.jingxiang_there
{
	flex: 1;
	justify-content: flex-end;
	align-items: center;
	display: -webkit-flex;
	font-size: 20px;
	color: #ccc;
}
.duyide
{
	width: 25px;
	height: 25px;
	background: #ff7272;
	border-radius:50% ;
	justify-content: center;
	align-items: center;
	display: -webkit-flex;
}
.duyide span
{
	color: white;
	font-size: 14px;
}
.duyide_two
{
	width: 25px;
	height: 25px;
	background: #37bcf4;
	border-radius:50% ;
	justify-content: center;
	align-items: center;
	display: -webkit-flex;
}
.duyide_two span
{
	color: white;
	font-size: 14px;
}
.duyide_there
{
	width: 25px;
	height: 25px;
	background: #73d052;
	border-radius:50% ;
	justify-content: center;
	align-items: center;
	display: -webkit-flex;
}
.duyide_there span
{
	color: white;
	font-size: 14px;
}
.quan
{
	width: 22px;
	height: 22px;
	border-radius:50%;
	border: 1px solid #CCCCCC;
	justify-content: center;
	align-items: center;
	display: -webkit-flex;
}
.quan span
{
	margin-left: 2px;
	font-size: 16px;
}
.yuen
{
	width: 100%;
}
.yuen_top
{
	width: 90%;
	margin: 0 auto;
	height: 40px;
	border-bottom: 1px solid #f0f1f4;
	display: -webkit-flex;
	flex-direction: row;
	position: relative;
}
.kuai
{
	width: 10px;
	height: 40px;
	display: -webkit-flex;
	flex-direction: row;
	align-items: center;
}
.kuai_li
{
	width: 4px;
	height: 12px;
	border-radius: 10px;
	background: #37bcf4;
}
.kuai_one
{
	width: 120px;
	height: 40px;
	line-height: 40px;
	font-family: "微软雅黑";
	color: #667383;
	font-size: 16px;
}
.kuai_two
{
	width: 47px;
	height: 23px;
	line-height: 23px;
	font-family: "微软雅黑";
	color: #fff;
	font-size: 14px;
	position: absolute;
	right: 0;
	top: 5px;
	background: #ff7272;
	border-radius:5px ;
	text-align: center;
}
.yuen_bottmo
{
	width: 90%;
	margin: 0 auto;
	display: -webkit-flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.yong
{
	flex: 1;
	height: 60px;
}
.yong_top
{
	width: 100%;
	height: 30px;
	line-height: 30px;
	font-family: "微软雅黑";
	color: #8998ae;
	font-size: 12px;
}
.yong_bottmo
{
	width: 100%;
	height: 30px;
	line-height: 20px;
	font-family: "微软雅黑";
	color: #647082;
	font-size: 18px;
	font-weight: bold;
}
.yong_bottmo span
{
	font-size: 12px;
	font-weight: inherit;
}
.footer
{
	width: 100%;
	height: 50px;
	background: white;
	position: fixed;
	left: 0;
	bottom: 0;
	display: -webkit-flex;
	flex-direction: row;
	border-top:1px solid #eee ;
}
.footer_li
{
	flex: 1;
	height: 50px;
	color: #ADADAD
}
.maobin
{
	flex: 1;
}
.footbiao
{
	width: 100%;
	height: 25px;
	justify-content: center;
	align-items: center;
	display: -webkit-flex;
	font-size: 16px;
	margin-top: 3px;
}
.footzi
{
	width: 100%;
	height: 20px;
	justify-content: center;
	/*align-items: center;*/
	display: -webkit-flex;
	font-family: "微软雅黑";
	font-size: 12px;
}
.banma
{
	color:#10a9ff;
}
.yuanxin
{
	width: 50px;
	height: 50px;
	background: white;
	border-radius:50%;
	justify-content: center;
	align-items: center;
	display: -webkit-flex;
	margin-top: -15px;
}
.yuanxin_one
{
	width: 40px;
	height: 40px;
	background: #ff586f;
	border-radius:50% ;
	justify-content: center;
	align-items: center;
	display: -webkit-flex;
}
.yuanxin_one span
{
	color: white;
}
@media only screen and (min-width: 1024px) 
{
    body
    {
    	width: 50%;
    	margin: 0 auto;
    } 
}