body
{
	margin: 0;
	padding: 0;
	background: #fff !important;
	padding-bottom: 70px;
}
a 
{
	color: inherit !important;
	text-decoration: none !important;
}
.namex
{
	width: 100%;
	padding: 8px 0;
	font-family: "微软雅黑";
	font-size: 14px;
	color: #333;
	font-weight: bold;
}
.namex_te
{
	width: 100%;
	padding: 8px 0;
	display: -webkit-flex;
	flex-direction: row;
}
.te_one
{
	flex: 1;
	font-family: "微软雅黑";
	font-size: 14px;
	color: #333;
	font-weight: bold;
	display: -webkit-flex;
	align-items: center;
}
.inquts
{
	width: 100%;
	padding: 10px 5%;
}
.container
{
    width: 100%;
    height: 100%;
    clear: both;
    padding: 0 !important;
}
.z_file
{
	width: 80px;
	height: 80px;
	background:url(../img/shangchaun.png);
	background-size: 100% 100%;
	float: left;
	margin-right: 10px;
}
.z_file input
{
	width: 80px;
	height: 80px;
	border: none;
	outline: 0;
    opacity: 0;
}
.kuanma
{
	width: 80px;
	height: 80px;
	float: left;
	position: relative;
}
.kuanma img
{
	width: 80px;
	height: 80px;
}
.delt
{
	width: 60px;
	height: 24px;
	border-radius:5px;
	background: #222222;
	color: white;
	text-align: center;
	line-height: 24px;
	position: absolute;
	left: 10px;
	top: -35px;
	font-family: "微软雅黑";
	font-size: 12px;
	display: none;
	z-index: 9999;
}
.hide
{
	display: none;
}
.list
{
	display: block;
	font-family: "微软雅黑";
	font-size: 12px;
	color: #BBBBBB;
	margin-top: 5px;
	margin-left: 5px;
}
.list_du
{
	display: block;
	font-family: "微软雅黑";
	font-size: 12px;
	color: #BBBBBB;
	margin-left: 5px;
}
.form-control
{
	border: 1px solid #ccc !important;
	-webkit-box-shadow: inherit !important;
}
.mui-radio input
{
	margin-top: 0px !important;
}
.mui-radio span
{
	margin-right: 15px;
}
.form-group
{
	margin-bottom: 0 !important;
}
.selt
{
	width: 100%;
	position: relative;
}
.down
{
	height: 34px;
	line-height: 34px;
	position: absolute;
	top: 0;
	right: 5%;
}
.input-group-addon
{
	border-left:none !important;
	border-right:none !important;
}
.ending
{
	width: 100%;
	padding: 30px 0;
}
.total
{
	width: 80%;
	height: 40px;
	font-family: "微软雅黑";
	font-size: 14px;
	color: #fff;
	background: #23bfff;
	text-align: center;
	line-height: 40px;
	border-radius:5px;
	margin: 0 auto;
}
.mui-switch.mui-active 
{
    border-color: #23bfff;
    background-color: #23bfff;
}
.btn
{
	outline: none !important;
}
.bacolor
{
	background: #23bfff !important;
	color: #fff !important;
}
.rights
{
	display: -webkit-flex;
	justify-content: flex-end;
}
.mui-switch:before
{
	margin-top: 1px;
}
.file-box
{
	width:100%;
}
.zhecai
{
	width: 20%;
	position:relative;
	float: right;
}
.mingixan
{
	font-family: "微软雅黑";
	font-size: 14px;
	color: #666;
	margin-left: 20px;
}
.txt
{
	height:35px;
	border: 1px solid #ccc !important;
	width:80%;
	padding-left:10px ;
	background: white;
	border-radius:4px 0 0 4px;
	border-right:none !important;
}
.btn_one
{
	background-color:#FFF;
    height:35px;
    width:100%;
    border-radius:0 4px 4px 0 !important;
    color: #666 !important;
    border: 1px solid #E5E5E5 !important;
}
.file
{
	position:absolute;
	top:0;
	left:0;
	height:35px;
	filter:alpha(opacity:0);
	opacity: 0;
	width:100%;
}
.excel_btn
{
	width: 31%;
	height: 30px;
	background: #23bfff;
	color: #fff;
	font-family: "微软雅黑";
	font-size: 12px;
	text-align: center;
	line-height: 30px;
	border-radius:4px;
	margin-top: 12px;
}
.footer
{
	width: 100%;
	height: 50px;
	background: white;
	position: fixed;
	left: 0;
	bottom: 0;
	display: -webkit-flex;
	flex-direction: row;
	border-top:1px solid #eee ;
	z-index: 100;
}
.footer_li
{
	flex: 1;
	height: 50px;
	color: #ADADAD
}
.maobin
{
	flex: 1;
}
.footbiao
{
	width: 100%;
	height: 25px;
	justify-content: center;
	align-items: center;
	display: -webkit-flex;
	font-size: 16px;
	margin-top: 3px;
}
.footzi
{
	width: 100%;
	height: 20px;
	justify-content: center;
	/*align-items: center;*/
	display: -webkit-flex;
	font-family: "微软雅黑";
	font-size: 12px;
}
.banma
{
	color:#10a9ff;
}
.dansa
{
	border: 1px solid #ccc !important;
	border-right:inherit !important;
}
@media only screen and (min-width: 1024px) 
{
    body
    {
    	width: 50%;
    	margin: 0 auto;
    } 
}

.lodings
{
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 99999;
}
.lodings_li
{
	width: 100%;
	height: 100%;
	display: -webkit-flex;
	justify-content: center;
	align-items: center;
}
.lodings_ku
{
	width: 160px;
	height: 50px;
	border-radius:20px;
	display: -webkit-flex;
	justify-content: center;
	align-items: center;
	color: #ffc704 !important;
}
.lodings_ku i
{
	font-size: 80px;
	color: #ffc704 !important;
}
