/*-----------------[初始化]--------------*/

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}

body {
    color: #333;
    font-size: 14px;
    line-height: 1.5;
    background: #fff;
    font-family: Helvetica Neue, PingFang SC, Helvetica, Arial, Hiragino Sans GB, Microsoft Yahei, \\5FAE\8F6F\96C5\9ED1, STHeiti, \\534E\6587\7EC6\9ED1, sans-serif;
}

a {
    color: inherit;
}

a:hover {
    color: inherit;
}

img {
    max-width: 100%;
    transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    -o-transition: .5s;
}

input, select, textarea, button {
    font: inherit;
    color: inherit;
}

input[type='submit'],
input[type='reset'],
input[type='button'],
input[type='radio'],
input[type='checkbox'],
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

select::-ms-expand {
    display: none;
}

input:focus, textarea:focus {
    outline: none;
}

input::-ms-clear {
    display: none;
}

input[type='submit'],
input[type='reset'],
input[type='button'] {
    cursor: pointer;
}

::-webkit-input-placeholder {
    color: #999;
}

::-moz-placeholder {
    color: #999;
}

::-ms-input-placeholder {
    color: #999;
}


/*布局*/

.wp {
    *zoom: 1;
    margin: 0 auto;
}

.wp:before, .wp:after {
    display: block;
    content: "clear";
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden;
}


.slot-ban a {
    display: block;
}

.slot-ban a img {
    display: block;
    width: 100%;
}

.slot-tabs {
    position: relative;
    height: 41px;
}

.header-nav {
    position: absolute;
    width: 100%;
    z-index: 99;
    line-height: 40px;
    border-bottom: 1px solid #e3e3e3;
    height: 41px;
    overflow: hidden;
    background-color: #fff;
    padding-right: 50px;
}

.slot-tabs .filter-icon {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 40px;
    background-color: #fff;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, .4);
    background: url('../images/icon-down.png') no-repeat center center;
    -webkit-background-size: 15px auto;
    background-size: 15px auto;
}

.header-nav-list {
    font-size: 0;
    white-space: nowrap;
    overflow-x: auto;
}

.header-nav-list .item {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    font-size: 12px;
}

.header-nav-list .item a {
    display: block;
    padding: 0 15px;
    min-width: 78px
}

.header-nav-list .item.active span {
    position: relative;
    display: inline-block;
    color: #ff4201;
}

.header-nav-list .item.active span:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #ff4201;
}
.pop-bg {
    display: none;
    position: fixed;
    top: 0;left: 0;
    width: 100%;height: 100%;
    background-color: rgba(34,34,34,.6);
}
.header-nav-cont {
    position: fixed;
    top: 0;left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 100;
    overflow: hidden;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: .3s .3s;
    -o-transition: .3s .3s;
    transition: .3s .3s;
}
.header-nav-cont .item {
    float: left;
    width: 25%;
    text-align: center;
    line-height: 38px;
    margin: 5px 0 0;
}
.header-nav-cont .item.active {
    color: #ff4201;
}
.header-nav-cont.open {
    top: 41px;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}


.slot-list {
    overflow: hidden;
}

.slot-list .list {
    display: none;
}

.slot-list .list.active {
    display: block;
}

.slot-list .item {
    overflow: hidden;
    display: block;
}

.slot-list .item .pic {
    float: left;
    width: 110px;
    height: 110px;
}

.slot-list .item .pic img {
    display: block;
    width: 100%;
    height: 100%;
}

.slot-list .item .txt {
    overflow: hidden;
    border-bottom: 1px solid #e3e3e3;
    padding: 5px 10px;
}

.slot-list .item .name {
    font-size: 13px;
    line-height: 19px;
    color: #4a4a4a;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    height: 38px;
}

.slot-list .item .name .icon {
    height: 13px;
    margin-right: 5px;
    line-height: 1;
    display: inline-block;
    vertical-align: top;
    position: relative;
    top: 2.5px;
}

.slot-list .item .info {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;
    color: #9b9b9b;
    font-size: 12px;
    padding: 5px 0;
}

.slot-list .item .price i {
    font-style: normal;
    text-decoration: line-through;
}

.discount-price {
    margin-top: 10px;
    overflow: hidden;
}

.coupon-icon {
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #f50;
    display: inline;
    font-size: 12px;
    border-radius: 2px;
    height: 14px;
    line-height: 14px;
    overflow: hidden;
    margin-right: 12px;
    position: relative;
}
.coupon-icon .coupon-icon-left {
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    width: 16px;
    height: 15px;
    color: #fff;
    background: #f50;
    text-align: center;
}
.coupon-icon .coupon-icon-right {
    color: #f50;
    display: inline-block;
    padding-right: 2px;
    padding-left: 20px;
}
.discount-price .price-title {
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    color: #9b9b9b;
    vertical-align: middle;
}
.discount-price .price-num {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    color: #f40;
}

.discount-price .price-num i {
    font-style: normal;
    font-size: .7em;
}


/* 2018/10/23 */
    .coupon-icon .coupon-icon-left{
        height: 18px;
        line-height: 18px;
    }
    .discount-price .price-num i{
        position: relative;
        top: -2px;
    }
    .discount-price .price-num{
        font-weight: bold;
    }
    .slot-list .item .pic{
        padding: 3px 0;
    }
    .slot-tabs.fix-top{
    	position: fixed;
    	top: 0;
    	width: 100%;
    	left: 0;
    	z-index: 99;
    }
/* 2018/10/23 end*/

/* 2018/10/24 */
    .to-top{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: url(../images/gotop.png) no-repeat center center ;
        -webkit-background-size: 100% auto;
        background-size: 100% auto;
        position: fixed;
        bottom: 100px;
        right: 20px;
        z-index: 3;
    }
    .slot-tabs .filter-icon{
        z-index: 100;
    }
    .pop-bg{
        z-index: 50;
    }
/* 2018/10/24 end*/