<div class="modal-dialog">

        <style>

        #selectUrl_url .modal-body {padding: 10px 15px;}

        #selectUrl_url .tab-pane {margin-top: 5px; min-height: 400px; max-height: 400px; overflow-y: auto;}

        #selectUrl_url .page-head {padding: 9px 0; margin-bottom: 8px;}

        #selectUrl_url .page-head h4 {margin: 0;}

        #selectUrl_url .btn {margin-bottom: 3px;}

        #selectUrl_url .modal-dialog {width: 930px;}

        #selectUrl_url .line {border-bottom: 1px dashed #ddd; color: #999; height: 36px; line-height: 36px;}

        #selectUrl_url .line .icon {height: 35px; width: 30px; position: relative; float: left;}

        #selectUrl_url .line .icon.icon-1:before {content: ""; width: 10px; height: 10px; border: 1px dashed #ccc; position: absolute; top: 12px; left: 10px;}

        #selectUrl_url .line .icon.icon-2 {width: 50px;}

        #selectUrl_url .line .icon.icon-2:before {content: ""; width: 10px; height: 10px; border-left: 1px dashed #ccc; border-bottom: 1px dashed #ccc; position: absolute; top: 12px; left: 20px;}

        #selectUrl_url .line .icon.icon-3 {width: 60px;}

        #selectUrl_url .line .icon.icon-3:before {content: ""; width: 10px; height: 10px; border-left: 1px dashed #ccc; border-bottom: 1px dashed #ccc; position: absolute; top: 12px; left: 30px;}

        #selectUrl_url .line .btn-sm {float: right; margin-top: 5px; margin-right: 5px; height: 24px; line-height: 24px; padding: 0 10px;}

        #selectUrl_url .line .text {display: block;}

        #selectUrl_url .line .label-sm {padding: 2px 5px;}

        #selectUrl_url .line.good {height: 60px; padding: 4px 0;}

        #selectUrl_url .line.good .image {height: 50px; width: 50px; border: 1px solid #ccc; float: left;}

        #selectUrl_url .line.good .image img {height: 100%; width: 100%;}

        #selectUrl_url .line.good .text {padding-left: 60px; height: 52px;}

        #selectUrl_url .line.good .text p {padding: 0; margin: 0;}

        #selectUrl_url .line.good .text .name {font-size: 15px; line-height: 32px; height: 28px;}

        #selectUrl_url .line.good .text .price {font-size: 12px; line-height: 18px; height: 18px;}

        #selectUrl_url .line.good .btn-sm {height: 32px; padding: 5px 10px; line-height: 22px; margin-top: 9px;}

        #selectUrl_url .tip {line-height: 250px; text-align: center;}

        #selectUrl_url .nav-tabs > li > a {padding: 8px 20px;}
        #selectUrl .modal-body {padding: 10px 15px;}

        #selectUrl .tab-pane {margin-top: 5px; min-height: 400px; max-height: 400px; overflow-y: auto;}

        #selectUrl .page-head {padding: 9px 0; margin-bottom: 8px;}

        #selectUrl .page-head h4 {margin: 0;}

        #selectUrl .btn {margin-bottom: 3px;}

        #selectUrl .modal-dialog {width: 930px;}

        #selectUrl .line {border-bottom: 1px dashed #ddd; color: #999; height: 36px; line-height: 36px;}

        #selectUrl .line .icon {height: 35px; width: 30px; position: relative; float: left;}

        #selectUrl .line .icon.icon-1:before {content: ""; width: 10px; height: 10px; border: 1px dashed #ccc; position: absolute; top: 12px; left: 10px;}

        #selectUrl .line .icon.icon-2 {width: 50px;}

        #selectUrl .line .icon.icon-2:before {content: ""; width: 10px; height: 10px; border-left: 1px dashed #ccc; border-bottom: 1px dashed #ccc; position: absolute; top: 12px; left: 20px;}

        #selectUrl .line .icon.icon-3 {width: 60px;}

        #selectUrl .line .icon.icon-3:before {content: ""; width: 10px; height: 10px; border-left: 1px dashed #ccc; border-bottom: 1px dashed #ccc; position: absolute; top: 12px; left: 30px;}

        #selectUrl .line .btn-sm {float: right; margin-top: 5px; margin-right: 5px; height: 24px; line-height: 24px; padding: 0 10px;}

        #selectUrl .line .text {display: block;}

        #selectUrl .line .label-sm {padding: 2px 5px;}

        #selectUrl .line.good {height: 60px; padding: 4px 0;}

        #selectUrl .line.good .image {height: 50px; width: 50px; border: 1px solid #ccc; float: left;}

        #selectUrl .line.good .image img {height: 100%; width: 100%;}

        #selectUrl .line.good .text {padding-left: 60px; height: 52px;}

        #selectUrl .line.good .text p {padding: 0; margin: 0;}

        #selectUrl .line.good .text .name {font-size: 15px; line-height: 32px; height: 28px;}

        #selectUrl .line.good .text .price {font-size: 12px; line-height: 18px; height: 18px;}

        #selectUrl .line.good .btn-sm {height: 32px; padding: 5px 10px; line-height: 22px; margin-top: 9px;}

        #selectUrl .tip {line-height: 250px; text-align: center;}

        #selectUrl .nav-tabs > li > a {padding: 8px 20px;}
    </style>

    <div class="modal-content">

        <div class="modal-header">

            <button data-dismiss="modal" class="close" type="button">×</button>

            <h4 class="modal-title">选择数据来源</h4>

        </div>

        <div class="modal-body">

            <ul class="nav nav-tabs" id="selectUrlTab">

                <li class="active"><a href="#sut_diypage">

                    {if $type == 'noticcate'}

                        公告栏目

                    {elseif $type == 'goodscate'}

                        商品栏目

                    {elseif $type == 'bargainCate'}

                        砍价栏目

                    {elseif $type == 'piccate'}

                        案例栏目

                    {elseif $type == 'articlecate'}

                        文章栏目

                    {elseif $type == 'picartcate'}

                        图文栏目

                    {elseif $type == 'ptcate'}

                        拼团栏目

                    {elseif $type == 'formcate'}

                        表单列表

                    {/if}

                </a></li>

            </ul>

            <div class="tab-content ">

                <div class="tab-pane active" id="sut_diypage">

                    <div class="alert alert-alt alert-danger alert-dismissible" role="alert">

                        选择对应的栏目后，小程序将从后台读取相应的栏目数据

                    </div>

                    <div id="select-diypage-list">

                        {loop $list $v}
                        
                        <div class="line">

                            <div class="icon icon-link1"></div>

                            <nav data-href="cateid:{$v['id']}" data-linktype="page" class="btn btn-default btn-sm" title="选择">选择</nav>
                            {if $type == "picartcate"}
                                <div class="text">
                                {if $v['type'] =="showPic"}
                                    <span class="label label-warning" style="margin-right: 5px">组图</span>
                                {/if}
                                {if $v['type'] =="showArt"}
                                    <span class="label label-success" style="margin-right: 5px">文章</span>
                                {/if}
                                <span style="font-weight: bold">{$v['name']}</span></div>
                            {else}
                                <div class="text" style="font-weight: bold">|-{$v['name']}</div>
                            {/if}
                        </div>
                          {loop $v['subcate'] $vi}
                              <div class="line">

                                <div class="icon icon-link1" style="margin-left: 10px"></div>

                                <nav data-href="cateid:{$vi['id']}" data-linktype="page" class="btn btn-default btn-sm" title="选择">选择</nav>
                                    {if $type == "picartcate"}
                                        <div class="text">
                                        {if $vi['type'] =="showPic"}
                                            <span class="label label-warning" style="margin-right: 5px">组图</span>
                                        {/if}
                                        {if $vi['type'] =="showArt"}
                                            <span class="label label-success" style="margin-right: 5px">文章</span>
                                        {/if}
                                        {$vi['name']}</div>
                                    {else}
                                        <div class="text">|--{$vi['name']}</div>
                                    {/if}
                                </div>
                          {/loop}
                        {/loop}

                    </div>

                </div>

            </div>

        </div>

        <div class="modal-footer">

            <button data-dismiss="modal" class="btn btn-default" type="button">关闭</button>

        </div>

        <script>

            $(function(){

                $("#selectUrl").find('#selectUrlTab a').click(function(e) {

                    $('#tab').val($(this).attr('href'));

                    e.preventDefault();

                    $(this).tab('show');

                });

                $(".select-btn").click(function(){

                    var type = $(this).data("type");

                    var kw = $.trim($("#select-"+type+"-kw").val());



                    if (type=='diyurl') {

                        if(!kw || kw==''){

                            tip.msgbox.err("请输入第三方链接");

                            return;

                        }

                        kw = kw.replace('http://', '');

                        kw = kw.replace('https://', '');

                        $('#select-diy-url').data('href', 'https://' + kw).trigger('click');

                        return;

                    }



                    if (type=='diymobile') {

                        if(!kw || kw==''){

                            tip.msgbox.err("请输入电话号码");

                            return;

                        }

                        $('#select-diy-diymobile').data('href','tel:'+kw).trigger('click');

                        $('#select-diy-diymobile').data('linktype','tel').trigger('click');

                        return;

                    }



                    if(type == 'diymap'){

                        if(!kw || kw == ''){

                            tip.msgbox.err('请填写经纬数据');

                            return;

                        }



                        $("#select-diy-diymap").data("href",kw).trigger('click');

                        $("#select-diy-diymap").data("linktype",'map').trigger('click');

                        return;

                    }



                    if(type == 'diyweb'){

                        if(!kw || kw == ''){

                            tip.msgbox.err('请填写网址');

                            return;

                        }



                        $("#select-diy-diyweb").data("href",kw).trigger("click");

                        $("#select-diy-diyweb").data("linktype",'web').trigger("click");

                    }



                    if(type == 'diyserver'){

                        $("#select-diy-diyserver").trigger('click');

                    }



                    if(type == 'diysys'){



                        var val = $("select[name='syslist']").find("option:selected").val();

                        var muilt = $("select[name='syslist']").find("option:selected").attr('muilt');



                        if(muilt == 1){

                            var syinfo = $("select[name='syslistinfo']").find("option:selected").val();

                            if(!syinfo || syinfo == ''){

                                tip.msgbox.err('请选择关联数据');

                                return;

                            }



                            $("#select-diy-sysurl").data("href",val+syinfo).trigger('click');

                            $("#select-diy-sysurl").data("linktype",'page').trigger('click');

                        }else{

                            $("#select-diy-sysurl").data("href",val).trigger('click');

                            $("#select-diy-sysurl").data("linktype",'page').trigger('click');

                        }



                        return;

                    }


                    if (type=='diyxcx') {
                        if(!kw || kw==''){
                            tip.msgbox.err("请输入小程序APPID");
                            return;
                        }
                        var path = $("#select-diyxcxurl-kw").val();
                        if(path != ''){
                            $("#select-diy-diymobile").data("href","appid:"+kw+',pagepath:'+path).trigger('click');
                            $("#select-diy-diymobile").data("linktype","mini").trigger('click');
                        }else{
                            $('#select-diy-diymobile').data('href','appid:'+kw).trigger('click');
                            $('#select-diy-diymobile').data('linktype','mini').trigger('click');
                        }
                        return;
                    }



                    $("#select-"+type+"-list").html('<div class="tip">正在进行搜索...</div>');

                    $.ajax("./index.php?c=site&a=entry&do=Diyindex&m=sudu8_page&op=query", {

                        type: "get",

                        dataType: "html",

                        cache: false,

                        data: {kw:kw, type:type}

                    }).done(function (html) {

                        $("#select-"+type+"-list").html(html);

                    });

                });



                /*操作系统链接*/

                $("select[name='syslist']").change(function () {

                    var muilt = $(this).find("option:selected").attr('muilt');

                    if(muilt == 1){

                        var action = $(this).find("option:selected").attr('action');

                        $.ajax("./index.php?c=site&a=entry&do=Diyindex&m=sudu8_page&op=getsyslist",{

                            type:"get",

                            dataType:"html",

                            cache:false,

                            data:{

                                action : action

                            }

                        }).done(function (html) {

                            $("select[name='syslistinfo']").html(html);

                            $("select[name='syslistinfo']").show();

                        });

                    }else{

                        $("select[name='syslistinfo']").html('');

                        $("select[name='syslistinfo']").hide();

                    }

                });

            });

        </script>

    </div>

</div>

