body{
    background: #ffff;
}
.content{
    display: flex !important;
    display: -webkit-flex !important;
    display: -ms-flex !important;
    margin: auto !important;
}
.g-head {
    background: transparent;
}
.g-header .g-box .g-head-center li .bar-list{
    color:#fff;
}
.g-header .g-box .g-head-center li .bar-list:hover {
    background: rgba(44, 50, 58, 0.18);
}
.qheader .g-box .g-head-center li .bar-list:hover {
    background: rgba(44, 50, 58, 0.85);
}
.qheader{
    background: #15253a;
}
.g-header .g-box .g-head-center li.current .bar-list{
    background: rgba(37, 38, 39, 0.18);
}
.qheader .g-box .g-head-center li.current .bar-list{
    background: rgba(44, 50, 58, 0.85);
}
/* banner */
.s-body{
    width: 100%;
    position: relative;
}
.s-body .focus-wrap {
    position: relative;
    height: 460px;
    margin-bottom: 40px;
    z-index: 2;
    background-color: #f1f2f3;
}
.focus-wrap .focus-list{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    margin: 0 auto;
    overflow: hidden;
}
.focus-wrap .focus-list li{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    float: left;
    display: none;
}
.focus-wrap .focus-list li:first-child{
    display: block;
}
.focus-wrap .focus-list li a{
    width: 100%;
    height:100%;
    display: block;
}
.focus-wrap .focus-list li img{
    width: 100%;
    height:100%;
}
.focus-wrap .focus-nav{
    width: 1230px;
    margin: auto;
    position: relative;
}
.focus-wrap .focus-nav .ranking{
    width: 220px;
    height: 320px;
    background: rgba(0,0,0,.5);
    box-shadow: 0px 0px 8px #696969;
    position: absolute;
    top: 90px;
    right: 0;
    overflow: hidden;
}

.focus-wrap .focus-nav ul li{
    height:305px;
    margin: 0 10px;
    color:rgba(255,255,255,.7);
    float: left;
    width: 200px;
}
.focus-wrap .focus-nav .ranking li .place{
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 25px;
    font-weight: 400;
    color: #fff;
    font-family: 微软雅黑;
    margin: 10px 0;
    text-align: center;
    font-weight: bold;
}
.focus-wrap .focus-nav .ranking li .place strong{
    float: left;
    font-size: 16px;
    display: block;
    width: 100px;
}
.place-box{
    width: 150px;
    height: 150px;
    text-align: center;
    line-height: 140px;
    margin: 15px auto 20px;
    overflow: hidden;
    border-radius: 50%;
    background: rgba(212, 212, 212, 0.29);
}
.place-box img{
    max-width: 100%;
}
.focus-wrap .focus-nav var{
    position: absolute;
    font-size: 160px;
    right: 122px;
    top: 65px;
    color: #e2b91a;
    z-index: 999;
    transform: rotate(-49deg);
    background: url(../images/king.png) no-repeat;
    background-size: 140px auto;
    display: inline-block;
    width: 140px;
    height: 95px;
    opacity: .8;
}
.focus-wrap .focus-nav .ranking li .name{
    text-align: center;
    font-size: 25px;
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.focus-wrap .focus-nav .ranking li span{
    text-align: center;
    display: block;
    line-height: 28px;
}
.focus-wrap .focus-nav .ranking a.isnull{
    width: 100%;
    display: block;
    line-height: 320px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}
/*列表*/
.mod-new{
    display: block;
    margin: 0 auto 28px;
}
.mod-new .title{
    height: 24px;
    line-height: 24px;
    margin: 0 0 20px;
}
.mod-new .title h2{
    font-size: 24px;
}
/*首页图片列表*/
.mod-row .mod-col .pic-layer{
    height: 250px;
    line-height: 248px;
    background: #e6e6e6;
    position: relative;
    width: 100%;
}
.mod-row .mod-col .pic-layer .subtitle{
    line-height: 25px;
    position: absolute;
    bottom: 0;
    color:#f1f1f1;
    font-size: 12px;
    background: rgba(0,0,0,.5);
    padding: 0 5px;
    right: 0;
    left: 0;
}
.mod-row .mod-col .pic-layer .subtitle i{
    color:#f1f1f1;
    vertical-align: middle;
}
.mod-row .mod-col .pic-layer .subtitle i.fn-time{
    font-size: 14px;
}

/*广告块*/
.advert{
    height:100px;
    border:1px solid #eee;
    overflow: hidden;
    margin: 0 9px 28px 7px;
}

/*右边排行榜*/
.newest{
    width: 260px;
    height:auto;
    margin-bottom: 10px;
    background: #fff;
    box-shadow: 0px 1px 2px #eee;
    margin-top: 45px;
}
.newest .s-title{
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    line-height: 37px;
    width: 100%;
    height: 37px;
    text-indent: 10px;
    color: #fff;
    border-radius: 4px 4px 0 0;
    /*background: #3b9eff;*/
    background: #ff549f;
}
.newest .s-title:hover{
    background: #f184b4;
}
.newest .s-title:before{
    content: '';
    width: 25px;
    height:25px;
    background: #fff url("../images/heat.png") no-repeat center;
    background-size: 20px auto;
    display: inline-block;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 5px;
}
.newest .s-title.on:before{
    content: '';
    background: #fff url("../images/new.png") no-repeat center;
    background-size: 20px auto;
}
.newest .s-title.on{
    background: #c261ef;
    /*margin-top: 20px;*/
}
.newest .s-title.on:hover{
    background: #ca88e8;
}
.newest .s-title i{
    width: 30px;
    height: 37px;
    display: inline-block;
    background: url(../images/go.png) no-repeat center;
    background-size: 30px auto;
    float: right;
}

.newest ul{
    margin: 15px 0;
    /*padding: 0 10px;*/
}
.newest li{
    width: 97%;
    position: relative;
    margin-top: 10px;
    padding-left: 5px;
    cursor: pointer;
}
.newest.new li:hover{
    box-shadow: 0px 0px 8px #c261ef;
}

.newest li:hover{
    box-shadow: 0px 0px 8px #ff549f;
}
.newest li a{
    display: inline-block;
    width: 90px;
    height: 65px;
    border: 1px solid #f5f3f3;
    line-height: 65px;
    text-align: center;
    overflow: hidden;
}

.newest li a img{
    height:100%;
}
.newest p{
    position: absolute;
    left:100px;
    top:0;
    text-align: justify;
    height:40px;
    padding: 0 5px 0 5px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    width: 150px;
    line-height: 30px;
}

.newest p.content-like{
    top:45px;
    right: 0;
    /*padding: 0;*/
    height:20px;
    line-height: normal;
}
.newest .home-r-rank-footer{
    line-height: 36px;
    height: 36px;
    text-align: center;
    border-top: 1px solid #f8f8f8;
}
.newest .home-r-rank-footer a {
    font-size: 14px;
    color: #707070;
}
.newest li .content-like .mod-data{
    float: right;
    margin-right: 8px;
}
.newest li .content-like .mod-data i{
    display: inline-block;
    width: 20px;
    height: 23px;
    background: url(../images/data.png) no-repeat;
    background-size: 17px auto;
    vertical-align: middle;
}






/*媒体查询*/
@media screen and (max-width: 1400px){
    .mod-new .mod-row .mod-col{
        width: 223px;
    }

}












