.novel-main{
    margin: 20px 0 10px;
    overflow: hidden;
}
.novel-main .novel-left{
    display: inline-block;
    float: left;
    background: #fff;
    box-shadow: 0 0 8px 1px #e4e5e6;
    padding: 0 10px;
    width: 870px;
}
.novel-main .novel-right{
    width: 320px;
    display: inline-block;
    background: #fff;
    box-shadow: 0 0 8px 1px #e4e5e6;
    float: right;
    min-height: 400px;
}
.novel-left li{
    border-bottom: 1px solid #eee;
    padding: 20px 10px;
    overflow: hidden;
}
.novel-left li a:hover{

}
.novel-left li:last-child{
    border-bottom: none;
}
.novel-left li .novelPic{
    display: inline-block;
    width: 150px;
    height:100px;
    float: left;
}
.novel-left li .novelPic img{
    width: 150px;
    height:100px;
}
.novel-left li .novel-box{
    display: inline-block;
    vertical-align: middle;
    height:100px;
    width: 680px;
    float: right;
}
.novel-left li .novel-box p{
    font-size: 16px;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.novel-left li .novel-box .text{
    font-size: 14px;
    color: #888;
    padding: 10px 0;
    display: block;
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    height: 33px;
    text-align: justify;
    margin-bottom: 8px;
    word-wrap: break-word;
}

.novel-left li .novel-box .box-f{
    display: inline-block;
    float: left;
}
.novel-left li .novel-box .box-f span{
    margin-right:10px;
}
.novel-left li .novel-box .box-f span i{
    color: #9e9e9e;
}
.novel-left li .novel-box .box-f span:last-child{
    margin-right: 0;
}
.novel-left li .novel-box .box-f span:last-child i{
    background-size: 20px auto;
    height: 24px;
}
.novel-left li .novel-box .box-r{
    display: inline-block;
    float: right;
}
.novel-left li .novel-box .box-r span{
    display: inline-block;
    padding: 2px 10px;
    margin-right: 5px;
    border-radius: 12px;
    color: #848080;
    border: 1px solid #afacac;
}
.novel-right .sub-tab .select li a p{
    color:#333;
}



/***********************************************/
/*资讯详情*/
.novel-main .novel-left h1{
    padding: 10px 0 7px 10px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.novel-main .novel-left .source var{
    font-style: normal;
    font-size: 14px;
}
.novel-main .novel-left .source{
    height:30px;
    padding-left: 10px;
    margin-top: 10px;
}
.novel-main .novel-left .source .see{
    margin-left: 10px;
    padding: 0;
    background: transparent;
    color: #888;
    cursor: pointer;
    vertical-align: middle;
}
.novel-main .novel-left .source span{
    display: inline-block;
    padding: 2px 10px;
    margin-right: 5px;
    border-radius: 12px;
    color: #fff;
    background: #5cb7f9;
}
.novel-main .novel-left .paragraph{
    padding: 30px;
    border-top: 1px solid #eee;
    margin-top: 10px;
}
.novel-main .novel-left .paragraph p{
    text-indent: 27px;
    /*margin-bottom: 10px;*/
    line-height: 25px;
    font-size: 14px;
    text-align: justify;
    word-wrap: break-word;
}
.novel-main .novel-left .paragraph img{
    display: block;
    margin: 30px auto;
    max-width: 100%;
}
.novel-main .novel-left .cut{
    padding: 30px 30px;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    overflow: hidden;
}
.novel-main .novel-left .cut a{
    cursor: pointer;
    display: inline-block;
}
.novel-main .novel-left .cut a i{
    font-size: 30px;
    vertical-align: middle;
    width: auto;
    color: #888;
}
.novel-main .novel-left .cut a.next{
    float: right;
}
.novel-main .novel-left .cut a:hover{
    color:#3b9eff;
}
.cut .prev-btn{
    display: inline-block;
    width: auto;
    vertical-align: middle;
}
.cut .prev-box{
    display: inline-block;
    width: 170px;
    height: 80px;
    background: #eaeaea;
    vertical-align: middle;
    position: relative;
}
.cut .prev-box:hover{
    background: rgba(59, 158, 255, 0.47);
}
.cut .prev-box .img-bg{
    display: block;
    width: 100%;
    height:80px;
    text-align: center;
    line-height: 79px;
}
.cut .prev-box .img-bg img{
    max-width: 100%;
    max-height: 100%;
}
.cut .prev-box p{
    font-size: 12px;
    color: #fff;
    padding: 0 4px;
    text-align: justify;
    position: absolute;
    bottom: 0;
    background: rgba(51, 51, 51, 0.41);
    min-height: 25px;
    right: 0;
    left: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 25px;
}





