.content{

    min-height: 593px;
    margin: 90px auto 0 !important;
}
.base {
    position: relative;
    width: 100%;
    height: 60px;
    background: #fff;
    overflow: hidden;
    border-bottom: 1px solid #ddd;
}
.base .base-info {
    float: left;
    width: 720px;
    padding: 13px 0 17px 20px;
}
.base .base-info .title{
    display: inline-block;
    margin-right: 12px;
    zoom: 1;
    vertical-align: middle;
    height: 30px;
    line-height: 36px;
    max-width: 610px;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 18px;
    font-weight: 400;
    color: rgb(85, 85, 85);
    font-family: "microsoft yaHei", 微软雅黑, arial;
    overflow: hidden;
}
/*标题右边的广告*/
.base .base-area {
    float: right;
    overflow: hidden;
    width: 300px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    border-left:1px solid #ddd;
}

/*视频*/
.spv-player{
    width: 100%;
    height:672px;
    overflow: hidden;
    display: flex;
    display: -webkit-flex;
    display: -ms-flex;
    position: relative;
    background: #fff;
}
.spv-player .play-box{
    width: 100%;
    height:540px;
    float: left;
    -webkit-flex: 1;
}
.spv-player .play-box video{
    width: 100%;
    height:100%;
    /*background: #333;*/
}
.spv-player .list-box{
    width: 300px;
    height:540px;
    /*overflow: hidden;*/
    position: relative;
    background: #1f1f1f;
    color:#fff;
}
.spv-player .list-box .tab{
    margin-left: 20px;
    height:48px;
    line-height: 48px;
    border-bottom: 1px solid #404040;
}
.spv-player .list-box .tab span{
    padding: 0 10px;
    height:47px;
    display: inline-block;
    cursor: pointer;
}
.spv-player .list-box .tab span.cur{
    border-bottom: 2px solid #3b9eff;
    color:#79b8f5;
}
.spv-player .list-box .sub-tab .reward,.spv-player .list-box .sub-tab .select{
    display: none;
    padding: 0 0px 20px 0px;
    height: 471px;
    overflow: hidden;
}
.spv-player .list-box .sub-tab .select p{
    left:120px !important;
    width: 170px;
}
.spv-player .list-box .sub-tab .select .num{
    color:#fff;
}


/**/
.spv-player .list-box .sub-tab .select1{
    margin: 0 20px 20px 20px;
    height:471px;
    overflow: hidden;
    padding-left: 5px;
    display: none;
}
.spv-player .list-box .sub-tab .select1 div{
    width: 262px;
    height:471px;
    overflow-y: auto;
    padding-top: 15px;
}
.spv-player .list-box .sub-tab .select1 a{
    width: 43px;
    height: 43px;
    border: 2px solid #2f2f2f;
    display: inline-block;
    color:#c3c3c3;
    background: #2f2f2f;
    margin: 2px;
    float: left;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    cursor: pointer;
}
.spv-player .list-box .sub-tab .select1 a.cur{
    border: 2px solid #3b9eff;
    color: #3b9eff;
}
/**/


.spv-player .list-box .sub-tab .select ul{
    overflow-y: auto;
    height: 471px;
    width: 317px;
}
.spv-player .list-box .sub-tab .select li{
    border-left: 3px solid transparent;
    padding-left: 20px;
    margin-right: 2px;
    width: auto;
}
.spv-player .list-box .sub-tab .select li.curlPlayVideoLi{
    border-left: 3px solid #3b9eff;
}
.spv-player .list-box .sub-tab div.reward{
    display: block;
    margin: 20px;
    height:451px;
    position: relative;
}
.spv-player .list-box .sub-tab .reward .reward-box{
    overflow: hidden;
    height: 415px;
}
.spv-player .list-box .sub-tab .reward .reward-content{
    overflow: auto;
    height:415px;
    width: 277px;
}

.spv-player .list-box .sub-tab div.reward .text{
    font-size: 12px;
    color: #999;
    position: absolute;
    bottom: 5px;
    text-align: center;
    width: 100%;
}
.spv-player .list-box .sub-tab div.reward .text var{
    font-size: 16px;
    font-style: normal;
    padding: 0 4px;
}
.spv-player .list-box .sub-tab div.reward .text var#count{
    color: #a43b1f;
}
.spv-player .list-box .sub-tab div.reward .text var#countprice{
    color: #da2657;
}
.spv-player .list-box .sub-tab div.reward .r-cel{
    display: inline-block;
    float: left;
    width: 74px;
    height: 125px;
    border: 1px solid #252525;
    margin: 5px;
    text-align: center;
    cursor: pointer;
    position: relative;
    font-size: 12px;
    color: #999;
}
.spv-player .list-box .sub-tab div.reward .r-cel img{
    width: 50px;
    height:50px;
    display: block;
    margin: 0 auto 10px;
}
.spv-player .list-box .sub-tab div.reward .r-cel p{
    text-align: center;
    color: #c37944;
    font-size: 12px;
    padding: 3px 10px 5px;
}
.spv-player .list-box .sub-tab div.reward .r-cel p i{
    float: right;
    vertical-align: middle;
    background-position: center;
}
.spv-player .list-box .sub-tab div.reward .r-cel a{
    display: block;
    width: 55px;
    height: 20px;
    background: #a03f35;
    color: #fff;
    border-radius: 10px;
    font-size: 12px;
    margin: auto;
}

.sub-tab{
    position: relative;
    /*overflow: hidden;*/
    padding: 0 !important;
}
.comment-right .sub-tab{
    padding: 10px !important;
}
.comment-right .sub-tab .select li a p{
    color:#333 !important;
}
.spv-player .interact{
    width: 100%;
    height: 120px;
    position: absolute;
    bottom: 0;
}
.spv-player .interact .share{
    width: 910px;
    overflow: hidden;
}
.spv-player .interact .bdsharebuttonbox{
    display: inline-block;
    float: left;
    padding: 10px 0 10px 15px;
}
.spv-player .interact .fn-updown{
    float: right;
    display: block;
    height: 50px;
    line-height: 50px;
}
.spv-player .interact .fn-updown span{
    padding: 0 20px;
    height: 100%;
    display: inline-block;
    cursor: pointer;
    color:#888;
}
.spv-player .interact .fn-updown span .isSelected{
    color:#da2657 ;
}
.spv-player .interact .fn-updown span var{
    font-style: normal;
}
.interact .interact-box{
    border-top: 1px solid #eee;
    margin: 0 15px;
    padding: 10px 0;
}
.interact .interact-box li i{
    display: inline-block;
    width: 1px;
    height: 20px;
    background: #d8d8d8;
    vertical-align: middle;
}
.interact .interact-box li{
    display: inline-block;
    padding: 0 10px;
    vertical-align: middle;
}
.interact .interact-box li:first-child{
    min-width: 200px;
}
.interact .interact-box li div{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    float: left;
    overflow: hidden;
}
.interact .interact-box li img{
    width: 100%;
    /*height:100%;*/
}
.interact .interact-box li p{
    line-height: 24px;
    padding-left: 20px;
    float: left;
    display: block;
}
.interact .interact-box li span{
    color:#888;
    vertical-align: middle;
}
.interact .interact-box li a {
    padding: 0px;
    border: 1px solid #00aaee;
    padding: 5px;
    margin-right: 5px;
    border-radius: 5px;
    color: #00aaee;
}
.interact .interact-box li a.tag{
    color:#da2657;
    border: 1px solid #da2657;
}

/*评论和展示*/
.comment{
    display: block;
    margin-top: 20px;
    overflow: hidden;
}
.comment-right{
    width: 320px;
    background: #fff;
    /*margin-left: 20px;*/
    float: right;
}
.comment-left{
    /*-webkit-flex: 1;*/
    background: #fff;
    width: 890px;
    float: left;
}
.spv-comment{
    width: 100%;
    margin-top: 10px;
}
.spv-comment .area-form,.spv-comment .area-box{
    padding: 20px 20px 0px 20px;
}
.spv-comment .comment-form {
    display: table;
    width: 100%;
    box-sizing: border-box;
    position: relative;
}
.spv-comment .comment-form .form-cell {
    display: table-cell;
    vertical-align: top;
    width: 100%;
}
.spv-comment .comment-form .form-cell .form-user-info {
    display: inline-block;
}
.form-cell .form-user-info a {
    display: inline-block;
    color: #2fb3ff;
}
.comment-form .form-cell .form-wordlimit {
    float: right;
    color: #909090;
}
.comment-form .form-cell .form-wordlimit span {
    font-family: Constantia,Georgia;
    font-size: 18px;
    font-weight: 400;
}
.comment-form .form-cell .form-textarea {
    width: 100%;
    margin-top: 5px;
    position: relative;
}
.comment-form .form-cell .form-textarea textarea {
    min-height: 81px;
    width: 100%;
    padding: 4px;
    box-sizing: border-box;
    line-height: 20px;
    font-size: 12px;
    border: 1px solid #d4d9dd;
    box-shadow: inset 0 3px 3px #ebebeb;
    outline: 0;
    resize: vertical;
    overflow: hidden;
}
.comment-form .form-cell .form-toolbar {
    margin-top: 0;
    position: relative;
    z-index: 102;
    zoom: 1;
    padding: 0;
    background: 0;
    border: 0;
    box-shadow: none;
}
.form-toolbar .form-btn-submit {
    float: right;
}

.form-toolbar .form-tool {
    display: inline-block;
    margin-right: 10px;
    position: relative;
    vertical-align: middle;
    padding: 10px 0 0;
    width: 100%;
}
.form-toolbar .form-action .form-btn-submit{
    display: inline-block;
    min-width: 79px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid #d1d1d1;
    background-color: #f2f2f2;
    color: #555;
}

/*评论展示*/
.area-box {
    position: relative;
    padding-top: 50px;
}
.area-box .comment-tab {
    height: 48px;
    line-height: 46px;
    width: 100%;
    border: 0;
    position: relative;
    top: 0;
    border-bottom: 1px solid #e5e5e5;
    font-size: 16px;
    color: #555;
    vertical-align: middle;
}
.area-box .comment-tab em {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    margin: 0 3px;
    color: #909090;
}
.area-box .comment-tab .comment-tab-left {
    float: left;
    color: #2fb3ff;
    border-bottom: 2px solid #2fb3ff;
    background: #fff;
    font-weight: 700;
    outline: 0;
    cursor: default;
}
/*.area-box .comment-tab .comment-tab-right {
    float: right;
    padding: 0 10px;
    font-size: 14px;
}*/
/**/
.comment-list li{
    padding: 15px 10px;
    border-bottom: 1px solid #eee;
    overflow: hidden;
}
.comment-list li:last-child{
    border-bottom: none;
}
.comment-list li .user-avatar{
    display: inline-block;
    width: 50px;
    height:50px;
    margin-right: 15px;
    float: left;
}
.comment-list li .user-avatar a{
    display: inline-block;
}

.comment-list li .user-avatar img{
    width: 50px;
    height:50px;
    border-radius: 50%;
}
.comment-list li .comment-section{
    display: inline-block;
    float: left;
}
.comment-list li .comment-section .user-info{
    width: 100%;
    font-size: 14px;
}
.comment-section .user-info .user-name{
    color: #2fb3ff;
}
.comment-section .user-info .comment-timestamp{
    margin: 0 10px 0 16px;
    font-size: 12px;
    color: #bbb;
}
.comment-list li .comment-section .comment-text{
    padding-top: 10px;
    margin-bottom: 5px;
    font-size: 14px;
}
.comment-list .comment-handle span{
    padding-right:15px;
    cursor: pointer;
}
.comment-list #not-comment{
    text-align: center;
    height: 100px;
    line-height: 100px;
    color:#888;
}
.sub-tab li p{
    color:#ccc !important;

}
#more-comment{
    width:100%;
    margin: 10px;
    text-align: center;
    display: none;
}
#more-comment span{
    cursor: pointer;
    display: inline-block;
    width: 100px;
    height:40px;
    color: #848484;
}
#more-comment span:hover{
    color: #3b9eff;
}




