.content {
    min-height: 593px;
    margin: 90px auto 0 !important;
}

/*分类顶部*/
.vault-top {
    padding: 0 20px 11px;
    background: #fff;
    box-shadow: 0 0 8px 1px #e4e5e6;
    clear: both;
}
.vault-top .sort-filter {
    margin: 0;
    padding-top: 9px;
    border-top: 0 none;
    border-bottom: 0 none;
    overflow: hidden;
    zoom: 1;
}
/*.vault-top .sort-filter .sort-filter-panel .item {
    display: none;
    zoom: 1;
    overflow: hidden;
    position: relative;
    padding: 5px 0 5px 10px;
}
.vault-top .sort-filter .sort-filter-panel .item.border {
     border-bottom: 1px solid #eee;
     margin: 0 0 9px;
     padding-bottom: 10px;
 }
.vault-top .sort-filter .sort-filter-panel .item label {
    position: absolute;
    top: 7px;
    left: 0;
    !*width: 44px;*!
    color: #999;
}
.vault-top .sort-filter .sort-filter-panel .item ul li {
    float: left;
    margin: 0;
    padding-bottom: 5px;
}
.vault-top .sort-filter .sort-filter-panel .item ul li a{
    padding: 0 10px;
    line-height: 23px;
    color:#555;
}
.vault-top .sort-filter .sort-filter-panel .item ul li.current a{
    cursor: default;
    background: #2fb3ff;
    color: #fff;
    border-radius: 13px;
    padding: 0 10px;
    display: block;
    white-space: nowrap;
    font-size: 13px;
}*/
.vault-top .sort-filter .sort-filter-handle {
    position: relative;
    top: 0;
    height: 30px;
}
.vault-top .sort-filter .sort-filter-handle .btn-handle {
    cursor: pointer;
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -28px;
    width: 90px;
    height: 30px;
}
.vault-top .sort-filter .sort-filter-handle .btn-handle a {
    width: 90px;
    height: 30px;
    display: block;
    text-align: center;
    line-height: 30px;
}
.vault-top .sort-filter .sort-filter-handle .btn-handle a:hover i{
    border-color: #6cc4f7 transparent;
}
.vault-top .sort-filter .sort-filter-handle .btn-handle a i{
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: #828384 transparent;
    border-width: 6px 5px 0px 5px;
    margin-left: 5px;
}
.vault-top .sort-filter .sort-filter-handle .btn-handle a.cur i{
    border-width: 0px 5px 6px 5px;
    margin-top: -4px;
    vertical-align: middle;
}
.vault-main {
    padding: 10px 20px 0;
    background: #fff;
    box-shadow: 0 0 8px 1px #e4e5e6;
    margin: 20px 0 10px;
    overflow: hidden;
    zoom: 1;
}
.vault-main .sort-title{
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
    padding-bottom: 3px;
    overflow: hidden;
}
.vault-main .sort-title .sort-label{
    float: left;
    width: 42px;
    margin-top: 1px;
    line-height: 30px;
    color: #909090;
    font-size: 14px;
}
.vault-main .sort-title .sort-item{
    vertical-align: middle;
    display: inline-block;
    line-height: 31px;
}
.vault-main .sort-title .sort-item select{
    border: 0;
    font-size: 13px;
    color: #555;
}

.vault-main .sort-title .sort-stat{
    float: right;
    line-height: 34px;
    font-size: 12px;
    color: #999;
}
.vault-main .sort-title .sort-stat b{
    margin: 0 4px;
    font-weight: 400;
}
.vault-main .sort-box,.vault-main .sort-box .panel {
    overflow: hidden;
    zoom: 1;
}
.vault-main .sort-box .panel .sort-cel{
    float: left;
    margin: 0 6px;
    width: 225px;
    /*height:380px;*/
    overflow: hidden;
}
.vault-main .sort-box .panel .sort-cel .sort-pack{
    position: relative;
    background-color: #f1f1f1;
    width: 223px;
    height:118px;
    text-align: center;
    cursor: pointer;
    border: 1px solid #f5f3f3;
    display: block;
}
.vault-main .sort-box .panel .sort-cel .pic-bg{
    width: 223px;
    height:335px;
    line-height: 333px;
}
.vault-main .sort-box .panel .sort-cel .pic-bg a{
    display: block;
    height: 100%;
}
.vault-main .sort-box .panel .sort-cel .sort-pack img{
    width: 100%;
    height:100%;
}
.vault-main .sort-box .panel .sort-cel .sort-pack p{
    display: inline-block;
    position: absolute;
    bottom: 5px;
    right: 0px;
    color: #fff;
    padding: 3px 6px;
    background-color: rgba(0,0,0,0.6);
    font-size: 12px;
}
.vault-main .sort-box .panel .sort-cel .sort-pack .straw{
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 30px;
    color: #0cce40;
    background: url(../images/tj.png) no-repeat top right;
    background-size: 35px auto;
    width: 38px;
    height: 38px;
}
.vault-main .sort-box .panel .sort-cel .sort-pack .fn-duoji{
    position: absolute;
    bottom: 5px;
    left: 5px;
    font-size: 20px;
    background: rgba(0,0,0,.5);
    color: #fff;
    width: 25px;
    text-align: center;
    border-radius: 2px;
}
.vault-main .sort-box .panel .sort-cel .title{
    height: 30px;
    text-align: left;
    padding-left: 10px;
    line-height: 30px;
    margin-bottom: 15px;
}
.vault-main .sort-box .panel .subtitle {
    color: #d6d5d5;
    padding: 5px 5px 3px 5px;
    position: absolute;
    bottom:0;
    left:0;
    right: 0;
    background: rgba(0,0,0,.5);
    text-align: left;
    line-height: normal;
}
.vault-main .sort-box .panel .subtitle .fn-see{
    font-size: 18px;
    vertical-align: middle;
}
.vault-main .sort-box .panel .subtitle span {
    float: right;
    cursor: pointer;
    line-height: 20px;
}
.vault-main .sort-box .panel .subtitle span i {
    /*height: 23px;*/
    font-size: 15px;
}
.vault-main .sort-box .panel .collect-box{
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
}
.vault-main .sort-box .panel .collect-box i{
    color: #888;
    font-size: 20px;
}
.vault-main .sort-box .panel .collect-box i.cur{
    color:#3b9eff;
}

.vault-main .sort-box .panel .sort-cel .info-list{
    height:70px;
    margin-bottom: 0;
    margin-top: 1px;
    padding: 5px 5px 5px 0;
}
.vault-main .sort-box .panel .sort-cel .info-list li{
    width: 220px;
    float: left;
    padding: 0;
    line-height: 18px;
    color:#999;
    text-align: right;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}
.vault-main .sort-box .panel .sort-cel .info-list li var{
    font-style: normal;
    float: left;
}
.vault-main .sort-box .panel .sort-cel .info-list .title{
    height:18px;
    line-height: 18px;
    overflow: hidden;
    color:#333;
    margin-bottom: 5px;
}
.vault-main .sort-box .panel .sort-cel .info-list .actor{
    color: #999;
    width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.vault-main .sort-box .panel .sort-cel .info-list em{
    font-style: normal;
}
.vault-main .sort-box .panel .sort-cel .info-list a{
    color: #999;
    display: inline-block;
    text-align: left;
    width: 100%;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}
.info-list li span{
    margin-right: 10px;
}
/*.info-list li i{
    color: #f50d0d;
}
.info-list li span i{
    color: #e28a19;
}*/
