.addplayer{
    width: 150px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    vertical-align: middle;
    color: white;
    background-color: #428BCA;
    margin-top: 10px;
    border-radius: 5px;
}
.addplayer:hover{
    cursor: pointer;
}