@charset "utf-8";
body{ font-size:0.625em; font-family:Microsoft YaHei, Arial; opacity:1; -webkit-transition:opacity .3s ease;background: #e7e7e7 url(../images/bg5.jpg) repeat ;overflow:hidden;overflow-y:auto;background-size: 100%;min-height: 100%;}

.clearfix:after {content:"\200B"; display:block; height:0; clear:both; }
.clearfix { *zoom:1; }
.ellipsis{white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis; -moz-binding:url('ellipsis.xml#ellipsis'); overflow:hidden;}
div[class*="-body"]{ -webkit-transform:translateZ(0);}
a{color:#333;text-decoration:none;-webkit-tap-highlight-color:rgba(0,0,0,0);}
a:active{color:#1b5da5;-webkit-tap-highlight-color:rgba(0,0,0,0);}
.none{ visibility:hidden;}
.ranking-body{ padding:60px 0px 10px 0px;}
.ranking-list{ display:table; width:100%;}
.ranking-list .tr{ display:table-row;}
.ranking-list .th{ display:table-cell; line-height:24px; position:relative;}
.ranking-list .td{ display:table-cell; line-height:50px; height:5px; background-color:#081e4e;}
.ranking-list .th .arrow{ position:absolute; left:45%; bottom:-12px; border-top-color:#5793d1;}
.ranking-list .th.th2 .arrow{border-top-color:#165ba3;}
.ranking-list .th.th1{ width:21%; min-width:60px; max-width:60px; color:#1b5da5; background-color:#5793d1; font-size:1.4em; text-align:center;}
.ranking-list .th.th2{ width:56%; color:#76ace5; background-color:#165ba3;  font-size:1.4em; text-align:center;}
.ranking-list .th.th3{ width:23%; color:#1b5da5; background-color:#5793d1;  font-size:1.4em; text-align:center;}
.ranking-list .td.td1{ width:21%; min-width:60px; max-width:60px; background-color:#0e4884;}
.ranking-list .td.td2{ width:56%; background-color:#0e4884;}
.ranking-list .td.td3{ width:23%; background-color:#165ba3; text-align:center; color:#ffffff;  font-size:1.8em;}
.ranking-list .td .user-head{ max-width:170px; color:#76ace5; font-size:1.6em;}
.ranking-list .td .user-head img{ margin:0px 5px;}
.foot{width:100%;min-width:300px;margin-top:10px;margin-bottom:50px;padding:10px 0;color:#555;text-align:center;}
.foot a{color:#555;margin:0 3px;}
.nav{ position: fixed; left: 0; bottom:0;  width: 100%; }
.nav a{ float: left; display: block; width: 100%; text-align: center;filter:alpha(opacity=50); background:rgba(255, 255, 255, 0.2) none repeat scroll 0 0 !important;color:#fff;padding: 5px 0 0;height:50px; }
.nav a.active{background-color: rgba(243,241,241,.9); color: RGB(0,180,181);}
.nav a:nth-child(2){width: 34%;}
.nav i{ font-size: 20px; line-height: 1.2;display: block;}
.fn-clear:after {visibility: hidden;display: block;font-size: 0;content: " ";clear: both;height: 0;}
.fn-clear{*zoom:1;}
h1,h2,h3,h4,h5,h6{font-size:100%;}

/*字体*/
@font-face{font-family:'fontello';src:url('fontello.eot?39525876');src:url('fontello.eot?39525876#iefix') format('embedded-opentype'),url('fontello.woff?39525876') format('woff'),url('fontello.ttf?39525876') format('truetype');font-weight:normal;font-style:normal;}
[class^="icon-"]:before,[class*=" icon-"]:before{font-family:"fontello";font-style:normal;font-weight:normal;speak:none;display:inline-block;text-decoration:inherit;width:1em;margin-right:.2em;text-align:center; /* opacity:.8; */ font-variant:normal;text-transform:none; /* fix buttons height,for twitter bootstrap */ line-height:1em; /* remove if not needed */ margin-left:.2em;}
.icon-spin4:before { content: '\e800'; } 
.icon-location:before { content: '\e804'; } 
.icon-phone:before { content: '\e801'; } 
.icon-cog:before { content: '\e807'; } 
.icon-angle-left:before { content: '\e808'; } 
.icon-angle-right:before { content: '\e809'; } 
.icon-user-1:before { content: '\e80c'; } 
.icon-export:before { content: '\e80a'; } 
.icon-trophy:before { content: '\e805'; } 
.icon-adult:before { content: '\e806'; } 
.icon-down-open-big:before { content: '\e802'; } 
.icon-right-open-big:before { content: '\e803'; } 
.icon-ok:before { content: '\e80b'; } 
.icon-credit-card:before { content: '\e80d'; } 
.icon-money:before { content: '\e80e'; } 
.icon-dollar:before { content: '\e80f'; } 
.icon-users:before { content: '\e810'; } 
.icon-user-add:before { content: '\e811'; } 
.icon-cancel:before { content: '\e812'; } 
.icon-ok-1:before { content: '\e814'; }
.icon-vhome:before { content: '\f015';}
.icon-mobile:before { content: '\e801'; } 
.icon-award:before { content: '\e803'; }
.icon-gift:before { content: '\e804'; }
.icon-inbox:before { content: '\e806'; }
.icon-eye-1:before { content: '\e807'; }