{template 'common/header'}
<link rel="stylesheet" type="text/css" href="../addons/mzhk_sun_plugin_member/template/style/style.css">
<script type="text/javascript" src="https://cdn.bootcss.com/bootstrap-select/2.0.0-beta1/js/bootstrap-select.js"></script>    
<link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/bootstrap-select/2.0.0-beta1/css/bootstrap-select.css">

<ul class="we7-page-tab">
	<li ><a href="{php echo $this->createWeburl('membertype');}">权益分类管理</a></li>
	<li class="active"><a>添加/编辑权益分类</a></li>
</ul>
<div class="clearfix">

	<form action="" method="post" class="we7-form" enctype="multipart/form-data" id="form1">
		<input type="hidden" name="id" value="{$info['id']}">

		<div id="myTabContent" class="tab-content">
				<div class="form-group">
					<label class="col-sm-2 control-label">分类名称</label>
					<div class="col-sm-8 form-control-static">
						<input type="text" class="form-control" name="indata[name]" value="{$info['name']}">
					</div>
				</div>
				<div class="form-group">
				    <label class="col-xs-12 col-sm-3 col-md-2 control-label">排序</label>
				    <div class="col-sm-9">
				        <input type="text" name="indata[sort]" class="form-control" value="{if $info}{$info['sort']}{else}255{/if}"  style="width: 200px;"/>
				    </div>
				    <div class="help-block col-sm-push-2 col-sm-12">*越小越靠前，一般0~255，默认255</div>
				    
				</div>

		</div>


		<div class="form-group">
			<input type="submit" name="submit" value="提交" class="btn btn-primary col-lg-1" />
			<input type="hidden" name="token" value="{$_W['token']}" />
		</div>
	</form>
	<script type="text/javascript">
		$(function(){
			$('.selectpicker').selectpicker();
		})
	</script>

</div>
{template 'common/footer'}