body{background-image: url(../images/color.png);
    background-repeat: repeat;
    font-size: 14px;
    line-height: 1.8;
    font-family: 'helvetica neue',tahoma,'hiragino sans gb',stheiti,'wenquanyi micro hei',\5FAE\8F6F\96C5\9ED1,\5B8B\4F53,sans-serif;}

.common{max-width: 7.5rem;
    margin: 0 auto;}
.top-banner{width: 7.5rem;
    height: 3.37rem;
    background: url(../images/topbanner.png) #fafafa;
    -moz-background-size: cover;
    background-size: cover;}
.vetas-wrap{width: 7.5rem;
    height: 5.55rem;
    background: url(../images/750-555.png) #fafafa;
    -moz-background-size: cover;
    background-size: cover;
    position: relative;}
.vetas-title{font-size: .34rem;
    color: #8b572a;
    text-align: center;
    padding-top: .2rem;
    position: relative;}
.vetas-title span{color: #e74431;}
.vetas-middle-wrap{height: auto!important;}
.mm-tel-validate-con{font-size: .84rem!important;}
.mm-tel-input-con{width: 6.89em;
    height: 1em;
    border-radius: .5em;
    background: #fff;
    display: block;
    margin: .2em auto 0;
    overflow: hidden;}
.mm-tel-input{color: #6d6c6c;    width: 100%;
    height: 100%;
    text-align: center;
    border: none;
    display: block;
    outline: none;
    font-size: .4em;
    padding: 0;font-family: inherit;}
.NCContainerCon{    width: 6.89em;
    height: 1em;
    margin: .2em auto;
    background: #fff;
    border-radius: .5em;
    display: block;}
.label{text-align: center;
    font-size: .4em;
    height: 2.2em;
    line-height: 2.2em;}
.apply-btn{width: 5.64rem!important;
    height: 1.02rem!important;
    margin-top: 0!important;
    padding-top: .08rem;
    box-sizing: border-box;
    background: url(../images/564-102.png) no-repeat!important;
    background-size: cover!important;
    cursor: pointer;
    margin: .8em auto 0;
    font-size: .48em;
    color: #fff;
    text-align: center;
    border: none;
    outline: none;
    display: block;}
.vetas-rule-link{font-size: .24rem;
    color: #8b572a;
    display: block;
    text-align: center;
    margin-top: .1rem;}
.rule-link{color: #8b572a;
    text-decoration: underline;}
.newer-top{width: 7.5rem;
    height: 1.31rem;
    background: url(../images/750-151.png) #fafafa;
    -moz-background-size: cover;
    background-size: cover;
    overflow: hidden;
    position: relative;}
.newer-text{color: #FFDA99;
    text-align: center;
    font-size: .26rem;
    margin-top: .7rem;}
.waterfall-column{float: left;}
.newer-item{width: 3.6rem;
    min-height: 4.14rem;
    padding-left: .08rem;
    padding-top: .08rem;
    background: #b9410a;
    box-sizing: border-box;
    float: left;
    margin-left: .07rem;
    margin-bottom: .08rem;
    padding-bottom: .05rem;
    position: relative;}
.newer-item-img-container{width: 3.43rem;
    height: 3.43rem;}
.newer-item-img{height: auto;
    max-width: 100%;
    vertical-align: top;}
.newer-title{color: #fecb7f;
    font-size: .28rem;
    text-align: left;
    width: 3.43rem;
    margin-top: .08rem;
    height: .5rem;
    padding-left: .05rem;}
.newer-title-text{display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 3.41rem;
    overflow: hidden;}
.newer-item-tag{position: absolute;
    left: .08rem;
    top: 0;
    background: url(../images/129-74.png);
    background-size: cover;
    width: 1.29rem;
    height: .74rem;}