body,div,dl,dt,dd,ul,ol,li,p,h1,h2,h3,h4,h5,h6,img,input{margin: 0; padding: 0;}
/*body{font-size:12px;font-family: '微软雅黑'；}*/
input,img{border:none;}
li{list-style: none;}
a{text-decoration: none;}




/*清除浮动*/
.clearfix:after{content:""; display:table; clear: both;}
.clearfix:{zoom:1;}