@import "iconfont.css";
body{background-color:#efeff4;color:#666;}

html{font-size:10px} 
@media screen and (min-width:321px) and (max-width:375px){html{font-size:11px}} 
@media screen and (min-width:376px) and (max-width:414px){html{font-size:12px}} 
@media screen and (min-width:415px) and (max-width:639px){html{font-size:15px}} 
@media screen and (min-width:640px) and (max-width:719px){html{font-size:20px}} 
@media screen and (min-width:720px) and (max-width:749px){html{font-size:22.5px}} 
@media screen and (min-width:750px) and (max-width:799px){html{font-size:23.5px}} 
@media screen and (min-width:800px){html{font-size:25px}}

#header .am-header-nav img {width:3rem;height:3rem;}
header.pro{background-color:transparent;color:#fff;z-index:999;}
header.pro span{background-color:#000;border-radius:50%;width:3.5rem;height:3.5rem;display: inline-block;text-align:center;color:#fff;line-height:3.5rem;opacity:0.5;}
.am-header .am-header-nav font{text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9);}

.am-slider{margin-top:-5rem;}

h1.am-topbar-brand{font-size:1.5rem}
.am-topbar .am-text-right{margin-right:0.5rem}

.am-g{margin-top:0.5rem;background-color:#fff;}
.am-btn-group a{margin:0;}

#appDateTime{background-color:transparent;}

.am-form-icon  .iconfont{
  position: absolute;
  left: 1.5rem;
  top: 50%;
  display: block;
  margin-top: -0.5em;
  line-height: 1;
  z-index: 2;
}


.am-form input[type="text"],
.am-form input[type="password"],
.am-form input[type="datetime"],
.am-form input[type="datetime-local"],
.am-form input[type="date"],
.am-form input[type="month"],
.am-form input[type="time"],
.am-form input[type="week"],
.am-form input[type="number"],
.am-form input[type="email"],
.am-form input[type="url"],
.am-form input[type="search"],
.am-form input[type="tel"],
.am-form input[type="color"],
.am-form-field {
  display: block;
  width: 100%;
  padding:0.5em;
  font-size: 1.6rem;
  line-height: 3.8rem;
  height:3.8rem;
  color: #555555;
  vertical-align: middle;
  background-color:#fff;
  background-image: none;
  border: 1px solid #ccc;
}
*:focus {outline:solid 0px red;}
.am-form select:focus,
.am-form textarea:focus,
.am-form input[type="text"]:focus,
.am-form input[type="password"]:focus,
.am-form input[type="datetime"]:focus,
.am-form input[type="datetime-local"]:focus,
.am-form input[type="date"]:focus,
.am-form input[type="month"]:focus,
.am-form input[type="time"]:focus,
.am-form input[type="week"]:focus,
.am-form input[type="number"]:focus,
.am-form input[type="email"]:focus,
.am-form input[type="url"]:focus,
.am-form input[type="search"]:focus,
.am-form input[type="tel"]:focus,
.am-form input[type="color"]:focus,
.am-form-field:focus {
  background-color: #f2f2f2;
  border-color: #3bb4f2;
  outline: 0;
  -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.075), 0 0 0px rgba(59, 180, 242, 0.3);
          box-shadow: inset 0 0px 0px rgba(0,0,0,.075), 0 0 0px rgba(59, 180, 242, 0.3);
-webkit-tap-highlight-color:rgba(255,255,255,0);
  border: 0px solid #ccc;
}


.am-navbar{background-color:#26a69a;color:#fff;}
.am-navbar a{color:#fff;}
