
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1459367024'); /* IE9*/
  src: url('iconfont.eot?t=1459367024#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1459367024') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1459367024') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1459367024#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-app:before { content: "\e600"; }
.icon-caller:before { content: "\e601"; }
.icon-camera:before { content: "\e602"; }
.icon-code:before { content: "\e603"; }
.icon-delete:before { content: "\e604"; }
.icon-deliver:before { content: "\e605"; }
.icon-eraser:before { content: "\e606"; }
.icon-favor:before { content: "\e607"; }
.icon-file2:before { content: "\e608"; }
.icon-friends:before { content: "\e609"; }
.icon-history:before { content: "\e60a"; }
.icon-home:before { content: "\e60b"; }
.icon-left:before { content: "\e60c"; }
.icon-like:before { content: "\e60d"; }
.icon-location:before { content: "\e60e"; }
.icon-mail:before { content: "\e61b"; }
.icon-menu:before { content: "\e60f"; }
.icon-message:before { content: "\e61c"; }
.icon-more:before { content: "\e610"; }
.icon-my:before { content: "\e61d"; }
.icon-person2:before { content: "\e611"; }
.icon-pic:before { content: "\e61e"; }
.icon-question:before { content: "\e61f"; }
.icon-rest:before { content: "\e620"; }
.icon-right:before { content: "\e612"; }
.icon-roundcheck:before { content: "\e613"; }
.icon-roundclose:before { content: "\e614"; }
.icon-search:before { content: "\e615"; }
.icon-share:before { content: "\e616"; }
.icon-sitting:before { content: "\e617"; }
.icon-tag:before { content: "\e618"; }
.icon-close:before { content: "\e625"; }
.icon-ribaoriqi:before { content: "\e621"; }
.icon-clock:before { content: "\e622"; }
.icon-money-copy:before { content: "\e619"; }
.icon-icontext:before { content: "\e623"; }
.icon-shuzishurukuang:before { content: "\e624"; }
.icon-money:before { content: "\e61a"; }
