.listgroup{
	width: 50%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
}
.list{
	padding: 2rem 1.5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 5px;
	box-shadow: 0 0 10px 2px #DDDDDD;
	margin: 0.8rem;
}
.listimg{
	width: 7rem;
	height: 7rem;
	border-radius: 50%;
	overflow: hidden;
	margin-right: 1rem;
}
.listmes h4{
	color: #2C2E43;
	font-weight: 600;
	margin-bottom: 0.2rem;
}
.listmes div{
	color: #4A4C5D;
	font-size: 16px;
}
.listmes div:last-child{
	color: #A1A2AD;
	font-size: 14px;
	margin-top: 0.3rem;
}