.logbox{
	width: 90%;
	margin: 2% auto;
}
.liststeps{
	width: 90%;
	box-shadow: 0 0 10px 2px #DDDDDD;
	margin: 1% auto;
	border-radius: 5px;
}
.liststeps ul{
	padding: 1.5rem 0;
	overflow: hidden;
	display: flex;
	align-items: center;
}
.liststeps ul li:nth-child(1){
	width: 5rem;
	display: flex;
	justify-content: center;
}
.liststeps ul li:first-child div.listtep{
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}
.liststeps ul li:nth-child(2){
	width: 95%;
	border-left: 1px dotted #DADADA;
}
.liststeps ul li:nth-child(2) .xiangqingbox{
	padding: 1.5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.liststeps ul li:nth-child(2) .xiangqingbox .xiangqingimgs{
	width: 9rem;
	height: 9rem;
	border-radius: 50%;
	overflow: hidden;
	margin-right: 1.5rem;
}
.liststeps ul li:nth-child(2) .xiangqingbox .xiangqingmes{
	width: 82%;
}
.liststeps ul li:nth-child(2) .xiangqingbox .xiangqingmes h3{
	color: #2C2E43;
	margin-bottom: 0.5rem;
}
.liststeps ul li:nth-child(2) .xiangqingbox .xiangqingmes p{
	width: 100%;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
	-webkit-line-clamp: 2;
}
.xiangqingbtns{
	width: 8rem;
}
.xiangqingbtns button{
	width: 100%;
	background: #01A794;
	border-radius: 50px;
	border: 0;
	height: 3.5rem;
	outline: none;
	color: #fff;
	font-size: 18px;
}
