.logbox{
	width: 90%;
	box-shadow: 0 0 10px 2px #DDDDDD;
	margin: 2% auto;
	border-radius: 5px;
}
.nav-tabs{
	display: flex;
	justify-content: center;
	align-items: center;
}
.nav-tabs > li > a{
	color: #9698A4;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
	color: #2C2E43;
	border: none;
	border-bottom-color: #ddd;
}
.listsxq{
	width: 80%;
}
.listbox{
	padding: 30px;
	overflow: hidden;
}
.listimg{
	width: 7rem;
	height: 7rem;
	border-radius: 50%;
	overflow: hidden;
}
.listimg img{
	width: 100%;
	height: 100%;
}
.usernames{
	font-weight: bold;
	font-size: 16px;
	padding-bottom: 0.4rem;
}
.usermes{
	overflow: hidden;
	color: #9698A4;
	padding-bottom: 1rem;
}
.usermes span.left{
	margin-right: 5%;
}
.listsimgs{
	width: 100%;
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
}
.listsimgs img{
	width: 10rem;
	height: 10rem;
	border-radius: 5px;
}
