.upload{opacity: 0;position: relative;z-index: 10;width:100%;height:8rem;}

.am-form select, .am-form textarea {border: 0px solid #ccc;}

.am-form input[type="text"],
.am-form input[type="password"],
.am-form input[type="datetime"],
.am-form input[type="datetime-local"],
.am-form input[type="date"],
.am-form input[type="month"],
.am-form input[type="time"],
.am-form input[type="week"],
.am-form input[type="number"],
.am-form input[type="email"],
.am-form input[type="url"],
.am-form input[type="search"],
.am-form input[type="tel"],
.am-form input[type="color"],
.am-form-field {
  display: block;
  width: 100%;
  padding:0.5em;
  font-size: 1.6rem;
  line-height: 2rem;
  height:3.8rem;
  color: #555555;
  vertical-align: middle;
  background-color:#fff;
  background-image: none;
  border: 0px solid #ccc;
  border-bottom: 0px solid #ccc;
}
*:focus {outline:solid 0px red;}
.am-form select:focus,
.am-form textarea:focus,
.am-form input[type="text"]:focus,
.am-form input[type="password"]:focus,
.am-form input[type="datetime"]:focus,
.am-form input[type="datetime-local"]:focus,
.am-form input[type="date"]:focus,
.am-form input[type="month"]:focus,
.am-form input[type="time"]:focus,
.am-form input[type="week"]:focus,
.am-form input[type="number"]:focus,
.am-form input[type="email"]:focus,
.am-form input[type="url"]:focus,
.am-form input[type="search"]:focus,
.am-form input[type="tel"]:focus,
.am-form input[type="color"]:focus,
.am-form-field:focus {
  background-color: #f2f2f2;
  border-color: #3bb4f2;
  outline: 0;
  -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.075), 0 0 0px rgba(59, 180, 242, 0.3);
          box-shadow: inset 0 0px 0px rgba(0,0,0,.075), 0 0 0px rgba(59, 180, 242, 0.3);
-webkit-tap-highlight-color:rgba(255,255,255,0);
  border: 0px solid #ccc;
}
.am-form select::-webkit-input-placeholder,
.am-form textarea::-webkit-input-placeholder,
.am-form input[type="text"]::-webkit-input-placeholder,
.am-form input[type="password"]::-webkit-input-placeholder,
.am-form input[type="datetime"]::-webkit-input-placeholder,
.am-form input[type="datetime-local"]::-webkit-input-placeholder,
.am-form input[type="date"]::-webkit-input-placeholder,
.am-form input[type="month"]::-webkit-input-placeholder,
.am-form input[type="time"]::-webkit-input-placeholder,
.am-form input[type="week"]::-webkit-input-placeholder,
.am-form input[type="number"]::-webkit-input-placeholder,
.am-form input[type="email"]::-webkit-input-placeholder,
.am-form input[type="url"]::-webkit-input-placeholder,
.am-form input[type="search"]::-webkit-input-placeholder,
.am-form input[type="tel"]::-webkit-input-placeholder,
.am-form input[type="color"]::-webkit-input-placeholder,
.am-form input[type="submit"]::-webkit-input-placeholder,
.am-form-field::-webkit-input-placeholder {
  color: #999;font-size:1.3rem;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

input[type="number"] {
-moz-appearance: textfield;
}
.am-form input[type="number"]{padding: 0 1rem;}

.head-nav{height:5rem;position:absolute;bottom:0; line-height:2rem;width:100%; padding-top:0.7rem; background:rgba(0,0,0,0.2);}
.head-nav .head-nav-list{display:inline-block; float:left; text-decoration:none; color:#FFF;  width:33%; text-align:center; font-size:1.4rem; background:-webkit-gradient(linear, 0 0, 0 100, from(rgba(255,255,255,0.5)), to(rgba(255,255,255,0.5)) ) no-repeat left center; -webkit-background-size:0.1rem 75%;}
.head-nav .head-nav-list:first-child{background:none;}
.head-nav .head-nav-list > span{font-weight:bold; min-width:6rem;display:block; font-size:1.2rem;}
.head-nav .head-nav-list > span.iconfont{font-size:1.5rem;}
.head-nav .line{line-height:4rem;}


.am-popup {bottom: 0;top:20%;width:100%;height: auto;background: rgba(250, 250, 250, .8);}
.am-popup-hd {background-color:transparent;border-bottom: 0px solid #dedede;}
.am-popup-hd .am-popup-title {color: #333;}
.am-popup-bd {background-color:transparent;}
.am-popup-bd .am-avg-sm-4 li{text-align:center;padding:0.5rem 0;}
.am-popup-bd .am-avg-sm-4 li a {text-align:center;margin:0;}
.am-popup-bd .am-avg-sm-4 li a i{font-size:1.5rem;padding:0;margin-bottom:-2rem;width:2rem;height:2rem;overflow:hidden;}
.am-popup-bd .am-avg-sm-4 li a img{width:2rem;height:2rem;}
.am-popup-bd .am-avg-sm-4 li a span{font-size:1.25rem;display:block;color:#fff;}

.am-badge {padding: 0.5em 1em;font-weight: 400;}