.cart_good_list{
	background:#fff;
}
.cart_good_box{
	border-bottom:1px solid #f8f8f8;
	padding:10px;
}
.cart_good_left img{
	width:70px;
	height:70px;
}
.cart_good_right {
    padding-left: 10px;
    font-size: 13px;
}
.cart_good_item{
	padding:5px 0;
}
.cart_good_title {
	padding:0;
	color:#666;
}
.cart_good_num{
	text-align:right;
	line-height: 20px;
	overflow:hidden;
}
.cart_good_num span{
    border: 1px solid #e8e8e8;
    background: #e8e8e8;
    font-size: 20px;
    display: inline-block;
    width: 25px;
    height: 25px;
    text-align: center;
    border-radius: 1px;
    float: right;	
}
.cart_good_num input{
    width: 40px;
    text-align: center;
    height: 25px;
    border-radius: 0;
    display: inline-block;
    box-shadow: 0 0 0;
    border: 0;
    margin: 0 2px;
    float: right;
	background:#e8e8e8;
}
.cart_delete span{
    color: #fff;
    background: #ff5f27;
    padding: 3px 7px;
    border-radius: 50%;
    margin-top: 1px;
    width: 25px;
    height: 25px;
    display: inline-block;
	font-size: 12px;	
}

.cart_bottom_box{
    max-width: 640px;
    margin: 0 auto;
}
.cart_bottom {
	background: #fff;
    height: 41px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 46px;
    max-width: 640px;
}
.cart_bottom_item{
    padding: 0 10px;	
}
.clear_all{
    padding: 7px 10px;
}
.cart_bottom .item_cell_flex{
	text-align:right;
}
.cart_count{
    background: #ff5f27;
    color: #fff;
    line-height: 44px;
}
.cart_total_num{
	font-size:13px;
}
.content {
    padding-bottom: 120px;
}

.cart_is_empty{
    margin-top: 42%;
    text-align: center;
	display:none;
}
.cart_is_empty .cart_empty_notice{
    color: #999;
}

