* ,p,ul,uo{
    padding: 0;
    margin: 0
}

html {
    font-family: PingFang-SC-Regular,sans-serif;
    font-size: 14px;
    -webkit-tap-highlight-color: transparent;	
}

body {
    width: 100%;	
    position: relative;
    background: #f5f5f5;	
}

a,img {
    -webkit-touch-callout: none;
    text-decoration: none;
	color:#777;
}
a:link {
 text-decoration: none;
}

ol,ul,li{
    list-style: none;
}
label{
	font-weight:normal;
	padding:0;
	margin:0;
	display:inline;
}
textarea{
	border-radius:0;
}
.page_container{
    max-width: 640px;
    min-height: 100%;
    background: #f5f5f5;
    margin: 0 auto;
    position: relative;
    padding-bottom: 100px;
	overflow: hidden;
}
.fixed_top{
	position:fixed;
	top:0;
	width:100%;
}
.fixed_bottom{
	position:fixed;
	bottom:0;
	width:100%;	
	max-width:640px;
	margin:0 auto;
	border-top: 1px solid #ddd;	
}
.font_activity{
	background:#ff5f27!important;
	color:#fff!important;
}
.font_activity_noback{
	color:#ff5f27!important;
	border-color:#ff5f27!important;
}
.font_ff5f27{
	color:#ff5f27!important;
}
.font_green{
	color: #00FF0D!important;
}
.overflow_hidden{
	overflow:hidden;
}
.fl{
	float:left;
}
.fr{
	float:right;
}
.font_bold_name{
    color: #ff5f27;
    font-weight: bold;
}
.font_bold_other{
    color: #333;
    font-weight: bold;
}
.font_13px_999{
	font-size:13px;
	color:#999;
	font-weight:300;
	word-break: break-all;
}
.padding_10{
	padding:5px 10px;
}
.margin_left10{
	margin-left:10px;
}
.item_block{
	background:#fff;
	margin-top:5px;
}
.border_bottom{
	border-bottom:1px solid #ddd;
}
.overflow_nowrap{
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.text_center{
	text-align:center;
}
.text_right{
	text-align:right;
}

.margin_top_5px{
	margin-top:5px;
}
.margin_top_10px{
	margin-top:10px;
}
.item_nickname{
	color:#576b95;
}
.border_radius_50px{
	width:50px;
	height:50px;
	border-radius:50%;
}
.shadow_box{
	box-shadow: 0px 1px 3px #888888;
}
.clear{
	clear:both;
}
.activity_bottom{
	border-bottom:2px solid #44b549;
}
.radio_form{
	padding-top:4px;
}
.slider_font{
	padding-left:10px;
	margin-top:5px;
}
.slider_box{
	padding-left:5px;
}
/*同行显示，自动缩进*/
.item_cell_box{
	display: flex;

}
.item_cell_flex{
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

/*顶部*/
.container-fluid .row>div:nth-of-type(2),.breadcrumb{
	background:#fff;
}
.page_top{
	overflow:hidden;
	border-bottom:1px solid #ddd;
}
.page_top li{
	padding:10px 20px;
	float:left;
}
.top_btn{
	/* background:#44b549; */
}
.page_body{
	padding: 20px 0;
}

.input_title{
	padding: 5px 20px 0 10px;
	text-align: right;
	width: 130px;
}
.input_textarea{
	border: 1px solid #e7e7eb;
	padding: 5px 10px;	
}

.input_box{
	display: inline-block;
	position: relative;
	height: 30px;
	line-height: 30px;
	vertical-align: middle;
	font-size: 14px;
	padding: 0 10px;
	border: 1px solid #e7e7eb;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	background-color: #fff;
}
.input_box_50{
	width:50px;
}
.input_box_60{
	width:60px;
}
.input_box_70{
	width:60px;
}
.input_box_100{
	width:100px;
}
.input_box_150{
	width:150px;
}
.input_box_200{
	width:200px;
}
.input_box_250{
	width:250px;
}
.input_box_300{
	width:300px;
}
.input_box_400{
	width:400px;
}
.input_box_500{
	width:500px;
}
.input_box_600{
	width:600px;
}

.input_input{
	width: 100%;
	background-color: transparent;
	border: 0;
	outline: 0;
}
.input_box_50 input{
margin-top: 2px;

}
.edit_input{
	height:30px;
	width:auto;
	border:1px solid #f4f5f7;
}
.edit_input:focus{
	border:1px solid #44b549;
}
.input_item{
	margin-top:20px;
}
.add_btn_box{
	margin-top:5px;
}
.add_btn{
	color:#44b549;
	cursor:pointer;
}

.btn_44b549{
	color:#fff;
	background:#44b549;
	padding:7px 15px;
	border-radius:3px;
	cursor:pointer;
	display:inline-block;
	border: 0;	
}
.a_href{
	color: #459ae9;
	text-decoration: none;
}
.margin_top_10px{
	margin-top:10px;
}
/*列表*/
.list_top{
	border-bottom:1px solid #ddd;
	padding: 10px;
	background:#f4f5f9;
}
.list_top  button{
	border:0;
}
.select_btn{
	border-radius:0;
	border:0;
	display:inline-block;
}
.select_btn .dropdown-toggle ,.dropdown-menu{
	border-radius:0;
}
.list_table thead{
	background:#f4f5f9;	
}
.list_bottom{
	background: #f4f5f9;
	padding: 10px;
}
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
background-color: #44b549;
border-color: #44b549;
}
.pagination>li>a, .pagination>li>span {
color: #44b549;
}

/*修复checkbox*/
.my_checkbox{
	position: relative;
	margin-left: 14px;	
}
.my_checkbox input{
	position: absolute;
	left: -14px;
}

.deal_btn .btn-group{
	margin-left: -10px;
}
.opclass{
	position: relative;
	overflow:visible!important;
}
/*商品页面*/
.addgood_body{
	max-width:750px;
	margin: 0 auto;	
	padding-bottom:100px;
}

.good_sort{
	-webkit-box-align: start;
}
.good_sort .input_title{
	padding-top:20px;
}
.good_sort .good_sort_in{
	padding:20px 10px;
}
.good_sort_in{
	background:#f4f5f9;
}
.good_sort_in label{
	margin-bottom:10px;
	margin-right:10px;
	white-space: nowrap;
	display: inline-block;	
}

/*价格*/
.good_price .input_box_100{
	width: 128px;
}

/*规格*/
.good_rule_type label{
	padding-left:0;
	padding-right:10px;
}
.good_rule_type{
	margin-top:5px;
}
.good_inco_list,.activity_list{
	margin-top:5px;
}

.good_inco_list label{
	padding-right:10px;
}

.good_express_value{
	margin-top:5px;
	display:none;
}

.input_select{
	border-radius:0;
	border:1px solid #e7e7eb;
}
.list_table .deal_btn .btn-default ,.model_express .btn-default{
	border:0;
}

.good_rule_body{
	margin-top:5px;
	position:relative;
}
.good_rule_body  .fa{
	position: absolute;
	top: 0;
	background: #ddd;
	color: #fff;
	padding: 2px 5px;
	border-radius: 50%;
	font-size: 20px;
	height: 25px;
	width: 25px;
	right: -10px;
	top: -3px;
	cursor: pointer;	
}
.good_inco_list , .good_rule_body .input_form{
	background: #f4f5f9;
	padding: 10px;
}

.confirm_add{
	position: fixed;
	bottom: 50px;
	left: 50%;
	margin-left:400px;
	z-index: 999;	
}
.rule_pro {
	word-break: break-all;
}
.add_a_rule{
	font-size: 12px;
	padding: 5px 10px;
}
.show_rule{
	display:none;
}



/*分类*/
.sort_tosort{
	background:#f4f5f9;
	padding:0 10px 20px 10px;
}
.sort_list{
	max-width:1000px;
}

/*运费模板*/
.addexpress_body{
	max-width:800px;
}
.express_main{
	border: 1px solid #f3f4f9;
}
.express_body_top{
	background:#f4f5f9;
	padding:10px;
}
.express_btn_out,.area_item{
	padding: 5px 10px;
}
.area_item{
	padding-left: 130px;	
}
.express_btn_money{
	padding: 0 10px;	
}
.express_main_item {
	padding: 10px 0;
	border-bottom: 1px solid #f7f7f7;
}
.express_btn_out span{
	font-size: 12px;
	padding: 2px 5px;
}

.express_modal .province{
	padding: 5px;
	border: 1px solid #848484;
	border-radius: 0;
	color: #848484;
	white-space: nowrap;
	overflow: hidden;
	cursor: pointer;
}
.express_modal .province input{
	display:none;
}
.modal-body{
	overflow:hidden;
}
.express_modal .province_btn{
	padding:10px 0;
}
.area_selected{
	background: #44b549;
	color: #fff!important;
	border: 1px solid #44b549!important;
}

/*标签*/
.inco_append_box label{
	display:inline-block;
}

/*活动*/
.activity_list label{
	margin-right:10px;
}
.good_activity_body{
	display:none;
}
.good_activity_body .input_form{
	background: #f3f4f9;
	padding: 10px;	
	border-top: 2px solid #44b549;	
}
.good_activity_body .input_form .activity_title{
	padding: 0 0 20px 0;
	font-weight:bold;
}

/*图片*/
.good_pic input{
	display:none!important;
}
.good_pic button{
	border:1px solid #ddd;
	width: 80px;
	height: 40px;
	border-radius:0;
}
.good_pic .multi-item{
	height: 80px;
}
.good_pic .multi-item img{
	width: 80px;
	height: 80px;
}
.good_limit_body{
	display:none;
}
/*参数*/
.good_params_body{
	background: #f3f4f9;
	padding: 10px;
}
.params_name_div{
	width:30%;
	float:left;
}
.params_pro_div{
	width:70%;
	float:left;
}
.good_params_item{
	overflow:hidden;
	padding: 5px 0;	
}
.good_params_top{
	font-weight:bold;
}
.good_params_top , .good_params_list{
	overflow:hidden;
	padding:5px 0;
}
.good_params_list{
	border-bottom: 1px solid #ddd;
}
.good_params_bot{
	padding:10px 0;
}
.good_params_list .input_box{
	background:#f3f4f9;
}

.edui-editor , .edui-editor-iframeholder{
	width:100%!important;
}

.search_box input{
	border-radius: 0;
}
.search_box button{
	border-radius: 0;	
}

.good_list_img img{
	width:40px;
	height:40px;
	margin-right:5px;
}
.good_list_bot input{
	font-size: 13px;
	padding: 5px 10px;
}
.change_sort_btns{
	text-align:center;
	padding:5px;
	line-height: 12px;	
}
.change_sort_btns input{
	width: 55px;
	height: 28px;
	border-radius: 2px;
	line-height: 12px;	
}
.change_sort_menu {
	height: 210px;
}
.change_sort_menu .divider{
	margin:0;
}
.change_sort_menu .removefromcart{
	padding: 5px 10px;
	font-size:14px;
}
.sort_menu_box{
	height:160px;
	overflow-y:scroll;
}
.single_sort{
	display:block;
	margin-top:5px;
}
.single_sort .sort_menu_box{
	width: 170px;
	overflow-x: hidden;
}
.single_sort .change_sort_btns input{
	padding:0;
}

.testdata_btn{
	background: #fff;
	padding: 5px;
	color: #555;
	font-size: 12px;
}

.daterange-time{
	border-radius: 0;
	border: 1px solid #e7e7eb;
}

/*优惠券*/
.card_notice_item{
	display:none;
}


/*custom*/
.slide_item .row{
	background: #f3f4f9;
	padding: 10px;
}
.link .col-xs-9{
	background: #f3f4f9!important;	
}
.slide_item .row .col-xs-3{
	cursor: pointer;	
}
.link .input-group input , .link .input-group button{
	border-radius: 0;	
}
.slide_item {
	position:relative;
}

/*搜索框*/
.weui_search_bar{
    top: 0;
    width: 100%;
}
.weui_search_cancel {
	text-align:center;
}
#showSearch{
    position: absolute;
    top: 4px;
    right: 0px;
    padding: 10px 15px;
    background: #fff;
    font-size: 16px;
    z-index: 2;	
}
.out_search{
    position: absolute;
    left: 0;
    top: 45px;
    background: #fff;
    z-index: 1;
    width: 100%;
    text-align: center;
    padding: 10px;
	display:none;
}
.out_search span{
    color: #09bb07;
    padding: 5px 10px;
    border: 1px solid #09bb07;
    border-radius: 3px;
    font-size: 13px;	
}

.setting_item{
	display:none;
}


/*订单管理*/
.order_search_item{
	margin-right:10px;
}
.order_search_item .btn_44b549{
	padding: 5px 20px;
}
.search_write{
	margin-bottom:5px;
}
.order_deal_box{
	left: -100px;
	top: 50px;
	width: 240px;
}
.order_deal_body{
	padding:10px;
}
.order_deal_item{
	margin:3px 0;
}
.order_deal_title{
	line-height:14px;
	line-height: 30px;
	margin-right: 5px;
}

/*订单详情*/
.tm-flowSteps {
	margin: 10px 0 50px 0;
	overflow: hidden;
}
.tm-flowSteps li.done {
	background-color: #c7f0c8;
	background-position: 100% -46px;
	color: #44b549;
}
.tm-flowSteps .num5 li {
	width: 20%;
}
.tm-flowSteps li {
	float: left;
	background: #e4e4e4 url(../../../public/images/info_banner.png) no-repeat 100% 0;
	font-size: 14px;
	font-weight: 700;
	height: 23px;
	line-height: 23px;
	text-align: center;
	color: #404040;
	padding: 0 15px 0 0;
	overflow: hidden;
}
.tm-flowSteps li.done .first {
	background-color: #c7f0c8;
	background-position: -12px -115px;
}
.tm-flowSteps li .first {
background-position: -12px -69px;
}

.tm-flowSteps li span, .tm-flowSteps li strong {
display: block;
}
.tm-flowSteps li.last {
background-position: 100% -138px;
}
.tm-flowSteps li.current-prev {
	background-position: 100% -23px!important;
}
.tm-flowSteps li.current {
	background-color: #44b549;
	color: #fff;
}
.tm-flowSteps li.current-end {
	background-position: 100% -23px!important;
}
.last-current{
	background-position: 100% -161px!important;
}
.order_info_deal_box{
	margin: 40px 0;
}



/*c7f0c8*/
.order_info .panel-default {
	border: none;
	border-radius: 0;
	border: 1px solid rgba(221, 221, 221, 0.1);
	position:relative;
}
.order_info .panel-body{
	padding-top:40px;
}
.order_info .panel-default>.panel-heading {
	color: #333;
	background-color: #fff;
	border: none;
	position: absolute;
	padding: 5px 15px;
	background: rgba(243, 244, 249, 0.49);
	top: -10px;
	left: 10px;
}
.big_font{
	color:#ff5f27;
	font-size:20px;
}
.info_in_item{
	margin-bottom:5px;
}
.info_in_notice{
	margin-top:20px;
}
.order_info .btn_44b549,.modif_btn{
	padding: 5px 10px;
	margin-right:10px;
}
.btn_f3f4f9{
	background:#f3f4f9!important;
	color:#333!important;
}
.info_btn_list{
	margin-top:20px;
}
.order_info .input_title{
	width:100px;
}
.order_info .input_form{
	padding-top:5px;
}
.order_info .input_item{
	margin:0;
	margin-bottom:10px;
}
.order_info th{
	padding: 10px;
	text-align:center;
}
.order_info thead {
	background: #f3f4f9;
}
.order_info table{
	border: 1px solid #f3f4f9;
}
.order_info td{
	padding: 10px;
	border: 1px solid #f3f4f9;
	font-size:13px;
	color:#999;
}
.order_info .info_goodtitle{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.express_time{
	margin-top:5px;
}
.express_detail{
	padding-left:10px;
}
.order_info .order_express_body {
	margin-left: 290px;
}
.order_info .order_express_body  .checkbox label{
	padding-left:0;
}
.order_info .edit_address_btnlist{
	margin-top:10px;
	display:none;
}
.no_bord_input input{
	margin-bottom: 2px;
	border: 0;
	height: 30px;
	background: #fff;
}
.have_bord_input input{
	margin-bottom: 2px;
	height: 30px;
	background: #fff;
	border: 1px solid #f3f4f9;
	padding: 0 10px;
}

/*设置页面*/
.message_box{
	padding: 10px 0;
	border-bottom: 1px solid #f3f4f9;
}
.message_box .input_title{
	padding: 5px 5px 0 10px;
}
.refund_params  textarea{
	border: 1px solid #f3f4f9;
	padding: 5px;
}



/*loading*/
.load_mask{
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(8, 8, 8, 0.1);
	left: 0;
	top: 0;
	z-index:2222;
}
.modal-loading{
	position: fixed;
	top: 30%;
	left: 50%;
	margin-left:-50px;
	z-index: 3333;
}
.modal-loading-in{
	text-align: center;
	background: #120808;
	color: #fff;
	border-radius: 5px;
	padding: 20px;
}
.noexpress_btn{
	background: #B6B6B6;
}

.group_info  i{
	width:100px;
	overflow:hidden;
}
.group_info  span, .group_info  a{
	display:inline-block;
	margin-right:20px;
}

.content_good img{
	width: 50px;
	height: 50px;
}

.time_inbox{
	margin: 0;
}
.time_inbox input{
	width: 200px;
	background: #fff!important;
	border-radius: 0;
	border: 1px solid #f3f4f9;
	margin: 0;
}

.import_order{
	display:inline-block;
	float: right;
	margin-right: 10px;	
}
.import_order .select_order{
	display: inline-block;
	position: relative;
	width: 150px;
}
.import_order .select_order input{
	display: inline-block;
	width: 100%;
	opacity: 0;
	position: absolute;
	padding: 10px;
	top: -15px;
	z-index: 22;
	cursor: pointer;
	left: 0;
}
.import_order .a_href{
	display:inline-block;
	background: rgba(255, 255, 255, 0);
	border: 0;
	position:relative;
	z-index:22;
}
.import_order .is_select_file{
	position: absolute;
	top: -15px;
	cursor: pointer;
	background: #fff;
	padding: 3px;	
}









