.good_foot{
    height: 50px;
	background:#fff;
}
.good_foot li{
	float:left;
	text-align:center;
	font-size:13px;
	padding: 7px 0;
}
.good_foot li span{
	display:block;
}
.good_foot_inco{
    font-size: 18px;
	padding-top:3px;
	color:#ccc;
}
.good_foot li:nth-of-type(1){
	width:20%;
	border-right:1px solid #ddd;
	color:#666666;
}
.good_foot li:nth-of-type(2){
	width:20%;	
	color:#666666;	
}
.good_foot li:nth-of-type(3){
	width:27%;
	background:#FFA61B;
	color:#fff;
}
.good_foot li:nth-of-type(4){
	width:33%;
	background:#ff5f27;
	color:#fff;
}

/*价格*/
.good_page_item{
    padding: 7px 10px;	
	background:#fff;	
}
.good_page_price li{
	display:inline-block;	
}
.good_page_price .price{
	width:70%;
}
.good_page_price .salenum{
	width:27%;
	text-align:right;
}
.good_page_price .oldprice{
	margin-left:10px;
	text-decoration:line-through;
}
.good_page_price .nowprice{
	color:#ff5f27;
	font-size: 18px;	
}
/*标题*/
.good_page_title .title{
	font-weight: 700;
}

/*标签*/
.inco_list{
    white-space: nowrap;
    overflow-y: scroll;
	-webkit-overflow-scrolling : touch; 	
}
.inco_list .icon{
    display: inline-block;
    margin-right: 10px;
    color: #999;
    font-size: 13px;	
}
.inco_list .ti-check{
	border-radius: 50%;
    border: 1px solid #ff5f27;
    font-size: 12px;
    padding: 2px;
    color: #ff5f27;
}
.good_page_icon{
    background: #fcfcfc;
    border-bottom: 1px solid #ddd;	
}

/*活动*/
.activity_list li span{
    color: #fff;
    background: #ff5f27;
    padding: 1px 3px;
    border-radius: 3px;
}
.good_page_activity{
    background: #fcfcfc;
}

/*按钮*/
.good_page_btn .detail_btn{
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}
.good_page_btn .ti-angle-right{
	line-height:20px;
}

/*详情*/
#sideup_gooddetail .sideuper_body {
    min-height: 100%;
	max-height: 100%;
	-webkit-overflow-scrolling : touch; 	
}
.sideup_gooddetail_body {
    max-height: 100%;
    overflow-y: scroll;
	
}
.detail_btn_list{
    overflow: hidden;
    position: fixed;
    width: 100%;
    background: #fff;
    left: 0;
    top: 0;
	padding: 5px 5px 0 5px;	
	border-bottom:1px solid #f9f9f9;
    z-index: 1;	
}
.detail_btn_list li{
    width: 33.3%;
    float: left;
    text-align: center;
    padding: 0 0 5px 0;
}

.detail_item{
	display:none;
    padding: 30px 0;	
}

/*更多评论*/
.more{
	text-align:center;
    padding-top: 10px;
	display:none;
}
.more .look_more{
    color: #999;
    border: 1px solid #ddd;
    padding: 3px 5px;
    border-radius: 3px;
    font-size: 13px;
}
.comment_item .left{
    width: 20%;
}
.comment_images img{
	width:60px;
	height:60px;
}
.comment_title{
	text-align:justify;
}
.comment_item .left img{
	width:40px;
	height:40px;
	border-radius:50%;
}
/*下单*/
#sideup_buy .sideuper_body {
    min-height: 200px;
    height: auto;
}
#sideup_buy .sideuper_bottom{
	bottom:0;
	z-index:1;
    border-top: 1px solid #ddd;
}
#sideup_buy .sideuper_bottom input{
    width: 50%;
    margin: 0;
    float: left;
	border-radius:0;
    height: 40px;	
}
#sideup_buy .sideuper_bottom  .confirm{
	background:#ff5f27;
	color:#fff;
}
.sideup_buy_body {
	position:relative;
	padding-bottom: 50px!important;	
}
.sideup_buy_body  .buy_item_img img{
	width:70px;
	height:70px;
    position: absolute;
    top: -30px;
    z-index: 1;
    border-radius: 3px;
    border: 1px solid #fff;
	display:none;
}
.buy_price{
	padding-left: 90px;
    padding-bottom: 10px;
	border-bottom:1px solid #eee;
}
.buy_rule{
	padding: 10px 0;
    height: 150px;
	border-bottom:1px solid #eee;	
    overflow-y: scroll;
	-webkit-overflow-scrolling : touch; 
}
.buy_rule_item{
	padding: 5px 0;
}

.buy_rule span{
    padding: 2px 10px;
	color:#999;
    border: 1px solid #999;
	margin:5px 5px 0 0;
	border-radius:2px;
    display: inline-block;
}
.buy_number{
    padding: 10px 0;
}

.right_close{
    right: 5px;
    top: 5px;
	display:none!important;
}