/*test*/
/******参团******/
.header-banner{
	margin-bottom: 10px;
    background: #ffffff;
}
.banner{
	height: 86px;
	display: table;
	margin: auto;
}
.banner > div{
	display: table-cell;
	vertical-align: middle;
}
.banner >div:first-of-type{
	background: url(../../public/images/head_bg.png) no-repeat center center;
    background-size: auto 70px;
    background-position: 2px center;
}
.banner .avatar-wrap{
	width: 75px;
	padding: 5px 5px 8px 8px;
}
.banner .avatar-wrap .avatar{
	width: 60px;
	height: 60px;
	border-radius: 60px;
	width: 100%;
  	-webkit-background-size: cover;
  	background-repeat: no-repeat;
  	background-position: center;
}
.banner .avatar-wrap .avatar img{
    width: 100%;
    border-radius: 50%;
}

.banner .banner-info{
	padding: 13px 0;
}
.banner .banner-info > p:nth-of-type(1){
	color: #ff5f27;
	font-size: 14px;
	line-height: 30px;
}
.banner .banner-info > p:nth-of-type(1) em{
	font-size: 18px;
	font-style: normal;
	font-weight: bold;
}
.banner .banner-info > p:nth-of-type(2){
	color: #333333;
	font-size: 14px;
	line-height: 25px;
}
.banner .banner-info > p:nth-of-type(2) em{
	color: #ff5f27;
	font-size: 20px;
	font-style: normal;
}


.goods-detail{
  	padding: 0 10px;
  	background-color: #ffffff;
	position:relative;
	padding-bottom: 15px;
}

.goods-detail .detail-title > span:nth-of-type(1){
	color: #666666;
	font-size: 16px;
	display: inline-block;
}
.goods-detail .item{
	display: block;
	text-decoration: none;
	color: #000000;
}
.goods-detail .image{
	display: table-cell;
	padding: 0 10px 0 0; 
	vertical-align: top;
}
.goods-detail .image > div{
	position: relative;
}
.goods-detail .image > div > img{
  	width: 80px;
    height: 80px;
}
.goods-detail .info{
	display: table-cell;
	width: 100%;
	vertical-align: middle;
}
.goods-detail .info .name{
	display: -webkit-box;
    line-height: 18px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    padding: 3px 0 0 0;
    font-size: 14px;
    height: 39px;
}
.goods-detail .info .price-info{
	display: table;
	width: 100%;
	position: relative;
}
.goods-detail .info .price-info > div{
	display: table-cell;
	vertical-align: middle;
}
.goods-detail .info .price-info > div:nth-of-type(1){
	width: 60%;
}
.goods-detail .info .price-info > div:nth-of-type(2){
	width: 40%;
}
.goods-detail .info .price-info .price{
	padding: 4px 0 3px;
    color: #fe704a;
    line-height: 19px;
    font-size: 13px;
}
.goods-detail .info .price-info .price .member{
	color: #666666;
}
.goods-detail .info .price-info .sale-price{
	font-size: 15px;
}
.goods-detail .info .price-info .sale-price > span:first-child{
	font-size: 16px;
	color: #fe704a;
}
.goods-detail .info .price-info .sale-price > span:last-child{
	font-size: 14px;
	color: #fe704a;
}
.goods-detail .info .price-info .origin-price{
	font-size: 13px;
	color: #666666;
}
.goods-detail .info .price-info .detail-btn{
	color: #666666;
	width: 70px;
	height: 30px;
	margin: 5px auto 0 auto;
	text-align: center;
	line-height: 29px;
	border:1px solid #666666;
	border-radius:3px;
	position: absolute;
    bottom: 0px;
    right: 0px;
}
.goods-detail .info .price-info .detail-btn.isOver{
	background: url(../../public/images/isOver.jpg) no-repeat center 100%;
	background-size: 100% auto;
	border:0;
	width:85px;
	height:40px;
}

/***************************/
.member-info{
	background-color: #ffffff;
	margin-top: 10px;
    padding: 0 10px 20px 10px;
}
.member-info .head-bar, .goods-detail .head-bar{
	overflow: hidden;
}
.member-info .head-bar .time-info, .goods-detail .head-bar .time-info{
	height: 40px;
	padding: 6px 0;
	text-align: center;
	position: relative;
}
.member-info .head-bar .time-info .little-timer, .goods-detail .head-bar .time-info .little-timer{
	display: inline-block;
	position: relative;
	height: 26px;
	line-height: 26px;
	text-align: center;
	margin: 0 auto;
	color:#666666;
}
.goods-detail .head-bar.miandan .time-info .little-timer{
	color: #ff5f27;
	font-weight: bold;
	font-size: 16px;
}
.member-info .head-bar .time-info .little-timer:before, .goods-detail .head-bar .time-info  .little-timer:before{
	content: "";
  	display: inline-block;
  	position: absolute;
  	left: -210px;
    top: 50%;
    width: 200px;
  	height: 0;
  	border: 1px solid #bbbbbb;
  	border-width: 1px 0 0 0;
}
.goods-detail .head-bar.miandan .time-info  .little-timer:before{
  	border: 1px solid #ff5f27;
  	border-width: 1px 0 0 0;
}
.member-info .head-bar .time-info .little-timer:after, .goods-detail .head-bar .time-info  .little-timer:after{
	content: "";
  	display: inline-block;
  	position: absolute;
  	right: -210px;
  	top: 50%;
  	width: 200px;
  	height: 0;
  	border: 1px solid #bbbbbb;
  	border-width: 1px 0 0 0;
}
.goods-detail .head-bar.miandan .time-info  .little-timer:after{
  	border: 1px solid #ff5f27;
  	border-width: 1px 0 0 0;
}
.member-info .head-bar .time-info .little-timer > span{
	display: inline-block;
	vertical-align: top;
	color: #666666;
	margin: 0 1px;
}
.member-info .head-bar .time-info .little-timer > span.slogan{
	color: #666666;
}
.member-info .head-bar .time-info .little-timer > span.number{
    color: #ffffff;
    background: #716f6f;
    min-width: 22px;
    border-radius: 2px;
    text-align: center;
    overflow: hidden;
}
.goods-detail .miandan-text{
	/*padding-bottom: 20px;*/
	color: #666666;
	font-size: 13px;
}
/*****/
.member-avatar{
	position: relative;
    padding-top: 10px;	
}
.member-avatar .avatar-list{
	display: block;
  	width: 100%;
  	margin: 0 auto;
    overflow: hidden;	
    height: 48px;	
}
.group_moremember{
    position: absolute;
    bottom: -12px;
    width: 100%;
    text-align: center;
    height: 20px;
    padding: 5px;	
}
.member-avatar .avatar-list > li {
	-webkit-box-flex: 1;
  	width: 12.5%;
  	float: left;
  	position: relative;
	margin: 0 5px 5px 0;
}
.member-avatar .avatar-list li img{
	width:100%;
    border-radius: 50%;
}


.member-avatar .avatar-list > li .avatar.empty{
	-webkit-background-size: 50px auto;
  	background-repeat: no-repeat;
  	background-position: center 5px;
  	background-color: #d2d2d2;
}
.member-avatar .avatar-list > li .avatar.captain{
	border: 1px solid #ff5f27;
}
.member-avatar .avatar-list .captain:after{
	content: "";
  	position: absolute;
  	display: block;
  	height: 24px;
  	width: 23px;
  	top: -10px;
  	right: -10px;
  	background: url(../../public/images/captain.png) no-repeat center center;
  	background-size: 24px auto;
}
/*****/
.member-list{
	margin: 10px 0;
	overflow: hidden;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#ff5f27), to(#ff5f27)) no-repeat 23px 0px #ffffff;
  	-webkit-background-size: 2px 100%;
}
.member-list .flag{
	position: relative;
	margin-left: 23px;
	font-size: 12px;
	width: 260px;
	height: 23px;
	padding-left:10px;
	line-height: 23px;
	text-align: left;
	color: #ffffff;
	background: #ff5f27; 
}
.member-list .flag:after{
	content: "";
  	position: absolute;
  	display: block;
  	height: 0;
  	width: 0;
  	top: 0;
  	right: -12px;
  	border-top: 11px solid #ff5f27;
    border-left: 2px solid #ff5f27;
    border-right: 10px solid transparent;
    border-bottom: 12px solid #ff5f27;
}
.member-list .list{
	width: 100%;
	margin-top: 15px;
}
.member-list .list li{
	display: block;
	position: relative;
	width: 100%;
	height: 44px;
	line-height: 44px;
	position: relative;
	padding: 3px 40px 3px 5px;
	border: 1px solid #fdd000;
	border-radius: 3px;
	margin-top: 10px;
	background: #ffffff;
}
.member-list .list li > span{
	display: inline-block;
	vertical-align: middle;
}
.member-list .list li .avatar{
	width: 36px;
	height: 36px;
	border: 1px solid #ffffff;
	border-radius: 100px;
	-webkit-background-size: cover;
  	background-repeat: no-repeat;
  	background-position: center;
  	background-color: #d2d2d2;
  	float: left;
}
.member-list .list li .avatar.captain{
	border: 1px solid #ff5f27;
}
.member-list .list li .avatar.empty{
	-webkit-background-size: 35px auto;
  	background-repeat: no-repeat;
  	background-position: center 4px;
  	background-color: #d2d2d2;
}
.member-list .list li .name{
	height: 36px;
	line-height: 36px;
	float: left;
	padding-left: 5px;
	max-width: 130px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.member-list .list li .time{
	float: right;
	height: 36px;
	line-height: 36px;
}
.member-list .list li:first-child:after{
	content: "";
  	position: absolute;
  	width: 38px;
  	height:  33px;
  	top: 0;
  	right: 0;
  	background: url(../../public/images/tag1.png) no-repeat center 0;
  	background-size: 38px auto;
}
.member-list .list li:nth-of-type(2):after{
	content: "";
  	position: absolute;
  	width: 38px;
  	height:  33px;
  	top: 0;
  	right: 0;
  	background: url(../../public/images/tag2.png) no-repeat center 0;
  	background-size: 38px auto;
}
.member-list .list li.failed:after {
	display: none;
}
.member-list .list li:first-child{
	border: 1px solid #ff5f27;
}
.member-list .list li.failed{
	border: 1px solid #c4c3c3;
	color: #999999;
	padding-right: 5px;
}
.member-list .list li.failed .name{
	max-width: 100%;
}
/*************活动说明***********/
.block{
	background: #ffffff;
}
.guide{
	margin-top: 10px;
	padding: 0 10px 10px 10px;
}
.guide a.more-rules{
	display: block;
	position: relative;
	height: 44px;
	line-height: 44px;
	padding: 0 15px 0 5px;
}
.guide a.more-rules:before{
	content: "";
  	display: inline-block;
  	position: absolute;
  	left: 0;
  	top: 50%;
  	margin-top: -7px;
    width: 3px;
    height: 14px;
  	background: #ff5519;
}

.guide .more-rules > span:nth-of-type(1){
	color: #666666;
	font-size: 14px;
	display: inline-block;
}
.guide .more-rules > span:nth-of-type(2){
	color: #000000;
	font-size: 14px;
	float: right;
}
.guide .procedure > img{
	width: 100%;
	height: auto;
}
.guide .rule-text{
	padding: 10px 0 3px;
	color: #ff5519;
	font-size: 12px;
}
.guide .rule-text > span{
	vertical-align: middle;
}
.guide .rule-text .light{
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url(../../public/images/light.png) no-repeat 0 0;
	background-size: 16px auto;
}





/**********规则流程说明*************/
.procedure{
	display: table;
	width: 100%;
	height: 46px;
}
.procedure .pb{
	position: relative;
	display: table-cell;
	width: 21%;
	border: 1px dashed #737171;
	border-radius: 5px;
	padding: 7px 0;
	font-size: 12px;
}
.procedure .pb.orange{
	border: 1px dashed #ff5519;
	color: #ff5519;
}
.procedure .pb .pb-seq{
	display: inline-block;
	position: absolute;
	width: 24px;
	height: 24px;
	border-width: 1px 0 0 1px;
	border-top-left-radius: 5px;
	background: -webkit-linear-gradient(left top, #737171 18px, transparent 18px);
	top: -1px;
	left: -1px;
	color: #ffffff;
	padding-left: 2px;
}
.procedure .pb.orange .pb-seq{
	background: -webkit-linear-gradient(left top, #ff5519 18px, transparent 18px);
}
.procedure .pb .pb-text{
	margin-left: 20%;
	width: 50px;
}
.procedure .pb > p{
	line-height: 16px;
}
.procedure .interval{
	position: relative;
	display: table-cell;
	width: 5.33%;
	line-height: 100%;
}
.procedure .interval .interval-arrow{
	position: absolute;
	display: inline-block;
	width: 8px;
	height: 8px;
	border: 1px solid #737171;
	border-width: 1px 1px 0 0;
	top: 50%;
	margin-top: -4px;
	left: 50%;
	margin-left: -6px;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}

/*页脚*/
.group_bottom{
    max-width: 640px;
    margin: 0 auto;
}
.group_bottom ul{
	background:#fff;
}
.group_bottom ul li{
	padding:12px;
}
.group_bottom .joingroup{
	
}
.back_ff5f27{
    background: #ff5f27;
    color: #fff;
}
.back_ff5f27{
    background: #ff5f27;
    color: #fff;
}
.back_fdd000{
    background: #fdd000;
    color: #fff;
}
.group_bottom .ti-angle-left:before {
    font-size: 12px;
}

/*纸飞机*/
.group_plane{
    position: fixed;
    bottom: 0;
	left:0;
    z-index: 2;
    width: 100px;
    transform: rotate(-25deg);
	display:none;
}