body{
    padding: 0;
    margin: 0 auto;
}
.mui-content {
    background-color: #f3f3f6;
    overflow-y: auto;
    overflow-x: hidden;
}
 li, a, a:hover{text-decoration:none;}
 li,ul{
     list-style: none;    padding: 0;
 }
.mui-table-view {
    background-color: #fff;
}
.mui-table-view-cell {
    background: #fff;
    padding: 5px 15px;
}
.mui-table-view-cell:after {
    left: 0;
    background: #fff;
}
.mui-mt5{
    margin-top: 0;
}
span.mui-media-body.mui-block {
    padding: 5px 0;
}
.pay-method img.mui-media-object.mui-pull-left {
    max-width: 30px;
    height: 30px;
    line-height: 30px;
    margin-top: 10px;    margin-right: 10px;
}
.pay-method span.mui-text-muted.mui-rmb.mui-mt5 {
    float:none;
}
.pay-method .mui-table-view-chevron .mui-table-view-cell {
    height: 65px;
}
.mui-navigate-right:after, .mui-push-right:after {
    right: 15px;
    content: "\e583";
}
.mui-table-view:before, .mui-table-view:after{
    height: 0;
}
.pad-10{
    padding:15px;
}
.mui-table-view-chevron .mui-table-view-cell {
    border-bottom: 10px solid #F3F3F6;
}
.pb-10{
    padding-bottom: 10px;
}
.mui-table-view {
    margin-top: 10px;
}
.slider {
    z-index: 9999;
}
.mui-content {
    position: relative;
}
.chuobg{
    margin-top: -12px;
    background:#f3f3f6;
}
.pay-info{
    background: #fff;
}
.header{
   text-align: center;
    padding: 5% 2%;
}
.header img{
    width:30px;
    height: 30px;
    float: left;
    margin-right: 5px;
    border-radius: 50%;
}
.header .name{
    float: left;
}
.header .money {
    clear: both;
    font-size: 24px;
    color: #fb5100;
    padding-top: 15px;
}
.header .info{
    clear: both;
    font-size: 14px;
    color:#777;

}
.content{
    padding: 3% 2%;
    color:#777;
    font-size: 12px;
}
.content .info-left{
    clear: both;
    display: block;
    float: left;
    width: 20%;
    text-align: left;

}
.content .info-right{
    float: left;
    width: 80%;
    text-align: right;
    overflow: hidden; white-space: nowrap; text-overflow: ellipsis;
}
.content li{
    line-height: 25px;
    height: 25px;
}
.content li img{
    width: 20px;
    height: 20px;
}
.box-left{
    float: left;
    width: 49.5%;
    background: #fff;
    border-right: 1px solid #efefef;
}
.box-left a{
    color: #1296db;
    margin-left: 10px;
}
 .box-right a{
     color: #f70;
     margin-right: 10px;

}
.box-right{
    float: right;
    width:50%;
    text-align: right;
    background: #fff;
}
.box-btn a{
    padding: 8px 12px;
    border-radius: 5px;
    font-size: 16px;
}
.box-btn{
    height: 50px;
    background: #fff;
    padding-top: 15px;
}