/* 必要布局样式css */
.aui-flexView {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.aui-scrollView {
    width: 100%;
    height: 100%;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    position: relative;
    margin-top: 0;
}

.aui-navBar {
    height: 44px;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    z-index: 1002;
    background: #fff;
}

.aui-navBar-item {
    height: 44px;
    min-width: 25%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    padding: 0 0.9rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 0.7rem;
    white-space: nowrap;
    overflow: hidden;
    color: #a0a0a0;
    position: relative;
}

.aui-navBar-item:first-child {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    margin-right: -25%;
    font-size: 0.9rem;
    font-weight: bold;
}

.aui-navBar-item:last-child {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
    -ms-flex-order: 3;
    order: 3;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.aui-center {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 44px;
    width: 50%;
    margin-left: 25%;
}

.aui-center-title {
    text-align: center;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
    font-size: 0.95rem;
    color: #333;
}

.icon {
    width: 20px;
    height: 20px;
    display: block;
    border: none;
    float: left;
    background-size: 20px;
    background-repeat: no-repeat;
}

.icon-return {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAA8CAYAAAA6/NlyAAACh0lEQVRoQ+3ZMW8TMRQH8PcOsTBQISExVCIRCwgWFvZ+hZYBpIrEcTYkBsTGlI2VDamL3YEBpWJoR1BJaOlXYEzyDYp0bMRGRjnJoDuWs/1e3EbKeHf55b33vzsb4YJ98IJ54RKce8XZV1gIcQ8AviDiD2vtC631pzZFYQ2WUt611p4CwM0VcqqU2soSXIN1ztdKqTfZgRuw75RSz9tg3bHsWjomlh04NpYVOAWWDbjf7z8oimLipbH7bUopJdvO7L/Hk8+wwyLiCSLe8H6cww4BwGYFTo0lbWkKLBmYCksCrsNaa99rrZ/FmFnS0GrCdrvd3mg0MqEDqu58yVKaAzZZSwshHgLAsX/rcW2csrJVtaNXeIWdIuL16qJU2OgVrsMCwEGn03mSamaThVYTtizLp+PxeJkioJKFFldslJbmjA0O5o4NCm7AHpZluUM5s1FCSwjxCAA++7ceADiczWaPJ5PJL6qAihJaUspdY8w+Il7xLsASG6SlhRA/EfGa91BxNJ/Pd7hVNtiT1mAwOAeADXdCa637Hi0Wi3zBUsptY8wHRLzqwIh/nlbzbWmna0roLEOrmo11QQd9W1oHdFDwOrR3cLCH/uuFn0uQRQE7dMPKJHl6RwNzRUcF/w9N9VIRHVyhazbLDihWP5KAHbphOzQ5OhmYCzopmAM6OZgaTQL20FMAuOUtHESfaTLwCn3HWnuWEk0KpkCTg1OjWYArtDHmKyJu+jMdeh+KDdghh8NhZ7lcfvPRoXcaWYFToNmBY6NZgj20m+nb3pr3W631yzY7GWzBDtXr9TaLojjz0N+VUvezBXvoPQBw0Fda649Zg9vg6o5l3dKhse58l+AY/yqnc/4GvNDoTFOq8FwAAAAASUVORK5CYII=");
}

.mask-black {
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    z-index: 500;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.m-actionsheet {
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #EFEFF4;
    -webkit-transform: translate(0, 100%);
    transform: translate(0, 100%);
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
}

.actionsheet-item {
    display: block;
    position: relative;
    font-size: 0.28rem;
    color: #555;
    height: 1rem;
    line-height: 1rem;
    background-color: #FFF;
}

.actionsheet-item:after {
    content: '';
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #D9D9D9;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
}

.actionsheet-action {
    display: block;
    margin-top: .15rem;
    font-size: 0.28rem;
    color: #555;
    height: 1rem;
    line-height: 1rem;
    background-color: #FFF;
}

.actionsheet-toggle {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}

.m-cityselect {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 75%;
    z-index: 1000;
    background-color: #fff;
    -webkit-transform: translate(0, 100%);
    transform: translate(0, 100%);
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
}

.m-cityselect.brouce-in {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}

.cityselect-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.cityselect-header:after {
    content: '';
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #D9D9D9;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
}

.cityselect-title {
    width: 100%;
    font-size: .3rem;
    text-align: center;
    height: 45px;
    line-height: 45px;
    position: relative;
}

.cityselect-title:after {
    content: '';
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #B2B2B2;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
}

.cityselect-nav {
    width: 100%;
    padding-left: .2rem;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.cityselect-nav > a {
    font-size: .8rem;
    color: #222;
    display: block;
    height: 40px;
    line-height: 46px;
    padding: 0 .2rem;
    position: relative;
    margin-right: .15rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 40%;
}

.cityselect-nav > a.crt {
    color: #418bca;
}

.cityselect-nav > a.crt:after {
    content: '';
    width: 100%;
    height: 2px;
    background-color: #418bca;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
}

.cityselect-content {
    height: 100%;
    padding-top: 85px;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.cityselect-content.cityselect-move-animate {
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
}

.cityselect-content.cityselect-next {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.cityselect-content.cityselect-prev {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}

.cityselect-content > .cityselect-item {
    display: block;
    height: inherit;
    width: 50%;
    /* for old android */
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    background-color: #FFF;
}

.cityselect-content > .cityselect-item::-webkit-scrollbar {
    width: 0;
}

.cityselect-content > .cityselect-item:nth-child(2n) {
    background-color: #F5F5F5;
}

.cityselect-item-box {
    width: 100%;
    height: inherit;
    display: block;
    padding: 0 .4rem;
}

.cityselect-item-box > a {
    color: #333;
    font-size: .7rem;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    position: relative;
    z-index: 1;
}

.cityselect-item-box > a:before {
    content: '';
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #D9D9D9;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
}

.cityselect-item-box > a:active {
    background: none;
    /* for firefox */
}

.cityselect-item-box > a span {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: block;
}

.cityselect-item-box > a.crt {
    color: #418bca;
}

.cityselect-item-box > a.crt:after {
    display: block;
    content: ' ';
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAA8CAYAAAA6/NlyAAAC10lEQVRoQ+3XsWsTcRQH8O+7tMmluAVMk4BCQRBRkzhWqYrVxUVXQZxdBFd3d8G/QAcXRy1UOylUJxMLOihYrNhEq05Vc7mYPLlo9EgvuV+S390vuf669tJ3n/d975dfCbvsh3aZFxoc9cR1wjrhiHVAj3TEAt3B0QnrhCPWAT3SEQtUH1oTO9J8MJeyZvgOmE8CKIH5SvLlp/d+EzqRYD68N23FY88AmusAmfEx+dM+RG++bvdDTxzYC9sBEvi6Wareigy4H9ZBEuOaWa7cjgTYDwvgnVlvFOj1l+8TD/bDMmOTwMeT5erGxB9aMrHtsffriMrfcz6Vs2Lxp+7T2P0+gyT7/2BTKepT+y/W+erZ5/XYMNixTTgo7FiCg8QKgxmgeiG72EIrD2qtzpS3ngexCUFjhcAMGFYx+wiExX/XOOB+slS5RMAvWfAwsELgWjFzGUR3PWBLZqlyQQY6LKwY+FjmBkA3eyQ5MtoPC/AHMBZELhUi0+b7PWwdSc/xlLEGoj2y0SJYs2nP09q3TRGMyDO+YOePWPnMOY7hIUDTstAqsEIj3QFahexZNnhJBloVdiBwO2kRNFUu0gs0eo2XSuzAYCE084ppVM97oWvFzH4QnLux53XROaBk72x344V2uPtDvkl7oB0sg1aJkPNOP3jsUAkL77QLPS7YkcCi402N5tXW9NQT1cl2ghpqpN0j2Xe8mcGMOhmUUDnG7tojg3smzfynDvUqEc7OSjm0vNJqJ014AELCiXUcsSPvcDe8Vpg9BTKWAU70SXbdbNoLMq+LIldKaTvsjabHIK9rKK+bdnOeXm19HuQlZT4rZYd3oI+mziAWXwG5F5i3Tbt5QCVW+ki74ZyfPV2L4R4xpQFsmD/sE/RW3n89w6YeSMLDvkwYn9PgMLqssoZOWGX3w6itEw6jyypr6IRVdj+M2jrhMLqssoZOWGX3w6itEw6jyypr/AZZ7JBMoSemoAAAAABJRU5ErkJggg==');
    background-size: 22px;
    width: 22px;
    height: 22px;
}

.aui-address-cell-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    /* padding-left: 0.24rem; */
    overflow: hidden;
    padding: 8px 20px;
}

.aui-cell-name {
    color: #333;
    font-size: 0.8rem;
    white-space: nowrap;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 55px;
}

.aui-cell-input {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 100%;
    min-height: 3rem;
    color: #525252;
    text-align: right;
    font-size: 0.8rem;
    padding-right: 0.24rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.aui-cell-input input {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 3rem;
    border: none;
    font-size: 0.8rem;
    background: transparent;
    color: #555;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: left;
    padding-left: 15px;
}

.aui-address-cell-item:after {
    margin-left: 0.24rem;
    content: '';
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: 0;
    width: 90%;
    height: 1px;
    border-bottom: 1px solid #D9D9D9;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    left: 20px;
}

.cell-input-text:after {
    display: block;
    content: ' ';
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAA8CAYAAAA6/NlyAAADQElEQVRoQ+2az4vTQBTH57FN/oye/A/6ZyzbXald8eDFmycPe3DxFwuKCot4EARBEC9eYplJWxoQD10FkT3oQUFxQUEQBEFa0YWkSZ68mEgoCpvuzGS6TQ7tJXl5n/m+N/PmTYAt2AULxssq4KOueKVwpfARG4EqpGcRtNFoWPV6/UEYhpd7vd6nWWzoekaKws1m89jS0tIeIu7HcXyq2+12dQEUfY9sYAYAMSLetSxrw3GcoKhDqu+XDpw6TKAfoiha7vV6n1VDFLEvHRjgr8kJIhJ4WwjhFXFK5b3KgBGR/E5+GGO3R6PR+eFwGKqEOYhtZcBTLye134ZhuNLv978cxDFV92gBJrUBIEBEnzF2sswQ1wKcqZUL823Lsi44jhOpUvJ/drUCJ0n9J7cpl18HQdAcDAZfdUJrB86gAYDy+hcitl3XfaoLuhTgDBoRMV3GrgkhthhjsWrw0oCn8ppCfDcIgpbqEC8deCqvfwLAGud8R5XSRgDnoJMZDQC2OOdXc4WLNH5jgKdCnJar577vr3ue900aLQ2mDGO57SGpI8Mk2aBZ/AciNl3XfSHLqBTvFAETYzJrI+IlIcRNGSFuOnAmLO2xn1mW1XIc5/th1J4XYFKZli6CXRFC7M4KPU/AWTeF/jc559uzQM8N8D82IH0hxGrRvJ474HQSo6r0iW3by0V3XHMDnO6ps1r7IuecZu3C1zwB06Q1Puy6bDxwpiwtSzIqL6OBKVFl19YmAycNAtm7J+OAU1EjAHjp+/4J2ftjY4DzfWwAuM45v6KiA2IEcK6xt4+ILZU9rtKBsxBmjL0Kw/C46kZ9acAEmjXxEPGWbdubRaumwlVHWQ2AdG2dMMZ8RFzXeRKhXeFcvr6JomhN93GqVuBsJkbEO+PxeKOM00QtwLnDtLDsTyK0AKcNufdRFK2W/dGLMuB8IYGI92zbPmfCNx/KgElVxlgUx/Fp13Ufz7KEqHhGOnDqJB1+f6zVas1Op7OnwvFZbaoAppbqwyAIznqeRyf+Rl2ygamQOOO67iOjKHPOSAFut9v2ZDK5DwA3OOfvTIVNmgkmO6fCtwpYxaiaZLNS2CQ1VPhSKaxiVE2yuXAK/wYEkIVbIfZtEwAAAABJRU5ErkJggg==');
    width: 15px;
    height: 15px;
    background-size: 15px;
}

.aui-radio {
    padding: 20px;
    font-size: 0.8rem;
}
