{php include wl_template('common/header');}
<div class="page-group">
    <div class="page page-current" id="page-pecc">
   		<header class="bar bar-nav">
			<h1 class="title">向车主发送消息</h1>
		</header>
		<div class="content native-scroll">
			<div class="list-block">
		      <ul>
		        <li class="align-top">
		          <div class="item-content">
		            <div class="item-inner">
		              <div class="item-title label">发送内容</div>
		              <div class="item-input">
		                <textarea id="sendcontent" placeholder="请输入发送内容"></textarea>
		              </div>
		            </div>
		          </div>
		        </li>
		      </ul>
		    </div>
		    <div class="content-block">
		      	<a href="javascript:;" class="weui_btn weui_btn_primary" id="callmover" mtype='1'>发送消息</a>
		    </div>
		    <div class="weui_cells_title">常用发送内容</div>
		    <div style="padding: 0 15px;">
		    	{loop $_W['wlsetting']['merchant']['sendmsg'] $tpl}
		    	<a href="javascript:;" class="weui_btn weui_btn_mini weui_btn_default">{$tpl}</a>
		    	{/loop}
		    	{loop $remark_arr $sendm}
		    	{if !empty($sendm['content'])}
		    	<a href="javascript:;" class="weui_btn weui_btn_mini weui_btn_default">{$sendm['content']}</a>
		    	{/if}
				{/loop}
		    </div>
		</div>
    </div>
</div>
<script>
$(document).on('click','#callmover',function () {
	var sendcontent = $('#sendcontent').val();
	if(!sendcontent){
	 	$.toast("请输入发送内容");
	 	return false;
	}

	$.post("{php echo app_url('app/distance/post',array('userid'=>$userid,'sid'=>$mis))}",{sendcontent:sendcontent},function(d){
		if(d.result == 1){
			$.alert('消息发送成功，点击确定返回微信！', function () {
		        wx.closeWindow();
		    });
		}else if(d.result == 2){
			$.toast(d.msg);
		}else{
			$.toast("未知错误");
		}
	},"json");
});
$(document).on('click','.weui_btn_default',function () {
	var sendcontent = $(this).text();
	$('#sendcontent').val(sendcontent);
});
</script>
{php include wl_template('common/footer');}