<script src="https://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script>

// jssdk config 对象
jssdkconfig = {php echo json_encode($_W['account']['jssdkconfig']);} || {};

share_title = "<?php echo $share['title'];?>"; // 分享标题
share_link = "<?php echo $share['link'];?>"; // 分享标题
share_imgUrl = "<?php echo $share['imgUrl'];?>"; // 分享标题
share_desc = "<?php echo $share['desc'];?>"; // 分享标题

wx.config({
    debug: false,
    appId: jssdkconfig.appId,
    timestamp: jssdkconfig.timestamp,
    nonceStr: jssdkconfig.nonceStr,
    signature: jssdkconfig.signature,
    jsApiList: [
        'onMenuShareTimeline','onMenuShareAppMessage','onMenuShareQQ','onMenuShareWeibo','onMenuShareQZone'
    ]
});

wx.ready(function () {
    wx.onMenuShareTimeline({
        title: share_title, // 分享标题
        link: share_link, // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
        imgUrl: share_imgUrl, // 分享图标
        success: function () {
            // 用户确认分享后执行的回调函数
        },
        cancel: function () {
            // 用户取消分享后执行的回调函数
        }
    });

    wx.onMenuShareAppMessage({
        title: share_title,
        desc: share_desc,
        link: share_link,
        imgUrl: share_imgUrl,
        type: '',
        dataUrl: '',
        success: function () {
// 用户确认分享后执行的回调函数
        },
        cancel: function () {
// 用户取消分享后执行的回调函数
        }
    });
    wx.onMenuShareQQ({
        title: share_title,
        desc: share_desc,
        link: share_link,
        imgUrl: share_imgUrl,
        success: function () {
// 用户确认分享后执行的回调函数
        },
        cancel: function () {
// 用户取消分享后执行的回调函数
        }
    });
    wx.onMenuShareWeibo({
        title: share_title,
        desc: share_desc,
        link: share_link,
        imgUrl: share_imgUrl,
        success: function () {
// 用户确认分享后执行的回调函数
        },
        cancel: function () {
// 用户取消分享后执行的回调函数
        }
    });
    wx.onMenuShareQZone({
        title: share_title, // 分享标题
        desc: share_desc, // 分享描述
        link: share_link, // 分享链接
        imgUrl: share_imgUrl, // 分享图标
        success: function () {
// 用户确认分享后执行的回调函数
        },
        cancel: function () {
// 用户取消分享后执行的回调函数
        }
    });
});
</script>