@charset "utf-8";
*{padding: 0;margin: 0;}
ol,ul,li{list-style:none;}
a{text-decoration:none;}
.content{
	width:100%;
	height:785px;
	background:url('../img/bg_img.png');
	/*background:url('../img/banner3.jpg');*/
}
.content_box{
	float:right;
	width:400px;
	height:auto;
	border:1px solid #e6e6e6;
	background:white;
	margin:155px 170px 155px 0px;
}
.content_box .content_box_top{
	width:auto;
	height:60px;
	line-height:60px;
	text-align:center;
	border-bottom:1px solid #e6e6e6;
}
.content_box .content_box_top span{
	font-size:24px;
	font-family: 'Microsoft YaHei';
	border:0;
}
.content_box .content_box_center{
	width:auto;
	height:auto;
	background:white;
}
.content_box_center .icon_one{
	display:inline-block;
	width:18px;
	height:20px;
	vertical-align: middle;
	margin-left:5px;
	background:url('../img/name_img.png');
}
.content_box_center .icon_two{
	display:inline-block;
	width:18px;
	height:20px;
	vertical-align: middle;
	margin-left:5px;
	background:url('../img/pwd_img.png');
}
.content_box_center .icon_three{
	display:inline-block;
	width:18px;
	height:20px;
	vertical-align: middle;
	margin-left:5px;
	background:url('../img/pwd_d_img.png');
}
.content_box_center .icon_four{
	display:inline-block;
	width:18px;
	height:19px;
	vertical-align: middle;
	margin-left:5px;
	background:url('../img/phone_img.png');
}
.content_box_center .icon_five{
	display:inline-block;
	width:23px;
	height:16px;
	vertical-align: middle;
	margin-left:5px;
	background:url('../img/email_img.png');
}
.content_box_center .puut{
	width:330px;
	height:32px;
	line-height:32px;
	margin:10px auto;
	border-radius:3px;
	border:1px solid #ccc;
}
.content_box_center .put{
	float:right;
	width:290px;
	height:30px;
	border:0;
	outline: none;
	font-family: 'Microsoft YaHei';
	font-size:14px;
}
.state1{
  	color:#aaa;
	font-size:12px;
	margin-left:75px;
}
.state2{
  	color:#000;
	font-size:12px;
  	margin-left:75px;
}
.state3{
	font-size:12px;
  	color:red;
  	margin-left:75px;
}
.state4{
  	color:green;
	font-size:12px;
  	margin-left:75px;
}
.content_box_center .v_code{
	float:right;
	width:185px;
	height:32px;
	border:0;
	font-family: 'Microsoft YaHei';
	font-size:14px;
	outline: none;
}
.content_box_center .puut .btn{
	float:right;
	width:105px;
	height:32px;
	background:#cb2828;
	color:white;
	border:none;
	cursor:pointer;
}
.content_box_center .puut_sub{
	width:330px;
	height:40px;
	background:#f33d3d;
	color:white;
	margin:20px auto;
	cursor:pointer;
}
.content_box_center .puut_sub .sub{
	font-size:18px;
	width:330px;
	height:40px;
	border:0;
	background:0;
	color:white;
	cursor:pointer;
}
.box_content{
	height:880px;
	font-size:14px;
	font-family: 'Microsoft YaHei';
	padding-left:240px;
	margin-top:10px;
}
.box_content_div{
	width:100%;
	height:880px;
	margin-left:-68px;
}
.s_orange{
	color:#eb6100;
}
.s_red{
	color:red;
	margin-left:10px;
}
.special{
	float:right;
	margin-right:-120px;
}
.box_content_five_left .s_red{
	position:relative;
	left:120px;
	top:-44px;
}
.box_content_one,.box_content_two,.box_content_three,.box_content_four,.box_content_five,.box_content_six,.box_content_seven,.box_content_eight,.box_content_nine,.box_content_ten,.box_content_eleven,.box_content_last{
	width:100%;
	height:auto;
	margin-top:5px;
}
.box_content_one_left,.box_content_one_right,.box_content_two_left,.box_content_two_right,.box_content_three_right,.box_content_three_left,.box_content_four_type,.box_content_five_left,.box_content_five_right,.box_content_six_right{
	width:640px;
	height:40px;
	line-height:40px;
	margin:5px auto;
}
.box_content_six,.box_content_seven,.box_content_eight,.box_content_nine{
	width:100%;
	height:40px;
	line-height:40px;
}
.box_content_one_left,.box_content_two_left,.box_content_three_left,.box_content_five_left,.box_content_six,.box_content_seven,.box_content_eight,.box_content_nine,.box_content_ten,.box_content_eleven,.box_content_last,.span_f{
	float:left;
}
.box_content_one_right,.box_content_two_right,.box_content_three_right,.box_content_five_right{
	float:right;
}
.box_content_two_left select{
	display:inline-block;
	width:110px;
	height:30px;
	border:1px solid #ccc;
}
.box_content_two_left #province{
	margin-left:30px;
}
.box_content .shop_text{
	width:320px;
	height:30px;
	margin-left:30px;
	border-radius: 3px;
	border:1px solid #ccc;
}
.box_content_four_type{
	margin:-4px 0px 0px 115px;
	border:1px solid #ccc;
}
.box_content_four_type label,.box_content_seven label{
	margin-left:20px;
}
.box_content_seven .span_i{
	margin-left:2px;
	position:relative;
	top:-2px;
}
.box_content .shop_text_i{
	width:200px;
	height:30px;
	margin-left:30px;
	border-radius: 3px;
	border:1px solid #ccc;
}
.shop_img{
	display:inline-block;
	width:200px;
	height:30px;
	position:relative;
	top:-14px;
}
.thumb_img{
	display:inline-block;
	width:40px;
	height:40px;
	position:relative;
	top:-6px;
	border:1px solid #e6e6e6;
}
.box_content_five_left .shop_img,.box_content_six .shop_text_i{
	margin-left:30px;
}
.box_content_six .shop_img,.box_content_eleven .shop_img,.box_content_nine .shop_text{
	margin-left:40px;
}
.box_content_three_left .shop_text_i{
	margin-left:43px;
}
.box_content_five input[type=file]{
	opacity:0;
	position:relative;
	left:83px;
	top:-55px;
}
.box_content_six input[type=file],.box_content_eleven input[type=file]{
	opacity:0;
	position:relative;
	left:-280px;
	top:-22px;
}
.box_content_four_type{
	width:840px;
	height:140px;
}	
.box_content_seven_type{
	width:375px;
	height:30px;
	line-height:30px;
}
.box_content_eight .shop_text{
	margin-left:12px;
}
.box_content_one_right .select{
	margin-left:25px;
}
.box_content_ten textarea{
	margin:10px 0px 0px 40px;
	width:840px;
	height:160px;
}
.box_content_one_right .select input{
	margin:0 4px;
}
.box_content_last{
	width:100%;
	height:30px;
	padding:20px 0px;
}
.box_content_last .sub{
	width:100px;
	height:30px;
	color:white;
	cursor:pointer;
	margin:0 545px;
	background:#f5285e;
	border-radius: 3px;
	border:1px solid #f5285e;
}
.tip{
	width:325px;
	height:auto;
	color:#3b3b3b;
	font-size:14px;
	font-family: 'microsoft yahei';
	margin:0 38px 20px 38px;
}
.content_box_bottom{
	width:330px;
	height:40px;
	margin:0 auto;
	line-height: 40px;
}
.content_box_bottom_left{
	float:left;
}
.content_box_bottom_right{
	float:right;
}
.content_box_bottom a{
	font-size:14px;
	font-family: 'Microsoft YaHei';
	color:#3b3b3b;
}

/*index.html样式*/
.head_top{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	z-index: 100001;
	height:90px;
	line-height: 90px;
	border-bottom: 1px solid #ededed;
	background-color: rgba(255,255,255,.9);
}
.head_left{
	float:left;
}
.logo_left{
	float:left;
	width:205px;
	height:57px;
	margin:16px 10px;
	background:url('../img/md_logo.png') no-repeat;
}
.head_right{
	float:right;
}
.head_right .item{
	float:left;
	margin-left:60px;
}
.head_right .item a{
	color:#333;
}
.m-slide{
	height:700px;
	/*background:url('../img/bg_icon.png') no-repeat center;*/
	background:url('../img/index_1.png') no-repeat center;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size: cover;
	-ms-behavior:url(backgroundsize.htc);
	behavior:url(backgroundsize.htc);
	filter: progid: DXImageTransform.Microsoft.AlphaImageLoader( src='../img/bg_icon.png', sizingMethod='scale');  
	-ms-filter: progid: DXImageTransform.Microsoft.AlphaImageLoader( src='../img/bg_icon.png', sizingMethod='scale');  
}
.g_main_top{
	font-size:52px;
	padding:160px 0px 60px 0px;
	color:#fff;
	font-family: 'microsoft yahei';
	letter-spacing: 7px;
}
.code{
	float:left;
}
.code img{
	display:block;
	width:238px;
	height:238px;
	margin-right:100px;
}
.sweep img{
	margin-top:65px;
}
.sweep p{
	font-size:18px;
	color:white;
	font-weight: bold;
	position:relative;
	top:4px;
	left:-40px;
}
.s_fl{
	float:right;
	margin-right:45px;
}
.s_main{
	display:block;
	height:822px;
	background:url('../img/service.png') no-repeat center;
	background-size:cover;
}
.terrace{
	display:block;
	width:100%;
	height:150px;
	background:url('../img/terrace.png') no-repeat center;
	background-size:cover;
	margin-bottom: 50px;
}
.use_flow{
	display:block;
	height:430px;
	background:url('../img/use_flow.png') no-repeat center;
	background-size:cover;
}
.u-tt{
	font-size:20px;
	color:#737284;
	padding:20px 30px 35px 30px;
	text-align: center;
}
.u-tt span{
	padding-bottom: 20px;
	border-bottom: 2px solid #6c6b6b;
	font-family: 'microsoft YaHei';
}
.u-ct li{
	float:left;
	width:33.33%;
	padding-left: 30px;
	text-align: center;
	box-sizing: border-box;
}
.u-ct a{
	display:block;
}
.u-ct .u-img img{
	display:block;
	width:100%;
	height:216px;
}
.m-news{
	height:400px;
}
.m-news h3{
	padding:10px 0px 49px 0px;
	font-size:14px;
}
.footer{
	padding:50px 0;
	background-color: #36353f;	
	color:#fff;
}
.f-main_3{
	width:100%;
	height:235px;
}
.main_one{
	float:left;
	width:28%;
	height:233px;
}
.main_right{
	float:right;
	width:66%;
	height:233px;
}
.main_two{
	float:left;
	width:43%;
	height:220px;
	padding:0 80px;
	border-right:2px solid #68686f;
	border-left: 2px solid #68686f;
}
.main_three{
	float:right;
	width:30%;
}
.one_img{
	float:left;
	margin-left:-5px;
}
.two_img{
	float:right;
}
.tt{
	font-size:18px;
	margin:0px 0px 30px 10px;
	color:#ccc;
}
.ct{
	font-size:14px;
	color:#a9a8a8;
}
.ct p{
	margin:0px 0px 10px 20px;
}
.main_two .tt .icon_picc{
	background-position: 0 0;
}
.ct li{
	display:inline-block;
	margin-left:10px;
	margin-right:12px;
	margin-top:5px;
}
.ut{
	float:left;
	width:400px;
	height:100px;
}
.main_two .ct .icon_an{
	width:50px;
	background-position: -50px 1px;
}
.main_two .ct .icon_dx{
	width:40px;
	height:30px;
	background-position:-98px 2px;
}
.main_two .ct .icon_lt{
	width:31px;
	height:30px;
	background-position: 0 -20px;
}
.main_two .ct .icon_yd{
	width:33px;
	height:29px;
	background-position:-35px -26px;
}
.main_two .ct .icon_yun{
	width:30px;
	height:22px;
	background-position: -71px -31px;
}
.main_two .ct .icon_sina{
	width:42px;
	height:37px;
	background-position: -138px 2px;
}
.main_two .ct .icon_360{
	width:28px;
	height:30px;
	background-position: 0 -50px;
}
.main_two .ct .icon_wx{
	width:40px;
	height:30px;
	background-position: -28px -54px;
}
.main_two .ct .icon_du{
	width:30px;
	height:27px;
	background-position: -70px -55px;
}
.main_two .ct .icon_sogo{
	width:30px;
	height:30px;
	background-position: -103px -53px;
}
.main_two .ct .icon_end{
	width:30px;
	height:30px;
	background-position: -141px -36px;
}
.main_two .icon_partner{
	display:inline-block;
	width:45px;
	height:24px;
	background:url('../img/all_icon.png') no-repeat;
}
.f_line{
	width:100%;
	border-bottom:2px solid #68686f;
	margin:15px 0px;
}
.f_bottom,.f_bottom a{
	font-size:14px;
	color:#a9a8a8;
	margin:0 15px;
}
.act{
	color:#ff8200!important;
}
.u-ct h3{
	color:#68686f;
}
#where,#lonlat,#lonlat2{ 
	width:200px; 
	height:30px; 
	font-size:16px; 
	color:blue;
}
#but{ 
	width:80px; 
	height:30px; 
	font-size:16px;
}
.map{
	margin:15px auto;
	width:600px;
	height:420px;
	border:1px solid gray;
}
.address-x{
	display:none;
	position:absolute;
	top:240px;
	right:10px;
	width:986px;
	height:636px;
	border:1px solid gray;
	background-color: white;
}
.p-t{
	position:relative;
	top:-24px;
}