{template 'web/common/header'}
<style>
.ssdd{
    width: 200px;
    border: 1px solid #dedede;
    padding: 20px 10px;
}
.zzcc{
    position: fixed;
    top: 0; 
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.4;
    z-index: 100000;
}
.bbdd{
    position: fixed;
    z-index: 100001;
    background-color: #ffffff;
    width: 600px;
    height: 250px;
    top: 50%;
    left: 50%;
    margin-top: -175px;
    margin-left: -300px;
    padding: 10px;
}
.ddhh{
    line-height: 30px;
    position: relative;
}
.ddxx{
    position: absolute;
    right: 0;
    top:0;
    cursor:pointer;
}
</style>
<div class="loader" style="display: none"></div>
      <!--审核不过备注信息star-->
<div class="bbdd" id="bbdd" style="display:none">
        <div class="ddhh">
            <span>请填写审核不过原因</span>
            <div class="ddxx" onclick="ycc()">[关闭]</div>
        </div>
        <div>
            <form class="form-horizontal" action="" method="post">
                <input type="hidden" id="orderfh" name="orderfh">
                <table class="table we7-table  vertical-middle" style="border:0">
                    <tr>
                        <td style="width:110px">不通过原因：</td>
                        <td >
                            <textarea name="beizhu" id="beizhu" cols="60" rows="5" style="border:1px solid #f1f1f1"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:95px"></td>
                        <td >
                            <a onclick="tijiao()" class="btn btn-success btn-sm">提交</a>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
<div class="page">

    <div class="page_content">

    	<div style="height:80px">



			<h3 style="float: left;margin-top: 0;">会员卡申请记录</h3>

		</div>

		{if $opt == 'display'}
		<div>



			<table class="table we7-table table-hover article-list vertical-middle">



		        <tr>
		            <td>用户信息</td>
		            <td>卡号</td>
		            <td>申请时间</td>
		            <td>审核时间</td>
		            <td>状态</td>
		            <td>操作</td>
		        </tr>



		        <tbody id="shujl">



		        {loop $records $item}



		            <tr>



		                <td>



		                    <img src="{$item['avatar']}" style="width: 35px;height: 35px;border-radius: 3px;margin-right: 20px">{$item['nickname']}



		                </td>





		                <td>



		                    {$item['vipid']}



		                </td>



		                <td>



		                    {$item['applytime']}



		                </td>
		                <td>
		                    {$item['examinetime']}
		                </td>
		                <td>
		                	{if $item['flag'] == 4}
							<span class="label  label-primary">免审</span>
							{/if}
		                    {if $item['flag'] == 3}
							<span class="label  label-default">待审核</span>
							{/if}
							{if $item['flag'] == 2}
							<span class="label  label-danger">不通过</span>
							{/if}
							{if $item['flag'] == 1}
							<span class="label  label-success">通过</span>
							{/if}
		                </td>

		                <td class="text-left">
		                	<a class="btn btn-default btn-sm" href="{php echo $this->createWebUrl('Userset', array('op' => 'apply', 'opt' => 'post', 'cateid'=>$_GPC['cateid'],'chid'=>$_GPC['chid'],'id' => $item['id']))}" >详情</a>
		                	{if $item['flag'] == 3}
		                		<a class="btn btn-default btn-sm" onclick="return confirm('此操作不可恢复，确认吗？'); return false;" href="{php echo $this->createWebUrl('Userset', array('op' => 'apply', 'opt' => 'shenhe', 'flag' =>1, 'cateid'=>$_GPC['cateid'],'chid'=>$_GPC['chid'],'id' => $item['id']))}" >审核通过</a>
				                <!-- <a class="btn btn-default btn-sm" onclick="return confirm('此操作不可恢复，确认吗？'); return false;" href="{php echo $this->createWebUrl('Userset', array('op' => 'apply', 'opt' => 'shenhe', 'flag' =>2, 'cateid'=>$_GPC['cateid'],'chid'=>$_GPC['chid'],'id' => $item['id']))}">审核不通过</a> -->
				                <a class="btn btn-default btn-sm" onclick="shoscc({$item['id']})">审核不通过</a>
		                	{else}
				                

				                <a class="btn btn-default btn-sm" onclick="return confirm('此操作不可恢复，确认吗？'); return false;" href="{php echo $this->createWebUrl('Userset', array('op' => 'apply', 'opt' => 'delete', 'cateid'=>$_GPC['cateid'],'chid'=>$_GPC['chid'],'id' => $item['id']))}">删除</a>
		                	{/if}
			            </td>
		            </tr>
		        {/loop}
		        </tbody>
		    </table>
		    <div id="fenye">
		        {$pager}
		    </div>

		</div>

		{/if}
		{if $opt == 'post'}
			<script type="text/javascript" src="{$_W['siteroot']}web/resource/components/datetimepicker/jquery.datetimepicker.js"></script>
			<link rel="stylesheet" type="text/css" href="{$_W['siteroot']}web/resource/components/datetimepicker/jquery.datetimepicker.css">
			<form class="form-horizontal  wnmdform mt-15 member_details_jbxx" action="" method="post">
				<div class="panel panel-default">

					<div class="panel-heading">

						 <h3 class="panel-title">会员信息</h3>

					</div>

					<div class="panel-body">

						<div class="form-group">
							<label for="" class="control-label col-sm-2">头像和昵称</label>
							<div class="col-sm-6 color-000">
								<img src="{$item['avatar']}" class="member_details_tx" />{$item['nickname']}
							</div>
						</div>
						<div class="form-group">
							<label for="" class="control-label col-sm-2">OPENID</label>
							<label class="form-controls col-sm-6 color-000 pt-7">
								{$item['openid']}
							</label>
						</div>
						<div class="form-group">
							<label for="" class="control-label col-sm-2">会员卡卡号</label>
							<label class="form-controls col-sm-6 color-000 pt-7">
								{if $item['flag']==1}{$item['vipid']}{else}尚未成为会员{/if}
							</label>
						</div>
						<div class="form-group">
							<label for="" class="control-label col-sm-2">申请状态</label>
							<label class="form-controls col-sm-6 color-000 pt-7">
								{if $item['flag'] == 4}
								<span class="label  label-primary">免审</span>
								{/if}
								{if $item['flag'] == 3}
								<span class="label  label-default">待审核</span>
								{/if}
								{if $item['flag'] == 2}
								<span class="label  label-danger">不通过</span>
								{/if}
								{if $item['flag'] == 1}
								<span class="label  label-success">通过</span>
								{/if}
							</label>
						</div>
						{if $item['flag'] == 2}
						<div class="form-group">
							<label for="" class="control-label col-sm-2">不通过原因</label>
							<label class="form-controls col-sm-6 color-000 pt-7">
								{$item['beizhu']}
							</label>
						</div>
						{/if}


						
						<div class="form-group">
							<label for="" class="control-label col-sm-2">真实姓名</label>
							<label class="form-controls col-sm-6 color-000 pt-7">
								{if $item['realname'] != 'null'}{$item['realname']}{else}无{/if}
							
							</label>
						</div>
						<div class="form-group">
							<label for="" class="control-label col-sm-2">手机号</label>
							<label class="form-controls col-sm-6 color-000 pt-7">
								{if $item['mobile'] != 'null'}{$item['mobile']}{else}无{/if}
							</label>
						</div>
						<div class="form-group">
							<label for="" class="control-label col-sm-2">生日</label>
							<label class="form-controls col-sm-6 color-000 pt-7">
								{if $item['birth'] != 'null'}{$item['birth']}{else}无{/if}
							</label>
						</div>

						<div class="form-group">
							<label for="" class="control-label col-sm-2">申请时间</label>
							<label class="form-controls col-sm-6 color-000 pt-7">	
								{$item['applytime']}
							</label>
						</div>
						<div class="form-group">
							<label for="" class="control-label col-sm-2">审核时间</label>
							<label class="form-controls col-sm-6 color-000 pt-7">	
								{if $item['flag'] == 3}{else}{$item['examinetime']}{/if}
							</label>
						</div>	
					</div>
				</div>
						



				{if $item['fid'] > 0}

					<div class="panel panel-default">

						<div class="panel-heading">

							 <h3 class="panel-title">附加表单</h3>

						</div>

						<div class="panel-body">



							

							<div class="form-group">

								<label for="" class="control-label col-sm-2 help-block" style="margin-right:25px">项目名称</label>

								<div class="form-controls col-sm-5" style="padding-top: 7px">{$forminfo['title']}</div>

							</div>

							<div class="form-group">

								<label for="" class="control-label col-sm-2 help-block" style="margin-right:25px">提交时间</label>

								<div class="form-controls col-sm-5" style="padding-top: 7px">{$forminfo['creattime']}</div>

							</div>

							{loop $forminfo['val'] $item2}

								{if $item2['type']== 3}

									<div class="form-group">

										<label for="" class="control-label col-sm-2 help-block" style="margin-right:25px">{$item2['name']}</label>

										<div class="form-controls col-sm-5" style="padding-top: 7px">

										{loop $item2['val'] $item3}

											{$item3},

										{/loop}</div>

									</div>
				                {else if $item2['type']== 5}
				                    <div class="form-group">

				                        <label for="" class="control-label col-sm-2 help-block" style="margin-right:25px">{$item2['name']}</label>

				                        {loop $item2['z_val'] $item5}
				                            <img src="{$item5}" style="width:100px; height:100px; ">
				                        {/loop}

				                    </div>
				                {else if $item2['type']== 16}
				                	<div class="form-group">

										<label for="" class="control-label col-sm-2 help-block" style="margin-right:25px">表单说明</label>

										<div class="form-controls col-sm-5" style="padding-top: 7px">{$item2['val']}</div>

									</div>
								{else}

									<div class="form-group">

										<label for="" class="control-label col-sm-2 help-block" style="margin-right:25px">{$item2['name']}</label>

										<div class="form-controls col-sm-5" style="padding-top: 7px">{$item2['val']}</div>

									</div>

								{/if}

							{/loop}

						
						</div>

					</div>

				{/if}

				<div class="form-group">
					<div class="col-sm-12">
						<a href="{php echo $this->createWeburl('Userset', array('op' =>'apply', 'opt'=>'display', 'cateid'=>$_GPC['cateid'],'chid'=>$_GPC['chid']))}" style="margin-left: 10px;" class="btn btn-default col-lg-1" />返回</a>
					</div>
				</div>
			</form>
		{/if}
    </div>

</div>
<script>
function ycc(){
    $(".loader").hide();
    $("#bbdd").hide();
}
function shoscc(id){
    $("#orderfh").val(id);
    $(".loader").show();
    $(".la-ball-clip-rotate").hide();
    //$('body').append('<div class="zzcc" id="zzcc" style="display:none"></div>');
    $("#bbdd").show();
}
function tijiao(){
    var beizhu = $("#beizhu").val();
    var orderfh = $("#orderfh").val();
    if(beizhu == ""){
        alert("审核不通过原因不能为空！");
        return false;
    }
    var newurl = document.URL+"&opt=shenhe&flag=2&beizhu="+beizhu+"&id="+orderfh;
    location.href = newurl;
}

</script>