<?xml version="1.0" encoding="utf-8"?>
<manifest>
	<application>
		<name><![CDATA[自定义海报]]></name>
		<identifie><![CDATA[diyposter]]></identifie>
		<version><![CDATA[1.0.0]]></version>
		<type><![CDATA[help]]></type>
		<description><![CDATA[自定义海报,可根据您的需要自定义拖拽设计海报。]]></description>
		<author><![CDATA[微连科技]]></author>
		<url><![CDATA[http://www.weliam.cn/]]></url>
	</application>
	<setting>
		<system embed="true" />
		<task embed="false" />
	</setting>
	<agentmenu>
	</agentmenu>
	<systemmenu>
		<menu title="海报管理" font="fa-inbox">
			<entry title="海报列表" ac="poster" do="lists" iscover="true"/>
			<entry title="添加海报" ac="poster" do="post"/>
		</menu>
		<menu title="基础设置" font="fa-inbox" >
			<entry title="基础设置" ac="setting" do="base"></entry>
		</menu>
	</systemmenu>
</manifest>