@charset "utf-8";
body {
  background: #fec248;
}
#wrap{ padding-bottom:1rem;}
.banner{ width:100%; margin:0px auto;}
.banner img{ width:100%;}
.box{
	  width: 100%;

	}
.box-main{ width:90%;	margin:0px auto;height: 1.2rem;}
.rule,
.my {
  width: 2.6rem;
  height: 0.8rem;
  background-color: #ef2122;
  text-align: center;
  line-height: 0.8rem;
  font-size: 0.4rem;
  font-weight: bold;
  color: #fff3f0;
  border-radius: 0.16666667rem;

}
.rule {
	float:left;
}
.my {
	float:right;
}
/*刮刮乐图层*/
.panel {
	margin:0px auto;
  width: 9rem;
  height: 5.76666667rem;
  background-image: url("../images/panel.png");
  position:relative;
}
#canvas {
	position:absolute;
	left:50%;
	top:50%;
	margin:-2.28rem 0rem 0rem -4.28rem;
    width: 8.49333333rem;
    height: 4.50666667rem;
}
#canvas-mask {

   margin:0px auto;
  width: 7.49333333rem;
 
}

.mask-p {
  margin:0rem auto 0.5rem auto;
  width:90%;
  height: 0.6rem;
  text-align: center;
  line-height: 0.6rem;
  font-size: 0.29333333rem;
  color: #fff;

}

/*规则背景色*/
#mask-rule .box-rule {
  background-color: #fe5c51;
}

.title1{ margin:0px auto 0.7rem auto; background:url(../images/icom2.png) no-repeat; width:66%; height:1.2rem; line-height:1.2rem; background-size:100% 100%; -webkit-background-size:100% 100%; text-align:center; font-size:0.7rem; color:#c00000}
.tabsbox { width:90%;  margin:0px auto;font-size: 80%; color: #fff; }

.tabsbox h4 {display: inline-block; background-color: #ffe746; color: #d31427; padding: 0.1rem 0.5rem; border-radius: 0.2rem;    -webkit-margin-before: 0.5em;-webkit-margin-after: 0.5em;}
.tabsbox p {margin: 0; line-height:26px;}

.Prize {border: solid 1px #fff;  border-radius: 0.3rem; padding: 0.5rem 0.5rem 0 0.5rem; position: relative; margin-bottom: 1rem;}
.Prize > div {margin: 0.8rem -0.5rem 0 -0.5rem; padding: 0.5rem 0.5rem 0.5rem 0.5rem; border-top: dotted 1px #fff; color: #ffff76;}

/* clearfix */
.clearfix:after,.clearfix:before,.row:after,.row:before {display: table; content: " "}
.clearfix:after,.classlist:after,.row:after,.row:after {clear: both;}

.btn2 {border-radius: 0.5rem; background-color: #ffe335; border: none; padding: 0.3rem 1rem; color: #d31427; display: inline-block;}

.from{ width:90%; margin:0px auto;}
.from input {width: 91%; border: none; background-color: #fff; border-radius: 0.5rem; padding: 0.5rem 0.4rem; margin-bottom: 5%;}
.from > div input {width: 42%; float: left;}
.from > div button {width: 42%; float: right;  padding: 0.5rem;}
.sorrytext{ display:none; text-align:center; color:#FFF; margin-bottom:0.5rem}