
.nav{background-color: #F5F7F9;font-size: 12px;}
.nav-tabs>li>a:hover{
    color: #fff;
    border-color: #444444;
    background-color: #444444;
}
.nav-tabs>li{margin-right: 10px;}
.nav-tabs > li.active > a,.nav-tabs > li.active > a:hover{
    background-color: #444444;
    color: #fff;
    border-color: #444444;
}
.nav>li>a{padding: 6px 20px;border-radius: 4px;border:1px solid #444444;color: #444444;}
.nav.nav-tabs{border:none;margin-top: 30px;}
.ygxian{width: 3px;height: 17px;float:left;background-color: #444444;margin-top: 6px;border:none;}
.ygdangq{margin-top: 6px;margin-left: 10px;float: left;margin-right: 10px;}
.main{margin: 6px 0px 30px;background-color: white;padding: 10px 30px;font-size: 12px;}
.form-control{font-size: 12px;color: #666;border-color: #EFEFEF;}
.ygpanel{background-color: white;}
.ygdefault{border:none;}
.panel-default>.wyheader{background-color: white;}
.panel{box-shadow:0 0px 0px;}
.btn{font-size: 12px;}
.ygmain{margin-top: 15px;}
.ygyouhui{color: #444444;border:1px solid #444444;}
.ygyouhui:hover{color: #444444;border:1px solid #444444;}
.ygshouqian{color: #FF7F50;border:1px solid #FF7F50;}
.ygshouqian:hover{color: #FF7F50;border:1px solid #FF7F50;}
.storeinfo{color: #31b0d5;border:1px solid #31b0d5;}
.storewarning{color: #f0ad4e;border:1px solid #f0ad4e;}
.storesuccess{color: #5cb85c;border:1px solid #5cb85c;}
.storeinfo:hover{color: #31b0d5;border:1px solid #31b0d5;}
.storewarning:hover{color: #f0ad4e;border:1px solid #f0ad4e;}
.storesuccess:hover{color: #5cb85c;border:1px solid #5cb85c;}
.storespan{font-size: 12px;color: #9d9d9d;border:1px solid #efefef;margin: 5px;position: relative;}
.storespan:hover{background-color: #efefef;}
.storespan:hover .bianji{display: block;}
.bianji{position: absolute;left: -40%;bottom: 27px;display: none;background-color: #333;color: white;padding: 2px 7px;border-radius: 2px;font-size: 10px;}
.arrowdown{width: 0;height: 0;border-bottom: 10px solid #333;  border-left: 10px solid transparent;transform: rotate(45deg);
    position: absolute;left: 40%;top: 78%;
}

.storegrey{color: #fff;background-color: grey;}
.storegrey:hover{color: #fff;background-color: grey;}
.storeblue{color: #fff;background-color: #444444;}
.storeblue:hover{color: #fff;background-color: #444444;}
.storered{color: #fff;background-color: #FF7F50;}
.storered:hover{color: #fff;background-color: #FF7F50;}

.storegrey3{color: grey;border:1px solid grey;}
.storegrey3:hover{color: grey;border:1px solid grey;}

.ygyouhui{color: #444444;border:1px solid #444444;}
.ygyouhui:hover{color: #444444;border:1px solid #444444;}
.ygshouqian{color: #FF7F50;border:1px solid #FF7F50;}
.ygshouqian:hover{color: #FF7F50;border:1px solid #FF7F50;}
.storeinfo{color: #31b0d5;border:1px solid #31b0d5;}
.storewarning{color: #f0ad4e;border:1px solid #f0ad4e;}
.storesuccess{color: #5cb85c;border:1px solid #5cb85c;}
.storeinfo:hover{color: #31b0d5;border:1px solid #31b0d5;}
.storewarning:hover{color: #f0ad4e;border:1px solid #f0ad4e;}
.storesuccess:hover{color: #5cb85c;border:1px solid #5cb85c;}
.storespan{font-size: 12px;color: #9d9d9d;border:1px solid #efefef;margin: 5px;position: relative;}
.storespan:hover{background-color: #efefef;}
.storespan:hover .bianji{display: block;}
.bianji{position: absolute;left: -40%;bottom: 27px;display: none;background-color: #333;color: white;padding: 2px 7px;border-radius: 2px;font-size: 10px;}
.arrowdown{width: 0;height: 0;border-bottom: 10px solid #333;  border-left: 10px solid transparent;transform: rotate(45deg);
    position: absolute;left: 40%;top: 78%;
}
.ygshouqian2{color: #FF7F50;border:1px solid #FF7F50;background-color: rgba(0,0,0,0);}
.ygshouqian2:hover{color: #fff;background-color: #FF7F50;}

.ygyouhui2{color: #444444;border:1px solid #444444;background-color: rgba(0,0,0,0);}
.ygyouhui2:hover{color: #fff;background-color:#444444;}
.storeinf2{color: #31b0d5;border:1px solid #31b0d5;background-color: rgba(0,0,0,0);}
.storewarning2{color: #f0ad4e;border:1px solid #f0ad4e;background-color: rgba(0,0,0,0);}
.storesuccess2{color: #5cb85c;border:1px solid #5cb85c;background-color: rgba(0,0,0,0);}
.storesuccess2:hover{color: #fff;background-color: #5cb85c;}
.storeinfo2:hover{color: #fff;background-color: #31b0d5;}
.storewarning2:hover{color: #fff;background-color:#f0ad4e;}
.storegrey2{color: grey;border:1px solid grey;background-color: rgba(0,0,0,0);}
.storegrey2:hover{color: #fff;background-color: grey;}
#mz{
    display:none;
}
.mz_2{
    margin-left:20%;
    padding:0px 0px 30px 0px;
    position:relative;
}
#mx .item_name{
    display: inline-block;
    width:30px;
    height:30px;
}
#mz .del{
    display: inline-block;
    cursor: pointer;
    width:16px;
    height:16px;
    font-style:normal;
    color:#f00;
    text-align: center;
    background: #ddd;
    border-radius:50%;
    font-size: 12px;
    margin:0px 10px 0px 6px;
}
#mz .del:hover{
    background:#ccc;
}
.mz_3{
    padding:10px;
}
.mzItem{
    height:30px;
    width:30%;
    left:60px;
    text-indent: 10px;
}
.mz_title{
    display: inline-block;
    width:60px;
    text-align:center;
    height:30px;
    line-height: 30px;
    border: 1px solid #ccc;

}
.addItem{
    display: inline-block;
    width:40px;
    height:30px;
    line-height: 30px;
    text-align:center;
    border:1px solid #ccc;
    border-left: 0px solid #fff;
    cursor: pointer;

}