<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head id="Head1"><meta charset="utf-8">
<meta name="keywords" content="VIP中心">
<meta name="HandheldFriendly" content="True"><meta name="MobileOptimized" content="320">
<meta name="format-detection" content="telephone=no">
<meta http-equiv="cleartype" content="on">
<title>我兑换的奖品</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

<script type="text/javascript" src="../addons/tiger_taoke/template/mobile/js/jQuery-2.1.4.min.js"></script>
<link type="text/css" rel="stylesheet" href="../addons/tiger_taoke/template/js/sweetalert.css"/>
<script type="text/javascript" src="../addons/tiger_taoke/template/js/sweetalert.min.js"></script>

{template $mbstyle.'/css'}
</head>
<body>

    <div class="container " style="min-height: 1px;">
        <div class="content">
            {template $mbstyle.'/head'}
            
            
            <div class="content ">
                <div class="content-body js-page-content">

                <a href="{php echo $this->createMobileUrl('goods')}"> <span id="Repeater1_ctl00_lbChange" class="js-spread btn btn-block btn-grayeee" style="background:#F2C802; color:#ffffff">继续兑换更多奖品</span></a>

                    <ul class="js-goods-list sc-goods-list pic clearfix size-0 " data-size="0" data-showtype="card" style="visibility: visible;">
                      {loop $goods_list $item}
                        
                                <li class="js-goods-card goods-card big-pic card has-sub-title">                                    
                                    <div class="photo-block" data-width="640" data-height="640" style="width: 100%;
                                        background-color: rgb(255, 255, 255);">
                                        <img class="goods-photo js-goods-lazy" src="{php echo strpos($item['logo'], 'http://') === FALSE ? $_W['attachurl'] . $item['logo'] : $item['logo']}">
                                    </div>
                                    <div class="info clearfix info-title info-price btn3" style="border-bottom:1px dashed #cccccc">
                                        <p class=" goods-title ">{$item['title']} </p>
                                        {if $item['type']== 4}
                                         <a href="{$item['dj_link']}"  class="btn btn-success" style="background:#BF3EFF;color:#ffffff">点击领取优惠券</a>
                                        {/if}
                                        {if $item['status'] == 'done'}
                                        <a href="###"  class="btn btn-success" style="background:#cccccc;color:#ffffff">已领取</a>
                                        {else}
                                        <a href="###"  class="btn btn-success" style="background:#EE0000;color:#ffffff">未领取</a>
                                        {/if}
                                        <p class="goods-sub-title c-black ">价值：{$item['price']}元</p>
                                        
                                        <p class="goods-sub-title c-black ">兑换日期： {php echo date('Y-m-d H:i:s', $item['createtime'])}</p>
                                       {if $item['type']==1}
                                        <p class="goods-sub-title c-black ">兑换人： {$item['realname']}</p>
                                        <p class="goods-sub-title c-black ">联系电话： {$item['mobile']}</p>
                                        <p class="goods-sub-title c-black ">收件地址： {$item['residedist']}</p>
                                       {else if $item['type']==2}
                                        <p class="goods-sub-title c-black ">手机电话： {$item['mobile']}</p>
                                       {else if $item['type'] == 0}
                                        <p class="goods-sub-title c-black ">支付宝： {$item['alipay']}</p>   
                                       {/if}
                                       {if "" != $item['note']} <p class="goods-sub-title c-black ">备注： {$item['note']}</p>{/if}
                                       <p class="goods-price">
                                            <em><span id="Repeater1_ctl00_lbNeed">兑换消耗积分</span>：<span id="Repeater1_ctl00_lbPrice">-{$item['cost']}</span></em>
                                       </p>     
                                       
                                        {if $item['type']== 3}
                                        <div class="form-group">  
                                          {if !$item['status']}
                                        <form class="form-horizontal form" id="form1" action="{php echo $this->createMobileUrl('hexiao')}" method="post" enctype="multipart/form-data">
                                             <input type="password" name="password" id="password" value="" style="width:93%;height:30px;border:1px #cecece solid" placeholder="请输入消费密码(向店员索要)">
                                             <input type="hidden" name="nickname" id='nickname' value="{$fans['nickname']}" />
                                             <input type="hidden" name="openid" id='openid' value="{$fans['openid']}" />
                                             <input type="hidden" name="goodid" id='goodid' value="{$item['id']}" />
                                             <input type="hidden" name="goodname" id='goodname' value="{$item['title']}" />
                                             <input type="submit"  name="submit" id='submit' value='确认使用' class="btn btn-success" style="width:100%;background:#4169E1;font-size:16px;color:#ffffff;margin-top:5px;height:35px;" />
                                         </form>   
                                           {/if}
                                        </div>
                                        <div class="form-group"></div> 
                                        {/if}
                                   </div>
                                   
                                    

                                    </li>
                          {/loop}

                    </ul>
                </div>
                
            </div>
            <br>
            {template $mbstyle.'/bottom'}
            <br>
        </div> 
</div>


</body>
</html>