.fl {
	float: left;
}

.fr {
	float: right
}
.hbj{
	display: flex;
	flex-direction: row;
	align-items: center;
}
.flex1{
	flex: 1;
}
.seatalert{
	width: 100%;
	background-color: rgba(0,0,0,0.6);position: fixed;
	left: 0;
	top: 0;
	min-height: 800px;
	z-index: 8000;
	display: none;
}
.seatalert1{
	position:absolute;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 1000px;
	height: 800px;
	background-color: #fff;
	border-radius: 10px;
}
.seatbox{
	width: 800px;
	height: 682px;
	position: absolute;
	margin: auto;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
}
.show_seatbox{
	margin-right: 30px;
	background-color: #f6f6f6;
	height: 609px;
	box-sizing: border-box;
	border: 1px solid #eee;
	width: 360px;
	position: relative;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	overflow: hidden;
}
.yyyd_head_img{
	display: block;
}
.show_seat_head{
	padding: 0 10px;
	border-bottom: 1px solid #eee;
	height: 55px;
	background-color: #ffffff;
}
.show_seat_head_title{
	font-size: 16px;
	color: #434343;
}
.show_seat_head_date{
	font-size: 14px;
	color: #838383;
}
.show_seat_head_date span{
	font-family: arial;
}
.show_seat_head_right{
	width: 55px;
	height: 20px;
	text-align: center;
	line-height: 20px;
	font-size: 14px;
	color: #e52a2a;
	border: 1px solid #e52a2a;
	margin-left: 5px;
	border-radius: 4px;
}
.seat_statebox{
	padding: 15px 10px;
	background-color: #fff;
	font-size: 0;
	text-align: center;
}
.seat_state_single{
	display: inline-block;
	font-size: 14px;
	color: #434343;
	margin-right: 20px;
}
.seat_state_single:last-child{
	margin-right: 0;
}
.seat_state_single img{
	width: 27px;
	margin-right: 10px;
	vertical-align: -6px;
}
.seat_selected{
	padding: 12px 10px;
	background-color: #fff;
	position: absolute;
	left: 0;
	bottom: 46px;
	width: 100%;
	box-sizing: border-box;
	text-align: left;
}
.seat_selected_single{
	padding: 0 6px;
	border: 1px solid #eee;
	height: 32px;
	color: #434343;
	line-height: 32px;
	font-size: 14px;
	margin-right: 8px;
	display: inline-block;
}
.seat_selected_single:last-child{
	margin-right: 0;
}
.seat_bottom_btn{
	width: 100%;
	height: 46px;
	line-height: 46px;
	text-align: center;
	color: #fff;
	font-size: 16px;
	background-color: #E52A2A;
	position: absolute;
	left: 0;
	bottom: 0;
}
.edit_seatbox{
	width: 410px;
	box-sizing: border-box;
	border-radius: 10px;
	background-color: #F6F6F6;
	padding: 0 10px 50px;
	display: inline-block;
	vertical-align: top;
	max-height: 609px;
	overflow: auto;
}
.edit_seat_head{
	color: #232323;
	font-size: 16px;
	border-bottom: 1px solid #E5E5E5;
	height: 48px;
	line-height: 48px;
	text-align: left;
	padding: 0 10px;
}
.edit_seat_content{
	margin-top: 20px;
	padding: 0 10px;
}
.edit_seat_content_left{
	width: 75px;
	text-align: left;
	font-size: 14px;
	color: #636363;
	line-height: 30px;
}
.edit_seat_input{
	width: 165px;
	height: 30px;
	border: 1px solid #eee;
	background-color: #fff;
	line-height: 30px;
	padding: 0 14px;
	box-sizing: border-box;
	font-size: 14px;
	color: #636363;
}
.mb15{
	margin-bottom: 15px;
}
.ml10{
	margin-left: 10px;
}
.edit_seat_del{
	width: 70px;
	height: 30px;
	border-radius: 4px;
	text-align: center;
	line-height: 30px;
	font-size: 14px;
	color: #fff;
	cursor: pointer;
	background-color: #bfbfbf;
}
.edit_seat_add{
	width: 70px;
	height: 30px;
	border-radius: 4px;
	text-align: center;
	line-height: 30px;
	font-size: 14px;
	color: #fff;
	cursor: pointer;
	background-color: #6671e4;
}
.show_content{
	width: 340px;
	margin: 0 auto;
	overflow: auto;
	height: 300px;
}
.show_content td{
	position: relative;
	padding: 5px;
	white-space:nowrap; 
}
.show_content div{
	padding: 0 10px;
	height: 30px;
	box-sizing: border-box;
	border: 1px solid #eee;
	border-radius: 4px;
	background-color: #fff;
	color: #838383;
	line-height: 28px;
	text-align:center;
	
}
.show_content img{
	display: block;
	width: 27px;
	position: absolute;
	margin:auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	cursor: pointer;
}
.show_content::-webkit-scrollbar {/*滚动条整体样式*/
    width: 10px;     /*高宽分别对应横竖滚动条的尺寸*/
    height: 10px;
    }
.show_content::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    border-radius: 10px;
    background: #d2d2d2;
}
.show_content::-webkit-scrollbar-track {/*滚动条里面轨道*/

    border-radius: 10px;
    background: #ebebeb;
}
.edit_seatbox::-webkit-scrollbar {/*滚动条整体样式*/
    width: 10px;     /*高宽分别对应横竖滚动条的尺寸*/
    height: 10px;
    }
.edit_seatbox::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    border-radius: 10px;

    background: #d2d2d2;
}
.edit_seatbox::-webkit-scrollbar-track {/*滚动条里面轨道*/

    border-radius: 10px;
    background: #ebebeb;
}
.seat_btnbox{
	font-size: 0;
	margin-top: 40px;
	text-align: center;
}
.seat_btn_sure{
	display: inline-block;
	width: 72px;
	height: 32px;
	border-radius: 4px;
	background-color: #6671e4;
	color: #fff;
	text-align: center;
	line-height: 32px;
	font-size: 14px;
	cursor: pointer;
}
.seat_btn_del{
	display: inline-block;
	width: 72px;
	height: 32px;
	border-radius: 4px;
	background-color: #bfbfbf;
	color: #fff;
	text-align: center;
	line-height: 32px;
	font-size: 14px;
	margin-left: 20px;
	cursor: pointer;
}
.tbTitle{font-size:12px}
.tbTitleSelect{font-size: 12px;
    display: block;
    background: #62b900;
    width:60px;color: #fff;
    margin: 0 auto;text-align: center;
    padding: 2px 0;}
.tbTitleSelect.selected{background: #f00;}
.titfix{width: 60px;display: inline-block;margin: 0 10px;}