{template 'common/header'}
<ul class="nav nav-tabs">
    <li {if $op == 'display'}class="active"{/if}><a href="{php echo $this->createWebUrl('cate', array('op' => 'display'))}">管理店铺分类</a></li>
    <li {if $op == 'post'}class="active"{/if}><a href="{php echo $this->createWebUrl('cate', array('op' => 'post'))}">添加店铺分类</a></li>
</ul>
{if $op == 'display'}
<form class="form-horizontal" action="" method="post">
    <table class="table we7-table table-hover article-list vertical-middle">
        <tr>
            <td style="width:120px">ID</td>
            <td style="width:100px">排序</td>
            
            <td>栏目名称</td>
            <td class="text-right">操作</td>
        </tr>
        {loop $list $item}
        <tr>
            <td>
                <a href="javascript:;" data-id="{$item['id']}" class="label label-success ng-scope js-clip" >{$item['id']}</a>
            </td>
            <td>
                {$item['num']}
            </td>
            
            <td>
                <strong>{$item['name']}</strong>
            </td>
            <td class="text-right">
                <a class="btn btn-default btn-sm" href="{php echo $this->createWeburl('cate', array('id' => $item['id'], 'op' =>'post'))}" >编辑</a>
                <a class="btn btn-default btn-sm" onclick="return confirm('此操作不可恢复，确认吗？'); return false;" href="{php echo $this->createWeburl('cate', array('id' => $item['id'], 'op' => 'delete'))}">删除</a>
            </td>
        </tr>
        {/loop}
    </table>
</form>
<script>
$('.js-clip').each(function(){
    util.clip(this, $(this).data('id'));
});
</script>
{elseif $op == 'post'}
<form class="form-horizontal" action="" method="post">
        <div class="panel panel-default">
        <div class="panel-heading">
             <h3 class="panel-title">栏目内容</h3>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label for="" class="control-label col-sm-2" style="margin-right:45px">排序</label>
                <div class="form-controls col-sm-5" style="padding-right: 30px;">
                    <input type="number" min='0' name="num" value="{$item['num']}" style="width: 100px" class="form-control ng-pristine ng-untouched ng-valid ng-empty"  placeholder="" autocomplete="off">
                </div>
                <div class="form-controls col-sm-4 help-block">序号越大越靠前</div>
            </div>
            <div class="form-group">
                <label for="" class="control-label col-sm-2" style="margin-right:45px">启用</label>
                <div class="form-controls col-sm-5" style="padding-right: 30px;">
                    <label style="margin-right: 20px">
                        <input type="radio" name="flag" value="1" {if $item['flag'] == '1'} checked{/if} />
                        启用
                    </label>
                    <label style="margin-right: 20px">
                        <input type="radio" name="flag" value="0" {if $item['flag'] == '0'} checked{/if} />
                        不启用
                    </label>
                </div>
                <div class="form-controls col-sm-4 help-block">启用后方可显示</div>
            </div>
            <div class="form-group">
                <label for="" class="control-label col-sm-2" style="margin-right:45px">分类名称</label>
                <div class="form-controls col-sm-5" style="padding-right: 30px;">
                    <input type="text" name="name" value="{$item['name']}" class="form-control ng-pristine ng-untouched ng-valid ng-empty"  placeholder="" autocomplete="off">
                </div>
                <div class="form-controls col-sm-4 help-block">分类名称</div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-12">
            <input name="token" type="hidden" value="{$_W['token']}" />
            <input type="submit" class="btn btn-primary col-lg-1" name="submit" value="提交" />
        </div>
    </div>
</form>
{/if}
{template 'common/footer'}