{template 'common/header'}
<div class="we7-page-title"> &nbsp; </div>
<ul class="we7-page-tab">
<li><a href="{php echo $this->createWebUrl('educate')}">课程分类</a></li>
<li><a href="{php echo $this->createWebUrl('edulesson')}">课程管理</a></li>
<li><a href="{php echo $this->createWebUrl('educhapter')}">章节管理</a></li>
<li><a href="{php echo $this->createWebUrl('edustudy')}">学习课程记录</a></li>
<li><a href="{php echo $this->createWebUrl('edulog')}">学习章节记录</a></li>
<li class="active"><a href="{php echo $this->createWebUrl('edumessage')}">课程留言评论</a></li>
</ul>

<div class="btn-group we7-btn-group we7-margin-bottom">
<a class="btn active" href="{php echo $this->createWebUrl('edumessage')}">课程留言评论</a>
</div>

{if $op=='display'}
<div class="panel panel-default">
<div class="panel-heading">筛选</div>
<div class="panel-body">
<form action="" method="get" class="form-horizontal form" role="form">
<input type="hidden" name="c" value="site" />
<input type="hidden" name="a" value="entry" />
<input type="hidden" name="m" value="vlinke_cparty" />
<input type="hidden" name="do" value="edumessage" />

    <div class="form-group">
        <label class="col-sm-2 control-label"> 所属组织</label>
        <div class="col-sm-10">
            <div class="input-group">
                <input type="text" class="form-control" name="branchname" id="branchname" value="{$branch['name']}" placeholder="请输入组织名称点击查询并选择...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" onclick="javascript:checkBranch();">点击查询</button>
                </span>
            </div>
            <div class="help-block" id="branchbox"></div>
        </div>
    </div>
    <input type="hidden" name="branchid" id="branchid" value="{$branch['id']}" />
    <script type="text/javascript">
    function checkBranch() {
        var branchname = $("#branchname").val();
        $.post("<?php echo $this->createWebUrl('checkbranch'); ?>",{branchname:branchname},         
            function(ret){
                $("#branchbox").html(ret);
            }
        );
    }
    function clickBranch(branchid,branchname) {
        $("#branchid").val(branchid);
        $("#branchname").val(branchname);
    }
    </script>

    <div class="form-group">
        <label class="col-sm-2 control-label">真实姓名</label>
        <div class="col-sm-4">
            <input class="form-control" name="realname" type="text" placeholder="党员真实姓名..." value="{$realname}">
        </div>
        <div class="col-sm-6">
            <button class="btn btn-default"><i class="fa fa-search"></i> 搜索</button>
            <button class="btn btn-default" name="output" value="1"><i class="fa fa-file"></i> 导出</button>
            <button type="button" class="btn btn-default">总记录数：{$total['tol']}</button>
        </div>
    </div>
</form>
</div>
</div>

<table class="table we7-table table-hover vertical-middle">
<thead class="navbar-inner">
    <tr>
        <th style="width:10%;">ID</th>
        <th style="width:20%;">信息</th>
        <th style="width:30%;">课程标题</th>
        <th style="width:20%;">创建时间</th>
        <th style="width:20%; text-align:right;">
            <a class="btn btn-success btn-sm" href="javascript:$('.trbox').show();"><i class="fa fa-eye"></i> 显示</a>
            <a class="btn btn-success btn-sm" href="javascript:$('.trbox').hide();"><i class="fa fa-eye-slash"></i> 隐藏</a>
        </th>
    </tr>
</thead>
<tbody>
    {loop $list $row}
    <tr> 
        <td><input type="checkbox" name="check" value="{$row['id']}"> {$row['id']}</td>
        <td><strong>{$row['realname']}-{$row['mobile']}</strong></td>
        <td><a href="{php echo $this->createWebUrl('edumessage',array('lessonid'=>$row['lessonid']))}">{$row['title']}</a></td>
        <td>{php echo date('Y-m-d H:i',$row['createtime'])}</td>
        <td class="text-right">
            <a class="btn btn-primary btn-sm" href="javascript:$('#trbox{$row['id']}').slideToggle();"><i class="fa fa-eye"></i> 详情</a>
            <a class="btn btn-default btn-sm" href="{php echo $this->createWebUrl('edumessage',array('op'=>'delete','id'=>$row['id']))}" onclick="return confirm('删除后不可恢复,确定要删除吗?')"><i class="fa fa-times"></i> 删除</a>
        </td>
    </tr>
    <tr class="trbox" id="trbox{$row['id']}" style="display: none;">
        <td></td>
        <td class="text-left" colspan="4">
            <p><strong>留言信息：</strong>{$row['details']}</p>
            <p>
                {loop $row['picall'] $pic}
                <a target="_brank" href="{php echo tomedia($pic);}">
                <img width="150" style="margin: 0px 2px 5px 0px;" src="{php echo tomedia($pic);}">
                </a>
                {/loop}
            </p>
        </td>
    </tr>
    {/loop}
    <tr>
        <td class="text-left" colspan="3">
            <span class="btn btn-success btn-sm checkall" id="checkall"><i class="icon-edit"></i>全选</span>
            <span class="btn btn-success btn-sm uncheckall" id="uncheckall"><i class="icon-edit"></i>全不选</span>
            <input type="button" class="btn btn-primary btn-sm deleteall" id="deleteall" name="deleteall" value="删除选择的" />
        </td>
        <td class="text-right" colspan="2">
            <a class="btn btn-success btn-sm" href="javascript:$('.trbox').show();"><i class="fa fa-eye"></i> 显示</a>
            <a class="btn btn-success btn-sm" href="javascript:$('.trbox').hide();"><i class="fa fa-eye-slash"></i> 隐藏</a>
        </td>
    </tr>
</tbody>
</table>
<div class="pull-right">{$pager}</div>

<script>
    $(function(){
        $('.checkall').bind('click',function(){
            $("input[name='check']").each(function(){
               $(this).prop("checked","checked");
            });
        });
        $('.uncheckall').bind('click',function(){
            $("input[name='check']").each(function(){
               $(this).prop("checked",false);
            });
        });
        $('#deleteall').click(function(){
            var check = $("input:checked");
            if(check.length<1){
                alert("请选择要删除的记录!");
                return false;
            }
            if(confirm("确认要删除选择的记录?")){
                var id = new Array();
                check.each(function(i){ id[i] = $(this).val(); });
                $.post("<?php echo $this->createWebUrl('edumessage',array('op'=>'deleteall')); ?>",{idArr:id},         
                    function(data){
                        if(data == 'error'){
                           alert('删除失败！');
                           location.reload();
                        }else{
                           alert('删除成功！');
                           location.reload();
                        }
                    }
                );
            }
        });
    });
</script>
{/if}
{template 'common/footer'}