{template 'common/header'}
<div class="we7-page-title"> &nbsp; </div>
<ul class="we7-page-tab">
<li class="active"><a href="{php echo $this->createWebUrl('slide')}">轮播图片</a></li>
</ul>

<div class="btn-group we7-btn-group we7-margin-bottom">
<a class="btn {php echo $op=='display'?'active':'';}" href="{php echo $this->createWebUrl('slide')}">轮播图片管理</a>
<a class="btn {php echo $op=='post'?'active':'';}" href="{php echo $this->createWebUrl('slide',array('op'=>'post','id'=>$id))}">添加&编辑轮播图片</a>
</div>

{if $op=="display"}
<div class="panel panel-default">
<div class="panel-heading">筛选</div>
<div class="panel-body">
<form action="" method="get" class="form-horizontal form" role="form">
<input type="hidden" name="c" value="site" />
<input type="hidden" name="a" value="entry" />
<input type="hidden" name="m" value="vlinke_cparty" />
<input type="hidden" name="do" value="slide" />
    <div class="form-group">
        <label class="col-sm-2 control-label">展示位置</label>
        <div class="col-sm-5">
            <select class="form-control" name="position">
                <option value="" {if $position==""}selected{/if}>全部</option>
                {loop $positionarr $key $row}
                <option value="{$key}" {if $position==$key} selected {/if}>{$row}</option>
                {/loop}
            </select>
        </div>
        <div class="col-sm-5">
            <button class="btn btn-default"><i class="fa fa-search"></i> 搜索</button>
            <button type="button" class="btn btn-default">总记录数：{$total}</button>
        </div>
    </div>
</form>
</div>
</div>

<table class="table we7-table table-hover vertical-middle">
<thead class="navbar-inner">
    <tr>
        <th style="width:15%;">排序ID</th>
        <th style="width:20%;">标题图</th>
        <th style="width:25%;">标题</th>
        <th style="width:20%;">位置</th>
        <th style="width:20%;" class="text-right">操作</th>
    </tr>
</thead>
<tbody>
    {loop $list $row}
    <tr> 
        <td>{$row['priority']}</td>
        <td><img class="img-responsive" src="{php echo tomedia($row['tilpic']);}"/></td>
        <td>{$row['title']}</td>
        <td>
            <span class="label label-success">{$positionarr[$row['position']]}</span>
        </td>
        <td class="text-right">
            <a class="btn btn-primary btn-sm" href="{php echo $this->createWebUrl('slide',array('op'=>'post','id'=>$row['id']));}"><i class="fa fa-edit"></i> 编辑</a>

            <a class="btn btn-default btn-sm" href="{php echo $this->createWebUrl('slide',array('op'=>'delete','id'=>$row['id']));}"  onclick="return confirm('删除后不可恢复,确定要删除吗?')"><i class="fa fa-times"></i> 删除</a>
        </td>
    </tr>
    {/loop}
</tbody>
</table>
<div class="pull-right">{$pager}</div>

{elseif $op=="post"}
<form action="" method="post" class="form-horizontal form" role="form" enctype="multipart/form-data">
<input type="hidden" name="c" value="site" />
<input type="hidden" name="a" value="entry" />
<input type="hidden" name="m" value="vlinke_cparty" />
<input type="hidden" name="do" value="slide" />
<input type="hidden" name="op" value="post" />
<input type="hidden" name="id" value="{$id}" />

<div class="panel panel-default">
<div class="panel-heading">幻灯片信息</div>
<div class="panel-body">
    <div class="form-group">
        <label class="col-sm-2 control-label"> 展示位置</label>
        <div class="col-sm-10">
            {loop $positionarr $key $row}
            <label class="radio-inline">
                <input type="radio" name="position" value="{$key}" {if $slide['position']==$key} checked {/if}> {$row} 
            </label>
            {/loop}
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"> 排序ID</label>
        <div class="col-sm-10">
            <input type="text" name="priority" class="form-control" value="{$slide['priority']}">
            <div class="help-block">降序，值越大越靠前</div>
        </div>
    </div>
	<div class="form-group">
        <label class="col-sm-2 control-label"> 轮播图标题</label>
        <div class="col-sm-10">
            <input type="text" name="title" class="form-control" value="{$slide['title']}">
            <div class="help-block"></div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"> 公众号链接</label>
        <div class="col-sm-10">
            <input type="text" name="link" class="form-control" value="{$slide['link']}">
            <div class="help-block">“javascript:;”表示不跳转</div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"> 小程序链接</label>
        <div class="col-sm-10">
            <div class="input-group">
                <span class="input-group-addon">类型</span>
                <select class="form-control" name="wxapptype">
                    <option value="1" {if $slide['wxapptype']==1}selected{/if}>内部网页跳转</option>
                    <option value="2" {if $slide['wxapptype']==2}selected{/if}>外部网页跳转</option>
                    <option value="3" {if $slide['wxapptype']==3}selected{/if}>关联小程序跳转</option>
                </select>
                <span class="input-group-addon">链接</span>
                <input type="text" name="wxapplink" class="form-control" value="{$slide['wxapplink']}">
            </div>
            <div class="help-block"></div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"> 标题图</label>
        <div class="col-sm-10">
            {php echo tpl_form_field_image('tilpic',$slide['tilpic']);}
            <div class="help-block">建议尺寸750*375</div>
        </div>
    </div>
</div>
</div>
<input type="hidden" name="token" value="{$_W['token']}" />
<input name="submit" type="submit" value="提交" class="btn btn-primary btn-submit">
</form>
{/if}
{template 'common/footer'}