var strHandle = (function(arr) {
    if (typeof arr == 'string') {
        return (arr)
    };
    var str = "";
    if (!arr) {
        return ("")
    } else {
        str = arr[(0)] + "-" + changeTime(arr[(1)]) + "-" + changeTime(arr[(2)]) + " " + (arr[(3)] != -1 ? changeTime(arr[(3)]) + ':00' : '不清楚')
    };
    return (str)
});
var changeTime = (function(str) {
    str += "";
    if (str && str.length == 1) {
        str = "0" + str
    };
    return (str)
});
module.exports = ({
    strHandle: strHandle,
});