{template 'common/header'}



<div class="clearfix">				

<ul class="nav nav-tabs">

	<li class="active"><a href="{php echo $this->createWebUrl('son')}">子程序列表</a></li>

	<li><a href="{php echo $this->createWebUrl('son_post')}">添加子程序</a></li>

	<li><a href="{php echo $this->createWebUrl('son_withdrawal')}">提现列表</a></li>

</ul>

<div class="main panel panel-default">
	<div class="table-responsive">
		<table class="table table-hover">
			<thead class="navbar-inner">
				<tr>
					<th style="width:10%;">子程序uniacid</th>
					<th style="width:10%;">佣金比例</th>					
					<th style="width:15%;">拼多多推广位</th>
					<th style="width:15%;">蘑菇街推广位</th>
					<th style="width:15%;">京东推广位</th>
					<th style="width:15%;">备注</th>
					<th class="text-right" style="width:10%;">操作</th>
				</tr>
			</thead>
			<tbody>
				{loop $list $index $item}
					<tr>
						<td>{$item['son_uniacid']}</td>
						<td>{$item['son_rate']}</td>
						<td>{$item['son_pid']}</td>
						<td>{$item['son_gid']}</td>
						<td>{$item['son_positionId']}</td>
						<td>{$item['beizhu']}</td>
						<td class="text-right">
							<a href="{php echo $this->createWebUrl('son_post',array('id'=>$item['id']))}" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="top" title="" data-original-title="编辑"><i class="fa fa-edit"></i></a>
							<a href="{php echo $this->createWebUrl('son_post',array('act'=>'del','id'=>$item['id']))}" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="top" title="" data-original-title="删除"><i class="fa fa-times"></i></a>
						</td>
					</tr>
				{/loop}
				{if empty($list) }
                <tr ng-if="!wechats">
                <td colspan="9" class="text-center">暂无数据</td>
                </tr>
                {/if}
				<tr>
					<td colspan="9" style="text-align:right">{$page}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<script type="text/javascript">
$(".displayorder").bind('input propertychange',function(){
	$.ajax({
	    url:"{php echo $this->createWebUrl('adv_post',array('act'=>'display'))}",
	    type:'POST',
	    async:true,
	    data:{
	        displayorder:$(this).val(),id:$(this).attr('data-id')
	    },
	    timeout:5000,
	    dataType:'json',
	    success:function(data){
	        //alert(data.message);
	    }
	})
})
</script>
</div>
{template 'common/footer'}