{template 'public/header'}
{template 'public/comhead'}
<link rel="stylesheet" type="text/css" href="../addons/yzqzk_sun/template/public/ygcss.css">
<!--<script src="../addons/yzqzk_sun/static/layui/layui.js"></script>-->
<!--<script src="../addons/yzqzk_sun/static/layui/layui.all.js"></script>-->
<style type="text/css">
    input[type="radio"] + label::before {
        content: "\a0"; /*不换行空格*/
        display: inline-block;
        vertical-align: middle;
        font-size: 16px;
        width: 1em;
        height: 1em;
        margin-right: .4em;
        border-radius: 50%;
        border: 2px solid #ddd;
        text-indent: .15em;
        line-height: 1;
    }
    input[type="radio"]:checked + label::before {
        background-color: #444444;
        background-clip: content-box;
        padding: .1em;
        border: 2px solid #444444;
    }
    input[type="radio"] {
        position: absolute;
        clip: rect(0, 0, 0, 0);
    }
</style>

<ul class="nav nav-tabs">
    <span class="ygxian"></span>
    <div class="ygdangq">当前位置:</div>
    <li><a href="{php echo $this->createWebUrl('story')}">故事列表</a></li>
    <li class="active"><a href="{php echo $this->createWebUrl('addstory')}">添加故事</a></li>
</ul>

<div class="main ygmain">
    <form action="" method="post" class="form-horizontal form" enctype="multipart/form-data">
        <div class="panel panel-default ygdefault">

            <div class="panel panel-default">
                <div class="panel-body ygbtn">
                    {if $info['id']}
                    <div class="btn ygyouhui2"><a href="javascript:;">故事编辑</a></div>
                    {else}
                    <div class="btn ygyouhui2"><a href="{php echo $this->createWebUrl('addstory')}">故事添加</a></div>
                    {/if}
                </div>
            </div>

            <div class="form-group category">
                <label class="col-xs-12 col-sm-3 col-md-2 control-label">故事会分类</label>
                <div class="col-sm-9">
                    <select name="category_id"  class="form-control category_id">
                        {loop $category $key $item}
                        {if $item['id']==$info['category_id']}
                        <option value="{$item['id']}" selected="selected">{$item['title']}</option>
                        {else}
                        <option value="{$item['id']}" >{$item['title']}</option>
                        {/if}
                        {/loop}
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-12 col-sm-3 col-md-2 control-label">专辑</label>
                <div class="col-sm-9">
                    <select name="album_id"  class="form-control" id="album_id">
                        <option value="0" {if $info['album_id']==0} selected="selected" {/if} >空</option>
                        {loop $album $key $item}
                        {if $item['id']==$info['album_id']}
                        <option value="{$item['id']}" selected="selected">{$item['title']}</option>
                        {else}
                        <option value="{$item['id']}" >{$item['title']}</option>
                        {/if}
                        {/loop}
                    </select>
                </div>
            </div>



            <div class="form-group">
                <label class="col-xs-12 col-sm-3 col-md-2 control-label">故事名称</label>
                <div class="col-sm-9">
                    <input type="text" name="title" class="form-control" value="{$info['title']}" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-12 col-sm-3 col-md-2 control-label">故事音频</label>
                <div class="col-sm-9"  style="width: 780px;">
                    {php echo tpl_form_field_audio('file_path', $info['file_path'])}
                    <span class="help-block"></span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-12 col-sm-3 col-md-2 control-label">故事音频链接</label>
                <div class="col-sm-9">
                    <input type="text" name="file_link" class="form-control" placeholder="" value="{$info['file_link']}" />
                    <span class="help-block" style="color:#FF0000">当故事音频链接不为空时，使用该音频链接否则使用上面故事音频</span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-12 col-sm-3 col-md-2 control-label">音频时长</label>
                <div class="col-sm-9">
                    <input type="text" name="duration" class="form-control" placeholder="例如: 15:00" value="{$info['duration']}" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-12 col-sm-3 col-md-2 control-label">首页展示图和列表图</label>
                <div class="col-sm-9"  style="width: 780px;">
                    {php echo tpl_form_field_image('pic', $info['pic'])}
                    <span class="help-block">*建议尺寸大小200*200</span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-12 col-sm-3 col-md-2 control-label">详情背景图</label>
                <div class="col-sm-9"  style="width: 780px;">
                    {php echo tpl_form_field_image('pic_bg', $info['pic_bg'])}
                    <span class="help-block">*建议尺寸大小750*1206</span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-12 col-sm-3 col-md-2 control-label">播放旋转图</label>
                <div class="col-sm-9"  style="width: 780px;">
                    {php echo tpl_form_field_image('pic_open', $info['pic_open'])}
                    <span class="help-block">*建议尺寸大小400*400</span>
                </div>
            </div>


            <div class="form-group">
                <label for="lastname" class="col-sm-2 control-label">是否显示在首页</label>
                <div class="col-sm-10">
                    <label class="radio-inline">
                        <input type="radio" id="show_index1" name="show_index" value="1" {if $info['show_index']==1}checked{/if} />
                        <label for="show_index1">是</label>
                    </label>
                    <label class="radio-inline">
                        <input type="radio" id="show_index2" name="show_index" value="0" {if $info['show_index']==0}checked{/if} />
                        <label for="show_index2">否</label>
                    </label>
                    <span class="help-block" style="color:red;">*注 设为首页显示且不属于亲子卡vip显示在首页</span>
                </div>

            </div>

         <!--   <div class="form-group">
                <label for="lastname" class="col-sm-2 control-label">是否显示在试听</label>
                <div class="col-sm-10">
                    <label class="radio-inline">
                        <input type="radio" id="show_st1" name="show_st" value="1" {if $info['show_st']==1}checked{/if} />
                        <label for="show_st1">是</label>
                    </label>
                    <label class="radio-inline">
                        <input type="radio" id="show_st2" name="show_st" value="0" {if $info['show_st']==0}checked{/if} />
                        <label for="show_st2">否</label>
                    </label>
                </div>
            </div>-->

            <div class="form-group">
                <label for="lastname" class="col-sm-2 control-label">亲子卡vip</label>
                <div class="col-sm-10">
                    <label class="radio-inline">
                        <input type="radio" id="is_vip1" name="is_vip" value="1" {if $info['is_vip']==1}checked{/if} />
                        <label for="is_vip1">是</label>
                    </label>
                    <label class="radio-inline">
                        <input type="radio" id="is_vip2" name="is_vip" value="0" {if $info['is_vip']==0}checked{/if} />
                        <label for="is_vip2">否</label>
                    </label>
                    <span class="help-block" style="color:red;">*注 设置为亲子卡vip,前端故事分类中才能显示该故事</span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-12 col-sm-3 col-md-2 control-label">排序</label>
                <div class="col-sm-9">
                    <input type="number" name="sort" class="form-control" placeholder="" value="{$info['sort']}" />
                    <span class="help-block">数字越大越靠前</span>
                </div>
            </div>

        </div>

        <div class="form-group">

            <input type="submit" name="submit" value="提交" class="btn col-lg-3" style=" margin-left: 550px;color: white;background-color: #444444;"/>

            <input type="hidden" name="token" value="{$_W['token']}" />
            <input type="hidden" name="id" value="{$info['id']}" />

        </div>

    </form>

</div>
<script type="text/javascript">
    $(function(){
        $("#frame-7").show();
        $("#yframe-7").addClass("wyactive");
    })
    $('.category_id').change(function(){
        get_album_id();
    });
    $('#album_id').on('change',function(){
        setalbum_id();
    })


    get_album_id();
    setalbum_id();
    function get_album_id(){
       var category_id=$('.category_id').val();
        $.ajax({
            type:"post",
            url:"{$_W['siteroot']}/app/index.php?i={$_W['uniacid']}&c=entry&do=getalbum&m=yzqzk_sun",
            dataType:"text",
            data:{category_id:category_id},
            success:function(res){
              
               
            }
        })
    
    }
    function setalbum_id(){
        var album_id=$('#album_id').val();
        if(album_id>0){
            $('.category').hide();
        }else{
            $('.category').show();
        }
    }
</script>