{template 'public/header'}

{template 'public/comhead'}

<link rel="stylesheet" type="text/css" href="../addons/yzqzk_sun/template/public/ygcss.css">

<ul class="nav nav-tabs">    
    <span class="ygxian"></span>
    <div class="ygdangq">当前位置:</div>
    <li class="active"><a href="javascript:void(0);">动态信息</a></li>
    <li><a href="{php echo $this->createWebUrl('dynamic');}"><i class="fa fa-refresh"></i>返回动态列表</a></li>
</ul>
<div class="main ygmain">
    <form action="" method="post" class="form-horizontal form" enctype="multipart/form-data">
        <div class="panel panel-default ygdefault">

            <div class="panel-heading wyheader">
                动态信息
            </div>

            <div class="panel-body">

             <!--   <div class="form-group" style="margin-left: 3px;">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">头像</label>
                    <div class="col-sm-9">
                        {php echo tpl_form_field_image('head_img', $info['head_img'])}
                        <span class="help-block">*建议宽高72*72</span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">标题</label>
                    <div class="col-sm-9">
                        <input type="text" name="title" class="form-control" value="{$info['title']}" />
                    </div>
                </div>-->

                <div class="form-group" style="width: 90%;margin-left: 15px;">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">内容</label>
                    <div class="col-sm-10">
                        <textarea name="content" class="form-control" cols="30" rows="7">{$info['content']}</textarea>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">动态图</label>
                    <div class="col-sm-9">
                        {php echo tpl_form_field_multi_image('imgs',$imgs);}
                        建议尺寸大小：1：1
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">商品</label>
                    <div class="col-sm-9">

                        <select name="gid"  class="form-control">
                            {loop $goods $key $item}
                            {if $item['id']==$info['gid']}
                            <option value="{$item['id']}" selected="selected">{$item['goods_name']}</option>
                            {else}
                            <option value="{$item['id']}" >{$item['goods_name']}</option>
                            {/if}
                            {/loop}
                        </select>

                    </div>
                </div>


      </div>

  </div>

        <div class="form-group">

            <input type="submit" name="submit" value="提交" class="btn col-lg-3" style=" margin-left: 550px;color: white;background-color: #444444;"/>

            <input type="hidden" name="token" value="{$_W['token']}" />
             <input type="hidden" name="id" value="{$info['id']}" />

        </div>

    </form>

</div>
<script type="text/javascript">
    $(function(){
        $("#frame-13").show();
        $("#yframe-13").addClass("wyactive");
    })
</script>