{template 'common/header'}
{template 'indextab'}
<style type="text/css">
.panel-default {
    padding: 10px;
    border-radius: 0;
    border:1px dashed #e2e2e2;
}
</style>

<form action="" method="post"  class="form-horizontal form layui-form" enctype="multipart/form-data" id="form1" onsubmit="return onCheck()">
  <!--  -->
  <div class='panel panel-default'>
      <div class='panel-body'>
			 <div class="form-group col-sm-4">
		        <label class="col-sm-2 control-label" style="text-align:left;">栏目名称</label>
		        <div class="col-sm-8">
		            <input type="text" name="index" id="index"  class="form-control" value="{$item['index']}" placeholder="如：首页"/>
		        </div>
		    </div>
			<div class="form-group col-sm-4">
		        <label class="col-sm-2 control-label" style="text-align:left;">是否显示</label>
		        <div class="col-sm-8">
		            <input type="checkbox" {if $item['status']==1}checked="checked"{/if} name="status" id="titles" />
		        </div>
		    </div>
			<div class="form-group col-sm-4">
		        <label class="col-sm-2 control-label" style="text-align:left;">hot图标</label>
		        <div class="col-sm-8">
		            <input type="checkbox" {if $item['hot']==1}checked="checked"{/if} name="hot" id="titles" />
		        </div>
		    </div>
      </div>
  </div>
  <!--  -->
  <div class='panel panel-default'>
      <div class='panel-body'>
			 <div class="form-group col-sm-6">
		        <label class="col-sm-2 control-label" style="text-align:left;">文字1</label>
		        <div class="col-sm-8">
		            <input type="text" name="titlef1" id="titlef1"  class="form-control" value="{$item['titlef1']}" placeholder="如：DEVELOPMENT"/>
		        </div>
		    </div>

			<div class="form-group col-sm-6">
		        <label class="col-sm-2 control-label" style="text-align:left;">文字2</label>
		        <div class="col-sm-8">
		            <input type="text" name="titlef2" id="titlef2"  class="form-control" value="{$item['titlef2']}" placeholder="如：IOS程序 + APK程序"/>
		        </div>
		    </div>

			<div class="form-group col-sm-6">
		        <label class="col-sm-2 control-label" style="text-align:left;">文字3</label>
		        <div class="col-sm-8">
		            <input type="text" name="titlef3" id="titlef3"  class="form-control" value="{$item['titlef3']}" placeholder="如：APP"/>
		        </div>
		    </div>

			<div class="form-group col-sm-6">
		        <label class="col-sm-2 control-label" style="text-align:left;">文字4</label>
		        <div class="col-sm-8">
		            <input type="text" name="titlef4" id="titlef4"  class="form-control" value="{$item['titlef4']}" placeholder="如：应用开发"/>
		        </div>
		    </div>

			<div class="form-group col-sm-6">
		        <label class="col-sm-2 control-label" style="text-align:left;">文字5</label>
		        <div class="col-sm-8">
		            <input type="text" name="titlef5" id="titlef5"  class="form-control" value="{$item['titlef5']}" placeholder="如：为企业快速打造全平台应用制作开发"/>
		        </div>
		    </div>

			<div class="form-group col-sm-6">
		        <label class="col-sm-2 control-label" style="text-align:left;">文字6</label>
		        <div class="col-sm-8">
		            <input type="text" name="titlef6" id="titlef6"  class="form-control" value="{$item['titlef6']}" placeholder="如：For the rapid development of enterprise application development"/>
		        </div>
		    </div>

			<div class="form-group col-sm-6">
		        <label class="col-sm-2 control-label" style="text-align:left;">文字7</label>
		        <div class="col-sm-8">
		            <input type="text" name="titlef7" id="titlef7"  class="form-control" value="{$item['titlef7']}" placeholder="如：高品质服务"/>
		        </div>
		    </div>

			<div class="form-group col-sm-6">
		        <label class="col-sm-2 control-label" style="text-align:left;">文字8</label>
		        <div class="col-sm-8">
		            <input type="text" name="titlef8" id="titlef8"  class="form-control" value="{$item['titlef8']}" placeholder="如：扁平化设计"/>
		        </div>
		    </div>

			<div class="form-group col-sm-6">
		        <label class="col-sm-2 control-label" style="text-align:left;">文字9</label>
		        <div class="col-sm-8">
		            <input type="text" name="titlef9" id="titlef9"  class="form-control" value="{$item['titlef9']}" placeholder="如：专业性开发"/>
		        </div>
		    </div>

			<div class="form-group col-sm-6">
		        <label class="col-sm-2 control-label" style="text-align:left;">文字10</label>
		        <div class="col-sm-8">
		            <input type="text" name="titlef10" id="titlef10"  class="form-control" value="{$item['titlef10']}" placeholder="如：让营销变得更简单"/>
		        </div>
		    </div>

			<div class="form-group col-sm-6">
		        <label class="col-sm-2 control-label" style="text-align:left;">是否显示</label>
		        <div class="col-sm-8">
		            <input type="checkbox" {if $item['status1']==1}checked="checked"{/if} name="status1" id="title" />
		        </div>
		    </div>

			<div class="form-group col-sm-12">
		        <label class="col-sm-1 control-label" style="text-align:left;">背景图</label>
		        <div class="col-sm-8">
		            {php echo tpl_form_field_image('img1', $item['img1'], '');}
					<span>建议上传1400*900px的图片</span>
		          
		        </div>
		    </div>		    
	 </div>
  </div>
  
  <div class='panel panel-default'>
      <div class='panel-body'>
			 <div class="form-group col-sm-6">
		        <label class="col-sm-2 control-label" style="text-align:left;">文字1</label>
		        <div class="col-sm-8">
		            <input type="text" name="titles1" id="titles1"  class="form-control" value="{$item['titles1']}" placeholder="如：互联网+"/>
		        </div>
		    </div>

			<div class="form-group col-sm-6">
		        <label class="col-sm-2 control-label" style="text-align:left;">文字2</label>
		        <div class="col-sm-8">
		            <input type="text" name="titles2" id="titles2"  class="form-control" value="{$item['titles2']}" placeholder="如：营销型建站"/>
		        </div>
		    </div>

			<div class="form-group col-sm-6">
		        <label class="col-sm-2 control-label" style="text-align:left;">文字3</label>
		        <div class="col-sm-8">
		            <input type="text" name="titles3" id="titles3"  class="form-control" value="{$item['titles3']}" placeholder="如：SEO OPTIMIZING"/>
		        </div>
		    </div>

			<div class="form-group col-sm-6">
		        <label class="col-sm-2 control-label" style="text-align:left;">文字4</label>
		        <div class="col-sm-8">
		            <input type="text" name="titles4" id="titles4"  class="form-control" value="{$item['titles4']}" placeholder="如：咨询策划　创意设计　技术开发　运营维护　营销推广"/>
		        </div>
		    </div>

			<div class="form-group col-sm-6">
		        <label class="col-sm-2 control-label" style="text-align:left;">文字5</label>
		        <div class="col-sm-8">
		            <input type="text" name="titles5" id="titles5"  class="form-control" value="{$item['titles5']}" placeholder="如：技术优势"/>
		        </div>
		    </div>

			<div class="form-group col-sm-6">
		        <label class="col-sm-2 control-label" style="text-align:left;">文字6</label>
		        <div class="col-sm-8">
		            <input type="text" name="titles6" id="titles6"  class="form-control" value="{$item['titles6']}" placeholder="如：“互联网+”就是“互联网+各传统行业”，但这并不是简单相加"/>
		        </div>
		    </div>

			<div class="form-group col-sm-6">
		        <label class="col-sm-2 control-label" style="text-align:left;">文字7</label>
		        <div class="col-sm-8">
		            <input type="text" name="titles7" id="titles7"  class="form-control" value="{$item['titles7']}" placeholder="如：解决方案"/>
		        </div>
		    </div>

			<div class="form-group col-sm-6">
		        <label class="col-sm-2 control-label" style="text-align:left;">文字8</label>
		        <div class="col-sm-8">
		            <input type="text" name="titles8" id="titles8"  class="form-control" value="{$item['titles8']}" placeholder="如：资源中的优化和集成，将互联网的创新成果深度融合于经济"/>
		        </div>
		    </div>

			<div class="form-group col-sm-6">
		        <label class="col-sm-2 control-label" style="text-align:left;">文字9</label>
		        <div class="col-sm-8">
		            <input type="text" name="titles9" id="titles9"  class="form-control" value="{$item['titles9']}" placeholder="如：服务流程"/>
		        </div>
		    </div>

			<div class="form-group col-sm-6">
		        <label class="col-sm-2 control-label" style="text-align:left;">文字10</label>
		        <div class="col-sm-8">
		            <input type="text" name="titles10" id="titles10"  class="form-control" value="{$item['titles10']}" placeholder="如：它代表一种新的社会形态，让互联网与传统行业进行深度融合"/>
		        </div>
		    </div>

			<div class="form-group col-sm-6">
		        <label class="col-sm-2 control-label" style="text-align:left;">是否显示</label>
		        <div class="col-sm-8">
		            <input type="checkbox" {if $item['status2']==1}checked="checked"{/if} name="status2" id="titles" />
		        </div>
		    </div>

			<div class="form-group col-sm-12">
		        <label class="col-sm-1 control-label" style="text-align:left;">背景图</label>
		        <div class="col-sm-8">
		            {php echo tpl_form_field_image('img2', $item['img2'], '');}
					<span>建议上传1400*900px的图片</span>
		          
		        </div>
		    </div>		    
	 </div>
  </div>
  
  <div class='panel panel-default'>
      <div class='panel-body'>
			 <div class="form-group col-sm-6">
		        <label class="col-sm-2 control-label" style="text-align:left;">文字1</label>
		        <div class="col-sm-8">
		            <input type="text" name="titlet1" id="titlet1"  class="form-control" value="{$item['titlet1']}" placeholder="如：平"/>
		        </div>
		    </div>

			<div class="form-group col-sm-6">
		        <label class="col-sm-2 control-label" style="text-align:left;">文字2</label>
		        <div class="col-sm-8">
		            <input type="text" name="titlet2" id="titlet2"  class="form-control" value="{$item['titlet2']}" placeholder="如：面"/>
		        </div>
		    </div>

			<div class="form-group col-sm-6">
		        <label class="col-sm-2 control-label" style="text-align:left;">文字3</label>
		        <div class="col-sm-8">
		            <input type="text" name="titlet3" id="titlet3"  class="form-control" value="{$item['titlet3']}" placeholder="如：设"/>
		        </div>
		    </div>

			<div class="form-group col-sm-6">
		        <label class="col-sm-2 control-label" style="text-align:left;">文字4</label>
		        <div class="col-sm-8">
		            <input type="text" name="titlet4" id="titlet4"  class="form-control" value="{$item['titlet4']}" placeholder="如：计"/>
		        </div>
		    </div>

			<div class="form-group col-sm-6">
		        <label class="col-sm-2 control-label" style="text-align:left;">文字5</label>
		        <div class="col-sm-8">
		            <input type="text" name="titlet5" id="titlet5"  class="form-control" value="{$item['titlet5']}" placeholder="如：GRAPHIC DESIGN"/>
		        </div>
		    </div>

			<div class="form-group col-sm-6">
		        <label class="col-sm-2 control-label" style="text-align:left;">文字6</label>
		        <div class="col-sm-8">
		            <input type="text" name="titlet6" id="titlet6"  class="form-control" value="{$item['titlet6']}" placeholder="如：创意新思维"/>
		        </div>
		    </div>

			<div class="form-group col-sm-6">
		        <label class="col-sm-2 control-label" style="text-align:left;">文字7</label>
		        <div class="col-sm-8">
		            <input type="text" name="titlet7" id="titlet7"  class="form-control" value="{$item['titlet7']}" placeholder="如：尽在掌握"/>
		        </div>
		    </div>

			<div class="form-group col-sm-6">
		        <label class="col-sm-2 control-label" style="text-align:left;">文字8</label>
		        <div class="col-sm-8">
		            <input type="text" name="titlet8" id="titlet8"  class="form-control" value="{$item['titlet8']}" placeholder="如：广告策划"/>
		        </div>
		    </div>

			<div class="form-group col-sm-6">
		        <label class="col-sm-2 control-label" style="text-align:left;">文字9</label>
		        <div class="col-sm-8">
		            <input type="text" name="titlet9" id="titlet9"  class="form-control" value="{$item['titlet9']}" placeholder="如：服务理念：提供售前、售中和售后的一条龙服务，"/>
		        </div>
		    </div>

			<div class="form-group col-sm-6">
		        <label class="col-sm-2 control-label" style="text-align:left;">文字10</label>
		        <div class="col-sm-8">
		            <input type="text" name="titlet10" id="titlet10"  class="form-control" value="{$item['titlet10']}" placeholder="如：全过程把满足客户需求作为企业活动的核心。"/>
		        </div>
		    </div>

			<div class="form-group col-sm-6">
		        <label class="col-sm-2 control-label" style="text-align:left;">是否显示</label>
		        <div class="col-sm-8">
		            <input type="checkbox" {if $item['status3']==1}checked="checked"{/if} name="status3" id="titlet" />
		        </div>
		    </div>

			<div class="form-group col-sm-12">
		        <label class="col-sm-1 control-label" style="text-align:left;">背景图</label>
		        <div class="col-sm-8">
		            {php echo tpl_form_field_image('img3', $item['img3'], '');}
					<span>建议上传1400*900px的图片</span>
		          
		        </div>
		    </div>		    
	 </div>
  </div>
  
  <div class="form-group">
		        <div class="col-sm-offset-2 col-md-offset-2 col-lg-offset-1 col-xs-12 col-sm-10 col-md-10 col-lg-11">
		            <input name="submit" type="submit" value="提交" class="btn btn-primary span3" />
		            <input type="hidden" name="token" value="{$_W['token']}" />		            
		        </div>
	</div>
</form>
  
		  
    <script type="text/jscript">
    	function onCheck(){
			if($('#title').val() == ''){
			alert('标题不能为空！');
			return false; 
		}
		}
    </script>