{template 'common/header'}
{template 'indextab'}
<style type="text/css">
	th,tr,td{
		border:1px solid #e2e2e2;
		overflow: hidden;
	}
.img{
	width:120px;
	height:80px;
	
	}
</style>
<a href="{php echo $this->createWebUrl('indexadd');}" class="btn btn-default btn-sm" style="background-color: #5FB878; color: #fff;">新增视频</a>
<div style="width: 100%; overflow: hidden;">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="31" height="30" align="center">ID</td>
    <td width="" align="center">视频名称</td>
	<td width="" align="center">发布时间</td>
    <td width="" colspan="2" align="center">操作</td>
  </tr>
 {loop $videores $index $item}
  <tr style="border:1px solid #e2e2e2">
    <td height="60" align="center">{$item['id']}</td>
    <td align="center">{$item['title']}</td>
	<td align="center">{php echo date('Y-m-d H:i:s', $item['time'])}</td>

    <td align="center"><a href="{php echo $this->createWebUrl('Indexedit', array('id' => $item['id']));}" class="btn btn-default btn-sm">编辑</a></td>
    <td align="center"><a onClick="return confirm('确定删除该案例吗？')" href="{php echo $this->createWebUrl('Indexdel',array('id'=>$item['id']))}" class="btn btn-danger btn-sm" >删除</a></td>
  </tr>
  {/loop}
</table>
<div style="text-align:center;margin-top:10px;">
{$pager}
</div>
</div>

<script src="{$_W['siteroot']}addons/yzxgwpc_sun/template/jquery/jquery-3.3.1.min.js"></script>
<script>
//ajax修改显示状态
function changerec(o){
	var id=$(o).attr("id");
	$.ajax({
		type:"post",
		dataType:"json",
		data:{id:id},
		url:"{php echo $this->createWebUrl('changerec');}",
		success:function(data){
			if(data==1){
				$(o).attr("class","btn btn-danger btn-sm");
				$(o).text('不推荐');
			}else{
				$(o).attr("class","btn btn-default btn-sm");
				$(o).text('推荐');
			}
		}
	});
}

</script>