var splitPrice = (function(price, flag) {
    price = undefined === price ? '0.00' : price;
    flag = undefined === flag ? 0 : flag;
    var json = price.split('.');
    if (flag == 0) {
        return (json[(0)])
    } else if (flag == 1) {
        return (json[(1)])
    } else {
        return ('未设置')
    }
});
module.exports = ({
    splitPrice: splitPrice,
});