var toTime = (function(t, flag) {
    t = undefined === t ? 0 : t;
    t = (t - 0) * 1000;
    t = getDate(t);
    var year = t.getFullYear();
    var month = (t.getMonth() + 1) > 9 ? (t.getMonth() + 1) : '0' + (t.getMonth() + 1);
    var day = t.getDate() > 9 ? t.getDate() : '0' + t.getDate();
    var h = t.getHours() > 9 ? t.getHours() : '0' + t.getHours();
    var m = t.getMinutes() > 9 ? t.getMinutes() : '0' + t.getMinutes();
    if (flag == 1) {
        return (year + '-' + month + '-' + day)
    } else if (flag == 2) {
        return (h + ':' + m)
    } else {
        return (year + '-' + month + '-' + day + ' ' + h + ':' + m)
    }
});
var day = (function(t) {
    t = undefined === t ? 0 : t;
    var time = parseInt(t / 86400);
    return (time)
});
var hours = (function(t) {
    t = undefined === t ? 0 : t;
    var time = parseInt(t % 86400 / 3600);
    return (time > 9 ? time : '0' + time)
});
var min = (function(t) {
    t = undefined === t ? 0 : t;
    var time = parseInt(t % 3600 / 60);
    return (time > 9 ? time : '0' + time)
});
var second = (function(t) {
    t = undefined === t ? 0 : t;
    var time = parseInt(t % 60);
    return (time > 9 ? time : '0' + time)
});
var countDown = (function(t) {
    var t = t - 0;
    if (t < 0) {
        return ('00:00')
    } else {
        var min = Math.floor(t / 60);
        min = min > 9 ? min : '0' + min;
        var second = parseInt(t % 60);
        second = second > 9 ? second : '0' + second;
        return (min + ':' + second)
    }
});
module.exports = ({
    toTime: toTime,
    day: day,
    hours: hours,
    min: min,
    second: second,
    countDown: countDown,
});