* {
	margin: 0;
	padding: 0;
}

html {
	margin: 0;
	padding: 0;
}

img {
	border: none
}

ul {
	list-style-type: none
}

a {
	text-decoration: none;
	color: #484848;
	font-size: 13px;
}

div {
	overflow: hidden;
	padding: 0;
	margin: 0;
}

b {
	font-weight: 200;
	font-size: 12px;
}

body {
	font: 12px SimSun, Arial, Helvetica, sans-serif;
	color: #484848;
	margin: 0;
	padding: 0;
}

.header {
	height: 140px;
	width: 100%;
	background: #fff url(../images/header_bg.gif) repeat-x center bottom;
}

.head {
	background: url(../images/head_bg.gif) no-repeat center bottom;
	width: 980px;
	margin: 0 auto;
	padding: 0 10px;
	height: 140px;
	position: relative;
}

div.nav {
	position: absolute;
	height: 50px;
	bottom: 0;
	width: 980px;
}

div.logo {
	position: absolute;
	left: 25px;
	bottom: 60px;
}

div.top_ad {
	position: absolute;
	left: 210px;
	bottom: 60px;
}

div.top_user {
	position: absolute;
	right: 20px;
	bottom: 60px;
	color: #484848;
	font-family: Microsoft YaHei;
}

.top_user div {
	float: right;
}

.top_user p {
	overflow: hidden;
}

.top_user a.top_kefu {
	display: block;
	overflow: hidden;
	width: 55px;
	padding-left: 45px;
	height: 40px;
	vertical-align: middle;
	line-height: 40px;
	background: url(../images/top_kefu.gif) no-repeat 0 0;
	float: left;
}

.top_user a.top_tel {
	float: left;
	display: block;
	margin-right: 15px;
}

.top_user .text {
	background: url(../images/top_user_input.gif) no-repeat 0 0;
	width: 92px;
	height: 20px;
	padding: 2px;
	border: none;
}

.top_user label {
	color: #262626;
	padding: 0 10px;
	display: inline-block;
	vertical-align: middle;
}

.top_user form {
	float: left;
}

.top_user .top_login {
	clear: both;
	padding-top: 5px;
}

.top_user a.submit {
	border: none;
	width: 55px;
	display: inline-block;
	height: 26px;
	vertical-align: middle;
	margin-top: 0px;
	_margin-top: -8px;
	background: url(../images/top_user_login.gif) no-repeat center center;
}

.top_user input {
	vertical-align: middle;
}

.top_user  .top_login a {
	margin-left: 10px;
	color: #262626;
	line-height: 25px;
}

.top_user .top_login.top_logined a {
	margin-left: 0;
}

div.nav ul li {
	float: left;
	background: url(../images/nav_border.gif) no-repeat left center;
}

div.nav ul li a {
	display: block;
	color: #fff;
	font-size: 14px;
	padding: 13px 35px;
	font-weight: bold;
}

div.nav ul li.index {
	background: none;
}

div.nav ul li.index a {
	padding-left: 56px;
}

div.nav ul li.noborder {
	background: none;
}

div.nav ul li a:hover,div.nav ul li a.hover {
	background-image: url(../images/nav_hover.gif);
	background-position: 0 top;
	background-repeat: repeat-x;
}

div.nav_bottom {
	clear: both;
}
/**
*首页导航条飘浮
*/
div.nav_bottom .nav_bottom_hover {
	position: absolute;
	background-color: #F4F4F4;
	z-index: 99999;
	display: none;
	padding-top: 10px;
	padding-left: 30px;
	padding-right: 100px;
	padding-bottom: 10px;
	border:1px;
	border-style: none solid solid solid; border-width: 2px;
	border-color:#4682B4;
	
}
/**
*导航条下拉菜单产品组名字
*/

.head_product_group{
	font-size:18px;
	color:red;
}
/**
*导航条下拉菜单产品组列表产品
*/
.head_product{
	padding-top:5px;
	font-size:14px;
}
.main {
	width: 1000px;
	margin: 0 auto;
	height: 100%;
}

.switch {
	width: 1000px;
	background: url(../images/switch_bg.gif) repeat-y center center;
}

.banner {
	margin-left: 20px;
	padding-bottom: 10px;
}

.banner_slide_list {
	height: 240px;
}

.banner_slide_page {
	position: absolute;
	left: 430px;
	bottom: 0px;
	z-index: 100;
}

.banner_slide_page a {
	background: url(../images/banner_slide_ico.png) no-repeat 0 0;
	display: block;
	width: 12px;
	height: 12px;
	float: left;
	padding: 8px;
}

.banner_slide_page a.activeSlide {
	background: url(../images/banner_slide_ico_hover.png) no-repeat 0 0;
}

.wrap {
	padding: 0px 20px 0px 20px;
	width: 960px;
	position: relative;
	background: url(../images/wrap_bg.gif) no-repeat center top;
	overflow: hidden;
}

/*side box*/
.wrap_side {
	width: 242px;
	float: left;
}

.side_box {
	background: #fff url(../images/index_left_box_bg.gif) repeat-x 0 1px;
	border: 1px solid #bdbdbd;
	border-top: 1px solid #d44716;
	margin-bottom: 10px;
}

.side_box .title li {
	color: #0b5e94;
	font-size: 14px;
	float: left;
	font-weight: bold;
}

.side_box .title li a {
	padding: 10px;
	display: block;
	color: #d44716;
}

.side_box .side_box_info ul.default {
	padding: 10px;
}

.side_box .side_box_info ul.default li {
	line-height: 25px;
	padding-left: 10px;
	background: url(../images/li_ico.gif) no-repeat 0 center;
}

.side_box .side_box_info ul.default li.last_more,.side_box .side_box_info ul.default li.last_more a
	{
	color: #cc0001;
	background-image: none;
}

.side_box .side_box_info ul.default li a:hover {
	color: #ff6e01;
}

.side_box.side_box_switch {
	border-top: none;
}

.side_box .title {
	height: 40px;
}

.side_box.side_box_switch .title li {
	border-top: 1px solid #bdbdbd;
	width: 40%;
	text-align: center;
}

.side_box.side_box_switch .title li.index {
	background-image: url(../images/index_side_title_hover.gif);
	background-repeat: repeat-x;
	border-top: none;
	width: 40%;
}

.side_box.side_box_switch .title li.index a {
	background-image: url(../images/index_side_title_bg.gif);
	background-repeat: no-repeat;
	background-position: right 0px;
	color: #D44716;
}

.side_box.side_box_switch .title li.index2 {
	width: 60%;
	text-align: left;
}

.side_box.side_box_switch .title li.index2 a {
	color: #484848;
}

.side_box.side_box_switch .title li.index.index2 a {
	background-position: left 0px;
}

.side_box .side_box_info ul.index_help {
	 padding: 15px 12px;
	height: 207px;
	overflow: hidden;
}

.side_box .side_box_info ul.index_help li {
	padding: 6px 0;
}

.side_box .side_box_info ul.index_help li img {
	vertical-align: middle;
	margin-right: 10px;
}

/*wrap_main*/
.wrap_main {
	float: right;
	width: 706px;
}

.wrap_box {
	background: url(../images/wrap_box_bg.gif) repeat-x 0 1px;
	border: 1px solid #c8c8c8;
	padding: 15px;
	overflow: hidden;
	margin-bottom: 10px;
}

.wrap_box_info {
	height: 100%;
	overflow: hidden;
}

/*wrap_box title*/
.wrap_box .title {
	margin-bottom: 20px;
	overflow: hidden;
	height: 100%;
}

.wrap_box .title h2 {
	color: #d44716;
	font-size: 14px;
	float: left;
	padding-right: 60px;
}

.wrap_box .title li {
	float: left;
}

.wrap_box .title li a {
	background: url(../images/wrap_title_li_a_bg.gif) no-repeat left center;
	display: block;
	padding-left: 25px;
	padding-right: 30px;
	font-weight: bold;
}

.wrap_box .title li a:hover,.wrap_box .title li a.hover {
	background-image: url(../images/wrap_title_li_a_hover_bg.gif);
	color: #ff6e01;
}

/*domain*/
.wrap_box_info .domain {
	height: 141px;
	overflow: hidden;
}

.wrap_box_info .domain form {
	font-family: Microsoft YaHei;
	background: url(../images/domain_bg.gif) no-repeat right 10px;
	overflow: hidden;
}

.wrap_box_info .domain form label {
	font-size: 20px;
	margin-right: 10px;
	float: left;
	display: block;
}

.wrap_box_info .domain form p {
	clear: both;
	overflow: hidden;
}

.wrap_box_info .domain form ul.domain_list {
	margin-top: 15px;
	width: 440px;
}

.wrap_box_info .domain form ul.domain_list li {
	float: left;
	padding: 3px 5px 3px 0;
	height: 19px;
	*padding: 2px 5px 2px 0;
	width: 80px;
}

.wrap_box_info .domain form ul.domain_list li input {
	float: left;
	margin-right: 2px;
	margin-top: 5px;
	*margin-top: 0;
}

/*form*/
form .text {
	border: 1px solid #bdbdbd;
	background: url(../images/form_text_bg.gif) repeat-x 0 top;
	padding: 6px;
}

form .submit {
	background: url(../images/form_submit_bg.gif) repeat-x 0 top;
	color: #fff;
	font-size: 14px;
	border: none;
	width: 95px;
	height: 30px;
	overflow: hidden;
	margin: 0;
	text-align: center;
	font-weight: bold;
}

form table .text {
	float: left;
	margin-right: 10px;
}

/*host*/
.host {
	overflow: hidden;
}

.host dl {
	float: left;
	width: 207px;
	padding-right: 17px;
	padding-left: 17px;
	background: url(../images/host_dl_bg.gif) no-repeat right top;
	padding-bottom: 14px;
}

.host dl.index {
	padding-right: 0;
	background: none;
}

.host dd {
	line-height: 25px;
}

.host dd p {
	background: url(../images/host_li_ico.gif) no-repeat 0 center;
	padding-left: 10px;
}

.host dt {
	margin-bottom: 10px;
}

.host .host_ico {
	background: url(../images/host_ico.gif) no-repeat left center;
	height: 40px;
	padding-left: 85px;
}

.host .host_vps_ico {
	background-image: url(../images/host_vps_ico.gif);
}

.host .host_yun_ico {
	background-image: url(../images/host_yun_ico.gif);
}
.host .host_zy_ico {
	background-image: url(../images/host_zy_ico.gif);
}
.host .host_ico span,.host .host_ico b {
	clear: both;
	display: block;
	padding: 3px 0;
	font-weight: bold;
	color: #484848;
}

.host .host_ico b {
	color: #ff3901;
}

.host a.host_more {
	display: block;
	color: #fff;
	font-weight: bold;
	background: url(../images/view_more.gif) no-repeat 0 0;
	width: 120px;
	height: 31px;
	padding-top: 5px;
	margin-top: 10px;
	text-align: center;
	margin: 10px auto 5px auto;
}

/*footer*/
.footer {
	background: #fff;
	width: 100%;
}

.footer_help {
	margin-top: 10px;
	background: url(../images/footer_help_bg.gif) repeat-x 0 0;
	border-bottom: 1px solid #dbdbdb;
	overflow: hidden;
	height: 100%;
}

.footer_help dl {
	float: left;
	width: 220px;
	padding: 15px 10px 15px 10px;
}

.footer_help dl dt {
	font-size: 18px;
	font-family: Microsoft YaHei;
}

.footer_help dl dt img {
	vertical-align: middle;
	margin-right: 10px;
}

.footer_help dl dd {
	padding: 5px 0 5px 55px;
}

.footer_bottom {
	text-align: center;
	padding: 10px 0;
}

.footer_bottom p {
	padding: 5px 0;
}

.footer_bottom p.footer_link_help a {
	padding: 0 5px;
}

/*list host*/
.wrap_side_noindex {
	width: 201px;
}

.wrap_main_noindex {
	width: 748px;
}

.wrap_main_noindex .host dl {
	width: 210px;
	padding-right: 10px;
	padding-left: 18px;
}

.wrap_main_noindex .host a.host_more {
	width: 103px;
	height: 33px;
	padding-top: 0;
	background-image: url(../images/vhost_btn2.gif);
	float: left;
}

.wrap_main_noindex .host a.host_more2 {
	background-image: url(../images/vhost_btn1.gif);
}

ul.li_default li {
	border-top: 1px dashed #e0e0e0;
	padding: 10px;
}

ul.li_default li.noborder {
	border-top: none;
}

ul.li_nav li {
	overflow: hidden;
	_height: 35px;
}

ul.li_nav li a {
	border-top: 1px dashed #e0e0e0;
	padding: 10px;
	overflow: hidden;
	display: block;
}

ul.li_nav {
	padding-top: 10px;
}

ul.li_nav li a.hover,ul.li_nav li a:hover {
	background-color: #e5e5e5;
	border-left: 2px solid #cc0001;
	border-top: none;
}

.subnav {
	margin: 0 auto;
	background: url(../images/wrap_bg.gif) no-repeat 0 top;
	overflow: hidden;
}

.subnav_info {
	width: 930px;
	margin: 0 auto 0 auto;
	background: url(../images/sub_nav_bg.gif) repeat-x 0 0;
	height: 26px;
	padding: 3px 25px 10px 25px;
	font-family: SimSun;
}

.news_li li {
	padding: 10px;
	background: url(../images/news_li_ico.gif) no-repeat left center;
	border-bottom: 1px dashed #e0e0e0;
}

.news_li span.time {
	float: right;
	color: #797979;
}

.news_li li a {
	color: #363636;
}

/*view*/
.news_content .title h1 {
	color: #515151;
	font-size: 14px;
	text-align: center;
}

.news_content .news_intro {
	text-align: center;
}

.news_content .news_info {
	line-height: 23px;
	padding: 10px;
}

/*domain*/
.domain_all {
	background-image: url(../images/domain_all_bg.gif);
	padding: 10px 15px 15px 15px;
}

.domain_all th {
	padding: 14px 10px;
	border: 1px solid #cbd7de;
	background: url(../images/domain_th_bg.gif) repeat-x 0 center;
}

.domain_all td {
	border: 1px solid #cbd7de;
	padding: 10px;
	text-align: center;
	font-weight: bold;
}

.domain_all table {
	border: 1px solid #cbd7de;
	border-collapse: collapse;
	width: 100%;
}

td.domain_list_title {
	background-color: #fefaef;
	color: #ff724c;
	padding-left: 30px;
}

td span.price_old {
	text-decoration: line-through;
	margin-right: 5px;
	font-weight: 200;
}

td.align_left {
	text-align: left;
}

/*page*/
.page {
	clear: both;
	padding: 10px;
	text-align: right;
}

/*login*/
.login {
	padding: 10px 50px 30px 50px;
	overflow: hidden;
	height: 100%;
}

.login .login_notice {
	border-bottom: 1px dashed #c2c2c2;
	padding-bottom: 10px;
}

.form .checkbox {
	display: inline-block;
	vertical-align: middle;
}

.form td {
	padding: 10px;
	overflow: hidden;
}

.form .text {
	padding: 8px;
}

.submit_btn {
	border: none;
	background: url(../images/login_submit.gif) no-repeat 0 0;
	width: 199px;
	height: 46px;
	color: #fff;
	font-size: 18px;
	font-family: Microsoft YaHei;
	cursor: pointer;
	padding-left: 15px;
}

.login_right_info {
	border-left: 1px dashed #c2c2c2;
	float: right;
	width: 300px;
	height: 360px;
	padding: 0px 30px 30px 30px;
	margin-top: 30px;
	line-height: 23px;
}

.login_right_info .title {
	margin-bottom: 10px;
}

.login_form {
	float: left;
	padding: 30px 25px 30px 60px;
	width: 400px;
}

label.error {
	display: inline-block;
	color: red;
	padding: 5px;
}

.red {
	color: red;
}
/*piao*/
.piao_sell_msg {
	padding: 20px;
	z-index: 205;
	background: #fff;
	margin: 10px;
}

.alert_msg {
	background-color: #ccc;
	position: absolute;
	top: 0;
	left: 500px;
	top: 150px;
	z-index: 200;
	border-radius: 5px;
}
/*member left side*/
ul.li_nav .m_ico {
	padding-left: 30px;
	background-repeat: no-repeat;
	background-position: 5px center;
}

.m_ico_01 {
	background-image: url(../images/ico/m_01.png);
}

.m_ico_02 {
	background-image: url(../images/ico/m_02.png);
}

.m_ico_03 {
	background-image: url(../images/ico/m_03.png);
}

.m_ico_04 {
	background-image: url(../images/ico/m_04.png);
}

.m_ico_05 {
	background-image: url(../images/ico/m_05.png);
}

.m_ico_06 {
	background-image: url(../images/ico/m_06.png);
}

.m_ico_07 {
	background-image: url(../images/ico/m_07.png);
}

.m_ico_08 {
	background-image: url(../images/ico/m_08.png);
}

.m_ico_09 {
	background-image: url(../images/ico/m_09.png);
}

.m_ico_10 {
	background-image: url(../images/ico/m_10.png);
}
/*global msg*/
.global_msg {
	padding-top: 60px;
	padding-bottom: 60px;
}

.global_msg img {
	vertical-align: middle;
	margin-right: 15px;
}