{template 'public/header'}
{template 'public/comhead'}
<link rel="stylesheet" type="text/css" href="../addons/yzmdwsc_sun/template/public/ygcss.css">
<ul class="nav nav-tabs">    
    <span class="ygxian"></span>
    <div class="ygdangq">当前位置:</div>
   <li class="active"><a href="javascript:void(0);">基本信息</a></li>
</ul>
<div class="main">
    <form action="" method="post" class="form-horizontal form" enctype="multipart/form-data">
        <!--<input type="hidden" name="parentid" value="{$parent['id']}" />-->
        <div class="panel panel-default ygdefault">
            <div class="panel-heading wyheader">
                基本信息
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">平台名称</label>
                    <div class="col-sm-9">
                       <input type="text" name="pt_name" class="form-control" value="{$item['pt_name']}" style="width: 740px;"/>
                    </div>
                </div>
               <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">首页自定义标题</label>
                    <div class="col-sm-9">
                       <input type="text" name="index_title" class="form-control" value="{$item['index_title']}" style="width: 740px;"/>
                    </div>
                </div>
              
               <div class="form-group">
                        <label for="lastname" class="col-sm-2 control-label">是否为过审页面</label>
                        <div class="col-sm-10">
                            <label class="radio-inline">
                                <input type="radio" id="is_review1" name="is_review" value="1" {if $item['is_review']==1}checked{/if} />
                                <label for="is_review1">开</label>
                            </label>
                            <label class="radio-inline">
                                <input type="radio" id="is_review2" name="is_review" value="0" {if $item['is_review']==0}checked{/if} />
                                <label for="is_review2">关</label>
                            </label>
                        </div>
                    </div>
              
    
                    <div class="form-group">
                        <label for="lastname" class="col-sm-2 control-label">首页布局开关</label>
                        <div class="col-sm-10">
                            <label class="radio-inline">
                                <input type="radio" id="is_layout1" name="is_layout" value="1" {if $item['is_layout']==1}checked{/if} />
                                <label for="is_layout1">开</label>
                            </label>
                            <label class="radio-inline">
                                <input type="radio" id="is_layout2" name="is_layout" value="0" {if $item['is_layout']==0}checked{/if} />
                                <label for="is_layout2">关</label>
                            </label>
                        </div>
                    </div>

       
              
              
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">客服电话</label>
                    <div class="col-sm-9">
                        <input type="text" name="tel"  class="form-control" value="{$item['tel']}" style="width: 740px;"/>
                    </div>
                </div>
              
    
                
              <!--  <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">商家自提地址</label>
                    <div class="col-sm-9">
                        <input type="text" name="ziti_address"  class="form-control" value="{$item['ziti_address']}" style="width: 740px;"/>
                    </div>
                </div>-->

                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">配送费用</label>
                    <div class="col-sm-9">
                        <input type="text" name="distribution"  class="form-control" value="{$item['distribution']}" style="width: 100px;"/>
                    </div>
                </div>
              
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">商店banner</label>
                    <div class="col-sm-9">
                        {php echo tpl_form_field_multi_image('shop_banner',$shop_banner);}
                        建议尺寸大小：750*374
                    </div>
                </div>
              
              
              <div class="form-group">
                    <label for="lastname" class="col-sm-2 control-label">店铺标签</label>
                    <div class="col-sm-10">
                        <label class="checkbox-inline">
                        <input type="checkbox" name="is_by" id="optionsRadios3" value="1" {if $item['is_by']==1}checked{/if}> 全店包邮 
                        </label> 
                        <label class="checkbox-inline">    
                            <input type="checkbox" name="is_xxpf" id="optionsRadios4"  value="1" {if $item['is_xxpf']==1}checked{/if}> 先行赔付
                        </label>
                       <label class="checkbox-inline">    
                            <input type="checkbox" name="is_qtwy" id="optionsRadios5"  value="1" {if $item['is_qtwy']==1}checked{/if}> 七天无忧退款
                        </label>
                    </div>
                </div>
              
               <div class="form-group">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label">店铺标签(不为空则使用该店铺标签)</label>
                        <div class="col-sm-9">
                            <input type="text" name="store_tag" class="form-control" value="{$item['store_tag']}" placeholder="如 全店包邮,先行赔付,七天无忧退款" style="width: 740px;"/>
                            <span style="color: #999;">*多个请用英文逗号隔开</span>
                        </div>
                </div>
              
               <!--    <div class="form-group">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label">店铺标签</label>
                        <div class="col-sm-9">
                            <input type="text" name="tag" class="form-control" value="{$item['tag']}" placeholder="如 正品保障,超时赔付,7天无忧退货" style="width: 740px;"/>
                            <span style="color: #999;">*多个请用英文逗号隔开</span>
                        </div> 
                </div>-->
               
               <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">到店支付头像</label>
                    <div class="col-sm-9"  style="width: 780px;">
                        {php echo tpl_form_field_image('ddmd_img', $item['ddmd_img'])}
                        <span class="help-block">建议尺寸大小：72*72</span>
                    </div>
                </div>
              
               <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">到店支付商户名称</label>
                    <div class="col-sm-9">
                       <input type="text" name="ddmd_title" class="form-control" value="{$item['ddmd_title']}" style="width: 740px;"/>
                    </div>
                </div>


             <!--   <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">商店banner</label>
                    <div class="col-sm-9"  style="width: 780px;">
                        {php echo tpl_form_field_image('shop_banner', $item['shop_banner'])}
                        <span class="help-block">建议尺寸大小：750*374</span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">关于我们banner</label>
                    <div class="col-sm-9"  style="width: 780px;">
                        {php echo tpl_form_field_image('gywm_banner', $item['gywm_banner'])}
                        <span class="help-block">建议尺寸大小：750*374</span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">客服时间</label>
                    <div class="col-sm-9">
                        <input type="text" name="customer_time" placeholder="该文字体现在关于我们客服时间"  class="form-control" value="{$item['customer_time']}" style="width: 740px;"/>
                  </div>
                </div>

                <div class="form-group">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label">基础服务</label>
                        <div class="col-sm-9">
                            <input type="text" name="provide" class="form-control" value="{$item['provide']}" placeholder="停车位,wifi,微信支付" style="width: 740px;"/>
                            <span style="color: #999;">*多个请用英文逗号隔开</span>
                        </div>
                    </div>

                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">商店介绍</label>
                    <div class="col-sm-9">
                        {php echo tpl_ueditor('shop_details',$item['shop_details']);}
                    </div>
                </div>

                <div class="form-group" style="width: 90%;margin-left: 15px;">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">商店简介</label>
                    <div class="col-sm-10">
                        <textarea name="shopdes" class="form-control" cols="30" rows="7">{$item['shopdes']}</textarea>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">商店介绍图</label>
                    <div class="col-sm-9">
                        {php echo tpl_form_field_multi_image('shopdes_img',$shopdes_img);}
                        建议尺寸大小：750*自适应
                    </div>
                </div>-->


                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">后台顶部标题名称</label>
                    <div class="col-sm-9">
                        <input type="text" name="link_name" class="form-control" value="{$item['link_name']}"  style="width: 740px;"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">后台顶部logo</label>
                    <div class="col-sm-9"  style="width: 780px;">
                        {php echo tpl_form_field_image('link_logo', $item['link_logo'])}
                        <span class="help-block">*建议比例 1:1</span>
                    </div>
                </div>
              
              

                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">首页公告</label>
                    <div class="col-sm-9">
                        <input type="text" name="announcement" placeholder="该文字体现在小程序首页公告栏" class="form-control" value="{$item['announcement']}"  style="width: 740px;"/>
                    </div>
                </div>

                <div class="panel-body">
                    <div class="form-group">
                        <label for="lastname" class="col-sm-2 control-label">首页欢迎位置开关</label>
                        <div class="col-sm-10">
                            <label class="radio-inline">
                                <input type="radio" id="shopmsg_status1" name="shopmsg_status" value="1" {if $item['shopmsg_status']==1}checked{/if} />
                                <label for="shopmsg_status1">开</label>
                            </label>
                            <label class="radio-inline">
                                <input type="radio" id="shopmsg_status2" name="shopmsg_status" value="0" {if $item['shopmsg_status']==0}checked{/if} />
                                <label for="shopmsg_status2">关</label>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">欢迎语头像</label>
                    <div class="col-sm-9"  style="width: 780px;">
                        {php echo tpl_form_field_image('shopmsg_img', $item['shopmsg_img'])}
                        <span class="help-block">*建议比例 1:1</span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">欢迎语</label>
                    <div class="col-sm-9">
                        <input type="text" name="shopmsg" placeholder="该文字体现在小程序首页欢迎栏" class="form-control" value="{$item['shopmsg']}"  style="width: 740px;"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">问题咨询</label>
                    <div class="col-sm-9">
                        <input type="text" name="shopmsg2" placeholder="该文字体现在小程序首页欢迎栏下面" class="form-control" value="{$item['shopmsg2']}"  style="width: 740px;"/>
                    </div>
                </div>

               <!-- <div class="panel-body">
                    <div class="form-group">
                        <label for="lastname" class="col-sm-2 control-label">首页活动遮罩开关</label>
                        <div class="col-sm-10">
                            <label class="radio-inline">
                                <input type="radio" id="emailwy1" name="mask" value="1" {if $item['mask']==1}checked{/if} />
                                <label for="emailwy1">开</label>
                            </label>
                            <label class="radio-inline">
                                <input type="radio" id="emailwy2" name="mask" value="0" {if $item['mask']==0}checked{/if} />
                                <label for="emailwy2">关</label>
                            </label>
                        </div>
                    </div>
                </div>--> 
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">平台顶部文字颜色</label>
                    <div class="col-sm-9">
                        <select name="fontcolor" style="width: 80px;">
                            {if $item['fontcolor']=='#ffffff'}
                            <option value="#000000" >黑色</option>
                            <option value="#ffffff" selected>白色</option>
                            {else}
                            <option value="#000000" selected>黑色</option>
                            <option value="#ffffff">白色</option>
                            {/if}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">平台顶部风格颜色</label>
                    <div class="col-sm-9">
                       {php echo tpl_form_field_color('color', $item['color'])} 
                        <span class="help-block"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">腾讯地图key</label>
                    <div class="col-sm-9">
                        <input type="text" name="map_key" class="form-control" placeholder="如 JCJBZ-3IBC4-R6WU5-XWVNM-5ASB7-ZCB7M(仅供测试使用请及时申请密钥)" value="{$item['map_key']}" />
                        <span><a href="https://lbs.qq.com/console/key.html">申请地址</a></span><br><br>
                        <span style="font-size:14px;color:red;">1、申请开发者密钥</span><br>
                        <span style="font-size:14px;color:red;">2、启用产品，选择WebServiceAPI</span><br>
                        <span style="font-size:14px;color:red;">3、设置安全域名，在"微信公众平台|小程序"->"设置"->"开发设置"->"服务器域名"中设置request合法域名，添加https://apis.map.qq.com</span><br>
                    </div>
                </div>

            </div>

        </div>

        <div class="form-group">
            <input type="submit" name="submit" value="提交" class="btn col-lg-3" style="color: white;background-color: #444444;margin-left: 450px"/>
            <input type="hidden" name="token" value="{$_W['token']}" />
            <input type="hidden" name="id" value="{$item['id']}" />
        </div>
    </form>
</div>
<script type="text/javascript">
    $(function(){
        $("#frame-12").show();
        $("#yframe-12").addClass("wyactive");
    })
</script>