{if $navs}
{php $indexnav = array_chunk($navs,$_W['agentset']['meroof']['navnum'],true);}
<section class="banner-tab">
	<div class="swiper-container" id="banner_tab">
		<div class="swiper-wrapper">
			{loop $indexnav $datanav}
				<div class="swiper-slide">
					<ul class="tab-list">
						{loop $datanav $itme}
							<li  {if $_W['agentset']['meroof']['navnum'] == 10 || $_W['agentset']['meroof']['navnum'] == 5} style="width:20%;" {else} style="width:25%;" {/if}>
								<a href="{$itme['link']}" class="external" ><img src="{php echo tomedia($itme['thumb'])}" />
									<span {if $itme['color']}style="color: {$itme['color']};"{/if}>{$itme['name']}</span>
								</a>
							</li>
						{/loop}
					</ul>
				</div>
			{/loop}
		</div>
	<div class="swiper-pagination" id="banner_tab_page"></div></div>
</section>
			<script>
	var swiper = new Swiper('#banner_tab', {
		loop: true,
		pagination: '#banner_tab_page',
		paginationClickable: true
	});
</script>
{/if}
