{if $data['notice']}
<div class="x_new_publish">
	<div class="left-icon">
        同城头条
    </div>
    <div class="publishData">
		<ul class="x_newest_publish" id="publishData">
			{loop $data['notice'] $no}
			<li><span><a {if !empty($no['link'])} href="{$no['link']}" {else} href="{php echo app_url('dashboard/home/noticedetail',array('id' => $no['id']))}" {/if}>{$no['title']}</a></span></li>
			{/loop}
		</ul>
    </div>
</div>
<div class="emptyblank"></div>
<style>
.x_new_publish{width:100%;height:40px;position:relative;overflow:hidden;background:#fff no-repeat 5% center;background-size:20px;padding: 0 10px;}
.x_new_publish:before {content: " ";position: absolute;left: 0;top: 0;width: 100%;height: 1px;border-top: 1px solid #e1e1e1;color: #C7C7C7;-webkit-transform-origin: 0 0;transform-origin: 0 0;-webkit-transform: scaleY(0.5);transform: scaleY(0.5);}
.x_new_publish .left-icon{position: absolute;line-height: 40px;color: #FE433F;font-weight: 700;font-size: 16px;}
.x_newest_publish{width:100%;line-height:40px;position: absolute;float: left;}
.x_newest_publish li{width:100%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.x_newest_publish li a{color: #2f2f2f;}
.publishData{margin-left: 74px;}
</style>
<script type='text/javascript' src='{URL_APP_RESOURCE}js/jquery.vticker.min.js' charset='utf-8'></script>
<script type="text/javascript">
$('.publishData').vTicker();
</script>
{/if}
