body {
    background-color: #f3f3f3;
    color: #3d0505;
}

.am-gallery {
    width: 100%;
    padding: 0.5rem;
}

.fq-img {
    width: 148px;
    height: 148px;
}

.fq-goods-border {
    border: .1rem #f54d23 dashed;
}

.fq-coupon-border {
    border: .1rem #f54d23 solid;
}

header {
    z-index: 999;
    background: #f54d23;
}

    header a,
    header a:hover,
    header a:visited,
    header a:active {
        position: absolute;
        top: -2px;
        height: 50px;
        color: white;
    }

        header a span {
            border: 1px solid white;
            border-radius: 5px;
            padding-bottom: 4px;
            padding-top: 4px;
        }

.fq-searchbox {
    height: 50px;
    position: absolute;
    right: 0;
    top: -2px;
}


.am-form-field {
    border: 0;
}

    .am-form-field:focus {
        background: 0;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

.fq-explain {
    position: absolute;
    width: 180px;
    margin-top: -22px;
    right: 20%;
    left: 20%;
}

.fq-goods {
    border: #f3f3f3 solid .1rem;
    background: #fff;
    color: #3d0505;
}

.am-thumbnail {
    border: none;
}

.line-clamp {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /*这里修改为要显示的行数*/
    -webkit-box-orient: vertical;
    line-height: 1.6;
    max-height: 46px;
    min-height: 46px;
}


.fq-price {
    color: #f54d23;
}


.fq-reason {
    color: #8f8f8f;
}

.fq-title,
.fq-title:hover,
.fq-title:focus {
    color: #3d0505;
}

.fq-abstract-color {
    color: #f54d23;
    line-height: 1.6;
}

.fq-post {
    background-color: #5EB95E;
}

.fq-coupon {
    background-color: #A19CF3;
    clear: right;
}

.am-tab-panel img {
    width: 100%;
}

.am-gotop-fixed {
    width: 40px;
}

    .am-gotop-fixed .am-gotop-icon {
        line-height: 40px;
    }

.fq-abstract {
    color: #8f8f8f;
    position: relative;
    top: 2px;
}

.fq-receive {
    height: 58px;
    border: #f54d23 .1rem dashed;
    background: #f3e7e3;
}

    .fq-receive span {
        color: #f54d23;
    }

    .fq-receive a {
        background: #f54d23;
        color: white;
    }

.am-slider-a1 {
    -webkit-box-shadow: none;
    box-shadow: none;
}

    .am-slider-a1 .am-control-nav {
        display: none;
    }


.stamp01 {
    background: #F39B00;
    background: radial-gradient(rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 5px, #F39B00 5px);
    background-size: 15px 15px;
    background-position: 9px 3px;
}

    .stamp01::before {
        background-color: #F39B00;
    }


.stamp * {
    list-style: none;
    font-family: "Microsoft YaHei",'Source Code Pro', Menlo, Consolas, Monaco, monospace;
}


.stamp {
    width: 300px;
    height: 70px;
    position: relative;
    overflow: hidden;
}

    .stamp::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 10px;
        right: 8px;
        z-index: 0;
    }

    .stamp::after {
        content: '';
        position: absolute;
        left: 10px;
        top: 10px;
        right: 10px;
        bottom: 10px;
        box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.5);
        z-index: -2;
    }

    .stamp i {
        position: absolute;
        left: 10%;
        top: 0;
        height: 190px;
        width: 390px;
        background-color: rgba(255,255,255,.15);
        transform: rotate(-30deg);
    }

    .stamp .par {
        position: relative;
        width: 60%;
        border-right: 2px dashed rgba(255,255,255,.3);
    }

        .stamp .par span {
            font-size: 30px;
        }

        .stamp .par sub {
            position: relative;
            top: -5px;
            color: rgba(255,255,255,.8);
        }

    .stamp .copy {
        position: relative;
        display: inline-block;
        font-size: 20px;
        width: 38%;
        height: 100%;
        z-index: 4;
    }

        .stamp .copy a {
            color: white;
        }

.fq-search {
    display: none;
}


    .fq-search form {
        position: relative;
        top: 3px;
        width: 100%;
    }

        .fq-search form input {
            position: relative;
            left: 5%;
        }

.am-form input[type="text"] {
    transition: none;
}

    .am-form input[type="text"]:focus {
        box-shadow: none;
    }

.fq-search i {
    position: relative;
    top: 5px;
    right: 10%;
    color: #a2a2a2;
}


.tip {
    text-align: right;
    top: 10px;
    right: 0px;
    position: fixed;
    z-index: 9999;
}

    .tip img {
        width: 100%;
        margin: 0px;
    }

.tinymask {
    z-index: 9999;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: fixed;
    background-color: rgba(0,0,0,0.7);
    -webkit-tap-highlight-color: transparent;
}
