body{
	background-color: #F1F1F1;
}

/*头部导航栏*/

.am-header-default {
	background-color: #F2614A;
}

.header_left{
	width: 31px; float: left; margin-right: -31px;  line-height: 31px;
}

.header_right{
	width: 31px; margin-left: -31px; float: right;  line-height: 31px;
}

.header_mid{
	width: auto; margin: 0 44px;
}

.header_img{
	width: 31px;height: 31px;margin-top: 9px;
}

.header-form{
	width:100%;height: 31px; margin-top: 9px;
}

.header-search{
	border: 0px solid #ccc !important; 
	padding: .25em !important;
	font-size: 1.4rem !important;  
	line-height: 1.8 !important;  
	background-color: #E45842 !important;  
	color: #FFF !important;  
}

/*顶部菜单*/

.nav{
	font-size: 13px;   
	z-index: 1000;
	width: 100%;
	background-color: #FFF;
	overflow-x: auto;
	white-space: nowrap;
}

.nav-active {
  border-bottom: 2px solid #F2614A;
}

.topmenu {
	display: inline-block;
}

.topmenu li{
	display: inline-block;
	list-style:none; 
	padding: 0px 5px;
}

.topmenu li a{
	color: #666666;
	line-height: 29px;
	top: 1px;
	position: relative;
}


/*主面板*/
.index_panel .mian-img{
	margin-top: -10px;
	position: relative;
	min-width: 133px;
	height: 133px;  
	float: left;
	box-shadow: 2px 0px 5px #888888;
}

.index_panel .quan-tip{
	position: absolute; 
	z-index: 999; 
	display: block; 
	left: 55px; 
	width: 90px;
}

.index_panel  .panel-center{
	padding-left: 40px;  
	height: 123px;
}

.index_panel  .title{
	overflow: hidden;    
	text-overflow: ellipsis;    
	display: -webkit-box;    
	line-clamp: 2;    
	-webkit-line-clamp: 2;    
	-webkit-box-orient: vertical;
	min-height: 42px;
}

.index_panel .button{
	width: 50%;
	padding: 0.5em 0em;
}

.index_panel .price{
	font-size: 2.5rem;
	line-height: 25px;
}
.index_panel .panel-bottom{
	background-color: #FFFFFF;  
	color: #616161;
}
.index_panel .panel-bottom .panel-top-border{
  border-top-style: dashed;
  border-top-width: 1px;
  margin-top: 2px;
  padding-top: 2px;  border-color: #BCBCBC;
}


.index_panel  .border_triangle{
	display: inline-block;      
	width: 0;      
	height: 0;      
	border-width: 8px;     
	overflow: hidden;      
	border-color: transparent #5EB95E transparent transparent;      border-style: dotted solid dotted dotted;
	margin-right: 0px;
	position: relative;
	top: -3px;
	left: -6px;
}

.index_panel  .free_shipping{
	line-height: 10px;
	top: -7px;
	position: relative;
	margin-left: 0px;
	padding-left: 2px;
	padding-right: 5px;
	left: -6px;
}

