* {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

body,html {
    width: 100%;
    height: 100%
}
a{ text-decoration:none}
.body {
    position: absolute;
    top: 0;
    left: 0;
    padding: 8vw 0 0;
    width: 100%;
    height: 100%;
    background: #4077ec
}
.btn2 {
    border-radius: 0.5rem;
    background-color: #4077ec;
    border: none;
    padding: 0.3rem 0.8rem;
    color: #fff;
    font-size: 3.73vw;
    display: inline-block;
}
.card{
    padding: 1vw 4vw;
    border-radius: 1vw;
    background: -webkit-gradient(linear, left top, right top, from(#4077EC), to(#0395FF));
    background: -webkit-linear-gradient(left, #4077EC, #0395FF);
    background: -o-linear-gradient(left, #4077EC, #0395FF);
    background: linear-gradient(-270deg, #4077EC, #0395FF);
}
.card:after{
    position: relative;
    left: 1vw;
    bottom: -3vw;
    content: '';
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #fff;
}
.main_left_card{
    width:auto;
    padding-right: 2vw;
}
.header{
    position: relative;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    width: 90vw;
    height: 41.8667vw;
    border: .1pc solid #fff;
    border-radius: 1.3333vw
}

.header_left,.header_right{
    display: -ms-flexbox;
    display: flex;
    padding: 5vw 0;
    width: 45vw;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    justify-content: space-around
}

.header_img {
    width: 12.4vw;
    height: 13.3333vw
}

.header_desc {
    color: #fff;
    text-align: center;
    letter-spacing: .5px
}

.header_desc p:first-child {
    margin-bottom: 1.6vw;
    color: #ff0;
    font-size: 3.7333vw
}

.header_desc p:last-child {
    font-size: 3.2vw
}

.header_desc:before {
    position: absolute;
    top: 10.1333vw;
    left: 44.8667vw;
    width: 1px;
    height: 21.3333vw;
    background: #fff;
    content: ''
}

.main {
    display: -ms-flexbox;
    display: flex;
    margin: 8vw auto 0;
    padding: 6.6667vw 8vw;
    width: 90vw;
    height: 69.3333vw;
    border-radius: 1.3333vw;
    background: #fff;
    -ms-flex-direction: column;
    flex-direction: column
}

.main .mainWrap {
    display: -ms-flexbox;
    display: flex;
    margin: 0 0 2.6667vw;
    width: 100%;
    height: 11.4667vw;
    border-bottom: 1px solid #ccc
}

.main_btn {
    margin: 3vw 0 0;
    width: 74.5333vw;
    height: 9.3333vw;
    border: 1px solid #ff9000;
    border-radius: .8vw;
    color: #ff9000;
    font-size: 4.2667vw;
    -ms-flex-pack: center;
    justify-content: center
}

.main_btn,.main_left,.main_left_card {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center
}

.main_left {
    width: 40%
}

.main_left img {
    width: 4.9333vw;
    height: 3.7333vw
}

.main_left p {
    margin: 0 0 0 1.4vw;
    font-size: 3.7333vw
}

.main_right {
    display: -ms-flexbox;
    display: flex;
    width: 60%;
    -ms-flex-align: center;
    align-items: center
}

.main_right input {
    width: 100%;
    height: 9.3333vw;
    border: 0;
    font-size: 3.7333vw
}

.main_right input::-webkit-input-placeholder {
    color: #ccc;
    text-align: right;
    font-size: 3.7333vw
}

.main_right div {
    width: 100%;
    height: 9.3333vw;
    border: 0;
    font-size: 3.7333vw
}

.main_rightCode,.main_right div {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center
}

.main_rightCode {
    width: 36%
}

.main_rightCode input {
    width: 100%;
    height: 6.6vw;
    border: 0;
    border-right: 1px solid #ccc;
    border-radius: 0;
    font-size: 3.2vw
}

.main_rightCode input::-webkit-input-placeholder {
    color: #ccc;
    text-align: center;
    font-size: 3.2vw
}

.main_center {
    display: -ms-flexbox;
    display: flex;
    width: 24%;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center
}

.main_center p {
    color: #4077ec;
    font-weight: 700;
    font-size: 3.2vw
}

.main_center b {
    color: #ccc;
    font-weight: 700;
    font-size: 3.2vw
}

.footer p:first-child {
    margin: 0 0 1.8667vw
}

.footer p:first-child a {
    text-decoration: underline
}
