html,body{
    
    padding: 0;
    margin: 0;
    background: #4077EC;
}
.body{


}
.footer {
    font-size: 2.6667vw;
    color: #fff;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.footer p:first-child {
    margin: 0 0 1.8667vw 0;
}
.footer p:first-child a {
    text-decoration: underline;  color: #fff;

}

.carplate{
    position: relative;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 75.1333vw;
    height: 15.4667vw;
    background: -webkit-gradient(linear, left top, right top, from(#4077EC), to(#0395FF));
    background: -webkit-linear-gradient(left, #4077EC, #0395FF);
    background: -o-linear-gradient(left, #4077EC, #0395FF);
    background: linear-gradient(-270deg, #4077EC, #0395FF);
    margin: 0 auto;
    border: 0.6vw solid #fff;
    border-radius: 1.3333vw;
    font-size: 8vw;
    color: #fff; }
.lt, .rt, .lb, .rb {
    position: absolute;
    width: 1.7333vw;
    height: 1.7333vw;
    border-radius: 100%;
    background: #fff; }
.lt {
    top: 2vw;
    left: 2vw; }
.rt {
    top: 2vw;
    right: 2vw; }
.lb {
    bottom: 2vw;
    left: 2vw; }
.rb {
    bottom: 2vw;
    right: 2vw; }

.main {
    position: relative;
    width: 90vw;
    height: 65vw;
    background: #fff;
    margin: 8.5333vw auto 0 auto;
    border-radius: 1.3333vw;
    padding: 4.2667vw 0 0 0;
}.ad {
     position: relative;
     width: 89vw;
     height: 50vw;
     margin: 0vw auto 0 auto;
     border-radius: 1.3333vw;
     border: 0.5vw #fff solid;
     margin-top: 6vw;
 }
.tips {
    position: absolute;
    left: 0;
    bottom: 5vw;
    width: 100%;
    font-size: 3vw;
    color: #4077EC;
    text-align: center;
}
.ihave {
    position: absolute;
    bottom: -4.6667vw;
    left: 18.6667vw;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 47.6667vw;
    height: 9.3333vw;
    border-radius: 4.6667vw;
    font-size: 3.7333vw;
    color: #fff;
    z-index: 10;
    background: -webkit-gradient(linear, left top, right top, from(#FF9000), to(#FAAB44));
    background: -webkit-linear-gradient(left, #FF9000, #FAAB44);
    background: -o-linear-gradient(left, #FF9000, #FAAB44);
    background: linear-gradient(-270deg, #FF9000, #FAAB44); }

.ihave:link {
    text-decoration:none
}
.movecar_tips {
    display: block;
    width: 72.7333vw;
    padding-bottom: 5vw;
    margin: 0 auto;
}
.call {
    width: 75.1333vw;
    margin: 0 auto;
    color: #fff;
    padding-top: 5vw;
}
.phone{
    display: inline;
    text-align: center;
    width: 35vw;
    float: left;
    font-size: 4vw;
    padding: 1.6vw 0;
    background: -webkit-gradient(linear, left top, right top, from(#4077EC), to(#0395FF));
    background: -webkit-linear-gradient(left, #4077EC, #0395FF);
    background: -o-linear-gradient(left, #4077EC, #0395FF);
    background: linear-gradient(-270deg, #4077EC, #0395FF);
    border-radius: 0.8vw;
    box-shadow: 0px 0px 5px #0395FF;
}
.weixin{
    display: inline;
    text-align: center;
    width: 35vw;
    float: right;
    font-size: 4vw;
    padding: 1.6vw 0;
    background: -webkit-gradient(linear, left top, right top, from(#FF9000), to(#FAAB44));
    background: -webkit-linear-gradient(left, #FF9000, #FAAB44);
    background: -o-linear-gradient(left, #FF9000, #FAAB44);
    background: linear-gradient(-270deg, #FF9000, #FAAB44);
    border-radius: 0.8vw;
    box-shadow: 0px 0px 5px #FF9000;

}
.iconfont{
    font-size: 4vw;
}
.swiper-slide{
    border-radius: .8vw;
}