@charset "utf-8";
/* CSS Document */
* {
	margin: 0;
	padding: 0;
}
body {
	font-family: "microsoft yahei", Helvetica Neue, Helvetica, Arial, sans-serif;
	color: #333;
	font-size: 13px;
}
.apple-banner {
	width: 100%;
	height: 720px;
	overflow: hidden;
}
.apple-banner .swiper-container {
	margin-top: -40px;
	width: 100%;
	height: 800px;
}
.swiper-button-prev,.swiper-button-next{
	width: 15%;
	height: 100%;
	top:0;
	background:none;
	}
.swiper-button-prev{
	left:0;}	
.swiper-button-next{
	right:0;}	
.swiper-button-prev span,.swiper-button-next span{
	display:block;
	width: 64px;
	height: 64px;
	position: absolute;
	left: 20px;
	top: 50%;
	margin-top:-32px;
	border-radius: 100%;
	background: rgba(180,180,180,0.25) url(../img/arrows.png) no-repeat center 17px;
	opacity: 0;
	-webkit-transition: opacity 0.5s ease;
	transition: opacity 0.5s ease;
}
.swiper-button-next span{
	background: rgba(180,180,180,0.25) url(../img/arrows.png) no-repeat center -71px;
	left:auto;
	right:20px;
	}
.swiper-button-prev:hover span,.swiper-button-next:hover span{
	opacity: .6;
}
/*分页器*/
.apple-banner .swiper-pagination{
	top:auto;
	bottom:50px;
	background:none;
}
.apple-banner  .swiper-pagination-bullet {
	display: inline-block;
	width: 50px;
	height: 30px;
	margin: 0 3px;
	cursor: pointer;
	background: none;
	border-radius:0;
	opacity: 1;
}
.apple-banner  .swiper-pagination-bullet span {
	width: 50px;
	height: 2px;
	display: block;
	background: rgba(128,128,128,0.2);
}
.apple-banner .swiper-pagination-bullet-active span{
    background:gray;
}
.apple-banner .autoplay .swiper-pagination-bullet-active span{
    background: rgba(128,128,128,0.2);
}
.apple-banner  .swiper-pagination-bullet i{
	background: gray;
	height: 2px;
	transform:scaleX(0);
	transform-origin: 0;
	display: block;
}
.apple-banner .autoplay .firsrCurrent i{
	transition:transform 2.9s linear;
	transform:scaleX(1);
}
.apple-banner .autoplay .current i{
	transition:transform 4s linear;
	transform:scaleX(1);
}
.apple-banner  .autoplay .replace span{
  background:gray;
}
/*内容样式*/

.slide1 {
	background: #000 url('../img/login.png') no-repeat 50% 10%;
	background-size: auto 100%;
}

.slide1 .title {
	text-align: center;
	margin-top: 100px;
	font-size: 30px;
	font-weight: normal;
	color: #fff;
}

.slide2 {
	background: #f3f3f3 url('../img/login_s.png') no-repeat center 50%;
	background-size: auto 100%;
}

.slide2 .title {
	padding-top: 100px;
	text-align: center;
}

.slide2 h2 {
	bottom: 100px;
	text-align: center;
	font-size: 30px;
	font-weight: normal;
	position: absolute;
	width: 100%;
}

.slide3 {
	background: #fff url('../img/banner3.jpg') no-repeat center 110%;
	background-size: auto 100%;
}

.slide3 .title {
	text-align: center;
	margin-top: 100px;
	font-size: 40px;
	font-weight: normal;
}