@charset "utf-8";
*{
	margin: 0;
	padding: 0;
}
.public_header_top{
	width:100%;
	height:30px;
	background:#feeeed;
}
.public_header{
	width:100%;
	height:110px;
	border-bottom:3px solid #eb6100;
	background-color: white;
}
.header_top{
	position:relative;
	margin:0 auto;
	width:1190px;
	height:110px;
	background:#fefefe;
}
.no{
	border-bottom:0;
}
.header_top .header_top_left{
	float:left;
	width:470px;
	height:110px;
}
.header_top_left_logo{
	float:left;
	width:205px;
	height:57px;
	margin:26px 10px;
	background:url('../img/md_logo.png') no-repeat;
}
.header_top_left .header_top_left_line{
	display:inline-block;
	height:50px;
	margin:30px 0px 0px 30px;
	border-left:1px solid #ccc;
}
.header_top_left .header_top_left_word{
	float:right;
	font-size:18px;
	font-family: '	Microsoft YaHei';
	color:#3e3e3e;
	margin-top:45px;
}
.header_top .header_top_right{
	float:right;
	font-size:14px;
	font-family: 'Microsoft YaHei';
	color:#3b3b3b;
}
.header_top .header_top_right .item{
	float:left;
	margin:45px 0px 0px 42px;
	font-size:16px;
}
.header_top .header_top_right a{
	color:#3b3b3b;
}
.shop_public_container{
	position:relative;
	width:1110px;
	height:auto;
	margin:0 auto;
}
.header_top_right .item div{
	position:absolute;
	display:none;
}
.header_top_right .i_code{
	display:inline-block;
	width:127px;
	height:144px;
	position:relative;
	left:-40px;
	background:url('../img/qr_code.png');
}
.clear{
	clear:both;
}
.public_contain{
	position:relative;
	width:1230px;
	height:auto;
	margin:0 auto;
}