@charset "utf-8";
*{
	margin: 0;
	padding: 0;
}
ol,ul,li{
	list-style:none;
}
a{
	text-decoration: none;
}
table{
	border-collapse: collapse;
}
.clear{
	clear:both;
}
.public_container{
	position:relative;
	width:1190px;
	height:auto;
	margin:0 auto;
}
.header_top{
	width:100%;
	height:40px;
	background:#feeeed;
}
.header_top_c{
	height:40px;
	font-size:14px;
	font-family: 'Microsoft YaHei';
}
.header_top_left{
	float:left;
	line-height: 40px;
}
.header_top_left a{
	color:blue;
}
.header_top_right{
	float:right;
	width:260px;
}
.header_top_right li{
	float:left;
	line-height: 40px;
	margin-left:14px;
}
.header_top_right a{
	color:#3b3b3b;
}
.header_bottom{
	width:100%;
	height:120px;
	background:#df600f;
}
.header_bottom_c{
	height:120px;
}
.header_bottom_left{
	display:inline-block;
	width:200px;
	height:79px;
	cursor:pointer;
	margin-top:20px;
	background:url('../img/md_h_logo.png');
}
.header_bottom_s_right{
	float:right;
	width:986px;
	height:120px;
}
.header_bottom_s_right li{
	display:inline-block;
	height:40px;
	line-height: 40px;
	margin:56px 0px 16px 40px;
}
.header_bottom_s_right li a{
	float:left;
	font-family: 'Microsoft YaHei';
	font-size:18px;
	color:white;
}
.header_bottom_s_right li a:hover{
	padding:10px 15px ;
	font-size:22px;
	background-color: #b54d0a;
} 
.div_box_container{
	width:100%;
	height:900px;
	background-color: #f3f3f3;
}
.div_box_left{
	float:left;
	width:202px;
	height:auto;
	margin-top:20px;
	background-color: white;
	border:1px solid #ccc;
	border-bottom:0;
}
.div_box_first{
	width:auto;
	height:160px;
	border-bottom: 1px solid #ccc;
}
.div_box_second{
	width:auto;
	height:65px;
	border-bottom:1px solid #ccc;
}
.div_box_third{
	width:auto;
	height:130px;
	border-bottom: 1px solid #ccc;
}
.div_box_left .act{
	color:white;
	background-color: #df600f;
}
.div_box_left h4{
	padding:10px 20px;
	color:#3b3b3b;
	font-family: 'microsoft yahei';
}
.div_box_left li{
	height:30px;
	line-height: 30px;
	padding:2px 0px;
	text-align:center;
}
.div_box_left a{
	display:inline-block;
	width:200px;
	height:30px;
	font-family: 'Microsoft YaHei';
	font-size:14px;
	color:#3b3b3b;
}
.div_box_left a:hover{
	color:white;
	background-color: #df600f;
}
.div_box_left_first,.div_box_left_second{
	width:auto;
	height:130px;
	border-bottom:1px solid #ccc;
}
.div_box_left_third{
	width:auto;
	height:230px;
	border-bottom:1px solid #ccc;
}
.div_box_left_fourth{
	width:auto;
	height:100px;
	border-bottom:1px solid #ccc;
}
.div_box_right{
	float:right;
	width:973px;
	height:auto;
	margin:20px 0px;
	background:white;
	border:1px solid #ccc;
}
.div_box_right_head{
	width:auto;
	height:76px;
	line-height: 76px;
	border-bottom:1px solid #e6e6e6;
}
.div_box_head_right .icon{
	display:inline-block;
	width:4px;
	height:18px;
	border:1px solid #eb6100;
	background:url('../img/square.png');
}
.div_box_head_right{
	float:left;
	width:auto;
	height:76px;
	margin-left:30px;
}
.div_box_head_right span{
	font-size:18px;
	font-family: 'Microsoft YaHei';
	font-weight:bold;
	position:relative;
	top:-4px;
}
.div_box_right_container{
	position:relative;
	width:720px;
	height:auto;
	margin:0 auto;
}
.tb_box{
	font-size:14px;
	font-family: 'Microsoft YaHei';
	color:#3b3b3b;
	margin-top:10px;
}
.tb_box td{
	padding:15px;
}
.tb_box form ul li{
	display:none;
	width:130px;
	height:30px;
	line-height: 30px;
	text-align: center;
	border:1px solid #ccc;
	border-radius: 3px;
	cursor:pointer;
}
.tb_box form ul li:hover{
	background:#E74F4D;
	color:#fff;
}
.tb_box ul li.active{
	display:block;
	background:url('../img/i_icon.png') no-repeat;
	background-position: 95% 50%;
}
.tb_box .license{
	width:95px;
	height:85px;
	border:1px solid #ccc;
}
.tb_box .license img{
	margin:8px auto;
	cursor:zoom-in;
}
.maintain_type{
	width:auto;
	height:90px;
	border:1px solid #ccc;
}
.maintain_type li{
	float:left;
	margin:10px 5px 5px 10px;
}
.tb_box .serve{
	width:204px;
	height:30px;
	border:1px solid #ccc;
	border-radius: 3px;
}
.div_box_right_body{
	width:auto;
	height:720px;
}
.new_high{
	height:515px !important;
	border:1px solid white;
}
.top_search{
	width:auto;
	height:40px;
	line-height: 40px;
	margin:15px 0px 0px 30px;
}
.top_search img{
	position:relative;
	top:2px;
	cursor: pointer;
}
.search_text{
	width:150px;
	height:30px;
	position:relative\9;
	top:-5px\9;
}
.searching{
	width:50px;
	height:30px;
	line-height: 30px;
	text-align: center;
	vertical-align: middle;
	background:#eb6100;
	color:white;
	cursor: pointer;
	border:1px solid #eb6100;
	margin-top:-2px;
}
.div_box_body_bottom{
	width:auto !important;
	height:auto !important;
	margin-top:160px;
}
.line{
	width:auto;
	height:1px;
	border-top:1px solid #ccc;
	margin-bottom: 10px;
}
.mf{
	font-size:18px;
	font-family: 'microsoft YaHei';
	margin-left:10px;
}
.v_code{
	width:295px;
	height:35px;
	position:relative\9;
	top:-10px\9;
}
.s_code{
	width:90px;
	height:35px;
	background-color: #eb6100;
	color:white;
	border:1px solid #eb6100;
	cursor:pointer;
}
.div_box_head_content{
	width:auto;
	height:40px;
	padding:0px 115px;
	margin:90px 0px -78px 0px;
}
.code_succes,.code_error{
	/*display:none;*/
}
.div_box_head_content img{
	width:24px;
	height:24px;
	position:relative;
	top:5px;
}
.div_box_right_body .div_p{
	padding:10px 0px 10px 30px;
}
.div_box_right_bottom{
	width:auto;
	height:35px;
	padding:10px 0px;
	margin-bottom:10px;
}
.div_box_bottom{
	width:auto;
	height:auto;
}
.div_box_right_bottom .sub{
	width:70px;
	height:35px;
	color:white;
	font-size:16px;
	margin:0 310px;
	cursor:pointer;
	background:#df600f;
	border-radius: 3px;
	border:1px solid #df600f;
}
.div_box_right_bottom .place{
	margin:0 450px;
	cursor:pointer;
}
.content_head{
	width:951px;
	line-height:25px;
	border:1px solid #ccc;
	background-color: #f9f9f9;
	margin:20px 10px 0px 10px;
}
.div_box_right_body .bt{
	border-bottom: 0;
	background: none;
}
.content_head .tc thead{
	background-color: #f9f9f9;
}
.content_head .tc td{
	text-align: center;
}
.content_head .tc td input[type=text]{
	height:22px;
	border:1px solid #ccc;
	margin:2px 0px;
	border-radius: 3px;
}
.content_head .tc .middle{
	width:65%;
	margin-left:36px;
}
.content_head .tc a{
	font-size:14px;
}
.line{
	border:1px solid #ccc;
	border-bottom:0;
}
.up_bottom_line{
	font-size:14px;
	font-family: 'microsoft YaHei';
	border:1px solid #ccc;
	border-right:0;
	border-left:0;
}
.up_bottom_line td{
	padding:3px 0px;
}
.box-t th,.box-t-s th{
	font-size:14px;
	font-weight: lighter;
	font-family: 'microsoft YaHei';
	height:36px;
	line-height: 36px;
}
.box-t-s thead{
	width:953px;
	background-color: #fff1ea;
}
.box-t-s tbody{
	width:953px;
	height:auto;
	font-size:14px;
	font-family: 'microsoft YaHei';
}
.content_body{
	/*height:36px;*/
	width:953px;
	height:auto;
	line-height: 25px;
	text-align: center;
	margin:10px 10px 0px 10px;
}
.box-t-s{
	margin:4px 0px;
}
.box-t-s tr{
	border-bottom:1px solid #ccc;
}
.content_body .r_line{
	border-right:1px solid #ccc;
}
.content_body td:first-child{
	border-left:1px solid #ccc;
}
.box-t-s .t-r{
	text-align:right;
}
.box-t-s .t-l{
	text-align: left;
}
.color_t{
	color:#eb6100;
}
.s_red{
	color:red;
}
.color_t .call_phone{
	width:60px;
	height:20px;
	font-size:12px;
	line-height:20px;
	border-radius: 2px;
	color:#d31a01;
	margin:0px auto;
	cursor: pointer;
	background-color: #ffeea2;
}
.content_way_box{
	display:none;
	position:absolute;
	width:auto;
	height:40px;
}
.content_way{
	width:260px;
	height:40px;
	margin:102px 280px 0 413px;
	line-height: 40px;
	border-radius: 3px;
	background:white;
	border:1px solid #ccc;
}
.content_way .i_phone{
	float:left;
	width:17px;
	height:23px;
	margin:8px 3px 0px 10px;
	background:url('../img/call_phone.png');
}
.box_photo_container{
	width:953px;
	height:240px;
}
.box_photo_div{
	float:left;
	width:auto;
}
.box_photo_div li{
	float:left;
	margin:20px 10px 20px 20px;
}
.box_photo_container dl{
	width:162px;
	height:auto;
	border:1px solid #ccc;
}
.box_photo_container dt{
	width:160px;
	height:160px;
}
.word{
	width:auto;
	height:30px;
	font-size: 14px;
	font-family: 'microsoft YaHei';
	line-height: 30px;
	text-align:center;
	background-color: #f3f3f3;
	z-index: 1;
}
.tips{
	display:block;
	width:74px;
	height:73px;
	position:relative;
	top:-166px;
	left:-1px;
	background:url('../img/left_top_logo.png') no-repeat;
}
.tips_a{
	display:block;
	width:162px;
	height:160px;
}
.tips_a img{
	display:inline-block;
	width:162px;
	height:160px;
}
.choice{
	width:102px;
	height:100px;
	float:left;
	margin-right:5px;
}
#genre_w{
	width:102px;
	height:26px;
	position:relative;
	top:-141px;
}
.genre{
	position:relative;
	top:-30px;
	left:0;
	width:162px;
	height:30px;
	line-height: 30px;
	font-size:14px;
	overflow: hidden;
	text-align:center;
	color:white;
	background-color: #000;
	opacity: 0.8;
	cursor:pointer;
	display:none;
}
#del{
	margin:-2px 41px;
}
#del_btn{
	position:relative;
	bottom:0;
}
.genre_ul{
	height:30px;
	line-height: 30px;
	position:relative;
	bottom:20px;
}
.genre_ul .lst,.span_fl{
	float:left;
}
.genre_ul li .lst_span{
	font-size:18px;
}
.i_new{
	display:inline-block;
	width:18px;
	height:18px;
	margin-top:6px;
	background:url('../img/new.png');
}
.i_del{
	display:inline-block;
	width:17px;
	height:18px;
	margin-top:6px;
	background:url('../img/del.png');
}
.cur{
	display:inline-block;
	width:160px;
	height:160px;
	background:url('../img/shop_photo.png');
	display:none;
}
.time{
	width:125px;
	height:25px; 
	line-height:25px;
	margin-left:15px;
}
.div_box_service{
	width:auto;
	height:auto;
	margin-left:35px;
	font-size:14px;
	font-family: 'microsoft YaHei';
}
.box_one,.box_three,.box_four,.box_five,.box_six,.box_seven,.box_nine{
	height:40px;
	line-height: 40px;
}
.box_one input{
	width:320px;
	height:32px;
	margin-left:25px;
}
.box_two,.box_seven{
	width:auto;
	height:auto;
}
.box_two textarea{
	width:620px;
	height:90px;
	margin-left:30px;
}
.box_three,.box_four{
	width:920px;
	height:40px;
}
.box_three_left input,.box_three_right input{
	width:125px;
	height:32px;
	margin-left:25px;
}
.box_three_left,.box_four_left{
	float:left;
	width:420px;
	height:40px;
}
.box_four input[name=lable]{
	margin-left:25px;
}
.box_three_right,.box_four_right{
	float:right;
	width:490px;
	height:40px;
}
.box_five input{
	width:185px;
	height:32px;
	margin-left:52px;
}
.box_six label,.box_eight label{
	margin-left:25px;
}
.box_seven_img{
	width:auto;
	margin:-30px 0px 0px 100px;
	height:104px;
}
.box_seven_img input[type=file]{
	width:100px;
	height:100px;
	opacity: 0;
	position:relative;
	top:-118px;
	cursor:pointer;
}
.box_seven p{
	margin-left:100px;
}
.box_one,.box_two,.box_three,.box_four,.box_five,.box_six,.box_seven,.box_eight,.box_nine{
	width:auto;
	margin:10px 0;
}
.box_nine_left{
	width:740px;
	height:90px;
	margin:-40px 0px 0px 100px;
	border:1px solid #ccc;
}
.box_nine_left li{
	float:left;
	margin:4px 20px 0px 10px;
	font-size:14px;
	font-family: 'microsoft YaHei';
}
.color_gray{
	color:gray;
	font-size:14px;
}
.box-t tbody td #soldout{
	display:inline-block;
	width:40px;
	height:25px;
	border-radius: 3px;
	background:gray;
	border:0;
	color:white;
	cursor:pointer;
}
.putaway{
	background:#df600f !important;
	color:white !important;
}
.revert{
	width:240px;
	height:28px;
	display:none;
}
.up_img{
	width:162px;
	height:160px;
	position:relative;
	top:-165px;
	opacity: 0;
	cursor:pointer;
}
.span_p_right{
	margin:-30px 0px 0px 100px;
}
.s_span{
	float:right;
	width:auto;
	height:auto;
	margin:67px 120px 0px 0px;
}
.bgPop{ 
    position: absolute;
    z-index: 9;
    left: 0;
    top: 0;
    width: 120%;
    height: 123%;
    /*background:url('../img/a.png') no-repeat center;*/
    background-size:100% 100%;
    background:rgba(0,0,0,.4);
  }
 .bg-blur{
    width: 102%;
    height: 120%;
    margin-left:-15px;
    background-repeat: no-repeat;
    background-position: center;
     background-size: cover; 
    -webkit-filter: blur(10px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(2px);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f000000,endColorstr=#7f000000);
 }
.up_pop {  
    width: 400px;
    height: auto;
    position: fixed;
    top:50%;
    left:50%;
    margin-left:-250px;
    margin-top:-100px;
    padding: 50px;
    z-index: 10;
    font-size:18px;
    font-family: 'microsoft yahei';
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 3px 18px rgba(0, 0, 0, .5); 
    border:1px solid #ccc;
}
.up_pop a{
	float:right;
	margin-top:-40px;
}
.pop_div{
	width:400px;
	height:auto;
	margin-top:-10px;
}
.pop_div p{
	text-align:center;
	margin:7px 0px;
}
.warn_i{
	width:31px;
	height:31px;
	position:relative;
	top:6px;
	margin-right:2px;
}
.list{
	width:920px;
	height:auto;
	margin:10px 24px;
}
.list-table{
	border:1px solid #ccc;
}
.list-table th{
	font-family: 'microsoft yahei';
	font-weight: lighter;
	height:40px;
	line-height: 40px;
	text-align: center;
	background:#f9f9f9;
	border-bottom: 1px solid #ccc;
}
.list-table td{
	font-size:14px;
	height:40px;
	line-height: 40px;
	text-align: center;
	border-bottom:1px solid #ccc;
}
.add_member{
	width:auto;
	height: auto;
}
.add_info{
	width:auto;
	height:50px;
	line-height: 50px;
	margin:20px 0px;
	/*background-color: gray;*/
	/*color:white;*/
}
.add_info li{
	float:left;
	margin-left:80px;
}
.add_act{
	width:auto;
	height:auto;
	margin-top:20px;
	padding:5px 442px;
}
.add_btn,.add_record{
	width:90px;
	height:30px;
	color:white;
	background:#eb6100;
	border:1px solid #eb6100;
	cursor: pointer;
}
.edit_info{
	float:right;
	width:690px;
	height:45px;
	line-height: 45px;
	border:1px solid #ccc;
	margin-top:-6px;
	margin-right:50px;
	font-size:14px;
	display:none;
	background-color: gray;
	color:white;
}
.edit_info li{
	float:left;
	margin-left:17px;
}
.layinput{
	height: 30px;
	line-height: 30px;
	width: 120px;
	margin: 0;
}