{extend name="common/edit2" /}
{block name="content"}
<div class="layui-form-item">
    <label class="layui-form-label">是否显示福利群</label>
    <div class="layui-input-block">
        <input type="radio" name="showgw" value="1" title="开启" {$info.showgw == 1 ?"checked":""}>
        <input type="radio" name="showgw" value="0" title="关闭" {$info.showgw == 0 ?"checked":""}>
    </div>
</div>

<div class="layui-form-item">
    <label class="layui-form-label">福利群名称</label>
    <div class="layui-input-block">
        <input autocomplete="off" type="text" name="wg_title"  placeholder="" class="layui-input" value="{$info.wg_title??''}">
        <div class="layui-form-mid layui-word-aux"></div>
    </div>
</div>

<div class="layui-form-item">
    <label class="layui-form-label">福利群logo</label>
    <div class="layui-input-block">
        {php}echo tpl_form_field_image('wg_img', isset($info['wg_img'])?$info['wg_img']:'','/web/resource/images/nopic.jpg');{/php}
        <div class="layui-form-mid layui-word-aux">建议尺寸：80*80</div>
    </div>
</div>

<div class="layui-form-item">
    <label class="layui-form-label">福利群加群关键字</label>
    <div class="layui-input-block">
        <input autocomplete="off" type="text" name="wg_keyword"  placeholder="" class="layui-input" value="{$info.wg_keyword??''}">
        <div class="layui-form-mid layui-word-aux">* 例如设定的获取加群信息的关键字为 “ 9588 ” 那就输入 9588</div>
    </div>
</div>

<div class="layui-form-item">
    <label class="layui-form-label">福利群说明</label>
    <div class="layui-input-block">
        <input autocomplete="off" type="text" name="wg_directions"  placeholder="" class="layui-input" value="{$info.wg_directions??''}">
        <div class="layui-form-mid layui-word-aux"></div>
    </div>
</div>

<div class="layui-form-item">
    <label class="layui-form-label">加群图标</label>
    <div class="layui-input-block">
        {php}echo tpl_form_field_image('wg_addicon', isset($info['wg_addicon'])?$info['wg_addicon']:'','/web/resource/images/nopic.jpg');{/php}
        <div class="layui-form-mid layui-word-aux">建议尺寸：80*80</div>
    </div>
</div>



<script>
    require(['select2'], function () {
        $('.select2').select2();
        $.get("{:adminurl('select')}", function (ret) {
            if (typeof ret == "string"){
                ret = JSON.parse(ret);
            }
        //    ret.unshift({id: '', text: '请选择上级分类'});
            ret.map(function (obj) {
                obj.keywords += obj.text.toPinYin() + obj.text.toPinYin(true);
                if(obj.id == "{$info.id??''}"){
                    obj.selected = true;
                }
                return obj;
            });
            $('#prints_id').select2({
                data: ret,
            })
        })
    })


    function setshow(){
        var  smstype= $('[name=smstype]:checked').val();
        if(smstype==1){
            $('.ytx253').show();
            $('.jhsj').hide();
            $('.aldy').hide();
        }else if(smstype==2){
            $('.ytx253').hide();
            $('.jhsj').show();
            $('.aldy').hide();

        }else if(smstype==3){
            $('.ytx253').hide();
            $('.aldy').show();
            $('.jhsj').hide();
        }
    }
    layui.use(['table','form'],function () {
        var table = layui.table;
        var form = layui.form;
        form.on('radio', function (data) {
            if ($(data.elem).is('[name=smstype]')) {
                setshow();
            }
        });
    })
</script>

{/block}