{php include wl_template('common/header');}
<ul class="nav nav-tabs">
	<li class="active"><a href="javascript:;">评论设置</a></li>
</ul>
<div class="app-content">
<div class="app-form">
<div class="panel panel-default">
	<form action="" method="" class="form-horizontal">
        <input type="hidden" name="c" value="site" />
        <input type="hidden" name="a" value="entry" />
        <input type="hidden" name="m" value="weliam_merchant" />
		    <input type="hidden" name="p" value="store" />
			<input type="hidden" name="ac" value="comment" />
			<input type="hidden" name="do" value="setting" />
            <div class="form-group">
                <label class="col-sm-2 control-label">审核设置</label>
                <div class="col-sm-9">
                    <label class="radio-inline"><input type="radio" name="data[comment_check]" value="1" {if $data['comment_check']==1}checked="checked"{/if}> 商家可审核</label>
                    <label class="radio-inline"><input type="radio" name="data[comment_check]" value="2" {if $data['comment_check']==2}checked="checked"{/if}> 商家不可审核</label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">无订单评论</label>
                <div class="col-sm-9">
                    <label class="radio-inline"><input type="radio" name="data[noorder]" value="1" {if $data['noorder']==1}checked="checked"{/if}> 开启</label>
                    <label class="radio-inline"><input type="radio" name="data[noorder]" value="0" {if $data['noorder']==0 || empty($data['noorder'])}checked="checked"{/if}> 关闭</label>
					<div class="help-block">开启后，用户可以直接对商户进行评论。</div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label"></label>
                <div class="col-sm-9">
                    <input type="submit" value="提交" class="btn btn-primary min-width">
                    <input type="hidden" name="token" value="{$_W['token']}">
                    <input type="button" name="back" onclick="history.back()" style="margin-left:10px;" value="返回列表" class="btn btn-default min-width">
                </div>
            </div>
	</form>
</div>
</div>
</div>
{php include wl_template('common/footer');}