{php include wl_template('common/header');}
<ul class="nav nav-tabs" id="myTab">
	<li class="active"><a href="#tab_basic">基本设置</a></li>
</ul>
<div class="app-content">
	<div class="app-form">
			<form action="" method="post" class="form-horizontal" id="setting-form">
				<div class="panel panel-default">
					<div class="panel-heading">基本设置</div>
					<div class="panel-body">
						<div class="tab-content">
							<div class="tab-pane active" id="tab_basic">
                                <div class="form-group">
                                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">好店列表搜索框</label>
                                    <div class="col-sm-9 col-xs-12">
                                        <label class="radio-inline">
                                            <input type="radio" value="0" name="store_set[search]"  {if $storeSet['search'] == 0 || empty($storeSet['search'])} checked="checked" {/if} > 开启
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" value="1" name="store_set[search]"  {if $storeSet['search'] == 1}  checked="checked" {/if}> 禁用
                                        </label>
                                    </div>
                                </div>
								<div class="form-group search_float" {if $storeSet['search'] == 1}style="display:none;"{/if}>
									<label class="col-sm-2 control-label">搜索框是否浮动</label>
									<div class="col-sm-9">
										<label class="radio-inline">
											<input type="radio" value="0" name="store_set[search_float]" {if $storeSet['search_float']==0||!$storeSet['search_float']} checked {/if}> 浮动
										</label>
										<label class="radio-inline">
											<input type="radio" value="1" name="store_set[search_float]" {if $storeSet['search_float']==1} checked {/if}> 固定
										</label>
										<span class="help-block">设置为浮动时，会覆盖一部分内容。设为固定则不会覆盖内容</span>
									</div>
								</div>
								<div class="form-group search_bgColor" {if $storeSet['search'] == 1 || $storeSet['search_float'] != 1}style="display:none;"{/if}>
									<label class="col-sm-2 control-label">搜索框背景颜色</label>
									<div class="col-sm-9">
										<div class="input-group">
											<input type="color" value="{if $storeSet['search_bgColor']}{$storeSet['search_bgColor']}{else}#000000{/if}" name="store_set[search_bgColor]" class="form-control" style="width: 120px;padding: 0px 3px;">
										</div>
										<span class="help-block">当搜索框设为固定是请设置背景颜色，否则默认为黑色背景</span>
									</div>
								</div>

								<div class="form-group">
									<label class="col-xs-12 col-sm-3 col-md-2 control-label">商户列表默认排序方式</label>
									<div class="col-sm-9 col-xs-12">
										<label class="radio-inline">
											<input type="radio" value="0" name="store_set[sortdefault]"  {if $storeSet['sortdefault'] == 0 || empty($storeSet['sortdefault'])} checked="checked" {/if} > 默认排序
										</label>
										<label class="radio-inline">
											<input type="radio" value="1" name="store_set[sortdefault]"  {if $storeSet['sortdefault'] == 1}  checked="checked" {/if}> 入驻时间
										</label>
										<label class="radio-inline">
											<input type="radio" value="2" name="store_set[sortdefault]"  {if $storeSet['sortdefault'] == 2}  checked="checked" {/if}> 附近优先
										</label>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label"></label>
					<div class="col-sm-9">
						<input type="submit" name="submit" value="提交" class="btn btn-primary min-width" />
						<input type="hidden" name="token" value="{$_W['token']}" />
					</div>
				</div>
			</form>
	</div>
</div>
<script>
	$(function() {
		window.optionchanged = false;
		$('#myTab a').click(function(e) {
			e.preventDefault(); //阻止a链接的跳转行为
			$(this).tab('show'); //显示当前选中的链接及关联的content
		})
	});
    //监听搜索框是否启用
    $("[name='store_set[search]']").change(function () {
        var val = $(this).val();
        if(val == 1){
            $(".form-group.search_float").hide();
            $(".form-group.search_bgColor").hide();
        }else{
            $(".form-group.search_float").show();
            if($("[name='store_set[search_float]']:checked").val() == 1){
                $(".form-group.search_bgColor").show();
            }else{
                $(".form-group.search_bgColor").hide();
            }
        }
    });
    //监听搜索框是否浮动
    $("[name='store_set[search_float]']").change(function () {
        var val = $(this).val();
        if(val == 1){
            $(".form-group.search_bgColor").show();
        }else{
            $(".form-group.search_bgColor").hide();
        }
    });
</script>
{php include wl_template('common/footer');}