{template 'common/header'}

<ul class="nav nav-tabs">
	<li{if $op == 'display'} class="active"{/if}><a href="{php echo $this->createWebUrl('package',array('op' => 'display'))}">专栏管理</a></li>
	<li{if $op == 'post'} class="active"{/if}><a href="{php echo $this->createWebUrl('package',array('op' => 'post') )}">添加专栏</a></li>
</ul>

{if $op == 'post'}
	<form class="form-horizontal" role="form" method="post" enctype="multipart/form-data">
		<input type="hidden" name="token" value="{$_W['token']}" />
		<div class="form-group">
			<label class="col-sm-2 control-label">专栏名称</label>
			<div class="col-sm-4">
			  <input type="text" name="title" value="{$item['title']}" class="form-control" placeHolder="请输入专栏名称">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">专栏封面</label>
			<div class="col-sm-4">
				{php echo tpl_form_field_image('thumb', $item['thumb']);}
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">是否显示</label>
			<div class="col-sm-9 col-xs-12">
				<label class="radio-inline">
					<input type="radio" name="status" value="1" {if $item['status'] == 1}checked{/if}/>显示
				</label>
				<label class="radio-inline">
					<input type="radio" name="status" value="0" {if $item['status'] == 0}checked{/if}/>隐藏
				</label>

			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">是否推荐</label>
			<div class="col-sm-9 col-xs-12">
				<label class="radio-inline">
					<input type="radio" name="recommend" value="1" {if $item['recommend'] == 1}checked{/if}/>是
				</label>
				<label class="radio-inline">
					<input type="radio" name="recommend" value="0" {if $item['recommend'] == 0}checked{/if}/>否
				</label>

			</div>
		</div>
		<div class="form-group">
			<label class="col-xs-12 col-sm-3 col-md-2 control-label"><span class='red'>*</span>专栏简介：</label>
			<div class="col-sm-9 col-xs-12">
				<textarea style="height:200px;" class="form-control" name="intro" id="intro" cols="70">{$item['intro']}</textarea>
			</div>
		</div>

		<div class="form-group">
			<label class="col-xs-12 col-sm-3 col-md-2 control-label"><span class='red'>*</span>专栏详情：</label>

			<div class="col-sm-9 col-xs-12">
				<textarea style="height:200px;" class="form-control" name="content" id="content" cols="70">{$item['content']}</textarea>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">专栏订阅人数基数</label>
			<div class="col-sm-4">
				<input type="text" name="buynum_min" value="{$item['buynum_min']}" class="form-control" placeHolder="专栏订阅人数基数">
				<div class="alert alert-info" role="alert" style="margin-top:5px">小程序端显示的专栏订阅人数等于真实订阅人数+此处的基数</div>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">专栏售价</label>
			<div class="col-sm-4">
				<input type="text" name="price" value="{$item['price']}" class="form-control" placeHolder="请输入专栏售价">
			</div>
		</div>

		 <div class="form-group">
            <label class="col-sm-2 control-label">分销佣金</label>
            <div class="col-sm-4">
                <input type="text" id="distribution_commission" class="form-control span7"
                       placeholder="" name="distribution_commission" value="{$item['distribution_commission']}">
                <div class="alert alert-info" role="alert" style="margin-top:5px">使用此功能请先前往基本设置中开启分享赚佣功能，此处请直接输入佣金金额，单位为元，金额为0时此专栏将不参与分销。</div>

            </div>
            </div>
		<div class="form-group">
			<label class="col-sm-2 control-label">排序</label>
			<div class="col-sm-4">
				<input type="text" id="sort" class="form-control span7"
					   placeholder="" name="sort" value="{$item['sort']}">
				<div class="alert alert-info" role="alert" style="margin-top:5px">数字越大排名越靠前，默认为0</div>

			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" class="btn btn-primary">提交</button>
			</div>
		</div>
	  
	</form>
<script>

    require(['jquery', 'util'], function ($, u) {
        $(function () {
            u.editor($('#content')[0]);
        });
    });

</script>


{elseif $op == 'display'}
<div class="panel panel-default">
	<div class="table-responsive panel-body">
		<table class="table table-hover">
			<thead>
			<tr>
				<th style="width:150px;">专栏ID</th>
				<th style="width:150px;">专栏名称</th>
				<th style="width:150px;">排序</th>
				<th style="width:80px;">价格</th>
				<th style="width:100px;">订阅量</th>
				<th style="width:80px;">更新期数</th>
				<th style="width:100px;">当前状态</th>
				<th style="width:180px;">操作</th>
			</tr>
			</thead>
			<tbody>

			{loop $list $row}
			<tr>
				<td>{$row['id']}</td>
				<td>{$row['title']}</td>
				<td>{$row['sort']}</td>
				<td>{$row['price']}</td>
				<td>{$row['buynum']}</td>
				<td>{$row['updatenum']}</td>
				<td>{if $row['status'] == 0}隐藏{/if}{if $row['status'] == 1}显示{/if}</td>
				<td>
					<a href="{php echo $this->createWebUrl('Package', array('id'=>$row['id'], 'op' => 'delete'))}"
					   onclick="return confirm('此操作不可恢复，确认删除？');return false;" title="删除"
					   class="btn btn-small"><i class="glyphicon glyphicon-remove"></i>删除</a>
					<a href="{php echo $this->createWebUrl('Package', array('id'=>$row['id'], 'op' => 'post'))}"
					   title="编辑"
					   class="btn btn-small"><i class="glyphicon glyphicon-remove"></i>编辑</a>
					<a href="{php echo $this->createWebUrl('PackageCode', array('pid' => $row['id'],'op' => 'display'))}"
					   title="编辑"
					   class="btn btn-small"><i class="glyphicon glyphicon-remove"></i>卡密管理</a>
				</td>
			</tr>
			{/loop}
			</tbody>
		</table>
		{$pager}
	</div>
</div>

{/if}
{template 'common/footer'}