.scope_area {
    margin-top: 10px;
    height: 302px;
    overflow: hidden
}

.scope_area .item_name {
    width: 140px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    display: block
}

.scope_area .frm_msg.fail {
    padding-left: 10px
}

.unchoose_scope,.choosed_scope {
    border: 1px solid #e7e7eb;
    float: left;
    zoom:1;height: 300px;
    width: 200px;
    overflow: visible;
    background-color: #fff;
	margin-left: 50px;	
}

.scope_hd {
    height: 27px;
    line-height: 27px;
    position: relative;
    background-color: #f4f5f9;
    text-align: left;	
}

.scope_hd label {
    display: block;
    cursor: pointer;
    margin-left: 10px;
    cursor: default;
    width: 175px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    font-size: 14px
}

.scope_hd:hover {
    background-color: none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none
}

.scope_hd label:hover {
    cursor: default
}

.scope_list {
    height: 275px;
    overflow-y: scroll;
    zoom:1;position: relative
}

.scope_list dd {
    margin-top: 1px;
    box-sizing: border-box;
    overflow: hidden
}

.scope_list dd.first_dd_list {
    margin-top: 10px
}

.scope_list dd a {
    display: block;
    height: 24px;
    line-height: 24px;
    color: #222;
    overflow: hidden
}

.scope_list dd a:hover {
    background-color: #ccced3;
    text-decoration: none
}

.scope_list dd a.disabled {
    color: #a3a3a3
}

.scope_list dd a.disabled:hover {
    color: #a3a3a3;
    background: 0;
    cursor: default
}

.scope_list dd a .sub_icon {
    width: 13px;
    height: 13px;
    vertical-align: middle;
    display: inline-block;
    margin-right: 5px;
    text-indent: -999em;
    margin-top: 6px;
    float: left;
    margin-left: 10px
}

.scope_list dd a .sub_icon.show_sub_icon {
    background: url("../../../public/images/areaselector_z218878.png") 0 0 no-repeat
}

.scope_list dd a .sub_icon.hide_sub_icon {
    background: url("../../../public/images/areaselector_z218878.png") 0 -23px no-repeat
}

.scope_list dd a:hover .sub_icon.show_sub_icon {
    background: url("../../../public/images/areaselector_z218878.png") 0 -46px no-repeat
}

.scope_list dd a:hover .sub_icon.hide_sub_icon {
    background: url("../../../public/images/areaselector_z218878.png") 0 -69px no-repeat
}

.scope_list dd a.selected {
    background-color: #ccced3;
    color: #fff;
    text-decoration: none
}

.scope_list dd a.father_menu.no_child {
    padding-left: 30px
}

.scope_list .sub_scope_list {
    zoom:1;width: 100%
}

.scope_list .sub_scope_list li {
    margin-top: 1px
}

.scope_list .sub_scope_list li a {
    width: 100%;
    padding-left: 30px
}

.selected_scope_list {
    float: left;
    width: 100%;
    box-sizing: border-box;
    margin-top: 10px
}

.selected_scope_list .selected_scope_item {
    padding-left: 10px;
    position: relative;
    height: 24px;
    line-height: 24px
}

selected_scope_list .selected_scope_item span {
    width: 152px;
    height: 25px;
    display: inline-block;
    *display: inline;
    *zoom:1;overflow: hidden
}

.selected_scope_list .selected_scope_item .as_scope_del {
    text-indent: -999em;
    position: absolute;
    font-size: 16px;
    display: block;
    color: #000;
    top: 5px;
    right: 10px;
    height: 14px;
    width: 15px;
    background: transparent url(../../../public/images/spr_icon_selector218877.png) no-repeat 0 0;
    background-position: 0 -56px
}

.selected_scope_list .selected_scope_item .as_scope_del:hover {
    background-position: 0 -70px
}

.opr_btn {
    float: left;
    margin: 140px 20px
}

.opr_btn .icon_add {
    display: block;
    width: 32px;
    height: 32px;
    overflow: visible;
    text-indent: -999em;
    background: transparent url(../../../public/images/icon32_arrow_right218877.png) no-repeat 0 0;
    margin-left: 30px
}

.processor {
    padding: 15px 30px 5px;
    overflow: hidden
}

.processor ol {
    position: relative;
    *zoom:1}

.processor ol:after {
    content: "\200B";
    display: block;
    height: 0;
    clear: both
}

.processor li {
    float: left
}


.empty_tips {
    padding: 100px 0;
    text-align: center;
    font-size: 14px;
    color: #8d8d8d
}

.mini_tips i {
    font-weight: 400;
    font-style: normal;
    margin-top: -3px;
    margin-right: 3px;
    *margin-top: 0
}

.mini_tips .icon_mini_tips {
    *margin-top: 2px
}

.mini_tips.weak_text {
    color: #8d8d8d
}

.mini_tips.warn {
    color: #e15f63
}

.mini_tips.success {
    color: #7fba4f
}

.mini_tips.icon_after i {
    margin-right: 0;
    margin-left: 3px
}


.mod_hd,.mod_ft {
    *zoom:1}

.mod_hd:after,.mod_ft:after {
    content: "\200B";
    display: block;
    height: 0;
    clear: both
}

.mod_info {
    float: left
}

.mod_opr {
    text-align: right
}

.mod_opr .btn {
    margin-top: -0.2em
}




.icon_msg {
    width: 56px;
    height: 56px;
    vertical-align: middle;
    display: inline-block
}

.icon_msg_mini {
    width: 16px;
    height: 16px;
    vertical-align: middle;
    display: inline-block
}


.icon_msg_small {
    width: 32px;
    height: 32px;
    vertical-align: middle;
    display: inline-block
}




.mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: alpha(opacity = 75);
    -moz-opacity: .75;
    -khtml-opacity: .75;
    opacity: .75;
    background-color: #000;
    z-index: 9998
}

.card_mask_global {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.6)!important;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#99000000',endcolorstr = '#99000000');
    cursor: pointer
}


.faq .links_item.no_extra {
    padding-left: 0
}

.faq .tail {
    color: #8d8d8d;
    font-size: 12px;
    line-height: 30px
}


.area_select_dialog .scope_area {
	padding-left: 45px;
}
.dialog_wrp {
	position: fixed;
	left: 50%;
	width: 726px;
	z-index: 3;
	margin-left: -360px;	
	
}

.dialog_wrp.label_block .frm_label {
    display: block;
    width: auto;
    float: none;
    font-size: 14px;
    margin-bottom: .5em
}

.dialog_wrp.cascade_input .frm_control_group {
    display: inline-block;
    *display: inline;
    *zoom:1}

.dialog_wrp.cascade_input .frm_input_box,.dialog_wrp.cascade_input .frm_tips,.dialog_wrp.cascade_input .frm_msg {
    width: auto
}

.dialog_wrp.cascade_input .frm_input_box {
    display: block
}

.dialog_wrp.cascade_input .frm_controls {
    padding-left: 0
}

.dialog_wrp.align_edge .dialog_bd {
    padding: 0
}

.dialog_wrp.simple .dialog_bd {
    text-align: center
}

.dialog {
    overflow: hidden;
    border: 1px solid transparent;
    background-color: #fff;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    height: 97%;
    margin-top: 3%;
}

.dialog_hd {
    position: relative;
    padding: 0 20px;
    line-height: 38px;
    height: 38px;
    background-color: #f4f5f9;
    background-image: -moz-linear-gradient(top,#f4f5f9 0,#f4f5f9 100%);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#f4f5f9),to(#f4f5f9));
    background-image: -webkit-linear-gradient(top,#f4f5f9 0,#f4f5f9 100%);
    background-image: -o-linear-gradient(top,#f4f5f9 0,#f4f5f9 100%);
    background-image: linear-gradient(to bottom,#f4f5f9 0,#f4f5f9 100%);
    border-bottom: 1px solid #e7e7eb
}

.dialog_hd h3 {
    color: #222;
	display: inline;	
}

.pop_closed {
    position: absolute;
    top: 50%;
    margin-top: -8px;
    right: 20px;
    width: 16px;
    height: 16px;
    line-height: 999em;
    overflow: hidden
}

.dialog_bd {
    padding: 0px 45px 30px;
}
.delivery_box .dialog_bd {
    padding: 36px 10px 30px;
}
.dialog_ft {
    margin: 0;
	padding-bottom: 10px;
    text-align: center;
    border-top: 1px solid transparent;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none
}
.dialog_hd {
    line-height: 52px;
    height: 52px;
    border-bottom-width: 0
}

.dialog_ft .btn {
    margin-left: .3em;
    margin-right: .3em
}

.dialog_content_list {
    height: 420px;
    padding: 0 120px;
    overflow-y: scroll;
    position: relative
}

.simple_dialog_content {
    display: inline-block;
    *display: inline;
    *zoom:1;text-align: left;
    width: 420px
}

.simple_dialog_content .frm_input_box,.simple_dialog_content .frm_textarea_box {
    display: block
}

.simple_dialog_content .frm_input_box,.simple_dialog_content .frm_textarea_box,.simple_dialog_content .frm_tips,.simple_dialog_content .frm_msg {
    width: auto
}

.dialog_wrp {
    z-index: 9999;
    height: 90%;
}


/***********到付模块页面*************/

.delivery_box .unchoose_scope, .delivery_box .choosed_scope {
	margin-left: 8px;
}
.delivery_box .area_select_dialog .scope_area {
	padding-left: 0;
}

.delivery_box .scope_hd {
	text-align: center;
}
.delivery_box .scope_list dd a {
	padding-left:10px;
}
.delivery_item_province ,.delivery_item_city,.delivery_item_county{
	padding:5px;
}
.delivery_item_province ,.delivery_item_city{
	width:60px;
}



