.leixing{
	padding: 0.5rem;
	padding-left: 1rem;
	background: #F6F6F6;
}
#submit{
	width: 90%;
	margin: 1rem auto;
	
}
.weui-uploader__file{
	position: relative;
}
.weui-footer__links{
	text-align: center;
	margin-bottom: 50px;
	margin-top: 20px;
}
.weui-footer__link{
	color:#04BE02;
}
