#submit{
	width: 90%;
	margin: 0 auto;
	position: fixed;
	bottom: 4rem;
	margin-left: 5%;
	z-index: 99;
}
.data-color{
	background: #efeff4;
}
.mg{
	margin-top: 0;
}
.wa{
	font-size: 0.75rem;
	color: #fc0808;
}

.address{
	padding-bottom: 8rem;
}
.wg{
	width: 100%;
	display: block;
}
.weui-cell__bd {
	font-size: 0.75rem;
}

.dataop{
	opacity: 0;
}
.voice{
	color:#000;
	text-align: right;
}
