.colorred{
color:#fc4142;	
}

.tell{
	padding: 10px 10px;
	background: #F6F6F6;
}

.tell div{
	line-height: 1.5rem;
}
#submit{
	width: 90%;
	margin: 1rem auto;
	margin-bottom: 50px;
}


.leixing{
	padding: 0.5rem;
	padding-left: 1rem;
	background: #F6F6F6;
}

.bj{
	background: #F6F6F6;
}

.weui-tabbar__item.weui-bar__item--on .weui-tabbar__label {
    color:#04BE02 ;
}
