/*公用定义*/
@charset "utf-8";
*{ -webkit-tap-highlight-color:rgba(0, 0, 0, 0);}/*取消链接点击的时候变蓝*/
*:focus{outline:none;}
input,select,textarea{ line-height:normal;-webkit-appearance:none;}
input,select,textarea{FONT-FAMILY:'Microsoft YaHei'; font-size:24px;}
body {margin:0px;font-size:24px;background: #fff; color: #2b2b2b;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;FONT-FAMILY:'Microsoft YaHei';}
a {	text-decoration: none;	color: #2b2b2b;}
a:hover {text-decoration: none;color: #cc0000;}
ul,li,tr,td,dl,dt,dd{list-style-type:none;margin:0px;padding:0px;}
li{ overflow:hidden;}
a img{text-decoration: none;margin: 0px;padding: 0px;border:none;}
.f{ float:left; overflow:hidden;}
.r{ float:right; overflow:hidden;}
.bai,.bai a{ color:#FFFFFF;}
.hong,.hong a{ color:#ff0000;}
.huang,.huang a{ color:#faaf19;}
.lan,.lan a{ color:#2293d1;}
.lv,.lv a{ color:#2293d1;}
.hui,.hui a{color:#909090;}

.mgz{ margin-left:auto; margin-right:auto; overflow:hidden; width:640px;}
.mg{ margin-left:auto; margin-right:auto; overflow:hidden; width:600px;}
.mg2{ margin-left:auto; margin-right:auto; overflow:hidden;}
.cen{ text-align:center;}

.xi12{ font-size:12px;}
.xi13{ font-size:13px;}
.xi14{ font-size:14px;}
.xi15{ font-size:15px;}
.xi16{ font-size:16px;}
.xi17{ font-size:17px;}
.xi18{ font-size:18px;}
.xi19{ font-size:19px;}
.xi20{ font-size:20px;}
.xi21{ font-size:21px;}
.xi22{ font-size:22px;}
.xi23{ font-size:23px;}
.xi24{ font-size:24px;}
.xi25{ font-size:25px;}
.xi26{ font-size:26px;}
.xi27{ font-size:27px;}
.xi28{ font-size:28px;}
.xi29{ font-size:29px;}
.xi30{ font-size:30px;}
.xi31{ font-size:31px;}
.xi32{ font-size:32px;}
.xi33{ font-size:33px;}
.xi34{ font-size:34px;}
.xi35{ font-size:35px;}
.xi36{ font-size:36px;}
.xi37{ font-size:37px;}
.xi38{ font-size:38px;}
.xi39{ font-size:39px;}
.xi40{ font-size:40px;}
.xi46{ font-size:46px;}
.xi50{ font-size:50px;}
.xi52{ font-size:52px;}
.xi59{ font-size:59px;}
.xi60{ font-size:60px;}
.cu{font-weight:bold;}
.xi{font-weight:lighter;}
.swiper-slide {
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}
.tm:hover{opacity:0.85; filter:alpha(opacity=85);}
.cur{ cursor:pointer;}
.xiahuaxian{ text-decoration:underline;}
.shanchuxian{ text-decoration:line-through;}
.mengban{ display:none; position:fixed; left:0; top:0; width:100%; height:100%; background:rgba(0,0,0,0.7); z-index:9999990;}
.con input{ background:none; border:none; padding:0; width:100px; height:100px; line-height:100px; border-radius:10px;}
border-bottom:1px solid #000
.con{ width:100px; height:100px; line-height:100px; background:#000}
.con{ width:100px; margin-left:10px; line-height:30px;}
/*样式*/
.ov{ overflow:hidden}
.topt{ height:74px}
.top{ height:74px; line-height:74px; background:#fe6430; width:640px; margin-left:-320px; left:50%; top:0; position:fixed; z-index:99999}
.topl{ position:absolute; left:26px; top:0}
.topr{ position:absolute; right:30px; top:0;}
.footerf{ height:82px}
.footer{ height:82px; background:#fff; z-index:999; position:fixed; bottom:0; left:50%; margin-left:-320px; width:640px; border-top:2px solid #cbcbcb;}
.footer li{ width:20%; float:left;padding-top:6px; text-align:center;}
.footer li a{ font-size:18px; color:#6b6b6b; line-height:112px}
.footer li:hover a{ color:#ff503f}
.li1s{ background:url(../images/s1.png) center 12px no-repeat}
.li1s:hover,.lif1-hover{background:url(../images/s1s.png) center 12px no-repeat}
.li2s{ background:url(../images/s2.png) center 12px no-repeat}
.li2s:hover,.lif2-hover{background:url(../images/s2s.png) center 12px no-repeat}
.li3s{ background:url(../images/s3.png) center 12px no-repeat}
.li3s:hover,.lif3-hover{background:url(../images/s3s.png) center 12px no-repeat}
.li4s{ background:url(../images/s4.png) center 12px no-repeat}
.li4s:hover,.lif4-hover{background:url(../images/s4s.png) center 12px no-repeat}
.li5s{ background:url(../images/s5.png) center 12px no-repeat}
.li5s:hover,.lif5-hover{background:url(../images/s5s.png) center 12px no-repeat}
.lif1-hover a,.lif2-hover a,.lif3-hover a,.lif4-hover a,.lif5-hover a{ color:#ff503f!important}
.con1{ background:url(../images/bg1.png) center 0 no-repeat; height:184px; box-sizing:border-box; padding:46px 24px 0px 26px;}
.con1l{ width:88px; height:88px; border-radius:50%}
.con1m{ margin-left:16px}
.con1mt{ padding-top:10px; padding-bottom:10px;}
.con1mf{ width:112px; height:22px; line-height:22px; border:2px solid #ffbd31; border-radius:34px}
.con1r{ text-align:right; line-height:36px; padding-top:10px}
.con2{ background:#fff; padding:24px 0px; margin-bottom:16px;}
.con2 li{ float:left; width:33%; height:74px; border-right:2px solid #e9e9e9; line-height:32px; padding-top:4px; text-align:center}
.con2 li:last-child{ border-right:none}
.con3{ background:#fff; margin-bottom:16px; box-sizing:border-box; padding:0 26px}
.con3t{ border-bottom:1px solid #e8e8e8; height:78px; line-height:78px;}
.con3trs{ width:108px; height:34px; line-height:34px; border:2px solid #fa0000; border-radius:34px; color:#fa0000; margin-top:18px}
.con3f li{ float:left; width:25%; text-align:center; line-height:46px; padding-top:14px; padding-bottom:6px; font-size:20px}
.con4{ background:#fff; padding-top:34px; padding-bottom:4px; margin-bottom:8px;}
.con4 li{ float:left; text-align:center; line-height:50px; margin-bottom:24px; font-size:20px; width:25%}
.con2s li{ color:#6e6e6e; font-size:22px; line-height:36px}
.con5{ background:#fff; margin-top:20px; margin-bottom:24px; box-sizing:border-box; padding:0 0 22px 26px;}
.con5t{ border-bottom:1px solid #e3e3e3; padding-top:30px; padding-bottom:20px;}
.con5tf{ line-height:34px; margin-top:32px;}
.con5tfz{ margin-right:256px}
.con5tf .con5tfz:nth-child(2){ margin-right:0px}
.con5f{ padding-top:34px;}
.con5ft li{ float:left; text-align:center; width:50%; font-size:20px; color:#37a6f3;}
.con5ft li.hover{ font-size:30px; color:#fe6430}
.con5fm{ margin-top:34px; margin-bottom:26px;}
.con5ff{ line-height:24px;}
.con5ff li{ float:left; width:25%;}
.con6{ background:#fff; margin-bottom:44px; box-sizing:border-box; padding-left:26px; border-bottom:1px solid #e3e3e3}
.con6 li{ height:80px; line-height:80px; font-size:22px; border-bottom:1px solid #e9e9e9;}
.con6 li:last-child{ border-bottom:none}
.con6r{ margin-right:32px}































