/* 公共 */
body { margin-top: 0px; margin-left: 0px; margin-right: 0px; background: #f7f7f7; font-size: 14px; color: #333; font-family: "Helvetica Neue",Helvetica,STheiti,"微软雅黑","黑体"; height: 100%; }
a { text-decoration: none; /*-webkit-tap-highlight-color: rgba(0,0,0,0);*/ }
a:focus { outline: none; }
form { margin: 0; padding: 0px; }

.clear { border-top: 1px solid transparent !important; margin-top: -1px !important; border-top: 0; margin-top: 0; clear: both; visibility: hidden; }

.error { width: 100%; position: fixed; display: block; bottom: 49%; left: 0; text-align: center; z-index: 1000; }
.error .error_message { background-color: #000000; display: block; color: #fff; border-radius: 25px; width: 60%; margin: 0 auto; font-size: 1em; line-height: 1.5em; padding: 4px 10px; }
.display { display: none !important; }



/*****公用******/
/******加载更多  */
.more { background: #fff !important; width: 100% !important; margin: 4px auto !important; text-align: center !important; height: 34px !important; line-height: 34px !important; }




/****** 首页任务 ******/
#header { background: #2863A4; }
#bodyer { margin-top: 20px; }
#footer { height: 30px; margin: 0 auto; }

#header .home-topleft { padding: 8px 0 5px 5px; float: left; color: #fff; }
#header .home-topleft .logo { }
#header .home-topleft .logo img { height: 40px; margin-left: 0px; }
#header .home-topright { float: right; color: #fff; }
#header .home-topright img { height: 25px; margin: 14px 10px 0 0; width: 25px; }
#header .home-topright a { color: #D8E6F5; display: block; }

#bodyer #menu { text-align: center; font-size: 1.0em; }
#bodyer #menu a { padding: 5px; border-top: 1px solid #2863A4; border-bottom: 1px solid #2863A4; color: #2863A4; background: #fff; }
#bodyer #menu a.focus { padding: 5px; border-top: 1px solid #2863A4; border-bottom: 1px solid #2863A4; background: #2863A4; color: #fff; }
#bodyer #menu a.left { border-radius: 50px 0 0 50px; padding-left: 10px; border-left: 1px solid #2863A4; }
#bodyer #menu a.left-focus { border-radius: 50px 0 0 50px; padding-left: 10px; border-left: 1px solid #2863A4; background: #2863A4; color: #fff; }
#bodyer #menu a.right { border-radius: 0 50px 50px 0; padding-right: 10px; border-right: 1px solid #2863A4; }
#bodyer #menu a.right-focus { border-radius: 0 50px 50px 0; padding-right: 10px; border-right: 1px solid #2863A4; background: #2863A4; color: #fff; }

#bodyer #task { margin-top: 20px; }
.t_link { display: block; padding: 10px; }


#bodyer #task a { color: #333; }
#bodyer #task .list { background: #fff; margin-top: 5px; }
#bodyer #task .list .left { width: 42%; float: left; }
#bodyer #task .list .left .price { width: 90%; margin: 0 auto; color: #ff9900; margin-top: 10px; font-size: 1.0em; }
#bodyer #task .list .left .price span { font-size: 1.8em; }
#bodyer #task .list .left .num { width: 90%; margin: 0 auto; padding-left: 6px; padding-bottom: 10px; color: #999; font-size: 0.8em; }
#bodyer #task .list .center { width: 5%; height: 30px; border-left: 1px dotted #eee; float: left; margin-top: 18px; }
#bodyer #task .list .right { width: 52%; float: right; }
#bodyer #task .list .right .title { font-size: 1.1em; color: #333; }
#bodyer #task .list .right .intro { color: #999; font-size: 0.8em; padding: 2px 0 0 0; }
#bodyer #task .list .right .tag { margin-top: 8px; margin-left: 1px; }
#bodyer #task .list .right .tag span { font-size: 0.8em; border: 1px solid #2863A4; border-radius: 50px; padding: 2px 8px 2px 8px; color: #2863A4; }

/*底部浮动按钮*/
#bottomblank { height: 60px; }
/*用于避免浮动挡住内容*/
#bottomNav { background-color: #eee; border-top: 1px solid #ddd; text-align: center; z-index: 999; position: fixed; bottom: 0; left: 0; width: 100%; height: 58px; _position: absolute; _top: expression_r(documentElement.scrollTop + documentElement.clientHeight-this.offsetHeight); overflow: visible; }
#bottomNav img { width: 25px; }
#bottomNav #btn-focus { color: #2863A4; width: 25%; float: left; padding: 8px 0 8px 0; }
#bottomNav #btn-normal { color: #999; width: 25%; float: left; padding: 8px 0 8px 0; }
#bottomNav .nav-bottom { font-size: 0.8em; }


/****** 任务详情 ******/
#taskdetail-top { background: #2863A4; }
#taskdetail-top .detail-top { height: 20px; color: #fff; padding: 10px 0 0 10px; }
#taskdetail-top .detail-top .back { width: 40px; height: 40px; background: #fff; border-radius: 50px; opacity: 0.2; }
#taskdetail-top .detail-topmain { color: #fff; padding: 20px 0 20px 0; }
#taskdetail-top .detail-topmain .title { color: #fff; font-size: 1.5em; text-align: center; }
#taskdetail-top .detail-topmain .money { color: #fff; font-size: 2.5em; text-align: center; }
#taskdetail-top .detail-topmain .money span { font-size: 1.5em; }
#taskdetail-top .detail-topmain .intro { color: #799EC6; font-size: 1.2em; text-align: center; }
#taskdetail-top .detail-topmain .tag { margin-top: 20px; text-align: center; }
#taskdetail-top .detail-topmain .tag span { font-size: 1.1em; border: 1px solid #fff; border-radius: 50px; padding: 3px 10px 3px 10px; color: #fff; }
#taskdetail-top .detail-topbottom { color: #fff; font-size: 0.8em; color: #799EC6; padding: 10px 10px; }
#taskdetail-top .detail-topbottom span { border: 0px solid #799EC6; border-radius: 50px; }
#taskdetail-top .detail-topbottom a { color: #799EC6; }
#taskdetail-top .detail-topbottom .left { float: left; text-align: left; }
#taskdetail-top .detail-topbottom .left span { color: #fff; }
#taskdetail-top .detail-topbottom .right { float: right; text-align: right; }
#taskdetail-top .detail-topbottom .right span { color: #fff; }

#taskdetail-main { margin-top: 20px; }
#taskdetail-main .detail-taskintro { background: #fff; padding: 15px; margin-top: 10px; }
#taskdetail-main .detail-taskintro .title { color: #2863A4; padding: 0 0 5px 0; font-size: 1.1em; font-weight: bold; position: relative; }
#taskdetail-main .detail-taskintro .title .bzjremark { position: absolute; float: right; display: block; top: -3px; right: -4px; color: #999; font-size: 0.8em; text-decoration: underline; font-weight: 100; }
#taskdetail-main .detail-taskintro .title .bzjremark a { color: #999; }
#taskdetail-main .detail-taskintro .bzj { color: #ff6600; font-size: 1.4em; font-weight: 500; }
#taskdetail-main .detail-taskintro img { width: 100%; height: inherit; }
#taskdetail-main .detail-person { text-align: center; color: #999; margin-top: 15px; }
#taskdetail-main .detail-person span { color: #ff9900; }
#taskdetail-main .doingtip { text-align: center; font-size: 1.1em; padding: 10px; }
#taskdetail-main .btn { text-align: center; margin: 10px auto; margin-bottom: 30px; width: 85%; color: #fff; background: #ff9900; font-size: 1.3em; border-radius: 50px; -webkit-tap-highlight-color: rgba(0,0,0,0); }

#taskdetail-main .btn-hui { text-align: center; margin: 10px auto; margin-bottom: 30px; width: 85%; color: #fff; background: #999; font-size: 1.3em; border-radius: 50px; -webkit-tap-highlight-color: rgba(0,0,0,0); }

#taskdetail-main .btnhuise { text-align: center; margin: 10px auto; margin-bottom: 30px; width: 85%; padding: 10px 0; color: #fff; background: #ccc; font-size: 1.3em; border-radius: 50px; }

#taskdetail-main .mylevel { background: #ff9900; color: #fff; border-radius: 5px; font-size: 10px; padding: 0px 5px; margin-left: 0px; }

#taskdetail-main .needshiming { font-size:0.9em; margin:10px 0; color:#64a600; background:#d3ff93;border:0px solid #ff6600; padding:20px; text-align:center;}
#taskdetail-main .needshiming a { color:#64a600; text-decoration:underline; padding:5px;}

#taskdetail-main .btnred { text-align: center; margin: 10px auto; margin-bottom: 30px; width: 85%; /*padding: 10px 0;*/ color: #fff; background: #F90; font-size: 1.3em; border-radius: 50px; }
#taskdetail-main .btnred a { color: #fff; }
#taskdetail-main .btnblue { text-align: center; margin: 10px auto; margin-bottom: 30px; width: 85%; padding: 10px 0; color: #fff; background: #2863A4; font-size: 1.3em; border-radius: 50px; }
#taskdetail-main .btncannot { color: #999; background-color: #dedede; padding: 10px 0; }
#taskdetail-main .taskliucheng { text-align: center; margin-top: -22px; margin-bottom: 30px; }
#taskdetail-main .taskliucheng a { /*padding: 10px;*/ color: #2863A4; line-height: 50px; }
#taskdetail-main .taskliucheng a img { line-height: 50px; vertical-align: middle; width: 18px; height: 18px; }
/**上面这个前面加了背景好像有问题（可能是没有用IIS打开，导致路径不识别），所以在页面里加了图片暂时效果***/

#taskend { z-index: 100; margin-top: 250px; position: absolute; width: 90%; height: 120px; text-align: right; opacity: 0.5; }
#taskend img { width: 120px; }

#taskdetail-main .detail-taskintro .alink { color: #2863A4 !important; word-wrap: break-word; }
/***
#taskstate{ z-index:100; ;margin-top:-5px; float:right; opacity:0.8; margin-right:0px;; font-size:0.6em; width:50px; border-radius:50px; text-align:center; background:#ff6600; color:#fff;}
***/

/*********** 奖金 **********/
#money-top { background: #2863A4; padding: 40px 0 30px 0; }
#money-top .main .title { color: #fff; font-size: 1.3em; text-align: center; margin-bottom: 12px; }
#money-top .main .money { margin-top: -10px; color: #fff; font-size: 3.5em; text-align: center; padding-bottom: 10px; }
#money-top .main .intro { color: #799ec6; font-size: 1em; text-align: center; }
#money-top .main .how { text-align: right; color: #799ec6; font-size: 0.8em; margin-top: 20px; margin-bottom: -10px; padding-right: 10px; }
#money-top .main .how a { color: #2863A4; background: #799ec6; border-radius: 50px; padding: 2px 10px 2px 10px; }

#money-main { margin-top: 20px; }
#money-main .card { color: #999; text-align: center; }
#money-main .card a { color: #2863A4; text-decoration: underline; }
#money-main .mymoney { border: 1px solid #ccc; background: #fff; width: 85%; height: 35px; margin: 0 auto; border-radius: 50px; padding: 5px 0; text-align: center; line-height: 35px; margin-top: 15px; }
#money-main .mymoney .gray { width: 30%; font-size: 1.0em; color: #999; float: left; text-align: right; }
#money-main .mymoney .a1 { width: 70%; font-size: 2.0em; color: #ff6600; float: left; height: 30px; line-height: 30px; }
#money-main .mymoney .a1 input { border-radius: 50px; width: 80%; border: 0px; color: #F60; outline: none; font-family: "黑体"; font-size: 1.0em; overflow: hidden; line-height: 20px; height: 26px; border: none; -webkit-appearance: none; }
#money-main .btn { width: 85%; text-align: center; margin: 10px auto; /*padding: 10px 0;*/ color: #fff; background: #ff9900; font-size: 1.3em; border-radius: 50px; }

#money-main .btns { width: 85%; text-align: center; margin: 10px auto; /*padding: 10px 0;*/ color: #fff; background: #2863A4; font-size: 1.3em; border-radius: 50px; }

#money-main .btn a { padding: 5px; color: #fff; }
#money-main .moneytitle { margin: 0px; margin-top: 30px; height: 20px; border-top: 1px dotted #ccc; text-align: center; color: #999; }
#money-main .moneytitle .title { width: 30%; margin: 0 auto; margin-top: -10px; background-color: #f7f7f7; }
#money-main .moneylist { background: #fff; padding: 10px; margin-bottom: 1px; }
#money-main .moneylist .left { float: left; width: 70%; }
#money-main .moneylist .left .dotime { color: #999; font-size: 0.8em; }
#money-main .moneylist .right { float: right; width: 30%; text-align: right; padding-top: 10px; }
#money-main .moneylist .right .red { color: #ff3300; }
#money-main .moneylist .right .green { color: #339966; }



#money-main .cls_ordernum { height: 40px; font-size: 1.5em; color: #333; width: 80%; margin: 0 auto; }
#money-main .cls_money { height: 40px; font-size: 1.5em; color: #333; width: 80%; margin: 0 auto; }
#money-main .cls_money span { color: #ff6600; }




#money-qa { display: none; position: fixed; background: #fff; top: 5%; left: 10%; width: 80%; height: 70%; border: 1px solid #f7f7f7; background-color: white; z-index: 998; overflow: auto; box-shadow: 2px 2px 2px #333; }
#money-qa .main img { width: 100%; }
#money-qa .top { width: 80%; background-color: #f7f7f7; position: fixed; }
#money-qa .top .title { height: 35px; line-height: 35px; color: #333; text-align: center; }
#money-qa .top .btnclose { position: absolute; top: 0; right: 10px; padding: 2px; width: 20px; height: 20px; }
#money-main .tixian-tip { font-size: 0.9em; color: #2863A4; text-align: center; width: 100%; display: block; margin: 15px auto; }
#money-main .money-tip { font-size: 0.9em; color: #ff9900; text-align: center; width: 100%; display: block; margin: 0px auto; }
/*********** 邀请 **********/

#invite-top .main { background: #235FA2; padding: 20px 0; }
#invite-top .main img { width: 100%; }
#invite-top .main .how { text-align: right; color: #799ec6; font-size: 0.8em; margin-top: 10px; padding-right: 10px; }
#invite-top .main .how a { color: #2863A4; background: #799ec6; border-radius: 50px; padding: 2px 10px 2px 10px; }

#invite-main .btn { text-align: center; margin: 10px auto; margin-top: 30px; width: 85%; /* padding: 10px 0; */ color: #fff; background: #F90; font-size: 1.3em; border-radius: 50px; }


#invite-main .tip { width: 95%; margin: 0 auto; text-align: center; font-size: 0.8em; color: #ff6600; }
#invite-main .myinvite { text-align: center; padding-top: 30px; }
#invite-main .myinvite a { color: #235FA2; padding: 5px; }


#invite-list .how { margin: 0px; margin-top: 50px; height: 20px; border-top: 1px dotted #ccc; text-align: center; color: #999; }
#invite-list .how .title { width: 30%; margin: 0 auto; margin-top: -10px; background-color: #f7f7f7; }
#invite-list .list { background: #fff; padding: 10px; margin-bottom: 1px; }
#invite-list .list .left { float: left; width: 60%; }
#invite-list .list .left .dotime { color: #999; font-size: 0.8em; }
#invite-list .list .right { float: right; width: 40%; text-align: right; padding-top: 6px; }
#invite-list .list .right .red { color: #ff3300; }
#invite-list .list .right .green { color: #339966; }
#invite-intro { display: none; position: fixed; background: #fff; top: 5%; left: 10%; width: 80%; height: 70%; border: 1px solid #f7f7f7; background-color: white; z-index: 998; overflow: auto; box-shadow: 2px 2px 2px #333; border-radius: 5px; }
#invite-intro .main img { width: 100%; }
#invite-intro .top { width: 80%; background-color: #f7f7f7; position: fixed; border-top-left-radius: 5px; border-top-right-radius: 5px; }
#invite-intro .top .title { height: 35px; line-height: 35px; color: #333; text-align: center; }
#invite-intro .top .btnclose { position: absolute; top: 0; right: 10px; padding: 2px; width: 20px; height: 20px; }



#invite-yaoqingzongji { width: 100%; height: auto; margin: 25px 0 0 0; }
#invite-yaoqingzongji div { display: inline-block; }
#invite-yaoqingzongji .zongrenshu { width: 48%; height: auto; text-align: center; }
#invite-yaoqingzongji .zongrenshu .zongrenshucount { display: block; width: 100%; font-size: 2.0em; color: #ff9900; }
#invite-yaoqingzongji .zongrenshu .zongrenshu-tip { color: #999; font-size: 1.0em; }

#invite-yaoqingzongji .zongjinbi { width: 48%; height: auto; text-align: center; }
#invite-yaoqingzongji .zongjinbi .zongrenshucount { display: block; width: 100%; font-size: 2.0em; color: #ff9900; }
#invite-yaoqingzongji .zongjinbi .zongrenshu-tip { color: #999; font-size: 1.0em; }

#invite-yaoqingzongji .fengexian { width: 1%; border-left: 1px solid #ddd; height: 40px; }





/**遮罩层代码要修改**/
#fade { display: none; position: fixed; top: 0%; left: 0%; width: 100%; height: 100%; background-color: black; z-index: 997; -moz-opacity: 0.8; opacity: .80; filter: alpha(opacity=80); }

/**遮罩层代码要修改**/
#fade2 { display: none; position: fixed; top: 0%; left: 0%; width: 100%; height: 100%; background-color: black; z-index: 997; -moz-opacity: 0.8; opacity: .80; filter: alpha(opacity=80); }


/**遮罩层代码要修改**/
#fade3 { display: none; position: fixed; top: 0%; left: 0%; width: 100%; height: 100%; background-color: black; z-index: 997; -moz-opacity: 0.9; opacity: .90; filter: alpha(opacity=90); }

/*********** 我的 **********/
#my-top { background: #2863A4; padding: 40px 0 40px 0; }
#my-top .main .myface { width: 150px; margin: 0 auto; border-radius: 50%; overflow: hidden; height: 150px; }
#my-top .main .myface img { width: 100%; }
#my-top .main .myname { color: #fff; font-size: 1.5em; text-align: center; padding-bottom: 10px; }
#my-top .main .mylevel { background: #ff9900; color: #fff; border-radius: 5px; font-size: 10px; padding: 0px 5px; position: absolute; margin-left: 6px; }
#my-top .main .mymobile { color: #799ec6; font-size: 1.0em; text-align: center; margin-top: 15px; margin-bottom: -12px; }


#my-top .lv { width: 70%; margin: 0 auto; margin-bottom: 5px; }
#my-top .lv .lv_text { float: left; display: block; color: #fff; font-size: 0.8em; line-height: 16px; margin-right: 4px; }
#my-top .white { width: 70%; border-radius: 10px; height: 10px; background-color: #fff; padding: 2px; float: left; position: relative; margin-top: 1px; }
#my-top .lev { color: #fff; font-weight: 700; /* text-indent: 5px; */ float: left; font-size: 0.8em; margin-top: 2px; padding: 0 2px; -webkit-transform: scale(0.9); transition: ease 1s all; }
#my-top .jindu { width: 70%; border-radius: 10px; height: 10px; background-color: #ff9900; }
#my-top .point { margin: 0 auto; color: rgb(175, 34, 0); font-size: 0.7em; /* margin-left: 8%; */ /* margin-bottom: 10px; */ -webkit-transform: scale(0.9); position: absolute; top: 0; left: 34%; }
#my-top .point span { display: inline-block; text-align: right; }
#my-main { margin-top: 20px; }
#my-main .list { background: #fff; height: 32px; padding: 8px 10px; margin-bottom: 1px; }
#my-main .list .left { float: left; width: 40px; }
#my-main .list .left img { width: 30px; }
#my-main .list .center { color: #333; float: left; font-size: 1.2em; padding-top: 3px; }
#my-main .list .center span { color: #2863A4; }
#my-main .list .right { float: right; width: 20px; text-align: right; }
#my-main .list .right img { width: 25px; }
#my-main .myreginfo { margin-top: 10px; padding: 5px; font-size: 0.8em; color: #999; }
#my-main .myreginfo .left { float: left; }
#my-main .myreginfo .right { float: right; }
#my-main .logout { margin-top: 40px; font-size: 1.2em; line-height: 32px; background-color: #fff; color: #c00; height: 32px; padding: 8px 10px; margin-bottom: 1px; text-align: center; }
#my-main .logout a { color: #c00; }



/*********** 修改个人资料 **********/
#myprofile-top { }
#myprofile-top .top { color: #fff; padding: 10px 0 0 10px; }
#myprofile-top .top .back { padding: 10px; width: 40px; height: 40px; background: #fff; border-radius: 50px; opacity: 0.2; }
#myprofile-top .top img { width: 30px; height: 30px; background: #fff; border-radius: 50px; }
#myprofile-top .top a { width: 30px; height: 30px; display: block; }


#myprofile-main .title { text-align: center; font-size: 1.5em; color: #2863A4; margin: 10px 0 30px 0; }
#myprofile-main .list { background: #fff; height: 31px; padding: 8px 10px; margin-bottom: 1px; line-height: 31px; }
#myprofile-main .list .left { float: right; width: 25%; text-align: right; color: #2863A4; font-size: 1.2em; }
#myprofile-main .list .right { color: #333; width: 75%; float: right; /*font-size: 0.9em;*/ /*padding-top: 3px;*/ }
#myprofile-main .list .right span { color: #999; font-size: 0.8em; margin-left: 6px; }

#myprofile-main .list .left-1 { float: right; width: 30%; text-align: right; line-height: 31px; color: #2863A4; font-size: 1.2em; }
#myprofile-main .list .right-1 { color: #333; width: 70%; float: right; /*font-size: 0.9em;*/ /*padding-top: 3px;*/ line-height: 31px; }
#myprofile-main .list .right-1 span { color: #999; font-size: 0.8em; margin-left: 6px; }


#myprofile-main .list-tag { background: #fff; padding: 8px 10px; margin-bottom: 1px; }
#myprofile-main .list-tag .left-tag { float: left; text-align: right; line-height: 30px; color: #2863A4; width: 25%; }
#myprofile-main .list-tag .right-tag { line-height: 1.9; color: #333; width: 75%; float: right; font-size: 1.2em; padding-top: 3px; }
#myprofile-main .list-tag .right-tag span { white-space: nowrap; background: #2863A4; border-radius: 50px; font-size: 0.8em; color: #fff; padding: 0px 10px; float: left; margin-right: 3px; margin-bottom: 3px; }
#myprofile-main .list-tag .right-tag .add { white-space: nowrap; background: #f7f7f7; border: 1px solid #999; border-radius: 50px; font-size: 0.8em; color: #999; padding: 0px 8px; }

#myprofile-main .btn { text-align: center; margin: 10px auto; margin-top: 30px; width: 85%; color: #fff; background: #ff9900; font-size: 1.3em; border-radius: 50px; }

#alltag { display: none; position: fixed; background: #fff; top: 10%; left: 8%; width: 84%; border: 1px solid #f7f7f7; background-color: #FFF; z-index: 998; overflow: hidden; box-shadow: 2px 2px 2px #333; border-radius: 5px; }
#alltag .top { width: 100%; background-color: #f7f7f7; margin-bottom: 15px; }
#alltag .top .title { height: 35px; line-height: 35px; color: #333; text-align: center; }
#alltag .top .btnclose { position: absolute; top: 0; right: 10px; padding: 2px; width: 20px; height: 20px; }
#alltag .main { margin: 15px; line-height: 2.5; text-align: center; }
#alltag .main .nochoose { white-space: nowrap; border: 1px solid #2863A4; background: #fff; border-radius: 50px; font-size: 1em; color: #2863A4; padding: 4px 9px; }
#alltag .main .yeschoose { white-space: nowrap; border: 0px solid #2863A4; background: #2863A4; border-radius: 50px; font-size: 1em; color: #fff; padding: 5px 10px; }

#alltag .btn { text-align: center; margin: -10px 30px 20px 30px; padding: 5px 0; color: #fff; background: #ff9900; font-size: 1.2em; border-radius: 50px; }
#alltag .btn a { padding: 5px; }
#alltag .tip { color: #ff9900; font-size: 0.8em; text-align: center; }

/*********************************************/

#alltag2 { display: none; position: fixed; background: #fff; top: 10%; left: 10%; width: 80%; border: 1px solid #f7f7f7; background-color: white; z-index: 998; overflow: auto; box-shadow: 2px 2px 2px #333; border-radius: 5px; }
#alltag2 .top { width: 100%; background-color: #f7f7f7; margin-bottom: 15px; }
#alltag2 .top .title { height: 35px; line-height: 35px; color: #333; text-align: center; }
#alltag2 .top .btnclose { position: absolute; top: 0; right: 10px; padding: 2px; width: 20px; height: 20px; }
#alltag2 .main { margin: 15px; line-height: 2.5; text-align: center; }
#alltag2 .main .nochoose { white-space: nowrap; border: 1px solid #2863A4; background: #fff; border-radius: 50px; font-size: 1em; color: #2863A4; padding: 4px 9px; }
#alltag2 .main .yeschoose { white-space: nowrap; border: 0px solid #2863A4; background: #2863A4; border-radius: 50px; font-size: 1em; color: #fff; padding: 5px 10px; }

#alltag2 .btn { text-align: center; margin: -10px 30px 20px 30px; padding: 5px 0; color: #fff; background: #ff9900; font-size: 1.2em; border-radius: 50px; }
#alltag2 .btn a { padding: 5px; }
#alltag2 .tip { color: #ff9900; font-size: 0.8em; text-align: center; }

/*********************************************/


.alltag { display: none; position: fixed; top: 2%; left: 3%; width: 95%; z-index: 1998; overflow: auto; height: 100%; }
.alltag img { width: 100%; height: auto; border-radius: 5px; }
.cloose_pic { color: #999; margin-bottom: 10px; }

#baozhengjin { display: none; position: fixed; background: #fff; top: 10%; left: 15%; width: 72%; border: 1px solid #f7f7f7; background-color: #FFF; z-index: 998; overflow: hidden; box-shadow: 2px 2px 2px #333; border-radius: 5px; }
#baozhengjin .top { width: 100%; background-color: #f7f7f7; margin-bottom: 15px; }
#baozhengjin .top .title { height: 35px; line-height: 35px; color: #333; text-align: center; }
#baozhengjin .top .btnclose { position: absolute; top: 0; right: 10px; padding: 2px; width: 20px; height: 20px; }
#baozhengjin .main { margin: 15px; }
#baozhengjin .main .nochoose { white-space: nowrap; border: 1px solid #2863A4; background: #fff; border-radius: 50px; font-size: 1em; color: #2863A4; padding: 4px 9px; }
#baozhengjin .main .yeschoose { white-space: nowrap; border: 0px solid #2863A4; background: #2863A4; border-radius: 50px; font-size: 1em; color: #fff; padding: 5px 10px; }
#baozhengjin .wendatitle { font-weight: bold; }
#baozhengjin .wendacontent { color: #666; padding-top: 5px; }




/*********** 登录 **********/
#login { background: #f7f7f7; }
#login .logo { text-align: center; margin-top: 50px; }
#login .logo img { width: 200px; }
#login .logo-words { text-align: center; margin-bottom: 30px; }
#login .logo-words img { width: 180px; }
#login .myinput { margin: 10px 30px 10px 30px; padding: 6px 0; padding-left: 14px; color: #ddd; background: #fff; font-size: 1.3em; border: 1px solid #ccc; border-radius: 50px; line-height: 22px; }
#login .myinput input { border: 0px; font-size: 1.0em; outline: none; font-family: "黑体"; font-size: 01em; width: 57%; }
::-webkit-input-placeholder { color: #ddd; }
#login .myradio { width: 82%; margin: 0 30px; }
#login .myradio div { display: inline; }
#login .myradio .remember { width: 85%; }
#login .myradio .forget { width: 15%; }
#login .myradio .forget a { color: #2863A4; float: right; }
#login .btn { text-align: center; margin: 10px 30px 10px 30px; padding: 10px 0; color: #fff; background: #2863A4; font-size: 1.3em; border-radius: 50px; }
#login .btn a { padding: 5px; color: #fff; }
#login .reglink { text-align: center; margin-top: 30px; margin-bottom: 40px; }
#login .reglink a { color: #2863A4; }





/*********** 小陌 **********/
#sendcode { border-radius: 30px; background-color: #2863A4; padding: 7px 8px; float: right; margin: 1px 5px 0px 0px; font-size: 0.8em; line-height: 18px; }
#login .sendbefore { background-color: #999; }
#header .span-tel { margin-top: 15px; display: block; margin-right: 5px; }
#login .myinput-s { margin: 10px 30px 10px 30px; padding: 10px 0; padding-left: 20px; color: #ddd; background: #fff; font-size: 1.3em; border: 1px solid #ccc; border-radius: 50px; overflow: hidden; position: relative; }
#login .myinput-s .sel { border: 0px; font-size: 1.0em; color: #666; width: 450px; font-family: "黑体"; -webkit-appearance: none; }
#login .myinput-s .birthday-input { border: 0px; font-size: 1.0em; color: #ddd; width: 450px; font-family: "黑体"; overflow: hidden; }
#login .myinput-s .head-pic { border: none; font-family: "黑体"; font-size: 1.0em; color: #ddd; }
#login .tishi { display: block; text-align: center; font-family: "黑体"; font-size: 0.9em; color: #2863A4; }
#password.txt-input { border: none !important; height: 28px; }
/*#myprofile-main .txt-input { border: none !important; height: 28px; width: 450px; font-size: 1.0em; font-family: "黑体"; background-color:pink; }*/

#myprofile-main .txt-input { -webkit-appearance: none; /* position: relative; */ /* top: 8px; */ /* left: -2px; */ border-width: 0px; border-right-style: none; border-left-style: none; border-bottom-style: none; border-top-style: none; width: 69%; /* display: table-cell; */ /* height: 30px; */ overflow: hidden; background-color: rgba(0, 0, 0, 0); color: #000; /* border: 1px solid #333; */ line-height: 25px; color: #999; font-family: "Arial Narrow", "微软雅黑"; font-size: 1.2em; text-indent: 2px; outline: none; vertical-align: middle; margin-top: -1px; }


#myprofile-main .btn-s { text-align: center; /* margin: 10px 20px 0 30px; */ /* margin-bottom: 30px; */ width: 85%; padding: 10px 0; background: #F90; font-size: 1.1em; /* border-radius: 50px; */ border: none; /* height: 44px; */ line-height: 20px; font-family: "Arial Narrow", "微软雅黑"; -webkit-appearance: none; color: #fff; }
#alltag .div-pic { /* vertical-align: middle; */ min-height: 60px; /* margin: -30px auto; */ background-size: 95px; /* position: absolute; */ }
#alltag .upload-pic { display: block; border: 1px solid #ccc; height: 60px; width: 60px; margin-left: 22px; margin-bottom: 20px; float: left; }
#alltag .upload-pic img { height: 60px; width: 60px; display: inline; }
#alltag .dipline { display: inline-block; margin-left: 10px; margin-top: 10px; }
#alltag .pic-input { border: 1px solid #ccc !important; overflow: hidden; position: absolute; display: block; width: 60px; height: 60px; background: url(images/img.png); background-repeat: no-repeat; }
#alltag .btn-a { text-align: center; margin: 10px 30px 20px 30px; /*padding: 5px 0;*/ color: #fff; background: #ff9900; font-size: 1.2em; border-radius: 50px; }
#prevUpload li span { display: inherit; }
#invite-list .no-list { color: #cccccc; margin: 15px auto; text-align: center; display: block; width: 100%; margin-bottom: 30px; }
.sizeem12 { font-size: 1.2em; }


/*********** 分享遮罩**********/
#black { width: 100%; height: 100%; background-color: rgba(0,0,0,0.85); position: fixed; text-align: center; z-index: 9998; }
#black img { width: 90%; margin-top: 15px; }



#alltag .btn-small { display: inline; width: 50%; float: left; margin-bottom: 30px; }
#alltag .btn-list { width: 80%; margin: 0 auto; text-align: center; margin-top: 20px; /* margin-bottom: 24px; */ /* height: 19%; */ }
#alltag .btn-list .reset { color: #F90; border-radius: 50px; }
#alltag .btn-list .confirm { color: #fff; border-radius: 50px; }

#alltag .btn-list .reset-s { border: 1px solid #F90; background-color: #fff; color: #F90; border-radius: 50px; padding: 5px 12px; /* margin-right: 10px; */ /* margin-left: 10px; */ float: right; width: 70%; /* margin-bottom: 20px; */ }
#alltag .btn-list .confirm-s { border: 1px solid #F90; background-color: #F90; color: #fff; border-radius: 50px; padding: 5px 12px; /* margin-left: 10px; */ /* margin-right: 10px; */ float: left; width: 70%; /* margin-bottom: 20px; */ }



#alltag2 .btn-small { display: inline; width: 50%; float: left; margin-bottom: 30px; }
#alltag2 .btn-list { width: 80%; margin: 0 auto; text-align: center; margin-top: 20px; }
#alltag2 .btn-list .reset { color: #F90; border-radius: 50px; }
#alltag2 .btn-list .confirm { color: #fff; border-radius: 50px; }



#alltag2 .btn-list .reset-s { border: 1px solid #F90; background-color: #fff; color: #F90; border-radius: 50px; padding: 5px 12px; /* margin-right: 10px; */ /* margin-left: 10px; */ float: left; width: 70%; /* margin-bottom: 20px; */ }
#alltag2 .btn-list .confirm-s { border: 1px solid #F90; background-color: #F90; color: #fff; border-radius: 50px; padding: 5px 12px; /* margin-left: 10px; */ /* margin-right: 10px; */ float: right; width: 70%; /* margin-bottom: 20px; */ }




.hrefbtn { color: #fff; width: 100%; display: block; border-radius: 30px; text-align: center; padding: 10px 0; }
.hrefbtn-doling { color: #fff; width: 100%; display: block; border-radius: 30px; text-align: center; padding: 14px 0; }


/*  返回顶部 */
/*clearboth*/
#clearfix:after { content: '.'; display: block; height: 0; clear: both; visibility: hidden; }
#clearfix { *zoom: 1; }
#clearfix .clear { _height: 0px; }
/*gotop*/
#cbbfixed { position: fixed; right: 20px; transition: bottom ease .3s; bottom: -85px; z-index: 3; cursor: pointer; }
#cbbfixed .cbbtn { width: 30px; height: 30px; display: block; background-color: #ccc; border-radius: 50px; filter: alpha(opacity=50); -moz-opacity: 0.5; -khtml-opacity: 0.5; opacity: 0.5; }
#cbbfixed .gotop { transition: background-color ease .3s; margin-top: 1px; vertical-align: middle; text-align: center; line-height: 30px; }
#cbbfixed .gotop .up-icon { /* float: left; */ /* margin: 13px 0 0 9px; */ width: 14px; height: 10px; background: url(images/side-icon02.png) no-repeat; background-size: 100%; display: inline-block; /* vertical-align: middle; */ /* text-align: center; */ }
#cbbfixed .gotop:hover { background-color: #ccc; }

#myprofile-main .cor { color: #2863A4 !important; font-size: 1.2em !important; }



#registerok { background: #f7f7f7; width: 100%; padding-top: 30px; }
#registerok .top { width: 100%; text-align: center; font-size: 2em; font-weight: 400; }
#registerok .welcome { width: 100%; text-align: center; font-size: 1.4em; font-weight: 400; color: #888; margin-top: 5px; }
#registerok .jiantou { margin: 20px auto; text-align: center; }
#registerok .top img { width: 20%; }
#registerok .font, .fonttwo { font-weight: normal; text-align: center; }
#registerok .font { font-size: 1.5em; color: #f60; font-weight: 600; }
#registerok .fonttwo { font-size: 1.2em; color: #999; }
#registerok .ewm { text-align: center; margin-top: 10px; }
#registerok .ewm img { width: 60%; }


#connect .tel, .time, .wechat, .tel { width: 96%; margin: 10px auto; height: 44px; line-height: 44px; text-indent: 25px; }
#connect .tel { background: url(images/tel.png) no-repeat left center; background-size: 20px; }
#connect .time { background: url(images/time.png) no-repeat left center; background-size: 20px; }
#connect .wechat { background: url(images/wechat.png) no-repeat left center; background-size: 20px; }

.fuhao { position: absolute; top: 10px; right: 12px; width: 22px; }
.fuhao img { /* height: 35px; */ /*transform: rotate(90deg);*/ width: 100%; padding-top: 6px; }
.wendatitle { font-weight: bold; }
.wendacontent { color: #666; padding-top: 5px; }
.wendacontent-img { margin: 20px 0; }
#frist_cover .frist_content .frist_content_head { background-color: #c11820; height: 44px; line-height: 44px; text-align: center; font-size: 1.2em; color: #fff; margin-top: -34px; }

#frist_cover { display: none; background-color: rgba(0,0,0,0.7); }
#frist_cover .frist_content { font-family: "微软雅黑"; width: 90%; background-color: #fff; margin: 39px auto; padding-bottom: 1%; padding-top: 8%; max-height: 425px; overflow-y: scroll; overflow-x: hidden; border-radius: 5px; }
#frist_cover .frist_content .frist_content_head { background-color: #2863A4; height: 44px; line-height: 44px; text-align: center; font-size: 1.2em; color: #fff; margin-top: -34px; position: fixed; width: 90%; border-top-left-radius: 5px; border-top-right-radius: 5px; }
#frist_cover .frist_content .content_text { margin-top: 20px; text-align: left; overflow-y: scroll; display: block; max-height: 400px; text-indent: 0.8em; color: #666; padding: 2% 4%; margin-bottom: 25px; }
#frist_cover .frist_content .content_text p { margin-bottom: 6px; color: #333; font-size: 0.9em; line-height: 1.5em; }



#header .item-head { height: 25px; line-height: 25px; padding-top: 20px; padding-left: 20px; font-size: 1.3em; vertical-align: middle; color: #fff; }
#header .item-head img { height: 25px; vertical-align: middle; padding-bottom: 4px; }
#header .item-tip { text-align: center; width: 98%; display: block; color: #799EC6; margin-top: 10px; }
#header .item-zonge { text-align: center; width: 98%; display: block; color: #fff; font-size: 3.1em; }
#header .item-zongeday { text-align: center; width: 98%; display: block; color: #fff; margin-top: 10px; margin-bottom: 10px; }
#header .item-zhuanqian { text-align: right; width: 98%; display: block; color: #799EC6; margin-top: 10px; font-size: 0.8em; }
#header .item-zhuanqian img { height: 15px; vertical-align: middle; line-height: 18px; padding-bottom: 2px; }
#header .item-zhuanqian a { color: #799EC6; }
#header .mylevel { background: #ff9900; color: #fff; border-radius: 50px; font-size: 0.6em !important; padding: 5px; margin-left: 0px; height: 18px; width: 18px; -webkit-transform: scale(0.6); display: inline-block; line-height: 18px; position: absolute; top: 8px; left: 100px; }

#bodyer #task .list .left .new { position: absolute; top: 0; left: 0; }
#bodyer #task .list .left .new img { width: 46%; }
#myradio a { float: right; }

/*找回密码*/
#login .forgettitle span { font-size: 2.0em; font-weight: bold; display: block; text-align: center; margin: 40px 0px; }
#myprofile-main .sign-title { text-align: center; font-size: 2.0em; color: #2863A4; margin: 20px 0 30px 0; }
#myprofile-main .date-table { width: 100%; margin: 0 auto; }
#myprofile-main #qiandao { width: 90%; height: auto; text-align: center; margin: 40px 12px; }
#myprofile-main #qiandao .qiandao-btn { background-color: #f90; color: #fff; width: 96%; padding: 10px; border-radius: 31px; display: block; text-align: center; font-size: 1.2em; }
#myprofile-main #qiandao .qiandao-tip { color: #999; text-align: center; margin-top: 20px; display: block; }


#myprofile-main .curr-date { display: block; margin: 10px 0px; padding-left: 5px; color: #ff9900; font-size: 1.1em; font-weight: bold; }


#bodyer .menu-tip { width: 99%; margin: 15px 0 0 0px; text-align: center; color: #F90; font-size: 0.9em; }
#task .list .list-tip { background-color: #FED980; color: #fff; text-align: center; font-size: 0.8em; }
.qiandao-td { color: #333; position: relative; }
.qiandao { position: absolute; width: 15px; height: 15px; float: right; top: 3%; left: 68%; }
.qiandao img { width: 15px; height: 15px; }



#nodata { margin-top: 100px; }
.no-data-pic { text-align: center; }
.no-data-pic .img { width: 120px; height: 120px; }
.no-data-tip { text-align: center; color: #d0cece; }
