#publishbox{ width:auto; height:auto; position:relative; }
#FaceBox{ display:block; width:286px; height:200px; position:absolute; top:10px;  z-index:9999;}
#FaceBox .Corner{ display:block; width:28px; height:15px; background:url(facebg.png) -32px -100px no-repeat; position:absolute; left:10px; top:0; z-index:100;}
#FaceBox .Content{ display:block;  width: 286px; height:200px; padding:10px; background:#ffffff;border:1px solid #cfcfcf; z-index:99; margin:14px 0px 0px 0px; box-shadow:0px 1px 10px rgba(204,204,204,1); border-radius:2px;}
#FaceBox .Content h3{ margin:0; padding:0;  height:30px; line-height:26px; display:block; font-size:14px; text-align:left;}
#FaceBox .Content h3 span{ float:left;}
#FaceBox .Content h3 .close{ display:inline-block; width:16px; height:16px; background:url(facebg.png) -30px -120px; float:right; cursor:pointer;}
#FaceBox .Content h3 .close:hover{ background-position:-46px -120px;}
#FaceBox .Content ul{ width:285px;  margin:5px 0px 0px 0px; padding:0; list-style-type:none;}
#FaceBox .Content ul li{ display:inline-block; width:24px; height:24px; border:1px solid #f8f8f8; float:left;}
#FaceBox .Content ul li:hover{ border-color:#6C3;}
#FaceBox img{ border:0 none;  top: -7px;position: relative;}
