/*公用定义*/
@charset "utf-8";
*{ -webkit-tap-highlight-color:rgba(0, 0, 0, 0);}/*取消链接点击的时候变蓝*/
*:focus{outline:none;}
input,select,textarea{ line-height:normal;/*-webkit-appearance:none;*/}
input,select,textarea{FONT-FAMILY:'Microsoft YaHei'; font-size:24px;}
body {margin:0px;font-size:24px;background: #fff; color: #2b2b2b;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;FONT-FAMILY:'Microsoft YaHei';}
a {	text-decoration: none;	color: #2b2b2b;}
a:hover {text-decoration: none;color: #cc0000;}
ul,li,tr,td,dl,dt,dd{list-style-type:none;margin:0px;padding:0px;}
li{ overflow:hidden;}
a img{text-decoration: none;margin: 0px;padding: 0px;border:none;}
.f{ float:left; overflow:hidden;}
.r{ float:right; overflow:hidden;}
.bai,.bai a{ color:#FFFFFF;}
.hong,.hong a{ color:#ff0000;}
.huang,.huang a{ color:#faaf19;}
.lan,.lan a{ color:#2293d1;}
.lv,.lv a{ color:#2293d1;}
.hui,.hui a{color:#909090;}
.mgz{ margin-left:auto; margin-right:auto; overflow:hidden; width:640px;}
.mg{ margin-left:auto; margin-right:auto; overflow:hidden; width:600px;}
.mg2{ margin-left:auto; margin-right:auto; overflow:hidden;}
.cen{ text-align:center;}

.xi12{ font-size:12px;}
.xi13{ font-size:13px;}
.xi14{ font-size:14px;}
.xi15{ font-size:15px;}
.xi16{ font-size:16px;}
.xi17{ font-size:17px;}
.xi18{ font-size:18px;}
.xi19{ font-size:19px;}
.xi20{ font-size:20px;}
.xi21{ font-size:21px;}
.xi22{ font-size:22px;}
.xi23{ font-size:23px;}
.xi24{ font-size:24px;}
.xi25{ font-size:25px;}
.xi26{ font-size:26px;}
.xi27{ font-size:27px;}
.xi28{ font-size:28px;}
.xi29{ font-size:29px;}
.xi30{ font-size:30px;}
.xi31{ font-size:31px;}
.xi32{ font-size:32px;}
.xi33{ font-size:33px;}
.xi34{ font-size:34px;}
.xi35{ font-size:35px;}
.xi36{ font-size:36px;}
.xi37{ font-size:37px;}
.xi38{ font-size:38px;}
.xi39{ font-size:39px;}
.xi40{ font-size:40px;}
.xi46{ font-size:46px;}
.xi50{ font-size:50px;}
.xi52{ font-size:52px;}
.xi59{ font-size:59px;}
.xi60{ font-size:60px;}
.cu{font-weight:bold;}
.xi{font-weight:lighter;}
.swiper-slide {
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}
.tm:hover{opacity:0.85; filter:alpha(opacity=85);}
.cur{ cursor:pointer;}
.xiahuaxian{ text-decoration:underline;}
.shanchuxian{ text-decoration:line-through;}
.mengban{ display:none; position:fixed; left:0; top:144px; width:100%; height:100%; background:rgba(0,0,0,0.5); z-index:9999990;}
.con input{ background:none; border:none; padding:0; width:100px; height:100px; line-height:100px; border-radius:10px;}
border-bottom:1px solid #000
.con{ width:100px; height:100px; line-height:100px; background:#000}
.con{ width:100px; margin-left:10px; line-height:30px;}
/*样式*/
.ov{ overflow:hidden}
.bgbai{ background-color:#fff}
.topt{ height:74px}
.top{ height:74px; line-height:74px; background:#ff7415; width:640px; margin-left:-320px; left:50%; top:0; position:fixed; z-index:99999}
.topl{ position:absolute; left:30px; top:0}
.topm{ position:absolute; left:50%; top:50%; width:466px; height:48px; line-height:48px; background:#fff; border-radius:34px; margin-left:-233px; margin-top:-24px}
.topm input{ margin-left:34px; background:none; padding:0px; border:none; font-size:22px; line-height:48px; height:48px}
.topr{ position:absolute; right:30px; top:0}
.footerf{ height:82px}
.footer{ height:82px; background:#fff; z-index:999; position:fixed; bottom:0; left:50%; margin-left:-320px; width:640px; border-top:1px solid #e0e0e0;}
.footer li{ width:20%; float:left; padding-top:8px; text-align:center;}
.footer li{ font-size:18px; color:#666666; line-height:112px}
.footer a li:hover{ color:#ff6b06}
.li1s{ background:url(../images/s1.png) center 12px no-repeat}
.li1s:hover,.lif1-hover{background:url(../images/s1s.png) center 12px no-repeat}
.li2s{ background:url(../images/s2.png) center 14px no-repeat}
.li2s:hover,.lif2-hover{background:url(../images/s2s.png) center 14px no-repeat}
.li3s{ background:url(../images/s3.png) center 18px no-repeat}
.li3s:hover,.lif3-hover{background:url(../images/s3s.png) center 18px no-repeat}
.li4s{ background:url(../images/s4.png) center 14px no-repeat}
.li4s:hover,.lif4-hover{background:url(../images/s4s.png) center 14px no-repeat}
.li5s{ background:url(../images/s5.png) center 14px no-repeat}
.li5s:hover,.lif5-hover{background:url(../images/s5s.png) center 14px no-repeat}
.lif1-hover,.lif2-hover,.lif3-hover,.lif4-hover,.lif5-hover{ color:#ff6b06!important}
.con1{ height:68px; border-bottom:1px solid #e5e5e5}
.con1 li{ float:left; width:11.1%; text-align:center; font-size:24px; line-height:66px; height:66px}
.con1 li a{ color:#4f4f4f}
.con1 li.hover{ color:#ff7415; border-bottom:2px solid #ff7415}
.con1f{ padding-top:20px; position:absolute; left:50%; top:142px; width:640px; margin-left:-320px; z-index:999999; }
.con1 li:last-child{ background:url(../images/xiajiantou.png) center center no-repeat;}
.con1f li{ width:182px; height:46px; line-height:46px; background:#f2f2f2; border-radius:4px; margin-left:22px; margin-bottom:30px; text-align:center; font-size:20px; float:left}
.con2{ box-sizing:border-box; padding:20px 0 8px 0px;}
.con2 li{ float:left; text-align:center; width:20%; line-height:42px; margin-bottom:12px; font-size:24px; color:#666666}
.con3{ height:88px; line-height:88px; box-sizing:border-box; padding-left:18px; margin-top:8px; margin-bottom:8px;}
.con4t{ height:66px; line-height:66px; box-sizing:border-box; padding-left:18px; padding-right:14px;}
.con4t2{ margin-left:18px; margin-right:20px;}
.con4t3{ margin-top:24px;}
.con4t3 li{ width:28px; height:20px; line-height:20px; background:#666666; float:left; text-align:center; font-size:16px; color:#fff}
.con4t3 span{ float:left; padding:0 6px; line-height:20px;}
.hdx{margin-top:10px; margin-bottom:14px;}
.hdxm{ width:24px; height:24px; line-height:24px;  border-radius:4px; background:#ff5546; margin-right:5px;}
.con4 .swiper-slide {
    width: auto!important;
    padding: 0 8px;
    display: inline-block;
}
.con4{ margin-bottom:10px}
.con5{ border-top:1px solid #eeeeee; height:320px;}
.con5l{ width:260px; border-right:1px solid #eeeeee; box-sizing:border-box; padding:16px 18px 0 18px; height:320px;}
.con5r{ width:380px}
.con5lt{ line-height:32px; margin-bottom:54px;}
.con5r li{ width:188px; height:160px; float:left; border-right:1px solid #eeeeee; border-bottom:1px solid #eeeeee; box-sizing:border-box; padding:10px 10px 0 10px;}
.con5r li:nth-child(2){ border-right:none}
.con5r li:nth-child(3){ border-bottom:none}
.con5r li:nth-child(4){ border-right:none;border-bottom:none}
.con5rt{ line-height:30px;}
.con6{ height:62px; line-height:62px; color:#ff7400}
.con7 li{ background:#fff; margin-bottom:8px; border-bottom:1px solid #eeeeee; width:316px; box-sizing:border-box; padding:0 18px 14px; float:left}
.con7 li:nth-child(2n){ float:right}
.con7t{ height:310px; line-height:310px;}
.con7m{ border-bottom:1px solid #eeeeee; padding-bottom:12px; line-height:24px;}
.con7f{ height:28px; line-height:28px; margin-top:14px; margin-bottom:12px;}
.con7xm{ width:105px; height:25px; line-height:25px; border:1px solid #ff6b06; border-radius:4px; margin-left:5px; color:#ff6b06}
.con7x2{ height:30px; line-height:30px;}
.con7x2l{ background:url(../images/t24.png) 0 0 no-repeat; width:100px; height:30px; line-height:30px;}
.con7x2ll{ width:44px; text-align:center}
.con7x2lr{ width:54px; text-align:center; color:#ff6b06}
.con8{ height:64px; line-height:64px; margin-bottom:8px; color:#ff6b06}
.top2{ background:#ff7415}
.con9{ background:url(../images/t25.png) center 0 no-repeat; height:280px; position:relative}
.con9z{ width:602px; height:70px; line-height:70px; background:#fff; border-radius:4px; position:absolute; left:50%; margin-left:-296px; bottom:20px;}
.con9l{ width:458px; box-sizing:border-box; padding-left:28px;}
.con9l input{ padding:0px; border:none; background:none; font-size:22px; width:428px}
.con9r{ width:138px; background:#ff7400}
.con10{ box-sizing:border-box; padding:12px 24px 0px; margin-bottom:16px;}
.con10f{ margin-top:26px;}
.con10f li{ height:46px; line-height:46px; background:#f5f5f5; border-radius:8px; margin-right:16px; margin-bottom:16px; padding:0 34px; float:left; font-size:18px}
.con11{ padding-top:22px; margin-bottom:10px;}
.con11 li{ float:left; text-align:center; width:20%; margin-bottom:34px; font-size:18px}
.con11t{ height:68px; line-height:68px; margin-bottom:8px}
.con12t{ height:66px; line-height:66px; border-bottom:1px solid #f5f5f5;}
.con12t li{ float:left; text-align:center; width:25%; font-size:22px;}
.con12m{ height:66px; line-height:66px; border-bottom:1px solid #f5f5f5;}
.con12m li{ float:left; width:50%; box-sizing:border-box; padding-left:28px; height:66px;}
/*.con12mr input{ width:28px; height:28px; margin-left:12px; margin-top:22px}*/
.con12f li{ box-sizing:border-box; padding:12px 0 12px 12px;}
.con12fr{ width:354px; height:224px; margin-left:20px; position:relative}
.con12frt{ line-height:34px; margin-top:6px; margin-bottom:16px;}
.con12frf{ margin-bottom:20px; margin-top:8px;}
.con7xr2{ width:80px; height:36px; line-height:36px; border:1px solid #ff6b06; color:#ff6b06; border-radius:6px;}
.con12t li:last-child{ background:url(../images/t36.png) 108px center no-repeat}
#demo {
    overflow: hidden;
	 height:40px
}
#demo ul li {
    height: 40px;
    line-height: 40px;
}
.con3r{ height:40px; margin-top:24px; width:480px; line-height:40px; overflow:hidden}
.xf{ color:#ff6b06; position:absolute; right:12px; bottom:10px; line-height:38px}
.con1f{z-index:9999991; background:#fff}

.con12t{ width:640px; position:fixed; left:50%; margin-left:-320px; top:74px; z-index:99999; background:#fff}
.con12t li a.hover{ width:132px; height:38px; line-height:38px; margin-top:14px; margin-left:auto; margin-right:auto; border-radius:34px; display:block; color:#fff; background:#ff7415}
.con12tt{ height:67px;}

.regular-radio {display: none;}
.regular-radio + label {
-webkit-appearance: none;

width:32px;
height:31px;
top:8px;
background:url(../images/t43.png);
display: inline-block;
position: relative;
}

.regular-radio:checked + label:after {
content: ' ';
width:32px;
height:31px;
position: absolute;

background:url(../images/t44.png);
text-shadow: 0px;

}
.con12mm{ margin-right:8px;}
.con2 li{ font-size:20px;}
.con2 li img{ border-radius:50%; width:60px; height:60px;}
.con1f li{ border-radius:34px; border:1px solid #dcdcdc; background:#fff;}
.con1f li.hover{ color:#fff; background:#fd569a}
.con1f{ top:144px;}
.topm input{ width:400px;}





