.allpreContainer {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 4;
}
.inoutbg {
    position: absolute;
    width: 100%;
    opacity: 1;
    height: 100%;
    left: 0;
    top: 0;
}

.preloadbg {
    display: none !important;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
}
.DSbg {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
    opacity: 0;
}