/*优惠券*/

.page_top {
    border-bottom: 4px solid #efefef;
}
.card_list{
	text-align:center;
}
.stamp {
	width: 90%;
	height: 95px;
	padding: 0 10px;
	position: relative;
	overflow: hidden;
    margin: 10px auto;
    border-bottom: 4px solid #efefef;
}
.stamp:before {
	content: '';
	position: absolute;
	top:0;
	bottom:0;
	left:10px;
	right:10px;
	z-index: -1;
}
.stamp i {
    position: absolute;
    left: 20%;
    top: 1px;
    height: 190px;
    width: 390px;
    background-color: rgba(255, 255, 255, 0.22);
    transform: rotate(-30deg);
    z-index: -1;	
}

.stamp .par {
	float: left;
	padding: 10px;
	width: 65%;
	border-right:2px dashed rgba(255, 255, 255, .3);
	text-align: left;
    margin-top: 10px;
	position:relative;
}
.stamp .par p {
	color:#fff;
	font-size: 12px;
}
.stamp .par p:nth-of-type(2) {
	font-size:14px;
}
.stamp .par .card_cut_down {
	border-bottom-color: #eee;
    bottom: -10px;
    right: -11px;
}
.stamp .par .card_cut_up {
	border-top-color: #eee;
    top: -15px;
    right: -11px;
    border-bottom-width: 0;
    border-top-style: solid;
    border-top-width: 10px;	
}
.stamp .par .sign {
	font-size: 20px;
}
.stamp .par sub {
	position: relative;
	top:-5px;
	color:rgba(255, 255, 255, .8);
    vertical-align: sub;	
}
.stamp .copy {
    display: inline-block;
    width: 28%;
    vertical-align: text-bottom;
    color: rgb(255,255,255);
	text-align: center;
	float: left;
}
.stamp .copy>div {
	font-size: 30px;
	display:inline-block;
}
.stamp .sign{
	font-size:12px;
}
.border_card{
    display: block;
    width: 12px;
    height: 100%;
    position: absolute;
    top: 0;	
    background: radial-gradient(transparent 0, transparent 5px, #D24161 5px);
    background-size: 15px 15px;	
}
.stamp02 .border_card{
    background: radial-gradient(transparent 0, transparent 5px, #F39B00 5px);	
	background-size: 15px 15px;
	background-position: 4px 3px;
}

.border_01{
    left: 0;
    background-position: 9px 3px!important;
}
.border_02{
    right: 0px;
    background-position: 4px 3px!important;
}

.stamp02:before {
	background-color:#F39B00;
}
.stamp03:before {
	background-color:#D24161;
}


.getcard_copy{
    line-height: 1!important;
    margin-top: 24px;
}
.getcard_copy .card_exchange , .exchanged{
    font-size: 14px;
    display: inline-block;
    border: 1px solid #fff;
    padding: 3px 10px;
    border-radius: 3px;
	margin-top:5px;
	
}

/*订单页面*/
.order_top{
	background: #fff;
    overflow: hidden;
    white-space: nowrap;
    overflow-x: scroll;	
}
.order_top li{
	width: 20%;
	text-align:center;
    padding: 10px 0;
	display:inline-block;
}
.order_item_top {
	position:relative;
}
.order_item_top .order_type{
    position: absolute;
    right: -20px;
    transform: rotate(30deg);
    color: #13BD00;
    padding: 3px 9px;
    top: 45px;
    border: 1px solid #13BD00;
}
.order_good_left img{
    width: 60px;
    height: 60px;
}
.order_good_item {
	background:#fff;
	padding:5px 10px;
}
.order_item_bot{
	overflow:hidden;
}
.order_good_title{
	padding:0;
}
.order_good_right {
	padding-left:10px;
}
.order_item_in{
	padding:5px 0;
	border-bottom:1px solid #e9e9e9;
}
.order_item_top span:nth-of-type(1){
	font-size: 13px;
}
.order_item_body {
	padding-bottom:0;
}
.order_item_price{
	text-align:right;
	padding:0;
}
.order_item_bot  span , .order_item_bot input{
    border: 1px solid #999;
    color: #999;
    padding: 1px 5px;
    border-radius: 2px;
    font-size: 13px;
    margin-left: 10px;
}
.order_item_bot input{
    background: #fff;
    line-height: 20px;
}

.order_act_btn{
	color:#ff5f27!important;
	border-color:#ff5f27!important;
}

/*订单详情*/
.page_orderinfo{
	z-index:2;
}
#sideup_orderdetail  .sideuper_body {
    height: 100%;
	min-height:100%;
	-webkit-overflow-scrolling : touch; 
}
.sideup_orderdetail_body {
    max-height: 100%;
    overflow-y: scroll;
}
.order_detail_top{
	background:#ff5f27;
    padding: 40px 0 65px 0;	
}
#sideup_orderdetail  .sideuper_body_in {
    padding: 0px;
	background:#f5f5f5;
}
.order_detail_top {
	color:#fff;
	overflow:hidden;
	position: relative;
}

.order_detail_top  .line{
    width: 100%;
    height: 5px;
    border: 1px solid #f8f8f8;
    background: #fff;	
}
.order_detail_top .line  li{
	width:20%;
	float:left;
	text-align:center;
	position:relative;	
    height: 5px;
	margin-top: -1px;	
}
.order_detail_top .line  li:nth-of-type(1){
    margin-left: -10%;	
}

.order_detail_top .line  li span{
    display:inline-block;
}
.order_detail_top .line  li span:nth-of-type(1){
    position: absolute;
    top: -33px;
    right: -8px;
}
.order_detail_top .line  li span:nth-of-type(2){
    width: 16px;
    height: 16px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    top: -6px;
    right: 0;
}
.order_detail_top .line  li img{
    width: 40px;
    margin-top: 15px;
    position: absolute;	
    right: -14px;	
}
.order_detail_top .order_detail_lasttime{
    position: absolute;
    bottom: 2px;
    font-size: 12px;
    right: 2px;
}

.line .ti-check , .line .takedflag{
    background: #6ac42f!important;
    font-size: 12px;
    padding: 2px;
}
.repair_order_top{
	padding:20px;
}
.order_lined{
    background: #6ac42f;	
}
.order_detail_address {
	margin-bottom:10px;
}
.order_address_detail{
	padding-left:10px;
}
.detail_in{
	padding:10px;
    background: #fff;	
}
.order_detail_price{
	text-align:right;
}
.order_detail_good {
    border-bottom: 1px solid #f8f8f8;
}
.order_detail_good  .order_good_title{
	line-height: 1.3;
    -webkit-line-clamp: 1;	
}
.order_good_right div{
	font-size:12px!important;
}
.order_detail_activity {
	position:relative;
	overflow: hidden;	
}
.order_detail_activity .order_detail_type{
	position: absolute;
    right: -5px;
    transform: rotate(26deg);
    color: #44b549;
    border: 1px solid #44b549;
    padding: 5px;
	border-radius:2px;
}
.order_detail_log  ,.order_detail_express{
    position: relative;
    margin-top: 20px;
    padding: 20px 10px;
}
.order_detail_log  .log_title , .order_detail_express  .log_title{
    position: absolute;
    top: -10px;
    font-size: 13px;
    background: #FFF0A2;
    padding: 2px 10px;
    color: #999;
}
.order_detail_log .order_log_item{
    -webkit-box-align: start;
}
.order_detail_log .order_log_time{
	font-size:12px;
}

.express_money{
    color: #999;
	font-size:12px;
}
.buyer_remark{
    -webkit-box-align: start;
}
.order_detail_btnlist{
	overflow:hidden;
}
.order_detail_btnlist input{
	margin:0;
	width:100%;
	border-radius:3px;
}
.order_detail_btnlist li{
    width: 50%;
    padding: 5px;
    float: left;
}
.order_detail_btnlist li:nth-of-type(1) input{
    background:#ddd;
	border-color:#ddd;
}
.order_detail_connect  li{
    width: 50%;
    text-align: center;
}
.order_detail_connect  li:nth-of-type(1){
    border-right:1px solid #ddd;
}

/*快递*/
/*时间轴*/
.select_express_btn {
    position: absolute;
    bottom: 4px;
    font-size: 13px;
	color:#999;
    width: 100%;
    text-align: center;
    left: 0;
    height: 16px;	
}
.order_detail_express{
	padding-bottom:30px;
}

.timeline:before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	width: 2px;
	background: #ddd;
	left: 12px;
	margin: 0;
	border-radius: 2px;
}


.timeline>.time-label>span {
	font-weight: 600;
	padding: 5px;
	display: inline-block;
	background-color: #fff;
	border-radius: 4px;
}

.timeline>li {
	position: relative;
	margin-right: 10px;
	margin-bottom: 15px;
}
.timeline>li>.ti, .timeline>li>.glyphicon, .timeline>li>.ion {
	width: 20px;
	height: 20px;
	font-size: 10px;
	line-height: 20px;
	position: absolute;
	color: #fff;
	background: #d2d6de;
	border-radius: 50%;
	text-align: center;
	left: 3px;
	top: 0;
}
.timeline>li>.timeline-item {
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	border-radius: 3px;
	margin-top: 0;
	background: #fff;
	color: #444;
	margin-left: 30px;
	padding: 0;
	position: relative;
	border: 1px solid #ddd;
	padding: 10px;
	font-size:13px;
}
.timeline-body{
	border-top: 1px solid #eee;
	padding-top: 5px;
}
.nowclass{
	background: #ff5f27!important;
}
.timeline{
	position:relative;
}
.orderinfo_bottom {
    height: 44px;
    margin: 0;
    padding: 0;
    background: #fff;
}
.orderinfo_bottom_btn{
	text-align:right;
}
.orderinfo_bottom_btn li{
    display: inline-block;
    height: 44px;
    padding: 10px;
	color:#fff;
	float:right;
}
.orderinfo_bottom_btn li input{
    border:0;
	background:#fff;
	border-radius:0;
}
.orderinfo_bottom_btn .input_li{
	padding:0;
}
.orderinfo_bottom_btn .topay_btn{
	padding:10px;
	height:44px;
	background:#ff5f27;
}
.orderinfo_bottom_btn .back_gray{
	background:#ddd;
}
.orderinfo_bottom_btn .back_ff5f27{
	background:#ff5f27;
}
.orderinfo_bottom #gotoback{
    height: 44px;
    line-height: 44px;
    padding: 0 10px;
}
.orderinfo_bottom #gotoback .ti-angle-left:before {
    font-size:12px;
}
/*评论*/
#sideup_comment .good_comment_good img{
	width:40px;
	height:40px;
}
#sideup_comment .sideuper_body {
	height:400px;
}
#sideup_comment .sideup_comment_body{
    height: 350px;
	overflow-y:scroll;
	-webkit-overflow-scrolling : touch; 
}
#sideup_comment .sideuper_body_in{
	padding:0;
}
#sideup_comment .good_comment_item {
	padding:10px 10px 5px 10px;
	border-bottom:1px solid #ddd;
}
#sideup_comment .pubcomment{
	border-radius: 3px;
	color:#ff5f27;
	border:1px solid #ff5f27;
	font-size:13px;
	padding:2px 7px;
}
#sideup_comment .weui_textarea{
    background: #f3f4f9;
    padding: 5px;
}
#sideup_comment .good_comment_edit .comment_level{
	font-size:13px;
	padding:5px 0;
    padding-right: 10px;	
}
