
/******参团******/
.groups li{ 
    margin-bottom: 5px;
    background: #fff;
    padding-bottom: 2px;
    width:49%;
    float: left;
	padding: 0 0 5px 0;
}
.little-timer .day, .little-timer .hour, .little-timer .minite, .little-timer .second{
 background:#5c3410;
padding: 1px 4px;
color:#fff;
border-radius: 3px;
text-align: center;
}
.groups li:nth-of-type(odd){ margin-right: 3px;}
.groups .groups-img img{   
width: 100%;
    height: 150px;
	}
.groups .groups-title{ 
	height: 22px; 
    font-size: 14px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
	padding: 0 1px;
    text-align: center;
	
	}
.groups .groups-detail{position: relative; width: 98%; height: 22px;  padding: 0 1%;}
.groups .groups-detail-left .price{ 
	font-size: 14px;
    color: #e02e24;
    margin-right: .06rem;
    font-weight: 700;
	}
.groups .groups-detail-left .des{
	font-size: 10px;
    color: #9c9c9c;
    padding-top: 0;
    vertical-align: top;
	}
.groups .groups-detail-left{ margin-top: .15rem;}
.groups .avatar { 
	width: .5rem;
    height: .6rem;
    margin-top: 0.1rem;}
.groups .group-local{ margin-right: .15rem;}
.groups .avatar img{ border-radius: 50%; border: 1px solid #e0e0e0;
 max-width: 100%;
    width: auto;
    height: auto;}
.groups .avatar { margin-right: -.10rem;}
.groups .avatar:nth-child(1) { margin-right:0;}
.groups .group-btn {
    width: 55px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    border-radius: 4px;
    font-size: 14px;
    color: #fff;
    background-color: #e02e24;
    vertical-align: middle;
    float: right;
    margin-right: 2px;
}
.groups .group-btn a{ color: #fff;}
.page {
    z-index: 199;
}
.header-banner{
	border-bottom: 1px solid #efefef;
    background: #ffffff;
}
.banner{
	height: 86px;
	display: table;
	margin: auto;
}
.banner > div{
	display: table-cell;
	vertical-align: middle;
}
.banner >div:first-of-type{
	background: url(../../recouse/images/head_bg.png) no-repeat center center;
    background-size: auto 70px;
    background-position: 2px center;
}
.banner .avatar-wrap{
	width: 75px;
    padding: 5px 5px 8px 5px;
    min-height: 80px;
}
.banner .avatar-wrap .avatar{
	height: 60px;
	border-radius: 60px;
	width: 100%;
  	-webkit-background-size: cover;
  	background-repeat: no-repeat;
  	background-position: center;
}
.banner .avatar-wrap .avatar img{
    width: 100%;
    border-radius: 50%;
}

.banner .banner-info{
	padding: 13px 0;
}
.banner .banner-info > p:nth-of-type(1){
	color: #ff5f27;
    font-size: 16px;
    line-height: 30px;
    font-weight: bold;
}
.banner .banner-info > p:nth-of-type(1) em{
	font-size: 18px;
	font-style: normal;
	font-weight: bold;
}
.banner .banner-info > p:nth-of-type(2){
	color: #333333;
	font-size: 14px;
	line-height: 25px;
}
.banner .banner-info > p:nth-of-type(2) em{
	color: #ff5f27;
	font-size: 20px;
	font-style: normal;
}


.goods-detail{
  	background-color: #ffffff;
	position:relative;
	padding-top:5px;
}
.goods-detail .head-bar .more {
    height: 48px;
    padding: 6px 0;
    text-align: center;
    position: relative;
    background: #efefef;   
    line-height: 48px;
}
.goods-detail .detail-title > span:nth-of-type(1){
	color: #666666;
	font-size: 16px;
	display: inline-block;
}
.goods-detail .item{
	display: block;
	text-decoration: none;
	color: #000000;
	margin: 10px 5px;
}

.goods-detail .image{
	display: table-cell;
	padding: 0 10px 0 0; 
	vertical-align: top;
}
.goods-detail .image > div{
	position: relative;
}
.goods-detail .image > div > img{
  	width: 100px;
    height: auto;
}
.goods-detail .info{
	display: table-cell;
	width: 100%;
	vertical-align: middle;
}
.goods-detail .info .name{
	display: -webkit-box;
    line-height: 18px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    padding: 3px 0 0 0;
    font-size: 15px;
    height: 39px;
    font-weight: bold;
}
.goods-detail .info .price-info{
	display: table;
	width: 100%;
	position: relative;
}
.goods-detail .info .price-info > div{
	display: table-cell;
	vertical-align: middle;
}
.goods-detail .info .price-info > div:nth-of-type(1){
	width: 60%;
}
.goods-detail .info .price-info > div:nth-of-type(2){
	width: 40%;
}
.goods-detail .info .price-info .price{
	padding: 4px 0 3px;
    color: #fe704a;
    line-height: 19px;
    font-size: 13px;
}
.goods-detail .info .price-info .price .member{
	color: #666666;
}
.goods-detail .info .price-info .sale-price{
	font-size: 15px;
}
.goods-detail .info .price-info .sale-price > span:first-child{
	font-size: 16px;
	color: #fe704a;
}
.goods-detail .info .price-info .sale-price > span:last-child{
	font-size: 14px;
	color: #fe704a;
}
.goods-detail .info .price-info .origin-price{
	font-size: 13px;
	color: #666666;
}
.goods-detail .info .price-info .detail-btn{
	color: #666666;
	width: 70px;
	height: 30px;
	margin: 5px auto 0 auto;
	text-align: center;
	line-height: 29px;
	border:1px solid #666666;
	border-radius:3px;
	position: absolute;
    bottom: 0px;
    right: 0px;
}
.goods-detail .info .price-info .detail-btn.isOver{
	background: url(../../public/images/isOver.jpg) no-repeat center 100%;
	background-size: 100% auto;
	border:0;
	width:85px;
	height:40px;
}

/***************************/
.member-info{
	background-color: #ffffff;
	margin-top: 10px;
    padding: 0 10px 20px 10px;
}
.member-info .head-bar, .goods-detail .head-bar{
	overflow: hidden;
}
.member-info .head-bar .time-info, .goods-detail .head-bar .time-info{
	padding: 6px 0;
	text-align: center;
	position: relative;
}
.member-info .head-bar .time-info .little-timer, .goods-detail .head-bar .time-info .little-timer{
	display: inline-block;
	position: relative;
	height: 26px;
	line-height: 26px;
	text-align: center;
	margin: 0 auto;
	color:#666666;
}
.goods-detail .head-bar.miandan .time-info .little-timer{
	color: #ff5f27;
	font-weight: bold;
	font-size: 16px;
}
.member-info .head-bar .time-info .little-timer:before, .goods-detail .head-bar .time-info  .little-timer:before{
	content: "";
  	display: inline-block;
  	position: absolute;
  	left: -210px;
    top: 50%;
    width: 200px;
  	height: 0;
  	border: 1px solid #bbbbbb;
  	border-width: 1px 0 0 0;
}
.goods-detail .head-bar.miandan .time-info  .little-timer:before{
  	border: 1px solid #ff5f27;
  	border-width: 1px 0 0 0;
}
.member-info .head-bar .time-info .little-timer:after, .goods-detail .head-bar .time-info  .little-timer:after{
	content: "";
  	display: inline-block;
  	position: absolute;
  	right: -210px;
  	top: 50%;
  	width: 200px;
  	height: 0;
  	border: 1px solid #bbbbbb;
  	border-width: 1px 0 0 0;
}
.goods-detail .head-bar.miandan .time-info  .little-timer:after{
  	border: 1px solid #ff5f27;
  	border-width: 1px 0 0 0;
}
.member-info .head-bar .time-info .little-timer > span{
	display: inline-block;
	vertical-align: top;
	color: #666666;
	margin: 0 1px;
}
.member-info .head-bar .time-info .little-timer > span.slogan{
	color: #666666;
}
.member-info .head-bar .time-info .little-timer > span.number{
    color: #ffffff;
    background: #5c3410;
    min-width: 22px;
    border-radius: 2px;
    text-align: center;
    overflow: hidden;
}
.goods-detail .miandan-text{
	/*padding-bottom: 20px;*/
	color: #666666;
	font-size: 13px;
}
/*****/
.member-avatar{
	position: relative;
    padding-top: 10px;	
}
.member-avatar .avatar-list{
	display: block;
  	width: 100%;
  	margin: 0 auto;
    overflow: hidden;	
    height: auto;	
}
.group_moremember{
    position: absolute;
    bottom: -12px;
    width: 100%;
    text-align: center;
    height: 20px;
    padding: 5px;	
}
.member-avatar .avatar-list > li {
	-webkit-box-flex: 1;
  	width: 12.5%;
  	float: left;
  	position: relative;
	margin: 0 5px 5px 0;
}
.member-avatar .avatar-list li img{
	width:100%;
    border-radius: 50%;
}
li.group_moremember {
    list-style-type: none;
}


.member-avatar .avatar-list > li .avatar.empty{
	-webkit-background-size: 50px auto;
  	background-repeat: no-repeat;
  	background-position: center 5px;
  	background-color: #d2d2d2;
}
.member-avatar .avatar-list > li .avatar.captain{
	border: 1px solid #ff5f27;
}
.member-avatar .avatar-list .captain:after{
	content: "";
  	position: absolute;
  	display: block;
  	height: 24px;
  	width: 23px;
  	top: -10px;
  	right: -10px;
  	background: url(../../recouse/images/captain.png) no-repeat center center;
  	background-size: 24px auto;
}
/*****/
.member-list{
	overflow: hidden;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#ff5f27), to(#ff5f27)) no-repeat 23px 0px #ffffff;
  	-webkit-background-size: 2px 100%;
}
.member-list .flag{
	position: relative;
	margin-left: 23px;
	font-size: 12px;
	width: 260px;
	height: 23px;
	padding-left:10px;
	line-height: 23px;
	text-align: left;
	color: #ffffff;
	background-image: -webkit-linear-gradient(left,#fe033f,#ff5f27);
}
.member-list .flag:after{
	content: "";
  	position: absolute;
  	display: block;
  	height: 0;
  	width: 0;
  	top: 0;
  	right: -12px;
  	border-top: 11px solid #ff5f27;
    border-left: 2px solid #ff5f27;
    border-right: 10px solid transparent;
    border-bottom: 12px solid #ff5f27;
}
.member-list .list{
	width: 100%;
	margin-top: 15px;
}
.member-list .list li{
	display: block;
	width: 96%;
	height: 44px;
	line-height: 44px;
	position: relative;
	padding: 3px 40px 3px 5px;
	border-radius: 3px;
	margin-top: 10px;
	background: #ffffff;
}
.member-list .list li > span{
	display: inline-block;
	vertical-align: middle;
}
.member-list .list li .avatar{
	width: 36px;
	height: 36px;
	border: 1px solid #ffffff;
	border-radius: 100px;
	-webkit-background-size: cover;
  	background-repeat: no-repeat;
  	background-position: center;
  	background-color: #d2d2d2;
  	float: left;
}
.member-list .list li .avatar.captain{
	border: 1px solid #ff5f27;
}
.member-list .list li .avatar.empty{
	-webkit-background-size: 35px auto;
  	background-repeat: no-repeat;
  	background-position: center 4px;
  	background-color: #d2d2d2;
}
.member-list .list li .name{
	height: 36px;
	line-height: 36px;
	float: left;
	padding-left: 5px;
	max-width: 130px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.member-list .list li .time{
	float: right;
	height: 36px;
	line-height: 36px;
}
.member-list .list li:first-child:after{
	content: "";
  	position: absolute;
  	width: 38px;
  	height:  33px;
  	top: 0;
  	right: 0;
  	background-size: 38px auto;
}
.member-list .list li:nth-of-type(2):after{
	content: "";
  	position: absolute;
  	width: 38px;
  	height:  33px;
  	top: 0;
  	right: 0;
  	/*background: url(../../recouse/images/tag2.png) no-repeat center 0;*/
  	background-size: 38px auto;
}
.member-list .list li.failed:after {
	display: none;
}

.member-list .list li.failed{
	border: 1px solid #c4c3c3;
	color: #999999;
	padding-right: 5px;
}
.member-list .list li.failed .name{
	max-width: 100%;
}
/*************活动说明***********/
.block{
	background: #ffffff;
}
.guide{
	margin-top: 10px;
	padding: 0 10px 10px 10px;
}
.guide a.more-rules{
	display: block;
	position: relative;
	height: 44px;
	line-height: 44px;
	padding: 0 15px 0 5px;
}
.guide a.more-rules:before{
	content: "";
  	display: inline-block;
  	position: absolute;
  	left: 0;
  	top: 50%;
  	margin-top: -7px;
    width: 3px;
    height: 14px;
  	background: #ff5519;
}

.guide .more-rules > span:nth-of-type(1){
	color: #666666;
	font-size: 14px;
	display: inline-block;
}
.guide .more-rules > span:nth-of-type(2){
	color: #000000;
	font-size: 14px;
	float: right;
}
.guide .procedure > img{
	width: 100%;
	height: auto;
}
.guide .rule-text{
	padding: 10px 0 3px;
	color: #ff5519;
	font-size: 12px;
}
.guide .rule-text > span{
	vertical-align: middle;
}
.guide .rule-text .light{
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url(../../recouse/images/light.png) no-repeat 0 0;
	background-size: 16px auto;
}





/**********规则流程说明*************/
.procedure{
	display: table;
	width: 100%;
	height: 46px;
}
.procedure .pb{
	position: relative;
	display: table-cell;
	width: 21%;
	border: 1px dashed #737171;
	border-radius: 5px;
	padding: 7px 0;
	font-size: 12px;
}
.procedure .pb.orange{
	border: 1px dashed #ff5519;
	color: #ff5519;
}
.procedure .pb .pb-seq{
	display: inline-block;
	position: absolute;
	width: 24px;
	height: 24px;
	border-width: 1px 0 0 1px;
	border-top-left-radius: 5px;
	background: -webkit-linear-gradient(left top, #737171 18px, transparent 18px);
	top: -1px;
	left: -1px;
	color: #ffffff;
	padding-left: 2px;
}
.procedure .pb.orange .pb-seq{
	background: -webkit-linear-gradient(left top, #ff5519 18px, transparent 18px);
}
.procedure .pb .pb-text{
	margin-left: 20%;
	width: 50px;
}
.procedure .pb > p{
	line-height: 16px;
}
.procedure .interval{
	position: relative;
	display: table-cell;
	width: 5.33%;
	line-height: 100%;
}
.procedure .interval .interval-arrow{
	position: absolute;
	display: inline-block;
	width: 8px;
	height: 8px;
	border: 1px solid #737171;
	border-width: 1px 1px 0 0;
	top: 50%;
	margin-top: -4px;
	left: 50%;
	margin-left: -6px;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}

/*页脚*/
.group_bottom{
    max-width: 640px;
    margin: 0 auto;
}
.group_bottom ul{
	background:#fff;
}
.group_bottom ul li{
	padding:12px;
}
.group_bottom .joingroup{
	
}
.back_ff5f27{
    background: #ff5f27;
    color: #fff;
}
.back_ff5f27{
    background: #ff5f27;
    color: #fff;
}
.back_fdd000{
    background: #fdd000;
    color: #fff;
}
.group_bottom .ti-angle-left:before {
    font-size: 12px;
}


	.sb-search.sb-search-open, .no-js .sb-search {
    width: 100%;
}
		.sb-search-input {    
    border: none;
    outline: none;
    width: 220px;
    height: 40px;
    margin: 0;
    z-index:110;
    font-family: inherit;
    font-size: 20px;
    color: #2c3e50;
    display: none;
}
.sb-icon-search {
    color: #fff;
    background: #e67e22;
    z-index: 110;
    font-size: 22px;
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    border-radius: 50% 0 0 50%;
    background-image: -webkit-linear-gradient(left,#fe502b,#fe033f);
}
.btn_wrap .btn {
    background-image: -webkit-linear-gradient(left,#fe502b,#fe033f);
}
.sb-icon-search, .sb-search-submit {
    width: 40px;
    height: 40px;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
    margin: 0;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
}
.btn_wrap .btn_cart {
   background-image: -webkit-linear-gradient(left,#ff7d00,#fd5100);
}
.sb-search {
    width: 45%;
    position: fixed;
    bottom: 45px;
    height: 60px;
    float: right;
    overflow: hidden;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    transition: width 0.3s;
    -webkit-backface-visibility: hidden;
    z-index: 110;
    right: 0;
}
i.fa.fa-angle-double-left {
    line-height: 40px;
}
.sb-search-input a {
    float: left;
    width: 100px;
    color: #fff;
    line-height: 20px;
    font-size: 12px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 5px;
    margin-left: 10px;
}
a.btn.btn_buy.groupline, a.btn.btn_cart.groupline {
    line-height: 20px;
}
.btn_wrap .btn {
    float: left;
    width: 46%;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    text-align: center;
    background: #e4393c;
    color: #fff;
    position: relative;
    border-radius: 2px;
}
.btn_wrap_fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 20;
    width: 100%;
    height: 56px;
    padding: 0;
    background-color: #F7F7F7;
    -webkit-background-size: 1px 1px;
    background-size: 1px 1px;
    border-top: 1px solid #E2DFDF;
    opacity: 0.98;
}
.btn {
    background-image: -webkit-linear-gradient(left,#fe502b,#fe033f);
}
.btn_cart {
    background-image: -webkit-linear-gradient(left,#ff7d00,#fd5100);
}
/*纸飞机*/
.group_plane{
    position: fixed;
    bottom: 0;
	left:0;
    z-index: 2;
    width: 100px;
    transform: rotate(-25deg);
	display:none;
}
.goods-detail.more{
	background: none;
}
/*------share link------*/

.collect-tip{position:fixed;top:0;bottom:0;left:0;right:0;background:rgba(0,0,0,.8);text-align:right;z-index:1000;}
.collect-tip img{margin-right:5%;width:82%;height:auto;}
.collect-tip .a-know{position:absolute;bottom:30px;left:50%;height:40px;line-height:40px;margin-left:-55px;padding:0 30px;border:1px solid #fff;color:#fff;text-align:center;}

#share-link{
background: #fb5100;
padding: 4px;
color: #fff;
border-radius: 3px;
text-align: center;
width: 100px;
margin: 0 auto 7px auto;
}