/*index643973929211478*/
/*用户中心红包页面、我的资金页面，待拆分*/
.t_header a{color:#fff;}
.seolist li{background-color:white;}
img{border:0;margin:0;padding:0;}
body{background-color:#f4f4f4;}
.m_cat{margin:6px auto;overflow:hidden; background:#FFF}
.m_cat a{color:#484848;}
.m_cat .banner{margin:3px 0;}
.m_cat ul{overflow:hidden;clear:both;}
.m_cat ul li{float:left;}
.m_cat .t1,.m_cat .t2,.m_cat .t3{margin-left:2px;}
.m_cat .t1 a.on,.m_cat .t2 a.on{color:#fff;background-color:#d20b12;}
.m_cat .t1 li a,.m_cat .t2 li a{border:solid 1px #ddd;text-align:center;display:block;background-color:#fff;margin:1px 0;}
.m_cat .t1 li a{width:102px;height:50px;line-height:50px;font-size:16px;}
.m_cat .t1 li{margin-right:2px;}
.m_cat .t1 li a.mt{width:148px;}
.m_cat .t2 li a{height:25px;line-height:25px;font-size:12px;padding:0 12px;}
.m_cat .t2 li{height:25px;margin:3px 6px 3px 0;}
.m_cat .t3 li{background:none;padding-left:0;}
.m_cat .t3 li{height:48px;line-height:48px;background-color:white;border:1px #DDD solid;border-radius:2px;-webkit-border-radius:2px;text-indent:14px;position:relative;margin-top:2px;text-align:-webkit-match-parent;clear:both;width:99%;}
.m_cat .t3 li a{color:#999;font-size:12px;}
.m_cat .t3 li strong{font-weight:normal;color:#333;margin-right:8px;font-size:14px;vertical-align:-1px;}
h5{font-size:24px;line-height:30px;margin-bottom:8px;margin:0;padding:0;color:#333;margin-left:2px;}

/*新版头部样式begin*/
.header{
	width:100%;
	height:52px;
	text-align:center;
	line-height:52px;
	background-color:#eaeaea;
	color:#464646;
	font-size:18px;
	position:fixed;
	top:0;
	left:0;
	z-index:999;
}
.header .back{
	width: 55px;
	height: 52px;
	background:url(../images/head.png) no-repeat 0 center;
	float:left;
	display:inline-block;
	*display:inline;
	*zoom:1;
	/*以下为屏蔽style的样式*/
	margin: 0;
	padding: 0;
}
.header .search{
	width: 55px;
	height: 52px;
	background:url(../images/head.png) no-repeat -45px center;
	float:right;
	display:inline-block;
	*display:inline;
	*zoom:1;
}
.header .headline{
	height:52px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	display:inline-block;
	*display:inline;
	*zoom:1;
}
@media(max-width: 400px){.header .headline{width: 55%;}}
@media(min-width: 401px){.header .headline{width: 70%;}}
/*section{margin-top:52px;}
*//*新版头部样式end*/
