/*index579161314799754*/
@CHARSET "UTF-8";
/*加载更多btn begin（应该放在分类&搜索列表页对应的css中）*/
.page{margin:20px auto;text-align:center;}
@media (max-width:640px){.page{width:265px;} .page a{width:85px;}}
@media (min-width:640px){.page{width:530px;} .page a{width:162px;}}
.page a{display:inline-block;background-color:#3598dc;height:30px;line-height:30px;color:#fff;font-size:16px;text-align:center;border-radius:2px;}
.page a.more_page{width:110px;}
/*加载更多btn end*/
