body{
    overflow-y: auto;
    font-size: 0.9rem;
    background: #efefef;
}
section#content {
    font-size: 14px;
}
.mui-content {
    position: relative;
    margin-top: 20px;
}
.mui-content {
    background-color: #f3f3f6;
}
.mui-table-view {
    border-top: 10px solid #F3F3F6;
}
.mui-table-view {
    background-color: #fff;
}
.mui-table-view {
    position: relative;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    background-color: #fff;
}
.mui-table-view-chevron .mui-table-view-cell {
    border-bottom: 10px solid #F3F3F6;
}
.mui-ios .mui-table-view-cell {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.mui-table-view-cell {
    background: #fff;
    padding: 10px 5px;
}
img.mui-media-object.mui-pull-left {
    width: 30px;
    height: 30px;
    float: left;
    margin-right: 10px;
}
.refund-money {
    width: 35px;
    height: 35px;
    float: left;
    margin-right: 10px;
}
.mui-table-view-cell>a:not(.mui-btn) {
    position: relative;
    display: block;
    padding: inherit;
    overflow: hidden;
    color: inherit;
    white-space: nowrap;
    text-overflow: ellipsis;
}
span.mui-media-body.mui-block {
    padding: 5px 0;
}
.mui-mt5 {
    margin-top: 0;
}
.mui-mt5 {
    margin-top: 5px!important;
}
.mui-text-muted {
    color: #929292!important;
}
.mui-block {
    display: block!important;
}
.ringbtn img{
    float: right;
    width: 30px;
    height: 30px;
    margin-top: -15px;
}
.deatil{
    color: #929292!important;
    margin-top: 5px!important;
    float: left;
}
.refund-input{
    display: none;
    margin-top: 15px;
}
.info ul li {
    list-style-type: none;
    padding: 5px 0;
    border-bottom: solid 1px rgba(221, 221, 221, 0.41);
    width: 98%;
    margin: 2px 0;
    background-color: #f3f3f6;
}
.info ul li .right input {
    outline: none;
    border: 0;
    padding: 3px 10px 3px 20px;
    line-height: 30px;
    height: auto;
    border-radius: 3px;
    color: #f70;
    width: 87%;
}
.danwei {
    position: absolute;
    top: 6px;
    color: #f70;
    left: 3px;
}
.personal-list input[type=text], input[type=number],textarea {
    width: 70%;
    height: 30px;
    padding: 5px 8px;
    line-height: 30px;
    background-color: #fff;
    outline: 0;
    -webkit-user-select: text;
    border: none;


}
input[type="radio"] {
    margin: 10px 0 0 10px;
}
span.man {
    margin-right: 5px;
}
.expressinput input[type=text], input[type=number], textarea {
    width: 90%;
    height: 25px;
    line-height: 25px;
    border: 1px solid #efefef;
    outline: 0;
    -webkit-user-select: text;
    border-radius: 6px;
    padding: 5px 0 0 5px;
    font-size: 15px;
}
textarea{
    height: auto;
    width: 92%;
    border-radius: 5px;
}
.info ul li .left {
    width: 22%;
    float: left;
    position: relative;
    text-align: right;
    font-size: 15px;
    color: #666;
    line-height: 38px;
}
.red {
    color: #fb5100;
    margin-right: 5px;
}
.info ul li .right {
    width: 75%;
    float: right;
    position: relative;
    text-align: left;
    font-size: 15px;
    padding-left: 0;
}
.mask {
    width: 100%;
    height: 100%;
    position: fixed;
    background: #000;
    opacity: 0.6;
    z-index: 9999;
    top: 0;
    left: 0;
    display: none;
}
.divselecty {
    width: 100%;
    position: relative;
}
.divselecty .form-control {
    display: inline;
    float: left;
    padding-left: 8px;
    border: 0;
}
.form-control {
    box-shadow: none;
    line-height: 25px;
    height: 35px;
    margin-top: 3px;
}
.form-control {
    display: block;
    width: 98%;
    padding: 3px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.form-control {
    border: 1px solid #ccc;
}
select {
    box-shadow: none;
    background: url(../images/arrow_down.png) #fff 90% center no-repeat;
    -webkit-appearance: none;
}
clear {
    clear: both;
}
input[type="submit"], input[type="reset"] {
    -webkit-appearance: none;
}
.bluebtn {
    background-image: -webkit-linear-gradient(left,#52BAF3,#1296DB);
}
.submit {
    display: block;
    margin: 20px auto 0;
    width: 90%;
    height: 40px;
    font-size: 16px;
    color: #fff;
    background-image: -webkit-linear-gradient(left,#f70,#fe033f);
    border: none;
    border-radius: 3px;
    text-align: center;

}
.need-refund{
    padding: 10px;
    background: #fff;
    margin: 10px 0;
}
.none{
    display: none;
}
/*内容发布区域*/
.box .boxcenter {
    width: 95%;
    background: #fff;
    /*border: 1px solid #ccc;*/
    border-radius: 6px;
    margin: 20px 2%;

}

select#express, #expresssn {
    border: 1px solid #ccc;
    float: left;
    width: 65%;
    height: 28px;
    margin-left: 10px;
    border-radius: 4px;
    padding: 0 0 0 8px;
}
select#express {
    width: 68% !important;
}
.box .boxcenter .boxc_t h4 {
    padding-left: 20px;
    background: #fb5100;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    line-height: 28px;
    color: #fff;
}

.boxc_b .submit {
    line-height: 25px;
    height: 25px;
    float: right;
    margin: 10px 15px;
    width: 90px;
}
.box .boxcenter .boxc_c {
    min-height: 100px;
    margin: 8px auto;
    height: auto;
    padding: 5px;
    line-height: 35px;
}
.box .boxcenter .boxc_b {
    width: 20%;
    text-align: right;
    margin: 0 0 20px 80%;
    height: 25px;
}
.box .boxcenter .boxc_b a{font-size:14px;color:#fff;line-height:30px;background:#3bbfb4;border-radius:6px;display:block;text-align:center;text-decoration:none;}
.box .boxcenter .boxc_b a:hover{background:#2C8E86;}
.nextbox {
    margin-top: 30px;
}
.timeline .timeline_t{width:50px;height:50px;border-radius:50%;border:1px solid #fff;}
.c{
    width: 80%;
    min-height: 30px;
    line-height: 30px;
    background: #ddd;
    border-radius: 6px;
    margin: 0 auto;
    text-align: center;
    color: #999;
}
.a {
    width: 92%;
    min-height: 80px;
    background: #fff;
    border-radius: 6px;
    font-size: 14px;
    line-height: 25px;
    word-break: break-all;
    float: right;
    padding: 2%;
    margin: 0 2% 20px 2%;
    color: #6D6A6A;
    border: 1px solid #ccc;
}

.b{
    float: right;
    width: 80%;
}
.b img{
    width:50px;
    height: 50px;
}
.a .b{width:6px;height:6px;border-radius:50%;border:2px solid #fff;
    /*background: #09bb07;*/
    top:35px;left:-10px;}

.hour{font-size:12px;color:#92CADE;}
 .left{
    float:left;
    width: 25%;
    text-align: right;
}
.right{
    float:left;
    width: 72%;
    text-align: left;
    padding-left: 3%;
}
.nextbox img{
    width: 50px;
    height: 50px;
    float: left;
}
.green{
    border: 1px solid #6c9;
}
.green #hour {
    color: #D4E1E6;
}

.box {
    margin-top: 10px;
    padding-top: 10px;
}
.nobgbtn {
    background: #fff;
    border: 1px solid #09bb07;
    color: #09bb07;
}
.boxc_c .tipinfo {
    text-align: center;
    color: #777;
    margin-top: 10px;

}

.last .submit{
    width: 30%;
    line-height: 40px;
    margin-bottom: 10px;
}
.textcenter {
    text-align: center;
}
.retile {
    font-size: 18px;
    font-weight: bold;
    padding-left: 5%;
    border-bottom: 1px solid #efefef;
}
span.time {
    padding-left: 5%;
}
