.mui-bar-tab {
    display: table;
    width: 100%;
    height: 50px;
    padding: 0;
    table-layout: fixed;
    border-top: 0;
    border-bottom: 0;
}
.mui-bar {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 10;
    height: 44px;
    padding-right: 10px;
    padding-left: 10px;
    filter:alpha(opacity=50); 
    background:rgba(49, 48, 48, 0.5) none repeat scroll 0 0 !important;
    border-bottom: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index:99999;
    font-family: Helvetica,STHeiti STXihei, Microsoft JhengHei, Microsoft YaHei, Arial;
}
.mui-btn {
    position: relative;
    top: 7px;
    z-index: 20;
    padding: 6px 12px 7px;
    margin-top: 0;
    font-weight: 400;
}
.mui-btn-warning {
    color: #fff;
    background-color: #f0ad4e;
    border: 1px solid #f0ad4e;
    float: right;
    margin-right: 15px;
    font-size: 15px;
    line-height: 21px;
}
.mui-desc{
    color:#ffffff;font-size:12px;font-weight:500;line-height:17px;float:left;

}
.mui-desc span{
   color:#31FF00;font-size:13px;

}