{template 'web/common/common'}
{template 'web/land/navbar'}
<link rel="stylesheet" type="text/css" href="../addons/{php echo $_GPC['m']}/resource/swal/dist/sweetalert2.min.css" />
<link rel="stylesheet" type="text/css" href="../addons/kundian_farm/resource/css/layui.css" />
<link rel="stylesheet" type="text/css" href="../addons/kundian_farm/resource/css/new-common.css" />
<script src="../addons/kundian_farm/resource/layui.js" charset="utf-8"></script>
<blockquote class="layui-elem-quote layui-text">状态跟踪->新增/编辑</blockquote>
<div class="new-style">
    <form class="layui-form" method="post" action="{url 'site/entry/admin',array('m'=>'kundian_farm','op'=>'status_save','action'=>'send')}">
        <div class="layui-form-item">
            <label class="layui-form-label">文字说明</label>
            <div class="layui-input-block">
              <textarea class="layui-textarea" name="txt">{$data['list']['txt']}</textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">图片说明(375*530)</label>
            <div class="layui-input-block">
              {php echo tpl_form_field_multi_image('src',$data['list']['src']);}
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
            <input type="hidden" name="lid" value="{$_GPC['lid']}">
            <input type="hidden" name="id" value="{$list['id']}">
            <input type="hidden" name="seed_id" value="{$_GPC['seed_id']}">
              <button class="layui-btn layui-btn-sm" type="button" lay-filter="formSubmit" lay-submit="">保存</button>
              <a class="layui-btn layui-btn-sm layui-btn-primary" id="goBack">返回</a>
            </div>
        </div>
    </form>
</div>

<script src="../addons/kundian_farm/resource/js/main.js" charset="utf-8"></script>
<script>
    layui.use(['form', 'layedit', 'laydate'], function(){
        var form = layui.form,layer = layui.layer;
        form.on('submit(formSubmit)',function (data) {
            var formData = data.field;
            var url = "{url 'site/entry/admin',array('m'=>'kundian_farm','op'=>'status_edit','action'=>'send')}";
            var data = {
                formData: formData
            };
            postData(url, data);
            return false;
        })

        $("#goBack").click(function () {
            goBack();
        })
    });

</script>