{template 'web/common/common'}
{template 'web/distribution/navbar'}
<div class="layui-card">
    <form class="layui-form"  method="post">
        <div class="layui-form-item">
            <label class="layui-form-label">分销</label>
            <div class="layui-input-block" >
                <input type="text" name="dis_fenxiao" value="{$data['list']['dis_fenxiao']}" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">分销商</label>
            <div class="layui-input-block" >
                <input type="text" name="dis_fenxiaoshang" value="{$data['list']['dis_fenxiaoshang']}" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">分销佣金</label>
            <div class="layui-input-block" >
                <input type="text" name="dis_fenxiao_money" value="{$data['list']['dis_fenxiao_money']}" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">分销中心顶部导航</label>
            <div class="layui-input-block" >
                <input type="text" name="dis_top_title" value="{$data['list']['dis_top_title']}" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn layui-btn-sm" type="button" lay-submit="" lay-filter="formSubmit">保存</button>
            </div>
        </div>
    </form>
</div>
{template 'common/footer'}
<script src="../addons/kundian_farm/resource/js/main.js" charset="utf-8"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
    layui.use(['form', 'layedit', 'laydate'], function(){
        var form = layui.form;
        form.on('submit(formSubmit)',function (data) {
            var formData = data.field;
            var url = "{url 'site/entry/'.$_GPC['do'],array('m'=>$_GPC['m'],'op'=>'dis_copy_write','action'=>'distribution')}";
            var data = {
                formData: formData
            };
            postData(url, data);
            return false;
        })
    });
</script>


