<?xml version="1.0" encoding="utf-8"?>
<manifest>
	<application>
		<name><![CDATA[商户二维码]]></name>
		<identifie><![CDATA[storeqr]]></identifie>
		<version><![CDATA[1.0.0]]></version>
		<type><![CDATA[help]]></type>
		<description><![CDATA[商户二维码，可方便平台快速入驻商家，商家吸引粉丝，平台吸粉粉丝。]]></description>
		<author><![CDATA[微连科技]]></author>
		<url><![CDATA[http://www.weliam.cn/]]></url>
	</application>
	<setting>
		<agent embed="true" />
		<system embed="true" />
		<task embed="true" />
	</setting>
	<agentmenu>
		<menu title="概况" font="fa-inbox">
			<entry title="二维码统计" ac="sqrcode" do="summary" />
		</menu>
		<menu title="二维码管理" font="fa-inbox">
			<entry title="二维码列表" ac="sqrcode" do="qrlist" iscover="true" />
			<entry title="申请列表" ac="sqrcode" do="apply" />
			<entry title="申请二维码" ac="sqrcode" do="applypost" />
		</menu>
		<menu title="设置" font="fa-inbox">
			<entry title="基础设置" ac="sqrcode" do="asetting" />
		</menu>
	</agentmenu>
	<systemmenu>
		<menu title="概况" font="fa-inbox">
			<entry title="二维码统计" ac="sqrcode" do="summary" />
		</menu>
		<menu title="二维码管理" font="fa-inbox">
			<entry title="二维码列表" ac="sqrcode" do="qrlist" iscover="true" />
			<entry title="申请列表" ac="sqrcode" do="apply" />
			<entry title="生成二维码" ac="sqrcode" do="post" />
		</menu>
		<menu title="设置" font="fa-inbox">
			<entry title="基础设置" ac="sqrcode" do="setting" />
		</menu>
	</systemmenu>
</manifest>