<!DOCTYPE html>
<html> 
    <head>
        <meta charset="utf-8">
        <title></title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link rel="shortcut icon" href="__PUBLIC__/favicon.ico" type="image/x-icon" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="format-detection" content="telephone=no">
        <link rel="stylesheet" href="__PUBLIC__/css/x-admin.css" media="all">
        <link rel="stylesheet" href="__PUBLIC__/css/page.css" >
        <script src="__PUBLIC__/js/jquery.js"></script>
        <script src="__PUBLIC__/js/laydate/laydate.js"></script>
    </head>
    <script>
    	$(document).ready(function(){
    		//全选函数
    		$("#check").click(function(){	  
    		    var checked = $(this).is(":checked"); 
    		    $("input[name='nid[]']").each(function () {
    		    	$(this).attr("checked", !$(this).attr("checked"));
    		    })
    		});
    		//全选删除
	  		$("#delall").click(function(){
	  			  if(delconfirm()){
		  			  var arrChk=$("input[name='nid[]']:checked");
		  			  if(arrChk.length>0){
		  				  $.post("{:U('Admin/bidding/alldel')}",{
		  						allid:cheall(),
		  						data:Math.random()
		  				  },function(msg){
		  					   if(msg.status){
		  						   alert(msg.retDesc);
		  						   window.location.reload();
		  					   }else{
		  						   alert(msg.retDesc);   
		  					   }
		  				  },"json");
		  			  }else{
		  				  alert("请选择要删除的记录！");
		  			  }
	  			  }
	  		});
    		//全选审核通过
	  		$("#isaudit").click(function(){
	  			  if(isauditconfirm()){
		  			  var arrChk=$("input[name='nid[]']:checked");
		  			  if(arrChk.length>0){
		  				  $.post("{:U('Admin/bidding/isaudit')}",{
		  						allid:cheall(),
		  						data:Math.random()
		  				  },function(msg){
		  					   if(msg.status){
		  						   alert(msg.retDesc);
		  						   window.location.reload();
		  					   }else{
		  						   alert(msg.retDesc);   
		  					   }
		  				  },"json");
		  			  }else{
		  				  alert("请选择要审核的记录！");
		  			  }
	  			  }
	  		});
    		//全选审核拒绝通过
	  		$("#refused").click(function(){
	  			  if(refusedconfirm()){
		  			  var arrChk=$("input[name='nid[]']:checked");
		  			  if(arrChk.length>0){
		  				  $.post("{:U('Admin/bidding/refused')}",{
		  						allid:cheall(),
		  						data:Math.random()
		  				  },function(msg){
		  					   if(msg.status){
		  						   alert(msg.retDesc);
		  						   window.location.reload();
		  					   }else{
		  						   alert(msg.retDesc);   
		  					   }
		  				  },"json");
		  			  }else{
		  				  alert("请选择要审核拒绝的记录！");
		  			  }
	  			  }
	  		});    		
    	});
		  //全选值
		  function cheall(){
				var zhe="";
				$("input[name='nid[]']").each(function () {
					if ($(this).attr('checked')) {
						zhe+= $(this).val()+',';
					}
				});
				return zhe;
		  } 
		//删除确认
		  function delconfirm(){
		    if(window.confirm("请确认是否删除？")){
		     return true;
		    }
		    return false;
		  }
		//审核确认
		  function isauditconfirm(){
		    if(window.confirm("请确认是否审核？")){
		     return true;
		    }
		    return false;
		  }
		//审核确认
		  function refusedconfirm(){
		    if(window.confirm("请确认是否拒绝？")){
		     return true;
		    }
		    return false;
		  }			
    </script>
    <body>
      <div class="x-nav">
            <span class="layui-breadcrumb">
              <a><cite>首页</cite></a>
              <a><cite>竟价管理</cite></a>
              <a><cite>车主竟价列表</cite></a>
            </span>
            <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"  href="javascript:location.replace(location.href);" title="刷新"><i class="layui-icon" style="line-height:30px">ဂ</i></a>
      </div>
        <div class="x-body">
              <form id="form1" class="layui-form x-center" action="{:U('Admin/Bidding/index')}" method="get" style="width:1200px">
                <div class="layui-form-pane" style="margin-top: 15px;">
                  <div class="layui-form-item">
                    <label class="layui-form-label" style="width:70px">手机号</label>
                    <div class="layui-input-inline" style="width:120px;text-align: left">
                      <input class="layui-input" name="mobile" id="mobile" placeholder="手机号" value="{$mobile}"  id="LAY_demorange_s">
                    </div>
                    <label class="layui-form-label" style="width:80px">是否往返：</label>
                    <div class="layui-input-inline" style="width:100px;text-align: left">
                        <select name="flag" id="flag">
                            <option value="0" <if condition="$flag eq 0">selected="" </if>>请选择</option>
                            <option value="1" <if condition="$flag eq 1">selected="" </if>>单程</option>
                            <option value="2" <if condition="$flag eq 2">selected="" </if>>往返双程</option>
                        </select>
                    </div>                                   
                    <label class="layui-form-label" style="width:80px">审核状态</label>
                    <div class="layui-input-inline" style="width:100px;text-align: left">
                        <select name="audit" id="audit">
                            <option value="0" <if condition="$audit eq 0">selected="" </if>>请选择</option>
                            <option value="1" <if condition="$audit eq 1">selected="" </if>>申请中</option>
                            <option value="2" <if condition="$audit eq 2">selected="" </if>>已通过</option>
                            <option value="3" <if condition="$audit eq 3">selected="" </if>>已拒绝</option>
                            <option value="4" <if condition="$audit eq 4">selected="" </if>>已过期</option>
                        </select>
                    </div>
                    <label class="layui-form-label" style="width:100px">添加日期范围</label>
                    <div class="layui-input-inline" style="width:120px;text-align: left">
                      <input class="layui-input" name="btime" id="btime" placeholder="开始日" value="{$btime}" readonly='true'  onclick="laydate()" id="LAY_demorange_s">
                    </div>
                    <div class="layui-input-inline" style="width:120px;text-align: left">
                      <input class="layui-input" name="etime" id="etime" placeholder="截止日" value="{$etime}" readonly='true'  onclick="laydate()"  id="LAY_demorange_e">
                    </div>                    
                    <div class="layui-input-inline" style="width:80px">
                        <button type="submit" class="layui-btn"  lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;查询</i></button>
                    </div>
                  </div>
                </div> 
            </form>
            <xblock><button class="layui-btn layui-btn-warm" id="isaudit"><i class="layui-icon">&#xe641;</i>批量审核通过</button><button class="layui-btn layui-btn-danger" id="refused"><i class="layui-icon">&#xe644;</i>批量拒绝</button><span class="x-right" style="line-height:40px">共有数据：{$count} 条</span></xblock>
            <table class="layui-table">
                <thead>
                    <tr>
                        <th style="width:30px;">
                            <input type="checkbox"  id="check" >
                        </th>
                        <th style="width:30px;">编号</th>
                        <th>昵称</th>
                        <th>手机号</th>
                        <th>起点</th>
                        <th>终点</th>
                        <th>最迟出发时间<p>最迟到达时间</th>
                        <th>是否往返 </th>
                        <th>微信</th>
                        <th>费用</th>
                        <th>真实姓名</th>
                        <th>审核状态</th>
                        <th>拒绝原因</th>
                        <th>操作时间/过期时间</th>
                        <th>操作</th>
                    </tr>
                </thead>
                    <foreach name="rs" item="v">
                    <tr>
                        <td>
                        <if condition="$v.audit eq 1">
                            <input type="checkbox" value="{$v.id}" name="nid[]">
                        </if>    
                        </td>
                        <td>{$v.id}</td>
                        <td ><if condition="($v.wx_headimg neq '') and ($v.wx_headimg neq null)"><img src="{$v.wx_headimg}" width=25 height=25 /></if>&nbsp;&nbsp;{$v.wx_nickname}</td>
                        <td >{$v.mobile}</td>
                        <td >{$v.starting_place}</td>
                        <td >{$v.end_place}</td>
                        <td >{$v.begin_time}~{$v.end_time}</td>
                        <td ><if condition="$v.flag eq 1">单程</if><if condition="$v.flag eq 2">往返双程</if></td>
                        <td >{$v.weixin}</td>
                        <td >{$v.put_time}</td>
                        <td >{$v.truename}</td>
                        <td >
                        <switch name="v.audit">
                        	<case value='1'>申请中</case>
                        	<case value='2'><font color=green>已通过</font></case>
                        	<case value='3'><font color=red>已拒绝</font></case>
                        	<case value='4'><font color=blue>已过期</font></case>
                        </switch>
                        </td>
                        <td>{$v.reason}</td>
                        <td><if condition="$v.operate_time neq 0">{$v.operate_time|date='Y-m-d H:i:s',###}</if><br><if condition="$v.overdue gt 0">{$v.overdue|date='Y-m-d H:i:s',###}</if></td>
                        <td>
                        
                          <a title="<if condition='$v.nstatus eq 0'>暂停<else/>启用</if>" href="{:U('Admin/Bidding/start',array('id'=>$v['id']))}" class="ml-5" style="text-decoration:none">
                          <if condition="$v.nstatus eq 0">
                          <i class="layui-icon">&#xe609;</i>
                          <else/>
                          <i class="layui-icon">&#xe641;</i>
                          </if>
                          </a>&nbsp;                        
                        </if>  
                        </td>
                    </tr>
                    </foreach>
                
            </table>
            <div class='page1'>{$page}</div>
        </div>

    </body>
    <script src="__PUBLIC__/lib/layui/layui.js" charset="utf-8"></script>
    <script src="__PUBLIC__/js/x-layui.js" charset="utf-8"></script>
    <script>
    layui.use(['element','layer','form'], function(){
        
      lement = layui.element();//面包导航
      layer = layui.layer;//弹出层
      form = layui.form();
    })    
    </script>
</html>