<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>{$settings['site_title']}</title>
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
<link rel="stylesheet" href="{MODULE_URL}/weui/weuix.min.css"/>
<link rel="stylesheet" type="text/css" href="{MODULE_URL}style/css/base.css">
<link rel="stylesheet" type="text/css" href="{MODULE_URL}style/css/li.css">
<link rel="stylesheet" href="{MODULE_URL}/weui/swiper.min.css"/>
<script src="{MODULE_URL}/weui/zepto.min.js"></script>
<script src="{MODULE_URL}/weui/iscroll.js"></script>
<script src="{MODULE_URL}style/js/li.js"></script>
<script src="{MODULE_URL}/weui/swiper.min.js"></script> 
<script>
  $(function(){
    TagNav('#tagnav',{
        type: 'scrollToFirst',
    });
    $('.weui_tab').tab({
    defaultIndex: 0,
    activeClass:'weui_bar_item_on',
    onToggle:function(index){
    if(index>0){
    alert(index)
    }
    }
});
});     
</script>
<style type="text/css">
    body{font-family: 微软雅黑}
    a{font-family: 微软雅黑}

</style>
<style type="text/css">
  .leimu_zui{width: auto}
  .weui-navigator-list li{font-weight: 500}
  .weui-navigator-list li.weui-state-hover, .weui-navigator-list li.weui-state-active a:after{background-color: none}
</style>
</head>
<body>
<section class="logo_box clearfix">
  <div class="fl"> <a href=""><img class="logo_img" src="{if $settings['logo']}{php echo tomedia($settings['logo'])}{else}{MODULE_URL}style/images/icon_1_06.png{/if}"></a> </div>
  <div class="sosuo_box fl">
    <form  action="{php echo link_url('search')}" method="post" role="form">
    <input class="btn_com btn_sosuo" type="text" placeholder="请输入影视、电视剧关键词、支持拼音" name="key" value="{$key}">
    </form>
  </div>
  <div class="fr"><a class="tanchu" href="javascript:void(0)"><em class="jilu"></em></a></div>
</section>
<div id="tagnav" class="weui-navigator weui-navigator-wrapper"> 
  <ul class="weui-navigator-list">
    <li {if $op == 'index'}class="weui-state-active"{/if}><a href="{php echo header_url('index')}">首页</a></li>
    {if !$settings['dianying_open']}
    <li {if $op == 'dianying'}class="weui-state-active"{/if}><a href="{php echo header_url('dianying')}">电影</a></li>
    {/if}
    {if !$settings['dianshi_open']}
    <li {if $op == 'dianshi'}class="weui-state-active"{/if}><a href="{php echo header_url('dianshi')}">剧集</a></li>
     {/if}
    {if !$settings['zongyi_open']}
    <li {if $op == 'zongyi'}class="weui-state-active"{/if}><a href="{php echo header_url('zongyi')}">综艺</a></li>
     {/if}
    {if !$settings['dongman_open']}
    <li {if $op == 'dongman'}class="weui-state-active"{/if}><a href="{php echo header_url('dongman')}">动漫</a></li>
     {/if}
     {if !$settings['yule_open']}
    <li {if $op == 'yule'}class="weui-state-active"{/if}><a href="{php echo header_url('yule')}">娱乐</a></li>
    {/if}
    {if !$settings['gaoxiao_open']}
    <li {if $op == 'gaoxiao'}class="weui-state-active"{/if}><a href="{php echo header_url('gaoxiao')}">搞笑</a></li>
    {/if}
    {loop $category $category_list}
    <li {if $op == $category_list['id']}class="weui-state-active"{/if}><a href="{if $category_list['url']}{$category_list['url']}{else}{php echo m_url('index',array('op'=>$category_list['id'],'pid'=>$category_list['parentid']));}{/if}">{$category_list['name']}</a></li> 
    {/loop} 
  </ul>
</div>

<section class="guanzhu_box">
<span class="jishu fl">{$settings['subscribe_title']}</span>
<a class="guanzhu fl" {if $settings['subscribe_url']}href="{$settings['subscribe_url']}"{else}href="javascript:;"{/if}>立即关注</a>
<a class="fr" href="javascript:;"><em class="close"></em></a>
</section>
{if $key}
<style type="text/css">
.search-item {
    background: #fff;
    margin-bottom: 6px;
}
.search-item .box {
    padding: 12px 10px 12px 10px;
    position: relative;
    display: -webkit-box;
    display: flex;
    overflow: hidden;
}
.search-item .img {
    position: relative;
    display: inline-block;
    width: 106px;
    height: 145px;
}
.search-item .img img {
    width: 100%;
    height: 100%;
}
.search-item-info {
    -webkit-box-flex: 1;
    flex: 1;
    overflow: hidden;
    margin-left: 10px;
    font-size: 14px;
    position: relative;   
}
.search-item-info .btns {
    text-align: right;
    width: 100%;
    margin-top: 5px
}

</style>
{loop $search $search} 
<div class="search-item dyitem">
    <div class="box g-clear">
        <a href="" class="img">
            <img src="{php echo tomedia($search['thumb'])}"> 
        </a>
        <div class="search-item-info"> 
            <h3>
                {$search['title']}
            </h3>         
                                      
           <div class="btns">
               
                  <a class="weui_btn weui_btn_primary weui_btn_inline" href="{php echo link_url('detail',array('id'=>$search['id'],'op'=>$op));}">
                        立即播放
                  </a>
                
           </div>
        
        </div>
    </div>
</div>
{/loop} 
{if $list || $search}
{loop $list $data}
{if $data['type'] == '[动漫]'}
{php $op = 'dongman'}
{elseif $data['type'] == '[电视剧]'}
{php $op = 'dianshi'}
{elseif $data['type'] == '[综艺]'}
{php $op = 'zongyi'}
{else}
{php $op = 'dianying'}
{/if}
{if $data['title']}
<div class="search-item dyitem">
    <div class="box g-clear">
        <a href="" class="img">
            <img src="{$data['img']}">
        </a>
        <div class="search-item-info"> 
            <h3>
                {$data['title']}
            </h3>          
           <p> {$data['p1']}</p>
           <p> {$data['p2']}</p>
           <p> {$data['p3']}</p>                            
           <p> {$data['actor']}</p>                            
           <p> {$data['director']}</p>                            
           <div class="btns">
                {if $data['btn'] == '暂无播放资源'}
                     <a class="weui_btn weui_btn_warn weui_btn_inline" href="#">
                        暂无资源
                    </a>
                {else}

                  <a class="weui_btn weui_btn_primary weui_btn_inline" href="{php echo link_url('detail',array('op'=>$op));}&url={$data['link']}">
                        立即播放
                  </a>
                {/if}
           </div>
        
        </div>
    </div>
</div>
{/if}
{/loop}    
{else}
<p style="text-align: center;">未搜索到影片，暂不支持模糊搜索，请输入全称进行搜索</p>
{/if}
{/if}
<div class="weui_cells weui_cells_access" style="margin-top: 0px">
<section class="tuijian_box">  
  <div class="dianying_box  bgfff clearfix">
    <ul class="clearfix">      
      {loop $video $key $v}      
      <li><a href="{php echo link_url('detail',array('id'=>$v['id'],'op'=>$v['cid']));}"><img src="{php echo tomedia($v['thumb'])}"></a>{if $v['star']}<span class="fenshu">{$v['star']}</span>{/if}
        <p class="clearfix leimu"><span class="fl"></span><span class="fr">{$v['year']}</span></p> 
        <a href="{php echo link_url('detail',array('id'=>$v['id'],'op'=>$v['cid']));}"><span class="biaoti">{php echo cutstr($v['title'],8)}</span></a></li>
      {/loop}           
    </ul>
  </div>
</section>
<a class="weui_cell " href="{php echo link_url('index',array('op'=>'dianying'));}">
    <div class="weui_cell_bd weui_cell_primary">
        <p>电影频道</p>
    </div>
    <div class="weui_cell_ft">查看更多</div>
</a>
<a class="weui_cell " href="{php echo link_url('index',array('op'=>'dianshi'));}">
    <div class="weui_cell_bd weui_cell_primary">
        <p>电视剧频道</p>
    </div>
    <div class="weui_cell_ft">查看更多</div>
</a>
<a class="weui_cell " href="{php echo link_url('index',array('op'=>'zongyi'));}">
    <div class="weui_cell_bd weui_cell_primary">
        <p>综艺频道</p>
    </div>
    <div class="weui_cell_ft">查看更多</div>
</a>
<a class="weui_cell " href="{php echo link_url('index',array('op'=>'dongman'));}">
    <div class="weui_cell_bd weui_cell_primary">
        <p>动漫频道</p>
    </div>
    <div class="weui_cell_ft">查看更多</div>
</a>
</div>
{template 'news/footer'} 
{template 'jilu'} 
</body>
</html>






