*{
	padding: 0;
	margin: 0;
}
ol,ul,li{
	list-style:none;
}
a{
	text-decoration:none;
}

.content{
	width:100%;
	height:785px;
	background:url('../img/bg_img.png');
}
.content_box{
	float:right;
	width:400px;
	height:460px;
	border:1px solid #e6e6e6;
	background:white;
	margin:155px 170px 155px 0px;
}
.content_box .content_box_top{
	width:auto;
	height:60px;
	line-height:60px;
	text-align:center;
	border-bottom:1px solid #e6e6e6;
}
.content_box .content_box_top span{
	font-size:24px;
	font-family: 'Microsoft YaHei';
	border:0;
}
.content_box .content_box_center{
	width:auto;
	height:400px;
}
.content_box_center .icon_one{
	display:inline-block;
	width:18px;
	height:20px;
	vertical-align: middle;
	margin-left:5px;
	background:url('../img/name_img.png');
}
.content_box_center .icon_two{
	display:inline-block;
	width:18px;
	height:20px;
	vertical-align: middle;
	margin-left:5px;
	background:url('../img/pwd_img.png');
}
.content_box_center .icon_three{
	display:inline-block;
	width:18px;
	height:20px;
	vertical-align: middle;
	margin-left:5px;
	background:url('../img/pwd_d_img.png');
}
.content_box_center .icon_four{
	display:inline-block;
	width:18px;
	height:19px;
	vertical-align: middle;
	margin-left:5px;
	background:url('../img/phone_img.png');
}
.content_box_center .icon_five{
	display:inline-block;
	width:23px;
	height:16px;
	vertical-align: middle;
	margin-left:5px;
	background:url('../img/email_img.png');
}
.content_box_center .puut{
	width:330px;
	height:32px;
	line-height:32px;
	margin:10px auto;
	border-radius:3px;
	border:1px solid #ccc;
}
.content_box_center .put{
	float:right;
	width:290px;
	height:30px;
	border:0;
	font-family: 'Microsoft YaHei';
	font-size:14px;
}
.content_box_center span{
	font-size:12px;
	color:#cb2828;
	margin-left:75px;
	display:none;
}
.content_box_center .v_code{
	float:right;
	width:185px;
	height:32px;
	border:0;
	font-family: 'Microsoft YaHei';
	font-size:14px;
}
.content_box_center .puut .btn{
	float:right;
	width:105px;
	height:32px;
	background:#cb2828;
	color:white;
	border:none;
	cursor:pointer;
}
.content_box_center .puut_sub{
	width:330px;
	height:40px;
	background:#f33d3d;
	color:white;
	margin:20px auto;
	cursor:pointer;
}
.content_box_center .puut_sub .sub{
	font-size:18px;
	height:40px;
	border:0;
	background:0;
	color:white;
	margin:auto 150px;
	cursor:pointer;
}
.box_content{
	height:800px;
	font-size:14px;
	font-family: 'Microsoft YaHei';
	padding-left:68px;
}
.box_content_div{
	width:100%;
	height:800px;
	margin-left:-68px;
}
.s_orange{
	color:#eb6100;
}
.s_red{
	color:red;
	margin-left:10px;
	display:none;
}
.special{
	float:right;
	margin-right:-120px;
}
.box_content_one,.box_content_two,.box_content_three,.box_content_four,.box_content_five,.box_content_six,.box_content_seven,.box_content_eight,.box_content_nine,.box_content_ten,.box_content_eleven,.box_content_last{
	width:100%;
	height:auto;
	margin-top:5px;
}
.box_content_one_left,.box_content_one_right,.box_content_two_left,.box_content_two_right,.box_content_three_right,.box_content_three_left,.box_content_four_type,.box_content_five_left,.box_content_five_right,.box_content_six_right{
	width:555px;
	height:40px;
	line-height:40px;
	margin:5px auto;
}
.box_content_six,.box_content_seven,.box_content_eight,.box_content_nine{
	width:100%;
	height:40px;
	line-height:40px;
}
.box_content_one_left,.box_content_two_left,.box_content_three_left,.box_content_five_left,.box_content_six,.box_content_seven,.box_content_eight,.box_content_nine,.box_content_ten,.box_content_eleven,.box_content_last{
	float:left;
}
.box_content_one_right,.box_content_two_right,.box_content_three_right,.box_content_five_right{
	float:right;
}
.box_content_two_left select{
	display:inline-block;
	width:110px;
	height:30px;
	border:1px solid #ccc;
}
.box_content_two_left #province{
	margin-left:30px;
}
.box_content .shop_text{
	width:320px;
	height:30px;
	margin-left:30px;
	border-radius: 3px;
	border:1px solid #ccc;
}
.box_content_four_type{
	margin:-4px 0px 0px 115px;
	border:1px solid #ccc;
}
.box_content_four_type label,.box_content_seven label{
	margin-left:20px;
}
.box_content_seven .span_i{
	margin-left:2px;
	position:relative;
	top:-2px;
}
.box_content .shop_text_i{
	width:200px;
	height:30px;
	margin-left:30px;
	border-radius: 3px;
	border:1px solid #ccc;
}
.shop_img{
	display:inline-block;
	width:200px;
	height:30px;
	position:relative;
	top:8px;
}
.thumb_img{
	display:inline-block;
	width:40px;
	height:40px;
	position:relative;
	top:16px;
	border:1px solid #e6e6e6;
}
.box_content_five_left .shop_img,.box_content_six .shop_text_i{
	margin-left:30px;
}
.box_content_six .shop_img,.box_content_eleven .shop_img,.box_content_nine .shop_text{
	margin-left:40px;
}
.box_content_three_left .shop_text_i{
	margin-left:43px;
}
.box_content_five input[type=file]{
	opacity:0;
	position:relative;
	left:83px;
	top:-47px;
}
.box_content_six input[type=file],.box_content_eleven input[type=file]{
	opacity:0;
	position:relative;
	left:-280px;
	top:-8px;
}
.box_content_four_type{
	width:840px;
	height:140px;
}	
.box_content_seven_type{
	width:375px;
	height:30px;
	line-height:30px;
}
.box_content_eight .shop_text{
	margin-left:12px;
}
.box_content_one_right .select{
	margin-left:25px;
}
.box_content_ten textarea{
	margin:10px 0px 0px 40px;
	width:840px;
	height:160px;
}
.box_content_one_right .select input{
	margin:0 4px;
}
.box_content_last{
	width:100%;
	height:30px;
}
.box_content_last .sub{
	width:100px;
	height:30px;
	color:white;
	cursor:pointer;
	margin:0 545px;
	background:#f5285e;
	border-radius: 3px;
	border:1px solid #f5285e;
}