{template 'header'}
<style>
    .pageMessage header{
        background: none;
    }
    .header-title{
        margin-bottom: 12px;
    }
    .pageMessage .yd-cell-box{
        /*padding: 12px;*/
    }
    .pageMessage .yd-textarea>textarea{
        font-size:.3rem;
    }
</style>
<body class="pageMessage">
<div id="hook-app">
    <?php if($config['header_isshow']): ?>
    <div class="header-title">
        <yd-navbar title="建议反馈">
            <a href="<?php echo $this->createMobileUrl('user'); ?>" slot="left">
                <yd-navbar-back-icon></yd-navbar-back-icon>
            </a>
        </yd-navbar>
    </div>
    <?php endif; ?>
    <yd-cell-group title="">
        <yd-cell-item>
            <yd-textarea slot="right" placeholder="您的建议与反馈是我们前进的动力" maxlength="100" v-model="content"></yd-textarea>
        </yd-cell-item>
    </yd-cell-group>
    <div id="hook-hurry" class="hurry-btn">
        <yd-button size="large" type="primary" bgcolor="#04be02" color="#fff" @click.native="submit" class="finish">提交</yd-button>
    </div>
</div>

<script>
    var subUrl = "{php echo $this->createMobileUrl('message',['op'=>'create']);}";

    var app = new Vue({
        el: '#hook-app',
        data: {
            content: '',
        },
        methods: {
            submit: function(){
                if(!this.content){
                    this.message("填写反馈内容",'error');
                    return false;
                }
                this.$dialog.loading.open('数据提交中...');
                $.post(subUrl,{content:this.content}).then(function(resp){
                    app.$dialog.loading.close();
                    resp = JSON.parse(resp);
                    if(resp.error){
                    }else{
                        app.message(resp.msg);
                        setTimeout(function(){
                            location.href = resp.url;
                        },1500)
                    }
                })

            },

            message:function(msg,icon){
                icon = icon || 'success'
                this.$dialog.toast({
                    mes: msg,
                    timeout: 1500,
                    icon:icon
                });
            },
        }
    });
</script>
</body>
</html>
