
<title>名片详情</title>

<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">主页</a>
        <a><cite>名片详情</cite></a>
    </div>
</div>

<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-header">名片详情</div>
        <div class="layui-card-body" style="padding: 15px;">

            <form class="layui-form" action="" lay-filter="component-form-group" onsubmit=" return  false;">
                <input type="hidden" value="0" name="card_id">

                <div class="layui-form-item">
                    <label class="layui-form-label">形象照</label>
                    <div class="layui-upload">
                        <button type="button" class="layui-btn" id="btn-upload-avatar">上传图片</button>
                        <div class="layui-upload-list del-image"  id="div-upload-avatar"><ul></ul></div>

                        <blockquote style="margin-left: 110px" class="layui-elem-quote" style="margin-top: 10px;">
                            名片图片, 尺寸: 750 * 750
                        </blockquote>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">姓名</label>
                    <div class="layui-input-block">
                        <input type="text" name="name" required   placeholder="" autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">手机号</label>
                    <div class="layui-input-block">
                        <input type="text" name="phone" required   placeholder="" autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">微信号</label>
                    <div class="layui-input-block">
                        <input type="text" name="wechat" required   placeholder="" autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">座机</label>
                    <div class="layui-input-block">
                        <input type="text" name="tel" required   placeholder="" autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">邮箱</label>
                    <div class="layui-input-block">
                        <input type="text" name="email" required   placeholder="" autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">地址</label>
                    <div class="layui-input-block">
                        <input type="text" name="address" required   placeholder="" autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">简介</label>
                    <div class="layui-input-block">
                        <textarea name="desc" id="" cols="30" rows="10" class="layui-textarea"></textarea>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">音频</label>
                    <div class="layui-upload">
                        <button type="button" class="layui-btn" id="btn-upload-voice">上传mp3</button>
                        <div class="layui-upload-list del-image"  id="div-upload-voice"><ul></ul></div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">详情图片</label>
                    <div class="layui-upload">
                        <button type="button" class="layui-btn" id="btn-upload-images">多图片上传</button>
                        <div class="layui-upload-list del-image"  id="div-upload-images"><ul></ul></div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">职位</label>
                    <div class="layui-input-block">
                        <input type="text" name="job" required   placeholder="" autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">经度</label>
                    <div class="layui-input-block">
                        <input type="text" name="longitude" required   placeholder="" autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">纬度</label>
                    <div class="layui-input-block">
                        <input type="text" name="latitude" required   placeholder="" autocomplete="off" class="layui-input">
                    </div>
                </div>

                <!--提交数-->

                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="LAY-filter-demo-form">立即提交</button>
                        <button id="backlist" class="layui-btn layui-btn-primary">返回</button>
                    </div>
                </div>

            </form>

        </div>
    </div>
</div>

<script>
    layui.use(['admin', 'form'], function(){
        var $ = layui.$
            ,admin = layui.admin
            ,element = layui.element
            ,layer = layui.layer
            ,form = layui.form;

        layer.load();

        //id的值（判断是否编辑）
        var router = layui.router();
        var id=router.search.id;
        if(typeof(id)=='undefined'){
            id=0;//默认新增
        }
        var c_id=router.search.c_id;
        if(typeof(c_id)=='undefined'){
            c_id=0;//默认新增
        }
        $("#backlist").click(function(){
            window.history.back();
            return false;
        });


        $('.del-image').on('click','.layui-icon', function () {
            $(this).parents('dd').remove();
        });

        //发送请求获取数据(数据的回显)
        admin.req({
            type:'POST',
            url: config.url+'manage_card/member/cardDetail'//数据接口
            ,data:{"id":id, 'company_id': c_id},
            done:function(res){
                if(res.data){
                    layer.closeAll();
                    //预设元素
                    form.val("component-form-group", {
                        "avatar": res.data.avatar,// "name": "value"
                        "name": res.data.name,// "name": "value"
                        "phone": res.data.phone,// "name": "value"
                        "wechat": res.data.wechat,// "name": "value"
                        "tel": res.data.tel,// "name": "value"
                        "email": res.data.email,// "name": "value"
                        "address": res.data.address,// "name": "value"
                        "desc": res.data.desc,// "name": "value"
                        "voice": res.data.voice,// "name": "value"
                        "images": res.data.images,// "name": "value"
                        "job": res.data.job,// "name": "value"
                        "longitude": res.data.longitude,// "name": "value"
                        "latitude": res.data.latitude,// "name": "value"
                        "card_id": res.data.id,// "name": "value"
                    });
                    //图片的回显

                    //单张图片
                    if(res.data.avatar && res.data.avatar.length > 0){
                        var str = '<dd><i class="layui-icon" >&#x1007;</i> <img  width="100px" src="'+res.data.avatar+'">' +
                            '<p id=""></p>' +
                            '<input type="hidden" name="avatar" value="'+res.data.avatar_id+'"></dd>';
                        $('#div-upload-avatar ul').append(str);
                        /*$('#test-upload-normal-img-avatar').attr('src', res.data.person_avatar);*/
                    }
                    //多张图片
                    if(res.data.images){
                        var strs='';
                        layui.each(res.data.images, function(index, item){
                            strs += '<dd><i class="layui-icon">&#x1007;</i> ' +
                                '<img  width="100px" src="'+item.path+'"> ' +
                                '<p id=""></p>' +
                                '<input type="hidden" name="images[]" value="'+item.id+'"></dd>';
                        });
                        $('#div-upload-images ul').append(strs);
                    }
                    //音频
                    if(res.data.voice && res.data.voice.length > 0){
                        $('#div-upload-voice ul').empty();
                        var str = '<dd>' +
                            '<p id="p-upload-voice">上传成功'+res.data.voice+'</p>' +
                            '<input type="hidden" name="voice" value="'+res.data.voice_id+'" id="voice"></dd>';
                        $('#div-upload-voice ul').append(str);
                    }
                }
            }
        });

        /* 监听提交 */
        form.on('submit', function(data){

            layer.load();
            //发送请求
            // delete data.field.vip_level;
            // delete data.field.vip_end_time;
            // delete data.field.is_vip_success;
            var data = data.field;
            admin.req({
                type:'POST',
                url: config.url+'manage_card/member/staffEdit'//数据接口
                ,data:data,
                done:function(res){
                    layer.msg('成功', {
                        offset: '15px'
                        ,icon: 1
                        ,time: 1000
                    }, function(){
                        // layer.closeAll();
                        window.history.back();
                        // window.location.href =config.html_url+'mingpian_card/';
                        // window.location.href = config.html_url2 + '&card_id=' +data.card_id+'&id='+data.company_id+'#/manage_card/member/staff/id='+data.company_id;
                    });
                }
            });
            return  false;
        });

    });

    /*上传图片*/
    layui.use(['admin', 'upload'], function(){
        var $ = layui.jquery
            ,upload = layui.upload;

        //单图片上传 个人头像
        var uploadInst = upload.render({
            elem: '#btn-upload-avatar'
            ,url: config.url+'manage_base/base_admin/upload'//上传地址
            ,data:{"type":"picture"}
            ,before: function(obj){
                //预读本地文件示例，不支持ie8
                /* obj.preview(function(index, file, result){
                     $('#test-upload-normal-img-avatar').attr('src', result); //图片链接（base64）
                 });*/
                layer.load(0, {
                    offset: 'auto'
                });
            }
            ,done: function(res){
                if (res.code > 0) {
                    return layer.msg('上传失败:' + res.msg);
                }
                $('#div-upload-avatar ul').empty();
                var str = '<dd><i class="layui-icon">&#x1007;</i> <img  width="100px" src="'+res.data.src+'"> ' +
                    '<p id="p-upload-avatar"></p>' +
                    '<input type="hidden" name="avatar" value="'+res.data.id+'" id="avatar"></dd>';
                $('#div-upload-avatar ul').append(str);
                layer.closeAll();
            }
            ,error: function(){
                //演示失败状态，并实现重传
                var demoText = $('#p-upload-avatar');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-mini demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function(){
                    uploadInst.upload();
                });
            }
        });

        //音频
        var uploadInst2 = upload.render({
            elem: '#btn-upload-voice'
            ,url: config.url+'manage_base/base_admin/upload'//上传地址
            ,data:{"type":"audio"}
            ,exts: 'mp3|wma|wav|m4a'
            ,before: function(obj){
                layer.load(0, {
                    offset: 'auto'
                });
            }
            ,done: function(res){
                //上传完毕
                if (res.code > 0) {
                    return layer.msg('上传失败:' + res.msg);
                }
                $('#div-upload-voice ul').empty();
                var str = '<dd>' +
                    '<p id="p-upload-voice">上传成功'+res.data.src+'</p>' +
                    '<input type="hidden" name="voice" value="'+res.data.id+'" id="voice"></dd>';
                $('#div-upload-voice ul').append(str);
                layer.closeAll();
            }
            ,error: function(){
                //演示失败状态，并实现重传
                var demoText = $('#p-upload-voice');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-mini demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function(){
                    uploadInst2.upload();
                });
            }
        });

        //多图片上传

        //个人简介图集
        upload.render({
            elem: '#btn-upload-images'
            ,url: config.url+'manage_base/base_admin/upload'//上传地址
            ,multiple: true
            ,before: function(obj){
                //预读本地文件示例，不支持ie8
                layer.load(0, {
                    offset: 'auto'
                });
            }
            ,done: function(res){
                //上传完毕
                if (res.code > 0) {
                    return layer.msg('上传失败:' + res.msg);
                }
                var str = '<dd><i class="layui-icon">&#x1007;</i> <img  width="100px" src="'+res.data.src+'"> <p id="p-upload-images"></p>' +
                    '<input type="hidden" name="images[]" value="'+res.data.id+'" id="images"></dd>';
                $('#div-upload-images ul').append(str);
            }
            ,allDone: function(obj){ //当文件全部被提交后，才触发
                layer.closeAll('loading');
            }
        });

    });
</script>