  {{dispatch c='user' a='left'}}
			<!--wrap_main-->
			<div class="wrap_main wrap_main_noindex">

					<!--wrap_box-->
					<div class="wrap_box domain_all">
						<div class="title">
								<h2>修改密码</h2>
						</div>
						<!--wrap_box_info-->
						<div class="wrap_box_info form">
							<form name='frm' action="?c=user&a=changePassword" method="post">
								<table>
									<tr><td colspan="2">修改密码</td></tr>
										<tr>
											<td>原密码：</td>
											<td><input type='password' name='oldpasswd' class="text" ></td>
										</tr>
										<tr>
											<td>新密码：</td>
											<td><input type='password' name='passwd' class="text" ></td>
										</tr>
										<tr>
											<td>确认新密码：</td>
											<td><input type='password' name='passwd2' class="text" ></td>
										</tr>
										<tr>
											<td colspan="2" align="center"><input type="button" class="submit" onClick="checkPassword()" value="确定"></td>
										</tr>
									</table>
							</form>
						</div>
						<!--//wrap_box_info-->
					</div>	
					<!--//wrap_box-->							
			</div>
			<!--//wrap_main-->	

<script language="javascript">
function checkPassword()
{
	if(frm.passwd.value==""){
		alert('新密码不能为空');
		return;
	}
	if(frm.passwd.value!=frm.passwd2.value){
		alert('两次密码不相等');
		return;
	}
	frm.submit();
}
</script>