			<!--wrap_side-->
			<div class="wrap_side wrap_side_noindex">
				<div class="side_box">
					<div class="title">
						<ul>
							<li><a href="#">帐户管理</a></li>
						</ul>
					</div>
					<div class="side_box_info">
						<ul class="li_nav">
							<li><a class="m_ico m_ico_01" href="?c=user&a=index">帐户信息</a></li>
							<li><a class="m_ico m_ico_02" href="?c=user&a=changeForm">修改资料</a></li>
							<li><a class="m_ico m_ico_02" href="?c=user&a=changePasswordForm">修改密码</a></li>
						</ul>
					</div>
				</div>					
				<div class="side_box">
					<div class="title">
						<ul>
							<li><a href="#">财务管理</a></li>
						</ul>
					</div>
					<div class="side_box_info">
						<ul class="li_nav">
							<li><a class="m_ico m_ico_04" href="?c=money&a=addFrom">在线充值</a></li>
							<li><a class="m_ico m_ico_05" href="?c=money&a=moneyin">充值记录</a></li>
							<li><a class="m_ico m_ico_06" href="?c=money&a=moneyout">消费记录</a></li>
						</ul>
					</div>
				</div>	
				<div class="side_box">
					<div class="title">
						<ul>
							<li><a href="#">我的产品</a></li>
						</ul>
					</div>
					<div class="side_box_info">
						<ul class="li_nav">
						<li><a class="m_ico m_ico_09" href="?c=hosting&a=pageHost">订单列表</a></li>
						<li><a class="m_ico m_ico_07" href="?c=domains&a=pageList">域名列表</a></li>
						<li><a class="m_ico m_ico_08" href="?c=vhostproduct&a=pageVhostByuser">{{if
								$setting.vhost_name.value}}{{$setting.vhost_name.value}}{{else}}虚拟主机{{/if}}</a></li>
						{{if $group}}
						{{for $i=0;$i< count($group);$i++}}
						<li><a class="m_ico m_ico_08" href="{{$group[$i][1]}}">{{$group[$i][0]}}</a></li>
						{{/for}} 
						{{/if}}
						<li><a class="m_ico m_ico_10" href="?c=question&a=pageByuser">我的提问</a></li>
						</ul>
					</div>
				</div>				
			</div>
			<!--//wrap_side-->
			