/* ::::: http://web.xudoodoo.com/Public/Static/mod/css/jumpurl.css ::::: */

.jbox-container { padding: 10px 15px 15px; overflow: auto; }
* { margin: 0px; padding: 0px; }
dl, ul { list-style: outside none none; }
a { text-decoration: none; color: rgb(0, 0, 0); }
body, button, input, select, textarea { outline: 0px none; font: 400 12px/1 "Microsoft YaHei","å¾®è½¯é›…é»‘",Arial; }
body, html { height: 100%; width: 100%; }
table { border-collapse: collapse; border-spacing: 0px; }
fieldset, img { border: 0px none; }
input, select, textarea { outline: 0px none; }
img { vertical-align: top; }
.clearfix {  }
.clearfix::after { display: block; content: " "; height: 0px; visibility: hidden; clear: both; }
.fl { float: left; }
.fr { float: right; }
body { background-color: rgb(231, 232, 235); }
.gagp-goodslist, .gagp-grouplist, .game-list, .mgz-list, .modulePicker-list { min-height: 310px; }
.btn { position: relative; display: inline-block; padding: 0px 12px; height: 30px; line-height: 28px; font-size: 12px; text-align: center; cursor: pointer; color: rgb(51, 51, 51); background-color: rgb(255, 255, 255); border-radius: 2px; border: 1px solid rgb(204, 204, 204); vertical-align: baseline; margin-top: 1px; margin-bottom: 2px; }
a.btn { height: 28px; line-height: 28px; }
.fi-imgslist::after, .formitems::after { display: block; content: " "; height: 0px; visibility: hidden; clear: both; }
.paginate { color: rgb(102, 102, 102); }
.paginate .prev::before { display: inline-block; content: " "; width: 10px; height: 10px; margin-right: 5px; vertical-align: -1px; }
.paginate .next::after { display: inline-block; content: " "; width: 10px; height: 10px; margin-left: 5px; vertical-align: -1px; background-position: 0px 0px; }
.paginate .next.disabled::after { background-position: 0px -10px; }
.paginate .prev::before { background-position: 0px -20px; }
.paginate .prev.disabled::before { background-position: 0px -30px; }
.paginate a:hover:not(.goto) { background-color: rgb(238, 238, 238); color: rgb(42, 100, 150); }
.wxtables { width: 100%; margin-left: auto; margin-right: auto; border: 1px solid rgb(231, 231, 235); }
.wxtables td { padding: 5px 10px; font-size: 12px; line-height: 1.5em; border-bottom: 1px solid rgb(238, 238, 238); color: rgb(51, 51, 51); }
.wxtables tbody tr:hover td { background-color: rgb(242, 248, 252); }
.wxtables thead td { font-weight: 700; background: rgb(238, 238, 238) none repeat scroll 0% 0%; color: rgb(85, 85, 85); border-left: 0px none; border-right: 0px none; }
.wxtables thead tr td:first-child { border-left: 1px solid rgb(231, 231, 235); }
.wxtables thead tr td:last-child { border-right: 1px solid rgb(231, 231, 235); }
.tables-btmctrl { padding: 14px 0px; }
/* ::::: http://web.xudoodoo.com/Public/Static/mod/css/page.css ::::: */

.sel_fun_opt > div { width: 115px; height: 35px; line-height: 35px; color: rgb(255, 255, 255); background-color: rgb(13, 163, 249); float: left; text-align: center; font-size: 15px; cursor: pointer; border-radius: 5px; margin-left: 260px; border: 1px solid rgb(13, 163, 249); }
.sel_fun_opt > div.cancel { color: rgb(136, 136, 136); background-color: rgb(255, 255, 255); border: 1px solid rgb(136, 136, 136); margin-left: 50px; }
.wxtables:last-child td { padding: 15px 10px; font-size: 12px; line-height: 1.5em; border-bottom: 1px solid rgb(238, 238, 238); color: rgb(51, 51, 51); }
.sel_fun_body { width: 400px; height: 40px; margin: 10px auto 0px; }
.sel_fun_classify { width: 100px; height: 30px; outline: medium none; margin-right: 30px; float: left; }
.sel_fun_search_show { float: left; }
.sel_fun_search_opt {  }
.sel_fun_enter { height: 28px; border: 1px solid rgb(204, 204, 204); width: 150px; float: left; margin-right: 20px; padding-left: 5px ! important; }
.sel_fun_seach { width: 80px; height: 30px; background-color: rgb(13, 163, 249); color: rgb(255, 255, 255); float: left; text-align: center; line-height: 30px; border-radius: 5px; cursor: pointer; font-size: 14px; margin-left: 5px; }
/* ::::: http://web.xudoodoo.com/Public/Plugins/layer-v2.4/skin/layer.css ::::: */

html #layui_layer_skinlayercss { display: none; position: absolute; width: 1989px; }
