/* ::::: http://web.xudoodoo.com/Public/Static/mod/css/jumpurl1.css ::::: */

body, h1, h2, h3, h4, h5, h6, dl, dt, dd, ul, ol, li, th, td, p, blockquote, pre, form, egend, input, button, textarea, hr { margin: 0px; padding: 0px; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; }
ul { list-style: outside none none; }
img { border: 0px none; }
q::before, q::after { content: ""; }
body, button, input, select, textarea { font: 14px/1 "Microsoft YaHei",Tahoma,"Simsun"; }
html, body { font: 14px/1.8 "Microsoft YaHei",Tahoma,Verdana,"Simsun"; color: rgb(0, 0, 0); background: rgb(255, 255, 255) none repeat scroll 0% 0%; -moz-text-size-adjust: none; }
img { border: medium none; }
a { color: rgb(35, 183, 229); text-decoration: none; }
a:hover { color: rgb(35, 183, 229); text-decoration: none; }
.columnlist { width: 100%; }
.columnlist li { float: left;  text-align: center; overflow: hidden; }
.columnlist li h2 { line-height: 1.5; font-weight: normal; text-align: center; color: rgb(0, 136, 204); }
.columnlist { clear: both; }
.columnlist li a { display: block;overflow: hidden; margin: 0px auto; text-decoration: none; position: relative; }
.columnlist li a:hover { background: rgb(241, 241, 241) none repeat scroll 0% 0%; }
/* ::::: http://web.xudoodoo.com/Public/Static/mod/css/page.css ::::: */

.columnlist li a { cursor: pointer; }
.columnlist li h2 {line-height: 1.5; font-weight: normal; text-align: center; color: rgb(51, 51, 51); }
/* ::::: http://web.xudoodoo.com/Public/Plugins/layer-v2.4/skin/layer.css ::::: */

html #layui_layer_skinlayercss { display: none; position: absolute; width: 1989px; }
