/*单选、筛选框样式*/
.magic-radio,
.magic-checkbox {
	position: absolute;
	display: none;
}
 
.magic-radio[disabled],
.magic-checkbox[disabled] {
	cursor: not-allowed;
}
 
.magic-radio + label,.magic-checkbox + label {
	position: relative;
	display: block;
	padding-left: 26px;
	cursor: pointer;
	vertical-align: middle;font-size:12px;
}
 
.magic-radio + label:hover:before,
.magic-checkbox + label:hover:before {
	animation-duration: 0.4s;
	animation-fill-mode: both;
	animation-name: hover-color;
}
 
.magic-radio + label:before,
.magic-checkbox + label:before {
	position: absolute;
	top: 6px;
	left: 0;
	display: inline-block;
	width: 16px;
	height: 16px;
	content: '';
	border: 1px solid #c0c0c0;
}
.magic-radio + label:after,
  .magic-checkbox + label:after {
	position: absolute;
	display: none;
	content: '';
}
.magic-radio[disabled] + label,
.magic-checkbox[disabled] + label {
	cursor: not-allowed;
	color: #e4e4e4;
}
.magic-radio[disabled] + label:hover, 
.magic-radio[disabled] + label:before, 
.magic-radio[disabled] + label:after,
.magic-checkbox[disabled] + label:hover,
.magic-checkbox[disabled] + label:before,
.magic-checkbox[disabled] + label:after {
	cursor: not-allowed;
}
.magic-radio[disabled] + label:hover:before,
.magic-checkbox[disabled] + label:hover:before {
	border: 1px solid #e4e4e4;
	animation-name: none;
}
 
.magic-radio[disabled] + label:before,
.magic-checkbox[disabled] + label:before {
	border-color: #e4e4e4;
}
 
.magic-radio:checked + label:before,
.magic-checkbox:checked + label:before {
	animation-name: none;
}
 
.magic-radio:checked + label:after,
.magic-checkbox:checked + label:after {
	display: block;
}
.magic-radio + label:before {
	border-radius: 50%;
}
.magic-radio + label:after {
	top: 10px;
	left: 4px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: #3e97eb;
}
.magic-radio:checked + label:before {
	border: 1px solid #3e97eb;
}
.magic-radio:checked[disabled] + label:before {
	border: 1px solid #c9e2f9;
}
.magic-radio:checked[disabled] + label:after {
	background: #c9e2f9;
}
.magic-checkbox + label:before {
	border-radius: 3px;
}
.magic-checkbox + label:after {
	top: 2px;
	left: 7px;
	box-sizing: border-box;
	width: 6px;
	height: 12px;
	transform: rotate(45deg);
	border-width: 2px;
	border-style: solid;
	border-color: #fff;
	border-top: 0;
	border-left: 0;
}
.magic-checkbox:checked + label:before {
    border: #F44336;
    background: #F44336;
}
.magic-checkbox:checked[disabled] + label:before {
	border: #c9e2f9;
	background: #c9e2f9;
}

.form_edit {padding-top:0 !important;}
.title-name { height:25px; line-height:25px;font-size:14px;}
.top-img {margin-right:6px;}
.widget_wrap { position:relative;}
	.widget_wrap div img {border-radius:50%;}
.shop_phone_icon {width:36px; height:36px; position:absolute;top:10px;right:8px;}
.shop_phone_icon image {width:30px;height:30px;}
.widget_wrap .input {line-height: 40px !important;    background: #fff !important;    padding:0 0 0 5px !important;height: 40px !important;width:100% !important;border-top-color: #eeeeee !important;}
.widget_wrap .input input {margin-left:25px;}
.widget_wrap .sub {color: #fff;    background-color: #DB384C;    border-radius: 2px;    height: 40px;    line-height: 40px;
    text-align: center;    margin: 5px auto 0 auto;    width: 70%;}
.widget_wrap div .tests {width: 100%;height: 250px;padding: 5px;border: none;}
	
	
	/*新加样式*/
.form-item {
		border-bottom: 1px solid #efefef;
    padding: 10px;
    font-size: 12px;
    }
	.noborder {
    border-bottom: none;
}
	.form-inner {
    min-height: 30px;
    line-height: 30px;
}
	.radio-inline {    display: inline-block;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
	width:30%;color: #333 !important;padding-left:0 !important;margin-left:0 !important;}
	.col4 .radio-inline {width:25% !important;}
	.col5 .radio-inline {width:20% !important;}
.radio-inline.selected {background: #fff !important;border:0 !important;} 
/*
	
	.radio-inline input[type=radio]:checked {border: 2px solid #4a9fff;background: #4a9fff;}
	.radio-inline input[type=radio] 
	{margin-right: 10px;border-radius: 18px;width:14px;height:14px;margin-top:7px !important;border: 1px solid #e0e0e0;background: #fff;}
	.radio-inline input[type=radio]:checked {border: 2px solid #479eff;background: #479eff;}
	.radio-inline input[type=radio]:checked:before {
    content: " ";
    display: inline-block;
    height: 8px;
    width: 8px;
    background: #ffffff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    margin-left: 2px;
}
*/

	.form-item .item {
    background: #f7fafc;
    margin: 4px 0;
    padding: 14px 12px 20px 24px;
    border-radius: 4px;
    color: #999;
}
	.drag {
/*    position: relative;*/
    min-height: 6px;
    display: block;
    overflow: hidden;
}
	.form-item .item .item-prompt {
    line-height: 43px;
    color: #666;
    position: relative;
    padding-left: 6px;
}
	.form-item .item .item-prompt:before {
    position: absolute;
    content: '*';
    left: -1px;
    top: 2px;
    color: #f05a5b;
}
	.form-item .item .deletechild {
    float: right;
    cursor: pointer;
    font-size: 14px;
    color: #999;
    line-height: 30px;
		margin-top:5px;
}
	.es-uploader {
    display: inline-block;
    overflow: visible;
/*    position: relative;*/
}
	.form-item .es-uploader {
    width: auto;
}
	.imgbox {
    width: 264px;
    height: 126px;
    border: 1px solid #efefef;
    text-align: center;
		position: relative;
    overflow: hidden;
    cursor: pointer;
}
	.imgbox.noval:before {
    content: " ";
    height: 30px;
    width: 3px;
    background: #ccc;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -15px;
    margin-left: -2px;
		display:none;
}
	.imgbox.noval:after {
    content: " ";
    height: 3px;
    width: 30px;
    background: #ccc;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -2px;
    margin-left: -15px;
 display:none;
}
	.imgbox.noval img {
    display: none;
}
	.imgbox img {
    height: 126px;
    width: auto;
}
	.imgbox p {
    left: 0;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
		    position: absolute;
    bottom: 0;
    right: 0;
    text-align: center;
    background: rgba(0, 0, 0, .3);
    color: #fff;
}
	.form-item .item .item-inner {
    margin-top: 8px;
/*    position: relative;*/
}
	.form-item .labeltext {
    display: inline-block;
    width: 36px;
}
	 .form-item .es-input.linkurl {
    border: none;
    background: #ebf3fa;
}
	.form-item .es-input {
    display: inline-block;
    width: 202px;
    margin-right: 0;
    border-radius: 4px;
        height: 36px;
    line-height: 36px;
    cursor: pointer;
		    padding: 0 10px;
		    -webkit-transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}
	.addChild {
    margin-top: 5px;
    text-align: center;
    line-height: 26px;
    color: #999;
    border: 1px dashed #ccc;
    font-size: 12px;
    cursor: pointer;
}
.icon-del img {width:30px;height:30px;}
.form-item .form-label {
    float: none;
    padding: 0;
    line-height: 28px;
    text-align: left;
    color: #666;
    width: 100%;
/*	    position: relative;*/
    display: inline-block;
	    font-weight: bold;
		font-size: 14px;
}
.form-item.color .item {
    padding: 14px 12px 20px 24px;
    background: #F7F9FD;
}
.chosecolor-container {
    width: 190px;
    height: 26px;
    padding: 8px 10px;
    background: #fff;
    border-radius: 4px;
    position: relative;
    border: 1px solid #f3f4f3;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}
.chosecolor {
/*    display: inline-block;*/
    width: 101px;
    height: 20px;
    background: #fff;
    border: 1px solid #f6f7f8;
/*    float: left;*/
    vertical-align: middle;
    cursor: pointer;
	font-size: 0;
    outline: none;
	position: absolute;
    top: 0;
    left: 10px;
}
.chosecolor-container p {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    line-height: 26px;
    background: #f7f7f7;
    width: 71px;
	height:26px;
}
.form-item .item .item-title {
    line-height: 43px;
    height: 43px;
    color: #666;
/*    position: relative;*/
}
.form-item .item .item-title:before {
    position: absolute;
    content: '';
    width: 6px;
    height: 6px;
    background: #4da1ff;
    left: -12px;
    top: 18px;
    border-radius: 50%;
}

.iconbox {
/*    position: relative;*/
    overflow: hidden;
    cursor: pointer;
	width: 50px;
    height: 50px;
    border: 1px solid #efefef;
    text-align: center;
}
.iconbox.noval img, .imgbox.noval img {
    display: none;
}
.item-inner.item-image img {
    width: 48px;
    height: 48px;
    float: left;
}
.iconbox.noval p, .imgbox.noval p {
    display: none;
}
.iconbox p, .imgbox p, .configbox p {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    height: 20px;
    background: rgba(0, 0, 0, .3);
    color: #fff;
}
.ui-slider-horizontal {
    height: 1px;
    border: none;
    background: #469fff;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    border-bottom-right-radius: 4px;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
    border-bottom-left-radius: 4px;
}
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
    border-top-right-radius: 4px;
}
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
    border-top-left-radius: 4px;
}
.ui-widget {
    font-family: Verdana,Arial,sans-serif;
    font-size: 1.1em;
}
.ui-slider {
    position: relative;
    text-align: left;
}
.ui-slider-horizontal .ui-slider-handle {
    top: -8px;
    cursor: pointer;
    outline: none;
}
.ui-widget-content .ui-state-default {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: #fff;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: 1px solid #d3d3d3;
}
.ui-slider-horizontal .ui-slider-handle {
    top: -.6em;
    margin-left: -.6em;
}
.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 1.2em;
    height: 1.2em;
    cursor: default;
}
.diypage .es-form-item .form-inner {
    margin-left: 0px;
    line-height: normal;
}
.item_tit { height:33px; line-height: 16px;border-bottom:1px solid #479eff !important;}
.item_tit span {display:block;margin-left:0px;color:#479eff;font-size:13px;height:16px; line-height: 16px;}
.new_page_right {width:335px;float:right;height: 750px;display: table-cell; overflow-y: auto;}
.form_edit{background: #fff}
.clear {clear:both;}
#b_menu {height:auto;}
.diypage {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-flex-direction: column;
}
	.diypage-header,.diypage-headers {
    height: 65px;
    width: 100%;
    background: #ffffff;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    border-bottom: 1px solid #efefef;
}
	.header-left, .header-lefts {
    width: 307px;
    padding-left: 42px;
    line-height: 60px;
}
	.header-control, .header-controls {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}
	.diypage-container, .diypage-containers {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    position: absolute;
    background: #f7f8fc;
    top: 65px;
    left: 0;
    right: 0;
    bottom: 0;
    /*min-width: 1440px;*/
}
	.diy_nav {
    width: 52px;
    background: #fff;
    height: 100%;
    border-right: 1px solid #efefef;
}
	.nav_inner, .diypage-right {
    height: 100%;
    background: #fff;
    position: relative;
    overflow: auto;
}
	.nav_inner {
    width: 200px;
}
	.page-structure, .subnav.model {
    width: 252px;
    background: #fff;
    font-size: 12px;
    color: #999;
    overflow: scroll;
}
	.diypage-content {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: relative;
    overflow: auto;
    padding-bottom: 50px;
}
	.updown {
    position: absolute;
    width: 44px;
    height: 80px;
    background: rgba(0, 0, 0, .5);
    left: 50%;
    top: 350px;
    margin-left: 150px;
    border-radius: 2px;
    text-align: center;
}
	.diypage-right {
    height: 100%;
    overflow: auto;
}
	.nav_inner, .diypage-right {
    height: 100%;
    background: #fff;
    position: relative;
    overflow: auto;
}
	.diypage-right {
    width: 335px;
}
	.btn.btn-primary {
    background: #479eff;
    border: 1px solid #479eff;
}
	.btn {
    display: inline-block;
    padding: 0 16px;
    line-height: 26px;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
}
	.updown span p {display:none;}
#toolbar .tool_up , #toolbar .tool_down {background:url(../images/up_down.png) no-repeat;background-size: 40px 80px;width:40px;height:40px; display: block;cursor: pointer;margin:0 auto;}

#toolbar .tool_up {background-position: 0 -40px;}
#toolbar .tool_down {background-position: 0 0;}
.tool_box a .icon_pic{background: url(../images/diy_icon.png);background-size:44px 750px;width:44px; height: 30px; display: block;margin:0 auto;}
.tool_box a.icon_1 .icon_pic { background-position: 0 0;}
.tool_box a.icon_2 .icon_pic { background-position: 0 -30px;}
.tool_box a.icon_3 .icon_pic { background-position: 0 -60px;}
.tool_box a.icon_4 .icon_pic { background-position: 0 -90px;}
.tool_box a.icon_8 .icon_pic { background-position: 0 -120px;}
.tool_box a.icon_13 .icon_pic { background-position: 0 -150px;}
.tool_box a.icon_19 .icon_pic { background-position: 0 -180px;}
.tool_box a.icon_20 .icon_pic { background-position: 0 -210px;}
.tool_box a.icon_15 .icon_pic { background-position: 0 -240px;}
.tool_box a.icon_17 .icon_pic { background-position: 0 -270px;}
.tool_box a.icon_12 .icon_pic { background-position: 0 -300px;}
.tool_box a.icon_5 .icon_pic { background-position: 0 -330px;}
.tool_box a.icon_7 .icon_pic { background-position: 0 -360px;}
.tool_box a.icon_14 .icon_pic { background-position: 0 -390px;}
.tool_box a.icon_10 .icon_pic { background-position: 0 -420px;}
.tool_box a.icon_9 .icon_pic { background-position: 0 -450px;}
.tool_box a.icon_6 .icon_pic { background-position: 0 -480px;}
.tool_box a.icon_21 .icon_pic { background-position: 0 -510px;}
.tool_box a.icon_22 .icon_pic { background-position: 0 -540px;}
.tool_box a.icon_11 .icon_pic { background-position: 0 -570px;}
.tool_box a.icon_23 .icon_pic { background-position: 0 -600px;}

.tool_box a.icon_24 .icon_pic { background-position: 0 -630px;}
.tool_box a.icon_25 .icon_pic { background-position: 0 -660px;}
.tool_box a.icon_26 .icon_pic { background-position: 0 -690px;}
.tool_box a.icon_27 .icon_pic { background-position: 0 -720px;}
.tool_box a img {display:none;}
.tool_box a {padding-top: 15px;}
.tool_box a .icon_pic02{background: url(../images/diy_icon02.png);background-size:44px 330px;width:44px; height: 30px; display: block;margin:0 auto;}
.tool_box a.icon_1 .icon_pic02 { background-position: 0 0;}
.tool_box a.icon_2 .icon_pic02 { background-position: 0 -40px;}
.tool_box a.icon_3 .icon_pic02 { background-position: 0 -70px;}
.tool_box a.icon_4 .icon_pic02 { background-position: 0 -100px;}
.tool_box a.icon_5 .icon_pic02 { background-position: 0 -135px;}

.tool_box a.icon_6 .icon_pic02 { background-position: 0 -165px;}
.tool_box a.icon_7 .icon_pic02 { background-position: 0 -165px;}
.tool_box a.icon_8 .icon_pic02 { background-position: 0 -200px;}
.tool_box a.icon_9 .icon_pic02 { background-position: 0 -230px;}
.tool_box a.icon_10 .icon_pic02 { background-position: 0 -260px;}
.tool_box a.icon_11 .icon_pic02 { background-position: 0 -300px;}
