.myshow:hover { transition: all 0.4s ease 0s; box-shadow: 6px 6px 6px rgb(136, 136, 136); transform: scale(1.1); z-index: 999; background: white none repeat scroll 0% 0%; }
.myshow { width: 225px; height: 355px; border: 1px solid rgb(205, 219, 238); float: left; margin: 5px; cursor: pointer; box-shadow: 2px 2px 2px rgb(209, 224, 243); transition: all 0.1s ease 0s; }
/* ::::: http://web.xudoodoo.com/Public/Store/css/qq_service.css ::::: */

html { -moz-text-size-adjust: none; }
#online_qq_layer input[type="submit"]::-moz-focus-inner { border: medium none; padding: 0px; }
/* ::::: http://web.xudoodoo.com/Public/Static/css/component-min.css ::::: */

* { margin: 0px; padding: 0px; }
dl, ul { list-style: outside none none; }
a { text-decoration: none; color: rgb(0, 0, 0); }
body, button, input, select, textarea { outline: 0px none; font: 400 12px/1 "Microsoft YaHei","微软雅黑",Arial; }
body, html { height: 100%; width: 100%; }
fieldset, img { border: 0px none; }
img { vertical-align: top; }
.clearfix {  }
.clearfix::after { display: block; content: " "; height: 0px; visibility: hidden; clear: both; }
.fl { float: left; }
.fr { float: right; }
.mgt40 { margin-top: 40px; }
.mgb20 { margin-bottom: 20px; }
body { background-color: rgb(231, 232, 235); }
.btn { position: relative; display: inline-block; padding: 0px 12px; height: 30px; line-height: 28px; font-size: 12px; text-align: center; cursor: pointer; color: rgb(51, 51, 51); background-color: rgb(255, 255, 255); border-radius: 2px; border: 1px solid rgb(204, 204, 204); vertical-align: baseline; margin-top: 1px; margin-bottom: 2px; }
.btn:hover { background-color: rgb(230, 230, 230); border-color: rgb(173, 173, 173); }
a.btn { height: 28px; line-height: 28px; }
.btn.btn-small { height: 24px; line-height: 24px; }
a.btn.btn-small { height: 22px; line-height: 22px; }
.fi-imgslist::after, .formitems::after { display: block; content: " "; height: 0px; visibility: hidden; clear: both; }
.paginate { color: rgb(102, 102, 102); }
.paginate a { display: inline-block; margin-left: -1px; padding: 0px 12px; height: 32px; line-height: 32px; color: rgb(66, 139, 202); border: 1px solid rgb(221, 221, 221); background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.paginate .prev::before { display: inline-block; content: " "; width: 10px; height: 10px; margin-right: 5px; vertical-align: -1px; background: transparent url('doublearrow.png') no-repeat scroll 0% 0%; }
.paginate .next::after { display: inline-block; content: " "; width: 10px; height: 10px; margin-left: 5px; vertical-align: -1px; background: transparent url('doublearrow.png') no-repeat scroll 0px 0px; }
.paginate .next.disabled::after { background-position: 0px -10px; }
.paginate .prev::before { background-position: 0px -20px; }
.paginate .prev.disabled::before { background-position: 0px -30px; }
.paginate a:hover:not(.goto) { background-color: rgb(238, 238, 238); color: rgb(42, 100, 150); }
.paginate a, .paginate button, .paginate span { vertical-align: middle; }
.paginate .next { border-radius: 0px 5px 5px 0px; }
.week_day_right ul li.week_selected::before { content: ""; position: absolute; top: 0px; right: 0px; z-index: 999; width: 13px; height: 13px; background-image: url('icon_done.png'); background-size: 13px 13px; }
/* ::::: http://web.xudoodoo.com/Public/Plugins/jBox/jBox.css ::::: */

/* ::::: http://web.xudoodoo.com/Public/Static/css/page.css ::::: */

.paginate span { display: inline-block; margin-left: -1px; padding: 0px 12px; height: 32px; line-height: 32px; color: rgb(66, 139, 202); border: 1px solid rgb(221, 221, 221); background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.paginate span.current, .paginate span.current:hover { background-color: rgb(66, 139, 202); color: rgb(255, 255, 255); border-color: rgb(66, 139, 202); margin-right: 1px; }
/* ::::: http://web.xudoodoo.com/Public/Plugins/jBox/jbox-min.css ::::: */

/* ::::: http://web.xudoodoo.com/Public/Store/css/tpl.css ::::: */

.hPage-tpls li { margin-bottom: 25px; margin-right: 25px; overflow: hidden; padding: 10px; position: relative; width: 175px; }
.hPage-tpls li:last-child { margin-right: 0px; }
.hPage-tpls-img { width: 175px; height: 326px; overflow: hidden; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.hPage-tpls-img img { width: 100%; height: auto; }
.hPage-tpls-overlay { display: none; position: absolute; left: 0px; bottom: 0px; width: 100%; height: 40px; background: rgba(0, 0, 0, 0.6) none repeat scroll 0% 0%; }
.hPage-tpls-acitons { text-align: center; padding-top: 7px; }
/* ::::: http://web.xudoodoo.com/Public/Plugins/layer-v2.4/skin/layer.css ::::: */

html #layui_layer_skinlayercss { display: none; position: absolute; width: 1989px; }
