{php include wl_template('common/header');}
<div class="page-group">
    <div class="page page-current" id="page-goods-list">
    	<div class="bottom-box">
		    <div class="bottom-box__nav">
		        <a href="{php echo app_url('home/index')}" class="bottom-box__link">首页</a>
		        <a href="{php echo app_url('goods/lottery')}" class="bottom-box__link js-bottom-box__more ">抽奖专区</a>
		        <a href="{php echo app_url('order/mygroup/0')}" class="bottom-box__link">我的拼团</a>
		        <a href="{php echo app_url('member/home')}" class="bottom-box__link bottom-box__cart">个人中心</a>
		    </div>
		</div>
		<div class="content infinite-scroll native-scroll" data-distance="10" style="background-color: #ffce00;">
			<div class="modall" id="rule1">
			    <div class="modal-border">
			      <a href="javascript:;" class="modal-close js-modal-close"><i></i></a>
			      <div class="modal-window">
			        <h3 class="modal-title">活动规则</h3>
			        <div class="modal-body">
			          <ul>
			            <li>1.活动期间，拼团活动每天早上10:00上新商品，数量有限，抢完即止；</li>
			            <li>3.活动期间，抽奖拼团活动每天早上10:00上新商品，用户开团邀请用户参团。APP专享抽奖商品只允许使用拼团码参团且必须在APP内参团。所有抽奖商品开售48小时，停售后30分钟开奖，一等奖用户将获得该商品，二等奖用户将获全额退款及卷皮优惠券；</li>
			            <li>4.活动商品仅限中国大陆大部分地区购买；</li>
			            <li>5.活动期间，凡以不正常手段（包括但不限于作弊、虚假交易、扰乱系统、恶意刷单、实施网络攻击等）参与本次活动的用户，卷皮有权终止其参与活动的资格；</li>
			            <li>7.在法律允许范围内，卷皮对活动期间的各项规则保留最终解释权。</li>
			          </ul>
			          <div class="modal-btn js-modal-close"><span>知道了</span></div>
			        </div>
			      </div>
			    </div>
			</div>
			<div class="app main">
			    <div class="ptcode__wrap">
			        <div class="broadcast clearfix">
			            <!--<a href="javascript:;" class="broadcast__top-btn"></a>-->
			            <div class="broadcast__msg">
			                <div class="broadcast__msg-body">
			                    <ul class="x_newest_publish">
			                    	{loop $lists $list}
			                        <li>恭喜<span class="nickname">{$list['nickname']}</span>成功拼了{$list['title']}！</li>
			                        {/loop}
			                    </ul>
			                </div>
			            </div>
			        </div>
			    </div>
				<div class="section-header bg-thumbnail loaded" style="background-image: url({if empty($page1['top'])}http://act.juancdn.com/jpwebapp/sep09_16/_dist/pintuan/img/tab_header_0.jpg?2016090217{else}{php echo tomedia($page1['top']);}{/if});"></div>
			    <div id="goods_choujiang" class="swiper-section">
			        <p class="swiper-clock">
			            <span class="label-clock"></span>
			        </p>
			        <div class="tab-contents">
			            <ul class="goods-list clearfix ygoods-list active">
			            	{loop $goodses $lottery}
			                <li class="good-d3" data-id="16738484" data-type="3">
			                    <a href="{php echo app_url('goods/detail/display',array('goodstype'=>'lottery','id'=>$lottery['id']))}">
			                        <div class="good-img jiao-kuangh" style="background: none;">
			                            <div class="placeholder"></div>
			                            <img src="{php echo tomedia($lottery['gimg'])}" class="loaded">
			                            <span class="discount">截止时间：{php echo date('m-d H:i',$lottery['endtime'])}</span>
			                            <span class="buy-over" hidden=""></span>
			                        </div>
			                        <div class="good-line-title">{$lottery['gname']}</div>
			                        <div class="good-line-price">
			                            <span class="good-price-tag">抽奖价：</span>
			                            <span class="good-price">
			                                <sub>¥</sub>{$lottery['gprice']}</span>
			                            <span class="good-oprice">¥ {$lottery['oprice']}</span></div>
			                        <div class="good-line-btn">
			                            <button class="good-btn">马上开团</button></div>
			                    </a>
			                </li>
			                {/loop}
			            </ul>
			        </div>
			    </div>
			</div>
		</div>
	</div>
</div>
<script>
	$(document).on('click','.broadcast__top-btn',function(){
		$('#rule1').addClass('open');
	});
	$(document).on('click','.js-modal-close',function(){
		$('#rule1').removeClass('open');
	});

	function newnotice(){var a=0;$($(".x_newest_publish li")[0]).clone(!0).insertAfter($($(".x_newest_publish li")[$(".x_newest_publish li").length-1]));setInterval(function(){a-=20;a>=20*-($(".x_newest_publish li").length-2)?$(".x_newest_publish").animate({marginTop:a},2E3):$(".x_newest_publish").animate({marginTop:a},2E3,function(){a=0;$(".x_newest_publish").css({marginTop:0})})},4E3)};
	$(function () {
		newnotice();
	});
</script>
{php include wl_template('common/footer');}
	