

.clearfix, .city-picker-selector {
  *zoom: 1
}

.clearfix:after, .city-picker-selector:after {
  content: " ";
  display: table;
  height: 0;
  clear: both
}

.github {
  background: url(../images/github.png) no-repeat;
  background-size: contain;
  display: block;
  font-size: 0;
  width: 100px;
  height: 60px;
  position: fixed;
  top: 5%;
  right: 6%;
  -webkit-transform-origin: center;
  transform-origin: center;
  -moz-animation: icons 0.5s ease-out infinite alternate;
  -webkit-animation: icons 0.5s ease-out infinite alternate;
  animation: icons 0.5s ease-out infinite alternate
}

@-webkit-keyframes icons {
  0% {
    -webkit-transform: rotate(2deg) scale(1);
    transform: rotate(2deg) scale(1)
  }
  to {
    -webkit-transform: rotate(-2deg) scale(1.1);
    transform: rotate(-2deg) scale(1.1)
  }
}

@keyframes icons {
  0% {
    -webkit-transform: rotate(2deg) scale(1);
    transform: rotate(2deg) scale(1)
  }
  to {
    -webkit-transform: rotate(-2deg) scale(1.1);
    transform: rotate(-2deg) scale(1.1)
  }
}

h3 {
  font-size: 20px;
  margin-top: 50px;
  margin-bottom: 20px
}



.dome-main {
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  padding: 20px
}

.show-code {
  color: #6ab9d8;
  display: inline-block;
  padding: 0 2%
}

pre {
  padding-top: 20px;
  tab-size: 4;
  text-align: left;
  display: none
}

pre code {
  color: #666;
  font-size: 14px;
  line-height: 1.5
}

.btn-cont {
  padding-top: 10px
}

.btn {
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  background: #6ab9d8;
  font-size: 14px;
  width: 100px;
  height: 38px;
  outline: none;
  margin-right: 10px
}

.btn.btn-bg-1 {
  background: #a26ad8
}

.btn.btn-bg-2 {
  background: #d86a6a
}

.btn.btn-bg-3 {
  background: #6ad88a
}

.city-picker-selector .selector-item {
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 200px;
  height: 36px;
  line-height: 36px;
  float: left;
  margin-left: 20px;
  position: relative
}

.city-picker-selector .selector-item:first-child {
  margin-left: 0
}

.city-picker-selector .selector-item:after {
  content: '';
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  border-top: 6px solid #ccc;
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  top: 15px;
  right: 5px;
  -webkit-transition-duration: 400ms;
  transition-duration: 400ms
}

.city-picker-selector .selector-show .selector-list {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
  visibility: visible
}

.city-picker-selector .selector-show:after {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg)
}

.city-picker-selector .selector-name {
  border-radius: 5px;
  color: #333;
  font-size: 16px;
  display: block;
  text-indent: 5%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap
}

.city-picker-selector .selector-name:hover {
  background-color: #fdfdfd;
  border-radius: 5px
}

.city-picker-selector .selector-name.df-color {
  color: #999
}

.city-picker-selector .selector-name.forbid {
  cursor: default
}

.city-picker-selector .selector-name.disabled {
  background-color: #eef1f6;
  cursor: not-allowed
}

.city-picker-selector .selector-list {
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #fff;
  width: 100%;
  position: absolute;
  top: 44px;
  left: -1px;
  z-index: 1;
  -webkit-transition-duration: 400ms;
  transition-duration: 400ms;
  -webkit-transform: translateY(-2%);
  transform: translateY(-2%);
  opacity: 0;
  visibility: hidden;
  overflow: hidden
}

.city-picker-selector ul {
  max-height: 160px;
  overflow-x: hidden;
  overflow-y: auto
}

.city-picker-selector li {
  border-top: 1px solid #f7f7f7;
  color: #333;
  cursor: pointer;
  font-size: 14px;
  width: 90%;
  padding: 0 5%;
  height: 30px;
  line-height: 30px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap
}

.city-picker-selector li:first-child {
  border-top: none
}

.city-picker-selector li.placeholder-li {
  cursor: default
}

.city-picker-selector li strong {
  color: #6ab9d8;
  padding: 0 5px
}

.city-picker-selector li.caller:hover {
  background: #f5f5f5
}

.city-picker-selector li.caller.active, .city-picker-selector li.caller.active:hover {
  background: #6ab9d8;
  color: #fff
}

.city-picker-selector li.forbid {
  color: #999;
  font-size: 14px;
  cursor: not-allowed
}

.city-picker-selector .selector-search {
  border: 1px solid #ececec;
  border-top: none;
  background: #f8f8f8;
  font-size: 0;
  padding: 10px;
  height: 28px;
  margin-left: -1px;
  margin-right: -1px
}

.city-picker-selector .input-search {
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #333;
  font-size: 14px;
  width: 100%;
  height: 26px;
  line-height: 26px\9;
  padding: 0;
  text-indent: 5px
}

.city-picker-selector .input-search:focus {
  outline: none
}

.city-picker-selector .input-search::-webkit-input-placeholder {
  color: #bababa
}

select {
  border: 1px solid #ccc;
  background: #fff;
  border-radius: 5px;
  color: #333;
  font-size: 16px;
  outline: none;
  width: 160px;
  height: 36px;
  margin-right: 10px;
  box-shadow: 0 0 5px #eee
}

select:disabled {
  background-color: #eef1f6;
  cursor: not-allowed
}
