/* Write your styles */
body{ background-color: #f5f5f5; }
.pagemain{ max-width: 750px; margin: 0px auto; }


/*登录注册*/
.log-box{ position: fixed; bottom: 3%; width: 80%; left: 0; right: 0; padding-top: 15px; background-color: transparent; background:rgba(0, 0, 0, 0.5); }
.log-box{ border: 0px; }



/*底部导航*/
.footer{ background-color: #fff; text-align: center; height: 51px; z-index: 999; border-top: 1px solid #eee;  }
.footer a{ padding-top: 0px; display: block; width: 100%; height: 100%; color: #707070; }
.footer a p{ margin: 0px; font-size: 10px; line-height: 14px; }
.footer a.do p{ color: #dd514c; }
.footer a span{ width: 26px; height: 26px; background-repeat: no-repeat; background-size: 100% auto; display: block; overflow: hidden; margin: 3px auto 3px auto; }
.footer a.do span{ color: #dd514c; background-position:center bottom; }

/*公共 ~ 基础*/
.bg-fff{ background-color: #fff !important; }

/*公共 ~ 轮播图*/
.am-slider a.am-active{ background-color: #dd514c !important; }
.box-slider{ padding-top: 1rem; background-color: #fff; }

/*公共 ~ 媒体列表*/
.media-list{ background-color: #fff; padding: 0 1rem; margin: 0px; }
.media-list li:first-child{ border: 0px !important; }
.media-list img{ max-height: 100px; max-width: 140px; }
.media-list a{ color: #333; }

/*公共 ~ 页面Header*/
.page-header{ background-color: #dd514c; }


/*公共 ~ 九宫格导航*/
.default-nav{ text-align: center; margin-bottom: 15px; padding-top: 5px; padding-bottom: 5px; }
.default-nav li:first-child{ border-top: 0px !important;  }
.default-nav li a{ display: block; width: 100%; height: 100%; color: #333; padding-top: 10px; padding-bottom: 10px; border: 0px; }
.default-nav img{ width: 35px; }
.default-nav p{ margin: 5px auto 0 auto; font-size: 12px; }

/*公共 ~ 图片上传*/
.upimage-all li{ position: relative; }
.upimage-all li a{ position: absolute; right: 0.7rem; top: 0.2rem; }


/*公共 ~ 留言评论按钮*/
.messagebtn{ display: block; width: 42px; height: 42px; line-height: 42px; text-align: center; font-size: 18px; position: fixed; bottom: 60px; right: 15px; z-index: 999; color: #dd514c; background-color: #dd514c; border-radius: 50%; background:rgba(0, 0, 0, 0.2); }

.am-comment ul{ margin-left: 0px; margin-right: 0px; padding: 0px !important; }
.am-comment ul li{ padding: 0px !important; margin: 5px 5px 0px 0px; width: 21vw; height: 21vw; }
.am-comment ul li img{ margin: 0px; width: 100%; height: 100%; object-fit:cover; border:0px !important; }




/*系统首页*/
.home-nav{ border-top: 1px solid #eee; }

.noticebox{ line-height: 36px; height: 36px; overflow: hidden; padding-top: 0; padding-bottom: 0; border-bottom: 0; }
.noticebox i{ color: #757575; }
.noticebox ul{ list-style-type:none; padding-left: 0px; margin-bottom: 0px;  }
.noticebox ul li{ list-style-type:none; font-size: 14px;  }
.noticebox ul li a{ color: #757575; }



/*宣传平台*/


/*志愿服务*/


/*党费缴纳*/
.exp-info>div{ border-bottom: 1px solid #ddd; padding: 10px 0px; margin: 0px; }
.exp-info>div label{ font-weight: 500; font-size: 14px; margin-bottom: 0px; color: #757575; }

/*学习平台*/
.edusearch-box{ border-bottom: 1px solid #eee; background-color: #fff; top: 49px; display: none; }

.edulesson-box{}
.edulesson-box h3{ font-weight: 400; overflow : hidden; line-height: 20px; height: 40px; font-size: 1.4rem; }
.edulesson-box a{ color: #333; }
.edulesson-box .edu-themetip{ color: #ccc; float: right; }

.edulogbox{ height: 72px; overflow: hidden; border-top: 2px solid #f5f5f5; margin-bottom: 10px !important; }
.edulogbox li{ height: 72px; overflow: hidden; border: 0px !important; }
.edulogbox li img{ width: 48px !important; height: 48px !important; }
.edulogbox li h3{ height: 48px; overflow: hidden; line-height: 24px; }

.edustustatus-nav{  }
.edustustatus-nav li:first-child{ border-right: 2px solid #f5f5f5; }
.edustustatus-nav a{ color: #dd514c; display: block; padding: 15px 5px 5px 5px; line-height: 24px; }
.edustustatus-nav span{ font-size: 12px; color: #757575; }

.educhapter-foot{ position: fixed; bottom: 51px; text-align: center; background-color: #f5f5f5; line-height: 42px; }
.educhapter-foot>div{ border-right: 1px #fff solid; border-left: 1px #fff solid; color: #757575; }
.educhapter-foot>div a{ color: #757575; }

/*监督平台*/
.sup-nav{ padding-top: 0px; padding-bottom: 0px; }
.sup-nav li a{ padding-top: 35px; padding-bottom: 35px;  border:1px solid #eee; }
.sup-nav p{ font-size: 16px; }

/*活动平台*/
.actenrollbox{ height: 72px; overflow: hidden; }
.actenrollbox li{ height: 72px; overflow: hidden; border: 0px !important; }
.actenrollbox li img{ width: 48px !important; height: 48px !important; }
.actenrollbox li h3{ height: 48px; overflow: hidden; line-height: 24px; }

.act-info p{ line-height: 28px; margin: 0px; }
li.nosign{ color: #dd514c; }
li.nosign img{ border-color: #dd514c }


/*积分排行榜*/
.itypebox>a{ top: 0px !important; color: #0e90d2 !important; width: 60px !important; }
.iyearbox>a{ right: 130px !important; }
.iseasonbox>a{ right: 70px !important; }
.imonthbox>a{ right: 10px !important; }

.intrank-list li:first-child span.am-badge{ background-color: #dd514c !important; }
.intrank-list li:nth-child(2) span.am-badge{ background-color: #f37b1d !important; }
.intrank-list li:nth-child(3) span.am-badge{ background-color: #e99c6a !important; }


/*个人中心*/
.myhead{ position: relative; padding: 85px 15px 0px 15px; background-image: url(mypic.jpg); background-repeat: repeat-y; background-size: 100% auto; background-position:center center }
.myhead .myinfo{ position: absolute; right: 30px; top: 20px; color: #fff; }
.myhead-info{ background-color: #fff; width: 100%; height: 70px; padding-left: 90px; padding-top: 5px; position: relative; bottom: -20px; }
.myhead-info .headpic{ width: 70px; height: 70px; position: absolute; left: 10px; top: -20px; }
.myhead-info p{ margin: 0px; }
.myhead-info p.ulevel{ font-size: 12px; color: #757575; }
.myhead-info .intinfo{ position: absolute; right: 10px; top: 10px; font-size: 18px; line-height: 30px; border-left: 1px solid #ddd; padding-left: 10px; }
.myhead-info .intinfo span{ font-size: 12px; color: #757575; }

.mynotice{ margin: 0px 15px 10px 15px; padding: 10px 10px 10px 75px; height: 70px; position: relative; background-color: #fff;}
.mynotice img{ position: absolute; width: 50px; height: 50px; top: 10px; left: 10px; }
.mynotice a{ color: #333333; }
.mynotice h3{ margin: 0px; line-height: 28px; }
.mynotice h3 span{ float: right; font-size: 14px; color: #757575; }
.mynotice p{ margin: 0px; color: #757575; font-size: 14px; height: 22px; overflow: hidden; text-align: justify; }

.mynavbox{ margin: 0px 15px 10px 15px; background-color: #fff; }
.mynavbox li{ text-align: center; border-right: 1px solid #ddd; border-bottom: 1px solid #ddd; }
.mynavbox li a{ display: block; padding: 15px 0px; color: #333333; }
.mynavbox img{ width: 28px; height: 28px; }
.mynavbox p{ margin: 0px; padding-top: 10px; font-size: 14px; }

.my-nav{ margin: 0px 15px 10px 15px; border: 0px;}
.my-nav li{ background-repeat: no-repeat; background-size: 18px 18px; background-position: 15px center; padding-left: 35px; border-bottom: 1px solid #ddd; border-left: 0px; border-right: 0px; border-top: 0px; margin-bottom:0px; }
.my-nav li span{ float: right; color: #757575; }
.my-nav li a{ color: #333333; font-size: 14px; line-height: 26px; }

.my-branch{ background-image: url(my-branch.png); }
.my-aboutus{ background-image: url(my-aboutus.png); }
.my-telephone{ background-image: url(my-telephone.png); }



/*组织成员*/
.mybranch-box{ margin-bottom: 15px; }
.mybranch-til{ background-color: #fff; text-align: center; border-bottom: 2px solid #dd514c; color: #dd514c; line-height: 42px; }
.mybranch-con{ background-color: #fff; list-style: none; padding: 0px; margin: 0px; border-bottom: 1px solid #ddd; }
.mybranch-con li{ list-style: none; }
.mybranch-con li:last-child .userinfo{ border-bottom: 0px; }
.mybranch-con a{ display: block; padding: 0px 0px 0px 80px; height: 70px; position: relative; }
.mybranch-con a img.headpic{ position: absolute; top: 10px; left: 15px; width: 50px; height: 50px; border-radius:5px; border:1px solid #ddd; }
.mybranch-con a .userinfo{ position:relative; border-bottom:1px solid #ddd; padding:10px 15px 10px 0px; height: 70px; overflow: hidden; }
.mybranch-con a .userinfo .userdetails{ position: absolute; right: 15px; top: 22px; width: 28px; height: 28px; }
.mybranch-con a p{ margin: 0px;  }
.mybranch-con a p.realname{ color: #333333; line-height: 30px; }
.mybranch-con a p.leadname{ font-size: 12px; color: #757575; line-height: 20px; }

/*党员档案*/
.userhead{ position: relative; padding: 85px 15px 0px 15px; background-image: url(mypic.jpg); background-repeat: repeat-y; background-size: 100% auto; background-position:center center }
.userhead-info{ background-color: #fff; width: 100%; height: 70px; padding-left: 90px; padding-top: 5px; position: relative; bottom: -20px; }
.userhead-info .headpic{ width: 70px; height: 70px; position: absolute; left: 10px; top: -20px; }
.userhead-info p{ margin: 0px; }
.userhead-info p.ulevel{ font-size: 12px; color: #757575; }

.usernav{ margin-top: 35px; margin-left: 15px; margin-right: 15px; margin-bottom: 0px; border: 0px; }
.usernav li{ background-repeat: no-repeat; background-size: 18px 18px; background-position: 10px center; border-bottom: 1px solid #ddd; border-left: 0px; border-right: 0px; border-top: 0px; margin-bottom:0px; color: #757575; font-size: 16px; line-height: 32px; padding: 10px 10px 10px 40px; }
.usernav li span{ float: right; color: #333333; }
.usernav li a{ float: right; display: block; color: #0e90d2; padding: 0px; }
.usernav li.user-lead{ padding: 10px; }

.user-ulevel{ background-image: url(mybranchuser-ulevel.png); }
.user-branchid{ background-image: url(mybranchuser-branchid.png); }
.user-partyday{ background-image: url(mybranchuser-partyday.png); }
.user-mobile{ background-image: url(mybranchuser-mobile.png); }
.user-leader{ background-image: url(mybranchuser-leader.png); }



/*修改头像*/
#clipArea { height: 300px; }
#view { margin: 0 auto;width: 150px;height: 210px;background-color: #666;}


/*考试系统*/
.exahome-more{ font-size: 14px; color: #999 !important; }
.exaitembox{ }
.itembox{ margin-bottom: 20px; font-size: 16px; color: #666; }
.itembox .am-ucheck-icons i{ margin-top: 2px; }
.switchitem i{ font-size: 10px; font-style: normal; }
.exadaypic{ position: fixed; bottom: 60px; right: 0px; display: block; width: 150px; height: 150px; z-index: 9999; }
.exadaypic img{ width: 100%; height: 100%; }


/*党员论坛*/


.headuser{ position: relative; padding-left: 60px; }
.headuser img{ position: absolute; width: 50px; height: 50px; left: 0px; top: 0px;}
.headuser p{ margin: 0px; line-height: 25px; }

.listheaduser{ position: relative; border-bottom: 1px dashed #ddd; padding-left: 60px !important; }
.listheaduser img{ position: absolute; width: 50px; height: 50px; left: 0px; top: 6px;}
.listheaduser p{ margin: 0px; line-height: 25px; font-size: 12px; color: #666; }
.bbslist-details p a{ display: block; color: #0e90d2; }
.bbslist-details p.detailsp{ display: none; }

.bbscomment ul{ margin-left: 0px; margin-right: 0px; padding: 0px !important; }
.bbscomment ul li{ padding: 0px !important; margin: 5px 5px 0px 0px; width: 29vw; height: 29vw; }
.bbscomment ul li img{ margin: 0px; width: 100%; height: 100%; max-height: none; object-fit:cover; border:0px !important; }


.zanlist{ color: #0e90d2; text-align: justify; border: 0px; background-color: #f2f2f2;font-size: 1.4rem;line-height: 1.5;padding: 10px !important;}
.zanlist span{ display: inline-block; margin-right: 3px; }
.replylist{ background-color: #f2f2f2; border: 0px; border-top: 2px solid #fff;color: #666;font-size: 1.4rem;line-height: 1.5;padding: 10px !important;}
.replylist p:last-child{ margin-bottom: 0px; }
.replylist span{ color: #0e90d2; }
.replylist a{ display: block; width: 60px; color: #0e90d2; }

.bbsmydetails{ border-top: 1px dashed #ddd; color: #999; font-size: 14px; padding: 5px 0px 0px 0px; margin-top: 10px;  }
.bbsmydetails span{ color: #0e90d2; }

