<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <title>核销卡券</title>
        <link rel="stylesheet" href="../addons/crad_qrcode_red/template/mobile/css/mui.css" />
        <link rel="stylesheet" href="../addons/crad_qrcode_red/template/mobile/css/write_off.css" />
        <link rel="stylesheet" href="../addons/crad_qrcode_red/template/mobile/css/bootstrap.css" />
        <link rel="stylesheet" href="../addons/crad_qrcode_red/template/mobile/css/font-awesome.css" />
        <link rel="stylesheet" href="../addons/crad_qrcode_red/template/mobile/css/bootstrap-datetimepicker.min.css" />
        <script type="text/javascript" src="../addons/crad_qrcode_red/template/mobile/js/jquery-3.2.1.min.js" ></script>
        <script type="text/javascript" src="../addons/crad_qrcode_red/template/mobile/js/mui.min.js" ></script>
        {php echo register_jssdk(false);}
        <script>
            $(document).ready(function () {
                $(".cont_one").click(function () {
                    $(this).addClass("ins").siblings().removeClass("ins");
                  
                });
            });

        </script>
    </head>
    <body>
        <div class="cont">
            <div class="cont_one ins" onclick="$('.top').hide()" id="qrcode_scan">扫一扫核销</div>
            <div class="cont_one" onclick="$('.top').show()">Code码核销</div>
        </div>
        <div class="top_boos">
            <div class="top" hidden>
                <div class="suo">
                    <div class="top_two">
                        <input type="text"  placeholder="请输入Code码" name="code" id="code"/>
                    </div>
                    <div class="top_one">
                        <div class="one_li">
                            核销
                        </div>
                    </div>
                </div>
            </div>
        </div>
          <!--弹窗-->
        <div class="code" {if empty($coupon_info)||$coupon_info['status']!=1}hidden{/if}>
            <div class="code_li">
                <div class="dialogs">
                    <div class="dialogs_topsb">
                        <span class="mui-icon mui-icon-close guang"></span>
                    </div>
                    <div class="outtime">
                        <div class="outtime_one">
                            <img src="{$coupon_user['headimgurl']}" />
                            {$coupon_user['nickname']}
                        </div>
                    </div>
                    <div class="dialogs_center">
                        <!--折扣券-->
                        <div class="list_he" {if $coupon_info['coupon_type']!=1}hidden{/if}>
                            <div class="green">
                                <div class="green_center">
                                    <div class="lin">
                                        <div class="lin_one">
                                            <div class="green_top">
                                                <div class="idmun">
                                                    <div class="area">
                                                        折扣券
                                                    </div>
                                                </div>
                                                <div class="time">到期时间：{if $coupon_info['end_expiration']}{$coupon_info['end_expiration']}{else}永久有效{/if}</div>
                                            </div>
                                            <div class="yellow">
                                                <span>核</span>
                                            </div>
                                            <div class="mark">
                                                {if $coupon_info['use_condition']}{$coupon_info['use_condition']}{else}无门槛{/if}
                                            </div>
                                            <div class="news">
                                                {if $shop['image_logo']}
                                                <div class="logo">
                                                    <img src="{php echo tomedia($shop['image_logo'])}" />
                                                </div>  
                                                {/if}
                                                <div class="money">
                                                    <div class="money_one">
                                                        {php echo $coupon_info['coupon_content']['discount']/10} <span>折</span>
                                                    </div>
                                                    <div class="money_two">
                                                        <div class="zuo">
                                                            <span>{$shop['name']}</span>
                                                        </div>
                                                        <div class="you">

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--现金券-->
                        <div class="list_he" {if $coupon_info['coupon_type']!=2}hidden{/if}>
                            <div class="green">
                                <div class="green_center">
                                    <div class="lin">
                                        <div class="lin_one">
                                            <div class="green_top">
                                                <div class="idmun">
                                                    <div class="area" style="background: #ff7272;">
                                                        现金券
                                                    </div>
                                                </div>
                                                <div class="time">到期时间：{if $coupon_info['end_expiration']}{$coupon_info['end_expiration']}{else}永久有效{/if}</div>
                                            </div>
                                            <div class="yellow">
                                                <span>核</span>
                                            </div>
                                            <div class="mark">
                                                {if $coupon_info['use_condition']}{$coupon_info['use_condition']}{else}无门槛{/if}
                                            </div>
                                            <div class="news">
                                                {if $shop['image_logo']}
                                                <div class="logo">
                                                    <img src="{php echo tomedia($shop['image_logo'])}" />
                                                </div>  
                                                {/if}
                                                <div class="money">
                                                    <div class="money_one">
                                                       {$coupon_info['coupon_content']['reduce_cost']} <span>元</span>
                                                    </div>
                                                    <div class="money_two">
                                                        <div class="zuo">
                                                            <span>{$shop['name']}</span>
                                                        </div>
                                                        <div class="you">

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--礼品券-->
                        <div class="list_he" {if $coupon_info['coupon_type']!=3}hidden{/if}>
                            <div class="green">
                                <div class="green_center">
                                    <div class="lin">
                                        <div class="lin_one">
                                            <div class="yellow">
                                                <span>核</span>
                                            </div>
                                            <div class="money_er">
                                                <div class="green_top">
                                                    <div class="idmun">
                                                        <div class="area" style="background: #3dc34a;">
                                                            礼品券
                                                        </div>
                                                    </div>
                                                <div class="time">到期时间：{if $coupon_info['end_expiration']}{$coupon_info['end_expiration']}{else}永久有效{/if}</div>
                                                </div>
                                                <div class="money_one_er">
                                                    {$coupon_info['coupon_content']['gift']}
                                                </div>
                                                <div class="money_two">
                                                    <div class="zuo_er">
                                                        {if $shop['image_logo']}
                                                        <div class="shen">
                                                            <img src="{php echo tomedia($shop['image_logo'])}" />
                                                        </div>  
                                                        {/if}
                                                        <div class="shen_two">{$shop['name']}</div>
                                                    </div>
                                                    <div class="you_er">
                                                        <span>{if $coupon_info['use_condition']}{$coupon_info['use_condition']}{else}无门槛{/if}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="xuans">
                        <div class="dialogs_yes" onclick="consume({$id},'{$coupon_info['code']}')">核销</div>
                        <div class="dialogs_no" >取消</div>
                    </div>
                </div>
            </div>
        </div>
        <script>

                $(".guang,.dialogs_no").click(function () {
                    $(".code").hide();
                });

        </script>
        {template 'shop_footer'}
    </body>
</html>
<script type="text/javascript" src="../addons/crad_qrcode_red/template/mobile/js/bootstrap-datetimepicker.js" ></script>
<script type="text/javascript" src="../addons/crad_qrcode_red/template/mobile/js/mui.min.js" ></script>



<script type="text/javascript">
                $("#qrcode_scan").click(function () {
                    $('.top').hide();
                    wx.scanQRCode({
                        needResult: 1,
                        scanType: ["qrCode", "barCode"], // 可以指定扫二维码还是一维码，默认二者都有
                        success: function (res) {
                            var result = res.resultStr;
                            if (result.length < 21) {
                                $.get(
                                        "{php echo $this->createMobileUrl('ajax_shop', array('token'=>$token, 'shopid' => $shopid))}",
                                        {"op": "get_couponid", "code": result}, function (data) {
                                    if (data.sta == 1) {
                                                                         location.href = "{php echo $this->createMobileUrl('coupon_consume', array('token'=>$token, 'shopid' => $shopid))}" + '&id='+data.id;

                                        return;
                                    }
                                    show_message(0, data.error, 3000, 1);

                                }, "json");

                            }else{
                                window.location.href=result;
                            }
                        }
                    });
                });



                $(".one_li").click(function () {
                    var code = $('#code').val();
                    if (code.length >0 && code.length < 21) {
                        $.get(
                                "{php echo $this->createMobileUrl('ajax_shop', array('token'=>$token, 'shopid' => $shopid))}",
                                {"op": "get_couponid", "code": code}, function (data) {
                            if (data.sta == 1) {
                                 location.href = "{php echo $this->createMobileUrl('coupon_consume', array('token'=>$token, 'shopid' => $shopid))}" + '&id='+data.id;
                                return;
                            }
                            show_message(0, data.error, 3000, 1);

                        }, "json");

                    } else {
                        show_message(0, '请输入正确的Code码核销', 3000, 1);
                    }
                });



                function consume(id,code) {
                    $(".code").hide();
                    var btnArray = ['确定', '取消'];
                    var run_confim = false;
                    mui.confirm('你确定要核销Code码：'+code+' 的卡券吗？', '核销提示', btnArray, function (e) {
                        if (e.index == 0 && !run_confim) {
                            run_confim = true;
                            $.get(
                                    "{php echo $this->createMobileUrl('ajax_shop', array('token'=>$token, 'shopid' => $shopid))}",
                                    {"op": "consume", "id": id},
                                    function (data) {
                                        if (data.sta == 1) {
                                            show_message(1, '核销成功', 3000, 1);
                                            return;
                                        }
                                        show_message(0, data.error, 3000, 1);
                                    },
                                    "json"
                                    );
                        }
                    });

                }



</script>
