{template 'common/header'}
<style>
	.xtx{width:42px;height:42px;border-radius:21px;}
	.mb10{margin-bottom:10px;}
	.uhide{display:none;}
</style>


<div class="panel panel-default mb10">
  <div class="panel-heading">
    <h3 class="panel-title">志愿活动列表</h3>
  </div>
  <div class="panel-body">

  	
    <table class="table">
    	<thead>
    		<tr>
    			<th>ID</th>
    			<th>报名活动</th>
    			<th>人数</th>
    			<th>操作</th>
    		</tr>
    	</thead>
    	<tbody>
    		{loop $reportlist1 $key $item}
    		<tr>
    			<td>{$item['nid']}</td>
    			<td>{$item['ntitle']}</td>
    			<td>{php echo getreportnum($item['weid'],$item['nid'])}</td>
    			<td>
    				<a href="{php echo $this->createWebUrl('report',array('nid'=>$item['nid']));}">
						<button type="button" class="btn btn-info">查看</button>
					</a>
    			</td>				   			
    		</tr>
    		{/loop}
    	</tbody>
    </table>
    


  </div>
</div>

{$pager1}
		


<div class="panel panel-default mb10">
  <div class="panel-heading">
    <h3 class="panel-title">报名记录列表</h3>
  </div>
  <div class="panel-body">

  	
    <table class="table">
    	<thead>
    		<tr>
    			<th>ID</th>
    			<th>报名活动</th>
    			<th>头像</th>
    			<th>真实姓名</th>
    			<th>联系电话</th>
    			<th>报名时间</th>
    		</tr>
    	</thead>
    	<tbody>
    		{loop $reportlist $key $item}
    		<tr>
    			<td>{$item['reid']}</td>
    			<td>{$item['ntitle']}</td>
    			<td><img src="{php echo tomedia($item['avatar'])}" class="xtx"></td>
    			<td>{$item['username']}</td>
    			<td>{$item['telephone']}</td>
    			<td>{php echo gettime($item['createtime'])}</td>				   			
    		</tr>
    		{/loop}
    	</tbody>
    </table>
    
    
  </div>
</div>

{$pager}
		






{template 'common/footer'}





