.footer-idx{overflow:hidden;position:fixed;bottom:0;left:0;right:0;background-color:#fff;border-top:1px solid #e5e5e5;z-index:10}
.fd-nav{overflow:hidden;text-align:center;padding-bottom:3px}
.fd-nav a{display:block;float:left;width:20%;font-size:12px;color:#939393;line-height:16px}
.fd-nav a i{display:block;width:30px;height:30px;background-repeat:no-repeat;background-position:center center;-webkit-background-size:cover;-moz-background-size:cover;-ms-background-size:cover;-o-background-size:cover;background-size:cover;margin:0 auto}
.fd-nav a .icon2{display:none}
.fd-nav a.on{color:#f51f4e}
.fd-nav a.on .icon1{display:none}
.fd-nav a.on .icon2{display:block}