.footer-shoucang{overflow:hidden;height:50px;position:fixed;bottom:0;left:0;width:100%}
.footer-shoucang .l{width:40%;background-color:#fff;line-height:50px}
.footer-shoucang .l .all{display:block;margin-left:20px;padding-left:25px;position:relative;font-size:14px;color:#707070}
.footer-shoucang .l .all:after{content:"";width:20px;height:20px;border-radius:50%;border:1px solid #7a7a7a;position:absolute;left:0;top:50%;margin-top:-10px}
.footer-shoucang .l .all.on{color:#ff4b59}
.footer-shoucang .l .all.on:after{border:1px solid #d4237a;background:url(../images/yes.png) center center no-repeat;background-size:contain}
.footer-shoucang .r{float:none;overflow:hidden;line-height:50px}
.footer-shoucang .r .s{float:left;width:50%;text-align:center}
.footer-shoucang .r .s a{display:block;color:#fff;font-size:14px}
.footer-shoucang .r .s1{background-color:#37d300}
.footer-shoucang .r .s2{background-color:#ffae00}