.footer.share{height:50px;padding:0;box-shadow:none;background-color:#f6f7fb}
.footer.share .div-a{padding-top:10px;margin-left:20px}
.footer.share .div-a+.div-a{margin-left:30px}
.footer.share .btn{width:52%}
.footer.share .btn a{height:50px;line-height:50px;border-radius:0}
.footer.share .btn .a1{background:#8800df}
.footer.share .btn .a2{background:#fd5430}