.ul-prolist{overflow:hidden;margin:0 -2px;background-color:#f0f0f0}
.ul-prolist li{float:left;width:50%;margin-bottom:3px}
.ul-prolist a{display:block;margin:0 2px;background-color:#fff}
.ul-prolist .pic{padding-top:100%;overflow:hidden;position:relative}
.ul-prolist .pic img{width:100%;height:100%;position:absolute;top:0;left:0}
.ul-prolist .pic .tips{position:absolute;right:0;bottom:19px;width:58px;height:20px;text-align:center;line-height:20px;background:center center no-repeat;background-size:auto 100%;font-size:10px;color:#fff;border-radius:30px 0 0 30px}
.ul-prolist .txt{padding:9px}
.ul-prolist .tit{white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-weight:400;font-size:13px;color:#000}
.ul-prolist .txt .s1{padding:8px 0;overflow:hidden;font-size:11px;color:#707070}
.ul-prolist .txt .s1 .l{text-decoration:line-through}
.ul-prolist .txt .s2{overflow:hidden}
.ul-prolist .txt .s2 .l{color:#e70034}
.ul-prolist .txt .s2 .l em{font-size:10px}
.ul-prolist .txt .s2 .l span{font-size:18px;font-weight:700}
.ul-prolist .txt .s2 .l span sub{font-weight:400;position:relative;top:-4px}
.ul-prolist .txt .quan{width:55px;height:18px;background:center center no-repeat;background-size:contain;position:relative;top:3px}
.ul-prolist .txt .quan em{font-size:12px;color:#e70034;text-align:center;display:block;position:absolute;right:4px;left:24px;top:1px}
.ul-prolist .txt .s3{overflow:hidden}
.ul-prolist .txt .s3 .l{color:#e70034;font-size:20px}
.ul-prolist .txt .s3 .l span{font-size:11px}
.ul-prolist .txt .s3 .r{font-size:11px;color:#707070;text-decoration:line-through}
.ul-prolist .txt .s3 .r span{position:relative;top:10px}
.ul-prolist .txt .s4{overflow:hidden}
.ul-prolist .txt .s4 .r span{font-size:11px;color:#707070;position:relative}
@media only screen and (max-width:360px){
.ul-prolist .txt .s2 .l span{font-size:16px}
.ul-prolist .txt .s3 .l{font-size:14px}
.ul-prolist .txt .s3 .r span{top:3px}
}