.ul-quan2 li{margin-bottom:4px}
.ul-quan2 .con{overflow:hidden;padding:11px 20px 15px 12px;background-color:#fff}
.ul-quan2 .pic{overflow:hidden;float:left;width:95px;height:95px;border-radius:5px}
.ul-quan2 .pic img{display:block;width:100%;height:100%}
.ul-quan2 .txt{overflow:hidden;margin-left:107px}
.ul-quan2 .tit{overflow:hidden;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;font-size:13px;color:#000;font-weight:400}
.ul-quan2 .g-tb,.ul-quan2 .g-tm{margin-right:3px}
.ul-quan2 .s1{font-size:0;padding:5px 0 8px}
.ul-quan2 .s1 span{color:#ee2c23;font-size:14px}
.ul-quan2 .s1 em{margin-left:10px;margin-right:4px;font-size:11px;color:#707070}
.ul-quan2 .s1 .tdl{text-decoration:line-through}
.ul-quan2 .s2{overflow:hidden}
.ul-quan2 .s2 .btn{float:left;margin-right:10px;height:19px;line-height:20px;background:center center no-repeat;background-size:contain;font-size:11px}
.ul-quan2 .s2 .btn1{background-image:url(../images/quan3.png);position:relative;color:#fd00b0;width:78px}
.ul-quan2 .s2 .btn1 em{position:absolute;right:10px;top:0}
.ul-quan2 .s2 .btn2{background-image:url(../images/quan4.png);text-align:center;width:75px;color:#fe00af}
@media only screen and (max-width:360px){
.m-ht15 .ul-quan2 .txt{margin-left:90px}
.m-ht15 .ul-quan2 .s2 .btn1{width:75px}
.m-ht15 .ul-quan2 .s2 .btn2{margin-right:0}
.m-ht15 .ul-quan2 .pic{width:85px;height:85px}
}