{template 'public/header'}

{template 'public/comhead'}

<link rel="stylesheet" type="text/css" href="../addons/yzpx_sun/template/public/ygcss.css">

<ul class="nav nav-tabs">
    <span class="ygxian"></span>
    <div class="ygdangq">当前位置:</div>
    <li class="active"><a href="javascript:void(0);">管理员添加</a></li>
    <li><a href="{php echo $this->createWebUrl('user');}"><i class="fa fa-refresh"></i>返回用户列表</a></li>
</ul>
<div class="main ygmain">
    <form action="" method="post" class="form-horizontal form" enctype="multipart/form-data">
        <div class="panel panel-default ygdefault">

            <div class="panel-heading wyheader">

                管理员添加

            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">用户id</label>

                    <div class="col-sm-9">
                        <input type="text" name="uid" class="form-control" value="{$info['uid']}" onblur="findname()" {if $info['uid'] > 0 } readonly{/if}/>
                        <span class="help-block" id="username">用户id请在用户管理查询</span>

                    </div>
                </div>
                <div class="form-group">
                    <label  class="col-sm-2 control-label">管理员权限</label>
                    <div class="col-sm-10">
                        <label class="radio-inline">
                            <input onchange="check(this)" type="radio" name="isadmin" value="2"/>
                            <label >分校校长</label>
                        </label>
                        <label class="radio-inline">
                            <input onchange="check(this)" type="radio"  name="isadmin" value="3"  />
                            <label>老师</label>
                        </label>
                        <span class="help-block" >* 一个分校只能添加一个校长，一个老师只能绑定一个用户</span>
                    </div>
                </div>
                <div class="form-group" id="school">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">选择分校</label>
                    <div class="col-sm-10">
                        <select name="sid">
                            {loop $school $sval}
                            <option value="{$sval['id']}" >{$sval['name']}</option>
                            {/loop}
                        </select>
                    </div>
                </div>
                <div class="form-group" id="teacher">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">选择老师</label>
                    <div class="col-sm-10">
                        <select name="tid">
                            {loop $teacher $svals}
                            <option value="{$svals['id']}">{$svals['name']}</option>
                            {/loop}
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">

            <input type="submit" name="submit" value="保存设置" class="btn col-lg-3" style="color: white;background-color: #444444;margin-left: 550px;"/>

            <input type="hidden" name="token" value="{$_W['token']}" />
            <input type="hidden" name="id" value="{$info['id']}" />

        </div>

    </form>

</div>
<script type="text/javascript">
    $(function(){
        $("#frame-11").show();
        $("#yframe-11").addClass("wyactive");
        $('#school').hide();
        $('#teacher').hide();
    })
    function check(e) {
        var isadmin = $(e).attr('value');
        if(isadmin ==2){
            $('#school').show();
            $('#teacher').hide();
        }else if(isadmin==3){
            $('#school').hide();
            $('#teacher').show();
        }
    }
    function findname() {
        var uid=$('input[name="uid"]').val();
        $.ajax({
            type:"post",
            url:"{php echo $this->createWebUrl('addadmin',array('op'=>'findname'))}",
            dataType:"json",
            data:{uid:uid},
            success:function(data){
                console.log(data);
                if(data){
                    $('#username').html('请确认用户昵称为：'+data.user_name);
                }else{
                    $('#username').html('当前用户不存在');
                }

            }
        })
    }
</script>