<!DOCTYPE html>
<html lang="en">
<head>
    {template 'common/edithead'}
    <!--微擎 -->
    <!--这个放在最后一切平白安全-->
    <script type="text/javascript" src="./resource/js/require.js?v=20170915"></script>
</head>
<body class="nav-md" style="min-width: 800px">
<div>
    <div class="container xc_edit_from">
        <div class="main_container" style="overflow-x: hidden;min-height: 100vh;background-color: white;width: 100%;">
            <div class="col-md-12 col-xs-12">
                <div class="x_panel">

                    <div class="page-header">
                        <h3>首页广告设置</h3>
                    </div>


                    <div class="x_content">
                        <br/>
                        <form action="{php echo $this->createWebUrl($_GPC['do'], array('op'=>'save_ad'));}"
                              method="post"
                              class="form-horizontal form" id="form">


                            <div class="form-group">
                                <label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">图片</label>
                                <div class="col-xs-12 col-sm-8">
                                    {php echo tpl_form_field_image('xc[img]',$xc['contents']['img']);}
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">链接</label>
                                <div class="col-xs-12 col-sm-8">
                                    <div class="input-group">
                                    <input type="text" class="form-control" name="xc[link]" value="{$xc['contents'][link]}">
                                        <sapn class="input-group-addon" data-toggle="modal" data-target="#Link" onclick="modobj=this">选择链接</sapn>
                                    </div>
                                </div>
                            </div>


                            <div class="form-group">

                                <label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">状态</label>
                                <div class="col-xs-12 col-sm-3">
                                    <input type="checkbox" class="js-switch" value="1" name="xc[status]"
                                           data-value="{$xc['status']}" data-field="status">
                                </div>
                            </div>


                            <div class="row xc_btnmar"></div>
                            <div class="form-group xc_btn_row">
                                <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10 col-sm-offset-3 col-md-offset-2 col-lg-offset-2">
                                    <input type="hidden" name="id" value="{$xc['id']}"/>
                                    <input name="submit" type="submit" value="提交" class="btn btn-primary"/>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{template 'common/link'}
{template 'common/editfoot'}
<script>
    $(function () {
        $("input[name='xc[theme_type]']").change(function () {
            $("#theme_2_tab").toggle();
        });
        if ($('#theme_2').is(":checked")) {
            $("#theme_2_tab").show();
        }
    })
</script>
<script>

    /*标题名称的修改*/
    if ($("[name='id']").val() == "0" || $("[name='id']").val() == "") {
        $("#xtitle").html("增加")
    }
    else {
        $("#xtitle").html("修改")
    }


    $.validator.setDefaults({
        highlight: function (e) {
            $(e).closest(".col-xs-12").removeClass("has-success").addClass("has-error")
        }, success: function (e) {
            e.closest(".col-xs-12").removeClass("has-error").addClass("has-success")
        }, errorClass: "help-block m-b-none", validClass: "help-block m-b-none"
    }), $().ready(function () {
        var e = "<i class='fa fa-times-circle'></i> ";
        var vlidp = {
            rules: {
                "xc[img]": {url: false},

            },
            messages: {
                "xc[mobanid]": {required: e + "请选择模版"}
            },
            submitHandler: function (form) {
                xajaxfrom(form);
                return false;
            }
        };
        $("#form").validate(vlidp);
    });


    function message(data) {
        $mesoption = {};
        $mesoption["timer"] = 1000;
        $mesoption["type"] = replyrdata[data["status"]];
        $mesoption["title"] = data["message"];
        $mesoption["text"] = data["message"];
        swal($mesoption);

    }

    function xajaxfrom(form) {
        $actfrom = $(form);
        var $postdate = $actfrom.serialize();
        $('#form [type="checkbox"]:not(":checked")').each(function () {
            $postdate = $postdate + "&" + $(this).attr("name") + "=-1";
        });
        xpagecss.xload();
        $.ajax({
            type: $(form).attr("method"),
            url: $(form).attr("action"),
            dataType: "json",
            data: $postdate,
            success: function (msg) {
                message(msg)
            }
        });
    }

</script>

</body>
</html>