<!DOCTYPE html>
<html lang="en">
<head>
    {template 'common/edithead'}
    <!--微擎 -->
    <!--这个放在最后一切平白安全-->
    <script type="text/javascript" src="./resource/js/require.js?v=20170915"></script>
    <style type="text/css">
        .delitem {
            position: absolute;
            right: -10px;
            top: -10px;
            cursor: pointer;
            z-index: 10;
        }

    </style>
</head>
<body class="nav-md" style="min-width: 800px">
<div>
    <div class="container xc_edit_from">
        <div class="main_container" style="overflow-x: hidden;min-height: 100vh;background-color: white;width: 100%;">
            <div class="col-md-12 col-xs-12">
                <div class="x_panel">
                   充值设置
                    <div class="x_content">
                        <br/>
                        <form action="{php echo $this->createWebUrl($_GPC['do'], array('op'=>'save_recharge'));}"
                              method="post"
                              class="form-horizontal form" id="form">
                            <div class="form-group">
                                <label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">充值金额</label>
                                <div id="rechange" class="col-xs-12 col-sm-10">
                                    {if !empty($xc['contents']['value'])}
                                    {loop $xc['contents']['value'] $idnex $vo}
                                    <div class="col-xs-12 col-sm-3  rechange-item" style="margin-bottom: 30px">
                                        <div class="input-group"><span class="input-group-addon"><i class="fa fa-bars" aria-hidden="true"></i>
                            </span>
                                            <div class="input-group" style="margin-bottom: 0px;width:100%;">
                                                <span class="input-group-addon">金额</span>
                                                <input type="number" name="xc[value][fee][]" class="form-control" placeholder="金额" value="{$vo['fee']}"/>
                                            </div>

                                            {if $xcconfig['webset']['score_recharge'] == 1}
                                            <div class="input-group" style="margin-bottom: 0px;width: 100%">
                                                <span class="input-group-addon">积分</span>
                                                <input type="number" name="xc[value][score][]" class="form-control" placeholder="积分" value="{$vo['score']}"/>
                                            </div>

                                            {/if}

                                            {if $xcconfig['webset']['exp_recharge'] == 1}
                                            <div class="input-group" style="margin-bottom: 0px;width: 100%">
                                                <span class="input-group-addon">经验</span>
                                                <input type="number" name="xc[value][exp][]" class="form-control" placeholder="经验" value="{$vo['exp']}"/>
                                            </div>

                                            {/if}
                                            <span class="delitem"><i class="fa fa-times-circle fa-2x" aria-hidden="true"></i></span>
                                        </div>
                                    </div>
                                    {/loop}
                                    {else}

                                    <div class="col-xs-12 col-sm-3  rechange-item" style="margin-bottom: 30px">
                                        <div class="input-group"><span class="input-group-addon"><i class="fa fa-bars" aria-hidden="true"></i>
                            </span>
                                            <div class="input-group" style="margin-bottom: 0px;width:100%;">
                                                <span class="input-group-addon">金额</span>
                                                <input type="number" name="xc[value][fee][]" class="form-control" placeholder="金额" />
                                            </div>

                                            {if $xcconfig['webset']['score_recharge'] == 1}
                                            <div class="input-group" style="margin-bottom: 0px;width: 100%">
                                                <span class="input-group-addon">积分</span>
                                                <input type="number" name="xc[value][score][]" class="form-control" placeholder="积分" />
                                            </div>

                                            {/if}

                                            {if $xcconfig['webset']['exp_recharge'] == 1}
                                            <div class="input-group" style="margin-bottom: 0px;width: 100%">
                                                <span class="input-group-addon">经验</span>
                                                <input type="number" name="xc[value][exp][]" class="form-control" placeholder="经验" />
                                            </div>

                                            {/if}
                                            <span class="delitem"><i class="fa fa-times-circle fa-2x" aria-hidden="true"></i></span>
                                        </div>
                                    </div>
                                    {/if}
                                </div>

                            </div>

                            <div class="form-group">
                                <label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label"></label>
                                <div class="col-xs-12 col-sm-3">
                                    <span class="btn btn-info" id="additem" data-score="{$xcconfig['webset']['score_recharge']}" data-exp="{$xcconfig['webset']['exp_recharge']}">添加</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">状态</label>
                                <div class="col-xs-12 col-sm-3">
                                    <input type="checkbox" class="js-switch" value="1" name="xc[status]"
                                           data-value="{$xc['status']}" data-field="status">
                                </div>
                            </div>



                            <div class="form-group">
                                <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10 col-sm-offset-3 col-md-offset-2 col-lg-offset-2">
                                    <input name="id" value="{$xc['id']}" type="hidden">

                                    <input name="submit" type="submit" value="提交" class="btn btn-primary"/>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{template 'common/editfoot'}
<script>
    $(function () {
        $('#rechange').sortable();
        $('#additem').click(function () {
            var score = $(this).attr('data-score');
            var exp = $(this).attr('data-exp');
            var html= ' <div class="col-xs-12 col-sm-3 rechange-item" style="margin-bottom: 30px"> <div class="input-group"><span class="input-group-addon"><i class="fa fa-bars" aria-hidden="true"></i> </span> <div class="input-group" style="margin-bottom: 0px;width:100%;"> <span class="input-group-addon">金额</span> <input type="number" name="xc[value][fee][]" class="form-control" placeholder="金额" /> </div>';
            if (score == 1){
                html+=' <div class="input-group" style="margin-bottom: 0px;width: 100%"> <span class="input-group-addon">积分</span> <input type="number" name="xc[value][score][]" class="form-control" placeholder="积分"/> </div>'
            }
            if (exp == 1){
                html+='            <div class="input-group" style="margin-bottom: 0px;width: 100%"> <span class="input-group-addon">经验</span> < input type = "number" name="xc[value][exp][]" class="form-control" placeholder="经验" /> </div >';
            }
            html+='<span class="delitem"><i class="fa fa-times-circle fa-2x" aria-hidden="true"></i></span> </div> </div>';
            $('#rechange').append(html);
        });

        $('#rechange').on('click','.delitem',function(){
            $(this).parents('.rechange-item').remove();
        })
    });

</script>
<script>
    $.validator.setDefaults({
        highlight: function (e) {
            $(e).closest(".col-xs-12").removeClass("has-success").addClass("has-error")
        }, success: function (e) {
            e.closest(".col-xs-12").removeClass("has-error").addClass("has-success")
        }, errorClass: "help-block m-b-none", validClass: "help-block m-b-none"
    }), $().ready(function () {
        var e = "<i class='fa fa-times-circle'></i> ";
        var vlidp = {
            rules: {
                "xc[bannar]": {url: false}
            },
            messages: {
                "xc[mobanid]": {required: e + "请选择模版"}
            },
            submitHandler: function (form) {
                xajaxfrom(form);
                return false;
            }
        };
        $("#form").validate(vlidp);
    });
    function message(data) {
        $mesoption = {};
        $mesoption["timer"] = 1000;
        $mesoption["type"] = replyrdata[data["status"]];
        $mesoption["title"] = data["message"];
        $mesoption["text"] = data["message"];
        swal($mesoption);
    }
    function xajaxfrom(form) {
        $actfrom = $(form);
        var $postdate = $actfrom.serialize();
        $('#form [type="checkbox"]:not(":checked")').each(function () {
            $postdate = $postdate + "&" + $(this).attr("name") + "=-1";
        });
        xpagecss.xload();
        $.ajax({
            type: $(form).attr("method"),
            url: $(form).attr("action"),
            dataType: "json",
            data: $postdate,
            success: function (msg) {
                message(msg)
            }
        });
    }
</script>
</body>
</html>