<!DOCTYPE html>
<html lang="en">
<head>
    {template 'common/edithead'}
    <!--微擎 -->
    <!--这个放在最后一切平白安全-->
    <script type="text/javascript" src="./resource/js/require.js?v=20170915"></script>
</head>
<body class="nav-md" style="min-width: 800px">
<div>
    <div class="container xc_edit_from">
        <div class="main_container" style="overflow-x: hidden;min-height: 100vh;background-color: white;width: 100%;">
            <div class="col-md-12 col-xs-12">
                <div class="x_panel">

                    {template 'mymanage/webconfig/nav'}


                    <div class="x_content">
                        <br/>
                        <form action="{php echo $this->createWebUrl($_GPC['do'], array('op'=>'save_theme'));}"
                              method="post"
                              class="form-horizontal form" id="form">


                                    <div class="form-group">
                                        <label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">主题选择</label>
                                        <div class="col-xs-12 col-sm-8">
                                            <label class="radio inline" style="width:100px">
                                                <input class="ui-radio" type="radio" name="xc[theme_type]" value="1"
                                                       data-value="{$xc['contents']['theme_type']}" checked="checked">主题1(默认)
                                            </label>
                                            <label class="radio inline" style="width: 100px;">
                                                <input class="ui-radio" type="radio" name="xc[theme_type]" value="2"
                                                       data-value="{$xc['contents']['theme_type']}" id="theme_2">自定义主题
                                            </label>
                                        </div>
                                    </div>


                                    <div id="theme_2_tab" style="display: none">


                                        <div class="form-group">
                                            <label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">顶部导航文字颜色</label>
                                            <div class="col-xs-12 col-sm-4">
                                                <label class="radio inline">
                                                    <input class="ui-radio" type="radio" name="xc[navbar_color]" value="#ffffff" data-value="{$xc['navbar_color']}" checked>白色
                                                </label>
                                                <label class="radio inline">
                                                    <input class="ui-radio" type="radio" name="xc[navbar_color]" value="#000000" data-value="{$xc['navbar_color']}">黑色
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">顶部导航背景颜色</label>
                                            <div class="col-xs-12 col-sm-4">
                                                {php echo tpl_form_field_color('xc[navbar_bg]',$xc['contents']['navbar_bg'])}
                                            </div>
                                        </div>


                                        <div class="form-group">
                                            <label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">购物车</label>
                                            <div class="col-xs-12 col-sm-3">
                                                {php echo tpl_form_field_image('xc[user_car]',$xc['contents']['user_car'])}
                                            </div>


                                            <label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">充值中心</label>
                                            <div class="col-xs-12 col-sm-3">
                                                {php echo tpl_form_field_image('xc[user_recharge]',$xc['contents']['user_recharge'])}
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">地址管理</label>
                                            <div class="col-xs-12 col-sm-3">
                                                {php echo tpl_form_field_image('xc[user_address]',$xc['contents']['user_address'])}
                                            </div>


                                            <label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">卡券中心</label>
                                            <div class="col-xs-12 col-sm-3">
                                                {php echo tpl_form_field_image('xc[user_voucher]',$xc['contents']['user_voucher'])}
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">我的卡券</label>
                                            <div class="col-xs-12 col-sm-3">
                                                {php echo tpl_form_field_image('xc[user_mycard]',$xc['contents']['user_mycard'])}
                                            </div>


                                            <label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">在线客服</label>
                                            <div class="col-xs-12 col-sm-3">
                                                {php echo tpl_form_field_image('xc[user_server]',$xc['contents']['user_server'])}
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">分销中心</label>
                                            <div class="col-xs-12 col-sm-3">
                                                {php echo tpl_form_field_image('xc[user_distribution]',$xc['contents']['user_distribution'])}
                                            </div>

                                            <label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">管理中心</label>
                                            <div class="col-xs-12 col-sm-3">
                                                {php echo tpl_form_field_image('xc[user_manage]',$xc['contents']['user_manage'])}
                                            </div>

                                        </div>

                                        <div class="form-group">
                                            <label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">帮助中心</label>
                                            <div class="col-xs-12 col-sm-3">
                                                {php echo tpl_form_field_image('xc[user_help]',$xc['contents']['user_help'])}
                                            </div>

                                            <label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">系统设定</label>
                                            <div class="col-xs-12 col-sm-3">
                                                {php echo tpl_form_field_image('xc[sysset]',$xc['contents']['sysset'])}
                                            </div>
                                        </div>


                                        <div class="form-group">
                                            <label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">检查更新</label>
                                            <div class="col-xs-12 col-sm-3">
                                                {php echo tpl_form_field_image('xc[updateset]',$xc['contents']['updateset'])}
                                            </div>

                                            <label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">调试</label>
                                            <div class="col-xs-12 col-sm-3">
                                                {php echo tpl_form_field_image('xc[sysdebug]',$xc['contents']['sysdebug'])}
                                            </div>
                                        </div>


                                        <div class="form-group">
                                            <label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">我的社区</label>
                                            <div class="col-xs-12 col-sm-3">
                                                {php echo tpl_form_field_image('xc[community]',$xc['contents']['community'])}
                                            </div>

                                            <label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">社团申请</label>
                                            <div class="col-xs-12 col-sm-3">
                                                {php echo tpl_form_field_image('xc[community_apply]',$xc['contents']['community_apply'])}
                                            </div>
                                        </div>



                                        <div class="form-group">
                                            <label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">待付款</label>
                                            <div class="col-xs-12 col-sm-3">
                                                {php echo tpl_form_field_image('xc[obligation]',$xc['contents']['obligation'])}
                                            </div>

                                            <label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">待发货</label>
                                            <div class="col-xs-12 col-sm-3">
                                                {php echo tpl_form_field_image('xc[deliver]',$xc['contents']['deliver'])}
                                            </div>
                                        </div>


                                        <div class="form-group">
                                            <label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">待收货</label>
                                            <div class="col-xs-12 col-sm-3">
                                                {php echo tpl_form_field_image('xc[take_deliver]',$xc['contents']['take_deliver'])}
                                            </div>


                                            <label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">已退款</label>
                                            <div class="col-xs-12 col-sm-3">
                                                {php echo tpl_form_field_image('xc[refund]',$xc['contents']['refund'])}
                                            </div>
                                        </div>


                                        <div class="form-group">
                                            <label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">返回图标</label>
                                            <div class="col-xs-12 col-sm-3">
                                                {php echo tpl_form_field_image('xc[blackhome]',$xc['contents']['blackhome'])}
                                            </div>

                                        </div>

                                    </div>




                                    <div class="form-group">

                                        <label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">状态</label>
                                        <div class="col-xs-12 col-sm-3">
                                            <input type="checkbox" class="js-switch" value="1" name="xc[status]"
                                                   data-value="{$xc['status']}" data-field="status">
                                        </div>
                                    </div>


                            <div class="row xc_btnmar"  ></div>
                            <div class="form-group xc_btn_row"  >
                                        <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10 col-sm-offset-3 col-md-offset-2 col-lg-offset-2">
                                            <input type="hidden" name="id" value="{$xc['id']}"/>
                                            <input name="submit" type="submit" value="提交" class="btn btn-primary"/>
                                        </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{template 'common/editfoot'}
<script>
    $(function () {
        $("input[name='xc[theme_type]']").change(function () {
            $("#theme_2_tab").toggle();
        });
        if ($('#theme_2').is(":checked")) {
            $("#theme_2_tab").show();
        }
    })
</script>
<script>

    /*标题名称的修改*/
    if ($("[name='id']").val() == "0" || $("[name='id']").val() == "") {
        $("#xtitle").html("增加")
    }
    else {
        $("#xtitle").html("修改")
    }


    $.validator.setDefaults({
        highlight: function (e) {
            $(e).closest(".col-xs-12").removeClass("has-success").addClass("has-error")
        }, success: function (e) {
            e.closest(".col-xs-12").removeClass("has-error").addClass("has-success")
        }, errorClass: "help-block m-b-none", validClass: "help-block m-b-none"
    }), $().ready(function () {
        var e = "<i class='fa fa-times-circle'></i> ";
        var vlidp = {
            rules: {
                "xc[sysset]": {url: false},
                "xc[user_car]": {url: false},
                "xc[user_recharge]": {url: false},
                "xc[user_address]": {url: false},
                "xc[user_voucher]": {url: false},
                "xc[user_mycard]": {url: false},
                "xc[user_server]": {url: false},
                "xc[user_distribution]": {url: false},
                "xc[user_manage]":{url:false},
                "xc[user_help]":{url:false},
                "xc[take_deliver]":{url:false},
                "xc[obligation]":{url:false},
                "xc[deliver]":{url:false},
                "xc[refund]":{url:false},
                "xc[community]":{url:false},
                "xc[community_apply]":{url:false},
                "xc[blackhome]":{url:false}

            },
            messages: {
                "xc[mobanid]": {required: e + "请选择模版"}
            },
            submitHandler: function (form) {
                xajaxfrom(form);
                return false;
            }
        };
        $("#form").validate(vlidp);
    });


    function message(data) {
        $mesoption = {};
        $mesoption["timer"] = 1000;
        $mesoption["type"] = replyrdata[data["status"]];
        $mesoption["title"] = data["message"];
        $mesoption["text"] = data["message"];
        swal($mesoption);

    }

    function xajaxfrom(form) {
        $actfrom = $(form);
        var $postdate = $actfrom.serialize();
        $('#form [type="checkbox"]:not(":checked")').each(function () {
            $postdate = $postdate + "&" + $(this).attr("name") + "=-1";
        });
        xpagecss.xload();
        $.ajax({
            type: $(form).attr("method"),
            url: $(form).attr("action"),
            dataType: "json",
            data: $postdate,
            success: function (msg) {
                message(msg)
            }
        });
    }

</script>

</body>
</html>