<!DOCTYPE html>
<html lang="en">
<head>
    {template 'common/edithead'}
    <!--微擎 -->
    <!--这个放在最后一切平白安全-->
    <script type="text/javascript" src="./resource/js/require.js?v=20170915"></script>


    <style>
        #navbar-group .form-group {
            margin-bottom: 5px;
        }
        .navbar-item {
            border: 1px solid #999999;
            padding: 20px 20px;
            margin-bottom: 10px;
            border-radius: 15px;
            width: 800px;
            height: 140px;
            margin-left: 20px;
        }

        .del-navbar-item {
            width: 30px;
            height: 30px;
            text-align: center;
            position: relative;
            margin-top: -30px;
            cursor: pointer;
            margin-left: 760px;

        }

        .navbar-item .left {
            width: 100px;
            float: left;
        }
        .navbar-item .left img{
            width: 100px;
            height: 100px;
        }

        .navbar-item .right {
            padding-top: 10px;
            float: left;
            width: 500px;
            margin-left: 20px;

        }

    </style>
</head>
<body class="nav-md" style="min-width: 800px">
<div>
    <div class="container xc_edit_from">
        <div class="main_container" style="overflow-x: hidden;min-height: 100vh;background-color: white;width: 100%;">
            <div class="col-md-12 col-xs-12">
                <div class="x_panel">

                    {template 'mymanage/webconfig/nav'}


                    <div class="x_content">
                        <br/>
                        <form action="{php echo $this->createWebUrl($_GPC['do'], array('op'=>'save_user_set'));}"
                              method="post"
                              class="form-horizontal form" id="form">


                            <div class="form-group">
                                <label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">图片(750*330)</label>
                                <div class="col-xs-12 col-sm-8">
                                    {php echo tpl_form_field_image('xc[bg]',$xc['contents']['bg']);}

                                </div>
                            </div>



                            <script type="text/javascript">
                                function showImageDialog1(elm, opts, options) {
                                    require(["util"], function (util) {
                                        var btn = $(elm);
                                        var ipt = btn.next();
                                        var val = ipt.val();
                                        var img = $(elm);
                                        options = {
                                            'global': false,
                                            'class_extra': '',
                                            'direct': true,
                                            'multiple': false,
                                            'fileSizeLimit': 5120000
                                        };
                                        util.image(val, function (url) {
                                            if (url.url) {
                                                if (img.length > 0) {
                                                    img.get(0).src = url.url;
                                                }
                                                ipt.val(url.attachment);
                                                ipt.attr("filename", url.filename);
                                                ipt.attr("url", url.url);
                                            }
                                            if (url.media_id) {
                                                if (img.length > 0) {
                                                    img.get(0).src = "";
                                                }
                                                ipt.val(url.media_id);
                                            }
                                        }, options);
                                    });
                                }
                            </script>



                            <div class="page-header">
                                <h3>添加导航栏内容</h3>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label"></label>
                                <div class="col-xs-12 col-sm-8" id="navbar-group">
                                    {if  $xc['contents']['list']}
                                    {loop $xc['contents']['list'] $index  $vo}
                                    <div class="navbar-item">

                                        <div class="del-navbar-item">
                                            <i class="fa fa-times-circle fa-2x" aria-hidden="true"></i>
                                        </div>

                                        <div class="left">
                                            <img src="{if $vo['img']}{php echo tomedia($vo['img'])}{else}./resource/images/nopic.jpg{/if}" class="img-responsive img-thumbnail"  onclick="showImageDialog1(this)"/>
                                            <input type="hidden" name="img" value="{$vo['img']}">
                                        </div>
                                        <div class="right">
                                            <div class="input-group">
                                                <div class="input-group-addon">文字</div>
                                                <input type="text" name="text" class="form-control"
                                                       placeholder="名称" value="{$vo['text']}"/>
                                            </div>


                                            <div class="input-group">
                                                <div class="input-group-addon">链接</div>
                                                <input type="text" name="link" class="form-control"
                                                       placeholder="链接" value="{$vo['link']}"/>
                                                <div class="input-group-addon" onclick="modobj=this" data-toggle="modal" data-target="#Link" style="cursor: pointer">
                                                    选择链接
                                                </div>
                                            </div>


                                        </div>


                                    </div>
                                    {/loop}
                                    {else}
                                    <div class="navbar-item">

                                        <div class="del-navbar-item">
                                            <i class="fa fa-times-circle fa-2x" aria-hidden="true"></i>
                                        </div>

                                        <div class="left">
                                            <img src="./resource/images/nopic.jpg" class="img-responsive img-thumbnail"  onclick="showImageDialog1(this)"/>
                                            <input type="hidden" name="img" >
                                        </div>
                                        <div class="right">
                                            <div class="input-group">
                                                <div class="input-group-addon">文字</div>
                                                <input type="text" name="text" class="form-control"
                                                       placeholder="名称" />
                                            </div>


                                            <div class="input-group">
                                                <div class="input-group-addon">链接</div>
                                                <input type="text" name="link" class="form-control"
                                                       placeholder="链接" />
                                                <div class="input-group-addon" onclick="modobj=this" data-toggle="modal" data-target="#Link" style="cursor: pointer">
                                                    选择链接
                                                </div>
                                            </div>


                                        </div>


                                    </div>
                                    {/if}

                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label"></label>
                                <div class="col-xs-12 col-sm-3">
                                    <div class="btn btn-info" id="add-navbar-item">添加一个新导航</div>
                                </div>
                            </div>










                            <div class="form-group">

                                <label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">状态</label>
                                <div class="col-xs-12 col-sm-3">
                                    <input type="checkbox" class="js-switch" value="1" name="xc[status]"
                                           data-value="{$xc['status']}" data-field="status">
                                </div>
                            </div>


                            <div class="row xc_btnmar"></div>
                            <div class="form-group xc_btn_row">
                                <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10 col-sm-offset-3 col-md-offset-2 col-lg-offset-2">
                                    <input type="hidden" name="id" value="{$xc['id']}"/>
                                    <input name="submit" type="submit" value="提交" class="btn btn-primary"/>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{template 'common/link'}
{template 'common/editfoot'}

<script>
    $(function () {
        $('#navbar-group').sortable();

        $('#navbar-group').on('click', '.del-navbar-item', function () {
            $(this).parents('.navbar-item').remove();
        });

        $('#add-navbar-item').click(function () {
            var  html = '<div class="navbar-item"> <div class="del-navbar-item"> <i class="fa fa-times-circle fa-2x" aria-hidden="true"></i> </div> <div class="left"> <img src="./resource/images/nopic.jpg" class="img-responsive img-thumbnail"  onclick="showImageDialog1(this)"/> <input type="hidden" name="img"> </div> <div class="right"> <div class="input-group"> <div class="input-group-addon">文字</div> <input type="text" name="text" class="form-control" placeholder="名称"/> </div> <div class="input-group"> <div class="input-group-addon">链接</div> <input type="text" name="link" class="form-control" placeholder="链接"/> <div class="input-group-addon" onclick="modobj=this" data-toggle="modal" data-target="#Link" style="cursor: pointer"> 选择链接 </div> </div> </div> </div>';
            $('#navbar-group').append(html);
        })
    });

</script>

<script>

    /*标题名称的修改*/
    if ($("[name='id']").val() == "0" || $("[name='id']").val() == "") {
        $("#xtitle").html("增加")
    }
    else {
        $("#xtitle").html("修改")
    }


    $.validator.setDefaults({
        highlight: function (e) {
            $(e).closest(".col-xs-12").removeClass("has-success").addClass("has-error")
        }, success: function (e) {
            e.closest(".col-xs-12").removeClass("has-error").addClass("has-success")
        }, errorClass: "help-block m-b-none", validClass: "help-block m-b-none"
    }), $().ready(function () {
        var e = "<i class='fa fa-times-circle'></i> ";
        var vlidp = {
            rules: {
                "xc[bg]": {url: false}
            },
            messages: {
                "xc[mobanid]": {required: e + "请选择模版"}
            },
            submitHandler: function (form) {
                xajaxfrom(form);
                return false;
            }
        };
        $("#form").validate(vlidp);
    });


    function message(data) {
        $mesoption = {};
        $mesoption["timer"] = 1000;
        $mesoption["type"] = replyrdata[data["status"]];
        $mesoption["title"] = data["message"];
        $mesoption["text"] = data["message"];
        swal($mesoption);

    }

    function xajaxfrom(form) {
        var _postdata = [];
        $('#navbar-group .navbar-item').each(function () {
            var arr = {};
            arr['img'] = $(this).find('input[name="img"]').val();
            arr['text'] = $(this).find('input[name="text"]').val();
            arr['link'] = $(this).find('input[name="link"]').val();
            _postdata.push(arr)
        });




        var contents= {};
        contents['list'] = _postdata;

        contents['bg'] = $('input[name="xc[bg]"]').val();
        var $postdate = {};
        $postdate['contents'] = contents;
        if ($('input[name="xc[status]"]').is(':checked')){
            $postdate['status'] = 1;
        }else {
            $postdate['status'] = -1;
        }
        $postdate['id'] = $('input[name="id"]').val();
        xpagecss.xload();

        $.ajax({
            type: $(form).attr("method"),
            url: $(form).attr("action"),
            dataType: "json",
            data: $postdate,
            success: function (msg) {
                message(msg)
            }
        });
    }

</script>

</body>
</html>