var filters = ({
    toFix: (function(value) {
        return (value.toFixed(2))
    }),
    toApp: (function(value) {
        if (value != "" && value != null) {
            if (value.indexOf("/xc_train/pages/") != -1 || value.indexOf("http") != -1) {
                return (true)
            } else {
                return (false)
            }
        } else {
            return (false)
        }
    }),
    toSrc: (function(str) {
        console.log(str);
        str = str.split(",");
        str = str.join(",");
        return (str)
    }),
});
module.exports = ({
    toFix: filters.toFix,
    toApp: filters.toApp,
    toSrc: filters.toSrc,
});