<!DOCTYPE html>
<html>
<head>
	<title>{$_W['slwl']['lang']['sys_name']}</title>
	<meta name="keywords" content="" />
	<meta name="description" content="">
	{template 'public/header'}

</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
	{template 'public/top'}
	{template 'public/left'}

	<div class="layui-body">
		<div class="layui-main">
			<div class="layui-tab">
				<ul class="layui-tab-title">
					<li {if $operation == 'display'} class="layui-this" {/if}>
						<a href="{php echo webUrl('',['do'=>'client/user_list'])}">客户统计</a>
					</li>
					{if ($one['id']) && $operation == 'post'}
					<li class="layui-this">
						<a href="{php echo webUrl('',['do'=>'client/user_list','op'=>'post','id'=>$one['id']])}">编辑</a>
					</li>
					{/if}
					<li {if $operation == 'export'} class="layui-this" {/if}>
						<a href="{php echo webUrl('',['do'=>'client/user_list','op'=>'export'])}">导出记录</a>
					</li>
					<li {if $operation == 'users_label'} class="layui-this" {/if}>
						<a href="{php echo webUrl('',['do'=>'client/user_list','op'=>'users_label'])}">标签组</a>
					</li>
					{if empty($one['id']) && $operation == 'users_label_post'}
					<li class="layui-this">
						<a href="{php echo webUrl('',['do'=>'client/user_list','op'=>'users_label_post'])}">添加</a>
					</li>
					{/if}
					{if ($one['id']) && $operation == 'users_label_post'}
					<li class="layui-this">
						<a href="{php echo webUrl('',['do'=>'client/user_list','op'=>'users_label_post','id'=>$one['id']])}">编辑</a>
					</li>
					{/if}
				</ul>
			</div>

		{if $operation == 'display'}
			<div>
				<div class="layui-form">
					<div class="box-tools">
						<div class="box-search">
							<div class="layui-input-inline">
								<input type="text" name="keyword" value="{$keyword}" class="layui-input" placeholder="昵称、姓名、电话">
							</div>
							<div class="layui-input-inline">
								<button class="layui-btn" lay-submit lay-filter="table-search" id="table-search">搜索</button>
							</div>
						</div>
					</div>
					<div class="box-list-img">
						<table id="sl-table" lay-filter="sl-table"></table>
					</div>
				</div>

				<div class="script">
					<script type="text/html" id="userInfo">
						<div class="table-multi-line">
							<span>昵称：</span>
							<a class="color-link-main" href="javascript:;" lay-event="edit">{{d.nicename_format}}</a>
						</div>
						<div class="table-multi-line">
							<span>姓名：</span>
							<span>{{d.real_name}}</span>
						</div>
						<div class="table-multi-line">
							<span>电话：</span>
							<span>{{d.mobile}}</span>
						</div>
					</script>
					<script type="text/html" id="thumb">
						<div class="box-table-img">
							<img src="{{d.avatar_url}}" data-url="{{d.avatar_url}}"
								onerror="this.src='{MODULE_URL}template/public/image/nopic.png'">
						</div>
					</script>
					<script type="text/html" id="operation">
						<a href="javascript:;" class="layui-btn layui-btn-sm" lay-event="edit">编辑</a>
					</script>
					<script>
						layui.use(['laypage', 'layer', 'table', 'form'], function() {
							my_laypage = layui.laypage;
							my_layer = layui.layer;
							my_table = layui.table;
							my_form = layui.form;

							url_post = "{php echo webUrl('', ['do'=>'client/user_list', 'op'=>'post'])}";
							url_list = "{php echo webUrl('', ['do'=>'client/user_list', 'op'=>'display_table','keyword'=>$keyword])}";
							url_delete = "{php echo webUrl('', ['do'=>'client/user_list', 'op'=>'delete'])}";

							table_list = my_table.render({
								elem: '#sl-table'
								, toolbar: '#toolbar'
								, even: false
								, url: url_list
								, cols: [[
									// type: 'numbers',
									// {type: 'checkbox'}
									{field: 'id', width: 60, title: 'ID', sort: true}
									, {field: 'thumb', width: 90, title: '头像', templet: '#thumb'}
									, {field: 'user_info', title: '用户信息', templet: '#userInfo'}
									, {field: 'source_txt', title: '来源', sort: true}
									, {field: 'last_time', title: '最后访问时间', sort: true}
									, {field: 'mark', title: '备注', sort: true}
									, {title: '操作', width: 100, templet: '#operation'}
								]]
								, height: 'full-190'
								, page: {
									theme: '#1E9FFF'
								}
							});
						});
					</script>
				</div>
			</div>


		{else if $operation == 'post'}
			<div>
				<form class="layui-form" action="" method="post" enctype="multipart/form-data">
					<input type="hidden" name="id" value="{$one['id']}" />
					<!-- 真实姓名 -->
					<div class="layui-form-item">
						<label class="layui-form-label">真实姓名</label>
						<div class="layui-input-block">
							<input type="text" name="real_name" value="{$one['real_name']}" class="layui-input">
						</div>
					</div>
					<!-- 电话 -->
					<div class="layui-form-item">
						<label class="layui-form-label">电话</label>
						<div class="layui-input-block">
							<input type="text" name="mobile" value="{$one['mobile']}" class="layui-input">
						</div>
					</div>
					<!-- 会员分组 -->
					<div class="layui-form-item">
						<label class="layui-form-label">会员分组</label>
						<div class="layui-input-block">
							{loop $users_label_list $index $item}
								<input type="checkbox" name="options[]" value="{$item['id']}" lay-skin="primary"
									title="{$item['title']}" {if $item['checked']==1 }checked{/if}>
							{/loop}
						</div>
					</div>
					<!-- 备注 -->
					<div class="layui-form-item">
						<label class="layui-form-label">备注</label>
						<div class="layui-input-block">
							<textarea name="mark" placeholder="备注" class="layui-textarea">{$one['mark']}</textarea>
						</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-input-block">
							<button class="layui-btn" lay-submit lay-filter="setmark">保存</button>
							<input type="hidden" name="token" value="{$_W['token']}" />
						</div>
					</div>
				</form>

				<script>
					layui.use('form', function(){
						var form = layui.form;

						form.on('submit(setmark)', function(data){
							let url = "{php echo webUrl('', ['do'=>'client/user_list', 'op'=>'post'])}";
							var $obj = $(this);

							if (!$obj.hasClass('lock')) {
								$obj.addClass('lock'); // 不能再点击

								$.ajax({
									type: "POST",
									url: url,
									dataType: 'json',
									data: data.field,
									success: function (rs) {

										if (rs && rs.code.toString() === '0') {
											layer.msg('保存成功！' , {
												time: 500
											}, function () {
												window.location.href = "{php echo webUrl('', ['do'=>'client/user_list'])}";
											});
										} else {
											layer.msg(rs.msg, {
												offset: '20%',
											});
										}
										$obj.removeClass('lock');
									},
									error: function () {
										layer.msg('保存过程发生错误，请与管理员联系', {
											offset: '20%',
										});
										$obj.removeClass('lock');
									}
								});
							}

							return false;
						});
					});
				</script>
			</div>


		{else if $operation == 'export'}
			<div>
				<form class="layui-form" action="{php echo webUrl('', ['do'=>'client/user_list', 'op'=>'export_post'])}" method="post">
					<input type="hidden" name="id" value="{$one['id']}" />
					<!-- 说明 -->
					<div class="layui-form-item">
						<label class="layui-form-label">说明</label>
						<div class="layui-input-block">
							<div class="layui-form-mid layui-word-aux">导出操作比较耗服务器性能，尽量在非使用高峰期操作</div>
						</div>
					</div>
					<!-- 时间段 -->
					<div class="layui-form-item">
						<label class="layui-form-label">时间段</label>
						<div class="layui-input-inline">
							<input type="text" name="timestart" placeholder="yyyy-MM-dd" class="layui-input" id="timestart" lay-verify="required">
						</div>
						<div class="layui-form-mid">-</div>
						<div class="layui-input-inline">
							<input type="text" name="timeend" placeholder="yyyy-MM-dd" class="layui-input" id="timeend" lay-verify="required">
						</div>
						<!-- <div class="layui-input-block">
							<input type="text" name="createtime" class="layui-input" id="timestart" placeholder="yyyy-MM-dd HH:mm:ss">
						</div> -->
					</div>
					<div class="layui-form-item">
						<div class="layui-input-block">
							<button class="layui-btn" lay-submit lay-filter="booking">导出</button>
							<input type="hidden" name="token" value="{$_W['token']}" />
						</div>
					</div>
				</form>

				<script>
					layui.use('laydate', function(){
						var laydate = layui.laydate;

						laydate.render({
							elem: '#timestart'
							,type: 'date'
							,format: 'yyyy-MM-dd'
							,value: "{php echo $timestart;}"
						});

						laydate.render({
							elem: '#timeend'
							,type: 'date'
							,format: 'yyyy-MM-dd'
							,value: "{php echo $timeend;}"
						});
					});
				</script>
			</div>


		{else if $operation == 'users_label'}
			<div>
				<div class="layui-form">
					<div class="box-tools">
						<div class="box-search">
							<div class="layui-input-inline">
								<input type="text" name="keyword" value="{$keyword}" class="layui-input" placeholder="标题">
							</div>
							<div class="layui-input-inline">
								<button class="layui-btn" lay-submit lay-filter="table-search" id="table-search">搜索</button>
							</div>
						</div>
					</div>
					<div class="box-list-img">
						<table id="user-table" lay-filter="user-table"></table>
					</div>
				</div>

				<div class="script">
					<script type="text/html" id="toolbar">
						<div class="layui-btn-container">
							<button class="layui-btn layui-btn-sm" lay-event="add">添加</button>
							<button class="layui-btn layui-btn-sm layui-btn-danger" lay-event="delete">批量删除</button>
						</div>
					</script>
					<script type="text/html" id="operation">
						<div class="td-button">
							<a href="javascript:;" class="layui-btn layui-btn-sm" lay-event="member">客户</a>
							<a href="javascript:;" class="layui-btn layui-btn-sm" lay-event="edit">编辑</a>
							<a href="javascript:;" class="layui-btn layui-btn-sm layui-btn-danger" lay-event="del">删除</a>
						</div>
					</script>
					<script>
						layui.use(['laypage', 'layer', 'table', 'form'], function() {
							my_laypage = layui.laypage;
							my_layer = layui.layer;
							my_table = layui.table;
							my_form = layui.form;

							url_post = "{php echo webUrl('', ['do'=>'client/user_list','op'=>'users_label_post'])}";
							url_list = "{php echo webUrl('', ['do'=>'client/user_list','op'=>'users_label_list'])}";
							url_delete = "{php echo webUrl('', ['do'=>'client/user_list','op'=>'users_label_delete'])}";
							let url_member = "{php echo webUrl('',['do'=>'client/user_list'])}";

							table_list = my_table.render({
								elem: '#user-table'
								, toolbar: '#toolbar'
								, even: false
								, url: url_list
								, cols: [[
									// type: 'numbers',
									{type: 'checkbox'}
									, {field: 'id', width: 60, title: 'ID', sort: true}
									, {field: 'sort', title: '排序', width: '6%', sort: true}
									, {field: 'title', title: '标签名称', sort: true}
									, {field: 'user_total', title: '会员数', sort: true}
									, {field: 'subtitle', title: '标签描述', sort: true}
									, {title: '操作', width: 200, templet: '#operation'}
								]]
								, height: 'full-190'
								, page: {
									theme: '#1E9FFF'
								}
							});

							//头工具栏事件
							my_table.on('toolbar(user-table)', function (obj)
							{
								var checkStatus = my_table.checkStatus(obj.config.id);
								switch (obj.event) {
									case 'add':
										window.location.href = url_post;
										break;
									case 'delete':
										var obj_data = checkStatus.data;

										if (obj_data == '') {
											layer.msg('至少也得选一个吧', {offset: '20%'});
											return false;
										}
										var ids = [];
										if (obj_data.length > 0) {
											$.each(obj_data, function (i, e) {
												ids.push(e.id);
											});

											funDelete(url_delete, ids, function(rst) {
												if (rst && rst['code']=='0') {
													table_list.reload(); // 表格重载
													layer.msg('成功删除', {
														offset: '20%',
													});
												} else {
													if (rst) {
														layer.msg(rst['msg'], {
															offset: '20%',
														});
													} else {
														layer.msg('未知错误', {
															offset: '20%',
														});
													}
												}
											});
										} else {
											console.log(obj_data)
											layer.msg('对象为空', {icon: 2});
											return false;
										}
										break;
									case 'isAll':
										layer.msg(checkStatus.isAll ? '全选' : '未全选');
										break;
								};
							});

							//监听行工具事件
							my_table.on('tool(user-table)', function (obj)
							{
								var obj_data = obj.data;
								if (obj.event === 'del') {
									var ids = [];
									ids.push(obj_data.id);

									funDelete(url_delete, ids, function(rst) {
										if (rst && rst['code']=='0') {
											obj.del();
											layer.msg('成功删除', {
												offset: '20%',
											});
										} else {
											if (rst) {
												layer.msg(rst['msg'], {
													offset: '20%',
												});
											} else {
												layer.msg('未知错误', {
													offset: '20%',
												});
											}
										}
									});
								} else if(obj.event === 'edit'){
									window.location.href = url_post + '&id=' + obj_data.id;

								} else if(obj.event === 'member'){
									window.location.href = url_member + '&query=label*' + obj_data.id;

								}
							});
						});
					</script>
				</div>
			</div>


		{else if $operation == 'users_label_post'}
			<div>
				<form class="layui-form fixed" action="" method="post" enctype="multipart/form-data" id="data-form">
					<input type="hidden" name="id" value="{$one['id']}" />
					<div class="layui-tab-content">
						<!-- 排序 -->
						<div class="layui-form-item">
							<label class="layui-form-label">排序</label>
							<div class="layui-input-block">
								<input type="text" name="sort" value="{$one['sort']}"
									class="layui-input" placeholder="数字越大越靠前">
							</div>
						</div>
						<!-- 标签名称 -->
						<div class="layui-form-item">
							<label class="layui-form-label">标签名称</label>
							<div class="layui-input-block">
								<input type="text" name="title" lay-verify="required" value="{$one['title']}"
									class="layui-input">
							</div>
						</div>
						<!-- 标签描述 -->
						<div class="layui-form-item">
							<label class="layui-form-label">标签描述</label>
							<div class="layui-input-block">
								<textarea name="subtitle" class="layui-textarea">{$one['subtitle']}</textarea>
							</div>
						</div>
					</div>
					<div class="layui-tab-content fixed" id="data-submit">
						<div class="layui-form-item">
							<div class="layui-input-block">
								<button class="layui-btn" lay-submit lay-filter="save">保存</button>
								<button class="layui-btn" lay-submit lay-filter="save" data-type="saveAndAdd">保存并新增</button>
								<a href="{php echo webUrl('',['do'=>'client/user_list','op'=>'users_label'])}"
									class="layui-btn layui-btn-primary">取消</a>
								<input type="hidden" name="token" value="{$_W['token']}" />
							</div>
						</div>
					</div>
				</form>

				<script>
					layui.use('form', function(){
						var form = layui.form;

						form.on('submit(save)', function(data){
							let url = "{php echo webUrl('', ['do'=>'client/user_list', 'op'=>'users_label_post'])}";
							var $obj = $(this);

							if (!$obj.hasClass('lock')) {
								$obj.addClass('lock'); // 不能再点击

								$.ajax({
									type: "POST",
									url: url,
									dataType: 'json',
									data: data.field,
									success: function (rs) {

										if (rs && rs.code.toString() === '0') {
											layer.msg('保存成功！' , {
												time: 500
											}, function () {
												window.location.href = "{php echo webUrl('', ['do'=>'client/user_list','op'=>'users_label'])}";
											});
										} else {
											layer.msg(rs.msg, {
												offset: '20%',
											});
										}
										$obj.removeClass('lock');
									},
									error: function () {
										layer.msg('保存过程发生错误，请与管理员联系', {
											offset: '20%',
										});
										$obj.removeClass('lock');
									}
								});
							}

							return false;
						});
					});
				</script>
			</div>


		{/if}
		</div>
	</div>

	{template 'public/copyright'}
</div>

	{if $operation == 'display'}
		<div id="qrcode" class="box-code"><img src=""></div>
	{/if}


{template 'public/footer'}
</body>
</html>
