{php include wl_template('common/header');}
<ul class="nav nav-tabs">
	<li class="active"><a href="#">公告</a></li>
</ul>
<div class="app-content">
	<div class="app-filter">
		<div class="filter-action">
			<a class="btn btn-primary" href="{php echo web_url('dashboard/notice/edit')}">添加公告</a>
		</div>
	</div>
	<div class="app-table-list">
		<div class="table-responsive">
			<table class="table table-hover">
				<thead>
					<tr>
						<th class="text-center">id</th>
						<th class="text-center">标题</th>
						<th class="text-center">状态</th>
						<th class="text-center">添加时间</th>
						<th class="text-center">操作</th>
					</tr>
				</thead>
				<tbody>
					{loop $notice $adv}
						<tr class="text-center">
							<td>{$adv['id']}</td>
							<td>{$adv['title']}</td>
							<td>{if $adv['enabled'] == 0}<span class="label label-default">隐藏</span>{/if}
								{if $adv['enabled'] == 1}<span class="label label-success">显示</span>{/if}</td>
							<td>{php echo date('Y-m-d H:i:s',$adv['createtime'])}</td>
							<td>
								<a href="{php echo web_url('dashboard/notice/edit',array('id'=>$adv['id']))}" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="top" title="修改"><i class="fa fa-edit"></i></a>
								<a href="{php echo web_url('dashboard/notice/delete',array('id'=>$adv['id']))}" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="top" title="删除"><i class="fa fa-times"></i></a>
							</td>
						</tr>
					{/loop}
				</tbody>
			</table>
		</div>
		<div class="app-table-foot clearfix">
			<div class="pull-left">

			</div>
			<div class="pull-right">
				{$pager}
			</div>
		</div>
	</div>
</div>
{php include wl_template('common/footer');}