{template 'public/header'}
<style>
    .item1{
        padding:10px;
    }
    .item1>div{
        background-color: #fff;
        padding:10px;
    }
    .item1 img{
        float: left;
        width: 60px;
    }
    .item1 p{
        text-align: center;
    }
    .item1 .num{
        font-size: 30px;
        color: #5cc2f7;
    }
    .item1 .text{
        /*font-size: 30px;*/
        color: #888;
    }
</style>
<div class="layui-row">
    <div class="layui-col-md3 layui-col-sm6 item1">
        <div>
            <img src="{$_W['siteroot']}/addons/yzhyk_sun/static/images/goods_sale.png">
            <div>
                <p class="num">{$sale_goods_count}</p>
                <p class="text">在售商品数</p>
            </div>
            <div style="clear: both;"></div>
        </div>
    </div>
    <div class="layui-col-md3 layui-col-sm6 item1">
        <div>
            <img src="{$_W['siteroot']}/addons/yzhyk_sun/static/images/goods_hot.png">
            <div>
                <p class="num">{$hot_goods_count}</p>
                <p class="text">推荐商品数</p>
            </div>
            <div style="clear: both;"></div>
        </div>
    </div>
    <div class="layui-col-md3 layui-col-sm6 item1">
        <div>
            <img src="{$_W['siteroot']}/addons/yzhyk_sun/static/images/store.png">
            <div>
                <p class="num">{$store_count}</p>
                <p class="text">门店数量</p>
            </div>
            <div style="clear: both;"></div>
        </div>
    </div>
    <div class="layui-col-md3 layui-col-sm6 item1">
        <div>
            <img src="{$_W['siteroot']}/addons/yzhyk_sun/static/images/user.png">
            <div>
                <p class="num">{$user_count}</p>
                <p class="text">访客数量</p>
            </div>
            <div style="clear: both;"></div>
        </div>
    </div>
    <div class="layui-col-md4 layui-col-sm6 item1">
        <div>
            <img src="{$_W['siteroot']}/addons/yzhyk_sun/static/images/money_day.png">
            <div>
                <p class="num">{$day_sum}</p>
                <p class="text">今日销售额</p>
            </div>
            <div style="clear: both;"></div>
        </div>
    </div>
    <div class="layui-col-md4 layui-col-sm6 item1">
        <div>
            <img src="{$_W['siteroot']}/addons/yzhyk_sun/static/images/money_month.png">
            <div>
                <p class="num">{$month_sum}</p>
                <p class="text">本月销售额</p>
            </div>
            <div style="clear: both;"></div>
        </div>
    </div>
    <div class="layui-col-md4 layui-col-sm6 item1">
        <div>
            <img src="{$_W['siteroot']}/addons/yzhyk_sun/static/images/money_year.png">
            <div>
                <p class="num">{$year_sum}</p>
                <p class="text">本年销售额</p>
            </div>
            <div style="clear: both;"></div>
        </div>
    </div>
	<div>&#25042;&#20154;&#28304;&#30721;&#119;&#119;&#119;&#46;&#108;&#97;&#110;&#114;&#101;&#110;&#122;&#104;&#105;&#106;&#105;&#97;&#46;&#99;&#111;&#109;&#32;&#20840;&#31449;&#36164;&#28304;&#50;&#48;&#22359;&#20219;&#24847;&#19979;&#36733;</div>
</div>
<script type="text/javascript">
    if(location.href.indexOf("#reloaded")==-1){

            location.href=location.href+"#reloaded";
            location.reload();
        }

</script>
{template 'public/footer'}