<!DOCTYPE html>
<html lang="en">
<head>
    {template 'common/listhead'}
    <link href="../addons/{$_GPC['m']}/them/css/yun.css?v=0.02" rel="stylesheet">
    <link href="https://cdn.bootcss.com/Swiper/4.4.2/css/swiper.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/Swiper/4.4.2/js/swiper.min.js"></script>
    <!--微擎 -->
    <!--这个放在最后一切平白安全-->
    <script type="text/javascript" src="./resource/js/require.js?v=20170915"></script>
</head>
<body class="nav-md">
<div class="contai ner body">
    <div class="main_container"  style="overflow-x: hidden;min-height: 100vh;background-color: white">
        <div class="marketTop flex-display flex-alignC">
            <div class="admin flex-display flex-alignC">
                <img src="https://xwy.1q2d.com/images/141/2018/11/k828HwL9w474wAD12K94h4WwHwwWp6.jpg" class="simg"/>
                <span>{$username['username']},您好！</span>
                <div class="marketTopR">
                    <!--<p class="loginOut"><i class="fa fa-power-off" aria-hidden="true"></i><span>退出登录</span></p>-->
                    <a href="{php echo $this->createWebUrl('webconfig', array('op'=>'company'));}"><p><i class="fa fa-cog" aria-hidden="true"></i><span>完善信息</span></p></a>
                </div>
            </div>
            <a class="item flex-display flex-alignC" href="{php echo $this->createWebUrl($do, array('op'=>'user_service'));}">
                <i class="fa fa-star-o" aria-hidden="true"></i>
                <span>我收藏的产品</span>
            </a>
            <a class="item flex-display flex-alignC" href="{php echo $this->createWebUrl($do, array('op'=>'user_company'));}">
                <i class="fa fa-star-o" aria-hidden="true"></i>
                <span>我收藏的公司</span>
            </a>
            <a class="item flex-display flex-alignC" href="{php echo $this->createWebUrl($do, array('op'=>'index'));}">
                <i class="fa fa-star-o" aria-hidden="true"></i>
                <span>产品</span>
            </a>
            <div class="flex-flex1"></div>
            <a class="marketBack flex-display flex-alignC" href="{php echo $this->createWebUrl($do, array('op'=>'company'));}">
                <span>返回首页</span>
                <i class="fa fa-bars"></i>
            </a>
        </div>
        <div class="marketSe flex-display flex-alignC">
            <h1>云市场</h1>
            <div class="marketSeb flex-flex1">
                <a href="{php echo $this->createWebUrl($do, array('op'=>'company'));}">公司</a> | <a href="{php echo $this->createWebUrl($do, array('op'=>'index'));}">产品</a>
                <form action="" method="post">
                    <div class="marketSec flex-display flex-alignC">
                        <input name="search[name]" class="flex-flex1 form-control" value="{$search['name']}"/>
                        <button type="submit" class="marketSeBtn btn btn-primary">搜索</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="company">
            <h1>{$xc['company']['name']}</h1>
            <div class="companyNav">
                <a href="{php echo $this->createWebUrl($do, array('op'=>'company_info','id'=>$xc['company']['id']));}">公司介绍</a>
                <a class="curr" href="{php echo $this->createWebUrl($do, array('op'=>'company_service','id'=>$xc['company']['id']));}">公司产品</a>
                <a href="{php echo $this->createWebUrl($do, array('op'=>'company_class','id'=>$xc['company']['id']));}">产品分类</a>
            </div>
            <div class="companyDetail">
                <div class="detailTop flex-display">
                    <div class="detailL">
                        <h2 class="title">{$xc['name']}</h2>
                        <div class="swiper-container gallery-top simg">
                            <div class="swiper-wrapper">
                                {loop $xc['bimg'] $index $item}
                                <div class="swiper-slide" style="background-image:url({$item})"></div>
                                {/loop}
                            </div>
                            <!-- Add Arrows -->
                            <div class="swiper-button-next swiper-button-white"></div>
                            <div class="swiper-button-prev swiper-button-white"></div>
                        </div>
                        <div class="swiper-container gallery-thumbs bimg">
                            <div class="swiper-wrapper">
                                {loop $xc['bimg'] $index $item}
                                <div class="swiper-slide" style="background-image:url({$item})"></div>
                                {/loop}
                            </div>
                        </div>
                        {if $xc['user_mark']==1}
                        <div class="sp1 curr" data-id="{$xc['id']}">
                            <a class="keep" href="javascript:;">
                                <i class="fa fa-star-o keep_no"></i><span class="keep_no">收藏产品（<span class="keep_num">{$xc['mark']}</span>人气）</span><i class="fa fa-star keep_on"></i><span class="keep_on">已收藏（<span class="keep_num">{$xc['mark']}</span>人气）</span>
                            </a>
                        </div>
                        {else}
                        <div class="sp1" data-id="{$xc['id']}">
                            <a class="keep" href="javascript:;">
                                <i class="fa fa-star-o keep_no"></i><span class="keep_no">收藏产品（<span class="keep_num">{$xc['mark']}</span>人气）</span><i class="fa fa-star keep_on"></i><span class="keep_on">已收藏（<span class="keep_num">{$xc['mark']}</span>人气）</span>
                            </a>
                        </div>
                        {/if}
                    </div>
                    <div class="detailR flex-flex1">
                        <div class="detailRoll">
                            <p>分类：<span class="sp1">{$xc['cid_name']}</span></p>
                            <p>价格：<span class="sp2">￥{$xc['price']}</span></p>
                            <p>批发价格：<span class="sp2">￥{$xc['wholesale']}</span></p>
                            <div style="overflow: hidden;"><p style="float: left;">规格：</p>
                                {loop $xc['format'] $index $item}
                                <p class="sp3">{$item['name']}(￥{$item['price']})</p>
                                {/loop}
                            </div>
                        </div>
                        <p class="btn" data-id="{$xc['id']}">一键铺货</p>
                    </div>
                    <div class="detailC">
                        <div class="title">
                            <p class="line"></p>
                            <span class="title2">畅销产品</span>
                        </div>
                        <div class="swiper-container beat_well">
                            <div class="swiper-wrapper">
                                {loop $xc['tui'] $index $item}
                                <div class="swiper-slide">
                                    {loop $item $index2 $item2}
                                    <div class="item">
                                        <a href="{php echo $this->createWebUrl($do, array('op'=>'detail','id'=>$item2['id']));}"><img src="{$item2['simg']}" class="simg"/></a>
                                        <p style="margin: 0;">￥{$item2['price']}</p>
                                    </div>
                                    {/loop}
                                </div>
                                {/loop}
                            </div>
                            <!-- Add Pagination -->
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                </div>
                <div class="detailContent">
                    <div class="title">
                        <p class="line"></p>
                        <span class="title2">图文详情</span>
                    </div>
                    <div class="price"></div>
                    {$xc['content']}
                </div>
            </div>
        </div>
    </div>
</div>
{template 'common/listfoot'}
<script>
    var username="{$username}";
    if(username==""){
        swal({
            title:'错误',
            text:'请先登录',
            type:'error',
            timer:1000
        });
        $("#iframecontents",window.parent.document).attr("src","{php echo $this->createWebUrl('login');}");
    }
    var galleryThumbs = new Swiper('.gallery-thumbs', {
        spaceBetween: 10,
        slidesPerView: 4,
        loop: true,
        freeMode: true,
        loopedSlides: 5, //looped slides should be the same
        watchSlidesVisibility: true,
        watchSlidesProgress: true,
        autoplay:true
    });
    var galleryTop = new Swiper('.gallery-top', {
        spaceBetween: 10,
        loop:true,
        loopedSlides: 5, //looped slides should be the same
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        thumbs: {
            swiper: galleryThumbs,
        },
        autoplay:true
    });
    var swiper = new Swiper('.beat_well', {
        pagination: {
            el: '.swiper-pagination',
            clickable: true
        },
        autoplay:true
    });
    $(function(){
        /**
         * 退出登录
         */
        $(".loginOut").click(function(){
            $.ajax({
                type:'post',
                url:"{php echo $this->createWebUrl('login', array('op'=>'loginout'));}",
                dataType: "json",
                success: function (msg) {
                    swal({
                        title:'提示',
                        text:msg.message,
                        type:'success',
                        timer:1000
                    });
                    $("#iframecontents",window.parent.document).attr("src","{php echo $this->createWebUrl('login');}");
                }
            });
        });
        /**
         * 产品收藏
         */
        $("body").on('click','.companyDetail .detailL .keep',function(){
            var that=this;
            var id=$(this).parent().attr("data-id");
            var num=$(this).find(".keep_num").eq(0).text();
            var status;
            if($(this).parent().hasClass("curr")){
                status=-1;
            }else{
                status=1;
            }
            $.ajax({
                type:'post',
                url:"{php echo $this->createWebUrl($do, array('op'=>'service_mark'));}",
                dataType: "json",
                data:{id:id,status:status},
                success: function (res) {
                    if (parseInt(res["status"]) === 1) {
                        xc_edit_message({
                            title: "提示",
                            text: res.message,
                            type: "success",
                            timer: 1500
                        });
                        num=parseInt(num)+status;
                        $(that).find(".keep_num").html(num);
                        $(that).parent().toggleClass("curr");
                    } else {
                        xc_edit_message({
                            title: "错误",
                            text: res.message,
                            type: "error",
                            timer: 2000
                        });
                    }
                }
            });
        });
        /**
         * 一键铺货
         */
        $(".companyDetail .detailR .btn").click(function(){
            var ids=[$(this).attr("data-id")];
            $.ajax({
                type:'post',
                url:"{php echo $this->createWebUrl($do, array('op'=>'service_click'));}",
                dataType: "json",
                data:{ids:ids},
                success: function (res) {
                    if (parseInt(res["status"]) === 1) {
                        xc_edit_message({
                            title: "提示",
                            text: res.message,
                            type: "success",
                            timer: 1500
                        });
                    } else {
                        xc_edit_message({
                            title: "错误",
                            text: res.message,
                            type: "error",
                            timer: 2000
                        });
                    }
                }
            });
        });
    })
</script>
</body>
</html>