<div class="tab-pane" id="tab_sys">
    {if $config['is_fengniao']==1}
    <div class="panel panel-default">
        <div class="panel-heading">
            蜂鸟配送
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label class="col-xs-12 col-sm-3 col-md-2 control-label">接口配置:</label>
                <div class="col-sm-9">
                    <label for="fengniao_mode1" class="radio-inline"><input type="radio" name="fengniao_mode" value="1" id="fengniao_mode1"  {if $setting['fengniao_mode'] == 1}checked="true"{/if} /> 正式启用</label>
                    <label for="fengniao_mode2" class="radio-inline"><input type="radio" name="fengniao_mode" value="2" id="fengniao_mode2" {if $setting['fengniao_mode'] == 2}checked="true"{/if} /> 测试联调</label>
                    <span class="help-block"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 col-sm-3 col-md-2 control-label">App ID:</label>
                <div class="col-sm-9">
                    <input type="text" name="fengniao_appid" value="{$setting['fengniao_appid']}" class="form-control"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 col-sm-3 col-md-2 control-label">Secret Key:</label>
                <div class="col-sm-9">
                    <input type="text" name="fengniao_key" value="{$setting['fengniao_key']}" class="form-control"/>
                </div>
            </div>
        </div>
    </div>
    {/if}
    <div class="panel panel-default">
        <div class="panel-heading">
            芸众商城
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label class="col-xs-12 col-sm-3 col-md-2 control-label">数据对接</label>
                <div class="col-sm-9">
                    <label for="is_yunzhong1" class="radio-inline"><input type="radio" name="is_yunzhong" value="0" id="is_yunzhong1"  {if empty($setting) || $setting['is_yunzhong'] == 0}checked="true"{/if} /> 关闭</label>
                    <label for="is_yunzhong2" class="radio-inline"><input type="radio" name="is_yunzhong" value="1" id="is_yunzhong2" {if $setting['is_yunzhong'] == 1}checked="true"{/if} /> 开启</label>
                    <span class="help-block"></span>
                </div>
            </div>
        </div>
    </div>
</div>