    body {
    min-height: 100%;
    position: relative;
} 
.layout {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #000;
	opacity: 0.3;
	z-index: 9999;
	display: none;
}
.dialog {
    position: absolute;
    top: 92px;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 9999;
    display: none;
}
.dialog_header {
    padding: 10px;
    overflow: hidden;
    border-bottom: 1px #c3c3c3 solid;
    height: auto;
}
.dialog_header span{
	display: block;
	border-left: 3px red solid;
	height: 20px;
	line-height: 20px;
	padding:0 10px;
	background: url() no-repeat right center;
}

.dialog_header p {
   height: 20px;
   line-height: 20px;
   	padding:0 10px;
   	border-bottom: 1px #c3c3c3 solid;
   	margin-bottom: 0px;

}
.dialog_content {
	overflow: hidden;
}
.dialog_content p {
	border-bottom: 1px solid #c3c3c3;
	overflow: hidden;
}
.dialog_content p label{
	display: block;
		height: 30px;
	line-height: 30px;
	padding-left: 22px;

}
.dialog_content p:last-child{
	border-bottom: none;
	;
}