.login-main-area {
	position: relative;
	height: 630px;
}
.bg-back {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 10;
	width: 100%;
	height: 100%;
}
.login-inner {
	position: relative;
	z-index: 20;
}
.login-main {
	position: absolute;
	right: 40px;
	top: 100px;
	z-index: 50;
	padding: 36px 40px;
	background-color: #fff;
	-webkit-box-shadow: 0 1px 6px #888;
	-moz-box-shadow: 0 1px 6px #888;
	-ms-box-shadow: 0 1px 6px #888;
	-o-box-shadow: 0 1px 6px #888;
	box-shadow: 0 1px 6px #888;
}
.login-title {
	font-size: 22px;
	color: #565656;
	margin-bottom: 25px;
}
.login-form-item {
	width: 300px;
	height: 40px;
	line-height: 40px;
	border: 1px solid #ddd;
	margin-top: 16px;
	padding-left: 41px;
}
.form-item-bg {
	background-image: url(../images/login_iconlist.png);
	background-repeat: no-repeat;
}
.form-item-bg-user {
	position: relative;
	z-index: 50;
	background-position: -39px -10px;
}
.form-item-bg-user.input-outer--focus {
	background-position: -39px -315px;
}
.form-item-bg-lock {
	background-position: -39px -66px;
}
.form-item-bg-lock.input-outer--focus {
	background-position: -39px -363px;
}
.form-item-bg-captcha {
	background-position: -39px -120px;
}
.form-item-bg-captcha.input-outer--focus {
	background-position: -39px -416px;
}
.input-outer--focus {
	border: 1px solid #009FD9;
}
.login-form-item input {
	display: block;
	width: 100%;
	height: 38px;
	line-height: 38px;
	border: none;
	outline: none;
	font-family: "Microsoft Yahei", Tahoma, Arial;
	background:#ffffff;
}
/* 控制 邮箱提示列表 的样式 */
.email-complete-list {
	position: absolute;
	left: -1px;
	right: 0;
	top: 40px;
	z-index: 10;
	line-height: normal;
}
.email-complete-list .ui-autocomplete {
	left: 0 !important;
	right: 0 !important;
	padding-top: 1px;
	border-top-color: #009fd9;
}
.email-complete-list .ui-autocomplete .ui-menu-item {
	padding-left: 41px;
	overflow: hidden;
}

.captcha-deck {
	display: none;
	margin-top: 16px;
}
.captcha-item {
	position: relative;
	z-index: 30;
	float: left;
	margin-top: 0;
	width: 172px;
}
.captcha-item input {
	width: 80%;
}
.captcha-box {
	position: relative;
	z-index: 20;
}
.show-captcha {
	margin: 4px 0 0 16px;
	cursor: pointer;
}
.refresh-captcha {
	position: absolute;
	right: 0;
	top: 8px;
	width: 24px;
	height: 22px;
	background: url(../images/login_iconlist.png) no-repeat center -267px;
	cursor: pointer;
}
.login-options {
	margin-top: 18px;
	padding-left: 14px;
	line-height: 14px;
}
.idsave-check {
	position: relative;
	z-index: 10;
	height: 14px;
	line-height: 14px;
	font-size: 14px;
	color: #555;
	padding-left: 20px;
	cursor: pointer;
}
.login-options a {
	float: right;
	color: #009FD9;
	font-size: 14px;
	text-decoration: none;
}
.login-options a:hover {
	text-decoration: underline;
}
/*IE8下 checkbox 隐藏时，label的点击和js都无法改变 checked状态，所以使用定位达到“隐藏”的目的（被checkbox-icon图标盖住）*/
.idsave-check input {
	position: absolute;
	z-index: -10;
	left: 0;
	top: 3px;
	width: 3px;
	height: 3px;
}
.checkbox-icon {
	position: absolute;
	left: 0;
	top: -0.8px;
	z-index: 10;
	width: 16px;
	height: 16px;
	background: #fff url(../images/login_iconlist.png) no-repeat center -225px;
}
.checkbox-icon-checked {
	background-position: center -182px;
}
.login-submit {
	width: 300px;
	height: 40px;
	line-height: 40px;
	border-radius: 3px;
	font-size: 14px;
	background-color: #009FD9;
	color: #fff;
	border: none;
	outline: none;
	cursor: pointer;
	margin-top: 30px;
}
.login-submit:hover {
	background-color: #0084b1;
}
.go-reg {
	font-size: 14px;
	color: #555;
	margin-top: 20px;
}
.go-reg a {
	color: #009FD9;
	text-decoration: none;
	margin-left: 3px;
}
.go-reg a:hover {
	text-decoration: underline;
}
/*大背景*/
.bg-back-banner {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.bg-back-default {
	display: block;
}
.bg-back-1 {
	background: url(../images/login_back_1.png) no-repeat center center #f3a932;
}
//*.bg-back-2 {
	background: url(../images/login_back_2.png) no-repeat center center #68be27;
}
.bg-back-3 {
	background: url(../images/login_back_3.png) no-repeat center center #00c4c4;
}*//

/*图案*/
.pattern-area {
	position: relative;
	float: left;
	width: 580px;
	height: 587px;
}
.login-pattern {
	position: absolute;
	top: 0;
	left: 0;
	width: 580px;
	height: 587px;
}
.pattern-1 {
	background: url(../images/login_pattern_1.png) no-repeat center;
}
}
/*切换按钮*/
.bg-change {
	text-align: center;
}
.bg-change ul {
	display: inline-block;
}
.bg-change li {
	float: left;
	width: 32px;
	height: 6px;
	background-color: #fff;
	opacity: 0.35;
	filter:Alpha(opacity=35);
	margin-right: 10px;
}
li.bg-change--current {
	opacity: 1;
	filter:Alpha(opacity=100);
}