.register-step {
	padding-top: 60px;
	margin-bottom: 36px;
}
.register-step li {
	float: left;
	width: 100%;
	text-align: center;
	border-bottom: 3px solid #ccc;
	color: #ccc;
	font-size: 16px;
	padding-bottom: 10px;
}
li.step-now {
	border-bottom: 3px solid #009fd9;
	color: #009fd9;
}
/*表单部分*/
.register-box {
	border: 1px solid #e6e6e6;
	padding: 40px 0 70px 7%;
	margin-bottom: 60px;
}
.reg-left {
	width: 65%;
	float: left;
}
.reg-left table {
	width: 100%
}
.reg-left input,
.reg-left select {
	font-family: "microsoft yahei";
	width: 260px;
	height: 32px;
	line-height: 32px;
	padding-left: 10px;
	outline-color: #009FD9;
	border: 1px solid #ccc;
	color: #545454;
	vertical-align: middle;
}
.reg-left th {
	font-weight: normal;
	text-align: right;
	vertical-align: top;
	padding: 15px 15px 0 0;
	font-size: 14px;
	width: 100px;
	color: #545454;
}
.reg-left th b {
	color: #f00;
	font-size: 12px;
	font-weight: normal;
	padding-right: 5px
}
.reg-left td {
	/*line-height: 200%;*/
	vertical-align: top;
	padding: 10px 0
}
.reg-left td img {
	vertical-align: top
}
.reg-left .reg-left .agreement {
	padding-top: 10px
}
.reg-left .reg-left .agreement a {
	color: #0080c9
}
#mobilecode,
input.input-captcha,
input.send-captcha {
	width: 49%;
}
input.send-captcha {
	float: right;
	outline: none;
	padding: 0;
	background-color: #14b3ed;
	color: #fff;
	border: 1px solid #14b3ed;
	cursor: pointer;
}
input.send-captcha:hover {
	background-color: #1299cd;
}
input.send-captcha-disabled {
	background-color: #cecece;
	border: 1px solid #cecece;
	color: #fff;
}
input.send-captcha-disabled:hover {
	background-color: #cecece;
	border: 1px solid #cecece;
	color: #fff;
}
input.captcha-sending {
	border: 1px solid #ccc;
	background-color: #f9f9f9;
	color: #ccc;
}
/*密码验证强度*/
td.pwd-strength-box {
	position: relative;
	padding-top: 0;
	line-height: 16px;
}
.pwd-strength {
	float: left;
	width: 90%;
}
.pwd-strength li {
	float: left;
	width: 32%;
	height: 16px;
	line-height: 16px;
	font-size: 12px;
	color: #fff;
	background-color: #ccc;
	text-align: center;
}
.pwd-strength li + li {
	margin-left: 2%;
}
li.levelbar-weak {
	background-color: #f00;
}
li.levelbar-medium {
	background-color: #ffa033;
}
li.levelbar-strong {
	background-color: #00c918;
}
.show-pwd-level {
	position: absolute;
	right: 0;
	top: 0;
	height: 16px;
	line-height: 16px;
	font-size: 13px;
}
.pwd-null {
	color: #ccc;
}
.pwd-short {
	color: #ccc;
	right: -35px;
}
.pwd-weak {
	color: #f00;
}
.pwd-medium {
	color: #ffa033;
}
.pwd-strong {
	color: #00c918;
}
/*勾选框*/
input.agreement-checkbox {
	position: absolute;
	z-index: -10;
	left: 0;
	top: 0;
	width: 10px;
	height: 10px;
}
td.agreement-box label {
	position: relative;
	z-index: 10;
	color: #545454;
	font-size: 12px;
	padding-left: 20px;
	cursor: pointer;
}
.checkbox-icon {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 10;
	width: 16px;
	height: 16px;
	background: url(../images/agreement_unchecked.png);
}
.checkbox-icon-checked {
	background: url(../images/agreement_checked.png);
}
td.agreement-box a {
	color: #009FD9;
	text-decoration: none;
}
input.reg-submit-gray {
	background-color: #cecece;
	color: #fff;
	border: none;
	border-radius: 3px;
	outline: none;
	cursor: pointer;
	padding: 0;
}
input.reg-submit {
	 background-color: #14b3ed;
}
.reg-submit:hover {
	background-color: #1395c8;
}
td.validate-tips {
	padding-left: 20px;
}
.act-slogan {
	font-size: 14px;
	color: #ff8800;
	background: url(../images/register_gift.png) no-repeat left center;
	padding-left: 30px;
}
/*覆盖验证插件样式*/
.tip span {
	font-size: 12px;
	line-height: 22px;
}
input.input_focus {
	border: 1px solid #009FD9!important;
}
.onCorrect div {
	margin-top: 9px!important;
}
.onLoad div {
	width: 287px;
	color: #999;
}
/*右侧直接登录*/
.reg-right {
	float: right;
	width: 30%;
	border-left: 1px solid #eee;
	padding: 20px 6%;
}
.reg-tologin {
	width: 185px;
	font-size: 14px;
	color: #666;
	line-height: 24px;
	padding-bottom: 25px;
	border-bottom: 1px dotted #cfcfcf;
	text-align: center;
}
.reg-tologin a {
	display: inline-block;
	width: 72px;
	height: 24px;
	color: #fff;
	text-decoration: none;
	background-color: #ff8800;
	text-align: center;
	border-radius: 3px;
}
.reg-tologin a:hover {
	background-color: #e27500;
}
.reg-help {
	color: #666;
	font-size: 14px;
	padding: 30px 0 0;
}
.reg-help-title {
	padding-bottom: 12px;
}
.reg-help a {
	line-height: 25px;
	font-size: 12px;
	color: #009FD9;
	text-decoration: none;
}
.reg-help a:hover {
	text-decoration: underline;
}
.reg-award {
	width: 185px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px dotted #cfcfcf;
}
.reg-award ul {
	margin-top: 14px;
}
.reg-award li {
	font-size: 12px;
	color: #666;
	line-height: 2em;
}
.award-text {
	color: #ff8800;
}
/*验证码弹窗*/
.captcha-box table {
	width: 100%;
	font-family: "microsoft yahei";
}
.captcha-box input,
.captcha-box select {
	font-family: "microsoft yahei";
	width: 260px;
	height: 32px;
	line-height: 32px;
	padding-left: 10px;
	outline-color: #009FD9;
	border: 1px solid #ccc;
	color: #545454;
}
.captcha-box th {
	font-weight: normal;
	text-align: right;
	font-size: 14px;
	color: #545454;
}
.captcha-box th b {
	color: #f00;
	font-size: 12px;
	font-weight: normal;
	padding-right: 5px
}
.captcha-box td {
	line-height: 200%;
	vertical-align: top;
}
.captcha-box img {
	vertical-align:middle;
	cursor:pointer
}
/*注册成功页面*/
.reg-final {
	padding-left: 0;
}
.reg-inner {
	width: 240px;
	margin: 0 auto;
	white-space: nowrap;
}
.reg-success {
	position: relative;
	line-height: 32px;
	color: #0fc066;
	font-size: 20px;
}
.reg-success span {
	position: absolute;
	left: -40px;
	top: 0;
	width: 32px;
	height: 32px;
	background: url(../images/reg_success.png) no-repeat center;

}
.user-info {
	padding: 20px 0;
}
.user-info table {
	color: #555;
	font-size: 16px;
}
.user-info tr {
	line-height: 2em;
}
.user-info th {
	text-align: right;
	font-weight: normal;
}
.user-info td {
	text-align: left;
}

.go-verify {
	display: inline-block;
	border-top: 1px solid #eee;
	padding-top: 20px;
}
.go-verify,
.go-verify a {
	color: #ff8800;
}
.go-buttons {
	padding-top: 40px;
	text-align: left;
}
.go-buttons a {
	display: inline-block;
	padding: 5px 20px;
	color: #fff;
	text-decoration: none;
	border-radius: 2px;
}
.go-serverbuy {
	background-color: #ff8800;
}
.go-serverbuy:hover {
	background-color: #dd7300;
}
.go-usercenter {
	background-color: #009FD9;
	margin-left: 15px;
}
.go-usercenter:hover {
	background-color: #007aaa;
	margin-left: 15px;
}
.go-serverbuy {

}
.go-around {
	text-align: center;
	font-size: 14px;
	color: #999;
	padding-top: 10px;
	margin-top: 50px;
}
.go-around > span {
	border-top: 1px solid #eee;
	padding-top: 10px;
}
.go-around a {
	color: #009fd9;
	text-decoration: none;
}
.go-around a:hover {
	text-decoration: underline;
}

@media screen and (max-width: 1070px){
	.register-box {
		padding: 40px 0 70px 1%;
	}
}