/***************************************页面全局样式*************************************/

body{font-size:0.26rem ;font-family: "microsoft yahei"; background:#f6f6f6; max-width:6.4rem; margin-left:auto; margin-right:auto; padding-bottom:1.35rem;}
a{ color:#666;}
a:active{ color:#F90;}
html{line-height:initial;}
.overflow{overflow: hidden;} 
.fl{float: left;}
.fr{float: right;}
.tl{text-align: left;}
.tr{text-align: right;}
.tc{text-align: center;}
.undis{display: none;}

.f26{font-size:0.26rem;}
.f28{font-size:0.28rem;}
.f32{font-size:0.32rem ;}
.f36{font-size: 0.36rem;}
.f40{font-size: 0.4rem;}

.text-indent{text-indent: .6rem;}
.mt5{margin-top:.5rem;}
.white{color:#fff;}
.grey{color:#999}
.red{color:#f00;}
.green{color:#339933 !important;}
.grey_2{color:#666;} 
.grey_3{color:#333;}
.grey_4{color:#000}
.grey_5{color:#898989 !important}
.orange{color:#ff5400;}
.k_line{height:0.15rem;background-color: #eff2f7;} 
.wrap_01{padding:0 .2rem;}
.wrap_02{padding:.2rem;}
.ct_beover{height:2.5rem;line-height: 1.12rem;background-color: #eff2f7;color: #333 !important;font-size:0.26rem;;text-align: center;}
.border_bottom{border-bottom: 1px solid #afafaf;}
.pb0{padding-bottom: 0 !important;}
.lh80{line-height: .8rem;}
.lh5{line-height: .5rem;}
.p_r{ position:relative;}
.img{    max-width: 100%;}
.bgfff{ background:#FFF;}
.mt55{ margin-top:0.55rem;}



 



/*  首页   */
.header{ background:#221815;}
.header h2,.fanhui{ font-size:0.3rem; color:#FFF; font-weight:bold; text-align:center; font-family:黑体; line-height:0.62rem;}
.fanhui_box{ padding:0 0.18rem; box-sizing:border-box; position:absolute; top:0; left:0; width:100%;}
.logo_box{ padding:0 0.2rem; height:0.74rem; border-bottom:#f2f2f2 0.02rem solid;}
.logo_img{ margin-top:16%; width:1.35rem; height:0.28rem;}
.btn_sosuo{ width:4rem; height:0.4rem; line-height:0.4rem; background:#e4e5e7 url(../images/sosuo_03.jpg) no-repeat 0.16rem center; text-indent:0.5rem; border-radius:0.15rem; margin-top:0.17rem; background-size:0.21rem 0.21rem; font-size:0.2rem; color:#a7a7a7; margin-left:0.17rem;}
.jilu{ background:url(../images/icon_1_03.png) no-repeat; width:0.29rem; height:0.29rem; background-size:contain; display:inline-block; margin-top:0.2rem;}
.nav{ height:0.48rem; padding-top:0.1rem;}
.nav ul li{ width:20%; float:left; text-align:center;}
.nav ul li a{ padding:0 0.18rem; line-height:0.4rem; color:#221815; font-size:0.24rem; display:inline-block;}
.nav ul li:hover a,.nav ul li.on a{ color:#FFF; background:#9fc732; border-radius:0.15rem;}
	
.swiper-slide{ position:relative;}
.swiper-slide p{ background:rgba(255,255,255,0.3); padding:0 0.2rem; box-sizing:border-box; position:absolute; bottom:0; width:100%; line-height:0.54rem; font-size:0.24rem; color:#FFF;}



.gonggao_box{ padding:0.08rem 0.1rem; background:#f6f6f6;}
.gonggao_box2{ padding:0.05rem 0.1rem 0.05rem 0.1rem; background:#FFF;}
.gonggao{ line-height:27px; padding:0 0.05rem; background:#9fc732; color:#FFF; border-radius:0.03rem; margin-right:0.16rem; display:inline-block; font-size:0.2rem;}
.xianshi{ font-size:0.2rem; color:#4c4c4c; line-height:30px; border-left:#ababab 1px solid; padding-left:16px;}

.dianyin{ background:url(../images/icon_1_17.png) no-repeat; background-size:contain; width:0.3rem; height:0.29rem; display:inline-block; vertical-align:middle; margin:0 0.1rem; margin-top:-0.05rem;}
.tuijian_box{ padding:0.05rem 0.1rem; background:#f6f6f6;}
.tuijian{ font-size:0.24rem; line-height:0.46rem; color:#9fc732; border-left:#9fc732 0.09rem solid;}
.more_icon{ background:url(../images/icon_1_20.png) no-repeat; background-size:contain; width:0.18rem; height:0.18rem; display:inline-block; vertical-align:middle; margin:0 0.18rem 0 0.07rem; margin-top:-0.05rem;}
.more{ font-size:0.16rem; font-weight:bold; color:#666; line-height:0.46rem;}

.dianying_box{ padding:0;}
.dianying_box ul li{ margin:0.08rem 0.14rem; float:left;width:1.78rem;  position:relative;}
.dianying_box ul li a{ display:block;}
.dianying_box ul li img{ width:100%; height:2.21rem;}
.biaoti{ font-size:0.18rem; color:#4c4c4c;display:block;}
.fenshu{ background:url(../images/icon_1_25.png) no-repeat; width:0.49rem; height:0.49rem; background-size:contain; display:inline-block; position:absolute; right:0; top:0; text-indent:0.18rem; font-size:0.18rem; color:#FFF; font-weight:bold; line-height:0.24rem;}
.leimu{ line-height:0.37rem; height:0.37rem; width:100%; background:rgba(0,0,0,0.5); position:absolute; top:1.84rem; padding:0 0.14rem; box-sizing:border-box;}
.leimu span{ line-height:0.37rem; color:#FFF; font-size:0.18rem; font-weight:bold; font-size:0.18rem; font-family:"微软雅黑";}

.footer{ background:#FFF; padding-top:0.07rem; position:fixed; width:6.4rem; bottom:0; box-shadow:#c1c1c1 0 -0.02rem 0.05rem; z-index:999;}
.footer ul li{ text-align:center; float:left; width:20%;}
.footer ul li p{ font-size:0.18rem; color:#999; font-family:"微软雅黑"; line-height:0.3rem;}
.sopian{ background:url(../images/icon_1_36.png) no-repeat; width:0.39rem; height:0.39rem; background-size:contain; display:inline-block;}
.shexiang{ background:#6f6f6f url(../images/icon_1_33.png) no-repeat center center; width:0.7rem; height:0.7rem; background-size:0.36rem 0.26rem; display: inline-block; border-radius:50%; border:#FFF 0.11rem solid; margin-top:-0.28rem; box-shadow:#c1c1c1 0 -0.02rem 0.05rem;}
.dianshi{ background:url(../images/dianshi.png) no-repeat; background-size:contain; display:inline-block; width:0.38rem; height:0.39rem;}
.faxian{ background:url(../images/icon_1_41.png) no-repeat; background-size:contain; display:inline-block; width:0.38rem; height:0.39rem;}
.wode{ background:url(../images/icon_1_43.png) no-repeat; background-size:contain; display:inline-block; width:0.39rem; height:0.39rem; } 

.heifeng_p{ font-size:0.18rem; color:#4c4c4c; line-height:0.45rem; text-align:center; margin:0.08rem 0;}


/*  y1   */
.dianshiju{ background:url(../images/icon_2_03.png) no-repeat; background-size:contain; width:0.29rem; height:0.29rem; display:inline-block; vertical-align:middle; margin:0 0.1rem; margin-top:-0.05rem;}
.zongyi{ background:url(../images/zongyi.png) no-repeat; background-size:contain; width:0.29rem; height:0.29rem; display:inline-block; vertical-align:middle; margin:0 0.1rem; margin-top:-0.05rem;}
.dongman{ background:url(../images/dongman.png) no-repeat; background-size:contain; width:0.29rem; height:0.29rem; display:inline-block; vertical-align:middle; margin:0 0.1rem; margin-top:-0.05rem;}
/*  y3   */
.guanzhu_box{ background:url(../images/bg_3_02.jpg) no-repeat; height:0.68rem; background-size:contain; padding:0.2rem  0.13rem 0 1.87rem; box-sizing:border-box;}
.jishu{ font-size:0.28rem; color:#FFF; line-height:0.28rem; display:inline-block;}
.guanzhu{ font-size:0.24rem; color:#145f99; display:inline-block; line-height:0.32rem; padding:0 0.07rem; background:#fff100; border-radius:0.05rem; margin-left:0.2rem;}
.close{ background:url(../images/icon_y3_03.jpg) no-repeat; width:0.31rem; height:0.31rem; display:inline-block; background-size:contain;}
/*  y4   */
.shaixuan{ padding:0.1rem; box-sizing:border-box;}
.leimu_zui{ width:3.75rem; height:0.36rem; border:#9fc732 0.02rem solid; border-radius:0.05rem;}
.leimu_zui a{ font-size:0.18rem; color:#9fc732; line-height:0.36rem; display:block; width:1.25rem; float:left; text-align:center;}
.leimu_zui .on,.leimu_zui a:hover{ color:#FFF; background:#9fc732;}
.shaixuan_icon{ width:25px; height:24px; display:inline-block; vertical-align:middle; margin-top:-0.07rem; margin-left:0.15rem;}
.shaixuan_2{ font-size:0.18rem; color:#5d5857; line-height:0.4rem;}
.leibiao{ width:100%; text-align:center;}
.biao_li{ border-bottom:#e7e5e4 1px solid; padding:0.08rem 0;}
.leibiao dt,.leibiao dd{ float:left; width:0.9rem;}
.leibiao dt,.leibiao dd,.leibiao dd a{ font-size:0.22rem; color:#5d5857; line-height:0.4rem; box-sizing:border-box;}
.leibiao dd a{ border-radius:0.05rem;}
.leibiao dt{ line-height:0.4rem;width: 10% }
.leibiao .leixing{ display:inline-block; border-bottom:#9fc732 0.02rem solid;}
.leibiao dd .on,.leibiao dd a:hover{ background:#9fc732; color:#FFF;padding: 0px 4px}

/* y6 */
.guanyin_box{ background:rgba(0,0,0,0.9); text-align:center; position:fixed; top:0; width:6.4rem; height:100%; padding-top:1.65rem; box-sizing:border-box; z-index:9999;}
.guanyin_no{ width:2.83rem; height:2rem;} 
.zhanshi_p{ font-size:0.24rem; color:#FFF; margin-top:0.3rem; line-height:0.24rem;}
.close_2{ background:url(../images/jilu_07.png) no-repeat; width:0.51rem; height:0.51rem; display:inline-block; background-size:contain;}
.close_3{ background:url(../images/jilu_07.png) no-repeat; width:0.51rem; height:0.51rem; display:inline-block; background-size:contain;}
.fanhui2_p{ font-size:0.18rem; color:#9fc732; line-height:0.18rem;}
.fanhui_box2{ position: absolute;bottom: 10px;left: 45%}

/* y7 */
.dianying_box2{ margin-top:0.5rem;}
.dianying_box2 ul li img{ border:#FFF 0.04rem solid;}
.dianying_box2 .leimu{ margin-left:0.04rem; top:1.88rem;}
.dianying_box2 .biaoti{ color:#FFF; text-align:left;}
.guanyin_box2{ padding-top:0.3rem;}

.index_guanzhu{}
.index_guanzhu ul li img{ border:#FFF 0.04rem solid;}
.index_guanzhu .leimu{ margin-left:0.04rem; top:1.88rem;}
.index_guanzhu .biaoti{ color:#FFF; text-align:left;}
.index_guanzhu{ padding-top:0.3rem;}

.jilu_box{ width:5.25rem; margin-left:auto; margin-right:auto; color:#FFF; text-align:left; font-size:0.24rem; line-height:0.67rem;}
.jilu_box ul li{ border-bottom:#7f7c7a 1px solid; color:#FFF; text-align:left; font-size:0.24rem; line-height:0.67rem;}
.jishu_guankan{ font-size:0.24rem; color:#FFF; line-height:0.67rem;}
.zhuandao{ background:url(../images/icon_y7_03.png) no-repeat; background-size:contain; width:0.11rem; height:0.2rem; display:inline-block; vertical-align:middle; margin-top:-0.08rem; margin-left:0.1rem;}

.fanhui2{ margin-top:0.3rem;}
/* y8 */
.touxiang_box{ background:url(../images/icon_geren_02.jpg) no-repeat; height:3.66rem; background-size:contain; padding-top:0.45rem; box-sizing:border-box; overflow:hidden;}
.touxiang{ width:1.44rem; height:1.44rem; border-radius:50%; overflow:hidden; margin-left:auto; margin-right:auto; border:#FFF 0.05rem solid; box-shadow:#c9c8c9 0 0.03rem 0.03rem;}
.touxiang img{ width:1.44rem; height:1.44rem;}
.mingcheng_y8{ font-size:0.23rem; color:#221815; line-height:0.23rem; text-align:center; margin-top:0.3rem;}
.jilu_y8 ul li{ float:left; width:33.33333333334%; text-align:center; background:url(../images/bg_y8_03.jpg) no-repeat left top;}
.jilu_y8 ul li:first-child{ background:none;}
.guankan_icon,.xufei_icon,.dingdan_icon{ background:url(../images/icon_zjongxin_07.png) no-repeat; background-size:contain; width:0.37rem; height:0.37rem; display:block; margin-left:auto; margin-right:auto;}
.xufei_icon{ background:url(../images/icon_zjongxin_09.png) no-repeat; background-size:contain;}
.dingdan_icon{ background:url(../images/icon_zjongxin_11.png) no-repeat; background-size:contain; width:0.3rem;}
.jilu_y8{ background:rgba(0,0,0,0.2); padding-top:0.11rem; margin-top:0.3rem;}
.jilu_y8 ul li span{ font-size:0.17rem; line-height:0.3rem; color:#FFF;}

.huiyuan{ font-size:0.22rem; color:#333333; line-height:0.75rem; background:url(../images/icon_geren_05.png) no-repeat 0.33rem center; background-size:0.31rem 0.29rem;}
.huiyuan p{ margin-left:0.92rem; padding-right:0.3rem; border-bottom:#eeeeee 1px solid;}
.zhuandao2{ background:url(../images/icon_geren_08.png) no-repeat; width:0.13rem; height:0.23rem; display:inline-block; background-size:contain; vertical-align:middle; margin-top:-0.1rem; margin-left:0.06rem;}
.jifen{ background:url(../images/icon_geren_12.png) no-repeat 0.33rem center; background-size:0.31rem 0.29rem;}
.huiyuan:last-child p{ border-bottom:none;}
.wode_box{ margin:0.2rem 0;}

.meiri{ background:url(../images/icon_geren_14.png) no-repeat 0.33rem center; background-size:0.31rem 0.28rem;}
.tuijian_y8{ background:url(../images/icon_geren_16.png) no-repeat 0.33rem center; background-size:0.31rem 0.3rem;}
.bangzhu{ background:url(../images/icon_geren_18.png) no-repeat 0.33rem center; background-size:0.31rem 0.3rem;}

.dropload-down{text-align: center;}
.dropload-load{text-align: center;font-size: 0.2rem;margin: 20px 0px}


/* y9 */
.shiping_y9{ height:3.48rem; width:6.4rem;}
.sanguo_box{ padding:0 0.2rem; box-sizing:border-box; padding-bottom:0.1rem;}
.sanguo_h2{ font-size:0.24rem; line-height:0.42rem; color:#4c4c4c;}
.pingfen_y9{ font-size:0.36rem; color:#9fc732; font-weight:bold; font-family:MicrosoftYaHeiLight;  margin-top:0.08rem;}
.xiangqing_box_y9 p{ font-size:0.18rem; color:#4c4c4c; line-height:0.28rem;}
.fenxiang_icon{ background:url(../images/icon_y9_03.png) no-repeat; background-size:contain; width:0.18rem; height:0.23rem; display:inline-block;}
.xiazai_icon{ background:url(../images/icon_y9_05.png) no-repeat; background-size:contain; width:0.21rem; height:0.23rem; display:inline-block; margin-left:0.35rem;}
.lianjie_box_y9{ padding-top:0.1rem;}
.jishi_box_y9{ background:#f6f6f6; padding:0.15rem 0.2rem 0.2rem 0.2rem;}
.jishu_y9 ul li{ float:left;}
.jishu_y9 ul li a{ font-size:0.18rem; color:#4c4c4c; margin-right:0.3rem; padding-bottom:0.05rem;}
.jishu_y9 ul li:hover a,.jishu_y9 ul .on a{ border-bottom:#9fc732 0.03rem solid;}
.jiao_icon{ background:url(../images/jiao_y9_03.jpg) no-repeat; width:0.26rem; height:0.16rem; display:inline-block; background-size:contain; position:absolute; top:-0.16rem; left:0.32rem;}
.jishi_box2 ul li{ float:left; margin-right:0.2rem; margin-top:0.15rem; height:0.33rem; width:1.02rem;}
.jishi_box2 ul li a{ width:1.02rem; line-height:0.33rem; height:0.33rem; text-align:center; border-radius:0.05rem; display:inline-block; background:#ffffff; border:#e1e1e1 1px solid; font-size:0.18rem; color:#4c4c4c;}
.jishi_box2 ul li:hover a,.jishi_box2 ul .on a{ background:#9fc732; border:#8aac2b 1px solid; color:#FFF;}

.jishi_box3 ul li{ float:left; margin-right:0.2rem; margin-top:0.15rem; width:45%;}
.jishi_box3 ul li a{width: 100%;  text-align:center; border-radius:0.05rem; display:inline-block; background:#ffffff; border:#e1e1e1 1px solid; font-size:0.18rem; color:#4c4c4c;}
.jishi_box3 ul li:hover a,.jishi_box3 ul .on a{ background:#9fc732; border:#8aac2b 1px solid; color:#FFF;width: 100%}

.jianjie_y9{ padding:0.2rem; border-bottom:#eeeeee 1px solid; border-top:#eeeeee 1px solid;}
.jianjie_y9_p{ font-size:0.18rem; color:#4c4c4c; line-height:0.32rem;}
.zhankai{ font-size:0.18rem; color:#9fc732;}
.zhankai_icon{ background:url(../images/zhankai_11.jpg) no-repeat; width:0.22rem; height:0.12rem; background-size:contain; display: inline-block; margin-right:0.1rem;}

.caini_xihuan{ line-height:0.3rem; text-indent:0.15rem; margin-top:0.1rem;}
.cainin_box{ padding:0.1rem 0 0.15rem 0;}
.dianying_box3{ padding-top:0.1rem;}
.dianying_box3 ul li img{ border:#FFF 0.04rem solid;}
.dianying_box3 ul li .fenshu{ top:0.04rem; right:-0.04rem;}
.dianying_box3 ul li .leimu{ left:0.04rem; top:1.88rem;}

.pinglun_box{ padding:0.13rem 0 0 0;}
.pinglun_box .caini_xihuan{ margin-top:0; border:0;}
.pinglun_h2{ margin:0 0.2rem; text-indent:0; border-bottom:#e7edf5 1px solid; padding-bottom:0.13rem;}
.f14{ font-size:0.14rem;}
.woyao_shuo{ font-size:0.16rem; color:#FFF; font-weight:bold; padding:0 0.1rem; line-height:0.35rem; background:#9fc732; border-radius:0.05rem;}
.kuai{ width:0.08rem; height:0.3rem; background:#9fc732; display:inline-block; position:absolute; left:0;}
.touxiang_pl{ border-radius:50%; width:0.35renm; height:0.35rem;}
.pinglun_box2 ul li{ padding:0.1rem 0.2rem 0.2rem 0.2rem; border-bottom:#dddddd 1px solid;}
.text_box{ width:5.4rem; margin-left:0.15rem;}
.yonghuming{ font-size:0.18rem; color:#999; line-height:0.34remn;}
.text_P{ font-size:0.24rem; color:#333; line-height:0.35rem; margin-top:0.1rem;}
.zan_icon,.liuyan_icon{ background:url(../images/icon_y9_14.png) no-repeat; width:0.17rem; height:0.15rem; background-size:contain; display:inline-block; margin:0 0.1rem;}
.liuyan_icon{ background:url(../images/icon_y9_11.png) no-repeat; background-size:contain; height:0.16rem;}

.guanyin_box2{ display:none;}


/*解决兼容*/

/*navigator*/
.weui-navigator{background:#fafafa;position:relative;padding:0;margin:0}.weui-navigator-list{width:100%;list-style:none;display:-webkit-box;margin:0 auto}
.weui-navigator-list li{list-style:none;line-height:0.4rem;font-size:0.24rem;text-align:center;-webkit-box-flex:1;display:-webkit-box;white-space:nowrap;-webkit-box-align:center;-webkit-box-pack:center}
.weui-navigator.weui-navigator-wrapper{z-index:1;width:100%;overflow:hidden;position:relative;-webkit-backface-visibility:hidden;margin-bottom: 6px}
.weui-navigator-list li a{text-decoration:none;color:#666;display:block;width:100%;-webkit-box-sizing:border-box;padding:0 15px}
.weui-navigator-list li.weui-state-hover,.weui-navigator-list li.weui-state-active a{color:#FFF; background:#9fc732; border-radius:0.15rem;}
.weui-navigator-list li.weui-state-hover,.weui-navigator-list li.weui-state-active a:after{content:'';display:block;}.weui-navigator .weui-navigator-list{display:table;table-layout:fixed;white-space:nowrap;width:auto}.weui-navigator .weui-navigator-list:after{content:'';clear:both;display:inline-block;width:0;height:0;overflow:hidden}.weui-navigator .weui-navigator-list li{display:inline-block}
/*weui-tab*/
.weui_tab_nav
{
	display: box;
	display: -webkit-box;
	display: -webkit-flex;
	display: display:flex
}
.weui_tab_nav .weui_nav_green
{
	display: block;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	flex: 1;
	width: 100%;
	height: 30px;
	padding: 0;
	font-size: 14px;
	line-height: 31px;
	text-align: center;
	border: 1px solid #04be02;
	border-width: 1px 1px 1px 0;
	color: #04be02;
	white-space: nowrap;
	background: #fdfdfd
}
.weui_tab_nav .weui_nav_green.bg_green
{
	border-color: #04be02;
	color: #fff;
	background: #04be02
}
.weui_tab_nav .weui_nav_red
{
	display: block;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	flex: 1;
	width: 100%;
	height: 30px;
	padding: 0;
	font-size: 14px;
	line-height: 31px;
	text-align: center;
	border: 1px solid #ef4f4f;
	border-width: 1px 1px 1px 0;
	color: #ef4f4f;
	white-space: nowrap;
	background: #fdfdfd
}
.weui_tab_nav .weui_nav_red.bg_red
{
	border-color: #EF4F4F;
	color: #fff;
	background: #EF4F4F
}
.weui_tab_nav .weui_navbar_item:first-child
{
	border-width: 1px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	background-clip: padding-box
}
.weui_tab_nav .weui_navbar_item:last-child
{
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	background-clip: padding-box
}


