var filter = ({
    isTooLong: (function(price) {
        if (!price || typeof price != 'object') {
            return (false)
        } else {
            var _length = 0;
            for (var i = 0; i < price.length; i++) {
                _length = _length > price[((nt_0 = (i), null == nt_0 ? undefined : 'number' === typeof nt_0 ? nt_0 : "" + nt_0))].length ? _length : price[((nt_1 = (i), null == nt_1 ? undefined : 'number' === typeof nt_1 ? nt_1 : "" + nt_1))].length
            };
            if (_length > 9) {
                return (true)
            } else {
                return (false)
            }
        }
    }),
});
module.exports = ({
    isTooLong: filter.isTooLong,
});