{template 'common/header'}
<ul class="nav nav-tabs">
    <li{if $op == 'display'} class="active"{/if}><a href="{php echo $this->createWebUrl('fenxfenl',array('op' => 'display'))}">分享分类</a></li>
    <li{if $op == 'post'} class="active"{/if}><a href="{php echo $this->createWebUrl('fenxfenl',array('op' => 'post') )}">添加分类</a></li>
</ul>
{if $op == 'display'}

<form action="" class="form-horizontal" method="post">
    <table class="table we7-table table-hover article-list vertical-middle">
        <tr>
            <td style="width:100px">
                排序
            </td>
            <td>
                分类名称
            </td>
            <!--     <td>资讯分类图标</td> -->
            <td>
                是否显示
            </td>
            <td class="text-right">
                操作
            </td>
        </tr>
        {loop $fenl $item}
        <tr>
            <td>
                {$item['fxid']}
            </td>
            <td>
                {$item['fname']}
            </td>
            <td>
                {if $item['type']==1}显示{else}不显示{/if}
            </td> 
            <td class="text-right">
                <a class="btn btn-default btn-sm" href="{php echo $this->createWeburl('fenxfenl', array('fxid' => $item['fxid'], 'op' =>'post'))}">
                    编辑
                </a>
                <a class="btn btn-default btn-sm" href="{php echo $this->createWeburl('fenxfenl', array('fxid' => $item['fxid'], 'op' => 'delete'))}" onclick="return confirm('此操作不可恢复，确认吗？'); return false;">
                    删除
                </a>
            </td>
        </tr>
        {/loop}
    </table>
</form>
{/if}
{if $op == 'post'}
<form action="" class="form-horizontal" method="post">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                添加分享分类
            </h3>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label class="control-label col-sm-2" for="">
                    分享分类名称
                </label>
                <div class="form-controls col-sm-5" style="margin-left: 75px;">
                    <input autocomplete="off" class="form-control ng-pristine ng-untouched ng-valid ng-empty" id="fname" name="fname" placeholder="" type="text" value="{$items['fname']}">
                </div>
                <div class="col-sm-1"></div>
                <div class="form-controls col-sm-4 help-block">
                   分享分类名称
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="" class="control-label col-sm-2">推荐</label>
            
            <div class="form-controls col-sm-5" style="margin-left: 13px;">
                <label style="margin-left: 65px">
                    <input type="radio" name="type" value="0" {if $items['type'] == '0' } checked='checked'{/if}/>             
                    不显示    
                </label>
                <label style="margin-left: 65px">
                    <input type="radio" name="type" value="1" {if $items['type'] == '1'} checked='checked' {/if} />
                    显示
                </label>
            </div>
            
            <div class="form-controls col-sm-4 help-block">推荐后会在首页显示</div>
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                <input name="token" type="hidden" value="{$_W['token']}"/>
                <input class="btn btn-primary col-lg-1" name="submit" style="margin-left: 45%;" type="submit" value="提交"/>
            </div>
        </div>
    </div>
</form>
{/if}
{template 'common/footer'}
